.statusofleave{
    color:green;
  }
  .statusofleave2{
    color:red;
  }

  .statusofleave3{
    color:rgb(255, 208, 0);
  }
.statusclr{
  padding-top:0.5rem;
  float:right;
}
  li{
    display: inline;
    padding-right:1rem;
    list-style: none;
  }
  .statusicon{
    padding-left:2px;
  }
  .statustd{
    text-align: center;
  }
  

  