<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">

      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-gift bg-happy-itmeo" aria-hidden="true"></i>
              </div>
              <div>Optional Holidays Request<div class="page-title-subheading"> Here you can apply for Optional holiday leave request.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="white-bg">


          <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Optional Holidays Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-profile" aria-selected="false">List</a>
            </li>

          </ul>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row justify-content-center">

              
                <div class="col-md-4">
                  <div class="row">
                    <div class="col">

                      <form [formGroup]="holidayForm" (ngSubmit)="saveoptionalholiday()">

                        <div class="form-group">
                          <label>Select Optional Holiday  <span style="color: red">*</span></label>
                         
                          <select class="form-control form-control-sm" id="holidayid" name="holidayid" formControlName="holidayMasterId" [ngClass]="{ 'is-invalid': submitted && f.holidayMasterId.errors }" required >
                            <option value="">Select Holiday</option>
                            <option value="{{data.holidayMasterId}}" *ngFor="let data of optionalholidaylist; let i = index;">
                              {{data.holiDayName}}- (From Date:{{data.startDate}} - To Date:{{data.endtDate}})
                            </option>
                          </select>
                          <div *ngIf="submitted && f.holidayMasterId.errors" class="invalid-feedback">
                            <div *ngIf="f.holidayMasterId.errors.required">Please Select Holiday</div>
                        </div>
                        </div>


                        <div class="form-group">
                          <label>Reason For permission <span style="color: red">*</span></label>
                         <textarea class="form-control" name="desc" id="desc" formControlName="desc" rows="3" [ngClass]="{ 'is-invalid': submitted && f.desc.errors }"></textarea>
                         <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                          <div *ngIf="f.desc.errors.required">Reason is Requried</div>
                      </div>
                      </div>

                        <div class="form-group" *ngIf='isEdit == false'>
                          <button type="submit" class="btn btn-primary" [disabled]="holidayForm.invalid || resetflag == true">Add</button> &nbsp;
                          <button type="reset" class="btn btn-info" (click)="reset()">Reset</button>
                        </div>
                        <div class="form-group" *ngIf='isEdit == true'>
                          <button type="submit" class="btn btn-primary"  [disabled]="holidayForm.invalid">Update</button> &nbsp;
                          <button type="reset" class="btn btn-info" (click)="cancel()">Cancel</button>
                        </div>

                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                <div class="row justify-content-center">
                  <div class="col-md-10">
                    <div class="row">

                      <div class="col-md-12">
                        <div>
                          <div class="filter">
                            <div class="row justify-content-end">

                              <div class="col-md-3">
                                <form [formGroup]="statusForm">
                                <div class="form-group">
                                  <select   class="form-control filter-box"  name="filter"  formControlName="statusType" (ngModelChange)="statusTypeChanged($event)">

                                    <option value="Approved">Approved <span class="statusofleave statusicon">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                      </span></option>
                                    <option value="Rejected">Rejected 
                                      <span class="statusofleave2 statusicon">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                      </span>
                                    </option>
                                    <option value="Pending" selected>Pending <span class="statusofleave3 statusicon">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                      </span></option>
                                  </select>
                                </div>
                                </form>
                              </div>
                            </div>

                            <div class="table-responsive">

                              <table id="Business" class="table table-striped table-bordered" style="width:100%">
                                <thead class="thead-dark">
                                  <tr>
                                    <th>Sr.No</th>
                                    <!-- <th>Emp Id</th>-->
                                    <th>Optional HoliDay Name</th>
                                    <th>Applied Date</th>
                                    <th>Request Date</th>
                                    <th>Reason</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                              

                                <tbody *ngIf="alloptionalholidaylist.length">
                                  <tr *ngFor="let item of alloptionalholidaylist; let i = index;">
                                    <td>{{i+1}}</td>
                                    <!-- <td>{{item.empId}}</td>-->
                                    <td>{{item.holiDayName}}</td>
                                    <td>{{item.requestDate | date:'dd-MMM-yyyy'}}</td>
                                    <td>{{item.startDate | date:'dd-MMM-yyyy'}}</td>
                                    <td>{{item.resonForPermission}}</td>
                                    <td class="statustd" *ngIf="item.approverOrRejectStatus == 'Pending'">
                                      <span class="statusofleave3">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                      </span>
                                    </td>
                                    <td class="statustd" *ngIf="item.approverOrRejectStatus == 'Approved'">
                                      <span class="statusofleave">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                      </span>
                                    </td>
                                    <td class="statustd" *ngIf="item.approverOrRejectStatus == 'Rejected'">
                                      <span class="statusofleave2">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                      </span>
                                    </td>
                                    <td>
                                      <i *ngIf="item.approverOrRejectStatus == 'Pending'" class="fa fa-pencil btn" (click)="editOptionlholiday(item)"></i>
                                      <i *ngIf="item.approverOrRejectStatus == 'Pending'" class="fa fa-trash btn" (click)='dltObj(item)' data-toggle="modal"
                                      data-target="#AreYouSuredlt" aria-hidden="true"></i>
                                        
                                      </td>
                                   
                                  </tr>

                                </tbody>
                              </table>
                            </div>


                            <hr>
                            <div class="statusclr">
                              <ul>
                                <li>Approved :
                                  <span class="statusofleave statusicon">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                  </span>
                                </li>
                                <li>Rejected :
                                  <span class="statusofleave2 statusicon">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                  </span>
                                </li>
                                <li>Pending :
                                  <span class="statusofleave3 statusicon">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                  </span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="modal fade" id="AreYouSuredlt">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure..Want to Delete..??</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" (click)='dltmodelEvent()' data-dismiss="modal"
                    class="btn btn-success">Yes</button><br>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>

