<form (ngSubmit)="onCreateReport()">
  <div class="ml-3">
    <div class="row justify-content-between">
      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control form-control-sm" id="contractor" name="contractor" (ngModelChange)="SetSelectedReport($event)" [(ngModel)]="report_name">
            <option value="Select">Select Report</option>
            <option value="Contractor Duration Report">Working Duration Report</option>
            <option value="Contractor Register Report">Contractor Register Report</option>
            <option value="Muster Report">Muster Report</option>
            <option value="Multiple Punches Report">Multiple Punches Report</option>
            <option value="Contractor Presents Report">Contractor Presents Report</option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="selected_report!='Contractor Register Report' && selected_report!='Contractor Presents Report'">
      <p>Please Select Report Type:</p>
      <input type="radio" id="customise" [(ngModel)]="report_wise" name="report_wise" value="customise" (change)="SetSelection()"
        checked>
      <label for="customise">Customise</label>
      <input type="radio" id="employee_wise" [(ngModel)]="report_wise" name="report_wise" (change)="SetSelection()"
        value="employee_wise">
      <label for="employee_wise">Employee Wise</label>

    </div>
    <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist"  *ngIf="selected_report!='Contractor Register Report' && selected_report!='Contractor Presents Report'">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="true"> Select Dates</a>
      </li>
      <li class="nav-item" *ngIf="report_wise!='employee_wise'">
        <a class="nav-link" id="pills-filter-tab" data-toggle="pill" href="#pills-filter" role="tab"
          aria-controls="pills-filter" aria-selected="false">Filter</a>
      </li>
      <li class="nav-item" *ngIf="report_wise=='employee_wise'">
        <a class="nav-link" id="pills-employee-tab" data-toggle="pill" href="#pills-employee" role="tab"
          aria-controls="pills-employee" aria-selected="false">Select Employees</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="pills-columns-tab" data-toggle="pill" href="#pills-columns" role="tab"
          aria-controls="pills-columns" aria-selected="false" hidden>Columns</a>
      </li>
    </ul>
    <div class="tab-content min-height-400" id="pills-tabContent"  *ngIf="selected_report!='Contractor Register Report' && selected_report!='Contractor Presents Report'">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="mt-3" style="width:50%">
          <div class="form-row">
            <div id="reportrange"
              style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
              <i class="fa fa-calendar"></i>&nbsp;
              <span></span> <i class="fa fa-caret-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-filter" role="tabpanel" aria-labelledby="pills-filter-tab">
        <div class="row" *ngIf="selected_report=='Contractor Duration Report' || selected_report=='Muster Report' || selected_report !='Multiple Punches Report'">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                href="#list-home" role="tab" aria-controls="home">Contractor Service Type</a>
              <a class="list-group-item list-group-item-action" id="list-Location-list" data-toggle="list"
                href="#list-Location" role="tab" aria-controls="Location"> Contractor</a>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <!-- Service list -->
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                  <li class="list-group-item" *ngFor='let i of contractor_service_list'>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="conSerTypeId" class="custom-control-input" data-md-icheck id="{{i.conSerZTypeName}}"
                        value="{{i.conSerTypeId}}" [(ngModel)]='i.status' [disabled]="i.disabled=='yes'"
                        (change)='getContractors($event.target.checked,i.conSerTypeId)'>
                      <label class="custom-control-label" for="{{i.conSerZTypeName}}">{{i.conSerZTypeName}}</label>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- Service Type end -->
              <!-- Contractor list -->
              <div class="tab-pane fade" id="list-Location" role="tabpanel" aria-labelledby="list-Location-list">
                <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                  <li class="list-group-item" *ngIf="allServiceContractorArr.length!=0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" (ngModelChange)='SelectAllContractors($event)' id="all_contractors" name="all_contractors"
                        value="all_contractors" [(ngModel)]='all_contractors' class="custom-control-input"
                        data-md-icheck>
                      <label class="custom-control-label" for="all_contractors">Select All</label>
                    </div>
                  </li>

                  <li class="list-group-item" *ngFor='let i of allServiceContractorArr'>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="contractorId" class="custom-control-input" data-md-icheck id="{{i.contractorId}}"  (ngModelChange)='getSelectedContractors($event,i)'
                        value="{{i.contractorId}}" [(ngModel)]='i.status'>
                      <label class="custom-control-label" for="{{i.contractorId}}">{{i.conFirmName}}</label>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- contractor list end-->
            </div>
          </div>
        </div>
        <!-- START Contractor multiple punches report filter -->
        <div class="row" *ngIf="selected_report=='Multiple Punches Report'">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list"
                data-toggle="list" href="#list-home" role="tab" aria-controls="home">Department</a>
             
              <a class="list-group-item list-group-item-action" id="list-Location-list" data-toggle="list"
                *ngIf='reportName!="Payroll Report"' href="#list-Location" role="tab"
                aria-controls="Location"> Location</a>
            
              <a class="list-group-item list-group-item-action" id="list-Employee-list" data-toggle="list"
                *ngIf='reportName!="Payroll Report"' href="#list-Employee" role="tab"
                aria-controls="Employee">Employee category</a>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <!-- department list -->
              <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                aria-labelledby="list-home-list">
                <ul class="w3-animate-left list-group list-group-flush selectedFilterlist ">

                  <li class="list-group-item">

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" (ngModelChange)='SelectAllDepartments($event)' id="alldeptName"
                        value="deptId" [(ngModel)]='alldepartment' class="custom-control-input"
                        data-md-icheck name="deptAll">
                      <label class="custom-control-label" for="alldeptName">Select All</label>
                    </div>
                  </li>
                  
                  <!-- <li class="list-group-item" *ngFor='let i of departmentlistdata'> -->
                  <li class="list-group-item" *ngFor='let i of AllDepartments'>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [(ngModel)]='i.department'
                        (ngModelChange)='valueDepartment($event,i)' data-md-icheck id="{{i.deptName}}"
                        value="{{i.deptId}}" name="dept">
                      <label class="custom-control-label" for="{{i.deptName}}">{{i.deptName}}</label>
                    </div>
                  </li>

                </ul>
              </div>
              <!-- department list end -->
              <!-- EMP Cate list -->
              <div class="tab-pane fade" id="list-Employee" role="tabpanel"
                aria-labelledby="list-Employee-list">
                <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                  <li class="list-group-item">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input"
                        (ngModelChange)='SelectAllEmpCategories($event)' value="empTypeId" [(ngModel)]='allEmpCat'
                        id="checkEC" name="empAll" data-md-icheck>
                      <label class="custom-control-label" for="checkEC">Select All</label>
                    </div>
                  </li>
                  <li class="list-group-item" *ngFor='let i of AllEMp'>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" data-md-icheck
                        id="{{i.empTypeName}}" [(ngModel)]='i.AllEMpCate' value="{{i.empTypeId}}"
                        (ngModelChange)='valueEmpCate($event,i)' name="emp">
                      <label class="custom-control-label" for="{{i.empTypeName}}">{{i.empTypeName}}</label>
                    </div>
                  </li>
                </ul>
              </div>
             
              <!-- Locotion list -->
              <div class="tab-pane fade" id="list-Location" role="tabpanel"
                aria-labelledby="list-Location-list">
                <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                  <li class="list-group-item">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" (ngModelChange)='SelectAllLocations($event)' id="allLocoL"
                        value="allLoco" [(ngModel)]='allLocoL' class="custom-control-input" name="allLocoL">
                      <label class="custom-control-label" for="allLocoL" >Select All</label>
                    </div>
                  </li>
                  <li class="list-group-item" *ngFor='let i of allLocoList'>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [(ngModel)]='i.allLocoListdata'
                        (ngModelChange)='valueLocation($event,i)' data-md-icheck id="{{i.locationName}}"
                        value="{{i.locationId}}" name="loc">
                      <label class="custom-control-label"
                        for="{{i.locationName}}">{{i.locationName}}</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- END of Contractor multiple punches report filter -->

        <div class="row"  *ngIf="selected_report=='Contractor Register Report' || selected_report=='Contractor Presents Report'">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-dept-list" data-toggle="list"
                href="#list-dept" role="tab" aria-controls="home">Department</a>
              <a class="list-group-item list-group-item-action" id="list-Loc-list" data-toggle="list"
                href="#list-Loc" role="tab" aria-controls="Location"> Location</a>

              <a class="list-group-item list-group-item-action" id="list-Cat-list" data-toggle="list"
              href="#list-cat" role="tab" aria-controls="Location"> Employee Category</a>
              <!-- <a class="list-group-item list-group-item-action" id="list-Shift-list" data-toggle="list"
              href="#list-shift" role="tab" aria-controls="Location"> Shift</a> -->
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <!-- Department list -->
              <div class="tab-pane fade show active" id="list-dept" role="tabpanel" aria-labelledby="list-dept-list">
                <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                  <li class="list-group-item">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" (ngModelChange)='SelectAllDepartments($event)' id="alldeptName" name="alldeptName"
                        value="deptId" [(ngModel)]='alldepartment' class="custom-control-input"
                        data-md-icheck>
                      <label class="custom-control-label" for="alldeptName">Select All</label>
                    </div>
                  </li>
                  <li class="list-group-item" *ngFor='let i of AllDepartments'>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [(ngModel)]='i.department' name="deptName"
                        data-md-icheck id="{{i.deptName}}"
                        value="{{i.deptId}}">
                      <label class="custom-control-label" for="{{i.deptName}}">{{i.deptName}}</label>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- /Department List -->
              <!-- location list -->
              <div class="tab-pane fade" id="list-Loc" role="tabpanel" aria-labelledby="list-Loc-list">
                <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                  <li class="list-group-item">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" (ngModelChange)='SelectAllLocations($event)' id="allLocoL" name="allLocoL"
                        value="allLoco" [(ngModel)]='allLocoL' class="custom-control-input">
                      <label class="custom-control-label" for="allLocoL">Select All</label>
                    </div>
                  </li>
                  <li class="list-group-item" *ngFor='let i of allLocoList'>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="locationId" class="custom-control-input" data-md-icheck id="{{i.locationName}}" name="locationName"
                        value="{{i.locationId}}" [(ngModel)]='i.allLocoListdata'>
                      <label class="custom-control-label" for="{{i.locationName}}">{{i.locationName}}</label>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- location list end-->
              <!-- Category list -->
              <div class="tab-pane fade" id="list-cat" role="tabpanel" aria-labelledby="list-Cat-list">
                <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                  <li class="list-group-item">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="checkEC" (ngModelChange)='SelectAllEmpCategories($event)' value="empTypeId" [(ngModel)]='allEmpCat'
                        id="checkEC" data-md-icheck>
                      <label class="custom-control-label" for="checkEC">Select All</label>
                    </div>
                  </li>
                  <li class="list-group-item" *ngFor='let i of AllEMp'>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" data-md-icheck name="empTypeName"
                        id="{{i.empTypeName}}" [(ngModel)]='i.AllEMpCate' value="{{i.empTypeId}}">
                      <label class="custom-control-label" for="{{i.empTypeName}}">{{i.empTypeName}}</label>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- Category list end-->
               <!-- Shift list -->
               <div class="tab-pane fade hide" id="list-shift" role="tabpanel" aria-labelledby="list-Shift-list">
                <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                  <li class="list-group-item">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="AllShiftGrp"
                        (ngModelChange)='SelectAllShiftGrp($event)' [(ngModel)]='AllShiftGrp'
                        id="checkShift" data-md-icheck>
                      <label class="custom-control-label" for="checkShift">Select All</label>
                    </div>
                  </li>
                  <li class="list-group-item" *ngFor='let i of allShiftList'>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [(ngModel)]='i.shift' name="shiftName"
                        data-md-icheck id="{{i.shiftName}}" value="{{i.shiftMasterId}}">
                      <label class="custom-control-label" for="{{i.shiftName}}">{{i.shiftName}}</label>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- Shift list end-->
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab">
        <div class="row">
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <!-- Select Employee:: START -->
              <!-- <div class="tab-pane" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab"> -->
                <div class="form-group col-md-6">
                  <label>Employee Name <span style="color: red">*</span></label>
                 <ng-multiselect-dropdown [placeholder]="'Select Employee'" [data]="Employeedata" required
                  [(ngModel)]="model.selectedEmp" [ngModelOptions]="{standalone: true}"
                  #selectedLocation='ngModel' name='selectedLoco'
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"  (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)"
                 requried >
                </ng-multiselect-dropdown>
                </div>
              <!-- </div> -->
              <!-- /Select Employee::END -->
            </div>
          </div>
        </div>
      </div>
      <!-- columns -->
      <div class="tab-pane fade" id="pills-columns" role="tabpanel" aria-labelledby="pills-columns-tab">
        <div class="row">
          <div class="col-md-3">
            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
              <!-- work_duration_report -->
              <div *ngIf="selected_report=='Contractor Duration Report'">
                <li style="margin-left: -7px;" class="list-group-item">
                  <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                    (change)="checkUncheckAll('work_duration')" /> <strong>Select/ Unselect All</strong>
                </li>
                <li class="list-group-item" *ngFor='let i of workDurationColumn'>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected' name="ColumnName" data-md-icheck
                      id="{{i.ColumnName}}" value="{{i.col}}" (ngModelChange)='OnDurationColumnChange($event,i)'>
                    <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                  </div>
                </li>
              </div>
              <!-- /work_duration_report -->
              <!-- Register Report -->
              <div  *ngIf="selected_report=='Contractor Register Report' || selected_report=='Contractor Presents Report'">
                <li style="margin-left: -7px;" class="list-group-item">
                  <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                    (change)="checkUncheckAll('register_report')" /> <strong>Select/ Unselect All</strong>
                </li>
                <li class="list-group-item" *ngFor='let i of RegisterReportsColumns'>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected' name="ColumnName" data-md-icheck
                      id="{{i.ColumnName}}" value="{{i.col}}" (ngModelChange)='OnRegisterColumnChange($event,i)'>
                    <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                  </div>
                </li>
              </div>
              <!-- /Register Report -->
            </ul>
          </div>
        </div>
      </div>
      <!-- /columns -->
    </div>
  </div>
  <hr>
  <div class="float-right">
    <button *ngIf="report_wise!='employee_wise'" type="submit" class="btn ml-2 btn-sm btn-success">Generate Report</button>
    <!-- Employee Wise Submit -->
    <button type="button" class="btn ml-2 btn-sm btn-success" *ngIf="report_wise=='employee_wise'" [disabled]='reportName=="Select"' (click)='GenerateEmployeeWiseReport()'>Generate Employee Wise Report</button>
    <!-- /Employee Wise Submit -->
  </div>
</form>
