<div class="bhoechie-tab-content white-bg" id="compmaster">
    <div class="row justify-content-center align-items-center">
        <div class="mastersheading">
            <h3>
                PAY GROUP <span class="boldmaster">MASTER</span>
            </h3>
        </div>
    </div>
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">

                <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>

                    <div class="form-group">
                        <label for="CompanyID">Company Name<span style="color: red">*</span></label>
                        <select class="form-control form-control-sm mb-4" name="CompanyID"
                            [(ngModel)]="selectedCompanyobj" name="selectedCompanyobj" #CompanyID='ngModel'
                            (change)="ngValue($event)"
                            required>
                            <option hidden [value]="selectUndefinedOptionValue">Company Name</option>
                            <option value="{{addcompany.compId}}"
                                *ngFor="let addcompany of companydata; let i = index;">{{addcompany.compName}}</option>
                        </select>
                        <div class="help-block" style="margin-top:-23px"
                            *ngIf="CompanyID.errors?.required && CompanyID.touched"> <small
                                style="color: red">Company
                                Name required</small></div>

                    </div>
                    <div class="form-group">
                        <label for="payGroupName">Pay Group Name<span style="color: red">*</span></label>
                        <input type="text" class="form-control form-control-sm" (keyup)='error()' name="payGroupName"
                            [(ngModel)]="PayGroupModel.payGroupName" maxlength="100" #payGroupName="ngModel"
                            required />
                        <div class="help-block"
                            *ngIf="payGroupName.errors?.required && payGroupName.touched"> <small
                                style="color: red">Pay Group Name is required</small></div>
                        <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exits </small></div>
                    </div>

                    <div class="form-group">
                        <label>Pay Group Description</label>
                        <input type="text" pattern="[A-Z a-z 0-9]{1,250}" class="form-control form-control-sm"
                            maxlength="250" name="payGroupDesc" [(ngModel)]="PayGroupModel.payGroupDesc"
                            #payGroupDesc="ngModel" />
                        <div class="help-block" *ngIf="payGroupDesc.errors?.pattern && payGroupDesc.touched"><small
                                style="color: red">Special Characters not allowed</small></div>
                    </div>



                    <div class="form-group" *ngIf='StatusFlag'>
                        <label>Status</label><br>
                        <label (click)="uiswitch($event)">
                            <!-- <input type="checkbox" checked> -->
                            <!-- <input type="radio" value='' checked='false'> -->
                            <ui-switch [checked]='PayGroupModel.status'><span
                                    class="switch  switch-medium"><small></small></span></ui-switch>
                            <!-- <span class="slider round"></span> -->
                        </label>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-primary" type="submit"
                            [disabled]="(f.invalid || errflag) ">Save</button>
                            &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
                        <!-- // <button  type="reset" class="btn btn-primary"  >reset</button> -->
                    </div>
                </form>


            </div>

        </div>
        <hr>
<div *ngIf='dataTableFlag'> 
        <table id="paygroupTable" class="table table-striped table-bordered" style="width:100%">
            <thead class="theadblue">
                <tr>
                    <th style="width: 90%">
                        Pay Group Name
                    </th>

                    <th style="width: 40%" class="hide-arw">
                        Status
                    </th>
                    <th style="width: 20%" class="hide-arw">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of AllPayGroupMastData">
                    <td>{{item.payGroupName}}</td>

                    <td [ngClass]="{colorRed : item.status == false, colorGreen: item.status == true}"
                        style="font-size:1rem; text-align:center">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </td>
                    <td><i class="fa fa-pencil" aria-hidden="true" (click)="edit(item)"></i> <i class="fa fa-trash"
                            (click)='dltObj(item)' data-toggle="modal" data-target="#AreYouSuredlt"
                            aria-hidden="true"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>

                </tr>
            </tfoot>
        </table>
        </div>
    </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal"
                    class="btn btn-success">Yes</button><br>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>