<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-warning float-right m-3" (click)="exportTableToExcel('customers')"><i class="fa fa-file-excel-o"
          aria-hidden="true"></i> &nbsp;Export Report Excel</button>
      <button type="button" class="btn btn-warning float-right m-3" (click)="captureScreen()"><i class="fa fa-file-pdf-o"
          aria-hidden="true"></i> &nbsp;Export Report PDF</button>
    </div>

  </div>
  <div>
    <div id="content" class="rep-bg">

      <div class="row">
        <div class="col-md-6">

          <!-- <img src="assets/rieter_logoL.png" alt="alleviz"> -->
          <br>
          <h6 class="attrep">
            <strong class="blu">
              <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Work Duration Report </strong> &nbsp;

          </h6>
        </div>
      </div>

      <div class="row">

        <div class="col-md-12">
          <!-- <div class="repdate float-right">{{myDate}}</div> -->
          <div class="qwe">
            <h6><span class="blu"><strong>Abbreviation:-</strong></span> A : Absent Days, P : Present Days, HF : Half
              day, WO:
              Weekly off, HO: Holiday , PD: Paid Days, OD: On duty
              ,OPF : Out Punch Forgot ,<span></span> WOH : Week Off And Holiday</h6>

          </div>
        </div>

        <div class="col-md-12">
          <!-- <div class="repdate float-right">{{myDate}}</div> -->
          <div class="qwe">
            <h6><span class="blu"><strong>Work Duration Report From Date: </strong></span>{{fromDate | date
              :'dd/MMM/yyyy'}}<span class="blu"><strong> To Date:</strong></span> {{toDate | date :'dd/MMM/yyyy'}}</h6>
          </div>
        </div>



        <!--  New Table Starts  -->

        <div style="overflow-x: auto; overflow-y: hidden;" id="aa" class="col-md-12">
          <table id="customers" class="table table-space table-borderless">
            <thead>
              <tr>
                <th [attr.colspan]="table_length">{{compName}}</th>
              </tr>
              <tr>
                <th [attr.colspan]="table_length">Working Duration Report</th>
              </tr>
              <tr>
                <th [attr.colspan]="table_length">From Date : {{fromDate | date :'dd/MMM/yyyy'}} To : {{toDate | date :'dd/MMM/yyyy'}} &nbsp; Report Date: {{report_time}}</th>
              </tr>
              <tr class="table-secondary">
                <th style="width:3%;">Sr.No</th>
                <th style="width:3%;">Employee ID</th>
                <th style="width:3%;">Employee Name</th>
                <th style="width:3%;">Contractor Firm Name</th>
                <th style="width:3%;">Department</th>
                <th style="width:3%;">Designation</th>
                <th style="width:2%;">Date</th>
                <th *ngFor="let head of tablehead; let l = index">{{head}}</th>

              </tr>
            </thead>
            <tbody style="text-align: center !important;" *ngFor="let report of AllReport; let i = index;let last = last;">

              <tr>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  {{i+1}}
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  {{report.workingDurationReportSubResDtoList[1].empId}}
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  {{report.workingDurationReportSubResDtoList[1].fullName}}
                  {{report.workingDurationReportSubResDtoList[1].lastName}}
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  {{report.workingDurationReportSubResDtoList[1].contractorFirmName}}
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  {{report.workingDurationReportSubResDtoList[1].deptName}}
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  {{report.workingDurationReportSubResDtoList[1].descName}}
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  Type Of Day
                </td>
                <td *ngFor="let it of report.workingDurationReportSubResDtoList; let i = index">
                  {{it.statusOfDay}}
                </td>
              </tr>
              <tr>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{i+1}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].empId}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].empId}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].fullName}}
                  {{report.workingDurationReportSubResDtoList[0].lastName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].deptName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].descName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  In
                </td>
                <td *ngFor="let it of report.workingDurationReportSubResDtoList; let i = index">
                  {{it.checkIn}}
                </td>
              </tr>

              <tr>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{i+1}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].empId}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].empId}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].fullName}} -->
                  <!-- {{report.workingDurationReportSubResDtoList[0].lastName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].deptName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].descName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  Out
                </td>
                <td *ngFor="let it of report.workingDurationReportSubResDtoList; let i = index">
                  {{it.checkOut}}
                </td>
              </tr>
              <tr>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{i+1}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].empId}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].empId}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].fullName}} -->
                  <!-- {{report.workingDurationReportSubResDtoList[0].lastName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].deptName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].descName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  Duration
                </td>
                <td *ngFor="let it of report.workingDurationReportSubResDtoList; let i = index">
                  {{it.workDuration}}
                </td>
              </tr>
              <!-- <tr>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                {{i+1}} -
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                   {{report.workingDurationReportSubResDtoList[0].empId}} 
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                   {{report.workingDurationReportSubResDtoList[0].fullName}} 
                   {{report.workingDurationReportSubResDtoList[0].lastName}} 
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                {{report.workingDurationReportSubResDtoList[0].deptName}} 
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  {{report.workingDurationReportSubResDtoList[0].descName}} 
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  OT/Coff Credit
                </td>
                <td *ngFor="let it of report.workingDurationReportSubResDtoList; let i = index">
                  {{it.coffStatus}}
                </td>
              </tr> -->
              <tr>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{i+1}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{i+1}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].empId}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].fullName}} -->
                  <!-- {{report.workingDurationReportSubResDtoList[0].lastName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].deptName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].descName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  Status Of Day
                </td>
                <td *ngFor="let it of report.workingDurationReportSubResDtoList; let i = index">
                  {{it.attendanceStatus}}
                </td>
              </tr>
              <tr class="border_bottom">
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{i+1}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{i+1}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].empId}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].fullName}} -->
                  <!-- {{report.workingDurationReportSubResDtoList[0].lastName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].deptName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].descName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  ShiftName
                </td>
                <td *ngFor="let it of report.workingDurationReportSubResDtoList; let i = index">
                  {{it.shiftName}}
                </td>
              </tr>
              <tr class="border_bottom">
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{i+1}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].empId}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].empId}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].fullName}} -->
                  <!-- {{report.workingDurationReportSubResDtoList[0].lastName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].deptName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  <!-- {{report.workingDurationReportSubResDtoList[0].descName}} -->
                </td>
                <td *ngIf='report.workingDurationReportSubResDtoList'>
                  Shift
                </td>
                <td *ngFor="let it of report.workingDurationReportSubResDtoList; let i = index">
                  {{it.shiftCode}}
                </td>
              </tr>
              
              <tr class="table-secondary" *ngIf="!last">
                <th style="width:3%; font-style: inherit;" >Sr.No</th>
                <th style="width:3%;  font-style: inherit;">Employee ID</th>
                <th style="width:3%;  font-style: inherit;">Employee Name</th>
                <th style="width:3%;  font-style: inherit;">Contractor Firm Name</th>
                <th style="width:3%;  font-style: inherit;">Department</th>
                <th style="width:3%;  font-style: inherit;">Designation</th>
                <th style="width:2%;  font-style: inherit;">Date</th>
                <th *ngFor="let head of tablehead; let l = index" style=" font-style: inherit;">{{head}}</th>

              </tr>
            </tbody>
          </table>
        </div>

        <!--  New Table Ends    -->

      </div>
    </div>
  </div>
</div>