<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
          <!-- <div class="breadcrumb"><a class="breadcrumb__step breadcrumb__step--active" href="#">Home</a><a class="breadcrumb__step" href="#">Apply</a><a class="breadcrumb__step" href="#">Leave Request</a></div> -->
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-hand-o-up bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Leave Request <div class="page-title-subheading"> Here you can Apply Leave/Compensatory Off </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">

        <div class="white-bg min-height-500">


          <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Apply</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-profile" aria-selected="false">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-suggest-tab" data-toggle="pill" href="#pills-suggest" role="tab"
                aria-controls="pills-profile" aria-selected="false" (click)="isShow==true" >Leave Suggestion</a>
            </li>
          </ul>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <!-- ====================STEPPER===================-->
              <div class="row justify-content-center">
                <div class="col-md-12">
                  <!-- <button type="button" class="btn opencalendar btn-primary" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-calendar" aria-hidden="true"></i> 
                  </button>-->

                  <div class="row justify-content-center">
                    <div class="col-md-6 ">
                      <div class="row justify-content-center">
                        <div class="col-md-12 col-xs-12">
                          <!-- ====================STEPPER===================-->
                          <ul class="progressbar-stepper">
                            <!-- <li class="active">Vinod Rathod</li>
                            <li>Sopan Ambani</li>
                            <li>Sachin Saraf</li> -->
                          </ul>
                          <!-- ====================STEPPER===================-->
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-md-6">

                      <form name="form" #f="ngForm"  (ngSubmit)='f.form.valid &&  onSubmit(f)' novalidate>
                      
                        <div class="form-group" >
                          <label>Leave Name <span style="color: red">*</span></label>
                          <select name="type" class="form-control" #type='ngModel' [(ngModel)]="model.type"
                            (ngModelChange)="selectLeaveType(leaveConfigList,model.type)" required style="font-size: 12px;">
                            
                            <option value="Select">Select</option>
                            <option value="{{item.leaveId}}" (click)="getLeaveId(item)" *ngFor="let item of leaveConfigList; let i = index;">{{item.leaveCode}}
                              - {{item.leaveName}} ({{item.currentLeaves}})
                            </option>


                          </select>
                          
                          <!-- <div class="help-block" *ngIf="type.errors?.required && (type.touched )"><small style="color: red">Please
                              Select Leave</small></div> -->

                        </div>

                        <div *ngIf="!coffFlag && !soffFlag">
                            
                          <div class="form-group" >
                            <label >Type Of Leave <span style="color: red">*</span></label>
                            <br>
                            
                            <div>
                                <input type="radio" id="radio1" [(ngModel)]="model.typeofleave" value="Fullday" name="typeofleave"
                                (ngModelChange)="typeOfLeave('Fullday')" />
                              <label for="radio1">Fullday</label>

                              <input type="radio" *ngIf='minimumDays == 0.5' id="radio4"
                              value="Halfday" name="typeofleave2" (click)="showFirstSecHalf()" [(ngModel)]="HalfDayRadioVal"/>
                              <label  for="radio4" *ngIf='minimumDays == 0.5'>HalfDay</label>


                              <div class="" *ngIf="firstSecHalfFlag">
                                <br>
                                <label>Select Half Day Type</label>
                                <br>
                                <input type="radio" id="radio2" [(ngModel)]="model.typeofleave"
                                value="First Half" name="typeofleave" (ngModelChange)="typeOfLeave('First Half')" />
                                <label  for="radio2" *ngIf='minimumDays == 0.5'>First Half</label>
                                <input type="radio" id="radio3" [(ngModel)]="model.typeofleave"
                                value="Second Half" name="typeofleave" (ngModelChange)="typeOfLeave('Second Half')" />
                              <label   for="radio3" *ngIf='minimumDays == 0.5'>Second Half</label>
                              </div>
                               
                             
                            </div>
                          </div>
                        
                          <div class="form-row">
                            <!-- <div (click)="show()">val</div> -->
                            <div class="form-group col-md-4">
                              <label>From Date<span style="color: red"> *</span></label>
                              <input type="date" class="form-control" #frmdate='ngModel' name="frmdate" [ngModel]="model.frmdate | datePipe:'yyyy-MM-dd'"
                                (ngModelChange)="selectFromDate($event)" required  />
                              <div class="help-block" *ngIf="!leaveErrorMessageFlag"><small style="color: red">{{leaveErrorMessage ? leaveErrorMessage.message : ''}}
                                </small></div>
                                <!-- max="{{maxDateForApply | date:'yyyy-MM-dd'}}" -->
                            </div>

                            <div class="form-group col-md-4">
                              <label>To Date</label>
                              <input type="date" min="{{model.frmdate | date:'yyyy-MM-dd'}}" class="form-control"
                                #todate='ngModel' name="todate" [disabled]="!(model.typeofleave == 'Fullday')"
                                [ngModel]="model.todate | datePipe:'yyyy-MM-dd'" (ngModelChange)="selectToDate($event)" />
                            </div>
                            <!-- max="{{maxDateForApply | date:'yyyy-MM-dd'}}" -->

                          
                            <div class="form-group col-md-4">
                              <label>Leave Count</label>
                              <input type="number" readonly class="form-control" #selectedLeaveCount='ngModel' name="selectedLeaveCount"
                                [(ngModel)]="model.selectedLeaveCount" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label>Leave Reason <span style="color: red">*</span></label>
                            <input type="text" class="form-control" name="leavereson" [(ngModel)]="model.leavereson"
                              maxlength="250" #leavereson="ngModel" required />
                            <div class="help-block" *ngIf="leavereson.errors?.required && (leavereson.touched)"><small
                                style="color: red">Reason Can Not be Blank</small></div>

                          </div>
                            
                          <!-- <label>Attach File<span style="color: red" *ngIf="medicalCertificateDays && medicalCertificateDays < model.selectedLeaveCount"> *</span></label> -->
                          <div  *ngIf="medicalCertificateDays != 0">
                          <div *ngIf="medicalCertificateDays <= model.selectedLeaveCount"> 
                            <label>Attach File <span style="color: red"> *</span></label>
                            <div class="form-group">
                              <div class="mat-form-field-fluid">
                                <input type="hidden"   name="filepath"   #filepathname= "ngModel" [(ngModel)]="model.filePath" accept=".jpg, .jpeg, .png ,.pdf" required/>
                  
                                <div class="uploader-wrapper">
                                  <ngx-file-picker #uploader [totalMaxSize]="14" [fileMaxCount]="1"  [uploadType]="'multi'" [adapter]="adapter" [fileExtensions]="['jpg', 'JPG' , 'jpeg', 'JPEG', 'png', 'PNG','pdf']"  [showeDragDropZone]="true" [showPreviewContainer]="true" (fileAdded)="onFileAdded($event)" (removeSuccess)="onRemoveSuccess($event)" >
                                    <div class="dropzoneTemplate text-center">
                                      <button type="button" class="btn btn-info btnColor">Upload  document</button>
                                    </div>
                                  </ngx-file-picker>
                                </div>
                              </div>
                              <div class="help-block" *ngIf="filepathname.errors?.required && (filepathname.touched)"><small
                                style="color: red">Reason Can Not be Blank</small></div>
                              <div>
                                <span>(png,jpeg,pdf,jpg) format only</span>
                              </div>
                              <div *ngIf ="isLeaveEdit==true">
                                <a [href]="imageURL">{{this.selectedFileName}}</a>
                              </div>
                              
                              <!-- <div *ngIf="imageURL">
                             <img [src]="imageURL" height="30px" width="30px" class="ml-4 mt-2">
  
                              </div> -->
                           </div>
                          </div>
                          <div *ngIf="medicalCertificateDays > model.selectedLeaveCount && (model.typeofleave !='Fullday' || model.typeofleave !='First Half'|| model.typeofleave !='Second Half')"> <label>Attach File</label>
                            <div class="form-group">
                              <div class="mat-form-field-fluid">
                                <input type="hidden"   name="filepath"   #filepathname= "ngModel" [(ngModel)]="model.filePath" accept=".jpg, .jpeg, .png ,.pdf"/>
                  
                                <div class="uploader-wrapper">
                                  <ngx-file-picker #uploader [totalMaxSize]="14" [fileMaxCount]="1"  [uploadType]="'multi'" [adapter]="adapter" [fileExtensions]="['jpg', 'JPG' , 'jpeg', 'JPEG', 'png', 'PNG','pdf']"  [showeDragDropZone]="true" [showPreviewContainer]="true" (fileAdded)="onFileAdded($event)" (removeSuccess)="onRemoveSuccess($event)" >
                                    <div class="dropzoneTemplate text-center">
                                      <button type="button" class="btn btn-info btnColor">Upload  document</button>
                                    </div>
                                  </ngx-file-picker>
                                </div>
                              </div>
                              <div>
                                <span>(png,jpeg,pdf,jpg) format only</span>
                              </div>
                              <div *ngIf ="isLeaveEdit==true">
                                <a [href]="imageURL">{{this.selectedFileName}}</a>
                              </div>
                              
                              <!-- <div *ngIf="imageURL">
                             <img [src]="imageURL" height="30px" width="30px" class="ml-4 mt-2">
  
                              </div> -->
                           </div>
                          </div>
                          </div>
                          <div *ngIf="medicalCertificateDays ==0 ||(model.typeofleave=='Fullday'|| model.typeofleave =='First Half'|| model.typeofleave =='Second Half')">
                            <label>Attach File</label>
                            <div class="form-group">
                              <div class="mat-form-field-fluid">
                                <input type="hidden"   name="filepath"   #filepathname= "ngModel" [(ngModel)]="model.filePath" accept=".jpg, .jpeg, .png ,.pdf"/>
                  
                                <div class="uploader-wrapper">
                                  <ngx-file-picker #uploader [totalMaxSize]="14" [fileMaxCount]="1"  [uploadType]="'multi'" [adapter]="adapter" [fileExtensions]="['jpg', 'JPG' , 'jpeg', 'JPEG', 'png', 'PNG','pdf']"  [showeDragDropZone]="true" [showPreviewContainer]="showImagePreview" (fileAdded)="onFileAdded($event)" (removeSuccess)="onRemoveSuccess($event)" >
                                    <div class="dropzoneTemplate text-center">
                                      <button type="button" class="btn btn-info btnColor">Upload  document</button>
                                    </div>
                                  </ngx-file-picker>
                                </div>
                              </div>
                              <div>
                                <span>(png,jpeg,pdf,jpg) format only</span>
                              </div>
                              <div *ngIf ="isLeaveEdit==true">
                                <a [href]="imageURL">{{this.selectedFileName}}</a>
                              </div>
                              
                              <!-- <div *ngIf="imageURL">
                             <img [src]="imageURL" height="30px" width="30px" class="ml-4 mt-2">
  
                              </div> -->
                           </div>
                          </div>
                         


                          <div class="form-group mt-3">
                            <label>Handed Over Work To</label>
                            <input class="form-control" autocomplete="off" (keydown)="keyDown($event)" placeholder="Handed Over Work To"
                              [(ngModel)]="searchQuery" (input)="filterItem(searchQuery)" #name="ngModel" name="name"
                              type="text">
                          </div>

                          <div class="chatsuggestion" *ngIf="empFlag">
                            <div *ngFor="let item of Employeedata | searchPipeDash: searchQuery" (click)="suggestThis(item)"
                              class="suggestiontext">
                              <div [class.active]="item.index == arrowkeyLocation">
                                 {{item.empId}} - {{item.fullName}} {{item.lastName}}
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label>Employees To Be Notified</label>
                            <input class="form-control" autocomplete="off" (keydown)="keyDown1($event)" placeholder="Employees To Be Notified"
                              [(ngModel)]="searchQuery1" (input)="filterItem1(searchQuery1)" #name1="ngModel" name="name1"
                              type="text">
                          </div>

                          <div class="chatsuggestion" *ngIf="empFlag1">
                            <div *ngFor="let item1 of Employeedata | searchPipeDash: searchQuery1" (click)="suggestThis1(item1)"
                              class="suggestiontext">
                              <div [class.active]="item1.index == arrowkeyLocation1">
                                {{item1.empId}} - {{item1.fullName}} {{item1.lastName}} 
                              </div>
                            </div>
                          </div>

                          <br>
                          <br>
                          <div class="form-group">
                            <button type="submit" [disabled]='f.invalid' class="btn btn-primary" *ngIf="!isLeaveEdit">Apply</button>
                            <button type="submit" [disabled]='f.invalid || !leaveErrorMessageFlag' class="btn btn-primary" *ngIf="isLeaveEdit">Update</button>
                            &nbsp;
                            <button type="reset" class="btn btn-info" (click)="reset(f,model.filePath)" *ngIf="!isLeaveEdit">Reset</button>
                            <button type="reset" class="btn btn-info" (click)="cancelLeave()" *ngIf="isLeaveEdit">Cancel</button>
                          </div>

                        </div>

                        <div *ngIf="coffFlag">
                          <div class="form-group col-md-6">
                            <label>Select Type</label>
                            <br>
                            <input type="radio" id="day" value="Full Day" name="typeOfCredit" #typeOfCredit="ngModel"
                              [(ngModel)]="coffModel.coffType" />
                            <label for="day">Full Day</label>

                            <input type="radio" id="time" value="Half Day" name="coffType" #coffType="ngModel"
                              [(ngModel)]="coffModel.coffType" required />
                            <label for="time">Half Day </label>

                          </div>

                          <div class="form-group "  *ngIf='coffModel.coffType == "Half Day"'>
                            <div class="form-group">
                              <label>Select Half Day Type</label>
                              <br>
                              <input type="radio" id="FistHalf" value="First Half" name="halfDayType" #halfDayType="ngModel"
                                [(ngModel)]="coffModel.halfDayType" />
                              <label for="FistHalf">First Half</label>
  
                              <input type="radio" id="SecondHalf" value="Second Half" name="halfDayType" #halfDayType="ngModel"
                                [(ngModel)]="coffModel.halfDayType" />
                              <label for="SecondHalf">Second Half</label>
                            </div>
                           
                          </div>
                          

                          <div class="form-row "  *ngIf='coffModel.coffType == "Half Day"'>
                              <label> Coff Generated Half Day Date<span style="color: red">*</span></label>
                              <select name="type" class="form-control" name="dateAndT"
                                [(ngModel)]="coffModel.coffCreditedId">
                                <option hidden [value]="slectecdoption">
                                  select Date</option>
                                <option value="{{item.coffCreditedId}}"
                                  *ngFor="let item of getHlafDayDate; let i = index;">
                                  {{item.extraWorkedDay | date:'yyyy-MMM-dd'}}</option>
                              </select>

                        
                            <!-- <div class="form-group col-md-12">
                              <div class="form-group col-md-8">
                                <label>Select Half Day Type</label>
                                <br>
                                <input type="radio" id="FistHalf" value="First Half" name="halfDayType" #halfDayType="ngModel"
                                  [(ngModel)]="coffModel.halfDayType" />
                                <label for="FistHalf">First Half</label>
    
                                <input type="radio" id="SecondHalf" value="Second Half" name="halfDayType" #halfDayType="ngModel"
                                  [(ngModel)]="coffModel.halfDayType" />
                                <label for="SecondHalf">Second Half</label>
                              </div>
                             
                            </div> -->
                            <!-- <div class="form-group col-md-12">
                              <label>For Date</label>
                              <input type="date" class="form-control" name="dateAndTimecoff" [ngModel]="coffModel.dateAndTime | date:'yyyy-MM-dd'"
                                #dateAndTimecoff="ngModel" (ngModelChange)="coffDateChanged($event)" />
                            </div> -->

                          </div>

                        
                            <div class="form-group" *ngIf='coffModel.coffType == "Full Day" && !isCoffEdit'>
                              <label>Coff Generated Date <span style="color: red">*</span></label>
                              <select name="type" class="form-control" name="dateAndTime2" [(ngModel)]="coffModel.coffCreditedId"
                                required>

                                <option hidden [value]="selectedopt">
                                  select Date

                                </option>

                                <option value="{{item.coffCreditedId}}" *ngFor="let item of getfullDayDate; let i = index;">
                                  {{item.extraWorkedDay | date:'dd-MMM-yyyy'}}

                                </option>
                              </select>
                            </div>

                        

                          <div class="form-group" style="margin-top:10px;">
                            <label>For Date</label>
                            <input type="date" class="form-control" placeholder="dd-MM-yyyy, hh:mm" name="coffdateAndTime"
                              [ngModel]="coffModel.dateAndTime | date:'yyyy-MM-dd'" #coffdateAndTime="ngModel"
                              (ngModelChange)="coffDateChanged($event)" />

                            <!-- <input type="date" class="form-control" placeholder="mm/dd/yyyy, hh:mm" name="dateAndTime"
                        [ngModel]="personalReqModel.dateAndTime | date:'yyyy-MM-dd'" #startdate="ngModel" (ngModelChange)="selectPRStartDate($event)"/> -->
                          </div>

                          <div class="form-group col-md-12" *ngIf="isCoffEdit">
                            <label>Select Date</label>
                            <input type="date" class="form-control" placeholder="dd-MM-yyyy, hh:mm" name="coffdateAndTimeext"
                              [ngModel]="coffModel.extraWorkedDay | date:'yyyy-MM-dd'" #coffdateAndTimeext="ngModel"
                              disabled />
                          </div>

                          <div class="form-group">
                            <label>Reason For Coff <span style="color: red">*</span></label>
                            <textarea class="form-control" id="reson" name="reson" name="reson" rows="3" [(ngModel)]="coffModel.reson"
                              #reson="ngModel" required></textarea>
                            <div class="help-block" *ngIf="reson.errors?.required && reson.touched">
                              <small style="color: red">Reason For C-off required</small></div>

                          </div>

                          <div class="form-group">
                            <button type="button" (click)='onSubmitCoff()' class="btn btn-primary" [disabled]='f.invalid'>Apply</button>
                            &nbsp;
                            <button type="button" (click)="resetCoff()" class="btn btn-info" >Reset</button>
                          </div>
                        </div>


                        <!-- START for apply Staggered Off Form Design -->
                        <div *ngIf="soffFlag">
                          <div class="form-row">
                            <div class="form-group col-md-6" *ngIf="!isSoffEdit">
                              <label>Staggered Off Generated Date <span style="color: red">*</span></label>
                              <select name="type" class="form-control" name="soffDate" [(ngModel)]="soffModel.soffCreditId"   (change)="getCollapseDate($event,soffModel.soffCreditId)"required>
                                <option hidden [value]="selectedopt">
                                  select Date
                                </option>
                                <option value="{{item.soffCreditId}}" *ngFor="let item of getSofffullDayDate; let i = index;">
                                  {{item.soGenToDate | date:'dd-MMM-yyyy'}}
                                </option>
                              </select>
                            </div>
                            
                            <div class="form-group col-md-6" *ngIf="isSoffEdit">
                              <label>Staggered Off Generated Date</label>
                              <input type="date" class="form-control" placeholder="dd-MM-yyyy, hh:mm" name="soffdateAndTimeext"
                                [ngModel]="soffModel.soGenToDate | date:'yyyy-MM-dd'" #soffdateAndTimeext="ngModel"
                                disabled />
                            </div>
                            
                            <div class="form-group col-md-6">
                              <label for="Collapse Date">Collapse On Date</label>
                              <input type="text" class="form-control" name="soffCollapseDate" 
                              [ngModel]="soffModel.collapsDate | date:'dd-MMM-yyyy'" #collapsDate="ngModel"  style="height: 33px;"readonly>
                            </div>
                          </div>
                          <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>Staggered Off For Date<span style="color: red">*</span></label>
                            <input type="date" value="{{defaultDate}}" class="form-control" placeholder="dd-MM-yyyy, hh:mm" name="staggereOffDate" [ngModel]="soffModel.forDate | date:'yyyy-MM-dd'" #StaggeredOffForDate="ngModel" (ngModelChange)="soffForDate($event)" required/>
                            <div class="help-block" *ngIf="StaggeredOffForDate > collapsDate">
                              <small style="color: red">Staggered Off For Date Should be less than Collapse Date
                              </small>
                          </div>
                          </div>
                          </div>

                          <div class="form-group">
                            <label>Reason<span style="color: red">*</span></label>
                            <textarea class="form-control" id="sOffreson" name="reson" name="reson" rows="3" [(ngModel)]="soffModel.reson" required></textarea>
                          </div>

                          <div class="form-group">
                            <button type="button" class="btn btn-primary" (click)="onSubmitSoff()"  [disabled]='f.invalid'>Apply</button>
                            &nbsp;
                            <button type="button" class="btn btn-info" (click)="resetSoff()" *ngIf="!isSoffEdit" >Reset</button>
                            <button type="button" class="btn btn-info" (click)="cancelSoff()" *ngIf="isSoffEdit" >Cancel</button>
                          </div>
                        </div>
                         <!-- END for apply Staggered Off Form Design -->
                      </form>
                    </div>
                  </div>

                </div>
              </div>
              <div class="row"></div>

              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="row">
                   
                    <div class="col-md-6">

                    </div>
                 



                  </div>
                </div>
              </div>


            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

              <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="row">

                    <!-- ==================SECOND HALF V================= -->
                    <div class="col-md-12">

                      <div>
                        <div class="filter">
                          <div class="row justify-content-end">

                              <div class="col-md-4">
                                  <div class="form-group">

                               <input type="radio" id="Fist"   value="leave" name="halfDay" #First='ngModel' [(ngModel)]='coffOrLeave' (ngModelChange)="list()"
                                 />
                              <label for="Fist">Leave</label>

                              <input type="radio" id="Second" value="coff" name="halfDay1" #First='ngModel' [(ngModel)]='coffOrLeave' (ngModelChange)="list()"
                                />
                              <label for="Second">Coff</label>

                              <!-- <input type="radio" id="Third" value="soff" name="soff" #First='ngModel' [(ngModel)]='coffOrLeave' (ngModelChange)="list()"/>
                              <label for="Third">Soff</label> -->
                                    
                         </div>
                                </div>

                            <div class="col-md-4">
                              <div class="form-group">
                                <form class="form-inline" action="/action_page.php">
                                  <label for="date" class="mr-sm-2">From Date:</label>

                                  <input type="date" class="form-control" name="thisdate" [ngModel]="tempModel.thisdate | date:'yyyy-MM-dd'"
                                    #thisdate="ngModel" (ngModelChange)="selectThisDate($event)" style="width:75%" id="frmdate">
                                </form>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <select name="filter" [(ngModel)]="statusType" (ngModelChange)="statusTypeChanged($event)"
                                  class="form-control filter-box">
                                  <!-- <option value="Joint" class="filter">Filter</option> -->
                                  <!-- <option value="All">All</option> -->
                                  <option value="Pending">Pending</option>
                                  <option value="Approved">Approved</option>
                                  <option value="Rejected">Rejected</option>
                                  <option value="suggested">Suggested</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="table-responsive" *ngIf='First.value=="leave"'>
                            <table id="emplisttable" class="table table-striped table-bordered" style="width:100%">
                              <thead class="thead-dark">
                                <tr>
                                  <th>Sr.No</th>
                                  <th>From Date</th>
                                  <th>To Date</th>
                                  <th>Leave Name</th>
                                 
                                  <th>Type Of Leave</th>
                                  <th>Reason</th>
                                
                                  <th>Status</th>

                                  <th class="action">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of leaveApplicationList; let i = index;">
                                  <td *ngIf='item.leaveOrCoff == "leave"'>{{i+1}}</td>
                                  <td *ngIf='item.leaveOrCoff == "leave"'>{{item.startDate | date:'dd-MMM-yyyy'}}</td>
                                  
                                  <td *ngIf='item.leaveOrCoff == "leave"'>{{item.endDate | date:'dd-MMM-yyyy'}}</td>
                                  <td *ngIf='item.leaveOrCoff == "leave"'>{{item.leaveCode}}</td>
                                  
                                  <td *ngIf='item.leaveOrCoff == "leave"'>{{item.typeOfLeave}}</td>
                                  
                                  <td *ngIf='item.leaveOrCoff == "leave"'>{{item.leaveReson}}</td>
                                  
     
                                  <td class="statustd" *ngIf="item.finalStatus == 'Pending'&& item.leaveOrCoff == 'leave'">
                                    <span class="statusofleave3" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="leaveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>

                                 

                                  <td class="statustd" *ngIf="item.finalStatus == 'Approved'&& item.leaveOrCoff == 'leave' ">
                                    <span class="statusofleave" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="leaveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                               
                                  <td class="statustd" *ngIf="item.finalStatus == 'Rejected'&& item.leaveOrCoff == 'leave'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="leaveApproveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                
                                  <td class="statustd" *ngIf="item.finalStatus == 'Cancel'&& item.leaveOrCoff == 'leave'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="leaveApproveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                
                                  <td class="statustd" *ngIf="item.finalStatus == 'suggested'&& item.leaveOrCoff == 'leave'">
                                    <span class="statusofleaves" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="leaveApproveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  
                                  <td *ngIf='item.leaveOrCoff == "leave"'>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-pencil btn" (click)="editLeave(item)"></i>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-trash btn" (click)="getLeave(item)"
                                      data-toggle="modal" data-target="#AreYouSure"></i>
                                  </td>
                               
                                </tr>

                              </tbody>
                            </table>
                          </div>
                          <!-- /////////////////////////////////////////////////////////////////////////////////////////////// -->

                          <!-- ////////////////////////////////////////////////////////////////////////////////////////////////// -->
                          <div class="table-responsive" *ngIf='First.value=="coff"'>
                              <table id="emplisttable" class="table table-striped table-bordered" style="width:100%">
                                <thead class="thead-dark">
                                  <tr>
                                    <th>Sr.No</th>
                                    <th>Selected date</th>
                                    <th>For Date</th>
                                    <th>Leave Name</th>
                                    <th>Type Of Leave</th>
                                    <th>Reason</th>
                                    <th>Status</th>
                                    <th class="action">Action</th>
                                  </tr>
                    
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of leaveApplicationList; let i = index;">
                                    <td *ngIf='item.leaveOrCoff == "coff"'>{{i+1}}</td>

                                    <td *ngIf='item.leaveOrCoff == "coff"'>{{item.extraWorkedDay | date:'dd-MMM-yyyy'}}</td>
                               
                                    <td *ngIf='item.leaveOrCoff == "coff"'>{{item.dateAndTime | date:'dd-MMM-yyyy'}}</td>
                                   
                               
                                    <td *ngIf='item.leaveOrCoff == "coff"'>{{item.leaveName}}</td>
                             
                                    <td *ngIf='item.leaveOrCoff == "coff"'>{{item.coffType}}</td>
                                 
                                    <td *ngIf='item.leaveOrCoff == "coff"'>{{item.reson}}</td>
  
                                    <td class="statustd" *ngIf="item.finalStatus == 'Pending' && item.leaveOrCoff == 'coff'">
                                      <span class="statusofleave3" data-toggle="modal" data-target="#myModalcheckstatus1">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                      </span>
                                    </td>
  
                                    <td class="statustd" *ngIf="item.finalStatus == 'Approved' && item.leaveOrCoff == 'coff' ">
                                      <span class="statusofleave" data-toggle="modal" data-target="#myModalcheckstatus1">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                      </span>
                                    </td>
                               
                                    <td class="statustd" *ngIf="item.finalStatus == 'Rejected'&& item.leaveOrCoff == 'coff'">
                                      <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus1">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                      </span>
                                    </td>
                               
                                    <td class="statustd" *ngIf="item.finalStatus == 'Cancel' &&  item.leaveOrCoff == 'coff'">
                                      <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus1">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                      </span>
                                    </td>
                                 
                                    <td class="statustd" *ngIf="item.finalStatus == 'suggested'&&  item.leaveOrCoff == 'coff'">
                                      <span class="statusofleaves" data-toggle="modal" data-target="#myModalcheckstatus1">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                      </span>
                                    </td>
                                  
                                    <td *ngIf='item.leaveOrCoff == "coff"'>
                                      <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-pencil btn" (click)="editCoffRequest(item)"></i>
                                      <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-trash btn" data-toggle="modal"
                                        (click)="deleteCoffRequest(item)" data-target="#AreYouSuredltcOff"></i>
                                    </td>
                                  </tr>
  
                                </tbody>
                              </table>
                          </div>
                          <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                          
                          <!-- START of Staggered of List Table -->
                          <div class="table-responsive" *ngIf='First.value=="soff"'>
                            <table id="emplisttable" class="table table-striped table-bordered" style="width:100%">
                              <thead class="thead-dark">
                                <tr>
                                  <th>Sr.No</th>
                                  <th>Soff For Date</th>
                                  <th>Soff Generated Date</th>
                                  <th>Collapse Date</th>
                                  <th>Leave Name</th>
                                  <th>Reason</th>
                                  <th>Status</th>
                                  <th class="action">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of leaveApplicationList; let i = index;">
                                  <td *ngIf='item.leaveOrCoff == "soff"'>{{i+1}}</td>
                                  <td *ngIf='item.leaveOrCoff == "soff"'>{{item.forDate | date:'dd-MMM-yyyy'}}</td>

                                  <td *ngIf='item.leaveOrCoff == "soff"'>{{item.soGenToDate | date:'dd-MMM-yyyy'}}</td>
                                 
                             
                                  <td *ngIf='item.leaveOrCoff == "soff"'>{{item.collapsDate | date:'dd-MMM-yyyy'}}</td>

                                  <td *ngIf='item.leaveOrCoff == "soff"'>{{item.leaveName}}</td>
                               
                                  <td *ngIf='item.leaveOrCoff == "soff"'>{{item.reson}}</td>

                                  <td class="statustd" *ngIf="item.finalStatus == 'Pending' && item.leaveOrCoff == 'soff'">
                                    <span class="statusofleave3" data-toggle="modal" data-target="#myModalcheckstatus1">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>

                                  <td class="statustd" *ngIf="item.finalStatus == 'Approved' && item.leaveOrCoff == 'soff' ">
                                    <span class="statusofleave" data-toggle="modal" data-target="#myModalcheckstatus1">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                             
                                  <td class="statustd" *ngIf="item.finalStatus == 'Rejected'&& item.leaveOrCoff == 'soff'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus1">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                             
                                  <td class="statustd" *ngIf="item.finalStatus == 'Cancel' &&  item.leaveOrCoff == 'soff'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus1">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                               
                                  <td class="statustd" *ngIf="item.finalStatus == 'suggested'&&  item.leaveOrCoff == 'soff'">
                                    <span class="statusofleaves" data-toggle="modal" data-target="#myModalcheckstatus1">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  <td *ngIf='item.leaveOrCoff == "soff"'>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-pencil btn" (click)="editSoffRequest(item.staggeredOffReqAndApproveId)"></i>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-trash btn" data-toggle="modal"
                                      (click)="deleteSoffRequest(item.staggeredOffReqAndApproveId, item.soffCreditId)" data-target="#AreYouSureDeleteSOff"></i>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                          <!-- END of Staggered of List Table -->
                          
                          <div class="statusclr">
                            <ul>
                              <li>Approved :
                                <span class="statusofleave statusicon">
                                  <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                              </li>
                              <li>Rejected :
                                <span class="statusofleave2 statusicon">
                                  <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                              </li>
                              <li>Pending :
                                <span class="statusofleave3 statusicon">
                                  <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                              </li>
                              <li>Suggested :
                                <span class="statusofleaves statusicon">
                                  <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- ==================SECOND HALF V================= -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="pills-suggest" role="tabpanel" aria-labelledby="pills-suggest-tab">


              <!-- +++++++++++++++++++++++++++++++++ -->


              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <!-- Leave Requests -->
                <div class="panel panel-default"  *ngIf="leaveSuggestionList.length">
                  <div class="panel-heading mpr" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseOne" id="missCol">
                        <i class="more-less fa fa-plus-circle" aria-hidden="true"></i>
                        Leave Suggestion

                        <!-- <span  class="badge badge-danger">{{leaveSuggestionList.length}}</span> -->

                        <span *ngIf="leaveSuggestionList.length"
                          class="badge badge-danger">{{leaveSuggestionList.length}}</span>
                        <span *ngIf="!leaveSuggestionList.length" class="badge badge-danger"></span>
                    
                      </a>
                    </h4>
                  </div>


                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">

                      <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <!-- <th scope="col"></th> -->
                            <th scope="col">Suggested By</th>
                            <th scope="col">For Date</th>
                            <th scope="col">Suggested Date</th>
                            <th scope="col">Requet Type</th>

                          </tr>
                        </thead>

                        <tbody *ngFor="let item of leaveSuggestionList;let i=index">

                          <tr>

                            <td data-toggle="collapse" [attr.data-target]="'#L' + i" data-parent="#collapseOne">
                              {{item.fullName}} {{item.lastName}}</td>
                            <td data-toggle="collapse" [attr.data-target]="'#L' + i" aria-expanded="false"
                              aria-controls="group-of-rows-1" data-parent="#collapseOne">
                              <span *ngIf="item.startDate == item.endDate">{{item.startDate | date : 'dd-MMM-yyyy'}}</span>
                              <span *ngIf="item.startDate != item.endDate">{{item.startDate | date : 'dd-MMM-yyyy'}} To {{item.endDate | date : 'dd-MMM-yyyy'}}</span>
                             </td>
                            <td data-toggle="collapse" [attr.data-target]="'#L' + i" aria-expanded="false"
                              aria-controls="group-of-rows-1" data-parent="#collapseOne" >
                              <span *ngIf="item.fromDate == item.toDate">{{item.fromDate | date : 'dd-MMM-yyyy'}}</span>
                              <span *ngIf="item.fromDate != item.toDate">{{item.fromDate | date : 'dd-MMM-yyyy'}} To {{item.toDate | date : 'dd-MMM-yyyy'}}</span>
                            </td>
                            <td data-toggle="collapse" [attr.data-target]="'#L' + i" aria-expanded="false"
                              aria-controls="group-of-rows-1">{{item.typeOfLeave}} {{item.leaveCode}}
                            </td>


                          </tr>

                        
                          <tr [attr.id]="'L' + i" class="collapse">


                            <td class="lvedetail lve1 w3-animate-top " colspan="12">
                              <div class="row " colspan="12">
                                <div class="col-md-6">
                                  <div class="p-4">
                                    <small>Applied On Date </small>
                                    <p class="mb-2">
                                      <span class="hilighttext">{{item.requestDateTimw | date :'dd-MMM-yyyy'}}</span>
                                    </p>


                                    <p *ngIf="item.fromDate == item.toDate">
                                      You have got Suggetion of Leave for date <span class="hilighttext">{{item.fromDate |
                                        date : 'dd-MMM-yyyy'}}</span>  against
                                      date for {{item.leaveCode}} Leave
                                      <span class="hilighttext">{{item.startDate | date : 'dd-MMM-yyyy'}}</span> 
                                      <br> Reason : {{item.reason}}
                                    </p>

                                    <p *ngIf="item.fromDate != item.toDate">
                                      You have got Suggetion of Leave dates <span class="hilighttext">{{item.fromDate |
                                        date : 'dd-MMM-yyyy'}}</span> To
                                      <span class="hilighttext">{{item.toDate | date : 'dd-MMM-yyyy'}}</span> against
                                      dates
                                      <span class="hilighttext">{{item.startDate | date : 'dd-MMM-yyyy'}}</span> To
                                      <span class="hilighttext">{{item.endDate | date : 'dd-MMM-yyyy'}}</span>
                                      for {{item.leaveCode}} Leave
                                      <br> Reason : {{item.reason}}
                                    </p>
                                  </div>

                                </div>
                                <div class="col-md-6">
                                  <div class="p-4">
                                    <textarea class="form-control" id="remark" placeholder="Remark" rows="4" name="leaveApproveRemark"
                                      #requestType="ngModel" [(ngModel)]="item.approverRemark"></textarea>
                                    <div class="actionicons float-right">

                                      <i class="fa fa-check-circle btn" data-toggle="tooltip" title="Accept !"
                                        aria-hidden="true" (click)="acceptSuggestion(item,i)"></i>

                                      <i class="fa fa-times-circle btn" data-toggle="tooltip" title="Reject !"
                                        aria-hidden="true" (click)="rejectSuggestion(item,i)"></i>

                                      <i class="fa fa-repeat btn" data-toggle="tooltip" title="ReApply !" aria-hidden="true"
                                        (click)="reApplyLeave(item,i)"></i>

                                    </div>
                                  </div>

                                </div>
                              </div>

                            </td>
                          </tr>

                        </tbody>

                      </table>
                      <!-- <div class="row">
                    <div class="col-md-12">
                      <div class="float-right">
                        <button class="btn btn-primary btn-sm" (click)="approveMissPunchRequest()">Approve!</button>
                      </div>
                    </div>

                  </div> -->
                    </div>

                  </div>
                </div>
              </div>


              <!-- +++++++++++++++++++++++++++++++++ -->


              <!-- +++++++++++++++++++++++++++++++++++++2++++++++++++ -->

              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <!-- Leave Requests -->
                <div class="panel panel-default" *ngIf="AllHRRequestToWorkList.length > '0'">
                  <div class="panel-heading mpr" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsethree"
                        aria-expanded="true" aria-controls="collapseOne" id="missCol1">
                        <i class="more-less fa fa-plus-circle" aria-hidden="true"></i>
                        Extra Working 

                        <span *ngIf="AllHRRequestToWorkList.length > '0'"
                          class="badge badge-danger">{{AllHRRequestToWorkList.length}}</span>
                        <span *ngIf="!AllHRRequestToWorkList.length > '0'" class="badge badge-danger"></span>
                        <span class="badge badge-danger"></span>
                        <span class="badge badge-danger"></span>
                      </a>
                    </h4>
                  </div>


                  <div id="collapsethree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">

                      <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <!-- <th scope="col"></th> -->
                            <th scope="col">Name</th>
                            <th scope="col">Shift Name</th>
                            <th scope="col">Working Date</th>

                          </tr>
                        </thead>

                        <tbody *ngFor="let data of AllHRRequestToWorkList;let j=index">

                          <tr>

                            <td data-toggle="collapse" [attr.data-target]="'#LE' + j" data-parent="#collapseTwo">
                              {{data.fullName}} {{data.lastName}}</td>
                            <!-- <td data-toggle="collapse" [attr.data-target]="'#L' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1" data-parent="#collapseOne">Account {{item.deptName}}</td> -->
                            <td data-toggle="collapse" [attr.data-target]="'#LE' + j" aria-expanded="false"
                              aria-controls="group-of-rows-1" data-parent="#collapseTwo">{{data.shiftName}}</td>
                            <td data-toggle="collapse" [attr.data-target]="'#LE' + j" aria-expanded="false"
                              aria-controls="group-of-rows-1" data-parent="#collapseTwo">
                              {{data.workingDate | date : 'dd-MMM-yyyy'}}</td>

                          </tr>
                          <tr [attr.id]="'LE' + j" class="collapse">
                            <td class="lvedetail lve1 w3-animate-top " colspan="12">
                              <div class="row " colspan="12">
                                <div class="col-md-6">
                                  <div class="p-4">
                                    <small>Applied Date </small>
                                    <p class="mb-2">
                                      {{data.appliedDate | date : 'dd-MMM-yyyy'}}
                                    </p>

                                    <p>
                                     Reason : {{data.reason}}
                                    </p>
                                  </div>

                                </div>
                                <div class="col-md-6">
                                  <div class="p-4">
                                    <textarea class="form-control" id="remark" placeholder="Remark" rows="4" name="empReason"
                                      #empReason="ngModel" [(ngModel)]="data.empReason"></textarea>
                                    <div class="actionicons float-right">

                                      <i class="fa fa-check-circle btn" data-toggle="tooltip" title="Accept !"
                                        aria-hidden="true" (click)="acceptHRworkingRequest(data,j)"></i>

                                      <i *ngIf="data.empReason" class="fa fa-times-circle btn" data-toggle="tooltip"
                                        title="Reject !" aria-hidden="true" (click)="rejectHRworkingRequest(data,j)"></i>

                                      <i *ngIf="!data.empReason" class="fa fa-times-circle circle1 btn" data-toggle="tooltip"
                                        title="Reject !" aria-hidden="true"></i>

                                    </div>
                                  </div>

                                </div>
                              </div>

                            </td>
                          </tr>

                        </tbody>

                      </table>

                    </div>

                  </div>
                </div>
              </div>



              <!-- +++++++++++++++++++++++++++++++++++++2++++++++++++ -->

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal fade" id="AreYouSure">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want To Delete Leave?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)='modelEvent()' data-dismiss="modal" class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="myModalcheckstatus">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Work Flow History</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <table id="example" class="flowhistorytable table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Level</th>
                  <!-- <th>Assigned To</th>
                            <th>Approver Code</th> -->
                  <th>Approver Name</th>
                  <th>Request Status</th>
                  <th>Approval Date</th>
                  <th>Remark</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of workFlowList ; let i = index">
                  <td>Level - {{i+1}}</td>
                  <!-- <td>Ramesh Patil</td>
                            <td>RIT-300</td> -->
                  <td>{{item.fullName}} {{item.lastName}}</td>
                  <td *ngIf="item.status == 'Pending'"><span class="badge badge-warning">{{item.status}}</span></td>
                  <td *ngIf="item.status == 'Approved'"><span class="badge badge-success">{{item.status}}</span></td>
                  <td *ngIf="item.status == 'Reject'"><span class="badge badge-danger">{{item.status}}</span></td>
                  <td>{{item.approvalDate}}</td>
                  <td>{{item.remark}}</td>
                </tr>

            </table>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="myModalcheckstatus">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Work Flow History</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <table id="example" class="flowhistorytable table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Level</th>
                  <!-- <th>Assigned To</th>
                          <th>Approver Code</th> -->
                  <th>Approver Name</th>
                  <th>Request Status</th>
                  <th>Approval Date</th>
                  <th>Remark</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of workFlowList ; let i = index">
                  <td>Level - {{i+1}}</td>
                  <!-- <td>Ramesh Patil</td>
                          <td>RIT-300</td> -->
                  <td>{{item.fullName}} {{item.lastName}}</td>
                  <td *ngIf="item.status == 'Pending'"><span class="badge badge-warning">{{item.status}}</span></td>
                  <td *ngIf="item.status == 'Approved'"><span class="badge badge-success">{{item.status}}</span></td>
                  <td *ngIf="item.status == 'Reject'"><span class="badge badge-danger">{{item.status}}</span></td>
                  <td>{{item.approvalDate | date : 'dd-MMM-yyyy'}}</td>
                  <td>{{item.remark}}</td>
                </tr>

            </table>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-lg">

        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-area">
            <div class="row">
              <div class="col-md-8">

                <div class="p-2">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="jzdbox1 jzdbasf jzdcal">
                    <div class="calendarm">
                      <div class="calendar-header">
                        <div class="row">
                          <div class="col" (click)="goToLastMonth()">
                            <button class="prevnext">
                              <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                            </button>
                          </div>
                          <div class="col">
                            <div class="jzdcalt">{{currentMonth}} {{currentYear}}</div>
                          </div>
                          <div class="col" (click)="goToNextMonth()">
                            <button class="prevnext">
                              <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="calendar-body">
                        <div class="grid1">
                          <div class="row">
                            <div class="col week">Su</div>
                            <div class="col week">Mo</div>
                            <div class="col week">Tu</div>
                            <div class="col week">We</div>
                            <div class="col week">Th</div>
                            <div class="col week">Fr</div>
                            <div class="col week">Sa</div>
                          </div>
                          <div class="row">
                            <div class="col date prvdate" *ngFor="let lastDay of daysInLastMonth">o</div>
                            <div class="col date" *ngFor="let days of daysInThisMonth" [ngSwitch]="days.status">

                              <div *ngSwitchCase="'P'" class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'">{{days.day}}</div>
                              <div class="absent" *ngSwitchCase="'A'" data-title="'{{days.checkIn }}''{{days.checkOut}}'">{{days.day}}</div>
                              <div *ngSwitchCase="'WO'" class="holidayweekoff">{{days.day}}</div>
                              <div *ngSwitchCase="'LT'" class="lateearlympunch" data-title="'{{days.checkIn}}''{{days.checkOut}}'">{{days.day}}</div>
                              <div *ngSwitchCase="'Ot'" class="other" (click)="selectDate(days.day)">{{days.day}}</div>
                              <div *ngSwitchCase="'LCOD'" class="leavecoffod">{{days.day}}</div>

                              <div *ngSwitchCase="'L'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                              </div>
                              <div *ngSwitchCase="'CO'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                              </div>
                              <div *ngSwitchCase="'OD'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                              </div>
                              <div class="holiday" title="'{{days.checkIn}}'" *ngSwitchCase="'HO'">
                                {{days.day}}
                              </div>
                              <!-- <div *ngSwitchCase="'Ot'" class="" (click)="selectDate(days.day)">{{days.day}}</div> -->
                            </div>
                            <div class="col date nxtdate" *ngFor="let nextDay of daysInNextMonth">o</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 p-0">

                <div class="abribg">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Present:
                      <span class="stbg"><i class="fa prsent fa-circle" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Absent:
                      <span class="stbg"><i class="fa absnt fa-circle" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Weekly off/Holiday:
                      <span class="stbg"><i class="fa wwekoddholiday fa-circle" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Leave/Coff/OD:
                      <span class="stbg"><i class="fa leaveodcoff fa-circle" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Late/Early/Half Day/Short Hours/Miss Punch:
                      <span class="stbg"><i class="fa erly fa-circle" aria-hidden="true"></i></span>
                    </li>
                  </ul>
                  <div class="calbg">
                    <img src="/src/assets/calbg.png">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="AreYouSuredltcOff">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete Coff Request..??</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)='dltCOffmodelEvent()' data-dismiss="modal"
            class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>

  <!-- START OF staggered of Delete data confirmation model  -->
  <div class="modal fade" id="AreYouSureDeleteSOff">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete Staggered Off  Request..??</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)='dltSOffmodelEvent()' data-dismiss="modal"
            class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>
  <!-- END OF staggered of Delete data confirmation model  -->