#myModalcheckstatus{
  padding-top:5%;
  background-color: rgba(34, 34, 34, 0.8);
}
.flowhistorytable{
  border: none !important;
  border-collapse: separate !important;
  border-spacing: 0 !important;
}
.flowhistorytable th, .flowhistorytable td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(255, 255, 255);
}
.opencalendar{
  margin-top: 2rem;
  float: right;
  width: 38px;
  border-radius: 5px !important;
  height: 38px;
}
.abribg{
  width:100%;
  height:100%;
  background: linear-gradient(135deg, #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius:0 .3rem .3rem 0;
}
.list-group-item{
  background: none;
  color:white
}
.calbg img{
  position: absolute;
  bottom: 0;
}
.p-0{
  padding:0 !important;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 0px) !important;
}
input[type="radio"] + label {
    position: relative;
    cursor: pointer;
    margin: 10px;
    padding-left: 35px;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label:before {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #1565C0;
    -moz-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
    -webkit-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
    box-shadow: inset 0 0 0 18px #E0E0E0;
}
input[type="radio"] + label:before, input[type="radio"] + label:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
input[type="radio"]:checked + label:before {
    -moz-box-shadow: inset 0 0 0 4px #E0E0E0;
    -webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
    box-shadow: inset 0 0 0 4px #E0E0E0;
}
input[type="radio"]:checked + label:after {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -moz-animation: ripple 1s none;
    -webkit-animation: ripple 1s none;
    animation: ripple 1s none;
}
input[type="radio"] + label:after {
    top: 49%;
    left: 9px;
    width: 54px;
    height: 54px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.3);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}


.lve1{
  stroke-linecap: round;
  border-left: 3px solid red !important;
  margin-bottom: 5px;
}
.table {
  border: none !important;
  border-spacing: 0 1em !important;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: middle !important;
  border-top: 0px solid #dee2e6 !important;
}
tr:hover {
  background: aliceblue;
}
.fa-check-circle {
  font-size: 1.5rem;
  padding: 0;
  color: green;
}
.fa-times-circle {
  font-size: 1.5rem;
  padding: 0;
  color: rgb(173, 0, 0);
}
.fa-repeat{
  font-size: 1.4rem;
  padding: 0;
  color: rgb(44, 95, 206);
}

/* ==================CHATBOT============= */
.chatbot{
    width: 380px;
    height: 400px;
    padding:1rem;
    background: linear-gradient(to bottom, rgb(146, 161, 196) 0%,rgb(109, 132, 185) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 0.356rem;
}
.chat-box{
    box-shadow: 0px 0px 12px 0px #313131;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0.356rem;
   
}

hr {
	background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

input {
	/* border: 0; */
	color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

/* ---------- LIVE-CHAT ---------- */

#live-chat {
	bottom: 0;
	font-size: 12px;
	right: 24px;
	position: fixed;
	width: 300px;
}

#live-chat header {
  background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-radius: 5px 5px 0 0;
	color: #fff;
	cursor: pointer;
	padding: 16px 24px;
}

#live-chat h4:before {
    background: #00ff3b;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 8px;
	margin: 0 8px 0 0;
	width: 8px;
}

#live-chat h4 {
	font-size: 16px;
}

#live-chat h5 {
	font-size: 10px;
}

#live-chat form {
    padding: 24px;
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#live-chat input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	outline: none;
	width: 100%;
}

.chat-message-counter {
	background: #e62727;
	border: 1px solid #fff;
	border-radius: 50%;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	left: 0;
	line-height: 28px;
	margin: -15px 0 0 -15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 28px;
}

.chat-close {
	background: #ffffff;
	border-radius: 50%;
	color: rgb(0, 0, 0);
	display: block;
	float: right;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin: 10px 0 0 0;
	text-align: center;
	width: 16px;
}

.chat {
	background: #fbfbfb;
}

.chat-history {
	height: 280px;
	padding: 8px 24px;
	overflow-y: scroll;
}

.chat-message {
	margin: 16px 0;
}

.chat-message .fa {
    color:#036d8e;
    border-radius: 50%;
    font-size:2rem;
	float: left;
}

.chat-message-content {
	margin-left: 56px;
}

.chat-time {
	float: right;
	font-size: 10px;
}

.chat-feedback {
	font-style: italic;	
	margin: 0 0 0 80px;
}
a { text-decoration: none; }

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
/* ---------- LIVE-CHAT ---------- */

.sectionClass {
    position: relative;
    display: block;
  }
  
  .fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
  }
  
  
  .sectiontitle {
    background-position: center;
    margin: 30px 0 0px;
    text-align: center;
    min-height: 20px;
  }
  
  .sectiontitle h2 {
    font-size: 15px;
    color: #222;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  
  .headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    /* background: #101F2E; */
  }
  
  
  .projectFactsWrap{

    border-radius: 0.365rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
      display: flex;
    margin-top: 26px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
  #projectFacts .fullWidth{
    padding: 0;
  }
  
  .projectFactsWrap .item{
    width: 25%;
    height: 100%;
    padding: 20px 0px;
    text-align: center;
  }
  
  .projectFactsWrap .item:nth-child(1){
    /* background: rgb(16, 31, 46); */
    border-radius:0.365rem 0 0 0.365rem;
  }
  
  .projectFactsWrap .item:nth-child(2){
    /* background: rgb(18, 34, 51); */
  }
  
  .projectFactsWrap .item:nth-child(3){
    /* background: rgb(21, 38, 56); */
  }
  
  .projectFactsWrap .item:nth-child(4){
    /* background: rgb(23, 44, 66); */
    border-radius:0 0.365rem 0.365rem 0;
  }
  
  .projectFactsWrap .item p.number{
    font-size: 20px;
    padding: 10;
    font-weight: bold;
  }
  .projectFactsWrap .item p.number1{
    font-size: 15px;
    padding: 10;
    font-weight: bold;
  }
  .projectFactsWrap .item p{
    color: rgba(39, 39, 39, 0.8);
    font-size: 12px;
    margin: 0;
    padding: 5px;
    font-family: 'Roboto';
  }
  
  
  .projectFactsWrap .item span{
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    height: 0px;
    display: block;
    margin: 0 auto;
  }
  
  
  .projectFactsWrap .item i{
    vertical-align: middle;
    font-size: 18px;
    color: rgba(20, 22, 43, 0.8);
  }
  
  
  .projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
    color: rgb(34, 34, 34);
  }
  
  .projectFactsWrap .item:hover span{
    background: white;
  }
  
  @media (max-width: 786px){
    .projectFactsWrap .item {
       flex: 0 0 50%;
    }
  }
  
  /* AUTHOR LINK */
  
  
  footer{
    z-index: 100;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  footer p {
  color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    opacity: 0;
    font-family: 'Open Sans';
    width: 100%;
      word-wrap: break-word;
    line-height: 25px;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    margin: 0;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
  }
  
  footer .authorWindow a{
    color: white;
    text-decoration: none;
  }
  
  footer p strong {
      color: rgba(255, 255, 255, 0.9);
  }
  
  .about-me-img {
    width: 120px;
    height: 120px;
    left: 10px;
    /* bottom: 30px; */
    position: relative;
    border-radius: 100px;
  }
  

  
  
  .authorWindow{
    width: 600px;
    background: #75439a;
    padding: 22px 20px 22px 20px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .authorWindowWrapper{
    display: none;
    left: 110px;
    top: 0;
    padding-left: 25px;
    position: absolute;
  }
  
  
  
  
  
  .trans{
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  @media screen and (max-width: 768px) {
      .authorWindow{
           width: 210px;
      }
  
      .authorWindowWrapper{
               bottom: -170px;
    margin-bottom: 20px;
      }
  
      footer p{
            font-size: 14px;
      }
  }
  

  /* =================CALENDAR============== */
  .jzdbox1 {
    /* width:95%;  */
    /* background:#332f2e;  */
    border-radius:5px; 
    overflow:hidden; 
    display:block; 
    margin-bottom:10px; 
    /* box-shadow:0 0 10px #201d1c;  */
    margin:0 auto; 
    margin-top:1rem;
  }
  
  .jzdcal {
    padding:0 10px 10px 10px; 
    box-sizing:border-box!important; 

    /* background: -webkit-linear-gradient(#172c42, #037599)!important; 
    background: -o-linear-gradient(#172c42, #037599)!important; 
    background: -moz-linear-gradient(#172c42, #037599)!important; 
    background: linear-gradient(#172c42, #037599)!important; */
  }
  
  .jzdcalt {
    font: 18px 'Roboto';
    width: 190px;
    font-weight: 700;
    /* color: #f7f3eb; */
    color: rgb(34, 34, 34);
    display: block;
    margin: 15px 0px 15px 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .jzdcal span {
    font:11px 'Roboto'; 
    font-weight:400; 
    /* color:#f7f3eb;  */
    color: rgb(34, 34, 34);
    text-align:center; 
    width:61px; 
    height:42px; 
    display:inline-block; 
    /* float:left;  */
    overflow:hidden; 
    line-height:40px;
  }
  
  .jzdcal .jzdb:before {
    opacity:0.3; 
    content:'o';
  }
  
  .circle {
    text-align: -webkit-center;
    width: 31px;
    border:1px solid #f7f3eb; 
    box-sizing:border-box!important; 
    border-radius:200px!important;
  }
  .leave {
    border:1px solid red; 
    box-sizing:border-box!important; 
    border-radius:200px!important;
  }
  
  span[data-title]:hover:after, 
  div[data-title]:hover:after {
    font:11px 'Roboto'; 
    font-weight:400; 
    content:attr(data-title); 
    position:absolute; 
    margin:0 0 100px; 
    background:#282423; 
    border:1px solid #f7f3eb; 
    /* color:#f7f3eb;  */
    color: rgb(34, 34, 34);
    padding:5px; 
    z-index:9999; 
    min-width:150px; 
    max-width:150px;
  }
  .absent{
    text-align: -webkit-center;
    width: 31px;
    padding: 0;
    border-radius: 4rem;
    background: #fa4747;
    /* color: rgb(255, 255, 255); */
    color: rgb(255, 255, 255);
  }
  button:focus {
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}
    /* =================CALENDAR============== */

    .table .thead-dark th {
      /* color: #fff !important; */
      color: rgb(247, 243, 243);
      background-color: #212529 !important;
      border-color: #32383e !important;
  }
  .table td, .table th {
    padding: .75rem;
    vertical-align: middle !important;
    border-top: 1px solid #dee2e6;
}
.action{
  text-align: center;
}
.fa-pencil{
  color:green;
}

.fa-pencil:hover{
  color:rgb(5, 44, 3);
}

.fa-erase:hover{
  color:rgb(24, 1, 1);
}

.btn {
  padding: .275rem .35rem !important;
}
  .statusofleave{
    color:green;
  }
  .statusofleave2{
    color:red;
  }

  /* .statusofleaves{
    color:rgba(0, 255, 0, 0.719);
  } */
  .statusofleave3{
    color:rgb(255, 208, 0);
  }
.statusclr{
  padding-top:0.5rem;
  float:right;
}
  li{
    display: inline;
    padding-right:1rem;
    list-style: none;
  }
  .statusicon{
    padding-left:2px;
  }

  .statustd{
    text-align: center;
  }
.absenticon{
color:#fa4747;
}
  .absenticon2{
color:#ffafaf;
}
.absenticon3{
  color:#00ca1b;
  }

  .prevnext{
    cursor: pointer;
    padding: 1rem !important;
    font-size: 22px;
    /* color: white; */
    color: rgb(34, 34, 34);
    background: none;
    border: none;
  }
.prevnext:hover{
  color: rgb(65, 99, 173);
}

.prevnext:hover{
  color: rgb(65, 99, 173);
}




  /* [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  } */
  .col {
    text-align: center;
    padding: 5px;
  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }
  .currentDate {
    font-weight:400;
    /* color:yellow; */
    color: #00abd2;
  }
  .calendar-header {
    /* background-color: #1a732d; */
    /* background: linear-gradient(#172c42, #037599)!important; */
    /* color: #FFFFFF; */
    color: rgb(34, 34, 34);
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  /* .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      font-weight: bold;
      border-bottom: solid 1px #1a732d;
      background-color: #26ab56;
    }
    .calendar-date {
      border-top: solid 1px #1a732d;
      border-bottom: solid 1px #1a732d;
    }
  } */
  .calendarm{
    padding:0 10px 10px 10px; 
    box-sizing:border-box!important; 
    /* background:#172c42; 
    color: rgb(34, 34, 34); */
    /* background: -webkit-linear-gradient(#172c42, #037599)!important; 
    background: -o-linear-gradient(#172c42, #037599)!important; 
    background: -moz-linear-gradient(#172c42, #037599)!important; 
    background: linear-gradient(#172c42, #037599)!important; */
  }
  /* .calendar-body {

    background: linear-gradient(#172c42, #037599)!important;
  } */
  .calendar-body .grid1{
    padding: 0;
  }
  .calendar-body .col:last-child {
    border-right: none;
  }
  .calendar-body .calendar-weekday, .calendar-date {
    text-align: center;
    margin: 0;
  }
  .calendar-body .calendar-weekday {
    border-bottom: solid 1px #1a732d;
    /* background-color: #26ab56; */
    /* background: linear-gradient(#172c42, #037599)!important; */
  }
  .calendar-body .calendar-date {
    border-top: solid 1px #1a732d;
    border-bottom: solid 1px #1a732d;
  }
  .col.date{
    text-align: -webkit-center;
    /* line-height: 30px; */
    font-weight: 600;
    height: 45px;
    font-size:11px 'Roboto';
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
    /* color: #f7f3eb; */

    color: rgb(34, 34, 34);
  }
  .col.week{
    /* color: #f7f3eb; */
    color: rgb(34, 34, 34);
  }
  .col {
        text-align: center;
        padding: 5px;
      }

      .prvdate, .nxtdate{
        color: rgba(148, 148, 148, 0.315) !important;
      }
.present{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(180, 255, 170);
}

.other{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;

}
.lateearlympunch{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(255, 140, 230);
}
.leavecoffod{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  color:white;
  background: rgb(67, 111, 253);
}

.holiday{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  /* color:white; */
  background: #87ceeb !important;
 }
.od{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: skyblue;
}
.holidayweekoff{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(255, 229, 82);
}
.absent{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  color:white;
  background: rgb(255, 79, 79);
}

.onDuty{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: #fd8200;
}

.holiday{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: skyblue;
}

.prsent{
  color: rgb(180, 255, 170);
}
.absnt{
  color: rgb(255, 79, 79);
}
.erly{
  color: rgb(255, 140, 230);
}
.wwekoddholiday{
  color: rgb(255, 229, 82);
}
.lve{
  color: rgb(255, 140, 230);
}
.hlf{
  color: rgb(255, 140, 230);
}
.misspnch{
  color: rgb(255, 140, 230);
}
.leaveodcoff{
  color: rgb(67, 111, 253);
}
.odd{
  color: skyblue;
}
.ods{
  color: #fd8200;
}
.holidays{
  color: skyblue;
}
.table[_ngcontent-c5] .thead-dark[_ngcontent-c5] th[_ngcontent-c5] {
  color: #fff !important;
  background-color: #212529 !important;
  border-color: #fff !important;
}
.border-leave{
  border: 1px solid grey;
}
.odd[_ngcontent-c6] {
  color: #212529 !important;
}

.lve1{
  stroke-linecap: round;
  border-left: 3px solid red !important;
  margin-bottom: 5px;
}

.table {
  border: none !important;
  /* border-collapse: separate !important; */
  border-spacing: 0 1em !important;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: middle !important;
  border-top: 0px solid #dee2e6 !important;
}
tr:hover {
  background: aliceblue;
}

.fa-check-circle {
  font-size: 1.5rem;
  padding: 0;
  color: green;
}
.fa-times-circle {
  font-size: 1.5rem;
  padding: 0;
  color: rgb(173, 0, 0);
}
.circle1 {
  font-size: 1.5rem;
  padding: 0;
  color: rgb(206, 115, 115);
}
.fa-repeat{
  font-size: 1.4rem;
  padding: 0;
  color: rgb(44, 95, 206);
}

.panel-default:hover .more-less{
  color:rgb(47, 78, 126) !important;
  transition: 0.5s;
}

.table-borderless th, .table-borderless tr,.table-borderless td{
  border:none !important;
}
.table{
  border:none !important;
  /* border-collapse: separate !important; */
  border-spacing: 0 1em !important;
}
tr:hover{
  background: aliceblue;
}
.table td{
  border-top: 0px solid #dee2e6 !important;
}
#myModal{
  padding-top:5%;
}
#myModaldiffdate{
  padding-top:5%;
  background-color: rgba(34, 34, 34, 0.8);
}

.backgroundless-table{
  background:none !important;
}
.btn-success, .btn-danger{
  width:80px;
  margin-bottom: 5px;
}

/* ACCORDIAN */
.panel-group .panel {
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 4px;
  color: #212121;
  background-color: #FAFAFA;
  border-color: rgb(182, 182, 182);
}

.panel-title {
  font-size: 14px;
}

.panel-title > a {
  display: block;
  padding: 10px;
  text-decoration: none;
}
a:hover {
  color: #3f61a8 !important;
}
.more-less {
  float: right;
  color: #c2c2c2 !important;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}

/* ----- v CAN BE DELETED v ----- */

.panel-body {
  padding: 15px;
}
.demo {
padding-top: 60px;
padding-bottom: 60px;
}
.more-less {
  padding:0px !important;
  float: right;
  color: #ffffff;
}
.panel-group .panel+.panel {
  margin-top: 5px;
}

.lr{
  border-left:5px solid red !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}

.mpr{
  border-left:5px solid rgb(255, 174, 0) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.perreq{
  border-left:5px solid rgb(129, 62, 255) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.lateearly{
  border-left:5px solid rgb(250, 119, 31) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.coff{
  border-left:5px solid rgb(16, 190, 212) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.wfh{
  border-left:5px solid rgb(206, 43, 170) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.shr{
  border-left:5px solid rgb(77, 150, 35) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.onduty{
  border-left:5px solid rgb(46, 89, 180) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.panel-group .panel {
  margin-bottom: 5px;
  border-radius: 4px !important;
}
/* ACCORDIAN */
/* .lvedetail{
  height:200px;
} */
small{
  color:grey;
}
.badge-secondary{
  padding: 2px 5px 2px 5px;
  border-radius: 6px;
  background-color: #2575e3;
  font-size: smaller;
}
.chatsuggestion{
  background: white;
  padding: 5px;
  box-shadow: 0px 1px 8px #2d2d2d;
  border-radius: 0px 0px 5px 5px;
  max-height: 200px;
  overflow-x: auto;
}
.suggestiontext:hover{
  cursor: pointer;
  background: rgba(137, 188, 255, 0.425);
}
/* .active{
  background: rgba(137, 188, 255, 0.425);
} */
.suggestiontext{
padding:4px;
border-radius: 3px;
}
.hilighttext{
  color: rgb(83, 106, 171);
}



/* WRAPPER */

.wrapper {

  width: 100%;
}

.drop {
  border: 3px dashed #DADFE3;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*&:hover
   * cursor: pointer
   * background: #f5f5f5 */
}
.drop .cont {
  text-align: -webkit-center;
    padding: 2rem;
  color: #8E99A5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.drop .cont i {
    font-size: 2rem;
  color: #8E99A5;
  position: relative;
}

.drop .cont .desc {
  color: #A4AEBB;
}
.drop .cont .browse {
  margin: 10px 35%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #09f;
}
.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 2s linear infinite;
  z-index: 9;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
} 
.onoffdiv {
pointer-events: none;
opacity: 0.2;
}


/* BREADCRUMS STARTS */

.breadcrumb {
  text-align: center;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
  padding:0 !important;
}
.breadcrumb__step {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 10px;
  line-height: 25px;
  padding: 0 10px 0 60px;
  position: relative;
  background: #fff;
  color: #545454;
  transition: background 0.5s;
}
.breadcrumb__step:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
}
.breadcrumb__step:first-child::before {
  left: 14px;
}
.breadcrumb__step:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
}
.breadcrumb__step:last-child::after {
  content: none;
}
.breadcrumb__step::before {
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin: 5px 0;
  position: absolute;
  top: 0;
  left: 30px;
  font-weight: bold;
  background: #fff;
  box-shadow: 0 0 0 1px #545454;
}
.breadcrumb__step::after {
  content: '';
  position: absolute;
  top: 0;
  right: -14px;
  width: 28px;
  height: 24px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  border-radius: 0 5px 0 50px;
  background: #fff;
  transition: background 0.5s;
 
}
.breadcrumb__step--active {
  color: #fff;
  background: #545454;
}
.breadcrumb__step--active::before {
  color: #545454;
}
.breadcrumb__step--active::after {
  background: #545454;
}
.breadcrumb__step:hover {
  color: #fff !important;
  background: #545454;
}
.breadcrumb__step:hover::before {
  color: #545454;
}
.breadcrumb__step:hover::after {
  color: #545454;
  background: #545454;
}
