<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-list-alt bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Medical Examination <div class="page-title-subheading"> Here you can check medical status of employee
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">

        <div class="card">
          <div class="card-header" style="background-color: #0747a6;line-height: 5px;    padding-top: 3px;
          padding-bottom: 3px;">
            <h4 style="color: white;">{{empfistname}}  {{lastname}}</h4>
            <span style="color: white;">{{labourId}}</span>
          </div>
          <div class="card-body">
            <div class="row">

              <!-- Image Columns -->
              <div class="col-md-4" style="text-align: center;">
                <img src="{{labourImage}}" class="rounded" alt="Cinque Terre" style="width: 150px;
                height: 150px;"> 
              </div>

              <div class="col-md-8">


                <!-- using table -->
                <table>
                  <tr>

                  </tr>
                  <!-- <tr>
                    <td><b>Labour ID</b></td>
                    <td><span><b>:&nbsp; {{labourId}}</b></span></td>
                  </tr> -->
                  <tr>
                    <td><b>Name</b></td>
                    <td><span> <b class="fontStyle">:&nbsp; {{empfistname}} {{lastname}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Gender</b></td>
                    <td><span> <b class="fontStyle">:&nbsp; {{gender}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Date Of Bith</b></td>
                    <td><span> <b class="fontStyle">:&nbsp; {{dateOfBirth}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Blood Group</b></td>
                    <td><span><b class="fontStyle">:&nbsp; {{bloodGroup}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Contact NO</b></td>
                    <td><span> <b class="fontStyle"> :&nbsp;{{contactNumber}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Emergency Contact NO</b></td>
                    <td><span><b class="fontStyle"> :&nbsp;{{emergancyContact}}</b></span></td>
                  </tr>
                </table>








              </div>

            </div>
            <hr class="blue-hr">
            <div class="container">

<form #myForm="ngForm" >
              <div class="row">
                <div class="container ">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="age">Age <span style="color: red">*</span></label>
                        <input type="text" class="form-control custom-input" id="age" name="age" [(ngModel)]="age" placeholder="Enter age" disabled>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="height">Height (In CM) <span style="color: red">*</span></label>
                        <input
                          type="text"
                          class="form-control custom-input"
                          id="height"
                          name="height"
                          [(ngModel)]="height"
                          placeholder="Enter height"
                          pattern="^\d{1,3}$"
                          required
                          #heightInput="ngModel" 
                          (keypress)="numberOnly($event)">
                        <div *ngIf="heightInput.invalid && (heightInput.dirty || heightInput.touched)">
                          <small style="color: red;" *ngIf="heightInput.errors.required">Height is Required</small>
                          <small style="color: red;" *ngIf="heightInput.errors.pattern">Please enter a number up to 250 CM.</small>
                        </div>
                      </div>
                    </div>
                    
                    
                    
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="weight">Weight (In KG) <span style="color: red">*</span></label>
                        <input
                          type="text"
                          class="form-control custom-input"
                          id="weight"
                          name="weight"
                          [(ngModel)]="weight"
                          placeholder="Enter weight"
                          pattern="^(0|[1-9][0-9]?|1[0-9]{2}|200)$"
                          required
                          #weightInput="ngModel"
                          (keypress)="numberOnly($event)">
                        <div *ngIf="weightInput.invalid && (weightInput.dirty || weightInput.touched)">
                          <small style="color: red;" *ngIf="weightInput.errors.required">Weight is Required</small>
                          <small style="color: red;" *ngIf="weightInput.errors.pattern">Please enter a number up to 200KG.</small>
                        </div>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="height">Blood Pressure <span style="color: red">*</span></label>
                        <input type="text" class="form-control custom-input" id="height" name="bloodPressure" [(ngModel)]="bloodPressure" placeholder="Blood Pressure"  required
                        #bloodPressures="ngModel" (keypress)="numberOnly($event)">
                        <div *ngIf="bloodPressures.invalid && (bloodPressures.dirty || bloodPressures.touched)">
                          <small style="color: red;" *ngIf="bloodPressures.errors.required">Blood Pressure is Required</small>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 sm-3">
                      <div class="form-group">
                        <label for="weight">Birth Mark </label>
                        <input type="text" class="form-control custom-input" id="weight" name="birthMark" [(ngModel)]="birthMark" placeholder="Birth Mark"  #BirthMark="ngModel" >
                       
                      </div>
                    </div>
                  </div>
                </div>

                <!--Physical Disablity-->
                <div class="container ">
                  <div class="row">
                    <div class="col-md-4">
                  <div class="form-group">
                    <h6>Physical Disability:</h6>


                    <div>
                      <div class="form-check-inline">
                        <label class="form-check-label" for="radio1">
                          <input type="radio" class="form-check-input" id="radio1" name="optradio" [(ngModel)]="physicalDisability" value="Yes"
                            checked>Yes
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label" for="radio2">
                          <input type="radio" class="form-check-input" id="radio2" name="optradio" [(ngModel)]="physicalDisability" value="No">No
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-4">
                <h6>Select Fit or Unfit</h6>
                  <div>
                    <label>
                      <input type="checkbox" [(ngModel)]="option1" (change)="onCheckboxChange('option1')">Fit
                    </label>
                    <label>
                      <input type="checkbox" [(ngModel)]="option2" (change)="onCheckboxChange('option2')"> Unfit
                    </label>
                  </div>
                  
                  
                </div> -->
                </div>
                </div>


                <div class="container">
                  <div class="row">
                    <div class="form-outline w-50" *ngIf="physicalDisability=='Yes'">

                      <label for="description" class="hidden" id="descriptionLabel" > if Yes,Describe</label>
                      <textarea class="form-control" id="textAreaExample5" rows="2" name="physicalDiscription" [(ngModel)]="physicalDiscription"></textarea>

                    </div>
                  </div>

                </div>
                <br>
                <div class="container mt-4">
                  <div class="row" style="justify-content: center;">
                    <div class="col-md-1">
                      <button type="button" class="btn btn-primary btn-sm" (click)="ApproveLabourforMedical()" style="padding-left: 17px;
                      padding-right: 17px;" [disabled]="!myForm.valid">Fit</button>
                    </div>
                    <div class="col-md-1">
                      <button type="button" class="btn btn-danger btn-sm" (click)="rejectLabourForMedical()" [disabled]="!myForm.valid">Unfit</button>
                    </div>
                    
                    <!-- <div class="col-md-1">
                      <button type="button" class="btn btn-primary btn-sm" (click)="RejectLabourforMedical()" >Reject</button>
                    </div> -->
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>