<form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="data-title">
        <h6>Statutory Data</h6>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="paygroup">Pay Group</label><span style="color: red">*</span>
            <select class="form-control form-control-sm" [(ngModel)]="HRempOtherModel.payGroupId" #ab='ngModel'
              name="ab" (change)="paygroupvalue($event)" required>
              <option disabled hidden value="selectUndefinedOptionValue">Select Pay Group</option>
              <option value="{{addpaygroup.payGroupId}}" *ngFor="let addpaygroup of paygroupdata; let i = index;">
                {{addpaygroup.payGroupName}}</option>
            </select>
            <div class="help-block" *ngIf="ab.errors?.required && (ab.touched || f.submitted)"><small
                style="color: red">Pay Group is required</small></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="typeoffile">Variable Pay</label>
        <br>
        <label class="switch mt-2">
          <input type="checkbox" name="variablePay" [(ngModel)]="HRempOtherModel.variablePay">
          <span class="slider round"></span>
        </label>
      </div>

      <div class="form-group">
        <label for="typeoffile">Professional Tax Applicable</label>
        <br>
        <label class="switch mt-2">
          <input type="checkbox" name="ptApplcable" [(ngModel)]="ptApplcable" (ngModelChange)="ptApplcableData($event)">
          <span class="slider round"></span>
        </label>
      </div>

      <div class="col">
        <div class="form-group" *ngIf="HRempOtherModel.ptApplcable == 'Yes'">
          <label for="anyspl">Professional Tax Location</label><span style="color: red">*</span>
          <select class="form-control form-control-sm" type="text" name="ptLocatio" #ptLocatio='ngModel'
            [(ngModel)]="HRempOtherModel.ptLocation" required>
            <option hidden value="selectPtlocation">Select Professional Tax Location</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Karnatka">Karnatka</option>
            <option value="Andhrapradesh">Andhra pradesh</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Asaam">Asaam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Kerala">Kerala</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Odisha">Odisha</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="West Bengal">West Bengal</option>
          </select>
          <div class="help-block" *ngIf="ptLocatio.errors?.required && (ptLocatio.touched || f.submitted)"><small
              style="color: red">PT Location required</small></div>

        </div>
      </div>

      <div class="form-group">
        <label for="typeoffile">Provident Fund Applicable</label>
        <br>
        <label class="switch mt-2">
          <input type="checkbox" name="pfApplicable" [(ngModel)]="pfApplicable"
            (ngModelChange)="pfApplicableData($event)">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="form-group" *ngIf="HRempOtherModel.pfApplicable == 'Yes'">
        <label for="typeoffile">Provident Fund Number</label><span style="color: red">*</span>
        <input class="form-control form-control-sm" type="text" maxlength="20" name="pfNumber"
          (ngModelChange)="getDuplicatePan($event)" #pfNumbe='ngModel' [(ngModel)]="HRempOtherModel.pfNumber" required>
        <div class="help-block" *ngIf="flagPan"><small style="color: red">{{getPanData.message}}</small></div>
        <div class="help-block" *ngIf="pfNumbe.errors?.required && (pfNumbe.touched || f.submitted)"><small
            style="color: red">PF Number required</small></div>

      </div>

      <!-- bonus -->
      <div class="form-group">
        <label for="bonusApplicable">Bonus Applicable</label>
        <br>
        <label class="switch mt-2">
          <input type="checkbox" name="bonusApplicable" [(ngModel)]="HRempOtherModel.bonusApplicable">
          <span class="slider round"></span>
        </label>
      </div>
      <!-- /bonus -->
      <!-- Exgratia  -->
      <div class="form-group">
        <label for="exgratia">Exgratia Applicable</label>
        <br>
        <label class="switch mt-2">
          <input type="checkbox" name="exgratia" [(ngModel)]="HRempOtherModel.exgratia">
          <span class="slider round"></span>
        </label>
      </div>
      <!-- /Exgratia  -->


      <div class="form-group">
        <p>Policy Applicable <span style="color: red">*</span></p>

        <input type="radio" value="esic" id="radio1" name="policyApplicable"
          [(ngModel)]="HRempOtherModel.policyApplicable" #policyApplicable="ngModel">
        <label for="radio1">ESIC </label>

        <input type="radio" value="personalAccidentPol" id="radio2" name="policyApplicable" #policyApplicable="ngModel"
          [(ngModel)]="HRempOtherModel.policyApplicable">
        <label for="radio2">Personal Accident Policy </label>

        <input type="radio" value="notApplicable" id="radio3" name="policyApplicable" #policyApplicable="ngModel"
          [(ngModel)]="HRempOtherModel.policyApplicable">
        <label for="radio3">Not Applicable</label>
      </div>


      <div class="form-row" *ngIf="HRempOtherModel.policyApplicable == 'esic'">
        <div class="col">
          <div class="form-group">
            <label for="gr">ESIC Number</label>
            <input class="form-control form-control-sm" type="text" maxlength="17"
              (ngModelChange)="getDuplicateESIC($event)" pattern="[0-9 -]{1,100}" (keypress)="numberOnly($event)"
              name="esicNumb" #esicNumb='ngModel' [(ngModel)]="HRempOtherModel.esicNumber">
            <div class="help-block" *ngIf="flagEsic"><small style="color: red">{{getESIC.message}}</small></div>
            <div class="help-block" *ngIf="esicNumb.errors?.pattern"><small style="color: red">Special Character not
                Allowed</small></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="typeoffile">Under Medical Claim </label>
        <br>
        <label class="switch mt-2">
          <input type="checkbox" name="mediclaimaApplicable " [(ngModel)]="mediclaimaApplicable "
            (ngModelChange)="medicalClaim($event)">
          <span class="slider round"></span>
        </label>
      </div>

      <div class="form-group" *ngIf="HRempOtherModel.mediclaimaApplicable == 'Yes'">
        <label for="typeoffile">Amount</label><span style="color: red">*</span>
        <input class="form-control form-control-sm" type="text" name="amtCovrmediclaim" maxlength="20" #medic='ngModel'
          [(ngModel)]="HRempOtherModel.amtCovrmediclaim" numbersOnly required>

        <div class="help-block" *ngIf="medic.errors?.required && (medic.touched || f.submitted)"><small
            style="color: red">Ammount required</small></div>

      </div>
      <div class="form-group" *ngIf="HRempOtherModel.mediclaimaApplicable == 'Yes'">
        <label for="typeoffile">Under Family medical Claim members</label><span style="color: red">*</span>
        <input class="form-control form-control-sm" type="text" numbersOnly name="undermediclaimMembrs"
          maxlength="10" #members='ngModel' [(ngModel)]="HRempOtherModel.undermediclaimMembrs" required>
        <div class="help-block" *ngIf="members.errors?.required && (members.touched || f.submitted)"><small
            style="color: red">Under Family medical Claim members required</small></div>

      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="gr">Pay Mode</label><span style="color: red">*</span>
            <select class="form-control form-control-sm" type="text" name="payMod" #payMod='ngModel'
              [(ngModel)]="HRempOtherModel.payMode" required>
              <option hidden value="SelectpayMode">Select Pay Mode</option>
              <option value="Cheque">Cheque</option>
              <option value="Cash">Cash</option>
              <option value="Bank Transfer">Bank Transfer</option>
            </select>
            <div class="help-block" *ngIf="payMod.errors?.required && (payMod.touched || f.submitted)"><small
                style="color: red">Pay Mode required</small></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <form #f2='ngForm'>

    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="data-title">
          <h6>Verification Reference</h6>
        </div>
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-md-5">

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="gr">Name Of Reference</label> <span style="color: red">*</span>
              <input class="form-control form-control-sm" type="text" maxlength="50" pattern="[0-9 a-z A-Z]{1,100}"
                #nameOfTheReferen='ngModel' name="nameOfTheReference"
                [(ngModel)]="verificationobject.nameOfTheReference" required>
              <div class="help-block"
                *ngIf="nameOfTheReferen.errors?.required && (nameOfTheReferen.touched || f2.submitted)"><small
                  style="color: red">Name Of Reference required</small></div>
              <div class="help-block"
                *ngIf="nameOfTheReferen.errors?.pattern && (nameOfTheReferen.touched || f2.submitted)"><small
                  style="color: red">Special Character not Allowed</small></div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="anyspl">Company Name</label> <span style="color: red">*</span>
              <input class="form-control form-control-sm" type="text" maxlength="50" pattern="[0-9 a-z A-Z]{1,100}"
                #companyNam='ngModel' name="companyName" [(ngModel)]="verificationobject.companyName" required>
              <div class="help-block" *ngIf="companyNam.errors?.required && (companyNam.touched || f2.submitted)"><small
                  style="color: red">Company Name required</small></div>
              <div class="help-block" *ngIf="companyNam.errors?.pattern && (companyNam.touched || f2.submitted)"><small
                  style="color: red">Special Character not Allowed</small></div>

            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="gr">Contact Number</label>
              <input class="form-control form-control-sm" pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$" type="text"
                maxlength="10" #personalContactNumber='ngModel' name="contactNo" (keypress)="numberOnly($event)"
                [(ngModel)]="verificationobject.contactNo">
              <div class="help-block"
                *ngIf="personalContactNumber.errors?.pattern && (personalContactNumber.touched || f.submitted)"><small
                  style="color: red">Enter Valid Mobile Number </small></div>
            </div>

          </div>
          <div class="col">
            <div class="form-group">
              <label for="anyspl">Email ID</label>
              <input class="form-control form-control-sm" #emailId='ngModel'
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="email" name="emailId"
                [(ngModel)]="verificationobject.emailId">
              <div class="help-block" *ngIf="emailId.errors?.pattern && (emailId.touched || f.submitted)"><small
                  style="color: red">Enter Valid Email </small></div>
            </div>

          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="gr">Feedback Recieved</label>
              <select class="form-control form-control-sm" type="text" #feedbackReceiv='ngModel' name="feedbackReceived"
                [(ngModel)]="verificationobject.feedbackReceived" required>
                <option hidden value="SelectFeedback">Select Feedback</option>
                <option value="good">good</option>
                <option value="bad">bad</option>
                <option value="satisfactory">satisfactory</option>
              </select>
              <div class="help-block"
                *ngIf="feedbackReceiv.errors?.required && (feedbackReceiv.touched || f2.submitted)"><small
                  style="color: red">Feedback Recieved required</small></div>

            </div>
          </div>

        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="gr">Strengths</label>
              <input class="form-control form-control-sm" maxlength="100" type="text" name="strengths"
                [(ngModel)]="verificationobject.strengths">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="anyspl">Area Of Improvement</label> <span style="color: red">*</span>
              <input class="form-control form-control-sm" maxlength="100" pattern="[a-zA-Z ]*" type="text"
                #Areaof='ngModel' name="areasOfImprovement" [(ngModel)]="verificationobject.areasOfImprovement"
                required>
              <div class="help-block" *ngIf="Areaof.errors?.required && (Areaof.touched || f2.submitted)"><small
                  style="color: red">Area Of Improvement required</small></div>
              <div class="help-block" *ngIf="Areaof.errors?.pattern && (Areaof.touched || f2.submitted)"><small
                  style="color: red">Number Not Allowed </small></div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <!-- <a class="addmember" (click)="AddVerificationRefference(verificationobject)">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Verification Reference s</a> -->
            <button type="submit" (click)="AddVerificationRefference(f2,verificationobject)"
              class="btn btn-primary mr-3">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button>

            <button type="button" (click)="AddVerificationRefferencemore(verificationobject)"
              class="btn btn-primary mr-3">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Add More</button>
          </div>
        </div>

        <div class="col-md-12">
          <table class="table table-bordered">
            <thead class="thead-dark2">
              <tr>
                <th>Name Of Reference</th>
                <th>Company</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="getverification(verification)" *ngFor="let verification of allVerification; let i=index">
                <td>{{verification.nameOfTheReference}}</td>
                <td>{{verification.companyName}}</td>
                <td><i class="fa fa-pencil" (click)="editver(verification,i)" aria-hidden="true"></i>
                  <i class="fa fa-trash" (click)="deletever(i)" aria-hidden="true"></i>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>


  </form>

  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="data-title">
        <h6> Add Resource</h6>
      </div>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-md-5">
      <form #fg3='ngForm' name="form">
        <div class="form-row">
          <div class="col">
            <label for="exampleFormControlSelect1">Resource</label><span style="color: red">*</span>
            <div class="form-group input-group mb-3">
              <select class="form-control form-control-sm" id="exampleFormControlSelect1" #reso='ngModel'
                name="addResourceName" [(ngModel)]="addReourceObject.resourcesId" required>
                <option hidden value="">Select Resource</option>
                <option value="{{s.resourcesId}}" *ngFor="let s of resourceData" (click)="res(s)">{{s.resourceName}}
                </option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="modal"
                  data-target="#myModaladdResource"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
              </div>

            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="anyspl"> Description</label><span style="color: red">*</span>
              <textarea rows="4" cols="50" class="form-control form-control-sm" maxlength="200" type="text"
                name="resourceDesc" #descs='ngModel' [(ngModel)]="addReourceObject.resourceDesc"></textarea>
            </div>
          </div>
        </div>
        <div class="form-row">

          <div class="col">
            <div class="form-group">
              <label for="anyspl">Serial Number</label><span style="color: red">*</span>
              <input class="form-control form-control-sm" maxlength="10" type="text" name="resourceNumber"
                [(ngModel)]="addReourceObject.resourceNumber" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="givenDate">date Of Issue</label><span style="color: red">*</span>
              <input class="form-control form-control-sm" type="date" name="givenDate" #givenDate='ngModel'
                [ngModel]="addReourceObject.givenDate  | date:'yyyy-MM-dd'" aria-readonly="true"
                (ngModelChange)="givendate($event)">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <button type="button" [disabled]='fg3.invalid' (click)="AddResources(fg3)" class="btn btn-primary mr-3">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button>

            <button type="button" (click)="AddResourcesmore(addReourceObject)" class="btn btn-primary mr-3">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Add More</button>
          </div>
        </div>

        <div class="col-md-12">
          <table class="table table-bordered">
            <thead class="thead-dark2">
              <tr>
                <th>Resources</th>
                <th>Date</th>
                <th>Description</th>
                <th>Serial Number</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="getResources(resources)" *ngFor=" let resources of addResources; let i = index">
                <td>{{resources.resourceName}}</td>
                <td>{{resources.givenDate | date:"yyyy-MMM-dd"}}</td>
                <td>{{resources.resourceDesc}}</td>
                <td>{{resources.resourceNumber}}</td>
                <td><i class="fa fa-pencil" (click)="editres(resources,i)" aria-hidden="true"></i>
                  <i class="fa fa-trash" data-toggle="modal" data-target="#AreYouSureDelete" (click)="deleteres(i)"
                    aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>

  <!-- added by priyanka k -->
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="data-title">
        <h6>Transport Details</h6>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="preflocationfuture">Transportation Mode</label> <span style="color: red">*</span>
            <select class="form-control form-control-sm" type="text" name="transportationMode" #transportation='ngModel'
              [(ngModel)]="HRempOtherModel.transportationMode" (ngModelChange)='transportevent($event)' required>
              <option hidden [value]='selectUndefinedOptionValue'>select</option>
              <option value="Own/Self">Own/Self</option>
              <option value="Pool Car">Pool Car</option>
              <option value="Executive Car">Executive Car</option>
              <option value="Bus">Bus</option>
            </select>
            <br>
            <div>
              <div class="col" *ngIf='HRempOtherModel.transportationMode == "Bus"'>
                <div class="form-group">
                  <label>Bus Route</label><span style="color: red">*</span>
                  <select class="form-control form-control-sm" type="text" name="route" #route='ngModel'
                    [(ngModel)]="HRempOtherModel.busRouteId" (change)="busStopData($event)" required>
                    <option hidden [value]='selectUndefinedOptionValue'>select Route</option>
                    <option *ngFor="let item of busModellist" value={{item.busRouteId}}>{{item.busRouteName}}</option>
                  </select>
                </div>
              </div>
              <div class="col" *ngIf='HRempOtherModel.transportationMode == "Bus"'>

                <div class="form-group">
                  <label>Bus Stop </label><span style="color: red">*</span>
                  <select class="form-control form-control-sm" type="text" name="stop" #stop='ngModel'
                    [(ngModel)]="HRempOtherModel.busStopId" required>
                    <option hidden [value]='selectUndefinedOptionValue'>select Bus stop</option>
                    <option *ngFor="let item of busStopllist" value={{item.busStopId}}>{{item.busStopName}}</option>
                  </select>
                </div>
              </div>
              <div>
                <div class="col" *ngIf='HRempOtherModel.transportationMode == "Bus"'>
                  <div class="form-group">
                    <label>PickUp Point </label><span style="color: red">*</span>
                    <input type="text" class="form-control form-control-sm" name="pickupPoint"
                      [(ngModel)]="HRempOtherModel.pickupPoint" #pickupPoint1='ngModel' required>
                  </div>
                </div>

                <div class="col" *ngIf='HRempOtherModel.transportationMode == "Bus"'>
                  <div class="form-group">
                    <label>DropUp Point </label><span style="color: red">*</span>
                    <input type="text" class="form-control form-control-sm" name="droPoint"
                      [(ngModel)]="HRempOtherModel.droPoint" #droPoint1='ngModel' required>
                  </div>
                </div>
              </div>
            </div>
            <div class="help-block" *ngIf="transportation.errors?.required && (transportation.touched || f.submitted)">
              <small style="color: red"> Transportation Mode required</small>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf='hide'>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="busStop">Bus Stop</label> <span style="color: red">*</span>
              <select class="form-control form-control-sm" type="text" [(ngModel)]="HRempOtherModel.busStopId"
                name="busStop" (change)="mychange($event)" #busStop='ngModel' required>
                <option hidden [value]="selectUndefinedOptionValue">Select</option>
                <option *ngFor="let r of busStoplist" value={{r.busStopId}}>{{r.busStopName}}</option>
              </select>
              <div class="help-block" *ngIf="busStop.errors?.required && busStop.touched"> <small
                  style="color: red">Please select bus stop</small></div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="busCodeCapacity">Bus code and capacity</label><span style="color: red">*</span>
              <select class="form-control form-control-sm" type="text" [(ngModel)]="HRempOtherModel.vehicalCapacity"
                (change)="changeBusId($event)" name="busCodeCapacity" #busCodeCapacity='ngModel' required>
                <option hidden [value]="selectUndefinedOptionValue">Select</option>
                <option *ngFor="let r of busdata" value="{{r.busId}}">{{r.busCode}} - ({{r.vehicalCapacity}})
                </option>

              </select>
              <div class="help-block" *ngIf="busCodeCapacity.errors?.required && busCodeCapacity.touched"> <small
                  style="color: red">Please select bus code and capacity</small></div>
              <div class="help-block" *ngIf="capacityflag"><small
                  style="color: red">{{getbuscapacitydata.message}}</small></div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="preflocationfuture">Consider Address As Transport Purpose</label><span
              style="color: red">*</span>
            <select class="form-control form-control-sm" type="text" name="transportPurpose" #transportPurpo='ngModel'
              [(ngModel)]="HRempOtherModel.transportPurpose" required>
              <option hidden value='selectUndefinedOptionValue'>Select</option>
              <option value="Current">Current</option>
              <option value="Permanent">Permanent</option>
            </select>
            <div class="help-block" *ngIf="transportPurpo.errors?.required && (transportPurpo.touched || f.submitted)">
              <small style="color: red"> Addreess As Transport Purpose required</small>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- added by priyanka k end -->
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="form-row">
        <div class="col">
          <div class="backbtn">
          </div>
        </div>

        <div class="col">
          <button class="btn btn-primary float-right" [disabled]='f.invalid || hidebuttn' (click)="storeInfo()">Save &
            Continue</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Add Resource Starts -->
<div class="modal" id="myModaladdResource">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">


        <form (ngSubmit)="addResourceName(addRes,ff3)" #ff3='ngForm' novalidate>


          <div class="form-group">

            <label for="res-name">Resource Name </label><span style="color: red">*</span>
            <input type="text" class="form-control form-control-sm" maxlength="50" #resname='ngModel' name="resname"
              id="resname" [(ngModel)]="addRes.resourceName" required>
            <div class="help-block" *ngIf="resname.errors?.required && (resname.touched || ff3.submitted)"><small
                style="color: red">Resources Name required</small></div>
          </div>

          <div class="modal-footer">
            <button type="button" [disabled]="ff3.invalid" class="btn btn-primary"
              (click)="addResourceName(addRes,ff3)">Add</button>
          </div>


        </form>
        <hr>
        <table class="table table-bordered">
          <thead class="theadblue">
            <tr>
              <th>Resource Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let res of resourceData; let r=index;">
            <tr>
              <td>{{res.resourceName}}</td>
              <td><i class="fa fa-pencil" (click)="editAddResources(res)" aria-hidden="true"></i>
                <i class="fa fa-trash" (click)="deleteAddres(res)" aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Modal footer -->
    </div>
  </div>

</div>
<!-- Add Resource Ends -->
<!-- ======================== delete addResssssss are u -->
<div class="modal fade" id="AreYouSureDelete">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='DeletemodelEvent()' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" (click)="reset()" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>