<!-- <div class="barchart">
  <div class="chartbox">
    <div style="display: block">
      <canvas 
      baseChart [datasets]="barChartData" 
      [labels]="barChartLabels" 
      
      
        
        [chartType]="barChartType" 
        (chartHover)="chartHovered($event)" 
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div> -->
<div style="display: block">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>
