<div style="display: block;margin-bottom: 1rem;">
  
    <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"></canvas>
  </div>

