<div class="container-fluid">
  <div class="mainwrap" style="margin-top: -30px;">

    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading" style="margin-top: 22px;">
              <div class="page-title-icon" style="width: 50px;
              height: 50px;font-size: 1.5rem;"><i class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
              <div style="line-height: normal;"> Labour List <div class="page-title-subheadings">Here you can Check
                  Approve Reject Labour List</div>
              </div>
            </div>


          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="whitebg w3-animate-left">

          <ul [ngClass]="themeColor" class="nav nav-pills mb-3" id="pills-tab" role="tablist"
            style="border-top-left-radius:14px;border-top-right-radius:14px">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true"> Labour</a>
            </li>

          </ul>
          <div class="row justify-content-center" style="margin-top: 0%;">
            <div class="col-md-10">

              <div class="card-body">
                <div style="display: flex;">
                  <div class="form-group">
                    <label for="labourListType">Select Labour List Type:</label>
                    <select class="form-control  border-dark" id="labourListType" [(ngModel)]="selectedtablelist" style="border: 1px solid #ccc;" >
                      <option value="Approved">Approved Labour List</option>
                      <option value="Rejected">Rejected Labour List</option>
                    </select>
                  </div>

                </div>
                <table class="table emp-action table-hover" *ngIf="selectedtablelist === 'Approved'">
                  <thead class="thead-dark">
                    <tr class="theadblue">
                      <th>Sr.No</th>
                      <th>EmpId</th>
                      <th> Name</th>
                      <th>Department</th>
                      <th>Designation
                      </th>
                      <th>Contact Number</th>


                    </tr>



                  </thead>
                  <tbody *ngFor="let item of allmanpowerLabourData; let i=index">

                    <tr style="background-color: f5f5f5!important;">
                      <td>{{i+1}}</td>
                      <td>{{item.labourInfo?.empId}}</td>

                      <td>{{item.labourInfo?.firstName}}{{item.labourInfo?.lastName}}</td>
                      <td>{{item.labourInfo?.departmentMaster?.departmentName}}</td>
                      <td>{{item.labourInfo?.designationMaster.desigName}}</td>
                      <td>{{item.labourInfo?.contactNumber}}</td>




                    </tr>
                  </tbody>
                </table>
                <table class="table emp-action table-hover" *ngIf="selectedtablelist === 'Rejected'">
                  <thead class="thead-dark">
                    <tr class="theadblue">
                      <th>Sr.No</th>
                      <th>EmpId</th>
                      <th> Name</th>
                      <th>Department</th>
                      <th>Designation
                      </th>
                      <th>Contact Number</th>


                    </tr>



                  </thead>
                  <tbody *ngFor="let item of allmanpowerLabourData1; let i=index">

                    <tr style="background-color: f5f5f5!important;">
                      <td>{{i+1}}</td>
                      <td>{{item.labourMaster?.empId}}</td>

                      <td>{{item.labourMaster?.firstName}}{{item.labourMaster?.lastName}}</td>
                      <td>{{item.labourMaster?.departmentMaster?.departmentName}}</td>
                      <td>{{item.labourMaster?.designationMaster.desigName}}</td>
                      <td>{{item.labourMaster?.contactNumber}}</td>




                    </tr>
                  </tbody>
                </table>
                <div id="accordion-1" style="position: relative;
                  top: -20px;width: 103.5%;margin-left: -19px;">


                  <!-- <div>

                    <ul *ngFor="let item of manpowerData">
                      <li style="background-color: #dfdfdf;
                      list-style-type: none;
                      padding: 7px;margin-top: 4px;
margin-bottom: -11px;cursor: pointer;" (click)="getrequestDetails(item)">{{item.designationMaster?.desigName}}
                        <span class="badge badge-pill badge-danger approvals-count">{{item.noOfManpower}}
                        </span><i class="fa fa-arrow-right arrows" aria-hidden="true"></i></li>
                    </ul>
                  </div> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
