<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
        <div class="col-md-12 ">
            <div class="app-page-title ">
              <div class="page-title-wrapper">
                <div class="page-title-heading ">
                  <div class="page-title-icon"><i class="fa fa-building bg-happy-itmeo" aria-hidden="true"></i></div>
                  <div>Organization <div class="page-title-subheading"> Here you can check Policies,  Terms & Conditions, Organazation chart and apply for Resign. </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="awe">
        <div class="row ">
   
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="white-bg min-height-430">
                <div class="org-heading">
                  <h6>Organization Flow</h6>
                </div>
                <div class="mt-3">
                  <!-- <form > -->
                    <div class="form-group">
                      <div class="form-group">
                        <label for="search">Search Employee</label>
                        <!-- <input type="text" class="form-control" [(ngModel)]="searchText"
                        (input)="getSearchSuggestionList(searchText)" autocomplete="off" placeholder="Search Employee..."> -->
      
                        <input class="form-control" type="text" [(ngModel)]="searchText"
                        (input)="getSearchSuggestionList(searchText)" autocomplete="off" placeholder="Search Employee...">
      
                        <div class="chatsuggestion" *ngIf="empSearchSuggestionList.length">
                          <div *ngFor="let item of empSearchSuggestionList" (click)="suggestThisEmployee(item)"
                            class="suggestiontext">
                            <div>
                              {{item.empId}} - {{item.salutation}}.{{item.fullName}} {{item.lastName}}- {{item.deptName}}
                            </div>
                          </div>
                        </div>
      
                        <!-- <div class="chatsuggestion" *ngIf="!empSearchSuggestionList.length && searchFlag">
                          <div class="suggestiontext">
                            <div>
                              No Data
                            </div>
                          </div>
                        </div> -->
      
                      </div>
                    </div>
                  <!-- </form> -->
      
                  <!-- <div class="row">
                    <div class="col-md-12">
                      <div class="float-right">
                        <div class="form-group pr-2">
                          <button class="btn btn-primary btn-sm">Submit</button>
                        </div>
                      </div>
                    </div>
      
                  </div> -->
                </div>

      
                <div class="mt-3">
                  <ul class="comp-options">
                    <li>
                      <a data-toggle="collapse" href="#companyPolicy" role="button" aria-expanded="false" aria-controls="companyPolicy"><i class="fa fa-building" aria-hidden="true"></i>Company Policies</a>
                    </li>
                    <div class="collapse" id="companyPolicy">
                     
                      <table class="table">
                        <!-- <thead>
                          <tr>
                            <th scope="col">Photo</th>
                          </tr>
                        </thead> -->
                        <tbody *ngFor="let data of policydata">
                          <tr>
                            <td><a  (click)="downloadPolicy(data)"  data-toggle="modal" data-target="#myModal">{{data.policyName}}</a></td>
                            <!-- <td><i class="fa fa-eye btn"></i> </td> -->
                          </tr>
                          <!-- <tr>
                            <td><a>Company Policy</a></td>
                          </tr>
                          <tr>
                            <td><a>Employee Policy</a></td>
                          </tr> -->
                        </tbody>
                      </table>
                    </div>
                   
                    <li>
                      <a (click)="resign()">
                        <i class="fa fa-external-link" aria-hidden="true"></i> Resign</a>
                    </li>
                  </ul>
                </div>
      
              </div>
            </div>
      
            <div class="col-md-9">
              <div class="tree">
                <ul>
                  <!-- if no childrens show parent -->
                  <ul class="parentul"  *ngIf="parent_data && statuslocation =='Upper'">
                    <li class="parentli">
                    <a>                      
                      <div class="comp-emp-name">
                      <div class="row">
                           <div class="col-md-3">
                             <div class="user-account profilepicture">
                               <img *ngIf="parent_data.profilePath  &&  Aws_flag=='true'" src="{{parent_data.profilePath}}"  alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                               <img *ngIf="parent_data.profilePath  &&  Aws_flag!='true'" [src]="transform(parent_data.profilePath)"  alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                               <img *ngIf="!parent_data.profilePath" src="{{AssetsPath}}/propic.jpg"  alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                             </div>
                           </div>
                           <div class="col-md-9">
                             <div class="text">
                               <span> {{parent_data.empId}} </span>
                               <br> <small> {{parent_data.descName}} </small> 
                               <br>
                               <small>{{parent_data.fullName}} {{parent_data.lastName}}</small>
                             </div>
       
                           </div>
                         </div>
                         
                       </div>
       
                     </a>
                     </li>  
                 </ul>
                  <!-- /if no childrens show parent -->
                  <li>
                   <!-- logged in user -->
                   <a>
                      <div class="comp-emp-name">
      
                        <div class="row">
                          <div class="col-md-3">
                            <div class="user-account profilepicture">
                              <img *ngIf="loggedUser.profilePath &&  Aws_flag!='true'" [src]="profilePath" alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                              <img *ngIf="loggedUser.profilePath &&  Aws_flag=='true'" src="{{loggedUser.profilePath}}" alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                              <img *ngIf="!loggedUser.profilePath" src="{{AssetsPath}}/propic.jpg" alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                            </div>
                          </div>
                          <div class="col-md-9">
                            <div class="text">
                              <span> {{loggedUser.empId}} </span>
                              <br> <small> {{loggedUser.descName}} </small> 
                              <br>
                              <small>{{loggedUser.fullName}} {{loggedUser.lastName}}</small>
                            </div>
      
                          </div>
                        </div>
                        
                      </div>
      
                    </a>
                     <!-- /logged in user -->
                    <ul>
                      
                        <li *ngFor="let item of employesUnderEmpId.employeePerInfoList; let i = index">
                            <a (click)="underEmp(item,i)" >
          
                                <div class="comp-emp-name">
          
                                    <div class="row">
                                      <div class="col-md-3">
                                        <div class="user-account profilepicture">
                                          <img *ngIf="item.profilePath &&  Aws_flag!='true'" [src]="transform(item.profilePath)"  alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                          <img *ngIf="item.profilePath &&  Aws_flag=='true'" src="{{item.profilePath}}"  alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                          <img *ngIf="!item.profilePath" src="{{AssetsPath}}/propic.jpg"  alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                        </div>
                                      </div>
                                      <div class="col-md-9">
                                        <div class="text">
                                          <span>{{item.empId}}</span>
                                              <br> <small>{{item.descName}}</small> 
                                          <br>
                                          <small>{{item.fullName}} {{item.lastName}}</small>
                                        </div>
                  
                                      </div>
                                    </div>
                                    
                                  </div>
          
                            </a>
                            <ul *ngIf="item.employees">
                              <li *ngFor="let data of item.employees; let j = index">
                                <a (click)="underEmp(data,i)">
                                    <div class="comp-emp-name">
          
                                        <div class="row">
                                          <div class="col-md-3">
                                            <div class="user-account profilepicture">
                                              <img *ngIf="data.profilePath && Aws_flag=='true'" src="{{data.profilePath}}"  alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                              <img *ngIf="data.profilePath && Aws_flag!='true'" [src]="transform(data.profilePath)"  alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                              <img *ngIf="!data.profilePath" src="{{AssetsPath}}/propic.jpg"  alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                            </div>
                                          </div>
                                          <div class="col-md-9">
                                            <div class="text">
                                              <span>{{data.empId}}</span>
                                              <br> <small>{{data.descName}}</small> 
                                              <br>
                                              <small>{{data.fullName}} {{data.lastName}}</small>
                                            </div>
                      
                                          </div>
                                        </div>
                                        
                                      </div>
          
                                  </a>
      
                                  <ul *ngIf="data.employees">
                                    <li *ngFor="let data1 of data.employees; let k = index">
                                      <a (click)="underEmp(data1,i)">
                                        
                                          <div class="comp-emp-name">
            
                                              <div class="row">
                                                <div class="col-md-3">
                                                  <div class="user-account profilepicture">
                                                    <img *ngIf="data1.profilePath && Aws_flag=='true'" src="{{data1.profilePath}}" alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                                    <img *ngIf="data1.profilePath && Aws_flag!='true'"[src]="transform(data1.profilePath)" alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                                    <img *ngIf="!data1.profilePath" src="{{AssetsPath}}/propic.jpg" alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                                  </div>
                                                </div>
                                                <div class="col-md-9">
                                                  <div class="text">
                                                    <span>{{data1.empId}}</span>
                                              <br> <small>{{data1.descName}}</small> 
                                              <br>
                                              <small>{{data1.fullName}} {{data1.lastName}}</small>
                                                  </div>
                            
                                                </div>
                                              </div>
                                              
                                            </div>
            
                                        </a>
      
                                        <ul *ngIf="data1.employees">
                                          <li *ngFor="let data2 of data1.employees; let k = index">
                                            <a>
                                              
                                                <div class="comp-emp-name">
                  
                                                    <div class="row">
                                                      <div class="col-md-3">
                                                        <div class="user-account profilepicture">
                                                          <img *ngIf="data2.profilePath && Aws_flag=='true'" src="{{data2.profilePath}}" alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                                          <img *ngIf="data2.profilePath && Aws_flag!='true'" [src]="transform(data2.profilePath)" alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                                          <img *ngIf="!data2.profilePath" src="{{AssetsPath}}/propic.jpg" alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                                        </div>
                                                      </div>
                                                      <div class="col-md-9">
                                                        <div class="text">
                                                          <span>{{data2.empId}}</span>
                                              <br> <small>{{data2.descName}}</small> 
                                                    <br>
                                                    <small>{{data2.fullName}} {{data2.lastName}}</small>
                                                        </div>
                                  
                                                      </div>
                                                    </div>
                                                    
                                                  </div>
                  
                                              </a>
      
                                              <!-- new UL Starts -->
      
                                              <ul *ngIf="data2.employees">
                                                <li *ngFor="let data3 of data2.employees; let k = index">
                                                  <a>
                                                    
                                                      <div class="comp-emp-name">
                        
                                                          <div class="row">
                                                            <div class="col-md-3">
                                                              <div class="user-account profilepicture">
                                                                <img *ngIf="data3.profilePath && Aws_flag=='true'" src="{{data3.profilePath}}"  style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                                                <img *ngIf="data3.profilePath && Aws_flag!='true'" [src]="transform(data3.profilePath)"  style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                                                <img *ngIf="!data3.profilePath" src="{{AssetsPath}}/propic.jpg" alt="Avatar" style="border-radius: 50%; width: 60px; height: 60px; border: 0.15em solid white;">
                                                              </div>
                                                            </div>
                                                            <div class="col-md-9">
                                                              <div class="text">
                                                                <span>{{data3.empId}}</span>
                                                    <br> <small>{{data3.descName}}</small> 
                                                          <br>
                                                          <small>{{data3.fullName}} {{data3.lastName}}</small>
                                                              </div>
                                        
                                                            </div>
                                                          </div>
                                                          
                                                        </div>
                        
                                                    </a>
            
                                                    
            
                                                </li>
                                        
                                              </ul>
      
                                              <!-- new UL Ends -->
                                          </li>
                                  
                                        </ul>
      
                                    </li>
                            
                                  </ul>
      
                              </li>
                              
                            </ul>
                          </li>
                      
                      
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    </div>

  </div>


  <div class="container">
  
  
    <!-- The Modal -->
    <div class="modal" id="myModal" *ngIf='hideFlag' >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Company Policy</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <div class="container">
              <iframe class="responsive-iframe" style="zoom:0.60"  frameborder="0"  [src]="UrlDownload" width="100%" height="100%"  ></iframe>
            </div>
            <!-- <iframe style="zoom:0.60" width="99.6%" height="250" frameborder="0"  [src]="UrlDownload" width="100%" height="100%"></iframe> -->
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>

     
