
.org-heading{
    color:grey;
}
.overview-searchbox{
    border-radius: 2.5px;
    border:1px solid rgb(199, 199, 199);
    height:160px;
}
.min-height-430{
  min-height: 430px;
}
ul.comp-options {
    margin-top:20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .comp-options li{
    cursor: pointer;
      text-decoration: underline;
      font-size: 11px;
      color:rgb(70, 130, 243);
      padding-bottom: 10px;
  }
  .comp-options .fa{
      padding-right:5px;
  }
.fixdiv{
    width:20%;
    position: fixed;
}

  /* ========================TREE DIAGRAM====================== */
  .tree {
    -webkit-transform-origin: 50%;
            transform-origin: 50%;
            overflow: auto;
            min-height: 470px;
  }
  
  
  .tree ul {
    position: relative;
    padding:2em 0;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
  }
  .tree ul::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .tree li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 2em .5em 0 .5em;
    
  }
  .tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px dotted #ccc;
    width: 50%;
    height: 2em;
  }
  .tree li::after {
    right: auto;
    left: 50%;
    border-left: 2px dotted #ccc;
  }
  .tree li:only-child::after, .tree li:only-child::before {
    display: none;
  }
  .tree li:only-child {
    padding-top: 0;
  }
  .tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
  }
  .tree li:last-child::before {
    border-right: 2px dotted #ccc;
    /* border-radius: 0 5px 0 0; */
  }
  /* .tree li:first-child::after {

  } */
  
  .tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px dotted #ccc;
    width: 0;
    height: 2em;
  }


  
  .tree ul  .parentul::before{
    content: '';
    position: absolute;
    bottom: 0 !important;
    left: 50%;
    width: 0;
    height: 2em;
}

.tree[_ngcontent-c3] ul[_ngcontent-c3] .parentul[_ngcontent-c3]::after {
  content: '';
  position: absolute;
  bottom: 0 !important;
  right: 50%;

  border-top: 0px !important;
  width: 50%;
  height: 2em;
}


.tree ul .parentul{
  position: relative;
  bottom: 0 !important;
  padding: 0px !important;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  border-left: 0px !important;
}
 
  
  .tree li a {
    box-shadow: 0px 0px 16px 0px #00000033;
      background: #fff;
      border-top:1px solid rgb(9, 130, 230);
    /* padding: .5em .75em; */
    padding: 0.1em 1.75em;
    text-decoration: none;
    display: inline-block;
    /* border-radius: 5px; */
    color: #333;
    position: relative;
    top: 0px;

  }
  
  .tree li a:hover,
  .tree li a:hover + ul li a {
    background: #09294c;
    color: #fff;
    /* border: 1px solid #13296f */
  }
  
  .tree li a:hover + ul li::after,
  .tree li a:hover + ul li::before,
  .tree li a:hover + ul::before,
  .tree li a:hover + ul ul::before {
    border-color: #13296f;
  }


  .text{
      padding-left:20px;
      text-align: left;
  }

  .comp-emp-name{
      width:auto;
  }
  .comp-emp-name small{
    color:grey;
}

.tree ul .firstli ::after{
    content: '';
    position: absolute;
    bottom: 0 !important; 
    right: 50%;
    border-top:0px !important;
    width: 50%;
    height: 2em;

}

.chatsuggestion{
  background: white;
  padding: 5px;
  box-shadow: 0px 1px 8px #2d2d2d;
  border-radius: 0px 0px 5px 5px;
  max-height: 200px;
  overflow-x: auto;
  position: absolute;
  z-index: 9;
  margin-top: 20px;
  width: 80%;
  font-size: .85rem !important;
  font-family: Roboto, Arial, sans-serif !important;
}
.suggestiontext:hover{
  cursor: pointer;
  background: rgba(137, 188, 255, 0.425);
}
.active{
  background: rgba(137, 188, 255, 0.425);
}
.suggestiontext{
padding:4px;
border-radius: 3px;
}

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(108, 159, 255); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #004eb3; 
  }

  a{
    cursor: pointer;
  }
    /* ========================TREE DIAGRAM====================== */

    .table td, .table th {
      padding: .5rem !important;
      vertical-align: top;
      border-top: none !important;
      font-size: 11px;
      padding-left:15px;
  }
  .table tbody+tbody {
    border-top: none !important;
}
  .table td a {
color:#4682F3;
}
.table td a:hover {
  color:blue;
  }
/* 
  iframe { 
    width: 1000px !important; 
    height: 900px !important; 
    } */
    .container {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-top: 56.25%; /* 16:9 Aspect Ratio */
    }
    
    .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
    }