<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="captureScreen()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
        </div>  
  
    </div>
    <div class="rep-bg">
  
      <div class="row">
        <div class="col-md-6">
  
          <!-- <img src="assets/rieter_logoL.png" alt="alleviz"> -->
          <br>
          <h6 class="attrep">
            <strong class="blu">
              <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Monthly Attendence Report </strong> &nbsp;
  
          </h6>
        </div>
      </div>
   
      <div id="content" class="row">
  
        <div class="col-md-12">
          <!-- <div class="repdate float-right">{{myDate}}</div> -->
          <div class="qwe">
            <h6><span class="blu"><strong>Abbreviation:-</strong></span> A : Absent, P : Present, HF : Half day, WO: Weekly off, HO: Holiday
            ,<span></span> WOH : Week Off And Holiday</h6>
          </div>
        </div>

        <div class="col-md-12">
          <!-- <div class="repdate float-right">{{myDate}}</div> -->
          <div class="qwe">
            <h6><span class="blu"><strong>Monthly Attendence Report From Date: </strong></span>{{fromDate | date :'dd/MM/yyyy'}}<span class="blu"><strong> To:</strong></span> {{toDate | date :'dd/MM/yyyy'}}</h6>
          </div>
        </div>
  
        <div style="overflow-x: auto; overflow-y: hidden;" class="col-md-12" style="width:95%">
          <table class="table table-space table-borderless">
            <thead>
              <tr class="table-secondary">
                  <th style="width:3%;">Sr. No.</th>
                <th style="width:5%;">EmpId</th>
                <th style="width:5%;">Name</th>
                <th style="width:5%;">Dept</th>
                <th *ngFor="let head of tablehead; let l = index">{{head}}</th>
                <!-- <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
                <th>26</th>
                <th>27</th>
                <th>28</th>
                <th>29</th>
                <th>30</th>
                <th>31</th> -->
              </tr>
            </thead>
            <tbody *ngFor="let report of AllMonthReport; let i = index">

              <tr>
                <td>{{i+1}}</td>
                <td>{{report.attendanceReportNameResDtos.reportEmpNameAndIdResDto.empId}}</td>
                <td>{{report.attendanceReportNameResDtos.reportEmpNameAndIdResDto.fullName}} {{report.attendanceReportNameResDtos.reportEmpNameAndIdResDto.lastName}}</td>
                <td>{{report.attendanceReportNameResDtos.reportEmpNameAndIdResDto.deptName}}</td>
                <td *ngFor="let item1 of report.attendanceReportNameResDtos.attendanceReportResDtoList; let i1 = index">{{item1.attendanceStatus}}</td>
              </tr>
            </tbody>
          </table>
        </div>
                                           
      </div>
    </div>
  </div>