<div class="container-fluid">
    <div class="mainwrap">
      <div class="row">
          <div class="col-md-12">
              <div class="app-page-title">
                <div class="page-title-wrapper">
                  <div class="page-title-heading">
                    <div class="page-title-icon"><i class="fa fa-address-card-o bg-happy-itmeo" aria-hidden="true"></i></div>
                    <div>Change Passowrd<div class="page-title-subheading"> Here you can change your password </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <div class="col-lg-12 col-md-12">
          <div class="white-bg min-height-500">
            <div class="row justify-content-center">
              <div class="col-md-12">
                  <div class="row justify-content-center">
                      <div class="col-md-4">
          
                        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"  novalidate>
          
                          <div class="form-group">
                            <label>Old Password</label>
                            <input type="text" class="form-control"  #oldPas='ngModel' (change)="onBlurMethod()"  [(ngModel)]='changePass.passWord' id="Old" name="Old" 
                            required>
                            <i class="fa fa-eye errspan" *ngIf="!eyeFlagc" aria-hidden="true"  (click)="seePasswordo()"></i>
                          <i class="fa fa-eye-slash errspan" *ngIf="eyeFlagc" aria-hidden="true"  (click)="seePasswordo()"></i>
                            <div class="help-block" *ngIf="oldPas.errors?.required && oldPas.touched"><span style="color: red">Old Password required</span></div>
                           
                          </div>
                          <div class="form-group" *ngIf='flag'>
                            <label>New Password</label>
                            <input type="text" class="form-control" #newpass='ngModel' [(ngModel)]='PassWord' (change)='obj($event)' id="newpas" name="newpas" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,15}$" 
                            required/>
                            <i class="fa fa-eye errspan" *ngIf="!eyeFlago" aria-hidden="true"  (click)="seePasswordc()"></i>
                            <i class="fa fa-eye-slash errspan" *ngIf="eyeFlago" aria-hidden="true"  (click)="seePasswordc()"></i>
           
                            <div class="help-block" *ngIf="newpass.errors?.pattern && newpass.touched"><span style="color: red">Minimum six characters Including at least one letter, one number and one special character</span></div>
                            <div class="help-block" *ngIf="newpass.errors?.required && newpass.touched"><span style="color: red">Password required</span></div>
                            
                          </div>
                           
                           
                          <div class="form-group" *ngIf='flag'>
                            <label>Confirm Password</label>
                            <input type="text" class="form-control" #pas='ngModel' name="conpas" id="conpas" [(ngModel)]='changePass.pas' [pattern]=PassWord
                            required/>
                            <i class="fa fa-eye errspan" *ngIf="!eyeFlagn" aria-hidden="true"  (click)="seePasswordn()"></i>
                            <i class="fa fa-eye-slash errspan" *ngIf="eyeFlagn" aria-hidden="true"  (click)="seePasswordn()"></i>
                            <div class="help-block" *ngIf="pas.errors?.required && pas.touched"><span style="color: red"> confirm Password required</span></div>
                            <div class="help-block" *ngIf="pas.errors?.pattern && pas.touched"><span style="color: red">Password Miss-match</span></div>
                        
                          </div>
          
                                  <div class="float-right">
                          <div class="form-group">
                            <button class="btn btn-primary btn-sm" (click)='postnewPass()' [disabled]='f.invalid'>Save</button> 
                          </div>
                        </div>
                        </form>
          
                      </div>
                    </div>
                
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
