<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-male bg-happy-itmeo" aria-hidden="true"></i></div>
              <div> Advance Leave/Leave Bank <div class="page-title-subheading"> ...
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">


          <div class="row">
            <div class="col-md-12">
              <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true">Advance Leave</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">List</a>
                </li>

              </ul>
            </div>
          </div>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

              <div class="row justify-content-center mt-3">
                <div class="col-md-4">
                  <form  #f='ngForm' (ngSubmit)="f.form.valid && SubmitData(f)">
                    <div class="form-group">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [(ngModel)]='advanceLeaveModal.type' name="inlineRadioOptions" checked id="inlineRadio1"
                          value="AdvanceLeave">
                        <label class="form-check-label" for="inlineRadio1">Advacne Leave</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]='advanceLeaveModal.type' id="inlineRadio2" value="FromLeaveBank">
                        <label class="form-check-label" for="inlineRadio2">From Leave Bank</label>
                      </div>
                    </div>


                   
                    <div class="form-group">
                      <label>Select Employee</label>
                      <input class="form-control" autocomplete="off" (keydown)="keyDown($event)" placeholder="Select Employee"
                        [(ngModel)]="searchQuery" (input)="filterItem(searchQuery)" #name="ngModel" name="name"
                        type="text">
                    </div>

                    <div class="chatsuggestion" *ngIf="empFlag">
                      <div *ngFor="let item of Employeedata | searchPipeDashAdv: searchQuery" (click)="suggestThis(item)"
                        class="suggestiontext">
                        <div [class.active]="item.index == arrowkeyLocation">
                        
                           {{item.empId}} - {{item.fullName}} {{item.lastName}}
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="selectleave">Select Leave</label>
                      <select  class="form-control" name="type" #type='ngModel'  [(ngModel)]="advanceLeaveModal.leaveId"
                             required >
                            
                            <option  hidden value="selectValue">Select</option>
                            <option value="{{item.leaveId}}" (click)="getLeaveId(item)" *ngFor="let item of LeaveData; let i = index;">{{item.leaveCode}}
                              - {{item.leaveName}} 
                            </option>


                          </select>
                          <div class="help-block" *ngIf="type.errors?.required && (type.touched )"><small style="color: red">Please
                              Select Leave</small></div>

                    </div>

                    <!-- IF LEAVE BANK SELECTED SHOW THIS FROM DATE TO DATE -->
                    <div class="form-row" *ngIf='advanceLeaveModal.type == "FromLeaveBank"'>
                      <div class="form-group col-md-6">
                        <label for="frmDate">From Date</label>
                        <input type="date" [ngModel]='advanceLeaveModal.fromDate | date:"yyyy-MM-dd"' max={{advanceLeaveModal.toDate}} name="fromDate" (change)='Fromvalue($event)' #fromDate='ngModel' class="form-control" id="frmDate">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="toDate">To Date</label>
                        <input type="date" [ngModel]='advanceLeaveModal.toDate | date:"yyyy-MM-dd"' min={{advanceLeaveModal.fromDate}} name="toDate" (change)='Tovalue($event)' #toDate='ngModel' class="form-control" id="toDate">
                      </div>
                    </div>
                    <!-- IF LEAVE BANK SELECTED SHOW THIS FROM DATE TO DATE -->

                    <div class="form-group" *ngIf='advanceLeaveModal.type == "FromLeaveBank"'>
                      <label for="numleaves">Number Of Leaves</label>
                      <input type="text" disabled class="form-control form-control-sm" name="noOfLeave" #noOfLeave='ngModel' [(ngModel)]='advanceLeaveModal.noOfLeave'  id="numleaves">
                    </div>
                    <div class="form-group" *ngIf='advanceLeaveModal.type == "AdvanceLeave"'>
                      <label for="numleaves">Number Of Leaves</label>
                      <input type="text"  class="form-control form-control-sm" name="noOfLeave" #noOfLeave='ngModel' [(ngModel)]='advanceLeaveModal.noOfLeave'  id="numleaves">
                    </div>
                    <div class="form-group">
                      <label for="reason">Reason</label>
                      <textarea class="form-control" id="reason" name="reson" #reson='ngModel' [(ngModel)]='advanceLeaveModal.reason'   rows="3"></textarea>
                    </div>
                    <button type="submit"  [disabled]='f.invalid' class="btn float-right btn-primary"> Submit </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row justify-content-between">
                <div class="col-md-4">
                  <div class="form-row">

                    <div class="form-group col-md-6">
                      <label for="expfrmdate">From Date</label>
                      <!-- <input type="date" class="form-control form-control-sm" id="expfrmdate"> -->
                      <input type="date" [ngModel]='tempModal.fromDate | date:"yyyy-MM-dd"' (ngModelChange)='fromEvent($event)' class="form-control form-control-sm" id="expfrmdate" name="expfrmdate" required />
                      <!-- <div class="form-group col-md-4" (click)="fromToDate('from')">
                        <label>From Date<span style="color: red"> *</span></label>
                        <input type="date" class="form-control" #frmdate='ngModel' name="frmdate" [ngModel]="expfrmdate | date:'yyyy-MM-dd'"
                          (ngModelChange)="selectFromDate($event)" required max="{{maxDateForApply | date:'yyyy-MM-dd'}}" />
                        

                      </div> -->

                    </div>

                    <div class="form-group col-md-6">
                      <label for="ExptoDate">To Date</label>
                      <input type="date"  [disabled]='tempModal.type == "AdvanceLeave"' [ngModel]='tempModal.toDate | date:"yyyy-MM-dd"' (ngModelChange)='ToEvent($event)' class="form-control form-control-sm" id="ExptoDate">
                      <!-- <input type="date" class="form-control form-control-sm" id="ExptoDate"> -->
                     
                      <!-- <div class="form-group col-md-4" (click)="fromToDate('from')">
                        <label>From Date<span style="color: red"> *</span></label>
                        <input type="date" class="form-control" #frmdate='ngModel' name="frmdate" [ngModel]="ExptoDate | date:'yyyy-MM-dd'"
                          (ngModelChange)="selectFromDate($event)" required max="{{maxDateForApply | date:'yyyy-MM-dd'}}" />
                        

                      </div> -->
                      
                    </div>

                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="expsort">Sort By Type</label>
                    <select class="form-control form-control-sm" [(ngModel)]='tempModal.type' (ngModelChange)='dropDown($event)' id="expsort">
                      <option value="All">All</option>
                      <option value="AdvanceLeave">Advance Leave</option>
                      <option value="FromLeaveBank">From Leave Bank</option>
                    </select>
                  </div>
                </div>
              </div>
              <hr>

              <div class="row justify-content-center">

                <div class="col-md-12">
                  <table id="BusinessTable" class="table table-striped table-bordered" style="width:100%">
                    <thead class="theadblue">
                      <tr>
                        <th>Emp Name</th>
                        <th>Emp Id</th>
                        <th>Leave Type</th>
                        <th>Number Of Leaves</th>
                        <th>Reason</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let i of AdvanceLeaveDataList'>
                        <td>{{i.fullName}} {{i.lastName}}</td>
                        <td>{{i.empPerId}}</td>
                        <td>Advance Leave</td>
                        <td>{{i.noOfLeave}}</td>
                        <td>{{i.reason}}</td>
                      </tr>
                      


                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>