/* RADIO BUTTONS DESIGN */

.chatsuggestion{
    background: white;
    padding: 5px;
    box-shadow: 0px 1px 8px #2d2d2d;
    border-radius: 0px 0px 5px 5px;
    max-height: 200px;
    overflow-x: auto;
  }
  .suggestiontext:hover{
    cursor: pointer;
    background: rgba(137, 188, 255, 0.425);
  }
  /* .active{
    background: rgba(137, 188, 255, 0.425);
  } */
  .suggestiontext{
  padding:4px;
  border-radius: 3px;
  }
  .hilighttext{
    color: rgb(83, 106, 171);
  }

input[type="radio"] + label {
    position: relative;
    cursor: pointer;
    margin: 10px;
    padding-left: 35px;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label:before {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #1565C0;
    -moz-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
    -webkit-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
    box-shadow: inset 0 0 0 18px #E0E0E0;
}
input[type="radio"] + label:before, input[type="radio"] + label:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
input[type="radio"]:checked + label:before {
    -moz-box-shadow: inset 0 0 0 4px #E0E0E0;
    -webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
    box-shadow: inset 0 0 0 4px #E0E0E0;
}
input[type="radio"]:checked + label:after {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -moz-animation: ripple 1s none;
    -webkit-animation: ripple 1s none;
    animation: ripple 1s none;
}
input[type="radio"] + label:after {
    top: 49%;
    left: 9px;
    width: 54px;
    height: 54px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.3);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}
/* RADIO BUTTONS DESIGN */