
<!-- <b><label>{{fullName}}</label></b> -->
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="data-title">
            <h6>Employee Official Details</h6>
        </div>
    </div>

    <!-- <div class="col-md-5">
        <div class="data-title">
            <h5>Employee Official Details</h5>
        </div>
    </div> -->

</div>
<div class="row justify-content-center">

    <div class="col-md-6">

        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label>Biometric Id</label><span style="color: red">*</span>
                        <input class="form-control form-control-sm" [disabled]="isEdit && preonboarding != 'pre'" #bioId='ngModel' type="text" name="bioId" maxlength="10"
                            [(ngModel)]="HROfficialModel.bioId" (ngModelChange)="OnChangeBioId($event)" required>

                        <div class="help-block" *ngIf="bioId.errors?.required && (bioId.touched )">
                            <small style="color: red">Biometric Id required</small></div>
                        <div class="help-block" *ngIf="flagBio"><small style="color: red">{{getbioData.message}}</small>
                        </div>
                    </div>

                </div>

                <div class="col">
                    <div class="form-group">
                        <label>Employee Id</label><span style="color: red">*</span>
                        <input class="form-control form-control-sm" type="text" [disabled]="isEdit && preonboarding != 'pre'" #empIds='ngModel' name="empId" maxlength="10"
                            [(ngModel)]="HROfficialModel.empId" (ngModelChange)="onChange($event)" required>
                        <div class="help-block" *ngIf="empIds.errors?.required && (empIds.touched )">
                            <small style="color: red">Employee Id is required</small></div>
                        <div class="help-block" *ngIf="flaggets"><small
                                style="color: red">{{getempData.message}}</small></div>
                    </div>
                </div>
            </div>
            <!-- <div class="form-row">

                <div class="col">
                    <div class="form-group">
                        <label for="businessgroup">Business Group <span style="color: red">*</span></label>

                        <select id="busiGroupId" class="form-control form-control-sm" #selectedBuss='ngModel'
                            [(ngModel)]="selectedBusinessobj" name="selectedBusinessobj"
                            (change)="businessGroup($event)" required>
                            <option value="">Select Business Group</option>
                            <option value="{{businessGroup.busiGroupId}}"
                                *ngFor="let businessGroup of businessGroupData; let i = index;">
                                {{businessGroup.busiGrupName}}</option>
                        </select>
                        <div class="help-block" *ngIf="selectedBuss.errors?.required && (selectedBuss.touched )"><small
                                style="color: red">Business Group is required</small></div>

                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="functionunit">Function Unit <span style="color: red">*</span></label>

                        <select id="functionUnitId" class="form-control form-control-sm"
                            [(ngModel)]="selectedFunctionobj" #selectedFun='ngModel' name="selectedFunctionobj"
                            (change)="FuctionGroup($event)" required>
                            <option hidden [value]="selectUndefinedOptionValue"> Select Function Group</option>
                            <option value="{{function.functionUnitId}}"
                                *ngFor="let function of functionData; let i = index;">{{function.functionUnitName}}
                            </option>
                        </select>
                        <div class="help-block" *ngIf="selectedFun.errors?.required && (selectedFun.touched )"><small
                                style="color: red">Function Unit is required</small></div>

                    </div>
                </div>
            </div> -->
            <div class="form-row">


                <div class="col">
                    <div class="form-group">
                        <label for="departmentname">Department Name <span style="color: red">*</span></label>

                        <select id="deptId" class="form-control form-control-sm" [(ngModel)]="selectedDepartmentobj"
                            name="selectedDepartmentobj" #selectedDep='ngModel' (change)="Departmentdata($event)"
                            required>
                            <option hidden [value]="selectUndefinedOptionValue">Select Department</option>
                            <option value="{{department.deptId}}"
                                *ngFor="let department of DepartmentAllData; let i = index;">{{department.deptName}}
                            </option>
                        </select>
                        <div class="help-block" *ngIf="selectedDep.errors?.required && (selectedDep.touched )"><small
                                style="color: red">Department Name is required</small></div>

                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="locationname">Location <span style="color: red">*</span></label>

                        <select id="locationId" class="form-control form-control-sm" [(ngModel)]="selectedLocationobj"
                            name="selectedLocationobj" #selectedLoc='ngModel' (change)="Locationdata($event)" required>
                            <option hidden [value]="selectUndefinedOptionValue">Select Location Name</option>
                            <option value="{{location.locationId}}"
                                *ngFor="let location of LocationAllData; let i = index;">{{location.locationName}}
                            </option>
                        </select>
                        <div class="help-block" *ngIf="selectedLoc.errors?.required && (selectedLoc.touched )"><small
                                style="color: red">Locationis required</small></div>

                    </div>
                </div>
              
            </div>
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                    <label for="designation">Designation <span style="color: red">*</span></label>
                    <select id="descId" class="form-control form-control-sm" [(ngModel)]="selectedDesignationobj"
                    name="selectedDesignationobj" #selectedDes='ngModel' (change)="Designationdata($event)" required>
                    <option value="">Select Designation</option>
                    <option value="{{designation.descId}}" *ngFor="let designation of DesignationAllData; let i = index;">
                       {{designation.descName}}
                    </option>
                    </select>
                    <div class="help-block" *ngIf="selectedDes.errors?.required && (selectedDes.touched )"><small
                       style="color: red">Designation required</small></div>
          </div>
          </div>
                 <div class="col-6">
                    <div class="form-group">

                    <label for="dojJoining">Date Of Joining</label><span style="color: red">*</span>
                    <input class="form-control form-control-sm" type="date" placeholder="DD/MM/YY" (change)='event2($event)'
                        #dateOfJoining='ngModel' name="dateOfJoining"
                        [ngModel]="HROfficialModel.dateOfJoining"
                        (ngModelChange)="joiningDate($event)" min="0001-01-01" max="9999-12-31" required >
                    <div class="help-block"
                        *ngIf="dateOfJoining.errors?.required && (dateOfJoining.touched)">
                        <small style="color: red">Date Of Joining required</small></div>
                  </div>
              </div>
            </div>  
           

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="empcategory">Employee Category<span style="color: red">*</span></label>
                        <select id="empTypeId" class="form-control form-control-sm" [(ngModel)]="selectedEmpTypeobj"
                            name="selectedEmpTypeobj" #selectedEmpTyp='ngModel' (change)="selectEmptype($event)"
                            required>
                            <option hidden [value]="selectUndefinedOptionValue">Select Employee Category</option>
                            <option value="{{emp.empTypeId}}" *ngFor="let emp of empTypeAllData; let i = index;">
                                {{emp.empTypeName}}</option>
                        </select>
                        <div class="help-block" *ngIf="selectedEmpTyp.errors?.required && (selectedEmpTyp.touched )">
                            <small style="color: red">Employee Category required</small></div>

                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="subempcategory">Sub-Employee Category <span style="color: red">*</span></label>
                        <select id="subEmpTypeId" class="form-control form-control-sm"
                            [(ngModel)]="selectedSubEmpTypeobj" name="selectedSubEmpTypeobj"
                            (change)="selectsubEmptype($event)" #selectedSubEmpTyp='ngModel' required>
                            <option hidden [value]="selectUndefinedOptionValue">Select Sub-Employee Category</option>
                            <option value="{{subemp.subEmpTypeId}}"
                                *ngFor="let subemp of subempTypeAllData; let i = index;">{{subemp.subEmpTypeName}}
                            </option>
                        </select>
                        <div class="help-block"
                            *ngIf="selectedSubEmpTyp.errors?.required && (selectedSubEmpTyp.touched )">
                            <small style="color: red">Sub-Employee Category required</small></div>
                    </div>
                </div>


                
            </div>
            

            <div class="form-row">
            

                <div class="col">
                    <div class="form-group">
                        <label for="subempcategory">Employee Role</label><span style="color: red">*</span>
                        <select class="form-control form-control-sm" [(ngModel)]="selectedroleobj"
                            name="selectedroleobj" (change)="getobject($event)" #selectedCompanyob='ngModel' requried>
                            <option hidden [value]="selectUndefinedOptionValue">Select Role</option>
                            <option value="{{addcompany.rollMasterId}}"
                                *ngFor="let addcompany of ActiveRoll; let i = index;">{{addcompany.rollName}}</option>
                        </select>
                        <!-- <div class="help-block" *ngIf="selectedroleobj.errors?.required && (selectedroleobj.touched )">
                            <small style="color: red">Employee Role required</small></div> -->

                    </div> 


                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="emptype">Employment type<span style="color: red">*</span></label>
                        <select id="emptype" class="form-control form-control-sm" #employmentType='ngModel'
                            name="employmentType" [(ngModel)]="HROfficialModel.employmentType" required>
                            <option hidden [value]="selectUndefinedOptionValue">Select Employeement type</option>
                            <option value="On Roll">On Roll</option>
                            <option value="On Contract">On Contract</option>
                         </select>
                        <div class="help-block" *ngIf="employmentType.errors?.required && (employmentType.touched )">
                            <small style="color: red">Employment type required</small></div>
                    </div>
                </div>


            </div>
       
               

          
            <div class="form-row" *ngIf="editData">
                <div class="col-4">
                    <!-- <span>Status : {{editData.finalStatus}} </span> -->
                </div>
            </div>

        

         

            <!-- <div class="form-row" id="Location Head" *ngIf='RoleHead=="Location Head"'>
                <div class="col">
                    <div class="form-group">
                        <label>Location</label>
                        <ng-multiselect-dropdown [placeholder]="'location'" [data]="LocationAllData"
                            [(ngModel)]="HROfficialModel.locationMasterList" [ngModelOptions]="{standalone: true}"
                            #locationMasterList='ngModel' (ngChange)="changeSelect($event)"
                            [settings]="LocationondropdownSettings" (onSelect)="LocationonItemSelect($event)"
                            (onSelectAll)="LocationonSelectAll($event)" (onDeSelect)="LocationOnItemDeSelect($event)"
                            (onDeSelectAll)="LocationonDeSelectAll($event)">
                        </ng-multiselect-dropdown>
                    </div>
                </div>

            </div> -->

          

            <!-- <div class="form-row" id="Department Head" *ngIf='RoleHead=="Department Head"'>
                <div class="col">
                    <div class="form-group">
                        <label>Department</label>
                        <ng-multiselect-dropdown [placeholder]="'Department Head'" [data]="DepartmentAllData"
                            [(ngModel)]="HROfficialModel.departmentMasterList" [ngModelOptions]="{standalone: true}"
                            #departmentMasterList='ngModel' (ngChange)="changeSelect($event)"
                            [settings]="DepartmentondropdownSettings" (onSelect)="DepartmentonItemSelect($event)"
                            (onSelectAll)="DepartmentonSelectAll($event)"
                            (onDeSelect)="DepartmentOnItemDeSelect($event)"
                            (onDeSelectAll)="DepartmentonDeSelectAll($event)">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
            </div> -->
 
         
           



           

      
            

          


           

            <!-- ======================================Authority section================= -->
            <div class="col-md-6">
                <div class="data-title">
                    <h6>Authority Detail</h6>
                </div>
            </div>

            <div class="form-row">
                <div class="col">

                    <div class="form-group">
                        <label>Reporting Manager</label><span style="color: red">*</span>
                        <input class="form-control form-control-sm" autocomplete="off" (keydown)="keyDown($event)"
                            placeholder="Reporting Manager" [(ngModel)]="searchQuery" #name="ngModel"
                            name="name" (input)="filterItem(searchQuery)" type="text" required>
                    </div>
                    <div class="chatsuggestion" *ngIf="empFlag">
                        <div *ngFor="let item of FirstLevelAlldata "(click)="suggestThis(item)" class="suggestiontext">
                            <div [class.active]="item.index == arrowkeyLocation">
                                {{item.empId}} - {{item.fullName}} {{item.lastName}}
                            </div>
                        </div>
                        <div *ngIf="name.errors?.required && (name.touched )"><small style="color: red">First Level
                                Reporting Manager required</small>

                        </div>
                    </div>
                    </div>
         
               
                    <div class="col">
    
                        <label>Sanctioning Authority</label>
                        <br>
                        <label class="switch mt-2">
                            <input type="checkbox" name="isFresher" [(ngModel)]="HROfficialModel.sanctioningAuthority">
                            <span class="slider round"></span>
                            <!-- <div *ngIf="f.submitted && isFresher.invalid" class="invalid-feedback">SanctioningAuthority is requried</div> -->
                        </label>
    
                    </div>
                </div>
    


                <!-- <div class="col-md-6">

                    <div class="form-group">
                        <label>Second Level Reporting Manager</label>
                        <input class="form-control form-control-sm" autocomplete="off" (keydown)="keyDown1($event)" [disabled]="!searchQuery"
                            placeholder="second Level Reporting Manager" [(ngModel)]="searchQuery1" #name1="ngModel"
                            name="name1" (input)="filterItem1(searchQuery1)" type="text">
                    </div>
                    <div class="chatsuggestion" *ngIf="empFlag1">
                        <div *ngFor="let item1 of SecondLevelAlldata " (click)="suggestThis1(item1)"
                            class="suggestiontext">
                            <div [class.active]="item1.index == arrowkeyLocation1">
                                {{item1.empId}} - {{item1.fullName}} {{item1.lastName}}
                            </div>
                        </div>
                    </div>
                </div> -->
            

<!-- 
            <div class="form-row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label>Third Level Reporting Manager</label>
                        <input class="form-control form-control-sm" autocomplete="off" (keydown)="keyDown2($event)" [disabled]="!searchQuery1"
                            placeholder="Third Level Reporting Manager" [(ngModel)]="searchQuery2" #name2="ngModel"
                            name="name2" (input)="filterItem2(searchQuery2)" type="text">
                    </div>
                    <div class="chatsuggestion" *ngIf="empFlag2">
                        <div *ngFor="let item2 of ThirdLevelAlldata " (click)="suggestThis2(item2)"
                            class="suggestiontext">
                            <div [class.active]="item2.index == arrowkeyLocation2">
                                {{item2.empId}} - {{item2.fullName}} {{item2.lastName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


            <!-- Santion Auhority Level Starts -->

            <!-- <div class="form-row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label>First Level Sanction Manager</label><span style="color: red">*</span>
                        <input class="form-control form-control-sm" autocomplete="off" (keydown)="keyDown($event)"
                            placeholder="First Level Sanction Manager" [(ngModel)]="searchQueryFirst" #name="ngModel"
                            name="name" (input)="filterItemFirst(searchQuery)" type="text" required>
                    </div>
                    <div class="chatsuggestion" *ngIf="empFlagFrist">
                        <div *ngFor="let item of firstLevelSanctionData" (click)="suggestThisFirst(item)" class="suggestiontext">
                            <div [class.active]="item.index == arrowkeyLocation">
                                {{item.empId}} - {{item.fullName}} {{item.lastName}}
                            </div>
                        </div>
                        <div *ngIf="name.errors?.required && (name.touched )"><small style="color: red">First Level
                            Sanction Manager required</small>

                        </div>
                    </div>

                </div>


                <div class="col-md-6">

                    <div class="form-group">
                        <label>Second Level Sanction Manager</label>
                        <input class="form-control form-control-sm" autocomplete="off" (keydown)="keyDown1($event)"
                            placeholder="second Level Sanction Manager" [(ngModel)]="searchQuerySecond" #name1="ngModel"
                            name="name1" (input)="filterItemSecond(searchQuery1)" type="text">
                    </div>
                    <div class="chatsuggestion" *ngIf="empFlagSecond">
                        <div *ngFor="let item1 of secondLevelSanctionData " (click)="suggestThisSecond(item1)"
                            class="suggestiontext">
                            <div [class.active]="item1.index == arrowkeyLocation1">
                                {{item1.empId}} - {{item1.fullName}} {{item1.lastName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


            <!-- <div class="form-row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label>Third Level Sanction Manager</label>
                        <input class="form-control form-control-sm" autocomplete="off" (keydown)="keyDown2($event)"
                            placeholder="Third Level Sanction Manager" [(ngModel)]="searchQueryThird" #name2="ngModel"
                            name="name2" (input)="filterItemThird(searchQuery2)" type="text">
                    </div>
                    <div class="chatsuggestion" *ngIf="empFlagThird">
                        <div *ngFor="let item2 of thirdLevelSanctionData " (click)="suggestThisThird(item2)"
                            class="suggestiontext">
                            <div [class.active]="item2.index == arrowkeyLocation2">
                                {{item2.empId}} - {{item2.fullName}} {{item2.lastName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Sanction Authority Level Ends -->

          

                <!-- <div *ngIf="HROfficialModel.sanctioningAuthority == true" class="col-md-6">

                    <div class="form-group">
                        <label>Delegated Employee</label>
                        <input class="form-control form-control-sm" autocomplete="off" (keydown)="keyDown5($event)"
                            placeholder="Delegated Employee" [(ngModel)]="searchQuery5" #Deligate="ngModel"
                            name="Deligate" (input)="filterItem5(searchQuery5)" type="text">
                    </div>
                    <div class="chatsuggestion" *ngIf="empFlag5">
                        <div *ngFor="let deli of Deligationdata " (click)="suggestThis5(deli)" class="suggestiontext">
                            <div [class.active]="deli.index == arrowkeyLocation5">
                                {{deli.empId}} - {{deli.fullName}} {{deli.lastName}}
                            </div>
                        </div>
                    </div>
                </div> -->
        

            <!-- Contractor new design starts  -->

            <!-- 
                <div class="form-row">
                    <div class="col"  *ngIf='HROfficialModel.employmentType !="On Roll" && HROfficialModel.employmentType !="Consultant OR Retainer"'>
                        <div class="form-group">
                            <label for="contractorType">Contractor Type</label>
                            <select id="contractorType" class="form-control form-control-sm" name="contractorType"
                                 [(ngModel)]="HROfficialModel.conSerTypeId" (ngModelChange)="getContractorData($event)">
                                <option hidden value="">Select Contractor Type</option>
                                <option *ngFor="let data of contractorTypeData" value="{{data.conSerTypeId}}">{{data.conSerZTypeName}}</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="col"  *ngIf='HROfficialModel.employmentType !=="On Roll" && HROfficialModel.employmentType !="Consultant OR Retainer"'>
                        <div class="form-group" >
                            <label for="contractorName">Contractor Name</label>
                            <select id="contractorName" class="form-control form-control-sm" name="contractorName"
                                [(ngModel)]="HROfficialModel.contractorId" >
                                <option hidden value="">Select Contractor Name</option>
                                <option value="{{data.contractorId}}" *ngFor="let data of contractorNamesData">{{data.conFirmName}}</option>
                                
                            </select>
                        </div>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="col"  *ngIf='HROfficialModel.employmentType !="On Roll"  && HROfficialModel.employmentType !="Consultant OR Retainer"'>
                        <div class="form-group">
                            <label for="contractStartDate">Contract Start Date</label>
                            <input id="contractStartDate" class="form-control form-control-sm" placeholder="DD/MM/YY" type="date"
                                name="validStartDate"
                                [ngModel]="HROfficialModel.validStartDate | date:'yyyy-MM-dd'"
                                #validStartDate='ngModel'>
                        </div>
                    </div>
                    <div class="col"  *ngIf='HROfficialModel.employmentType !="On Roll"  && HROfficialModel.employmentType !="Consultant OR Retainer"'>
                        <div class="form-group">
                            <label for="contractEndDate">Contract End Date</label>
                            <input id="contractEndDate" class="form-control form-control-sm" placeholder="DD/MM/YY" type="date"
                                name="validEndDate"
                                [ngModel]="validEndDate.validEndDate | date:'yyyy-MM-dd'"
                                #validEndDate='ngModel'>
                        </div>
                    </div>
                </div> -->

                
            <!-- Contractor new design starts  -->

             <!-- <div class="form-row">
                <div class="col">
                    <div class="backbtn">
                         <a>Back</a> 
                    </div>
                </div>  -->


                <div class="col-md-6">
                    <div class="data-title">
                        <h6>Attendance details</h6>
                    </div>
                </div>
                <div class="form-row">
                    
                        <div class="col">
                            <div class="form-group">
                                <label for="shifttype">Shift Type</label><span style="color: red">*</span>
                                <select id="shifttype" class="form-control form-control-sm" #shiftTyp='ngModel' name="shiftType"
                                    form="shiftType" [(ngModel)]="HROfficialModel.shiftType" required>
                                    <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                                    <option value="General">General</option>
                                    <option value="Custom">Custom</option>
                                    
                                </select>
                                <div class="help-block" *ngIf="shiftTyp.errors?.required && (shiftTyp.touched )"><small
                                        style="color: red">Shift Type is required</small></div>
                                <!-- <div class="help-block" *ngIf="shiftTyp.errors?.required && (shiftTyp.touched )"><small
                                        style="color: red">Shift Type is required</small></div> -->
        
                            </div>
                        </div>
                       
            
                        <div class="col"  *ngIf='HROfficialModel.shiftType== "Custom"'>
                            <div class="form-group">
                                <label for="shiftgrp">Shift Group</label><span style="color: red">*</span>
                                <select [(ngModel)]="selectedshiftgroupobj" name="shiftgrp" form="shiftgrp" class="form-control form-control-sm"
                                    (change)="shiftgroupvalue($event)" required>
                                    <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                                    <option value="{{addshiftgroup.shiftGroupId}}" *ngFor="let addshiftgroup of Shiftgroupdata; let i = index;">
                                        {{addshiftgroup.shiftGroupName}}</option>
                                </select>
        
                            </div>
                        </div>
                        <div class="col" *ngIf='HROfficialModel.shiftType == "General"'>
                            <div class="form-group">
                                <label for="shiftdetails">Shift Details</label><span style="color: red">*</span>
                                <select name="shiftdetails" [(ngModel)]="selectedshiftmastergroupobj" form="shiftdetails"
                                    class="form-control form-control-sm" (change)="shiftgroupmastervalue($event)" required>
                                    <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                                    <option value="{{addshiftgroup.shiftMasterId}}" *ngFor="let addshiftgroup of Shiftmastergroupdata; let i = index;">
                                        {{addshiftgroup.shiftName}}</option>
                                </select>
            
                            </div>
                        </div>
            
                        <div class="col" *ngIf='HROfficialModel.shiftType== "Roster"'>
                            <div class="form-group">
                                <label for="shiftpattern">Shift Pattern</label><span style="color: red">*</span>
                                <!-- [disabled]="roasterDateFlag" -->
                                <select name="shiftpattern" form="shiftpattern" [(ngModel)]="selectedshiftpatternobj"
                                    class="form-control form-control-sm" (ngModelChange)="shiftpatternvalue($event)" required>
                                    <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                                    <option value="{{shiftPattern.shiftPatternId}}" *ngFor="let shiftPattern of ShiftPatterndata; let i = index;">
                                        {{shiftPattern.shiftPatternName}}</option>
                                </select>
            
                            </div>
                        </div>
                    </div>
            
                    <div class="form-row">
            
                            <div class="col" *ngIf='HROfficialModel.shiftType == "Roster"'>
                                <div class="form-group">
                                    <label for="shiftgrp">Date</label><span style="color: red">*</span>
                                    <!-- [disabled]="roasterDateFlag" --> 
                                    <!-- min="{{currentDate | date:'yyyy-MM-dd' }}" -->
                                    <input class="form-control form-control-sm" min="{{editData.monthLockMaster.endDate | date:'yyyy-MM-dd' }}"  type="date" name="roasterDate" id="roasterDate" [ngModel]="HROfficialModel.roasterDate | date:'yyyy-MM-dd'"  (ngModelChange)="dateOfroaster($event)">
                                </div>
                            </div>
                            <div class="col" *ngIf='HROfficialModel.shiftType == "Roster"'>
                                <div class="form-group">
                                    <label for="shiftdetails">Shift</label><span style="color: red">*</span>
                                    <!-- [disabled]="roasterDateFlag" -->
                                    <select name="shift" form="shift" [(ngModel)]="selectedshiftobj"
                                        class="form-control form-control-sm" (change)="shift($event)" required>
                                        <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                                        <!-- <option value="{{shift.shiftMasterId}}" *ngFor="let shift of ShiftPatternshiftdata; let i = index;">
                                            {{shift.shiftName}}</option> -->
                                    <option value="{{sequenceOne}}">{{shiftName1}}</option>
                                    <option value="{{sequencetwo}}">{{shiftName2}}</option>
                                    <option value="{{sequencethree}}">{{shiftName3}}</option>
                                    </select>
            
                                </div>
                            </div>
                
                    </div>
            
                    <div class="form-row">
                        <!-- <div class="col">
                            <div class="form-group">
                                <label for="shifttype">Weekly-off Type</label><span style="color: red">*</span>
                                <select id="shifttype" class="form-control form-control-sm" name="shiftTypee" form="shiftTypee"
                                    [(ngModel)]="HROfficialModel.weeklyOffType" #weeklyOffTy='ngModel' required>
                                    <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                                    <option value="General">General</option>
                                    <option value="Custom">Custom</option>
                                </select>
                                <div class="help-block" *ngIf="weeklyOffTy.errors?.required && (weeklyOffTy.touched )"><small
                                        style="color: red">Weekly-off Type is required</small></div>
                            </div>
                        </div> -->
                        <!-- <div class="form-row pb-3"> -->
                            <div  class="col">
                              <div class="form-group">
                                <label for="weeklyOffType">Weeklyoff Type</label><span style="color: red">*</span>
                                <select name="weeklyOffType" [(ngModel)]="weeklyOffType"  class="form-control form-control-sm"  >                                                                
                                    <option value="Fixed">Fixed</option>
                                  <option value="Variation">Variation</option>
                                </select>
                              </div>
                            </div>
                         
                        <!-- </div> -->
                        <div class="col">   
                            <div class="form-group" >
                                <label for="shiftgrp" >Weeklyoff Calender</label><span style="color: red">*</span>
                                <select [(ngModel)]="selectedWeeklyGroupobj" name="calenderName"  class="form-control form-control-sm"
                                    (change)="Weeklycalendervalue($event)">
                                    <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                                    <option value="{{addwcalender.weeklyOffCalenderMasterId}}" *ngFor="let addwcalender of WeeklyOffcalendarData; let i = index;">
                                        {{addwcalender.calenderName}}</option>
                                </select>
                            </div>
                        </div>
                       </div>
                     
                       <div class="data-title" >
                        <h6>Government Documents Information</h6>
                     </div>
                     <div class="form-row">
                        <div class="form-group col-md-6" >
                           <label for="panNumber">PAN Number</label>
                           <input type="text" class="form-control form-control-sm" id="panNumber" maxlength="10"   
                           [(ngModel)]="HROfficialModel.panNo"  alphaOnly  name="panNo" #panNumber='ngModel'>
                          
              
                        </div>
                       
                        <div class="form-group col-md-6">
                           <label for="aadharNumber">Aadhaar Number</label>
                        <input type="text" class="form-control form-control-sm" id="aadharNumber" maxlength="12"
                        [(ngModel)]="HROfficialModel.adharNo" name="adharNo" #aadharNumber='ngModel'  numbersOnly>
                  
    
                        </div>
                        <div class="form-group col-md-6">
                           <label for="pfNumber">PF Number</label>
                           <input type="text" class="form-control form-control-sm" id="pfNumber" 
                           [(ngModel)]="HROfficialModel.pfNumber" name="pfNumber" #pfNumbers='ngModel' maxlength="16">
                          
    
                        </div>
                        <div class="form-group col-md-6">
                           <label for="universalAccNo">UAN  Number</label>
                           <input type="text" class="form-control form-control-sm" id="universalAccNo" 
                           [(ngModel)]="HROfficialModel.universalAccNo" name="universalAccNo" #universalAccNos='ngModel' maxlength="12">
                          
                           
    
                     </div>
                     <div class="form-group col-md-6">
                        <label for="esicNumber">ESIC/WC/Medical Policy number</label>
                        <input type="text" class="form-control form-control-sm" id="esicNumber" 
                        [(ngModel)]="HROfficialModel.esicNumber" name="esicNumber" #esicNumbers='ngModel' maxlength="17">
                        </div>
                     </div>
                  
                       
                        
    
                           <div class="col">
                            <button type="submit" [disabled]='f.invalid || hidebuttn' class="btn btn-primary float-right"
                                (click)="storeInfo(f)">save</button>
                        </div>
                    <!-- </div> -->
                </form>
            </div>
        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
                    
                
    
            
            


                
                