<div class="container-fluid">
  <div class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Leave Taken Report</strong> &nbsp;
        </h6>
      </div>
    </div>

    <div class="row">

      <!-- <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Abbreviation:-</strong></span>WD : Working Day, WO : Weekly Off, HO : Holiday,<span></span> WOH : Week Off And Holiday</h6>
        </div>
      </div> -->

      <div class="col-md-12">
        <div class="qwe" *ngIf="fromDate == toDate ">
          <h6><span class="blu"><strong>Leave Taken of Employees For Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}</h6>
        </div>
        <div class="qwe" *ngIf="fromDate != toDate ">
          <h6><span class="blu"><strong>Leave Taken of Employees From Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}<span class="blu"><strong> To:</strong></span> {{toDate | date:"dd MMM yyyy"}}</h6>
        </div>
      </div>

      <div style="overflow-x: auto; overflow-y: hidden;" class="col-md-10" id="content">
        <table class="table table-space table-borderless" id="my-table">
          <thead>
            <tr style="text-align: center !important;">
              <th [attr.colspan]="table_length">{{compName}}</th>
            </tr>
            <tr style="text-align: center !important;">
              <th [attr.colspan]="table_length">Leave Taken Report</th>
            </tr>
            <tr *ngIf="fromDate == toDate ">
              <th [attr.colspan]="table_length">For Date : {{fromDate | date :'dd/MMM/yyyy'}}</th>
            </tr>
            <tr *ngIf="fromDate != toDate ">
              <th [attr.colspan]="table_length">From Date : {{fromDate | date :'dd/MMM/yyyy'}} To Date: {{toDate | date :'dd/MMM/yyyy'}}</th>
            </tr>
            <tr>
              <th [attr.colspan]="table_length">Report Date: {{report_time}}</th>
            </tr>
            <tr class="table-secondary">
              <th>Sr.No</th>
              <th *ngIf="marked13">EmpId</th>
              <th *ngIf="marked3">Employee Name</th>
              <th *ngIf="marked4">Leave Name</th>
              <th *ngIf="marked5">Leave Code</th>
              <th *ngIf="marked6">From Date</th>
              <th *ngIf="marked7">To Date</th>
              <th *ngIf="marked8">Number Of Leaves Taken</th>
              <th *ngIf="marked9">Leave Type(FirstHalf / SecondHalf / FullDay)</th>
              <th *ngIf="marked12">Reason</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of reportData; let i = index">
              <td>{{i+1}}</td>
              <td *ngIf="marked13" class="text-right">{{item.empId}}</td>
              <td *ngIf="marked3" class="text-left">
                <div>
                  {{item.fullName}} {{item.lastName}}
                </div>
              </td>
              <td *ngIf="marked4" class="text-left">{{item.leaveName}}</td>
              <td *ngIf="marked5" class="text-left">{{item.leaveCode}}</td>
              <td *ngIf="marked6">{{item.startDate}}</td>
              <td *ngIf="marked7">{{item.endDate}}</td>
              <td *ngIf="marked8" class="text-right">{{item.leaveCount}}</td>
              <td *ngIf="marked9" class="text-left">{{item.typeOfLeave}}</td>
              <td *ngIf="marked12" class="text-left">{{item.leaveReson}}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="col-md-2">
        <div class="columnshead">
          <h6>Select Columns:</h6>
          <label class="container">
            <input type="checkbox" [(ngModel)]="empIdCheckbox" data-md-icheck (change)="toggleVisibility13($event)" />
            EmpId
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="employeeNameCheckbox" data-md-icheck (change)="toggleVisibility3($event)" />
            EmployeeName
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="leaveNameCheckbox" data-md-icheck (change)="toggleVisibility4($event)" />
            LeaveName
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="leaveCodeCheckbox" data-md-icheck (change)="toggleVisibility5($event)" />
            LeaveCode
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="startDateCheckbox" data-md-icheck (change)="toggleVisibility6($event)" />
            FromDate
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="endDateCheckbox" data-md-icheck (change)="toggleVisibility7($event)" />
            ToDate
              <span class="checkmark"></span>
          </label>

           
          <label class="container">
            <input type="checkbox" [(ngModel)]="leaveCountCheckbox" data-md-icheck (change)="toggleVisibility8($event)" />
            NumberOfLeaves
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="leaveTypeCheckbox" data-md-icheck (change)="toggleVisibility9($event)" />
            LeaveType(FirstHalf /SecondHalf /FullDay)
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="leaveResonCheckbox" data-md-icheck (change)="toggleVisibility12($event)" />
            Reason
            <span class="checkmark"></span>
          </label>
          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX('my-table')"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>
