<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
             
              <!-- <div> Contractor Onboarding <div class="page-title-subheading">Here you can
                  add Contractor </div>
              </div> -->
            </div>

          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row">
            <div class="col-md-12">
              <h2>Supervisor Dashboard </h2>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              