<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
              <div> Salary Structure <div class="page-title-subheading"> Here we can define salary and deduction </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row">
            <div class="col-md-12">
              <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

                <li class="nav-item">
                  <a class="nav-link active" id="extra-apply-tab" data-toggle="pill" href="#extra-apply" role="tab"
                    aria-controls="extra-apply" aria-selected="true">Name Of Structure</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="extra-list-tab" data-toggle="pill" href="#extra-list" role="tab"
                    aria-controls="extra-list" aria-selected="false">List</a>
                </li>

              </ul>
            </div>
          </div>


          <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="extra-apply" role="tabpanel" aria-labelledby="extra-apply-tab">

              <div class="row mt-3">
                <div class="col-md-6">
                  <form #addsalary="ngForm" #salaryForm="ngForm">

                   <div class="form-group row" style="padding-left: 30px;">
                  
                      <label for="inputNameStructure" class="col-sm-4 col-form-label">Name of Structure <span  style="color: red">
                        *</span></label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm" id="nameOfStructure" name="nameOfStructure"
                          [(ngModel)]="nameOfStructure" #nameOfStructures="ngModel" required >
                        <div *ngIf="nameOfStructures.invalid && (nameOfStructures.dirty || nameOfStructures.touched)">
                          <div *ngIf="nameOfStructures.errors.required"><small style="color: red;"> name Of Structure is
                              Required</small></div>
                        </div>
                    
                    </div>
                   </div>
                   <div  style="border: 1px solid #0747A6;border-radius: 7px">
                    <p style="padding: 10px">Earnings</p>
                    <div class="form-group row container" style="padding-left: 30px;">
                      
                        <label for="inputPassword" class="col-sm-4 col-form-label">Earning Head <span  style="color: red">
                          *</span></label>
                        <div class="col-sm-8">

                            <select class="form-control form-control-sm" id="earningHead" name="salaryHeadId" [(ngModel)]="salaryHeadId"
                              #earningHeads="ngModel" required>
                              <option hidden [value]="selectUndefinedOptionValue">Select Earning head </option>
                              <option  *ngFor="let item of earningHeadData"  value="{{item.salaryHeadId}}">{{item.salaryHeadName}}</option>
                            </select>
                            <div *ngIf="earningHeads.invalid && (earningHeads.dirty || earningHeads.touched)">
                              <div *ngIf="earningHeads.errors.required"><small style="color:red;"> Earning Head is
                                  Required</small></div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="form-group row container" style="padding-left: 30px;">
                      
                      <label for="inputPassword" class="col-sm-4 col-form-label">Amount <span style="color: red">
                        *</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="earningAmount" name="earningAmount"
                            [(ngModel)]="earningAmount" #earningAmounts="ngModel" required
                            pattern="^\d{1,5}$">
                          <div *ngIf="earningAmounts.invalid && (earningAmounts.dirty || earningAmounts.touched)">
                            <div *ngIf="earningAmounts.errors.required"><small style="color: red;">Earning Amount is Required</small></div>
                            <div *ngIf="earningAmounts.errors.pattern"><small style="color: red;">Earning Amount should be numeric and up to 5 lack</small></div>
                          </div>
                        </div>
                        
                  </div>
                  <div class="form-group row container" style="justify-content: end;">
                    <div style="float: right;">
                    <button class="btn btn-primary" (click)="calculateBasicSalary()">Add</button>
                  </div>
                  </div>
                  <div class="form-group row container" style="margin:auto">
                    <table id="CompTable" class="table  table-bordered" style="width:100%;margin-top: 5px;  ">
                      <thead  style="background-color: #DBDBDB !important;">
                        <tr >
  
                          <th class="manage-space" style="background-color: #DBDBDB !important;">Heads </th>
                          <th class="manage-space" style="background-color: #DBDBDB !important;">Amount</th>
  
                        </tr>
                      </thead>
                      <tbody >
                        <tr *ngFor="let item of addOnArray">
                    
                         <td>{{item.salaryHeadName}}</td>
                          <td>{{item.amount}}</td>
            
                        </tr>
            
                      </tbody>
                      <tfoot style="background: #DBDBDB;">
                        <tr>
                          <td>Total Earning</td>
                         
                          <td style="color: #0747A6;">{{totalAmmount}}</td>
            
                        </tr>
                      </tfoot>
            
                    </table>
                   </div>
                  </div>
                 </form>
                </div>
                <div class="col-md-6" style="margin-top: 40px">
                  <form #addsalary="ngForm">
                    <div class="form-group row" style="padding-left: 30px;">
                   
                       
                    </div>
                    <div style="border: 1px solid #0747A6;border-radius: 7px">
                     <p style="padding: 10px">Deduction</p>
                     <div class="form-group row container" style="padding-left: 30px;">
                       
                         <label for="inputPassword" class="col-sm-4 col-form-label">Deduction  Head <span  style="color: red">
                           *</span></label>
                         <div class="col-sm-8">
 
                             <select class="form-control form-control-sm" id="salaryDeductionId" name="salaryDeductionId" [(ngModel)]="salaryDeductionId"
                               #deductionHeads="ngModel" required>
                               <option hidden [value]="selectUndefinedOptionValue">Select Deduction head </option>
                               <option *ngFor="let item of  dedctionHeadData" value="{{item.salaryDeductionId}}">{{item.salaryHeadName}}</option>
                             </select>
                             <div *ngIf="deductionHeads.invalid && (deductionHeads.dirty || deductionHeads.touched)">
                               <div *ngIf="deductionHeads.errors.required"><small style="color:red;"> deduction Head is
                                Required</small></div>
                             </div>
                           
                         </div>
                     </div>
                     <div class="form-group row container" style="padding-left: 30px;">
                       
                       <label for="inputPassword" class="col-sm-4 col-form-label">Amount <span style="color: red">
                         *</span></label>
                         <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="deductionAmount" name="deductionAmount"
                          [(ngModel)]="deductionAmount" #deductionAmounts="ngModel" required pattern="^\d{1,5}$">
                      
                          <div *ngIf="deductionAmounts.invalid && (deductionAmounts.dirty || deductionAmounts.touched)">
                            <div *ngIf="deductionAmounts.errors.required"><small style="color: red;"> Deduction Amount is Required</small></div>
                            <div *ngIf="deductionAmounts.errors.pattern"><small style="color: red;">Deduction Amount should be numeric and up to 5 lack</small></div>
                        </div>
                        
                       
                       </div>
                   </div>
                   <div class="form-group row container" style="justify-content: end;">
                     <div style="float: right;">
                     <button class="btn btn-primary"  (click)="calculateBasicSalaryOne()">Add</button>
                   </div>
                   </div>
                   <div class="form-group row container" style="margin:auto">
                   <table id="CompTable" class="table  table-bordered" style="width:100%;margin-top: 5px; ">
                     <thead  style="background: #DBDBDB !important;">
                       <tr>
 
                         <th class="manage-space" style="background-color: #DBDBDB !important;">Heads </th>
                         <th class="manage-space"style="background-color: #DBDBDB !important;">Amount</th>
 
                       </tr>
                     </thead>
                     <tbody >
                       <tr *ngFor="let item of deductionArray">
                   
                        <td>{{item.salaryHeadName}}</td>
                         <td>{{item.amount}}</td>
           
                       </tr>
           
                     </tbody>
                     <tfoot style="background: #DBDBDB;">
                       <tr>
                         <td>Total Deduction</td>
                        
                         <td>{{totalAmmountOne}}</td>
           
                       </tr>
                     </tfoot>
           
                   </table>
                    </div>
                   </div>
                  </form>
                 </div>
              </div>
              <div class="row mt-3" style="border: 1px solid #0747A6;
              background-color: #DBDBDB;">
                <div style="display: flex;">
                  <div>
                  <p style="position: relative;
                  margin-top: 7px; color: #0747A6; 
                  margin-left: 25px ">Net Payable</p>
                </div>
                <div style="position: absolute;
                right: 70px;
                margin-top: 9px; color: #0747A6;" >
                  <p>{{netPayableAmount}} <i class="fa fa-rupee"></i></p>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <button class="btn btn-primary" (click)="onsubmitSalaryStructure()" [disabled]="!salaryForm.valid" *ngIf="buttonFlag==false">Save</button>
                <button class="btn btn-primary" (click)="UpdateSalaryStuctures()" *ngIf="buttonFlag==true">Update</button>&nbsp;&nbsp;
                <button class="btn btn-info">Reset</button>
              </div>
            </div>
            <div class="tab-pane fade" id="extra-list"  role="tabpanel" aria-labelledby="extra-list-tab">
              <div>
                <div class="row justify-content-center">
                  <div class="col-md-10">
                      <!-- <ul class="list-group">
                          <li class="list-group-item text-center danger">DEACTIVATED EMPLOYEES</li>
                      
                      </ul> -->
                      <div>
                      <table id="salaryTable" class="table table-striped table-bordered" style="width:100%">
                          <thead>
                            <tr>
                              <th>Sr. No.</th>
                              <th>Structure Name</th>
                              <th>Total Earning</th>
                              <th>Total Deduction</th>
                              <th>Net Payable</th>
                              <th>Action</th>

                            </tr>
                          </thead>
                          <tbody >
                            <tr *ngFor="let data of getsalaryHeadData; let i=index" >
                              <td>{{i + 1}}</td>
                              <td>{{data?.nameOfStructure}}</td>
                              <td>{{data?.totalEarningAmount}} </td>
                              <td>{{ data?.totalDeductionAmount}}</td>
                              <td>{{data?.netPayable}}</td>
                              
  
                              <td><span class="fa fa-pencil" (click)="getByIdSalaryStucture(data)" style="cursor: pointer;"></span>
                                &nbsp;&nbsp;
                                <span class="fa fa-trash" (click)="deletesalaryStructure(data)" style="cursor: pointer;"></span>
                              </td>
                            </tr>
                             </tbody>
                        </table>
                      </div>
                    
                  </div>
                 
          </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>