
<div *ngIf="reportName == 'LeaveTakenReport'">
    <app-leave-taken-report></app-leave-taken-report>
</div>
<div *ngIf="reportName == 'LeaveRegisterReport'">
    <app-leave-register [reportName]="reportName"></app-leave-register>
</div>
<div *ngIf="reportName == 'leaveTakenReportInCount'">
    <app-leave-taken-in-count-report></app-leave-taken-in-count-report>
</div>
<div *ngIf="reportName == 'LeaveRegisterReportEmp'">
    <app-leave-register [reportName]="reportName"></app-leave-register>
</div>
<div *ngIf="reportName == 'LeaveBalanceReport'">
    <app-leave-balance-report></app-leave-balance-report>
</div>

<div *ngIf="reportName == 'leaveCaryyForwardReport'">
    <app-leave-carryforward-report></app-leave-carryforward-report>
</div>



