<div class="bhoechie-tab-content  white-bg" id="compmaster">
  <div class="row justify-content-center align-items-center">
    <div class="mastersheading">
      <h3>
        BUS STOP<span class="boldmaster"> MASTER</span>
      </h3>
    </div>

  </div>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">
        <form name="form" (ngSubmit)="f.form.valid && onSubmitData(f)" #f="ngForm" novalidate>


          <div class="form-group">
            <label for="locationname"> Bus Route <span style="color: red">*</span></label>

            <select id="locationId" class="form-control form-control-sm" [(ngModel)]="busRouteId" name="busRouteId"
              #busRouteName1='ngModel' required>
              <option hidden [value]="selectUndefinedOptionValue">Bus Route</option>
              <option value="{{item.busRouteId}}" *ngFor="let item of busModellist">
                {{item.busRouteName}}
              </option>
            </select>

            <div class="help-block" *ngIf="busRouteName1.errors?.required && busRouteName1.touched"> <small
                style="color: red">Route name is required </small></div>

          </div>

          <div class="form-group">
            <label for="busStopname">Bus Stop Name<span style="color: red">*</span></label>
            <input type="text" placeholder="Bus Stop Name" class="form-control form-control-sm"
              [(ngModel)]="busSModel.busStopName" maxlength="50" name="busStopName" (keyup)='error()'
              #busStopname="ngModel" required />
            <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exist </small></div>


            <div class="help-block" *ngIf="busStopname.errors?.required && busStopname.touched"> <small
                style="color: red">Bus stop name is required </small></div>

          </div>


          <div class="form-group" *ngIf='StatusFlag'>
            <label>Status</label><br>
            <label (click)="uiswitch($event)">
              <ui-switch [checked]='busSModel.status' (click)="open(busSModel.status)"><span
                  class="switch  switch-medium"><small></small></span></ui-switch>

            </label>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]='(f.invalid || errflag)'>Save</button>
            &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
          </div>
        </form>
      </div>

    </div>
    <hr>
    <div *ngIf='dataTableFlag'>
      <table id="busmodel" class="table table-striped table-bordered" style="width:100%">

        <thead class="theadblue">
          <tr>
            <th style="width: 35%">Route Name</th>
            <th style="width: 35%">Bus Stop Name</th>

            <th style="width: 15%">Status</th>
            <th style="width: 15%;text-align:center">Action</th>
          </tr>
        </thead>
        <tbody>
        
          <tr *ngFor="let item of busStopllist">
            <td>{{item.busRouteName}}</td>
            <td>{{item.busStopName}}</td>
            <td [ngClass]="{colorRed : item.status == false, colorGreen: item.status == true}"
              style="font-size:1rem; text-align:center"><i class="fa fa-circle" aria-hidden="true"></i></td>
            <td class="text-center"><i class="fa fa-pencil" (click)="editbusStop(item)" aria-hidden="true"></i> <i
                class="fa fa-trash" data-toggle="modal" data-target="#AreYouSuredlt" (click)='dltObj(item)'
                aria-hidden="true"></i></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>
