<div class="bhoechie-tab-content  white-bg" id="compmaster">
  <div class="row justify-content-center align-items-center">
    <div class="mastersheading">
      <h3>
        BUS <span class="boldmaster">MASTER</span>
      </h3>
    </div>

  </div>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">
        <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && submitData(f)" novalidate>
          <div class="form-group">
            <label for="locationname">Location <span style="color: red">*</span></label>
            <select id="locationId" class="form-control form-control-sm" [(ngModel)]="selectedLocationobj"
              name="selectedLocationobj" #selectedLocation='ngModel' (change)="Locationdata($event)" required>
              <option hidden [value]="selectUndefinedOptionValue">Location Name</option>
              <option value="{{location.locationId}}" *ngFor="let location of LocationAllData; let i = index;">
                {{location.locationName}}
              </option>
            </select>
            <div class="help-block" *ngIf="selectedLocation.errors?.required && selectedLocation.touched"> <small
                style="color: red">Location is required </small></div>
          </div>
          <label class="form-check-label">Bus Type</label>
          <div class="form-group"><br>
            <div class="form-check-inline">
              <input type="radio" class="form-check-input" [(ngModel)]="busmModel.busStation" name="optradio"
                value="local">Local
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" [(ngModel)]="busmModel.busStation" name="optradio"
                  value="outstation">Outstation
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="buscode">Bus Code<span style="color: red">*</span></label>
            <input type="text" (keyup)='error()' placeholder="Bus Code" class="form-control form-control-sm"
              [(ngModel)]="busmModel.busCode" maxlength="50" name="busCode" #buscode="ngModel" required />
            <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exist </small></div>

            <div class="help-block" *ngIf="buscode.errors?.required && buscode.touched"> <small style="color: red">Bus
                code is required </small></div>
          </div>


          <div class="form-group">
            <label>Bus Route<span style="color: red">*</span></label>
            <select class="form-control form-control-sm" name="BusRout" #BusRout='ngModel'
              [(ngModel)]="busmModel.busRouteId" maxlength="50" (change)="busRoutData($event)" required>
              <option hidden [value]="selectUndefinedOptionValue">Select</option>
              <option *ngFor="let r of busStopList" value={{r.busRouteId}}>{{r.busRouteName}}</option>
            </select>
            <div class="help-block" *ngIf="BusRout.errors?.required && BusRout.touched"> <small style="color: red">Bus
                route name is required </small></div>
          </div>
          <div class="form-group">
            <label for="preflocationfut">Bus Stop<span style="color: red">*</span></label>

            <ng-multiselect-dropdown [placeholder]="'Select Bus Stop'" [data]="busStopName" name='busStopName'
              #busStopMasterList='ngModel' [(ngModel)]="busmModel.busStopName" [ngModelOptions]="{standalone: true}"
              [settings]="dropdownSettingsshift" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
              (onDeSelect)="OnItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)" required>
            </ng-multiselect-dropdown>

            <!-- (click)="selectClickCategory()"  -->

            <!-- <div class="help-block"
              *ngIf="!busmModel.busStopMasterList.length && locationFlag"> <small
                 style="color: red">Bus stop name is required </small></div> -->


            <div class="help-block" *ngIf="busStopMasterList.errors?.required && busStopMasterList.touched"> <small
                style="color: red">Bus route name is required </small></div>
          </div>


          <div class="form-group">
            <label for="vehicalcapacity">Vehical Capacity<span style="color: red">*</span></label>
            <input type="text" [(ngModel)]="busmModel.vehicalCapacity" #vehicalcapacity='ngModel'
              placeholder="Vehical Capacity" class="form-control form-control-sm" maxlength="3" name="vehicalCapacity"
              required />

            <div class="help-block" *ngIf="vehicalcapacity.errors?.required && vehicalcapacity.touched"> <small
                style="color: red">vehical capacity is required </small></div>

          </div>
          <div class="form-group">
            <label for="preflocationfuture">Shift Type<span style="color: red">*</span></label>

            <select id="shifttype" class="form-control form-control-sm" #shiftTyp='ngModel' name="shiftType"
              form="shiftType" [(ngModel)]="busmModel.shiftType" required>
              <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
              <!-- <option *ngFor="let item of ShiftAllData" value="{{item.shiftMasterId}}">{{item.shiftName}}</option> -->
              <option value="Custom">Custom</option>
              <!-- <option value="Common">Common</option> -->
              <option value="General">General</option>

            </select>

            <div class="help-block" *ngIf="shiftTyp.errors?.required && shiftTyp.touched"> <small
                style="color: red">shift type is required </small></div>
          </div>

          <div class="form-group" *ngIf='StatusFlag'>
            <label>Status</label><br>
            <label (click)="uiswitch($event)">

              <ui-switch [checked]='busmModel.status' (click)="open(busmModel.status)"><span
                  class="switch  switch-medium"><small></small></span></ui-switch>

            </label>
          </div>

          <div class="form-group">
            <!-- <button class="btn btn-primary" type="reset" [disabled]='buttonDisable' (click)="submitData(busmModel)">Save</button> -->
            <!-- <button class="btn btn-primary" type="submit" [disabled]="(f.invalid || errflag || !busmModel.busStopMasterList.length)">Save</button> -->
            <button class="btn btn-primary" type="submit"
              [disabled]="(f.invalid || errflag || locationFlag)">Save</button>
            &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
          </div>
        </form>
      </div>
    </div>
    <hr>
    <div *ngIf='dataTableFlag'>
      <table id="busmodel" class="table table-striped table-bordered" style="width:100%">
        <thead class="theadblue">
          <tr>
            <th style="width: 35%">Bus Route</th>
            <!-- <th style="width: 70%">Bus Stop</th> -->
            <th style="width: 35%">Bus Code</th>
            <th style="width: 15%; text-align:center" class="hide-arw">Status</th>
            <th style="width: 15%; text-align:center" class="hide-arw">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of busdata">
            <td>{{b.busRouteName}}</td>
            <!-- <td>{{b.busStopName}}</td> -->
            <td>{{b.busCode}}</td>
            <td [ngClass]="{colorRed : b.status == false, colorGreen: b.status == true}"
              style="font-size:1rem; text-align:center"><i class="fa fa-circle" aria-hidden="true"></i></td>
            <td class="text-center">
              <i class="fa fa-pencil" (click)='editbusMaster(b)' aria-hidden="true"></i>
              <i class="fa fa-trash" (click)='dltObj(b)' data-toggle="modal" data-target="#AreYouSuredlt"
                aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="AreYouSuredlt">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal" class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>
