<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="white-bg">
          <div class="row">
            <div class="col-md-12">
              <div class="edit">
                <a href="#">Edit Details</a>
              </div>

            </div>

          </div>

          <div class="row justify-content-center">
            <div class="col-md-6">

              <div class="row">
                <div *ngIf="bioId" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Biometric Id</h6>
                      <p>{{bioId}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 justify-content-center">
                  <div class="emppic">
                    <img
                      src="https://scontent-sjc3-1.cdninstagram.com/vp/fb704339426bad432ffe53ac11eda211/5C9BEA2C/t51.2885-19/s320x320/40677162_237987256885073_1344809369102974976_n.jpg"
                      class="rounded-circle" alt="Cinque Terre">
                  </div>
                </div>
                <div *ngIf="empId" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Employee Id</h6>
                      <p>{{empId}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div *ngIf="empfullName" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Full Name</h6>
                      <p>{{empfullName}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="empGender" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Gender</h6>
                      <p>{{empGender}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="empNationality" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Nationality</h6>
                      <p>{{empNationality}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div  *ngIf="empDOB" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>DOB</h6>
                      <p>{{empDOB}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="empAge" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Age</h6>
                      <p>{{empAge}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="empPlaceOfBirth" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Place of birth</h6>
                      <p>{{empPlaceOfBirth}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div *ngIf="empMaritalStatus" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Marital Status</h6>
                      <p>{{empMaritalStatus}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="empMealPreference" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Meal Prefrences</h6>
                      <p>{{empMealPreference}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="empKnownLanguage" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Languages Known</h6>
                      <p *ngFor="let language of empKnownLanguage">
                        {{language.language}}</p>
                    </div>
                  </div>
                </div>
              </div>
              

              <hr>
              <h5>Emergency Contact Details</h5>
              <div class="row">
                <div *ngIf="empNameOfPerson" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Name</h6>
                      <p>{{empNameOfPerson}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div *ngIf="empRelation" class="empdetails">
                    <div class="infocenter">
                      <h6>Relation</h6>
                      <p>{{empRelation}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div *ngIf="empwhatsAppNumber" class="empdetails">
                    <div class="infocenter">
                      <h6>Mobile Number</h6>
                      <p>{{empwhatsAppNumber}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div  *ngIf="empAddress" class="col">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Address</h6>
                      <p>{{empAddress}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div *ngIf="emppinCode" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Pin Code</h6>
                      <p>{{emppinCode}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="empcity" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>City</h6>
                      <p>{{empcity}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <hr>
              <div class="data-title">
                <h6>Physical Information</h6>
              </div>

              <div class="row">
                <div *ngIf="empbloodGroup" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Blood Group</h6>
                      <p>{{empbloodGroup}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="empwieght" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Weight</h6>
                      <p>{{empwieght}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="empHeight" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Height</h6>
                      <p>{{empHeight}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div  *ngIf="empPhysicalDisability" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Any Physical Disability</h6>
                      <p>{{empPhysicalDisability}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="empHealthIssues" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Any Health Issue</h6>
                      <p>{{empHealthIssues}}</p>
                    </div>
                  </div>
                </div>

              </div>

              <hr>
              <h5>Family Details</h5>

              <div class="row" *ngFor="let familyinfo of empFamilyDetails">
                <div     class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Name</h6>
                      <p>{{familyinfo.name}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="familyinfo.relation" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Relation</h6>
                      <p>{{familyinfo.relation}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="familyinfo.profession" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Occupation</h6>
                      <p>{{familyinfo.profession}}</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" *ngIf='familyinfo.toBeCoveredUnderMediclaim == true'>
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Cover Under Insurance</h6>
                      <p>Yes</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" *ngIf='familyinfo.toBeCoveredUnderMediclaim == false'>
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Cover Under Insurance</h6>
                      <p>No</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" *ngIf='familyinfo.dependancy == true'>
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Dependency on you</h6>
                      <p>Yes</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" *ngIf='familyinfo.dependancy == false'>
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Dependency on you</h6>
                      <p>No</p>
                    </div>
                  </div>
                </div>

              </div>

              <!-- <div class="row">
                        <div class="col-md-4">
                          <div class="empdetails">
                            <div class="infocenter">
                              <h6>Name</h6>
                              <p>Babita Watson</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="empdetails">
                            <div class="infocenter">
                              <h6>Relation</h6>
                              <p>Mother</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="empdetails">
                            <div class="infocenter">
                              <h6>Occupation</h6>
                              <p>Housewife</p>
                            </div>
                          </div>
                        </div>
  
                        <div class="col-md-4">
                            <div class="empdetails">
                              <div class="infocenter">
                                <h6>Cover Under Insurance</h6>
                                <p>Yes</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="empdetails">
                              <div class="infocenter">
                                <h6>Dependency on you</h6>
                                <p>No</p>
                              </div>
                            </div>
                          </div>
                      </div> -->

              <hr>
              <h5>Address</h5>

              <div class="row">
                <div  *ngIf="empAddressdata" class="col-md-12">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Current Address (Permanant Address)</h6>
                      <p>{{empAddressdata}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="pinCode1" class="col-md-3">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Pin Code</h6>
                      <p>{{pinCode1}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="empAddressDatacity" class="col-md-3">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>City</h6>
                      <p>{{empAddressDatacity}}</p>
                    </div>
                  </div>
                </div>
              </div>


              <hr>
              <h5>Education Qualification</h5>

              <div class="row">

                <div *ngIf="empcurrentyStudying" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Currently Studying</h6>
                      <p>{{empcurrentyStudying}}</p>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Course/Degree Name</h6>
                      <p>Bachelor in Design</p>
                    </div>
                  </div>
                </div> -->

                <div *ngIf="empsubOfSpecialisation"  class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Subject of Specialization</h6>
                      <p>{{empsubOfSpecialisation}}</p>
                    </div>
                  </div>
                </div>
              </div>
                <!-- <div class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>School/College</h6>
                      <p>AVT College</p>
                    </div>
                  </div>
                </div> -->

                <!-- <div></div> -->
                <div class="row" *ngFor="let educationdata of empAlldataEducation">
                <div  *ngIf="educationdata.univercityOrBoard" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>University</h6>
                      <p>{{educationdata.univercityOrBoard}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="educationdata.passingYear" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Year of Passing</h6>
                      <p>{{educationdata.passingYear}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="educationdata.percentage" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Percentage/Grade</h6>
                      <p>{{educationdata.percentage}}</p>
                    </div>
                  </div>
                </div>

                 <div *ngIf="educationdata.eduName" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Course/Degree Name</h6>
                      <p>{{educationdata.eduName}}</p>
                    </div>
                  </div>
                </div>
                
                <!-- <div class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Sports Participation</h6>
                       <p>{{educationdata.}}</p> 
                    </div>
                  </div>
                </div> -->

                <div *ngIf="educationdata.schoolOrCollege" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>School/College</h6>
                      <p>{{educationdata.schoolOrCollege}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <hr>
              <div class="data-title">
                <h6>Social Contacts</h6>
            </div>

              <div class="row">

                <div *ngIf="skypeId" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Skype Id</h6>
                      <p>{{skypeId}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="whatsAppNumber" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>whatsapp Number</h6>
                      <p>{{whatsAppNumber}}</p>
                    </div>
                  </div>
                </div>

              </div>

              <hr>
              <div class="data-title">
                <h6>Official details</h6>
              </div>

              <div class="row">

                <div  *ngIf="empCostCenterNumber" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Cost Center Number</h6>
                      <p>{{empCostCenterNumber}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="empBusinessGroup" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Business Group (Front)</h6>
                      <p>{{empBusinessGroup}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="empFunctionUNit" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Function Unit (Front)</h6>
                      <p>{{empFunctionUNit}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="empDepartmentName" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Department Name</h6>
                      <p>{{empDepartmentName}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="empSubdepartmentName" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Sub Department</h6>
                      <p>{{empSubdepartmentName}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="empLocation" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Location</h6>
                      <p>{{empLocation}}</p>
                    </div>
                  </div>
                </div>

                <div  *ngIf="empInGlobalProjet" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>In Global Project</h6>
                      <p>{{empInGlobalProjet}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="empDesigntaionName" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Designation</h6>
                      <p>{{empDesigntaionName}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="empGradeName" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Grade Name</h6>
                      <p>{{empGradeName}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="empEmployeementType" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Employeement Type</h6>
                      <p>{{empEmployeementType}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="empSubEmployeementType" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Sub Employeement Type</h6>
                      <p>{{empSubEmployeementType}}</p>
                    </div>
                  </div>
                </div>
                <div  class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Category</h6>
                      <p>Selection</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Employeement Sub Category</h6>
                      <p>No</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="empSkillcategory" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Skill Category</h6>
                      <p>{{empSkillcategory}}</p>
                    </div>
                  </div>
                </div>
                <div  *ngIf="empEmployeeStatus" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Employee Status</h6>
                      <p>{{empEmployeeStatus}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="empStartDateOfTraining" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Start Date of Training</h6>
                      <p>{{empStartDateOfTraining}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="empEndDateOFtraining" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>End Date of Training</h6>
                      <p>{{empEndDateOFtraining}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="empStartDateOfProbabation" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Start Date of Probation</h6>
                      <p>{{empStartDateOfProbabation}}</p>
                    </div>
                  </div>
                </div>

                <div  class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Date of Confirmation</h6>
                      <p>21/2/2019</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>First Level Reporting Manager</h6>
                      <p>Selection</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Second Level Reporting Manager</h6>
                      <p>Selection</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Third Level Reporting Manager</h6>
                      <p>Selection</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="empSanctionigAuthority" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Sanctioning Authority</h6>
                      <p>{{empSanctionigAuthority}}</p>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Second Level Reporting Manager</h6>
                      <p>Selection</p>
                    </div>
                  </div>
                </div> -->

              </div>



            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>