<!-- <div *ngIf="rollName=='Admin'">
  <select  id="Eight-dropdown"  (change)="getLocationwiseHeadCounts($event.target.value)"  class="form-control" style="width: 30%;margin-left: 25px; " >
    <option  value="0" >All</option>
  
    <option *ngFor="let data of EmployeeLocationwise; let i=index" value="{{data.locationId}}" >{{data.locationName}}</option>  
               
  </select>
</div>  -->
<div class="barchart" style="margin-top:10%" *ngIf="chartFlag">
    <div class="chartbox">
     
      <div style="display: block; width: 599px; height: 314px;">
        <canvas 
        baseChart [datasets]="barChartData" 
        [labels]="barChartLabels" 
        [options]="barChartOptions" 
        [colors]="barChartColors"
          [legend]="barChartLegend" 
          [chartType]="barChartType" 
          (chartHover)="chartHovered($event)" 
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
  <div class="barchart" style="margin-top:10%" *ngIf="!chartFlag">
    <div class="chartbox">
      <div style="display: block; width: 510px; height: 300px;">
        <canvas 
        baseChart [datasets]="barChartData" 
        [labels]="barChartLabels" 
        [options]="barChartOptions" 
        [colors]="barChartColors"
          [legend]="barChartLegend" 
          [chartType]="barChartType" 
          (chartHover)="chartHovered($event)" 
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>