<div class="p-3">

  <!-- ====================================================NEW DASHBOARD  19-4-2019==================================================== -->
  <div class="row" style="margin-bottom: 13px;">
    <div class="col-md-3 col-xs-12" *ngIf="usersSummaryInfo">
      <div class="tile wide resource" (click)="showCountModal('insideEmployee')" style="margin-left: 3px;">
        <div class="header">
          <div class="center">
            <div class="count">{{usersSummaryInfo.insideEmployee ? usersSummaryInfo.insideEmployee : '0'}}</div>
          </div>
        </div>
        <div class="body">
          <div class="title">Today's number of Employees inside</div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-xs-12" *ngIf="usersSummaryInfo">
      <div class="tile wide resource" (click)="showCountModal('insideContractor')" style="margin-left:3px">
        <div class="header">
          <div class="center">
            <div class="count">{{usersSummaryInfo.insideContractor ? usersSummaryInfo.insideContractor : '0'}}</div>
          </div>
        </div>
        <div class="body">
          <div class="title">Today's contractor Employees inside</div>
        </div>
        
      </div>
    </div>
   
    <div class="col-md-3 col-xs-12" *ngIf="usersSummaryInfo">
      <div class="tile wide resource" (click)="showCountModal('yesterSinglePunchEmp')" style="margin-left:3px">
        <div class="header">
          <div class="center">
            <div class="count">{{usersSummaryInfo.yesterSinglePunchEmp ? usersSummaryInfo.yesterSinglePunchEmp : '0'}}
            </div>
          </div>
        </div>
        <div class="body">
          <div class="title">Yesterday's Employees single punches count</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12" *ngIf="usersSummaryInfo">
      <div class="tile wide resource" (click)="showCountModal('yesterSinglePunchContractor')" style="margin-left:3px">
        <div class="header">
          <div class="center">
            <div class="count">
              {{usersSummaryInfo.yesterSinglePunchContractor ? usersSummaryInfo.yesterSinglePunchContractor : '0'}}
            </div>
          </div>
        </div>
        <div class="body">
          <div class="title">Yesterday's Contractor Single Punches</div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <!-- this is if condition add in bellow of col-xs-12<span>*ngIf="shiftwiseAbsentism"</span> -->
    <div class="col-md-8 col-xs-12" style="margin-bottom: 13px;">
      <div class="white-bg h-100" style="width: 98%;">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Today's Shiftwise Attendance </div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">

            </div>
          </div>
        </div>
        <!-- <div *ngIf="rollName=='Admin'">
          <select  id="Eight-dropdown"  (change)="onSelect57($event.target.value)"  class="form-control" style="width: 30%;margin-left: 25px; margin-top: 25px;" >
            <option  [ngValue]="null" >Select Location</option>
          
            <option *ngFor="let data of EmployeeLocationwise; let i=index" value="{{data.locationId}}" >{{data.locationName}}</option>  
                       
          </select>
        </div> -->
        <div class="p-3" style="overflow-y: auto;overflow-x: auto">
          <div class="" style="width:700px;height:370px;position: relative;">
            <app-shiftwise-absentism></app-shiftwise-absentism>
            
            
          </div>
        </div>
        

        <!-- <div class="p-3">
       
      </div> -->

      </div>
    </div>
    <div class="col-md-4 col-xs-12" style="margin-bottom: 13px;">
      <div class="white-bg h-100">
        <!-- HEADTITLE -->

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Subordinate Pending Requests
              
          <div class="btn-actions-pane-right" style="margin-top: auto;">
            <div class="btn-group-sm btn-group" role="group">
              <div class="btn-actions-pane-right">
                <div class="btn-group-sm btn-group" role="group">
                  <div class="" style="width: 100%;margin-left: 70px; margin-top:20px">
                          <div *ngIf="roHead=='Admin'">
                            <select class="form-control form-control-sm mb-4" name="LocationID" [(ngModel)]="selectedLocationobj"
                            name="selectedLocationobj" #LocationID='ngModel'  (change)="ngValue1($event)"
                            required style="width: 118px;
                            position: absolute;
                            left: 23px;
                            top: -2px;">
                            <!-- <option hidden [value]="selectUndefinedOptionValue">Select Location</option> -->
                            <option  value="0" >All Location</option>
                            <option value="{{addLocation.locationId}}" *ngFor="let addLocation of locationdata; let i = index;">
                              {{addLocation.locationName}}</option>
                          </select>
                    </div> 
                  </div>
                  </div>
                </div>
              </div>
            </div>





            
            
          </div>
        </div>
 <!-- <label>First Level Reporting Manager</label><span style="color: red">*</span> -->
 <!-- <div class="form-group">
                   <input class="form-control form-control-sm" autocomplete="off" (keydown)="keyDown($event)"
                  placeholder="Search Reporting Manager" [(ngModel)]="searchQuery" #name="ngModel" name="name"
                  (input)="filterItem(searchQuery)" type="text" required  style="width:70%;margin-left:20px; margin-top:10px;">
             </div>  -->
             <div>
             <select class="form-control" (change)="getAllPendReq($event)" style="width: 233px;
             margin-left: 8px;
             margin-top: 4px;
         " >
             
              <option value="none"  selected disabled >Select Employee</option>
              <option *ngFor="let item of FirstLevelAlldata; let i = index;" value="{{item.empId}}">{{item.empId}} - {{item.fullName}} {{item.lastName}}</option>
            </select>
            </div>
          <!-- <div class="chatsuggestion" *ngIf="empFlag">
                  <div *ngFor="let item of FirstLevelAlldata" (click)="getAllPendReq(item)" class="suggestiontext"  >
                    <div [class.active]="item.index == arrowkeyLocation">
                      {{item.empId}} - {{item.fullName}} {{item.lastName}}
                    </div>
                  </div>
              </div>   -->

              
                 

           
        

        <div class="p-3 requesttype-table">
          <div class="totalreqcount-fix" *ngIf="allRequestData.length">
            <h6 class="totalreqcount">Total pending requests: <span
                class="badge badge-warning">{{allPendingReqData.totalCount}}</span></h6>
          </div>
          <div *ngIf="!allRequestData.length" class="nodataimg" style="text-align: -webkit-center; text-align:center">
            <img class="irc_mi" src="\assets\nodata-found.png">
          </div>
          <table class="table" *ngIf="allRequestData.length" style="width: 400px; margin-left: 15px;">
            <thead class="theadblue">
              <tr>
                <th scope="col-4">Sr. No.</th>
                <th scope="col-4">Request Type</th>
                <th scope="col-2">Pending Requests</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allRequestData; let i=index;">
                <td scope="row">{{i+1}}</td>
                <td>{{item.request}}</td>
                <td>{{item.count}}</td>
              </tr>


              <!-- <tr>
                <td scope="row">1</td>
                <td>Leave Request</td>
                <td class="text-center">{{allPendingReqData.leaveCount}}</td>
              </tr>

              <tr>
                <td scope="row">2</td>
                <td>Miss Punch</td>
                <td class="text-center">{{allPendingReqData.missPunchCount}}</td>
              </tr>

              <tr>
                <td scope="row">3</td>
                <td>Permission Request</td>
                <td class="text-center">{{allPendingReqData.permissionCount}}</td>
              </tr>

              <tr>
                <td scope="row">4</td>
                <td>Late Early Request</td>
                <td class="text-center">{{allPendingReqData.lateEarlyCount}}</td>
              </tr>

              <tr>
                <td scope="row">5</td>
                <td>On Duty Request</td>
                <td class="text-center">{{allPendingReqData.onDutyCount}}</td>
              </tr>

              <tr>
                <td scope="row">6</td>
                <td>Work From Home Request</td>
                <td class="text-center">{{allPendingReqData.workFromHomeCount}}</td>
              </tr>

              <tr>
                <td scope="row">7</td>
                <td>Extra Work Request</td>
                <td class="text-center">{{allPendingReqData.extraWorkCount}}</td>
              </tr>

              <tr>
                <td scope="row">8</td>
                <td>Coff Request</td>
                <td class="text-center">{{allPendingReqData.coffCount}}</td>
              </tr>

              <tr>
                <td scope="row">9</td>
                <td>Clearance</td>
                <td class="text-center">{{allPendingReqData.clearanceCount}}</td>
              </tr>

              <tr>
                <td scope="row">10</td>
                <td>Expense</td>
                <td class="text-center">{{allPendingReqData.expenseCount}}</td>
              </tr>

              <tr>
                <td scope="row">11</td>
                <td>Total Cancel Request</td>
                <td class="text-center">{{allPendingReqData.totalCancelCount}}</td>
              </tr> -->
            </tbody>
          </table>

        </div>


      </div>
    </div>
    <div class="col-md-8 col-xs-12" style="margin-bottom: 12px;">
      <div class="card" style="height: 282px; overflow-y: auto;overflow-x: auto; width: 98%;">
        <div class="card-header-tab card-header">
          <p style="color: #0d0c0c;
          font-weight: normal;
          margin-top: 20px; text-transform: capitalize;"> Today's Present Count</p>
          </div>
          
        <table id="CompTable" class="table table-striped table-bordered" style="width:100%;margin-top: 5px; ">
          <thead class="theadblue">
            <tr>
              <th class="manage-space">Sr.No</th>
              <th class="manage-space">Location Name </th>
              <th class="manage-space">Employee</th>
              <th class="manage-space">Contractor</th>
              <!-- <th class="manage-space">Visitor Count</th> -->
              <!-- <th style="font-size: 12px;">Visitor</th> -->
              <th class="manage-space">Total Count</th>



            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let LocationWithCount of LocationList let i=index;">
              <td>{{i+1}}</td>
              <td>{{LocationWithCount.locationName}}</td>
              <td>{{LocationWithCount.employeeCount}}</td>
              <td>{{LocationWithCount.contractorCount}}</td>
              <!-- <td>{{LocationWithCount.visitorCount}}</td> -->
              <!-- <td>{{LocationWithCount.visitor}}</td> -->
              <td>{{LocationWithCount.totalCount}}</td>

            </tr>

          </tbody>
          <tfoot class="theadblue">
            <tr>
              <td></td>
              <td style="font-size: 12px;">Total</td>
              <td style="font-size: 12px;">{{this.totEmpCnt}}</td>
              <td style="font-size: 12px;"> {{this.totContCnt}}</td>
              <!-- <td style="font-size: 12px;">{{this.totalVisiCnt}}</td> -->
              <td style="font-size: 12px;"> {{this.allTotCnt}}</td>

            </tr>
          </tfoot>

        </table>
      </div>
    </div>
    <div class="col-md-4 col-xs-12" style="margin-bottom: 12px; height: 293px!important;">
      <div class="white-bg h-100">
        <!-- HEADTITLE -->

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Employee Late Marked Today</div>
          <div class="btn-actions-pane-right" style="margin-top: auto;">
           
          <div *ngIf="rollName=='Admin'" >
            <select   (change)="todaysLateMarkedEmpList($event.target.value)"  class="form-control"  style="width: 100%; margin-right:20px;" >
              <option  value="0" >All Location</option>
            
              <option *ngFor="let data of EmployeeLocationwise; let i=index" value="{{data.locationId}}" >{{data.locationName}}</option>  
                         
            </select>
          </div>
        </div>
        </div>
        
        <div style="overflow: auto; scroll-behavior: auto; height: 82%;">
        
          <ul *ngFor="let item of emplatemarkedData">
            <li style="padding-left: 20px; padding-top: 5px; 
          padding-bottom: 5px;color: #8b8d8f;">  {{item.empId}} -  {{item.fullName}} {{item.lastName}}   &nbsp;    &nbsp;   -Late by- {{item.lateByMin}}Mins </li>
          </ul>
        </div>
      
      



        <div class="p-3 requesttype-table">
          <!-- <div class="totalreqcount-fix" *ngIf="allRequestData.length">
            <h6 class="totalreqcount">Total pending requests: <span
                class="badge badge-warning">{{allPendingReqData.totalCount}}</span></h6>
          </div> -->

          <!-- <table class="table" *ngIf="allRequestData.length" style="width: 400px; margin-left: 15px;">
          <thead class="theadblue">
            <tr>
              <th scope="col-4">Sr. No.</th>
              <th scope="col-4">Request Type</th>
              <th scope="col-2">Pending Requests</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allRequestData; let i=index;">
              <td scope="row">{{i+1}}</td>
              <td>{{item.request}}</td>
              <td>{{item.count}}</td>
            </tr>

          </tbody>
        </table> -->

        </div>


      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="white-bg h-100" style="height: 100%!important;">
        <!-- HEADTITLE -->

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Employee On Leave Today</div>
          <div class="btn-actions-pane-right" style="margin-top: auto;">
            <div class="btn-group-sm btn-group" role="group">
              <div class="">


              </div>
            </div>
          </div>
        </div>
        <div *ngIf="rollName=='Admin'">
          <select  id="Eight-dropdown"  (change)="getEmpListOnLeaveToday($event.target.value)"  class="form-control" style="width: 50%;margin-left: 25px; margin-top: 25px;" >
            <option  value="0" >All Location</option>
          
            <option *ngFor="let data of EmployeeLocationwise; let i=index" value="{{data.locationId}}" >{{data.locationName}}</option>  
                       
          </select>
        </div>


        <div class="p-3 requesttype-table" style="overflow: auto; scroll-behavior: auto; height: 89%;">
          <!-- <div class="totalreqcount-fix" *ngIf="allRequestData.length">
            <h6 class="totalreqcount">Total pending requests: <span
                class="badge badge-warning">{{allPendingReqData.totalCount}}</span></h6>
          </div> -->

          <!-- <table class="table" *ngIf="allRequestData.length" style="width: 400px; margin-left: 15px;">
          <thead class="theadblue">
            <tr>
              <th scope="col-4">Sr. No.</th>
              <th scope="col-4">Request Type</th>
              <th scope="col-2">Pending Requests</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allRequestData; let i=index;">
              <td scope="row">{{i+1}}</td>
              <td>{{item.request}}</td>
              <td>{{item.count}}</td>
            </tr>

          </tbody>
        </table> -->
          <div>
            <ul *ngFor="let item of empTodayOnLeavedata">
              <li style="padding-left: 7px;
          padding-bottom: 20px;color: #8b8d8f;">{{item.fullName}} {{item.lastName}}</li>

            </ul>

          </div>
        </div>
      </div>
    </div>



    <div class="col-md-4 col-xs-12 hide" *ngIf="allRequests">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <!-- <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                  class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Monthly AR Requests </div> -->
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">
              <span class="badge badge-pill badge-primary">M</span>
              <!-- <button class="btn-shadow btn btn-dark"type="button">Remove</button> -->
            </div>
          </div>
        </div>


        <div class="p-3">
          <!-- HEADTITLE -->
          <div class="headtitle">
            <h6>Monthly AR Requests <small
                class="float-right pt-2">{{maxArRequests[0].date | date:'dd-MMM-yyyy'}}</small>
            </h6>
          </div>
          <div class="countbg">
            <div class="row">
              <div class="col">
                <div class="cnts">
                  <h4><i class="fa fa-hand-o-up" aria-hidden="true" title="Requests"></i> {{MonthlyARCount.totalCount}}
                  </h4>
                </div>
              </div>
              <div class="col">
                <div class="cnts border-left">
                  <h4><i class="fa fa-check-circle" aria-hidden="true" data-toggle="tooltip" title="Approved"></i>
                    {{MonthlyARCount.approvedCount}}</h4>
                </div>
              </div>
              <div class="col">
                <div class="cnts border-left">
                  <h4><i class="fa fa-exclamation-circle" aria-hidden="true" title="Pending"></i>
                    {{MonthlyARCount.pendingCount}}</h4>
                </div>
              </div>
            </div>
          </div>

          <!-- HEADTITLE -->
          <div class="headtitle">
            <h6>Max AR Requests <small class="float-right pt-2">{{maxArRequests[0].date | date:'dd-MMM-yyyy'}}</small>
            </h6>
          </div>
          <!-- HEADTITLE -->
          <div class="countbg">
            <div class="row">
              <div class="col">
                <div class="cnts ">
                  <h4><i class="fa fa-hand-o-up" aria-hidden="true" title="Requests"></i>
                    {{maxArRequests[0].totalCount}}
                  </h4>
                </div>
              </div>
              <div class="col">
                <div class="cnts border-left">
                  <h4><i class="fa fa-check-circle" aria-hidden="true" title="Approved"></i>
                    {{maxArRequests[0].approvedCount}}</h4>
                </div>
              </div>
              <div class="col">
                <div class="cnts border-left">
                  <h4><i class="fa fa-exclamation-circle" aria-hidden="true" title="Pending"></i>
                    {{maxArRequests[0].pendingCount}}</h4>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="headtitle">
          <h6>Shift Change Requests <small class="float-right pt-2"><i class="fa fa-bar-chart" aria-hidden="true"
                data-toggle="modal" data-target="#shiftchangelinegraph"></i></small></h6>
        </div>
        <div class="countbg">
          <div class="row">
            <div class="col">
              <div class="cnts ">
                <h4><i class="fa fa-hand-o-up" aria-hidden="true" title="Requests"></i> 0</h4>
              </div>
            </div>
            <div class="col">
              <div class="cnts border-left">
                <h4><i class="fa fa-check-circle" aria-hidden="true" title="Approved"></i> 0</h4>
              </div>
            </div>
            <div class="col">
              <div class="cnts border-left">
                <h4><i class="fa fa-exclamation-circle" aria-hidden="true" title="Pending"></i> 0</h4>
              </div>
            </div>
          </div>
        </div> -->
        </div>
      </div>
    </div>




    <!-- *ngIf="totalHeadcount" -->
    <div class="col-md-8 col-xs-12">
      <div class="white-bg h-100" style="width: 98%; float: right;">
        <!-- HEADTITLE -->

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Today's number of Employees inside
          </div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">
              <!-- <h6><strong>22 AUG 2019</strong></h6> -->
              <!-- <button class="btn-shadow btn btn-dark"type="button">Remove</button> -->
            </div>
          </div>
        </div>
        <!-- <div *ngIf="rollName=='Admin'">
          <select  id="Eight-dropdown"  (change)="onSelect57($event.target.value)"  class="form-control" style="width: 30%;margin-left: 25px; margin-top: 25px;" >
            <option  [ngValue]="null" >Select Location</option>
          
            <option *ngFor="let data of EmployeeLocationwise; let i=index" value="{{data.locationId}}" >{{data.locationName}}</option>  
                       
          </select>
        </div> -->

        <div class="p-3" style="overflow-y: auto;overflow-x: auto">
          <div class="" style="width:700px;position: relative;">
            <div class="p-3">
            <app-totalheadcountchart></app-totalheadcountchart>
          </div>
        </div>
        <!-- <div class="p-3">
          <app-totalheadcountchart></app-totalheadcountchart>
        </div> -->


      </div>
    </div>


    <div class="col-md-4 col-xs-12" *ngIf="coffDetails" hidden>
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Coff: Compensatory Off Details </div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">


            </div>
          </div>

        </div>
        <div class="" style="margin-top:5px">
          <label style="margin-left: 20px;">Select Department:</label>
          <select name="dropDown" class="form-control form-control-sm" style="width:90%; margin:auto;"
            (ngModelChange)='value($event); coff.getCoffCountByDepartmentId(selectedDepertment)'
            [(ngModel)]='selectedDepertment'>

            <option *ngFor="let item of departmentList" value="{{item.deptId}}">{{item.deptName}}</option>

          </select>
        </div>


        <div class="p-3">
          <app-coffchart #coff></app-coffchart>
        </div>

      </div>
    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="absentism">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Absenteeism </div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">
              <span class="badge badge-pill badge-primary">M</span>
              <!-- <button class="btn-shadow btn btn-dark"type="button">Remove</button> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <app-absentismchart></app-absentismchart>
            <!-- <div class="pie"></div>
            <h6 class="text-center pt-3">Actual Absentism</h6> -->
          </div>
          <div class="col-md-6">

            <app-apsentismchart2></app-apsentismchart2>
            <!-- <div class="pie"></div>
            <h6 class="text-center pt-3">Converted Absentism</h6> -->
          </div>
        </div>



      </div>
    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="gratuityEntitlement">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Gratuity Entitlement </div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">

            </div>
          </div>
        </div>


        <!-- HEADTITLE -->
        <div class="skills p-3">


          <div class="charts">

            <div class="chart2 chart--prod">
              <ul class="chart--horiz">
                <li class="chart__bar" [ngStyle]="{ 'width' : widthS1 + '%'}">
                  <span class="chart__label">
                    3-5 Years <span
                      class="badge badge-secondary gratutity-badge float-right">{{gratuityEntitlementCount.employee3to5Years}}</span>
                    <!-- <h5><span class="badge badge-secondary">19</span></h5> -->
                  </span>

                </li>
                <li class="chart__bar" [ngStyle]="{ 'width' : widthS2 + '%'}">
                  <span class="chart__label">
                    5 Years Completed <span
                      class="badge badge-secondary gratutity-badge float-right">{{gratuityEntitlementCount.employee5Years}}</span>

                  </span>
                </li>
                <li class="chart__bar" [ngStyle]="{ 'width' : widthS3 + '%'}">
                  <span class="chart__label">
                    Less than 3 Years<span
                      class="badge badge-secondary gratutity-badge float-right">{{gratuityEntitlementCount.employeeLess3Years}}</span>

                  </span>
                </li>
              </ul>
            </div>


          </div>
        </div>

      </div>
    </div>

    <div class="col-md-4 col-xs-12" *ngIf="lateSitting" hidden>
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Monthly Late Sitting </div>
          <!-- <div class="btn-actions-pane-right">
                <div class="btn-group-sm btn-group" role="group">
                    <span class="badge badge-pill badge-primary" [ngClass]="{'active1': lateEarlyActive=='monthly'}"
                    (click)="lateEarlyChart.getMonthlyLateSittingEmployees(); lateEarlyMonthly('monthly')"> M</span>
                  <span class="badge badge-pill badge-primary" [ngClass]="{'active1': lateEarlyActive=='daily'}"
                    (click)="lateEarlyChart.getDailyLateSittingEmployees(); lateEarlyMonthly('daily')">D</span>
                </div>
              </div> -->
        </div>



        <!-- <div class="col-md-12">
          <app-late-early-late-chart #lateEarlyChart></app-late-early-late-chart>
        </div> -->
        <div class="p-3" style="overflow-x: auto">
          <div class="" style="width:700px;height:170px; height:300px;position: relative;">
            <app-late-early-late-chart #lateEarlyChart></app-late-early-late-chart>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="skiledUnskilled">
      <div class="white-bg h-100">


        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Skilled/Unskilled </div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">
              <span class="badge badge-pill badge-primary" [ngClass]="{'active1': skilledUnskilledActive=='monthly'}"
                (click)="skilledUnskilledActivity('monthly')">M</span>
              <span [ngClass]="{'active1': skilledUnskilledActive=='daily'}" (click)="skilledUnskilledActivity('daily')"
                class="badge badge-pill badge-primary">D</span>
            </div>
          </div>
        </div>

        <app-skilledchart></app-skilledchart>


      </div>
    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="fteVsTemp">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> FTE Vs Temp</div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">
              <span class="badge badge-pill badge-primary" [ngClass]="{'active1': fteActive=='monthly'}"
                (click)="fte.getFteVsTempMonthly(); makefFteActive('monthly')">M</span>
              <span class="badge badge-pill badge-primary" [ngClass]="{'active1': fteActive=='daily'}"
                (click)="fte.getFteVsTempDaily(); makefFteActive('daily')">D</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <app-ftechart #fte></app-ftechart>

            <!-- <div class="wrapper">
              <div class="d1">
                <div><span>60%</span></div>
              </div>
              <div class="d2">
                <div><span>40%</span></div>
              </div>
            </div> -->
          </div>
          <!-- <div class="col">
            <ul class="list-group">
              <li class="list-group-item"><i class="fa fa-square fa1" aria-hidden="true"></i> FTE </li>
              <li class="list-group-item"><i class="fa fa-square fa2" aria-hidden="true"></i> Temp </li>

            </ul>
          </div> -->
        </div>

      </div>
    </div>

    <div class="col-md-4 col-xs-12" *ngIf="gender" hidden>
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Gender Wise Today's Presence</div>
          <!-- <div class="btn-actions-pane-right">
                <div class="btn-group-sm btn-group" role="group">
                     <span class="badge badge-pill badge-primary" [ngClass]="{'active1': genderActive=='monthly'}"
                    (click)="getGenderMonthlyCount()">M</span> -->
          <!-- <span class="badge badge-pill badge-primary" [ngClass]="{'active1': genderActive=='daily'}"
                    (click)="getGenderDailyCount()">D</span>
                </div>
              </div> -->
        </div>

        <div class="row mt-4">
          <div class="col-md-6">

            <div class="card">
              <img class="card-img-top" src="assets/male.jpg" alt="Card image cap">
              <div class="card-body pt-0">
                <h5 class="card-title text-center">Male</h5>
                <button type="button" class="btn btn-primary btn-block">{{maleCount}}</button>
              </div>
            </div>

          </div>
          <div class="col-md-6">

            <div class="card">
              <img class="card-img-top" src="assets/female.jpg" alt="Card image cap">
              <div class="card-body pt-0">
                <h5 class="card-title text-center">Female</h5>
                <button type="button" class="btn btn-primary btn-block">{{femaleCount}}</button>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="allowances">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Shift allowance and Short hours cost</div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">

            </div>
          </div>
        </div>

        <div class="p-3">
          <div class="row">

            <div class="col-md-8">
              <h4>45,000/-</h4>
              <small>Shift allowance cost</small>
            </div>

            <div class="col-md-4 col-xs-12">
              <img class="moneyicon" src="assets/money_1.png">
            </div>
            <hr>

            <div class="col-md-8">
              <h4>15,450/-</h4>
              <small>Short hours cost</small>
            </div>
            <div class="col-md-4 col-xs-12">
              <img class="moneyicon" src="assets/money_2.png">
            </div>
            <hr>

            <div class="col-md-8">
              <h4>9,160/-</h4>
              <small>Payroll cost</small>
            </div>
            <div class="col-md-4 col-xs-12">
              <img class="moneyicon" src="assets/money_3.png">
            </div>
          </div>

        </div>
      </div>

    </div>


    <div class="col-md-4 col-xs-12 hide" *ngIf="absentismTrend">
      <div class="white-bg h-100">


        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Absenteeism trend</div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">

            </div>
          </div>
        </div>
        <div class="p-3">
          <app-absentismtrendchart></app-absentismtrendchart>
        </div>

        <!-- <img class="absenttrend" src="assets/absentismtrend.png"> -->

      </div>

    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="absentismTrendContinuously">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Absenteeism trend <small> (3 Days
              Continuously)</small></div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">
              <span class="badge badge-pill badge-primary">M</span> <span
                class="badge badge-pill badge-primary">W</span>
              <span class="badge badge-pill badge-primary">D</span>
            </div>
          </div>
        </div>

        <div class="p-3">
          <app-threedaysabsentismchart></app-threedaysabsentismchart>
        </div>

        <!-- <img class="absenttrend" src="assets/absentismtrend.png"> -->
      </div>

    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="coffDetailsSupervisor" hidden>
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Coff: Compensatory Off Details <small>
              (Supervisor) </small></div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">


            </div>
          </div>

        </div>

        <select class="form-control form-control-sm" id="sel1" style="width:90%; margin:auto; margin-top:5px">
          <option>Select Department:</option>
          <option>IT</option>
          <option>Account</option>
          <option>Sales</option>
        </select>
        <div class="p-3">
          <app-coffsupervsorchart></app-coffsupervsorchart>
        </div>

        <!-- <img class="absenttrend" src="assets/absentismtrend.png"> -->

      </div>

    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="shiftwiseAbsentismSupervisor">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Shiftwise Absenteeism
            <small>(Supervisor)</small></div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">
              <span class="badge badge-pill badge-primary"
                [ngClass]="{'active1': shiftWiseAbsentismActiveFlag=='monthly'}"
                (click)="shiftWiseAbsentismActive('monthly'); ShiftWiseAbsentism.getMonthlyShiftWiseAbsentism()">M</span>
              <span [ngClass]="{'active1': shiftWiseAbsentismActiveFlag=='weekly'}"
                (click)="shiftWiseAbsentismActive('weekly'); ShiftWiseAbsentism.getWeeklyShiftWiseAbsentism()"
                class="badge badge-pill badge-primary">W</span>
              <span [ngClass]="{'active1': shiftWiseAbsentismActiveFlag=='daily'}"
                (click)="shiftWiseAbsentismActive('daily'); ShiftWiseAbsentism.getDailyShiftWiseAbsentism()"
                class="badge badge-pill badge-primary">D</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <!-- HEADTITLE -->
            <div class="headtitle">
              <h6></h6>
            </div>
            <!-- HEADTITLE -->
          </div>
          <div class="col-md-4 col-xs-12">

          </div>
        </div>

        <app-shiftwiseabsentismsupervisor #ShiftWiseAbsentism></app-shiftwiseabsentismsupervisor>
        <!-- <img class="absenttrend" src="assets/absentismtrend.png"> -->

      </div>

    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="shiftwiseAttendance">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Shiftwise attendance <small>(Planned vs
              Actual)</small></div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">
              <span class="badge badge-pill badge-primary">M</span> <span
                class="badge badge-pill badge-primary">W</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <select class="form-control form-control-sm" id="sel1">
                <option>Select:</option>
                <option>First Shift</option>
                <option>Second Shift</option>
                <option>Third Shift</option>
              </select>
            </div>
          </div>
        </div>
        <div class="p-3">
          <app-planvsactulachart></app-planvsactulachart>
        </div>

        <!-- <app-skilledchart></app-skilledchart> -->
      </div>
    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="esicApplicable">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> ESIC </div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">

            </div>
          </div>
        </div>


        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="">
              <circle-progress [percent]="esicCount" [maxPercent]="100" [outerStrokeWidth]="16" [titleFontSize]="35"
                [unitsFontSize]="20" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'" [animation]="true" [responsive]="true" [showUnits]="true"
                [showSubtitle]="false" [animationDuration]="300">
              </circle-progress>
            </div>

          </div>
          <div class="col-md-12">
            <h6 class="text-center">ESIC Applicable Employees</h6>
          </div>


        </div>

      </div>
    </div>


    <div class="col-md-4 col-xs-12 hide" *ngIf="shiftDeviation">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Shift Deviation <small>(Planned vs
              Actual)</small></div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">
              <span class="badge badge-pill badge-primary">M</span> <span
                class="badge badge-pill badge-primary">W</span>
              <span class="badge badge-pill badge-primary">D</span>
            </div>
          </div>
        </div>

        <div class="p-3">
          <app-shiftdeviationchart></app-shiftdeviationchart>
        </div>

      </div>
    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="lateSittingOtList">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> List of Employees
            <small>(Yesterday's)</small></div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">
              <span class="badge badge-pill badge-primary">M</span> <span
                class="badge badge-pill badge-primary">W</span>
              <span class="badge badge-pill badge-primary">D</span>
            </div>
          </div>
        </div>


        <div>
          <nav [ngClass]="themeColor" class="nav nav-pills nav-justified">
            <a class="nav-item nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
              aria-controls="home" aria-selected="true">Late Sitting</a>
            <a class="nav-item nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
              aria-controls="profile" aria-selected="false">Over Time</a>

          </nav>
          <div class="tab-content" id="myTabContent">

            <div class="tab-pane tablescroll fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <table class="table table-striped">
                <thead class="theadblue">
                  <tr>
                    <th>Name</th>
                    <th>Late sitting time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of lateSittingList">
                    <td>{{item.fullName}} {{item.lastName}}</td>
                    <td>{{item.totalTime}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="tab-pane tablescroll fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <table class="table table-striped">
                <thead class="theadblue">
                  <tr>
                    <th>Name</th>
                    <th>Over time</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let item of lateSittingList">
                        <td>{{item.fullName}}</td>
                        <td>{{item.otduration}} Hrs</td>
                      </tr>    -->
                  <!-- <tr>
                    <td>xyz</td>
                    <td>xyz</td>
                  </tr>
                  <tr>
                    <td>xyz</td>
                    <td>xyz</td>
                  </tr>
                  <tr>
                    <td>xyz</td>
                    <td>xyz</td>
                  </tr>
                  <tr>
                    <td>xyz</td>
                    <td>xyz</td>
                  </tr>
                  <tr>
                    <td>xyz</td>
                    <td>xyz</td>
                  </tr> -->
                </tbody>
              </table>
            </div>

          </div>

        </div>


      </div>
    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="OtHoursIncrease">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> OT hours (Unplanned absentism) </div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">
              <span class="badge badge-pill badge-primary">Y</span> <span
                class="badge badge-pill badge-primary">M</span>
              <span class="badge badge-pill badge-primary">W</span>
            </div>
          </div>
        </div>

        <div class="p-3">
          <small>(Yesterday's)</small>
          <app-othrsincreaseunplanned></app-othrsincreaseunplanned>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xs-12 hide" *ngIf="DepartmentWiseManHoursCalculation">
      <div class="white-bg h-100">

        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Departmentwise man hours calculation
            <small>(Yesterday's)</small></div>
          <div class="btn-actions-pane-right">
            <div class="btn-group-sm btn-group" role="group">

            </div>
          </div>
        </div>

        <select name="dropDown" class="form-control form-control-sm" style="width:90%; margin:auto; margin-top:5px"
          (ngModelChange)='valueChange($event); manHours.getManHoursCountByDepartmentId(selectedDepertmentManHours)'
          [(ngModel)]='selectedDepertmentManHours'>
          <option *ngFor="let item of departmentList" value="{{item.deptId}}">{{item.deptName}}</option>
        </select>

        <div class="p-3">

          <app-departmentwisemanhrs #manHours></app-departmentwisemanhrs>

        </div>

      </div>
    </div>

  </div>
</div>


<!-- habitualAbsentismlist Modal Start -->


<!-- habitualAbsentismlist Modal End -->

<!-- todaysUnPlannedAbsentism Modal Start -->



<!-- todaysUnPlannedAbsentism Modal End -->


<!-- todaysPlannedAbsentism Modal Start -->

<div class="container">


  <!-- The Modal -->
  <div class="modal fade" id="todaysPlannedAbsentism">
    <div class="modal-dialog modalabsentism">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">todays Planned Absenteeism</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body tablescrollmodal">
          <table class="table table-striped table-bordered">
            <thead class="theadblue">
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of todaysPlannedAbsentism">
                <td>{{item.fullName}} {{item.lastName}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>

<!-- todaysPlannedAbsentism Modal End -->
<div class="container">


  <!-- The Modal -->
  <div class="modal fade" id="shiftchangelinegraph">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Shift Change Requests</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="assets/111.jpg">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>

<!-- insideEmployeeList Modal End -->
<div class="container">
  <!-- The Modal -->
  <div class="modal fade" id="insideEmployeeList">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Today's Employees Inside</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <table id="Emp" class="table table-striped table-bordered" style="width:100%">
            <thead class="theadblue">
              <tr>
                <th style="width: 10%" class="hide-arw" class="hide-arw">
                  Employee ID
                </th>
                <th style="width: 80%">
                  Name
                </th>
                <th style="width: 10%" class="hide-arw" class="hide-arw">
                  Check In
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of emp_list">
                <td>{{item.empId}}</td>
                <td>{{item.fullName}} {{item.lastName}}</td>
                <td>{{item.checkIn | date:"hh:mm"}}</td>
                <!-- getCheckInTime -->
              </tr>
            </tbody>
            <tfoot>
              <tr>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /insideEmployeeList -->
<!-- insideEmployeeList Modal End -->
<div class="container">
  <!-- The Modal -->
  <div class="modal fade" id="insideContractorList">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Today's Contractor Employees Inside</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <table id="Emp_contractor" class="table table-striped table-bordered" style="width:100%">
            <thead class="theadblue">
              <tr>
                <th style="width: 10%" class="hide-arw" class="hide-arw">
                  Employee ID
                </th>
                <th style="width: 80%">
                  Name
                </th>
                <th style="width: 10%" class="hide-arw" class="hide-arw">
                  Check In
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of emp_list">
                <td>{{item.empId}}</td>
                <td>{{item.fullName}} {{item.lastName}}</td>
                <td>{{item.checkIn  | date:"hh:mm"}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /insideContractorList -->

<div class="container">
  <!-- The Modal -->
  <div class="modal fade" id="yesterSinglePunchContractor">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Yesterday's Contractor Single Punches</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <table id="Emp_cont_single" class="table table-striped table-bordered" style="width:100%">
            <thead class="theadblue">
              <tr>
                <th style="width: 10%" class="hide-arw" class="hide-arw">
                  Employee ID
                </th>
                <th style="width: 80%">
                  Name
                </th>
                <th style="width: 10%" class="hide-arw" class="hide-arw">
                  Check In
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of emp_list">
                <td>{{item.empId}}</td>
                <td>{{item.fullName}} {{item.lastName}}</td>
                <td>{{item.checkIn  | date:"hh:mm"}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /yesterSinglePunchContractor -->

<div class="container">
  <!-- The Modal -->
  <div class="modal fade" id="yesterSinglePunchEmp">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Yesterday's Employees Single Punches</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <table id="Emp_cont_yest" class="table table-striped table-bordered" style="width:100%">
            <thead class="theadblue">
              <tr>
                <th style="width: 10%" class="hide-arw" class="hide-arw">
                  Employee ID
                </th>
                <th style="width: 80%">
                  Name
                </th>
                <th style="width: 10%" class="hide-arw" class="hide-arw">
                  Check In
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of emp_list">
                <td>{{item.empId}}</td>
                <td>{{item.fullName}} {{item.lastName}}</td>
                <td>{{item.checkIn  | date:"hh:mm"}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /yesterSinglePunchEmp -->


<!-- ====================================================NEW DASHBOARD  19-4-2019==================================================== -->



<!-- <div class="row">
    <div class="col-md-3">
      <div class="white-bg first">
        <div class="headtitle">
          <h6>AR Requests</h6>
        </div>

        <div class="valign">
          <div class="row">
            <div class="col-md-10">
              <h6 class="headingtext">AR Requests</h6>
              <small class="smalltext">Total</small>
            </div>
            <div class="col-md-2">
              <h6 class="counts">75</h6>
            </div>
          </div>
        </div>
        <div class="valign">
          <div class="row">
            <div class="col-md-10">
              <h6 class="headingtext">Yesterday's</h6>
              <small class="smalltext">4 Apr 2019</small>
            </div>
            <div class="col-md-2">
              <h6 class="counts">9</h6>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <div class="col-md-3">
      <div class="white-bg second">
        <div class="headtitle">
          <h6>Shifts</h6>
        </div>
        <div class="valign">
        

          <div class="row">
            <div class="col-md-10">
              <h6 class="headingtext">Shift Deviation</h6>
              <small class="smalltext">Total</small>
            </div>
            <div class="col-md-2">
              <h6 class="counts">15</h6>
            </div>
          </div>
        </div>
        <div class="valign">
          <div class="row">
            <div class="col-md-10">
              <h6 class="headingtext">AR Requests</h6>
              <small class="smalltext">4 Apr 2019</small>
            </div>
            <div class="col-md-2">
              <h6 class="counts">7</h6>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <div class="white-bg third">
        <div class="headtitle">
          <h6>Shiftwise Absentism</h6>
        </div>
        <ul class="chart">
          <li>
            <span style="height:25%" title="First Shift"></span>
          </li>
          <li>
            <span style="height:80%" title="Second Shift"></span>
          </li>
          <li>
            <span style="height:30%" title="Third Shift"></span>
          </li>

        </ul>
      </div>

    </div>
    <div class="col-md-3">
      <div class="white-bg fourth">
        <div class="headtitle">
          <h6>Shift Allownce</h6>
        </div>
        <div class="valign">
          <div class="row">
            <div class="col-md-6">
              <h6 class="headingtext">Total</h6>
            </div>
            <div class="col-md-6">
              <h6 class="counts">14000 <i class="fa fa-rupee"></i></h6>
            </div>
          </div>
        </div>
        <div class="valign">
          <div class="row">
            <div class="col-md-6">
              <h6 class="headingtext">Short Hours</h6>
            </div>
            <div class="col-md-6">
              <h6 class="counts">2000 <i class="fa fa-rupee"></i></h6>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




  <div class="row">

    <div class="col-md-4">
      <div class="white-bg h-100">
        <div class="headtitle">
          <h6>Coff</h6>
        </div>
        <div class="row">
          <div class="col">
            <div class="donut" style="animation-delay: -35s"></div>
          </div>
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item"><i class="fa fa-square fa1" aria-hidden="true"></i> Unused <h6><span
                    class="badge badge-success">36</span></h6>
              </li>
              <li class="list-group-item"><i class="fa fa-square fa2" aria-hidden="true"></i> Used <h6><span
                    class="badge badge-primary">12</span></h6>
              </li>
              <li class="list-group-item"><i class="fa fa-square fa3" aria-hidden="true"></i> Lapsed <h6><span
                    class="badge badge-danger">6</span></h6>
              </li>
            </ul>
          </div>
        </div>


      </div>

    </div>
    <div class="col-md-5">
      <div class="white-bg h-100">
        <div class="headtitle">
          <h6>Daily Absentism</h6>
        </div>
        <div class="skills">


          <div class="charts">

            <div class="chart2 chart--prod">
              <ul class="chart--horiz">
                <li class="chart__bar" style="width: 75%;">
                  <span class="chart__label">
                    Planned
                    <h5><span class="badge badge-secondary">75%</span></h5>
                  </span>

                </li>
                <li class="chart__bar" style="width: 80%;">
                  <span class="chart__label">
                    Unplanned
                    <h5><span class="badge badge-secondary">80%</span></h5>
                  </span>
                </li>
              </ul>
            </div>


          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <div class="white-bg h-100">
        <div class="headtitle">
          <h6>Gender Count</h6>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="gcountmale w3-animate-top">
              <span class="">70%</span>
            </div>
            <div class="gendar">

              <div>
                <img src="assets/male.svg">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="gcountfemale w3-animate-top">
              <span class="">30%</span>
            </div>
            <div class="gendar">
              <img src="assets/female.svg">
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="row">

    <div class="col-md-4">
      <div class="white-bg h-100">
        <div class="headtitle">
          <h6>Monthly</h6>
        </div>

        <div class="table-responsive">
          <table id="emplisttable" class="table table-bordered">
            <thead class="theadblue">
              <tr>
                <th>Name</th>
                <th>Late</th>
                <th>Early</th>
                <th>Department</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Hella Winch</td>
                <td>D211</td>
                <td>101</td>
                <td>Software</td>
              </tr>

              <tr>
                <td>Jhon Doe</td>
                <td>D212</td>
                <td>102</td>
                <td>Design</td>
              </tr>

              <tr>
                <td>Alena D</td>
                <td>D213</td>
                <td>103</td>
                <td>Account</td>
              </tr>
              <tr>
                <td>Alena D</td>
                <td>D213</td>
                <td>103</td>
                <td>Account</td>
              </tr>
              <tr>
                <td>Alena D</td>
                <td>D213</td>
                <td>103</td>
                <td>Account</td>
              </tr>
              <tr>
                <td>Alena D</td>
                <td>D213</td>
                <td>103</td>
                <td>Account</td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>

    </div>
    <div class="col-md-5">
      <div class="white-bg h-100">
        <div class="headtitle">
          <h6>Skilled/Unskilled</h6>
        </div>
        <div class="container">

         
          <div class="line-chart-block block">
            <div class="line-chart">
              <div class='grafico'>
                <ul class='eje-y'>
                  <li data-ejeY='30'></li>
                  <li data-ejeY='20'></li>
                  <li data-ejeY='10'></li>
                  <li data-ejeY='0'></li>
                </ul>
                <ul class='eje-x'>
                  <li>Apr</li>
                  <li>May</li>
                  <li>Jun</li>
                </ul>
                <span data-valor='25'>
                  <span data-valor='8'>
                    <span data-valor='13'>
                      <span data-valor='5'>
                        <span data-valor='23'>
                          <span data-valor='12'>
                            <span data-valor='15'>
                            </span></span>
                        </span>
                      </span>
                    </span>
                  </span>
                </span>
              </div>

            </div>
            <ul class="time-lenght horizontal-list">
              <li><a class="time-lenght-btn" href="#14">Week</a></li>
              <li><a class="time-lenght-btn" href="#15">Month</a></li>
              <li><a class="time-lenght-btn" href="#16">Year</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="white-bg h-100">
        <div class="headtitle">
          <h6>ESIC Employees</h6>
        </div>
        <div class="row">
          <div class="col">
            <div class="donut2" style="animation-delay: -35s"><span class="esic">150</span></div>
          </div>
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item"><i class="fa fa-square fa1" aria-hidden="true"></i> 150 Employyes are Qulify
                for ESIC </li>

            </ul>
          </div>


        </div>
        <hr>
        <div class="gratuty">
          <div class="progress md-progress" style="height: 20px">
            <div class="progress-bar" role="progressbar" style="width: 47%; height: 20px" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">16</div>
          </div>
          <small>16 Employeess Applicable for Gratuity this year</small>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="white-bg h-100">
      </div>
    </div>

    <div class="col-md-3">
      <div class="white-bg h-100">
        <div class="headtitle">
          <h6>FTE Vs Temp</h6>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="wrapper">
              <div class="d1">
                <div><span>60%</span></div>
              </div>
              <div class="d2">
                <div><span>40%</span></div>
              </div>
 
            </div>
          </div>
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item"><i class="fa fa-square fa1" aria-hidden="true"></i> FTE </li>
              <li class="list-group-item"><i class="fa fa-square fa2" aria-hidden="true"></i> Temp </li>

            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>


</div> -->

<!-- 
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
   Dropdown <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li class="dropdown">
      <a href="#">One more dropdown</a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li class="dropdown">
          <a href="#">One more dropdown</a>
          <ul class="dropdown-menu">
          ...
          </ul>
        </li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
       </ul>
    </li>
    <li><a href="#">Something else here</a></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div> -->