<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="bg">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="main-search ml-2">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <!-- active/inactive buttons -->
                  <div class="btn-group btn-group-sm  btn-group-toggle" role="group" aria-label="Third group"
                    *ngIf="listType == 'employee'">
                    <div class="btn-group emp-con btn-group-sm mr-3" data-toggle="buttons" role="group"
                      aria-label="Basic example">
                      <label class="btn btn-outline-primary active"
                        (click)="employeeListTypeChangedActiveInactive('active')">
                        <input type="radio" id="option1" value="active" [(ngModel)]="empActiveListType"
                          name="emplListAcitiveType" checked />Active
                      </label>
                      <label class="btn btn-outline-primary"
                        (click)="employeeListTypeChangedActiveInactive('Inactive')">
                        <input type="radio" id="option2" value="inactive" [(ngModel)]="empActiveListType"
                          name="emplListAcitiveType" /> Inactive
                      </label>
                    </div>
                  </div>

                  <!--another atctive inactive button here-->
                  <div class="btn-group btn-group-sm  btn-group-toggle" role="group" aria-label="Third group"
                  *ngIf="listType == 'contractor'">
                  <div class="btn-group emp-con btn-group-sm mr-3" data-toggle="buttons" role="group"
                    aria-label="Basic example">
                    <label class="btn btn-outline-primary active"
                      (click)="contractorListTypeChangedActiveInactive('active')" >
                      <input type="radio" id="option3" value="active" [(ngModel)]="contractorActiveListType"
                        name="emplListAcitiveType" checked />Active
                    </label>
                    <label class="btn btn-outline-primary"
                      (click)="contractorListTypeChangedActiveInactive('Inactive')" >
                      <input type="radio" id="option4" value="inactive" [(ngModel)]="contractorActiveListType"
                        name="emplListAcitiveType" /> Inactive
                    </label>
                  </div>
                </div>
                  <!-- /active/inactive buttons -->
                  <div class="btn-group btn-group-sm" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-success"
                      *ngIf="Employeedata.length > 0">{{orgEmpList.length}}</button>
                  </div>
                  <!-- <div >
                    <button type="button" class="btn btn-success"
                     *ngIf="contractor_data.length>=0 ">{{orgEmpList.length}}</button>
                  </div> -->
                  <!-- *ngIf="!myVar?.length -->
                  <!-- toggle buttons -->
                  <div class="btn-group btn-group-sm ml-3 btn-group-toggle" role="group" aria-label="Third group">
                    <div class="btn-group emp-con btn-group-sm mr-3" data-toggle="buttons" role="group"
                      aria-label="Basic example">
                      <label class="btn btn-secondary" [ngClass]="{active: listType == 'employee'}" (click)="employeeListTypeChanged('employee')">
                        <input type="radio" id="option1" value="employee" [(ngModel)]="employeeListType"
                          name="employeeListType" checked />Employee
                      </label>
                      <label class="btn btn-secondary" [ngClass]="{active: listType == 'contractor'}" (click)="employeeListTypeChanged('contractor')">
                        <input type="radio" id="option2" value="contractor" [(ngModel)]="employeeListType"
                          name="employeeListType" /> Contractor
                      </label>
                      <!-- <label class="btn btn-secondary" (click)="employeeListTypeChanged('management')">
                        <input type="radio" id="option3" value="management" [(ngModel)]="employeeListType"
                          name="employeeListType" /> Management
                      </label> -->
                    </div>
                  </div>
                  <!-- /toggle buttons -->
                  <!-- <button type="button" class="btn btn-secondary" [ngClass]="{active: listType == 'preonboarding'}"
                    (click)="employeeListTypeChanged('preonboarding')">Pre-onboarding
                  </button> -->
                </div>
              </div>

              
            </div>
            <!-- import,create buttons -->
            <div class="col-md-4 align-items-center">
              <div class="float-right right-top-buttons">
                <button type="button" *ngIf="listType == 'preonboarding'" (click)="gotoPreonbording()"
                  title="New Hiring" class="btn btn-primary mr-2">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> 
                </button>
                <button type="button" *ngIf="listType == 'management'" (click)="gotoManegement()"
                  title="Add Management Employee" class="btn btn-primary mr-2">
                  <i class="fa fa-user-plus " aria-hidden="true"></i>
                </button>
                <button type="button" *ngIf="listType == 'employee'" (click)="goto()" title="Add Employee"
                  class="btn btn-primary mr-2">
                  <i class="fa fa-user-plus " aria-hidden="true"></i> 
                </button>
                <button type="button" *ngIf="listType == 'contractor'" (click)="goto()"
                  title="Add Contractor Employee" class="btn btn-primary mr-2">
                  <i class="fa fa-user-plus " aria-hidden="true"></i> 
                </button>
                <button type="button" *ngIf="listType != 'preonboarding'" (click)='gotothis()' title="Bulk Upload"
                  class="btn btn-primary mr-2">
                  <i class="fa fa-upload" aria-hidden="true"></i> 
                </button>
                <button type="button" *ngIf="listType != 'preonboarding'" (click)='importExcel()'
                  title="Download List" class="btn btn-primary mr-2">
                  <i class="fa fa-download" aria-hidden="true"></i> 
                </button>
              </div>
            </div>
            <!-- /import,create buttons -->
          </div>
          <!-- Employee table :: START -->
         
          <div class="form-group" *ngIf="listType == 'employee'" >
            <label >SearchBy:</label>
          <div style="display: flex;">
            <!-- id="ddlSearch" here is add in select tag id after -->
          <select   (change)="onChange($event)" style="width: 20%;" class="form-control" id="ddlSearch" >
           <option value="none"  selected disabled >--Select-- </option>
            <option value="3"> Name</option>
            <option value="2">Employee Id</option>
            
            <!-- <option value="4">Official Contact Number</option> -->
            <option value="5">Biometric Id</option>
            <!-- <option value="6">Official Email Id</option> -->
           
            <!-- <option value="11">Cost Center</option> -->
           <option value="9">Designation</option>
           <option value="14">Department</option>
           <!-- <option value="10"> Grade</option> -->
           <option value="13">Employee Type</option>
           <option value="12">Employment Type</option>
           <option value="18"  *ngIf="rollName=='Admin'">Location</option>
          </select>
          <!-- <div style="display: flex;  display:none;" id="search-button-foremail" >
            <span style="display: flex;">
            <input  placeholder="Search Email " class="form-control"  name="search" (input)="Inputvalue=$event.target.value" type="text" style="width: 80%;margin-left: 25px;">
            <button class="btn btn-primary" (click)="OfficialEmailId()">Search</button>
            </span>
          </div> -->
          <div style="display: flex; display:none;" id="search-button-forbiometricid" >
            <span style="display: flex;">
            <input  placeholder="Search BiometricId " class="form-control"  name="search" (keypress)="omit_number($event)" (input)="Inputvalue=$event.target.value" type="text" style="width: 80%;margin-left: 25px;">
            <button class="btn btn-primary" (click)="SearchByBiometricid()">Search</button>
         </span>
          </div>
          <!-- <div style="display: flex;  display:none;" id="search-button-forContactNumber" >
            <span style="display: flex;">
            <input  placeholder="Search Official Contac " class="form-control"  name="search" maxlength="10" (keypress)="omit_number($event)" (input)="Inputvalue=$event.target.value" type="text" style="width: 80%;margin-left: 25px;">
            <button class="btn btn-primary" (click)="SearchByContactNumber()">Search</button>
            </span>
          </div>
         -->
          <select  id="third-dropdown"  (change)="onSelect1($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px;  display:none;">
            <option  [ngValue]="null" selected disabled >--Select Designation--</option>
          
            <option  *ngFor="let data of EmployeedataDesignation; let i=index" value="{{data.descId}}">{{data.descName}}</option>               
          </select>
         
          <select  id="second-dropdown"  (change)="onSelect($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px;  display:none;">
            <option [ngValue]="null" selected  disabled> --Select Department--</option>
          
            <option  *ngFor="let data of EmployeedataDepartment; let i=index" value="{{data.deptId}}">{{data.deptName}}</option>               
          </select>
         
          <!-- <select  id="fourth-dropdown"  (change)="onSelect2($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px;">
            <option  [ngValue]="null" selected disabled>--Select CostCenter--</option>
          
            <option  *ngFor="let data of EmployeeCostCenter; let i=index" value="{{data.costCenterId}}">{{data.costCenterName}}</option>               
          </select> -->
          <select  id="fifth-dropdown"  (change)="onSelect3($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px;  display:none;">
            <option  [ngValue]="null" selected disabled >--Select Employee Type--</option>
            
          
            <option  *ngFor="let data of EmployeeTypes; let i=index" value="{{data.empTypeId}}">{{data.empTypeName}}</option>               
          </select>
          <select  id="sixth-dropdown"  (change)="onSelect4($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px;  display:none;">
            <option  [ngValue]="null" selected disabled >--Select EmployMent Type--</option>
          
            <option value="On Roll">On Roll</option> 
            <option value="On Contract">On Contract</option>              
          </select>
          <select  id="Eight-dropdowns"  (change)="onSelect57($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px; display:none;" >
            <option  [ngValue]="null" >--Select Location--</option>
          
            <option *ngFor="let data of EmployeeLocationwise; let i=index" value="{{data.locationId}}" >{{data.locationName}}</option>  
                       
          </select>
          <!-- <select  id="seven-dropdown"  (change)="onSelect5($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px;">
            <option  [ngValue]="null" selected disabled >--Select Grade--</option>
          
            <option *ngFor="let data of EmployeeGrade; let i=index" value="{{data.gradeId}}" >{{data.gradeName}}</option>               
          </select> -->
          <!-- <select  id="eight-dropdown"  (change)="onSelect6($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px;">
            <option  [ngValue]="null" >--Select Biometric Id--</option>
          
            <option *ngFor="let data of EmployeeGrade; let i=index" value="{{data.gradeId}}" >{{data.gradeName}}</option>               
          </select>  -->
          </div>
            <div *ngIf="listType == 'employee'" >
              <div id="searchhide" style="display: none;">

             
            <input type="text"  id="txtSearch" style="width: 20%; position: absolute;
            left: 21%; margin-top: -36px;" placeholder="Search" class="form-control"  type="text">
            </div>
            <div id="globalsearch" style="display: none;" >

             
              <!-- <input type="text"   [(ngModel)]="searchText"  autocomplete="off"  style="width: 20%; position: absolute;
              left: 44%; margin-top: -36px;" placeholder="Search" class="form-control"  type="text"> -->
    
            </div>
          </div>
          </div>
           
          <div class="table-responsive" *ngIf="listType == 'employee'" >
             <table id="emptable" class="table emp-action ">
              <thead class="thead-dark">
                <tr class="theadblue pt-3 pb-3">
                  <th style="width: 2px!important;" class="cssColorStyle">Sr.No</th>
                  <td style="width: unset !important;" >Photo</td>
                  <td style="width: unset !important;">Employee Id</td>
                  <td style="width: unset !important;">Name</td>                 
                  <td style="width: unset !important;">Department</td>
                  <td style="width: unset !important;">Designation</td>
                  <td style="text-align:center; width: unset !important;">Action</td>
                 
                </tr>
              </thead>
              <tbody>
               
                <tr *ngFor='let i of Employeedata; let s=index' class="tabledata-center">
                  <td>{{s+1}}</td>
                  <td style="width:5%; text-align:center">
                    <div class="wrapper">
                      <img *ngIf="i.profilePath && Aws_flag=='true'" src="{{i.profilePath}}" alt="" class="image-cover" />
                      <img *ngIf="i.profilePath && Aws_flag!='true'" [src]="transform(i.profilePath)" alt="" class="image-cover" />
                      <img *ngIf="!i.profilePath" src="{{AssetsPath}}/propic.jpg" alt="" class="image-cover" />
                    </div>
                  </td>
                  <td>{{i.empId}}</td>
                  <td>{{i.fullName}} {{i.lastName}}</td>
                
                  <td>{{i.deptName}}</td>
                  <td>{{i.descName}}</td>
                  <td class="text-center" style="width:15%;">
                    <i class="fa fa-eye" [routerLink]="['../emppimsview']" (click)="getEmpDetail(i)"
                      title="View details" aria-hidden="true" style="padding-left: 0px;">
                    </i>
                    <i class="fa fa-pencil" [routerLink]="['../pimshr']" (click)="setEmp(i,'emp')" title="Edit details"
                      aria-hidden="true">
                    </i>
                    <i *ngIf="empActiveListType == 'active'" class="fa fa-user-times" (click)='goToPage(i)'
                      title="Deactivate this employee" aria-hidden="true">
                    </i>
                    <!-- <i class="fa fa-user" *ngIf="!i.loginFlag" title="Employee Has Not Logged In" aria-hidden="true">
                    </i>
                    <i class="fa fa-user" *ngIf="empActiveListType == 'active'" [routerLink]="['../emppims/empdetails']"
                      title="Edit Personal Details" (click)="editPersonal(i)" aria-hidden="true">
                    </i> -->
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr></tr>
              </tfoot>
            </table>
          </div>
          <!-- ==================EMPLOYEE TABLE :: END==================== -->

        <!-- CONTRACTOR TABLE -->
        <!-- <button class="btn btn-success"> {{selected_number}}</button> -->
       
        <div class="form-group" *ngIf="listType == 'contractor'" >
          <label >SearchBy:</label>
          <div style="display: flex;" >
          <!-- (change)="selected($event)" -->
          <select  style="width: 20%;" (change)="onChange($event)"  class="form-control" id="selectedheader" >
            <option value="none" selected disabled >--Select-- </option>
            <option value="3">  Name</option>
            <option value="2">Employee Id</option>
            
            <!-- <option value="4">Official Contact Number</option> -->
            <option value="5">Biometric Id</option>
            <!-- <option value="6">Official Email Id</option> -->
            <!-- <option value="7"> Aadhar Card Number</option>
            <option value="8">Personal Mobile Number</option> -->
            <!-- <option value="11">Cost Center</option> -->
           <option value="9">Designation</option>
           <option value="17" *ngIf="rollName=='Admin'">Location</option>
            <!-- <option value="14">Department</option> -->
            <option value="15">Contractor FirmName</option>
           <!-- <option value="10"> Grade</option> -->
           <!-- <option value="13">Employee Type</option>
           <option value="12">Employment Type</option> -->
           
          </select>
          <!-- <div style="display: flex; display: none;" id="search-button-foremail" >
            <span style="display: flex;">
            <input  placeholder="Search Email " class="form-control"  name="search" (input)="Inputvalue=$event.target.value" type="text" style="width: 80%;margin-left: 25px;">
            <button class="btn btn-primary" (click)="OfficialEmailId1()">Search</button>
            </span>
          </div> -->
          <div style="display: flex; display: none;" id="search-button-forbiometricid" >
            <span style="display: flex;">
            <input  placeholder="Search BiometricId " class="form-control"  name="search" (keypress)="omit_number($event)" (input)="Inputvalue=$event.target.value" type="text" style="width: 80%;margin-left: 25px;">
            <button class="btn btn-primary" (click)="SearchByBiometricid1()">Search</button>
            
          </span>
          </div>
          <!-- <div style="display: flex; display: none;" id="search-button-forContactNumber" >
            <span style="display: flex;">
            <input  placeholder="Search Official Contac " class="form-control"  name="search" (keypress)="omit_number($event)" (input)="Inputvalue=$event.target.value" type="text" style="width: 80%;margin-left: 25px;">
            <button class="btn btn-primary" (click)="SearchByContactNumber1()">Search</button>
            </span>
          </div> -->
         
           <!-- <select  id="second-dropdown"  (change)="onSelectedC($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px;">
           
            <option  [ngValue]="null" disabled selected >--Select Department--</option>
             
            <option  *ngFor="let data of EmployeedataDepartment let i=index" value="{{data.deptId}}">{{data.deptName}}</option>               
          </select>  -->
          <select  id="SearchContractorFirmName"  (change)="onSelectContractFirmName($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px;  display:none;">
            <option [ngValue]="null" selected  disabled> --Select Con FirmName--</option>
          
            <option  *ngFor="let data of EmployeedataFirmName; let i=index" value="{{data.contractorId}}">{{data.conFirmName}}</option>               
          </select>
  
          <select  id="third-dropdown"  (change)="onSelect11($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px; display: none;">
            <option  [ngValue]="null" selected disabled  >--Select Designation--</option>
          
            <option  *ngFor="let data of EmployeedataDesignation; let i=index" value="{{data.descId}}">{{data.descName}}</option>               
          </select>
          <select  id="fourth-dropdown"  (change)="onSelect22($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px; display: none;">
            <option  [ngValue]="null" selected disabled >--Select CostCenter--</option>
          
            <option  *ngFor="let data of EmployeeCostCenter; let i=index" value="{{data.costCenterId}}">{{data.costCenterName}}</option>               
          </select>
          <select  id="fifth-dropdown"  (change)="onSelect33($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px; display: none;">
            <option  [ngValue]="null" selected disabled>--Select Employee Type--</option>
          
            <option  *ngFor="let data of EmployeeTypes; let i=index" value="{{data.empTypeId}}">{{data.empTypeName}}</option>               
          </select>
          <select  id="sixth-dropdown"  (change)="onSelect44($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px; display: none;">
            <option  [ngValue]="null" selected disabled>--Select EmployMent Type--</option>
          
            <option value="On Roll">On Roll</option> 
            <option value="On Contract">On Contract</option>              
          </select>
        
          <select  id="seven-dropdown"  (change)="onSelect55($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px; display: none;">
            <option  [ngValue]="null" selected disabled>--Select Grade--</option>
          
            <option *ngFor="let data of EmployeeGrade; let i=index" value="{{data.gradeId}}" >{{data.gradeName}}</option>               
          </select>
          <div>
            <select  id="Eight-dropdown"  (change)="onSelect58($event.target.value)"  class="form-control" style="width: 120%;margin-left: 25px;display:none" >
              <option  [ngValue]="null" >--Select Location--</option>
            
              <option *ngFor="let data of EmployeeLocationwise; let i=index" value="{{data.locationId}}" >{{data.locationName}}</option>  
                         
            </select>
           
          </div>
          <!-- <select  id="eight-dropdown"  (change)="onSelect6($event.target.value)"  class="form-control" style="width: 20%;margin-left: 25px;">
            <option  [ngValue]="null" >--Select Biometric Id--</option>
          
            <option *ngFor="let data of EmployeeGrade; let i=index" value="{{data.gradeId}}" >{{data.gradeName}}</option>               
          </select> -->
          <div *ngIf="listType == 'contractor'">
          <input type="text"  id="Searchcolumwise" style="width: 100%; margin-left: 19px; display: none;" placeholder="Search " class="form-control" >
          </div>
        </div>
        </div>
        <div class="table-responsive" *ngIf="listType == 'contractor'">
          <table id="contractor_table" class="table emp-action">
            <thead class="thead-dark">
              <tr class="theadblue">
                <th style="width: auto; width: 30px!important;"  class="cssColorStyle">Sr.No</th>
                <td style="width: auto;">Photo</td>
                <td style="width: auto;">Employee Id</td>
                <td style="width: auto;">Name</td>
               
                <td style="width: auto;">Contractor Firmname</td>
                <td style="width: auto;">Designation</td>
                <td style="width: 20%;text-align:center">Action</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let i of contractor_data;let s=index'>
                <td style="padding-left: 20px;">{{s+1}}</td>
                <td style="width:5%; text-align:center">
                  <div class="wrapper">
                    <img *ngIf="i.profilePath && Aws_flag=='true'" src="{{i.profilePath}}" alt="" class="image-cover" />
                    <img *ngIf="i.profilePath && Aws_flag!='true'" [src]="transform(i.profilePath)" alt="" class="image-cover" />
                    <img *ngIf="!i.profilePath" src="{{AssetsPath}}/propic.jpg" alt="" class="image-cover" />
                  </div>
                </td>
                <td style="padding-left: 20px;">{{i.empId}}</td>
                <td style="padding-left: 20px;">{{i.fullName}} {{i.lastName}}</td>
                
                <td style="padding-left: 20px;">{{i.deptName}}</td>
                <td style="padding-left: 20px;">{{i.descName}}</td>
                <td class="text-center" style="width:15%;padding-right: 20px;"  >
                  <i class="fa fa-eye" [routerLink]="['../emppimsview']" (click)="getEmpDetail(i)"
                    title="View details" aria-hidden="true" style="padding-left:0px!important;">
                  </i>
                  <!-- contractor_edit -->
                  <i class="fa fa-pencil"  *ngIf="listType == 'contractor'" (click)="EditContractor(i,'emp')" title="Edit details"
                    aria-hidden="true">
                  </i>
                  <!-- /contractor_edit -->
                  <i *ngIf="empActiveListType == 'active'" class="fa fa-user-times" (click)='goToPage(i)'
                    title="Deactivate this employee" aria-hidden="true">
                  </i>
                  <i class="fa fa-file-pdf-o" title="Generate Pass" (click)='generatePass(i)'
                    aria-hidden="true">
                  </i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /CONTRACTOR TABLE -->

          <!-- ============================preonboarding table :: START================== -->
          <div class="table-responsive" *ngIf="listType == 'preonboarding'">
            <table id="preonboarding_table" class="table emp-action">
              <thead class="thead-dark">
                <tr class="theadblue">
                  <!-- <td>Photo</td> -->
                  <td>Name</td>
                  <td>Date Of Birth</td>
                  <td>Medical Status</td>
                  <td>Safety Status</td>
                  <td>Personal Contact Number</td>
                  <td style="width: 20%;text-align:center">Action</td>
                </tr>
              </thead>
              <tbody>
                <tr [ngStyle]="{'background-color': i.safetyClearanceStatus == 'Rejected' || i.medicalClearanceStatus=='Rejected' ? '#bc9999' : 'white' }" *ngFor='let i of priOnBoard'>
                  <!-- <td style="width:5%; text-align:center">
                    <div class="wrapper">
                      <img *ngIf="i.profilePath && Aws_flag=='true'" src="{{i.profilePath}}" alt="" class="image-cover" />
                      <img *ngIf="i.profilePath && Aws_flag!='true'" [src]="transform(i.profilePath)" alt="" class="image-cover" />
                      <img  *ngIf="!i.profilePath" src="{{AssetsPath}}/propic.jpg" alt="" class="image-cover" />
                    </div>
                  </td> -->
                  <td>{{i.salutation}}.{{i.fullName}} {{i.lastName}}</td>
                  <td>{{i.dateOfBirth}}</td>
                  <td>{{i.medicalClearanceStatus=="Active" ? ' Pending' : i.medicalClearanceStatus}}</td>
                  <td>{{i.safetyClearanceStatus =="Active" ? ' Pending' : i.safetyClearanceStatus}}</td>
                  <td>{{i.personalContactNumber}}</td>
                  <td class="text-center" style="width:15%;">
                    <i class="fa fa-eye" [routerLink]="['../emppimsview']" (click)="getEmpDetail(i)"
                      title="View details" aria-hidden="true"></i>
                    <i *ngIf="i.safetyClearanceStatus=='Approved'" class="fa fa-user-plus" [routerLink]="['../pimshr']" (click)="setEmp(i,'pre')" title="Hire Now"
                      aria-hidden="true"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- PREONBOARDING TABLE :: END -->
        </div>
      </div>
    </div>
  </div>
</div>
