<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-envelope bg-happy-itmeo" aria-hidden="true"></i></div>
              <div> Email Creation Settings <div class="page-title-subheading">Here you can set your email id and domain name.
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row justify-content-center">
            <div class="col-md-4">

              <div class="mt-3">


                  <div class="form-group">
                      <label>First Name <span style="color: red">*</span></label>
                      <br>
                      <input type="radio" id="radio1"  value="Yes" name="firstname"/>
                      <label for="radio1">First Name</label>
                      <input type="radio" id="radio2"  value="No" name="firstname"/>
                      <label for="radio2">Initial of First Name</label>
                    </div>
               
          

                  <div class="form-group">
                    <label for="middleoperator">Middle Operator</label>
                    <input type="text" class="form-control form-control-sm" id="middleoperator"
                      aria-describedby="middleoperator">
                  </div>

                  <div class="form-group">
                      <label>Last Name <span style="color: red">*</span></label>
                      <br>
                      <input type="radio" id="radio3"  value="Yes" name="lastname"/>
                      <label for="radio3">Last Name</label>
                      <input type="radio" id="radio4"  value="No" name="lastname"/>
                      <label for="radio4">Initial of Last Name</label>
                    </div>

                    
                  <div class="form-group">
                      <label for="domainname">Domain Name</label>
                      <input type="text" class="form-control form-control-sm" id="domainname" placeholder="Eg. @company.com"
                        aria-describedby="domainname">
                    </div>
                    <div class="form-group">
                     <p style="line-height: 2;">Examples:<br>
                     <span class="examplemail" style="color:grey">j.thomas@company.com<br>jhon.t@company.com<br>jhon.thomas@company.com</span>
                             </p>
                    </div>




                <div class="col-md-12">
                  <div class="float-right">
                    <div class="form-group">
                      <button class="btn btn-primary">Save</button> &nbsp; <button class="btn btn-info">Reset</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>