<div class="container-fluid h-100">

    <div class="row">
        <div class="col-md-6">
  
          <!-- <img src="assets/rieter_logoL.png" alt="alleviz"> -->
          <br>
        
        </div>

  
      </div>

      <div class="row">
          <div class="col-md-6">
    
           
            <h6 class="attrep">
              <strong class="blu">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Extra-Working List</strong> &nbsp;
            </h6>
          </div>
  
          <div class="col-md-6">
  
           <div class="form-group float-right m-3 col-md-3">
  
         
              <!-- <input type="date" class="form-control form-control-sm" name="date" [(ngModel)]="tosortDate"
                (change)="getdate($event)" /> -->

                <select id="selecteddatedata" class="form-control form-control-sm" [(ngModel)]="selecteddateData"
                    name="selecteddateData" (ngModelChange)="getdatedata($event)" required>
                    <!-- <option value="">--Select--</option> -->
                    <!-- <option value="0" disabled selected>Select your option</option> -->
                    <option value="All">All</option>
                    <option value="{{get.workingDate}}" *ngFor="let get of workedDatesArray; let i = index;">
                      {{get.workingDate}}
                    </option>
                  </select>

              </div>
            </div>
        </div>
  <table class="table table-striped" id="CompTable">
    <thead class="theadblue">
      <tr>
        <th>
          Emp Id
        </th>

        <th>
          Employee Name
        </th>

        <th>
          Date
        </th>

        <th>
          Shift
        </th>

        <th>
          Emp-Reason
        </th>

        <th>
          Status
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of alldata; let i = index">

        <td>{{data.empPerId}}</td>
        <td>{{data.fullName}} {{data.lastName}}</td>
        <td>{{data.workingDate}}</td>
        <td>{{data.shiftName}}</td>
        <td>{{data.empReason}}</td>
        <td
          [ngClass]="{colorRed : data.finalStatus == 'Rejected', colorGreen: data.finalStatus == 'Approved', colorYellow:data.finalStatus == 'Pending'}"
          style="font-size:1rem;"><i class="fa fa-circle" aria-hidden="true"></i></td>

        <td><i class="fa fa-pencil" *ngIf='data.finalStatus !== "Approved"' (click)="edit(data)" aria-hidden="true"></i><i class="fa fa-trash" *ngIf='data.finalStatus !== "Approved"' (click)='dltObj(data)'
            data-toggle="modal" data-target="#AreYouSuredlt" aria-hidden="true"></i></td>
        <!-- <td>vin0d</td>
             
              <td style="font-size:1rem; text-align:center"><i class="fa fa-circle" aria-hidden="true"></i></td>
              <td><i class="fa fa-pencil" (click)="edit()"  aria-hidden="true"></i> <i class="fa fa-trash" (click)='dltObj()'  data-toggle="modal" data-target="#AreYouSuredlt" aria-hidden="true"></i></td> -->
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <p></p>
      </tr>
    </tfoot>
  </table>
</div>

<div class="float-right m-3">
<i class="fa fa-circle colorGreen" aria-hidden="true"></i><span>  Approved   </span><span> | </span> <i class="fa fa-circle colorRed" aria-hidden="true"></i><span>  Rejected   </span><span> | </span> <i class="fa fa-circle colorYellow" aria-hidden="true"></i><span>  Pending   </span>
</div>

<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure...??</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent()'  data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
     </div>
    
    </div>
  </div>
</div>