<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="white-bg">

          <div class="row">
            <div class="col-md-8">
              <div class="act-emp">
                <h6>Add
                  <br>
                  <span class="emptypetxt">Announcement</span>
                </h6>
              </div>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-6">

              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>