
  .form-control {
    border: 1.5px solid #bcdbf9 !important;
    border-radius: .625rem !important;
}


.customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    
    .customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    }
    
    .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
    }
    
    .customcheck:hover input ~ .checkmark {
    background-color: #ccc;
    }
    
    .customcheck input:checked ~ .checkmark {
    background-color: #02cf32;
    border-radius: 5px;
    }
    
    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }
    
    .customcheck input:checked ~ .checkmark:after {
    display: block;
    }
    
    .customcheck .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    