.outer-card {
    border: 2px solid #0747a6;
    border-radius: 10px;
    width: 550px;
}

.inner-card {
    border: 1px solid 0747a6;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    position: relative;
    margin: 20px;
}

.content-section {
    flex: 1;
}

.image-section {
    position: absolute;
    top: 60px;
    right: 15px;

}

.card-image {


    border: 1px solid black;

}

.table {
    font-size: 12px;
    width: 100%;

    max-width: 300px;
    border: none;
}

.table td {
    padding: 2px;
    border: none;
}
