
                      <!-- <div class="content-section " style="margin-bottom: 20px;">
                          <h5 class="card-title text-center"
                              style="background-color: #0747a6; color: white; padding: 5px;border-radius: 5px;">
                              {{allEmployeedata.contractorMaster.companyName}} </h5>
                          <table class="table">

                              <tr>
                                  <td><b>Labour Name:</b></td>
                                  <td><span>{{allEmployeedata.firstName}} {{allEmployeedata.lastName}}</span></td>
                              </tr>
                              <tr>
                                <td><b>Gender:</b></td>
                                <td><span>{{allEmployeedata.gender}}</span></td>
                            </tr>

                              <td><b>D O B:</b></td>
                               <td><span>{{allEmployeedata.dateOfBirth}}</span></td>

                              
                              <tr>
                                  <td><b>Blood Group:</b></td>
                                  <td><span>{{allEmployeedata.bloodGroup}}</span></td>
                              </tr>
                              <tr>
                                  <td><b>Labour Contact No:</b></td>
                                  <td><span>{{allEmployeedata.contactNumber}}</span></td>
                              </tr>
                              <tr>
                                  <td><b>Contractor Name:</b></td>
                                  <td><span>{{allEmployeedata.contractorMaster.firstName}} {{allEmployeedata.contractorMaster.lastName}}</span></td>
                              </tr>
                              <tr>
                                  <td><b>Contractor Contact No:</b></td>
                                  <td><span>{{allEmployeedata.contractorMaster.mobileNo}}</span></td>
                              </tr>
                              
                          </table>
                      </div>
                      <div class="image-section">
                          <img src="{{labourDataOfImage}}" class="card-image" alt="Pass Photo"
                              style="height: 90px;width: 90px;">
                      </div> -->
                      <div class="container" style="margin: auto; margin-top: 30px;">
          
                        <div class="row" style="justify-content: center;" >
                        <div class="col-md-4" style="display: contents;padding: 0!important;" id="image-section">
                          <div class="col-md-1" style="background-color: #164b91; padding: 7px; text-align: center;border-top-left-radius: 13px;border-bottom-left-radius: 13px;">
                          <h5 style="color: white;font-size: 11px;margin-top: 5px;
                          margin-bottom: 19px ">WORKING PASS</h5>
                          <img src="..." class="card-img-top" alt="..." style="width: 65px;
                          height: 77px;">
                          <br>
                          <img src="..." class="card-img-top" alt="..." style="width: 55px;
                          height: 60px;
                          margin-top: 25px;">
                          </div>
                          <div  class="col-md-3 col-xs-3 col-sm-3" style="border-right: 9px solid #164b91;max-width: 259px;
                          border-bottom: 9px solid #164b91;margin-left: 0.4px;border-top-right-radius: 13px; border-bottom-right-radius: 13px;padding: 0px!important;padding-left: 16px!important;
    padding-right: 15px!important;">
                            <div class="row" style="background-color: #164b91;padding: 3px">
                            
                                <div class="col-md-12" style="line-height: normal;
                                padding-bottom: 0px!important;">
                                
                                      <h5 style="color: white;font-size: 12px;margin-top: 2px;
                                      margin-bottom: 5px ">{{allEmployeedata?.contractorMaster?.firstName}} {{allEmployeedata?.contractorMaster?.lastName}}</h5>
                                      
                                      </div>
                                   
                              
                            </div>
                         
                         <div class="row" style="background-color: #44BC59;">
                            
                            <div class="col-md-6" style="line-height: normal;
                            padding-bottom: 0px!important;">
                            
                                  <P class="passageMargin" style="margin-bottom: 0rem;font-size: 10px;">Deployed at : </P>
                                  <p class="passageMargin" style="margin-bottom: 0rem;font-size: 10px;">Issued date : </p>
                                  </div>
                                  <div class="col-md-6" style="line-height: normal;
                                  padding-bottom: 0px!important;">
                                      <p class="passageMargin" style="margin-top: 7px;font-size: 10px;">Gate Pass No :</p>
                                  </div>
                            
                          
                        </div>
                        <table style="font-size: 10px;">
                            <tr>
                              <th>Labour Name </th>
                              <td> : {{allEmployeedata?.firstName}} {{allEmployeedata?.lastName}}</td>
                            
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td> : {{allEmployeedata?.gender}}</td>
                              
                              </tr>
                              <tr>
                                <th>DOB</th>
                                <td> : {{allEmployeedata?.dateOfBirth}}</td>
                              
                              </tr>
                              <tr>
                                <th>Blood Group</th>
                                <td> : {{allEmployeedata?.bloodGroup}}</td>
                              
                              </tr>
                              <tr>
                                <th>Contact No</th>
                                <td> : {{allEmployeedata?.contactNumber}}</td>
                              
                              </tr>
                              <tr>
                                <th>Validity of pass </th>
                                <td> : {{contactNumbers}}</td>
                              
                              </tr>
                          
                         
                          </table>
                          <div class="row" style="margin-top: 5px;">
                            
                            <div class="col-md-4">
                            
                                  </div>
                                  <div class="col-md-8" style="line-height: normal;
                                  padding-bottom: 0px!important;">
                                  <p style="margin-bottom: 17px; font-size: 10px;
                                  text-align: end;">Signing Authority</p>
                                      <p style="margin-bottom: 0px;font-size: 11px;">Name of Authority :-------</p>
                                  </div>
                            
                          
                        </div>
                    </div>
                        </div>
                          </div>
                          
                        
                      </div>
                 
   
  
<div class="container ">
  <div class="d-flex justify-content-center">
      
    <!-- <button class="btn btn-primary" (click)="printGeneratedPass()">Print</button> -->
    <button class="btn btn-primary" (click)="updatePassInfo()" >Download</button>
   
  </div>
</div>

   