<div style="display: block" >
    <canvas baseChart width="100%" height="100%"
                [data]="doughnutChartData"
                [labels]="pieChartLabels"
                [chartType]="doughnutChartType">
              </canvas>
  </div>
  <h6 class="text-center pt-2">Converted Absentism</h6>