.attrep{
    display: -webkit-inline-box;
    border-radius: 5px;

    padding: 8px;
}

.rep-bg{
    padding:2rem;
    background: white;
}

.blu{
    color:rgb(48, 80, 139);
}

.yel, .qwe{
    border-radius: 5px0 0 5px 5px;
    padding:5px;
    padding-left:10px;
    background: rgb(235, 235, 235);
}

.repdate{
    right: 6px;
    z-index: 0;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    background: rgb(252, 208, 115);
    padding: 10px;
    float: right;
    margin-top: -39px;
}

.table td, .table th {

    border-top: 0px solid #dee2e6 !important;
}
.table thead th {
    vertical-align: middle !important;
    border-bottom: 0px solid #dee2e6 !important;
}
.table-space{
    border-collapse: separate;
    border-spacing: 0 2px;
}

tr{
    font-size: 10px;
    border-spacing: 10;
    border: none !important;
    background: #fff;
    border-radius: 0.2rem;
    margin-bottom: 10px;
    /* box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important; */
}
.table-secondary{
    background: gray !important;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.columnshead{
    padding:0.5rem;
    background:#fbfbfb;
    border-radius: 5px;
}