<div class="container-fluid">
   
  <div class="rep-bg">

    <div class="row">
      <div class="col-md-6">

        <!-- <img src="assets/rieter_logoL.png" alt="alleviz"> -->
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Head Count Report </strong> &nbsp;
         
        </h6>
      </div>
    </div>


    <div class="row">
     
        <div class="col-md-12">
            <!-- <div class="repdate float-right">{{myDate}}</div> -->
            <div class="qwe">
              <h6><span class="blu"><strong>Head Count Report Date: </strong></span>{{fromDate}}</h6>
            </div>
          </div>

      <div id="content" class="col-md-10">
          <table class="table table-space table-borderless">
              <thead >
                <tr class="table-secondary">
                  <th *ngIf="marked">Sr.No</th>
                  <th *ngIf="marked1">Name Of Department</th>
                  <th *ngIf="marked2">Strength</th>
                  <th *ngIf="marked3">Present</th>
                  <th *ngIf="marked4">Absent</th>
                </tr>
              </thead>
              <tbody >  
                <!-- <td style="font-weight:600">{{report.headCountPresentAbsentResDtos.deptName}}</td>   -->
             
                <tr *ngFor = "let item of displayReposrt; let i = index">
                  <td *ngIf="marked">{{ i + 1 }}</td>
                  <td *ngIf="marked1">{{item.deptName}}</td>
                  <td *ngIf="marked2">{{item.total}}</td>
                  <td *ngIf="marked3">{{item.present}}</td>
                  <td *ngIf="marked4">{{item.total - item.present}}</td>
                
                </tr>    
              </tbody>
            </table>
      </div>

      <div class="col-md-2">
          <div class="columnshead">
            <h6>Select Columns:</h6>
            <label class="container">
              <input type="checkbox" [(ngModel)]="srnoCheckbox" data-md-icheck (change)="toggleVisibility($event)" />
              Sr.No
              <span class="checkmark"></span>
            </label>
  
            <label class="container">
              <input type="checkbox" [(ngModel)]="namedeptcheckbox" data-md-icheck (change)="toggleVisibility1($event)" />
              Department
              <span class="checkmark"></span>
            </label>
  
            <label class="container">
              <input type="checkbox" [(ngModel)]="strengthCheckbox" data-md-icheck (change)="toggleVisibility2($event)" />
              Strength
              <span class="checkmark"></span>
            </label>
  
            <label class="container">
              <input type="checkbox" [(ngModel)]="presentCheckbox" data-md-icheck
                (change)="toggleVisibility3($event)" />
                present
              <span class="checkmark"></span>
            </label>
  
            <label class="container">
              <input type="checkbox" [(ngModel)]="absentCheckbox" data-md-icheck (change)="toggleVisibility4($event)" />
              Absent
              <span class="checkmark"></span>
            </label>
  
            <button type="button" class="btn btn-warning float-right m-3" (click)="capturePDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
            <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
            <!-- <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i> &nbsp;Export Report Excel</button> -->
          </div>
        </div>


    </div>
  </div>
</div>