<div style="display: block" *ngIf="!chartFlag">
    <canvas baseChart style="width:70%;  height:70%"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [options]="pieChartOptions"
                [chartType]="pieChartType">
              </canvas>
  </div>

  <div style="display: block" *ngIf="chartFlag">
    <canvas baseChart style="width:70%;  height:70%"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [options]="pieChartOptions"
                [chartType]="pieChartType">
              </canvas>
  </div>