<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
        <div class="list-group">

          <a routerLink="/layout/doucumentmaster/doucumentmaster" [routerLinkActive]="'active'" data-toggle="tab" class="list-group-item active  text-center">
            <h4 class="fa fa-desktop"></h4>
            <br/>Documents Master
          </a>
  
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">
     
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</div>