



.faq-section .mb-0 > a {
    display: block;
    position: relative;
  }
  
  .faq-section .mb-0 > a:after {
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 0;
    font-weight: 600;
  }
  
  .faq-section .mb-0 > a[aria-expanded="true"]:after {
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
  }
  .bgColors{
    background-color: #0747a6;
    color: white;
  }
  a:hover{
    color: white;
  }
  .filelabel {
    width: 120px;

    border-radius: 5px;
    display: block;
    padding: 20px;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    margin: 0;
}
.filelabel i {
    display: block;
    font-size: 30px;
    /* padding-bottom: 5px; */
}
.filelabel i,
.filelabel .title {
  color: grey;
  transition: 200ms color;
}
/* .filelabel:hover {
  border: 2px solid #1665c4;
} */
/* .filelabel:hover i,
.filelabel:hover .title {
  color: #1665c4;
} */
#FileInput{
    display:none;
}
.filelabel{
background-color: #dbdbdb;
}
.custom-file-input {
  color: transparent;
  background-color:red;
  border-color:pink;
  cursor: pointer;
}
.centercontent{
  justify-content: center;
}