<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">

        <div class="col-md-12">     
            <div class="app-page-title">
              <div class="page-title-wrapper">
                <div class="page-title-heading">
                  <div class="page-title-icon"><i class="fa fa-exclamation-circle bg-happy-itmeo" aria-hidden="true"></i></div>
                  <div>Self-Certification Details <div class="page-title-subheading"> Here you can check self certification details</div>
                  </div>
                </div>
              </div>
            </div>         
    </div>

      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="float-left">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" (click)="goToLastMonth()" ><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-secondary">{{currentMonth}} {{currentYear}}</button>
                        <button type="button" class="btn btn-secondary" [disabled]='Hflag' (click)="goToNextMonth()"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                      </div>
                      <!-- <div class="jzdcalt">{{currentMonth}} {{currentYear}}</div>  -->
                </div>

               

                <div style="margin-left: 5px" class="float-left">
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-secondary">{{monthStartDate | date: 'dd-MMM-yyyy'}} to {{monthEndDate | date: 'dd-MMM-yyyy'}}</button>
                    </div>
                   
                </div>

                <div style="margin-left: 5px" class="float-left">
                 
                  <select class="form-control md-5" [(ngModel)]='emtype' name="ParentEmpID"
                  (change)="EmpValue($event)">
                  <option hidden [value]="">Employee Type</option>
                  <option value="{{subEmp.empTypeId}}" *ngFor="let subEmp of Employeedataall; let i = index;">
                    {{subEmp.empTypeName}}</option>
                </select>
                 
              </div>

                
              <div class="float-right">
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-secondary active" (click)="getSelfcertificationData()">Self-Certified</button>
                      <button type="button" class="btn btn-secondary" (click)="getSelfCertificationPendingData()">Pending</button>
                    </div>
              </div>
            </div>
            <div class="col-md-12">

          

            <div *ngIf='dataTableFlag'>
                <table id="CompTable" class="table table-striped table-bordered" style="width:100%">
                    <thead class="theadblue">
                    <tr>
                        <th style="width: 8%">Sr. No.</th>
                        <th>Name</th>
                        <th>Emp ID</th>
                        <th>Department</th>
                        <th>Contact</th>
                        <th>Email Id</th>
                        <th *ngIf="checkOpen" style="width: 14%">Check by HR<input type="checkbox" [disabled]="!selfCertificationStatus" data-md-icheck [(ngModel)]="checkAll" (ngModelChange)="checkAllData($event)"/></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let self of selfCertificationData; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{self.fullName}} {{self.lastName}}</td>
                      <td>{{self.empId}}</td>
                      <td>{{self.deptName}}</td>
                      <td>{{self.officialContactNumber}}</td>
                      <td>{{self.officialEmailId}}</td>
                      <td *ngIf="checkOpen"><input type="checkbox" [disabled]="!selfCertificationStatus" data-md-icheck [(ngModel)]="self.check"/></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
            
                    </tr>
                  </tfoot>
                </table>

                <div *ngIf="checkOpen" class="form-group float-right">
                  <div class="btn-group" role="group" aria-label="Type of file">
                    <button  type="button" class="btn btn-primary"
                      (click)="postSelfCrtifiedData()">Save Selfcertification</button>
                  </div>
                </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>