<div class="bhoechie-tab-content white-bg" id="compmaster">
    <div class="row justify-content-center align-items-center">
        <div class="mastersheading">
            <h3>
                SUB-DEPARTMENT <span class="boldmaster">MASTER</span>
            </h3>
        </div>
    </div>
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">

                <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>

                    <div class="form-group">
                        <label for="CompanyID">Company Name<span style="color: red">*</span></label>
                        <select class="form-control form-control-sm mb-4" name="CompanyID"
                            [(ngModel)]="selectedCompanyobj" name="selectedCompanyobj" #CompanyID='ngModel'
                            (change)="ngValuecompany($event)"
                             required>
                            <option hidden [value]="selectUndefinedOptionValue">Company Name</option>
                            <option value="{{addcompany.compId}}"
                                *ngFor="let addcompany of companydata; let i = index;">{{addcompany.compName}}</option>
                        </select>
                        <div class="help-block" style="margin-top:-23px"
                            *ngIf="CompanyID.errors?.required && CompanyID.touched"><small
                                style="color: red">Company
                                Name required</small></div>

                    </div>

                    <!-- WL <div class="form-group">
                        <label for="CompanyID">Select Business Group<span style="color: red">*</span></label>
                        <select class="form-control form-control-sm mb-4" [(ngModel)]="selectedbusinessobj"
                            name="selectedbusinessob" (change)="ngValuebusiness($event)" #selectedbusinessob='ngModel'
                            required>
                            <option hidden [value]="selectUndefinedOptionValue">Select Business Group</option>
                            <option value="{{addbusiness.busiGroupId}}"
                                *ngFor="let addbusiness of businessgroupdata; let i = index;">
                                {{addbusiness.busiGrupName}}
                            </option>
                        </select>
                        <div class="help-block" style="margin-top:-23px"
                            *ngIf="selectedbusinessob.errors?.required && selectedbusinessob.touched">
                            <small style="color: red">Business Group required</small></div>
                    </div> -->

                    <!--WL <div class="form-group">
                        <label for="Parentcompoany">Select Function-Unit <span style="color: red">*</span></label>
                        <select class="form-control form-control-sm mb-4" [(ngModel)]="selectfunctionobj"
                            name="selectfunctionob" #selectfunctionob='ngModel' (change)="ngValuefunctiongroup($event)"
                             required>
                            <option hidden [value]="selectUndefinedOptionValue">Select Function-Unit</option>
                            <option value="{{addfuction.functionUnitId}}"
                                *ngFor="let addfuction of functiondata; let i = index;">
                                {{addfuction.functionUnitName}}
                            </option>
                        </select>
                        <div class="help-block" style="margin-top:-23px"
                            *ngIf="selectfunctionob.errors?.required && selectfunctionob.touched">
                            <small style="color: red">Function-Unit required</small> </div>
                    </div> -->

                    <div class="form-group">

                        <label for="Parentcompoany">Select Department <span style="color: red">*</span></label>
                        <select class="form-control form-control-sm mb-4" [(ngModel)]="selectdepartmentobj"
                            name="selectdepartmentob" #selectdepartmentob='ngModel'
                            (change)="ngValuedepartmentgroup($event)"
                            required>
                            <option hidden [value]="selectUndefinedOptionValue">Select Department</option>
                            <option value="{{addsubdept.deptId}}"
                                *ngFor="let addsubdept of departmentselect; let i = index;">
                                {{addsubdept.deptName}}
                            </option>
                        </select>
                        <div class="help-block" style="margin-top:-23px"
                            *ngIf="selectdepartmentob.errors?.required && selectdepartmentob.touched ">
                            <small style="color: red">Department required</small></div>
                    </div>

                    <div class="form-group">
                        <label for="Parentcompoany">Sub-Department Name <span style="color: red">*</span></label>
                        <input type="text" class="form-control form-control-sm" name="subDeptNam" maxlength="100"
                            (keyup)='error()' [(ngModel)]="subdeptmodel.subDeptName" #subDeptName="ngModel"
                             required />
                        <div class="help-block"
                            *ngIf="subDeptName.errors?.required && subDeptName.touched"><small
                                style="color: red">Sub-Department Name is required</small></div>
                        <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exits </small></div>

                    </div>

                    <div class="form-group">
                        <label for="Parentcompoany">Sub-Department Description</label>
                        <input type="text" class="form-control form-control-sm" name="subDeptDesc" maxlength="250"
                            [(ngModel)]="subdeptmodel.subDeptDesc" #subDeptDesc="ngModel" />


                    </div>
                    <div class="form-group" *ngIf='StatusFlag'>
                        <label>Status</label><br>
                        <label (click)="uiswitch($event)">
                            <ui-switch [checked]='subdeptmodel.status'><span
                                    class="switch  switch-medium"><small></small></span></ui-switch>
                        </label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" [disabled]="(f.invalid ||errorflag)">Save</button>
                        &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
                    </div>
                </form>


            </div>

        </div>
        <hr>
        <div *ngIf='dataTableFlag'>
        <table id="subdepartmentTable" class="table table-striped table-bordered" style="width:100%">
            <thead class="theadblue">
                <tr>
                    <th style="width: 90%">
                        Sub-Department Name
                    </th>

                    <th style="width: 40%" class="hide-arw">
                        Status
                    </th>
                    <th style="width: 20%" class="hide-arw">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of subdepartmentlistdata">
                    <td>{{item.subDeptName}}</td>

                    <td [ngClass]="{colorRed : item.status == false, colorGreen: item.status == true}"
                        style="font-size:1rem; text-align:center">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </td>
                    <td><i class="fa fa-pencil" aria-hidden="true" (click)="edit(item)"></i> <i class="fa fa-trash"
                            (click)='dltObj(item)' data-toggle="modal" data-target="#AreYouSuredlt"
                            aria-hidden="true"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>

                </tr>
            </tfoot>
        </table>
        </div>
    </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal"
                    class="btn btn-success">Yes</button><br>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>