<div class="bhoechie-tab-content  white-bg" id="compmaster">
  <div class="row justify-content-center align-items-center">
    <div class="mastersheading">
      <h3>
        SHIFT <span class="boldmaster">MASTER</span>
      </h3>
    </div>
  </div>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">
        <!-- <h2>Business Master</h2> -->
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>


          <div class="form-group">
            <label for="shiftName">Shift Name  <span style="color: red">*</span></label>
            <input autocomplete="off" type="text" maxlength="100" class="form-control form-control-sm" name="shiftName"
              [(ngModel)]="shiftmastermodel.shiftName" #shiftName="ngModel"
               required />
            <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exist </small></div>
            <div class="help-block" *ngIf="shiftName.errors?.required && shiftName.touched"> <small
                style="color: red">Shift Name required</small></div>

          </div>

          <div class="form-group">
            <label for="ShortName">Short Name <span style="color: red">*</span></label>
            <input autocomplete="off" type="text" maxlength="100" class="form-control form-control-sm" name="ShortName"
              [(ngModel)]="shiftmastermodel.shortName" #ShortName="ngModel"
               required />
            <!-- <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exist </small></div> -->
            <div class="help-block" *ngIf="ShortName.errors?.required && ShortName.touched"> <small
                style="color: red">Short Name required</small></div>

          </div>


          <div class="form-group">
            <label for="ShiftDescription">Shift Description</label>
            <input autocomplete="off" type="text" class="form-control form-control-sm" maxlength="250" name="shiftDesc"
              [(ngModel)]="shiftmastermodel.shiftDesc" #shiftDesc="ngModel" />
          </div>

          <div class="form-group">
            <label for="ShiftCode">Shift Code <span style="color: red">*</span></label>
            <input autocomplete="off" type="text" class="form-control form-control-sm" maxlength="30" pattern="[A-Z a-z 0-9]{1,100}"
              name="shiftCode" [(ngModel)]="shiftmastermodel.shiftCode" #shiftCode="ngModel"
               required />
            <div class="help-block" *ngIf="shiftCode.errors?.required && shiftCode.touched"> <small
                style="color: red">Shift Code required</small></div>
            <div class="help-block" *ngIf="shiftCode.errors?.pattern && shiftCode.touched"> <small
                style="color: red">Special Character not allowed</small> </div>

          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label>Shift Start Time <span style="color: red">*</span></label>
                <input type="time" class="form-control form-control-sm" name="inTime"
                  [(ngModel)]="shiftmastermodel.inTime" #inTime="ngModel" (ngModelChange)="dailyHours()"
                  required />
                <div class="help-block" *ngIf="inTime.errors?.required && inTime.touched"> <small
                    style="color: red">Shift Start Time required</small></div>
              </div>
              <div class="col-md-6">
                <label>Shift End Time <span style="color: red">*</span></label>
                <input type="time" class="form-control form-control-sm" name="endTime"
                  [(ngModel)]="shiftmastermodel.endTime" #endTime="ngModel"  (ngModelChange)="dailyHours()"
                   required />
                <div class="help-block" *ngIf="endTime.errors?.required && endTime.touched"> <small
                    style="color: red">Shift end Time required</small></div>
              </div>
            </div>
          </div>

          <div class="form-group">

            <p>Shift Type <span style="color: red">*</span></p>
            <select id="selected1" name="shiftType" form="carform" class="form-control form-control-sm"
              [(ngModel)]="shiftmastermodel.shiftType" #shiftType='ngModel' required>
              <option value="0"  >--Select--</option>
              <option value="Custom">Custom</option>
              <option value="General">General</option>
            </select>
            <div class="help-block" *ngIf="shiftType.errors?.required && shiftType.touched"> <small
                style="color: red">Shift type required</small></div>

          </div>
          <div class="form-group">
            <label for="LocationID">Location<span style="color: red">*</span></label>
            <select class="form-control form-control-sm mb-4" name="LocationID" [(ngModel)]="shiftmastermodel.locationId "
              #LocationID='ngModel'  (change)="ngValue1($event)"
              required>
              <option hidden value="">Select Location</option>
              <option value="{{addLocation.locationId}}" *ngFor="let addLocation of locationwisedata; let i = index;">
                {{addLocation.locationName}}</option>
            </select>
            <div class="help-block" style="margin-top: -23px"
              *ngIf="LocationID.errors?.required && LocationID.touched"><small style="color: red">Location
                Name required</small></div>
          </div>




          <div class="form-group" *ngIf='shiftType.value =="Custom"'>
            <p>Shift Group <span style="color: red">*</span></p>
            <ng-multiselect-dropdown [placeholder]="'Shift Group Name'" [data]="shiftGroupMasterdata"
              [(ngModel)]="shiftmastermodel.selectedShiftGroup" [ngModelOptions]="{standalone: true}"
              #selectedShiftGroup='ngModel' name='selectedShift' 
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
              (onDeSelect)="OnItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>

          <div class="form-group">
            <label>Shift Color<span style="color: red">*</span></label>
            <br>
            <input type="color" name="shiftColor" value="blue" #shiftColor='ngModel'
              [(ngModel)]="shiftmastermodel.shiftColor" required>
            <div class="help-block" *ngIf="shiftColor.errors?.required && shiftColor.touched"> <small
                style="color: red">Shift type required</small></div>

          </div>

          <div class="form-group">
            <label> Allow Sign In Before Shift Start Time<span style="color: red">*</span></label>
            <input type="time" class="form-control form-control-sm" name="signInBeforeTime"
              [(ngModel)]="shiftmastermodel.signInBeforeTime" #signInBeforeTime="ngModel" required />
            <div class="help-block"
              *ngIf="signInBeforeTime.errors?.required && signInBeforeTime.touched"> <small
                style="color: red">Allow Sign In Before Shift Start Time required</small></div>
          </div>

          <div class="form-group">
            <label>Daily Working Hours (In Minutes)<span style="color: red">*</span></label>
            <input autocomplete="off" type="text" class="form-control form-control-sm" disabled name="dailyWorkingHrs"
              [(ngModel)]="shiftmastermodel.dailyWorkingHrs" #dailyWorkingHrs="ngModel" />
          </div>


          <div class="form-group">
            <label>Minutes To Work For Full Day<span style="color: red">*</span></label>
            <input autocomplete="off" type="text" maxlength="4" pattern="^[1-9][0-9]*" class="form-control" name="minutesToWorkForFullDay"
              [(ngModel)]="shiftmastermodel.minutesToWorkForFullDay" #minutesToWorkForFullDay="ngModel"
               required />
            <div class="help-block"
              *ngIf="minutesToWorkForFullDay.errors?.required && minutesToWorkForFullDay.touched">
              <small style="color: red">Minutes To Work For Full Day required</small></div>
            <div class="help-block"
              *ngIf="minutesToWorkForFullDay.errors?.pattern && minutesToWorkForFullDay.touched">
              <small style="color: red">Character and Special Character Not allowed</small></div>

          </div>

          <div class="form-group">
            <label>Minutes To Work For Half Day <span style="color: red">*</span></label>
            <input autocomplete="off" type="text" maxlength="3" pattern="^[1-9][0-9]*" class="form-control form-control-sm" name="minutesToWorkForHalfDay"
              [(ngModel)]="shiftmastermodel.minutesToWorkForHalfDay" #minutesToWorkForHalfDay="ngModel" required />
            <div class="help-block"
              *ngIf="minutesToWorkForHalfDay.errors?.required && minutesToWorkForHalfDay.touched">
              <small style="color: red">Minutes to Work For Half Day required</small></div>
              <div class="help-block"
              *ngIf="minutesToWorkForHalfDay.errors?.pattern && minutesToWorkForHalfDay.touched">
              <small style="color: red">Character and Special Character Not allowed</small></div>

          </div>

          <div class="form-group">
            <label>Is This Flexible Shift? <span style="color: red">*</span></label>
            <select name="carlist" form="carform" class="form-control form-control-sm"
            (ngModelChange)="timeSet($event)"  [ngModel]="shiftmastermodel.flexibleShift" #flexibleShift='ngModel' required>

              <option value="No">No</option>
              <option value="Yes">Yes</option>
            </select>
            <div class="help-block" *ngIf="flexibleShift.errors?.required && flexibleShift.touched ">
              <small style="color: red">Is This Flexible Shift? Required</small></div>
          </div>

          <!-- add div extra -->

          <diV id="divtime" *ngIf='shiftmastermodel.flexibleShift == "Yes"'>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label>Flexible In Start Time <span style="color: red">*</span></label>
                  <input type="time" class="form-control form-control-sm" name="flexibleInStartTime"
                    [(ngModel)]="shiftmastermodel.flexibleInStartTime" #flexibleInStartTime="ngModel" required />
                  <div class="help-block"
                    *ngIf="flexibleInStartTime.errors?.required && flexibleInStartTime.touched"> <small
                      style="color: red">Flexible In Start Time required</small></div>
                </div>
                <div class="col-md-6">
                  <label>Flexible In End Time<span style="color: red">*</span></label>
                  <input type="time" class="form-control form-control-sm" name="flexibleInEndTime"
                    [(ngModel)]="shiftmastermodel.flexibleInEndTime" #flexibleInEndTime="ngModel" required />
                  <div class="help-block"
                    *ngIf="flexibleInEndTime.errors?.required && flexibleInEndTime.touched"> <small
                      style="color: red">Flexible In End Time required</small></div>

                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label>Core Start Time<span style="color: red">*</span></label>
                  <input type="time" class="form-control form-control-sm" name="coreTimeStartTime"
                    [(ngModel)]="shiftmastermodel.coreTimeStartTime" #coreTimeStartTime="ngModel" required />
                  <div class="help-block"
                    *ngIf="coreTimeStartTime.errors?.required && coreTimeStartTime.touched"> <small
                      style="color: red">Core Start Time required</small></div>

                </div>
                <div class="col-md-6">
                  <label>Core End Time <span style="color: red">*</span></label>
                  <input type="time" class="form-control form-control-sm" name="coreTimeEndTime"
                    [(ngModel)]="shiftmastermodel.coreTimeEndTime" #coreTimeEndTime="ngModel" required />
                  <div class="help-block"
                    *ngIf="coreTimeEndTime.errors?.required && coreTimeEndTime.touched"> <small
                      style="color: red">Core End Time required</small></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label>Flexible Out Start Time<span style="color: red">*</span></label>
                  <input type="number" class="form-control form-control-sm" name="flexibleOutStartTime"
                    [(ngModel)]="shiftmastermodel.flexibleOutStartTime" #flexibleOutStartTime="ngModel" required />
                  <div class="help-block"
                    *ngIf="flexibleOutStartTime.errors?.required && flexibleOutStartTime.touched">
                    <small style="color: red">Flexible Out Start Time required</small></div>

                </div>
                <div class="col-md-6">
                  <label>Flexible Out End Time<span style="color: red">*</span></label>
                  <input type="number" class="form-control form-control-sm" name="flexibleOutEndTime"
                    [(ngModel)]="shiftmastermodel.flexibleOutEndTime" #flexibleOutEndTime="ngModel" required />
                  <div class="help-block"
                    *ngIf="flexibleOutEndTime.errors?.required && flexibleOutEndTime.touched"> <small
                      style="color: red">Flexible Out End Time required</small></div>
                </div>
              </div>
            </div>
          </diV>

          <!-- end div extra -->

          <div class="form-group">
            <label>Total Weekly Hours Need To Work</label>
            <input autocomplete="off" maxlength="4" type="text" class="form-control form-control-sm" name="weeklyHrsNeedToWork"
              [(ngModel)]="shiftmastermodel.weeklyHrsNeedToWork" #weeklyHrsNeedToWork="ngModel"  />
           
                <!-- <div class="help-block"
                *ngIf="weeklyHrsNeedToWork.errors?.pattern && weeklyHrsNeedToWork.touched"> pattern="^[1-9][0-9]*"
                <small style="color: red">Character and Special Character Not allowed</small></div> -->
          </div>

          <div class="form-group">
            <label>Shift Allowance</label>
            <input autocomplete="off" maxlength="5" type="text" class="form-control form-control-sm"
              name="shiftAllowance" [(ngModel)]="shiftmastermodel.shiftAllowance" #shiftAllowance="ngModel" />
       
              <!-- <div class="help-block"
              *ngIf="shiftAllowance.errors?.pattern && shiftAllowance.touched">
              <small style="color: red">Character and Special Character Not allowed</small></div> -->
          </div>

          <!-- <ng-multiselect-dropdown
                  [placeholder]="'custom placeholder'"
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown> -->

          <!-- <div class="form-group">
            <label>Status</label>
            <br>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div> -->

          <div class="form-group" *ngIf='StatusFlag'>
            <label>Status</label><br>
            <label (click)="uiswitch($event)">
                <!-- <input type="checkbox" checked> -->
                <!-- <input type="radio" value='' checked='false'> -->
                <ui-switch [checked]='shiftmastermodel.status'><span
                        class="switch  switch-medium"><small></small></span></ui-switch>
                <!-- <span class="slider round"></span> -->
            </label>
        </div>


          <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]='f.invalid'>Save</button>
            &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
          </div>
        </form>


      </div>

    </div>
    <hr>
    
    <table id="shif" class="table table-striped table-bordered table-responsive" style="width:100%">
      <thead class="theadblue">
        <tr>
          <th style="width: 90%" class="hide-arw">
            Name
          </th>
          <th style="min-width: 140px;" class="hide-arw">Shift Start Time</th>
          <th style="min-width: 140px;" class="hide-arw">Shift End Time</th>
          <th style="width: 40%" class="hide-arw">
            Status
          </th>
          <th style="width: 20%" class="hide-arw">
            Action
          </th>
        </tr>
      </thead> 
      <tbody>
        <tr *ngFor="let item of Shiftdata">
          <td>{{item.shiftName}}</td>
          <td>{{item.inTime}}</td>
          <td>{{item.endTime}}</td>
          <td [ngClass]="{colorRed : item.status == false, colorGreen: item.status == true}"
            style="font-size:1rem; text-align:center">
            <i class="fa fa-circle" aria-hidden="true"></i>
          </td>
          <td>
            <i class="fa fa-pencil" (click)='edit(item)' aria-hidden="true"></i>
            <i class="fa fa-trash" (click)='dltObj(item)' data-toggle="modal" data-target="#AreYouSuredlt"
              aria-hidden="true" aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>

        </tr>
      </tfoot>
    </table>
    
  </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>