

.selectedempbox2{
    /* max-height: 300px; */
    /* overflow-x: hidden !important; */
    /* overflow: hidden; */
    border-radius: 0.365rem;
}

.act-emp {
    color: #616161 !important;
    padding-left: .9375rem;
}
  
.last-month, .next-month {
  color: #999999;
  font-size: 90%;
}
.currentDate {
  font-weight:400;
  /* color:yellow; */
  color: #00abd2;
}
.calendar-header {
  /* background-color: #1a732d; */
  /* background: linear-gradient(#172c42, #037599)!important; */
  /* color: #FFFFFF; */
  color: rgb(34, 34, 34);
}
.event-bullet {
  margin: 2px auto;
  height: 5px;
  width: 5px;
  background-color: green;
  border-radius: 30px;
}
.selected-date {
  width: 20px;
  height: 2px;
  background-color: blue;
}
.unselected-date {
  border: none;
}

  .selectedempbox2:hover{  
  /* overflow-x: hidden !important;
  overflow: auto; */
  max-height: 300px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      
    background: rgb(196, 196, 196); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    position: absolute;
    background: #949494; 
  }

  .clear{
      cursor: pointer;
      color:rgb(0, 89, 255) !important;
      text-decoration: underline !important;
  }
.headtext{
    padding:1rem;
    border-radius: 0.365rem;
}
.table[_ngcontent-c6] td[_ngcontent-c6], .table[_ngcontent-c6] th[_ngcontent-c6] {
    padding-bottom: 0.5 !important;
    padding-top: 0.5 !important;
    /* padding: .75rem; */
    vertical-align: top;
    border-top: none !important;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
}
.fa-minus-circle{
    color:grey;
}
.fa-minus-circle:hover{
    color:rgb(153, 10, 10);
}

.main-search{
    width: 100%;
    margin:auto;
  }
  .fa-search{
    padding: 0 !important;
    color: #ffffff !important;
}
.input-group-text {
    background-color: #9ce5fd !important;
    border: 1px solid #a8adb4;
}
  .has-search .form-control {
    margin: auto;
  
    padding-left: 2.375rem;
  }
  .act-emp{
    color:#3289ed;
    padding-left:.9375rem;
  }
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  
  ::placeholder {
    font-weight:300;
    color: #aad5ff;
    opacity: 1; /* Firefox */
  }

  .search-box{
    padding: 0.175rem 0.375rem 0.175rem 2.375rem !important;
    border-radius: 0 !important;
  }
.p-3{
  padding: 0rem !important;
}
.disbtn :hover{
  color: #616161;
}


.present{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(180, 255, 170);
  }
  
  .other{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  
  }
  .lateearlympunch{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(255, 140, 230);
  }
  .leavecoffod{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  color:white;
  background: rgb(67, 111, 253);
  }
  
  .holiday{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  /* color:white; */
  background: #87ceeb !important;
  }
  .od{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: skyblue;
  }
  .holidayweekoff{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(255, 229, 82);
  }
  .absent{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  color:white;
  background: rgb(255, 79, 79);
  }
  
  .onDuty{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: #fd8200;
  }
  
  .holiday{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: skyblue;
  }
  
  .prsent{
  color: rgb(180, 255, 170);
  }
  .absnt{
  color: rgb(255, 79, 79);
  }
  .erly{
  color: rgb(255, 140, 230);
  }
  .wwekoddholiday{
  color: rgb(255, 229, 82);
  }
  .lve{
  color: rgb(255, 140, 230);
  }
  .hlf{
  color: rgb(255, 140, 230);
  }
  .misspnch{
  color: rgb(255, 140, 230);
  }
  .leaveodcoff{
  color: rgb(67, 111, 253);
  }
  .odd{
  color: skyblue;
  }
  .ods{
  color: #fd8200;
  }
  .holidays{
  color: skyblue;
  }
  
  .opencalendar{
    margin-top: 2rem;
    float: right;
    width: 38px;
    border-radius: 5px !important;
    height: 38px;
  }

  .calendar-body .grid1{
    padding: 0;
  }
  .calendar-body .col:last-child {
    border-right: none;
  }
  .calendar-body .calendar-weekday, .calendar-date {
    text-align: center;
    margin: 0;
  }
  .calendar-body .calendar-weekday {
    border-bottom: solid 1px #1a732d;
    /* background-color: #26ab56; */
    /* background: linear-gradient(#172c42, #037599)!important; */
  }
  .calendar-body .calendar-date {
    border-top: solid 1px #1a732d;
    border-bottom: solid 1px #1a732d;
  }
  .col.date{
    text-align: -webkit-center;
    /* line-height: 30px; */
    font-weight: 600;
    height: 45px;
    font-size:11px 'Roboto';
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
    /* color: #f7f3eb; */
  
    color: rgb(34, 34, 34);
  }
  .col.week{
    /* color: #f7f3eb; */
    color: rgb(34, 34, 34);
  }
  .col {
        text-align: center;
        padding: 5px;
      }


      .prevnext{
        cursor: pointer;
        padding: 1rem !important;
        font-size: 22px;
        /* color: white; */
        color: rgb(34, 34, 34);
        background: none;
        border: none;
      }
      .prevnext:hover{
      color: rgb(65, 99, 173);
      }
      
      .prevnext:hover{
      color: rgb(65, 99, 173);
      }
      
      
  
      .prvdate, .nxtdate{
        color: rgba(148, 148, 148, 0.315) !important;
      }
  
  .abribg{
    width:100%;
    height:100%;
    background: linear-gradient(135deg, #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius:0 .3rem .3rem 0;
  }
  .list-group-item{
    background: none;
    color:white
  }
  .calbg img{
    position: absolute;
    bottom: 0;
  }
  .p-0{
    padding:0 !important;
  }
  