<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
        <div class="col-md-12">
            <div class="app-page-title">
              <div class="page-title-wrapper">
                <div class="page-title-heading">
                  <div class="page-title-icon"><i class="fa fa-user-times bg-happy-itmeo" aria-hidden="true"></i></div>
                  <div>Leave Block <div class="page-title-subheading"> Here you can Restrict Employees From Taking Leaves By Blocking Dates </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

      

          <ul  [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Block Leave</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-profile" aria-selected="false">Blocked List</a>
            </li>

          </ul>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <button *ngIf="hideCalender" type="button" class="btn opencalendar btn-primary" data-toggle="modal"
                    data-target="#myModal">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
              <div class="row justify-content-center">
                <div class="col-md-4">
                  
				  <form name="form" #f="ngForm">

                    <div class="form-group">
                      <label>Select Employees<span style="color: red">*</span>
                      </label>
                      <ng-multiselect-dropdown [placeholder]="'Select Employees'" [data]="Employeedata" required
                        [(ngModel)]="model.employeePerInfoList" [ngModelOptions]="{standalone: true}"
                        #selectedLocation='ngModel' name='selectedLoco'
                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onDeSelectAll)="onDeSelectAll($event)">
                      </ng-multiselect-dropdown>


                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label>Reason<span style="color: red">*</span></label>
                        <input type="text" class="form-control form-control-sm" name="reason" [(ngModel)]="model.reason"
                          #reason="ngModel" required>
                      </div>

                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>From Date<span style="color: red">*</span></label>
                        <input type="date" class="form-control form-control-sm" name="frmdte"
                          (ngModelChange)="fromDateChange($event)" [ngModel]="model.fromDate | date:'yyyy-MM-dd'"
                          #frmdte="ngModel" [min]="todaysDate" required/>
                        <!-- [ngClass]="{ 'is-invalid': f.submitted}" -->
                      </div>
                      <div class="form-group col-md-6">
                        <label>To Date<span style="color: red">*</span></label>
                        <input type="date" class="form-control form-control-sm" name="todte"
                          (ngModelChange)="toDateChange($event)" [ngModel]="model.toDate | date:'yyyy-MM-dd'"
                          #todte="ngModel" required [min]="model.fromDate" />
                        <!-- [ngClass]="{ 'is-invalid': f.submitted}"  -->
                      </div>
                    </div>
                    <div class="form-group">
                      <button *ngIf="model.employeePerInfoList.length" (click)="onSubmit()" [disabled]="f.invalid"
                        class="btn btn-danger btn-sm">
                        Block
                      </button>
                    </div>
                    <div class="form-group">
                      <button *ngIf="!model.employeePerInfoList.length" disabled class="btn btn-danger btn-sm">
                        Block
                      </button>
                    </div>
                  </form>
				  
                </div>
              </div>


            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          
              <div class="row justify-content-center">
                <div class="col-md-8">

                  
                  <div class="p-3">
                                      <table class="table table-borderless">
                                        <thead class="theadblue">
                                          <td>Name</td>
                                          <td style="text-align: right">Date</td>
                                          <td class="text-right">Unblock</td>
                                        </thead>
                                      </table>
                                    </div>

                                    <div class="selectedempbox2 p-3">
                                      <table class="table table-borderless">

                                        <tbody pt-3>
                                          <tr *ngFor="let item of setlistdata; let i = index">
                                            <td>{{item.fullName}} {{item.lastName}}</td>
                                            <td>
                                              <ng-multiselect-dropdown [placeholder]="'Select date'"
                                                [data]="item.blockMasterResDtoList" required [(ngModel)]="item.data"
                                                [ngModelOptions]="{standalone: true}" #selectedLocation='ngModel'
                                                name="selectedLocation" (ngChange)="changeSelec($event)"
                                                [settings]="dropdownSet" (onSelect)="onItemSelec($event)"
                                                (onSelectAll)="onSelectAl($event)" (onDeSelect)="OnItemDeSelec($event)"
                                                (onDeSelectAll)="onDeSelectAl($event)">
                                              </ng-multiselect-dropdown>
                                            </td>

                                            <td align="right">
                                              <i  *ngIf="item.data" class="fa fa-minus-circle btn" title="Unblock" aria-hidden="true"
                                                (click)="unblock(item)">
                                              </i>

                                              <i *ngIf="!item.data" (click)="unblockNone()" class="fa fa-minus-circle disbtn btn" title="Unblock" aria-hidden="true"
                                               >
                                              </i>

                                            </td>
                                          </tr>

                                        </tbody>
                                      </table>
                                    </div>
                </div>
              </div>
            </div>


          </div>


          
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">

      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-area">
          <div class="row">
            <div class="col-md-8">

              <div class="p-2">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="jzdbox1 jzdbasf jzdcal">
                  <div class="calendarm">
                    <div class="calendar-header">
                      <div class="row">
                        <div class="col" (click)="goToLastMonth()">
                          <button class="prevnext">
                            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="col">
                          <div class="jzdcalt">{{currentMonth}} {{currentYear}}</div>
                        </div>
                        <div class="col" (click)="goToNextMonth()">
                          <button class="prevnext">
                            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="calendar-body">
                      <div class="grid1">
                        <div class="row">
                          <div class="col week">Su</div>
                          <div class="col week">Mo</div>
                          <div class="col week">Tu</div>
                          <div class="col week">We</div>
                          <div class="col week">Th</div>
                          <div class="col week">Fr</div>
                          <div class="col week">Sa</div>
                        </div>
                        <div class="row">
                          <div class="col date prvdate" *ngFor="let lastDay of daysInLastMonth">o</div>
                          <div class="col date" *ngFor="let days of daysInThisMonth" [ngSwitch]="days.status">

                            <div *ngSwitchCase="'P'" class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'">{{days.day}}</div>
                            <div class="absent" *ngSwitchCase="'A'" data-title="'{{days.checkIn }}''{{days.checkOut}}'">{{days.day}}</div>
                            <div *ngSwitchCase="'WO'" class="holidayweekoff">{{days.day}}</div>
                            <div *ngSwitchCase="'LT'" class="lateearlympunch" data-title="'{{days.checkIn}}''{{days.checkOut}}'">{{days.day}}</div>
                            <div *ngSwitchCase="'Ot'" class="other" (click)="selectDate(days.day)">{{days.day}}</div>
                            <div *ngSwitchCase="'LCOD'" class="leavecoffod">{{days.day}}</div>

                            <div *ngSwitchCase="'L'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                            </div>
                            <div *ngSwitchCase="'CO'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                            </div>
                            <div *ngSwitchCase="'OD'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                            </div>
                            <div class="holiday" title="'{{days.checkIn}}'" *ngSwitchCase="'HO'">
                              {{days.day}}
                            </div>
                            <!-- <div *ngSwitchCase="'Ot'" class="" (click)="selectDate(days.day)">{{days.day}}</div> -->
                          </div>
                          <div class="col date nxtdate" *ngFor="let nextDay of daysInNextMonth">o</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">

              <div class="abribg">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Present:
                    <span class="stbg"><i class="fa prsent fa-circle" aria-hidden="true"></i></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Absent:
                    <span class="stbg"><i class="fa absnt fa-circle" aria-hidden="true"></i></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Weekly off/Holiday:
                    <span class="stbg"><i class="fa wwekoddholiday fa-circle" aria-hidden="true"></i></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Leave/Coff/OD:
                    <span class="stbg"><i class="fa leaveodcoff fa-circle" aria-hidden="true"></i></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Late/Early/Half Day/Short Hours/Miss Punch:
                    <span class="stbg"><i class="fa erly fa-circle" aria-hidden="true"></i></span>
                  </li>
                </ul>
                <div class="calbg">
                  <img src="/src/assets/calbg.png">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>