<div class="container-fluid">
    <div class="mainwrap">
      <div class="row">
          <div class="col-md-12">
     
              <div class="app-page-title">
                <div class="page-title-wrapper">
                  <div class="page-title-heading">
                    <div class="page-title-icon"><i class="fa fa-key bg-happy-itmeo" aria-hidden="true"></i></div>
                    <div> Reset Password of Employee <div class="page-title-subheading"> Here you can reset passowrd of employees who's working under you</div>
                    </div>
                  </div>
            
                </div>
              </div>
      
          </div>
        <div class="col-lg-12 col-md-12">
          <div class="white-bg min-height-500">
  
            <div class="row justify-content-center">
              <div class="col-md-4">
  
                <form name="form" (ngSubmit)='f.form.valid && resetPass(f)' #f='ngForm' style="margin-top:10%;" >
  
  
                    <div class="form-group">
                        <label for="searchemp">Search Employee</label>
                        <input autocomplete="off" class="form-control form-control-sm" (keydown)="keyDown($event)" placeholder="Search Employee"
                         [(ngModel)]="searchQuery" #name="ngModel" name="name" (input)="filterItem(searchQuery)" type="text" required>
                      </div>
                      <div class="chatsuggestion" *ngIf="empFlag">
                        <div *ngFor="let item of Employeedata| searchPipeReset: searchQuery" (click)="suggestThis(item)"  class="suggestiontext">
                          <div>
                            {{item.fullName}}
                          </div>
                     </div>
                      </div>
                  <div class="float-right">
                    <div class="form-group">
                      <button class="btn btn-info btn-sm" [disabled]='f.invalid'   type="submit">Reset Password</button>
                    </div>
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>