<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
        <div class="col-md-12">
   
            <div class="app-page-title">
              <div class="page-title-wrapper">
                <div class="page-title-heading">
                  <div class="page-title-icon"><i class="fa fa-upload bg-happy-itmeo" aria-hidden="true"></i></div>
                  <div> Bulk Upload <div class="page-title-subheading"> For uploading bulk data easily in few clicks </div>
                  </div>
                </div>
          
              </div>
            </div>
    
        </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row">
            <div class="col-md-3">
              <div class="tab-bg">
                <div class="tab-content" style="overflow-y: scroll;height: 450px;">

                  <div class="tab-pane active" id="persnl">
                    <div class="list-group">
                      <button type="button" class="list-group-item list-group-item-action" (click)="leaveBalListFun()">
                        Employee Leave Balance
                      </button>
                      <button hidden type="button" class="list-group-item list-group-item-action" (click)="holidayListFun()">Holiday</button>
                      <!-- <button type="button" class="list-group-item list-group-item-action" (click)="leaveBalDeductionListFun()">Leave Deduction</button> -->
                      <!-- <button type="button" class="list-group-item list-group-item-action" (click)="EmpBulkDocuments()">Bulk Documents</button>  -->
                      <button type="button" class="list-group-item list-group-item-action" (click)="EmpBulkLateEarly()">Bulk Late & Early</button>  
                      <button type="button" class="list-group-item list-group-item-action dropdown-toggle" data-toggle="dropdown" (click)="OrganisationMasterListFun()">Organisation master
                      </button>   
                      <div class="dropdown-menu">
                      <!-- <div class="dropdown-two"></div> -->
                      <!-- <div><a class="dropdown-item" (click)="masterTypeClicked('companymaster')"> Company Master</a> </div> -->
                        <!-- <a class="dropdown-item" (click)="masterTypeClicked('bussinessmaster')"> Bussiness Group Master</a> -->
                        <!-- <a class="dropdown-item" (click)="masterTypeClicked('functionmaster')"> Function Unit Master</a> -->
                        <a class="dropdown-item" (click)="masterTypeClicked('departmentmaster')"> Department Master</a>
                        <a class="dropdown-item" (click)="masterTypeClicked('subdepartmentmaster')" hidden> Sub Department Master</a>
                        <a class="dropdown-item" (click)="masterTypeClicked('employeecategerymaster')"> Employee Category Master</a>
                        <a class="dropdown-item" (click)="masterTypeClicked('subemployeecategerymaster')"> Sub Employee Category Master</a>
                        <!-- <a class="dropdown-item" (click)="masterTypeClicked('paygroupmaster')">Pay Group Master</a> -->
                        <!-- <a class="dropdown-item" (click)="masterTypeClicked('grademaster')"> Grade Master</a> -->
                        <a class="dropdown-item" (click)="masterTypeClicked('designationmaster')">Desiganation Master</a>
                        <!-- <a class="dropdown-item" (click)="masterTypeClicked('costcentermaster')">Cost Center Master</a> -->
                        <a class="dropdown-item" (click)="masterTypeClicked('locationmaster')">Location Master</a>
                      </div>                
                      <!-- <input type="file" class="list-group-item list-group-item-action" title="{{fileTitle}}" id="folder-opener" webkitRelativePath="assets/" webkitdirectory multiple="true" (change)="fileSelected($event.target.files)"/> -->
                      <!-- <button type="button" class="list-group-item list-group-item-action">Bank Account</button> -->
                      <!-- <select id="master" name="Organisation master">
                        <option value="company master">Company master</option>
                        <option value="bussiness master">Bussiness Group Master</option>
                        <option value="function unit master">Functoin Unit Master</option>
                        <option value="department master">Department Master</option>
                      </select> -->
                    </div>

                    <!-- Organization master form started -->

                    <div class="tab-pane container active" id="persnl">
                      <form [formGroup]="form" novalidate>
                        <label [ngStyle]="{'pointer-events': orders[i].field =='required' ? 'none' : 'all' }" style="pointer-events: none;" class="customcheck" formArrayName="orders"
                          *ngFor="let order of form['controls'].orders['controls']; let i = index">
                          <div *ngIf="orders[i].title!=null"><br></div>
                          <b class="options-heading" style="font-size: 18px">{{orders[i].title}}</b>
                          <div *ngIf="orders[i].title!=null"><br></div>
                          <div *ngIf="orders[i].id!=null">
                            <input type="checkbox" [formControlName]="i" (change)="onChnageFun()" [checked]="orders[i].field =='required'">
                            <span class="checkmark" aria-checked="checked"></span>
                            {{orders[i].name}} <span *ngIf="orders[i].field =='required'" style="color: red;">*</span>
                          </div>
                             </label>
                      </form>
                    </div>

                    <!-- Organization master form ended -->
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-9" *ngIf="uploadType !='bulkdocuments' && uploadType !='bulklateearly' && uploadType !='organisationmaster'">
              <div class="sidecontent">
                <div class="table-responsive">
                  <table id="emplisttable" class="table table-bordered">
                    <thead class="thead-dark2">
                      <tr>
                        <!-- <th *ngFor="let item of commonList"><p >{{item.fileName}}</p></th> -->
                        <th *ngFor="let item of commonList" >{{item.title}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td *ngFor="let item of commonList">...</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <div class="m-2">
                <div class="row">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-outline-info btn-sm mr-2" (click)="submit()">Download Template <i
                        class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></button>

                  </div>
                </div>
              </div>
                <div>

                </div>

              </div>

              <div class="wrapper mt-4">
                <div class="drop">
                  <div class="cont">
                    <i class="fa fa-cloud-upload"></i>
                    <div class="tit">
                      Drag & Drop
                    </div>
                    <div class="desc">
                      Excel file to upload, or
                    </div>
                    <div class="browse">
                      Click here to browse
                    </div>
                  </div>
                  <output id="list"></output>
                  <input multiple="true" type="file" id="File1" (change)="onFileChanged($event)"/>
                </div>
                <br>
            <p *ngIf='showfile'>{{fileNamee}}</p>
              </div>
              <div class="sidecontent">
                  <div class="float-right"><button type="button" [disabled]='!buttFlag' class="btn btn-outline-info btn-sm mr-2" (click)="handleFile()">Upload
                      <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></button>
                    </div>
              </div>
    
              
            </div>

           
            <!-- New Employee Bulk Documents Upload Starts -->

            <div class="col-md-9" *ngIf="uploadType =='bulkdocuments'">
              <div class="sidecontent">
                <div class="table-responsive">
                </div>
                <div class="m-2">
                <div class="row">
                  <div class="col-md-6">
                    <!-- <button type="button" class="btn btn-outline-info btn-sm mr-2" (click)="submit()">Download Template <i
                        class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></button> -->

                  </div>
                </div>
              </div>
                <div>

                </div>

              </div>

              <div class="wrapper mt-4">
                <div class="drop">
                  <div class="cont">
                    <i class="fa fa-cloud-upload"></i>
                    <div class="tit">
                      Drag & Drop
                    </div>
                    <div class="desc">
                      Documents Folder to upload, or
                    </div>
                    <div class="browse">
                      Click here to browse
                    </div>
                  </div>
                  <output id="list"></output>
                  <!-- <input multiple="true" type="file" id="File1" (change)="onFileChanged($event)"/> -->
                  <input type="file" class="list-group-item list-group-item-action" title="{{fileTitle}}" id="folder-opener" webkitRelativePath="assets/" webkitdirectory multiple="true" (change)="docsUpload($event.target.files)"/>
                </div>
                <br>
            <p *ngIf='docolderName'>{{docolderName}}</p>
              </div>
              <div class="sidecontent">
                  <div class="float-right"><button type="button" [disabled]='!bulkDocFlag' class="btn btn-outline-info btn-sm mr-2" (click)="fileSelected()">Upload
                      <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></button>
                    </div>
              </div>
    
              
            </div>

            <!-- New Employee Bulk Documents Upload Ends -->


            <!-- Bulk Late Early Upload Starts -->

            <div class="col-md-9" *ngIf="uploadType =='bulklateearly'">
              <div class="sidecontent">
                <div class="row">
                <div class="col-md-6">
                  <h6 style="text-align:center;">Late Employee</h6>
                <div class="table-responsive">
                  <table id="emplisttable" class="table table-bordered">
                    <thead class="thead-dark2">
                      <tr>
                        <!-- <th *ngFor="let item of commonList"><p >{{item.fileName}}</p></th> -->
                        <th *ngFor="let item of commonList" >{{item.title}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td *ngFor="let item of commonList">...</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                </div>
                <div class="col-md-6">
                  <h6 style="text-align:center;">Early Employee </h6>
                  <div class="table-responsive">
                    <table id="emplisttable" class="table table-bordered">
                      <thead class="thead-dark2">
                        <tr>
                          <!-- <th *ngFor="let item of commonList"><p >{{item.fileName}}</p></th> -->
                          <th *ngFor="let item of commonList_EG" >{{item.title}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td *ngFor="let item of commonList_EG">...</td>
                        </tr>
  
                      </tbody>
                    </table>
                  </div>
                  </div>
                </div>
                <div class="m-2">
                <div class="row">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-outline-info btn-sm mr-2" (click)="submit_LT()">Download Template <i
                        class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></button>

                  </div>
                  <div class="col-md-6">
                    <button type="button" class="btn btn-outline-info btn-sm mr-2" (click)="submit_EG()">Download Template <i
                        class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></button>

                  </div>
                </div>
              </div>
                <div>

                </div>

              </div>

              <div class="wrapper mt-4">
                
                <div class="drop">
                  <div class="cont">
                    <i class="fa fa-cloud-upload"></i>
                    <div class="tit">
                      Drag & Drop
                    </div>
                    <div class="desc">
                      Documents Folder to upload, or
                    </div>
                    <div class="browse">
                      Click here to browse
                    </div>
                  </div>
                  <output id="list"></output>
                  <input multiple="true" type="file" id="File3" (change)="onLAteEarlyFileChanged($event)"/>
                  <!-- <input type="file" class="list-group-item list-group-item-action" title="{{fileTitle}}" id="folder-opener" webkitRelativePath="assets/" webkitdirectory multiple="true" (change)="docsUpload($event.target.files)"/> -->
                </div>
                <br>
            <p *ngIf='fileNameLateEarly'>{{fileNameLateEarly}}</p>          
              </div>
              <div class="sidecontent">
                  <div class="float-right"><button type="button"  *ngIf='fileNameLateEarly' class="btn btn-outline-info btn-sm mr-2" (click)="uploadBulkLateEarly(fileNameLateEarly)">Upload
                      <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></button>
                    </div>
              </div>
    
              
            </div>

            <!-- Bulk Late Early Upload Ends -->


            <!-- Orgnisation Master Starts -->

            <div class="col-md-9" *ngIf="uploadType =='organisationmaster'">
              <div class="sidecontent">
                <div class="row">
                <div class="col-md-12">
                  <h6 style="text-align:center;">{{masterType}}</h6>
                <div class="table-responsive">
                  <table id="emplisttable" class="table table-bordered">
                    <thead class="thead-dark2">
                      <tr>
                        <!-- <th *ngFor="let item of commonList"><p >{{item.fileName}}</p></th> -->
                        <th *ngFor="let item of organisationMasterList" >{{item.name}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td *ngFor="let item of organisationMasterList">...</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                </div>
                
                </div>
                <div class="m-2">
                <div class="row">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-outline-info btn-sm mr-2" (click)="submitMaster()">Download Template <i
                        class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></button>

                  </div>
                  
                </div>
              </div>
                <div>

                </div>

              </div>

              <div class="wrapper mt-4">
                
                <div class="drop">
                  <div class="cont">
                    <i class="fa fa-cloud-upload"></i>
                    <div class="tit">
                      Drag & Drop
                    </div>
                    <div class="desc">
                      Documents Folder to upload, or
                    </div>
                    <div class="browse">
                      Click here to browse
                    </div>
                  </div>
                  <output id="list"></output>
                  <input multiple="true" type="file" id="File3" (change)="onOrganisationMasterChanged($event)"/>
                  <!-- <input type="file" class="list-group-item list-group-item-action" title="{{fileTitle}}" id="folder-opener" webkitRelativePath="assets/" webkitdirectory multiple="true" (change)="docsUpload($event.target.files)"/> -->
                </div>
                <br>
            <p *ngIf='masterFileName'>{{masterFileName}}</p>          
              </div>
              <div class="sidecontent">
                  <div class="float-right"><button type="button"  *ngIf='fileNameOrganisation' class="btn btn-outline-info btn-sm mr-2" (click)="uploadOrganisation(fileNameOrganisation)">Upload
                      <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></button>
                    </div>
              </div>
    
              
            </div>

            <!-- Organisation Master Ends -->

          </div>
          

        </div>
      </div>
    </div>
  </div>
</div>
<button id="openModalButton1" [hidden]="true" data-toggle="modal" data-target="#myModalConfig">Open Modal</button>
<!-- The Modal -->
<div class="modal fade" id="myModalConfig">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Documents Not Uploaded</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="table-responsive">
          <table id="emplisttable" class="table table-bordered">
            <thead class="theadblue">
              <tr>
                <th style="width: 6%;">Sr. No.</th>
                <th *ngIf="!notUploadedDocsEmp[0].message">Employee Id</th>
                <th *ngIf="!notUploadedDocsEmp[0].message">Document Name</th>
                <th *ngIf="notUploadedDocsEmp[0].message">Message</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of notUploadedDocsEmp; let idx = index">
                <td>{{idx + 1}}</td>
                <td *ngIf="!item.message">{{item.empPerId}}</td>
                <td *ngIf="!item.message">{{item.docName}}</td>
                <td *ngIf="item.message">{{item.message}}</td>
                
                <!-- <td>
                  <i class="fa fa-pencil btn" data-dismiss="modal"></i>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<!-- The Modal -->