.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #01a4d5 !important;
    border-color: #01a4d5 #01a4d5 #01a4d5 !important;
}
.sidecontent{
    padding-left:2rem;
    padding-right:2rem;
}
.options-heading{
    color: #036b8b;
}
.temp-list li{
    margin-bottom:12px;
}

.table-responsive{
    border-radius: 0.5rem;
}
.table .thead-dark2 th {
    color: #fff !important;
    background: -webkit-linear-gradient(top, rgb(156, 156, 156) 0%,rgb(97, 97, 97) 50%,rgb(73, 74, 74) 51%,rgb(31, 31, 31) 100%) !important;
    border-color: #32383e !important;
}
.table td, .table th {
    text-align: center;
    padding: .75rem;
    vertical-align: middle !important;
  }
  tr{
    border-bottom: 1px solid whitesmoke;
  }
  ul{
      list-style: none;
  }
.tab-bg{
    min-height: 100%;
    background: #f7f7f7;
    border-radius: 1rem;
}
.persnl-options{
    padding-left:5px !important;
}
  .customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    
    .customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    }
    
    .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
    }
    
    .customcheck:hover input ~ .checkmark {
    background-color: #ccc;
    }
    
    .customcheck input:checked ~ .checkmark {
    background-color: #02cf32;
    border-radius: 5px;
    }
    
    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }
    
    .customcheck input:checked ~ .checkmark:after {
    display: block;
    }
    
    .customcheck .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }

    
.wrapper {
    padding-left:2rem;
    padding-right:2rem;
    width: 100%;
  }
  
  .drop {
    border: 3px dashed #DADFE3;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*&:hover
     * cursor: pointer
     * background: #f5f5f5 */
  }
  .drop .cont {
    
      padding: 2rem;
    height: 170px;
    color: #8E99A5;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .drop .cont i {
      font-size: 2rem;
    color: #8E99A5;
    position: relative;
  }
  
  .drop .cont .desc {
    color: #A4AEBB;
  }
  .drop .cont .browse {
    margin: 10px 35%;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    background: #09f;
  }
  .drop input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: red;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }