<div class="container-fluid">
   
    <div class="rep-bg">
  
      <div class="row">
        <div class="col-md-6">
  
          <!-- <img src="assets/rieter_logoL.png" alt="alleviz"> -->
          <br>
          <h6 class="attrep">
            <strong class="blu">
              <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Early Going Report </strong> &nbsp;
          </h6>
        </div>
      </div>
      <div class="row">
       
        <div id="content" class="col-md-10">
            <table class="table table-space table-borderless">
                <thead >

                  <tr class="table-secondary">
                    <th *ngIf="marked">Sr. No.</th>
                    <!-- <th>Sr.No</th> -->
                    <th *ngIf="marked1">Attendence Report</th>
                    <th *ngIf="marked2">Shift In Time</th>
                    <th *ngIf="marked3">Shift Out Time</th>
                    <th *ngIf="marked4">In time</th>
                    <th *ngIf="marked5">Out Time</th>
                    <th *ngIf="marked6">Late Duration</th>
                  </tr>
                 
                </thead>
                <tbody *ngFor = "let report of AllReport; let i = index">  

                  <tr *ngIf="report.earlyGoingAllRecordResDtoList">
                      <td colspan="12" style="font-weight:600; text-align:center">Name: {{report.reportEmpNameAndIdResDto.fullName}}, Department: {{report.reportEmpNameAndIdResDto.deptName}}, Employee Type Name: {{report.reportEmpNameAndIdResDto.empTypeName}}, Employee Id: {{report.reportEmpNameAndIdResDto.empId}}</td>
                  </tr>

                  <tr *ngFor = "let item of report.earlyGoingAllRecordResDtoList; let i = index">
                    <td *ngIf="marked">{{ i + 1 }}</td>
                    <td *ngIf="marked1">{{item.attenDate}}</td>
                    <td *ngIf="marked2">{{item.inTime}}</td>
                    <td *ngIf="marked3">{{item.endTime}}</td>
                    <td *ngIf="marked4">{{item.checkIn | date:'yyyy-MMM-dd'}}</td>
                    <td *ngIf="marked5">{{item.checkOut | date:'yyyy-MMM-dd'}}</td>
                    <td *ngIf="marked6">{{item.duration}}</td>
                  </tr>    
                </tbody>
              </table>
        </div>

        <div class="col-md-2">
            <div class="columnshead">
              <h6>Select Columns:</h6>
              <label class="container">
                <input type="checkbox" [(ngModel)]="srnoCheckbox" data-md-icheck (change)="toggleVisibility($event)" />
                Sr. No.
                <span class="checkmark"></span>
              </label>
    
              <label class="container">
                <input type="checkbox" [(ngModel)]="attendencecheckbox" data-md-icheck (change)="toggleVisibility1($event)" />
                Attendence
                <span class="checkmark"></span>
              </label>
    
              <label class="container">
                <input type="checkbox" [(ngModel)]="shiftintimeCheckbox" data-md-icheck (change)="toggleVisibility2($event)" />
                Shift In-Time
                <span class="checkmark"></span>
              </label>
    
              <label class="container">
                <input type="checkbox" [(ngModel)]="shiftouttimeCheckbox" data-md-icheck
                  (change)="toggleVisibility3($event)" />
                Shift Out-Time
                <span class="checkmark"></span>
              </label>
    
              <label class="container">
                <input type="checkbox" [(ngModel)]="intimeCheckbox" data-md-icheck (change)="toggleVisibility4($event)" />
                In-Time
                <span class="checkmark"></span>
              </label>
    
              <label class="container">
                <input type="checkbox" [(ngModel)]="outtimeCheckbox" data-md-icheck (change)="toggleVisibility5($event)" />
                Out-Time
                <span class="checkmark"></span>
              </label>
    
              <label class="container">
                <input type="checkbox" [(ngModel)]="latedurationChecckbox" data-md-icheck (change)="toggleVisibility6($event)" />
                late Duration
                <span class="checkmark"></span>
              </label>
    
              <button type="button" class="btn btn-warning float-right m-3" (click)="captureScreen()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
              <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
              <!-- <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i> &nbsp;Export Report Excel</button> -->
            </div>
          </div>
  
      </div>
    </div>
  </div>