<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Attendance Processing <div class="page-title-subheading">Here you can process the attendance of Employees. </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">
          <div class="row justify-content-center" style="margin-left: 150px;">
            <div class="col-md-8">
              
              <form name="form" (ngSubmit)="f.form.valid && processAttendance()" #f="ngForm" novalidate>
                <!-- <div class="row"> -->
                  <div class="form-group col-md-6">
                    <label for="emptype">Employment type<span style="color: red">*</span></label>
                    <select id="emptype" class="form-control form-control-sm" #employmentType='ngModel'
                        name="employmentType" [(ngModel)]="model.employmentType" (change)="selectType($event)"  required>
                        <option hidden >Select Employeement type</option> 
                        <!-- [value]="selectUndefinedOptionValue" -->
                        <option value="On Roll">Employee</option>
                        <option value="On Contract">Contractor</option>
                     </select>
                    <!-- <div class="help-block" *ngIf="employmentType.errors?.required && (employmentType.touched )">
                        <small style="color: red">Employment type required</small></div> -->
                </div>
                    <!-- <div class="row"> -->
                      <div class="form-group col-md-6">
                        <label>Select Employee Name <span style="color: red">*</span></label>
                        <ng-multiselect-dropdown [placeholder]="'Select Employee'" [data]="Employeedata" required
                        [(ngModel)]="model.selectedEmp" [ngModelOptions]="{standalone: true}"
                        #selectedEmployee='ngModel' name='selectedEmployee'
                        [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)"  (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)"
                        required >
                        </ng-multiselect-dropdown>
                      </div>
                    <!-- </div> -->
                    <!-- <div class="row" style="margin-bottom: 50px;margin-top: 10px;"> -->
                      <div class="form-group col-md-6">
                        <label>From Date<span style="color: red"> *</span></label>
                        <input type="date"  max="{{todaysDate | date:'yyyy-MM-dd'}}" class="form-control form-control-sm" #frmdate='ngModel' name="frmdate"
                          [ngModel]="model.frmdate | date:'yyyy-MM-dd'" (ngModelChange)="selectFromDate($event)"
                          required />
                      </div>

                      <!-- <div class="form-group col-md-4">
                        <label>To Date</label>
                        <input type="date" min="{{model.frmdate | date:'yyyy-MM-dd'}}" class="form-control form-control-sm"
                          #todate='ngModel' name="todate"
                          [ngModel]="model.todate | date:'yyyy-MM-dd'" (ngModelChange)="selectFromDate($event)"/>
                      </div> -->
                    <!-- </div> -->
                  
                    <div class="row float-inherit"  >
                    <div class="form-group mb-2">
                      <button class="btn btn-success" type="submit">Process</button>
                    </div>
                    <div class="form-group mb-2">
                      <button class="btn btn-info ml-2" type="button" (click)="cancel()">Cancel</button>
                    </div>
                  </div>
                <!-- </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
