<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-user-times bg-happy-itmeo" aria-hidden="true"></i></div>
              <div> Manpower Request <div class="page-title-subheading"> Here HR Can Generate Manpower Requisition1111</div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row">
            <div class="col-md-12">
              <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

                <li class="nav-item">
                  <a class="nav-link active" id="extra-apply-tab" data-toggle="pill" href="#extra-apply" role="tab"
                    aria-controls="extra-apply" aria-selected="true">Requirements</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="extra-list-tab" data-toggle="pill" href="#extra-list" role="tab"
                    aria-controls="extra-list" aria-selected="false">List</a>
                </li>

              </ul>
            </div>
          </div>


          <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="extra-apply" role="tabpanel" aria-labelledby="extra-apply-tab">

              <div class="row justify-content-center mt-3">
                <div class="col-md-6">
                  <form #ManPowerRequestForm="ngForm" (ngSubmit)="submitManPowerRequest()">
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label for="colFormLabelSm">Number of Labour Required <span _ngcontent-c61=""
                            style="color: red"> *</span></label>
                        <input type="text" class="form-control form-control-sm" id="noOfManpower" name="noOfManpower"
                          [(ngModel)]="noOfManpower" #noOfManpowers="ngModel" (change)="validateNoOfManpower()" required
                          pattern="[1-9][0-9]{0,2}">
                        <div *ngIf="noOfManpowers.invalid && (noOfManpowers.dirty || noOfManpowers.touched)">
                          <div *ngIf="noOfManpowers.errors.required"><small style="color: red;">Number of Labour is
                              Required</small></div>
                          <div *ngIf="noOfManpowers.errors.pattern"><small style="color: red;">Please enter only
                              positive numbers up to 3 digits.</small></div>
                        </div>
                      </div>



                      <div class="col-sm-6">

                        <label for="colFormLabelSm">Location <span _ngcontent-c61="" style="color: red">
                            *</span></label>
                        <select class="form-control form-control-sm" id="locationMasterId" name="locationMasterId"
                          required [(ngModel)]="locationMasterId" #locationMasterIds="ngModel"
                          placeholder="col-form-label-sm">
                          <option [ngValue]=null selected disabled>Select</option>
                          <option *ngFor="let item of AllLocations" value="{{item.locationId}}">{{item.locationName}}
                          </option>

                        </select>
                        <div
                          *ngIf="locationMasterIds.invalid && (locationMasterIds.dirty || locationMasterIds.touched)">
                          <div *ngIf="locationMasterIds.errors.required"><small style="color: red;"> Location is Required
                            </small></div>

                        </div>
                      </div>
                    </div>
                    <div class="form-group row">

                      <div class="col-sm-6">

                        <label for="colFormLabelSm">Designation<span _ngcontent-c61="" style="color: red">
                            *</span></label>
                        <select class="form-control form-control-sm" id="desigMasterId" name="desigMasterId" required
                          [(ngModel)]="desigMasterId" #desigMasterIds="ngModel" placeholder="col-form-label-sm">
                          <option [ngValue]=null selected disabled>Select</option>
                          <option *ngFor="let item of AllDesignation" value="{{item.desigId}}">{{item.desigName}}
                          </option>

                        </select>
                        <div *ngIf="desigMasterIds.invalid && (desigMasterIds.dirty || desigMasterIds.touched)">
                          <div *ngIf="desigMasterIds.errors.required"> <small style="color: red;">Designation is
                              Required </small></div>

                        </div>
                      </div>
                      <div class="col-sm-6">

                        <label for="colFormLabelSm">Department<span _ngcontent-c61="" style="color: red">
                            *</span></label>
                        <select class="form-control form-control-sm" id="deptMasterId" name="deptMasterId" required
                          [(ngModel)]="deptMasterId" #deptMasterIds="ngModel" placeholder="col-form-label-sm">
                          <option [ngValue]=null selected disabled>Select</option>
                          <option *ngFor="let item of GetAllDepartment" value="{{item.deptId}}">{{item.departmentName}}
                          </option>

                        </select>
                        <div *ngIf="deptMasterIds.invalid && (deptMasterIds.dirty || deptMasterIds.touched)">
                          <div *ngIf="deptMasterIds.errors.required" style="color:red"> <small
                              style="color: red;">Department is Required</small></div>

                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12 md-12">
                        <label for="jobDescription">Job Description <span _ngcontent-c61="" style="color: red">
                            *</span></label>
                        <textarea class="form-control" id="jobDescription" rows="3" name="jobDescription"
                          [(ngModel)]="jobDescription" #jobDescriptions="ngModel" required maxlength="250"
                          (input)="checkCharacterLimit($event)"></textarea>
                        <div *ngIf="jobDescriptions.invalid && (jobDescriptions.dirty || jobDescriptions.touched)">
                          <div *ngIf="jobDescriptions.errors.required"><small style="color: red;">Job Description is
                              required</small></div>
                          <div *ngIf="characterLimitExceeded"><small style="color: red;">Job Description should not
                              exceed 250 characters</small></div>
                        </div>
                      </div>



                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label for="colFormLabelSm">Work Start Date <span style="color: red">*</span></label>
                        <input type="date" class="form-control form-control-sm" id="startDate" name="startDate"
                          [(ngModel)]="startDate" #startDates="ngModel" required>
                        <div *ngIf="startDates.invalid && (startDates.dirty || startDates.touched)">
                          <div *ngIf="startDates.errors.required"><small style="color: red;">Work start date is
                              required</small></div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label for="colFormLabelSm">Work End Date <span style="color: red">*</span></label>
                        <input type="date" class="form-control form-control-sm" id="endDate" name="endDate"
                          [(ngModel)]="endDate" #endDates="ngModel" [min]="startDate" required>
                        <div *ngIf="endDates.invalid && (endDates.dirty || endDates.touched)">
                          <div *ngIf="endDates.errors.required"><small style="color: red;">Work end date is
                              required</small></div>
                          <div *ngIf="endDate < startDate"><small style="color: red;">End date must be greater than or
                              equal to start date</small></div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label for="colFormLabelSm">Expected Date of Labour <span _ngcontent-c61="" style="color: red">
                            *</span></label>
                        <input type="date" class="form-control form-control-sm" id="expectedDateLabour"
                          name="expectedDateLabour" [(ngModel)]="expectedDateLabour" #expectedDateLabours="ngModel"
                          required>
                        <div
                          *ngIf="expectedDateLabours.invalid && (expectedDateLabours.dirty || expectedDateLabours.touched)">
                          <div *ngIf="expectedDateLabours.errors.required"><small style="color: red;">Work end date is
                            Required</small></div>
                        </div>
                      </div>
                      <div class="col-sm-6">

                        <label for="colFormLabelSm">Fresher <span _ngcontent-c61="" style="color: red"> *</span></label>
                        <select class="form-control form-control-sm" id="fresher" name="fresher" required [(ngModel)]="fresher" #freshers="ngModel" placeholder="col-form-label-sm">
                          <option [ngValue]="null" selected disabled>Select</option>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                        </select>
                        
                        <div *ngIf="freshers.invalid && (freshers.dirty || freshers.touched)">
                          <div *ngIf="freshers.errors.required" style="color:red"> <small style="color: red;">Field is
                              Required</small></div>

                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6" *ngIf="fresher!='true'">

                        <label for="colFormLabelSm">Experience <span _ngcontent-c61="" style="color: red">
                            *</span></label>
                        <select class="form-control form-control-sm" id="experience" name="experience" required
                          [(ngModel)]="experience" #experiences="ngModel" placeholder="col-form-label-sm">
                          <option [ngValue]="null" [selected]="false" disabled>Select</option>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                        </select>
                        <div *ngIf="experiences.invalid && (experiences.dirty || experiences.touched)">
                          <div *ngIf="experiences.errors.required" style="color:red"> <small
                              style="color: red;">Field is Required</small></div>

                        </div>
                      </div>
                      <div class="col-md-6" *ngIf="fresher!='true'">
                       

                          <label for="colFormLabelSm">How Many Year <span style="color: red">
                              *</span></label>
                          <input type="text" class="form-control form-control-sm" id="Experiences" name="Experiences" required
                            [(ngModel)]="Experiences" #experiences="ngModel"  maxlength="2" (keypress)="numberOnly($event)">
  
  
                          
                          <div *ngIf="experiences.invalid && (experiences.dirty || experiences.touched)">
                            <div *ngIf="experiences.errors.required" style="color:red"> <small
                                style="color: red;">experience is Required</small></div>
  
                          
                        </div>
                      </div>
                    
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6">

                        <label for="colFormLabelSm">Skill Category <span _ngcontent-c61="" style="color: red">
                            *</span></label>
                        <select class="form-control form-control-sm" id="skillCategory" name="skillCategory" required
                          [(ngModel)]="skillCategory" #skillCategorys="ngModel" placeholder="col-form-label-sm">
                          <option [ngValue]=null selected disabled>Select</option>
                          <option value="skilled">skilled</option>
                          <option value="semi skilled">semi skilled</option>


                        </select>
                        <div *ngIf="skillCategorys.invalid && (skillCategorys.dirty || skillCategorys.touched)">
                          <div *ngIf="skillCategorys.errors.required" style="color:red"> <small
                              style="color: red;">skillCategory is Required</small></div>

                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label for="colFormLabelSm">Education<span _ngcontent-c61="" style="color: red">
                            *</span></label>
                        <input type="text" class="form-control form-control-sm" id="education" name="education"
                          [(ngModel)]="education" #educations="ngModel" required>
                        <div *ngIf="educations.invalid && (educations.dirty || educations.touched)">
                          <div *ngIf="educations.errors.required"><small style="color: red;"> Education is
                              Required</small></div>
                        </div>
                      </div>
                    
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6">

                        <label for="colFormLabelSm">Gender <span _ngcontent-c61="" style="color: red"> *</span></label>
                        <select class="form-control form-control-sm" id="gender" name="gender" required
                          [(ngModel)]="gender" #genders="ngModel" placeholder="col-form-label-sm">
                          <option [ngValue]=null selected disabled>Select</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>


                        </select>
                        <div *ngIf="genders.invalid && (genders.dirty || genders.touched)">
                          <div *ngIf="genders.errors.required" style="color:red"> <small style="color: red;">gender is
                            Required</small></div>

                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label for="colFormLabelSm">Any Remark </label>
                        <input type="text" class="form-control form-control-sm" id="remark" name="remark"
                          [(ngModel)]="remark">

                      </div>
                    </div>
                    <div class="form-group row" style="padding-left: 8px;
                                      margin-top: 30px;">
                      <button class="btn btn-primary" type="submit"
                        [disabled]="ManPowerRequestForm.invalid">Save</button>
                      &nbsp;&nbsp;
                      <button class="btn btn-primary">Reset</button>
                    </div>
                  </form>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="extra-list" role="tabpanel" aria-labelledby="extra-list-tab">

              <div class="row justify-content-center">
                <div class="col-md-10">
                  <!-- <ul class="list-group">
                                    <li class="list-group-item text-center danger">DEACTIVATED EMPLOYEES</li>
                                
                                </ul> -->
                  <div>
                    <table id="ManpowerRequestTable" class="table table-striped table-bordered" style="width:100%">
                      <thead class="theadblue">
                        <tr>
                          <th width="80px">Sr. No.</th>
                          <!-- <th width="80px">Request No</th> -->
                          <th>Labour Required</th>
                          <th>Department</th>
                          <th>Designation</th>
                          <th>Status</th>
                          <th>Action</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of AllListOfManPower; let i=index">
                          <td>{{i + 1}}</td>
                          <!-- <td>{{data?.empManpowerReqId}}</td> -->
                          <td>{{data?.noOfManpower}} </td>
                          <td>{{ data?.departmentMaster?.departmentName}}</td>
                          <td>{{data?.designationMaster?.desigName}}</td>
                          <td *ngIf="data.status == 'Pending'" class="text-center"><span
                              class="badge badge-info">Pending</span></td>
                          <td *ngIf="data.status == 'Approved'" class="text-center"><span
                              class="badge badge-success">Approved</span></td>

                          <td><span class="fa fa-pencil" (click)="getManpowerReqById(data)"></span>
                            &nbsp; &nbsp;
                            <span class="fa fa-trash" (click)="deletemanpowerRequest(data)"></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">




    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Attach Supported Doc</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" style="height: 500px; margin: auto; overflow: hidden;width: 100%">
            <iframe style="zoom:0.60" frameborder="0" [src]="UrlDownload" width="100%" height="100%"></iframe>
            <!-- <iframe style="zoom:0.60" width="99.6%" height="250" frameborder="0"  [src]="UrlDownload" width="100%" height="100%"></iframe> -->
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>



  <div class="modal fade" id="AreYouSuredlt">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are you sure ,you want to deactivate this employee ?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>
