<div class="bhoechie-tab-content  white-bg" id="compmaster">
  <div class="row justify-content-center align-items-center">
    <div class="mastersheading">
      <h3>
        CONTRACTOR <span class="boldmaster">MASTER</span>
      </h3>
    </div>

  </div>

  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">

          <div class="data-title">
            <h6>Contractor Details</h6>
          </div>
          <div class="form-group">
            <label for="conConfirmName"> Name of Contractor Firm<span style="color: red">*</span></label>
            <input autocomplete="off" type="text" class="form-control form-control-sm" maxlength="30" name="conFirmName"
              [(ngModel)]="ContractMasterModel.conFirmName" #conFirmName="ngModel" pattern="[A-Z a-z]{1,250}" required />
            <div class="help-block" *ngIf="conFirmName.errors?.required && conFirmName.touched"> <small
                style="color: red">Contractor Firm Name is required</small></div>
                <div class="help-block" *ngIf="conFirmName.errors?.pattern && (conFirmName.touched || f.submitted)">
                  <small style="color: red"> Number and Special Characters not allowed</small>
                </div>
          </div>
          <div class="form-group">
            <label for="CompanyID">Contract Service Type<span style="color: red">*</span></label>
            <select class="form-control form-control-sm mb-4" name="CompanyID" [(ngModel)]="selectedCotractobj"
              name="selectedCompanyobj" #CompanyID='ngModel' (change)="ngValue($event);getallGovServiceData($event,'');" required>
              <option value="">Contractor Service Type Name</option>
              <option value="{{addcompany.conSerTypeId}}"
                *ngFor="let addcompany of ActiServiceTypedata; let i = index;">{{addcompany.conSerZTypeName}}</option>
            </select>
            <div class="help-block" style="margin-top: -23px" *ngIf="CompanyID.errors?.required && CompanyID.touched">
              <small style="color: red">Contractor Service Type
                required</small></div>
          </div>
          <div class="form-group" *ngIf="selectedCotractobj">
            <label for="contrType">Contractor Validity<span style="color: red">*</span></label>
            <select class="form-control form-control-sm mb-4" name="contrType" [(ngModel)]="selectGoveSerObj"
              name="selectGoveSerObj" #contrType='ngModel' (change)="GoveSerData($event)" required>
              <option hidden value="">Select Validity Type</option>
              <option value="{{validity.conValidityId}}" *ngFor="let validity of GoveServiceData; let i = index;">{{validity.service_validity}}
              </option>
            </select>
            <div class="help-block" style="margin-top: -23px" *ngIf="contrType.errors?.required && contrType.touched">
              <small style="color: red">Validity required</small></div>
          </div>
          <div class="form-group">
            <label for="nameContract">Name of Contractor <span style="color: red">*</span></label>
            <input autocomplete="off" type="text" appAlphabetOnly class="form-control form-control-sm" maxlength="30" name="conName"
              [(ngModel)]="ContractMasterModel.conName" #contractName="ngModel" required />
            <div class="help-block" *ngIf="contractName.errors?.required && contractName.touched"> <small
                style="color: red">Contractor Name is required</small></div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="contact">Contact Number<span style="color: red">*</span> </label>
              <input autocomplete="off" type="text" maxlength="10" numbersOnly class="form-control form-control-sm"
                pattern="[0-9]{1,100}" name="conContactNo" (blur)='error()'
                [(ngModel)]="ContractMasterModel.conContactNo" #contact="ngModel" id="contact" required />
              <!-- <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exist </small></div> -->

              <div class="help-block" *ngIf="contact.errors?.required && (contact.touched)"> <small
                  style="color: red">please enter Numbers only</small></div>
              <div class="help-block" *ngIf="contact.errors?.pattern && (contact.touched)"> <small
                  style="color: red">Character not allowed </small></div>
            </div>

            <div class="form-group col-md-6">
              <label for="email">Email Id </label>
              <input autocomplete="off" type="email" class="form-control form-control-sm"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="conEmail" (blur)='Emailerror()'
                [(ngModel)]="ContractMasterModel.conEmail" #conContactPerEmail="ngModel" #email='ngModel' >
              <!-- <div class="help-block" *ngIf="errflag2"><small style="color: red">Already Exist </small></div> -->
              <!-- <div class="help-block" *ngIf="email.errors?.pattern && (email.touched)"> <small style="color: red">enter
                  valid Email</small></div>
              <div class="help-block" *ngIf="email.errors?.required && email.touched">
                <small style="color: red">Email is required</small>
              </div> -->
            </div>

          </div>

          <div class="form-group">
            <label for="addressContractor">Address of the Contractor<span style="color: red">*</span></label>
            <textarea class="form-control" id="addressContractor" name="conAddress"  maxlength="120"
              [(ngModel)]="ContractMasterModel.conAddress" #addressContractor='ngModel' rows="2" required></textarea>
            <div class="help-block" *ngIf="addressContractor.errors?.required && addressContractor.touched"> <small
                style="color: red">Address of contracter is required</small></div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="periodstartDate">Contract Period Start Date <span style="color: red">*</span></label>
              <input type="date" class="form-control form-control-sm" name="startDate"
                [ngModel]="ContractMasterModel.startDate" #startDate="ngModel" id='periodstartDate'
                (change)="Startvalue($event)" min="0001-01-01" max="9999-12-31" required />
              <div class="help-block" *ngIf="startDate.errors?.required && startDate.touched"><small
                  style="color: red">Contractor
                  Start Date is required</small></div>
            </div>
            <div class="form-group col-md-6">
              <label for="periodendDate">Contract Period End Date<span style="color: red">*</span></label>
              <input type="date" class="form-control form-control-sm" name="expDate"
              min="0001-01-01" max="9999-12-31" [ngModel]="ContractMasterModel.expDate"
                #expDate="ngModel" id="periodendDate" (change)="handler($event,'end'); " required />
              <div class="help-block" *ngIf="expDate.errors?.required && expDate.touched"><small
                  style="color: red">Contractor
                  End Date is required</small> </div>
            </div>
          </div>

          <div class="form-group">
            <label for="manpowerAprve">Number of Manpower Approved<span style="color: red">*</span> </label>
            <input autocomplete="off" type="text" maxlength="3" class="form-control form-control-sm"
              pattern="[0-9]{1,100}" name="noOfManpwrApproved" [(ngModel)]="ContractMasterModel.noOfManpwrApproved"
              #manpowerApprove="ngModel" id="manpowerApprove" required />
            <div class="help-block" *ngIf="manpowerApprove.errors?.required && (manpowerApprove.touched)"> <small
                style="color: red">Manpower is required</small></div>
            <div class="help-block" *ngIf="manpowerApprove.errors?.pattern && (manpowerApprove.touched)"> <small
                style="color: red">please enter Numbers only</small></div>
          </div>

          <div class="data-title">
            <h6>Statutory Details</h6>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="labrStartdate">Labour License Start date<span style="color: red">*</span></label>
              <input type="date" class="form-control form-control-sm" name="labLicStartDate"
                [ngModel]="ContractMasterModel.labLicStartDate" #expDatae="ngModel"
                (change)="handler($event,'Laberstart');  " min="0001-01-01" max="9999-12-31" required />
              <div class="help-block" *ngIf="expDatae.errors?.required && expDatae.touched"><small
                  style="color: red">Labour License Start date
                  is required</small> </div>
            </div>
            
            <div class="form-group col-md-6">
              <label for="labrExpdate">Labour License Expiry date<span style="color: red">*</span></label>
              <input type="date" class="form-control form-control-sm" name="labLicExpDate"
                min="{{currentdate | date:'yyyy-MM-dd'}}"  max="9999-12-31"
                [ngModel]="ContractMasterModel.labLicExpDate" #labrExpdate="ngModel"
                (change)="handler($event,'Laberend'); " required />
              <div class="help-block" *ngIf="labrExpdate.errors?.required && labrExpdate.touched"><small
                  style="color: red">Labour License Expiry date
                  is required</small> </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="wcNumber"> WC number
                <span style="color: red">*</span></label>
              <input type="text" class="form-control form-control-sm" id="wcNumber" name="wcNo" (blur)='WcNoerror()'
                maxlength="30" [(ngModel)]="ContractMasterModel.wcNo" #wcNumber='ngModel'  numbersOnly required>
              <!-- <div class="help-block" *ngIf="errflag3"><small style="color: red">Already Exist </small></div> -->

              <div class="help-block" *ngIf="wcNumber.errors?.required && wcNumber.touched"><small style="color: red">
                  WC number is required</small> </div>
            </div>
            <div class="form-group col-md-6">
              <label for="wcExpdate">WC Policy Expiry date<span style="color: red">*</span></label>
              <input type="date" class="form-control form-control-sm" name="wcExpDate"
                min="{{currentdate | date:'yyyy-MM-dd'}}"  max="9999-12-31"[ngModel]="ContractMasterModel.wcExpDate"
                #wcExpdate="ngModel" (change)="handler($event,'wcExdate'); 
                 " required />
              <div class="help-block" *ngIf="wcExpdate.errors?.required && wcExpdate.touched"><small
                  style="color: red">wc policy
                  Expiry Date is required</small> </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="epfRegisterNo">EPF Registration Number
                <span style="color: red">*</span> </label>
              <input type="text" class="form-control form-control-sm" id="epfRegisterNo" (blur)='epfNoerror()' numbersOnly
                name="epfRegNo" maxlength="30" [(ngModel)]="ContractMasterModel.epfRegNo" #epfRegisterNo='ngModel'
                required>
              <div class="help-block" *ngIf="errflag4"><small style="color: red">Already Exist </small></div>
              <div class="help-block" *ngIf="epfRegisterNo.errors?.required && epfRegisterNo.touched"><small
                  style="color: red">
                  EPF Registration number is required</small> </div>
            </div>

            <div class="form-group col-md-6">
              <label for="gstRegisterNumber"> GST Registration Number
                <span style="color: red">*</span></label>
              <input type="text" class="form-control form-control-sm" id="gstRegisterNumber" name="gstRegNo" pattern="^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$"
                (blur)='gstRegNoerror()' maxlength="15" [(ngModel)]="ContractMasterModel.gstRegNo"
                #gstRegisterNumber='ngModel' required>
              <!-- <div class="help-block" *ngIf="errflag5"><small style="color: red">Already Exist </small></div> -->

              <div class="help-block" *ngIf="gstRegisterNumber.errors?.required && gstRegisterNumber.touched"><small
                  style="color: red">
                  GST Registration number is required</small> </div>
                  <div class="help-block" *ngIf = "gstRegisterNumber.errors?.pattern && gstRegisterNumber.touched">
                    <small style="color: red;">Please enter the valid GST registration number. </small>
                  </div>
            </div>
          </div>

          <!-- IF YES - ENTER PF NUMBER -->
          <div class="form-group">
            <label>PF Applicable</label>
            <br>
            <label class="switch mt-2">
              <input type="checkbox" name="pfApplicable" [(ngModel)]="ContractMasterModel.pfApplicable">
              <span class="slider round"></span>
            </label>
          </div>
          <div *ngIf="ContractMasterModel.pfApplicable">
            <div class="form-group">
              <label for="pfNumber"> PF Number
                <span style="color: red">*</span></label>
              <input type="text" class="form-control form-control-sm" id="pfNumber" name="pfNumber" (blur)='pfError()' 
              maxlength="22" [(ngModel)]="ContractMasterModel.pfNumber" #pfNumber='ngModel'
                required>
              <!-- <div class="help-block" *ngIf="errflag4"><small style="color: red">Already Exist </small></div> -->

              <div class="help-block" *ngIf="pfNumber.errors?.required && pfNumber.touched"><small style="color: red">
                  PF number is required</small> </div>
                  <!-- <div class="help-block" *ngIf = "pfNumber.errors?.pattern && pfNumber.touched">
                    <small style="color: red;">Please enter the valid PF number.</small>
                  </div> -->
            </div>
          </div>
          <!-- IF YES - ENTER PF NUMBER -->


          <!-- IF YES - ENTER ESIC NUMBER -->
          <div class="form-group">
            <label>ESIC Applicable</label>
            <br>
            <label class="switch mt-2">
              <input type="checkbox" name="esicApplicble" [(ngModel)]="ContractMasterModel.esicApplicble">
              <span class="slider round"></span>
            </label>
          </div>

          <div *ngIf="ContractMasterModel.esicApplicble">
            <div class="form-group">
              <label for="esicNumber"> ESIC Number
                </label>
              <input type="text" class="form-control form-control-sm" id="esicNumber" name="esicNumber"
                (blur)='EsicfEerror()' maxlength="17" [(ngModel)]="ContractMasterModel.esicNumber"
                #esicNumber='ngModel'>
              <!-- <div class="help-block" *ngIf="errflag6"><small style="color: red">Already Exist </small></div> -->

              <!-- <div class="help-block" *ngIf="esicNumber.errors?.required && esicNumber.touched"><small
                  style="color: red">
                  ESIC number is required</small> </div> -->
            </div>
          </div>
          <!-- IF YES - ENTER ESIC NUMBER -->

          <!-- IF YES - ENTER LWF NUMBER -->
          <div class="form-group">
            <label>LWF Applicable</label>
            <br>
            <label class="switch mt-2">
              <input type="checkbox" name="lwfApplicable" [(ngModel)]="ContractMasterModel.lwfApplicable">
              <span class="slider round"></span>
            </label>
          </div>

          <div *ngIf="ContractMasterModel.lwfApplicable">
            <div class="form-group">
              <label for="lwfNumber"> LWF Number
                <span style="color: red">*</span></label>
              <input type="text" class="form-control form-control-sm" id="lwfNumber" name="lwFNumber"
                (blur)='exiestLwf()' maxlength="30" [(ngModel)]="ContractMasterModel.lwFNumber"
                #lwfNumber='ngModel' required>
              <!-- <div class="help-block" *ngIf="errflag10"><small style="color: red">Already Exist </small></div> -->

              <div class="help-block" *ngIf="lwfNumber.errors?.required && lwfNumber.touched"><small style="color: red">
                  LWF number is required</small> </div>
            </div>
          </div>
          <!-- IF YES - ENTER ESIC NUMBER -->


          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="tinNumber">TIN Number
                <span style="color: red">*</span> </label>
              <input type="text" class="form-control form-control-sm" id="tinNumber" (blur)='exiesTin()' name="tinNo"
                maxlength="30" [(ngModel)]="ContractMasterModel.tinNo" #tinNumber='ngModel' required>
              <!-- <div class="help-block" *ngIf="errflag8"><small style="color: red">Already Exist </small></div> -->
              <div class="help-block" *ngIf="tinNumber.errors?.required && tinNumber.touched"><small style="color: red">
                  TIN number is required</small> </div>
            </div>

            <div class="form-group col-md-6">
              <label for="panNumber"> PAN Number
                <span style="color: red">*</span></label>
              <input type="text"pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$" class="form-control form-control-sm" id="panNumber" name="panNo" (blur)='exiestPAN()'
                maxlength="10"  alphaOnly [(ngModel)]="ContractMasterModel.panNo" #panNumber='ngModel' required>
              <!-- <div class="help-block" *ngIf="errflag7"><small style="color: red">Already Exist </small></div> -->

              <div class="help-block" *ngIf="panNumber.errors?.required && panNumber.touched"><small style="color: red">
                  PAN number is required</small> </div>
              <div class="help-block" *ngIf="panNumber.errors?.pattern && panNumber.touched">
                <small style="color: red;">Please enter the valid PAN number.</small>
              </div>
            </div>
          </div>


          <form #ff="ngForm" novalidate>

            <div class="form-group">
              <label for="seldepart">Applicable To Location<span style="color: red">*</span></label>
              <select class="form-control form-control-sm mb-4" name="locationId" [(ngModel)]="selectedLocation"
                name="selectedLocation" #seldepart='ngModel' (change)="Locationdata($event)" required>
                <option hidden value="">Select Location</option>
                <!-- <option  hidden [value]="">Contractor Service Type Name</option> -->
                <option value="{{a.locationId}}" *ngFor="let a of allActiveData; let i = index;">{{a.locationName}}
                </option>
              </select>
              <div class="help-block" style="margin-top: -23px" *ngIf="seldepart.errors?.required && seldepart.touched">
                <small style="color: red">Location
                  required</small></div>
            </div>
            <div class="form-group">
              <label for="LicenceNumber"> Licence Number
                <span style="color: red">*</span></label>
              <input type="text" class="form-control form-control-sm" id="LicenceNumber" name="licenceNo"
                (blur)='exiestLicence()' maxlength="15" [(ngModel)]="ContractMasterModel.licenceNo" pattern="^(?<intro>[A-Z]{2})(?<numeric>\d{2})(?<year>\d{4})(?<tail>\d{7})$" 
                #LicenceNumber='ngModel' required>
              <!-- <div class="help-block" *ngIf="errflag9"><small style="color: red">Already Exist </small></div> -->

              <div class="help-block" *ngIf="LicenceNumber.errors?.required && LicenceNumber.touched"><small
                  style="color: red">
                  Licence number is required</small> </div>
              <div class="help-block" *ngIf = "LicenceNumber.errors?.pattern && LicenceNumber.touched">
                <small style="color: red;">Please enter valid Licence Number.</small>
              </div>
            </div>
          </form>
         
          <div class="form-group" *ngIf='StatusFlag'>
            <label>Status</label><br>
            <label (click)="uiswitch($event)">

              <ui-switch [checked]='ContractMasterModel.status'><span
                  class="switch  switch-medium"><small></small></span></ui-switch>

            </label>
          </div>
          <button class="btn btn-success" type="button"
            [disabled]="(ff.invalid || !selectedLocation || !ContractMasterModel.licenceNo)"
            (click)="AddValue(ff)">Add</button>

          <div class="mt-2">
            <table id="licenumber" class="table table-striped table-bordered" style="width:100%">
              <thead class="theadblue">
                <tr>

                  <th class="hide-arw">
                    Sr.No
                  </th>
                  <th class="hide-arw">
                    Location
                  </th>
                  <th class="hide-arw">
                    Licence Number
                  </th>
                  <th style="width: 10%" class="hide-arw">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let c of addOnArray ;  index as b'>
                  <th>{{b+1}}</th>
                  <td>
                    {{c.locationMaster.locationName}}
                  </td>

                  <td>
                    {{c.licenceNo}}
                  </td>
                  <td>
                    <i class="fa fa-pencil" (click)="editres(c,b)" aria-hidden="true"></i>
                    <i class="fa fa-trash" data-toggle="modal" data-target="#AreYouSuredlt2" aria-hidden="true"></i>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
          <button class="btn btn-primary" type="submit"
            [disabled]='(f.invalid || errflag || errflag2 || errflag3 || errflag4 || errflag5 || errflag6 || errflag7 || errflag8  || errflag10 || errflag11 || !addOnArray)'>Save</button>
          &nbsp; <button *ngIf="!isedit" class="btn btn-info" type="reset" (click)="reset(ff)">Reset</button>
          <button *ngIf="isedit" class="btn btn-info" type="reset" (click)="Cancel()">Cancel</button>
        </form>
      </div>
    </div>
    <hr>

    <div *ngIf='dataTableFlag'>
      <table id="Contable" class="table table-striped table-bordered" style="width:100%">
        <thead class="theadblue">
          <tr>
            <th style="width: 50%" class="hide-arw">
              Contract Firm Name
            </th>
            <th style="width: 30%" class="hide-arw">
              Contractor Service Type
            </th>
            <th style="width: 10%" class="hide-arw">
              Status
            </th>
            <th style="width: 10%" class="hide-arw">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ContractMast">
            <td>{{item.conFirmName}}</td>
            <td>{{item.conSerZTypeName}}</td>
            <td [ngClass]="{colorRed : item.status == false, colorGreen: item.status == true}"
              style=" font-size:1rem; text-align:center">
              <i class="fa fa-circle" aria-hidden="true"></i>
            </td>
            <td>
              <i class="fa fa-pencil" aria-hidden="true" (click)="edit(item)"></i>
              <i class="fa fa-trash" (click)='dltObj(item)' data-toggle="modal" data-target="#AreYouSuredlt"
                aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are you sure, you want to delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent()' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="AreYouSuredlt2">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are you sure, you want to delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" (click)="deleteres('')" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
