.table .thead-dark2 th {
    border-right:none !important;
    border-top:none !important;
    border-bottom:none !important;
    color: #fff !important;
    background: -webkit-linear-gradient(top, rgb(97, 209, 245) 0%,rgb(21, 181, 230) 50%,rgb(0, 175, 228) 51%,rgb(1, 174, 227) 100%) !important;
    border-color: #32383e !important;
}
table.dataTable.no-footer {
  border-bottom: 0px solid #111 !important;
}
table {
    border-collapse: separate !important;
    border-spacing: 0 1em !important;
}

td {
    border-top:none !important;
    border-bottom:none !important;
    border-right:none !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.main-search{
  width: 100%;
  margin:auto;
}
.filter{
  padding-right:.9375rem;
  float:right;
  width: 40%;
}
.has-search .form-control {
  margin: auto;

  padding-left: 2.375rem;
}
.act-emp{
  color:#3289ed;
  padding-left:.9375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.form-control {
  color: #bedfff;
  border: 1px solid #aad5ff !important;
}
::placeholder {
  font-weight:300;
  color: #aad5ff;
  opacity: 1; /* Firefox */
}
.filter{
  font-weight:300;
  color: #aad5ff;
  opacity: 1; /* Firefox */
}

.search-box{
  padding: 0.175rem 0.375rem 0.175rem 2.375rem !important;
  border-radius: 0 !important;
}
.filter-box{
  padding: 0.175rem 0.375rem 0.175rem 0.375rem !important;
  border-radius: 0 !important;
}
.select.form-control:not([size]):not([multiple]) {
  height: 0 !important;
}

.image-cover {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.table td, .table th {
  text-align: center;
  padding: .75rem;
  vertical-align: middle !important;
}
tr{
  border-bottom: 1px solid whitesmoke;
}
.fa-eye{
  color:#2575e3;
}
.fa-pencil{
  color:green;
}
.fa{
  padding:0.4rem;
  font-size:1.2rem;
}

/* select.form-control:not([size]):not([multiple]) {
  height: calc(1.9rem + 2px) !important;
} */

.input-group-text {
  background-color: #9ce5fd !important;
  border: 1px solid #a8adb4;
}
.req-count{
  float: left;
  line-height: 0ch;
  text-align: center;
}
.req-count h3{
color: #06b0e4;
font-size: 34px;
}
.req-count p{
  color: #585858;
  }
  .fa-search{
    padding:0 !important;
  color: #ffffff !important;
}
.statusclrpending{
    stroke-linecap: round;
    border-left:3px solid red !important;
}
.statusclrcompleted{
    stroke-linecap: round;
    border-left:3px solid rgb(6, 126, 22) !important;
}
.statusclrinprocess{
    stroke-linecap: round;
    border-left:3px solid rgb(238, 155, 2) !important;
}
