<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="white-bg">

            <div class="row">
                <div class="col-md-8">
                  <div class="act-emp">
                    <h6>Query
                      <br>
                      <span class="emptypetxt">Admin</span>
                    </h6>
                  </div>
                </div>
              </div>
              <hr>

          <div class="white-bg-menu-content">
            <div class="row align-items-center">
            <div class="col-md-4">
              <div class="req-count">
                 <h3>6</h3>
                 <p>Active Query</p>
              </div>
             
            </div>

            <div class="col-md-4">
              <div class="main-search">
                <!-- Actual search box -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-sm" placeholder="Search" id="usr" name="username">
                  </div>

              </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3 filter">
                        <select class="form-control form-control-sm" id="sel1">
                          <option>Sort</option>
                          <option>Open</option>
                          <option>In Process</option>
                          <option>Completed</option>
                        </select>
                  </div>
            </div>
          </div>

<div class="table-responsive">
            <table id="emplisttable" class="table">
              <thead class="thead-dark2">
                <tr>
                  <th style="width: 6%;">Sr. No.</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Emp Id</th>
                  <th>Category</th>
                  <th>Sub-Category</th>
                  <th>Related Date</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td class="statusclrpending">1</td>
                  <td>
                    <div class="wrapper">
                      <img src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" alt="" class="image-cover" />
                    </div>
                  </td>
                  <td>Hella Winch</td>
                  <td>D211</td>
                  <td>ABC</td>
                  <td>XYZ</td>
                  <td>02-03-2019</td>
                  <td>Open</td>
                  <td>
                      <i class="fa fa-eye btn"></i> <i class="fa fa-pencil btn"></i>
                  </td>
                </tr>

                <tr >
                  <td class="statusclrinprocess">2</td>
                  <td>
                    <div class="wrapper">
                      <img src="http://profilepicturesdp.com/wp-content/uploads/2018/06/best-facebook-profile-pictures-for-men-1.jpg" alt="" class="image-cover" />
                    </div>
                  </td>
                  <td>Jhon Doe</td>
                  <td>D212</td>
                  <td>ABC</td>
                  <td>XYZ</td>
                  <td>02-03-2019</td>
                  <td>In Process</td>
                  <td>
                      <a [routerLink]="['/layout/viewempdetails']">  <i class="fa fa-eye btn"></i></a> <i class="fa fa-pencil btn"></i>
                  </td>
                </tr>

                <tr>
                  <td class="statusclrpending">3</td>
                  <td>
                    <div class="wrapper">
                      <img src="https://www.bittaxer.com/wp-content/uploads/2018/03/danielle-profile-bittaxer.jpg" alt="" class="image-cover" />
                    </div>
                  </td>
                  <td>Alena D</td>
                  <td>D213</td>
                  <td>ABC</td>
                  <td>XYZ</td>
                  <td>02-03-2019</td>
                  <td>Open</td>
                  <td>
                      <i class="fa fa-eye btn"></i> <i class="fa fa-pencil btn"></i>
                  </td>
                </tr>
                <tr>
                    <td class="statusclrcompleted">4</td>
                    <td>
                      <div class="wrapper">
                        <img src="https://img2.thejournal.ie/inline/2470754/original/?width=428&version=2470754" alt="" class="image-cover" />
                      </div>
                    </td>
                    <td>Alena D</td>
                    <td>D213</td>
                    <td>ABC</td>
                  <td>XYZ</td>
                  <td>02-03-2019</td>
                  <td>Completed</td>
                    <td>
                        <i class="fa fa-eye btn"></i> <i class="fa fa-pencil btn"></i>
                    </td>
                  </tr>
                  <tr>
                      <td class="statusclrpending">5</td>
                      <td>
                        <div class="wrapper">
                          <img src="https://www.morpht.com/sites/morpht/files/styles/landscape/public/dalibor-matura_1.jpg?itok=gxCAhwAV" alt="" class="image-cover" />
                        </div>
                      </td>
                      <td>Alena D</td>
                      <td>D213</td>
                      <td>ABC</td>
                      <td>XYZ</td>
                      <td>02-03-2019</td>
                      <td>Open</td>
                      <td>
                          <i class="fa fa-eye btn"></i> <i class="fa fa-pencil btn"></i>
                      </td>
                    </tr>
                    <tr>
                        <td class="statusclrpending">6</td>
                        <td>
                          <div class="wrapper">
                            <img src="http://suchmuch.pk/wp-content/uploads/2017/07/Stylish-Girls-Profile-Pictures-42.jpg" alt="" class="image-cover" />
                          </div>
                        </td>
                        <td>Alena D</td>
                        <td>D213</td>
                        <td>ABC</td>
                        <td>XYZ</td>
                        <td>02-03-2019</td>
                        <td>Open</td>
                        <td>
                            <i class="fa fa-eye btn"></i> <i class="fa fa-pencil btn"></i>
                        </td>
                      </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>