<div class="bhoechie-tab-content  white-bg" id="compmaster">
    <div class="row justify-content-center align-items-center">
        <div class="mastersheading">
            <h3>
                ASSETS<span class="boldmaster"> MASTER </span>
            </h3>
        </div>
        <div class="container-fluid h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">
                    <!-- <h2>Business Master</h2> -->
                    <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <!-- <label for="assetcategory">Asset Category</label> -->
                                <label for="assetCategory">Asset Category <span style="color: red">*</span></label>
                              <select id="assetCategory" name="assetCategories" [(ngModel)]="assetsMaster.assetCategory" class="form-control form-control-sm" #assetCategory="ngModel" required>
                                <option value="">Select</option>
                                <option value="electronics">Electronics</option>
                                <option value="electronics_network">Electronics networks</option>
                              </select>
                              <div class="help-block" *ngIf="assetCategory.errors?.required && (assetCategory.touched)"> <small
                                style="color: red">Asset Category Required</small></div>
                            </div>

                            <div class="form-group col-md-6">
                              <label for="assetType">Asset Type <span style="color: red">*</span></label>
                              <input type="text" name="assetType" class="form-control form-control-sm" [(ngModel)]="assetsMaster.assetType" id="assetType" #assetType="ngModel" placeholder="" required>
                              <div class="help-block" *ngIf="assetType.errors?.required && (assetType.touched)"> <small
                                style="color: red">Asset Type Required</small></div>
                            </div>
                          </div>

                          <!-- <div class="form-row"> -->
                              <!-- <div class="form-group col-md-6"> -->
                                <!-- <label for="assetId">Asset ID</label> -->
                                <!-- <input type="text" class="form-control form-control-sm"  placeholder="" #reson="ngModel" name="reson" id="reson" id="assetId" name="assetId" required>
                                <div class="help-block" *ngIf="reson.errors?.required && (reson.touched)"> <small
                                    style="color: red">Reason For assetId required</small></div> -->

<!-- 
                                    <label>Asset ID <span style="color: red">*</span></label>
                                    <input type="text" class="form-control form-control-sm" #reson1="ngModel" name="reson1" id="reson1" [(ngModel)]="assetsMaster.assetId"  name="assetId" required>
                                    <div class="help-block" *ngIf="reson1.errors?.required && (reson1.touched)"> <small
                                      style="color: red">Reason For assetId required</small></div> -->



                              <!-- </div> -->

                              <div class="form-group ">
                                <!-- <label for="assetname">Asset Name</label> -->
                                <label>Asset Name <span style="color: red">*</span></label>
                                    <input type="text" class="form-control form-control-sm" #reson2="ngModel" name="reson2" id="reson2" name="name" [(ngModel)]="assetsMaster.name"  name="assetname" required>
                                    <div class="help-block" *ngIf="reson2.errors?.required && (reson2.touched)"> <small
                                      style="color: red">Asset Name Required</small></div>
                               
                              </div>
                            <!-- </div> -->

                          <div class="form-group">
                            <!-- <label for="assetdiscription">Discription</label> -->
                            <label>Discription <span style="color: red">*</span></label>
                            <input type="text" class="form-control form-control-sm" #reson3="ngModel" name="reson3" id="reson3" [(ngModel)]="assetsMaster.discription"  name="discription" required>
                            <div class="help-block" *ngIf="reson3.errors?.required && (reson3.touched)"> <small
                              style="color: red">Discription Required</small></div>
                          </div>

                          <div class="form-row">
                              <!-- <div class="form-group col-md-6">
                                <label>Location <span style="color: red">*</span></label>
                              <select id="location" name="locations" [(ngModel)]="assetsMaster.location" class="form-control form-control-sm" #location="ngModel" required>
                                <option value="">Select</option>
                                <option value="{{data.locationId}}" *ngFor="let data of locationData">{{data.locationName}}</option>
                              </select>
                                <div class="help-block" *ngIf="location.errors?.required && (location.touched)"> <small
                                  style="color: red">Location Required</small></div> 
                              </div> -->

                              <div class="form-group col-md-6">
                                <p>Location<span style="color: red">*</span></p>
                                <ng-multiselect-dropdown [placeholder]="'Applicable To Location'" [data]="locationData"
                                    [(ngModel)]="assetsMaster.locationMasterList"
                                    [ngModelOptions]="{standalone: true}" #selectedLocation='ngModel' name='selectedLoco'
                                    [settings]="dropdownSettings">
                                </ng-multiselect-dropdown>
                            </div>

                              <div class="form-group col-md-6">
                                <!-- <label for="assetpurchased">Purchased on</label> -->
                                <label>Purchased On <span style="color: red">*</span></label>
                                <!-- <input type="date" class="form-control form-control-sm" id="assetpurchased" placeholder=""> -->
                                <input type="date" class="form-control form-control-sm" #reson5="ngModel" name="reson5" id="reson5" name="purchasedOn" (ngModelChange)="dateChanged($event)" [ngModel]="assetsMaster.purchasedOn | date :'yyyy-MM-dd'"  name="purchasedOn" required>
                                <div class="help-block" *ngIf="reson5.errors?.required && (reson5.touched)"> <small
                                  style="color: red">Purchased On Required</small></div>

                              </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <!-- <label for="assetCondition">Condition of the asset</label> -->
                                  <label>Condition Of The Asset <span style="color: red">*</span></label>
                                <input type="text" name="condition" class="form-control form-control-sm" #reson8="ngModel" name="reson8" id="reson8" [(ngModel)]="assetsMaster.condition"  name="assetCategory" required>
                                <div class="help-block" *ngIf="reson8.errors?.required && (reson8.touched)"> <small
                                  style="color: red">Asset Condition Required</small></div>
                                </div>


                                <div class="form-group col-md-6">
                                 <!-- <label>Status of the asset <span style="color: red">*</span></label> -->
                                  <label for="status">Status Of The Asset <span style="color: red">*</span></label>
                                  <select  id="status" name="statuses" [(ngModel)]="assetsMaster.status" #status="ngModel" class="form-control form-control-sm" required>
                                    <option value="">Choose...</option>
                                    <option value="available">Available</option>
                                    <option value="not_available">Not Available</option>
                                    <option value="bad">Bad</option>
                                  </select>
                                  <div class="help-block" *ngIf="status.errors?.required && (status.touched)"> <small
                                    style="color: red">Asset Status Required</small></div>
                                </div>
                              </div>
 
           
                
                          <button *ngIf="!isEdit" type="submit" [disabled]="f.invalid" class="btn btn-primary">Add</button>
                          
                          <button *ngIf="isEdit" type="submit" [disabled]="f.invalid" class="btn btn-primary">Update</button> 
                          
                          &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()" >Reset</button>
                         
                    </form>


                </div>

            </div>
            <hr>
           <div *ngIf="dataTableFlag">
                <table id="CompTable" class="table table-striped table-bordered" style="width:100%" datatable>

                    <thead class="theadblue">
                        <tr>
                            <th style="width:8%">
                                Sr. No.
                            </th>
                            <th style="width:20%">
                                Asset Name
                            </th>
                            <th style="width:10%" class="hide-arw">
                                Category
                            </th>
                            <!-- <th  class="hide-arw">
                                Asset ID
                            </th> -->
                            <th  class="hide-arw">
                                Type
                            </th>
                            <th  class="hide-arw">
                                Condition
                            </th>
                            <th  class="hide-arw" style="width: 15%;">
                                purchased On
                            </th>
                            <!-- <th  class="hide-arw">
                                discription
                            </th> -->
                           
                            <th  class="hide-arw">
                                Location
                            </th>

                            <th  class="hide-arw">
                                    Status
                                </th>
                            
                            <th  class="hide-arw">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of assetsMasterArray;let i = index">
                            <td>{{i+1}}</td>
                            <td>{{s.name}}</td>
                            <td>{{s.assetCategory}}</td>
                            <!-- <td>{{s.assetId}}</td> -->
                            <td>{{s.assetType}}</td> 
                            <td>{{s.condition}}</td>
                            <td>{{s.purchasedOn | date:'dd-MMM-yyyy'}}</td>
                            <!-- <td>{{s.discription}}</td> -->
                            
                            <td>{{s.locationId}}</td>
                            <td>{{s.status}}</td>
                            <!-- <td>Available <span class="badge badge-success">8</span></td> -->
                            <td><i class="fa fa-pencil" aria-hidden="true" (click)="getAssetMasterById(s)"></i>
                              <i class="fa fa-trash"  data-toggle="modal"
                                    data-target="#AreYouSuredlt" aria-hidden="true" (click)="delete(s)"></i></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AreYouSuredlt">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Are You Sure..Want to Delete..??</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button"(click)="deleteRecord(f)" data-dismiss="modal"
                        class="btn btn-success">Yes</button><br>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>


    <!-- <button (click)="getAssetsmasterList()">getList</button> -->