<div class="bhoechie-tab-content  white-bg" id="compmaster">
  <div class="row justify-content-center  align-items-center">

    <div class="mastersheading">
      <h3>
        CONTRACTOR VALIDITY <span class="boldmaster">MASTER</span>
      </h3>
    </div>

  </div>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">
        <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <!-- <label for="contractorServiceName">Name of Contractor Service Type<span style="color: red">*</span></label>
            <input autocomplete="off" type="text" class="form-control form-control-sm"
              [(ngModel)]="ContractorServiceModel.conGovTypeName" name="conGovTypeName" #conGovTypeName="ngModel"
              required>
            <div class="help-block" *ngIf="conGovTypeName.errors?.required && conGovTypeName.touched"> <small
                style="color: red">Name of Contractor Service Type is required</small></div> -->
                <label for="conSerTypeId">Contractor Service Type<span style="color: red">*</span></label>
              <select class="form-control form-control-sm" id="conSerTypeId" name="conSerTypeId" [(ngModel)]="ContractorServiceModel.conSerTypeId" required>
                <option value="" selected>Select</option>
                <option value="{{service.conSerTypeId}}" *ngFor="let service of contractor_service_data; let i = index;">
                  {{service.conSerZTypeName |  titlecase}}
                </option>
              </select>
          </div>

          <div class="form-group">
            <label for="validityMonths">Validity Months<span style="color: red">*</span></label>
            <input autocomplete="off" type="text" class="form-control form-control-sm"
              [(ngModel)]='ContractorServiceModel.validityMonths' pattern="^[0-9]*$" maxlength="2" name="validityMonths"
              #validityMonths="ngModel" numbersOnly required />
            <div class="help-block" *ngIf="validityMonths.errors?.required && validityMonths.touched"> <small
                style="color: red">Validity Months is required</small>
            </div>
          </div>

          <label class="customcheck">Rejoin allowed
            <input name="rejoinAllowed" [(ngModel)]='ContractorServiceModel.rejoinAllowed' type="checkbox"
               #rejoinAllowed='ngModel'>
            <span class="checkmark"></span>
          </label>

          <label class="customcheck">Extention of validity allowed
            <input name="extOfValidity" [(ngModel)]='ContractorServiceModel.extOfValidity' type="checkbox"
              #extOfValidity='ngModel'>
            <span class="checkmark"></span>
          </label>
          <div class="form-group" *ngIf='StatusFlag'>
            <label>Status</label><br>
            <label (click)="uiswitch($event)">
              <ui-switch [checked]='ContractorServiceModel.status' (click)="open(ContractorServiceModel.status)"><span
                  class="switch  switch-medium"><small></small></span></ui-switch>

            </label>
          </div>
          <div class="form-inline mt-3">

            <div class="form-group mb-2 ">
              <button class="btn btn-primary" type="submit" [disabled]='f.invalid'>Save</button>
            </div>
            <div class="form-group mb-2" *ngIf="!isedit">
              <button type="reset" class="btn btn-info ml-2" (click)="Reset()">Reset</button>
            </div>
            <div class="form-group mb-2" *ngIf="isedit">
              &nbsp;<button class="btn btn-info" type="reset" (click)="Cancel()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <hr>
    <div>
      <table id="Business" class="table table-striped table-bordered" style="width:100%">
        <thead class="theadblue">
          <tr>
            <th style="width: 60%">
              Name of Contractor Service Type
            </th>
            <th class="hide-arw" class="hide-arw">
              Validity Months
            </th>
            <th>Status</th>
            <th style="width: 10%" class="hide-arw text-center">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allServiceTypedata">
            <td>{{item.conSerZTypeName}}</td>
            <td>
              {{item.validityMonths}}
            </td>

            <td [ngClass]="{colorRed : item.valStatus == false, colorGreen: item.valStatus == true}"
              style=" font-size:1rem; text-align:center">
              <i class="fa fa-circle" aria-hidden="true"></i>
            </td>
            <td class="text-center">
              <i class="fa fa-pencil" (click)="editServiceType(item)" aria-hidden="true"></i>
              <i class="fa fa-trash" data-toggle="modal" data-target="#AreYouSuredlt" (click)='dltObj(item)'
                aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure, You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" (click)="dltmodelEvent()" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>
