<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Labour List <div class="page-title-subheading"> Here you can approve, reject or cancel requests </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row container">
        <div class="col-sm-2">
          <label for="colFormLabelSm3">Search Options <span _ngcontent-c61="" style="color: red">
              *</span></label>
          <select class="form-control form-control-sm" id="searchLabour" name="searchLabour" [(ngModel)]="searchLabour">
            <option hidden [value]="selectUndefinedOptionValue">Search</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Nearing Expiry Validity">Nearing Expiry Validity</option>
            <option value="Suspended">Suspended</option>
            <option value="Blacklisted">Blacklisted</option>
          </select>

        
        
        </div>
        <div class="col-sm-1">
          <div _ngcontent-c27="" aria-label="Second group" class="btn-group btn-group-sm" role="group" style="position: absolute;
          top: 33px;left: 30px;"><!----><button _ngcontent-c27="" class="btn btn-success ng-star-inserted" type="button">{{allmanpowerLabourData?.length}}</button>
          </div>
        </div>
        <div class="col-sm-2">
          <label for="colFormLabelSm3">Search By <span _ngcontent-c61="" style="color: red">
              *</span></label>
          <select class="form-control form-control-sm" id="searchByLabour" name="searchByLabour" [(ngModel)]="searchByLabour">
            <option hidden [value]="selectUndefinedOptionValue">Search</option>
            <option value="Active">Name</option>
            <option value="Inactive">Contact Number</option>
            <option value="Nearing Expiry Validity">Adhar Number</option>
            <option value="Suspended">Contractor Service</option>
            <option value="Blacklisted">Contractor Name</option>
          </select>

        
        
        </div>
        <div class="col-sm-2">
          <div style="margin-top: 25px">
            <input type="text" placeholder="search" [(ngModel)]="searchByColumn" name="searchByColumn" id="searchByColumn" class="form-control-sm" style="border: 1px solid #adaaaa;">
          </div>
        </div>
        <div class="col-sm-5" style="text-align: -webkit-right">
          <div class="col-sm-5">
          <label for="colFormLabelSm3" style="position: relative;
          right: 78px;">Check Progress <span _ngcontent-c61="" style="color: red;">
              *</span></label>
          <select class="form-control form-control-sm" id="searchByDocument" name="searchByDocument" [(ngModel)]="searchByDocument">
            <option hidden [value]="selectUndefinedOptionValue">Search</option>
            <option value="Document Verification Pending">Document Verification Pending</option>
            <option value="Under Medical">Under Medical</option>
            <option value="Under Safety Training">Under Safety Training</option>
          
          </select>
        </div>

        
        
        </div>
      </div>

      <div class="card-body col-md-12">

        <div class="flex flex-column mt-4 faq-section">
          <div class="row">
            <div class="col-md-12">
    
        <table id="emptable" class="table emp-action ">
          <thead class="thead-dark">
            <tr class="theadblue pt-3 pb-2">
              <td style="width: unset !important;">Sr.No</td>
              <td style="width: unset !important;" >Photo</td>
              <!-- <td style="width: unset !important;">Employee Id</td> -->
              <td style="width: unset !important;">Name</td>                 
              <td style="width: unset !important;">Designation</td>
              <!-- <td style="width: unset !important;">Service Type</td> -->
              <td style="width: unset !important;">Contractor</td>
              <td style="text-align:center; width: unset !important;">Adhar Number </td>
             <td style="width: unset !important;">Document Options</td>
            </tr>
          </thead>
          <tbody >

            <tr  class="tabledata-center tablerows" *ngFor="let item of allmanpowerLabourData let s=index">
              <td>{{s+1}}</td>
              <td style="width:5%; text-align:center">
                <img  src="{{item.requestStatus?.labourInfo?.Image}}" alt="" class="image-cover" />
              </td>
              <!-- <td>{{item.requestStatus?.labourInfo?.empId}}</td> -->
              <td>{{item.requestStatus?.labourInfo?.firstName}} {{item.requestStatus?.labourInfo?.lastName}}</td>
            
              <td>{{item.requestStatus?.labourInfo?.designationMaster?.desigName}}</td>
              <!-- <td>{{item.requestStatus?.labourInfo?.conServiceTypeIdList?.contractorServiceTypes}}</td> -->
              
              <td>{{item.requestStatus?.labourInfo?.contractorMaster?.firstName}}</td>
              <td>{{item.requestStatus?.labourInfo?.aadharNo}}</td>
              <td class="text-center" style="width:15%;">
                <span>
                <i class="fa fa-eye"
                  title="View details" aria-hidden="true" style="padding-left: 0px;"   data-toggle="modal" data-target="#myModal" (click)="getlabourid(item)" style="cursor: pointer;"><p>View</p>
                </i>
                <i class="fa fa-hourglass-end" aria-hidden="true" style="cursor: pointer;text-align: center;">
                  <p (click)=gotoDocument(item) > Summary</p>
                </i>
                
            
                </span>
                
               
                
              </td>
            
            </tr>
            <span>
            <!-- <i class="fa fa-hourglass-end" aria-hidden="true" style="cursor: pointer;text-align: center;">
              <p (click)=gotoDocument1(item) > go To Assets</p>
            </i> -->
          </span>
          </tbody>
          <tfoot>
            <tr></tr>
          </tfoot>
        </table>

        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
      
          <!-- Trigger the modal with a button -->
         
          <!-- Modal -->
          <div class="container">
          
            <!-- Button to Open the Modal -->
            
          
            <!-- The Modal -->
            <div class="modal fade" id="myModal">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                
                  <!-- Modal Header -->
                  <div class="modal-header" style="background-color: #0747a6;padding-top: 5px;
                  padding-bottom: 5px;">
                    <div>
                      <p class="modal-title" style="color: white;">{{allLabourDocumentHistory?.firstName}} {{allLabourDocumentHistory?.lastName}}</p>
                    
                      <p style="color: white;">Service Type:abc</p>
                    </div>
                    
                    <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                    <p style="padding-bottom: 17px;
                    font-size: 17px;
                    font-weight: 500;">Changes By Contractor</p>
                    <ul class="experiences" style="margin-left: 45px;list-style-type: none;">

                      <!-- Experience -->
                      <li class="green where">
                        Adhar Card <span style="font-weight: 800;">Uploaded on {{allLabourDocumentHistory?.aadharUploadDate| date:'dd-MMM-yyyy'}}</span> 
                       </li>
                      <li class="green where">
                        Pan Card <span style="font-weight: 800;">Uploaded on {{allLabourDocumentHistory?.panUpdateDate| date:'dd-MMM-yyyy'}}</span> 
                      
                       </li>
                      <li class="green where">
                        Police Verification <span style="font-weight: 800;">Uploaded on {{allLabourDocumentHistory?.policeDocUploadDate| date:'dd-MMM-yyyy'}}</span> 
                       </li>
                         <li class="green where">
                          Experience Certificate <span style="font-weight: 800;">Uploaded on {{allLabourDocumentHistory?.experienceUpdateDate| date:'dd-MMM-yyyy'}}</span> 
                       </li>
                      
                    </ul>
                    <p style="padding-bottom: 17px;
                    font-size: 17px;
                    font-weight: 500;"> Changes By Front Desk</p>
                    <ul class="experiences" style="margin-left: 45px;list-style-type: none;">
                      <li *ngFor="let items of allLabourDocumentHistory?.documentHistories" class="green where">{{items.documentName}} <span style="font-weight: 800;">Status is {{items.status}} On this Date{{items.approvedOrRejectDate| date:'dd-MMM-yyyy'}} </span></li>
                    </ul>
                    
                  </div>
                  
                  <!-- Modal footer -->
                  <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div> -->
                  
                </div>
              </div>
            </div>
            
          </div>
        