.q-ans{
    color:gray;
}

.red{
    font-weight: 600;
    color:rgb(180, 9, 9);
}
.green{
    font-weight: 600;
    color:rgb(42, 110, 29);
}
.dataTables_empty{
    text-align: center !important;
    font-size: initial !important;
}

#deligate .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  #deligate .modal {
  padding-right: 0!important;
  }
  #deligate .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  }
  
  .fade {
    transition: opacity .15s linear;
  }
  
  .modal .modal-dialog.modal-right {
      right: 0;
  }
  #fullHeightModalRight .modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
  }
  #fullHeightModalRight .modal.fade .modal-dialog {
    border-radius: .5rem 0 0 0.5rem !important;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
  }
  #deligate .modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
  }
  #deligate .modal.fade .modal-dialog {
    border-radius: .5rem 0 0 0.5rem !important;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
  }
  .modal-full-height {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 350px;
    min-height: 70%;
    top: 15%;
    right: 0;
  }
  .rightside .modal-content{
    border-radius: .5rem 0 0 0.5rem !important;
  }
  
  #fullHeightModalRight{
    background: #00000082;
  }
  #deligate{
    background: #00000082;
  }
  .rightside .modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
    box-shadow: 0px 0px 18px;
  }
  
  .send-button{
    width:250px;
  }
  
  .wrapper-2{
    margin-top: 1rem;
    text-align: center;
  }
  .image-cover-2{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center ;
  }

  .list-group{
    height:250px;
    overflow: auto;
}

.detailsOfresignation{
  background: rgb(241, 241, 241);
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
  margin: 0.5rem;
  padding:1rem;
}

.sectionforhr{
  max-height: 675px;
  overflow-y: auto;
  overflow-x: none;
}
.chatsuggestion{
  background: white;
  padding: 5px;
  margin-top: 74px;
  box-shadow: 0px 1px 8px #2d2d2d;
  border-radius: 0px 0px 5px 5px;
  max-height: 200px;
  overflow-x: auto;
  position: absolute;
  z-index: 9;
  /* margin-top: 20px; */
  width: 80%;
  font-size: .85rem !important;
  font-family: Roboto, Arial, sans-serif !important;
}
.suggestiontext:hover{
  cursor: pointer;
  background: rgba(137, 188, 255, 0.425);
}
.active1{
  background: rgba(137, 188, 255, 0.425);
}
.suggestiontext{
padding:4px;
border-radius: 3px;
}
  
