<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i _ngcontent-c8="" aria-hidden="true"
                  class="fa fa-file-excel-o bg-happy-itmeo"></i></div>
              <div>Exit Employee Details <div class="page-title-subheading"> Here you can see exit details of all employees</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

            <div class="row justify-content-between">
                <div class="col-md-6">
                  <div class="form-row">
                      <div class="form-group col-md-4">
                      
                              <label for="department">Department</label> 
                              <span style="color: red">*</span>
                              <select class="form-control form-control-sm mb-4" name="department" [(ngModel)]="model.departmentMaster.deptId" (ngModelChange)="getAllExitInterviewData()">
                                <option value="{{data.deptId}}" *ngFor="let data of departmentsData">
                                 {{data.deptName}}
                                </option>
                              </select>
                        </div>

                    <div class="form-group col-md-4">
                      <label for="expfrmdate">From Date</label>
                      <span style="color: red">*</span>
                      <input type="date" name="startDat" (ngModelChange)="fromDateChanged($event)" [ngModel]="model.startDate | date:'yyyy-MM-dd'" class="form-control form-control-sm" id="expfrmdate">
                    </div>

                    <div class="form-group col-md-4">
                      <label for="ExptoDate">To Date</label>
                      <span style="color: red">*</span>
                      <input type="date" name="endDate" (ngModelChange)="endDateChanged($event)" [ngModel]="model.endDate | date:'yyyy-MM-dd'" class="form-control form-control-sm" id="ExptoDate">
                    </div>

                  </div>
                </div>
                <!-- <div class="col-md-2">
                    <div class="form-group float-right">
                        <label for="ExptoDate">&nbsp;</label>
                        <div class="btn-group" role="group" aria-label="Type of file">
                           
                          <button type="button" class="btn btn-primary mt-3" >Check Details</button>
      
                        </div>
                      </div>
                </div> -->
              </div>

          <!-- REPORT TABLE SECTION STARTS -->
<div class="row" *ngIf="dataTableFlag">
  <div class="col-md-12">
    <div  class="table-responsive">
      <table id="Business" class="table table-striped table-bordered" style="width:100%" >
          <thead class="theadblue">
              <tr>
                  <th class="text-center">Photo</th>
                  <th>Emp Name</th>
                  <th>Emp Id</th>
                  <th>Joining Date</th>
                  <th>Resignation Date</th>
                  <th>Relieving Date</th>
                  <th>Tenure(in years)</th>
                  <th width="20%">Reason of Exit</th>
                  <th width="20%">Status</th>
                  <th width="20%" *ngIf="showbuttonflag == true">Delegate Employee</th>
              </tr>
          </thead>
          <tbody *ngFor="let data of exitinterviewDataArray; let i = index;">
              <tr data-toggle="collapse" (click)="getExitInterviewList(data)" [attr.data-target]="'#EXINT' + i" role="button" aria-expanded="false" aria-controls="collapseExample">
                 <td class="text-center"> 
                   <div class="wrapper">
                     <img *ngIf="data.profilePath" alt="" class="image-cover" src="{{data.profilePath}}">
                     <img *ngIf="!data.profilePath" alt="" class="image-cover" src="{{AssetsPath}}/propic.jpg">
                  </div>
                </td>
                  <td>{{data.fullName}} {{data.lastName}}</td>
                  <td>{{data.empId}}</td>
                  <td>
                    {{data.dateOfJoining | date :'dd-MMM-yyyy'}}
                  </td>
                  <td>{{data.dateOfResignation | date :'dd-MMM-yyyy'}}</td>
                  <td>{{data.relievingDate | date :'dd-MMM-yyyy'}}</td>
                  <td>{{data.tenure}}</td>
                  <td>{{data.resignationReason}} </td>
                  <td>{{data.resignOrTerminationBy}}</td>
                  
                  <td *ngIf="data.sanctioningAuthority ==true && data.approvelsStatus!='delegated'">
                    <button type="button" class="btn btn-sm btn-primary mr-2" data-toggle="modal" data-target="#deligate"
                    (click)='getDeligateData(data)'>Deligate
                  </button> 
                  </td>
             
              </tr>

              <!-- COLLAPSABLE DETAILS DIV  -->

              <tr class="collapse" [attr.id]="'EXINT' + i">
                <td colspan="10">
                  <div class="card card-body">
                    <h4>{{data.fullName}} {{data.lastName}}</h4>
                    <p *ngFor = "let question of data.questionAnswerData; let j = index"> <span class="red">Q.{{ j+1 }}-</span> {{question.exitQuestions}} <br> 
                      <span class="green">Ans-</span> <span class="q-ans"> {{question.answer}}.</span>
                    </p>                  
                  </div>
                </td>
              </tr>

   <!-- COLLAPSABLE DETAILS DIV END -->

   
            
      </table>
      </div>
  </div>
</div>
          <!-- REPORT TABLE SECTION ENDS -->

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid rightside">
  <!-- Full Height Modal Right -->
  <div class="modal fade right " id="deligate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-right w3-animate-right" role="document">

      <form name="form" #f='ngForm'>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body overflow-auto">
          <div>
           

            <div class="list-group">
              <div class="form-group">
                <label>Select Deligate Employee <span style="color: red">*</span></label>
                <!-- <input type="text"   class="form-control form-control-sm" name="displayDate" /> -->
                <input class="form-control"  id="searchtext" name="deligate" type="text" #deligate="ngModel" [(ngModel)]="searchTextSanction"
                (input)="getSearchSuggestionListSanction(searchTextSanction)"
                 autocomplete="off" placeholder="Search Employee..." required>                                            
              
                <div class="help-block" *ngIf="deligate.errors?.required && (deligate.touched)"> <small
                  style="color: red">Deligate Employee required</small></div>

              </div>                                          

              <div class="chatsuggestion" *ngIf="searchSanctionFlag">
                <div *ngFor="let item of allSanctionEmployees | search : searchTextSanction"  (click)="suggestThisEmployeeSanction(item)"
                  class="suggestiontext">
                  <div>
                    {{item.empId}} - {{item.fullName}} {{item.lastName}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" hidden class="btn btn-secondary"  data-dismiss="modal">Close</button>
          <button type="button" (click)="deligateEmp()" [disabled]="searchSanctionFlag" class="btn btn-primary send-button mb-4">Ok</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!-- Full Height Modal Right -->

</div>