/* UPLOAD FILE DESIGN START*/

.wrapper {
    width: 100%;
  }
  
  .drop {
    border: 3px dashed #DADFE3;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .drop .cont {
    text-align: -webkit-center;
      padding: 2rem;
    color: #8E99A5;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .drop .cont i {
      font-size: 2rem;
    color: #8E99A5;
    position: relative;
  }
  
  .drop .cont .desc {
    color: #A4AEBB;
  }
  .drop .cont .browse {
    margin: 10px 35%;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    background: #09f;
  }
  .drop input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: red;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  /* UPLOAD FILE DESIGN  END*/


  /* EMPLOYEE DETAILS FORM UPLOAD PHOTO DESIGN CSS STARTS */
  .profileview{
    border-radius: 50%;
    text-align: center;
    margin: auto;
  }
  .profileview img{
    border-radius: 50%;
    width: 120px;
  }
  .propicbox{
      margin-top: 1rem;
  }
  /* EMPLOYEE DETAILS FORM UPLOAD PHOTO DESIGN CSS ENDS */


  /* CUSTOM RADIO BUTTON CSS STARTS */
  
input[type="radio"] + label {
    position: relative;
    cursor: pointer;
    padding-right: 10px;
    margin:5px;
    padding-left: 25px;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label:before {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #1565C0;
    -moz-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
    -webkit-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
    box-shadow: inset 0 0 0 18px #E0E0E0;
  }
  input[type="radio"] + label:before, input[type="radio"] + label:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  input[type="radio"]:checked + label:before {
    -moz-box-shadow: inset 0 0 0 4px #E0E0E0;
    -webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
    box-shadow: inset 0 0 0 4px #E0E0E0;
  }
  input[type="radio"]:checked + label:after {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -moz-animation: ripple 1s none;
    -webkit-animation: ripple 1s none;
    animation: ripple 1s none;
  }
  input[type="radio"] + label:after {
    top: 49%;
    left: 9px;
    width: 54px;
    height: 54px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.3);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
   /* CUSTOM RADIO BUTTON CSS ENDS */

   /*For Slider*/
   .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 10px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: -2px;
    bottom: -4px;
    background-color: #ffbc00;
    transition: .4s;
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }
  .lang-toggle{
    padding-left:1rem;
  }