<div class="container-fluid">
  <div class="col-md-12">
    <div class="white-bg">
      <div class="p-3">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <h4>Add Management Employee</h4>
            <hr>

            <div class="data-title">
              <h6>Employee Basic Details</h6>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-5">
            <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">

              <div class="form-row">

                <div class="col-2">
                  <div class="form-group">
                    <label for="empname">Salutation</label><span style="color: red">*</span>
                    <select id="salutation" [(ngModel)]="addmanagmentEp.salutation"
                      class="form-control form-control-sm" (change)="genderChange()" name="salutation" form="salutation"
                      required>
                      <!-- <option hidden [value]="selectSalutation">Salutation</option> -->
                      <option value="MR">MR</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Miss">Miss</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="fullName">First Name</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="40"
                      pattern="[A-Z a-z]{1,250}" #fullName='ngModel' name="fullName"
                      [(ngModel)]="addmanagmentEp.fullName" required>
                    <div class="help-block" *ngIf="fullName.errors?.required && (fullName.touched || f.submitted)">
                      <small style="color: red">Employee First Name Required</small></div>
                    <div class="help-block" *ngIf="fullName.errors?.pattern && (fullName.touched || f.submitted)"><small
                        style="color: red">Number and Special Character not allowed </small></div>

                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="empname">Middle Name</label>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="40"
                      pattern="[A-Z a-z]{1,250}" #middleName='ngModel' name="middleName"
                      [(ngModel)]="addmanagmentEp.middleName">
                     
                      <div class="help-block" *ngIf="middleName.errors?.pattern && (middleName.touched || f.submitted)"><small
                        style="color: red">Number and Special Character not allowed </small></div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="empname">Last Name</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="40"
                      pattern="[A-Z a-z]{1,250}" #lastName='ngModel' name="lastName"
                      [(ngModel)]="addmanagmentEp.lastName" required>
                    <div class="help-block" *ngIf="lastName.errors?.required && (lastName.touched || f.submitted)">
                      <small style="color: red">Employee Last Name Required</small></div>
                    <div class="help-block" *ngIf="lastName.errors?.pattern && (lastName.touched || f.submitted)"><small
                        style="color: red">Number and Special Character not allowed </small></div>

                  </div>
                </div>
              </div>

              <div class="form-group colors">
                <label>Gender<span style="color: red">*</span></label>
                <br>
                <input autocomplete="off" type="radio" id="radio" (click)="changeSalu()"  [(ngModel)]="addmanagmentEp.gender" value="Male"
                  name="physicalDisability" />
                <label for="radio">Male</label>

                <input autocomplete="off" type="radio" id="radio1" (click)="changeSalu()" [(ngModel)]="addmanagmentEp.gender" value="Female"
                  name="physicalDisability" />
                <label for="radio1">Female</label>

                <input autocomplete="off" type="radio" id="radio2" (click)="changeSalu()" [(ngModel)]="addmanagmentEp.gender" value="Other"
                  name="physicalDisability" />
                <label for="radio2">Other</label>
              </div>

              <div class="form-group colors">
                <label>Martial Status<span style="color: red">*</span></label>
                <br>
                <input autocomplete="off" type="radio" id="Married" [(ngModel)]="addmanagmentEp.maritialStatus" value="Married"
                  name="maritialStatus" />
                <label for="Married">Married</label>

                <input autocomplete="off" type="radio" id="UnMarried" [(ngModel)]="addmanagmentEp.maritialStatus" value="Un-Married"
                  name="maritialStatus" />
                <label for="UnMarried">Un-Married</label>
              </div>

              <div class="form-row">

                <div class="col">
                  <div class="form-group">
                    <label for="bioId">Finger Id</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="40"
                      name="bioId"  [(ngModel)]="addmanagmentEp.bioId" #bioId='ngModel' required>
                      <div class="help-block" *ngIf="bioId.errors?.required && (bioId.touched || f.submitted)">
                        <small style="color: red">Finger Id Required</small></div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="empId">Employee Id</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="40"
                      name="empId"  [(ngModel)]="addmanagmentEp.empId" #empId='ngModel' required>
                      <div class="help-block" *ngIf="empId.errors?.required && (empId.touched || f.submitted)">
                        <small style="color: red">Employee Id Required</small></div>
                  </div>
                </div>
              </div>

              <div class="form-row">

                <div class="col">
                  <div class="form-group">
                    <label for="officialContactNumber">Official Contact Number</label><span style="color: red">*</span>
                    <!-- <input type="text" autocomplete="off" class="form-control form-control-sm"  onlyNumber maxlength="10"
                      name="officialContactNumber" [(ngModel)]="addmanagmentEp.officialContactNumber" #officialContactNumber='ngModel'  required> -->


                      <input type="text" class="form-control form-control-sm" id="" name="officialContactNumber"  maxlength="10"
                      [(ngModel)]="addmanagmentEp.officialContactNumber" #officialContactNumber='ngModel'  (keypress)="keyPressNumbers($event)" required>
                      <div class="help-block" *ngIf="officialContactNumber.errors?.required && (officialContactNumber.touched || f.submitted)">
                        <small style="color: red">Official Contact Number is Required</small></div>
                        <div class="help-block"
                        *ngIf="officialContactNumber.errors?.pattern && (officialContactNumber.touched || f.submitted)"><small
                          style="color: red">Enter Valid Official Contact Number </small></div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="officialEmailId">Official Email Id</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" type="text"  maxlength="40"
                      name="officialEmailId" [(ngModel)]="addmanagmentEp.officialEmailId" #officialEmailId='ngModel' required>
                      <div class="help-block" *ngIf="officialEmailId.errors?.required && (officialEmailId.touched || f.submitted)">
                        <small style="color: red">Official Mail Id is Required</small></div>

                  </div>
                </div>
              </div>


              <div class="form-row">

                <div class="col">
                  <div class="form-group">
                    <label for="personalContactNumber">Personal Contact Number</label><span style="color: red">*</span>
                    <input type="text" autocomplete="off" class="form-control form-control-sm"   maxlength="10"
                      name="personalContactNumber" [(ngModel)]="addmanagmentEp.personalContactNumber" #personalContactNumber='ngModel'  (keypress)="keyPressNumbers($event)" required>
                      <div class="help-block" *ngIf="personalContactNumber.errors?.required && (personalContactNumber.touched || f.submitted)">
                        <small style="color: red">Personal Contact Number is Required</small></div>
                        <div class="help-block"
                        *ngIf="personalContactNumber.errors?.pattern && (personalContactNumber.touched || f.submitted)"><small
                          style="color: red">Enter Valid Personal Contact Number </small></div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="personalEmailId">Personal Email Id</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="40"
                      name="personalEmailId" [(ngModel)]="addmanagmentEp.personalEmailId" #personalEmailId='ngModel' required>
                      <div class="help-block" *ngIf="personalEmailId.errors?.required && (personalEmailId.touched || f.submitted)">
                        <small style="color: red">Personal Mail Id is Required</small></div>

                  </div>
                </div>
              </div>


              <div class="form-row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="dateOfBirth">Date of Birth</label><span style="color: red">*</span>
                    <input type="date" [(ngModel)]="addmanagmentEp.dateOfBirth" class="form-control form-control-sm"
                      name="dateOfBirth" #dateOfBirth='ngModel' aria-describedby="name" (ngModelChange)="getdate($event)"  min="0001-01-01" max="9999-12-31">
                  
                      <div class="help-block" *ngIf="dateOfBirth.errors?.required && (dateOfBirth.touched || f.submitted)">
                        <small style="color: red">Date of Birth is Required</small>
                      </div>
                    </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="age">Age</label>
                    <input autocomplete="off" disabled class="form-control form-control-sm" #age='ngModel' type="text" name="age" [(ngModel)]="addmanagmentEp.age">
                    <div class="help-block" *ngIf="age.errors?.required && (age.touched || f.submitted)">
                      <small style="color: red">Age is Required</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="dateOfJoining">Date of Joining</label><span style="color: red">*</span>
                    <input type="date" [(ngModel)]="addmanagmentEp.dateOfJoining" class="form-control form-control-sm"
                      name="dateOfJoining" name="dateOfJoining" #dateOfJoining='ngModel' aria-describedby="name"  min="0001-01-01" max="9999-12-31">
                  
                      <div class="help-block" *ngIf="dateOfJoining.errors?.required && (dateOfJoining.touched || f.submitted)">
                        <small style="color: red">Date of Joining is Required</small>
                      </div>
                    </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label for="placeOfBirth">Place Of Birth</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="100"
                      name="placeOfBirth"  [(ngModel)]="addmanagmentEp.placeOfBirth" #placeOfBirth='ngModel' required>
                      <div class="help-block" *ngIf="placeOfBirth.errors?.required && (placeOfBirth.touched || f.submitted)">
                        <small style="color: red">Place Of Birth Required</small></div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="panNo">PAN Number</label>
                    <input autocomplete="off" class="form-control form-control-sm" #panNo='ngModel' type="text" name="panNo" maxlength="40" [(ngModel)]="addmanagmentEp.panNo">
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label for="passportNo">Passport Number</label>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" #passportNo='ngModel' name="passportNo" maxlength="40" [(ngModel)]="addmanagmentEp.passportNo">
                  </div>
                </div>
              </div>

              <div class="form-row">

                <div class="col">
                  <div class="form-group">
                    <label for="passportNum">Aadhaar Number</label>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" #adharNo='ngModel' name="adharNo" maxlength="40" [(ngModel)]="addmanagmentEp.adharNo"  (keypress)="keyPressNumbers($event)" required>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label for="drivingLicenseNo">Driving Licence Number</label>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" name="drivingLicenseNo" #drivingLicenseNo='ngModel' maxlength="40" [(ngModel)]="addmanagmentEp.drivingLicenseNo">
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col">

                    <label>Sanctioning Authority</label><span style="color: red">*</span>
                    <br>
                    <label class="switch mt-2">
                        <input type="checkbox" value="checked" name="isFresher" #sanctioningAuthority='ngModel' [(ngModel)]="addmanagmentEp.sanctioningAuthority" required>
                        <span class="slider round"></span>
                    </label>
                    <div class="help-block" *ngIf="sanctioningAuthority.errors?.required && (sanctioningAuthority.touched || f.submitted)">
                      <small style="color: red">Sanctioning Authority is Compulsary.</small>
                    </div>
                </div>
              </div>

              <label>Upload Documents</label>
              <div class="wrapper">
                <div class="drop">
                  <div class="cont">

                    <div style="width:30%">
                      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 763.6 464.5">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: url(#linear-gradient);
                            }

                            .cls-2 {
                              fill: url(#radial-gradient);
                            }

                            .cls-3 {
                              fill: url(#linear-gradient-2);
                            }

                            .cls-4 {
                              fill: url(#linear-gradient-3);
                            }

                            .cls-5 {
                              fill: #b0d6ff;
                            }

                            .cls-6 {
                              fill: url(#linear-gradient-4);
                            }

                            .cls-10,
                            .cls-11,
                            .cls-12,
                            .cls-13,
                            .cls-14,
                            .cls-15,
                            .cls-16,
                            .cls-7,
                            .cls-8,
                            .cls-9 {
                              opacity: 0.5;
                            }

                            .cls-7 {
                              fill: url(#linear-gradient-5);
                            }

                            .cls-8 {
                              fill: url(#linear-gradient-6);
                            }

                            .cls-9 {
                              fill: url(#linear-gradient-7);
                            }

                            .cls-10 {
                              fill: url(#linear-gradient-8);
                            }

                            .cls-11 {
                              fill: url(#linear-gradient-9);
                            }

                            .cls-12 {
                              fill: url(#linear-gradient-10);
                            }

                            .cls-13 {
                              fill: url(#linear-gradient-11);
                            }

                            .cls-14 {
                              fill: url(#linear-gradient-12);
                            }

                            .cls-15 {
                              fill: url(#linear-gradient-13);
                            }

                            .cls-16 {
                              fill: url(#linear-gradient-14);
                            }

                            .cls-17 {
                              fill: url(#linear-gradient-15);
                            }

                            .cls-18 {
                              font-size: 30.15px;
                              fill: #fff;
                              font-family: Myriad Pro;
                              font-weight: 700;
                            }

                            .cls-19 {
                              opacity: 0.8;
                              fill: url(#linear-gradient-16);
                            }

                            .cls-20 {
                              fill: #eaeaea;
                            }

                            .cls-21 {
                              fill: url(#linear-gradient-17);
                            }

                            .cls-22 {
                              fill: url(#linear-gradient-18);
                            }

                            .cls-23 {
                              fill: url(#linear-gradient-19);
                            }

                            .cls-24 {
                              fill: url(#linear-gradient-20);
                            }

                            .cls-25 {
                              fill: url(#linear-gradient-21);
                            }

                            .cls-26 {
                              fill: url(#linear-gradient-22);
                            }

                            .cls-27 {
                              fill: url(#linear-gradient-23);
                            }

                            .cls-28 {
                              fill: url(#linear-gradient-24);
                            }

                            .cls-29 {
                              fill: url(#linear-gradient-25);
                            }

                            .cls-30 {
                              fill: url(#linear-gradient-26);
                            }

                            .cls-31 {
                              fill: url(#linear-gradient-27);
                            }

                            .cls-32 {
                              fill: url(#linear-gradient-28);
                            }

                            .cls-33 {
                              fill: url(#linear-gradient-29);
                            }

                            .cls-34 {
                              fill: url(#linear-gradient-30);
                            }

                            .cls-35 {
                              fill: url(#linear-gradient-31);
                            }
                          </style>
                          <linearGradient id="linear-gradient" x1="642.08" y1="385.7" x2="900.37" y2="730.83"
                            gradientTransform="translate(-51.2 8)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#fff" />
                            <stop offset="0.16" stop-color="#f4f4f4" />
                            <stop offset="0.61" stop-color="#f4f4f4" />
                            <stop offset="1" stop-color="#fff" />
                          </linearGradient>
                          <radialGradient id="radial-gradient" cx="732.46" cy="609.95" fx="675.164065753132" r="286.98"
                            gradientTransform="translate(-40 11)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#b0d6ff" />
                            <stop offset="1" stop-color="#1e66ca" />
                          </radialGradient>
                          <linearGradient id="linear-gradient-2" x1="663.45" y1="613.57" x2="821.11" y2="561.79"
                            gradientTransform="translate(328.8 -301.9) rotate(30)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#b0d6ff" />
                            <stop offset="0.57" stop-color="#1e66ca" />
                            <stop offset="1" stop-color="#6ea3eb" />
                          </linearGradient>
                          <linearGradient id="linear-gradient-3" x1="704.35" y1="615.52" x2="920.43" y2="525.93"
                            xlink:href="#linear-gradient-2" />
                          <linearGradient id="linear-gradient-4" x1="121.86" y1="520.07" x2="338.86" y2="805.93"
                            gradientTransform="translate(41 -15.4)" xlink:href="#linear-gradient" />
                          <linearGradient id="linear-gradient-5" x1="132.1" y1="3642.2" x2="298.92" y2="3642.2"
                            gradientTransform="translate(25 325.9) scale(1 0.08)" xlink:href="#radial-gradient" />
                          <linearGradient id="linear-gradient-6" x1="132.1" y1="3811.73" x2="298.92" y2="3811.73"
                            gradientTransform="translate(29.3 325.2) scale(1 0.08)" xlink:href="#radial-gradient" />
                          <linearGradient id="linear-gradient-7" x1="132.1" y1="3981.27" x2="298.92" y2="3981.27"
                            gradientTransform="translate(33.5 324.5) scale(1 0.08)" xlink:href="#radial-gradient" />
                          <linearGradient id="linear-gradient-8" x1="124.27" y1="4385.54" x2="458.16" y2="4385.54"
                            gradientTransform="translate(41.3 308.4) scale(1 0.08)" xlink:href="#radial-gradient" />
                          <linearGradient id="linear-gradient-9" x1="127.32" y1="4620.28" x2="396.19" y2="4620.28"
                            gradientTransform="translate(48.1 313) scale(1 0.08)" xlink:href="#radial-gradient" />
                          <linearGradient id="linear-gradient-10" x1="132.03" y1="4855.01" x2="300.4" y2="4855.01"
                            gradientTransform="translate(55.5 320.7) scale(1 0.08)" xlink:href="#radial-gradient" />
                          <linearGradient id="linear-gradient-11" x1="124.43" y1="5102.79" x2="454.93" y2="5102.79"
                            gradientTransform="translate(59.3 305.6) scale(1 0.08)" xlink:href="#radial-gradient" />
                          <linearGradient id="linear-gradient-12" x1="124.43" y1="5337.53" x2="454.93" y2="5337.53"
                            gradientTransform="translate(65.3 304.6) scale(1 0.08)" xlink:href="#radial-gradient" />
                          <linearGradient id="linear-gradient-13" x1="124.43" y1="5572.27" x2="454.93" y2="5572.27"
                            gradientTransform="translate(71.2 303.6) scale(1 0.08)" xlink:href="#radial-gradient" />
                          <linearGradient id="linear-gradient-14" x1="135.51" y1="5807.01" x2="229.69" y2="5807.01"
                            gradientTransform="translate(80.5 323) scale(1 0.08)" xlink:href="#radial-gradient" />
                          <linearGradient id="linear-gradient-15" x1="88.49" y1="563.38" x2="256.96" y2="563.38"
                            gradientTransform="translate(14.3 18.4)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#ffb594" />
                            <stop offset="1" stop-color="#dd0f0f" />
                          </linearGradient>
                          <linearGradient id="linear-gradient-16" x1="276.5" y1="-16.82" x2="471.37" y2="239.9"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#ffffa9" />
                            <stop offset="1" stop-color="#ffc02f" />
                          </linearGradient>
                          <linearGradient id="linear-gradient-17" x1="355.08" y1="-14.53" x2="417.33" y2="45.5"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#eee" />
                            <stop offset="1" stop-color="#a8adb4" />
                          </linearGradient>
                          <linearGradient id="linear-gradient-18" x1="341.9" y1="-6.03" x2="404.15" y2="53.99"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-19" x1="355.08" y1="2.31" x2="417.33" y2="62.33"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-20" x1="341.9" y1="10.8" x2="404.15" y2="70.82"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-21" x1="355.08" y1="19.31" x2="417.33" y2="79.33"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-22" x1="341.9" y1="27.8" x2="404.15" y2="87.83"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-23" x1="355.08" y1="36.14" x2="417.33" y2="96.17"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-24" x1="341.9" y1="44.63" x2="404.15" y2="104.66"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-25" x1="355.08" y1="52.97" x2="417.33" y2="113"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-26" x1="341.9" y1="61.47" x2="404.15" y2="121.49"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-27" x1="355.08" y1="69.81" x2="417.33" y2="129.83"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-28" x1="341.9" y1="78.3" x2="404.15" y2="138.32"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-29" x1="355.08" y1="86.81" x2="417.33" y2="146.83"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-30" x1="341.9" y1="95.3" x2="404.15" y2="155.33"
                            xlink:href="#linear-gradient-17" />
                          <linearGradient id="linear-gradient-31" x1="355.08" y1="103.64" x2="417.33" y2="163.67"
                            xlink:href="#linear-gradient-17" />
                        </defs>
                        <title>HRMS- illustrations</title>
                        <g>
                          <rect class="cls-1" x="610.1" y="433" width="213.6" height="258.48" rx="10.8" ry="10.8"
                            transform="translate(270.6 -616.9) rotate(30)" />
                          <rect class="cls-2" x="635.9" y="450.6" width="184.5" height="184.46" rx="11.4" ry="11.4"
                            transform="translate(262.4 -625.1) rotate(30)" />
                          <path class="cls-3" d="M703.9,635.3l-90-52c-5.8-2.8-9.3-9.8-6.1-13l90.1-39.5Z"
                            transform="translate(-106.6 -333.8)" />
                          <path class="cls-4"
                            d="M751.1,662.5L661.9,611l105.2-74.3-2.3,123.3C764.6,665.6,755.8,665.3,751.1,662.5Z"
                            transform="translate(-106.6 -333.8)" />
                          <circle class="cls-5" cx="707.4" cy="461.9" r="17.5"
                            transform="translate(-152.9 509.8) rotate(-60)" />
                        </g>
                        <g>
                          <rect class="cls-6" x="161.9" y="514.8" width="213.6" height="258.48" rx="10.6" ry="10.6"
                            transform="translate(-302.9 -210.1) rotate(-19.1)" />
                          <rect class="cls-7" x="164.9" y="601.4" width="87.9" height="7.59" rx="3.8" ry="3.8"
                            transform="translate(-293.5 -231.8) rotate(-19.1)" />
                          <rect class="cls-8" x="169.2" y="613.7" width="87.9" height="7.59" rx="3.8" ry="3.8"
                            transform="translate(-297.3 -229.7) rotate(-19.1)" />
                          <rect class="cls-9" x="173.5" y="626" width="87.9" height="7.59" rx="3.8" ry="3.8"
                            transform="matrix(0.94, -0.33, 0.33, 0.94, -301.05, -227.67)" />
                          <rect class="cls-10" x="181.2" y="640.8" width="175.9" height="7.59" rx="3.8" ry="3.8"
                            transform="translate(-303.1 -209.9) rotate(-19.1)" />
                          <rect class="cls-11" x="188" y="663.5" width="141.6" height="7.59" rx="3.8" ry="3.8"
                            transform="translate(-311 -212) rotate(-19.1)" />
                          <rect class="cls-12" x="195.4" y="689.1" width="88.7" height="7.59" rx="3.8" ry="3.8"
                            transform="translate(-320.5 -216.8) rotate(-19.1)" />
                          <rect class="cls-13" x="199.3" y="693.1" width="174.1" height="7.59" rx="3.8" ry="3.8"
                            transform="translate(-319.2 -201.4) rotate(-19.1)" />
                          <rect class="cls-14" x="205.2" y="710.1" width="174.1" height="7.59" rx="3.8" ry="3.8"
                            transform="translate(-324.5 -198.5) rotate(-19.1)" />
                          <rect class="cls-15" x="211.1" y="727.1" width="174.1" height="7.59" rx="3.8" ry="3.8"
                            transform="translate(-329.7 -195.6) rotate(-19.1)" />
                          <rect class="cls-16" x="220.4" y="764.5" width="49.6" height="7.59" rx="3.8" ry="3.8"
                            transform="translate(-344.9 -210.9) rotate(-19.1)" />
                          <rect class="cls-17" x="110.7" y="561.5" width="88.7" height="40.43"
                            transform="translate(-288.7 -250.8) rotate(-19.1)" />
                          <text class="cls-18" transform="translate(25.3 267.6) rotate(-19.1)">PDF</text>
                        </g>
                        <g>
                          <rect class="cls-19" x="264.7" width="213.6" height="216.68" rx="10.6" ry="10.6" />
                          <rect class="cls-20" x="350.8" width="41.4" height="132.4" />
                          <rect class="cls-21" x="367" y="5" width="22.1" height="5.34" />
                          <rect class="cls-22" x="353.9" y="13.5" width="22.1" height="5.34" />
                          <rect class="cls-23" x="367" y="21.8" width="22.1" height="5.34" />
                          <rect class="cls-24" x="353.9" y="30.3" width="22.1" height="5.34" />
                          <rect class="cls-25" x="367" y="38.8" width="22.1" height="5.34" />
                          <rect class="cls-26" x="353.9" y="47.3" width="22.1" height="5.34" />
                          <rect class="cls-27" x="367" y="55.7" width="22.1" height="5.34" />
                          <rect class="cls-28" x="353.9" y="64.2" width="22.1" height="5.34" />
                          <rect class="cls-29" x="367" y="72.5" width="22.1" height="5.34" />
                          <rect class="cls-30" x="353.9" y="81" width="22.1" height="5.34" />
                          <rect class="cls-31" x="367" y="89.3" width="22.1" height="5.34" />
                          <rect class="cls-32" x="353.9" y="97.8" width="22.1" height="5.34" />
                          <rect class="cls-33" x="367" y="106.3" width="22.1" height="5.34" />
                          <rect class="cls-34" x="353.9" y="114.8" width="22.1" height="5.34" />
                          <rect class="cls-35" x="367" y="123.2" width="22.1" height="5.34" />
                        </g>
                      </svg>
                    </div>
                    <div class="desc">
                      Drag & Drop Your files here
                    </div>


                    <!-- <div class="browse">
                            Click here to browse
                          </div> -->
                  </div>
                  <output id="list"></output>
                  <input id="file" multiple="true" name="file" type="file"  (change)="handleFilesInput($event.target.files)"  [(ngModel)]="fileq" />
                </div>
                <!-- <button type="button" class="btn btn-outline-primary btn-sm mt-3">Upload
                        <i class="fa fa-upload" aria-hidden="true"></i>
                      </button> -->
              </div>

              <div class="propicbox">
                <div class="form-group">
                  <label>Employee Photo</label>
                  <div class="profileview">
                    <img src='{{AssetsPath}}/propic.jpg' alt="Avatar">

                  </div>
                  <div class="mb-2 mt-2">
                    <label>Edit profile picture</label><br>
                  <input type="file" id="fileload" (change)="handleImageFilesInput($event.target.files)"  name="files" title="Load File"  accept="image/*" />
                
                </div>
                </div>
              </div>

             
              <div class="form-row">
                <div class="col">
                </div>
                <div class="col">
                  <button class="btn btn-primary float-right" [disabled]='(f.invalid || errflag)'
                    >Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>