<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-hand-o-up bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Attendance Request <div class="page-title-subheading"> Here you can Apply for Your all Attendance
                  request.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="white-bg">


          <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Attendance Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-profile" aria-selected="false">Request List</a>
            </li>

          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row justify-content-center">
                <div class="col-md-12">
                    <button type="button" class="btn opencalendar btn-primary" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                </div>
                <div class="col-md-4">
                    
                  <div class="row">
                    <!-- ==================FIRST HALF V================= -->
                    <div class="col">

                      <div>
                        <label>Application Type</label>
                        <select name="leavetype" [(ngModel)]="leavetype" (change)="ChangingValue($event)"
                          form="leavetype" class="form-control" style="font-size: 12px;">
                          <option value="">Select</option>
                          <option *ngIf="loggedUser.permissionReq" value="PR">Permission Request</option>
                          <option *ngIf="loggedUser.lateComeAndEarlyGo" value="LTE">Late Coming & Early going</option>
                          <option *ngIf="loggedUser.missPunch" value="MP">Miss Punch</option>
                          <option *ngIf="loggedUser.onDuty" value="OD">On Duty</option>
                          <option *ngIf="loggedUser.workfromHome" value="WFH">Work From Home</option>
                          <option *ngIf="loggedUser.extraWork" value="EWR">Extra Work Request</option>
                          <!-- <option value="CO">Coff</option> -->
                        </select>

                      </div>


                      <!-- =============COFF REQ START======================== -->
                      <!--  <form *ngIf="leavetype=='CO'" name="form" (ngSubmit)='f.form.valid && onSubmitCoff(f)' #f="ngForm"
                        novalidate>
                        <div class="form-group col-md-8">
                          <label>Select Type</label>
                          <br>
                          <input type="radio" id="day" value="Full Day" name="typeOfCredit" #typeOfCredit="ngModel"
                            [(ngModel)]="coffModel.coffType" />
                          <label for="day">Full Day</label>

                          <input type="radio" id="time" value="Half Day" name="coffType" #coffType="ngModel"
                            [(ngModel)]="coffModel.coffType" required/>
                          <label for="time">Half Day </label>

                        </div>
                        <div class="form-row" *ngIf='coffModel.coffType == "Half Day"'>
                          <div class="form-group col-md-8">
                            <label>Select Type</label>
                            <br>
                            <input type="radio" id="FistHalf" value="First Half" name="halfDayType"
                              #halfDayType="ngModel" [(ngModel)]="coffModel.halfDayType" />
                            <label for="FistHalf">First Half</label>

                            <input type="radio" id="SecondHalf" value="Second Half" name="halfDayType"
                              #halfDayType="ngModel" [(ngModel)]="coffModel.halfDayType" />
                            <label for="SecondHalf">Second Half</label>
                          </div>
                          <div class="form-group col-md-12">

                            <label>Select Date<span style="color: red">*</span></label>
                            <select name="type" class="form-control" name="dateAndT"
                              [(ngModel)]="coffModel.coffCreditedId">
                              <option disabled [value]="slectecdoption">
                                select Date</option>
                              <option value="{{item.coffCreditedId}}"
                                *ngFor="let item of getHlafDayDate; let i = index;">
                                {{item.extraWorkedDay | date:'yyyy-MMM-dd'}}</option>
                            </select>
                          </div>
                          <div class="form-group col-md-12">
                            <label>For Date</label>
                            <input type="date" class="form-control" name="dateAndTimecoff"
                              [ngModel]="coffModel.dateAndTime | date:'yyyy-MM-dd'" #dateAndTimecoff="ngModel"
                              (ngModelChange)="coffDateChanged($event)" />
                          </div>

                        </div>

                        <div class="form-row" *ngIf='coffModel.coffType == "Full Day"'>
                          <div class="form-group col-md-12">
                            <label>Select Date <span style="color: red">*</span></label>
                            <select name="type" class="form-control" name="dateAndTime2"
                              [(ngModel)]="coffModel.coffCreditedId" required>
                              
                              <option hidden [value]="selectedopt">
                                select Date
                              
                              </option>

                              <option value="{{item.coffCreditedId}}"
                                *ngFor="let item of getfullDayDate; let i = index;">
                                {{item.extraWorkedDay | date:'dd-MMM-yyyy'}}

                                </option>
                                </select>
                          </div>

                          <div class="form-group col-md-12">
                            <label>For Date</label>
                            <input type="date" class="form-control" placeholder="dd-MM-yyyy, hh:mm"
                              name="coffdateAndTime" [ngModel]="coffModel.dateAndTime | date:'yyyy-MM-dd'"
                              #coffdateAndTime="ngModel" (ngModelChange)="coffDateChanged($event)" /> -->

                            <!-- <input type="date" class="form-control" placeholder="mm/dd/yyyy, hh:mm" name="dateAndTime"
                          [ngModel]="personalReqModel.dateAndTime | date:'yyyy-MM-dd'" #startdate="ngModel" (ngModelChange)="selectPRStartDate($event)"/> -->
                          <!-- </div>
                        </div>

                        <div class="form-group">
                          <label>Reason For Coff <span style="color: red">*</span></label>
                          <textarea class="form-control" id="reson" name="reson" name="reson" rows="3"
                            [(ngModel)]="coffModel.reson" #reson="ngModel" required></textarea>
                          <div class="help-block" *ngIf="reson.errors?.required && (reson.touched || f.submitted)">
                            <small style="color: red">Reason For C-off required</small></div>

                        </div>

                        <div class="form-group">
                          <button type="submit" class="btn btn-primary" [disabled]='f.invalid'>Apply</button>
                          &nbsp;
                          <button type="reset" class="btn btn-info" (click)="resetCoff()">Reset</button>
                        </div>
                      </form>  -->
                      <!-- =============COFF REQ END======================== -->


                      <!-- =============EXTRA WORK REQ START======================== -->
                      <form *ngIf="leavetype=='EWR'" name="form" (ngSubmit)='FEW.form.valid && onSubmitExtraWork(FEW)'
                        #FEW="ngForm" novalidate>
                        <div class="form-row">
                          <div class="form-group col-md-12">
                            <label>Date <span style="color: red">*</span></label>
                            <!-- <input type="date" class="form-control"  name="startdate"
                          [ngModel]="extraWorkModel.workingDate | date:'dd-MM-yyyy' " #startdate="ngModel"
                            /> -->
                            <!-- <input type="date" class="form-control" placeholder="dd-MM-yyyy, hh:mm" name="startdate"
                          [ngModel]="extraWorkModel.workingDate | date:'yyyy-MM-dd'" #startdate="ngModel"/> -->
                            <input type="date" class="form-control" placeholder="mm/dd/yyyy, hh:mm" name="startdate"
                              [ngModel]="extraWorkModel.workingDate | date:'yyyy-MM-dd'" #startdate="ngModel"
                              (ngModelChange)="ectraworkDate($event)" />
                          </div>
                          <!-- <div class="help-block" style="margin-top:-23px" *ngIf="startdate.errors?.required && (startdate.touched || f.submitted)"> <small style="color: red">Date required</small></div> -->

                        </div>



                        <div class="form-group">
                          <label for="shiftdetails">Select Shift</label><span style="color: red">*</span>
                          <select name="shiftdetails" form="shiftdetails" [(ngModel)]="extraWorkModel.shiftMasterId"
                            class="form-control form-control-sm" required>
                            <option hidden [value]="slectecdoptionExtraWork">Select</option>
                            <option value="{{addshiftgroup.shiftMasterId}}"
                              *ngFor="let addshiftgroup of Shiftmastergroupdata; let i = index;">
                              {{addshiftgroup.shiftName}}</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label>Reason For Extra Work <span style="color: red">*</span></label>

                          <textarea class="form-control" id="reson" name="reson" rows="3"
                            [(ngModel)]="extraWorkModel.resone" #reson="ngModel" required></textarea>
                          <div class="help-block" *ngIf="reson.errors?.required && (reson.touched)"> <small
                              style="color: red">Reason For Extra Work required</small></div>

                        </div>
                        <div class="form-group">
                          <button type='submit' class="btn btn-primary" [disabled]='FEW.invalid'>Apply</button> &nbsp;
                          <button type="reset" (click)='resetExtraWork()' class="btn btn-info">Reset</button>
                        </div>


                      </form>
                      <!-- =============EXTRA WORK REQ END======================== -->



                      <!-- =============PERMISSION REQUEST START======================== -->
                      <form *ngIf="leavetype=='PR'" name="form" (ngSubmit)='ff.form.valid && onSubmit(ff)' #ff="ngForm"
                        novalidate>
                        <div class="form-row">
                          <div class="form-group col-md-12">
                            <label>Start Date </label> <span style="color: red">*</span>
                            <input type="date" class="form-control" placeholder="mm/dd/yyyy, hh:mm" name="startdate"
                              [ngModel]="personalReqModel.dateAndTime | date:'yyyy-MM-dd'" min="{{personalReqModel.dateAndTime | date:'yyyy-MM-dd'}}" max="{{personalReqModel.dateAndTime | date:'yyyy-MM-dd'}}"#startdate="ngModel"
                              (ngModelChange)="selectPRStartDate($event)" required />
                          </div>
                          <!-- | date:'yyyy-MM-dd' -->
                        </div>


                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>Start Time (24 Hrs) <span style="color: red">*</span></label>

                            <!-- <md-time-picker ng-model="time" message="message" read-only="readonly" [(ngModel)]='personalReqModel.startTime' mandatory="required" no-meridiem no-auto-switch></md-time-picker> -->
                            <input type="time" class="form-control"  placeholder="--:--" id="24h" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" #startTime='ngModel'
                              [(ngModel)]='personalReqModel.startTime' (ngModelChange)="prStartTimeChanged($event)" name="starttime" required />
                              <div class="help-block" *ngIf="startTime.errors?.pattern && (startTime.touched || ff.submitted)">
                                <small style="color: red">Enter valid time in 24hr format ex: 1:00 </small></div>
                                <div class="help-block" *ngIf="startTime.errors?.required && (startTime.touched || ff.submitted)">
                                  <small style="color: red">Start time required </small></div>
                          </div>
                          <div class="form-group col-md-6">
                            <label>End Time  (24 Hrs)  <span style="color: red">*</span></label>

                            <input type="time" class="form-control"  placeholder="--:--" id="24h" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" #endTime='ngModel'
                              [(ngModel)]='personalReqModel.endTime' name="endTime" required />
                              <div class="help-block" *ngIf="endTime.errors?.pattern && (endTime.touched || ff.submitted)">
                                <small style="color: red">Enter valid time in 24hr format ex: 1:00 </small></div>
                                <div class="help-block" *ngIf="endTime.errors?.required && (endTime.touched || ff.submitted)">
                                  <small style="color: red">End time required </small></div>
                        
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Reason For permission <span style="color: red">*</span></label>
                          <textarea class="form-control" id="reson" name="reson" rows="3"
                            [(ngModel)]="personalReqModel.reson" #reson="ngModel" required></textarea>
                          <div class="help-block" *ngIf="reson.errors?.required && reson.touched"> <small
                              style="color: red">Reason For permission required</small></div>


                             
                        </div>
                        <div class="form-group">
                          <button type="submit" [disabled]="ff.invalid" class="btn btn-primary">Apply</button> &nbsp;
                          <button type="reset" (click)="resetPermission()" class="btn btn-info">Reset</button>
                        </div>
                        <!-- =============PERMISSION REQUEST END======================== -->

                      </form>


                      <!-- =============Late Coming & Early going Start======================== -->

                      <form *ngIf="leavetype=='LTE'" (ngSubmit)='f1.form.valid && onSubmit1(f1)' #f1="ngForm">


                        <div class="form-group">

                          <div class="form-group row" style="margin-top: 14px;">
                            <div class="col-md-5">
                              <label>Select The Regularisation Type<span style="color: red">*</span></label>
                              <br>
                              <input type="radio" id="late_going" value="late_coming" name="requestType"
                                #requestType="ngModel" [(ngModel)]="lateearlymodel.requestType" />
                              <label for="late_going" (click)="lateEarly('late_going')">Late Coming</label>

                              <input type="radio" id="early_going" value="early_going" name="requestType"
                                #requestType="ngModel" (click)="lateEarly('early_going')"
                                [(ngModel)]="lateearlymodel.requestType" />
                              <label for="early_going">Early Going</label>
                            </div>
                            <div class="col-md-5" *ngIf="lateearlymodel.requestType=='late_coming'">
                              <div *ngIf="!flag">
                                <label>Select Late Date<span style="color: red">*</span></label>
                               
                                <br>
                                <select name="type" class="form-control" name="dateAndTime2"
                                  [(ngModel)]="lateearlymodel.dateAndTime1" required>
                                  <option hidden value="">Select</option>
                                  <option value="{{item.attenDate}}" *ngFor="let item of lateEarlyList; let i = index;">
                                    {{item.attenDate | date:'dd-MMM-yyyy'}} - {{item.checkIn | date:'HH:mm'}}</option>
                                </select>
                              </div>
                              <div *ngIf="flag">
                                <label>Select Date<span style="color: red">*</span></label>
                                <input type="date" class="form-control" name="dateAndTime1"
                                  (ngModelChange)="selectDate($event)" (click)='getdate()'
                                  [ngModel]="lateearlymodel.dateAndTime1 | date:'yyyy-MM-dd'" #dateAndTime1="ngModel"
                                  [ngClass]="{ 'is-invalid': f1.submitted && dateAndTime1.invalid }" />

                              </div>

                            </div>

                            <div class="col-md-5"  *ngIf="lateearlymodel.requestType=='early_going'">


                              <div   *ngIf="!flag">
                                <label>Select Early Going Date<span style="color: red">*</span></label>
                                <br>
                                <select name="type" class="form-control" name="dateAndTime2"
                                  [(ngModel)]="lateearlymodel.dateAndTime1" required>
                                  <option hidden value="">Select</option>
                                  <option value="{{item.attenDate}}" *ngFor="let item of earlyLateList; let i = index;">
                                    {{item.attenDate | date:'dd-MMM-yyyy'}} - {{item.checkOut | date:'HH:mm'}}</option>
                                </select>
                              </div>

                              <div *ngIf="flag">
                                <label>Select Date<span style="color: red">*</span></label>
                                <input type="date" class="form-control" name="dateAndTime1"
                                  (ngModelChange)="selectDate($event)" (click)='getdate()'
                                  [ngModel]="lateearlymodel.dateAndTime1 | date:'yyyy-MM-dd'" #dateAndTime1="ngModel"
                                  [ngClass]="{ 'is-invalid': f1.submitted && dateAndTime1.invalid }" />

                              </div>

                            </div>

                            <!-- <div class="col-md-1">
                              <button type="button" style="margin-top: 28px;" (click)="cancel()"><i
                                  class="fa fa-calendar" aria-hidden="true"></i></button>
                            </div> -->
                          </div>


                        </div>



                        <div class="form-group">
                          <label *ngIf="!lateearlymodel.requestType && leavetype=='SL'">Reason <span
                              style="color: red">*</span></label>
                          <label *ngIf="lateearlymodel.requestType=='late_coming'">Reason For Late Comming <span
                              style="color: red">*</span></label>
                          <label *ngIf="lateearlymodel.requestType=='early_going'">Reason For Early Going <span
                            style="color: red">*</span></label>
                          <textarea class="form-control" id="reson" name="reson" rows="3"
                            [(ngModel)]="lateearlymodel.reson" #reson="ngModel" required></textarea>
                          <div class="help-block" *ngIf="reson.errors?.required && (reson.touched || f1.submitted)">
                            <small style="color: red">Reason for <span *ngIf="lateearlymodel.requestType=='late_coming'">Late Comming</span> <span *ngIf="lateearlymodel.requestType=='early_going'">Early Going</span>  required</small></div>
                        </div>

                        <div class="form-group">
                          <button class="btn btn-primary" type="submit" [disabled]='f1.invalid'
                            type="submit">Apply</button> &nbsp;
                          <button class="btn btn-info" type="reset" (click)="resetLateEarly()">Reset</button>
                        </div>
                      </form>
                      <!-- =============Late Coming & Early going End======================== -->

                      <!-- =============Miss Punch Start======================== -->


                      <form *ngIf="leavetype=='MP'" (ngSubmit)="f2.form.valid && onSubmit2(f2)" #f2="ngForm">

                        <div class="form-group">

                          <div class="form-group col-md-8">
                            <label>Select Type</label>
                            <br>
                            <input type="radio" id="daymiss" value="In" name="missPunchType" #missPunchType="ngModel"
                              [(ngModel)]="misspunchmodel.requestType" (ngModelChange)="missPunchTypeChanged($event)"/>
                            <label for="daymiss">In</label>

                            <input type="radio" id="timemiss" value="Out" (ngModelChange)="missPunchTypeChanged($event)" name="missPunchType" #missPunchType="ngModel"
                              [(ngModel)]="misspunchmodel.requestType" />
                            <label for="timemiss">Out</label>

                            <input type="radio" id="bothmiss" value="Both" (ngModelChange)="missPunchTypeChanged($event)" name="missPunchType" #missPunchType="ngModel"
                              [(ngModel)]="misspunchmodel.requestType" />
                            <label for="bothmiss">Both</label>

                          </div>

                        </div>

                        <div class="form-group">

                          <div class="form-group row">

                            <div class="col-md-6" style="margin-left: 8px;" *ngIf="!flagm">
                              <label>Select Miss Punch Date</label>
                              <br>
                              <select name="type" class="form-control" (ngModelChange)="missPunchSelected($event)"
                                name="dateAndTime1" [(ngModel)]="misspunchmodel.dateAndTime1" required> 
                                <option value="">Select</option>
                                <option value="{{item.attenDate}}" *ngFor="let item of missPunchList; let i = index;">
                                  <h4 *ngIf="!item.checkIn && item.checkOut">In</h4>
                                  <h4 *ngIf="!item.checkOut && item.checkIn">Out</h4>
                                  <h4 *ngIf="!item.checkOut && !item.checkIn"></h4>
                                  {{item.attenDate | date:'dd-MMM-yyyy'}}
                                </option>
                              </select>
                            </div>
                            
                            <div class="col-md-6" style="margin-left: 8px;" *ngIf="flagm">
                              <label>Select Miss Punch Date</label>
                              <br>
                              <!-- <input name="dateAndTime1" type="date" class="form-control" [(ngModel)]="misspunchmodel.dateAndTime1"> -->

                              <input type="date" class="form-control" name="dateAndTime1"
                                (ngModelChange)="selectmissDate($event)" [disabled]="isMissPunchEdit" max="{{todaysDate| date:'yyyy-MM-dd'}}"
                                [ngModel]="misspunchmodel.dateAndTime1 | date:'yyyy-MM-dd'" #dateAndTime1="ngModel" />
                            </div>

                            <div class="col-md-1" *ngIf="!isMissPunchEdit">
                              <button type="button" class="btn btn-info calbtn" style="margin-top: 28px;" (click)="selectmisspDatecancel()"><i
                                  class="fa fa-calendar" aria-hidden="true"></i></button>
                            </div>
                          </div>
                          
                        </div>

                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <!-- <label>Date</label> -->
                            <label>In Time(HH:MM)</label>

                            <!-- <md-time-picker ng-model="time" message="message" read-only="readonly" [(ngModel)]='personalReqModel.startTime' mandatory="required" no-meridiem no-auto-switch></md-time-picker>
                         -->

                            <input type="time"  placeholder="--:--" id="24h" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" [disabled]="misspunchmodel.requestType == 'Out'" class="form-control" #inTime='ngModel'
                              [(ngModel)]='misspunchmodel.startTime' name="inTime" [required]="misspunchmodel.requestType !='Out'" />
                              <div class="help-block" *ngIf="inTime.errors?.pattern && (inTime.touched || f2.submitted)">
                                <small style="color: red">Enter valid time in 24hr format ex: 1:00 </small></div>
                          </div>
                          
                          <div class="form-group col-md-6">
                            <label>Out Time(HH:MM)</label>

                            <input type="time" [disabled]="misspunchmodel.requestType == 'In'"  placeholder="--:--" id="24h" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" class="form-control" #outTime='ngModel'
                              [(ngModel)]='misspunchmodel.endTime' name="outTime" [required]="misspunchmodel.requestType !='In'" />
                              <div class="help-block" *ngIf="outTime.errors?.pattern && (outTime.touched || f2.submitted)">
                                <small style="color: red">Enter valid time in 24hr format ex: 1:00 </small></div>
                          </div>
                        </div>  


                        <div class="form-group">
                          <label>Reason For Miss Punch <span style="color: red">*</span></label>
                          <textarea class="form-control" id="reson" name="reson" name="reson" rows="3"
                            [(ngModel)]="misspunchmodel.reson" #reson="ngModel" required></textarea>
                          <div class="help-block" *ngIf="reson.errors?.required && (reson.touched )"> <small
                              style="color: red">Reason For Miss Punch required</small></div>

                        </div>

                        <div class="form-group">
                          <button class="btn btn-primary" type="submit" [disabled]='f2.invalid'>Apply</button>
                          &nbsp;
                          <button class="btn btn-info" type="reset" (click)="resetMissPunch()">Reset</button>
                        </div>

                      </form>
                      <!-- =============Miss Punch End======================== -->
                      <!-- =============On Duty Starts======================== -->
                      <form *ngIf="leavetype=='OD'" (ngSubmit)='f3.form.valid && onSubmit3(f3)' #f3="ngForm">


                        <div class="form-group">

                          <div class="form-group col-md-8">
                            <label>Select Type</label>
                            <br>
                            <input type="radio" id="day" value="Day" name="requestType" #requestType="ngModel"
                              [(ngModel)]="ondutymodel.requestType" />
                            <label for="day">Day</label>

                            <input type="radio" id="time" value="Time" name="requestType" #requestType="ngModel"
                              [(ngModel)]="ondutymodel.requestType" />
                            <label for="time">Time</label>

                          </div>

                        </div>
                        <div *ngIf="ondutymodel.requestType == 'Day'">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label>Start Date</label>
                              <input type="date" class="form-control" name="fromDate"
                                [ngModel]="ondutymodel.fromDate | date:'yyyy-MM-dd'" #fromDate="ngModel"
                                (ngModelChange)="selectODStartDate($event)" required/>
                            </div>
                            <div class="form-group col-md-6">
                              <label>End Date</label>
                              <input type="date" class="form-control" name="toDate"
                                [ngModel]="ondutymodel.toDate | date:'yyyy-MM-dd'" min="{{ondutymodel.fromDate| date:'yyyy-MM-dd'}}" #toDate="ngModel"
                                (ngModelChange)="selectODEndDate($event)" required/>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="ondutymodel.requestType == 'Time'">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label>Select Date</label>
                              <input type="date" class="form-control" name="fromDate"
                                [ngModel]="ondutymodel.fromDate | date:'yyyy-MM-dd'" #fromDate="ngModel"
                                (ngModelChange)="selectODStartDate($event)" required/>
                            </div>

                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">

                              <label>From Time(HH:MM)</label>

                              <input type="time" class="form-control" #startTime='ngModel'
                                [(ngModel)]='ondutymodel.startTime' placeholder="--:--" id="24h" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" (ngModelChange)="onDutyStartTimeChanged($event)" name="starttime" required>
                                <div class="help-block" *ngIf="startTime.errors?.pattern && (startTime.touched || f3.submitted)">
                                  <small style="color: red">Enter valid time in 24hr format ex: 1:00 </small></div>
                            </div>
                            <div class="form-group col-md-6">
                              <label>To Time(HH:MM)</label>

                              <input type="time"  placeholder="--:--" id="24h" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" class="form-control" #endTime='ngModel'
                                [(ngModel)]='ondutymodel.endTime'  (ngModelChange)="onDutyEndTimeChanged($event)" name="endTime" required/>
                                <div class="help-block" *ngIf="endTime.errors?.pattern && (endTime.touched || f3.submitted)">
                                  <small style="color: red">Enter valid time in 24hr format ex: 1:00 </small></div>
                        
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Reason For On Duty <span style="color: red">*</span></label>
                          <textarea class="form-control" id="reson" name="reson" rows="3"
                            [(ngModel)]="ondutymodel.reson" #reson="ngModel" required></textarea>
                          <div class="help-block" *ngIf="reson.errors?.required && (reson.touched || f3.submitted)">
                            <small style="color: red">Reason For On Duty required</small></div>

                        </div>
                        <!-- <div class="form-group">
                      <div class="help-block possibilities-error"> <small
                        style="color: red">Od Not Applied</small></div>
                    </div> -->
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary" [disabled]='f3.invalid'>Apply</button> &nbsp;
                          <button type="reset" class="btn btn-info" (click)="resetOnDuty()">Reset</button>
                        </div>
                        <!-- =============On Duty Starts======================== -->

                      </form>



                      <form *ngIf="leavetype=='WFH'" (ngSubmit)='f4.form.valid && onSubmit4(f4)' #f4="ngForm">
                        <!-- =============Work From Home Starts======================== -->

                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>From Date<span style="color: red"> *</span></label>
                            <input type="date" class="form-control" name="forDate"
                              [ngModel]="workfrommodel.forDate | date:'yyyy-MM-dd'" #forDate="ngModel" max="{{todaysDate | date:'yyyy-MM-dd'}}"
                              (ngModelChange)="selectStartDate($event)"  required >
                              <div class="help-block" *ngIf="forDate.errors?.required && (forDate.touched || f4.submitted)">
                                <small style="color: red" >Start Date For Work From Home required</small></div>
                          </div>
                          <div class="form-group col-md-6">
                            <label>To Date <span style="color: red"> *</span></label>
                            <input type="date" class="form-control" name="toDate"
                              min="{{workfrommodel.forDate | date:'yyyy-MM-dd'}}"
                              max="{{todaysDate | date:'yyyy-MM-dd'}}"
                              [ngModel]="workfrommodel.toDate | date:'yyyy-MM-dd'" #toDate="ngModel"
                              (ngModelChange)="selectEndDate($event)"  required >
                              <div class="help-block" *ngIf="toDate.errors?.required && (toDate.touched || f4.submitted)">
                                <small style="color: red">To Date For Work From Home required</small></div>
                          </div>
                        </div>
                        <!-- <div class="form-row">
                        
                      </div> -->
                        <div class="form-group">
                          <label>Reason For Work From Home <span style="color: red">*</span></label>
                          <textarea class="form-control" id="reson" name="reson" rows="3"
                            [(ngModel)]="workfrommodel.reson" #reson="ngModel" required></textarea>
                          <div class="help-block" *ngIf="reson.errors?.required && (reson.touched || f4.submitted)">
                            <small style="color: red">Reason For Work From Home required</small></div>
                        </div>

                        <div class="form-group" *ngIf ="isWorkFromHomeEdit ==false;">
                          <button class="btn btn-primary" [disabled]='f4.invalid' type="submit">Apply</button> &nbsp;
                        
                          <button class="btn btn-info" type="reset"  (click)="resetWorkFromHome()">Reset</button>
                        </div>
                        <div class="form-group" *ngIf ="isWorkFromHomeEdit ==true"
                        >
                          <button class="btn btn-primary" [disabled]='f4.invalid' type="submit">Apply</button> &nbsp;
                        
                          <button class="btn btn-info" type="reset" (click)="CancelWorkfromhome()">Cancel</button>
                        </div>
                        <!-- =============Work From Home Ends======================== -->

                      </form>
                    </div>

                  </div>
                </div>
                
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

              <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="row">

                    <!-- ==================SECOND HALF V================= -->
                    <div class="col-md-12">
                      <div>
                        <div class="filter">
                          <div class="row justify-content-end">

                            <div class="col-md-3">
                              <div class="form-group">
                                <form class="form-inline">
                                  From Date:
                                  <input type="date" class="form-control" name="thisdate"
                                    [ngModel]="tempModel.thisdate | date:'yyyy-MM-dd'" #thisdate="ngModel"
                                    (ngModelChange)="selectThisDate($event)" />
                                </form>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <select name="requestType" [(ngModel)]="requestType"
                                  (ngModelChange)="selectRequestType($event)" form="filter"
                                  class="form-control filter-box">
                                  <option value="" class="filter" hidden>Select Request</option>
                                  <option value="PR" (click)="getPermissionRequestList()">Permission Request</option>
                                  <option value="LT">Late Coming & Early going</option>
                                  <option value="MP">Miss Punch</option>
                                  <option value="OD">On Duty</option>
                                  <option value="WFH">Work From Home</option>
                                  <option value="EWR">Extra Work Request</option>
                                  <!-- <option value="CO">Coff</option> -->
                                </select>
                              </div>

                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <select [(ngModel)]="statusType" (ngModelChange)="statusTypeChanged($event)"
                                  name="filter" form="filter" class="form-control filter-box">
                                  <!-- <option value="Joint" class="filter">Filter</option> -->
                                  <!-- <option value="All">All</option> -->
                                  <option value="Approved">Approved <span class="statusofleave statusicon">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span></option>
                                  <option value="Rejected">Rejected <span class="statusofleave2 statusicon">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span></option>
                                  <option value="Pending" selected>Pending <span class="statusofleave3 statusicon">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span></option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="table-responsive" *ngIf="requestType == 'PR'">

                            <table id="CompTablePr" class="table table-striped table-bordered" style="width:100%">
                              <thead class="thead-dark">
                                <tr>
                                  <th>Sr.No</th>
                                  <th>On Date</th>
                                  <th>Start Time</th>
                                  <th>End Time</th>
                                  <th>Reason</th>
                                  <th>Status</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of PermissionRequestList; let i = index">
                                  <td>{{i+1}}</td>
                                  <td>{{item.dateAndTime | date:'dd-MMM-yyyy'}}</td>
                                  <td>{{item.startTime}}</td>
                                  <td>{{item.endTime}}</td>
                                  <td>{{item.reson}}</td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Pending'">
                                    <span class="statusofleave3" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="prWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Approved'">
                                    <span class="statusofleave" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="prApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Rejected'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="prApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Cancel'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="prApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-pencil btn" aria-hidden="true"
                                      (click)="editPermissionRequest(item)"></i> &nbsp;
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-trash btn" aria-hidden="true"
                                      data-toggle="modal" data-target="#AreYouSuredltpermission"
                                      (click)="deletePermissionRequest(item)"></i>
                                  </td>
                                  <!-- <td>
                                <i class="fa fa-pencil btn" (click)="editPermissionRequest(item)"></i>
                                <i class="fa fa-trash btn" (click)="deletePermissionRequest(item)"></i>
                              </td> -->
                                </tr>

                              </tbody>
                            </table>
                          </div>

                          <div class="table-responsive" *ngIf="requestType == 'LT'">
                            <table id="CompTableLt" class="table table-striped table-bordered" style="width:100%">
                              <thead class="thead-dark">
                                <tr>
                                  <th>Sr.No</th>
                                  <th>On Date</th>
                                  <th>Late/Early By Minutes</th>
                                  <!-- <th>End Time</th> -->
                                  <th>Reason</th>
                                  <th>Status</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of LateEarlyRequestList; let i = index">
                                  <td>{{i+1}}</td>
                                  <td>{{item.dateAndTime1 | date:'dd-MMM-yyyy'}}</td>
                                  <td *ngIf="item.requestType =='late_coming' && item.lateByMin">Late By {{item.lateByMin}} mins</td>
                                  <td *ngIf="item.requestType =='early_going' && item.earlyByMin">Early By {{item.earlyByMin}} mins</td>
                                  
                                  <!-- <td *ngIf="!item.lateEarlyStatus"></td> -->
                                  <!-- <td>remaining</td> -->
                                  <td>{{item.reson}}</td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Pending'">
                                    <span class="statusofleave3" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="LateEarlyWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Approved'">
                                    <span class="statusofleave" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="LateEarlyApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Rejected'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="LateEarlyApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Cancel'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="LateEarlyApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-pencil btn" aria-hidden="true"
                                      (click)="editLateEarlyRequest(item)" hidden></i>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-trash btn" aria-hidden="true"
                                      (click)="deleteLateEarlyRequest(item)" data-toggle="modal"
                                      data-target="#AreYouSuredltlatecoming"></i>
                                  </td>
                                </tr>

                              </tbody>
                            </table>
                          </div>

                          <div class="table-responsive" *ngIf="requestType == 'MP'">
                            <table id="CompTableMp" class="table table-striped table-bordered" style="width:100%">
                              <thead class="thead-dark">
                                <tr>
                                  <th>Sr.No</th>
                                  <!-- <th>Employee Name</th> -->
                                  <th>Applied for Date</th>
                                  <!-- <th>To Date</th> -->
                                  <th>Missed Punch</th>
                                  <!-- <th>Leave</th> -->
                                  <!-- <th>Leave type</th> -->
                                  <th>Reason</th>
                                  <th>Status</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of missPunchRequestList; let i = index">
                                  <td>{{i+1}}</td>
                                  <td>{{item.dateAndTime1 | date:'dd-MMM-yyyy'}}</td>
                                  <td>{{item.requestType}}</td>
                                  <!-- <td>remaining</td> -->
                                  <td>{{item.reson}}</td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Pending'">
                                    <span class="statusofleave3" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="missPunchWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Approved'">
                                    <span class="statusofleave" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="missPunchApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Rejected'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="missPunchApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Cancel'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="missPunchApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-pencil btn" aria-hidden="true"
                                      (click)="editMissPunchRequest(item)"></i>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-trash btn" aria-hidden="true"
                                      data-toggle="modal" data-target="#AreYouSuredltmisspunch"
                                      (click)="deleteMissPunchRequest(item)"></i>
                                  </td>
                                </tr>

                              </tbody>
                            </table>
                          </div>

                          <div class="table-responsive" *ngIf="requestType == 'OD'">
                            <table id="CompTableOd" class="table table-striped table-bordered" style="width:100%">
                              <thead class="thead-dark">
                                <tr>
                                  <th>Sr.No</th>
                                  <th>From Date</th>
                                  <th>To Date</th>
                                  <th>Reason</th>
                                  <th>Status</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of OnDutyRequestList; let i = index">
                                  <td>{{i+1}}</td>
                                  <td>{{item.fromDate | date:'dd-MMM-yyyy'}}</td>
                                  <td *ngIf="item.requestType == 'Day'">{{item.toDate | date:'dd-MMM-yyyy'}}</td>
                                  <td *ngIf="item.requestType == 'Time'">-</td>

                                  <td>{{item.reson}}</td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Pending'">
                                    <span class="statusofleave3" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="odWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Approved'">
                                    <span class="statusofleave" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="odApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Rejected'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="odApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Cancel'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="odApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>

                                  <td>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-pencil btn" aria-hidden="true"
                                      (click)="editOnDutyRequest(item)"></i>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-trash btn" aria-hidden="true"
                                      data-toggle="modal" data-target="#AreYouSuredltonduty"
                                      (click)="deleteOnDutyRequest(item)"></i>
                                  </td>

                                </tr>

                              </tbody>
                            </table>
                          </div>

                          <div class="table-responsive" *ngIf="requestType == 'WFH'">
                            <table id="CompTableWfh" class="table table-striped table-bordered" style="width:100%">
                              <thead class="thead-dark">
                                <tr>
                                  <th>Sr.No</th>
                                  <!-- <th>Employee Name</th> -->
                                  <th>From Date</th>
                                  <th>To Date</th>
                                  <!-- <th>No. of Leaves</th>
                              <th>Leave</th>
                              <th>Leave type</th> -->
                                  <th>Reason</th>
                                  <th>Status</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of workFromHomeRequestList; let i = index">
                                  <td>{{i+1}}</td>
                                  <td>{{item.forDate | date:'dd-MMM-yyyy'}}</td>
                                  <td>{{item.toDate | date:'dd-MMM-yyyy'}}</td>
                                  <!-- <td>remaining</td> -->
                                  <td>{{item.reson}}</td>

                                  <td class="statustd" *ngIf="item.finalStatus == 'Pending'">
                                    <span class="statusofleave3" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)=" workFromHomeWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Approved'">
                                    <span class="statusofleave" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="workFromHomeApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Rejected'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="workFromHomeApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view"  title="Click to view" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Cancel'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="workFromHomeApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>

                                  <td>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-pencil btn" aria-hidden="true"
                                      (click)="editWorkFromHomeRequest(item)"></i>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-trash btn" aria-hidden="true"
                                      (click)="deleteWorkFromHomeRequest(item)" data-toggle="modal"
                                      data-target="#AreYouSuredltworkfromhome"></i>
                                  </td>
                                </tr>

                              </tbody>
                            </table>
                          </div>

                          <div class="table-responsive" *ngIf="requestType == 'EWR'">
                            <table id="CompTableEwr" class="table table-striped table-bordered" style="width:100%">
                              <thead class="thead-dark">
                                <tr>
                                  <th>Sr.No</th>
                                  <!-- <th>Employee Name</th> -->
                                  <th>For Date</th>
                                  <!-- <th>To Date</th> -->
                                  <th>Reason</th>
                                  <th>Status</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of ExtraWorkRequestList; let i = index">
                                  <td>{{i+1}}</td>
                                  <td>{{item.workingDate | date:'dd-MMM-yyyy'}}</td>
                                  <!-- <td>remaining</td> -->
                                  <!-- <td>remaining</td> -->
                                  <td>{{item.resone}}</td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Pending'">
                                    <span class="statusofleave3" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="extraWorkWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Approved'">
                                    <span class="statusofleave" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="extraWorkApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Rejected'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="extraWorkApproveWorkFlow(item)">
                                      <i class="fa fa-circle status-view" aria-hidden="true" title="Click to view"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Cancel'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="extraWorkApproveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  <td>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-pencil btn" aria-hidden="true"
                                      (click)="editExtraWorkRequest(item)"></i>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-trash btn" aria-hidden="true"
                                      (click)="deleteExtraWorkRequest(item)" data-toggle="modal"
                                      data-target="#AreYouSuredltextraWorkRequest"></i>
                                  </td>
                                </tr>

                              </tbody>
                            </table>
                          </div>

                          <!-- <div class="table-responsive" *ngIf="requestType == 'CO'">
                            <table id="CompTableCo" class="table table-striped table-bordered" style="width:100%">
                              <thead class="thead-dark">
                                <tr>
                                  <th>Sr.No</th>
                                  <th>For Date</th>
                                  <th>Reason</th>
                                  <th>Status</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of CoffList; let i = index">
                                  <td>{{i+1}}</td>
                                  <td>{{item.dateAndTime | date:'dd-MMM-yyyy'}}</td>
                                
                                  <td>{{item.reson}}</td>

                                  <td class="statustd" *ngIf="item.finalStatus == 'Pending'">
                                    <span class="statusofleave3" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="coffWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Approved'">
                                    <span class="statusofleave" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="coffApproveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Rejected'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="coffApproveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Cancel'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="coffApproveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  <td>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-pencil btn" aria-hidden="true"
                                      (click)="editCoffRequest(item)"></i>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-trash btn" aria-hidden="true"
                                      (click)="deleteCoffRequest(item)" data-toggle="modal"
                                      data-target="#AreYouSuredltcOff"></i>
                                  </td>
                                </tr>

                              </tbody>
                            </table>
                          </div> -->

                          <hr>
                          <div class="statusclr">
                            <ul>
                              <li>Approved :
                                <span class="statusofleave statusicon">
                                  <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                              </li>
                              <li>Rejected :
                                <span class="statusofleave2 statusicon">
                                  <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                              </li>
                              <li>Pending :
                                <span class="statusofleave3 statusicon">
                                  <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- ==================SECOND HALF V================= -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="myModalcheckstatus">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Work Flow History</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <table id="example" class="flowhistorytable table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Level</th>
                  <!-- <th>Assigned To</th>
                          <th>Approver Code</th> -->
                  <th>Approver Name</th>
                  <th>Request Status</th>
                  <th>Approval Date</th>
                  <th>Remark</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of workFlowList ; let i = index">
                  <td>Level - {{i+1}}</td>
                  <!-- <td>Ramesh Patil</td>
                          <td>RIT-300</td> -->
                  <td>{{item.fullName}} {{item.lastName}}</td>
                  <td *ngIf="item.status == 'Pending'"><span class="badge badge-warning">{{item.status}}</span></td>
                  <td *ngIf="item.status == 'Approved'"><span class="badge badge-success">{{item.status}}</span></td>
                  <td *ngIf="item.status == 'Rejected'"><span class="badge badge-danger">{{item.status}}</span></td>
                  <td>{{item.approvalDate | date : 'dd-MMM-yyyy'}}</td>
                  <td>{{item.remark}}</td>
                </tr>

            </table>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- =============================permission Request==================== -->

  <div class="modal fade" id="AreYouSuredltpermission">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete Permission Request..??</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)='dltPermissionmodelEvent()' data-dismiss="modal"
            class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>



  <div class="modal fade" id="AreYouSuredltlatecoming">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete Late/Early Request..??</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)='dltlatecomingmodelEvent()' data-dismiss="modal"
            class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="AreYouSuredltmisspunch">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete miss punch Request..??</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)='dltmisspunchmodelEvent()' data-dismiss="modal"
            class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="AreYouSuredltonduty">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete On Duty Request..??</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)='dltondutymodelEvent()' data-dismiss="modal"
            class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>


  <div class="modal fade" id="AreYouSuredltworkfromhome">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete work from home Request..??</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)='dltwfhmodelEvent()' data-dismiss="modal"
            class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>


  <div class="modal fade" id="AreYouSuredltextraWorkRequest">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete extra work request Request..??</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)='dltEWRmodelEvent()' data-dismiss="modal"
            class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>

  <!-- <div class="modal fade" id="AreYouSuredltcOff">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete Coff Request..??</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

     
        <div class="modal-footer">
          <button type="button" (click)='dltCOffmodelEvent()' data-dismiss="modal"
            class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div> -->

  <div class="container">
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
  
          <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-area">
              <div class="row">
                <div class="col-md-8">
  
                  <div class="p-2">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="jzdbox1 jzdbasf jzdcal">
                      <div class="calendarm">
                        <div class="calendar-header">
                          <div class="row">
                            <div class="col" (click)="goToLastMonth()">
                              <button class="prevnext">
                                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                              </button>
                            </div>
                            <div class="col">
                              <div class="jzdcalt">{{currentMonth}} {{currentYear}}</div>
                            </div>
                            <div class="col" (click)="goToNextMonth()">
                              <button class="prevnext">
                                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="calendar-body">
                          <div class="grid1">
                            <div class="row">
                              <div class="col week">Su</div>
                              <div class="col week">Mo</div>
                              <div class="col week">Tu</div>
                              <div class="col week">We</div>
                              <div class="col week">Th</div>
                              <div class="col week">Fr</div>
                              <div class="col week">Sa</div>
                            </div>
                            <div class="row">
                              <div class="col date prvdate" *ngFor="let lastDay of daysInLastMonth">o</div>
                              <div class="col date" *ngFor="let days of daysInThisMonth" [ngSwitch]="days.status">
  
                                <div *ngSwitchCase="'P'" class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'">{{days.day}}</div>
                                <div class="absent" *ngSwitchCase="'A'" data-title="'{{days.checkIn }}''{{days.checkOut}}'">{{days.day}}</div>
                                <div *ngSwitchCase="'WO'" class="holidayweekoff">{{days.day}}</div>
                                <div *ngSwitchCase="'LT'" class="lateearlympunch" data-title="'{{days.checkIn}}''{{days.checkOut}}'">{{days.day}}</div>
                                <div *ngSwitchCase="'Ot'" class="other" (click)="selectDateCal(days.day)">{{days.day}}</div>
                                <div *ngSwitchCase="'LCOD'" class="leavecoffod">{{days.day}}</div>
  
                                <div *ngSwitchCase="'L'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                                </div>
                                <div *ngSwitchCase="'CO'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                                </div>
                                <div *ngSwitchCase="'OD'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                                </div>
                                <div class="holiday" title="'{{days.checkIn}}'" *ngSwitchCase="'HO'">
                                  {{days.day}}
                                </div>
                                <!-- <div *ngSwitchCase="'Ot'" class="" (click)="selectDate(days.day)">{{days.day}}</div> -->
                              </div>
                              <div class="col date nxtdate" *ngFor="let nextDay of daysInNextMonth">o</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 p-0">
  
                  <div class="abribg">
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Present:
                        <span class="stbg"><i class="fa prsent fa-circle" aria-hidden="true"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Absent:
                        <span class="stbg"><i class="fa absnt fa-circle" aria-hidden="true"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Weekly off/Holiday:
                        <span class="stbg"><i class="fa wwekoddholiday fa-circle" aria-hidden="true"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Leave/Coff/OD:
                        <span class="stbg"><i class="fa leaveodcoff fa-circle" aria-hidden="true"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Late/Early/Half Day/Short Hours/Miss Punch:
                        <span class="stbg"><i class="fa erly fa-circle" aria-hidden="true"></i></span>
                      </li>
                    </ul>
                    <div class="calbg">
                      <img src="/src/assets/calbg.png">
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>