.calbtn{
  margin-top: 24px !important;
width: 34px !important;
height: 34px !important;
border-radius: 0.2rem !important;
}

#myModalcheckstatus{
  padding-top:5%;
  background-color: rgba(34, 34, 34, 0.8);
}

.flowhistorytable{
  border: none !important;
  border-collapse: separate !important;
  border-spacing: 0 !important;
}
.flowhistorytable th, .flowhistorytable td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(255, 255, 255);
}
.form-control {
    display: block;
  
      /* border: 1.5px solid #bcdbf9 !important;
      border-radius: .625rem !important; */
  }
  select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 0px) !important;
  }
  input[type="radio"] + label {
      position: relative;
      cursor: pointer;
      margin: 10px;
      padding-left: 35px;
  }
  input[type="radio"] {
      display: none;
  }
  input[type="radio"] + label:before {
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background: #1565C0;
      -moz-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
      -webkit-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
      box-shadow: inset 0 0 0 18px #E0E0E0;
  }
  input[type="radio"] + label:before, input[type="radio"] + label:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }
  input[type="radio"]:checked + label:before {
      -moz-box-shadow: inset 0 0 0 4px #E0E0E0;
      -webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
      box-shadow: inset 0 0 0 4px #E0E0E0;
  }
  input[type="radio"]:checked + label:after {
      -moz-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
      -moz-animation: ripple 1s none;
      -webkit-animation: ripple 1s none;
      animation: ripple 1s none;
  }
  input[type="radio"] + label:after {
      top: 49%;
      left: 9px;
      width: 54px;
      height: 54px;
      opacity: 0;
      background: rgba(255, 255, 255, 0.3);
      -moz-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
      -webkit-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
  }
  
  
  


  
  hr {
      background: #e9e9e9;
      border: 0;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      height: 1px;
      margin: 0;
      min-height: 1px;
  }
  
  img {
      border: 0;
      display: block;
      height: auto;
      max-width: 100%;
  }
  
  input {
     
      color: inherit;
      font-family: inherit;
      font-size: 100%;
      line-height: normal;
      margin: 0;
  }
  
  p { margin: 0; }
  
  .clearfix { *zoom: 1; } /* For IE 6/7 */
  .clearfix:before, .clearfix:after {
      content: "";
      display: table;
  }

  
    
    .headerLine {
      width: 160px;
      height: 2px;
      display: inline-block;
      background: #101F2E;
    }
    
  
      .table .thead-dark th {
        color: #fff !important;
        background-color: #212529 !important;
        border-color: #32383e !important;
    }
    .statusofleave{
        color:green;
      }
      .statusofleave2{
        color:red;
      }
    
      .statusofleave3{
        color:rgb(255, 208, 0);
      }
    .statusclr{
      padding-top:0.5rem;
      float:right;
    }
      li{
        display: inline;
        padding-right:1rem;
        list-style: none;
      }
      .statusicon{
        padding-left:2px;
      }
    
      .statustd{
        text-align: center;
      }
    .absenticon{
    color:#fa4747;
    }
      .absenticon2{
    color:#ffafaf;
    }
    .absenticon3{
      color:#00ca1b;
      }
      .btn-reject {
        border-radius: 1.5px !important;
        background-image: linear-gradient(344deg, #c5414d, #6ea3eb) !important;
        background-color: none !important;
        box-shadow: 0px 9px 12px -8px #072b6b;
        border: none !important;
    }
    
    .btn-reject {
        color: #ececec;
        background-color: #ce7b92;
        border-color: #007bff;
    }
.dataTables_empty{
  text-align: center !important;
}
.possibilities-error{
  font-size: 133% !important;
}
.opencalendar{
  margin-top: 2rem;
  float: right;
  width: 38px;
  border-radius: 5px !important;
  height: 38px;
}

/* =================CALENDAR============== */
.jzdbox1 {
  /* width:95%;  */
  /* background:#332f2e;  */
  border-radius:5px; 
  overflow:hidden; 
  display:block; 
  margin-bottom:10px; 
  /* box-shadow:0 0 10px #201d1c;  */
  margin:0 auto; 
  margin-top:1rem;
}

.jzdcal {
  padding:0 10px 10px 10px; 
  box-sizing:border-box!important; 

  /* background: -webkit-linear-gradient(#172c42, #037599)!important; 
  background: -o-linear-gradient(#172c42, #037599)!important; 
  background: -moz-linear-gradient(#172c42, #037599)!important; 
  background: linear-gradient(#172c42, #037599)!important; */
}

.jzdcalt {
  font: 18px 'Roboto';
  width: 190px;
  font-weight: 700;
  /* color: #f7f3eb; */
  color: rgb(34, 34, 34);
  display: block;
  margin: 15px 0px 15px 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.jzdcal span {
  font:11px 'Roboto'; 
  font-weight:400; 
  /* color:#f7f3eb;  */
  color: rgb(34, 34, 34);
  text-align:center; 
  width:61px; 
  height:42px; 
  display:inline-block; 
  /* float:left;  */
  overflow:hidden; 
  line-height:40px;
}

.jzdcal .jzdb:before {
  opacity:0.3; 
  content:'o';
}

.circle {
  text-align: -webkit-center;
  width: 31px;
  border:1px solid #f7f3eb; 
  box-sizing:border-box!important; 
  border-radius:200px!important;
}
.leave {
  border:1px solid red; 
  box-sizing:border-box!important; 
  border-radius:200px!important;
}

span[data-title]:hover:after, 
div[data-title]:hover:after {
  font:11px 'Roboto'; 
  font-weight:400; 
  content:attr(data-title); 
  position:absolute; 
  margin:0 0 100px; 
  background:#282423; 
  border:1px solid #f7f3eb; 
  /* color:#f7f3eb;  */
  color: rgb(34, 34, 34);
  padding:5px; 
  z-index:9999; 
  min-width:150px; 
  max-width:150px;
}
.absent{
  text-align: -webkit-center;
  width: 31px;
  padding: 0;
  border-radius: 4rem;
  background: #fa4747;
  /* color: rgb(255, 255, 255); */
  color: rgb(255, 255, 255);
}
button:focus {
  outline: 0px dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}
  /* =================CALENDAR============== */


  .table .thead-dark th {
    /* color: #fff !important; */
    color: rgb(247, 243, 243);
    background-color: #212529 !important;
    border-color: #32383e !important;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: middle !important;
  border-top: 1px solid #dee2e6;
}
.action{
text-align: center;
}
.fa-pencil{
color:green;
}

.fa-pencil:hover{
color:rgb(5, 44, 3);
}

.fa-erase:hover{
color:rgb(24, 1, 1);
}

.btn {
padding: .275rem .35rem !important;
}
.statusofleave{
  color:green;
}
.statusofleave2{
  color:red;
}

/* .statusofleaves{
  color:rgba(0, 255, 0, 0.719);
} */
.statusofleave3{
  color:rgb(255, 208, 0);
}
.statusclr{
padding-top:0.5rem;
float:right;
}
li{
  display: inline;
  padding-right:1rem;
  list-style: none;
}
.statusicon{
  padding-left:2px;
}

.statustd{
  text-align: center;
}
.absenticon{
color:#fa4747;
}
.absenticon2{
color:#ffafaf;
}
.absenticon3{
color:#00ca1b;
}

.prevnext{
  cursor: pointer;
  padding: 1rem !important;
  font-size: 22px;
  /* color: white; */
  color: rgb(34, 34, 34);
  background: none;
  border: none;
}
.prevnext:hover{
color: rgb(65, 99, 173);
}

.prevnext:hover{
color: rgb(65, 99, 173);
}




/* [col-1] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 14.285714285714286%;
  width: 14.285714285714286%;
  max-width: 14.285714285714286%;
} */
.calendar-body .col {
  text-align: center;
  padding: 5px;
}
.last-month, .next-month {
  color: #999999;
  font-size: 90%;
}
.currentDate {
  font-weight:400;
  /* color:yellow; */
  color: #00abd2;
}
.calendar-header {
  /* background-color: #1a732d; */
  /* background: linear-gradient(#172c42, #037599)!important; */
  /* color: #FFFFFF; */
  color: rgb(34, 34, 34);
}
.event-bullet {
  margin: 2px auto;
  height: 5px;
  width: 5px;
  background-color: green;
  border-radius: 30px;
}
.selected-date {
  width: 20px;
  height: 2px;
  background-color: blue;
}
.unselected-date {
  border: none;
}
/* .calendar-body {
  .grid {
    padding: 0;
  }
  .col:last-child {
    border-right: none;
  }
  .calendar-weekday, .calendar-date {
    text-align: center;
    margin: 0;
  }
  .calendar-weekday {
    font-weight: bold;
    border-bottom: solid 1px #1a732d;
    background-color: #26ab56;
  }
  .calendar-date {
    border-top: solid 1px #1a732d;
    border-bottom: solid 1px #1a732d;
  }
} */
.calendarm{
  padding:0 10px 10px 10px; 
  box-sizing:border-box!important; 
  /* background:#172c42; 
  color: rgb(34, 34, 34); */
  /* background: -webkit-linear-gradient(#172c42, #037599)!important; 
  background: -o-linear-gradient(#172c42, #037599)!important; 
  background: -moz-linear-gradient(#172c42, #037599)!important; 
  background: linear-gradient(#172c42, #037599)!important; */
}
/* .calendar-body {

  background: linear-gradient(#172c42, #037599)!important;
} */
.calendar-body .grid1{
  padding: 0;
}
.calendar-body .col:last-child {
  border-right: none;
}
.calendar-body .calendar-weekday, .calendar-date {
  text-align: center;
  margin: 0;
}
.calendar-body .calendar-weekday {
  border-bottom: solid 1px #1a732d;
  /* background-color: #26ab56; */
  /* background: linear-gradient(#172c42, #037599)!important; */
}
.calendar-body .calendar-date {
  border-top: solid 1px #1a732d;
  border-bottom: solid 1px #1a732d;
}
.col.date{
  text-align: -webkit-center;
  /* line-height: 30px; */
  font-weight: 600;
  height: 45px;
  font-size:11px 'Roboto';
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 14.285714285714286%;
  width: 14.285714285714286%;
  max-width: 14.285714285714286%;
  /* color: #f7f3eb; */

  color: rgb(34, 34, 34);
}
.col.week{
  /* color: #f7f3eb; */
  color: rgb(34, 34, 34);
}
.calendar-body .col {
      text-align: center;
      padding: 5px;
    }

    .prvdate, .nxtdate{
      color: rgba(148, 148, 148, 0.315) !important;
    }
.present{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
background: rgb(180, 255, 170);
}

.other{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;

}
.lateearlympunch{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
background: rgb(255, 140, 230);
}
.leavecoffod{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
color:white;
background: rgb(67, 111, 253);
}

.holiday{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
/* color:white; */
background: #87ceeb !important;
}
.od{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
background: skyblue;
}
.holidayweekoff{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
background: rgb(255, 229, 82);
}
.absent{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
color:white;
background: rgb(255, 79, 79);
}

.onDuty{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
background: #fd8200;
}

.holiday{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
background: skyblue;
}

.prsent{
color: rgb(180, 255, 170);
}
.absnt{
color: rgb(255, 79, 79);
}
.erly{
color: rgb(255, 140, 230);
}
.wwekoddholiday{
color: rgb(255, 229, 82);
}
.lve{
color: rgb(255, 140, 230);
}
.hlf{
color: rgb(255, 140, 230);
}
.misspnch{
color: rgb(255, 140, 230);
}
.leaveodcoff{
color: rgb(67, 111, 253);
}


.ods{
color: #fd8200;
}
.holidays{
color: skyblue;
}

#myModal{
  padding-top:5%;
}

.abribg{
  width:100%;
  height:100%;
  background: linear-gradient(135deg, #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius:0 .3rem .3rem 0;
}
.list-group-item{
  background: none;
  color:white
}
.calbg img{
  position: absolute;
  bottom: 0;
}
.p-0{
  padding:0 !important;
}
.status-view{
  font-size: 20px;
}