input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.table {
    border: none !important;
    border-spacing: 0 1em !important;
  }
  .table td, .table th {
    padding: .75rem;
    vertical-align: middle !important;
    border-top: 0px solid #dee2e6 !important;
  }
  tr:hover {
    background: aliceblue;
  }
  .fa-check-circle {
    font-size: 1.5rem;
    padding: 0;
    color: green;
  }
  .fa-times-circle {
    font-size: 1.5rem;
    padding: 0;
    color: rgb(173, 0, 0);
  }
  .fa-repeat{
    font-size: 1.4rem;
    padding: 0;
    color: rgb(44, 95, 206);
  }

  .table[_ngcontent-c3] .thead-dark[_ngcontent-c3] th[_ngcontent-c3] {
    color: rgb(247, 243, 243);
    background-color: #212529 !important;
    border-color: #32383e !important;
}


  