<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">

      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-briefcase bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Topup Leave Balance <div class="page-title-subheading"> Here you can Add Employees Leave Balance
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <div class="white-bg">


          <div class="row">
            <div class="col-md-12">
              <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

                <li class="nav-item">
                  <a class="nav-link active" id="extra-apply-tab" data-toggle="pill" href="#extra-apply" role="tab"
                    aria-controls="extra-apply" aria-selected="true">Apply</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="extra-list-tab" data-toggle="pill" href="#extra-list" role="tab"
                    aria-controls="extra-list" aria-selected="true" (click)="refresh_tab()">List</a>
                </li>

              </ul>
            </div>
          </div>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="extra-apply" role="tabpanel" aria-labelledby="extra-apply-tab">

              <div class="row justify-content-center">
                <div class="col-md-4">

                  <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
                    <div class="form-group">
                      <label>Employee Name <span style="color: red">*</span></label>

                     <ng-multiselect-dropdown [placeholder]="'Select Employee'" [data]="Employeedata" required
                      [(ngModel)]="topUpLeaveModel.empId" [ngModelOptions]="{standalone: true}"
                      #selectedLocation='ngModel' name='selectedLoco'
                      [settings]="dropdownSettings"
                      (onSelect)="onItemSelect($event)"
                     requried >
                    </ng-multiselect-dropdown>

                    </div>

                    <div class="form-group">
                      <label>Select Leave <span style="color: red"> *</span></label>
                      <select class="form-control form-control-sm form-select" id="leavetypeid1"   name="leavetype_id"  [(ngModel)]="leavetype_id"
                      #leave_type_id="ngModel" (ngModelChange)="selectLeaveType($event)" required aria-label="Default select example">
                        <option  selected value="" > Select Leave</option>
                        <option value="{{item.leaveId}}"  *ngFor="let item of leaveConfigList ; let i = index;">
                          {{item.leaveName}} - Balance -  {{item.currentLeaves}} 
                        </option>
                      </select>

                      <div class="help-block" *ngIf="leave_type_id.errors?.required && (leave_type_id.touched)"><small
                        style="color: red">Please Select Leave</small></div>
                    </div>

                    <div class="form-group">
                      <label>Select Leave Pattern <span style="color: red"> *</span></label>
                      <select  #leave_Pattern_Id="ngModel"   class="form-control form-control-sm form-select" aria-label="Default select example"
                        [(ngModel)]="topUpLeaveModel.leavePatternId"  id ="leavePatternId1"  name="leavePatternId"
                        (ngModelChange)="selectLeavePattern($event)" required>
                        <option selected value="">Select Leave Pattern</option>
                        <option value="{{item.leavePatternId}}" *ngFor="let item of leavepatternlist ; let i = index;">
                          {{item.patternName}}
                        </option>
                      </select>

                      <div class="help-block" *ngIf="leave_Pattern_Id.errors?.required && (leave_Pattern_Id.touched)"><small
                        style="color: red">Please Select Leave Pattern</small></div>
                    </div>

                    <div class="form-group">
                      <label>Top Up Balance <span style="color: red"> *</span></label>
                      <input type="number" class="form-control form-control-sm" name="topUpBal"
                        [(ngModel)]="topUpLeaveModel.topUpBal" #topUpBal='ngModel'     min="0.0000" onkeyup="if(this.value<0){this.value= this.value * -1}"    required />
                      <div class="help-block" *ngIf="topUpBal.errors?.required && topUpBal.touched">
                        <small style="color: red">Top Up Balance is required</small></div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit" [disabled]='f.invalid ' > ADD
        </button> &nbsp; &nbsp; &nbsp; <button type="reset" class="btn btn-info"
                        (click)="reset(f)">Reset</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="extra-list" role="tabpanel" aria-labelledby="extra-list-tab" >

              <div class="row justify-content-center">
                <div class="col-md-12">

                  <div class="form-group m-3 col-md-2">



                  </div>

                  <div *ngIf="dataTableFlag">

                    <table id="Business" class="table table-striped table-bordered" style="width:100%">
                      <thead class="thead-dark">
                        <tr>
                          
                          <th>Emp Id</th>
                          <th>Employee Name</th>
                          <th>Leave Name</th>
                          <th>Leave Pattern Name</th>
                          <th>Top Up Leave Balance</th>
                          <th>Date</th>
                          <th style="visibility: hidden;">Time</th>
                          </tr>
                      </thead>
                      <tbody>

                        <!-- <tr *ngFor="let data of gettopbalanceleavelist; let i = index">
                              <th>{{i+1}}</th>
                            <td>{{data.empId}}</td>
                            <td>{{data.fullName}} {{data.lastName}}</td>
                            <td>{{data.leaveName}}</td>
                            <td>{{data.patternName}}</td>
                            <td>{{data.topUpBal}}</td>
                            <td>{{data.topUpBalEntryDate }}</td>
                         </tr> -->
                      </tbody>
                    </table>

                  </div>


                </div>

              </div>
            </div>




          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
