<div class="container-fluid">
  <div class="mainwrap" style="margin-top: -30px;">

    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading" style="margin-top: 22px;">
              <div class="page-title-icon" style="width: 50px;
              height: 50px;font-size: 1.5rem;"><i class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
              <div style="line-height: normal;"> upload Document  <div class="page-title-subheadings">Here you can Upload Rejected Document</div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="whitebg w3-animate-left">
        
          <ul [ngClass]="themeColor" class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="border-top-left-radius:14px;border-top-right-radius:14px">
            <li class="nav-item" >
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" > Document Details</a>
            </li>
           
          </ul>
          <div class="row justify-content-center container" style="margin-top: 4%;">
            <div class="col-md-12">
              <div class="form-group row " style="justify-content: center;">
                <div class="col-md-4" *ngIf="aadharStatus=='rejected'">

                  <label>Adhar Card<span _ngcontent-c61="" style="color: red"> *</span></label>
                  <div class="custom-file">

                    <input type="file" class="custom-file-input" id="aadharImg" name="aadharImg"
                      [(ngModel)]="aadharImg" #aadharImgs="ngModel" required
                      (change)="handleFileInput1($event.target.files)">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                    <div *ngIf="aadharImgs.invalid && (aadharImgs.dirty || aadharImgs.touched)">
                      <div *ngIf="aadharImgs.errors.required"><small style="color: red;">Adhar is
                        Required</small></div>


                    </div>

                  </div>
                </div>
                <div class="col-md-4" *ngIf="panStatus=='rejected'">

                  <label>Pan Card <span _ngcontent-c61="" style="color: red"> *</span></label>
                  <div class="custom-file">

                    <input type="file" class="custom-file-input" id="panCardImg" name="panCardImg"
                      [(ngModel)]="panCardImg" #panCardImgs="ngModel" required
                      (change)="handleFileInput2($event.target.files)">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                    <div *ngIf="panCardImgs.invalid && (panCardImgs.dirty || panCardImgs.touched)">
                      <div *ngIf="panCardImgs.errors.required"><small style="color: red;">Pan Card is
                        Required</small></div>


                    </div>

                  </div>
                </div>
              </div>
              <div class="form-group row " style="justify-content: center;">
                <div class="col-md-4" *ngIf="policeDocStatus=='rejected'">

                  <label>Police Verification Document<span _ngcontent-c61="" style="color: red">
                      *</span></label>
                  <div class="custom-file">

                    <input type="file" class="custom-file-input" id="policeVerificationDoc"
                      name="policeVerificationDoc" [(ngModel)]="policeVerificationDoc"
                      #policeVerificationDocs="ngModel" required
                      (change)="handleFileInput3($event.target.files)">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                    <div
                      *ngIf="policeVerificationDocs.invalid && (policeVerificationDocs.dirty || policeVerificationDocs.touched)">
                      <div *ngIf="policeVerificationDocs.errors.required"><small style="color: red;">Labour
                          License is Required</small></div>


                    </div>

                  </div>
                </div>
                <div class="col-md-4" *ngIf="experienceDocStatus=='rejected'">

                  <label>Experience Certificate<span _ngcontent-c61="" style="color: red"> *</span></label>
                  <div class="custom-file">

                    <input type="file" class="custom-file-input" id="experienceLetter"
                      name="experienceLetter" [(ngModel)]="experienceLetter" #experienceLetters="ngModel"
                      required (change)="handleFileInput4($event.target.files)">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                    <div
                      *ngIf="experienceLetters.invalid && (experienceLetters.dirty || experienceLetters.touched)">
                      <div *ngIf="experienceLetters.errors.required"><small style="color: red;">Experience
                          is Required</small></div>


                    </div>

                  </div>
                </div>

              </div>
              <div class="form-group row" style="position: relative;
          left: 17%;">
             
              </div>
             
            
              <div class="form-group row" style="position: relative;
          left: 18%;">
                <div class="col-md-4">
                  <button class="btn btn-primary" (click)="updateDocument()">upload</button>
                 

                </div>


              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>