<div class="bhoechie-tab-content  white-bg" id="compmaster">
  <div class="row justify-content-center align-items-center">
    <div class="mastersheading">
      <h3>
        WEEKLY OFF CALENDAR <span class="boldmaster">MASTER</span>
      </h3>
    </div>
  </div>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">

        <form name="form" (ngSubmit)="f.form.valid " #f="ngForm" novalidate>

          <div class="form-group">
            <label>Calendar Name<span style="color: red">*</span></label>
            <input autocomplete="off" type="text" class="form-control form-control-sm" maxlength="100" (keyup)='error()'
              name="calenderName" [(ngModel)]="ClaenderMasterModel.calenderName" #calenderName="ngModel" required />
            <div class="help-block" *ngIf="calenderName.errors?.required && calenderName.touched">
              <small style="color: red">Calendar Name Required</small></div>
            <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exist </small></div>
          </div>

          <div class="form-group">
            <label>Applicable From Date <span style="color: red">*</span></label>
            <input type="date" class="form-control form-control-sm" name="applicabelFromDate"
              [ngModel]="ClaenderMasterModel.applicabelFromDate| date:'yyyy-MM-dd'" min="{{Today | date:'yyyy-MM-dd'}}" (ngModelChange)="setDate($event)"
              #applicabelFromDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && applicabelFromDate.invalid }"
              required />
            <div class="help-block"
              *ngIf="applicabelFromDate.errors?.required && (applicabelFromDate.touched || f.submitted)"><small
                style="color: red">Applicable From Date is required</small></div>
          </div>






          <div class="form-group">
            <label for="LocationID">Location<span style="color: red">*</span></label>
            <select class="form-control form-control-sm mb-4" name="LocationID" [(ngModel)]="ClaenderMasterModel.locationId "
              name="selectedLocationobj" #LocationID='ngModel'  (change)="ngValue1($event)"
              required>
              <option hidden [value]="selectUndefinedOptionValue">Select Location</option>
              <option value="{{addLocation.locationId}}" *ngFor="let addLocation of locationwisedata; let i = index;">
                {{addLocation.locationName}}</option>
            </select>
            <div class="help-block" style="margin-top: -23px"
              *ngIf="LocationID.errors?.required && LocationID.touched"><small style="color: red">Location
                Name required</small></div>
          </div>

          <div class="form-group">
            <p>Holidays <span style="color: red">*</span></p>
            <ng-multiselect-dropdown required name="selectedHoliday" [placeholder]="'Holiday'"
              [data]="allHolidayData" [(ngModel)]="ClaenderMasterModel.selectedHoliday"
              [ngModelOptions]="{standalone: true}" #selectedHoliday='ngModel' [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
              [ngClass]="{'is-invalid':f.submitted && selectedHoliday.length>=0}" (onDeSelect)="OnItemDeSelect($event)"
              (onDeSelectAll)="onDeSelectAll($event)">
            </ng-multiselect-dropdown>
            <div class="help-block" *ngIf="!ClaenderMasterModel.selectedHoliday.length && (selectedHoliday.touched)">
              <small style="color: red">Calendar Name Required</small></div>
          </div>

          <!-- <div class="form-group">
            <label for="ParentEmpID">Select Employee Type <span style="color: red">*</span></label>
            <select class="form-control form-control-sm mb-4" name="ParentEmpID" [(ngModel)]="selectedEmpTypeObj"
              #ParentEmpID='ngModel' (change)="EmpValue($event)"
              [ngClass]="{ 'is-invalid': f.submitted && ParentEmpID.invalid }" required>
              <option hidden [value]="selectUndefinedOptionValue"> Select Employee Type</option>
              <option value="{{subEmp.empTypeId}}" *ngFor="let subEmp of Employeedataall; let i = index;">
                {{subEmp.empTypeName}}</option>
            </select>
            <div class="help-block" style="margin-top: -23px"
              *ngIf="ParentEmpID.errors?.required && (ParentEmpID.touched || f.submitted)"><small style="color: red">
                Employee Type required</small></div>
          </div> -->


          <div class="form-group">
            <label>Select Weekly Number<span style="color: red">*</span></label>
            <select placeholder="select Weekly Off" name="weeklyoff" #week='ngModel' [(ngModel)]='weeklyoff'
              form="weeklynumber" class="form-control form-control-sm" required>
              <option selected disabled value="Select Weekly Number">Select Weekly Number</option>
              <option value="All"> All</option>
              <option value="First"> First</option>
              <option value="Second"> Second</option>
              <option value="third"> Third</option>
              <option value="Fourth"> Fourth</option>
              <option value="Fifth"> Fifth</option>
              <option value="Fifth"> Sixth</option>
            </select>
            <!-- <div class="help-block" *ngIf="week.errors?.required && week.touched"><small
                style="color: red">
                Weekly Number Required</small></div> -->
            <div class="help-block" *ngIf="week.errors?.required && week.touched"><small
              style="color: red">
              Weekly Number Required</small></div>
          </div>

          <label>Select Week Day <span style="color: red">*</span></label>
          <!-- <div class="form-group">
            <ng-multiselect-dropdown name="weekSelectOff" [placeholder]="'Select Week Day'" [data]="weeklyofarry"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="selctWeeklyOff" (click)="selectClickCategory()" [settings]="dropdownSet"
              (onSelect)="onItemSelec($event)" (onDeSelectAll)="onDeSelecAll($event)" (onSelectAll)="onSelecAll($event)"
              (onDeSelect)="OnItemDeSelec($event)" #selectedHoliday="ngModel">
            </ng-multiselect-dropdown>
            <div class="help-block" *ngIf="!selctWeeklyOff.length && weeklyFlag"> 
              <small style="color: red">week day is required </small>
            </div>
 
          </div> -->

          <!-- <div class="form-group">
            <ng-multiselect-dropdown name="weekSelectOff" [placeholder]="'Select Week Day'" [data]="weeklyofarry"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="ClaenderMasterModel.finallist" (click)="selectClickCategory()" [settings]="dropdownSet"
              (onSelect)="onItemSelec($event)" (onDeSelectAll)="onDeSelecAll($event)" (onSelectAll)="onSelecAll($event)"
              (onDeSelect)="OnItemDeSelec($event)" #selectedHoliday="ngModel">
            </ng-multiselect-dropdown>
            <div class="help-block"
            *ngIf="!ClaenderMasterModel.finallist.length && weeklyFlag"> <small
               style="color: red">week day is required </small></div>
            </div> -->

          <div class="form-group">
            <select placeholder="select Week Day" name="selctWeeklyOff" #weekday='ngModel' [(ngModel)]='selctWeeklyOff'
            form="selctWeeklyOff" class="form-control form-control-sm" required>
            <option selected disabled value="Select Week Day">Select Week Day</option>
            <option value="None">None</option>
            <option value="Sunday"> Sunday</option>
            <option value="Monday"> Monday</option>
            <option value="Tuesday"> Tuesday</option>
            <option value="Wednesday"> Wednesday</option>
            <option value="Thursday"> Thursday</option>
            <option value="Friday"> Friday</option>
            <option value="Saturday">Saturday</option>
          </select>
            <div class="help-block" *ngIf="weekday.errors?.required && weekday.touched"> 
              <small style="color: red">week day is required </small>
            </div>
          </div>

          <div>
            <!-- <button type="button" class="btn btn-success mb-4" [disabled]="!weeklyoff && !ClaenderMasterModel.finallist" (click)="addThis()">Add</button> -->
            <!-- <button type="button" class="btn btn-success mb-4" [disabled]="selctWeeklyOff == 'Select Week Day' || weeklyoff == 'Select Weekly Number'" (click)="addWeeklyOff()">Add</button> -->
            <!-- <button type="button" class="btn btn-success nb-4" [disabled]="f.invalid" (click)="addWeeklyOff()">Adds</button> -->
            <!-- <button type="button" *ngIf="selctWeeklyOff.length && ClaenderMasterModel.selectedHoliday.length"
              class="btn btn-success mb-4" [disabled]="f.invalid" (click)="addThis()">Add</button>
            <button type="button" *ngIf="!selctWeeklyOff.length || !ClaenderMasterModel.selectedHoliday.length" 
              class="btn btn-success mb-4" disabled>Add</button>-->
              <!-- <button type="button" *ngIf="selctWeeklyOff.length && ClaenderMasterModel.selectedHoliday.length"
              class="btn btn-success mb-4" [disabled]="f.invalid" (click)="addWeeklyOff()">Add</button>
            <button type="button" *ngIf="!selctWeeklyOff.length || !ClaenderMasterModel.selectedHoliday.length"
              class="btn btn-success mb-4" disabled>Add</button> -->
              <button type="button" class="btn btn-success mb-4" [disabled]="selctWeeklyOff == 'Select Week Day' && weeklyoff == 'Select Weekly Number'" (click)="addWeeklyOff()">Add</button>
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead class="theadblue">
                  <tr>
                    <th>Weekly-Number</th>
                    <th>Weekly-Off</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let item of selectedFinal;let i=index'>
                    <td>{{item.weeklyoff}}</td>
                    <td>{{item.weekDay}}</td>
                    <td>
                      <i class="fa fa-pencil" (click)="editWeeklyOff(item,i)" aria-hidden="true"></i>
                      <i class="fa fa-trash"  data-toggle="modal" (click)="deleteWeek(item,i)"
                        data-target="#AreYouSuredlt2" aria-hidden="true"></i>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <!-- [disabled]="disButton" -->
          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!selectedFinal.length" (click)='postWeeklyOff(f)'>Save</button>
            &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
          </div>

        </form>
      </div>
    </div>
    <hr>
    <div *ngIf='dataTableFlag'>
      <table class="table table-striped table-bordered" id="CalComp">
        <thead class="theadblue">
          <tr>
            <th style="width:80%">
              Name
            </th>

            <th style="width:10%" class="hide-arw">
              Action
            </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of Weeklyaall">
            <td>{{i.calenderName}}</td>


            <td>
              <i class="fa fa-pencil" (click)="getObj(i)" aria-hidden="true"></i>
              <i class="fa fa-trash" (click)='dltObj(i)' data-toggle="modal" data-target="#AreYouSuredlt"
                aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>

          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want to Delete..?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="AreYouSuredlt2">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want to Delete..?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)="deleteWeekoff()" data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>



