<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12" *ngIf="isShow">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-calendar bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Yearly Calendar <div class="page-title-subheading"> Here you can see Yearly Attendance And also on
                  Right click you can apply for different Requests </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12" *ngIf="!isShow">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-calendar bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Shift Roster Calendar <div class="page-title-subheading"> Here you can see Shift Yearly Calendar
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <div class="box white-bg">
          <div class="row justify-content-between mb-3">
            <div class="col-md-3">
              <div class="btn-group btn-sm btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-sm btn-outline-primary active" (click)="yearlyCalenderData('yearCalnder')">
                  <input type="radio" name="options" id="option1" value="yearlycal" [(ngModel)]="yearlyCalender"
                    autocomplete="off" checked> Yearly Calendar
                </label>

                <label class="btn btn-sm btn-outline-primary" (click)="yearlyCalenderData('ShiftyearCalnder')">
                  <input type="radio" name="options" id="option2" value="shiftyearlycal" [(ngModel)]="yearlyCalender"
                    autocomplete="off">Shift Roster Calendar
                </label>
              </div>
            </div>

            <div class="col-md-2">
              <div class="yearchange">
                <div class="row">
                  <div class="col col-sm-3 col-xs-3" (click)="decreaseYear()">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    {{currentYear}}
                  </div>
                  <div class="col col-sm-3 col-xs-3" (click)="increaseYear()">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3" *ngIf='roleName != "User"'>
              <div class="form-group">
                <div class="form-group">
                  <!-- <label for="search">Search Employee</label> -->
                  <input class="form-control form-control-sm" type="text" [(ngModel)]="searchText" (input)="getSearchSuggestionList(searchText)"
                    autocomplete="off" placeholder="Search Employee...">

                  <div class="chatsuggestion" *ngIf="empSearchSuggestionList.length">
                    <div *ngFor="let item of empSearchSuggestionList" (click)="suggestThisEmployee(item)" class="suggestiontext">
                      <div>
                        {{item.empId}} - {{item.salutation}}.{{item.fullName}} {{item.lastName}} - {{item.deptName}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>





          </div>
          <div class="row justify-content-center" *ngIf="isShow">
            <div class="col-md-12">
              <div class="" style="overflow: auto;">
                <div class="table-wrapper">
                  <table>
                    <thead>
                      <th><i class="fa fa-calendar" aria-hidden="true"></i></th>
                      <th class="bg-secondary">1</th>
                      <th class="bg-secondary">2</th>
                      <th class="bg-secondary">3</th>
                      <th class="bg-secondary">4</th>
                      <th class="bg-secondary">5</th>
                      <th class="bg-secondary">6</th>
                      <th class="bg-secondary">7</th>

                      <th class="bg-secondary">8</th>
                      <th class="bg-secondary">9</th>
                      <th class="bg-secondary">10</th>
                      <th class="bg-secondary">11</th>
                      <th class="bg-secondary">12</th>
                      <th class="bg-secondary">13</th>
                      <th class="bg-secondary">14</th>

                      <th class="bg-secondary">15</th>
                      <th class="bg-secondary">16</th>
                      <th class="bg-secondary">17</th>
                      <th class="bg-secondary">18</th>
                      <th class="bg-secondary">19</th>
                      <th class="bg-secondary">20</th>
                      <th class="bg-secondary">21</th>

                      <th class="bg-secondary">22</th>
                      <th class="bg-secondary">23</th>
                      <th class="bg-secondary">24</th>
                      <th class="bg-secondary">25</th>
                      <th class="bg-secondary">26</th>
                      <th class="bg-secondary">27</th>
                      <th class="bg-secondary">28</th>

                      <th class="bg-secondary">29</th>
                      <th class="bg-secondary">30</th>
                      <th class="bg-secondary">31</th>

                      <!-- <tr>
                          <th></th>
                          <th>A</th>
                          <th>B</th>
                          <th>C</th>
                          <th>D</th>
                          <th>E</th>
                          <th>F</th>
                          <th>G</th>
                          <th>H</th>
                          <th>I</th>
                          <th>J</th>
                          <th>K</th>
                          <th>L</th>
                          <th>M</th>
                          <th>N</th>
                          <th>O</th>
                          <th>P</th>
                          <th>Q</th>
                          <th>R</th>
                          <th>S</th>
                          <th>T</th>
                          <th>U</th>
                          <th>V</th>
                          <th>W</th>
                          <th>X</th>
                          <th>Y</th>
                          <th>Z</th>
                        </tr> -->
                    </thead>
                    <tbody>

                      <tr>
                        <td>Jan</td>
                        <td *ngFor="let days of januaryDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)"
                            [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="Work From Home" *ngSwitchCase="'WFH'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"
                            [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Feb</td>
                        <td *ngFor="let days of februaryDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'2',days.day,days.attenDate)"
                            [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'2',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'2',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'2',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="Work From Home" *ngSwitchCase="'WFH'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'2',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'2',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"
                            [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'2',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'"
                            (contextmenu)="rightClick($event,'2',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'"
                            (contextmenu)="rightClick($event,'2',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'2',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Mar</td>
                        <td *ngFor="let days of marchDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'3',days.day,days.attenDate)"
                            [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'3',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'3',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'3',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="Work From Home" *ngSwitchCase="'WFH'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'3',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'3',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"
                            [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'3',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'"
                            (contextmenu)="rightClick($event,'3',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'"
                            (contextmenu)="rightClick($event,'3',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'3',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Apr</td>
                        <td *ngFor="let days of aprilDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'4',days.day,days.attenDate)"
                            [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'4',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'4',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'4',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="Work From Home" *ngSwitchCase="'WFH'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'4',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'4',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"
                            [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'4',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'"
                            (contextmenu)="rightClick($event,'4',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'"
                            (contextmenu)="rightClick($event,'4',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'4',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>May</td>
                        <td *ngFor="let days of mayDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'5',days.day,days.attenDate)"
                            [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'5',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'5',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'5',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="Work From Home" *ngSwitchCase="'WFH'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'5',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'5',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"
                            [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'5',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'"
                            (contextmenu)="rightClick($event,'5',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'"
                            (contextmenu)="rightClick($event,'5',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'5',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Jun</td>
                        <td *ngFor="let days of juneDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'6',days.day,days.attenDate)"
                            [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'6',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'6',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'6',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="Work From Home" *ngSwitchCase="'WFH'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'6',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'6',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"
                            [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'6',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'"
                            (contextmenu)="rightClick($event,'6',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'"
                            (contextmenu)="rightClick($event,'6',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'6',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Jul</td>
                        <td *ngFor="let days of julyDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'7',days.day,days.attenDate)"
                            [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'7',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'7',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'7',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="Work From Home" *ngSwitchCase="'WFH'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'7',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'7',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"
                            [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'7',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'"
                            (contextmenu)="rightClick($event,'7',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'"
                            (contextmenu)="rightClick($event,'7',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'7',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Aug</td>
                        <td *ngFor="let days of augustDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'8',days.day,days.attenDate)"
                            [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'8',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'8',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'8',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="Work From Home" *ngSwitchCase="'WFH'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'8',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'8',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"
                            [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'8',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'"
                            (contextmenu)="rightClick($event,'8',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'"
                            (contextmenu)="rightClick($event,'8',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'8',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Sep</td>
                        <td *ngFor="let days of septemberDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'9',days.day,days.attenDate)"
                            [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'9',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'9',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'9',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="Work From Home" *ngSwitchCase="'WFH'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'9',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'9',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"
                            [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'9',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'"
                            (contextmenu)="rightClick($event,'9',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'"
                            (contextmenu)="rightClick($event,'9',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'9',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Oct</td>
                        <td *ngFor="let days of octoberDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'10',days.day,days.attenDate)"
                            [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'10',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'10',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'10',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="Work From Home" *ngSwitchCase="'WFH'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'10',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'10',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"
                            [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'10',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'"
                            (contextmenu)="rightClick($event,'10',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'"
                            (contextmenu)="rightClick($event,'10',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'10',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Nov</td>
                        <td *ngFor="let days of novemberDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'11',days.day,days.attenDate)"
                            [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'11',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'11',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'11',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="Work From Home" *ngSwitchCase="'WFH'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'11',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'11',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"
                            [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'11',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
            <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'"
                            >
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'"
                            (contextmenu)="rightClick($event,'11',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'11',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Dec</td>
                        <td *ngFor="let days of decemberDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'12',days.day,days.attenDate)"
                            [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'12',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'12',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'12',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="Work From Home" *ngSwitchCase="'WFH'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'12',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'12',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"
                            [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'12',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'"
                            (contextmenu)="rightClick($event,'12',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'"
                            (contextmenu)="rightClick($event,'12',days.day,days.attenDate)" [shAttachMenu]="menu"
                            [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'" [shAttachMenu]="menu" [shMenuData]="data"
                            (contextmenu)="rightClick($event,'12',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>

          </div>
          <div class="row" *ngIf="isShow">
            <div class="col">
              <div class="abbrivation">
                <div class="statusclrs">
                  <ul>
                    <li>Present: <i class="fa fa-circle prsent" aria-hidden="true"></i></li>

                    <li>Absent: <i class="fa fa-circle absnt" aria-hidden="true"></i></li>

                    <li>Late/Early/Half Day/Short Hours/Miss Punch: <i class="fa fa-circle erly" aria-hidden="true"></i>
                    </li>

                    <li>Weekly off: <i class="fa fa-circle publicholy" aria-hidden="true"></i></li>

                    <li>Leave/Coff: <i class="fa fa-circle leaveodcoff" aria-hidden="true"></i></li>

                    <li>On Duty/Work From Home: <i class="fa fa-circle ods" aria-hidden="true"></i></li>

                    <li>Holiday: <i class="fa fa-circle holidays" aria-hidden="true"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <!-- NEW SHIFT CALENDAR STARTS -->



          <div class="row justify-content-center" *ngIf="!isShow">
            <div class="col-md-12">
              <div class="">
                <div class="table-wrapper">
                  <table>
                    <thead>

                      <th><i class="fa fa-calendar" aria-hidden="true"></i></th>
                      <th class="bg-secondary">1</th>
                      <th class="bg-secondary">2</th>
                      <th class="bg-secondary">3</th>
                      <th class="bg-secondary">4</th>
                      <th class="bg-secondary">5</th>
                      <th class="bg-secondary">6</th>
                      <th class="bg-secondary">7</th>

                      <th class="bg-secondary">8</th>
                      <th class="bg-secondary">9</th>
                      <th class="bg-secondary">10</th>
                      <th class="bg-secondary">11</th>
                      <th class="bg-secondary">12</th>
                      <th class="bg-secondary">13</th>
                      <th class="bg-secondary">14</th>

                      <th class="bg-secondary">15</th>
                      <th class="bg-secondary">16</th>
                      <th class="bg-secondary">17</th>
                      <th class="bg-secondary">18</th>
                      <th class="bg-secondary">19</th>
                      <th class="bg-secondary">20</th>
                      <th class="bg-secondary">21</th>

                      <th class="bg-secondary">22</th>
                      <th class="bg-secondary">23</th>
                      <th class="bg-secondary">24</th>
                      <th class="bg-secondary">25</th>
                      <th class="bg-secondary">26</th>
                      <th class="bg-secondary">27</th>
                      <th class="bg-secondary">28</th>

                      <th class="bg-secondary">29</th>
                      <th class="bg-secondary">30</th>
                      <th class="bg-secondary">31</th>
                    </thead>
                    <tbody>




                      <tr>
                        <td>Jan</td>
                        <td *ngFor="let days of januaryDaysShift" [ngSwitch]="days.status">
                          <div class="shiftname" title="shiftname" *ngSwitchCase="'yes'" title="{{days.shiftName}}"
                            [style.background-color]="days.shiftColor">
                            {{days.day}}
                            <!-- {{days.shiftColor}}  -->
                          </div>
                          <div class="notyet" *ngSwitchCase="'no'">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>


                      <tr>
                        <td>Feb</td>
                        <td *ngFor="let days of februaryDaysShift" [ngSwitch]="days.status">
                          <div class="shiftname" title="shiftname" *ngSwitchCase="'yes'" title="{{days.shiftName}}"
                            [style.background-color]="days.shiftColor">
                            {{days.day}}
                            <!-- {{days.shiftColor}} -->
                          </div>
                          <div class="notyet" *ngSwitchCase="'no'">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>Mar</td>
                        <td *ngFor="let days of marchDaysShift" [ngSwitch]="days.status">
                          <div class="shiftname" title="shiftname" *ngSwitchCase="'yes'" title="{{days.shiftName}}"
                            [style.background-color]="days.shiftColor">
                            {{days.day}}
                            <!-- {{days.shiftColor}} -->
                          </div>
                          <div class="notyet" *ngSwitchCase="'no'">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>April</td>
                        <td *ngFor="let days of aprilDaysShift" [ngSwitch]="days.status">
                          <div class="shiftname" title="shiftname" *ngSwitchCase="'yes'" title="{{days.shiftName}}"
                            [style.background-color]="days.shiftColor">
                            {{days.day}}
                            <!-- {{days.shiftColor}} -->
                          </div>
                          <div class="notyet" *ngSwitchCase="'no'">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>May</td>
                        <td *ngFor="let days of mayDaysShift" [ngSwitch]="days.status">
                          <div class="shiftname" title="shiftname" *ngSwitchCase="'yes'" title="{{days.shiftName}}"
                            [style.background-color]="days.shiftColor">
                            {{days.day}}
                            <!-- {{days.shiftColor}} -->
                          </div>
                          <div class="notyet" *ngSwitchCase="'no'">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>June</td>
                        <td *ngFor="let days of juneDaysShift" [ngSwitch]="days.status">
                          <div class="shiftname" title="shiftname" *ngSwitchCase="'yes'" title="{{days.shiftName}}"
                            [style.background-color]="days.shiftColor">
                            {{days.day}}
                            <!-- {{days.shiftColor}} -->
                          </div>
                          <div class="notyet" *ngSwitchCase="'no'">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>July</td>
                        <td *ngFor="let days of julyDaysShift" [ngSwitch]="days.status">
                          <div class="shiftname" title="shiftname" *ngSwitchCase="'yes'" title="{{days.shiftName}}"
                            [style.background-color]="days.shiftColor">
                            {{days.day}}
                            <!-- {{days.shiftColor}} -->
                          </div>
                          <div class="notyet" *ngSwitchCase="'no'">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>Aug</td>
                        <td *ngFor="let days of augustDaysShift" [ngSwitch]="days.status">
                          <div class="shiftname" title="shiftname" *ngSwitchCase="'yes'" title="{{days.shiftName}}"
                            [style.background-color]="days.shiftColor">
                            {{days.day}}
                            <!-- {{days.shiftColor}} -->
                          </div>
                          <div class="notyet" *ngSwitchCase="'no'">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>Sep</td>
                        <td *ngFor="let days of septemberDaysShift" [ngSwitch]="days.status">
                          <div class="shiftname" title="shiftname" *ngSwitchCase="'yes'" title="{{days.shiftName}}"
                            [style.background-color]="days.shiftColor">
                            {{days.day}}
                            <!-- {{days.shiftColor}} -->
                          </div>
                          <div class="notyet" *ngSwitchCase="'no'">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>


                      <tr>
                        <td>Oct</td>
                        <td *ngFor="let days of octoberDaysShift" [ngSwitch]="days.status">
                          <div class="shiftname" title="shiftname" *ngSwitchCase="'yes'" title="{{days.shiftName}}"
                            [style.background-color]="days.shiftColor">
                            {{days.day}}
                            <!-- {{days.shiftColor}} -->
                          </div>
                          <div class="notyet" *ngSwitchCase="'no'">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>




                      <tr>
                        <td>Nov</td>
                        <td *ngFor="let days of novemberDaysShift" [ngSwitch]="days.status">
                          <div class="shiftname" title="shiftname" *ngSwitchCase="'yes'" title="{{days.shiftName}}"
                            [style.background-color]="days.shiftColor">
                            {{days.day}}
                            <!-- {{days.shiftColor}} -->
                          </div>
                          <div class="notyet" *ngSwitchCase="'no'">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>Dec</td>
                        <td *ngFor="let days of decemberDaysShift" [ngSwitch]="days.status">
                          <div class="shiftname" title="shiftname" *ngSwitchCase="'yes'" title="{{days.shiftName}}"
                            [style.background-color]="days.shiftColor">
                            {{days.day}}
                            <!-- {{days.shiftColor}} -->
                          </div>
                          <div class="notyet" *ngSwitchCase="'no'">
                            {{days.day}}
                          </div>
                        </td>
                      </tr>

                      <!-- <tr>
                        <td>Dec</td>
                        <td *ngFor="let days of decemberDays" [ngSwitch]="days.status">
                          <div class="absent" title="Absent" *ngSwitchCase="'A'" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)"  [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="weekoff" title="weekoff" *ngSwitchCase="'WO'" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="holiday" data-title="'{{days.checkIn }}'" *ngSwitchCase="'HO'" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="onDuty" title="On Duty" *ngSwitchCase="'OD'"  [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="On Leave" *ngSwitchCase="'L'" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="lvcood" title="Coff" *ngSwitchCase="'CO'" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'P'"  [shAttachMenu]="menuMP" [shMenuData]="data" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                          <div class="late" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'LT'" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)"  [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="halfday" data-title="'{{days.checkIn }}''{{days.checkOut}}'" *ngSwitchCase="'HF'" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)"  [shAttachMenu]="menu" [shMenuData]="data">
                            {{days.day}}
                          </div>
                          <div class="notyet" *ngSwitchCase="'Ot'"  [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="rightClick($event,'1',days.day,days.attenDate)">
                            {{days.day}}
                          </div>
                        </td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>

            </div>

          </div>
          <!-- <div class="row " *ngIf="!isShow">
            <div class="col">
              <div class="abbrivation">
                <div class="statusclrs">
                  <ul>
                 
                    <li>General Shift: <i class="fa fa-circle absent1" aria-hidden="true"></i></li>
                    <li>Second Shift: <i class="fa fa-circle secondshift" aria-hidden="true"></i></li>
                    <li>Third Shift: <i class="fa fa-circle thirdshift" aria-hidden="true"></i></li>

                  </ul>
                </div>
              </div>
            </div>
          </div> -->

          <!-- NEW SHIFT CALENDAR ENDS -->

        </div>

      </div>
    </div>
  </div>
</div>


<!-- <sh-context-menu #menu>
  <ng-template shContextMenuItem let-data class="bapu">

    <div class="selecteddate">
      {{selectedDate}}
    </div>
    <div class="bapu" (click)="applyLeave('LR')">
      Apply Leave/Coff
    </div>
    <div *ngIf="loggedUser.missPunch" class="bapu" (click)="applyLeave('MP')">
      Apply Miss Punch
    </div>
    <div *ngIf="loggedUser.onDuty" class="bapu" (click)="applyLeave('OD F')">
      Apply On Duty
    </div>
    <div *ngIf="loggedUser.permissionReq" class="bapu" (click)="applyLeave('PR')">
      Apply Permission Request
    </div>
    <div *ngIf="loggedUser.lateComeAndEarlyGo" class="bapu" (click)="applyLeave('LTE')">
      Apply Late Early
    </div>
    <div *ngIf="loggedUser.workfromHome" class="bapu" (click)="applyLeave('WFH')">
      Apply Work From Home
    </div>
  </ng-template>
</sh-context-menu>

<sh-context-menu #menuMP>
  <ng-template shContextMenuItem let-data  class="bapu">

    <div class="selecteddate">
      {{selectedDate}}
    </div>

    <div *ngIf="loggedUser.missPunch" class="bapu" (click)="applyLeave('MP')">
      Apply Miss Punch
    </div>

  </ng-template>
</sh-context-menu> -->
<!-- <div [shAttachMenu]="menu" [shMenuData]="data">Right Click Me</div> -->


<!-- ====================isShow is False============== -->



<!-- ========================== abbrivation -->