.box{
  border-radius: 0.365rem;
  border: 1px solid rgb(224, 224, 224);
  height: 100%;
}

.absent1{
  color: #ff1909;
}


.selecteddate{
  text-transform: uppercase;
  font-weight: 600;
  background: #356ad2;
  color: white;
  text-align: -webkit-center;
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 10px 17px #b7b7b7;
  
}
.bapu{
  padding-bottom:3px;
  padding-top:3px;
  font-size:small;
  cursor : pointer !important;
}

.bapu:hover{
  color: #356ad2 !important;
}

.fa-chevron-circle-left, .fa-chevron-circle-right{
  cursor: pointer;
}

.fa-chevron-circle-left:hover, .fa-chevron-circle-right:hover{
  color:yellow;
}
.ht-500{
  min-height: 500px;
}

.close {
  float: right;
  position: absolute;
  right: 5px;
  top: 3px;
  overflow: -webkit-paged-x;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:hover {

  opacity: .9;
}
.clearall{
  font-size: 0.9em;
  color: rgb(120, 174, 255);
  text-decoration: underline;
  cursor: pointer;
}
.clearall:hover{
  color:rgb(0, 48, 119);
  text-decoration: underline;
  cursor: pointer;
}

.width80{
  width:80% !important;
}
.linkslist{
  list-style: none;
  padding-left:0 !important;
}

.linkslist li{
  font-size: 0.9em;
  color: rgb(120, 174, 255);
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 10px;
}
.ccr{
  padding-left:0 !important;
}

.table-wrapper {
  height: 485px;
  /* overflow: scroll; */
}

table {
  position: relative;
  border: 2px solid #ddd;
  border-collapse: collapse;
}

td, th {
  white-space: nowrap;
  border: 2px solid #f3f3f3;
  padding: 5px 5px;
  width:100%;
  text-align: center;
}

th {
  background-color: #dedede;
  position: sticky;
  top: -1px;
}
td{
  border-top: 2px solid #f3f3f3 !important;
  transition: all .2s ease-in-out;
}
td:hover { transform: scale(1.1); }

tbody tr td:first-of-type {
  background-color: #dedede;
  position: sticky;
  left: -1px;
  text-align: center;
}

thead th:first-of-type {
  background-color: #dedede;
  position: -webkit-sticky;
  position: sticky;
  left: -1px;
  text-align: center;
  z-index: 1;
}

.bg-secondary{
  background-color: #a7d6ff!important;
    color:rgb(37, 37, 37);
}

.yearchange{
  font-size: 1.2em;
  color: white;
  text-align: center;
  background: #356ad2;
  border-radius: 2rem;
  padding: 0.1rem;
}
.white-bg{
  padding: 0.9375rem 0.9375rem;
}


ul {z-index: 999;
  margin:auto;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
li {
  display: inline;
  padding-right: 1rem;
  list-style: none;

}

li a {
  float: left;
  display: block;

  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}

.secondshift{
  color: rgb(0,128,0);
}

.thirdshift{
  color: rgb(236, 233, 9);
}

.prsent{
  color: rgb(180, 255, 170);
}
.absnt{
  color: rgb(255, 79, 79);
}
.erly{
  color: rgb(255, 140, 230);
}
.publicholy{
  color: rgb(255, 229, 82);
}
.lve{
  color: rgb(255, 140, 230);
}
.hlf{
  color: rgb(255, 140, 230);
}
.misspnch{
  color: rgb(255, 140, 230);
}
.leaveodcoff{
  color: rgb(145, 168, 243);
}
.ods{
  color: #fd8200;
}
.holidays{
  color: skyblue;
}

.present{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  color:rgb(41, 41, 41);
  background: rgb(180, 255, 170);

}
.notyet{
  text-align: -webkit-center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 3px;
    /* background: rgb(112, 142, 107); */
}
.late{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(255, 140, 230);
}
.absent{
  text-align: -webkit-center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  padding: 3px;
  background: rgb(255, 79, 79);
}
.weekoff{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(255, 229, 82);
}

.holiday{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: skyblue;
}
.onDuty{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: #fd8200;
}
.halfday{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(255, 140, 230);
}
.lvcood{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  color : white;
  background: rgb(67, 111, 253);
}
.chatsuggestion{
  background: white;
  padding: 5px;
  box-shadow: 0px 1px 8px #2d2d2d;
  border-radius: 0px 0px 5px 5px;
  max-height: 200px;
  overflow-x: auto;
  position: absolute;
  z-index: 9;
  margin-top: 20px;
  width: 80%;
  font-size: .85rem !important;
  font-family: Roboto, Arial, sans-serif !important;
}
.suggestiontext:hover{
  cursor: pointer;
  background: rgba(137, 188, 255, 0.425);
}
.active{
  background: rgba(137, 188, 255, 0.425);
}
.suggestiontext{
padding:4px;
border-radius: 3px;
}

.shiftname{
 
  border-radius: 4px;
  color: white;
}