<div *ngIf="rollName=='Admin'">
  <select  id="Eight-dropdown"  (change)="getShiftWiseAbsentism($event.target.value)"  class="form-control" style="width: 30%;margin-left: 25px; margin-bottom: 25px;" >
    <option  value="0" >ALL Location</option>
  
    <option *ngFor="let data of EmployeeLocationwise; let i=index"  value="{{data.locationId}}" >{{data.locationName}}</option>  
               
  </select>
</div>
<div class="barchart" *ngIf="!chartFlag">
  <div class="chartbox">
    <div style="display: block;width:550px;height:300px;">
      
      <canvas
      baseChart [datasets]="barChartData" 
      [labels]="barChartLabels" 
      [options]="barChartOptions" 
      [colors]="barChartColors"
        [legend]="barChartLegend" 
        [chartType]="barChartType" 
        (chartHover)="chartHovered($event)" >
        <!-- (chartClick)="chartClicked($event)"> -->
      </canvas>
    </div>
  </div>
</div>

<div class="barchart" *ngIf="chartFlag">
  <div class="chartbox">
    <div style="display: block;width:550px;height:300px;">
      <canvas
      baseChart [datasets]="barChartData" 
      [labels]="barChartLabels" 
      [options]="barChartOptions" 
      [colors]="barChartColors"
        [legend]="barChartLegend" 
        [chartType]="barChartType" 
        (chartHover)="chartHovered($event)" 
      >
        <!-- (chartClick)="chartClicked($event)"> -->
      </canvas>
    </div>
  </div>
</div>