<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">

        <div class="col-md-12">
            <div class="app-page-title">
              <div class="page-title-wrapper">
                <div class="page-title-heading">
                  <div class="page-title-icon"><i class="fa fa-user-times bg-happy-itmeo" aria-hidden="true"></i></div>
                  <div>Clearance Approvals <div class="page-title-subheading"> Here you can Approve various Clearance Requests </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div>sopan</div> -->
          
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row justify-content-center">
            <div class="col-md-12">
              <div *ngIf="dataTableFlag">
              <div class="table-responsive">
                
                <table id="emptable" class="table table-striped table-bordered">
      
                          <thead class="thead-dark">
                              <!-- <th>
                                  Photo
                              </th> -->
                              <th> Name</th>
                              <th> Department</th>
                              <th>Mobile No.</th>
                              <th>Date of Resignation</th>
                              <th>Last Day Of Working</th>
                              <th>Action</th>
                            </thead>

                 <tbody>
                    <tr *ngFor="let item of clearenceList">
                      <!-- <td style="width:5%; text-align:center">
                        <div class="wrapper">
                          <img src="assets/one_03.png" alt="" class="image-cover"
                          />
                        </div>
                      </td> -->
                      <td>{{item.empId}} - {{item.fullName}} {{item.lastName}}</td>
                      <td>{{item.deptName}}</td>
                      <td>{{item.officialContactNumber}}</td>
                      <td>{{item.dateOfResignation | date : 'dd-MMM-yyyy'}}</td>
                      <td>{{item.lastDayOfWorkAsPerTheCompanyPolicy | date : 'dd-MMM-yyyy'}}</td>
                      <td><button type="button" (click)="clear(item)" class="btn btn-sm btn-primary mr-2">Clear</button> 
                          <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" (click)="setData(item) " data-target="#fullHeightModalRight">Hold</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
               
    
    
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
<!-- Full Height Modal Right -->
<div class="modal fade right " id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-full-height modal-right w3-animate-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     <div>
        <div class="wrapper-2">
            <img src="https://www.loyensloeff.com/media/1477787/frig-profile-500-x-500.jpg?mode=pad&width=500&rnd=131571318110000000" alt="" class="image-cover-2"
            />
            <h5><strong>{{holdData.fullName}} {{holdData.lastName}}</strong></h5>
          </div>

          <div class="form-group">
              <label for="comment">Remark:</label>
              <textarea [(ngModel)]="remark" class="form-control" rows="4" id="comment"></textarea>
            </div>
     </div>
      </div>
      <div class="modal-footer justify-content-center">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary send-button mb-4" (click)="hold(holdData)" data-dismiss="modal">Send</button>
      </div>
    </div>
  </div>
</div>
<!-- Full Height Modal Right -->
    
</div>