<div class="container-fluid">
  <div class="mainwrap" style="margin-top: -30px;">

    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading" style="margin-top: 22px;">
              <div class="page-title-icon" style="width: 50px;
              height: 50px;font-size: 1.5rem;" style="justify-content: center;"><img _ngcontent-c4="" src="assets/Document Rejected Labour List.png" style="height: 40px;"></div>
              <div style="line-height: normal;"> Document Upload <div class="page-title-subheadings">Here you can Upload rejected  Document </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="whitebg w3-animate-left">
        
          <ul [ngClass]="themeColor" class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="border-top-left-radius:14px;border-top-right-radius:14px">
            <li class="nav-item" >
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" > Labour</a>
            </li>
           
          </ul>
          <div class="row justify-content-center" style="margin-top: 4%;">
            <div  class="col-md-10">

              <table id="documentHistorylist" class="table table-striped table-bordered" style="width:100%">
                <!-- <table class="table table-striped" id="BusinessTable"> -->
                <thead class="theadblue">
                  <tr>
                    <th>
                      Sr.No
                    </th>
        
                    <th>
                      Employee Id
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Designation
                    </th>
                    <th>
                      Department
                    </th>
                   <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of Alllabours;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.empId}}</td>
                    <td>{{item.firstName}} {{item.lastName}}</td>
                    <td>{{item.desigName}}</td>
                   <td>{{item.departmentName}}</td>
                   <td> <i class="fa fa-arrow-circle-o-right" aria-hidden="true" (click)="gotoDocumentUploadSection(item)"></i></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
        
                  </tr>
                </tfoot>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
         
      </div>
   