canvas {
    display: block;
    border: 1px solid rgb(105, 105, 105);
    background-color: var(--ion-color-success);
  }
  button {
    margin: 10px;
    margin-left: 10px;
  }
  
.wrapper {
  
    width: 100%;
  }
  
  .drop {
    border: 3px dashed #DADFE3;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*&:hover
     * cursor: pointer
     * background: #f5f5f5 */
  }
  .drop .cont {
    text-align: -webkit-center;
      padding: 2rem;
    color: #8E99A5;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .drop .cont i {
      font-size: 2rem;
    color: #8E99A5;
    position: relative;
  }
  
  .drop .cont .desc {
    color: #A4AEBB;
  }
  .drop .cont .browse {
    margin: 10px 35%;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    background: #09f;
  }
  .drop input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: red;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .infclr{
      color:grey;
  }

  .card-title{
      margin-bottom: 0 !important;
  }
  .avatar2 img{
      border-radius: 50%;
      width:100px;
  }

  .listrow:hover{
      background: rgb(13, 43, 88) !important;
      color:white !important;
      cursor: pointer !important;
  }
  .danger{
      background: rgb(170, 25, 25) !important;
      color:white;
      font-weight: normal;
  }
  .chatsuggestion{
    background: white;
    padding: 5px;
    box-shadow: 0px 1px 8px #2d2d2d;
    border-radius: 0px 0px 5px 5px;
    max-height: 200px;
    overflow-x: auto;
    position: absolute;
    z-index: 9;
    /* margin-top: 20px; */
    width: 80%;
    font-size: .85rem !important;
    font-family: Roboto, Arial, sans-serif !important;
  }
  .suggestiontext:hover{
    cursor: pointer;
    background: rgba(137, 188, 255, 0.425);
  }
  .active1{
    background: rgba(137, 188, 255, 0.425);
  }
  .suggestiontext{
  padding:4px;
  border-radius: 3px;
  }
  .iframe { 
    width: 1000px !important; 
    height: 900px !important; 
    }
    .required{
      color: red;
    }
    
    .active-emp{
      background: rgb(13, 43, 88) !important;
      color: white !important;
      cursor: pointer !important;
    }
    #align-slide{

    }
    .slider:before{
       
        bottom: 1px;
       
    }
    