<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><img src="assets/roll.png" style="height: 37px;"></div>
              <div>Signing Authority<div class="page-title-subheading">Here we can Write signature</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">
          <div class="row">
            <div class="col-md-12">
              <div style="text-align: center; margin-top: 30px; position: relative;">
                <div style="text-align: -webkit-center; position: relative;">
                  <canvas #signPadCanvas
                          (touchstart)="startSignPadDrawing($event)"
                          (touchmove)="movedFinger($event)"
                          style="display: block; background-color: #fff; border: 1px solid #ccc;">
                  </canvas>
                  <img [src]="signImage" *ngIf="signImage" style="position: absolute; top: 0; left: 0; width: 30%; height: auto; margin-left: 400px;" />
                </div>
                <button class="btn btn-success" color="secondary" (click)="saveSignPad()">Save</button>
                <button class="btn btn-warning" (click)="clearSignPad()">Clear</button>
              </div>
              
            </div>
          </div>
       
          
        
        </div>
      </div>
    </div>
  </div>
</div>
