<div class="bhoechie-tab-content  white-bg" id="compmaster">
  <div class="row justify-content-center align-items-center">
      <div class="mastersheading">
          <h3>
              DOCUMENTS<span class="boldmaster"> MASTER </span>
          </h3>
      </div>
      <div class="container-fluid h-100">
          <div class="row justify-content-center align-items-center h-100">
              <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">
    
                <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">
                  <div class="form-group">
                    <label for="documentname">Document Name</label><span style="color: red">*</span>
                    <input type="text" maxlength="50" pattern="[A-Z a-z]*" class="form-control" [(ngModel)]='documentModal.documentName' (keyup)='error()'  autocomplete="off" name="documentName" #documentName='ngModel' id="documentname" aria-describedby="emailHelp" required>
                    <div class="help-block" *ngIf="documentName.errors?.required && documentName.touched"> <small style="color: red">
                        Document Name Required</small> </div>
                        <div class="help-block" *ngIf="documentName.errors?.pattern && documentName.touched"> <small style="color: red">
                          Enter valid Document Name</small> </div>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="customcheck" data-toggle="tooltip"
                        title="First Approver Level" aria-hidden="true">
                        <input [(ngModel)]='documentModal.mandatory' name="mandatory" #mandatory='ngModel' type="checkbox">
                        <label for="documentname">Mandetory</label>
                            
                        <span class="checkmark" aria-checked="checked"></span>
                    </label>
                </div>
                <div class="form-group" *ngIf='StatusFlag'>
                    <label>Status</label><br>
                    <label (click)="uiswitch($event)">
                      <!-- <input type="checkbox" checked> -->
                      <!-- <input type="radio" value='' checked='false'> -->
                      <ui-switch [checked]='documentModal.status'><span class="switch  switch-medium"><small></small></span>
                      </ui-switch>
                      <!-- <span class="slider round"></span> -->
                    </label>
                  </div><br>
                  <button type="submit" [disabled]='errflag || f.invalid' class="btn btn-primary">Add</button>
                  &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()" >Reset</button>
                </form>
              </div>

          </div>
          <hr>
         <div *ngIf="dataTableFlag">
          <table id="CompTable" class="table table-striped table-bordered" style="width:100%">

            <thead class="theadblue">
                <tr>
                    <th style="width:40%">
                        Document Name
                    </th>
                  
                    <th class="hide-arw">
                        Mandetory
                    </th>
                    <th>
                        Status
                    </th>
                    
                    <th  style="width:15%">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = 'let i of documentdata'>
                    <td>{{i.documentName}}</td>
                    <td *ngIf='i.mandatory == true'>Yes</td>
                    <td *ngIf='i.mandatory == false'>No</td>
                    
                    <td [ngClass]="{colorRed : i.status == false, colorGreen: i.status == true}" style="font-size:1rem; text-align:center"><i
                        class="fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="fa fa-pencil" (click)="edit(i)" aria-hidden="true" ></i>
                      <i class="fa fa-trash" (click)='dltObj(i)'  data-toggle="modal"
                            data-target="#AreYouSuredlt" aria-hidden="true" ></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>

                </tr>
            </tfoot>
        </table>
          </div>
      </div>
  </div>


    <div class="modal fade" id="AreYouSuredlt">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Are You Sure. you want to delete ?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button"(click)='dltmodelEvent(f)' data-dismiss="modal"
                        class="btn btn-success">Yes</button><br>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>


    <!-- <button (click)="getAssetsmasterList()">getList</button> -->