<div class="container-fluid">
  <div class="mainwrap">

    <div class="row justify-content-between">
      <!-- *ngIf='role == "HR" || role == "Admin"' -->
      <!-- && loggedUser.mrollMaster.roleName == 'User') -->
      <div class="col-md-6" *ngIf="(hrMode ||loggedUser.sanctioningAuthority) &&  loggedUser.mrollMaster.roleName !='User'">
        <select class="form-control form-control-sm col-md-6" name="CompanyID" [(ngModel)]="selectedCompanyobj" (ngModelChange)='selectedEmp($event);consumedleaveschart.fromDashboardemp($event);coffChart.fromDashboardemp($event);leaveDaywise.fromDashboardemp($event);leaveMonthWise.fromDashboardemp($event)' name="selectedCompanyobj"
        #CompanyID='ngModel'  required>
        <option hidden [value]="selectUndefinedOptionValue"> {{this.empId}}- {{this.loggedUser.fullName}}   {{this.loggedUser.lastName}} </option>
        <option  value="{{addcompany.empPerId}}" *ngFor="let addcompany of myteamData; let i = index;" [value]="addcompany.fullName == this.loggedUser.fullName">
           {{addcompany.empId}} - {{addcompany.fullName}} {{addcompany.lastName}}  </option>
      </select>
      </div>
      <div class="col-md-3">

        <div class="form-row">
          <div class="col">
            <input type="number" class=" form-control form-control-sm float-right" [(ngModel)]="selectedYear" (ngModelChange)='valueYear($event); consumedleaveschart.fromDashboard($event);coffChart.fromDashboard($event);leaveDaywise.fromDashboard($event);leaveMonthWise.fromDashboard($event)'  min="1900" max="2099" step="1" value="2019" />
          </div>
          <!-- <div class="col"  *ngIf="!hrMode && (loggedUser.sanctioningAuthority != true)" >
            <button type="button" [routerLink]="['/layout/leaverequest']" class="btn btn-primary-2 float-right">Apply Leave</button>
          </div>
          <div class="col"  *ngIf="!hrmode && loggedUser.sanctioningAuthority == true ">
            <button type="button" [routerLink]="['/layout/supervisorleaverequest/supervisorleaverequest']" class="btn btn-primary-2 float-right">Apply Leave</button>
          </div>
          <div class="col"  *ngIf="hrmode">
            <button type="button" [routerLink]="['/layout/supervisorleaverequest/supervisorleaverequest']" class="btn btn-primary-2 float-right">Apply Leave</button>
          </div> -->
        </div>
       
      </div>
    </div>
   

    <div class="row">
   

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">

            <div class="whitebox-bg mt-0">
              <div class="boxhead ">

                <div class="row">
                  <div class="col-md-12">

                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"></i> Weekly Pattern &nbsp; {{ selectedYear }} </div>
                      <div class="btn-actions-pane-right">
                        <!-- <div class="btn-group-sm btn-group" role="group"><button
                                class="btn-shadow btn btn-dark">Refresh</button><button class="btn-shadow btn btn-dark"
                                type="button">Remove</button></div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3">
                <app-leaveavgdaywise #leaveDaywise></app-leaveavgdaywise>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="whitebox-bg mt-0">
              <div class="boxhead ">

                <div class="row">
                  <div class="col-md-12">

                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"></i> Monthly Pattern &nbsp; {{ selectedYear }} </div>
                      <div class="btn-actions-pane-right">
                        <!-- <div class="btn-group-sm btn-group" role="group"><button
                                    class="btn-shadow btn btn-dark">Refresh</button><button class="btn-shadow btn btn-dark"
                                    type="button">Remove</button></div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3">
                <app-leaveavgmonthwise #leaveMonthWise></app-leaveavgmonthwise>
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <div class="whitebox-bg">
              <div class="boxhead">

                <div class="row">
                  <div class="col-md-12">

                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"></i>Current Leave Request Status up to 3 months </div>
                      <div class="btn-actions-pane-right">
                        <div class="btn-group-sm btn-group" role="group"><button
                            class="btn-shadow btn btn-warning">{{length}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-3 scrollbox">

                  <div class="card-header-tab card-header currntleavedetails" *ngFor='let i of currentLeaveData'>
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                      <div class="currntstatus">
                        <h6>{{i.leaveName}}</h6>
                        <small *ngIf='i.startDate != i.endDate'>{{i.startDate | date:"dd-MMM-yyyy"}} TO {{i.endDate | date:"dd-MMM-yyyy"}}</small>
                        <small *ngIf='i.startDate == i.endDate'>{{i.startDate | date:"dd-MMM-yyyy"}}</small>
                      
                      </div>
                    </div>
                    <div class="btn-actions-pane-right pendingimg" *ngIf='i.finalStatus =="Approved"'>
                      <i class="fa fa-check-circle-o" aria-hidden="true" title="Approved!"></i>
                    </div>
                    <div class="btn-actions-pane-right pendingimg" *ngIf='i.finalStatus =="Pending"'>
                      <img  src="/assets/pending.gif" title="Pending!">
                    </div>
                  </div>

                  <!-- <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        <div class="currntstatus">
                          <h6>Casual Leave</h6>
                          <small>22 SEP 2019</small>
                        </div>
                      </div>
                      <div class="btn-actions-pane-right pendingimg">
                          <i class="fa fa-check-circle-o" aria-hidden="true" title="Approved!"></i>
                      </div>
                    </div> -->

                </div>

              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="whitebox-bg">
              <div class="boxhead ">

                <div class="row">
                  <div class="col-md-12">

                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"></i> Leaves History </div>
                      <div class="btn-actions-pane-right">
                        <!-- <div class="btn-group-sm btn-group" role="group"><button
                                      class="btn-shadow btn btn-dark">Refresh</button><button class="btn-shadow btn btn-dark"
                                      type="button">Remove</button></div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3">

                <div class="row justify-content-between">
                  <div class="col-md-6">
                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <label for="expfrmdate">From Date</label>
                        <input type="date" max="{{Endval}}" [(ngModel)]='leaveHistortModal.startDate'  (ngModelChange)='leavesHistory()' (change)='value($event)' class="form-control form-control-sm" id="expfrmdate">
                      </div>

                      <div class="form-group col-md-6">
                        <label for="ExptoDate">To Date</label>
                        <input type="date" min="{{Startval}}"  [(ngModel)]='leaveHistortModal.endDate' (ngModelChange)='leavesHistory()'(change)='value1($event)' class="form-control form-control-sm" id="ExptoDate">
                      </div>

                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="expsort">Sort By Type</label>
    
                     <select class="form-control form-control-sm"  [(ngModel)]='leaveHistortModal.status' #status='ngModel'(ngModelChange)='leavesHistory()' id="expsort">
                         <option hidden value="" >Select</option>
                        <option value="{{i.status}}" *ngFor='let i of LeaveHistory'>{{i.Name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="wrap-table100">
              <div *ngIf='dataTableFlag'>
                  <table id="leaveDash" class="table table-striped table-bordered" style="width:100%">
                    <thead class="theadblue">
                      <tr>
                        <th>Leave Details</th>
                        <th>Applied Date</th>
                        <th>Reason</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor = 'let i of leaveHistorydata'>
                        <td>{{i.leaveName}} - ({{i.leaveCode}})<br>
                        <small class="gray" *ngIf='i.startDate != i.endDate'>{{i.startDate | date : 'dd-MMM-yyyy'}} To {{i.endDate | date : 'dd-MMM-yyyy'}}</small>
                        <small class="gray" *ngIf='i.startDate == i.endDate'>{{i.startDate | date : 'dd-MMM-yyyy'}}</small></td>
                        <td>{{i.requestDateTimw | date:"dd-MMM-yyyy" }}</td>
                        <td>{{i.leaveReson}}</td>
                    
                        <td *ngIf='i.finalStatus =="Approved" '><span class="badge badge-success">{{i.finalStatus}}</span></td>
                        <td *ngIf='i.finalStatus =="Pending" '><span class="badge badge-warning">{{i.finalStatus}}</span></td>
                        <td *ngIf='i.finalStatus =="Rejected" '><span class="badge badge-danger">{{i.finalStatus}}</span></td>
                      </tr>

                  </table>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
          <div class="" *ngFor='let i of LeavesData'>
            <div class="pt-2">
              <div class="LeavRow">
                <div class="lvname">
                  {{i.leaveName}}
                </div>
                <div class="lvCount btn-actions-pane-right">
                  <h6>{{i.currentLeaves}}/{{i.openingBalance}} </h6>
                </div>
              </div>
  
             
            </div>
          </div>


          <div class="whitebox-bg">
            <div class="boxhead "> 
  
              <div class="row">
                <div class="col-md-12">
  
                  <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                        class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"></i> Consumed Leave Types  &nbsp; {{ selectedYear }} </div>
                    <div class="btn-actions-pane-right">
                      <!-- <div class="btn-group-sm btn-group" role="group"><button
                                class="btn-shadow btn btn-dark">Refresh</button><button class="btn-shadow btn btn-dark"
                                type="button">Remove</button></div> -->
                    </div>
                  </div>
                  <div class="p-1 pt-2">
                    <app-consumedleaveschart #consumedleaveschart></app-consumedleaveschart>
                    <!-- <div class="text-center lvimg">
                          <img src="/assets/leavecount.png" class="img-responsive">
                        </div> -->
                  </div>
                </div>
              </div>
  
       
            </div>
  
          </div>
  
          <div class="whitebox-bg">
              <div class="boxhead ">
    
                <div class="row">
                  <div class="col-md-12">
    
                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"></i> Coff Details  &nbsp; {{ selectedYear }}</div>
                      <div class="btn-actions-pane-right">
                        <!-- <div class="btn-group-sm btn-group" role="group"><button
                                  class="btn-shadow btn btn-dark">Refresh</button><button class="btn-shadow btn btn-dark"
                                  type="button">Remove</button></div> -->
                      </div>
                    </div>
                    <div class="pt-2">
                      <app-coffchart #coffChart ></app-coffchart>
                    </div>
                  </div>
                </div>
    
         
              </div>
    
            </div>
  
  
        </div>
    </div>
  </div>
</div>