
.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.4), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.5);
}
.height-350{
  height: 350px;
}
.fa-check-circle-o{
  color: #30bd46;
  font-size: x-large;
}
.currntstatus h6{
  margin: 0 !important;
  color: rgb(57, 137, 212);
}
.currntstatus small{
  font-size: 60% !important;
  color:gray;
}
.pendingimg img{
  width:35px;
}
.wrap-table100{
  border-radius: 10px;
  overflow: hidden;
}

.gray{
  color:gray;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        
  position: relative;
  min-height: 1px;
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-top:0 !important;
  padding-bottom:0 !important;

}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
.LeavRow{
    border-radius: 3px;
    background-color: #ff9d00;
    background-image: url("/assets/Rainbow-Vortex.svg");
    background-attachment: fixed;
    background-size: cover;
    color:white !important;
    width: 100%;
    display: flex;
    padding: 0.2rem 0.75rem;
    margin-bottom: 5px;
    color: inherit;
    box-shadow: 0 7px 10px #1f1f1f5e;
    transition: transform .2s, -webkit-transform .2s;
    min-height: 49px;
  }
  .LeavRow:hover{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
  .lvname{
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .lvCount h6{
    font-weight: 600;
    font-size: 18px;
  }
  .btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap;
  }

  .lvimg img{
      width:100%;
  }
  
/* CARD HEADER */
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  .card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
  }
  .card-header, .card-title {
    text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: 0.88rem;
  }
  .card-header {
    padding: 0.75rem 0.75rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125);
    margin:5px;
  }
  .card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .font-size-lg {
    font-size: 1.1rem !important;
  }
  .font-weight-normal {
    font-weight: 400 !important;
  }
  .text-capitalize {
    text-transform: capitalize !important;
  }
  .btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap;
  }
  .btn-dark.btn-shadow {
    box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.4), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.5);
  }
  
  /* CARD HEADER */

  .whitebox-bg{
    position: relative;
    background: white;
    border-radius: 0.365rem;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0.125rem 2.5rem 0 rgba(0, 0, 0, 0.08) !important;
    overflow: hidden;
  }

  .scrollbox{
    max-height:300px;
    overflow-y: scroll;
  }
  .currntleavedetails:last-child {
    border-bottom:none !important;
  }
  .dataTables_filter {
    float: left !important;
}

.btn-primary-2{
  border-radius: 1.5px !important;
  background-image: linear-gradient(344deg, #1e66ca, #6ea3eb) !important;
  background-color: none !important;
  box-shadow: 0px 9px 12px -8px #072b6b;
  border: none !important;
color: white;
  height: 28.5px;
  font-size: 12px;
  padding: 0px 30px;
}
