<div class="container-fluid">
  <div class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Asset Report</strong> &nbsp;
        </h6>
      </div>
    </div>

    <div class="row">

      <!-- <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Abbreviation:-</strong></span>WD : Working Day, WO : Weekly Off, HO : Holiday,<span></span> WOH : Week Off And Holiday</h6>
        </div>
      </div> -->

      <div class="col-md-12">
        <div class="qwe" *ngIf="fromDate == toDate">
          <h6><span class="blu" ><strong>Asset Report For Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}</h6>
        </div>
        <div class="qwe" *ngIf="fromDate != toDate">
          <h6><span class="blu"><strong>Asset Report From Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}<span class="blu"><strong> To:</strong></span> {{toDate | date:"dd MMM yyyy"}}</h6>
        </div>
      </div>

      <div class="col-md-10" id="content">
        <table id="asset_id" class="table table-space table-borderless" style="width:100%;">
          <thead>
            <tr style="text-align: center !important;">
              <th colspan="11">{{compName}}</th>
            </tr>
            <tr style="text-align: center !important;">
              <th colspan="11">Asset Report</th>
            </tr>
            <tr>
              <th colspan="11">From Date : {{fromDate | date :'dd/MMM/yyyy'}} To Date: {{toDate | date :'dd/MMM/yyyy'}}</th>
            </tr>
            <tr>
              <th colspan="11">Report Date: {{report_time}}</th>
            </tr>
            <tr class="table-secondary">
              <th>Sr.No</th>
              <th *ngIf="marked2">Emp Id</th>
              <th *ngIf="marked3">Biometric Id</th>
              <th *ngIf="marked4">Employee Name</th>
              <th *ngIf="marked5">Department</th>
              <th *ngIf="marked6">Designation</th>
              <th *ngIf="marked7">Employee Category</th>
              <th *ngIf="marked8">Issue Date</th>
              <th *ngIf="marked9">Asset Name</th>
              <th *ngIf="marked10">Asset Description</th>
              <th *ngIf="marked11">Serial Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of AllReport; let i = index">
              <td>{{i+1}}</td>
              <td *ngIf="marked2"  class="text-right">{{item.empId}}</td>
              <td *ngIf="marked3"  class="text-right">{{item.bioId}}</td>
              <td *ngIf="marked4"  class="text-left">
                <div>
                  {{item.fullName | titlecase}} {{item.lastName | titlecase}}
                </div>
              </td>
              <td *ngIf="marked5"  class="text-left">{{item.deptName}}</td>
              <td *ngIf="marked6"  class="text-left">{{item.descName}}</td>
              <td *ngIf="marked7"  class="text-left">{{item.empTypeName}}</td>
              <td *ngIf="marked8">{{item.givenDate| date: 'dd/MM/yyyy'}}</td>
              <td *ngIf="marked9"  class="text-left">{{item.resourceName}}</td>
              <td *ngIf="marked10"  class="text-left" style="white-space: break-spaces;">
                {{item.resourceDesc}}</td>
              <td *ngIf="marked11"  class="text-left">{{item.resourceNumber}}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="col-md-2">
        <div class="columnshead">
          <h6>Select Columns:</h6>
          <label class="container">
            <input type="checkbox" [(ngModel)]="empCodeCheckbox" data-md-icheck (change)="toggleVisibility2($event)" />
            EmpId
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="biometricIdCheckbox" data-md-icheck (change)="toggleVisibility3($event)" />
            BiometricId
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="employeeNameCheckbox" data-md-icheck (change)="toggleVisibility4($event)" />
            Employee Name
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="departmentCheckbox" data-md-icheck (change)="toggleVisibility5($event)" />
            Department
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="designationCheckbox" data-md-icheck (change)="toggleVisibility6($event)" />
            Designation
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="employeeCategoryCheckbox" data-md-icheck (change)="toggleVisibility7($event)" />
            Employee Category
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="issueDateCheckbox" data-md-icheck (change)="toggleVisibility8($event)" />
            Issue Date
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="assetNameCheckbox" data-md-icheck (change)="toggleVisibility9($event)" />
            Asset name
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="descriptionCheckbox" data-md-icheck (change)="toggleVisibility10($event)" />
            Description
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="serialNumberCheckbox" data-md-icheck (change)="toggleVisibility11($event)" />
            Serial Number
            <span class="checkmark"></span>
          </label>
          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX('asset_id')"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>