<div class="bhoechie-tab-content  white-bg" id="compmaster">
  <div class="row justify-content-center  align-items-center">
    <div class="mastersheading">
      <h3>
        CONTRACTOR SERVICE TYPE <span class="boldmaster">MASTER</span>
      </h3>
    </div>
  </div>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="CompanyID">Company Name<span style="color: red">*</span></label>
            <select class="form-control form-control-sm mb-4" name="CompanyID" [(ngModel)]="selectedCompanyobj"
              name="selectedCompanyobj" #CompanyID='ngModel' (change)="ngValue($event)" required>
              <option hidden value="">Company Name</option>
              <option value="{{addcompany.compId}}" *ngFor="let addcompany of companydata; let i = index;">
                {{addcompany.compName}}</option>
            </select>
            <div class="help-block" style="margin-top: -23px" *ngIf="CompanyID.errors?.required && CompanyID.touched">
              <small style="color: red">Company
                Name required</small></div>
          </div>
          <div class="form-group">
            <label>Contractor Service Type Name <span style="color: red">*</span></label>
            <input type="text" class="form-control form-control-sm" name="conSerTypeName" (keyup)='error()'
              appAlphabetOnly [(ngModel)]="ContractModel.conSerTypeName" #conSerTypeName="ngModel" required />
            <div class="help-block" *ngIf="conSerTypeName.errors?.required && conSerTypeName.touched"><small
                style="color: red">Contractor Service Type Name is required</small></div>
            <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exist </small></div>
          </div>
          <div class="form-group">
            <label>Contractor Service Type Description</label>
            <input type="text" class="form-control form-control-sm" name="conSerTypeDesc"
              [(ngModel)]="ContractModel.conSerTypeDesc" #conSerTypeDesc="ngModel" />
          </div>

          <div class="form-group" >
            <label>Status</label><br>
            <label (click)="uiswitch($event)">
              <ui-switch [checked]='ContractModel.status'><span class="switch  switch-medium"><small></small></span>
              </ui-switch>
            </label>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="(f.invalid || errflag )">Save</button>
            &nbsp; <button *ngIf="!isedit" class="btn btn-info" type="reset" (click)="reset()">Reset</button>
            <button *ngIf="isedit" class="btn btn-info" type="reset" (click)="Cancel()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <hr>
    <div *ngIf='dataTableFlag'>
      <table id="Business" class="table table-striped table-bordered" style="width:100%">
        <thead class="theadblue">
          <tr>
            <th style="width: 80%">
              Name
            </th>
            <th style="width: 10%" class="hide-arw" class="hide-arw">
              Status
            </th>
            <th style="width: 10%" class="hide-arw" class="hide-arw">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ContractMASTER">
            <td>{{item.conSerTypeName}}</td>

            <td [ngClass]="{colorRed : item.status == false, colorGreen: item.status == true}"
              style=" font-size:1rem; text-align:center">
              <i class="fa fa-circle" aria-hidden="true"></i>
            </td>
            <td>
              <i class="fa fa-pencil" aria-hidden="true" (click)="edit(item)"></i>
              <i class="fa fa-trash" (click)='dltObj(item)' data-toggle="modal" data-target="#AreYouSuredlt"
                aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure, You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent()' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
