<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
        <div class="list-group">
          <a routerLink="/layout/transportmaster/busroutemaster" [routerLinkActive]="'active'" data-toggle="tab" class="list-group-item text-center">
            <h4 class="fa fa-bus"></h4>
            <br/>Bus Route Master
          </a>
          <a routerLink="/layout/transportmaster/busmaster2" [routerLinkActive]="'active'" data-toggle="tab" class="list-group-item text-center">
            <h4 class="fa fa-bus"></h4>
            <br/>Bus Stop
          </a>
          <a routerLink="/layout/transportmaster/busmaster1" [routerLinkActive]="'active'" data-toggle="tab" class="list-group-item text-center">
            <h4 class="fa fa-bus"></h4>
            <br/>Bus Master
          </a>
         
  
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">
     
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</div>