<div class="bhoechie-tab-content  white-bg" id="compmaster">
  <div class="row justify-content-center align-items-center">
    <div class="mastersheading">
      <h3>
        PAY PERIOD SETTING <span class="boldmaster">MASTER</span>
      </h3>
    </div>


  </div>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">
        <!-- <h2>Business Master</h2> -->
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>


          <div class="form-group">
            <label>Pay Period Name <span style="color: red">*</span></label>
            <input type="text" class="form-control form-control-sm" name="payPeriodName" pattern="[A-Z a-z 0-9]{1,100}"
              [(ngModel)]="PayPeriodMasterModel.payPeriodName" (keyup)='error()' #payPeriodName="ngModel" required />
            <div class="help-block" *ngIf="payPeriodName.errors?.required && payPeriodName.touched"><small
                style="color: red">Pay Period is required</small></div>
            <div class="help-block" *ngIf="payPeriodName.errors?.pattern && payPeriodName.touched"><small
                style="color: red">Special Character not allowed </small></div>
            <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exist </small></div>
          </div>


          <div class="form-group">
            <label for="ParentEmpID">Employee Category <span style="color: red">*</span></label>
            <select class="form-control form-control-sm mb-4" name="ParentEmpID" [(ngModel)]="selectedEmpTypeObj"
              #ParentEmpID='ngModel' (change)="EmpValue($event)" required>
              <option hidden value="">Employee Category</option>
              <option value="{{subEmp.empTypeId}}" *ngFor="let subEmp of Employeedataall; let i = index;">
                {{subEmp.empTypeName}}</option>
            </select>
            <div class="help-block" style="margin-top:-23px"
              *ngIf="ParentEmpID.errors?.required && ParentEmpID.touched"><small style="color: red">Employee Type
                required</small></div>
          </div>

          <div class="form-group">
            <label>Start Date<span style="color: red">*</span> </label>
            <select name="startDate" #startDate='ngModel' [(ngModel)]='PayPeriodMasterModel.startDate'
              class="form-control form-control-sm" (ngModelChange)="onChange($event)" required>

              <option value='{{day}}' *ngFor="let day of DaysArray" >{{day}}</option>
            </select>
            <div class="help-block" *ngIf="startDate.errors?.required && startDate.touched"><small
                style="color: red">Start Date of Previous Month is required</small></div>
          </div>



          <div class="form-group">
            <label>End Date<span style="color: red">*</span></label>
            <select name="endDate" #endDate='ngModel' [(ngModel)]='PayPeriodMasterModel.endDate'
              class="form-control form-control-sm" (ngModelChange)="onChangeendDate($event)" required>

              <option value='{{day}}' *ngFor="let day of DaysArray">{{day}}</option>
            </select>
            <div class="help-block" *ngIf="endDate.errors?.required && endDate.touched"><small style="color: red">End
                Date of Current Month is required</small></div>

            <div *ngIf ="diff == true" class="help-block"><small style="color: red">
                  Difference between start date and end date should be 30 or 31 days</small></div>
          </div>



          <div class="form-group">
            <label>Locking Days<span style="color: red">*</span></label>
            <select name="payRollProcessingDay" #payRollProcessingDay='ngModel'
              [(ngModel)]='PayPeriodMasterModel.payRollProcessingDay' class="form-control form-control-sm" required>
              <option hidden [value]="selectUndefinedOptionValue">Select Locking Days</option>
              <option value='{{day}}' *ngFor="let day of DaysArray">{{day}}</option>
            </select>
            <div class="help-block" *ngIf="payRollProcessingDay.errors?.required && payRollProcessingDay.touched"><small
                style="color: red">Locking day is required</small></div>

          </div>
          <div class="form-group">
            <p>Applicable To Location <span style="color: red">*</span></p>
            <ng-multiselect-dropdown [placeholder]="'Applicable To Location'" [data]="locationdata"
            (click)="selectClickLocation()" [(ngModel)]="PayPeriodMasterModel.selectedLocation" [ngModelOptions]="{standalone: true}"
              #selectedLocation='ngModel' name='selectedLoco' [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
              (onDeSelect)="OnItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)">
            </ng-multiselect-dropdown>
     
          
            </div>
          <div class="form-group" *ngIf='StatusFlag'>
            <label>Status</label><br>
            <label (click)="uiswitch($event)">
              <ui-switch [checked]='PayPeriodMasterModel.status'><span
                  class="switch  switch-medium"><small></small></span></ui-switch>
            </label>
          </div>

          <div class="form-group">
            <button *ngIf="PayPeriodMasterModel.selectedLocation.length && !cancleButtonFalg" class="btn btn-primary" type="submit"
              [disabled]="(f.invalid || errflag )">Save</button>
            <button *ngIf="!PayPeriodMasterModel.selectedLocation.length && !cancleButtonFalg" class="btn btn-primary" disabled>Save</button>
            <button  type="reset" class="btn btn-primary ml-3" *ngIf="!cancleButtonFalg"   (click)="resetFun()">Reset</button>
            <button type="reset" *ngIf="cancleButtonFalg" class="btn btn-primary" (click)='clearCancle()'>cancel</button>

          </div>         
        </form>
      </div>

    </div>
    <hr>
    <div *ngIf='dataTableFlag'>
      <table id="CompTable" class="table table-striped table-bordered" style="width:100%">
        <thead class="theadblue">
          <tr>
            <th style="width: 90%">
              Pay Period Name
            </th>

            <th style="width: 40%" class="hide-arw">
              Status
            </th>

            <th style="width: 40%" class="hide-arw">
              View
            </th>

            <th style="width: 20%" class="hide-arw">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of locodata">
            <td>{{item.payPeriodName}}</td>

            <td [ngClass]="{colorRed : item.status == false, colorGreen: item.status == true}"
              style="font-size:1rem; text-align:center"><i class="fa fa-circle" aria-hidden="true"></i></td>
              <td> <i class="fa fa-eye"  
                title="View details" aria-hidden="true" (click)='getobj(item)' ></i></td>
            <td><i class="fa fa-trash"
                (click)='dltObj(item)' data-toggle="modal" data-target="#AreYouSuredlt" aria-hidden="true"></i></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>

          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure, You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>