<!-- <div class="log-bg">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">

        <form name="form" (ngSubmit)="f.form.valid && onSubmit(loginmodel)" #f="ngForm" novalidate>
          <span class="login100-form-title">
            <img src="assets/rieter_logoL.png" alt="calligraphy-fonts" border="0">
          </span>

          <div class="wrap-input100 validate-input">
            <input class="input100" type="email" name="userName" placeholder="Username" #userName='ngModel' [(ngModel)]="loginmodel.userName">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>

          <div class="wrap-input100 validate-input">
            <input class="input100" type="password" name="password" placeholder="password" #password='ngModel'
              [(ngModel)]="loginmodel.password">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>

          <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">
              Login
            </button>
          </div>

          <div class="text-center p-t-12">
            <span class="txt1">
              Forgot
            </span>
            <a class="txt2" href="#">
              Username / Password?
            </a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div> -->

<ngx-spinner
bdOpacity = 0

size = "medium"
color = "#fff212"
type = "ball-grid-pulse"
[fullScreen] = "true"
>
<div class="loderrlog">
  <h6>Believe us, its worth waiting...</h6>
  <!-- <a href="">
    <img src="assets/WJ_LOGO1.png" alt="Worksjoy Logo" border="0">
  </a> -->
</div>
</ngx-spinner>
<div class="log-bg">
  <div id="background" *ngIf="flag">
    <div class="thtofthdy">
    Thought of
    <br> the day
  </div>

  <div class="newlogo-mobile">
      <img src="assets/Worksjoy Blue.png" class="w3-animate-opacity" alt="Worksjoy Logo" border="0">
  </div>

    <div class="newlogo">
        <img src="assets/Worksjoy Blue.png" alt="Worksjoy Logo" border="0">
    </div>
  </div>
  <div class="wrapper fadeInDown" [style.background]="'url('+image+')'">
    <div class="quotes pt-5 mt-6 pb-5" *ngIf="flag">
      <div class="quoteimg">
        <img src="assets/quote.png" alt="quote" border="0">
      </div>
      <div class="quotetext">
        <p class="tht">
          {{todaysThout}}
         </p>
      </div>
     
    
    </div>

    <div id="formContent">
      <!-- Tabs Titles -->
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" *ngIf="flag">
        <div class="form-group">
          <input type="email" class="form-control form-control-sm"  #userName='ngModel' [(ngModel)]="loginmodel.userName" id="email" placeholder="Enter Username" name="email" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control form-control-sm" id="myInput" #password='ngModel'
          [(ngModel)]="loginmodel.password" placeholder="Enter password" name="pswd" required
          />
          <!-- (mousedown)="seePassword()" -->
          <i class="fa fa-eye errspan" *ngIf="!eyeFlag" aria-hidden="true"  (click)="seePassword()"></i>
          <i class="fa fa-eye-slash errspan" *ngIf="eyeFlag" aria-hidden="true"  (click)="seePassword()"></i>
        </div>
        <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!f.form.valid"  data-target="#AfterLoginModal" data-toggle="modal" >LOG IN</button>
        <!-- <div class="f-pass">
          <small>
            <a (click)="fgotpass()">Forgot Password?</a>
          </small>
        </div> -->
        <div class="f-pass">
          <small>
            <a (click)="goToSignUp()">Sign Up</a>
          </small>
        </div>
      </form>

      <div class="fgotpassword fadeInDown" *ngIf="!signUpFlag && !flag && !otpflag && !sameotp">
        <img src="/assets/que.png" style="width:120px">
          <h6>Account Recovery</h6>
          <p>This helps show that this account really belongs to you</p>
          <form (ngSubmit)="ff.form.valid && postForgrtPass()" #ff="ngForm">
            <div class="form-group">
              <input type="email" class="form-control form-control-sm" id="email" [(ngModel)]="ForgoePassw.mailId" #mailId='ngModel' placeholder="Enter Official Email" name="email" required>
              <div class="help-block" *ngIf="mailId.errors?.required && (mailId.touched || ff.submitted)"
              ><span style="color: rgb(255, 255, 255)">Please Enter Your Offical email</span></div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm btn-block">Submit</button>
            <div class="f-pass">
                <small>
                    <a  (click)=" fgotpass()">Back</a>
                  </small>
            </div>
          </form> 
        </div>

        <!-- ENTER OTP STARTS -->
        <div class="w3-animate-left fgotpassword" *ngIf="!signUpFlag && !flag && otpflag && !sameotp">
          <img src="/assets/otpicon.svg" style="width:120px">
            <h6>Enter OTP</h6>
            <p>Check your mail for the OTP</p>
            <form >
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" id="otp" [(ngModel)]="ForgoePassw.otp" name="otp" placeholder="Enter OTP" #otp='ngModel' required>
                <div class="help-block" *ngIf="otp.errors?.required && otp.touched"
                ><span style="color: rgb(255, 255, 255)">Please Enter OTP</span></div>
              </div>
             
              <button type="submit" class="btn btn-primary btn-sm btn-block" (click)="samepassword()">Submit</button>
              <div class="f-pass">
                  <small>
                      <a (click)="backMail()">Back</a>
                    </small>
              </div>
            </form>
          </div>
        <!-- ENTER OTP ENDS -->

         <!-- ENTER NEW PASSWORD STARTS -->
         <div class="w3-animate-left fgotpassword" *ngIf="!signUpFlag && !flag && !otpflag && sameotp">
          <img src="/assets/changepasswordicon.svg" style="width:120px">
            <h6>Change Password</h6>
            
            <form  name="form" (ngSubmit)="f1.form.valid" #f1="ngForm">
              <div class="form-group">
                <input type="password" class="form-control form-control-sm" id="newpassword" name="npassword" [(ngModel)]="ForgoePassw.npassword" #newpassword='ngModel'  placeholder="Enter New Password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,15}$"  required>
                
                <i class="fa fa-eye errspan" *ngIf="!eyeFlagn" aria-hidden="true"  (click)="seePasswordn()"></i>
                <i class="fa fa-eye-slash errspan" *ngIf="eyeFlagn" aria-hidden="true"  (click)="seePasswordn()"></i>
                <div class="help-block" *ngIf="newpassword.errors?.required && newpassword.touched"
                ><span style="color: rgb(255, 255, 255)">Password Required</span></div>
                <div class="help-block" *ngIf="newpassword.errors?.pattern && newpassword.touched"
                ><span style="color: rgb(255, 255, 255)">Minimum six characters Including at least one letter, one number and one special character</span></div>
              </div>
              
              <div class="form-group">
                <input type="password" class="form-control form-control-sm" id="confirmnewpassword" name="password" [(ngModel)]="ForgoePassw.passWord"  placeholder="Confirm New Password" [pattern]="ForgoePassw.npassword" #confirmnewpassword='ngModel' required>
                <i class="fa fa-eye errspan" *ngIf="!eyeFlagc" aria-hidden="true"  (click)="seePasswordc()"></i>
                <i class="fa fa-eye-slash errspan" *ngIf="eyeFlagc" aria-hidden="true"  (click)="seePasswordc()"></i>
                <div class="help-block" *ngIf="confirmnewpassword.errors?.required && confirmnewpassword.touched"
                ><span style="color: rgb(255, 255, 255)">Confirm Password Required</span></div>
                <div *ngIf="confirmnewpassword.errors?.pattern && confirmnewpassword.dirty" style="color:aliceblue">Password Miss-Match</div>
              </div>
             
              <button type="submit" class="btn btn-primary btn-sm btn-block"  [disabled]='ForgoePassw.npassword != ForgoePassw.passWord || f1.invalid' (click)="changePass()" >Submit</button>
              <div class="f-pass">
                  <small>
                      <a (click)="fgotpass()">Back</a>
                    </small>
              </div>
            </form>
          </div>
        <!-- ENTER NEW PASSWORD ENDS -->

        <!-- Admin login signin form -->
        <div class="fgotpassword fadeInDown" *ngIf="signUpFlag && !flag && !otpflag && !sameotp">
          <img src="/assets/que.png" style="width:120px">
            <h6>Admin Login</h6>
            <p>This helps to Add Masters Data</p>
            <form name="form" (ngSubmit)="f.form.valid && onSubmitAdminForm()" #f="ngForm">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm"  #userName1='ngModel' [(ngModel)]="adminLoginmodel.userName" id="email" placeholder="Enter Username" name="email" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-sm" id="myInput" #password1='ngModel'
                [(ngModel)]="adminLoginmodel.password" placeholder="Enter password" name="pswd" required/>
              </div>
              <!-- <div class="form-group">
                <input type="text" class="form-control form-control-sm" id="myInput" #roleName='ngModel'
                [(ngModel)]="adminLoginmodel.roleName" placeholder="Enter Role Name" name="roleName" required/>
              </div> -->
              <!-- <div class="form-group">
                <input type="text" class="form-control form-control-sm" id="myInput" #companyName='ngModel'
                [(ngModel)]="adminLoginmodel.compName" placeholder="Enter Company Name" name="companyName" required/>
              </div> -->
              <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!f.form.valid"  data-target="#AfterLoginModal" data-toggle="modal" >SIGN UP</button>
              <div class="f-pass">
                <small>
                  <a (click)="fgotpass()">BACK</a>
                </small>
              </div>
            </form>
          </div>
        <!-- Admin login signin form end -->

    </div>




  </div>


</div>

 
