
/* BASIC */
.newlogo {
  width:100%;
}
.newlogo img{
  width: 190px;
  position: absolute;
  float: right;
  right: 0;
  top: 10px;
  padding-right: 1rem;
}

.loderrlog {
  width:100%;
}
.loderrlog img{
  width: 190px;
  position: relative;
  float: right;
  right: 0;
  top: 10px;
  padding-right: 1rem;
}

html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #bbbbbb94;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

#background {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 0;
  line-height: 1;
  right: 0;
  z-index: 0;
  font-size:5rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.13);
  overflow: hidden;
}

/* STRUCTURE */
.log-bg{
  background: rgba(31,96,183,1);
  background: -moz-linear-gradient(left, rgba(31,96,183,1) 0%, rgba(3,29,64,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(31,96,183,1)), color-stop(100%, rgba(3,29,64,1)));
  background: -webkit-linear-gradient(left, rgba(31,96,183,1) 0%, rgba(3,29,64,1) 100%);
  background: -o-linear-gradient(left, rgba(31,96,183,1) 0%, rgba(3,29,64,1) 100%);
  background: -ms-linear-gradient(left, rgba(31,96,183,1) 0%, rgba(3,29,64,1) 100%);
  background: linear-gradient(to right, rgba(31,96,183,1) 0%, rgba(3,29,64,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f60b7', endColorstr='#031d40', GradientType=1 );
  position: absolute;
  width:100%;
  min-height:100%;
}

.wrapper {
  background-image: ("assets/quote.png"); 
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
.f-pass
{
  cursor: pointer;
  color: white;
  text-align: left !important;
}

.f-pass:hover
{
  color:rgb(49, 145, 255) !important;
  text-align: left !important;
}

.quoteimg img{
  width:95px;
  margin: auto;
}

.quoteimg{
  
  opacity: 0.5;
  padding:1.5rem;
  text-align: center;
}

.quotes h1{
  margin-bottom: 0 !important;
  text-align: center;
  font-size:10rem;
}

.quotes{
  color:white;
}
.quotes p{
  text-align: center;
  color:white;
  width:400px;
}

.btn-primary {
  border:none !important;
  border-radius: 1.5px !important;
  background: -webkit-linear-gradient(top, rgb(25, 118, 226) 0%,rgb(14, 71, 115) 100%) !important;
}
#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 30px;
  width: 90%;
  max-width: 320px;
  position: relative;
  padding: 0px;
  /* -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3); */
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.errspan {
  float: right;
  margin-right: 6px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  color: rgb(8, 8, 8);
}

/* input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
} */



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}


.fgotpassword p{
  color:white;
}

.fgotpassword h6{
  font-weight: 600;
  color: rgb(240, 143, 30);
}
.fgotpassword{
  margin-top:30%;
}
.newlogo-mobile{
  display: none;
}

/* ==============FOR MOBILE VIEW================ */


@media only screen and (max-width: 400px) {
 .thtofthdy {
    display: none;
  }

  .newlogo-mobile {
    display: block;
    width: 100% !important;
    text-align: center !important;
    position: absolute !important;
    }
.newlogo-mobile img{
text-align: center;
width: 190px;
}
.newlogo{
  display: none;
}

.quoteimg img {
  width: 75px;
  margin: auto;
  margin-top: 2rem;
}
.quotes p {
  text-align: center;
  color: white;
  width: 300px !important;
}
}
.help-block{
  text-align: left;
}


/* ==============FOR MOBILE VIEW================ */