.table td, .table th {
    padding: 0 !important;
    vertical-align: middle;
    text-align: center;
    height: 38px;
    width: 30px;
    margin:0.5rem;
}
.table-bordered td, .table-bordered th {
    border: 0px !important;
}
table { 
    border-collapse: collapse; 
}
.table-bordered {
    border: 1px solid #dee2e6;
    border-radius: 15px;
}
.gfg { 
    border-collapse:separate; 
    border-spacing:0 10px; 
} 
thead{
    color:white;
    font-weight: 400 !important;
    background: rgba(114,52,247,1);
background: -moz-linear-gradient(left, rgba(114,52,247,1) 0%, rgba(39,39,230,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(114,52,247,1)), color-stop(100%, rgba(39,39,230,1)));
background: -webkit-linear-gradient(left, rgba(114,52,247,1) 0%, rgba(39,39,230,1) 100%);
background: -o-linear-gradient(left, rgba(114,52,247,1) 0%, rgba(39,39,230,1) 100%);
background: -ms-linear-gradient(left, rgba(114,52,247,1) 0%, rgba(39,39,230,1) 100%);
background: linear-gradient(to right, rgba(114,52,247,1) 0%, rgba(39,39,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7234f7', endColorstr='#2727e6', GradientType=1 );
}


.calendar-table__event--long {
    overflow-x: hidden;
}
  
.calendar-table__event--start .calendar-table__item {
    border-left: 2px solid #fff;
    border-radius: 50% 0 0 50% !important;
}
.calendar-table__event--end .calendar-table__item {
    border-right: 2px solid #fff;
    border-radius: 0 50% 50% 0 !important;
}
.calendar-table__event .calendar-table__item {
    background-color: #66DCEC;
    border-color: #FEFEFE;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.calendar-table__event--long .calendar-table__item {
    border-radius: 0;
    border-width: 2px 0;
}
.calendar-table__item {
    border: 2px solid transparent;
    border-radius: 50%;
    color: #424588;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* ====================FOR ABSENT ONE COLOR==================== */
.calendar-table__item-ab {
    border: 2px solid transparent;
    border-radius: 50%;
    color: #424588;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.calendar-table__event-ab .calendar-table__item-ab {
    background-color: rgb(255, 125, 116);
    border-color: #FEFEFE;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.calendar-table__event--long .calendar-table__item-ab {
    border-radius: 0;
    border-width: 2px 0;
}

.calendar-table__event--start .calendar-table__item-ab {
    border-left: 2px solid #fff;
    border-radius: 50% 0 0 50% !important;
}
.calendar-table__event--end .calendar-table__item-ab {
    border-right: 2px solid #fff;
    border-radius: 0 50% 50% 0 !important;
}
/* ====================FOR ABSENT ONE COLOR==================== */

/* ====================FOR ABSENT ONE COLOR==================== */
.calendar-table__item-hl {
    border: 2px solid transparent;
    border-radius: 50%;
    color: #424588;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.calendar-table__event-hl .calendar-table__item-hl{
    background-color: rgb(255, 223, 116);
    border-color: #FEFEFE;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    color: #717171;
}
.calendar-table__event--long .calendar-table__item-hl{
    border-radius: 0;
    border-width: 2px 0;
}

.calendar-table__event--start .calendar-table__item-hl {
    border-left: 2px solid #fff;
    border-radius: 50% 0 0 50% !important;
}
.calendar-table__event--end .calendar-table__item-hl {
    border-right: 2px solid #fff;
    border-radius: 0 50% 50% 0 !important;
}
/* ====================FOR ABSENT ONE COLOR==================== */

.ml-1{
    margin-left: 5px !important;
}