<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-calendar bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>My Team- Monthly Calendar <div class="page-title-subheading"> ...</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">
       <div>
     
        <table class="table table-bordered gfg">
          <thead>
            <tr>
              <th>Name</th>
              <th colspan="31">
                
                <div class="">
                  <div class="btn-group m-2" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-light" ><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-light" style="width:300px">December 2019</button>
                      <button type="button" class="btn btn-light" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                    </div>
                    <!-- <div class="jzdcalt">{{currentMonth}} {{currentYear}}</div>  -->
              </div>
              </th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="">John Patil</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td class="calendar-table__col calendar-table__event calendar-table__event--long calendar-table__event--start" tooltip="Casual Leave!" placement="bottom" hide-delay="0">
                  <div class="calendar-table__item">
                      <span>5</span>
                      </div>
              </td>
              <td class="calendar-table__col calendar-table__event calendar-table__event--long" tooltip="Casual Leave!" placement="bottom" hide-delay="0">
                  <div class="calendar-table__item">
                      <span>6</span>
                      </div>
              </td>
              <td class="calendar-table__col calendar-table__event calendar-table__event--long" tooltip="Casual Leave!" placement="bottom" hide-delay="0">
                  <div class="calendar-table__item">
                      <span>7</span>
                      </div>
              </td>
              <td class="calendar-table__col calendar-table__event calendar-table__event--long" tooltip="Casual Leave!" placement="bottom" hide-delay="0">
                  <div class="calendar-table__item">
                      <span>8</span>
                      </div>
              </td>
              <td class="calendar-table__col calendar-table__event calendar-table__event--long calendar-table__event--end" tooltip="Casual Leave!" placement="bottom" hide-delay="0">
                  <div class="calendar-table__item">
                      <span>9</span>
                      </div>
              </td>
              <td>10</td>
              <td>11</td>
              <td>12</td>
              <td class="calendar-table__col calendar-table__event1 calendar-table__event--long calendar-table__event--start">
                <div class="calendar-table__item1">
                  <span>13</span>
                  </div>
              </td>
              <td class="calendar-table__col calendar-table__event1 calendar-table__event--long">
                <div class="calendar-table__item1">
                  <span>14</span>
                  </div>
              </td>
              <td class="calendar-table__col calendar-table__event1 calendar-table__event--long calendar-table__event--end">
                <div class="calendar-table__item1">
                  <span>15</span>
                  </div>
              </td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
            </tr>
            <tr>
              <td class="">Mary Shinde</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td class="calendar-table__col calendar-table__event-ab calendar-table__event--long calendar-table__event--start" tooltip="Absent!" placement="bottom" hide-delay="0">
                <div class="calendar-table__item-ab">
                    <span>19</span>
                    </div>
            </td>
            <td class="calendar-table__col calendar-table__event-ab calendar-table__event--long" tooltip="Absent!" placement="bottom" hide-delay="0">
                <div class="calendar-table__item-ab">
                    <span>20</span>
                    </div>
            </td>
            <td class="calendar-table__col calendar-table__event-ab calendar-table__event--long" tooltip="Absent!" placement="bottom" hide-delay="0">
                <div class="calendar-table__item-ab">
                    <span>21</span>
                    </div>
            </td>
  
            <td class="calendar-table__col calendar-table__event-ab calendar-table__event--long calendar-table__event--end" tooltip="Absent!" placement="bottom" hide-delay="0">
                <div class="calendar-table__item-ab">
                    <span>22</span>
                    </div>
            </td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
              <td class="calendar-table__col calendar-table__event-hl calendar-table__event--long calendar-table__event--start" tooltip="Holiday!" placement="bottom" hide-delay="0">
                <div class="calendar-table__item-hl">
                    <span>26</span>
                    </div>
            </td>
            <td class="calendar-table__col calendar-table__event-hl calendar-table__event--long" tooltip="Holiday!" placement="bottom" hide-delay="0">
                <div class="calendar-table__item-hl">
                    <span>27</span>
                    </div>
            </td>

  
            <td class="calendar-table__col calendar-table__event-hl calendar-table__event--long calendar-table__event--end" tooltip="Holiday!" placement="bottom" hide-delay="0">
                <div class="calendar-table__item-hl">
                    <span>28</span>
                    </div>
            </td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
            </tr>
            <tr >
              <td class="">Shubhangi Pitukale</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
            </tr >
            <tr >
              <td class="">Shubham Bari</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
            </tr >

            <tr >
              <td class="">Ajinkya Rananavare</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
            </tr >
          </tbody>
        </table>
       </div>
        </div>
      </div>
    </div>
  </div>
</div>

