<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-list-alt bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Approvals <div class="page-title-subheading"> Here you can approve, reject or cancel Requisition </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 
contractor data approval list start-->
      <div class="card-body col-md-12">

        <div class="flex flex-column mt-4 faq-section">
          <div class="row">
            <div class="col-md-12">

              <div id="accordion" *ngIf="manpowerData?.length > 0">
                <div class="card"  style="
                overflow: auto;border-radius: 13px ">
                  <div class="card-header headings" id="heading-1" style="position: sticky;
                  top: 0px;
                  z-index: 2;">
                    <h5 class="mb-0">
                      <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false"
                        aria-controls="collapse-1">
                        Contractor Profile Confirmation <span
                          class="badge badge-danger">{{manpowerData.length}}</span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
                    <div class="card-body" style="height: 345px;
                    overflow: hidden;padding: 0px;">
                      <div class="row" style="margin: auto;align-items: flex-start;">
                        <div class="col-md-12" style="padding: 0px!important;">

                          <table class="table">
                            <thead style="background-color: #edeff6;">
                              <tr>
                                <th>Sr.No</th>
                                <th>Contractor EmpId</th>
                                <th> Contractor Name</th>
                                <!-- <th>Department</th>
                                <th>Designation </th> -->

                                <th style="text-align: center;">

                                  <!-- <input type="checkbox" [(ngModel)]="checked" (click)="checkAll()">
                                  Select All  -->
                                  <span
                                    class="badge badge-pill badge-danger approvals-count">{{trueElementsLength}}</span>
                                </th>
                              </tr>



                            </thead>
                            <tbody *ngFor="let item of manpowerData; let i=index">

                              <tr style="border-bottom: 1px solid #e5e2e2;">
                                <td>{{i+1}}</td>
                                <td ata-toggle="collapse" [attr.data-target]="'#Ws' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item?.empId}}</td>
                                <td data-toggle="collapse" [attr.data-target]="'#Ws' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item?.firstName}} {{item?.lastName}}</td>
                                <!-- <td data-toggle="collapse" [attr.data-target]="'#Ws' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item.departmentMaster?.departmentName}}</td>
                                <td data-toggle="collapse" [attr.data-target]="'#Ws' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item.designationMaster?.desigName}}</td> -->
                                <td data-toggle="collapse" [attr.data-target]="'#Ws' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1" style="text-align: center;">
                                  <!-- <button class="btn btn-sm" style="border-radius: 13px!important;background-color: #edeff6;" data-toggle="modal" data-target="#manRequestApprovalModal" (click)="ApprovedManRequest(item)">Check Details1   <i class="fa fa-info-circle info-icon" data-toggle="tooltip" title="Info!" aria-hidden="true"></i></button> -->
                                  <!-- <input type="checkbox" [(ngModel)]="item.check" (ngModelChange)="checks()">
                                   -->
                                   <button  class="btn btn-sm" data-target="#manRequestApprovalModal2" data-toggle="modal" style="border-radius: 13px!important;background-color: #edeff6;" (click)="ApproveContractorRequest(item)">Check Details <i _ngcontent-c3="" aria-hidden="true" class="fa fa-info-circle info-icon" data-toggle="tooltip" title="Info!"></i></button>
                                </td>


                              </tr>
                              <!-- <tr [attr.id]="'Ws' + i" class="collapse" style="cursor: pointer;border: 1.5px solid;">
                                <td colspan="12">
                                  <div class="row " colspan="12" style="margin-top: -23px;padding-left: 15px;
                                  padding-right: 30px;">
                                    <div class="col-md-4">
                                      <div class="p-4">
                                        <form>
                                          <div class="info">
                                            <p style="color: rgb(7 71 166);;
                                                  font-size: 15px; font-weight: 700;">Contractor Details</p>
                                            <label for="empid"><span class="colorchange">Emp Id:-</span>
                                              {{item?.empId}}</label><br>
                                            <label for="name"><span class="colorchange"> Name :-</span>
                                              {{item?.firstName}} {{item?.lastName}}</label><br>
                                           
                                            <label for="age"> <span class="colorchange"> Company Name:-</span>
                                              {{item?.companyName}}</label><br>
                                            <label for="age"><span class="colorchange">emailId:-</span>
                                              {{item?.emailId}}</label><br>
                                            <label for="vehicletype"><span class="colorchange">Mobile No:-</span>
                                              {{item?.mobileNo}}</label>&nbsp;


                                          </div>

                                        </form>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="p-4">
                                        <form>
                                          <div class="info">
                                            <p style="color: rgb(7 71 166);;
                                                  font-size: 15px; font-weight: 700;">Document Details</p>

                                          </div>
                                        </form>

                                      </div>
                                      <div>
                                        <table>
                                          <thead style="background-color: #edeff6;">
                                            <tr>

                                              <th>Labour License</th>
                                              <th>Expiry Date</th>
                                              <th>WC Policy </th>
                                              <th>Expiry Date</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>

                                              <td><img src={{item.labourLicense}} (click)="showPopup(item)"
                                                  data-toggle="modal" data-target="#exampleModalCenter" style="width: 100%;
                                                          height: 70%;"></td>
                                              <td>{{item.labourLicExpDate | date: 'dd/MM/yyyy'}}</td>
                                              <td><img src={{item.wcPolicyDocument}} (click)="showPopup(item)"
                                                  data-toggle="modal" data-target="#exampleModalCenter" style="width: 100%;
                                                          height: 70%;"></td>
                                              <td>{{item.wcLicExpDate | date: 'dd/MM/yyyy'}}</td>
                                            </tr>
                                          </tbody>

                                        </table>
                                      </div>


                                    </div>
                                    <div class="col-md-4">
                                      <div style="padding-top: 28px;margin-left: 35px">
                                        <form>
                                          <div class="info">
                                            <p style="color: rgb(7 71 166);;
                                                  font-size: 15px; font-weight: 700;">Statutory Details</p>
                                            <label for="empid"><span class="colorchange">PF Number:-</span>
                                              {{item.pfNumber}}</label><br>
                                            <label for="empid"><span class="colorchange">WC Number:-</span>
                                              {{item.wcNumber}}</label><br>
                                          </div>
                                        </form>
                                      </div>
                                      <form #leaveform="ngForm" style="margin-left: 35px">

                                        <div><span style="color: red;float: right;">*</span>
                                          <textarea class="form-control" id="remark" placeholder="Remark" rows="4"
                                            name="leaveApproveRemark" #requestType="ngModel"
                                            [(ngModel)]="item.approverRemark" required></textarea>
                                          <div class="help-block"
                                            *ngIf="requestType.errors?.required && (requestType.touched || leaveform.submitted)">
                                            <small style="color: red">Remark is required for reject</small>
                                          </div>
                                          <div class="actionicons float-right">

                                            <i class="fa fa-check-circle btn" data-toggle="tooltip" title="Approve!"
                                              aria-hidden="true" (click)="approveLR(item)"></i>

                                            <i class="fa fa-times-circle reject btn" *ngIf="leaveform.invalid"
                                              data-toggle="tooltip" title="Reject!" aria-hidden="true"></i>
                                            <i class="fa fa-times-circle btn" *ngIf="leaveform.valid"
                                              (click)="rejectLeaveRequest(item)" data-toggle="tooltip" title="Reject!"
                                              aria-hidden="true"></i>

                                          </div>
                                        </div>
                                      </form>
                                    </div>


                                  </div>
                                  <div>

                                  </div>
                                </td>


                              </tr> -->

                            </tbody>
                          </table>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="float-right">

                                <button *ngIf="checked" class="btn btn-primary btn-sm"
                                  (click)="approveContractor()">Approve!</button>

                              </div>
                            </div>

                          </div>

                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--here is new code-->



            <!--End of Fuel Expense-->
          </div>
        </div>
        <!-- contractor data approval end -->
        <!-- manpower request approval list start-->
        <div class="flex flex-column  faq-section">
          <div class="row">
            <div class="col-md-12">

              <div id="accordion" *ngIf="manpowerDatas?.length > 0">
                <div class="card" style="
                overflow: auto;border-radius: 15px;">
                  <div class="card-header headings" id="heading-2" style="position: sticky;
                  top: 0px;
                  z-index: 2;">
                    <h5 class="mb-0">
                      <a role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false"
                        aria-controls="collapse-2">
                        Manpower Requisition
                        List <span class="badge badge-danger">{{manpowerDatas.length}}</span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                    <div class="card-body" style="
                    overflow: hidden; padding: 0px;" >
                      <div class="row" style="margin: auto; margin-left: 0px!important; margin-right: 0px!important;">
                        <div class="col-md-12" style="padding: 0px!important;">

                          <table class="table">
                            <thead style="background-color: #edeff6;">
                              <tr>
                                <th>SR.No</th>
                                <th>Designation</th>
                                <th> Manpower required</th>
                                <th>Department</th>
                                <th>Qualification
                                </th>
                                <th>Gender</th>

                                <th style="text-align: center;">

                               
                                   &nbsp;<span
                                    class="badge badge-pill badge-danger approvals-count">{{trueElementsLength}}</span>
                                </th>
                              </tr>



                            </thead>
                            <tbody *ngFor="let item of manpowerDatas; let i=index">

                              <tr style="border-bottom: 1px solid #e5e2e2;">
                                <td>{{i+1}}</td>
                                <td ata-toggle="collapse" [attr.data-target]="'#Wt' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item.designationMaster?.desigName}}</td>

                                <td data-toggle="collapse" [attr.data-target]="'#Wt' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item?.noOfManpower}}</td>
                                <td data-toggle="collapse" [attr.data-target]="'#Wt' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item.departmentMaster?.departmentName}}</td>
                                <td data-toggle="collapse" [attr.data-target]="'#Wt' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item?.education}}</td>
                                <td data-toggle="collapse" [attr.data-target]="'#Wt' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item.gender}}</td>
                                <td data-toggle="collapse" [attr.data-target]="'#Wt' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1" style="text-align: center;">
                                  <!-- <input type="checkbox" [(ngModel)]="item.check" (ngModelChange)="checks1()"> -->
                                  <button class="btn btn-sm" style="border-radius: 13px!important;background-color: #edeff6;" data-toggle="modal" data-target="#manRequestApprovalModal" (click)="ApprovedManRequest(item)">Check Details <i class="fa fa-info-circle info-icon" data-toggle="tooltip" title="Info!" aria-hidden="true"></i></button>
                                </td>


                              </tr>
                              <!-- <tr [attr.id]="'Wt' + i" class="collapse" style="cursor: pointer;border-top: 1.5px solid;">
                                <td colspan="12" style="border: 1.5px solid; border-top: 1.5px solid!important;padding-left: 28px;
                                padding-right: 52px">
                                  <div class="row " colspan="12" style="margin-top: -25px;">
                                    <div class="col-md-4">
                                      <div class="p-4">
                                        <form>
                                          <div class="info">
                                            <p style="color: rgb(7 71 166);;
                                            font-size: 15px; font-weight: 700;">Man power Details</p>
                                            <label for="name"><span class="colorchange"> No OfManpower :-</span>
                                              {{item?.noOfManpower}}</label><br>

                                            <label for="age"> <span class="colorchange">education :-</span>
                                              {{item?.education}}</label><br>
                                            <label for="age"><span class="colorchange">Gender:-</span>
                                              {{item?.gender}}</label><br>
                                            <label for="age"><span class="colorchange">Expected Labour Date:-</span>
                                              {{item?.expectedDateLabour}}</label><br>
                                            <label for="age"><span class="colorchange">start date:-</span>
                                              {{item?.startDate}}</label><br>

                                            <label for="age"><span class="colorchange">endDate :-</span>
                                              {{item?.endDate}}</label><br>
                                            <label for="age" *ngIf="item.experience==true"><span
                                                class="colorchange">experience :-</span>YES</label><br>
                                            <label for="age"><span
                                                class="colorchange">Skilled:-</span>{{item?.skillCategory}} </label>

                                          </div>

                                        </form>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div style="padding-top: 28px;margin-left: 35px">
                                        <p style="color: rgb(7 71 166);;
 font-size: 15px; font-weight: 700;">designation Details</p>
                                        <label for="age"><span class="colorchange">Designation Name:-</span>
                                          {{item?.designationMaster.desigName}}</label><br>
                                        <label for="age"><span class="colorchange">Department Name:-</span>
                                          {{item?.departmentMaster.departmentName}}</label><br>
                                    
                                        <label for="age"> <span class="colorchange">Designation Level :-</span>
                                          {{item.designationMaster?.desigLevel}}</label><br>

                                      </div>

                                      <div>
                                        <ng-multiselect-dropdown [placeholder]="'select Contractor'" [data]="AllContractorData"
                                        [(ngModel)]="SelectContractorTypeList" [ngModelOptions]="{standalone: true}"
                                        (click)="selectServiceType()" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                        (onSelectAll)="onSelectAll($event)" (onDeSelect)="OnItemDeSelect($event)"
                                        (onDeSelectAll)="onDeSelectAll($event)">
                                      </ng-multiselect-dropdown>
                                      </div>

                                    </div>
                                    <div class="col-md-4">
                                      <div style="padding-top: 28px;margin-left: 35px">
                                        <p style="color: rgb(7 71 166);;
                                       font-size: 15px; font-weight: 700;">Location Details</p>
                                        <label for="age"><span class="colorchange">Location Name:-</span>
                                          {{item?.locationMaster.locationName}}</label><br>
                                        <label for="age"><span class="colorchange">Location Details:-</span>
                                          {{item?.locationMaster.locationAddress}}</label><br>
                                        <label for="age"><span class="colorchange">Contact Details:-</span>
                                          {{item?.locationMaster.contactDetails}}</label><br>


                                      </div>
                                      <form #leaveform1="ngForm" style="margin-left: 35px">

                                        <div><span style="color: red;float: right;">*</span>
                                          <textarea class="form-control" id="remark" placeholder="Remark" rows="4"
                                            name="leaveApproveRemark" #requestType="ngModel"
                                            [(ngModel)]="item.approverRemark" required></textarea>
                                          <div class="help-block"
                                            *ngIf="requestType.errors?.required && (requestType.touched || leaveform1.submitted)">
                                            <small style="color: red">Remark is required for reject</small>
                                          </div>
                                          <div class="actionicons float-right">

                                            <i class="fa fa-check-circle btn" data-toggle="tooltip" title="Approve!"
                                              aria-hidden="true" (click)="approveLR1(item)"></i>

                                            <i class="fa fa-times-circle reject btn" *ngIf="leaveform1.invalid"
                                              data-toggle="tooltip" title="Reject!" aria-hidden="true"></i>
                                            <i class="fa fa-times-circle btn" *ngIf="leaveform1.valid"
                                              (click)="rejectLeaveRequest1(item)" data-toggle="tooltip" title="Reject!"
                                              aria-hidden="true"></i>

                                          </div>
                                        </div>
                                      </form>
                                    </div>


                                  </div>
                                  <div>

                                  </div>
                                </td>


                              </tr> -->

                            </tbody>
                          </table>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="float-right">

                                <button *ngIf="checked" class="btn btn-primary btn-sm"
                                  (click)="approveContractor1()">Approve!</button>

                              </div>
                            </div>

                          </div>

                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--here is new code-->



            <!--End of Fuel Expense-->
          </div>
        </div>
      </div>
      <br>
      <!-- contractor data  for labour check -->
      <div class="card-body col-md-12">
        <div class="flex flex-column  faq-section">
          <div class="row">
            <div class="col-md-12" style="padding: 0px!important;">

              <div id="accordion" *ngIf="allmanpowerLabourData?.length > 0">
                <div class="card" style="
                overflow: auto; border-radius: 13px;">
                  <div class="card-header headings" id="heading-3" style="position: sticky;
                  top: 0px;
                  z-index: 2;">
                    <h5 class="mb-0">
                      <a role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false"
                        aria-controls="collapse-3">
                         Labour Requisition List <span class="badge badge-danger">{{allmanpowerLabourData.length}}</span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                    <div class="card-body" style="height: 345px;
                    overflow: hidden;padding: 0px;">
                      <div class="row" style="margin: auto;align-items: self-start;">
                        <div class="col-md-12" style="padding: 0px!important;
                      ">

                          <table class="table">
                            <thead style="background-color: #edeff6;">
                              <tr>
                                <th>Sr.No</th>
                                <!-- <th>EmpId</th> -->
                                <th> Name</th>
                                <!-- <th>Department</th> -->
                                <th>Designation
                                </th>
                                <th>Contact Number</th>
                                <!-- <th>Labour Status</th> -->

                                <th style="text-align: center;">

                                  <!-- <input type="checkbox" [(ngModel)]="checked1" (click)="checkAll1()"> -->
                                  Select Labour 
                                </th>
                              </tr>



                            </thead>
                            <tbody *ngFor="let item of allmanpowerLabourData; let i=index">

                              <tr  style="border-bottom: 1px solid #e5e2e2;">
                                <td>{{i+1}}</td>
                                <!-- <td ata-toggle="collapse" [attr.data-target]="'#Wu' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item?.requestStatus?.labourInfo?.empId}}</td> -->

                                <td data-toggle="collapse" [attr.data-target]="'#Wu' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item?.requestStatus?.labourInfo?.firstName}} {{item?.requestStatus?.labourInfo?.lastName}}</td>
                                <!-- <td data-toggle="collapse" [attr.data-target]="'#Wu' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item.requestStatus?.labourInfo?.departmentMaster?.departmentName}}</td> -->
                                <td data-toggle="collapse" [attr.data-target]="'#Wu' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item.requestStatus?.labourInfo?.designationMaster?.desigName}}</td>
                                <td data-toggle="collapse" [attr.data-target]="'#Wu' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item.requestStatus?.labourInfo?.contactNumber}}</td>
                                <!-- <td data-toggle="collapse" [attr.data-target]="'#Wu' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1">{{item.requestStatus?.labourInfo?.labourStatus}}</td> -->
                                <td data-toggle="collapse" [attr.data-target]="'#Wu' + i" aria-expanded="false"
                                  aria-controls="group-of-rows-1" style="text-align: center;">
                                  <!-- <input type="checkbox" [(ngModel)]="item.check" (ngModelChange)="checks2()"> -->
                                  <button class="btn btn-sm" style="border-radius: 13px!important;background-color: #edeff6;" data-toggle="modal" data-target="#manRequestApprovalModal1" (click)="ApprovedLabourRequest(item)">Check Details <i class="fa fa-info-circle info-icon" data-toggle="tooltip" title="Info!" aria-hidden="true"></i></button>
                                </td>


                              </tr>
                              <!-- <tr [attr.id]="'Wu' + i" class="collapse" style="cursor: pointer;"  style="cursor: pointer;border-top: 1.5px solid;">
                                <td colspan="12" style="border: 1.5px solid; border-top: 1.5px solid!important;padding-left: 28px;
                                padding-right: 52px">
                                  <div class="row " colspan="12">
                                    <div class="col-md-3">
                                      <div class="p-4">
                                        <form>
                                          <div class="info">
                                            <p style="color: rgb(7 71 166);;
                                            font-size: 15px; font-weight: 700;">Labour Details</p>
                                            <label for="name"><span class="colorchange"> Labour Name :-</span>
                                              {{item.requestStatus?.labourInfo?.firstName}} {{item.requestStatus?.labourInfo?.lastName}}</label><br>
                                            <label for="name"><span class="colorchange"> Permanent Address :-</span>
                                              {{item.requestStatus?.labourInfo?.permanentAddress}}</label><br>
                                            <label for="name"><span class="colorchange"> temporary Address :-</span>
                                              {{item.requestStatus?.labourInfo?.tempAddress}}</label><br>
                                            <label for="age"> <span class="colorchange">Emergency Contact Number
                                                :-</span>
                                              {{item.requestStatus?.labourInfo?.emergencyContactNo}}</label><br>
                                            <label for="age"><span class="colorchange">Gender:-</span>
                                              {{item.requestStatus?.labourInfo?.gender}}</label><br>
                                            <label for="age"><span class="colorchange">Blood Group:-</span>
                                              {{item.requestStatus?.labourInfo?.bloodGroup}}</label><br>
                                            <label for="age"><span class="colorchange">Email Id:-</span>
                                              {{item.requestStatus?.labourInfo?.emailId}}</label><br>

                                            
                                            <label for="age"><span class="colorchange">Marital Status
                                                :-</span>{{item.requestStatus?.labourInfo?.maritalStatus}}</label><br>


                                          </div>

                                        </form>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <div style="padding-top: 28px;margin-left: 35px">
                                        <p style="color: rgb(7 71 166);;
  font-size: 15px; font-weight: 700;">Labour Advance Details</p>

                                        <label for="age"> <span class="colorchange">Designation Name :-</span>
                                          {{item.requestStatus?.labourInfo?.designationMaster?.desigName}}</label><br>

                                      </div>



                                    </div>
                                    <div class="col-md-6">
                                      <div style="padding-top: 28px;margin-left: 35px">
                                        <p style="color: rgb(7 71 166);;
                                       font-size: 15px; font-weight: 700;">Labour Work Details</p>
                                     <table class="table table-space table-borderless">
                                      <thead >
                      
                                        <tr class="table-secondary">
                                  
                                        
                                          <th >Emp Type</th>
                                          <th >Job</th>
                                          <th >Pre Emp</th>
                                          <th >Reason </th>
                                          <th >Work Start</th>
                                          <th >Work End</th>
                                        </tr>
                                       
                                      </thead>
                                      <tbody>  
                      
                                    
                      
                                        <tr *ngFor = "let item1 of item.requestStatus.labourInfo.workHistoryList; let i = index">
                                        
                                          <td>{{item1?.employmentType}}</td>
                                          <td>{{item1?.jobType}}</td>
                                          <td>{{item1?.previousEmployer}}</td>
                                          <td>{{item1?.reasonForLeaving}}</td>
                                          <td>{{item1?.workedStartedDate|date: 'dd/MM/yyyy'}}</td>
                                          <td>{{item1?.workedCompletedDate|date: 'dd/MM/yyyy'}}</td>
                                        </tr>    
                                      </tbody>
                                    </table>

                                      </div>
                                      <form #leaveform1="ngForm" style="margin-left: 35px">

                                        <div><span style="color: red;float: right;">*</span>
                                          <textarea class="form-control" id="remark" placeholder="Remark" rows="4"
                                            name="leaveApproveRemark" #requestType="ngModel"
                                            [(ngModel)]="item.approverRemark" required></textarea>
                                          <div class="help-block"
                                            *ngIf="requestType.errors?.required && (requestType.touched || leaveform1.submitted)">
                                            <small style="color: red">Remark is required for reject</small>
                                          </div>
                                          <div class="actionicons float-right">

                                            <i class="fa fa-check-circle btn" data-toggle="tooltip" title="Approve!"
                                              aria-hidden="true" (click)="approveLabour(item)"></i>

                                            <i class="fa fa-times-circle reject btn" *ngIf="leaveform1.invalid"
                                              data-toggle="tooltip" title="Reject!" aria-hidden="true"></i>
                                            <i class="fa fa-times-circle btn" *ngIf="leaveform1.valid"
                                              (click)="rejectLabour(item)" data-toggle="tooltip" title="Reject!"
                                              aria-hidden="true"></i>

                                          </div>
                                        </div>
                                      </form>
                                    </div>


                                  </div>
                                  <div>

                                  </div>
                                </td>


                              </tr> -->

                            </tbody>
                          </table>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="float-right">

                                <button *ngIf="checked" class="btn btn-primary btn-sm"
                                  (click)="approveContractor1()">Approve!</button>

                              </div>
                            </div>

                          </div>

                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--here is new code-->



            <!--End of Fuel Expense-->
          </div>
        </div>
      </div>



    </div>
  </div>
</div>



<!--here is image show model-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{showImage}}" style="width: 95%;  height: 400px;;">
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="AreYouSuredlt2">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Do you want to confirm</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal"
          class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AreYouSuredlt3">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Do you want to confirm</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" 
          class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
 <div class="modal fade" id="manRequestApprovalModal" style="background-color: rgba(34, 34, 34, 0.8) !important;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="border-radius: 11px;">
      
        
        <div class="modal-header" style="background-color: #0747a6;padding-top: 3px;
        padding-bottom: 9px ">
          <h5 class="modal-title" style="color: white;font-weight: 500;">Manpower Requisition
            Details</h5>
          <button type="button" class="close" data-dismiss="modal" style="color:whitesmoke">&times;</button>
        </div>
        
       
        <div class="modal-body" >
        
         <div class="card" style="padding-left: 17px;
         padding-top: 17px;background-color: #FFFDCC;">
          <ul style="line-height: normal;
          list-style: none;">
            <li><p class="para-Style">Manpower Requisition
              For : <span class="font-style">{{manrequest?.designationMaster?.desigName}}</span> </p></li>
            <li><p class="para-Style">Required In Department : <span class="font-style">{{manrequest?.departmentMaster?.departmentName }}</span></p></li>
            <li><p class="para-Style">Request Generated By : <span class="font-style">{{manrequest?.createrName}}</span></p></li>
            <li><p class="para-Style">For Location : <span class="font-style">{{manrequest?.locationMaster?.locationName }}</span></p></li>
            <li><p class="para-Style">Request Generated Date :  <span class="font-style">{{manrequest?.createdOn| date: 'dd/MM/yyyy'}}</span> </p></li>
          </ul>
         </div>
         <div class="card" style="    margin-top: 14px;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;">
          <div class="card-header" style="padding-top: 2px;
          padding-bottom: 2px ;box-shadow: 0px 2px #d6d3d3;
    z-index: 1;background-color: #edeff6;">
          <p style="font-weight: 500;
          font-size: 15px;margin-bottom: 0px ;" >Details</p>
          </div>
          <div class="card-body" style="padding: 0px;margin-bottom: -15px ">
            <table class="table table">

              <tbody>
                <tr style="border-bottom: 1px solid #dee2e6;">
                <th style="border-top: none;width: 34%; background-color: #eeecec;
                border-bottom: 1px solid;padding-top: 2px;
    padding-bottom: 2px ">No. of Manpower Required</th>
                  <td class="td-borderStyle"><span class="font-style">{{manrequest?.noOfManpower}}</span></td>
                
                </tr>
                <tr style="border-bottom: 1px solid #dee2e6;">
                <th class="th-Style">Gender Preference </th>
                  <td class="td-borderStyle"><span class="font-style">{{manrequest?.gender}}</span></td>
                
                </tr>
                <tr style="border-bottom: 1px solid #dee2e6;">
                <th class="th-Style">Education </th>
                  <td class="td-borderStyle"><span class="font-style">{{manrequest?.education}}</span></td>
                
                </tr>
                <tr style="border-bottom: 1px solid #dee2e6;">
                  <th class="th-Style">Experience</th>
                  <td class="td-borderStyle">
                    <span class="font-style" *ngIf="manrequest?.experience === true">Yes</span>
                    <span class="font-style" *ngIf="manrequest?.experience !== true">NA</span>
                  </td>
                  </tr>
                  
                  <tr style="border-bottom: 1px solid #dee2e6;">
                    <th class="th-Style">Skill Category</th>
                      <td class="td-borderStyle"><span class="font-style">{{manrequest?.skillCategory}}</span></td>
                     
                    </tr>
                    <tr style="border-bottom: 1px solid #dee2e6;">
                      <th class="th-Style">Expected Date of Labour</th>
                        <td class="td-borderStyle"><span class="font-style">{{manrequest?.expectedDateLabour}}</span></td>
                      
                      </tr>
                      <tr style="border-bottom: 1px solid #dee2e6;">
                        <th class="th-Style">Work Start Date</th>
                          <td class="td-borderStyle"><span class="font-style">{{manrequest?.startDate}}</span></td>
                        
                        </tr>
                        <tr style="border-bottom: 1px solid #dee2e6;">
                          <th class="th-Style">Work End Date</th>
                            <td class="td-borderStyle"><span class="font-style">{{manrequest?.endDate}}</span></td>
                          
                          </tr>
                          <tr style="border-bottom: 1px solid #dee2e6;">
                            <th class="th-Style" style="border-bottom: none;">Remark</th>
                              <td class="td-borderStyle" style="border-bottom: none;"><span class="font-style">{{manrequest?.remark}}</span></td>
                            
                            </tr>
              </tbody>
            </table>
          </div>
         </div>
         <form style="margin-top: 20px ">
          <div class="form-group">
            <div style="width: 30%;">
              <label for="contractor">Select Contractor</label>
              <ng-multiselect-dropdown [placeholder]="'select Contractor'" [data]="AllContractorData"
              [(ngModel)]="SelectContractorTypeList" [ngModelOptions]="{standalone: true}"
              (click)="selectServiceType()" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)" (onDeSelect)="OnItemDeSelect($event)"
              (onDeSelectAll)="onDeSelectAll($event)">
            </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="form-group">
            <label for="comment">Remark (If any)</label>
            <textarea class="form-control" rows="2" id="comment" name="approverRemark" [(ngModel)]="approverRemark" style="border-radius: 7px "></textarea>
          </div>
        </form>
        </div>
        
        
        <div class="modal-footer" style="border: none;">
          <button class="btn btn" style="background-color: #008000;color: white;padding: 2px;
          font-size: 15px;cursor: pointer;" (click)="approveLR1(manrequest)" data-dismiss="modal">Approve <i class="fa fa-check" style="color:white;"></i></button>
          &nbsp;&nbsp;
          <button  class="btn btn" data-dismiss="modal" style="background-color: #AD0000; color:white;padding: 2px;
          font-size: 15px;cursor: pointer;" (click)="rejectLeaveRequest1(manrequest)">Reject <i class="fa fa-close" ></i></button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="manRequestApprovalModal1" style="background-color: rgba(34, 34, 34, 0.8) !important;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="border-radius: 11px;">
      
        
        <div class="modal-header" style="background-color: #0747a6;padding-top: 3px;
        padding-bottom: 9px ">
          <h5 class="modal-title" style="color: white;font-weight: 500;">Labour Details</h5>
          <button type="button" class="close" data-dismiss="modal" style="color:whitesmoke">&times;</button>
        </div>
        
       
        <div class="modal-body" >
        
         <div class="card" style="padding-left: 17px;
         padding-top: 17px;background-color: #FFFDCC;">
          <ul style="line-height: normal;
          list-style: none;">
            <li><p class="para-Style">Name : <span class="font-style">{{LabourDatas?.labourInfo?.firstName}} {{LabourDatas?.labourInfo?.lastName}}</span> </p></li>
            <li><p class="para-Style">Designation :  <span class="font-style">{{LabourDatas?.labourInfo?.designationMaster?.desigName}}</span> </p></li>
            <li><p class="para-Style">Gender :  <span class="font-style">{{LabourDatas?.labourInfo?.gender}}</span> </p></li>
            <li><p class="para-Style">Blood Group :  <span class="font-style">{{LabourDatas?.labourInfo?.bloodGroup}}</span> </p></li>
            <li><p class="para-Style">Emergency Contact No : <span class="font-style">{{LabourDatas?.labourInfo?.emergencyContactNo}}</span></p></li>
            <li><p class="para-Style">Current Address : <span class="font-style">{{LabourDatas?.labourInfo?.tempAddress}}</span></p></li>
            <li><p class="para-Style">Permanent Address : <span class="font-style">{{LabourDatas?.labourInfo?.permanentAddress}}</span></p></li>
            <!-- <li><p class="para-Style">Designation Leval :  <span class="font-style">{{LabourDatas?.labourInfo?.designationMaster?.desigLevel}}</span> </p></li> -->
          </ul>
         </div>
         <div class="card" style="    margin-top: 14px;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;">
          <div class="card-header" style="padding-top: 2px;
          padding-bottom: 2px ;box-shadow: 0px 2px #d6d3d3;
    z-index: 1;background-color: #edeff6;">
          <p style="font-weight: 500;
          font-size: 15px;margin-bottom: 0px ;" >Work Details</p>
          </div>
          <div class="card-body" style="padding: 0px;margin-bottom: -15px ">
            <table class="table table">

              <thead>
                <tr style="border-bottom: 1px solid #dee2e6;">
                <th style="border-top: none; background-color: #eeecec;
                border-bottom: 1px solid;padding-top: 2px;
    padding-bottom: 2px ">Employee Type</th>
     <th class="th-Style">Job </th>
     <th class="th-Style">Previous Employment</th>
     <th class="th-Style">Reason Of Sepration</th>
     <th class="th-Style">Work Started On Date</th>
     <th class="th-Style">Work Ended On Date</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of LabourDatas?.labourInfo?.workHistoryList">
                      <td class="td-borderStyle"><span class="font-style">{{item?.employmentType}}</span></td>
                      <td class="td-borderStyle"><span class="font-style">{{item?.jobDuties}}</span></td>
                      <td class="td-borderStyle"><span class="font-style">{{item?.previousEmployer}}</span></td>
                      <td class="td-borderStyle"><span class="font-style">{{item?.reasonForLeaving}}</span></td>
                      <td class="td-borderStyle"><span class="font-style">{{item?.workedStartedDate | date: 'dd/MM/yyyy'}}</span></td>
                      <td class="td-borderStyle"><span class="font-style">{{item?.workedCompletedDate | date: 'dd/MM/yyyy'}}</span></td>
                  </tr>
                  
                         
              </tbody>
            </table>
          </div>
         </div>
         <form style="margin-top: 20px ">
        
          <div class="form-group">
            <label for="comment">Remark (If any)</label>
            <textarea class="form-control" rows="2" id="comment" name="approverRemark1" [(ngModel)]="approverRemark1" style="border-radius: 7px "></textarea>
          </div>
        </form>
        </div>
        
        
        <div class="modal-footer" style="border: none;">
          <button class="btn btn" style="background-color: #008000;color: white;padding: 2px;
          font-size: 15px;cursor: pointer;" (click)="approveLabour(LabourDatas)" data-dismiss="modal">Approve <i class="fa fa-check" style="color:white;"></i></button>
          &nbsp;&nbsp;
          <button  class="btn btn" data-dismiss="modal" style="background-color: #AD0000; color:white;padding: 2px;
          font-size: 15px;cursor: pointer;" (click)="rejectLabour(LabourDatas)">Reject <i class="fa fa-close" ></i></button>
        </div>
        
      </div>
    </div>
  </div>

  <!-- here is new Model -->
  <div class="modal fade" id="manRequestApprovalModal2" style="background-color: rgba(34, 34, 34, 0.8) !important;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="border-radius: 11px;">
      
        
        <div class="modal-header" style="background-color: #0747a6;padding-top: 3px;
        padding-bottom: 9px ">
          <h5 class="modal-title" style="color: white;font-weight: 500;">Employee Details</h5>
          <button type="button" class="close" data-dismiss="modal" style="color:whitesmoke">&times;</button>
        </div>
        
       
        <div class="modal-body" >
        
         <div class="card" style="padding-left: 17px;
         padding-top: 17px;background-color: #FFFDCC;">
          <ul style="line-height: normal;
          list-style: none;">
            <li><p class="para-Style">Name : <span class="font-style">{{ContractorData?.firstName}} {{ContractorData?.lastName}}</span> </p></li>
            <li><p class="para-Style">Company Name : <span class="font-style">{{ContractorData?.companyName}}</span></p></li>
            <li><p class="para-Style">Email : <span class="font-style">{{ContractorData?.emailId}}</span></p></li>
            <li><p class="para-Style">Employee Id : <span class="font-style">{{ContractorData?.empId}}</span></p></li>
            <li><p class="para-Style">Mobile No :  <span class="font-style">{{ContractorData?.mobileNo}}</span> </p></li>
            <li><p class="para-Style">PF Number :  <span class="font-style">{{ContractorData?.pfNumber}}</span> </p></li>
            <li><p class="para-Style">WC Number :  <span class="font-style">{{ContractorData?.wcNumber}}</span> </p></li>
        
          </ul>
         </div>
         <div class="card" style="    margin-top: 14px;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;">
          <div class="card-header" style="padding-top: 2px;
          padding-bottom: 2px ;box-shadow: 0px 2px #d6d3d3;
    z-index: 1;background-color: #edeff6;">
          <p style="font-weight: 500;
          font-size: 15px;margin-bottom: 0px ;" >Documents </p>
          </div>
          <div class="card-body" style="padding: 0px;margin-bottom: -15px ">
            <!-- <table class="table table">

              <thead>
                <tr style="border-bottom: 1px solid #dee2e6;">
                <th style="border-top: none; background-color: #eeecec;
                border-bottom: 1px solid;padding-top: 2px;
    padding-bottom: 2px ">Employee Type</th>
     <th class="th-Style">Job </th>
     <th class="th-Style">Previous Employment</th>
     <th class="th-Style">Reason Of Leaving</th>
     <th class="th-Style">Work Started On Date</th>
     <th class="th-Style">Work Ended On Date</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of LabourDatas?.labourInfo?.workHistoryList">
                      <td class="td-borderStyle"><span class="font-style">{{item?.employmentType}}</span></td>
                      <td class="td-borderStyle"><span class="font-style">{{item?.jobDuties}}</span></td>
                      <td class="td-borderStyle"><span class="font-style">{{item?.previousEmployer}}</span></td>
                      <td class="td-borderStyle"><span class="font-style">{{item?.reasonForLeaving}}</span></td>
                      <td class="td-borderStyle"><span class="font-style">{{item?.workedStartedDate | date: 'dd/MM/yyyy'}}</span></td>
                      <td class="td-borderStyle"><span class="font-style">{{item?.workedCompletedDate | date: 'dd/MM/yyyy'}}</span></td>
                  </tr>
                  
                         
              </tbody>
            </table> -->
            <!-- <table>
              <thead style="background-color: #edeff6;">
                <tr>

                  <th>Labour License</th>
                  <th>Expiry Date</th>
                  <th>WC Policy </th>
                  <th>Expiry Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td><img src={{ContractorData?.labourLicense}} (click)="showPopup(item)"
                      data-toggle="modal" data-target="#exampleModalCenter" style="width: 31%;
                              height: 55%;"></td>
                  <td>{{ContractorData?.labourLicExpDate | date: 'dd/MM/yyyy'}}</td>
                  <td><img src={{ContractorData?.wcPolicyDocument}} (click)="showPopup(item)"
                      data-toggle="modal" data-target="#exampleModalCenter" style="width: 31%;
                              height: 55%;"></td>
                  <td>{{ContractorData?.wcLicExpDate | date: 'dd/MM/yyyy'}}</td>
                </tr>
              </tbody>

            </table> -->
            <table class="table table-bordered">
              <thead>
               
                <th>Labour License</th>
                <th>Expiry Date</th>
                <th>WC Policy </th>
                <th>Expiry Date</th>
              </thead>
              <tbody>
                <tr>

                  <td><img src={{ContractorData?.labourLicense}} (click)="showPopup(item)"
                      data-toggle="modal" data-target="#exampleModalCenter" style="width: 31%;
                              height: 55%;"></td>
                  <td>{{ContractorData?.labourLicExpDate | date: 'dd/MM/yyyy'}}</td>
                  <td><img src={{ContractorData?.wcPolicyDocument}} (click)="showPopup(item)"
                      data-toggle="modal" data-target="#exampleModalCenter" style="width: 31%;
                              height: 55%;"></td>
                  <td>{{ContractorData?.wcLicExpDate | date: 'dd/MM/yyyy'}}</td>
                </tr>
               
              </tbody>
            </table>
          </div>
         </div>
         <form style="margin-top: 20px ">
        
          <div class="form-group">
            <label for="comment">Remark (If any)</label>
            <textarea class="form-control" rows="2" id="comment" name="approverRemarkss" [(ngModel)]="approverRemarkss" style="border-radius: 7px "></textarea>
          </div>
        </form>
        </div>
        
        
        <div class="modal-footer" style="border: none;">
          <button class="btn btn" style="background-color: #008000;color: white;padding: 2px;
          font-size: 15px;cursor: pointer;" (click)="approveContractorData(ContractorData)" data-dismiss="modal">Approve <i class="fa fa-check" style="color:white;"></i></button>
          &nbsp;&nbsp;
          <button  class="btn btn" data-dismiss="modal" style="background-color: #AD0000; color:white;padding: 2px;
          font-size: 15px;cursor: pointer;" (click)="rejectContractorData(ContractorData)">Reject <i class="fa fa-close" ></i></button>
        </div>
        
      </div>
    </div>
  </div>
  

