<div class="bhoechie-tab-content white-bg" id="compmaster">
  <div class="row justify-content-center align-items-center">
    <div class="mastersheading">
      <h3>
        GRADE <span class="boldmaster">MASTER</span>
      </h3>
    </div>
  </div>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">

        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
          <label for="CompanyID">Company Name<span style="color: red">*</span></label>
          <div class="form-group">
            <select class="form-control form-control-sm mb-4" name="CompanyID" [(ngModel)]="selectedCompanyobj"
              name="selectedCompanyobj" #CompanyID='ngModel' (change)="ngValue($event)"
               required>
              <option hidden [value]="selectUndefinedOptionValue">Company Name</option>
              <option value="{{addcompany.compId}}" *ngFor="let addcompany of companydata; let i = index;">
                {{addcompany.compName}}</option>
            </select>
            <div class="help-block" style="margin-top:-23px"
              *ngIf="CompanyID.errors?.required && CompanyID.touched"><small style="color: red">Company
                Name required</small></div>

          </div>
          <div class="form-group">
            <label>Grade Name <span style="color: red">*</span></label>
            <input type="" class="form-control form-control-sm" maxlength="100" (keyup)='error()' name="gradeName"
              [(ngModel)]="GradeMasterModel.gradeName" #gradeName="ngModel"
               required />
            <div class="help-block" *ngIf="gradeName.errors?.required && gradeName.touched"><small
                style="color: red">Grade Name is required</small></div>
            <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exits </small></div>
          </div>

          <div class="form-group">
            <label>Grade Description </label>
            <input type="text" class="form-control form-control-sm" maxlength="250" name="gradeDesc"
              [(ngModel)]="GradeMasterModel.gradeDesc" #gradeDesc="ngModel" />
          </div>

          <div class="form-group">
            <label for="Grade Level">Grade Level</label>
            <input type="text" pattern="^(\(?\+?[0-9]*\)?)?[0-9_\(\)]*$" maxlength="8"
              class="form-control form-control-sm" name="GrdLevel" [(ngModel)]="GradeMasterModel.gradeLevel"
              #gradeLevel="ngModel" />
            <div class="help-block" *ngIf="gradeLevel.errors?.pattern && gradeLevel.touched"> <small
                style="color: red">Please enter only numbers</small>
            </div>
          </div>


          <div class="form-group">
            <p>Attendance Consider Present If <span style="color: red">*</span></p>

            <input type="radio" id="Radio1" value="BothPunch" name="attendnacecopultion"
              [(ngModel)]="GradeMasterModel.attendnacecopultion">
            <label for="Radio1">Both Punch</label>

            <input type="radio" id="Radio1" value="SinglePunch" name="attendnacecopultion"
              [(ngModel)]="GradeMasterModel.attendnacecopultion">
            <label for="Radio1"> Single Punch</label>




            <input type="radio" id="Radio1" value="NoPunch" name="attendnacecopultion"
              [(ngModel)]="GradeMasterModel.attendnacecopultion">
            <label for="radio1"> No Punch </label>
          </div>

          <div class="form-group" *ngIf='StatusFlag'>
            <label>Status</label><br>
            <label (click)="uiswitch($event)">

              <ui-switch [checked]='GradeMasterModel.status'><span class="switch  switch-medium"><small></small></span>
              </ui-switch>

            </label>
          </div>


          <div class="form-group">
            <button class="btn btn-primary" type="submit"
              [disabled]="(f.invalid || errflag )">Save</button>
              &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
          </div>
        </form>

      </div>

    </div>
    <hr>
    <div *ngIf='dataTableFlag'>
    <table id="grademasterTable" class="table table-striped table-bordered" style="width:100%">
      <thead class="theadblue">
        <tr>
          <th style="width: 90%">
            Grade Name
          </th>

          <th style="width: 40%" class="hide-arw">
            Status
          </th>
          <th style="width: 20%" class="hide-arw">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of AllGradeMaster">
          <td>{{item.gradeName}}</td>

          <td [ngClass]="{colorRed : item.status == false, colorGreen: item.status == true}"
            style="font-size:1rem; text-align:center"><i class="fa fa-circle" aria-hidden="true"></i></td>
          <td><i class="fa fa-pencil" aria-hidden="true" (click)="edit(item)"></i> <i class="fa fa-trash"
              (click)='dltObj(item)' data-toggle="modal" data-target="#AreYouSuredlt" aria-hidden="true"></i></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>

        </tr>
      </tfoot>
    </table>
    </div>
  </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure, You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>