<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><img src="assets/salary.png" style="height: 37px;"></div>
              <div> Salary head creation <div class="page-title-subheading"> Here we can create salary Head (Earning & Deduction)</div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row">
            <div class="col-md-12">
              <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

                <li class="nav-item">
                  <a class="nav-link active" id="extra-apply-tab" data-toggle="pill" href="#extra-apply" role="tab"
                    aria-controls="extra-apply" aria-selected="true">Salary Head</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="extra-list-tab" data-toggle="pill" href="#extra-list" role="tab" aria-controls="extra-list" aria-selected="false" (click)="refreshList()">List</a>
                </li>

              </ul>
            </div>
          </div>


          <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="extra-apply" role="tabpanel" aria-labelledby="extra-apply-tab"
              style="text-align: -webkit-center;">


              <div class="col-md-3">
                <form>




                  <div class="form-group row">

                    <label for="colFormLabelSm">Salary Head Name <span _ngcontent-c61="" style="color: red">
                        *</span></label>
                    <input type="text" class="form-control form-control-sm" id="salaryHead" name="salaryHeadName"
                      [(ngModel)]="salaryHeadName" #salaryHeads="ngModel" required>
                    <div *ngIf="salaryHeads.invalid && (salaryHeads.dirty || salaryHeads.touched)">
                      <div *ngIf="salaryHeads.errors.required"><small style="color: red;"> Salary Head is
                          Required</small></div>
                    </div>

                  </div>
                  <div class="form-group row" style="display: block;">


                    <label for="colFormLabelSm" style="display: flex;">Type of head <span _ngcontent-c61="" style="color: red;">
                        *</span></label>


                    <div class="form-inline">
                      <div class="form-group">

                        <input type="radio" class="form-control form-control-sm" name="type" [(ngModel)]="salaryType"
                          value="Earning" required>
                        <label for="pwd"> Earning</label>
                      </div>
                      <div class="form-group">

                        <input type="radio" class="form-control form-control-sm" value="Deduction" name="type"
                          [(ngModel)]="salaryType" required>
                        <label for="pwd">Deduction </label>
                      </div>

                    </div>

                  </div>
                  <!-- <div class="form-group row">
                    <button class="btn btn-primary" (click)="addSalaryhead()" *ngIf="isEditFlag!=true" [disabled]="!salaryType || !salaryHeadName">Add</button>
                  </div> -->
                  <!-- <div class="form-group row">
                    <table class="table table-space table-borderless" *ngIf="isEditFlag!=true">
                      <thead>

                        <tr class="table-secondary">
                          <th>Sr. No.</th>
                          
                          <th>Salary Head</th>
                          <th>Type</th>
                          <th>Action</th>
                        </tr>

                      </thead>
                      <tbody>
                        <tr *ngFor="let item of adddataInTable let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{item?.salaryHeadName}}</td>
                          <td>{{item?.salaryType}}</td>
                          <td><i aria-hidden="true" class="fa fa-trash" title="delete" (click)="deleteRoleHeads(item.id)"></i></td>

                      

                        </tr>
                      </tbody>
                    </table>
                  </div> -->

                  <div class="form-group row" style="justify-content: center;">
                    <button class="btn btn-primary" type="submit" (click)="submitSalaryHead()" [disabled]="!salaryType || !salaryHeadName" *ngIf="isEditFlag!=true" >Save</button>
                    <button class="btn btn-primary" type="submit" (click)="submitSalaryHead()" *ngIf="isEditFlag==true">Update</button>
                    &nbsp;&nbsp;
<!-- Add this button inside the form -->
         <button class="btn btn-primary" type="button" (click)="resetForm()">Reset</button>
                  </div>

                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="extra-list" role="tabpanel" aria-labelledby="extra-list-tab">
              <div>
              <div class="row">
                <div class="col-md-8" style="margin: auto;">
                  <table class="table table-space table-borderless">
                    <thead>

                      <tr class="table-secondary">
                        <th>Sr. No.</th>
                        <!-- <th>Sr.No</th> -->
                        <th>Salary Head</th>
                        <th>Type</th>
                        <th>Action</th>
                      </tr>

                    </thead>
                    <tbody>
                      <tr *ngFor="let item of allheadData; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{item.salaryHeadName}}</td>
                        <td>{{item.salaryType}}</td>
                        <td><i aria-hidden="true" class="fa fa-pencil" title="Edit details" (click)="getEditSingleRecord(item)"></i> &nbsp;&nbsp;<i aria-hidden="true" class="fa fa-trash" title="delete" (click)="deleteRequest(item)"></i></td>


                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>