<div class="container-fluid">
  <div class="col-md-12">
    <div class="white-bg">
      <div class="p-3">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <h4>Edit Contractor Employee</h4>
            <hr>
            <div class="data-title">
              <h6>Personal Information</h6>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-5">
            <form [formGroup]="userForm" >
              <div class="form-row">
                <div class="col-2">
                  <div class="form-group">
                    <label for="salutation" style="display: inline!important;">Salutation</label>
                    <select id="salutation" formControlName="salutation"
                      class="form-control form-control-sm" name="salutation" form="salutation"   style="margin-top: 8px;">
                      <option value="" selected>Select</option>
                      <option value="MR">MR</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Miss">Miss</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="empname">First Name</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" type="text"
                      formControlName="fullName" name="fullName" >
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="empMiddlename">Middle Name</label>
                    <input autocomplete="off" class="form-control form-control-sm" type="text"
                      formControlName="middleName" name="middleName">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="empLastname">Last Name</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" type="text"
                      formControlName="lastName" name="lastName" >
                  </div>
                </div>
              </div>

              <div class="form-group colors">
                <label>Gender <span style="color: red">*</span></label>
                <br>
                <input autocomplete="off" type="radio" id="radio" name="gender"
                  formControlName="gender" value="Male" name="gender" checked />
                <label for="radio">Male</label>

                <input autocomplete="off" type="radio" id="radio1" name="gender"
                  formControlName="gender" value="Female" name="gender" />
                <label for="radio1">Female</label>

                <input autocomplete="off" type="radio" id="radio2" name="gender"
                  formControlName="gender" value="Other" name="gender" />
                <label for="radio2">Other</label>
              </div>

              <div  class="form-row">
                <div class="form-group col-md-6">
                  <label for="dateOfBirth">Date of Birth <span style="color: red">*</span></label>
                  <input type="date" name="dateOfBirth"  formControlName="dateOfBirth"  (change)="setBirthDate($event)" class="form-control form-control-sm" id="dateOfBirth" 
                     name="dateOfBirth" aria-describedby="name" max="9999-12-31">
                </div>
                <div class="form-group col-md-6">
                  <label for="bloodgrp">Blood Group</label>
                  <select name="bloodGroup" class="form-control form-control-sm" id="bloodgrp" 
                    formControlName="bloodGroup">
                    <option value="">Select</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                  </select>
                </div>
              </div>
              
              <hr>
              
             
             
              
              
              <!--======================Permanent Address :: START-->
             
             
             
             
              <!--/Permanent Address :: END-->
              <!--======================Educational Qualification :: START-->
             
              
             
              <!--======================Educational Qualification :: END-->
              <!-- ====================Official Information Starts==================== -->
              <!-- <hr> -->
              <div class="data-title">
                <h6>Official Information</h6>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="biometrcId">Biometric ID <span style="color: red">*</span></label>
                  <input type="text" class="form-control form-control-sm" id="bioId"
                    formControlName="bioId" name="bioId" >
                </div>
                <!-- emp_id -->
                <div class="form-group col-md-6">
                  <label for="empId">Employee ID <span style="color: red">*</span></label>
                  <input type="text" class="form-control form-control-sm" id="empId"
                    formControlName="empId" name="empId" >
                </div>
                <!-- /emp_id -->
                            </div>
              <div class="form-row">
               

                <div class="form-group col-md-6">
                  <label for="designation">Designation <span style="color: red">*</span></label>
                  <select id="descId" formControlName="descId" class="form-control form-control-sm"
                    name="descId" >
                    <option value="">Select Designation</option>
                    <option value="{{designation.descId}}" *ngFor="let designation of DesignationAllData; let i = index;">
                      {{designation.descName}}
                    </option>
                  </select>
                </div>

                <div class="form-group col-md-6">
                  <label for="locationname">Location <span style="color: red">*</span></label>

                  <select id="locationId" class="form-control form-control-sm"
                    name="locationId" formControlName="locationId" (change)="Locationdata($event)" >
                    <option value="">Select Location Name</option>
                    <option value="{{location.locationId}}" *ngFor="let location of LocationAllData; let i = index;">
                      {{location.locationName}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="depname">Department Name <span style="color: red">*</span></label>
                  <select class="form-control form-control-sm" id="depname" formControlName="deptId" (ngModelChange)="getSubDepartments()">
                    <option value="">Department</option>
                    <option value="{{department.deptId}}" *ngFor="let department of DepartmentAllData; let i = index;">
                      {{department.deptName}}
                    </option>
                  </select>
                </div>

               
              </div>

              

             
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="contractorType">Contractor Service Type<span style="color: red">*</span></label>
                    <select id="contractorType" class="form-control form-control-sm" name="conSerTypeId"
                      formControlName="conSerTypeId"
                      (change)="contractorSerTypevalue($event)">
                      <option value="">Select Contractor Service Type</option>
                      <option value="{{Service.conSerTypeId}}"
                        *ngFor="let Service of contractServiceData; let i = index;">{{Service.conSerZTypeName}}</option>
                    </select>
                  </div>
                </div>

              
                <div class="col">
                  <div class="form-group">
                    <label for="contractorName">Contractor Firm Name <span style="color: red">*</span></label>
                    <select id="contractorName" class="form-control form-control-sm" name="contractorId"
                      formControlName="contractorId" (change)="contractorfirmnamedata($event)" >
                    <option value="">Select Contractor Firm Name</option>
                      <option 
                        *ngFor="let contractor of contractNamesData |filterfirmname;" value="{{contractor.contractorId}}">{{contractor.conFirmName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="empcategory">Employee Category<span style="color: red">*</span></label>
                    <select id="empTypeId" class="form-control form-control-sm" formControlName="empTypeId"
                      name="selectedEmpTypeobj"  (change)="selectEmptype(userForm.value.empTypeId)" >
                      <option hidden value="">Select Employee Category</option>
                      <option value="{{emp.empTypeId}}" *ngFor="let emp of empTypeAllData; let i = index;">
                        {{emp.empTypeName}}</option>
                    </select>
                  
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="subempcategory">Sub-Employee Category <span style="color: red">*</span></label>
                    <select id="subEmpTypeId" class="form-control form-control-sm" formControlName="subEmpTypeId"
                      name="subEmpTypeId" (change)="selectsubEmptype($event)"  >
                      <option value="">Select Sub-Employee Category</option>
                      <option value="{{subemp.subEmpTypeId}}" *ngFor="let subemp of subempTypeAllData; let i = index;">
                        {{subemp.subEmpTypeName}}
                      </option>
                    </select>
                   
                  </div>
                </div>
        
        
        
              </div>
             


              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="startDate">Validity Start Date <span style="color: red">*</span></label>
                  <input type="date"  name="validStartDate" class="form-control form-control-sm" id="startDate"
                   formControlName="validStartDate" min="0001-01-01" max="9999-12-31">
                </div>

                <div class="form-group col-md-6">
                  <label for="endDate">Validity End Date <span style="color: red">*</span></label>
                  <input type="date" name="validEndDate" class="form-control form-control-sm" id="endDate"
                   formControlName="validEndDate" min="0001-01-01" max="9999-12-31">
                </div>
              </div>

              <div  class="form-row">
                
                <div class="form-group col-md-6">
                  <label for="role">Role <span style="color: red">*</span></label>
                  <select name="rollMasterId" class="form-control form-control-sm" id="role"  formControlName="rollMasterId">
                    <option value="">Select Role</option>
                    <option value="{{role.rollMasterId}}" *ngFor="let role of roles; let i = index;">
                      {{role.rollName}}
                    </option> 
                  </select>
                </div>
                <!-- company Supervisor -->
                <div class="form-group col-md-6">
                  <label for="empId_supervisor">Company Supervisor<span style="color: red">*</span></label>
                  <select name="empId_supervisor" class="form-control form-control-sm" id="empId_supervisor" formControlName="firstLevelReportingManager">
                    <option value="" selected>Select Supervisor</option>
                    <option value="{{authority.empId}}" *ngFor="let authority of authorities; let i = index;">
                      {{authority.fullName}} {{authority.lastName}}
                    </option>
                  </select>
                </div>
                <!-- /company Supervisor -->
              </div>
              <!-- ====================Attendance Settings==================== -->
              <hr>
              <div class="data-title">
                <h6>Attendance Settings</h6>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="shiftType">Shift Type <span style="color: red">*</span></label>
                  <select class="form-control form-control-sm" id="shiftType" form="shiftType" name="shiftType"
                    formControlName="shiftType" >
                    <option value="General">General</option>
                    <option value="Custom">Custom</option>
                    <!-- <option value="Roster">Roster</option> -->
                  </select>
                </div>
                <div class="form-group col-md-6" *ngIf='userForm.value.shiftType == "General"'>
                  <label for="shiftMasterId">Shift Details <span style="color: red">*</span></label>
                  <select class="form-control form-control-sm" id="shiftMasterId" name="shiftMasterId"
                     formControlName="shiftMasterId" >
                    <option value="">Select</option>
                    <option value="{{addshiftgroup.shiftMasterId}}"
                      *ngFor="let addshiftgroup of Shiftmastergroupdata; let i = index;">{{addshiftgroup.shiftName}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-6" *ngIf='userForm.value.shiftType == "Custom"'>
                  <label for="shiftGroupId">Shift Group <span style="color: red">*</span></label>
                  <select class="form-control form-control-sm" id="shiftGroupId" formControlName="shiftGroupId" name="shiftGroupId" >
                    <option disabled value="">Select</option>
                    <option value="{{addshiftgroup.shiftGroupId}}"
                      *ngFor="let addshiftgroup of Shiftgroupdata; let i = index;"> {{addshiftgroup.shiftGroupName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="weeklyOffCal">WeeklyOff Calender <span style="color: red">*</span></label>
                <select class="form-control form-control-sm" id="weeklyOffCal" formControlName="weeklyOffCalenderMasterId"
                  name="weeklyOffCalenderMasterId">
                  <option disabled value="">Select</option>
                  <option value="{{addwcalender.weeklyOffCalenderMasterId}}"
                    *ngFor="let addwcalender of WeeklyOffcalendarData; let i = index;"> {{addwcalender.calenderName}}
                  </option>
                </select>
              </div>
              
              <hr>
              <div class="data-title">
                <h6>Government Documents Information</h6>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6" >
                  <label for="panNumber">PAN Number</label>
                  <input type="text" class="form-control form-control-sm" id="panNumber"
                    name="panNo"  formControlName="panNo">
                </div>
                <div class="form-group col-md-6">
                  <label for="aadharNumber">Aadhaar Number</label>
                  <input type="text" class="form-control form-control-sm" id="aadharNumber"
                   name="adharNo" formControlName="adharNo">
                </div>
                <div class="form-group col-md-6">
                  <label for="pfNumber">PF Number</label>
                  <input type="text" class="form-control form-control-sm" id="pfNumber"
                   name="pfNumber" formControlName="pfNumber" maxLength="16" >
                </div>
                <div class="form-group col-md-6">
                  <label for="universalAccNo">UAN number</label>
                  <input type="text" class="form-control form-control-sm" id="universalAccNo"
                 name="universalAccNo" formControlName="universalAccNo" maxLength="12">
                </div>
              </div>
              <div class="form-row" >
               
                <div class="form-group col-md-6">
                  <label for="esicNumber">ESIC/WC/Medical Policy number</label>
                  <input type="text" class="form-control form-control-sm" id="esicNumber"
                     name="esicNumber" formControlName="esicNumber">
                </div>
               </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="universalAccNo">Upload Photo</label>
                  <input type="file" class="form-control form-control-sm"  (change)="handleFileInputs($event.target.files)" accept=".png, .jpg, .jpeg">
                 
                  </div>
                  <div class="form-group col-md-6">
                  <div>
                    <img width="100%" *ngIf="newImageFlag==true" [src]="receiptUrl" class="image" style="width: 50%;
                     padding-left: 8px;" height="90%">
                  <img width="100%" *ngIf="newImageFlag==false" [src]="img" class="image" style="width: 50%;
                     padding-left: 8px;" height="90%">
                     </div>
                     </div>

              </div>
              <!-- ====================Upload Various Documents Starts==================== -->
              
             
              <div class="form-row">
                <div class="col">
                  <button class="btn btn-primary float-left" type="button" (click)="onUpdateContractor()" >Save</button>&nbsp;
                  <button class="btn btn-primary float-right" (click)="Cancel()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>