<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
              <div> Contractor Onboarding <div class="page-title-subheading">Here you can
                  add Contractor </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row">
            <div class="col-md-12">
              <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

                <li class="nav-item">
                  <a class="nav-link active" id="extra-apply-tab" data-toggle="pill" href="#extra-apply" role="tab"
                    aria-controls="extra-apply" aria-selected="true">Add Contractor</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="extra-list-tab" data-toggle="pill" href="#extra-list" role="tab"
                    aria-controls="extra-list" aria-selected="false">List</a>
                </li>

              </ul>
            </div>
          </div>


          <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="extra-apply" role="tabpanel" aria-labelledby="extra-apply-tab">

              <div class="row justify-content-center mt-3">
                <div class="col-md-6">
                  <form #ContractorForm="ngForm" (ngSubmit)="submitContractorOnBoarding()">
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label for="colFormLabelSm">Contractor Company Name <span _ngcontent-c61="" style="color: red">
                            *</span></label>
                        <input type="text" class="form-control form-control-sm" id="ContractorCompanyName"
                          name="ContractorCompanyName" [(ngModel)]="ContractorCompanyName"
                          #ContractorCompanyName1="ngModel" required maxlength="50">
                        <div
                          *ngIf="ContractorCompanyName1.invalid && (ContractorCompanyName1.dirty || ContractorCompanyName1.touched)">
                          <div *ngIf="ContractorCompanyName1.errors.required">
                            <small style="color: red;">Contractor Company is required</small>
                          </div>
                          <div *ngIf="ContractorCompanyName1.errors.maxlength">
                            <small style="color: red;">Contractor Company should not exceed 50 characters</small>
                          </div>
                        </div>
                      </div>



                      <div class="col-sm-6">
                        <label for="ContractorName">Contractor Name <span _ngcontent-c61="" style="color: red">
                            *</span></label>
                        <input type="text" class="form-control form-control-sm" id="ContractorName"
                          name="ContractorName" [(ngModel)]="ContractorName" #ContractorName1="ngModel" required
                          pattern="^[A-Za-z\s]+$" oninput="this.value = this.value.replace(/[^A-Za-z\s]/g, '');">
                        <div *ngIf="ContractorName1.invalid && (ContractorName1.dirty || ContractorName1.touched)">
                          <div *ngIf="ContractorName1.errors.required"><small style="color:red;">Contractor Name is
                              required</small></div>
                          <div *ngIf="ContractorName1.errors.pattern"><small style="color:red;">Contractor Name should
                              not
                              contain numbers or special characters</small></div>
                        </div>
                      </div>

                    </div>

                    <div class="form-group row">

                      <div class="col-sm-6">
                        <label for="colFormLabelSm">Contact Number <span _ngcontent-c61="" style="color: red">
                          *</span></label>
                      <input type="text" class="form-control form-control-sm" id="ContactNumber" name="ContactNumber"
                        [(ngModel)]="ContactNumber" #ContactNumber1="ngModel" required pattern="^\d{10}$">
                      <div *ngIf="ContactNumber1.invalid && (ContactNumber1.dirty || ContactNumber1.touched)">
                        <div *ngIf="ContactNumber1.errors.required"><small style="color:red;">Number is required</small>
                        </div>
                        <div *ngIf="ContactNumber1.errors.pattern"><small style="color:red;">Please enter exactly 10
                            digits (0-9) without letters or special symbols.
                          </small></div>
                      </div>
                    
                      </div>
                      <div class="col-sm-6">
                        <label> Email Id <span _ngcontent-c61="" style="color: red"> *</span></label>
                        <input type="text" class="form-control form-control-sm" maxlength="50" id="EmailId" name="EmailId"
                          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="EmailId" required
                          #EmailId1="ngModel" [disabled]="IsEditeFlag==true"/>
                        <div class="help-block" *ngIf="EmailId1.errors?.pattern && EmailId1.touched"> <small
                            style="color: red">please
                            enter valid Email</small> </div>
    
                      
                      </div>

                     

                    </div>


                    <div class="form-group row">

                      <div class="col-sm-6">
                        <label for="colFormLabelSm">Vendor Code<span _ngcontent-c61="" style="color: red">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="VendorCode" name="VendorCode"
                            [(ngModel)]="VendorCode" #vendorCodeInput="ngModel" required>
                        <div *ngIf="vendorCodeInput.invalid && (vendorCodeInput.dirty || vendorCodeInput.touched)">
                            <div *ngIf="vendorCodeInput.errors.required"><small style="color:red;">Vendor Code is required</small></div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                      <!-- backend remain -->
                      <label for="colFormLabelSm">Sanction Manpower <span _ngcontent-c61="" style="color: red">*</span></label>
                      <input type="text" class="form-control form-control-sm" id="sanctionManpower" name="sanctionManpower"
                          [(ngModel)]="sanctionManpower" #vendorCodeInput="ngModel" required>
                      <div *ngIf="vendorCodeInput.invalid && (vendorCodeInput.dirty || vendorCodeInput.touched)">
                          <div *ngIf="vendorCodeInput.errors.required"><small style="color:red;">Sanction Manpower  is required</small></div>
                      </div>
                  </div>

                     

                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label for="colFormLabelSm" >Service Start Date <span _ngcontent-c61="" style="color: red"> *</span></label>
                        <input type="date" class="form-control form-control-sm" id="serviceFromDate" name="serviceFromDate" [(ngModel)]="serviceFromDate" #serviceFromDates="ngModel" required>
                        <div *ngIf="serviceFromDates.invalid && (serviceFromDates.dirty || serviceFromDates.touched)">
                          <div *ngIf="serviceFromDates.errors.required" ><small style="color: red;">Service From Date is Required</small></div>
                        
                      </div>
                    </div>
  
  
  
  
  
        <div class="col-sm-6">
                        <label for="colFormLabelSm" >Service End Date <span _ngcontent-c61="" style="color: red"> *</span></label>
                        <input type="date" class="form-control form-control-sm" id="serviceToDate" name="serviceToDate" [(ngModel)]="serviceToDate" #serviceToDates="ngModel" required>
                        <div *ngIf="serviceToDates.invalid && (serviceToDates.dirty || serviceToDates.touched)">
                          <div *ngIf="serviceToDates.errors.required" ><small style="color: red;">Service ToDate is Required</small></div>
                        
                      </div>
                    </div>
                    </div>
                       
                    <div class="form-group row">

                      <div class="col-sm-6">
                        <label for="colFormLabelSm">Service Type <span _ngcontent-c61="" style="color: red">
                            *</span></label>
                        <ng-multiselect-dropdown [placeholder]="'Select ServiceType'" [data]="EmpData"
                          [(ngModel)]="SelectServiceTypeList" [ngModelOptions]="{standalone: true}"
                          (click)="selectServiceType()" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                          (onSelectAll)="onSelectAll($event)" (onDeSelect)="OnItemDeSelect($event)"
                          (onDeSelectAll)="onDeSelectAll($event)">
                        </ng-multiselect-dropdown>
    
                      </div>
                      <div class="col-sm-6">
                        <label for="colFormLabelSm">Location<span _ngcontent-c61="" style="color: red"> *</span></label>
                        <ng-multiselect-dropdown [placeholder]="'Select Location'" [data]="EmpData1"
                          [(ngModel)]="SelectLocationList" [ngModelOptions]="{standalone: true}"
                          (click)="selectServiceType1()" [settings]="dropdownSettings1" (onSelect)="onItemSelect1($event)"
                          (onSelectAll)="onSelectAll1($event)" (onDeSelect)="OnItemDeSelect1($event)"
                          (onDeSelectAll)="onDeSelectAll1($event)" required>
                        </ng-multiselect-dropdown>
    
                      </div>
                    </div>

                    
                    
                    


                    <div class="form-group row" style="padding-left: 8px;
                    margin-top: 30px;">
                      <button class="btn btn-primary" type="submit" [disabled]="ContractorForm.invalid">Save</button>
                      &nbsp;&nbsp;
                      <button class="btn btn-primary" (click)="reset()">Reset</button>
                    </div>
                  </form>
                </div>
              </div>

            </div>

            <div class="col-md-6 col-sm-6 d-flex"
            
            style="flex-direction: column; display: flex; align-items: flex-end; transform: translateX(85%)">
    
                <div>
                  <!-- <label>Search<input type="search" class="form-control form-control-sm" placeholder="Search..."></label> -->
                </div>
                


            
          </div>
          



       







       


            <div class="tab-pane fade" id="extra-list" role="tabpanel" aria-labelledby="extra-list-tab">

              <div class="row justify-content-center">
                <div class="col-md-10">
                 
                  <div>
                    <table id="contractorOnBoardingTables" class="table table-striped table-bordered" style="width:100%">
                      <thead class="theadblue">
                        <tr>
                          <th>Sr No.</th>
                          <th>Contractor Company Name</th>
                          <th>Contractor Name</th>
                          <th>Contractor Number</th>
                          <th>Action</th> 

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of allContractorone; let i=index">
                          <td>{{i + 1}}</td>
                          <td>{{data.conCompanyName}}</td>
                          <td>{{ data.firstName}}</td>
                          <td>{{data.mobileNo}}</td>
                          <td><span class="fa fa-pencil" (click)="getOnBoardingById(data)"></span>
                            &nbsp; &nbsp;
                            <span class="fa fa-trash" (click)="deleteOnBoardingById(data)"></span>
                          </td>

                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


 


  
