.bgclr{
    background: rgb(239, 239, 239);
    height:100%;
    padding:1rem;
}
.form-text {
    display: block !important;
    margin-top: .25rem !important;
}
.btn-go{
    margin-top:1.6rem;
    height:28.5px;
    line-height: 0 !important;
}