<div class="container-fluid">
    <div class="mainwrap">
      <div class="row">
  
          <div class="col-md-12">
     
              <div class="app-page-title">
                <div class="page-title-wrapper">
                  <div class="page-title-heading">
                    <div class="page-title-icon"><i class="fa fa-address-card-o bg-happy-itmeo" aria-hidden="true"></i></div>
                    <div> Matrix Manager <div class="page-title-subheading"> Set level wise Matrix Managers </div>
                    </div>
                  </div>
            
                </div>
              </div>
      
          </div>
  
        <div class="col-lg-12 col-md-12">
          <div class="white-bg min-height-500">
  
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="empname">Employee Name</label>
                        <input type="text" class="form-control form-control-sm" id="empname" aria-describedby="emailHelp">
                    </div>
                  </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="managercategory">Manager Category</label>
                    <select class="form-control form-control-sm" id="managercategory">
                        <option>Select</option>
                        <option>Manager 1</option>
                        <option>Manager 2</option>
                        <option>Manager 3</option>
                      </select>
                  </div>
                </div>
    
                <div class="col-md-2">
                  <form class="form-inline">
                    <label for="exampleInputEmail1"></label>
                    <button type="submit" class="btn btn-primary btn-go">Go</button>
                  </form>
    
    
                </div>
    
              </div>
            <div class="row">
              <div class="col-md-9">
                
                  <table class="table table-bordered">
                      <thead class="theadblue">
                        <tr>
                          <th>Manager Category</th>
                          <th>Employee ID</th>
                          <th>Employee Name</th>
                          <th>Effective From</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><div class="input-group">
                              <input type="text" class="form-control form-control-sm"  aria-label="Filter" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-filter" aria-hidden="true"></i></span>
                              </div>
                            </div></td>
  
                            <td><div class="input-group">
                                <input type="text" class="form-control form-control-sm"  aria-label="Filter" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                  <span class="input-group-text" id="basic-addon2"><i class="fa fa-filter" aria-hidden="true"></i></span>
                                </div>
                              </div></td>
  
                              <td><div class="input-group">
                                  <input type="text" class="form-control form-control-sm"  aria-label="Filter" aria-describedby="basic-addon2">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-filter" aria-hidden="true"></i></span>
                                  </div>
                                </div></td>
  
                                <td><div class="input-group">
                                    <input type="text" class="form-control form-control-sm"  aria-label="Filter" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                      <span class="input-group-text" id="basic-addon2"><i class="fa fa-filter" aria-hidden="true"></i></span>
                                    </div>
                                  </div></td>
                        </tr>
                        <tr>
                          <td> Matrix Manager 1 </td>
                          <td> 470541 </td>
                          <td> Rohan Patil </td>
                          <td> 21 JUN 2019 </td>
                        </tr>
                        <tr>
                          <td> Matrix Manager 2 </td>
                          <td> 470569 </td>
                          <td> Suresh Patil </td>
                          <td> 21 JUN 2019 </td>
                        </tr>
                        <tr>
                          <td> Matrix Manager 3 </td>
                          <td> 478541 </td>
                          <td> Rajesh Patil </td>
                          <td> 21 JUN 2019 </td>
                        </tr>
      
                    
      
                      </tbody>
                    </table>
              </div>
              <div class="col-md-3">
                  <div class="bgclr">
                      <div class="form-group">
                          <label for="managercategory">Manager Category</label>
                          <select class="form-control form-control-sm" id="managercategory">
                            <option>Select</option>
                            <option>Manager 1</option>
                            <option>Manager 2</option>
                            <option>Manager 3</option>
                          </select>
                        </div>
                  <div class="form-group">
                    <label for="matrixmanager">Matrix Manager</label>
                    <input type="text" class="form-control form-control-sm" id="matrixmanager" aria-describedby="emailHelp">
                  </div>
  
                  <div class="form-group">
                      <label for="effectfrom">Effective From</label>
                      <input type="date" class="form-control form-control-sm" id="effectfrom" aria-describedby="emailHelp">
                    </div>
  
                    <div class="form-group">
                        <label for="effctto">Effective To</label>
                        <input type="date" class="form-control form-control-sm" id="effctto" aria-describedby="emailHelp">
                      </div>
                
                </div>
                </div>
              <div class="col-md-12">
                <div class="float-right">
                  <div class="form-group">
                    <button class="btn btn-primary">Save</button> &nbsp;   <button class="btn btn-info">Reset</button>
                  </div>
                </div>
              </div>
            </div>
   
          </div>
        </div>
      </div>
    </div>
  </div>