<div class="container-fluid">
  <div class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu" >
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Leave Register Report</strong> &nbsp;
        </h6>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Abbreviation:-</strong></span> OB : Opening Balance, U : Used, CB : Current Balance</h6>
        </div>
      </div>
      <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Leave Register of Employees For Year: </strong></span>{{fromDate |  date:"yyyy"}}</h6>
        </div>
        <!-- <div class="qwe" *ngIf="fromDate != toDate ">
          <h6><span class="blu"><strong>Leave Register of Employees From Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}<span class="blu"><strong> To:</strong></span> {{toDate | date:"dd MMM yyyy"}}</h6>
        </div> -->
      </div>

      <div class="col-md-10" id="content" style="overflow-x: auto; overflow-y: hidden;">
        <table class="table table-space table-borderless" id="leave-Register">
          <thead>
            <tr>
              <th [attr.colspan]="table_length">{{compName}}</th>
            </tr>
            <tr>
              <th [attr.colspan]="table_length">Leave Register Report</th>
            </tr>
            <tr>
              <th [attr.colspan]="table_length">For Year : {{fromDate | date :'yyyy'}}</th>
            </tr>
            <tr>
              <th [attr.colspan]="table_length">Report Date: {{report_time}}</th>
            </tr>
            <tr class="table-secondary">
              <th>Sr.No</th>
              <th >EmpId</th>
              <th  [attr.colspan]="table_length">Employee Name</th>
              <th scope="colgroup" colspan="3" *ngFor = "let leaveheader of leaveHeaders">
                <div *ngIf="leaveheader != null">
                  {{ leaveheader }}
                </div>
              </th>
              <!-- <th>Compensatory Off</th> -->
              <!-- <th scope="colgroup" colspan="2">Total</th> -->
            </tr>
            <tr class="table-secondary">
              <th></th>
              <th></th>
              <th></th>
              <th scope="col" *ngFor = "let leavesubHeader of leaveSubHeaders">{{ leavesubHeader }}</th>
              <th></th>
              <!-- <th scope="col">Claim</th>
              <th scope="col">Outstanding Balance</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of temp; let i = index">
              <td>{{i+1}}</td>
              <td class="text-right">{{item.empId}}</td>
              <td *ngIf="marked3" class="text-left">
              <div>
                  {{item.fullName | titlecase}} {{item.lastName | titlecase}}
              </div>
              </td>
              <ng-container *ngFor="let data of item.leavedata">
                <td *ngIf="data.openingBalance != null">{{ data.openingBalance }}</td>
                <td *ngIf="data.usedLeaves != null">{{ data.usedLeaves }}</td>
                <td *ngIf="data.currentLeaves != null">{{ data.currentLeaves }}</td>
                <!-- <td *ngIf="data.noOfCoff != null">{{ data.noOfCoff }}</td> -->
                <!-- <td *ngIf="data.totalUsedLeaves != null">{{ data.totalUsedLeaves}}</td>
                <td *ngIf="data.totalCurrentLeaves != null">{{ data.totalCurrentLeaves}}</td> -->
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>

      
      <div class="col-md-2">
        <div class="columnshead" style="margin-left: 100px;">
         <!--
          <h6>Select Columns:</h6>
          <label class="container">
            <input type="checkbox" [(ngModel)]="employeeNameCheckbox" data-md-icheck (change)="toggleVisibility3($event)" />
            Employee Name
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="casualLeaveCheckbox" data-md-icheck (change)="toggleVisibility4($event)" />
            Casual Leave
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="privlegeLeaveCheckbox" data-md-icheck (change)="toggleVisibility5($event)" />
            Privlege Leave
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="sickLeavesCheckbox" data-md-icheck (change)="toggleVisibility6($event)" />
            Sick Leaves
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="compensatoryOffCheckbox" data-md-icheck (change)="toggleVisibility7($event)" />
            Compensatory Off
            <span class="checkmark"></span>
          </label>

           
          <label class="container">
            <input type="checkbox" [(ngModel)]="totalCheckbox" data-md-icheck (change)="toggleVisibility8($event)" />
            Total
            <span class="checkmark"></span>
          </label>
        -->
          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX('leave-Register')"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>

