<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-warning float-right m-3" (click)="exportTableToExcel('Punches')">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel
      </button>
      <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF
      </button>
    </div>
  </div>
  <div id="content" class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Multiple Punches Report </strong> &nbsp;
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Multiple Punches Report From Date: </strong></span>{{fromDate | date
            :'dd/MM/yyyy'}}<span class="blu"><strong> To:</strong></span> {{toDate | date :'dd/MM/yyyy'}}</h6>
        </div>
      </div>
      <div class="col-md-12">
        <table id="Punches" class="table table-space table-borderless">
          <thead>
            <tr>
              <th colspan="8" style="text-align: center;">{{compName}}</th>
            </tr>
            <tr>
              <th colspan="8" style="text-align: center;">Multiple Punches Report</th>
            </tr>
            <tr>
              <th colspan="8" style="text-align: center;">From {{fromDate | date :'dd/MM/yyyy'}} &nbsp;To&nbsp; {{toDate | date :'dd/MM/yyyy'}} &nbsp;Report Date : {{report_time}} </th>
            </tr>
            <tr class="table-secondary">
              <th>Sr. No</th>
              <th>Employee ID</th>
              <th>Employee Name</th>
              <!-- <th>Contractor Firm Name</th> -->
              <th>Department</th>
              <th>Designation</th>
              <th>Attendance Date</th>
              <th>Punches</th>
            </tr>
          </thead>
          <tbody *ngFor="let report of AllMultipleReport; let i = index">
            <!-- <tr *ngIf="report.multiplePunchesReportResDtoList">
              <td *ngIf="report.punches_data.length!=0" colspan="2" style="font-weight:600; text-align:center">Employee
                Id: {{report.multiplePunchesNameAndIdResDto.empId}},
                Name:{{report.multiplePunchesNameAndIdResDto.fullName}}
                {{report.multiplePunchesNameAndIdResDto.lastName}}, Department:
                {{report.multiplePunchesNameAndIdResDto.deptName}},Designation:
                {{report.multiplePunchesNameAndIdResDto.descName}}
              </td>
            </tr> -->
            <tr *ngFor="let item of report.punches_data; let i = index">
              <td>{{item.Sr}}</td>
              <td>{{report.multiplePunchesNameAndIdResDto.empId}}</td>
              <td>{{report.multiplePunchesNameAndIdResDto.fullName}} {{report.multiplePunchesNameAndIdResDto.lastName}}</td>
              <!-- <td>{{report.multiplePunchesNameAndIdResDto.contractorFirmName}}</td> -->
              <td>{{report.multiplePunchesNameAndIdResDto.deptName}}</td>
              <td>{{report.multiplePunchesNameAndIdResDto.descName}}</td>
              <td>{{item.attenDate}}</td>
              <td>
                <span *ngFor="let time of item.chkTime"> &nbsp; &nbsp;{{getCheckInTime(time)}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>