.attrep{
    display: -webkit-inline-box;
    border-radius: 5px;

    padding: 8px;
}

.rep-bg{
    padding:2rem;
    background: white;
}

.blu{
    color:rgb(48, 80, 139);
}

.yel, .qwe{
    border-radius: 5px0 0 5px 5px;
    padding:5px;
    padding-left:10px;
    background: rgb(235, 235, 235);
}

.repdate{
    right: 6px;
    z-index: 0;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    background: rgb(252, 208, 115);
    padding: 10px;
    float: right;
    margin-top: -39px;
}

.table td, .table th {

    border-top: 0px solid #dee2e6 !important;
}
.table thead th {
    vertical-align: middle !important;
    border-bottom: 0px solid #dee2e6 !important;
}
.table-space{
    border-collapse: separate;
    border-spacing: 0 2px;
}

tr{
    font-size: 10px;
    border-spacing: 10;
    border: none !important;
    background: #fff;
    border-radius: 0.2rem;
    margin-bottom: 10px;
    /* box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important; */
}
.table-secondary{
    background: gray !important;
}

.table td, .table th {

    border-top: 0px solid #dee2e6 !important;
}
.table thead th {
    vertical-align: middle !important;
    border-bottom: 0px solid #dee2e6 !important;
    font-size: 7px;
    background-color: #dae8fd !important;
}
.table-space{
    border-collapse: separate;
    border-spacing: 0 2px;
}

tr{
    font-size: 10px;
    border-spacing: 10;
    border: none !important;
    background: #fff;
    border-radius: 0.2rem;
    margin-bottom: 10px;
    /* box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important; */
}
.table-secondary{
    background: gray !important;
}
tr.border_bottom td {
    border-bottom:1pt solid black;
  }
  .table-wrapper {
    height: 485px;
    /* overflow: scroll; */
  }
  
  table {
    position: relative;
    border: 2px solid #ddd;
    border-collapse: collapse;
  }
  
  td, th {
    white-space: nowrap;
    border: 2px solid #f3f3f3;
    padding: 5px 5px;
    /* text-align: center; */
  }
  
  th {
    background-color: #dedede;
    position: sticky;
    top: -1px;
    z-index: 2;
  }
  td{
    transition: all .2s ease-in-out;
  }
  td:hover { transform: scale(1.1); }
  
  tbody tr td:first-of-type {
    background-color: #dedede;
    position: sticky;
    left: -1px;
    text-align: left;
  }