.btn-info {
    color: #fff;
    background-color: #5757df !important;
}
.chatsuggestion{
    background: white;
    padding: 5px;
    box-shadow: 0px 1px 8px #2d2d2d;
    border-radius: 0px 0px 5px 5px;
    max-height: 200px;
    overflow-x: auto;
  }
  .suggestiontext:hover{
    cursor: pointer;
    background: rgba(137, 188, 255, 0.425);
  }
  .active{
    background: rgba(137, 188, 255, 0.425);
  }
  .suggestiontext{
  padding:4px;
  border-radius: 3px;
  }