<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row">
            <div class="col-md-8">
              <div class="act-emp">
                <h6>Reset
                  <br>
                  <span class="emptypetxt">Password</span>
                </h6>
              </div>
            </div>
          </div>
          <hr>

          <div class="row justify-content-center">
            <div class="col-md-4">

              <form name="form" (ngSubmit)="f.form.valid " #f="ngForm" novalidate>

                <div class="form-group">
                  <label for="Parentcompoany">Select Department <span style="color: red">*</span></label>
                  <select class="form-control form-control-sm mb-4" [(ngModel)]="selectfunctionobj" name="selectfunctionob" #selectfunctionob='ngModel'  (change)="ngValueDepa($event)" [ngClass]="{ 'is-invalid': f.submitted && selectfunctionob.invalid }"
                      required>
                      <option  hidden [value]="selectUndefinedOptionValue">Select Department</option>
                      <option value="{{addfuction.deptId}}" *ngFor="let addfuction of AllDepart; let i = index;">
                          {{addfuction.deptName}}
                      </option>
                  </select>
                  <div class="help-block" style="margin-top:-23px" *ngIf="selectfunctionob.errors?.required && (selectfunctionob.touched || f.submitted)" ><small style="color: red">Function-Unit required</small> </div>
                  </div>

                <div class="form-group">
                  <label for="searchemp">Search Employee</label>
                  <input class="form-control form-control-sm" (keydown)="keyDown($event)" placeholder="Search Employee" [(ngModel)]="searchQuery" #name="ngModel" name="name" (input)="filterItem(searchQuery)" type="text">
                </div>
                <div class="chatsuggestion" *ngIf="empFlag">
                  <div *ngFor="let item of Allemp| searchPipe: searchQuery" (click)="suggestThis(item)"  class="suggestiontext">
                    <div>
                     {{item.empId}}-{{item.fullName}}
                    </div>
               </div>
                </div>
                <div class="float-right">
                  <div class="form-group">
                    <button class="btn btn-info btn-sm"  type="reset" [disabled]='f.invalid' (click)="putResetPass()">Reset Password</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>