<div class="container">
  <div class="page-wrapper">

    <div class="row">
      <div class="col-md-12">
        <div class="whitebg w3-animate-left">
          <div class="newheader">
            <h4>Settings</h4>
          </div>
          <div class="p-3">

            <div class="menus">
              <ul class="list-inline">
                <li class="dropdown list-inline-item " >
                  <div class="menuicons" [routerLink]="['/layout/master/companymaster']" [routerLinkActive]="'active'" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/setting.svg">
                    <span>Organization Master<b class="caret"></b></span>
                  </div>
                </li>
                <li class="dropdown list-inline-item " >
                  <div class="menuicons" [routerLink]="['/layout/maincontractmaster/contractmaster']" [routerLinkActive]="'active'">
                    <img src="assets/Contractor Service Type.png">
                    <span>Contractor Service Type<b class="caret"></b></span>
                  </div>
                </li>
                <li class="dropdown list-inline-item " >
                  <div class="menuicons" [routerLink]="['/layout/holiday2/holidaymaster']" [routerLinkActive]="'active'" >
                    <img src="assets/holiday master.png">
                    <span>Holiday Master<b class="caret"></b></span>
                  </div>
                </li>
                <li class="dropdown list-inline-item " >
                  <div class="menuicons" [routerLink]="['/layout/salaryHead']" [routerLinkActive]="'active'">
                    <img src="assets/salary.png">
                    <span>Salary Head<b class="caret"></b></span>
                  </div>
                </li>
                <li class="dropdown list-inline-item " >
                  <div class="menuicons" [routerLink]="['/layout/salaryStructure/salaryStructure']" [routerLinkActive]="'active'">
                    <img src="assets/wages.png">
                    <span>Salary Structure<b class="caret"></b></span>
                  </div>
                </li>
               
                <!-- <li class="dropdown list-inline-item " >
                  <div class="menuicons" [routerLink]="['/layout/shift/shiftgroupmaster']" [routerLinkActive]="'active'" >
                    <img src="assets/newlayout/setting.svg">
                    <span>Shift Master<b class="caret"></b></span>
                  </div>
                </li> -->
                <li class="dropdown list-inline-item " >
                  <div class="menuicons" [routerLink]="['/layout/monthlock/monthlock']" [routerLinkActive]="'active'">
                    <img src="assets/roll.png">
                    <span>Role Authorities<b class="caret"></b></span>
                  </div>
                </li>
                <li class="dropdown list-inline-item " >
                  <div class="menuicons" [routerLinkActive]="'active'" (click)="navigateRoute()">
                    <img src="assets/roll.png">
                    <span>Signing Authority<b class="caret"></b></span>
                  </div>
                </li>
                
             
                <!-- <li  class="list-inline-item text-center">
                  <div class="menuicons" [routerLink]="['/layout/contractorOnBoarding']" [routerLinkActive]="'active'">
                    <img src="assets/onboarding.png">
                    <span>Onboarding of Contractors</span>
                  </div>
                  </li> -->
                <!-- <li class="dropdown list-inline-item " >
                  <div class="menuicons" [routerLink]="['/layout/weeklymaster/weeklyoffmaster']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/setting.svg">
                    <span>Weekly-Off Master<b class="caret"></b></span>
                  </div>
                </li> -->
                <!-- <li   class="list-inline-item ">
                  <div class="menuicons dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/newlayout/setting.svg">
                    
                  </div>

                  <ul class="dropdown-menu dropdownstyle animated flipInY">
                    <li [routerLink]="['/layout/master/companymaster']" [routerLinkActive]="'active'">Organization Master</li>
                    <li [routerLink]="['/layout/holiday2/holidaymaster']" [routerLinkActive]="'active'" >Holiday Master</li>
                    <li [routerLink]="['/layout/shift/shiftgroupmaster']" [routerLinkActive]="'active'" >Shift Master</li>
                    <li [routerLink]="['/layout/maincontractmaster/contractmaster']" [routerLinkActive]="'active'" >Contractor Master</li>
                    <li [routerLink]="['/layout/weeklymaster/weeklyoffmaster']" [routerLinkActive]="'active'" >Weekly-Off Master</li>
                    <li [routerLink]="['/layout/paymaster/payperiodmaster']" [routerLinkActive]="'active'" hidden>Payroll Setting</li>
                    <li [routerLink]="['/layout/Device/devicemaster']" [routerLinkActive]="'active'" hidden>Device Master</li>
                    <li [routerLink]="['/layout/transportmaster/busroutemaster']" [routerLinkActive]="'active'" hidden>Transport Master</li>
                    <li [routerLink]="['/layout/asset/assetmaster']" [routerLinkActive]="'active'" hidden>Assets Master</li>
                    <li [routerLink]="['/layout/documentmaster/documentmaster']" [routerLinkActive]="'active'" hidden>Document Master</li>

                  </ul>

                </li>  -->

                <!-- <li *ngIf="loggedUser.mrollMaster.leaveConfig" class="list-inline-item">
                  <div class="menuicons dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/newlayout/leavesetting.svg">
                    <span>Leave Configuration <b class="caret"></b></span>
                  </div>
                  <ul class="dropdown-menu dropdownstyle animated flipInY">
                    <li [routerLink]="['/layout/leaveconfiguration/leaveconfiguration']" [routerLinkActive]="'active'">Configure Leave Setting</li>
                    <li [routerLink]="['/layout/approverlevel/approverlevel']" [routerLinkActive]="'active'" hidden>Approver Workflow Level Setting</li>
                    <li [routerLink]="['/layout/leaveconfiguration/topupleavebalance']" [routerLinkActive]="'active'">Top Up Leave Balance</li>
                  </ul>
                </li> -->

                <!-- <li *ngIf="loggedUser.mrollMaster.attenConfig" class="list-inline-item ">
                  <div class="menuicons" [routerLink]="['/layout/configuration/configuration']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/appointment.png">
                    <span>Attendance Configuration</span>
                  </div>
             
                </li> -->

            
                <!-- <li *ngIf="loggedUser.mrollMaster.roleMaster" class="dropdown list-inline-item ">
                  <div class="menuicons" [routerLink]="['/layout/rolemasterr']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/role.svg">
                    <span>Role Master</span>
                  </div>
                
                </li> -->

                <!-- <li *ngIf="loggedUser.mrollMaster.customizeDashboard" class="dropdown list-inline-item">
                  <div class="menuicons" [routerLink]="['/layout/customizedashboard/customizedashboard']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/dashboard.svg">
                    <span>Customize Dashboard <b class="caret"></b></span>
                  </div>
                 
                </li> -->

               

             <!--   <li *ngIf="loggedUser.mrollMaster.emailSetting" class="dropdown list-inline-item ">
                  <div class="menuicons" [routerLink]="['/layout/mailsetting/mailsetting']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/email.svg">
                    <span>Email Setting <b class="caret"></b></span>
                  </div>
          
                </li> -->

                <!-- <li class="dropdown list-inline-item " *ngIf='roleofuser =="HR" || roleofuser == "Admin"'>
                  <div class="menuicons" [routerLink]="['/layout/attendanceProcessing/attendanceProcessing']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/appointment.png">
                    <span>Attendance Processing <b class="caret"></b></span>
                  </div>
                </li>-->
               
              

                
                <!-- <li *ngIf='roleofuser =="HR"' class="dropdown list-inline-item ">
                  <div class="menuicons" [routerLink]="['/layout/seprationsetting/seprationsetting']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/exit.svg">
                    <span>Separation</span>
                  </div>
                </li> -->



                <!-- <li *ngIf="loggedUser.mrollMaster.emailSetting" class="dropdown list-inline-item ">
                  <div class="menuicons" [routerLink]="['/layout/satutarysetting/satutarysetting']" [routerLinkActive]="'active'">
                    <img src="assets/money_3.png">
                    <span>Statutory Setting <b class="caret"></b></span>
                  </div>
          
                </li> -->

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>