<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
        <div class="col-md-12">
            <div class="app-page-title">
              <div class="page-title-wrapper">
                <div class="page-title-heading">
                  <div class="page-title-icon"><i class="fa fa-user-times bg-happy-itmeo" aria-hidden="true"></i></div>
                  <div>Clearance Details <div class="page-title-subheading"> Here you can See Your Clearance Requests Details </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row justify-content-center">
            <div class="col-md-12">
                
              <div class="table-responsive">
                 <div *ngIf="dataTableFlag" >
                <table id="emptable" class="table emp-action">
                  <tbody>
                          <tr class="theadblue">
                             
                              <td>Role</td>
                              <td>Contact Person</td>
                              <td>Mobile No.</td>
                              <td>Status</td>
                              <td>Reason</td>
                            </tr>

                            <tr *ngFor="let data of clearanceList">
                     
                              <td>{{data.queryAdminRoleName}}</td>
                              <td>{{data.fullName}}</td>
                              <td>{{data.officialContactNumber}}</td>
                              <td><h5> <span [ngClass]="{'badge-danger': data.clrStatus=='Hold' , 'badge-warning': data.clrStatus=='Pending' , 'badge-success': data.clrStatus=='Clear'}"  class="badge">{{data.clrStatus}}</span></h5></td>
                              <td *ngIf="data.clrStatus=='Hold' else other">{{data.clrReason}}</td>
                              <ng-template #other>  -</ng-template>
                            </tr>
                    
                  </tbody>
                </table>
            </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
<!-- Full Height Modal Right -->
<div class="modal fade right " id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-full-height modal-right w3-animate-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     <div>
        <div class="wrapper-2">
            <img src="https://www.loyensloeff.com/media/1477787/frig-profile-500-x-500.jpg?mode=pad&width=500&rnd=131571318110000000" alt="" class="image-cover-2"
            />
            <h5><strong>RAJESH PATIL</strong></h5>
          </div>

          <div class="form-group">
              <label for="comment">Remark:</label>
              <textarea class="form-control" rows="4" id="comment"></textarea>
            </div>
     </div>
      </div>
      <div class="modal-footer justify-content-center">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary send-button mb-4" data-dismiss="modal">Send</button>
      </div>
    </div>
  </div>
</div>
<!-- Full Height Modal Right -->
    
</div>