.btn-danger {
    border: none !important;
}


  .emp-action td{
    border:none !important;
    padding: .5rem;
    vertical-align: middle !important;
  }
  .emp-action{
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  .image-cover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
  }


            
  
  .thead-dark{
    background: black !important;
    color:white;
  }


  /* ==============================HOLD POPUP CSS============================ */
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
  padding-right: 0!important;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.fade {
  transition: opacity .15s linear;
}

.modal .modal-dialog.modal-right {
    right: 0;
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.modal.fade .modal-dialog {
  border-radius: .5rem 0 0 0.5rem !important;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  -webkit-transform: translate(0,-50px);
  transform: translate(0,-50px);
}
.modal .modal-full-height {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 350px;
  min-height: 70%;
  top: 20%;
  right: 0;
}
.modal-content{
  border-radius: .5rem 0 0 0.5rem !important;
}

#fullHeightModalRight{
  background: #00000082;
}
.modal.fade .modal-dialog {
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  -webkit-transform: translate(0,-50px);
  transform: translate(0,-50px);
  box-shadow: 0px 0px 18px;
}

.send-button{
  width:250px;
}

.wrapper-2{
  margin-top: 1rem;
  text-align: center;
}
.image-cover-2{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center ;
}
  /* ==============================HOLD POPUP CSS============================ */