.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.btn-outline-primary:focus {
    color:white;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
    background-color: #007bff !important;
}

.table .thead-dark2 th {
    color: #fff !important;
    background-color: #212529 !important;
    border-color: #32383e !important;
  }
  .fa-eye{
      color:rgb(0, 132, 255);
  }
.wrapper {

    width: 100%;
  }
  
  .drop {
    border: 3px dashed #DADFE3;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*&:hover
     * cursor: pointer
     * background: #f5f5f5 */
  }
  .drop .cont {
    text-align: -webkit-center;
      padding: 2rem;
    color: #8E99A5;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .drop .cont i {
      font-size: 2rem;
    color: #8E99A5;
    position: relative;
  }
  
  .drop .cont .desc {
    color: #A4AEBB;
  }
  .drop .cont .browse {
    margin: 10px 35%;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    background: #09f;
  }
  .drop input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: red;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .addmember{
    color:rgb(70, 133, 228) !important;
    text-decoration: underline;
  }
  .addmember:hover{
    cursor: pointer;
    color:rgb(0, 46, 146);
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 10px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: -2px;
    bottom: -4px;
    background-color: #ffbc00;
    transition: .4s;
}
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }
.lang-toggle{
    padding-left:1rem;
}
.table .thead-dark2 th {
  color: #fff !important;
  background-color: #212529 !important;
  border-color: #32383e !important;
}
.fa-pencil{
  color:green;
}
.fa-trash{
padding-left:1rem;
color:red;
}
h5{
  color:rgb(1, 82, 255);
}
iframe{
  height: 500px;
}
.modal {
  /* display: block; */
  position: fixed; 
  z-index: 100; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  }