<form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
  <!-- <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="data-title">
        <h6>Transport Details</h6>
      </div>
    </div>
  </div> -->

  <!-- <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="preflocationfuture">Transportation Mode</label> <span style="color: red">*</span>
            <select class="form-control form-control-sm" type="text" name="transportationMode" #transportation='ngModel'
              [(ngModel)]="otherModel.transportationMode" (ngModelChange)='transportevent($event)' required>
              <option hidden [value]='selectUndefinedOptionValue'>select</option>
              <option value="Own/Self">Own/Self</option>
              <option value="Company Bus">Company Bus</option>
              <option value="Pool Car">Pool Car</option>
              <option value="Executive Car">Executive Car</option>
            </select>
            <div class="help-block" *ngIf="transportation.errors?.required && (transportation.touched || f.submitted)">
              <small style="color: red"> Transportation Mode required</small></div>

          </div>
        </div>
      </div>
    <div *ngIf='hide'>
    <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="busStop">Bus Stop</label> <span style="color: red">*</span>
            <select class="form-control form-control-sm" type="text"  [(ngModel)]="otherModel.busStopId"  name="busStop" (change)="mychange($event)" #busStop='ngModel' required>
              <option hidden [value]="selectUndefinedOptionValue">Select</option>
              <option *ngFor="let r of busStoplist" value={{r.busStopId}}>{{r.busStopName}}</option>
             
            </select>
            <div class="help-block"
             *ngIf="busStop.errors?.required && busStop.touched"> <small
              
               style="color: red">Please select bus stop</small></div>

          </div>
        </div>
      </div> 

       <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="busCodeCapacity">Bus code and capacity</label><span style="color: red">*</span>
            <select class="form-control form-control-sm" type="text"  [(ngModel)]="otherModel.vehicalCapacity" (change)="changeBusId($event)" name="busCodeCapacity" #busCodeCapacity='ngModel'  required>
              <option hidden [value]="selectUndefinedOptionValue">Select</option>
              <option *ngFor="let r of busdata" value="{{r.busId}}">{{r.busCode}} - ({{r.vehicalCapacity}})</option>
             
            </select>
            <div class="help-block" *ngIf="busCodeCapacity.errors?.required && busCodeCapacity.touched"> <small
              
              style="color: red">Please select bus code and capacity</small></div>
              <div class="help-block" *ngIf="capacityflag"><small style="color: red">{{getbuscapacitydata.message}}</small></div>
          </div>
        </div>
      </div> 
</div>
     



      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="preflocationfuture">Consider Addreess As Transport Purpose</label><span
              style="color: red">*</span>
            <select class="form-control form-control-sm" type="text" name="transportPurpose" #transportPurpo='ngModel'
              [(ngModel)]="otherModel.transportPurpose" required>
              <option hidden value='selectUndefinedOptionValue'>Select</option>
              <option value="Current">Current</option>
              <option value="Permanent">Permanent</option>
            </select>
            <div class="help-block" *ngIf="transportPurpo.errors?.required && (transportPurpo.touched || f.submitted)">
              <small style="color: red"> Addreess As Transport Purpose required</small></div>

          </div>
        </div>
      </div>

      <!-- <div class="data-title">
        <h5>Work Location Preference</h5>
      </div> -->

      <!-- <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="preflocationfuture">Preferred Work Location Now</label>

            <ng-multiselect-dropdown [placeholder]="'Select Location'" [data]="locationdata" required
              [(ngModel)]="otherModel.selectedNowLocation" [ngModelOptions]="{standalone: true}"
              name='SelectedNowLocation' [settings]="dropdownSettingsLocation" (onSelect)="onItemSelectL($event)"
              (onSelectAll)="onSelectAllL($event)" (onDeSelect)="OnItemDeSelectL($event)"
              (onDeSelectAll)="onDeSelectAllL($event)">
            </ng-multiselect-dropdown>

          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="preflocationfuture">Preferred Work Location Future</label>

            <ng-multiselect-dropdown [placeholder]="'Select Location'" [data]="locationdata" required
              [(ngModel)]="otherModel.selectedFutureLocation" [ngModelOptions]="{standalone: true}"
              name='SelectedFutureLocation' [settings]="dropdownSettingsLocation1" (onSelect)="onItemSelectL1($event)"
              (onSelectAll)="onSelectAllL1($event)" (onDeSelect)="OnItemDeSelectL1($event)"
              (onDeSelectAll)="onDeSelectAllL1($event)">
            </ng-multiselect-dropdown>

          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="typeoffile">Preferred Travelling</label>
        <br>

        <select form="preferdTravelingOrNot" class="form-control" name="preferdTravelingOrNot"
          [(ngModel)]="otherModel.preferdTravelingOrNot">
          <option hidden [value]='selectUndefinedOptionValue'>Select Prefered Travel</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>

      </div> -->

      <!-- </form> -->
 <!--   </div>
  </div> -->

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="data-title">
        <h5>Government Documents</h5>
      </div>
    </div>
  </div>



  <div class="row justify-content-center">
    <div class="col-md-6">

      <form #ff="ngForm">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="placeofbirth">PAN Number</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm"
                pattern="^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$" type="text" (ngModelChange)="getDuplicatePan($event)" #panN='ngModel' name="panNo"
                maxlength="10" [(ngModel)]="otherModel.panNo" required>
              <div class="help-block" *ngIf="panN.errors?.required && (panN.touched || f.submitted)"><small
                  style="color: red">PAN Number required</small></div>
              <div class="help-block" *ngIf="panN.errors?.pattern && (panN.touched || f.submitted)"><small
                  style="color: red">Enter Valid PAN Number</small></div>
                  <div class="help-block" *ngIf="flagPan"><small style="color: red">{{getPanData.message}}</small></div>

            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="pincode">Aadhar Number </label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm" type="text" (ngModelChange)="getDuplicateAdhar($event)"
                pattern="^(\(?\+?[0-9]*\)?)?[0-9_\(\)]*$" name="adharNo" #adharNo='ngModel' maxlength="12"
                [(ngModel)]="otherModel.adharNo" required>
              <!-- <div class="help-block" *ngIf="adharNo.errors?.required && (adharNo.touched || f.submitted)"><small style="color: red">Adhar Number required</small></div> -->
              <div class="help-block" *ngIf="flagAdhar"><small style="color: red">{{getAdharData.message}}</small></div>
            </div>
            <div style="margin-top:-10px" class="help-block"
              *ngIf="adharNo.invalid && (adharNo.dirty || adharNo.touched)">
              <div style="color: red; font-size: 12px" class="help-block" *ngIf="adharNo.errors.required"
                class="form-controll-feedback">
                <small style="color: red">Adhar Number required</small>
              </div>
              <div style="color: red; font-size: 12px" class="help-block"
                *ngIf="adharNo.errors.minlength||adharNo.errors.maxlength" class="help-block">
                Adhar Number Must Be {{adharNo.errors.minlength.requiredLength-adharNo.value.length}} Characters Long.
              </div>
              <div style="color: red; font-size: 12px" class="help-block" *ngIf="adharNo.errors?.pattern"
                class="help-block">Invalid Adhar Number</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="pincode">Universal Account Number</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm" type="text"
                pattern="^(\(?\+?[0-9]*\)?)?[0-9_\(\)]*$" name="universalAccNo" maxlength="12" #universalAccNo='ngModel'
                [(ngModel)]="otherModel.universalAccNo" (ngModelChange)="getDuplicateUAN($event)" required>
              <!-- <div class="help-block" *ngIf="universalA.errors?.required && (universalA.touched || f.submitted)"><small style="color: red">Universal Account Number required</small></div> -->
              <div class="help-block" *ngIf="flagUAN"><small style="color: red">{{getUANData.message}}</small></div>
            </div>
           
            <div style="margin-top:-10px" class="help-block"
              *ngIf="universalAccNo.invalid && (universalAccNo.dirty || universalAccNo.touched)">
              <div style="color: red; font-size: 12px" class="help-block" *ngIf="universalAccNo.errors.required"
                class="form-controll-feedback">
                <small style="color: red">Universal Account Number required</small>
              </div>
              <div style="color: red; font-size: 12px" class="help-block"
                *ngIf="universalAccNo.errors.minlength||universalAccNo.errors.maxlength" class="help-block">
                Universal Account Number Must Be
                {{universalAccNo.errors.minlength.requiredLength-universalAccNo.value.length}} Characters Long.
              </div>
              <div style="color: red; font-size: 12px" class="help-block" *ngIf="universalAccNo.errors?.pattern"
                class="help-block">Invalid Universal Account Number</div>
            </div>

          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="pincode">Driving licence Number</label>
              <input autocomplete="off" pattern="^(?<intro>[A-Z]{2})(?<numeric>\d{2})(?<year>\d{4})(?<tail>\d{7})$" 
                class="form-control form-control-sm" maxlength="15" type="text" name="drivingLicenseo" (ngModelChange)="getDuplicateDLNoList($event)" #drivingLicenseNo='ngModel'
                [(ngModel)]="otherModel.drivingLicenseNo" >
                <div class="help-block" *ngIf="flagDL"><small style="color: red">{{getDrivingLicenceNo.message}}</small></div>
                <div class="help-block" *ngIf="drivingLicenseNo.errors?.pattern && drivingLicenseNo.touched">
                <small style="color: red">Enter Valid Driving licence Number</small></div>
              </div>
            </div>
          </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="pincode">Passport Number</label>
              <input autocomplete="off" #passportNo="ngModel" pattern="^[A-PR-WYa-pr-wy][1-9]\d\s?\d{4}[1-9]$"
                class="form-control form-control-sm" type="text" (ngModelChange)="getDuplicatePassPortNoList($event)" maxlength="9" name="passport"
                [(ngModel)]="otherModel.passportNo">

                <div class="help-block" *ngIf="flagPass"><small style="color: red">{{getPassPortNo.message}}</small></div>
                <div class="help-block" *ngIf="passportNo.errors?.pattern && passportNo.touched">
                <small style="color: red">Enter Valid Passport Number</small></div>
    

                <!-- <div style="color: red; font-size: 12px" class="help-block"
                *ngIf="passportNo.errors?.pattern &&  passportNo.touched" class="form-controll-feedback">
                <small style="color: red"> Enter Valid Passport Number</small>
              </div> 
              <div class="help-block" *ngIf="flagPass"><small style="color: red">{{getPassPortNo.message}}</small></div>         -->

            </div>

          </div>

        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="pincode">Social Security Number</label>
              <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="30"
                name="socialSecurityNo" [(ngModel)]="otherModel.socialSecurityNo">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="pincode">Citizenship</label>
              <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="30"
                name="citizenShip" [(ngModel)]="otherModel.citizenShip">
            </div>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label>Are you a NRI?</label>
          <br>
          <label class="switch mt-3 ">
            <input type="checkbox" class="btn btn-toggle" name="areYouNri" [(ngModel)]="otherModel.areYouNri">
            <span class="slider round"></span>
          </label>
        </div>


      </form>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="data-title">
        <h5>Bank Details</h5>
      </div>
    </div>
  </div>



  <form #f2='ngForm'>
    <div class="row justify-content-center">
      <div class="col-md-6">

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="nameOfAccHolder">Name Of Account Holder</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="100"
                pattern="^[a-zA-Z ]*$" #nameOfAccH='ngModel' name="nameOfAccHolder"
                [(ngModel)]="addBankDetails.nameOfAccHolder" required>
              <div class="help-block" *ngIf="nameOfAccH.errors?.required && (nameOfAccH.touched || f2.submitted)"><small
                  style="color: red">Name Of Account Holder required</small></div>
              <div class="help-block" *ngIf="nameOfAccH.errors?.pattern && (nameOfAccH.touched || f2.submitted)"><small
                  style="color: red">Number and Special Character not allowed</small></div>
              
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="bankName">Bank Name</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="100"
                pattern="^[ A-Za-z]*$" #bankNam='ngModel' name="bankName" [(ngModel)]="addBankDetails.bankName"
                required>
              <div class="help-block" *ngIf="bankNam.errors?.required && (bankNam.touched || f2.submitted)"><small
                  style="color: red">Bank Name required</small></div>
              <div class="help-block" *ngIf="bankNam.errors?.pattern && (bankNam.touched || f2.submitted)"><small
                  style="color: red">Number and Special Character not allowed</small></div>

            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="gr">Account Type</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm" type="text" name="accType" maxlength="15"
                pattern="^[ A-Za-z]*$" #accTyp='ngModel' [(ngModel)]="addBankDetails.accType" required>
              <div class="help-block" *ngIf="accTyp.errors?.required && (accTyp.touched || f2.submitted)"><small
                  style="color: red">Account Type required</small></div>
              <div class="help-block" *ngIf="accTyp.errors?.pattern && (accTyp.touched || f2.submitted)"><small
                  style="color: red">Number and Special Character not allowed</small></div>

            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="anyspl">Branch Address</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm" maxlength="250"
                type="text" name="branchAddr" [(ngModel)]="addBankDetails.branchAddr" #branchAdd='ngModel' required>
              <div class="help-block" *ngIf="branchAdd.errors?.required && (branchAdd.touched || f2.submitted)"><small
                  style="color: red">Branch Address required</small></div>
              <!-- <div class="help-block" *ngIf="branchAdd.errors?.pattern && (branchAdd.touched || f2.submitted)"><small
                  style="color: red">Number and Special Character not allowed</small></div> -->

            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="accountNumber">Account Number</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm" pattern="^(\(?\+?[0-9]*\)?)?[0-9_\(\)]*$"
                type="text" #accountNumber='ngModel' maxlength="17" name="accountNumber" (ngModelChange)="getDuplicateBankACNo($event)"
                [(ngModel)]="addBankDetails.accountNumber" required>
                <div class="help-block" *ngIf="flagAC"><small style="color: red">{{getAccountNo.message}}</small></div>        
              <div class="help-block" *ngIf="accountNumber.errors?.required && (accountNumber.touched || f2.submitted)">
                <small style="color: red"> Account Number required</small></div>
              <div class="help-block" *ngIf="accountNumber.errors?.pattern && (accountNumber.touched || f2.submitted)">
                <small style="color: red"> Please Enter Numbers only</small></div>

            </div>

            <div style="margin-top:-10px" class="help-block"
              *ngIf="accountNumber.invalid && (accountNumber.dirty || accountNumber.touched)">
              <!-- <div  style="color: red; font-size: 12px" class="help-block"  *ngIf="accountNumber.errors.required" class="form-controll-feedback">
              <small style="color: red">Account Number required</small>
            </div> -->
              <div style="color: red; font-size: 12px" class="help-block"
                *ngIf="accountNumber.errors.minlength||accountNumber.errors.maxlength" class="help-block">
                Account Number Must Be {{accountNumber.errors.minlength.requiredLength-accountNumber.value.length}}
                Characters Long.
              </div>
              <div style="color: red; font-size: 12px" class="help-block" *ngIf="accountNumber.errors?.pattern"
                class="help-block">Invalid Account Number</div>
            </div>

          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="gr">IFSC code</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm" pattern="[A-Z|a-z]{4}[0][\d]{6}$"
                maxlength="11" type="text" #ifscCo='ngModel' name="ifscCode" [(ngModel)]="addBankDetails.ifscCode"
                required>
              <div class="help-block" *ngIf="ifscCo.errors?.required && (ifscCo.touched || f2.submitted)"><small
                  style="color: red"> IFSC code required</small></div>
              <div class="help-block" *ngIf="ifscCo.errors?.pattern && (ifscCo.touched || f2.submitted)"><small
                  style="color: red">Enter Valid IFSC code </small></div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="anyspl">City</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm" type="text" pattern="^[ A-Za-z]*$"
                maxlength="20" name="city" #cit='ngModel' [(ngModel)]="addBankDetails.city" required>
              <div class="help-block" *ngIf="cit.errors?.required && (cit.touched || f2.submitted)"><small
                  style="color: red"> City required</small></div>
              <div class="help-block" *ngIf="cit.errors?.pattern && (cit.touched || f2.submitted)"><small
                  style="color: red">Number and Special Character not allowed</small></div>

            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="swiftCode">Swift Code</label>
              <input autocomplete="off" class="form-control form-control-sm" pattern="^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$" maxlength="30" type="text" name="swiftCode"
                [(ngModel)]="addBankDetails.swiftCode" #swiftCode = 'ngModel'>
                <div class="help-block" *ngIf="swiftCode.errors?.pattern && (swiftCode.touched || f2.submitted)"><small
                  style="color: red">Enter Valid Swift Code</small></div>

            </div>
          </div>
        </div>

        <!-- <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="creditcard">Credit card Number</label>
              <input autocomplete="off" class="form-control form-control-sm" type="text" name="creditcard"
                [(ngModel)]="addBankDetails.creditcard">
            </div>
          </div>
        </div> -->

        <div class="form-row">
          <div class="col">
            <!-- <a class="addmember" (click)="AddBankDetails(addBankDetails)">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>Add Bank Details</a> -->
            <button type="button" [disabled]='f2.invalid || hidebuttn' (click)="AddBankDetails(addBankDetails,f2)"
              class="btn btn-primary mr-3" disabled={{buttonDisabled}}>
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button>

            <button type="button" (click)="AddBankDetailsmore(addBankDetails)" class="btn btn-primary mr-3">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Add More</button>
          </div>
        </div>

        <div class="col-md-12">
          <table class="table table-bordered">
            <thead class="thead-dark2">
              <tr>
                <th>Name</th>
                <th>Bank Name</th>
                <th>Branch Address</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bank of empBankDetailsMasterList; let i = index">
                <td>{{bank.nameOfAccHolder}}</td>
                <td>{{bank.bankName}}</td>
                <td>{{bank.branchAddr}}</td>
                <td><i class="fa fa-pencil" (click)="editbank(bank,i)" aria-hidden="true"></i>
                  <i class="fa fa-trash" (click)="deletebank(i)" data-toggle="modal" data-target="#myModal"  aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </form>


  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="data-title">
        <h5>Upload Various Document</h5>
      </div>
      <form #imageForm="ngForm" (ngSubmit)="OnSubmit(files)">
        <!-- <form #imageForm="ngForm"> -->
        <div class="form-group">
          <div class="col">
            <label for="relation">Select Document</label>

            <div class="form-group">
              <select class="form-control form-control-sm mb-4" name="CompanyID" [(ngModel)]="fileInfo.documentMasterId"
                name="selectedCompanyobj" #CompanyID='ngModel' required>
                <option hidden value="Selectdoc">Select</option>
                <option value="{{addcompany.documentMasterId}}" *ngFor="let addcompany of documentdata; let i = index;">
                  {{addcompany.documentName}}</option>
              </select>
              <div class="help-block" style="margin-top:-23px" *ngIf="CompanyID.errors?.required && CompanyID.touched">
                <small style="color: red">Document required</small></div>

            </div>
          </div>
        </div>
        <div class="wrapper mt-4">
          <label>Attach File:</label>  
          <div class="drop">
              
            <div class="cont">


              <div style="width:30%">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 763.6 464.5">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: url(#linear-gradient);
                      }

                      .cls-2 {
                        fill: url(#radial-gradient);
                      }

                      .cls-3 {
                        fill: url(#linear-gradient-2);
                      }

                      .cls-4 {
                        fill: url(#linear-gradient-3);
                      }

                      .cls-5 {
                        fill: #b0d6ff;
                      }

                      .cls-6 {
                        fill: url(#linear-gradient-4);
                      }

                      .cls-10,
                      .cls-11,
                      .cls-12,
                      .cls-13,
                      .cls-14,
                      .cls-15,
                      .cls-16,
                      .cls-7,
                      .cls-8,
                      .cls-9 {
                        opacity: 0.5;
                      }

                      .cls-7 {
                        fill: url(#linear-gradient-5);
                      }

                      .cls-8 {
                        fill: url(#linear-gradient-6);
                      }

                      .cls-9 {
                        fill: url(#linear-gradient-7);
                      }

                      .cls-10 {
                        fill: url(#linear-gradient-8);
                      }

                      .cls-11 {
                        fill: url(#linear-gradient-9);
                      }

                      .cls-12 {
                        fill: url(#linear-gradient-10);
                      }

                      .cls-13 {
                        fill: url(#linear-gradient-11);
                      }

                      .cls-14 {
                        fill: url(#linear-gradient-12);
                      }

                      .cls-15 {
                        fill: url(#linear-gradient-13);
                      }

                      .cls-16 {
                        fill: url(#linear-gradient-14);
                      }

                      .cls-17 {
                        fill: url(#linear-gradient-15);
                      }

                      .cls-18 {
                        font-size: 30.15px;
                        fill: #fff;
                        font-family: Myriad Pro;
                        font-weight: 700;
                      }

                      .cls-19 {
                        opacity: 0.8;
                        fill: url(#linear-gradient-16);
                      }

                      .cls-20 {
                        fill: #eaeaea;
                      }

                      .cls-21 {
                        fill: url(#linear-gradient-17);
                      }

                      .cls-22 {
                        fill: url(#linear-gradient-18);
                      }

                      .cls-23 {
                        fill: url(#linear-gradient-19);
                      }

                      .cls-24 {
                        fill: url(#linear-gradient-20);
                      }

                      .cls-25 {
                        fill: url(#linear-gradient-21);
                      }

                      .cls-26 {
                        fill: url(#linear-gradient-22);
                      }

                      .cls-27 {
                        fill: url(#linear-gradient-23);
                      }

                      .cls-28 {
                        fill: url(#linear-gradient-24);
                      }

                      .cls-29 {
                        fill: url(#linear-gradient-25);
                      }

                      .cls-30 {
                        fill: url(#linear-gradient-26);
                      }

                      .cls-31 {
                        fill: url(#linear-gradient-27);
                      }

                      .cls-32 {
                        fill: url(#linear-gradient-28);
                      }

                      .cls-33 {
                        fill: url(#linear-gradient-29);
                      }

                      .cls-34 {
                        fill: url(#linear-gradient-30);
                      }

                      .cls-35 {
                        fill: url(#linear-gradient-31);
                      }
                    </style>
                    <linearGradient id="linear-gradient" x1="642.08" y1="385.7" x2="900.37" y2="730.83"
                      gradientTransform="translate(-51.2 8)" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#fff" />
                      <stop offset="0.16" stop-color="#f4f4f4" />
                      <stop offset="0.61" stop-color="#f4f4f4" />
                      <stop offset="1" stop-color="#fff" />
                    </linearGradient>
                    <radialGradient id="radial-gradient" cx="732.46" cy="609.95" fx="675.164065753132" r="286.98"
                      gradientTransform="translate(-40 11)" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#b0d6ff" />
                      <stop offset="1" stop-color="#1e66ca" />
                    </radialGradient>
                    <linearGradient id="linear-gradient-2" x1="663.45" y1="613.57" x2="821.11" y2="561.79"
                      gradientTransform="translate(328.8 -301.9) rotate(30)" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#b0d6ff" />
                      <stop offset="0.57" stop-color="#1e66ca" />
                      <stop offset="1" stop-color="#6ea3eb" />
                    </linearGradient>
                    <linearGradient id="linear-gradient-3" x1="704.35" y1="615.52" x2="920.43" y2="525.93"
                      xlink:href="#linear-gradient-2" />
                    <linearGradient id="linear-gradient-4" x1="121.86" y1="520.07" x2="338.86" y2="805.93"
                      gradientTransform="translate(41 -15.4)" xlink:href="#linear-gradient" />
                    <linearGradient id="linear-gradient-5" x1="132.1" y1="3642.2" x2="298.92" y2="3642.2"
                      gradientTransform="translate(25 325.9) scale(1 0.08)" xlink:href="#radial-gradient" />
                    <linearGradient id="linear-gradient-6" x1="132.1" y1="3811.73" x2="298.92" y2="3811.73"
                      gradientTransform="translate(29.3 325.2) scale(1 0.08)" xlink:href="#radial-gradient" />
                    <linearGradient id="linear-gradient-7" x1="132.1" y1="3981.27" x2="298.92" y2="3981.27"
                      gradientTransform="translate(33.5 324.5) scale(1 0.08)" xlink:href="#radial-gradient" />
                    <linearGradient id="linear-gradient-8" x1="124.27" y1="4385.54" x2="458.16" y2="4385.54"
                      gradientTransform="translate(41.3 308.4) scale(1 0.08)" xlink:href="#radial-gradient" />
                    <linearGradient id="linear-gradient-9" x1="127.32" y1="4620.28" x2="396.19" y2="4620.28"
                      gradientTransform="translate(48.1 313) scale(1 0.08)" xlink:href="#radial-gradient" />
                    <linearGradient id="linear-gradient-10" x1="132.03" y1="4855.01" x2="300.4" y2="4855.01"
                      gradientTransform="translate(55.5 320.7) scale(1 0.08)" xlink:href="#radial-gradient" />
                    <linearGradient id="linear-gradient-11" x1="124.43" y1="5102.79" x2="454.93" y2="5102.79"
                      gradientTransform="translate(59.3 305.6) scale(1 0.08)" xlink:href="#radial-gradient" />
                    <linearGradient id="linear-gradient-12" x1="124.43" y1="5337.53" x2="454.93" y2="5337.53"
                      gradientTransform="translate(65.3 304.6) scale(1 0.08)" xlink:href="#radial-gradient" />
                    <linearGradient id="linear-gradient-13" x1="124.43" y1="5572.27" x2="454.93" y2="5572.27"
                      gradientTransform="translate(71.2 303.6) scale(1 0.08)" xlink:href="#radial-gradient" />
                    <linearGradient id="linear-gradient-14" x1="135.51" y1="5807.01" x2="229.69" y2="5807.01"
                      gradientTransform="translate(80.5 323) scale(1 0.08)" xlink:href="#radial-gradient" />
                    <linearGradient id="linear-gradient-15" x1="88.49" y1="563.38" x2="256.96" y2="563.38"
                      gradientTransform="translate(14.3 18.4)" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#ffb594" />
                      <stop offset="1" stop-color="#dd0f0f" />
                    </linearGradient>
                    <linearGradient id="linear-gradient-16" x1="276.5" y1="-16.82" x2="471.37" y2="239.9"
                      gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#ffffa9" />
                      <stop offset="1" stop-color="#ffc02f" />
                    </linearGradient>
                    <linearGradient id="linear-gradient-17" x1="355.08" y1="-14.53" x2="417.33" y2="45.5"
                      gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#eee" />
                      <stop offset="1" stop-color="#a8adb4" />
                    </linearGradient>
                    <linearGradient id="linear-gradient-18" x1="341.9" y1="-6.03" x2="404.15" y2="53.99"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-19" x1="355.08" y1="2.31" x2="417.33" y2="62.33"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-20" x1="341.9" y1="10.8" x2="404.15" y2="70.82"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-21" x1="355.08" y1="19.31" x2="417.33" y2="79.33"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-22" x1="341.9" y1="27.8" x2="404.15" y2="87.83"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-23" x1="355.08" y1="36.14" x2="417.33" y2="96.17"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-24" x1="341.9" y1="44.63" x2="404.15" y2="104.66"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-25" x1="355.08" y1="52.97" x2="417.33" y2="113"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-26" x1="341.9" y1="61.47" x2="404.15" y2="121.49"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-27" x1="355.08" y1="69.81" x2="417.33" y2="129.83"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-28" x1="341.9" y1="78.3" x2="404.15" y2="138.32"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-29" x1="355.08" y1="86.81" x2="417.33" y2="146.83"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-30" x1="341.9" y1="95.3" x2="404.15" y2="155.33"
                      xlink:href="#linear-gradient-17" />
                    <linearGradient id="linear-gradient-31" x1="355.08" y1="103.64" x2="417.33" y2="163.67"
                      xlink:href="#linear-gradient-17" />
                  </defs>
                  <title>HRMS- illustrations</title>
                  <g>
                    <rect class="cls-1" x="610.1" y="433" width="213.6" height="258.48" rx="10.8" ry="10.8"
                      transform="translate(270.6 -616.9) rotate(30)" />
                    <rect class="cls-2" x="635.9" y="450.6" width="184.5" height="184.46" rx="11.4" ry="11.4"
                      transform="translate(262.4 -625.1) rotate(30)" />
                    <path class="cls-3" d="M703.9,635.3l-90-52c-5.8-2.8-9.3-9.8-6.1-13l90.1-39.5Z"
                      transform="translate(-106.6 -333.8)" />
                    <path class="cls-4"
                      d="M751.1,662.5L661.9,611l105.2-74.3-2.3,123.3C764.6,665.6,755.8,665.3,751.1,662.5Z"
                      transform="translate(-106.6 -333.8)" />
                    <circle class="cls-5" cx="707.4" cy="461.9" r="17.5"
                      transform="translate(-152.9 509.8) rotate(-60)" />
                  </g>
                  <g>
                    <rect class="cls-6" x="161.9" y="514.8" width="213.6" height="258.48" rx="10.6" ry="10.6"
                      transform="translate(-302.9 -210.1) rotate(-19.1)" />
                    <rect class="cls-7" x="164.9" y="601.4" width="87.9" height="7.59" rx="3.8" ry="3.8"
                      transform="translate(-293.5 -231.8) rotate(-19.1)" />
                    <rect class="cls-8" x="169.2" y="613.7" width="87.9" height="7.59" rx="3.8" ry="3.8"
                      transform="translate(-297.3 -229.7) rotate(-19.1)" />
                    <rect class="cls-9" x="173.5" y="626" width="87.9" height="7.59" rx="3.8" ry="3.8"
                      transform="matrix(0.94, -0.33, 0.33, 0.94, -301.05, -227.67)" />
                    <rect class="cls-10" x="181.2" y="640.8" width="175.9" height="7.59" rx="3.8" ry="3.8"
                      transform="translate(-303.1 -209.9) rotate(-19.1)" />
                    <rect class="cls-11" x="188" y="663.5" width="141.6" height="7.59" rx="3.8" ry="3.8"
                      transform="translate(-311 -212) rotate(-19.1)" />
                    <rect class="cls-12" x="195.4" y="689.1" width="88.7" height="7.59" rx="3.8" ry="3.8"
                      transform="translate(-320.5 -216.8) rotate(-19.1)" />
                    <rect class="cls-13" x="199.3" y="693.1" width="174.1" height="7.59" rx="3.8" ry="3.8"
                      transform="translate(-319.2 -201.4) rotate(-19.1)" />
                    <rect class="cls-14" x="205.2" y="710.1" width="174.1" height="7.59" rx="3.8" ry="3.8"
                      transform="translate(-324.5 -198.5) rotate(-19.1)" />
                    <rect class="cls-15" x="211.1" y="727.1" width="174.1" height="7.59" rx="3.8" ry="3.8"
                      transform="translate(-329.7 -195.6) rotate(-19.1)" />
                    <rect class="cls-16" x="220.4" y="764.5" width="49.6" height="7.59" rx="3.8" ry="3.8"
                      transform="translate(-344.9 -210.9) rotate(-19.1)" />
                    <rect class="cls-17" x="110.7" y="561.5" width="88.7" height="40.43"
                      transform="translate(-288.7 -250.8) rotate(-19.1)" />
                    <text class="cls-18" transform="translate(25.3 267.6) rotate(-19.1)">PDF</text>
                  </g>
                  <g>
                    <rect class="cls-19" x="264.7" width="213.6" height="216.68" rx="10.6" ry="10.6" />
                    <rect class="cls-20" x="350.8" width="41.4" height="132.4" />
                    <rect class="cls-21" x="367" y="5" width="22.1" height="5.34" />
                    <rect class="cls-22" x="353.9" y="13.5" width="22.1" height="5.34" />
                    <rect class="cls-23" x="367" y="21.8" width="22.1" height="5.34" />
                    <rect class="cls-24" x="353.9" y="30.3" width="22.1" height="5.34" />
                    <rect class="cls-25" x="367" y="38.8" width="22.1" height="5.34" />
                    <rect class="cls-26" x="353.9" y="47.3" width="22.1" height="5.34" />
                    <rect class="cls-27" x="367" y="55.7" width="22.1" height="5.34" />
                    <rect class="cls-28" x="353.9" y="64.2" width="22.1" height="5.34" />
                    <rect class="cls-29" x="367" y="72.5" width="22.1" height="5.34" />
                    <rect class="cls-30" x="353.9" y="81" width="22.1" height="5.34" />
                    <rect class="cls-31" x="367" y="89.3" width="22.1" height="5.34" />
                    <rect class="cls-32" x="353.9" y="97.8" width="22.1" height="5.34" />
                    <rect class="cls-33" x="367" y="106.3" width="22.1" height="5.34" />
                    <rect class="cls-34" x="353.9" y="114.8" width="22.1" height="5.34" />
                    <rect class="cls-35" x="367" y="123.2" width="22.1" height="5.34" />
                  </g>
                </svg>
              </div>
              <div class="desc">
                Drag & Drop your files here
              </div>


              <!-- <div class="browse">
                      Click here to browse
                    </div> --> 
            </div>
            <output id="list"></output>
            <!-- <input id="files" multiple="true" name="files[]" type="file" /> -->
            <input type="file" id="file" #files  (change)="handleFileInput($event.target.files)"/>

            <!-- <div class="help-block" *ngIf="files.errors?.required && (files.touched )">
                <small style="color: red">Upload File required</small></div> -->
             
          </div>
          <!-- <div *ngIf="fileName"> {{fileName}}</div> -->
          <p *ngIf='fileNameFlag'>{{fileNamee}}</p>
          <button type="button" class="btn btn-outline-primary btn-sm mt-3" type="submit"
          [disabled]='files.value == "" || !CompanyID' >Upload
            <i class="fa fa-upload" aria-hidden="true"></i>
          </button>
        </div>

        <!-- <div class="uploadedfilebadge">
          <button type="button" class="btn btn-info">file_name.pdf <i class="fa fa-download"
              aria-hidden="true"></i></button>
        </div> -->

        <button style="margin-top: 5px" [disabled]='files.value == "" || !CompanyID ' type="button" class="btn btn-primary mr-3" (click)="saveDocInfo()">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button>

      </form>

      <div class="mt-3">
        <table class="table table-bordered">
          <thead class="thead-dark2">
            <tr>

              <th>Document Name</th>
              <th>File Name</th>
              <th style="width:30%; text-align:center">Action</th>
              
            </tr>
          </thead>
          <tbody *ngIf="docFlag">


            <tr *ngFor="let item of filesData; let i = index">
              <td>{{item.docName}}</td>
              <td>{{item.fileName}}</td>
              <td>
                <i class="fa fa-eye btn" (click)="open(item)" data-toggle="modal" title="View Document"
                  data-target="#viewDocumentModal"></i>
                <!-- <i class="fa fa-trash btn" (click)="delete(i)"></i> -->

                <i class="fa fa-pencil btn" title="Edit Document" (click)="edit(item,i)"></i>
                <i class="fa fa-trash btn" title="Delete Document" (click)="deleteDoc(i)" data-toggle="modal" data-target="#myModalDoc"></i>
                <!-- <i class="fa fa-trash btn" title="Delete Document" (click)="deletefile(item)"></i> -->
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-5">

      <div class="form-row">
        <div class="col">
          <div class="backbtn">
            <a>Back</a>
          </div>
        </div>

        <div class="col">
          <button class="btn btn-primary float-right" [disabled]='f.invalid || hidebuttn || ff.invalid' (click)="storeInfo()">Save</button>
        </div>
      </div>

    </div>
  </div>
</form>



<!-- View Document Modal -->
<div *ngIf="fileType=='image/png' || fileType=='image/jpeg'" class="modal fade" id="viewDocumentModal">
  <div class="modal-dialog">
    <div class="modal-content p-4">

      <div class="row">

        <iframe style="zoom:0.60" width="99.6%" height="250" frameborder="0" [src]="base64URL" width="100%"
          height="100%">
        </iframe>
      </div>

    </div>
  </div>
</div>

<!-- ==========================Bank  R You Shoure delete ================== -->

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='DeletemodelEvent()' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger"  data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>


<!-- ==================doc dleter r u delete===================== -->

<div class="modal fade" id="myModalDoc">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want to Delete ?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='DeletemodelEvent11()' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger"  data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>