




.faq-section .mb-0 > a {
    display: block;
    position: relative;
  }
  
  .faq-section .mb-0 > a:after {
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 0;
    font-weight: 600;
  
  }
  
  .faq-section .mb-0 > a[aria-expanded="true"]:after {
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    
  }
  .headings{
    background-color: #0747a6;
      color: white;
  }
  .headings1{
    background-color: #9CD0FF;
    color: black;
    padding-top: 3px;
      padding-bottom: 3px;
  }
  .headings1 .mb-0 > a:after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 0;
    font-weight: 600;
  
  }
  
  .headings1 .mb-0 > a[aria-expanded="true"]:after {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    
  }
  .headings1:hover{
    background-color: #8ee1ea;
    color: black;
  }
  /* .headings1>a{
    background-color: #8ee1ea;
    color: black;
  } */
  a{
    margin-top: -11px;
      padding: 5px;
  }
  a{
    background-color: #0747a6;
    color: white;
  }
  
  .mb-0 > a {
    display: block;
    position: relative;
  }
  .mb-0 > a:after {
    content: "\f078"; /* fa-chevron-down */
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
  }
  .mb-0 > a[aria-expanded="true"]:after {
    content: "\f077"; /* fa-chevron-up */
  }
  .arrows{
    float: right;
    margin-right: 15px;
    font-size: 15px;
    color: #0747a6;
  }




  .container{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .main{
    margin:1rem;
    max-width:350px;
    width:50%;  
    height:250px;
  }
  @media(max-width:34em){
    .main{
      min-width:150px;
      width:auto;
    }
  }
  select {
      display: none !important;
  }
  
  .dropdown-select {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
      background-color: #fff;
      border-radius: 6px;
      border: solid 1px #eee;
      box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      float: left;
      font-size: 14px;
      font-weight: normal;
      height: 42px;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 30px;
      position: relative;
      text-align: left !important;
      transition: all 0.2s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      width: auto;
  
  }
  
  .dropdown-select:focus {
      background-color: #fff;
  }
  
  .dropdown-select:hover {
      background-color: #fff;
  }
  
  .dropdown-select:active,
  .dropdown-select.open {
      background-color: #fff !important;
      border-color: #bbb;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
  }
  
  .dropdown-select:after {
      height: 0;
      width: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #777;
      -webkit-transform: origin(50% 20%);
      transform: origin(50% 20%);
      transition: all 0.125s ease-in-out;
      content: '';
      display: block;
      margin-top: -2px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 50%;
  }
  
  .dropdown-select.open:after {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
  }
  
  .dropdown-select.open .list {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
  }
  
  .dropdown-select.open .option {
      cursor: pointer;
  }
  
  .dropdown-select.wide {
      width: 100%;
  }
  
  .dropdown-select.wide .list {
      left: 0 !important;
      right: 0 !important;
  }
  
  .dropdown-select .list {
      box-sizing: border-box;
      transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
      background-color: #fff;
      border-radius: 6px;
      margin-top: 4px;
      padding: 3px 0;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
      max-height: 250px;
      overflow: auto;
      border: 1px solid #ddd;
  }
  
  .dropdown-select .list:hover .option:not(:hover) {
      background-color: transparent !important;
  }
  .dropdown-select .dd-search{
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0.5rem;
  }
  
  .dropdown-select .dd-searchbox{
    width:90%;
    padding:0.5rem;
    border:1px solid #999;
    border-color:#999;
    border-radius:4px;
    outline:none;
  }
  .dropdown-select .dd-searchbox:focus{
    border-color:#12CBC4;
  }
  
  .dropdown-select .list ul {
      padding: 0;
  }
  
  .dropdown-select .option {
      cursor: default;
      font-weight: 400;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 29px;
      text-align: left;
      transition: all 0.2s;
      list-style: none;
  }
  
  .dropdown-select .option:hover,
  .dropdown-select .option:focus {
      background-color: #f6f6f6 !important;
  }
  
  .dropdown-select .option.selected {
      font-weight: 600;
      color: #12cbc4;
  }
  
  .dropdown-select .option.selected:focus {
      background: #f6f6f6;
  }
  
  /* .dropdown-select a {
      color: #aaa;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
  } */
  
  /* .dropdown-select a:hover {
      color: #666;
  } */
  /* .colorchange{
    color: black;
    font-size: 14px;
    font-weight: 700;
  } */
  .fa-check-circle{
    font-size: 1.5rem;
    padding: 0;
color:green;
  }
  .fa-times-circle{
    font-size: 1.5rem;
    padding: 0;
    color:rgb(173, 0, 0);
  }

  .headtable{
    height: 50px;
    color: #fff !important;
    background: #434344 !important;
  }
  
  
  
  .emp-action tr{
    font-size:12px;
    border-spacing: 10;
    border:none !important;
    background: #c8c5c577;
    border-radius: 0.2rem;
    margin-bottom: 10px;
    /* box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important; */
  }
  .theadblue td{
    padding: 13px 20px !important;
    text-align: center;
  
  }
  
  .emp-action td{
    border:none !important;
    padding: 0.0rem;
    vertical-align: middle !important;
  }
  .emp-action{
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  .image-cover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
  }
  
  .emp-action .fa{
    font-size: 14px;
    padding:10px;
    color:#999999;
  }
  
  .emp-action .fa-eye:hover{
  color:rgb(28, 105, 194);
  cursor: pointer;
  }
  
  .emp-action .fa-pencil:hover{
    color:rgb(33, 131, 33);
    cursor: pointer;
    }
  
    .emp-action .fa-user-times:hover{
        color:rgb(161, 37, 37);
        cursor: pointer;
        }
        .emp-action .fa-arrows:hover{
            color:rgb(172, 97, 0);
            cursor: pointer;
            }
            /* .emp-action .fa-user:hover{
              color:#e9d062;
              cursor: pointer;
              } */
            
            .loader {
              border: 16px solid #f3f3f3; /* Light grey */
              border-top: 16px solid #3498db; /* Blue */
              border-radius: 50%;
              width: 120px;
              height: 120px;
              position: absolute;
              top:0;
              bottom: 0;
              left: 0;
              right: 0;
                margin: auto;
              animation: spin 2s linear infinite;
              z-index: 9;
          }
  
         @keyframes spin {
            0% { transform: rotate(0deg); }
           100% { transform: rotate(360deg); }
         }                
            
  
  .dataTables_filter{
    display: none !important;
  }
  
  .radiobtns{
    display: inline;
    margin-right: 2rem;
  }
  
  
  input[type="radio"] + label {
    position: relative;
    cursor: pointer;
    margin: 10px;
    padding-left: 35px;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label:before {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #1565C0;
    -moz-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
    -webkit-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
    box-shadow: inset 0 0 0 18px #E0E0E0;
  }
  input[type="radio"] + label:before, input[type="radio"] + label:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  input[type="radio"]:checked + label:before {
    -moz-box-shadow: inset 0 0 0 4px #E0E0E0;
    -webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
    box-shadow: inset 0 0 0 4px #E0E0E0;
  }
  input[type="radio"]:checked + label:after {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -moz-animation: ripple 1s none;
    -webkit-animation: ripple 1s none;
    animation: ripple 1s none;
  }
  input[type="radio"] + label:after {
    top: 49%;
    left: 9px;
    width: 54px;
    height: 54px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.3);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
  
  .searchbar2{
    margin-bottom: auto;
    margin-top: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 30px;
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 4px;
    border: 1px solid #a8adb4;
  }
  .searchbar2 .search_input {
    width: 335px;
    color: #0f0f0f !important;
  }
  .searchbar2 .fa{
    height:15px !important;
  }
  .searchbar2 .search_input::-webkit-input-placeholder {
    color: rgb(66, 66, 66);
  
  }
  .search_input_2[_ngcontent-c3] {
    color: rgb(83, 83, 83);
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    width: 300px;
    line-height: 20px;
    transition: width 0.4s linear;
  }
  .search_icon_2 {
    width: 20px;
    float: right;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(133, 133, 133);
  }
  .searchbar2 .fa{
    height: 15px !important;
    color: #0f0f0f !important;
  }
  
  .profilephoto{
    padding-top:10%;
  }
  .photoid{
  
    padding:5px;
    text-align: center;
  }
  .photoid img{
    margin:auto;
    border-radius: 50%;
    width:155px;
    height:155px;
    object-fit: cover;
    padding:5px;
    border: 2px solid #ffffff9c;
  }
  
  .headings {
    color: grey;
  }
  
  .detailstext {
    margin-bottom: 1.5rem;
  }
  .devider{
    margin:15px;
  
  }
  .devider hr{
    width: 60px;
    margin: auto;
    border-top: 1px solid #eeeeee59;
  }
  
  .popupcontent h6 {
    margin-top: 5px !important;
    font-size: 1em;
    color: #646464;
    text-transform: capitalize;
  }
  
  .popupcontent h4 {
    margin-bottom: 0 !important;
  }
  .tabledata-center{
    text-align: center;
  }
  
  