<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-list-alt bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>EmpName <div class="page-title-subheading"> Here you can add contractor labour </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">


        <div class="card-body">

          <div class="flex flex-column mb-5 mt-4 faq-section">
            <div class="row">
              <div class="col-md-12">

                <div id="accordion">
                  <div class="card">
                    <div class="card-header headings" id="heading-1">
                      <h5 class="mb-0">
                        <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true"
                          aria-controls="collapse-1">
                          Uploaded Documents<span
                            class="badge badge-pill badge-danger approvals-count">{{count}}</span>
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-1" class="collapsed" data-parent="#accordion" aria-labelledby="heading-1">
                      <div class="card-body">

                        <!-- <div id="accordion-1" style="position: relative;
                          top: -20px;width: 103.5%;margin-left: -19px;">


                          <div>
                            
                          </div>

                        </div> -->
                        <table id="emptable" class="table emp-action ">
                          <thead class="thead-dark">
                            <tr class="theadblue pt-3 pb-3">
                              <td style="max-width: 1px">Sr.No</td>
                              <td >Document-Type</td>
                              <td >Uploaded On </td>
                              <td >Uploaded By</td>                 
                              <td ></td>
                              <td ></td>
                              <!-- <td style="width: unset !important;">Contractor</td>
                              <td style="text-align:center; width: unset !important;">Status</td>
                             <td style="width: unset !important;">Document Options</td> -->
                            </tr>
                          </thead>
                          <tbody >
                
                            <tr  class="tabledata-center" >
                              <td>1</td>
                              <td >
                                Adhar Card
                              </td>
                             
                              <td>{{allDocumentHere?.documentMaster?.aadharUploadDate| date:'dd-MMM-yyyy'}}</td>
                              {{ allDocumentHere?.contractorMaster?.firstName }}
                            
                              <td> <i class="fa fa-eye"
                                title="View details" aria-hidden="true" style="padding-left: 0px;"   data-toggle="modal" data-target="#myModal"  (click)="getDocument(allDocumentHere)">
                              </i></td>
                              <td><button class="btn btn-info btn-sm" style="border-radius: 7px!important" (click)="verifydocument(allDocumentHere,'AdharCard')" *ngIf="(allDocumentHere?.documentMaster?.aadharStatus!=='verified'&&allDocumentHere?.documentMaster?.aadharStatus!=='rejected')">Verify</button> <i class="fa fa-check" aria-hidden="true" *ngIf="allDocumentHere?.documentMaster?.aadharStatus=='verified'" style="font-size: 15px;
                                color: #0cd40c;"></i>&nbsp;&nbsp;<button class="btn btn-primary btn-sm" style="border-radius: 7px!important" (click)="rejectDocument(allDocumentHere,'AdharCard')" *ngIf="(allDocumentHere?.documentMaster?.aadharStatus!=='rejected'&&allDocumentHere?.documentMaster?.aadharStatus!=='verified')">Reject</button><i class="fa fa-times" aria-hidden="true" *ngIf="allDocumentHere?.documentMaster?.aadharStatus=='rejected'" style="font-size: 15px; color:#f40e0e"></i></td>
                              
                             
                            </tr>
                            <tr  class="tabledata-center" >
                              <td>2</td>
                              <td >
                                Pan Card
                              </td>
                             
                              <td>{{allDocumentHere?.documentMaster?.panUpdateDate| date:'dd-MMM-yyyy'}}</td>
                              {{ allDocumentHere?.contractorMaster?.firstName }}
                            
                              <td> <i class="fa fa-eye"
                                title="View details" aria-hidden="true" style="padding-left: 0px;"   data-toggle="modal" data-target="#myModal"  (click)="getDocumentPan(allDocumentHere)">
                              </i></td>
                              <td><button class="btn btn-info btn-sm" style="border-radius: 7px!important" (click)="verifydocument(allDocumentHere,'PanCard')" *ngIf="(allDocumentHere?.documentMaster?.panStatus!=='verified'&&allDocumentHere?.documentMaster?.panStatus!=='rejected')">Verify</button> <i class="fa fa-check" aria-hidden="true" *ngIf="allDocumentHere?.documentMaster?.panStatus=='verified'" style="font-size: 15px;
                                color: #0cd40c;"></i>&nbsp;&nbsp;<button class="btn btn-primary btn-sm" style="border-radius: 7px!important" (click)="rejectDocument(allDocumentHere,'PanCard')" *ngIf="(allDocumentHere?.documentMaster?.panStatus!=='rejected'&&allDocumentHere?.documentMaster?.panStatus!=='verified')">Reject</button><i class="fa fa-times" aria-hidden="true" *ngIf="allDocumentHere?.documentMaster?.panStatus=='rejected'" style="font-size: 15px; color:#f40e0e"></i></td>
                              
                             
                            </tr>
                            <tr  class="tabledata-center" >
                              <td>3</td>
                              <td >
                                Police Verification
                              </td>
                             
                              <td>{{allDocumentHere?.documentMaster?.policeDocUploadDate| date:'dd-MMM-yyyy'}}</td>
                              {{ allDocumentHere?.contractorMaster?.firstName }}
                            
                              <td> <i class="fa fa-eye"
                                title="View details" aria-hidden="true" style="padding-left: 0px;"   data-toggle="modal" data-target="#myModal"  (click)="getDocumentpolice(allDocumentHere)">
                              </i></td>
                              <td><button class="btn btn-info btn-sm" style="border-radius: 7px!important" (click)="verifydocument(allDocumentHere,'Police Verification')" *ngIf="(allDocumentHere?.documentMaster?.policeDocStatus!=='verified'&&allDocumentHere?.documentMaster?.policeDocStatus!=='rejected')">Verify</button> <i class="fa fa-check" aria-hidden="true" *ngIf="allDocumentHere?.documentMaster?.policeDocStatus=='verified'" style="font-size: 15px;
                                color: #0cd40c;"></i>&nbsp;&nbsp;<button class="btn btn-primary btn-sm" style="border-radius: 7px!important" (click)="rejectDocument(allDocumentHere,'Police Verification')" *ngIf="(allDocumentHere?.documentMaster?.policeDocStatus!=='rejected'&&allDocumentHere?.documentMaster?.policeDocStatus!=='verified')">Reject</button><i class="fa fa-times" aria-hidden="true" *ngIf="allDocumentHere?.documentMaster?.policeDocStatus=='rejected'" style="font-size: 15px; color:#f40e0e"></i></td>
                              
                             
                            </tr>
                            <tr  class="tabledata-center" >
                              <td>4</td>
                              <td >
                                Experience Certificate
                              </td>
                             
                              <td>{{allDocumentHere?.documentMaster?.experienceUpdateDate| date:'dd-MMM-yyyy'}}</td>
                              {{ allDocumentHere?.contractorMaster?.firstName }}
                            
                              <td> <i class="fa fa-eye"
                                title="View details" aria-hidden="true" style="padding-left: 0px;"   data-toggle="modal" data-target="#myModal"  (click)="getDocumentExperiance(allDocumentHere)">
                              </i></td>
                              <td><button class="btn btn-info btn-sm" style="border-radius: 7px!important" (click)="verifydocument(allDocumentHere,'Experience Letter')" *ngIf="(allDocumentHere?.documentMaster?.experienceDocStatus!=='verified'&&allDocumentHere?.documentMaster?.experienceDocStatus!=='rejected')">Verify</button> <i class="fa fa-check" aria-hidden="true" *ngIf="allDocumentHere?.documentMaster?.experienceDocStatus=='verified'" style="font-size: 15px;
                                color: #0cd40c;"></i>&nbsp;&nbsp;<button class="btn btn-primary btn-sm" style="border-radius: 7px!important" (click)="rejectDocument(allDocumentHere,'Experience Letter')" *ngIf="(allDocumentHere?.documentMaster?.experienceDocStatus!=='rejected'&&allDocumentHere?.documentMaster?.experienceDocStatus!=='verified')">Reject</button><i class="fa fa-times" aria-hidden="true" *ngIf="allDocumentHere?.documentMaster?.experienceDocStatus=='rejected'" style="font-size: 15px; color:#f40e0e"></i></td>
                              
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr></tr>
                          </tfoot>
                        </table>

                        <div class="row" style="margin-left: 14px;">
                        <button class="btn btn-primary  " (click)="SaveLabourFromFront_desk()" >save</button>&nbsp;&nbsp;
                        <button class="btn btn-secondary " (click)="generateProvisionalPass()">Generate Provisional Pass</button>
                           </div>
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="container">
          
      <!-- Button to Open the Modal -->
      
    
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #0747a6;">
              <div>
               
              </div>
              
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <img src="{{adharimage}}" style="width: 40%;
              height: auto;">
            </div>
            
            <!-- Modal footer -->
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
            
          </div>
        </div>
      </div>
      
    </div>