
<div class="barchart" *ngIf="chartFlagM">
    <div class="chartbox">
      <div style="display: block; width: 550px; height: 300px;">
        <canvas 
        baseChart [datasets]="monthlyBarChartData" 
        [labels]="barChartLabels" 
        [options]="barChartOptions" 
        [colors]="barChartColors"
          [legend]="barChartLegend" 
          [chartType]="barChartType" 
          (chartHover)="chartHovered($event)" 
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>

  <div class="barchart" *ngIf="chartFlagD">
    <div class="chartbox">
      <div style="display: block; width: 550px; height: 300px;">
        <canvas 
        baseChart [datasets]="dailyBarChartData" 
        [labels]="barChartLabels" 
        [options]="barChartOptions" 
        [colors]="barChartColors"
          [legend]="barChartLegend" 
          [chartType]="barChartType" 
          (chartHover)="chartHovered($event)" 
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>

  <div class="barchart" *ngIf="!chartFlagD && !chartFlagM">
    <div class="chartbox">
      <div style="display: block; width: 900px; height: 500px;">
        <canvas 
        baseChart [datasets]="barChartData" 
        [labels]="barChartLabels" 
        [options]="barChartOptions" 
        [colors]="barChartColors"
          [legend]="barChartLegend" 
          [chartType]="barChartType" 
          (chartHover)="chartHovered($event)" 
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>