<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-md-12">
        <button type="button" class="btn btn-warning float-right m-3" (click)="captureScreen()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
    </div>   -->
   
  </div>  


<div id="content" class="rep-bg">


  <div class="row">
     
    <div class="col-md-6">
      
      <!-- <img src="assets/rieter_logoL.png" alt="alleviz">
      <br> -->
      <h6 class="attrep">
        <strong class="blu">
          <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Attendance Report </strong> &nbsp;
       
      </h6>
    </div>
  </div>

<div class="row">


<div class="col-md-4">
    <div class="form-row">

        <div class="form-group col-md-6">
          <label for="frmdate">From Date: </label>
          <input type="date" class="form-control form-control-sm" id="frmdate" placeholder="From Date" name="fromDate" [(ngModel)]="fromDate" (change)="getdata()">
        </div>

        <div class="form-group col-md-6">
          <label for="todate">To Date: </label>
          <input type="date" class="form-control form-control-sm" id="todate" placeholder="To Date" name="toDate" [(ngModel)]="toDate" (change)="getinput()">
        </div>
       
      </div>
</div>


</div>

  <div class="row">
   
    <div class="col-md-12">
        <div class="repdate float-right">{{myDate}}</div>
<div class="qwe">
<h6><span class="blu"><strong>Abbreviation:-</strong></span> WD : Working Day, WO : Weekly Off, HO : Holiday,<span></span> WOH : Week Off And Holiday</h6>
</div>

<div class="qwe">
  <h6><span class="blu"><strong>Name:- {{fullname}} {{lastname}}</strong></span></h6>
</div>

    </div>

    <div class="col-md-10" >
        <table class="table table-space table-borderless" id="content">
            <thead >
              <tr class="table-secondary">
                <th *ngIf="marked">Sr. No.</th>
                <th *ngIf="marked1">Shift</th>
                <th *ngIf="marked2">Attendance date</th>
                <th *ngIf="marked3">In Time</th>
                <th *ngIf="marked4">Out Time</th>
                <th *ngIf="marked5">Working Duration</th>
                <th *ngIf="marked6">Status of day</th>
                <th *ngIf="marked7">Status</th>
              </tr>
            </thead>
            <tbody *ngFor = "let report of AllAttendenceData; let i = index">
  
              <tr>
                <td *ngIf="marked">{{ i + 1 }}</td>
                <td *ngIf="marked1">{{report.shiftName}}</td>
                <td *ngIf="marked2">{{report.attenDate }}</td>
                <td *ngIf="marked3">{{report.checkIn }}</td>
                <td *ngIf="marked4">{{report.checkOut }}</td>
                <td *ngIf="marked5">{{report.workDuration}}</td>
                <td *ngIf="marked6">{{report.statusOfDay}}</td>
                <!-- <td *ngIf="marked7">{{report.attendanceStatus}}</td> -->
                <td *ngIf="marked7">
                <span *ngIf="report.requestDetails && report.requestDetails == 'CL/2/SL' && report.requestDetails != 'CL/1/SL'">SL/CL</span> 
                <span *ngIf="report.requestDetails && report.requestDetails == 'CL/1/SL' && report.requestDetails != 'CL/2/SL'">CL/SL</span> 
                <span *ngIf="report.requestDetails && report.requestDetails != 'CL/2/SL' && report.requestDetails != 'CL/1/SL'">{{report.requestDetails}}</span> 
               
                <span *ngIf="!report.requestDetails">{{report.attendanceStatus}}</span>   
                </td>
                
              </tr>
   
            </tbody>
          </table>
    </div>

    <div class="col-md-2">
      <div class="columnshead">
        <h6>Select Columns:</h6>
        <label class="container">
          <input type="checkbox" [(ngModel)]="srnoCheckbox" data-md-icheck (change)="toggleVisibility($event)" />
          Sr. No.
          <span class="checkmark"></span>
        </label>

        <label class="container">
          <input type="checkbox" [(ngModel)]="shiftcheckbox" data-md-icheck (change)="toggleVisibility1($event)" />
          Shift
          <span class="checkmark"></span>
        </label>

        <label class="container">
          <input type="checkbox" [(ngModel)]="attendanceCheckbox" data-md-icheck (change)="toggleVisibility2($event)" />
          Attendance date
          <span class="checkmark"></span>
        </label>

        <label class="container">
          <input type="checkbox" [(ngModel)]="intimeCheckbox" data-md-icheck (change)="toggleVisibility3($event)" />
         In-Time
          <span class="checkmark"></span>
        </label>

        <label class="container">
          <input type="checkbox" [(ngModel)]="outtimeCheckbox" data-md-icheck (change)="toggleVisibility4($event)" />
          Out-Time
          <span class="checkmark"></span>
        </label>

        <label class="container">
          <input type="checkbox" [(ngModel)]="workingDurationCheckbox" data-md-icheck (change)="toggleVisibility5($event)" />
          Working Duration
          <span class="checkmark"></span>
        </label>

        <label class="container">
          <input type="checkbox" [(ngModel)]="statusofdayChecckbox" data-md-icheck (change)="toggleVisibility6($event)" />
          Status Of the Day
          <span class="checkmark"></span>
        </label>

        <label class="container">
          <input type="checkbox" [(ngModel)]="statusChecckbox" data-md-icheck (change)="toggleVisibility7($event)" />
          Status
          <span class="checkmark"></span>
        </label>

        <button type="button" class="btn btn-warning float-right m-3" (click)="capturePDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
        <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
        <!-- <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i> &nbsp;Export Report Excel</button> -->
      </div>
    </div>

  </div>
</div>

</div>
