<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-hand-o-up bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Leave Request <div class="page-title-subheading"> Here you can Apply Leave </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">

        <div class="white-bg min-height-500">

          <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Apply</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-profile" aria-selected="false">List</a>
            </li>
            <!-- <li class="nav-item">
          <a class="nav-link" id="pills-suggest-tab" data-toggle="pill" href="#pills-suggest" role="tab"
            aria-controls="pills-profile" aria-selected="false">Leave Suggestion</a>
        </li> -->
          </ul>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <!-- ====================STEPPER===================-->
              <div class="row justify-content-center">
                <div class="col-md-12">
                  <button *ngIf="hideCalender" type="button" class="btn opencalendar btn-primary" data-toggle="modal"
                    data-target="#myModal">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>

                  <div class="row justify-content-center">
                    <div class="col-md-6 ">
                      <div class="row justify-content-center">
                        <div class="col-md-12 col-xs-12">
                          <!-- ====================STEPPER===================-->
                          <ul class="progressbar-stepper">
                            <!-- <li class="active">Vinod Rathod</li>
                            <li>Sopan Ambani</li>
                            <li>Sachin Saraf</li> -->
                          </ul>
                          <!-- ====================STEPPER===================-->
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-md-6">

                      <form name="form" #f="ngForm" (ngSubmit)='f.form.valid && onSubmit(f)' novalidate>


                        <div class="form-group">
                          <label>Employee Name <span style="color: red">*</span></label>

              <select name="empPerId" class="form-control" #empPerId='ngModel' [(ngModel)]="model.empPerId"
                            (ngModelChange)="selectEmp($event)" required>

                            <option value="">Select Employee</option>
                            <option value="{{empdata.empPerId}}"
                              *ngFor="let empdata of EmployeedataLeave; let i = index;">{{empdata.fullName}} {{empdata.lastName}}- {{empdata.empId}}
                            </option>

                    </select>
                          <div class="help-block" *ngIf="empPerId.errors?.required && (empPerId.touched)"><small
                              style="color: red">Please Select Employee</small>
                          </div>

                        </div>

                        <div class="form-group">
                          <label>Leave Name <span style="color: red">*</span></label>
                          <select name="type" class="form-control" #type='ngModel' [(ngModel)]="model.type"
                            (ngModelChange)="selectLeaveType(leaveConfigList,model.type)" required>
                            <option value="">Select Leave Name</option>
                            <!-- <option [value]="selectUndefinedOptionValue">Select</option> -->
                            <option value="{{item.leaveId}}" (click)="getLeaveId(item)"
                              *ngFor="let item of leaveConfigList; let i = index;">{{item.leaveCode}} -
                              {{item.leaveName}} ({{item.currentLeaves}})
                            </option>

                          </select>
                          <div class="help-block" *ngIf="type.errors?.required && (type.touched )"><small
                              style="color: red">Please Select Leave</small></div>

                        </div>

                        <div class="form-group">
                          <label>Type Of Leave <span style="color: red">*</span></label>
                          <br>

                          <input type="radio" id="radio1" [(ngModel)]="model.typeofleave" value="Fullday"
                            name="typeofleave" (ngModelChange)="typeOfLeave('Fullday')" />
                          <label for="radio1">Fullday</label>

                          <input type="radio" *ngIf='minimumDays == 0.5' id="radio2" [(ngModel)]="model.typeofleave"
                            value="First Half" name="typeofleave" (ngModelChange)="typeOfLeave('First Half')" />
                          <label for="radio2" *ngIf='minimumDays == 0.5'>First Half</label>

                          <input type="radio" id="radio3" *ngIf='minimumDays == 0.5' [(ngModel)]="model.typeofleave"
                            value="Second Half" name="typeofleave" (ngModelChange)="typeOfLeave('Second Half')" />
                          <label for="radio3" *ngIf='minimumDays == 0.5'>Second Half</label>
                        </div>
                        <div class="form-row">
                          <!-- <div (click)="show()">val</div> -->
                          <div class="form-group col-md-4" (click)="fromToDate('from')">
                            <label>From Date<span style="color: red"> *</span></label>
                            <input type="date" class="form-control" #frmdate='ngModel' name="frmdate"
                              [ngModel]="model.frmdate | datePipe:'yyyy-MM-dd'" (ngModelChange)="selectFromDate($event)"
                              required />
                            <div class="help-block" *ngIf="!leaveErrorMessageFlag"><small
                                style="color: red">{{leaveErrorMessage ? leaveErrorMessage.message : ''}}
                              </small></div>

                          </div>

                          <div class="form-group col-md-4" (click)="fromToDate('to')">
                            <label>To Date</label>
                            <input type="date" min="{{model.frmdate | date:'yyyy-MM-dd'}}" class="form-control"
                              #todate='ngModel' name="todate" [disabled]="!(model.typeofleave == 'Fullday')"
                              [ngModel]="model.todate | date:'yyyy-MM-dd'" (ngModelChange)="selectToDate($event)" />
                          </div>
                          <div class="form-group col-md-4">
                            <label>Leave Count</label>
                            <input type="number" readonly class="form-control" #selectedLeaveCount='ngModel'
                              name="selectedLeaveCount" [(ngModel)]="model.selectedLeaveCount" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Leave Reason <span style="color: red">*</span></label>
                          <input type="text" class="form-control" name="leavereson" [(ngModel)]="model.leavereson"
                            maxlength="250" #leavereson="ngModel" required />
                          <div class="help-block" *ngIf="leavereson.errors?.required && (leavereson.touched)"><small
                              style="color: red">Reason Can Not be Blank</small></div>

                        </div>

                        <!-- <div class="form-group">
                                <label>Handed Over Work To
          
                                </label>
                                <ng-multiselect-dropdown [placeholder]="'Handed Over Work To'" [data]="Employeedata"
                                  (click)="selectClick()" required [(ngModel)]="model.handedover"
                                  [ngModelOptions]="{standalone: true}" #selectedLocation='ngModel' name='selectedLoco'
                                  (ngChange)="changeSelect($event)" [settings]="dropdownSettings"
                                  (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                                  (onDeSelect)="OnItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                </ng-multiselect-dropdown>
                        </div> -->

                        <div class="form-group">
                          <label>Handed Over Work To</label>
                          <input class="form-control" autocomplete="off" (keydown)="keyDown($event)"
                            placeholder="Handed Over Work To" [(ngModel)]="searchQuery"
                            (input)="filterItem(searchQuery)" #name="ngModel" name="name" type="text">
                        </div>

                        <div class="chatsuggestion" *ngIf="empFlag">
                          <div *ngFor="let item of Employeedata | searchPipeDash: searchQuery"
                            (click)="suggestThis(item)" class="suggestiontext">
                            <div [class.active]="item.index == arrowkeyLocation">
                              {{item.fullName}} {{item.lastName}} - {{item.empId}}
                            </div>
                          </div>
                        </div>

                        <!-- <div class="form-group">
                                <label>Employees to be notified
                                </label>
                                <ng-multiselect-dropdown [placeholder]="'Employees to be notified'" [data]="Employeedata"
                                  (click)="selectClick()" required [(ngModel)]="model.empnotified"
                                  [ngModelOptions]="{standalone: true}" #selectedLocation='ngModel' name='selectedLoco'
                                  (ngChange)="changeSelect1($event)" [settings]="dropdownSettings"
                                  (onSelect)="onItemSelect1($event)" (onSelectAll)="onSelectAll1($event)"
                                  (onDeSelect)="OnItemDeSelect1($event)" (onDeSelectAll)="onDeSelectAll1($event)">
                                </ng-multiselect-dropdown>
                              </div> -->

                        <div class="form-group">
                          <label>Employees To Be Notified</label>
                          <input class="form-control" autocomplete="off" (keydown)="keyDown1($event)"
                            placeholder="Employees To Be Notified" [(ngModel)]="searchQuery1"
                            (input)="filterItem1(searchQuery1)" #name1="ngModel" name="name1" type="text">
                        </div>

                        <div class="chatsuggestion" *ngIf="empFlag1">
                          <div *ngFor="let item1 of Employeedata | searchPipeDash: searchQuery1"
                            (click)="suggestThis1(item1)" class="suggestiontext">
                            <div [class.active]="item1.index == arrowkeyLocation1">
                              {{item1.fullName}} {{item1.lastName}} - {{item1.empId}}
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <button type="submit" [disabled]='f.invalid || !leaveErrorMessageFlag'
                            class="btn btn-primary">Apply</button> &nbsp;
                          <button type="reset" class="btn btn-info" (click)="reset()">Reset</button>
                        </div>

                        <!-- <div class="form-group" (click)="validate()" *ngIf="!f.invalid && !leaveBalanceFlag && !leaveErrorMessageFlag">
                                <button [disabled]='f.invalid && leaveBalanceFlag' (click)="onSubmit()" >Apply</button> &nbsp;
                                <button type="button"  (click)="reset()">Reset</button>
                              </div> -->
                      </form>

                    </div>
                  </div>


                </div>
              </div>
              <div class="row"></div>

              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="row">
                    <!-- ==================FIRST HALF V================= -->
                    <div class="col-md-6">




                    </div>
                    <!-- ==================FIRST HALF V================= -->



                  </div>
                </div>
              </div>


            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

              <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="row">

                    <!-- ==================SECOND HALF V================= -->
                    <div class="col-md-12">

                      <div>
                        <div class="filter">
                          <div class="row justify-content-end">

                            <div class="col-md-3">
                              <div class="form-group">
                                <form class="form-inline" action="/action_page.php">
                                  <label for="date" class="mr-sm-2">From Date:</label>

                                  <input type="date" class="form-control" name="thisdate"
                                    [ngModel]="tempModel.thisdate | date:'yyyy-MM-dd'" #thisdate="ngModel"
                                    (ngModelChange)="selectThisDate($event)" id="frmdate"  required>
                                    <div class="help-block" *ngIf="!leaveErrorMessageFlag"><small style="color: red">{{leaveErrorMessage ? leaveErrorMessage.message : ''}}
                                    </small></div>
                                         <!-- max="{{maxDateForApply | date:'yyyy-MM-dd'}}" -->
                                </form>
                              </div>
                            </div>

                            <div class="col-md-2">
                              <div class="form-group">
                                <select name="filter" [(ngModel)]="statusType"
                                  (ngModelChange)="statusTypeChanged($event)" class="form-control filter-box">
                                  <!-- <option value="Joint" class="filter">Filter</option> -->
                                  <!-- <option value="All">All</option> -->
                                  <option value="Pending">Pending</option>
                                  <option value="Approved">Approved</option>
                                  <option value="Rejected">Rejected</option>

                                </select>
                              </div>
                            </div>

                          </div>


                          <div class="table-responsive">
                            <table id="emplisttable" class="table table-striped table-bordered" style="width:100%">
                              <thead class="thead-dark">
                                <tr>
                                  <th>Sr.No</th>
                                  <th>Name</th>
                                  <th>From Date</th>
                                  <th>To Date</th>
                                  <th>Leave Name</th>
                                  <th>Type Of Leave</th>
                                  <!-- <th>Reason</th> -->
                                  <th>Status</th>
                                  <th class="action">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of leaveApplicationList; let i = index;">
                                  <td>{{i+1}}</td>
                                  <td>{{item.fullName}} {{item.lastName}}</td>
                                  <td>{{item.startDate | date:'dd-MMM-yyyy'}}</td>
                                  <td>{{item.endDate | date:'dd-MMM-yyyy'}}</td>
                                  <td>{{item.leaveCode}}</td>
                                  <td>{{item.typeOfLeave}}</td>
                                  <!-- <td>{{item.leaveReson}}</td> -->

                                  <td class="statustd" *ngIf="item.finalStatus == 'Pending'">
                                    <span class="statusofleave3" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="leaveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>

                                  <td class="statustd" *ngIf="item.finalStatus == 'Approved'">
                                    <span class="statusofleave" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="leaveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Rejected'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="leaveApproveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'Cancel'">
                                    <span class="statusofleave2" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="leaveApproveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  <td class="statustd" *ngIf="item.finalStatus == 'suggested'">
                                    <span class="statusofleaves" data-toggle="modal" data-target="#myModalcheckstatus"
                                      (click)="leaveApproveWorkFlow(item)">
                                      <i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  <td>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-pencil btn"
                                      (click)="editLeave(item)"></i>
                                    <i *ngIf="item.finalStatus == 'Pending'" class="fa fa-trash btn"
                                      (click)="getLeave(item)" data-toggle="modal" data-target="#AreYouSure"></i>
                                  </td>
                                </tr>

                              </tbody>
                            </table>
                          </div>
                          <div class="statusclr">
                            <ul>
                              <li>Approved :
                                <span class="statusofleave statusicon">
                                  <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                              </li>
                              <li>Rejected :
                                <span class="statusofleave2 statusicon">
                                  <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                              </li>
                              <li>Pending :
                                <span class="statusofleave3 statusicon">
                                  <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                              </li>
                              <!-- <li>Suggested :
                            <span class="statusofleaves statusicon">
                              <i class="fa fa-circle" aria-hidden="true"></i>
                            </span>
                          </li> -->
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- ==================SECOND HALF V================= -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="pills-suggest" role="tabpanel" aria-labelledby="pills-suggest-tab">


              <!-- +++++++++++++++++++++++++++++++++ -->




              <!-- +++++++++++++++++++++++++++++++++ -->


              <!-- +++++++++++++++++++++++++++++++++++++2++++++++++++ -->





              <!-- +++++++++++++++++++++++++++++++++++++2++++++++++++ -->

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal fade" id="AreYouSure">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want To Delete Leave?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)='modelEvent()' data-dismiss="modal" class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>

  <div class="container">


    <!-- The Modal -->
    <div class="modal fade" id="myModalcheckstatus">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Work Flow History</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <table id="example" class="flowhistorytable table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Level</th>
                  <!-- <th>Assigned To</th>
                            <th>Approver Code</th> -->
                  <th>Approver Name</th>
                  <th>Request Status</th>
                  <th>Approval Date</th>
                  <th>Remark</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of workFlowList ; let i = index">
                  <td>Level - {{i+1}}</td>
                  <!-- <td>Ramesh Patil</td>
                            <td>RIT-300</td> -->
                  <td>{{item.fullName}} {{item.lastName}}</td>
                  <td *ngIf="item.status == 'Pending'"><span class="badge badge-warning">{{item.status}}</span></td>
                  <td *ngIf="item.status == 'Approved'"><span class="badge badge-success">{{item.status}}</span></td>
                  <td *ngIf="item.status == 'Reject'"><span class="badge badge-danger">{{item.status}}</span></td>
                  <td>{{item.approvalDate}}</td>
                  <td>{{item.remark}}</td>
                </tr>

            </table>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-lg">

        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-area">
            <div class="row">
              <div class="col-md-8">

                <div class="p-2">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="jzdbox1 jzdbasf jzdcal">
                    <div class="calendarm">
                      <div class="calendar-header">
                        <div class="row">
                          <div class="col" (click)="goToLastMonth()">
                            <button class="prevnext">
                              <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                            </button>
                          </div>
                          <div class="col">
                            <div class="jzdcalt">{{currentMonth}} {{currentYear}}</div>
                          </div>
                          <div class="col" (click)="goToNextMonth()">
                            <button class="prevnext">
                              <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="calendar-body">
                        <div class="grid1">
                          <div class="row">
                            <div class="col week">Su</div>
                            <div class="col week">Mo</div>
                            <div class="col week">Tu</div>
                            <div class="col week">We</div>
                            <div class="col week">Th</div>
                            <div class="col week">Fr</div>
                            <div class="col week">Sa</div>
                          </div>
                          <div class="row">
                            <div class="col date prvdate" *ngFor="let lastDay of daysInLastMonth">o</div>
                            <div class="col date" *ngFor="let days of daysInThisMonth" [ngSwitch]="days.status">

                              <div *ngSwitchCase="'P'" class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'">{{days.day}}</div>
                              <div class="absent" *ngSwitchCase="'A'" data-title="'{{days.checkIn }}''{{days.checkOut}}'">{{days.day}}</div>
                              <div *ngSwitchCase="'WO'" class="holidayweekoff">{{days.day}}</div>
                              <div *ngSwitchCase="'LT'" class="lateearlympunch" data-title="'{{days.checkIn}}''{{days.checkOut}}'">{{days.day}}</div>
                              <div *ngSwitchCase="'Ot'" class="other" (click)="selectDate(days.day)">{{days.day}}</div>
                              <div *ngSwitchCase="'LCOD'" class="leavecoffod">{{days.day}}</div>

                              <div *ngSwitchCase="'L'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                              </div>
                              <div *ngSwitchCase="'CO'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                              </div>
                              <div *ngSwitchCase="'OD'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                              </div>
                              <div class="holiday" title="'{{days.checkIn}}'" *ngSwitchCase="'HO'">
                                {{days.day}}
                              </div>
                              <!-- <div *ngSwitchCase="'Ot'" class="" (click)="selectDate(days.day)">{{days.day}}</div> -->
                            </div>
                            <div class="col date nxtdate" *ngFor="let nextDay of daysInNextMonth">o</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 p-0">

                <div class="abribg">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Present:
                      <span class="stbg"><i class="fa prsent fa-circle" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Absent:
                      <span class="stbg"><i class="fa absnt fa-circle" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Weekly off/Holiday:
                      <span class="stbg"><i class="fa wwekoddholiday fa-circle" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Leave/Coff/OD:
                      <span class="stbg"><i class="fa leaveodcoff fa-circle" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Late/Early/Half Day/Short Hours/Miss Punch:
                      <span class="stbg"><i class="fa erly fa-circle" aria-hidden="true"></i></span>
                    </li>
                  </ul>
                  <div class="calbg">
                    <img src="/src/assets/calbg.png">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>