.empdetails h6{
    vertical-align: middle;
    font-size: 0.9rem;
    color:grey;
    margin: 2px 0 !important;
    font-weight: 600;
}
.empdetails p{
    vertical-align: middle;
    color: black;
    font-weight: 600;
}
.border{
    border:1px solid grey;
    padding:1.5rem;
}
 /* .emppic{
    text-align: center;
}  */
.emppic img{
    border:4px solid white;
    box-shadow: 0px 0px 16px 0px #00000033;
    width:120px; 
    height:120px;
}
.edit{
    color:rgb(29, 73, 219);
    float:right;
}

/* .infocenter{
    display: table;
    margin:auto;
} */
h5{
    color:rgb(1, 82, 255);
}
.table .thead-dark2 th {
    color: #fff !important;
    background-color: #212529 !important;
    border-color: #32383e !important;
  }