<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <div *ngIf="whoCliked=='EMP'" class="edit">
                <a [routerLink]="['/layout/emppims/empdetails']" (click)="click()" [queryParams]="{q:'personal'}">Edit
                  Details</a>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="data-title">
                    <h6>Personal Information</h6>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" *ngIf="bioId">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Biometric Id</h6>
                      <p>{{bioId}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="empId">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Employee Id</h6>
                      <p>{{empId}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Name</h6>
                      <p>{{fullName}} {{lastName}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" *ngIf="gender">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Gender</h6>
                      <p>{{gender}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="dateOfBirth">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>DOB</h6>
                      <p>{{dateOfBirth | date: 'dd-MMM-yyyy'}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="age">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Age</h6>
                      <p>{{age}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" *ngIf="placeOfBirth">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Place Of Birth</h6>
                      <p>{{placeOfBirth}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="fatheName">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Father's Name/Spouse Name</h6>
                      <p>{{fatheName}}</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" *ngIf="motherName">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Mother's Name</h6>
                      <p>{{motherName}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" *ngIf="maritialStatus">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Marital Status</h6>
                      <p *ngIf="maritialStatus == 'S'">Single</p>
                      <p *ngIf="maritialStatus == 'M'">Married</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="nationality">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Nationality</h6>
                      <p>{{nationality}}</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" *ngIf="language">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Languages Known</h6>
                      <p>{{language}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="data-title">
                    <h6>Physical Information</h6>
                  </div>

                </div>
              </div>

              <div class="row">

                <div class="col-md-4" *ngIf="bloodGroup">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Blood Group</h6>
                      <p>{{bloodGroup}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="wieght">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Weight(In kg)</h6>
                      <p>{{wieght}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="height">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Height(In Cm)</h6>
                      <p>{{height}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6" *ngIf="physicalDisability">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Any Physical Disability</h6>
                      <p>{{physicalDisability}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" *ngIf="healthIssues">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Any Health Issue</h6>
                      <p>{{healthIssues}}</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6" *ngIf="currentHlthIssue">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Any Current Health Issue</h6>
                      <p>{{currentHlthIssue}}</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6" *ngIf="currentHlthIssueDet">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Any Current Health Issue Details </h6>
                      <p>{{currentHlthIssueDet}}</p>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6" *ngIf="regularMealPreference">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Regular Meal Preference</h6>
                      <p>{{regularMealPreference}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" *ngIf="anySpecialInstructionforMeal">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Any Special Instruction For Meal</h6>
                      <p>{{anySpecialInstructionforMeal}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="data-title">
                    <h6>Family Details</h6>
                  </div>
                </div>
              </div>

              <div *ngFor="let family of familyDetail">
                <div class="row border">
                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Name</h6>
                        <p>{{family.name}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Relation</h6>
                        <p>{{family.relation}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Date Of Birth</h6>
                        <p>{{family.dob | date: 'dd-MMM-yyyy'}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Age</h6>
                        <p>{{family.age}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Occupation</h6>
                        <p>{{family.profession}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Mobile Number</h6>
                        <p>{{family.contactNumber}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Covered Under Mediclaim</h6>
                        <p *ngIf="family.toBeCoveredUnderMediclaim == true">Yes</p>
                        <p *ngIf="family.toBeCoveredUnderMediclaim == false">No</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Dependency On You</h6>
                        <p *ngIf="family.dependancy == true">Yes</p>
                        <p *ngIf="family.dependancy == false">No</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>