.box{
    border-radius: 0.365rem;
    border: 1px solid rgb(224, 224, 224);
    height: 100%;




}
.ht-500{
    min-height: 500px;
}

.close {
    float: right;
    position: absolute;
    right: 5px;
    top: 3px;
    overflow: -webkit-paged-x;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close:hover {

    opacity: .9;
}
.clearall{
    font-size: 0.9em;
    color: rgb(120, 174, 255);
    text-decoration: underline;
    cursor: pointer;
}
.clearall:hover{
    color:rgb(0, 48, 119);
    text-decoration: underline;
    cursor: pointer;
}

.width80{
    width:80% !important;
}
.linkslist{
    list-style: none;
    padding-left:0 !important;
}

.linkslist li{
    font-size: 0.9em;
    color: rgb(120, 174, 255);
    text-decoration: underline;
    cursor: pointer;
    padding-bottom: 10px;
}
.ccr{
    padding-left:0 !important;
}

.table-wrapper {
    height: 460px;
    overflow: scroll;
  }
  
  table {
    position: relative;
    border: 2px solid #ddd;
    border-collapse: collapse;
  }
  
  td, th {
    white-space: nowrap;
    border: 2px solid #f3f3f3;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #dedede;
    position: sticky;
    top: -1px;
    z-index: 2;
}

  tbody tr td:first-of-type {
    background-color: #dedede;
    position: sticky;
    left: -1px;
    text-align: left;
  }
  .bg-secondary{
    background-color: #a7d6ff!important;
      color:rgb(37, 37, 37);
  }
