<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="box">

          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="p-3">
                  <div class="table-wrapper">
                      <table>
                      <thead>

                          <th>0</th>
                          <th class="bg-secondary">Emp. No.</th>
                          <th class="bg-secondary">Category</th>
                          <th class="bg-secondary">Gender</th>
                          <th class="bg-secondary">Function Unit</th>
                          <th class="bg-secondary">Busines Group</th>
                          <th class="bg-secondary">Department</th>
                          <th class="bg-secondary">Other</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        <!-- <tr>
                          <th></th>
                          <th>A</th>
                          <th>B</th>
                          <th>C</th>
                          <th>D</th>
                          <th>E</th>
                          <th>F</th>
                          <th>G</th>
                          <th>H</th>
                          <th>I</th>
                          <th>J</th>
                          <th>K</th>
                          <th>L</th>
                          <th>M</th>
                          <th>N</th>
                          <th>O</th>
                          <th>P</th>
                          <th>Q</th>
                          <th>R</th>
                          <th>S</th>
                          <th>T</th>
                          <th>U</th>
                          <th>V</th>
                          <th>W</th>
                          <th>X</th>
                          <th>Y</th>
                          <th>Z</th>
                        </tr> -->
                      </thead>
                      <tbody>
                      
                        <tr>
                          <td>1</td>
                          <td>45722</td>
                          <td>Staff</td>
                          <td>Male</td>
                          <td>Marketing</td>
                          <td>RMS</td>
                          <td>Sales</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>45723</td>
                            <td>Staff</td>
                            <td>Female</td>
                            <td>Marketing</td>
                            <td>RMS</td>
                            <td>It</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>45723</td>
                            <td>Staff</td>
                            <td>Female</td>
                            <td>Marketing</td>
                            <td>RMS</td>
                            <td>It</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                       <tr>
                          <td>7</td>
                          <td></td>
                          <td></td>
                          <td></td>
                         <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                       <tr>
                          <td>8</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                       <tr>
                          <td>9</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                       <tr>
                          <td>10</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                       <tr>
                          <td>11</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                       <tr>
                          <td>12</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="white-bg ht-500">

                <div class="p-2">
                  <div class="close">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                  </div>
                  <h5>
                    <strong>Attendance Report</strong>
                  </h5>
                  <form>
                      <div class="form-group">
                          <label>Report Name</label>
                          <input type="text" class="form-control form-control-sm" name="reportname"
                          />
                        </div>

                        <div class="form-inline form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" class="form-control form-control-sm" placeholder="Search" id="usr" name="username">
                              </div>
            
                    
                          
                            <div class="form-check pl-3 text-center">
                              <div class="clearall">
                                  Clear All
                              </div>
                            
                            </div>
                          </div>
                          <div class="form-group">
                          <ul class="linkslist">
                            <li>Create Graphs</li>
                            <li>Download PDF</li>
                            <li>Download XLS</li>
                          </ul>
                          </div>
                          <div class="form-group">
                              <label>Mail this Report</label>
                              <input type="text" class="form-control form-control-sm" name="mailreport"
                              />
                            </div>
                     
                                <div class="float-right">
                                    <div class="form-group">
                                      <button class="btn btn-primary btn-sm">Send</button>
                                    </div>
                                  </div>
                  
                      

                              <div class="form-group">
                                  <div class="clearall ccr">
                                      Create custom report
                                  </div>
                                
                                </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>