<!-- <div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div> Contractor Onboarding <div class="page-title-subheading">Here you can
                  add Contractor </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row">
            <div class="col-md-12">
              <h2>HR Dashboard </h2>
              Add the following line to insert an image 
              Add the following line to insert an image with specified width and height


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Add the following line to insert an image with specified width and height -->
<img src="assets/LHR.png" alt="Image here" style="width: 100%; height: auto;">
<!-- "D:\vijay\NEW_WORKDJOYBLUE\worksjoyblue\src\assets\LHR.png" -->