<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-list-alt bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Medical Examination <div class="page-title-subheading"> Here you can check medical status of employee
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">


        <div class="card-body">

          <div class="flex flex-column mb-5 mt-4 faq-section">
            <div class="row">
              <div class="col-md-12">

                <div id="accordion">
                  <div class="card">
                    <div class="card-header headings" id="heading-1">
                      <h5 class="mb-0">
                        <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false"
                          aria-controls="collapse-1">
                          Medical Examination <span
                            class="badge badge-pill badge-danger approvals-count">{{count}}</span>
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
                      <div class="card-body" style="background-color: #aca8a8;">

                        <div id="accordion-1" style="position: relative;
                          top: -20px;width: 103.5%;margin-left: -19px;">


                          <div>
                            <ul >
                              <li class="liststyles" (click)="getrequestDetails(item)" *ngFor="let item of allLabourListFormedical" style="margin-bottom: 2px;">
    <span><img src="{{labourImage}}" alt="" class="image-cover"></span>&nbsp;&nbsp;&nbsp;
    <span>{{item.requestStatus?.labourInfo?.empId}}</span>&nbsp;&nbsp;&nbsp;
                                <span>{{item.requestStatus?.labourInfo?.firstName}} {{item.requestStatus?.labourInfo?.lastName}}
                                </span><span style="position: absolute;
                                right: 15px;">View</span>
                              </li>
                            </ul>
                          </div>

                        </div>
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>