<div class="container-fluid">
  <div class="mainwrap">

    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading" style="margin-top: 22px;">
              <div class="page-title-icon" style="width: 50px;
              height: 50px;font-size: 1.5rem;"><i class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
              <div style="line-height: normal;"> Role Settings <div class="page-title-subheadings">Here you can define role Authorities as per functions</div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="whitebg w3-animate-left">
          <!-- <div class="newheaders">
            <h5 style="margin: 5px 0;
            margin-left: 17px;"> Role Define</h5>
          </div> -->
          <div class="row justify-content-center" style="margin-top: 4%;">
            <div  class="col-md-5" style="margin-top: 47px ">
              <form #RoleSettingForm="ngForm" (ngSubmit)="submitRoleMaster()">
                <div class="form-group row">
                  <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm"> Authority for manpower request <span style="color: red"> *</span></label>
                  <div class="col-sm-8">
                    
                    <select class="form-control form-control-sm" id="manpowerRoleRequestId" name="manpowerRoleRequestId" required [(ngModel)]="formData.manpowerRoleRequestId" #manpowerRoleRequestId="ngModel" placeholder="col-form-label-sm">
                      <option  value="" selected disabled >Select</option>
                      <option *ngFor="let item of alldataofDropDown?.manPowerRequestRoleList" value="{{item.roleId}}">{{item.roleName}}</option>
                      
                    </select>
                    <div *ngIf="manpowerRoleRequestId.invalid && (manpowerRoleRequestId.dirty || manpowerRoleRequestId.touched)">
                      <div *ngIf="manpowerRoleRequestId.errors.required" style="color:red"> Manpower Request is Required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm"> Authority to assign candidates  <span _ngcontent-c61="" style="color: red"> *</span></label>
                  <div class="col-sm-8">
                    
                    <select class="form-control form-control-sm" id="assignRoleCandidateId" name="assignRoleCandidateId" required [(ngModel)]="formData.assignRoleCandidateId" #assignRoleCandidateId="ngModel" placeholder="col-form-label-sm">
                      <option  value="" selected disabled >Select</option>
                      
                      <option *ngFor="let item of alldataofDropDown?.assignCandidateRoleList" value="{{item.roleId}}">{{item.roleName}}</option>
                     
                    </select>
                    <div *ngIf="assignRoleCandidateId.invalid && (assignRoleCandidateId.dirty || assignRoleCandidateId.touched)">
                      <div *ngIf="assignRoleCandidateId.errors.required" style="color:red">Assign Candidate is Required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Authority of first level shortlisting of candidates <span _ngcontent-c61="" style="color: red"> *</span></label>
                  <div class="col-sm-8">
                    
                    <select class="form-control form-control-sm" id="approveRoleCandidateId" name="approveRoleCandidateId" required [(ngModel)]="formData.approveRoleCandidateId" #approveRoleCandidateId="ngModel" placeholder="col-form-label-sm">
                      <option  value="" selected disabled >Select</option>
                      <option *ngFor="let item of alldataofDropDown?.approveCandidateRoleList" value="{{item.roleId}}">{{item.roleName}}</option>
                    </select>
                    <div *ngIf="approveRoleCandidateId.invalid && (approveRoleCandidateId.dirty || approveRoleCandidateId.touched)">
                      <div *ngIf="approveRoleCandidateId.errors.required" style="color:red">Approve Candidate is Required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Authority to generate provisional Pass  <span _ngcontent-c61="" style="color: red"> *</span></label>
                  <div class="col-sm-8">
                    
                    <select class="form-control form-control-sm" id="provisionalRolePassId" name="provisionalRolePassId" required [(ngModel)]="formData.provisionalRolePassId" #provisionalRolePassId="ngModel" placeholder="col-form-label-sm">
                      <option  value="" selected disabled >Select</option>
                      <option *ngFor="let item of alldataofDropDown?.provisionalPassRoleList" value="{{item.roleId}}">{{item.roleName}}</option>
                    </select>
                    <div *ngIf="provisionalRolePassId.invalid && (provisionalRolePassId.dirty || provisionalRolePassId.touched)">
                      <div *ngIf="provisionalRolePassId.errors.required" style="color:red">Provisional pass is Required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">  </label>
                  <div class="col-sm-8" style="margin-left: -7px;">
                    
                
                    <input #inputEl type="checkbox" name="skipMedicalFlag" [(ngModel)]="formData.skipMedicalFlag" (change)="onChange(inputEl.checked)"
                    >Skip Medical
                  </div>
                </div>
                
                <div class="form-group row" *ngIf="formData.skipMedicalFlag!==true">
                  <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Authority to medical examination  <span _ngcontent-c61="" style="color: red"> *</span></label>
                  <div class="col-sm-8">
                    
                    <select class="form-control form-control-sm" id="medicalRoleId" name="medicalRoleId" required [(ngModel)]="formData.medicalRoleId" #medicalRoleId="ngModel" placeholder="col-form-label-sm">
                      <option  value="" selected disabled>Select</option>
                      <option *ngFor="let item of alldataofDropDown?.medicalRoleList" value="{{item.roleId}}">{{item.roleName}}</option>
                    </select>
                    <div *ngIf="medicalRoleId.invalid && (medicalRoleId.dirty || medicalRoleId.touched)">
                      <div *ngIf="medicalRoleId.errors.required" style="color:red">medical is Required</div>
                    </div>
                  </div>
                </div>
              
                <div class="form-group row">
                  <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm"> Authority to give safty training<span _ngcontent-c61="" style="color: red"> *</span></label>
                  <div class="col-sm-8">
                    
                    <select class="form-control form-control-sm" id="safetyRoleId" name="safetyRoleId" required [(ngModel)]="formData.safetyRoleId" #safetyRoleId="ngModel" placeholder="col-form-label-sm">
                      <option  value="" selected disabled>Select</option>
                      <option *ngFor="let item of alldataofDropDown?.safetyRoleList" value="{{item.roleId}}">{{item.roleName}}</option>
                    </select>
                    <div *ngIf="safetyRoleId.invalid && (safetyRoleId.dirty || safetyRoleId.touched)">
                      <div *ngIf="safetyRoleId.errors.required" style="color:red">Safety is Required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm"> Authority to generate id card <span _ngcontent-c61="" style="color: red"> *</span></label>
                  <div class="col-sm-8">
                    
                    <select class="form-control form-control-sm" id="passGenerationRoleId" name="passGenerationRoleId" required [(ngModel)]="formData.passGenerationRoleId" #passGenerationRoleId="ngModel" placeholder="col-form-label-sm">
                      <option  value="" selected disabled>Select</option>
                      <option *ngFor="let item of alldataofDropDown?.passGeneration" value="{{item.roleId}}">{{item.roleName}}</option>
                    </select>
                    <div *ngIf="passGenerationRoleId.invalid && (passGenerationRoleId.dirty || passGenerationRoleId.touched)">
                      <div *ngIf="passGenerationRoleId.errors.required" style="color:red">Pass Generation is Required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row" style="justify-content: center;">
                  <button class="btn btn-primary" type="submit" [disabled]="RoleSettingForm.invalid" style="margin-right: 90px ">Save</button>
                  &nbsp;&nbsp;
                  <!-- <button class="btn btn-primary">Reset</button> -->
                </div>
               
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>