<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12" style="margin-left: -13px;">
        <div class="col-lg-12 download-image">


        </div>
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><img _ngcontent-c3="" src="assets/details.png" style="height: 41px;"></div>
              <div>Contractor Details <div class="page-title-subheading">Please complete your details </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">

        <div class="flex flex-column mb-5 mt-4 faq-section">
          <div class="row">
            <div class="col-md-12" style="background-color: white">
              <div id="accordion">
                <div class="card">
                  <div class="card-header css-color" id="heading-1">
                    <h5 class="mb-0">
                      <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false"
                        aria-controls="collapse-1">
                        Contractor Details
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-1" class="collapse " data-parent="#accordion" aria-labelledby="heading-1">
                    <div class="card-body">

                      <form #contractordetailsform="ngForm">
                        <div class="row container">
                          <div class="col-md-8">
                            <div class="form-group row centerfield">


                              <div class="col-sm-5">
                                <label for="colFormLabelSm">Company Name <span _ngcontent-c61="" style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="conCompanyName"
                                  name="conCompanyName" [(ngModel)]="conCompanyName" #companyNames="ngModel" required
                                  disabled>
                                <div *ngIf="companyNames.invalid && (companyNames.dirty || companyNames.touched)">
                                  <div *ngIf="companyNames.errors.required"><small style="color: red;"> Company is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-5">
                                <label for="colFormLabelSm">Owner Name<span _ngcontent-c61="" style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="ownerName" name="ownerName"
                                  [(ngModel)]="ownerName" #firstNames="ngModel" required disabled>
                                <div *ngIf="firstNames.invalid && (firstNames.dirty || firstNames.touched)">
                                  <div *ngIf="firstNames.errors.required"><small style="color:red;">Owner Name is
                                      Required</small></div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row centerfield">

                              <div class="col-sm-5">
                                <label for="colFormLabelSm">Contact number <span _ngcontent-c61="" style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="mobileNo" name="mobileNo"
                                  [(ngModel)]="mobileNo" #mobileNos="ngModel" required disabled>
                                <div *ngIf="mobileNos.invalid && (mobileNos.dirty || mobileNos.touched)">
                                  <div *ngIf="mobileNos.errors.required"><small style="color:red;">mobileNo Number is
                                      Required</small></div>
                                </div>
                              </div>

                              <div class="col-sm-5">
                                <label for="colFormLabelSm">Emergency Contact number <span _ngcontent-c61=""
                                    style="color: red"> *</span></label>
                                <input type="text" class="form-control form-control-sm" id="emergencyContactNumber"
                                  name="emergencyContactNumber" [(ngModel)]="emergencyContactNumber"
                                  #emergencyContactNumbers="ngModel" required pattern="[0-9]{10}" maxlength="10">
                                <div
                                  *ngIf="emergencyContactNumbers.invalid && (emergencyContactNumbers.dirty || emergencyContactNumbers.touched)">
                                  <div *ngIf="emergencyContactNumbers.errors.required"><small style="color:red;">
                                      Emergency Contact Number is Required</small></div>
                                  <div *ngIf="emergencyContactNumbers.errors.pattern"><small style="color:red;">
                                      Emergency Contact Number must be 10 digit number</small></div>
                                </div>
                              </div>

                            </div>
                            <div class="form-group row centerfield">
                              <div class="col-sm-5">

                                <label> Email Id <span _ngcontent-c61="" style="color: red"> *</span></label>
                                <input type="text" class="form-control form-control-sm" maxlength="50" id="emailId"
                                  name="emailId" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="emailId"
                                  required disabled #email_ids="ngModel" />
                                <div class="help-block" *ngIf="email_ids.errors?.pattern && email_ids.touched"> <small
                                    style="color: red">please
                                    enter valid Email</small> </div>

                              </div>
                              <div class="col-sm-5">
                                <label for="colFormLabelSm">Type Of Comapany <span _ngcontent-c61="" style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="typeOfCompany"
                                  name="typeOfCompany" [(ngModel)]="typeOfCompany" #typeOfComs="ngModel" required>
                                <div *ngIf="typeOfComs.invalid && (typeOfComs.dirty || typeOfComs.touched)">
                                  <div *ngIf="typeOfComs.errors.required"><small style="color:red;"> Type Of Company is
                                      Required</small></div>
                                </div>
                              </div>


                            </div>
                            <div class="form-group row centerfield">
                              <div class="col-sm-5">
                                <label for="colFormLabelSm">Service Type <span _ngcontent-c61="" style="color: red">
                                    *</span></label>
                                <ng-multiselect-dropdown [placeholder]="'Select Service Type'"
                                  [data]="contractorServiceType" [(ngModel)]="conSerTypeIdList"
                                  [ngModelOptions]="{standalone: true}" (click)="selectServiceType1()"
                                  [settings]="dropdownSettings" (onSelect)="onItemSelect1($event)"
                                  (onSelectAll)="onSelectAll1($event)" (onDeSelect)="OnItemDeSelect1($event)"
                                  (onDeSelectAll)="onDeSelectAll1($event)" [disabled]="isDisabled">

                                </ng-multiselect-dropdown>

                              </div>

                              <div class="col-sm-5">
                                <label for="colFormLabelSm">Select Location <span _ngcontent-c61="" style="color: red">
                                    *</span></label>
                                <ng-multiselect-dropdown [placeholder]="'Select Location'" [data]="locationMastersLis"
                                  [(ngModel)]="locationIDList" [ngModelOptions]="{standalone: true}"
                                  (click)="selectServiceType2()" [settings]="dropdownSettings1"
                                  (onSelect)="onItemSelect2($event)" (onSelectAll)="onSelectAll2($event)"
                                  (onDeSelect)="OnItemDeSelect2($event)" (onDeSelectAll)="onDeSelectAll2($event)"
                                  [disabled]="isDisabled">

                                </ng-multiselect-dropdown>

                              </div>
                              <!-- <div class="col-sm-4">
                                          
                      <label for="colFormLabelSm" >Area Of Work <span _ngcontent-c61="" style="color: red"> *</span></label>
                        <select class="form-control form-control-sm" id="areaOfWork" name="areaOfWork" required [(ngModel)]="areaOfWork" #areaOfWorks="ngModel" placeholder="col-form-label-sm">
                          <option  [ngValue]=null selected disabled >Select</option>
                          <option *ngFor="let item of AllLocations" value="{{item.locationId}}">{{item.locationName}}</option>
                          
                        </select>
                        <div *ngIf="locationMasterIds.invalid && (locationMasterIds.dirty || locationMasterIds.touched)">
                          <div *ngIf="locationMasterIds.errors.required" ><small style="color: red;"> Location is Require </small></div>
                        
                      </div>
                    </div> -->

                            </div>

                            <div class="col-sm-5" style="margin-left: 50px;">
                              <label for="colFormLabelSm">Nature Of Work <span _ngcontent-c61="" style="color: red">
                                  *</span></label>
                              <input type="text" class="form-control form-control-sm" id="areaOfwork" name="areaOfwork"
                                [(ngModel)]="areaOfwork" #areaOfworks="ngModel" required>
                              <div *ngIf="areaOfworks.invalid && (areaOfworks.dirty || areaOfworks.touched)">
                                <div *ngIf="areaOfworks.errors.required"><small style="color:red;"> Area Of Work is
                                    Required</small></div>
                              </div>

                            </div>
                            <div class="form-group row centerfield">
                              <div class="col-sm-5">
                                <label for="colFormLabelSm">Service Start Date <span _ngcontent-c61=""
                                    style="color: red"> *</span></label>
                                <input type="date" class="form-control form-control-sm" id="serviceFromDate"
                                  name="serviceFromDate" [(ngModel)]="serviceFromDate" #serviceFromDates="ngModel"
                                  required disabled>
                                <div
                                  *ngIf="serviceFromDates.invalid && (serviceFromDates.dirty || serviceFromDates.touched)">
                                  <div *ngIf="serviceFromDates.errors.required"><small style="color: red;">Service From
                                      Date is required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-5">
                                <label for="colFormLabelSm">Service End Date <span _ngcontent-c61="" style="color: red">
                                    *</span></label>
                                <input type="date" class="form-control form-control-sm" id="serviceToDate"
                                  name="serviceToDate" [(ngModel)]="serviceToDate" #serviceToDates="ngModel" required
                                  [min]="serviceFromDate" disabled>
                                <div *ngIf="serviceToDates.invalid && (serviceToDates.dirty || serviceToDates.touched)">
                                  <div *ngIf="serviceToDates.errors.required"><small style="color: red;">Service To Date
                                      is required</small></div>
                                  <div *ngIf="serviceToDates.errors.min"><small style="color: red;">Service To Date
                                      cannot be less than Service From Date</small></div>
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="col-4" style="margin-top: 14px;text-align: -webkit-center;">
                            <div>
                              <label class="filelabel">
                                <i class="fa fa-chart-area"></i>
                                <span class="title">
                                  <span>Browse Company Logo Here</span>
                                </span>
                                <input class="FileUpload1" id="FileInput" name="booking_attachment" type="file"
                                  (change)="handleFileInput3($event.target.files)" />
                              </label>
                              <span>{{ obj2.name }}</span>
                            </div>
                          </div>
                          <div>
                            <!-- Display the selected image's name -->

                          </div>

                        </div>

                        <div class="form-group row" style="padding-left: 8px;position: relative;
                  left: 6%;">
                          <button class="btn btn-primary" id="toggleButton" data-toggle="collapse" href="#collapse-2"
                            aria-expanded="false" aria-controls="collapse-2" (click)="collapsenext()"
                            [disabled]="contractordetailsform.invalid">Next</button>
                          &nbsp;&nbsp;
                          <button class="btn btn-primary">Reset</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header css-color" id="heading-2">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false"
                        aria-controls="collapse-2">
                        Statutory Details And Documents
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                    <div class="card-body">

                      <div>
                        <form #satutoryform="ngForm">
                          <div class="form-group row centerfield">
                            <div class="col-sm-4">
                              <label for="colFormLabelSm">PF Number <span _ngcontent-c61=""
                                  style="color: red">*</span></label>
                              <input type="text" class="form-control form-control-sm" id="pfNumber" name="pfNumber"
                                [(ngModel)]="pfNumber" #pfNumberInput="ngModel" required>
                              <div *ngIf="pfNumberInput.invalid && (pfNumberInput.dirty || pfNumberInput.touched)">
                                <div *ngIf="pfNumberInput.errors.required"><small style="color:red;">PF Number is
                                    Required</small></div>
                              </div>
                            </div>

                            <div class="col-sm-4">
                              <label for="colFormLabelSm">WC Number <span _ngcontent-c61=""
                                  style="color: red">*</span></label>
                              <input type="text" class="form-control form-control-sm" id="wcNumber" name="wcNumber"
                                [(ngModel)]="wcNumber" #wcNumberInput="ngModel" required>

                              <div *ngIf="wcNumberInput.invalid && (wcNumberInput.dirty || wcNumberInput.touched)">
                                <div *ngIf="wcNumberInput.errors.required"><small style="color:red;">WC Number is
                                    Required</small></div>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row centerfield">
                            <div class="col-sm-4">
                              <label for="colFormLabelSm">ESIC Number <span _ngcontent-c61=""
                                  style="color: red">*</span></label>
                              <input type="text" class="form-control form-control-sm" id="esicNumber" name="esicNumber"
                                [(ngModel)]="esicNumber" #esicNumberInput="ngModel" required>
                              <div
                                *ngIf="esicNumberInput.invalid && (esicNumberInput.dirty || esicNumberInput.touched)">
                                <div *ngIf="esicNumberInput.errors.required"><small style="color:red;">ESIC Number
                                    Required</small></div>
                              </div>
                            </div>

                            <div class="col-sm-4">
                              <label for="colFormLabelSm">Contractor License Number</label>
                              <input type="text" class="form-control form-control-sm" id="contractorLicenseNumber"
                                name="contractorLicenseNumber" [(ngModel)]="contractorLicenseNumber"
                                #contractorLicenseNumberInput="ngModel" required>
                              <div
                                *ngIf="contractorLicenseNumberInput.invalid && (contractorLicenseNumberInput.dirty || contractorLicenseNumberInput.touched)">
                                <div *ngIf="contractorLicenseNumberInput.errors.required"><small
                                    style="color:red;">Contractor License Number
                                    Required</small></div>
                              </div>
                            </div>
                          </div>

                          <!-- Additional form controls can be added here -->

                          <!-- <div class="form-group row" style="position: relative; left: 34%;">
                          <div class="col-sm-4">
                            <button class="btn btn-primary" type="submit" [disabled]="satutoryform.invalid"
                              data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3"
                              id="toggleButton1" (click)="collapsenext1()" satutoryform>Next</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-primary">Reset</button>
                          </div>
                        </div> -->
                        </form>
                      </div>

                    </div>

                    <div class="card-body">
                      <div>
                        <form #documentUpload="ngForm">
                          <div class="form-group row centerfield">
                            <div class="col-sm-3">
                              <label>Labour License <span _ngcontent-c61="" style="color: red"> *</span></label>
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="labourLicense" name="labourLicense"
                                  [(ngModel)]="labourLicense" #laborLicenses="ngModel" required
                                  (change)="handleFileInput($event.target.files)">
                                <label class="custom-file-label" for="customFile">{{ labourLicense || 'Choose file'
                                  }}</label>
                                <i style="margin-left: 170px;" class="fas fa-download" (click)="downloadFile()"></i>
                                <!-- <button *ngIf="imageUrl" class="btn btn-primary" (click)="downloadImage()">Download
                                  Image</button> -->
                                <div *ngIf="laborLicenses.invalid && (laborLicenses.dirty || laborLicenses.touched)">
                                  <div *ngIf="laborLicenses.errors.required"><small style="color: red;">Labour License
                                      is Required</small></div>
                                </div>
                              </div>
                            </div>




                            <div class="col-sm-3">
                              <label for="colFormLabelSm">Expiry Date <span _ngcontent-c61=""
                                  style="color: red">*</span></label>
                              <input type="date" class="form-control form-control-sm" id="labourLicExpDate"
                                name="labourLicExpDate" [(ngModel)]="labourLicExpDate" #laborExpiryDates="ngModel"
                                required [min]="getCurrentDate()">
                              <div
                                *ngIf="laborExpiryDates.invalid && (laborExpiryDates.dirty || laborExpiryDates.touched)">
                                <div *ngIf="laborExpiryDates.errors.required"><small style="color: red;">Expiry Date is
                                    Required</small></div>
                              </div>
                            </div>
                          </div>

                            <div class="form-group row centerfield">
                              <div class="col-sm-3">
                                <label>WC Policy Document <span _ngcontent-c61="" style="color: red"> *</span></label>
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="wcPolicyDocument"
                                    name="wcPolicyDocument" [(ngModel)]="wcPolicyDocument" #wcDocuments="ngModel"
                                    required (change)="handleFileInput1($event.target.files)">
                                  <label class="custom-file-label" for="customFile">{{ wcPolicyDocument || 'Choose file'
                                    }}</label>
                                  <i style="margin-left: 170px;" class="fas fa-download" (click)="downloadFile()"></i>
                                  <div *ngIf="wcDocuments.invalid && (wcDocuments.dirty || wcDocuments.touched)">
                                    <div *ngIf="wcDocuments.errors.required"><small style="color: red;">WC Document is
                                        Required</small></div>
                                  </div>
                                </div>
                              </div>


                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Expiry Date <span _ngcontent-c61=""
                                    style="color: red">*</span></label>
                                <input type="date" class="form-control form-control-sm" id="wcLicExpDate"
                                  name="wcLicExpDate" [(ngModel)]="wcLicExpDate" #wcExpiryDates="ngModel" required
                                  [min]="getCurrentDate()">
                                <div *ngIf="wcExpiryDates.invalid && (wcExpiryDates.dirty || wcExpiryDates.touched)">
                                  <div *ngIf="wcExpiryDates.errors.required"><small style="color: red;">Expiry Date is
                                      Required</small></div>
                                </div>
                              </div>

                            </div>
                            <div class="form-group row centerfield">
                              <div class="col-sm-3">
                                <label>GST Number <span _ngcontent-c61="" style="color: red"> *</span></label>
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="gstNumber" name="gstNumber"
                                    [(ngModel)]="gstNumber" #gstNumbers="ngModel" required
                                    (change)="handleFileInput4($event.target.files)">
                                  <label class="custom-file-label" for="customFile">{{ gstNumber || 'Choose file'
                                    }}</label>
                                  <i style="margin-left: 170px;" class="fas fa-download" (click)="downloadFile()"></i>
                                  <div *ngIf="gstNumbers.invalid && (gstNumbers.dirty || gstNumbers.touched)">
                                    <div *ngIf="gstNumbers.errors.required"><small style="color: red;">GST Document is
                                        Required</small></div>
                                  </div>
                                </div>
                              </div>


                              <div class="col-sm-3">
                                <!-- <label for="colFormLabelSm">Expiry Date <span _ngcontent-c61="" style="color: red">*</span></label>
                            <input type="date" class="form-control form-control-sm" id="wcLicExpDate"
                              name="wcLicExpDate" [(ngModel)]="wcLicExpDate" #wcExpiryDates="ngModel" required
                              [min]="getCurrentDate()">
                            <div *ngIf="wcExpiryDates.invalid && (wcExpiryDates.dirty || wcExpiryDates.touched)">
                              <div *ngIf="wcExpiryDates.errors.required"><small style="color: red;">Expiry Date is Required</small></div>
                            </div> -->
                              </div>

                            </div>
                            <!-- <div class="form-group row centerfield">
                        <div class="col-md-3" style="position: relative;
                        right: 12%;">
                        <button class="btn btn-primary">Add Document</button>
                        </div>
                      </div> -->

                        </form>
                        <div class="row" style="justify-content: center;">
                          <div class="col-md-6">
                            <!-- <table id="absent_employees" id="example" class="table table-striped table-bordered">
                            <thead class="theadblue">
                              <tr style="text-align: center !important;">
                                <th>Sr.No</th>
                                <th>Labour License</th>
                                <th>License Expiry Date</th>
                                <th>Policy Document</th>
                                <th>Policy Document Expiry</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                         
                            <tbody>
                              <tr *ngFor="let item of addOnArray; let i=index">
                                <td>
                                  {{i+1}}
                                </td>
                                <td>{{item.labourLicense}}</td>
                                <td>{{item.labourLicExpDate}}</td>
                                <td>{{item.wcPolicyDocument}}</td>
                                <td>{{item.wcLicExpDate}}</td>
                              </tr>
                            </tbody>
                          </table> -->
                            <div class="form-group row" style="position: relative;
                          left: 2%;">
                              <div class="col-sm-4">
                                <button class="btn btn-primary" type="submit" [disabled]="documentUpload.invalid"
                                  (click)="submitContractorDetails()">Save</button>
                                &nbsp;&nbsp;
                                <button class="btn btn-primary" (click)="resetForm()">Reset</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>




                  </div>
                </div>


                <!-- <div class="card">
                  <div class="card-header css-color" id="heading-3">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false"
                        aria-controls="collapse-3">
                        Bank Details
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                    <div class="card-body">
                      <div>
                        <form #bankdeatilsform="ngForm">
                          <div class="form-group row centerfield">
                            <div class="col-sm-4">
                              <label for="colFormLabelSm">Account Number <span _ngcontent-c61=""
                                  style="color: red">*</span></label>
                              <input type="text" class="form-control form-control-sm" id="accountNumber"
                                name="accountNumber" [(ngModel)]="accountNumber" #accountNumberInput="ngModel" required>
                              <div
                                *ngIf="accountNumberInput.invalid && (accountNumberInput.dirty || accountNumberInput.touched)">
                                <div *ngIf="accountNumberInput.errors.required"><small style="color:red;">Account Number
                                    is Required</small></div>
                              </div>
                            </div>

                            <div class="col-sm-4">
                              <label for="colFormLabelSm">IFSC Code <span _ngcontent-c61=""
                                  style="color: red">*</span></label>
                              <input type="text" class="form-control form-control-sm" id="ifscCode" name="ifscCode"
                                [(ngModel)]="ifscCode" #ifscCodeInput="ngModel" required>
                              <div *ngIf="ifscCodeInput.invalid && (ifscCodeInput.dirty || ifscCodeInput.touched)">
                                <div *ngIf="ifscCodeInput.errors.required"><small style="color:red;">IFSC Code is
                                    Required</small></div>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row centerfield">
                            <div class="col-sm-4">
                              <label for="colFormLabelSm">Bank Name <span _ngcontent-c61=""
                                  style="color: red">*</span></label>
                              <input type="text" class="form-control form-control-sm" id="bankName" name="bankName"
                                [(ngModel)]="bankName" #bankNameInput="ngModel" required>
                              <div *ngIf="bankNameInput.invalid && (bankNameInput.dirty || bankNameInput.touched)">
                                <div *ngIf="bankNameInput.errors.required"><small style="color:red;">Bank Name is
                                    Required</small></div>
                              </div>
                            </div>

                            <div class="col-sm-4">
                              <label for="colFormLabelSm">Contractor License Number</label>
                            <input type="text" class="form-control form-control-sm" id="contractorLicenseNumber" name="contractorLicenseNumber"
                              [(ngModel)]="contractorLicenseNumber" #contractorLicenseNumberInput="ngModel">
                            </div>
                          </div>

                          Additional form controls can be added here

                          <div class="form-group row" style="position: relative; left: 34%;">
                          <div class="col-sm-4">
                            <button class="btn btn-primary" type="submit" [disabled]="satutoryform.invalid"
                              data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3"
                              id="toggleButton1" (click)="collapsenext1()" satutoryform>Next</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-primary">Reset</button>
                          </div>
                        </div>
                        </form>
                        <div class="row" style="justify-content: center;">
                          <div class="col-md-6">
                            <table id="absent_employees" id="example" class="table table-striped table-bordered">
                            <thead class="theadblue">
                              <tr style="text-align: center !important;">
                                <th>Sr.No</th>
                                <th>Labour License</th>
                                <th>License Expiry Date</th>
                                <th>Policy Document</th>
                                <th>Policy Document Expiry</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                           
                            <tbody>
                              <tr *ngFor="let item of addOnArray; let i=index">
                                <td>
                                  {{i+1}}
                                </td>
                                <td>{{item.labourLicense}}</td>
                                <td>{{item.labourLicExpDate}}</td>
                                <td>{{item.wcPolicyDocument}}</td>
                                <td>{{item.wcLicExpDate}}</td>
                              </tr>
                            </tbody>
                          </table>
                            <div class="form-group row" style="position: relative;
                          left: 2%;">
                              <div class="col-sm-4">
                                <button class="btn btn-primary" type="submit" [disabled]="documentUpload.invalid"
                                  (click)="submitContractorDetails()">Save</button>
                                &nbsp;&nbsp;
                                <button class="btn btn-primary" (click)="resetForm()">Reset</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>