.cnts h6{
    padding-top:10px;
  font-size: 12px;
  color:grey;
  text-align: center;
  }
  .cnts h4{
  
  font-size: 16px;
    color:rgb(48, 48, 48);
    text-align: center;
    }
  
  .headtitle{
    padding-top:0.5rem;
  }
  
  .fa-hand-o-up{
    padding-right:10px;
    color: rgb(49, 134, 214);
  }
  .fa-check-circle{
    color:rgb(95, 194, 95);
    padding-right:10px;
  }
  .fa-exclamation-circle{
    color:rgb(255, 110, 110);
    padding-right:10px;
  }
  .moneyicon{
  width: 50%;
  float:right;
  
  }
  .esiccount{
    background: #bcecff;
    text-align: -webkit-center;
    padding: 1rem;
    border-radius: 0.5rem;
  font-weight: 600;
  height:200px;
  }
  
  /* CSS */
  .valign{
      vertical-align: middle;
  }
  .headtitle{
      width:100%;
      color:rgb(81, 81, 138);
  }
  .counts{
      text-align: center;
      font-size:26px;
      color:rgb(36, 36, 36);
  }
  .white-bg {
      padding: 0.9375rem 0.9375rem !important;
  }
  .headingtext{
      color:rgb(77, 77, 77);
      font-size:14px;
      margin-bottom: 0.0rem !important;
  }
  .smalltext{
      color:rgb(182, 182, 182);
  }
  .row {
      margin-right: 0px !important;
      margin-left: 0px !important;
  }
  
  .headbg{
      margin: auto;
      background: #7c91d4;
      color: white;
      width: 85%;
      font-weight: 600;
      text-align: center;
      margin-top: -12px;
      padding: 0.3rem;
      box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
      border-radius: .375rem;
  }
  
  .first{
      border-left:4px solid #9ddae0;
  }
  .second{
      border-left:4px solid #e0d99d;
  }
  .third{
      border-left:4px solid #e09d9d;
  }
  .fourth{
      border-left:4px solid #af9de0;
  }
  
  
  .chart {
      padding: 1rem;
      display: table;
      table-layout: fixed;
      width: 100%;
      max-width: auto;
      height: 100px;
      margin: 0 auto;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
      background-size: 100% 50px;
      background-position: left top;
      font-size:8px;
    }
    .chart li {
      position: relative;
      display: table-cell;
      vertical-align: bottom;
      height: 60px;
    }
    .chart span {
      margin: 0 1em;
      display: block;
      background: rgba(209, 236, 250, 0.75);
      animation: draw 1s ease-in-out;
    }
    .chart span:before {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      padding: 12px 1em 0;
      display: block;
      text-align: center;
      content: attr(title);
      word-wrap: break-word;
    }
    
    @keyframes draw {
      0% {
        height: 0;
      }
    }
    
  
    .donut {
      width: 150px;
      height: 150px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: relative;
      background: rgb(111, 255, 171) linear-gradient(to right, rgb(255, 86, 86) 50%, #0af 50%);
      color: #0af;
      border-radius: 50%;
    }
  
    .list-group-item .badge{
        margin-top:-15px;
        float:right;
    }
    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }
    @keyframes spin {
      to {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }
    @-webkit-keyframes background {
      50% {
        background-color: currentColor;
      }
    }
    @keyframes background {
      50% {
        background-color: currentColor;
      }
    }
    .donut::after {
      content: '';
      box-shadow: 0px 0px 21px #212121;
      position: absolute;
      width: 55%;
      height: 55%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background: #ffffff;
      border-radius: 50%;
    }
    .donut::before {
      content: '';
      position: absolute;
      display: block;
      background-color: inherit;
      height: 100%;
      width: 50%;
      bottom: 0;
      right: 0;
      border-radius: 0 100% 100% 0 / 50%;
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-transform-origin: 0 50%;
              transform-origin: 0 50%;
      -webkit-animation: 50s spin infinite linear, 100s background infinite step-end;
              animation: 50s spin infinite linear, 100s background infinite step-end;
      -webkit-animation-play-state: paused;
              animation-play-state: paused;
      -webkit-animation-delay: inherit;
              animation-delay: inherit;
    }
    
    .list-group li{
        font-size: 14px;
        color:rgb(77, 77, 77);
    }
  
    .fa1{
      color: rgb(134, 199, 243);
    }
    .fa2{
      color: rgb(255, 161, 181);
  }
  .fa3{
      color:rgb(255, 86, 86);
  }
  
  .h-100{
      height:100%;
  }
  
  .skills {
      width: 100%;
      max-width: auto;
      margin: auto;
      position: relative;
    }
    
    .lines {
      height: 77%;
      position: relative;
    }
    
    .line {
      height: inherit;
      width: 2px;
      position: absolute;
      background: rgba(238, 238, 238, 0.6);
      list-style: none;
    }
    .line.l--0 {
      left: 0;
    }
    .line.l--25 {
      left: 25%;
    }
    .line.l--50 {
      left: 50%;
    }
    .line.l--75 {
      left: 75%;
    }
    .line.l--100 {
      left: calc(100% - 1px);
    }
    
    .line__label {
      display: block;
      width: 100px;
      text-align: center;
      position: absolute;
      bottom: -20px;
      right: -50px;
    }
    .line__label.title {
      text-transform: uppercase;
      font-weight: bold;
    }
    
    .charts {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 10;
    }
    
    .chart2 {
      margin: 30px 0 0;
    }
    .chart2:first-child {
      margin: 0;
    }
    
    .chart__title {
      display: block;
      margin: 0 0 10px;
      font-weight: bold;
      opacity: 0;
      animation: 1s anim-lightspeed-in ease forwards;
    }
    .chart--prod .chart__title {
      animation-delay: 3.3s;
    }
    .chart--design .chart__title {
      animation-delay: 4.5s;
    }
    .chart__label .badge{
        float:right;
    }
    .chart--horiz {
      overflow: hidden;
      list-style: none;
    }
    
    .chart__bar {
      height: 30px;
      margin-bottom: 25px;
      background: linear-gradient(to left, #4cb8c4, #3cd3ad);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      opacity: 0;
      animation: 1s anim-lightspeed-in ease forwards;
    }
  
    .chart--prod .chart__bar:nth-of-type(2) {
      animation-delay: 0.2s;
    }
    .chart--prod .chart__bar:nth-of-type(1) {
      animation-delay: 0.4s;
    }
  
    .chart__label {
      padding-left: 10px;
      line-height: 30px;
      color: white;
    }
    
    @keyframes anim-lightspeed-in {
      0% {
        transform: translateX(-200%);
        opacity: 1;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
    
  
    /* GENDAR COUNT */
  .gendar{
      padding-top:1rem;
      bottom: 0;
      margin:auto;
      text-align: center;
      width:4rem;
  }
  .gcountmale{
      margin: auto;
      height: 60px;
      border-radius: 50px 50px 0px;
      padding: 1.2rem;
      background: rgb(207, 218, 255);
      width: 60px;
      -webkit-transform: rotate(45deg);
      font-size: 1.3rem;
      color: white;
      font-weight: 600;
  }
  .gcountfemale{
      margin: auto;
      height: 60px;
      border-radius: 50px 50px 0px;
      padding: 1.2rem;
      background: rgb(255, 207, 249);
      width: 60px;
      -webkit-transform: rotate(45deg);
      font-size: 1.3rem;
      color: white;
      font-weight: 600;
  }
  
  .gcountmale span{
      position: absolute;
      -webkit-transform: rotate(-45deg);
  }
  .gcountfemale span{
      position: absolute;
      -webkit-transform: rotate(-45deg);
  }
  
    /* GENDAR COUNT */
  
  
    /* ESIC */
  
    .donut2 {
      margin: auto;
      width: 150px;
      height: 150px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: relative;
      background: rgb(255, 217, 91) linear-gradient(to right, rgb(125, 218, 140)70%, rgb(125, 218, 140) 30%);
      color: #0af;
      border-radius: 50%;
    }
    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }
    @keyframes spin {
      to {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }
    @-webkit-keyframes background {
      50% {
        background-color: currentColor;
      }
    }
    @keyframes background {
      50% {
        background-color: currentColor;
      }
    }
    .donut2::after {
      content: '';
      position: absolute;
      width: 80%;
      height: 80%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background: #ececec;
      border-radius: 50%;
    }
    .donut2::before {
      content: '';
      position: absolute;
      display: block;
      background-color: inherit;
      height: 100%;
      width: 50%;
      bottom: 0;
      right: 0;
      border-radius: 0 100% 100% 0 / 50%;
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-transform-origin: 0 50%;
              transform-origin: 0 50%;
      -webkit-animation: 50s spin infinite linear, 100s background infinite step-end;
              animation: 50s spin infinite linear, 100s background infinite step-end;
      -webkit-animation-play-state: paused;
              animation-play-state: paused;
      -webkit-animation-delay: inherit;
              animation-delay: inherit;
    }
  
    .esic{
      position: absolute;
      margin: 43% 38% auto;
      font-size: x-large;
      z-index: 9;
      width: 100%;
    }
      /* ESIC */
  .table{
      font-size: x-small;
  }
  
  .fa-rupee{
      color: #90b190;
  }
  
  /* FTE vs TEMP */
  .wrapper {
      width: 200px;
      height: 200px;
      background: #4da9ff;
      margin: 10px auto;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      -webkit-transform: rotate(108deg);
              transform: rotate(108deg);
    }
    .wrapper .d1 {
      width: 400px;
      height: 400px;
      position: absolute;
      top: -100px;
      left: -100px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    .wrapper .d1 div {
      width: 400px;
      height: 400px;
    }
    .wrapper .d1 div:after {
      content: '';
      width: 0;
      height: 0;
      display: block;
      border: solid transparent;
      border-width: 100px;
      border-top-color: #4da9ff;
      position: relative;
      -webkit-transform: scaleX(-3.07768);
              transform: scaleX(-3.07768);
    }
    .wrapper .d1 div span {
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      top: 34%;
      font-size: 12px;
      text-align: center;
      z-index: 100;
      color: #fff;
      -webkit-transform: rotate(-108deg);
              transform: rotate(-108deg);
    }
    .wrapper .d2 {
      width: 400px;
      height: 400px;
      position: absolute;
      top: -100px;
      left: -100px;
      -webkit-transform: rotate(147.6deg);
              transform: rotate(147.6deg);
    }
    .wrapper .d2 div {
      width: 400px;
      height: 400px;
    }
    .wrapper .d2 div:after {
      content: '';
      width: 0;
      height: 0;
      display: block;
      border: solid transparent;
      border-width: 200px;
      border-top-color: #FCB03C;
      position: relative;
      -webkit-transform: scaleX(0.82727);
              transform: scaleX(0.82727);
    }
    .wrapper .d2 div span {
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      top: 34%;
      font-size: 12px;
      text-align: center;
      z-index: 100;
      color: #fff;
      -webkit-transform: rotate(-255.6deg);
              transform: rotate(-255.6deg);
    }
   
    
  
  /* FTE VS TEMP */
  
  
  
  ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;
    }
    
    h1 {
      font-size: 23px;
    }
    
    h2 {
      font-size: 17px;
    }
    
    p {
      font-size: 15px;
    }
    
    a {
      text-decoration: none;
      font-size: 15px;
    }
    a:hover {
      text-decoration: underline;
    }
    
    .line-chart-block h1,
    .line-chart-block h2,
    .line-chart-block p,
    .line-chart-blocka,
    .line-chart-block span {
      color: #3b92cb;
    }
    .scnd-font-color {
      color: #9099b7;
    }
    .titular {
      display: block;
      line-height: 60px;
      margin: 0;
      text-align: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .horizontal-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .horizontal-list li {
      float: left;
    }
    .block {
      border-radius: 5px;
      float: left;
      width: 100%;
      overflow: hidden;
    }
    /******************************************** LEFT CONTAINER *****************************************/
    .left-container {
    }
    .menu-box {
      height: 360px;
    }
    
    .donut-chart-block {
      overflow: hidden;
    }
    .donut-chart-block .titular {
      padding: 10px 0;
    }
    .os-percentages li {
      width: 75px;
      border-left: 1px solid #394264;
      text-align: center;
      background: #50597b;
    }
    .os {
      margin: 0;
      padding: 10px 0 5px;
      font-size: 15px;
    }
    .os.ios {
      border-top: 4px solid #e64c65;
    }
    .os.mac {
      border-top: 4px solid #11a8ab;
    }
    .os.linux {
      border-top: 4px solid #fcb150;
    }
    .os.win {
      border-top: 4px solid #4fc4f6;
    }
    .os-percentage {
      margin: 0;
      padding: 0 0 15px 10px;
      font-size: 25px;
    }
    .line-chart-block,
    .bar-chart-block {
      height: auto;
    }
    .line-chart {
      height: 200px;
    }
    .time-lenght {
      padding: 22px;
      padding-left: 38px;
      overflow: hidden;
    }
    .time-lenght-btn {
      display: block;
      width: 70px;
      line-height: 32px;
      background: #efefef;
      border-radius: 5px;
      font-size: 14px;
      text-align: center;
      margin-right: 5px;
      -webkit-transition: background 0.3s;
      transition: background 0.3s;
    }
    .time-lenght-btn:hover {
      text-decoration: none;
      background: #fcf082;
    }
    .month-data {
      padding-top: 28px;
    }
    .month-data p {
      display: inline-block;
      margin: 0;
      padding: 0 25px 15px;
      font-size: 16px;
    }
    .month-data p:last-child {
      padding: 0 25px;
      float: right;
      font-size: 15px;
    }
    .increment {
      color: #e64c65;
    }
    
    /******************************************
    ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
    ESTILOS PROPIOS DE LOS GRÄFICOS
    ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ 
    GRAFICO LINEAL
    ******************************************/
    
    .grafico {
      padding: 2rem 1rem 1rem;
      width: 100%;
      height: 100%;
      position: relative;
      color: #3b92cb;
      font-size: 80%;
    }
    .grafico span {
      display: block;
      position: absolute;
      bottom: 3rem;
      left: 2rem;
      height: 0;
      border-top: 2px solid;
      transform-origin: left center;
    }
    .grafico span > span {
      left: 100%;
      bottom: 0;
    }
    [data-valor="25"] {
      width: 75px;
      transform: rotate(-45deg);
    }
    [data-valor="8"] {
      width: 24px;
      transform: rotate(65deg);
    }
    [data-valor="13"] {
      width: 39px;
      transform: rotate(-45deg);
    }
    [data-valor="5"] {
      width: 15px;
      transform: rotate(50deg);
    }
    [data-valor="23"] {
      width: 69px;
      transform: rotate(-70deg);
    }
    [data-valor="12"] {
      width: 36px;
      transform: rotate(75deg);
    }
    [data-valor="15"] {
      width: 45px;
      transform: rotate(-45deg);
    }
    
    [data-valor]:before {
      content: "";
      position: absolute;
      display: block;
      right: -4px;
      bottom: -3px;
      padding: 4px;
      background: #3b92cb;
      border-radius: 50%;
    }
    [data-valor="23"]:after {
      content: "+" attr(data-valor) "%";
      position: absolute;
      right: -2.7rem;
      top: -1.7rem;
      padding: 0.3rem 0.5rem;
      color:white;
      background: #50597b;
      border-radius: 0.5rem;
      transform: rotate(45deg);
    }
    [class^="eje-"] {
      position: absolute;
      left: 0;
      bottom: 0rem;
      width: 100%;
      padding: 1rem 1rem 0 2rem;
      height: 80%;
    }
    .eje-x {
      height: 2.5rem;
    }
    .eje-y li {
      height: 25%;
      border-top: 1px solid #777;
    }
    [data-ejeY]:before {
      content: attr(data-ejeY);
      display: inline-block;
      width: 2rem;
      text-align: right;
      line-height: 0;
      position: relative;
      left: -2.5rem;
      top: -0.5rem;
    }
    .eje-x li {
      width: 33%;
      float: left;
      text-align: center;
    }
    
    /******************************************
    GRAFICO CIRCULAR PIE CHART
    ******************************************/
    .donut-chart {
      position: relative;
      width: 200px;
      height: 200px;
      margin: 0 auto 2rem;
      border-radius: 100%;
    }
    p.center-date {
      background: #394264;
      position: absolute;
      text-align: center;
      font-size: 28px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 130px;
      height: 130px;
      margin: auto;
      border-radius: 50%;
      line-height: 35px;
      padding: 15% 0 0;
    }
    .center-date span.scnd-font-color {
      line-height: 0;
    }
    .recorte {
      border-radius: 50%;
      clip: rect(0px, 200px, 200px, 100px);
      height: 100%;
      position: absolute;
      width: 100%;
    }
    .quesito {
      border-radius: 50%;
      clip: rect(0px, 100px, 200px, 0px);
      height: 100%;
      position: absolute;
      width: 100%;
      font-family: monospace;
      font-size: 1.5rem;
    }
    #porcion1 {
      transform: rotate(0deg);
    }
    
    #porcion1 .quesito {
      background-color: #e64c65;
      transform: rotate(76deg);
    }
    #porcion2 {
      transform: rotate(76deg);
    }
    #porcion2 .quesito {
      background-color: #11a8ab;
      transform: rotate(140deg);
    }
    #porcion3 {
      transform: rotate(215deg);
    }
    #porcion3 .quesito {
      background-color: #4fc4f6;
      transform: rotate(113deg);
    }
    #porcionFin {
      transform: rotate(-32deg);
    }
    #porcionFin .quesito {
      background-color: #fcb150;
      transform: rotate(32deg);
    }
    .nota-final {
      clear: both;
      color: #4fc4f6;
      font-size: 1rem;
      padding: 2rem 0;
    }
    .nota-final strong {
      color: #e64c65;
    }
    .nota-final a {
      color: #fcb150;
      font-size: inherit;
    }
    
    
    /*****************************
  line chart
    *****************************/
    .big-box,
    .mini-box {
        background-color: #10BCFF;
        color: white;
        text-align: center;
        margin: 2px;
        font-size: 1.5em;
    }
    .big-box {
        height: 65px;
        line-height: 65px;
    }
    .mini-box {
        height: 30px;
        line-height: 30px;
    }
  
  
    .fa-users{
         width: 30px;
  color:green;
    }
  .badge1{
    color:rgb(255, 255, 255);
    background-color:green;
  }
  
    .fa-line-chart{
         width: 30px;
  color:orange;
    }
    .badge2{
      color:rgb(255, 255, 255);
      background-color:orange;
    }
  
    .fa-user{
         width: 30px;
  color: #846cff;
    }
    .badge3{
      color:rgb(255, 255, 255);
      background-color:#846cff;
    }
  
    .fa-user-times{
         width: 30px;
  color:red;
    }
    .badge4{
      color:rgb(255, 255, 255);
      background-color:red;
    }
    .badge-pill{
      margin-left: 10px;
      width:25px;
      height:25px;
      padding:0.5rem !important;
      cursor: pointer;
    }
    .badge-primary{
      color: #fff;
      float: right;
      background-color: #72b0f3;
    }
  
    .pie {
      margin: auto;
      
      /* Basic layout */
      width: 130px;
      height: 130px;
      border-radius: 50%;
    
      /* A little styling */
      border: .15em solid #fff;
      box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25);
    
      /* fixes a minor clipping issue in Chrome */
      background-origin: border-box; 
    }
    
    .pie {
  
      background-image: conic-gradient( #48d 72deg, #7ee7ff 0 360deg, #ac0 0 );
    }
  
  
  .gratutity-badge{
  height:2rem;
  width:2rem;
  padding-top: 10px;
    position: absolute;
    border-radius: 50%;
    color: black;
    float: right;
    right: -13px;
    background: #ffcc33;
  }
  
  .moneyimage{
    width: 80%;
    opacity: 0.5;
    margin: 0px 1rem auto;
    text-align: center;
  }
  .modal-body img{
  margin:auto;
  }
  
  .fa-bar-chart{
    color:rgb(113, 157, 253);
  }
    
  .fa-bar-chart:hover{
    color:rgb(38, 84, 184);
    cursor: pointer;
  }
    
  .absenttrend{
    width:100%;
  }

  
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 10px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: -2px;
    bottom: -4px;
    background-color: #ffbc00;
    transition: .4s;
}
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }

  /* disable div start */

  .onoffdiv {
    pointer-events: none;
    opacity: 0.2;
}

 /* disable div end */