<div class="container-fluid">


  <div class="p-3">
      <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Select Role</label>
              <select class="form-control" id="sel1" name="Role" [(ngModel)]="role" (ngModelChange)="selectRole($event)" #Role='ngModel' required>
                <!-- <option>Admin</option>
                <option>User</option>
                <option>HR</option>
                <option>Supervisor</option> -->
                <!-- <option [value]="selectUndefinedOptionValue">Select Role</option> -->
                <option value="{{addcompany.rollMasterId}}" *ngFor="let addcompany of AllRoll; let i = index;">{{addcompany.rollName}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
      
          </div>
          <div class="col-md-4">
            <div class="form-group float-right">
              <button type="button" [disabled]="role == null" (click)="onSubmit()" class="btn btn-primary">SAVE DASHBOARD</button>
            </div>
          </div>
        </div>
    <!-- ====================================================NEW DASHBOARD  19-4-2019==================================================== -->
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">

          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="totalHeadcount">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->


          <div [ngClass]="{'onoffdiv': !totalHeadcount}">
            <!-- HEADTITLE -->
            <div class="headtitle">
              <h6>Todays Headcount</h6>
            </div>
            <app-totalheadcountchart></app-totalheadcountchart>
          </div>

        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="allRequests">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !allRequests}">
          <div class="row">
            <div class="col-md-8">
              <!-- HEADTITLE -->
              <div class="headtitle">
                <h6>Monthly AR Requests</h6>
              </div>

              <!-- HEADTITLE -->
            </div>
            <div class="col-md-4 col-xs-12">
              <span class="badge badge-pill badge-primary">M</span>
            </div>
          </div>
          
            <div class="countbg">
              <div class="row">
                <div class="col">
                  <div class="cnts">
                    <h4><i class="fa fa-hand-o-up" aria-hidden="true" title="Requests"></i> 60</h4>
                  </div>
                </div>
                <div class="col">
                  <div class="cnts border-left">
                    <h4><i class="fa fa-check-circle" aria-hidden="true" data-toggle="tooltip" title="Approved"></i> 45
                    </h4>
                  </div>
                </div>
                <div class="col">
                  <div class="cnts border-left">
                    <h4><i class="fa fa-exclamation-circle" aria-hidden="true" title="Pending"></i> 15</h4>
                  </div>
                </div>
              </div>
            </div>

            <!-- HEADTITLE -->
            <div class="headtitle">
              <h6>Max AR Requests <small class="float-right pt-2">18 Mar 2019</small></h6>
            </div>
            <!-- HEADTITLE -->
            <div class="countbg">
              <div class="row">
                <div class="col">
                  <div class="cnts ">
                    <h4><i class="fa fa-hand-o-up" aria-hidden="true" title="Requests"></i> 55</h4>
                  </div>
                </div>
                <div class="col">
                  <div class="cnts border-left">
                    <h4><i class="fa fa-check-circle" aria-hidden="true" title="Approved"></i> 32</h4>
                  </div>
                </div>
                <div class="col">
                  <div class="cnts border-left">
                    <h4><i class="fa fa-exclamation-circle" aria-hidden="true" title="Pending"></i> 8</h4>
                  </div>
                </div>
              </div>
            </div>

            <!-- HEADTITLE -->
            <div class="headtitle">
              <h6>Shift Change Requests <small class="float-right pt-2"><i class="fa fa-bar-chart" aria-hidden="true"
                    data-toggle="modal" data-target="#shiftchangelinegraph"></i></small></h6>
            </div>
            <!-- HEADTITLE -->
            <div class="countbg">
              <div class="row">
                <div class="col">
                  <div class="cnts ">
                    <h4><i class="fa fa-hand-o-up" aria-hidden="true" title="Requests"></i> 45</h4>
                  </div>
                </div>
                <div class="col">
                  <div class="cnts border-left">
                    <h4><i class="fa fa-check-circle" aria-hidden="true" title="Approved"></i> 16</h4>
                  </div>
                </div>
                <div class="col">
                  <div class="cnts border-left">
                    <h4><i class="fa fa-exclamation-circle" aria-hidden="true" title="Pending"></i> 8</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>



      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="shiftDeviationHabitualAbsentism">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <!-- HEADTITLE -->
          <div class="headtitle">
            <h6></h6>
          </div>
          <!-- HEADTITLE -->
          <div [ngClass]="{'onoffdiv': !shiftDeviationHabitualAbsentism}">
              <ul class="list-group">

                  <li class="list-group-item"><i class="fa fa-line-chart " aria-hidden="true"></i> Shift Deviation <h4><span
                        class="badge badge2">12</span></h4>
                  </li>
                  <li class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Todays's Planned Absentism <h4>
                      <span class="badge badge3">6</span></h4>
                  </li>
                  <li class="list-group-item"><i class="fa fa-user-times " aria-hidden="true"></i> Todays's Unplanned
                    Absentism
                    <h4><span class="badge badge4">6</span></h4>
                  </li>
      
                  <li class="list-group-item"><i class="fa fa-user-times " aria-hidden="true"></i> Habitual Absentism
                    <h4><span class="badge badge1">3</span></h4>
                  </li>
                </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="shiftwiseAbsentism">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !shiftwiseAbsentism}">
              <div class="headtitle">
                  <h6>Shiftwise Absentism</h6>
                </div>
      
                <app-shiftwise-absentism></app-shiftwise-absentism>
          </div>
          

        </div>
      </div>



      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="coffDetails">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !coffDetails}">
              <div class="row">
                  <div class="col-md-6">
                    <!-- HEADTITLE -->
                    <div class="headtitle">
                      <h6>Coff: Compensatory Off Details</h6>
                    </div>
                    <!-- HEADTITLE -->
                  </div> 
                </div>
      
                <div class="row">
                  <div class="col">
                    <app-coffchart></app-coffchart>
                  </div>
                 
                </div>
          </div>
          

        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="absentism">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !absentism}">
              <div class="row">
                  <div class="col-md-8">
                    <!-- HEADTITLE -->
                    <div class="headtitle">
                      <h6>Absentism</h6>
                    </div>
                    <!-- HEADTITLE -->
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <span class="badge badge-pill badge-primary">M</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
      
                    <app-absentismchart></app-absentismchart>
                    <!-- <div class="pie"></div>
                          <h6 class="text-center pt-3">Actual Absentism</h6> -->
                  </div>
                  <div class="col-md-6">
      
                    <app-apsentismchart2></app-apsentismchart2>
                    <!-- <div class="pie"></div>
                          <h6 class="text-center pt-3">Converted Absentism</h6> -->
                  </div>
                </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="gratuityEntitlement">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !gratuityEntitlement}">
 <!-- HEADTITLE -->
 <div class="headtitle">
    <h6>Gratuity Entitlement</h6>
  </div>
  <!-- HEADTITLE -->
  <div class="skills">


    <div class="charts">

      <div class="chart2 chart--prod">
        <ul class="chart--horiz">
          <li class="chart__bar" style="width: 58%;">
            <span class="chart__label">
              3-5 Years <span class="badge badge-secondary gratutity-badge float-right">18</span>
              <!-- <h5><span class="badge badge-secondary">19</span></h5> -->
            </span>

          </li>
          <li class="chart__bar" style="width: 48%;">
            <span class="chart__label">
              5 Years Completed <span class="badge badge-secondary gratutity-badge float-right">12</span>

            </span>
          </li>
          <li class="chart__bar" style="width: 80%;">
            <span class="chart__label">
              Less than 3 Years<span class="badge badge-secondary gratutity-badge float-right">40</span>

            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
          </div>
         

        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="lateSitting">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !lateSitting}">
              <div class="row">
                  <div class="col-md-8">
                    <!-- HEADTITLE -->
                    <div class="headtitle">
                      <h6>Late Sitting</h6>
                    </div>
                    <!-- HEADTITLE -->
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <span class="badge badge-pill badge-primary">M</span> <span
                      class="badge badge-pill badge-primary">D</span>
                  </div>
                </div>
      
                <app-late-early-late-chart></app-late-early-late-chart>
          </div>
          

        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="skiledUnskilled">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !skiledUnskilled}">

          <div class="row">
            <div class="col-md-8">
              <!-- HEADTITLE -->
              <div class="headtitle">
                <h6>Skilled/Unskilled</h6>
              </div>
              <!-- HEADTITLE -->
            </div>

            <div class="col-md-4 col-xs-12">
              <span class="badge badge-pill badge-primary">M</span> <span
                class="badge badge-pill badge-primary">D</span>
            </div>
          </div>         
          <app-skilledchart></app-skilledchart>          
        </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="fteVsTemp">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !fteVsTemp}">
           
          <div class="row">
            <div class="col-md-8">
              <!-- HEADTITLE -->
              <div class="headtitle">
                <h6>FTE Vs Temp</h6>
              </div>
              <!-- HEADTITLE -->
            </div>
            <div class="col-md-4 col-xs-12">
              <span class="badge badge-pill badge-primary">M</span> <span
                class="badge badge-pill badge-primary">D</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <app-ftechart></app-ftechart>

            </div>
           
          </div>
 
        </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="gender">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !gender}">
              <div class="row">
                  <div class="col-md-8">
                    <!-- HEADTITLE -->
                    <div class="headtitle">
                      <h6>Gender</h6>
                    </div>
                    <!-- HEADTITLE -->
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <span class="badge badge-pill badge-primary">M</span> <span
                      class="badge badge-pill badge-primary">D</span>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-6">
                    <div class="gcountmale w3-animate-top">
                      <span class="">71</span>
                    </div>
                    <div class="gendar">
      
                      <div>
                        <img src="assets/male.svg">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="gcountfemale w3-animate-top">
                      <span class="">35</span>
                    </div>
                    <div class="gendar">
                      <img src="assets/female.svg">
                    </div>
      
                  </div>
                </div>
          </div>
          
        </div>

      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="allowances">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !allowances}">
              <div class="row">
                  <div class="col-md-12">
                    <!-- HEADTITLE -->
                    <div class="headtitle">
                      <h6>Shift allowance and Short hours cost</h6>
                    </div>
                    <!-- HEADTITLE -->
                  </div>
      
                </div>
      
                <div class="row">
      
                  <div class="col-md-8">
                    <h4>45,000/-</h4>
                    <small>Shift allowance cost</small>
                  </div>
      
                  <div class="col-md-4 col-xs-12">
                    <img class="moneyicon" src="assets/money_1.png">
                  </div>
                  <hr>
      
                  <div class="col-md-8">
                    <h4>15,450/-</h4>
                    <small>Short hours cost</small>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <img class="moneyicon" src="assets/money_2.png">
                  </div>
                  <hr>
      
                  <div class="col-md-8">
                    <h4>9,160/-</h4>
                    <small>Payroll cost</small>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <img class="moneyicon" src="assets/money_3.png">
                  </div>
                </div>
          </div>
          


        </div>

      </div>


      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="absentismTrend">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !absentismTrend}">
              <div class="row">
                  <div class="col-md-12">
                    <!-- HEADTITLE -->
                    <div class="headtitle">
                      <h6>Absentism trend</h6>
                    </div>
                    <!-- HEADTITLE -->
                  </div>
      
                </div>
                <app-absentismtrendchart></app-absentismtrendchart>
          </div>
          

        </div>

      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="absentismTrendContinuously">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !absentismTrendContinuously}">
              <div class="row">
                  <div class="col-md-8">
                    <!-- HEADTITLE -->
                    <div class="headtitle">
                      <h6>Absentism trend (3 Days Continuously)</h6>
                    </div>
                    <!-- HEADTITLE -->
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <span class="badge badge-pill badge-primary">M</span> <span
                      class="badge badge-pill badge-primary">W</span>
                    <span class="badge badge-pill badge-primary">D</span>
                  </div>
                </div>      
                <app-threedaysabsentismchart></app-threedaysabsentismchart>      
          </div>
          
        </div>

      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="coffDetailsSupervisor">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !coffDetailsSupervisor}">          
          <div class="row">
            <div class="col-md-6">
              <!-- HEADTITLE -->
              <div class="headtitle">
                <h6>Coff: Compensatory Off Details (Supervisor)</h6>
              </div>
              <!-- HEADTITLE -->
            </div>
          </div>
          <app-coffsupervsorchart></app-coffsupervsorchart>
        </div>
        </div>

      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="shiftwiseAbsentismSupervisor">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !shiftwiseAbsentismSupervisor}">
              <div class="row">
                  <div class="col-md-8">
                    <!-- HEADTITLE -->
                    <div class="headtitle">
                      <h6>Shiftwise Absentism (Supervisor)</h6>
                    </div>
                    <!-- HEADTITLE -->
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <span class="badge badge-pill badge-primary">M</span> <span
                      class="badge badge-pill badge-primary">W</span>
                    <span class="badge badge-pill badge-primary">D</span>
                  </div>
                </div>      
                <app-shiftwiseabsentismsupervisor></app-shiftwiseabsentismsupervisor>      
          </div>
          
        </div>

      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="shiftwiseAttendance">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !shiftwiseAttendance}">
              <div class="row">
                  <div class="col-md-8">
                    <!-- HEADTITLE -->
                    <div class="headtitle">
                      <h6>Shiftwise attendance(Planned vs Actual) </h6>
                    </div>
                    <!-- HEADTITLE -->
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <span class="badge badge-pill badge-primary">M</span> <span
                      class="badge badge-pill badge-primary">W</span>
                  </div>
                </div>
                <app-planvsactulachart></app-planvsactulachart>
          </div>
          
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="esicApplicable">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !esicApplicable}">

          <div class="row">
            <div class="col-md-5">
              <!-- HEADTITLE -->
              <div class="headtitle">
                <h6>ESIC </h6>
              </div>
              <!-- HEADTITLE -->
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="">
                <circle-progress [percent]="80" [maxPercent]="1000" [outerStrokeWidth]="16" [titleFontSize]="35"
                  [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
                  [animation]="true" [responsive]="true" [showUnits]="false" [showSubtitle]="false"
                  [animationDuration]="300">
                </circle-progress>
              </div>

            </div>
            <div class="col-md-12">
              <h6 class="text-center">ESIC Applicable Employees</h6>
            </div>

          </div>
        </div>

        </div>
      </div>


      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="shiftDeviation">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !shiftDeviation}">
              <div class="row">
                  <div class="col-md-8">
                    <!-- HEADTITLE -->
                    <div class="headtitle">
                      <h6>Shift Deviation </h6>
                    </div>
                    <!-- HEADTITLE -->
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <span class="badge badge-pill badge-primary">M</span> <span
                      class="badge badge-pill badge-primary">W</span>
                    <span class="badge badge-pill badge-primary">D</span>
                  </div>
                </div>
                <app-shiftdeviationchart></app-shiftdeviationchart>
          </div>          
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="lateSittingOtList">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !lateSittingOtList}">
          <div class="row">
            <div class="col-md-8">
              <!-- HEADTITLE -->
              <div class="headtitle">
                <h6>List of Employees (Yesterday's)</h6>
              </div>
              <!-- HEADTITLE -->
            </div>           
          </div>

          <div>
            <nav class="nav nav-pills nav-justified">
              <a class="nav-item nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                aria-controls="home" aria-selected="true">Late Sitting</a>
              <a class="nav-item nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                aria-controls="profile" aria-selected="false">Over Time</a>

            </nav>
            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Late sitting time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ajinkya R</td>
                      <td>2 Hrs</td>
                    </tr>
                    <tr>
                      <td>Vinod R</td>
                      <td>1 Hr</td>
                    </tr>
                    <tr>
                      <td>Shubhangi</td>
                      <td>30 Min</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Over time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mangesh R</td>
                      <td>1 Hrs</td>
                    </tr>
                    <tr>
                      <td>Sanjay R</td>
                      <td>1 Hr</td>
                    </tr>
                    <tr>
                      <td>Pratiksha</td>
                      <td>1:30 Hr</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </div>

</div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="OtHoursIncrease">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !OtHoursIncrease}">           
          <div class="row">
            <div class="col-md-8">
              <!-- HEADTITLE -->
              <div class="headtitle">
                <h6>OT hours increase against unplanned absentism </h6>
              </div>
              <!-- HEADTITLE -->
            </div>
            <div class="col-md-4 col-xs-12">
              <span class="badge badge-pill badge-primary">Y</span> <span
                class="badge badge-pill badge-primary">M</span> <span class="badge badge-pill badge-primary">W</span>

            </div>
          </div>
          <app-othrsincreaseunplanned></app-othrsincreaseunplanned>           
        </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="white-bg h-100">
          <!-- ON OFF SWITCH -->
          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="DepartmentWiseManHoursCalculation">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <!-- ON OFF SWITCH -->
          <div [ngClass]="{'onoffdiv': !DepartmentWiseManHoursCalculation}">

          <div class="row">
            <div class="col-md-12">
              <!-- HEADTITLE -->
              <div class="headtitle">
                <h6>Departmentwise man hours calculation </h6>
              </div>
              <!-- HEADTITLE -->
            </div>
          </div>
          <app-departmentwisemanhrs></app-departmentwisemanhrs>         
        </div>
        </div>
      </div>

    </div>
  </div>








  <div class="container">


    <!-- The Modal -->
    <div class="modal fade" id="shiftchangelinegraph">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Shift Change Requests</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <img src="assets/111.jpg">
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>


</div>