<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="data-title">
            <h6>Employee Personal Details</h6>
        </div>
    </div>
</div>

<form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="row justify-content-center">

        <div class="col-md-5">
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="fullName">First Name</label>
                        <span style="color: red">*</span>
                        <input autocomplete="off" [disabled]="isEditName"  class="form-control form-control-sm" type="text" name="firstName"
                            [(ngModel)]="empPersonalModel.fullName" pattern="[A-Z a-z]{1,250}" #firstName='ngModel'
                            maxlength="50" required>
                        <div class="help-block"
                            *ngIf="firstName.errors?.required && (firstName.touched || f.submitted)">
                            <small style="color: red"> First name required</small></div>
                        <div class="help-block" *ngIf="firstName.errors?.pattern && (firstName.touched || f.submitted)">
                            <small style="color: red"> Number and Special Character not allowed</small></div>

                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="Middlename">Middle Name</label>
                        <!-- <span style="color: red">*</span> -->
                        <input autocomplete="off" [disabled]="isEditName" class="form-control form-control-sm" type="text" name="middleName"
                            [(ngModel)]="empPersonalModel.middleName" pattern="[A-Z a-z]{1,250}" #middleName='ngModel'
                            maxlength="50">
                        <div class="help-block" *ngIf=" (middleName.touched || f.submitted)">
                            <!-- <small style="color: red"> Middlename required</small>-->
                        </div>
                        <div class="help-block"
                            *ngIf="middleName.errors?.pattern && (middleName.touched || f.submitted)">
                            <!-- <small style="color: red"> Number and Special Character not allowed</small>-->
                        </div>

                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="Lastname">Last Name</label><span style="color: red">*</span>
                        <input autocomplete="off" [disabled]="isEditName" class="form-control form-control-sm" type="text" name="lastName"
                            [(ngModel)]="empPersonalModel.lastName" pattern="[A-Z a-z]{1,250}" #lastName='ngModel'
                            maxlength="50" required>
                        <div class="help-block" *ngIf="lastName.errors?.required && (lastName.touched || f.submitted)">
                            <small style="color: red">Last Name required</small></div>
                        <div class="help-block" *ngIf="lastName.errors?.pattern && (lastName.touched || f.submitted)">
                            <small style="color: red"> Number and Special Character not allowed</small></div>

                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="pincode">Father's Name/Spouse Name</label><span style="color: red">*</span>
                        <input autocomplete="off" class="form-control form-control-sm" maxlength="100" type="text"
                            name="fatheName" [(ngModel)]="empPersonalModel.fatheName" pattern="[A-Z a-z]{1,250}"
                            #fatheName='ngModel' required>
                        <div class="help-block"
                            *ngIf="fatheName.errors?.required && (fatheName.touched || f.submitted)"><small
                                style="color: red">Father's Name/Spouse Name required</small></div>
                        <div class="help-block" *ngIf="fatheName.errors?.pattern && (fatheName.touched || f.submitted)">
                            <small style="color: red">Number and special Character not allowed</small></div>

                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="pincode">Mother's Name</label><span style="color: red">*</span>
                        <input autocomplete="off" class="form-control form-control-sm" maxlength="100"
                            pattern="[A-Z a-z]{1,20}" type="text" name="motherName" #motherName='ngModel'
                            [(ngModel)]="empPersonalModel.motherName" required>
                        <div class="help-block"
                            *ngIf="motherName.errors?.required && (motherName.touched || f.submitted)"><small
                                style="color: red">Mother's Name required</small></div>
                        <div class="help-block"
                            *ngIf="motherName.errors?.pattern && (motherName.touched || f.submitted)"><small
                                style="color: red">Number and special Character not allowed</small></div>

                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="placeofbirth">Place of Birth</label>
                        <input autocomplete="off" class="form-control form-control-sm" maxlength="50" type="text"
                            name="placeOfBirth" #placeOfBirth='ngModel' [(ngModel)]="empPersonalModel.placeOfBirth">

                    </div>
                </div>
            </div>

            <!-- <div class="form-group colors" data-toggle="buttons">
                <label for="typeoffile">Marital Status</label>
                <br>
                <label class="btn btn-sm p-2 btn-outline-primary">
                    <input type="radio" name="maritialStatus" value="Single" autocomplete="off" id="radio"
                        [(ngModel)]="empPersonalModel.maritialStatus">Single
                </label>
                <label class="btn btn-sm p-2 btn-outline-primary">
                    <input type="radio" name="maritialStatus" value="Married" autocomplete="off" id="radio1"
                        [(ngModel)]="empPersonalModel.maritialStatus">Married
                </label>
            </div> -->


            <div class="form-group colors">
                <label>Marital Status<span style="color: red">*</span></label>
                <br>
                <input autocomplete="off" type="radio" id="radio" [(ngModel)]="empPersonalModel.maritialStatus"
                    value="S" name="maritialStatus" />
                <label for="radio">Single</label>

                <input autocomplete="off" type="radio" id="radio1" [(ngModel)]="empPersonalModel.maritialStatus"
                    value="M" name="maritialStatus" />
                <label for="radio1">Married</label>

                <input autocomplete="off" type="radio" id="radio2" [(ngModel)]="empPersonalModel.maritialStatus"
                value="O" name="maritialStatus" />
                <label for="radio2">Other</label>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="placeofbirth">Nationality</label> <span style="color: red">*</span>
                        <select id="placeofbirth" class="form-control form-control-sm" name="nationality"
                            [(ngModel)]="empPersonalModel.nationality" #nationality='ngModel' required>
                            <option hidden [value]="select">select</option>
                            <!-- <option value="{{s.code}}" *ngFor="let s of countriesdata">{{s.name}}</option> -->
                            <!-- <option value="Afghan">Afghan</option>
                            <option value="Albanian">Albanian</option>
                            <option value="Algerian">Algerian</option>
                            <option value="Andorran">Andorran</option>
                            <option value="Angolan">Angolan</option>
                            <option value="Indian">Indian</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="American">American(U.S.A)</option>
                            <option value="China">China</option>
                            <option value="Others">Others</option>  -->

                            <option value="AFG">Afghanistan</option>
                            <option value="ALA">Åland Islands</option>
                            <option value="ALB">Albania</option>
                            <option value="DZA">Algeria</option>
                            <option value="ASM">American Samoa</option>
                            <option value="AND">Andorra</option>
                            <option value="AGO">Angola</option>
                            <option value="AIA">Anguilla</option>
                            <option value="ATA">Antarctica</option>
                            <option value="ATG">Antigua and Barbuda</option>
                            <option value="ARG">Argentina</option>
                            <option value="ARM">Armenia</option>
                            <option value="ABW">Aruba</option>
                            <option value="AUS">Australia</option>
                            <option value="AUT">Austria</option>
                            <option value="AZE">Azerbaijan</option>
                            <option value="BHS">Bahamas</option>
                            <option value="BHR">Bahrain</option>
                            <option value="BGD">Bangladesh</option>
                            <option value="BRB">Barbados</option>
                            <option value="BLR">Belarus</option>
                            <option value="BEL">Belgium</option>
                            <option value="BLZ">Belize</option>
                            <option value="BEN">Benin</option>
                            <option value="BMU">Bermuda</option>
                            <option value="BTN">Bhutan</option>
                            <option value="BOL">Bolivia, Plurinational State of</option>
                            <option value="BES">Bonaire, Sint Eustatius and Saba</option>
                            <option value="BIH">Bosnia and Herzegovina</option>
                            <option value="BWA">Botswana</option>
                            <option value="BVT">Bouvet Island</option>
                            <option value="BRA">Brazil</option>
                            <option value="IOT">British Indian Ocean Territory</option>
                            <option value="BRN">Brunei Darussalam</option>
                            <option value="BGR">Bulgaria</option>
                            <option value="BFA">Burkina Faso</option>
                            <option value="BDI">Burundi</option>
                            <option value="KHM">Cambodia</option>
                            <option value="CMR">Cameroon</option>
                            <option value="CAN">Canada</option>
                            <option value="CPV">Cape Verde</option>
                            <option value="CYM">Cayman Islands</option>
                            <option value="CAF">Central African Republic</option>
                            <option value="TCD">Chad</option>
                            <option value="CHL">Chile</option>
                            <option value="CHN">China</option>
                            <option value="CXR">Christmas Island</option>
                            <option value="CCK">Cocos (Keeling) Islands</option>
                            <option value="COL">Colombia</option>
                            <option value="COM">Comoros</option>
                            <option value="COG">Congo</option>
                            <option value="COD">Congo, the Democratic Republic of the</option>
                            <option value="COK">Cook Islands</option>
                            <option value="CRI">Costa Rica</option>
                            <option value="CIV">Côte d'Ivoire</option>
                            <option value="HRV">Croatia</option>
                            <option value="CUB">Cuba</option>
                            <option value="CUW">Curaçao</option>
                            <option value="CYP">Cyprus</option>
                            <option value="CZE">Czech Republic</option>
                            <option value="DNK">Denmark</option>
                            <option value="DJI">Djibouti</option>
                            <option value="DMA">Dominica</option>
                            <option value="DOM">Dominican Republic</option>
                            <option value="ECU">Ecuador</option>
                            <option value="EGY">Egypt</option>
                            <option value="SLV">El Salvador</option>
                            <option value="GNQ">Equatorial Guinea</option>
                            <option value="ERI">Eritrea</option>
                            <option value="EST">Estonia</option>
                            <option value="ETH">Ethiopia</option>
                            <option value="FLK">Falkland Islands (Malvinas)</option>
                            <option value="FRO">Faroe Islands</option>
                            <option value="FJI">Fiji</option>
                            <option value="FIN">Finland</option>
                            <option value="FRA">France</option>
                            <option value="GUF">French Guiana</option>
                            <option value="PYF">French Polynesia</option>
                            <option value="ATF">French Southern Territories</option>
                            <option value="GAB">Gabon</option>
                            <option value="GMB">Gambia</option>
                            <option value="GEO">Georgia</option>
                            <option value="DEU">Germany</option>
                            <option value="GHA">Ghana</option>
                            <option value="GIB">Gibraltar</option>
                            <option value="GRC">Greece</option>
                            <option value="GRL">Greenland</option>
                            <option value="GRD">Grenada</option>
                            <option value="GLP">Guadeloupe</option>
                            <option value="GUM">Guam</option>
                            <option value="GTM">Guatemala</option>
                            <option value="GGY">Guernsey</option>
                            <option value="GIN">Guinea</option>
                            <option value="GNB">Guinea-Bissau</option>
                            <option value="GUY">Guyana</option>
                            <option value="HTI">Haiti</option>
                            <option value="HMD">Heard Island and McDonald Islands</option>
                            <option value="VAT">Holy See (Vatican City State)</option>
                            <option value="HND">Honduras</option>
                            <option value="HKG">Hong Kong</option>
                            <option value="HUN">Hungary</option>
                            <option value="ISL">Iceland</option>
                            <option value="IND">India</option>
                            <option value="IDN">Indonesia</option>
                            <option value="IRN">Iran, Islamic Republic of</option>
                            <option value="IRQ">Iraq</option>
                            <option value="IRL">Ireland</option>
                            <option value="IMN">Isle of Man</option>
                            <option value="ISR">Israel</option>
                            <option value="ITA">Italy</option>
                            <option value="JAM">Jamaica</option>
                            <option value="JPN">Japan</option>
                            <option value="JEY">Jersey</option>
                            <option value="JOR">Jordan</option>
                            <option value="KAZ">Kazakhstan</option>
                            <option value="KEN">Kenya</option>
                            <option value="KIR">Kiribati</option>
                            <option value="PRK">Korea, Democratic People's Republic of</option>
                            <option value="KOR">Korea, Republic of</option>
                            <option value="KWT">Kuwait</option>
                            <option value="KGZ">Kyrgyzstan</option>
                            <option value="LAO">Lao People's Democratic Republic</option>
                            <option value="LVA">Latvia</option>
                            <option value="LBN">Lebanon</option>
                            <option value="LSO">Lesotho</option>
                            <option value="LBR">Liberia</option>
                            <option value="LBY">Libya</option>
                            <option value="LIE">Liechtenstein</option>
                            <option value="LTU">Lithuania</option>
                            <option value="LUX">Luxembourg</option>
                            <option value="MAC">Macao</option>
                            <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
                            <option value="MDG">Madagascar</option>
                            <option value="MWI">Malawi</option>
                            <option value="MYS">Malaysia</option>
                            <option value="MDV">Maldives</option>
                            <option value="MLI">Mali</option>
                            <option value="MLT">Malta</option>
                            <option value="MHL">Marshall Islands</option>
                            <option value="MTQ">Martinique</option>
                            <option value="MRT">Mauritania</option>
                            <option value="MUS">Mauritius</option>
                            <option value="MYT">Mayotte</option>
                            <option value="MEX">Mexico</option>
                            <option value="FSM">Micronesia, Federated States of</option>
                            <option value="MDA">Moldova, Republic of</option>
                            <option value="MCO">Monaco</option>
                            <option value="MNG">Mongolia</option>
                            <option value="MNE">Montenegro</option>
                            <option value="MSR">Montserrat</option>
                            <option value="MAR">Morocco</option>
                            <option value="MOZ">Mozambique</option>
                            <option value="MMR">Myanmar</option>
                            <option value="NAM">Namibia</option>
                            <option value="NRU">Nauru</option>
                            <option value="NPL">Nepal</option>
                            <option value="NLD">Netherlands</option>
                            <option value="NCL">New Caledonia</option>
                            <option value="NZL">New Zealand</option>
                            <option value="NIC">Nicaragua</option>
                            <option value="NER">Niger</option>
                            <option value="NGA">Nigeria</option>
                            <option value="NIU">Niue</option>
                            <option value="NFK">Norfolk Island</option>
                            <option value="MNP">Northern Mariana Islands</option>
                            <option value="NOR">Norway</option>
                            <option value="OMN">Oman</option>
                            <option value="PAK">Pakistan</option>
                            <option value="PLW">Palau</option>
                            <option value="PSE">Palestinian Territory, Occupied</option>
                            <option value="PAN">Panama</option>
                            <option value="PNG">Papua New Guinea</option>
                            <option value="PRY">Paraguay</option>
                            <option value="PER">Peru</option>
                            <option value="PHL">Philippines</option>
                            <option value="PCN">Pitcairn</option>
                            <option value="POL">Poland</option>
                            <option value="PRT">Portugal</option>
                            <option value="PRI">Puerto Rico</option>
                            <option value="QAT">Qatar</option>
                            <option value="REU">Réunion</option>
                            <option value="ROU">Romania</option>
                            <option value="RUS">Russian Federation</option>
                            <option value="RWA">Rwanda</option>
                            <option value="BLM">Saint Barthélemy</option>
                            <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
                            <option value="KNA">Saint Kitts and Nevis</option>
                            <option value="LCA">Saint Lucia</option>
                            <option value="MAF">Saint Martin (French part)</option>
                            <option value="SPM">Saint Pierre and Miquelon</option>
                            <option value="VCT">Saint Vincent and the Grenadines</option>
                            <option value="WSM">Samoa</option>
                            <option value="SMR">San Marino</option>
                            <option value="STP">Sao Tome and Principe</option>
                            <option value="SAU">Saudi Arabia</option>
                            <option value="SEN">Senegal</option>
                            <option value="SRB">Serbia</option>
                            <option value="SYC">Seychelles</option>
                            <option value="SLE">Sierra Leone</option>
                            <option value="SGP">Singapore</option>
                            <option value="SXM">Sint Maarten (Dutch part)</option>
                            <option value="SVK">Slovakia</option>
                            <option value="SVN">Slovenia</option>
                            <option value="SLB">Solomon Islands</option>
                            <option value="SOM">Somalia</option>
                            <option value="ZAF">South Africa</option>
                            <option value="SGS">South Georgia and the South Sandwich Islands</option>
                            <option value="SSD">South Sudan</option>
                            <option value="ESP">Spain</option>
                            <option value="LKA">Sri Lanka</option>
                            <option value="SDN">Sudan</option>
                            <option value="SUR">Suriname</option>
                            <option value="SJM">Svalbard and Jan Mayen</option>
                            <option value="SWZ">Swaziland</option>
                            <option value="SWE">Sweden</option>
                            <option value="CHE">Switzerland</option>
                            <option value="SYR">Syrian Arab Republic</option>
                            <option value="TWN">Taiwan, Province of China</option>
                            <option value="TJK">Tajikistan</option>
                            <option value="TZA">Tanzania, United Republic of</option>
                            <option value="THA">Thailand</option>
                            <option value="TLS">Timor-Leste</option>
                            <option value="TGO">Togo</option>
                            <option value="TKL">Tokelau</option>
                            <option value="TON">Tonga</option>
                            <option value="TTO">Trinidad and Tobago</option>
                            <option value="TUN">Tunisia</option>
                            <option value="TUR">Turkey</option>
                            <option value="TKM">Turkmenistan</option>
                            <option value="TCA">Turks and Caicos Islands</option>
                            <option value="TUV">Tuvalu</option>
                            <option value="UGA">Uganda</option>
                            <option value="UKR">Ukraine</option>
                            <option value="ARE">United Arab Emirates</option>
                            <option value="GBR">United Kingdom</option>
                            <option value="USA">United States</option>
                            <option value="UMI">United States Minor Outlying Islands</option>
                            <option value="URY">Uruguay</option>
                            <option value="UZB">Uzbekistan</option>
                            <option value="VUT">Vanuatu</option>
                            <option value="VEN">Venezuela, Bolivarian Republic of</option>
                            <option value="VNM">Viet Nam</option>
                            <option value="VGB">Virgin Islands, British</option>
                            <option value="VIR">Virgin Islands, U.S.</option>
                            <option value="WLF">Wallis and Futuna</option>
                            <option value="ESH">Western Sahara</option>
                            <option value="YEM">Yemen</option>
                            <option value="ZMB">Zambia</option>
                            <option value="ZWE">Zimbabwe</option>

                        </select>
                    </div>
                    <div class="help-block" style="margin-top:-21px"
                        *ngIf="nationality.errors?.required && (nationality.touched || f.submitted)"><small
                            style="color: red">Nationality required</small></div>
                </div>

            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="lang">Known Languages</label>
                        <input autocomplete="off" class="form-control form-control-sm" maxlength="100" type="text"
                            name="language" [(ngModel)]="empPersonalModel.language">
                    </div>
                </div>
            </div>

            <!-- <div class="form-row">
                <div class="col">
                    <a class="addmember" (click)="AddLanguages(languagemodel)">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Languages</a>
                </div>
            </div> -->



            <!-- <div *ngFor="let lang of empKnownLanguagesList">
                <p>{{lang.language}}</p>
            </div> -->


            <div class="data-title pb-2">
                <h6>Physical Information</h6>
            </div>


            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for="bldgrp">Blood Group</label><span style="color: red">*</span>
                    <!-- <input class="form-control form-control-sm short-width-80" maxlength="10" type="text" name="bloodGroup"
                        [(ngModel)]="empPersonalModel.bloodGroup" #bloodGroup='ngModel' required>
                            <div class="help-block" *ngIf="bloodGroup.errors?.required && (bloodGroup.touched || f.submitted)"><small
                            style="color: red">bloodGroup required</small></div> -->

                    <select required name="bloodGroup" form="bloodGroup"
                        class="form-control form-control-sm short-width-80" [(ngModel)]="empPersonalModel.bloodGroup"
                        #bloodGroup="ngModel">
                        <option disabled [value]="selectUndefinedOptionValue"> Select </option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                    </select>
                    <div class="help-block" *ngIf="bloodGroup.errors?.required && (bloodGroup.touched || f.submitted)">
                        <small style="color: red">Blood Group required</small></div>
                </div>

                <div class="form-group col-sm-4">
                    <label for="bldgrp">Height(In Cm)</label>
                    <!-- <input autocomplete="off" class="form-control form-control-sm short-width-80"  maxlength="5" type="number"
                        name="height" [(ngModel)]="empPersonalModel.height"> -->

                    <input autocomplete="off" class="form-control form-control-sm short-width-80" pattern="^[0-9]*$"
                        maxlength="5" type="text" name="height" [(ngModel)]="empPersonalModel.height">
                </div>

                <div class="form-group col-sm-4">
                    <label for="weight">Weight(in Kg)</label>
                    <input autocomplete="off" class="form-control form-control-sm short-width-80" pattern="^[0-9]*$"
                        maxlength="5" type="text" name="wieght" [(ngModel)]="empPersonalModel.wieght">
                </div>
            </div>

            <!-- <div class="form-group colors" data-toggle="buttons">
                <label for="typeoffile">Physical Disability</label>
                <br>

                <label class="btn btn-sm p-2 btn-outline-primary">
                    <input type="radio" name="physicalDisability" value="Yes" autocomplete="off" id="radio3"
                        [(ngModel)]="empPersonalModel.physicalDisability">Yes
                </label>

                <label class="btn btn-sm p-2 btn-outline-primary">
                    <input type="radio" name="physicalDisability" value="No" autocomplete="off" id="radio4"
                        [(ngModel)]="empPersonalModel.physicalDisability">No
                </label>
            </div> -->

            <div class="form-group colors">
                <label>Physical Disability</label>
                <br>
                <input type="radio" id="radio3" [(ngModel)]="empPersonalModel.physicalDisability" value="Yes"
                    name="physicalDisability" />
                <label for="radio3">Yes</label>

                <input type="radio" id="radio4" [(ngModel)]="empPersonalModel.physicalDisability" value="No"
                    name="physicalDisability" />
                <label for="radio4">No</label>
            </div>

            <div class="form-row" *ngIf='empPersonalModel.physicalDisability == "Yes"'>
                <div class="col">
                    <div class="form-group">
                        <label for="fordisability">Disability Details</label><span style="color: red">*</span>
                        <textarea class="form-control" id="fordisability" rows="3" name="physicalDisabilityDetails"
                            [(ngModel)]="empPersonalModel.physicalDisabilityDetails"
                            #physicalDisabilityDetails='ngModel' required></textarea>
                        <div class="help-block"
                            *ngIf="physicalDisabilityDetails.errors?.required && (physicalDisabilityDetails.touched || f.submitted)">
                            <small style="color: red">Disability Details required</small></div>

                    </div>
                </div>
            </div>



            <div class="form-group colors">
                <label>Health Issue</label>
                <br>
                <input type="radio" id="radio5" [(ngModel)]="empPersonalModel.healthIssues" value="Yes"
                    name="healthIssues" />
                <label for="radio5">Yes</label>

                <input type="radio" id="radio6" [(ngModel)]="empPersonalModel.healthIssues" value="No"
                    name="healthIssues" />
                <label for="radio6">No</label>
            </div>


            <div class="form-row" *ngIf='empPersonalModel.healthIssues == "Yes"'>
                <div class="col">
                    <div class="form-group">
                        <label for="fordisability">Health Issue Details</label><span style="color: red">*</span>
                        <textarea class="form-control" id="fordisability" rows="3" name="healthIssuesDetails"
                            [(ngModel)]="empPersonalModel.healthIssuesDetails" #healthIssuesDetails='ngModel'
                            required></textarea>
                        <div class="help-block"
                            *ngIf="healthIssuesDetails.errors?.required && (healthIssuesDetails.touched || f.submitted)">
                            <small style="color: red">Health Issue Details required</small></div>

                    </div>
                </div>
            </div>

            <div class="form-group colors">
                <label>Current Health Issue</label>
                <br>
                <input type="radio" id="radio5" [(ngModel)]="empPersonalModel.currentHlthIssue" value="Yes"
                    name="currentHlthIssue" />
                <label for="radio5">Yes</label>

                <input type="radio" id="radio6" [(ngModel)]="empPersonalModel.currentHlthIssue" value="No"
                    name="currentHlthIssue" />
                <label for="radio6">No</label>
            </div>

            <!-- <div class="form-group">
                <label>Current Health Issue</label>
                <br>
                <label class="switch mt-2">
                    <input autocomplete="off" type="checkbox" name="currentHlthIssue" [(ngModel)]="currentHlthIssue">
                    <span class="slider round"></span>
                </label>
            </div> -->

            <div class="form-row" *ngIf="empPersonalModel.currentHlthIssue == 'Yes'">
                <div class="col">
                    <div class="form-group">
                        <label for="fordisabilityhealth">Current Health Issue Details</label><span style="color: red">*</span>
                        <textarea class="form-control" id="fordisabilityhealth" rows="3" name="currentHlthIssueDet"
                            [(ngModel)]="empPersonalModel.currentHlthIssueDet" #currentHlthIssueDet='ngModel'
                           required ></textarea>
                        <div class="help-block"
                            *ngIf="currentHlthIssueDet.errors?.required && (currentHlthIssueDet.touched || f.submitted)">
                            <small style="color: red">Current Health Issue Details required</small></div>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col">
                    <div class="form-group">
                        <label for="placeofbirth">Regular Meal Preference</label>
                        <select name="meallist" form="meallist" class="form-control"
                            [(ngModel)]="empPersonalModel.regularMealPreference">
                            <option hidden [value]="selectUndefinedOptionValue"> Select Regular Meal Preference</option>
                            <option value="Veg">Veg</option>
                            <option value="Non-Veg">Non-Veg</option>
                            <option value="Both">Both</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="placeofbirth">Any Special Instruction for Meal</label>
                        <select name="instructionmeal" form="instructionmeal" class="form-control"
                            [(ngModel)]="empPersonalModel.anySpecialInstructionforMeal">
                            <option hidden value="selectUndefinedOptionValue"> Select Any Special instruction for
                                Meal
                            </option>
                            <option value="Less Oily">Less Oily</option>
                            <option value="Diet Food">Diet Food</option>
                            <option value="Sugar Free">Sugar Free</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="data-title">
                <h6>Family Member Details</h6>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-5">
            <form #f1='ngForm' (ngSubmit)="f1.form.valid">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="familymembername">Family Member Name</label><span style="color: red">*</span>
                            <input autocomplete="off" class="form-control form-control-sm" pattern="[A-Z a-z]{1,250}"
                                maxlength="50" type="text" #name='ngModel' name="name" [(ngModel)]="familyModel.name"
                                required>
                            <div class="help-block" *ngIf="name.errors?.required && name.touched ">
                                <small style="color: red">Family Member Name required</small></div>
                            <div class="help-block" *ngIf="name.errors?. pattern && name.touched ">
                                <small style="color: red">Number and Special character not allowed</small></div>

                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label for="relation">Relation</label><span style="color: red">*</span>
                        <select id="relation" class="form-control form-control-sm" #relation='ngModel' name="relation"
                            [(ngModel)]="familyModel.relation" (ngModelChange)="getRlation($event)" required>
                            <option hidden [value]='selectUndefinedOptionValue'>Select</option>
                            <option value="Father">Father</option>
                            <option value="Mother">Mother</option>
                            <option value="Brother">Brother</option>
                            <option value="Sister">Sister</option>
                            <option value="Son">Son</option>
                            <option value="Doughter">Doughter</option>
                            <option value="MotherInLaw">Mother In Law</option>
                            <option value="FatherInLaw">Father In Law</option>
                            <option value="Spouse">Spouse</option>
                        </select>
                        <div class="help-block" *ngIf="relation.errors?.required && relation.touched ">
                            <small style="color: red">Relation required</small></div>
                        <!-- <div *ngIf="resultDuplicateCondition == true" class="help-block">
                                <small style="color: red">One Father is Already Selected</small></div> -->

                        <div *ngIf="flagduplicate" class="help-block">
                            <small style="color: red">One {{familyModel.relation}} is Already Selected</small></div>

                    </div>
                </div>

                <!-- <div class="form-row align-items-center">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="dob">Date of birth vinod</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" [max]="today" type="date" (change)="getdate($event)"
                      name="dob" #dob='ngModel' [ngModel]="familyModel.dob" required>   
                      <div class="help-block" *ngIf="dob.errors?.required && (dob.touched || f.submitted)"><small style="color: red">Date Of Birth Required</small></div>
                  </div>
                </div>

                <div class="col">
                  <div class="form-check mb-2">
                    <label class="form-check-label" for="autoSizingCheck">
                      Age: <span>{{familyModel.age}}</span>
                    </label>
                  </div>
                </div>
              </div> -->


                <div class="form-row align-items-center">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="dob">Date of birth </label>

                            <input class="form-control form-control-sm" max="{{maxDate| date:'yyyy-MM-dd'}}" type="date"
                                name="dateOfBirth" [(ngModel)]="familyModel.dob" (change)="getdate($event)" >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-2">
                            <label class="form-check-label" for="autoSizingCheck">
                                <!-- Age: <span>{{familyModel.age}}</span> -->
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="mobnum">Mobile Number</label>
                            <input autocomplete="off" class="form-control form-control-sm short-width-150"
                                pattern="^[789]\d{9}$" maxlength="10" type="text" #contactNumber='ngModel'
                                name="contactNumber" [(ngModel)]="familyModel.contactNumber">

                            <div class="help-block"
                                *ngIf="contactNumber.errors?.pattern && (contactNumber.touched || f1.submitted)">
                                <small style="color: red">Enter Valid Mobile Number</small></div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Dependency on you</label>
                    <br>
                    <label class="switch mt-2">
                        <input autocomplete="off" type="checkbox" name="dependancy"
                            [(ngModel)]="familyModel.dependancy">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="mobnum">Occupation</label>
                            <!-- <span style="color: red">*</span> -->
                            <input autocomplete="off" class="form-control form-control-sm short-width-150"
                                maxlength="200" #profession='ngModel' type="text" name="profession"
                                [(ngModel)]="familyModel.profession">
                            <!-- <div class="help-block" *ngIf="profession.errors?.required && (profession.touched || f.submitted)">
                                <small style="color: red">Occupation required</small></div> -->

                        </div>
                    </div>
                </div>


                <!-- <div class="form-row">
                    <div class="col">

                        <label class="customcheck">
                            <input type="checkbox" name="toBeCoveredUnderMediclaim"
                                [(ngModel)]="familyModel.toBeCoveredUnderMediclaim">
                            <span class="checkmark"></span>
                            Covered under mediclaim
                        </label>

                    </div>
                </div> -->

                <div class="form-row">
                    <div class="col">

                        <button type="button" [disabled]='f1.invalid || buttonDisabled || flagduplicate'
                            (click)="familyAdd(familyModel,f1)" class="btn btn-primary mr-3">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button>

                        <button type="reset" (click)="familyAddmore(f1)" class="btn btn-primary mr-3">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add More</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead class="thead-dark2">
                            <tr>
                                <th>Name</th>
                                <th>Relation</th>
                                <th>Mobile Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let family of allFamilyMemberList;let i = index">
                                <td>{{family.name}}</td>
                                <td>{{family.relation}}</td>
                                <td>{{family.contactNumber}}</td>


                                <td><i class="fa fa-pencil" (click)="edit(family,i)" aria-hidden="true"></i> <i
                                        class="fa fa-trash" data-toggle="modal" data-target="#AreYouSureDelete"
                                        (click)="deletes(i)" aria-hidden="true"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </form>

            <div class="form-group">
                <label>Employee Photo</label>

                <div class="profileview">
                    <img *ngIf="profile_Url" [src]="profile_Url" alt="Avatar">
                    <img *ngIf="!profile_Url" src="{{AssetsPath}}/propic.jpg" alt="Avatar">
                </div>
                <div class="mb-2 mt-2">
                    <label>Edit profile picture</label><br>

                    <!-- <input *ngIf="whoCliked=='HR'"  type="file"  id="fileLoader" accept="image/*" (click)="uploadFile(userPhoto)"> -->

                </div>

                <input type="file" id="fileLoader" #userPhoto accept="image/*"
                    (input)="handleFileInput($event.target.files)" name="files" title="Load File" />

            </div>

            <div class="form-row">
                <div class="col">
                    <div class="backbtn">
                        <a>Back</a>

                    </div>


                </div>

                <div class="col">
                    <button class="btn btn-primary float-right" [disabled]='f.invalid'
                        (click)="saveAllData(empPersonalModel)">Save
                        &
                        Continue</button>
                </div>
            </div>
        </div>
    </div>
</form>



<!-- ======================family delete are u shore -->

<div class="modal fade" id="AreYouSureDelete">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" (click)='DeletemodelEvent()' data-dismiss="modal"
                    class="btn btn-success">Yes</button><br>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>