<div *ngIf ="reportName == 'employeeInformationReport'">
<app-employee-information-report></app-employee-information-report>
</div>
<div *ngIf ="reportName == 'joiningUpdatesReport'">
<app-joining-updates-report></app-joining-updates-report>
</div>
<div *ngIf ="reportName == 'leavingUpdatesReport'">
<app-leaving-updates-report></app-leaving-updates-report>
</div>
<div *ngIf ="reportName == 'confirmationDueReport'">
<app-confirmation-due-report></app-confirmation-due-report>
</div>
<div *ngIf ="reportName == 'gratuityReport'">
<app-gratuity-report></app-gratuity-report>
</div>
<div *ngIf ="reportName == 'assetReport'">
<app-asset-report></app-asset-report>
</div>






    


