<div class="container">
    <div class="page-wrapper">
    
        <div class="row">
          <div class="col-md-12">
            <div class="whitebg w3-animate-left">
              <div class="newheader">
                <h4>Workforce</h4>
              </div>
              <div class="p-3">
    
                <div class="menus">
                  <ul class="list-inline ">
    
                    <li  data-toggle="dropdown" class="dropdown list-inline-item text-center" hidden>
                      <div class="menuicons dropdown-toggle" data-toggle="dropdown" hidden>
                        <img src="assets/newlayout/team.png">
                        <span>Employee <b class="caret"></b></span>
                      </div>
    
                      <ul class="dropdown-menu dropdownstyle animated flipInY">
                          <li (click)="gottoEmployee()">Employee List</li>
                        <li (click)="goto()" *ngIf="!adminLoginFlag">New Employee</li>
                        <li [routerLink]="['/layout/importemployee']" [routerLinkActive]="'active'">Import Employees</li>
                        <li [routerLink]="['/layout/deactivateemployee']" [routerLinkActive]="'active'">Deactivate Employee</li>
                        <!-- <li>New Hire</li> -->
                      </ul>
    
                    </li>
    
                    <li  class="list-inline-item text-center" *ngIf="rolename=='HR'||rolename=='Admin'">
                      <!-- <div class="menuicons" [routerLink]="['/layout/contractorOnBoarding']" [routerLinkActive]="'active'">
                        <img src="assets/onboarding.png">
                        <span>ContractorOnBoarding </span>
                      </div> -->
                    
                    <!-- <li  class="list-inline-item text-center" *ngIf="manpowerrequestFlag==true">
                      <div class="menuicons" [routerLink]="['/layout/deactivateemployee']" [routerLinkActive]="'active'">
                        <img src="assets/manpower req.png">
                        <span>Manpower Request</span>
                      </div>
    
                    </li> -->
                    <li  class="list-inline-item text-center" *ngIf="rolename=='Contractor'">
                      <div class="menuicons" [routerLink]="['/layout/contractorsDetails']" [routerLinkActive]="'active'">
                        <img src="assets/details.png">
                        <span>Contractor Details</span>
                      </div>
    
                    </li>
                    <li  class="list-inline-item text-center" *ngIf="rolename=='HR'">
                      <div class="menuicons" [routerLink]="['/layout/contractorlabourMasterList']" [routerLinkActive]="'active'">
                        <img src="assets/contractor labour.png">
                        <span>Contractor Labour Master</span>
                      </div>
                      
    
                    </li>
                    <li  class="list-inline-item text-center" *ngIf="rolename=='Contractor'||rolename=='Supervisor'">
                      <div class="menuicons" [routerLink]="['/layout/contractorLabourAdd']" [routerLinkActive]="'active'">
                        <img src="assets/contractor labour.png">
                        <span>Labour Onboarding Form </span>
                      </div>
                      
    
                    </li>
                    <li  class="list-inline-item text-center" *ngIf="rolename=='Contractor'||rolename=='Supervisor'">
                      <div class="menuicons" [routerLink]="['/layout/contractorLabourList']" [routerLinkActive]="'active'">
                        <img src="assets/contractor labour list.png">
                        <span>Resume Bank</span>
                      </div>
    
                    </li>
                    <li  class="list-inline-item text-center" *ngIf="rolename=='HR'">
                      <div class="menuicons" [routerLink]="['/layout/contractorLabourLists']" [routerLinkActive]="'active'">
                        <img src="assets/contractor labour list.png">
                        <span>Contractor Labour List</span>
                      </div>
    
                    </li>
                    <li  class="list-inline-item text-center" *ngIf="rolename=='Contractor'||rolename=='Supervisor'">
                      <div class="menuicons" [routerLink]="['/layout/contractorinfolist']" [routerLinkActive]="'active'">
                        <img src="assets/Contractor Labour Assign List.png">
                        <span> Assigned Labour List</span>
                      </div> 
    
                    </li>
                    <li  class="list-inline-item text-center" *ngIf="rolename=='Contractor'||rolename=='Supervisor'">
                      <div class="menuicons" [routerLink]="['/layout/uploadDocumet']" [routerLinkActive]="'active'">
                        <img src="assets/Document Rejected Labour List.png">
                        <span>Rejected List</span>
                      </div>
    
                    </li>
                    <li  class="list-inline-item text-center" *ngIf="rolename=='Admin'">
                      <div class="menuicons" [routerLink]="['/layout/addempStaff']" [routerLinkActive]="'active'">
                        <img src="assets/social.png">
                        <span>Role Creation </span>
                      </div>
                      <li  class="list-inline-item text-center" *ngIf="rolename=='Admin'" hidden>
                        <div class="menuicons" [routerLink]="['/layout/emloyeestaffList']" [routerLinkActive]="'active'">
                          <img src="assets/contractor labour list.png">
                          <span>Emp Staff List</span>
                        </div>
    
                    </li>
                       <!-- <li  class="list-inline-item text-center" *ngIf="rolename=='Front Desk'">
                        <div class="menuicons" [routerLink]="['/layout/FrontApproveReject']" [routerLinkActive]="'active'">
                          <img src="assets/contractor labour list.png">
                          <span>Approve Reject List</span>
                        </div>
    
                    </li> -->
                    <!-- <li  class="list-inline-item text-center" *ngIf="rolename=='Front Desk'">
                      <div class="menuicons" [routerLink]="['/layout/frontdeskApproval']" [routerLinkActive]="'active'">
                        <img src="assets/timestamp.png">
                        <span>Documents Approval List</span>
                      </div>
  
                  </li> -->
                  <!-- <li  class="list-inline-item text-center" *ngIf="rolename=='Front Desk'">
                    <div class="menuicons" [routerLink]="['/layout/safetylabourDoneList']" [routerLinkActive]="'active'">
                      <img src="assets/timestamp.png">
                      <span>Safety Done List</span>
                    </div>

                </li> -->
                  <!-- <li  class="list-inline-item text-center" *ngIf="rolename=='Medical'">
                    <div class="menuicons" [routerLink]="['/layout/medicalLabourList']" [routerLinkActive]="'active'">
                      <img src="assets/contractor labour list.png">
                      <span>Medical Approve List</span>
                    </div>

                </li> -->
                <!-- <li  class="list-inline-item text-center" *ngIf="rolename=='Front Desk'">
                  <div class="menuicons" [routerLink]="['/layout/frontdeskdocumenthistorylist']" [routerLinkActive]="'active'">
                    <img src="assets/ready.png">
                    <span>Documents Approved List</span>
                  </div>

              </li> -->
              <!-- <li  class="list-inline-item text-center" *ngIf="rolename=='Safety'">
                <div class="menuicons" [routerLink]="['/layout/safetyapproval']" [routerLinkActive]="'active'">
                  <img src="assets/ready.png">
                  <span>Safety Work</span>
                </div>

            </li>
            <li  class="list-inline-item text-center" *ngIf="rolename=='Safety'">
              <div class="menuicons" [routerLink]="['/layout/safetydoneList']" [routerLinkActive]="'active'">
                <img src="assets/ready.png">
                <span>Safety Done List</span>
              </div>
              
          </li> -->
                  
                    
                    
                    
                    
                    
<!--     
                    <li  class="list-inline-item text-center" hidden>
                      <div class="menuicons" [routerLink]="['/layout/reports']" [routerLinkActive]="'active'">
                        <img src="assets/newlayout/reportsicon.svg">
                        <span>Reports</span>
                      </div>
                    </li> -->
                    <!-- <li *ngIf="loggedUser.mrollMaster.bulkUpload" class="list-inline-item text-center">
                      <div class="menuicons" [routerLink]="['/layout/bulkuploading']" [routerLinkActive]="'active'">
                        <img src="assets/newlayout/upload.svg">
                        <span>Bulk Upload</span>
                      </div>
                    </li>
     -->
                    <!-- <li class="list-inline-item ">
                      <div class="menuicons">
                        <img src="assets/newlayout/book.svg">
                        <span>Employee Directory</span>
                      </div>
                    </li> -->

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    