<div class="row justify-content-center">
  <div class="col-md-12">
      <div class="edit" *ngIf="whoCliked=='HR'">
        <a [routerLink]="['/layout/pimshr/details']" (click)="click()" [queryParams]="{q:'education'}">Edit Details</a>
      </div>

    </div>
  <div class="col-md-6">
    <div class="data-title">
      <h6>Official details</h6>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="p-2">

          <div class="form-row pb-3">
            <div *ngIf="costCenterName" class="col-md-6 col-xs-12">
              <span class="headings">Cost Center Number</span>
              <br>
              <span class="detaildata">{{costCenterName}}</span>
            </div>
            <div *ngIf="business" class="col-md-6 col-xs-12">
              <span class="headings">Business Group</span>
              <br>
              <span class="detaildata">{{business}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
              <div  *ngIf="functionUnitName" class="col-md-6 col-xs-12">
                <span class="headings">Function Unit</span>
                <br>
                <span class="detaildata">{{functionUnitName}}</span>
              </div>
              <div  *ngIf="deptName" class="col-md-6 col-xs-12">
                <span class="headings">Department</span>
                <br>
                <span class="detaildata">{{deptName}}</span>
              </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="subDeptName"  class="col-md-6 col-xs-12">
              <span class="headings">Sub Department</span>
              <br>
              <span class="detaildata">{{subDeptName}}</span>
            </div>
            <div *ngIf="locationName" class="col-md-6 col-xs-12">
              <span class="headings">Location</span>
              <br>
              <span class="detaildata">{{locationName}}</span>
            </div>
          </div>
          <div class="form-row pb-3">
            <div  *ngIf="empRole" class="col-md-6 col-xs-12">
              <span class="headings">Employee Role</span>
              <br>
              <span class="detaildata">{{empRole}}</span>
            </div>
            <div *ngIf="descName" class="col-md-6 col-xs-12">
              <span class="headings">Designation</span>
              <br>
              <span class="detaildata">{{descName}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="gradeName" class="col-md-6 col-xs-12">
              <span class="headings">Grade Name</span>
              <br>
              <span class="detaildata">{{gradeName}}</span>
            </div>
            <div  *ngIf="employmentType" class="col-md-6 col-xs-12">
              <span class="headings">Employeement Type</span>
              <br>
              <span class="detaildata">{{employmentType}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div  *ngIf="subEmploymentType" class="col-md-6 col-xs-12">
              <span class="headings">Sub-Employeement Type</span>
              <br>
              <span class="detaildata">{{subEmploymentType}}</span>
            </div>
            <div *ngIf="empTypeNamecat" class="col-md-6 col-xs-12">
              <span class="headings">Employee Category</span>
              <br>
              <span class="detaildata">{{empTypeNamecat}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="subEmpTypeName" class="col-md-6 col-xs-12">
              <span class="headings">Sub Employee Category</span>
              <br>
              <span class="detaildata">{{subEmpTypeName}}</span>
            </div>
            <div *ngIf="skillCatagory" class="col-md-6 col-xs-12">
              <span class="headings">Skill Category</span>
              <br>
              <span class="detaildata">{{skillCatagory}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="startDateOfTraining" class="col-md-6 col-xs-12">
              <span class="headings">Start Date of Training</span>
              <br>
              <span class="detaildata">{{startDateOfTraining}}</span>
            </div>
            <div *ngIf="endDateOfTraining" class="col-md-6 col-xs-12">
              <span class="headings">End Date of Training</span>
              <br>
              <span class="detaildata">{{endDateOfTraining}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="extensionDateOfTraining" class="col-md-6 col-xs-12">
              <span class="headings">Extension Date of Training</span>
              <br>
              <span class="detaildata">{{extensionDateOfTraining}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="startDateOfprobation" class="col-md-6 col-xs-12">
              <span class="headings">Start Date of Probation</span>
              <br>
              <span class="detaildata">{{startDateOfprobation}}</span>
            </div>
            <div  *ngIf="probationPeriod" class="col-md-6 col-xs-12">
              <span class="headings">Probation Period Required</span>
              <br>
              <span class="detaildata">{{probationPeriod}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="expectedendDAteOfConfirmation" class="col-md-6 col-xs-12">
              <span class="headings">Expected Date of Confirmation</span>
              <br>
              <span class="detaildata">{{expectedendDAteOfConfirmation}}</span>
            </div>
            <div *ngIf="dateOfConfirmation" class="col-md-6 col-xs-12">
              <span class="headings">Date of Confirmation</span>
              <br>
              <span class="detaildata">{{dateOfConfirmation}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="firstLevelReportingManager" class="col-md-6 col-xs-12">
              <span class="headings">First Level Reporting Manager</span>
              <br>
              <span class="detaildata">{{firstLevelReportingManager}}</span>
            </div>
            <div *ngIf="secondLevelReportingManager" class="col-md-6 col-xs-12">
              <span class="headings">Second Level Reporting Manager</span>
              <br>
              <span class="detaildata">{{secondLevelReportingManager}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="thirdLevelReportingManager" class="col-md-6 col-xs-12">
              <span class="headings">Third Level Reporting Manager</span>
              <br>
              <span class="detaildata">{{thirdLevelReportingManager}}</span>
            </div>
            <div class="col-md-6 col-xs-12">
              <span class="headings">Sanctioning Authority</span>
              <br>
              <span class="detaildata" *ngIf="sanctioningAuthority">Yes</span>
              <span class="detaildata" *ngIf="!sanctioningAuthority">No</span>
            </div>
          </div>

        </div>

      </div>

    </div>


    <div class="data-title">
      <h6>Attendance details</h6>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="p-2">
          <div class="form-row pb-3">
            <div *ngIf="shiftType" class="col-md-6 col-xs-12">
              <span class="headings">Shift Type</span>
              <br>
              <span class="detaildata">{{shiftType}}</span>
            </div>
            <div *ngIf="shiftGroupName" class="col-md-6 col-xs-12">
              <span class="headings">Shift Group</span>
              <br>
              <span class="detaildata">{{shiftGroupName}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="shiftName" class="col-md-6 col-xs-12">
              <span class="headings">Shift Details</span>
              <br>
              <span class="detaildata">{{shiftName}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="weeklyOffType" class="col-md-6 col-xs-12">
              <span class="headings">Weekly off type</span>
              <br>
              <span class="detaildata">{{weeklyOffType}}</span>
            </div>
            <div *ngIf="calenderName" class="col-md-6 col-xs-12">
              <span class="headings">Weekly off Calendar</span>
              <br>
              <span class="detaildata">{{calenderName}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div class="col-md-6 col-xs-12">
              <span class="headings">Single Punch Present Consideration</span>
              <br>
              <span class="detaildata" *ngIf='singlePunchPresent == true'>Yes</span>
              <span class="detaildata" *ngIf='singlePunchPresent == false'>No</span>
            </div>
            <div class="col-md-6 col-xs-12">
              <span class="headings">Negative Attendance Allowed</span>
              <br>
              <span class="detaildata" *ngIf='negativeAttendenceAllowed == true'>Yes</span>
              <span class="detaildata" *ngIf='negativeAttendenceAllowed == false'>No</span>
            </div>
          </div>

          
    <div class="data-title">
        <h6>Salary Details</h6>
      </div>
  
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="p-2">
  
            <div class="form-row pb-3">
              <div *ngIf="Alldata.applicableDate" class="col-md-6 col-xs-12">
                <span class="headings">Applicable Date</span>
                <br>
                <span class="detaildata">{{Alldata.applicableDate | date :'dd-MMM-yyyy'}}</span>
              </div>
              <!-- <div class="col-md-6 col-xs-12">
                <span class="headings">Dynamic Field From Pay Head Master</span>
                <br>
                <span class="detaildata">Yes (1-2-2019)</span>
              </div> -->
            </div>
  
            <div class="row border justify-content-center" *ngFor = "let payhed of empPayRollHeadCtcDetailList">
                <div *ngIf="payhed.payRollHeadName" class="col-md-6 col-xs-12">
                <span class="headings">Field From Pay Head Master</span>
                <br>
                <span class="detaildata">{{payhed.payRollHeadName}}</span>
              </div>
              <div *ngIf="payhed.amount" class="col-md-6 col-xs-12">
                <span class="headings">Amount</span>
                <br>
                <span class="detaildata">{{payhed.amount}}</span>
              </div>
            </div>
  
          </div>
  
        </div>
  
      </div>
        
          <div class="data-title">
            <h6>Statutory Data</h6>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="payGroupName" class="col-md-6 col-xs-12">
              <span class="headings">Pay Group</span>
              <br>
              <span class="detaildata">{{payGroupName}}</span>
            </div>
            <div class="col-md-6 col-xs-12">
              <span class="headings">Variable Pay</span>
              <br>
              <span class="detaildata" *ngIf="variablePay == true">Yes</span>
              <span class="detaildata" *ngIf="variablePay == false">No</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="ptApplcable" class="col-md-6 col-xs-12">
              <span class="headings">PT Applicable</span>
              <br>
              <span class="detaildata">{{ptApplcable}}</span>
              <!-- <span class="detaildata" *ngIf="ptApplcable == false">No</span> -->
            </div>

            <!-- <div class="col-md-6 col-xs-12">
              <span class="headings">PT Location</span>
              <br>
              <span class="detaildata">{{ptLocation}}</span>
            </div> -->

            <div *ngIf="pfApplicable" class="col-md-6 col-xs-12">
              <span class="headings">PF Applicable</span>
              <br>
              <span class="detaildata">{{pfApplicable}}</span>
              <!-- <span class="detaildata" *ngIf="pfApplicable == false">No</span>  this is comment line-->
             </div> 
          </div>

          <div *ngIf="pfNumber" class="form-row pb-3">
            <div  class="col-md-6 col-xs-12">
              <span class="headings">PF Number</span>
              <br>
              <span class="detaildata">{{pfNumber}}</span>
            </div>
          </div>

          <div  *ngIf="ptLocation" class="form-row pb-3">
            <div class="col-md-6 col-xs-12">
              <span class="headings">PT Location</span>
              <br>
              <span class="detaildata">{{ptLocation}}</span>
            </div>

            <!-- <div class="col-md-6 col-xs-12">
              <span class="headings">PF Applicable</span>
              <br>
              <span class="detaildata">{{pfApplicable}}</span>
               <span class="detaildata" *ngIf="pfApplicable == false">No</span> -->
            <!-- </div>  -->

            <div *ngIf="payMode" class="col-md-6 col-xs-12">
              <span class="headings">Pay Mode</span>
              <br>
              <span class="detaildata">{{payMode}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="esicApplicable" class="col-md-6 col-xs-12">
              <span class="headings">ESIC Applicable</span>
              <br>
              <span class="detaildata">{{esicApplicable}}</span>
              <!-- <span class="detaildata" *ngIf="esicApplicable == false">No</span> -->
            </div>
            <div *ngIf="esicNumber" class="col-md-6 col-xs-12">
              <span class="headings">ESIC Number</span>
              <br>
              <span class="detaildata">{{esicNumber}}</span>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="data-title">
        <h6>Offer Letter Details</h6>
      </div>
  
  
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="p-2">
  
            <div class="form-row pb-3">
              <div *ngIf="dateOfOffer" class="col-md-6 col-xs-12">
                <span class="headings">Date Of Offer</span>
                <br>
                <span class="detaildata">{{dateOfOffer}}</span>
              </div>
              <div  *ngIf="position" class="col-md-6 col-xs-12">
                <span class="headings">Position</span>
                <br>
                <span class="detaildata">{{position}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <div *ngIf="offeredBy"  class="col-md-6 col-xs-12">
                <span class="headings">Offered By</span>
                <br>
                <span class="detaildata">{{offeredBy}}</span>
              </div>
              <div  *ngIf="confirmationDueDate1" class="col-md-6 col-xs-12">
                <span class="headings">Confirmation Due Date</span>
                <br>
                <span class="detaildata">{{confirmationDueDate1}}</span>
              </div>
            </div>
            <div class="form-row pb-3">
              <div *ngIf="packageAccordingToOffer" class="col-md-6 col-xs-12">
                <span class="headings">Package according To offer</span>
                <br>
                <span class="detaildata">{{packageAccordingToOffer}}</span>
              </div>
              <div *ngIf="status" class="col-md-6 col-xs-12">
                <span class="headings">Status</span>
                <br>
                <span class="detaildata">{{status}}</span>
              </div>
            </div>
  
          </div>
  
        </div>
  
      </div>

  </div>
</div>



<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="data-title">
      <h6>Joining Details</h6>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="p-2">

          <div class="form-row pb-3">
            <div *ngIf="dateOfJoining" class="col-md-6 col-xs-12">
              <span class="headings">Date of Joining</span>
              <br>
              <span class="detaildata">{{dateOfJoining}}</span>
            </div>
            <div *ngIf="dateOfConfirmationemp" class="col-md-6 col-xs-12">
              <span class="headings">Date Of Confirmation</span>
              <br>
              <span class="detaildata">{{dateOfConfirmationemp}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div class="col-md-6 col-xs-12">
              <span class="headings">Is joined</span>
              <br>
              <span class="detaildata" *ngIf="isJoined == true">Yes</span>
              <span class="detaildata" *ngIf="isJoined == false">No</span>
            </div>
           
          </div>

          <div class="form-row pb-3">
            <div class="col-md-6 col-xs-12">
              <span class="headings">Document's submitted</span>
              <br>
              <span class="detaildata" *ngIf="documentsSubmitted == true">Yes</span>
              <span class="detaildata" *ngIf="documentsSubmitted == false">No</span>
            </div>
            <div class="col-md-6 col-xs-12">
              <span class="headings" >Document's Verified</span>
              <br>
              <span class="detaildata" *ngIf="documentsVerified == true">Yes</span>
              <span class="detaildata" *ngIf="documentsVerified == false">No</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div class="col-md-6 col-xs-12">
              <span class="headings">Appointment Letter is Processed</span>
              <br>
              <span class="detaildata" *ngIf="appointmentLetterIsProcessed == true">Yes</span>
              <span class="detaildata" *ngIf="appointmentLetterIsProcessed == false">No</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="data-title">
      <h6>Verification Reference</h6>
    </div>

    <div class="row border justify-content-center" *ngFor="let ref of verificationRefference">
      <div class="col-md-12">
        <div class="p-2">

          <div class="form-row pb-3">
            <div *ngIf="ref.nameOfTheReference" class="col-md-6 col-xs-12">
              <span class="headings">Name Of The Reference</span>
              <br>
              <span class="detaildata">{{ref.nameOfTheReference}}</span>
            </div>
            <div *ngIf="ref.companyName" class="col-md-6 col-xs-12">
              <span class="headings">Company Name</span>
              <br>
              <span class="detaildata">{{ref.companyName}}</span>
            </div>
          </div>

          <div class="form-row pb-3">
            <div *ngIf="ref.contactNo" class="col-md-6 col-xs-12">
              <span class="headings">Contact Number</span>
              <br>
              <span class="detaildata">{{ref.contactNo}}</span>
            </div>
            <div *ngIf="ref.emailId" class="col-md-6 col-xs-12">
              <span class="headings">Email ID</span>
              <br>
              <span class="detaildata">{{ref.emailId}}</span>
            </div>
          </div>
          <div class="form-row pb-3">
            <div *ngIf="ref.feedbackReceived" class="col-md-6 col-xs-12">
              <span class="headings">Feedback Recieved</span>
              <br>
              <span class="detaildata">{{ref.feedbackReceived}}</span>
            </div>
            <div *ngIf="ref.strengths" class="col-md-6 col-xs-12">
              <span class="headings">Strengths</span>
              <br>
              <span class="detaildata">{{ref.strengths}}</span>
            </div>
          </div>
          <div class="form-row pb-3">
            <div *ngIf="ref.areasOfImprovement" class="col-md-6 col-xs-12">
              <span class="headings">Area OF Improvement</span>
              <br>
              <span class="detaildata">{{ref.areasOfImprovement}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="data-title">
      <h6>Personal Resources</h6>
    </div>

    <div class="row border justify-content-center" *ngFor = "let res of resources">
      <div class="col-md-12">
        <div class="p-2">

          <div class="form-row pb-3">
            <div *ngIf="res.resourceName" class="col-md-6 col-xs-12">
              <span class="headings">Resource Name</span>
              <br>
              <span class="detaildata">{{res.resourceName}}</span>
            </div>
            <div *ngIf="res.givenDate" class="col-md-6 col-xs-12">
              <span class="headings">Resource Date Of Issue</span>
              <br>
              <span class="detaildata">{{res.givenDate}}</span>
            </div>
          </div>
          <div class="form-row">
            <div *ngIf="res.resourceDesc" class="col">
              <div class="form-group">
                <span class="headings">Resource Description</span>
                <br>
                <!-- <input class="form-control form-control-sm" type="text" disabled> -->
                <span class="detaildata">{{res.resourceDesc}}</span>
              </div>


              <!-- <div class="form-group">
                <span class="headings">Resource Serial Number </span>
                <br>
                <input class="form-control form-control-sm" type="text" disabled> commit line -->
                <!-- <span class="detaildata">{{res.resourceDesc}}</span> -->
              <!-- </div> -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="data-title">
        <h5>Government Information</h5>
      </div> -->
      <!-- <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="p-2">
    
              <div class="form-row pb-3">
                <div class="col-md-6 col-xs-12">
                  <span class="headings">PAN Number</span>
                  <br>
                  <span class="detaildata">12345asdf</span>
                </div>
                <div class="col-md-6 col-xs-12">
                  <span class="headings">Adhar Number</span>
                  <br>
                  <span class="detaildata">12345143645</span>
                </div>
              </div>
              <div class="form-row pb-3">
                <div class="col-md-6 col-xs-12">
                  <span class="headings">UAN Number</span>
                  <br>
                  <span class="detaildata">123AD156AS</span>
                </div>
                <div class="col-md-6 col-xs-12">
                  <span class="headings">Passport Number</span>
                  <br>
                  <span class="detaildata">8965362</span>
                </div>
              </div>
    
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="drvlsc">Driving License Number</label>
                    <input class="form-control form-control-sm" type="text">
                  </div>
                </div>
              </div>

              <div class="form-row pb-3">
                <div class="col-md-6 col-xs-12">
                  <span class="headings">Social Security Number</span>
                  <br>
                  <span class="detaildata">123AD156AS</span>
                </div>
                <div class="col-md-6 col-xs-12">
                  <span class="headings">Citizenship</span>
                  <br>
                  <span class="detaildata">8965362</span>
                </div>
              </div>

              <div class="form-row pb-3">
                <div class="col-md-6 col-xs-12">
                  <span class="headings">Are You NRI</span>
                  <br>
                  <span class="detaildata">123AD156AS</span>
                </div>
                
              </div> -->
              
    
              <div class="form-row">
                  <div class="col">
                    <div class="backbtn">
                      <a>Back</a>
                    </div>
                  </div>
                  <div class="col">
                    <button class="btn btn-primary float-right" (click)="GotoNext()">Next</button>
                  </div>
                </div>

             <!-- </div>
    
          </div>
    
        </div>  -->
  </div>
</div>
