<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>New Approval <div class="page-title-subheading">Here you can change approval when original approval
                  on Leave </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">
          <ul [ngClass]="themeColor" class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-left: -19px;
          margin-right: -17px;">
            <li class="nav-item" >
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" > Divert</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">REVOKE List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile1" role="tab" aria-controls="pills-profile" aria-selected="false">Diverted Employee List</a>
            </li>
            <!-- <li class="nav-item">
          <a class="nav-link" id="pills-suggest-tab" data-toggle="pill" href="#pills-suggest" role="tab"
            aria-controls="pills-profile" aria-selected="false">Leave Suggestion</a>
        </li> -->
          </ul>
          <div class="tab-content" id="pills-tabContent" >
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div>
            <h3> Divert Application</h3>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-4">
              <!-- (ngSubmit)="f.form.valid && processAttendance()" #f="ngForm" novalidate -->
              <form name="form" (ngSubmit)="f.form.valid && saveToDrivertApplication(f)"   novalidatename="form"  #f="ngForm" novalidate>
                <div>
                  <label>Divert to <span style="color: red">*</span></label>
                  <div class="form-group">
                  <select class="form-control"  (change)="selectedvalue($event)" >
                    <option hidden value="">Select Employee </option>
                    <option  *ngFor="let emplist of allEmpsdatas" value="{{emplist.empId}}">{{emplist.fullName}} {{emplist.lastName}}</option>
                  </select>
                </div>
                </div>
                <br>
                <div>
                  <label>From Date <span style="color: red">*</span> </label>
                  <div class="form-group">
                  <input type="date" min="{{today | date:'yyyy-MM-dd'}}" name="date" [(ngModel)]="fromdate" (ngModelChange)="selectFromDate($event)" class="form-control" required>
                </div>
                </div>
                <br>
                <!-- <div>
                  <label>To Date</label>
                  <input type="date" name="todate" [(ngModel)]="todate" class="form-control" (ngModelChange)="selectToDate($event)">
                </div> -->
                <br>
                <!-- <div>
                  <label>Reason</label>
                  <input type="text" class="form-control"   name="remarks" [(ngModel)]="remarks">

                </div> -->
                <br>
                <div style="float: right;">
                  <button class="btn btn-primary" type="submit" [disabled]="(f.invalid)">save</button>
                </div>
              </form>

            </div>


          </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
         
              <div class="row" style="margin-top: 70px;">
                <div class="table-responsive">
            
                  <table id="otapprovelisttable" class="table table-striped table-bordered" style="width:100%">
                    <thead class="thead-dark">
                      <tr>
                        <th class="center-text">Sr.No</th>
                        <!-- <th>Emp Id</th>-->
                        <th class="center-text">Emp Id</th>
                        <th class="center-text">Diverted Approved Name</th>
                        <th class="center-text">From Date</th>
                        <th class="center-text">Revoke</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of allListdata; let s=index" >
                        <td class="center-text">{{s+1}}</td>
                        <td class="center-text">{{item.divertAuthorityEmpId}}</td>
                        <td class="center-text">{{item.divertAuthorityLastName}} {{item.divertAuthorityName}}</td>
                       
                        <td class="center-text">{{item.divertFromDate| date: 'MM/dd/yyyy'}}</td>
                      
                        <td class="center-text"> <label class="switch mt-2" style="width: 45px;
                          height: 20px;margin-right: 14px;">
                            <!-- [(ngModel)]="ConfigurationData.isSOffApplicable" #applicableType='ngModel' -->
                            <input  type="checkbox" (click)="changeApproval(item)">
                           
                             <!-- ngModel={{isChecked}} -->
                            <span class="slider round" id="align-slide"></span>
                          </label>           
  </td>
                        
                        
                      </tr>
            
                    </tbody> 
                  </table>
            
                 
               
              </div>
              
              </div>
            
            </div>


            <!--here is new tab-->
            <div class="tab-pane fade" id="pills-profile1" role="tabpanel" aria-labelledby="pills-profile-tab">
         
              <div class="row" style="margin-top: 70px;">
                <div class="table-responsive">
            
                  <table id="otapprovelisttable" class="table table-striped table-bordered" style="width:100%">
                    <thead class="thead-dark">
                      <tr>
                        <th class="center-text">Sr.No</th>
                        <!-- <th>Emp Id</th>-->
                        <th class="center-text">Emp Id</th>
                        <th class="center-text">Employee Name</th>
                        <th class="center-text">Divert From Date</th>
                        <th class="center-text">Revoke Date</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let items of allListdatas; let s=index" >
                        <td class="center-text">{{s+1}}</td>
                        <td class="center-text">{{items.divertAuthorityEmpId}}</td>
                        <td class="center-text">{{items.divertAuthorityName}} {{items.divertAuthorityLastName}}</td>
                       
                        <td class="center-text">{{items.divertFromDate| date: 'MM/dd/yyyy'}}</td>
                        <td class="center-text">{{items.revoke| date: 'MM/dd/yyyy'}}</td>
                       
                        
                        
                      </tr>
            
                    </tbody> 
                  </table>
            
                 
               
              </div>
              
              </div>
            
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
