<div class="container-fluid">
  <div class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Late Coming Report </strong> &nbsp;
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Late Coming Report From Date: </strong></span>{{fromDate | date :
            'dd-MMM-yyyy'}}<span class="blu"><strong> To:</strong></span> {{toDate | date : 'dd-MMM-yyyy'}}</h6>
        </div>
      </div>
      <div id="content" class="col-md-10">
        <table id="late_employees" class="table table-space table-borderless">
          <thead>
            <tr *ngIf="isexcel" style="text-align: center !important;">
              <th colspan="7">{{compName}}</th>
            </tr>
            <tr *ngIf="isexcel" style="text-align: center !important;">
              <th colspan="7">Late Coming Report</th>
            </tr>
            <tr *ngIf="isexcel">
              <th colspan="7">From Date : {{fromDate | date :'dd/MMM/yyyy'}} To : {{toDate | date :'dd/MMM/yyyy'}}</th>
            </tr>
            <tr *ngIf="isexcel">
              <th colspan="7">Report Date: {{report_time}}</th>
            </tr>
            <tr class="table-secondary">
              <th *ngIf="marked">Sr.No.</th>
              <th *ngIf="marked1">Attendance Date</th>
              <th *ngIf="marked2">Shift In Time</th>
              <th *ngIf="marked3">Shift Out Time</th>
              <th *ngIf="marked4">In Time</th>
              <th *ngIf="marked5">Out Time</th>
              <th *ngIf="marked6">Late Duration (HH:MM)</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of late_data; let i = index">
            <tr >
              <td colspan="7" style="font-weight:600; text-align:center">
                Employee ID: {{item.emp_details[0].empId}},Employee Name: {{item.emp_details[0].fullName}} {{item.emp_details[0].lastName}}, Department: {{item.emp_details[0].deptName}}, Designation : {{item.emp_details[0].descName}}
              </td>
            </tr>
            <tr *ngFor="let temp of item.emp_details; let i = index">
              <td *ngIf="marked">{{i + 1}}</td>
              <td *ngIf="marked1">{{temp.attenDate}}</td>
              <td *ngIf="marked2"><span *ngIf="getInTime(temp.inTime)"></span>{{in_time}}</td>
              <td *ngIf="marked3"><span *ngIf="getOutTime(temp.endTime)">{{out_time}}</span></td>
              <td *ngIf="marked4">{{temp.checkIn1}}</td>
              <td *ngIf="marked5">{{temp.checkOut1}}</td>
              <td *ngIf="marked6">{{getTimeFromMins(temp.duration)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
        <div class="columnshead">
          <h6>Select Columns:</h6>
          <label class="container">
            <input type="checkbox" [(ngModel)]="srnoCheckbox" data-md-icheck (change)="toggleVisibility($event)" />
            Sr. No.
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="attendencecheckbox" data-md-icheck
              (change)="toggleVisibility1($event)" />
            Attendance Date
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="shiftintimeCheckbox" data-md-icheck
              (change)="toggleVisibility2($event)" />
            Shift In-Time
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="shiftouttimeCheckbox" data-md-icheck
              (change)="toggleVisibility3($event)" />
            Shift Out-Time
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="intimeCheckbox" data-md-icheck (change)="toggleVisibility4($event)" />
            In-Time
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="outtimeCheckbox" data-md-icheck (change)="toggleVisibility5($event)" />
            Out-Time
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="latedurationChecckbox" data-md-icheck
              (change)="toggleVisibility6($event)" />
            late Duration
            <span class="checkmark"></span>
          </label>

          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i
              class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX('late_employees')"><i
              class="fa fa-file-excel-o" aria-hidden="true"></i>Export Report Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>