/*  
.whitebg{
    margin-top: 1rem;
    width: 100%;
    background-color: white;
    border-radius: .375rem;
    box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
    line-height: 1.25rem;
    font-weight: 700;
    margin-bottom: 0;
    min-height:500px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
  
  }
  .page-title-subheadings{
    opacity: none;
    font-size: 13px;
  }
  .heading h5{
  font-weight:600;
  font-family: 'Josefin Sans', sans-serif;
  font-size:1.5rem !important;
  margin:1rem;
  }
  
  .menus {
    display: flex;
    flex-wrap: wrap;
    margin-top:3%;
    justify-content: center;
    position: static;
    text-align: -webkit-auto;
    user-select: none;
  }
  .menuicons img{
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    width: 60px;
    text-align: center;
  }
  .menuicons{
    align-items: center;
    flex-flow: column nowrap;
    height: 100%;
    position: relative;
    width: 100%;
  }
  .menuicons span{
  font-size:14px;
  }
  
  .menuicons:hover img{
  -webkit-transform: scale(1.08);
    transform: scale(1.08);
  transition: all 0.3s;
  }
  .list-inline-item{
    cursor:pointer;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 1;
    padding-bottom: 3rem;
    position: relative;
    width: 200px;
    text-align: center;
  }
  .dropdownstyle{
  border: 1px solid #f1f1f1;
    font-size: small;
    padding: 0.5rem;
    box-shadow: 0px 14px 20px -10px #7b7b7b;
    top:auto !important;
  }
  
  .dropdownstyle li{
  padding:5px;
  
  }
  .newheaders{
  background-color: #0747a6;
  color: honeydew;
  padding: 0.5rem;
  
  border-top-left-radius: 11px;
  border-top-right-radius: 11px
  }
  
  .dropdownstyle li:hover{
  background:#343a40;
  color:white;
  border-radius:5px;
  }
   */
  
  


   /* new code  */
   .btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.btn-outline-primary:focus {
    color:white;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
    background-color: #007bff !important;
}

.dnldlink{
    color:rgb(45, 143, 255);
    text-decoration: underline;
}


.reportsform{
    border-radius: 0.375rem;
    padding: 1rem !important;
    background: rgb(247, 247, 247);
}
.reportsview{
    padding:1rem;

}
.min-height{
    min-height:620px;
}
.reportsbox img{
    padding-top:15%;
    padding-left:35%;
}

/* NEW CSS STARTS */
.selectCategory-item{
    position: relative;
    z-index: 2;
}
.selectCategory .list-group-item{
margin-bottom: 10px;
width: 92%;
    padding: 1.75rem 1.25rem !important; 
    background-color: rgb(4, 7, 14);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border: none !important;
    background-image: url('../../assets/reportcatbg.jpg');
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: transform .2s, -webkit-transform .2s;
}
.selectCategory .list-group-item label{
    font-size: 1rem;
    }
.selectCategory .list-group-item:hover{
cursor: pointer;
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
        /* -webkit-transform: scale(1.08);
        transform: scale(1.08); */
    }
    .selectCategory .list-group-item.active{
        cursor: pointer;
                -webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
                filter: grayscale(0%) !important;
            }
.min-height-400{
    min-height: 400px;
}
.selectedFilterlist .list-group-item{
    border: none !important;
}
.selectedFilterlist .custom-control{
    padding-top:3px !important;
}

.selectCategory-item:hover .backpaper{
    position: absolute;
    box-shadow: 1px 6px 11px 0px grey;
    top: -10px;
    z-index: -2;
    color: black;
    background: #ffdf00;
    padding: 5px;
    border-radius: 4px;
    height: 53px;
    text-align: right;
    width: 46px;
    right: 15px;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    /* -webkit-transform: skew(-30deg, 0deg); */
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(35deg);
    -webkit-transition: 0.5s; /* Safari prior 6.1 */
    transition: 0.5s;
}


.backpaper{
    position: absolute;
    top: 3px;
    z-index: -2;
    color: black;
    background: #ffdf00;
    padding: 5px;
    border-radius: 4px;
    height: 53px;
    text-align: right;
    width: 46px;
    right: 30px;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(20deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s; /* Safari prior 6.1 */
    transition: 0.5s;
}
/* NEW CSS ENDS */



    .almostready{
        text-align: center;
    }
    .almostready img{
       width:400px;
    }

    /* li {
        float: left;
      }
   
   */
