<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-file-excel-o bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Reports
                <div class="page-title-subheading"> Generate report department wise, category wise & employee wise from
                  selected date slot.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height">
          <!-- NEW REPORTS DESIGN STARTS -->
          <div class="row justify-content-between">
            <div class="col-md-3">
              <div>
                <div class="selectCategory">
                  <div class="selectCategory-item">
                    <a class="list-group-item d-flex justify-content-between align-items-center" input type="radio"
                      id="ww attendance" name="report" value="attendance">
                      <label class="form-check-label" for="attendance">Attendance</label>
                      <small>03 Reports</small>
                    </a>
                    <div class="backpaper">03</div>
                  </div>


                  <!--Ar Request Report-->
                  <div class="selectCategory-item">
                    <a class="list-group-item d-flex justify-content-between align-items-center" input type="radio"
                      id="ww attendance" name="report" value="ArRequest">
                      <label class="form-check-label" for="ArRequest">Ar Request Report</label>
                      <small>03 Reports</small>
                    </a>
                    <div class="backpaper">03</div>
                  </div>

                  <!-- contractor -->
                  <div class="selectCategory-item">
                    <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                      <label class="form-check-label" for="leave">Contractor Reports</label>
                      <small>4 Reports</small>
                    </a>
                    <div class="backpaper">4</div>
                  </div>


                  <!-- contractor -->

                  <!-- Leave Reports Start -->
                  <div class="selectCategory-item">
                    <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
                      input type="radio" id="ww leave" name="report" value="leave">
                      <label class="form-check-label" for="leave">Leave</label>
                      <small>04 Reports</small>
                    </a>
                    <div class="backpaper">
                      4
                    </div>
                  </div>

                  <!-- Leave Reports Dropdown End -->
                  <div class="selectCategory-item">
                    <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
                      onclick="reportType('workforce')">
                      <label class="form-check-label" for="workforce">Workforce</label>
                      <small> 06 Reports</small>
                    </a>
                    <div class="backpaper">
                      6
                    </div>
                  </div>

                  <!-- Workforce Reports End -->

                  <!-- START of Invite Visitor Reports -->
                  <div class="selectCategory-item">
                    <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                      <label class="form-check-label" for="leave">Invite Visitor</label>
                      <small>4 Reports</small>
                    </a>
                    <div class="backpaper">4</div>
                  </div>

                  <!-- END of Invite Visitor Reports -->

                  <!-- START of Query Raised Reports -->
                  <div class="selectCategory-item">
                    <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                      <label class="form-check-label" for="leave">Query Raised</label>
                      <small>1 Report</small>
                    </a>
                    <div class="backpaper">1</div>
                  </div>

                  <!-- END of Query Raised Reports -->




                  <div class="selectCategory-item">
                    <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                      <label class="form-check-label" for="leave">Expense Reports</label>
                      <small>2 Reports</small>
                    </a>
                    <div class="backpaper">2</div>
                  </div>


                </div>

              </div>
            </div>
            <div class="col-md-9">
              <router-outlet></router-outlet>
              <div class="col-md-9">
                <div class="ml-3">
                  <div class="row justify-content-between">
                    <div class="col-md-3">
                      <div class="form-group">
                        <select class="form-control form-control-sm" id="sel1" name="sreport">
                          <option hidden value="Select">Select Report</option>
                          <option value="Absent Report">Absent Report</option>
                          <option value="Attendence Report">Attendance Report</option>
                          <option value="Working Duration Report">Working Duration Report</option>

                          <option value="Multiple Punches Report">Multiple Punches Report</option>
                          <option value="Late Coming Report">Late Coming Report</option>
                          <option value="Early Going Report">Early Going Report</option>
                          <option value="Monthly Overtime Report">Monthly Overtime Report</option>
                          <option value="COff Entry Report">COff Entry Report</option>
                          <option value="Payroll Report">Payroll Report</option>
                          <option value="Attendance Summary Report">Attendance Summary Report</option>
                        </select>
                        <div class="help-block">
                          <!-- <small
                        style="color: red">Please Select Report </small>  -->
                        </div>
                      </div>
                      <div class="form-group">
                        <!-- <select class="form-control form-control-sm" id="sel1" name="sreport" 
                      >
                        <option hidden value="Select">Select Report</option>
                        <option value="Absent Report">Absent Report</option>
                        <option value="Attendence Report">Attendance Report</option>
                        <option value="Working Duration Report">Working Duration Report</option>
                      </select> -->
                        <div class="help-block">
                          <!-- <small style="color: red">Please Select Report </small>  -->
                        </div>
                      </div>

                      <!-- Leave Reports Dropdown Start -->
                      <div class="form-group">
                        <!-- <select class="form-control form-control-sm" id="sel1" name="sreport" >
                        <option hidden value="Select">Select Leave Report</option>
                        <option value="Leave Register Report">Leave Register Report</option>
                        <option value="Leave Taken Report">Leave Taken Report</option>
                        <option value="Leave Taken Report InCount">Leave Taken InCount Report </option>
                        <option value="Leave balance report">Leave Balance Report</option>
                        <option value=" Leave credit report">Leave Credit Report</option> 
                        <option value="Leave encashment report">Leave Encashment Report</option>
                      </select> -->
                        <div class="help-block">
                          <!-- <small
                        style="color: red">Please Select Report </small>-->
                        </div>
                      </div>

                      <!--Ar request Report-->
                      <div class="form-group">
                        <!-- <select class="form-control form-control-sm" id="sel1" name="sreport" 
                     >
                        <option hidden value="Select">Select ArRequest Report</option>
                        <option value="Miss Punch Request Report">Miss Punch Request Report</option>
                        <option value="Permission Request">Permission Request</option>
                        <option value="Late Coming & Early Going">Late Coming & Early Going</option>
                        <option value="On Dutys">On Duty</option>
                        <option value="Work From Home">Work From Home</option>
                        <option value="Extra Work Request">Extra Work Request</option>
                        <option value="Leave Request Report">Leave Request Report</option>
                       
                      </select> -->
                        <div class="help-block">
                          <!-- <small
                        style="color: red">Please Select Report </small>-->
                        </div>
                      </div>
                      <!-- Leave Reports Dropdown End -->
                      <!-- Select for WorkForce reports -->

                      <div class="form-group">
                        <!-- <select class="form-control form-control-sm" id="sel1" name="sreport">
                        <option hidden value="Select">Select Report</option>
                        <option value="Employee Information Report">Employee Information Report</option>
                        <option value="Joining Updates Report">Joining Updates Report</option>
                        <option value="Leaving Updates Report">Leaving Updates Report</option>
                        <option value="Confirmation Due Report">Confirmation Due Report</option>
                        <option value="Gratuity Eligible Report">Gratuity Report</option>
                        <option value="Asset Report">Asset Report</option>
                      </select> -->
                        <!-- <div class="help-block" *ngIf='reportName=="Select"'>
                          <small style="color: red">Please Select Report </small> 
                        </div> -->
                      </div>
                      <!-- Select for WorkForce reports End -->
                    </div>
                  </div>
                  <div>
                    <p>Please Select Report Type:</p>
                    <input type="radio" id="customise" name="report_wise" value="customise" checked>
                    <label for="customise">Customise</label>
                    
                    <input type="radio" id="employeeWise" name="report_wise" value="employeeWise">
                    <label for="employeeWise">Employee Wise</label>
                </div>
                
                  <!-- <div >
                  <p>Please Select Report Type:</p>

                  
                  <input type="radio" name="misspunch_report" 
                     value="Approved"> <label for="Approved">Approved</label>


                  <input type="radio" name="misspunch_report" 
                    value="Rejected"><label for="Reject">Reject</label>


                  <input type="radio" name="misspunch_report" 
                    value="Pending"> <label for="Pending">Pending</label>

                </div> -->
                  <span>
                    <div>
                      <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

                        <li class="nav-item">
                          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                            role="tab" aria-controls="pills-home" aria-selected="true">
                            Select Dates</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" id="pills-filter-tab" data-toggle="pill" href="#pills-filter" role="tab"
                            aria-controls="pills-filter" aria-selected="false">Filter</a>
                        </li>



                        <li class="nav-item">
                          <a class="nav-link" id="pills-columns-tab" data-toggle="pill" href="#pills-columns" role="tab"
                            aria-controls="pills-columns" aria-selected="false" hidden>Columns</a>
                        </li>


                        <li class="nav-item">
                          <a class="nav-link" id="pills-employee-tab" data-toggle="pill" href="#pills-employee"
                            role="tab" aria-controls="pills-employee" aria-selected="false">Select Employees</a>
                        </li>






                      </ul>
                    </div>
                  </span>
                  <div>
                    <!-- <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">
                        Select Dates</a>
                    </li>
                  

                    <li class="nav-item" >
                      <a class="nav-link" id="pills-filter-tab" data-toggle="pill" href="#pills-filter" role="tab"
                        aria-controls="pills-filter" aria-selected="false" >Filter</a>
                    </li>

                    
                  </ul> -->
                  </div>
                  <!-- START For Employee Information -->
                  <!-- <div>
                  <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab1" role="tablist">
                    <li class="nav-item" >
                      <a class="nav-link active" id="pills-filter-tab1" data-toggle="pill" href="#pills-filter1"
                        role="tab" aria-controls="pills-filter1" aria-selected="true">Filter</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link active" id="pills-employee-tab" data-toggle="pill" href="#pills-employee"
                        role="tab" aria-controls="pills-employee" aria-selected="false">Select Employees</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-columns-tab1" data-toggle="pill" href="#pills-columns1" role="tab"
                        aria-controls="pills-columns1" aria-selected="false" hidden>Columns</a>
                    </li>
                    <li class="nav-item hide">
                      <a class="nav-link" id="pills-conditions-tab1" data-toggle="pill" href="#pills-conditions1"
                        role="tab" aria-controls="pills-conditions1" aria-selected="false">Conditions</a>
                    </li>
                  </ul>
                </div> -->
                  <!-- END For Employee Information -->


                  <div class="tab-content min-height-400" id="pills-tabContent">
                    <div class="tab-pane" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                      <div class="mt-3">
                        <div class="mt-3" style="width:50%">
                          <div class="form-row">
                            <div id="reportrange"
                              style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                              <i class="fa fa-calendar"></i>&nbsp;
                              <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            <div class="form-group col-md-6">
                              <select name="year" class="form-control form-control-sm" id="year">
                                <option hidden value="Select">Select Year</option>
                                <option>
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="pills-filter" role="tabpanel" aria-labelledby="pills-filter-tab">
                      <div class="row">
                        <div class="col-4">
                          <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list"
                              data-toggle="list" href="#list-home" role="tab" aria-controls="home">Department</a>
                            <a class="list-group-item list-group-item-action" id="list-SubDepartment-list"
                              data-toggle="list" href="#list-SubDepartment" role="tab" aria-controls="SubDepartment">Sub
                              Department</a>
                            <span>
                              <a class="list-group-item list-group-item-action" id="list-Location-list"
                                data-toggle="list" href="#list-Location" role="tab" aria-controls="Location">
                                Location</a>
                            </span>


                            <span *ngIf='reportTypeVal != "ArRequest"'>
                              <a class="list-group-item list-group-item-action" id="list-Employee-list"
                                data-toggle="list" href="#list-Employee" role="tab" aria-controls="Employee">Employee
                                category</a>
                            </span>


                          </div>
                        </div>
                        <div class="col-8">
                          <div class="tab-content" id="nav-tabContent">
                            <!-- department list -->
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                              aria-labelledby="list-home-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist ">

                                <li class="list-group-item">

                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="alldeptName">Select All</label> -->
                                  </div>
                                </li>

                                <!-- <li class="list-group-item" *ngFor='let i of departmentlistdata'> -->
                                <li class="list-group-item">

                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>

                              </ul>
                            </div>
                            <!-- department list end -->
                            <!-- EMP Cate list -->
                            <div class="tab-pane fade" id="list-Employee" role="tabpanel"
                              aria-labelledby="list-Employee-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="empTypeId" id="checkEC"
                                      data-md-icheck>
                                    <!-- <label class="custom-control-label" for="checkEC">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of AllEMp'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-md-icheck>
                                    <label class="custom-control-label">{{i.empTypeName}}</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!-- EMP Cate list end -->
                            <!--Sub EMP Cate list -->
                            <div class="tab-pane fade" id="list-Empcategory" role="tabpanel"
                              aria-labelledby="list-Empcategory-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="empTypeId"
                                      id="checksubEC" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="checksubEC">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of allSubEmpTypeList'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-md-icheck
                                      id="{{i.subEmpTypeName}}" [(ngModel)]='i.AllSubEMpCate'
                                      value="{{i.subEmpTypeId}}">
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--Sub EMP Cate list end -->
                            <!-- SUB DEP list -->
                            <div class="tab-pane fade" id="list-SubDepartment" role="tabpanel"
                              aria-labelledby="list-SubDepartment-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="subDeptlist" id="subDept"
                                      data-md-icheck>
                                    <!-- <label class="custom-control-label" for="subDept">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of allSubDepList'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]='i.subDept'>
                                    <label class="custom-control-label" for="{{i.subDeptId}}">{{i.subDeptName}}</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!-- SUB DEP list end -->
                            <!-- Grade list -->
                            <div class="tab-pane fade" id="list-Grade" role="tabpanel"
                              aria-labelledby="list-Grade-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkGrade" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="checkGrade">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-md-icheck
                                      id="{{i.gradeName}}">
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!-- Grade list end-->
                            <!-- Locotion list -->
                            <div class="tab-pane fade" id="list-Location" role="tabpanel"
                              aria-labelledby="list-Location-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="allLocoL" value="allLoco" class="custom-control-input">
                                    <!-- <label class="custom-control-label" for="allLocoL">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of allLocoList'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-md-icheck
                                      id="{{i.locationName}}">
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!-- Locotion list end-->
                            <!-- Emp Type -->
                            <div class="tab-pane fade" id="list-EmploymentType" role="tabpanel"
                              aria-labelledby="list-EmploymentType-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="allEmpTypee" value="allET" class="custom-control-input">
                                    <!-- <label class="custom-control-label" for="allEmpTypee">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of employmentType'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]='i.empTY'
                                      data-md-icheck id="{{i.employmentType}}" value="{{i.employmentTypeid}}">
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!-- Emp Type list end-->
                            <!--Sub Emp Type -->
                            <div class="tab-pane fade" id="list-subEmploymentType" role="tabpanel"
                              aria-labelledby="list-subEmploymentType-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkSubEmpType"
                                      data-md-icheck>
                                    <!-- <label class="custom-control-label" for="checkSubEmpType">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of SubEmploymentType'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]='i.SubempTY'
                                      data-md-icheck>
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--Sub Emp Type list end-->
                            <!--Cost Center -->
                            <div class="tab-pane fade" id="list-CostCenter" role="tabpanel"
                              aria-labelledby="list-CostCenter-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkCost">
                                    <!-- <label class="custom-control-label" for="checkCost">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of allCostCenterList'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]='i.CostCenterSe'>
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--Cost center list end-->
                            <!--buisness grop -->
                            <div class="tab-pane fade" id="list-Business" role="tabpanel"
                              aria-labelledby="list-Business-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkBG" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="checkBG">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of allBuiGrpList'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--buisness group list end-->
                            <!--Shift grop -->
                            <div class="tab-pane fade" id="list-Shift" role="tabpanel"
                              aria-labelledby="list-Shift-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkShift" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="checkShift">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of allShiftList'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]='i.shift'
                                      data-md-icheck id="{{i.shiftName}}" value="{{i.shiftMasterId}}">
                                    <label class="custom-control-label" for="{{i.shiftName}}">{{i.shiftName}}</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--Shift group list end-->
                            <!-- Function Unit -->
                            <div class="tab-pane fade" id="list-Function" role="tabpanel"
                              aria-labelledby="list-Function-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkcost">
                                    <!-- <label class="custom-control-label" for="checkcost">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of allFunctionList'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]='i.func'
                                      data-md-icheck id="{{i.functionUnitName}}" value="{{i.functionUnitId}}"
                                      (ngModelChange)='SelectFun($event,i)'>
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--Function Unit end-->
                            <!-- Designation -->
                            <div class="tab-pane fade" id="list-Designation" role="tabpanel"
                              aria-labelledby="list-Designation-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkcdesi">
                                    <!-- <label class="custom-control-label" for="checkcdesi">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of allDesignationList'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]='i.desig'
                                      data-md-icheck id="{{i.descName}}" value="{{i.descId}}">
                                    <label class="custom-control-label" for="{{i.descName}}">{{i.descName}}</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--Designation end-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="pills-columns" role="tabpanel" aria-labelledby="pills-columns-tab">
                      <div class="row">
                        <div class="col-md-3">
                          <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                            <div>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" name="list_name" value="m1" /> <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of AbsentColumns'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}">
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div>
                            <div>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" name="list_name" value="m1" /> <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of ColumnsForAttend'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}">
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div>
                            <div>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" name="list_name" value="m1" /> <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of workDurationColumn'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck value="{{i.col}}">
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div>
                            <div>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" name="list_name" value="m1" /> <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of multiPulPunchColumn'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}">
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div>
                            <div>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" name="list_name" value="m1" /> <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item">

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}">
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div>
                            <div>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" name="list_name" value="m1" /> <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of overTimeColumns'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}">
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div>


                            <div *ngIf='earlyGoingReport'>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" />
                                <strong>Select/ Unselect All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of earlyGoingColumn'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}">
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div>

                            <div *ngIf='coffEntryReport'>
                              <!-- <li class="list-group-item">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll('coffEntryReport')"/> <strong>Select/ Unselect All</strong>
                              </li>
                              <li class="list-group-item" *ngFor="let i of coffEntryColumn">
                                <div>
                                  <input type="checkbox" [(ngModel)]="i.isSelected" name="list_name" value="{{i.col}}" (change)="isAllSelected('coffEntryReport')"  (ngModelChange)='ColumnValue($event,i)'/>
                                  <label for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li> -->
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" />
                                <strong>Select/ Unselect All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of coffEntryColumn'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}">
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div>

                            <div *ngIf='leaveReport'>
                              <li class="list-group-item" *ngFor='let i of LeaveCol'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input">
                                  <label class="custom-control-label"></label>
                                </div>
                              </li>
                            </div>



                            <!-- Leave Reports Start -->
                            <!-- Leave Register Report Start -->
                            <div>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" />
                                <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item">

                                <div class="custom-control custom-checkbox">>
                                  <label class="custom-control-label"></label>
                                </div>
                              </li>
                            </div>
                            <!-- Leave Register Report End -->

                            <!-- Leave Taken Report Start -->
                            <div *ngIf='leaveTakenReport'>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" /> <strong>Select/ Unselect All</strong>
                              </li>
                              <li class="list-group-item">

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck>
                                  <label class="custom-control-label"></label>
                                </div>
                              </li>
                            </div>
                            <!-- Leave Taken Report End -->
                            <!-- START of Leave Taken In Count Report -->
                            <div>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" />
                                <strong>Select/ Unselect
                                  All</strong>
                              </li>

                              <li class="list-group-item" *ngFor='let i of LeaveTakenInCountColumns'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input">
                                  <label class="custom-control-label"></label>
                                </div>
                              </li>
                            </div>
                            <!-- END of Leave Taken In Count Report -->

                            <!-- Leave Reports End -->
                            <!-- WorkForce Report Start-->
                            <!-- Employee Information Report Start-->
                            <!-- <div *ngIf='employeeInformationReport'>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                  (change)="checkUncheckAll('employeeInformationReport')" /> <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of employeeInformationColumn'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                    (ngModelChange)='OnEmployeeInformationColumnChange($event,i)'>
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div> -->
                            <!-- Employee Information Report End-->

                            <!-- Joining Updates Report Start-->
                            <div>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" />
                                <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of joiningUpdatesColumn'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}">
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div>
                            <!-- Joining Updates Report End -->

                            <!-- Leaving Updates Report Start-->
                            <div *ngIf='leavingUpdatesReport'>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" />
                                <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item">

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input">
                                  <label class="custom-control-label"></label>
                                </div>
                              </li>
                            </div>
                            <!-- Leaving Updates Report End -->

                            <!-- Confirmation Due Report Start-->
                            <div>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" />
                                <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of confirmationDueColumn'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'>
                                  <label class="custom-control-label"></label>
                                </div>
                              </li>
                            </div>
                            <!-- Confirmation Due  Report End -->

                            <!-- Gratuity Report Start-->
                            <div *ngIf='gratuityReport'>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" />
                                <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of gratuityColumn'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}">
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div>
                            <!-- Gratuity Report End -->

                            <!-- Asset Report Start-->
                            <div *ngIf='assetReport'>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" />
                                <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of  assetColumn'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}">
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div>
                            <!-- Asset Report End -->


                            <!-- WorkForce Report End-->

                            <div class="help-block"
                              *ngIf='!leaveTakenR && !leaveReport && !coffEntryReport && !earlyGoingReport && !lateComingReport && !overTimeReport && !multiplePuchReport && !workDurationReport && !AttendenceReport && !absentReport && !employeeInformationReport && !joiningUpdatesReport && !leavingUpdatesReport && !confirmationDueReport && !gratuityReport  && !leaveTakenReport && !leaveRegisterReport && !leaveTakenReportInCount && !assetReport && !currentleaveBalanceReport'>
                              <span style="color: red">Please Select Report </span>
                            </div>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- Select Employee:: START -->
                    <div class="tab-pane" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab">
                      <div class="form-group col-md-6">
                        <label>Employee Name <span style="color: red">*</span></label>
                        <ng-multiselect-dropdown [placeholder]="'Select Employee'" [data]="Employeedata" required
                          [(ngModel)]="model.selectedEmp" [ngModelOptions]="{standalone: true}"
                          #selectedLocation='ngModel' name='selectedLoco' requried>
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                    <!-- /Select Employee::END -->
                  </div>

                  <!-- START Employee Information report -->
                  <div class="tab-content min-height-400" id="pills-tabContent1">
                    <div class="tab-pane fade show active" id="pills-filter1" role="tabpanel"
                      aria-labelledby="pills-filter-tab1">
                      <div class="row">
                        <!-- <div class="col-4">
                        <div class="list-group" id="list-tab1" role="tablist">
                          <a class="list-group-item list-group-item-action active" id="list-home-list1"
                            data-toggle="list" href="#list-home" role="tab" aria-controls="home1">Department</a>
                          <a class="list-group-item list-group-item-action" id="list-Location-list1" data-toggle="list"
                            href="#list-Location" role="tab" aria-controls="Location1"> Location</a>
                          <a class="list-group-item list-group-item-action" id="list-Employee-list1" data-toggle="list"
                            href="#list-Employee" role="tab" aria-controls="Employee1">Employee category</a>
                        </div>
                      </div> -->
                        <div class="col-8">
                          <div class="tab-content" id="nav-tabContent">
                            <!-- department list -->
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                              aria-labelledby="list-home-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist ">

                                <li class="list-group-item">

                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="alldeptName">Select All</label> -->
                                  </div>
                                </li>

                                <!-- <li class="list-group-item" *ngFor='let i of departmentlistdata'> -->
                                <li class="list-group-item" *ngFor='let i of departmentlistdata'>

                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label">{{i.deptName}}</label>
                                  </div>
                                </li>

                              </ul>
                            </div>
                            <!-- department list end -->
                            <!-- EMP Cate list -->
                            <div class="tab-pane fade" id="list-Employee" role="tabpanel"
                              aria-labelledby="list-Employee-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkEC" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="checkEC">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of AllEMp'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-md-icheck>
                                    <label class="custom-control-label"
                                      for="{{i.empTypeName}}">{{i.empTypeName}}</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!-- EMP Cate list end -->
                            <!--Sub EMP Cate list -->
                            <div class="tab-pane fade" id="list-Empcategory" role="tabpanel"
                              aria-labelledby="list-Empcategory-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checksubEC" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="checksubEC">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of allSubEmpTypeList'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-md-icheck>
                                    <label class="custom-control-label"
                                      for="{{i.subEmpTypeName}}">{{i.subEmpTypeName}}</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--Sub EMP Cate list end -->
                            <!-- SUB DEP list -->
                            <div class="tab-pane fade" id="list-SubDepartment" role="tabpanel"
                              aria-labelledby="list-SubDepartment-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="subDept" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="subDept">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!-- SUB DEP list end -->
                            <!-- Grade list -->
                            <div class="tab-pane fade" id="list-Grade" role="tabpanel"
                              aria-labelledby="list-Grade-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkGrade" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="checkGrade">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of AllGradeData'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label" for="{{i.gradeName}}">{{i.gradeName}}</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!-- Grade list end-->
                            <!-- Locotion list -->
                            <div class="tab-pane fade" id="list-Location" role="tabpanel"
                              aria-labelledby="list-Location-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <!-- <label class="custom-control-label" for="allLocoL">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of allLocoList'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!-- Locotion list end-->
                            <!-- Emp Type -->
                            <div class="tab-pane fade" id="list-EmploymentType" role="tabpanel"
                              aria-labelledby="list-EmploymentType-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <!-- <label class="custom-control-label" for="allEmpTypee">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of employmentType'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!-- Emp Type list end-->
                            <!--Sub Emp Type -->
                            <div class="tab-pane fade" id="list-subEmploymentType" role="tabpanel"
                              aria-labelledby="list-subEmploymentType-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="checkSubEmpType">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <label for=""></label>

                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--Sub Emp Type list end-->
                            <!--Cost Center -->
                            <div class="tab-pane fade" id="list-CostCenter" role="tabpanel"
                              aria-labelledby="list-CostCenter-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkCost">
                                    <!-- <label class="custom-control-label" for="checkCost">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--Cost center list end-->
                            <!--buisness grop -->
                            <div class="tab-pane fade" id="list-Business" role="tabpanel"
                              aria-labelledby="list-Business-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="checkBG">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of allBuiGrpList'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]='i.buiGr'>
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--buisness group list end-->
                            <!--Shift grop -->
                            <div class="tab-pane fade" id="list-Shift" role="tabpanel"
                              aria-labelledby="list-Shift-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkShift" data-md-icheck>
                                    <!-- <label class="custom-control-label" for="checkShift">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label" for="{{i.shiftName}}">{{i.shiftName}}</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--Shift group list end-->
                            <!-- Function Unit -->
                            <div class="tab-pane fade" id="list-Function" role="tabpanel"
                              aria-labelledby="list-Function-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkcost">
                                    <!-- <label class="custom-control-label" for="checkcost">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label"></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--Function Unit end-->
                            <!-- Designation -->
                            <div class="tab-pane fade" id="list-Designation" role="tabpanel"
                              aria-labelledby="list-Designation-list">
                              <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                                <li class="list-group-item">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkcdesi">
                                    <!-- <label class="custom-control-label" for="checkcdesi">Select All</label> -->
                                  </div>
                                </li>
                                <li class="list-group-item" *ngFor='let i of allDesignationList'>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label" for="{{i.descName}}">{{i.descName}}</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!--Designation end-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="pills-columns1" role="tabpanel" aria-labelledby="pills-columns-tab1">
                      <div class="row">
                        <div class="col-md-3">
                          <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                            <!-- WorkForce Report Start-->
                            <!-- Employee Information Report Start-->
                            <div>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" /> <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item">

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input">
                                  <label class="custom-control-label"></label>
                                </div>
                              </li>
                            </div>
                            <!-- Employee Information Report End-->
                            <!-- WorkForce Report End-->

                            <div class="help-block">
                              <span style="color: red">Please Select Report </span>
                            </div>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Select Employee:: START -->
                  <div class="tab-content min-height-400">
                    <div class="tab-pane active" id="pills-employee" role="tabpanel"
                      aria-labelledby="pills-employee-tab">
                      <div class="form-group col-md-6">
                        <!-- <label>Employee Name <span style="color: red">*</span></label> -->
                        <!-- <ng-multiselect-dropdown [placeholder]="'Select Employee'"  requried>
                      </ng-multiselect-dropdown> -->
                      </div>
                    </div>
                  </div>

                  <!-- /Select Employee::END -->
                  <!-- END Employee Information report -->

                  <hr>
                  <div class="float-right">
                    <!-- <button type="button" class="btn btn-sm btn-primary">Previous</button><button type="button" class="btn ml-2 btn-sm btn-primary">Next</button> -->
                    <span>
                      <!-- <button type="button" class="btn ml-2 btn-sm btn-success" 
                     >Generate Report</button> -->
                    </span>

                    <!-- Employee Wise Submit -->
                    <span>
                      <button type="button" class="btn ml-2 btn-sm btn-success">Generate Employee Wise
                        Report</button>
                    </span>
                    <!-- /Employee Wise Submit -->
                    <!--Ar Request Report button-->
                    <div>
                      <!-- <button type="button" class="btn ml-2 btn-sm btn-success">Generate
                        Report</button>
                    </div> -->

                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- NEW REPORTS DESIGN ENDS -->
        </div>
      </div>
    </div>
  </div>
</div>