<div class="container-fluid">

  <div id="content" class="rep-bg">

    <div class="row">
      <div class="col-md-6">

        <!-- <img src="assets/rieter_logoL.png" alt="alleviz"> -->
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Leave Register Report </strong> &nbsp;

        </h6>
      </div>
    </div>


    <div class="row">

      <div class="col-md-12">
        <!-- <div class="repdate float-right">{{myDate}}</div> -->
        <!-- <div class="qwe">
    <h6><span class="blu"><strong>Abbreviation:-</strong></span> WD : Working Day, WO : Weekly Off, HO : Holiday Off,<span></span> WOH : Week Off And Holiday</h6>
  </div> -->
      </div>

      <div class="col-md-12">
          <!-- <div class="repdate float-right">{{myDate}}</div> -->
          <div class="qwe">
            <h6><span class="blu"><strong>Leave Register Report From Date: </strong></span>{{fromDate}}<span class="blu"><strong> To:</strong></span> {{toDate}}</h6>
          </div>
        </div>

      <div id="content" class="col-md-10">
        <table class="table table-space table-borderless">
          <!-- <thead>
            <tr class="table-secondary">
              <th>Employee</th>
              <th colspan="2">Casual Leave </th>   
                               
              <th  colspan="2">Privlege Leave</th>

              <th  colspan="2">Sick Leaves</th>
              <th>Compensatory Off</th>
              <th colspan="2">Total	</th>
              
            </tr>
            <tr>
              <th></th>
              <th>claim</th>
              <th>Outstating</th>
              <th>claim</th>
              <th>Outstating Balances</th>
              <th>claim</th>
              <th>Outstating </th>
              <th></th>
              <th>claim</th>
              <th>Outstating </th>
            </tr>
          </thead> -->


          <thead>
              <tr>
                <!-- <th>Sr No </th> -->
                <th>Employee Id</th>
                  <th>Employee</th>
                  <th>Department</th>
                  
                  <th>Employee Type</th>
                  <th *ngFor="let data of totalLeaveList" colspan="2">{{data.leaveName}}</th>
                  <!-- <th colspan="2">Privlege Leave</th>
                  <th colspan="2">Sick Leave</th> -->
                  <th *ngFor="">Compensatory Off</th>
                  <th colspan="2">Total</th>
               </tr>
               <tr >
                  <!-- <th>{{i}}</th> -->
                
                 <th></th>
                 <th></th>
                 <th></th>
                 <th></th>
                  <th *ngFor="let data of dummyHeaders">

                    {{data}}

                  </th>
                  <!-- <th *ngFor="let data of totalLeaveList">

                      Outstating
                      
                    </th> -->
                  <!-- <th>Outstating</th>
                  <th>claim</th>
                  <th>Outstating  Balances</th>
                  <th>claim</th>
                  <th>Outstating </th> -->
                  <!-- <th></th> -->
                  <th>claim</th>
                  <th>Outstating </th>
                  <!-- <th>Tp</th> -->
               </tr>
          </thead>

          <!-- <tbody  *ngFor="let report of AllRegisterReportData; let i = index">
          
            
              <tr *ngFor="let item of report.leaveTakenReportInCountResDtos; let k = index;">
               
                  <td><span *ngIf="k == 0">{{ report.reportEmpNameAndIdResDto.fullName }} {{ report.reportEmpNameAndIdResDto.lastName }}</span></td>
              
                  <td><span *ngIf="k == 0"> {{ report.reportEmpNameAndIdResDto.deptName }} </span></td>
                  <td><span *ngIf="k == 0">{{ report.reportEmpNameAndIdResDto.empId }}</span></td>
                  <td><span *ngIf="k == 0">{{ report.reportEmpNameAndIdResDto.empTypeName }}</span></td>
                  <td *ngFor="let data of report.leaveTakenReportInCountResDtos; let j=index"><span *ngIf="k == 0">
                    {{data.claimOutstanding}} </span>
                  </td>
                </tr>

                <tr *ngFor="let item of report; let k = index;">
                   <td>
                    {{reportEmpNameAndIdResDto}}
                   </td>
                </tr>
          </tbody> -->

          <tbody>
          
            
            <tr *ngFor="let report of AllRegisterReportData; let i = index">
                <td><span>{{ report.reportEmpNameAndIdResDto.empId }}</span></td>
                <td><span>{{ report.reportEmpNameAndIdResDto.fullName }} {{ report.reportEmpNameAndIdResDto.lastName }}</span></td>
            
                <td><span> {{ report.reportEmpNameAndIdResDto.deptName }} </span></td>
                
                <td><span>{{ report.reportEmpNameAndIdResDto.empTypeName }}</span></td>
                <td *ngFor="let data of report.leaveTakenReportInCountResDtos; let j=index;let ev = even;let od = odd">
                  <span *ngIf="ev">
                  {{data.usedLeaves}} 
                  </span> 

                  <span *ngIf="od">
                    {{data.currentLeaves}} 
                    </span>
                </td>
              </tr>

        </tbody>
        </table>
      </div>


    </div>


  </div>
</div>

