<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="data-title">
            <h6>Address & Contacts</h6>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-5">

        <form  name="form" (ngSubmit)="f.form.valid" #f="ngForm">
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="compname"><b>Current Address</b></label>
                        <!-- <input class="form-control form-control-sm" maxlength="250" type="text" name="currentAddress"
                            [(ngModel)]="contactModel.currentAddress"> -->
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="compname">Building No.</label>
                        <input  autocomplete="off" class="form-control form-control-sm" maxlength="10" type="text" name="buildingNoCurrent" [(ngModel)]="contactModel.buildingNoCurrent">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="compname">Society/Lane</label>
                        <input  autocomplete="off" class="form-control form-control-sm" maxlength="50" type="text" name="socityOrLaneCurrent" [(ngModel)]="contactModel.socityOrLaneCurrent">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="compname">Area</label>
                        <input  autocomplete="off" class="form-control form-control-sm" maxlength="100" type="text" name="areaCurrent" [(ngModel)]="contactModel.areaCurrent">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="compname">City/Taluka</label>
                        <input  autocomplete="off" class="form-control form-control-sm" maxlength="50" type="text" name="cityorTahshilCurrent" [(ngModel)]="contactModel.cityorTahshilCurrent">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="compname">State</label>
                        <input  autocomplete="off" class="form-control form-control-sm" maxlength="50" type="text" name="stateCurrent" [(ngModel)]="contactModel.stateCurrent">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="compname">Pincode</label>
                        <input  autocomplete="off" class="form-control form-control-sm" maxlength="6"  pattern="^(\d{6}|^\d{6})$" type="text" name="pincodeCurrent" #pincodeCurrent='ngModel' [(ngModel)]="contactModel.pincodeCurrent">
                        <div class="help-block"  *ngIf="pincodeCurrent.errors?.pattern && pincodeCurrent.touched"> <small style="color: red">Enter valid Numbers Only</small></div>
                       
                    </div>
                </div>
            </div>

            <!-- <div class="form-row">
                    <div class="col">

                        <label class="customcheck">
                            <input type="checkbox" name="sameasaboveaddress" (change)="checkAddress($event)">
                            <span class="checkmark"></span>
                            Permanent address same as a Current address<span style="color: red">*</span>
                        </label>

                    </div>

                   
                </div> -->

            <div class="form-row">

                <div class="col-8">
                    <div class="form-group">
                        <label for="compaddress"><b>permanent Address</b></label>
                        <!-- <input class="form-control form-control-sm" type="text" maxlength="250" name="permanentAddress"
                            [(ngModel)]="contactModel.permanentAddress"> -->
                    </div>
                </div>

                <div class="col-4">
                    <label class="customcheck">
                        <input  autocomplete="off" type="checkbox" name="sameasaboveaddress" (change)="checkAddress($event)">
                        <span class="checkmark"></span>same as above
                    </label>
                </div>
              
            </div>

             <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="compname">Building No.</label>
                        <input  autocomplete="off" class="form-control form-control-sm" maxlength="10" type="text" name="buildingNoPermant" [(ngModel)]="contactModel.buildingNoPermant">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="compname">Society/Lane</label>
                        <input  autocomplete="off" class="form-control form-control-sm" maxlength="50" type="text" name="socityOrLanePermant" [(ngModel)]="contactModel.socityOrLanePermant">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="compname">Area</label>
                        <input  autocomplete="off" class="form-control form-control-sm" maxlength="100" type="text" name="areaPermant" [(ngModel)]="contactModel.areaPermant">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="compname">City/Taluka</label>
                        <input  autocomplete="off" class="form-control form-control-sm" maxlength="50" type="text" name="cityOrTalukaPermant" [(ngModel)]="contactModel.cityOrTalukaPermant">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="compname">State</label>
                        <input  autocomplete="off" class="form-control form-control-sm" maxlength="50" type="text" name="statePermant" [(ngModel)]="contactModel.statePermant">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="compname">Pincode</label>
                        <input  autocomplete="off" class="form-control form-control-sm"  pattern="^(\d{6}|^\d{6})$" maxlength="6"  type="text" #pinCodePermant='ngModel' name="pinCodePermant" [(ngModel)]="contactModel.pinCodePermant">
                        <div class="help-block"  *ngIf="pinCodePermant.errors?.pattern && pinCodePermant.touched"> <small style="color: red">Enter valid Numbers Only</small></div>
                          
                    </div>
                </div>
            </div>

            <!-- <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="mobnumber">Official Contact Number</label><span style="color: red">*</span>
                        <input  autocomplete="off" class="form-control form-control-sm " type="text"
                            name="officialContact" #officialContact='ngModel' pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$" maxlength="10" [(ngModel)]="contactModel.officialContactNumber" required>
                            <div class="help-block"  *ngIf="officialContact.errors?.required && (officialContact.touched || f.submitted)"> <small style="color: red">Official Contact Number required</small></div>
                            <div class="help-block"  *ngIf="officialContact.errors?.pattern && (officialContact.touched || f.submitted)"> <small style="color: red">Enter valid Numbers Only</small></div>
                           
                        </div>
                      
        
                </div>
            </div> -->

            <!-- <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="compemilid">Official Email Id</label><span style="color: red">*</span>
                        <input  autocomplete="off" class="form-control form-control-sm" type="email" #officialEmail='ngModel' (keyup)='Erroremail()' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="officialEmailId"
                            [(ngModel)]="BasicHRInfoModel.officialEmailId" required>
                            <div class="help-block"  *ngIf="officialEmail.errors?.pattern && officialEmail.touched "> <small style="color: red">Enter Valid Email</small></div>
                            <div class="help-block" *ngIf="errflag"  ><small style="color: red">Already Exist </small></div>
                            <div class="help-block" *ngIf="officialEmail.errors?.required && (officialEmail.touched || f.submitted)"><small style="color: red">Employee First Name Required</small></div>
                    </div>
                </div>
              </div> -->

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="mobnumber">Personal Mail Id </label>
                        <input  autocomplete="off" class="form-control form-control-sm"  type="text"  
                            name="personalEmailId" #personalEmailId='ngModel' (keyup)="errorpersonal()" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="contactModel.personalEmailId">
                            
                            <div class="help-block"  *ngIf="personalEmailId .errors?.pattern && personalEmailId.touched "> <small style="color: red">Enter valid Email Address</small></div>
                            <!-- <div class="help-block"  *ngIf="personalEmailId.errors?.pattern && personalEmailId.touched "> <small style="color: red">Enter Valid Email</small></div> -->
                            <div class="help-block" *ngIf="errflag"  ><small style="color: red">Already Exist </small></div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="mobnumber">Personal Contact Number</label>
                        <input  autocomplete="off" class="form-control form-control-sm"  type="text" pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$" maxlength="10"
                            name="personalContactNumber" #personalContactNum='ngModel' [(ngModel)]="contactModel.personalContactNumber">
                            <div class="help-block"  *ngIf="contactModel.personalContactNumber==contactModel.alternateContactNumber && personalContactNum.touched"> <small style="color: red">Number Should Not be Same as Personal Contact Number</small></div>
                            <div class="help-block"  *ngIf="personalContactNum .errors?.pattern && personalContactNum.touched "> <small style="color: red">Enter valid Numbers Only</small></div>
                           
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="mobnumber">Alternative Contact Number</label>
                        <input  autocomplete="off" class="form-control form-control-sm"  type="text" pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$" maxlength="10"
                            name="alternateContactNumber" #alternateContactNumb='ngModel' [(ngModel)]="contactModel.alternateContactNumber">
                            <div class="help-block"  *ngIf="contactModel.personalContactNumber==contactModel.alternateContactNumber && alternateContactNumb.touched"> <small style="color: red">Number Should Not be Same as Alternative Contact Number</small></div>
                            <div class="help-block"  *ngIf="alternateContactNumb .errors?.pattern && alternateContactNumb.touched "> <small style="color: red">Enter valid Numbers Only</small></div>
                           
                    </div>
                </div>
            </div>

            <!-- <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="compemilid">Official Email Id</label>
                        <input  autocomplete="off" class="form-control form-control-sm" type="email" #officialEmail='ngModel' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="officialEmailId"
                            [(ngModel)]="contactModel.officialEmailId" (keyup)="Erroremail()">
                            <div class="help-block"  *ngIf="officialEmail.errors?.pattern && officialEmail.touched "> <small style="color: red">Enter Valid Email</small></div>
                            <div class="help-block" *ngIf="errflag"  ><small style="color: red">Already Exist </small></div>
  
                    </div>
                </div>
            </div> -->

            <div class="form-row">
                <div class="col">
                    <!-- <div class="form-group">
                        <label for="compemilid">Personal Email Id</label>
                        <input class="form-control form-control-sm" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="personalEmailId" #personalEmail='ngModel'
                            [(ngModel)]="contactModel.personalEmailId">
                            <div class="help-block"  *ngIf="contactModel.officialEmailId==contactModel.personalEmailId && personalEmail.touched"> <small style="color: red">Email Should Not be Same as Official Email Id </small></div>
                            <div class="help-block"  *ngIf="personalEmail.errors?.pattern && personalEmail.touched"> <small style="color: red">Enter Valid Email</small></div>
                              
                    </div> -->
                    
                        <!-- <div class="form-group">
                        <label for="compemilid">Personal Email Id</label>
                        <input  autocomplete="off" class="form-control form-control-sm" type="email" (ngModelChange)="setEmail($event)"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="ePersonalEmailId" #ePersonalEmailId='ngModel'
                        [(ngModel)]="contactModel.epersonalEmailId">
                        <div class="help-block" *ngIf="contactModel.epersonalEmailId==contactModel.officialEmailId && ePersonalEmailId.touched && contactModel.officialEmailId && contactModel.epersonalEmailId"> <small style="color: red">Email Should Not be Same as Official Email Id </small></div>
                        <div class="help-block" *ngIf="ePersonalEmailId.errors?.pattern && ePersonalEmailId.touched"> <small style="color: red">Enter Valid Email</small></div>
                      
                        </div> -->
                </div>
            </div>

            <div class="data-title">
                <h6>Emergency Contact Person Details </h6>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="compemilid">Name Of Person</label><span style="color: red">*</span>
                        <input   autocomplete="off" class="form-control form-control-sm" type="text" pattern='^[ A-Za-z]*$' maxlength='100' #nameOfPer='ngModel' name="nameOfPerson"
                            [(ngModel)]="contactModel.nameOfPerson" required>
                            <div class="help-block"  *ngIf="nameOfPer.errors?.required && nameOfPer.touched"> <small style="color: red">Name Of Person required</small></div>
                            <div class="help-block"  *ngIf="nameOfPer.errors?.pattern && nameOfPer.touched"> <small style="color: red">Special Character and number  Not Allowed</small></div>
                           
                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="compemilid">Relation</label><span style="color: red">*</span>
                        <!-- <input class="form-control form-control-sm" maxlength="20" #relatio='ngModel' pattern="^[ A-Za-z]*$" type="text" name="relation"
                            [(ngModel)]="contactModel.relation" required> -->
                            
                            <select class="form-control form-control-sm" #relation='ngModel' name="relation"
                            [(ngModel)]="contactModel.relation" required>
                            <option hidden [value]="slect">Select</option>
                            <option value="Father">Father</option>
                            <option value="Mother">Mother</option>
                            <option value="Brother">Brother</option>
                            <option value="Sister">Sister</option>
                            <option value="Son">Son</option>
                            <option value="Doughter">Doughter</option>
                            <option value="MotherInLaw">Mother In Law</option>
                            <option value="FatherInLaw">Father In Law</option>
                            <option value="Spouse">Spouse</option>

                        </select>
                        <div class="help-block" *ngIf="relation.errors?.required && relation.touched">
                            <small style="color: red">Relation required</small></div>
                            <!-- <div class="help-block"  *ngIf="relation.errors?.required&& relation.touched"> <small style="color: red">Relation required</small></div>
                            <div class="help-block"  *ngIf="relation.errors?.pattern && relation.touched"> <small style="color: red">Special Character and number  Not Allowed</small></div> -->
                           
                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="compemilid">Address</label><span style="color: red">*</span>
                        <input class="form-control form-control-sm" type="text" maxlength="100" #addres='ngModel' name="address"
                            [(ngModel)]="contactModel.address"  autocomplete="off" required>
                            <div class="help-block"  *ngIf="addres.errors?.required && addres.touched"> <small style="color: red">Address required</small></div> 
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="compemilid">Contact Number</label><span style="color: red">*</span>
                        <input class="form-control form-control-sm" type="text"  pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"  maxlength=10 name="contactNumber"
                        autocomplete="off"  [(ngModel)]="contactModel.emrContactNumber" #contactNumb='ngModel' required>
                            
                            <div class="help-block"  *ngIf="contactNumb.errors?.required && (contactNumb.touched || f.submitted)"> <small style="color: red">Contact Number required</small></div>
                            <div class="help-block"  *ngIf="contactNumb.errors?.pattern && (contactNumb.touched || f.submitted)"> <small style="color: red">Enter valid Numbers Only</small></div> 
                          
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="compemilid">Alternative Contact Number</label> 
                        <input class="form-control form-control-sm" pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" maxlength="20" type="text" #emrAlternatecontactNumber='ngModel' name="alternatecontactNumber1"
                            [(ngModel)]="contactModel.emrAlternatecontactNumber"  autocomplete="off" >
                            <div class="help-block"  *ngIf="contactModel.emrAlternatecontactNumber==contactModel.emrContactNumber && emrAlternatecontactNumber.touched"> <small style="color: red">Number Should Not be Same as Official Contact Number</small></div>

                             <div class="help-block"  *ngIf="emrAlternatecontactNumber.errors?.pattern && (emrAlternatecontactNumber.touched || f.submitted)"> <small style="color: red">Enter valid Numbers Only</small></div>
                          
                    </div>
                </div>
            </div>

            <div class="data-title">
                <h6>Social Contacts</h6>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="compemilid">Skype Id</label>
                        <input  autocomplete="off" class="form-control form-control-sm" maxlength="30" type="text" name="skypeId"
                            [(ngModel)]="contactModel.skypeId">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="compemilid">Whatsapp Number</label>
                        <input class="form-control form-control-sm" autocomplete="off" type="text" pattern="^([0|\+[0-9]{1,5})?([7-9][0-9]{9})$" maxlength="20" name="whatsAppNumber" #whatsAppNum='ngModel'
                            [(ngModel)]="contactModel.whatsAppNumber" numbersOnly>
                            <div class="help-block" *ngIf="whatsAppNum.errors?.pattern && (whatsAppNum.touched || f.submitted)"> <small style="color: red">Enter valid  Number</small></div>
                          
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-5">

                    <div class="form-row">
                        <div class="col">
                            <div class="backbtn">
                                <a>Back</a>
                            </div>
                        </div>

                        <div class="col">
                            <button class="btn btn-primary float-right" [disabled]='(f.invalid || errflag)' (click)="storeInfo()">Save &
                                Continue</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>