.emptype{
  padding-right:.9375rem;
  float:right;
  width: 90%;
}

.emptypetxt{
font-size:24px;
color: rgb(1, 157, 205);
}
.act-emp{
padding-left: 8px;
border-left: 4px solid #01abdf;
}


.viewprev{
float:right;
}
.fa-cogs{
font-size:16px;
color:rgb(255, 208, 0);
}
.btn-outline-info{
float:right;
margin-left: 10px;
}
.nav-pills {
border-radius: 0.2rem;
padding: 0.5rem 9px !important;
}
a:hover {
color: #fff242 !important;
text-decoration: none;
}

.switch {
position: relative;
display: inline-block;
width: 40px;
height: 10px;
}
.switch input { 
opacity: 0;
width: 0;
height: 0;
}
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 18px;
width: 18px;
left: -2px;
bottom: -4px;
background-color: #ffbc00;
transition: .4s;
}
/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(28px);
-ms-transform: translateX(28px);
transform: translateX(28px);
}
.lang-toggle{
padding-left:1rem;
}

input[type="radio"] + label {
position: relative;
cursor: pointer;
/* padding-right: 10px; */
margin:5px;
/* padding-left: 25px; */
}



input[type="radio"] {
margin-top: 6px;
}
/* input[type="radio"] + label:before {
top: 0;
left: 0;
width: 18px;
height: 18px;
background: #1565C0;
-moz-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
-webkit-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
box-shadow: inset 0 0 0 18px #E0E0E0;
}
input[type="radio"] + label:before, input[type="radio"] + label:after {
content: "";
position: absolute;
border-radius: 50%;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
}
input[type="radio"]:checked + label:before {
-moz-box-shadow: inset 0 0 0 4px #E0E0E0;
-webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
box-shadow: inset 0 0 0 4px #E0E0E0;
}
input[type="radio"]:checked + label:after {
-moz-transform: translate(-50%, -50%) scale(1);
-ms-transform: translate(-50%, -50%) scale(1);
-webkit-transform: translate(-50%, -50%) scale(1);
transform: translate(-50%, -50%) scale(1);
-moz-animation: ripple 1s none;
-webkit-animation: ripple 1s none;
animation: ripple 1s none;
}
input[type="radio"] + label:after {
top: 49%;
left: 9px;
width: 54px;
height: 54px;
opacity: 0;
background: rgba(255, 255, 255, 0.3);
-moz-transform: translate(-50%, -50%) scale(0);
-ms-transform: translate(-50%, -50%) scale(0);
-webkit-transform: translate(-50%, -50%) scale(0);
transform: translate(-50%, -50%) scale(0);
}  */

.customcheck {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.customcheck input {
position: absolute;
opacity: 0;
cursor: pointer;
}

.checkmark {
position: absolute;
top: 0;
left: 0;
height: 20px;
width: 20px;
background-color: #eee;
border-radius: 5px;
}

.customcheck:hover input ~ .checkmark {
background-color: #ccc;
}

.customcheck input:checked ~ .checkmark {
background-color: #02cf32;
border-radius: 5px;
}

.checkmark:after {
content: "";
position: absolute;
display: none;
}

.customcheck input:checked ~ .checkmark:after {
display: block;
}

.customcheck .checkmark:after {
left: 8px;
top: 4px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
@media (min-width: 1200px){ 
.modal-xl {
  margin-top:5%;
    max-width: 1140px;
}
}
#myModalNewConfig .modal-dialog{
margin-top:10%;
}
.addlist{
margin-top:1.2rem;
}
table.dataTable.no-footer {
  border-bottom: 0px solid #111 !important;
}
.image-cover {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.table td, .table th {
  text-align: center;
  padding: .75rem;
  vertical-align: middle !important;
}
tr{
  border-bottom: 1px solid whitesmoke;
}
.fa-eye{
  color:#2575e3;
}
.fa-pencil{
  color:green;
}
th {
  text-align: center;
}

.checkbox-inline{
display: inline !important;
margin-right: 15px;
}

/* .radiobutton input[type="radio"]{
position: relative;
cursor: pointer;
padding-right: 10px;
margin:5px;
padding-left: 25px;
} */
/* .radiobutton input[type="radio"] {
margin-top: 6px;

} */
