<div class="container-fluid">
  <div class="mainwrap">
    <form name="formM" (ngSubmit)='f.form.valid && AllDataSave(f)' #f="ngForm">
      <div class="row">
        <div class="col-md-12">
          <div class="app-page-title">
            <div class="page-title-wrapper">
              <div class="page-title-heading">
                <div class="page-title-icon"><i class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
                <div> Attendance Configuration <div class="page-title-subheading"> Here you can create various
                    attendance related configurations By employee type</div>
                    

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="white-bg">
            <div class="white-bg-menu-content">

<div class="row">
    <div class="col-md-6">
        <div class="form-row">
          <!-- <div class="col">
            <label for="effdate">Effective From Date <span style="color: red">*</span></label>
            <input type="date" class="form-control form-control-sm" name="effFromDate" #effFromDate='ngModel' (ngModelChange)="effectiveDate($event);"
              [ngModel]="ConfigurationData.effFromDate | date:'yyyy-MM-dd'" required>
            <div class="help-block" *ngIf="effFromDate.errors?.required &&   (effFromDate.touched ) "> <small
                style="color: red">Effective From Date required</small></div>
          </div> -->

          <div class="col">
            <label for="emptype">Employee Category <span style="color: red"> *</span></label>
            <select class="form-control form-control-sm " name="ParentEmpID" [(ngModel)]="selectedEmpTypeObj" name="selectedEmpTypeObj"
              #ParentEmpID='ngModel' (change)="EmpValue($event)"  required>
              <option hidden value="">Employee Category</option>
              <option value="{{subEmp.empTypeId}}" *ngFor="let subEmp of Employeedataall; let i = index;">
                {{subEmp.empTypeName}}</option>
            </select>
   
          </div>
 
          <!-- <div class="col">
            <label for="emptype">Sub Employee Type </label>
            <select class="form-control form-control-sm " name="ParentEmpID1" [(ngModel)]="selectedSubEmpTypeObj"
              name="ParentEmpID1" #ParentEmpID1='ngModel' required>
              <option value="">Sub Employee Type</option>
              <option value="{{subEmp.subEmpTypeName}}" *ngFor="let subEmp of subEmpTypeData; let i = index;">
                {{subEmp.subEmpTypeName}}</option>
              
            </select>
     
          </div> -->

          <div class="col" >
            <label>Sub Employee Category </label>
            <!-- <ng-multiselect-dropdown [placeholder]="'Select Sub Employee'" [data]="subEmpTypeData" (click)="selectClickSubEmp()"
              required [(ngModel)]="model.SubEmpList"  [ngModelOptions]="{standalone: true}"
              #SubEmpList='ngModel' name='SubEmpList' [settings]="dropdownSettingsEmploymentType">
            </ng-multiselect-dropdown> -->


            <ng-multiselect-dropdown [placeholder]="'Select Sub Employee'" [data]="subEmpTypeData" (click)="selectClickSubEmp()"
            required [(ngModel)]="ConfigurationData.subEmployeeTypeMasters"  [ngModelOptions]="{standalone: true}"
            #subEmployeeTypeMasters='ngModel' name='subEmployeeTypeMasters' [settings]="dropdownSettingsEmploymentType">
          </ng-multiselect-dropdown>


            <!-- <div class="help-block" *ngIf="model.SubEmpList.length < '1' && SubEmpList">
              <small style="color: red"> Select Sub Employee</small> </div> -->
          </div>
 
          <div class="col">
            <label for="effdate">Effective From Date <span style="color: red">*</span></label>
            <input type="date" class="form-control form-control-sm" name="effFromDate" #effFromDate='ngModel' (ngModelChange)="effectiveDate($event);"
              [ngModel]="ConfigurationData.effFromDate | date:'yyyy-MM-dd'" required>
            <div class="help-block" *ngIf="effFromDate.errors?.required &&   (effFromDate.touched ) "> <small
                style="color: red">Effective From Date required</small></div>
         </div>
        </div>
      </div>

      <div class="col-md-6">
  <div class="addlist">
          <button type="button" class="btn btn-primary btn-sm mt-2 mb-2 float-right" data-toggle="modal" data-target="#myModalConfig">
            <span>Configuration List
           
            </span>
          </button>
          <!-- <button type="button" class="btn btn-primary btn-sm mt-2 mr-2 mb-2 float-right" data-toggle="modal" data-target="#myModalNewConfig">
              <span>Add New Configuration
              
              </span>
            </button> -->
          </div>
        </div>
</div>


              <div class="row">
                <div class="col-md-12">
                  <ul [ngClass]="themeColor" class="nav nav-pills nav-fill navtop">
                    <li class="nav-item">
                      <a class="nav-link active" href="#menu1" id="pills-first-tab" data-toggle="tab">Late & Early Go Configuration</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#menu2" id="pills-profile-tab" data-toggle="tab">Compensatory
                        Off/Overtime
                        Settings</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#menu3" id="pills-profile-tab1" data-toggle="tab">Payroll Setting</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link " href="#menu6" id="pills-profile-tab4" data-toggle="tab"> Staggered Off</a>
                    </li> -->
                    <li class="nav-item">
                      <a class="nav-link" href="#menu4" id="pills-profile-tab2" data-toggle="tab">Attendance
                        Regularisation</a>
                    </li>
                   
                    <li class="nav-item">
                      <a class="nav-link " href="#menu5" id="pills-profile-tab3" [hidden]='!ConfigurationData.permissionReq' data-toggle="tab">Permission Request
                        Configuration</a>
                    </li>
                  </ul>
                  <hr>
                  <div class="tab-content">


                    <!--================ first tab starts ================-->
                    <div class="tab-pane active" role="tabpanel" id="menu1">

                      <div class="row justify-content-center">

                        <div class="col-md-4">

                          <!-- <form name="form" #f="ngForm" novalidate> -->

                          <div class="form-row">
                            <div class="col">
                              
                                <div class="form-row"> 
                                  <label ></label>
                                <input type="radio" id="radio12"  value="lateRuleApllicabel" name="advLateandRule" [(ngModel)]="ConfigurationData.lateRuleApllicabeloradvance"
                                #applicableType='ngModel'/>
                              <label for="radio12" >Late Rule Is Applicable</label>
                              <span *ngIf="advanSettingLateAndEarlyForPayDed"></span>
                              <input type="radio" id="radio13" value="advanSettingLateAndEarlyForPayDed"  name="advLateandRule" [(ngModel)]="ConfigurationData.lateRuleApllicabeloradvance"
                                #applicableType='ngModel'/><label for="radio13" >Advance Setting Of Late & Early</label>
                                
                                </div>
                               <br> 
                            </div>
                         
                          </div>
                          <div class="form-group" *ngIf="ConfigurationData.lateRuleApllicabeloradvance == 'lateRuleApllicabel'">

                              
                            <label>Late Rule Is Applicable <span style="color: red">*</span></label>
                            <br>
                            <label class="switch mt-2" >
                              <input type="checkbox" name="lateRuleApllicabel" [(ngModel)]="ConfigurationData.lateRuleApllicabel"
                                (click)='clearLateRule()'>
                              <span class="slider round"></span>
                            </label>
                          </div>
                          <div *ngIf="ConfigurationData.lateRuleApllicabel &&  ConfigurationData.lateRuleApllicabeloradvance == 'lateRuleApllicabel'">
                            <div class="form-group">
                              <label>Grace Time For Late Period (HH:MM)</label> 
                              <input type="text" class="form-control" placeholder="--:--" id="24h" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}"
                                [(ngModel)]="ConfigurationData.graceTimeForLatePeriod" name="24hr"
                                #graceTimeForLatePeriod="ngModel" />
                             
                              
                              <div class="help-block" *ngIf="graceTimeForLatePeriod.errors?.pattern && (graceTimeForLatePeriod.touched )">
                                <small style="color: red">Enter valid Time In 24hr Format ex: 1:00 </small>
                              </div>
                            </div>


                            <div class="form-group" *ngIf="ConfigurationData.lateRuleApllicabeloradvance == 'lateRuleApllicabel'">
                              <label>Want To Add Deduction Of Days On Late Rule</label>
                              <br>
                              <label class="switch mt-2">
                                <input type="checkbox" name="wantToAddDeductionOfDaysOnLate" [(ngModel)]="ConfigurationData.wantToAddDeductionOfDaysOnLate"
                                  (click)='clearDeductionofDays()'>
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div>
                          <div class="form-row" *ngIf="ConfigurationData.lateRuleApllicabeloradvance == 'lateRuleApllicabel' && ConfigurationData.wantToAddDeductionOfDaysOnLate">

                            <div class="form-group col-md-6" *ngIf="ConfigurationData.wantToAddDeductionOfDaysOnLate">
                              <label>Number Of Late Comings Allowed In A month<span style="color: red">*</span></label>
                              <input type="text" class="form-control" maxlength="2" pattern="^(3[01]|[12][0-9]|[0-9])$"
                                name="noOffLateCommingAllowPerMonth" [(ngModel)]="ConfigurationData.noOffLateCommingAllowPerMonth"
                                #noOffLateCommingAllowPerMonth="ngModel" [ngClass]="{ 'is-invalid': f.submitted && noOffLateCommingAllowPerMonth.invalid }"
                                required />
                              <div class="help-block" *ngIf="noOffLateCommingAllowPerMonth.errors?.pattern && (noOffLateCommingAllowPerMonth.touched )">
                                <small style="color: red">Enter Valid Number Of Late Comings allowed in a month</small>
                              </div>

                              <div class="help-block" *ngIf="noOffLateCommingAllowPerMonth.errors?.required && (noOffLateCommingAllowPerMonth.touched )">
                                <small style="color: red">Number Of Late Comings Allowed In A Month Required</small>
                              </div>
                            </div>
                            <div class="form-group col-md-6" *ngIf="ConfigurationData.wantToAddDeductionOfDaysOnLate">
                              <label>Number Of Days To Deduct After Crossing Allowed Late Events <span style="color: red">*</span></label>
                              <!-- <input type="text" maxlength="2" pattern="^(\(?\+?[0-9]*\)?)?[0-9_\(\)]*$"
                                class="form-control" name="noOffDaysToDeductAfterCrossingAllowedEvent"
                                [(ngModel)]="ConfigurationData.noOffDaysToDeductAfterCrossingAllowedEvent"
                                #noOffDaysToDeductAfterCrossingAllowedEvent="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && noOffDaysToDeductAfterCrossingAllowedEvent.invalid }"
                                required /> -->
                              <select name="leaveCreditStartmonth" [(ngModel)]="ConfigurationData.noOffDaysToDeductAfterCrossingAllowedEvent"
                                form="startmonth" class="form-control" #leaveCreditStartmonth='ngModel' required>
                                <option hidden [value]="selectUndefinedOptionValue">Select</option>
                                <option value="FullDay">Full Day</option>
                                <option value="HalfDay">Half Day</option>
                                <option value="none">None</option>

                              </select>
                              <div class="help-block" *ngIf="leaveCreditStartmonth.errors?.required && (leaveCreditStartmonth.touched)">
                                <small style="color: red">Number Of Days To deduct after crossing allowed Late events
                                  required</small>
                              </div>
                              <div class="help-block" *ngIf="leaveCreditStartmonth.errors?.pattern && (leaveCreditStartmonth.touched )"><small
                                  style="color: red">character and splecial character not allowed</small></div>

                            </div>
                          </div>
                          
                          <!-- <hr> -->
                          <div class="form-row" *ngIf="ConfigurationData.lateRuleApllicabeloradvance == 'lateRuleApllicabel'">

                            <div class="form-group col-md-6" >
                              <label>Early Rule Is Applicable <span style="color: red">*</span></label>
                              <br>
                              <label class="switch mt-2">
                                <input type="checkbox" name="earlyRuleIsApplicabel" [(ngModel)]="ConfigurationData.earlyRuleIsApplicabel"
                                  (click)='clearEarlyRule()'>
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div>
                          <div *ngIf="ConfigurationData.lateRuleApllicabeloradvance == 'lateRuleApllicabel' && ConfigurationData.earlyRuleIsApplicabel">
                            <div class="form-group">
                              <label>Grace Time For Early Period (HH:MM)</label> 
                              <input type="text" class="form-control" placeholder="--:--" id="24h" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" name="graceTimeForEarlyPeriod" [(ngModel)]="ConfigurationData.graceTimeForEarlyPeriod"
                                #graceTimeForEarlyPeriod="ngModel" [ngClass]="{ 'is-invalid': f.submitted && graceTimeForEarlyPeriod.invalid }"
                                 />

                             
                              <div class="help-block" *ngIf="graceTimeForEarlyPeriod.errors?.pattern && (graceTimeForEarlyPeriod.touched )">
                                <small style="color: red">Enter valid time in 24hr format ex: 1:00</small>
                              </div>
                            </div>

                            <div class="form-group" *ngIf="ConfigurationData.earlyRuleIsApplicabel"> 
                              <label>Want To add Deduction of Days on Early Rule</label>
                              <br>
                              <label class="switch mt-2">
                                <input type="checkbox" name="wantToAddDeductionOnEarly" [(ngModel)]="ConfigurationData.wantToAddDeductionOnEarly"
                                  (click)='clearDeductioOfDay()'>
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div>
                          <div class="form-row" *ngIf="ConfigurationData.lateRuleApllicabeloradvance == 'lateRuleApllicabel' && ConfigurationData.wantToAddDeductionOnEarly">

                            <div class="form-group col-md-6">
                              <label>Number Of Early Going Allowed In A Month
                                <span style="color: red">*</span></label>
                              <input type="text" class="form-control" maxlength="2" pattern="^(3[01]|[12][0-9]|[0-9])$"
                                name="noOffEarlyGoingsAllowedInAMonth" [(ngModel)]="ConfigurationData.noOffEarlyGoingsAllowedInAMonth"
                                #noOffEarlyGoingsAllowedInAMonth="ngModel" [ngClass]="{ 'is-invalid': f.submitted && noOffEarlyGoingsAllowedInAMonth.invalid }"
                                required />
                              <div class="help-block" *ngIf="noOffEarlyGoingsAllowedInAMonth.errors?.required && (noOffEarlyGoingsAllowedInAMonth.touched )">
                                <small style="color: red">Number Of Early Going Allowed In A Month Required</small>
                              </div>
                              <div class="help-block" *ngIf="noOffEarlyGoingsAllowedInAMonth.errors?.pattern && (noOffEarlyGoingsAllowedInAMonth.touched )">
                                <small style="color: red">Enter Valid Number Of Early Going Allowed In A Month</small>
                              </div>

                            </div>
                            <div class="form-group col-md-6">
                              <label>Number Of Days To Deduct After Crossing Allowed Early Events <span style="color: red">*</span></label>

                              <!-- <input type="text" class="form-control" maxlength="2"
                                pattern="^(\(?\+?[0-9]*\)?)?[0-9_\(\)]*$" name="noDaysToDeductAfterCrossingAllowed"
                                [(ngModel)]="ConfigurationData.noDaysToDeductAfterCrossingAllowed"
                                #noDaysToDeductAfterCrossingAllowed="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && noDaysToDeductAfterCrossingAllowed.invalid }"
                                required /> -->
                              <select name="noDaysToDeductAfterCrossingAllowed" [(ngModel)]="ConfigurationData.noDaysToDeductAfterCrossingAllowed"
                                form="startmonth" class="form-control" #noDaysToDeductAfterCrossingAllowed='ngModel'
                                required>
                                <option hidden [value]="selectUndefinedOption">Select</option>
                                <option value="FullDay">Full Day</option>
                                <option value="HalfDay">Half Day</option>
                                <option value="none">None</option>
                              </select>
                              <div class="help-block" *ngIf="noDaysToDeductAfterCrossingAllowed.errors?.required && (noDaysToDeductAfterCrossingAllowed.touched )">
                                <small style="color: red">Number Of Days To Deduct After Crossing Allowed Early Events
                                  required</small></div>           
                              <div class="help-block" *ngIf="noDaysToDeductAfterCrossingAllowed.errors?.pattern && (noDaysToDeductAfterCrossingAllowed.touched )">
                                <small style="color: red">Character And Splecial Character Not Allowed</small></div>

                            </div>
                          </div>
                          <!-- <hr> -->

                          <div class="form-group" *ngIf="ConfigurationData.lateRuleApllicabeloradvance == 'advanSettingLateAndEarlyForPayDed'">
                            <div class="form-group">
                              <label>Advance Setting Of Late & Early For Payroll Deduction </label>
                              <br>
                              <label class="switch mt-2" >
                                <input type="checkbox" name="advanSettingLateAndEarlyForPayDed" [(ngModel)]="ConfigurationData.advanSettingLateAndEarlyForPayDed">
                                <span class="slider round"></span>
                              </label>
                            </div>

                          </div>

                          <div class="form-group" *ngIf="ConfigurationData.lateRuleApllicabeloradvance == 'advanSettingLateAndEarlyForPayDed' && ConfigurationData.advanSettingLateAndEarlyForPayDed">
                            <label>Actual Working Hours Of A Day<span style="color: red">*</span></label>
                            <input type="text" class="form-control" name="actualWorkingHoursOfDay" pattern="^[1-9][0-9.]*"
                              [ngModel]="ConfigurationData.actualWorkingHoursOfDay | number:'1.0-2'"
                              #actualWorkingHoursOfDay="ngModel" maxlength="5" [ngClass]="{ 'is-invalid': f.submitted && actualWorkingHoursOfDay.invalid }"
                              required (ngModelChange)="actualWorkingHoursOfDayChange($event)" />

                            <div class="help-block" *ngIf="actualWorkingHoursOfDay.errors?.required && (actualWorkingHoursOfDay.touched )">
                              <small style="color: red">enter Actual working hours of a day</small>
                            </div>
                            <div class="help-block" *ngIf="actualWorkingHoursOfDay.errors?.pattern && (actualWorkingHoursOfDay.touched )">
                              <small style="color: red"> enter valid time</small></div>

                          </div>

                          <div class="form-row" *ngIf="ConfigurationData.lateRuleApllicabeloradvance == 'advanSettingLateAndEarlyForPayDed' && ConfigurationData.advanSettingLateAndEarlyForPayDed" >
                            <div class="form-group col-md-6">
                              <label>Number Of Minutes Per Slot<span style="color: red">*</span> </label>
                              <input type="text" class="form-control" name="noOfMinPerMonth" maxlength="4" pattern="^(?=.*[1-9])(?:[1-9]\d*\.?|0?\.)\d*$"
                                [(ngModel)]="ConfigurationData.noOfMinPerMonth" #noOfMinPerMonth="ngModel" required />
                              <div class="help-block" *ngIf="noOfMinPerMonth.errors?.required && (noOfMinPerMonth.touched )">
                                <small style="color: red">Number of minutes per slot required</small></div>
                              <div class="help-block" *ngIf="noOfMinPerMonth.errors?.pattern && (noOfMinPerMonth.touched )">
                                <small style="color: red"> enter valid minutes</small></div>

                            </div>
                            <div class="form-group col-md-6" *ngIf="ConfigurationData.lateRuleApllicabeloradvance == 'advanSettingLateAndEarlyForPayDed' && ConfigurationData.advanSettingLateAndEarlyForPayDed">
                              <label>Deduction In Hours<span style="color: red">*</span></label>
                              <input type="text" class="form-control" name="deductionInHrs" pattern="^(?=.*[1-9])(?:[1-9]\d*\.?|0?\.)\d*$"
                                [ngModel]="ConfigurationData.deductionInHrs | number:'1.0-2'" #deductionInHrs="ngModel"
                                required (ngModelChange)="deductionInHrsChange($event)" maxlength="4" />
                              <div class="help-block" *ngIf="deductionInHrs.errors?.required && (deductionInHrs.touched )">
                                <small style="color: red">Deduction in Hours required</small></div>
                              <div class="help-block" *ngIf="deductionInHrs.errors?.pattern && (deductionInHrs.touched )"><small
                                  style="color: red">enter valid Hours</small></div>

                            </div>
                          </div>
                          <!-- </form> -->
                          <div class="form-group">
                            <button class="btn btn-success" type="button" style="float: right;"  (click)="nextFisrt()">Next</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--================ first tab End ================-->


                    <!--================ second tab Start ================-->
                    <div class="tab-pane" role="tabpanel" id="menu2">

                      <div class="row justify-content-center">
                        <div class="col-md-4">
                           <!-- <form name="formA" #f="ngForm" novalidate> -->

                              <!-- <div class="form-group">
                                  <label>Both Not Applicable</label>
                                  <br>
                                  <label class="switch mt-2">
                                    <input type="checkbox" name="bothNotApplicable" [(ngModel)]="ConfigurationData.bothNotApplicable"
                                      (ngModelChange)='clearboth($event)'>
                                    <span class="slider round"></span>
                                  </label>
                                </div> -->
                      <div>
                         <div class="form-group" >
                            <label>Applicable</label>
                            <br>
                            <input type="radio" id="radio2" value="Overtime" name="applicableType" (click)='clearOverT()' [(ngModel)]="ConfigurationData.applicableType"
                              #applicableType='ngModel' />
                            <label for="radio2">Overtime</label>

                            <input type="radio" id="radio3" value="Compensatory-Off" (click)='clearCoff()' name="applicableType" [(ngModel)]="ConfigurationData.applicableType"
                              #applicableType='ngModel'/>
                            <label for="radio3">Compensatory Off</label>

                            <input type="radio" id="radio4" value="None"  name="applicableType" [(ngModel)]="ConfigurationData.applicableType"
                            #applicableType='ngModel'/>
                          <label for="radio4">Both Not Applicable</label>
                          </div>
                          <div class="form-group" *ngIf='ConfigurationData.applicableType =="Overtime"'>
                            <label>Minimum Minutes To Consider Overtime <span style="color: red">*</span></label>
                            <input type="text" class="form-control" maxlength="5" pattern="^[1-9][0-9]*" name="overtimeMinMinutes"
                              [(ngModel)]="ConfigurationData.overtimeMinMinutes" #overtimeMinMinutes="ngModel" required />

                            <div class="help-block" *ngIf="overtimeMinMinutes.errors?.required && (overtimeMinMinutes.touched )">
                              <small style="color: red">Minimum Minutes To consider Overtime Required</small></div>
                            <div class="help-block" *ngIf="overtimeMinMinutes.errors?.pattern && (overtimeMinMinutes.touched )">
                              <small style="color: red">Please enter valid minutes</small></div>
                          </div>
                        </div>

                          <div *ngIf='ConfigurationData.applicableType =="Compensatory-Off"'>
                            <div class="form-group">
                              <label>Extra Working Request & Authorization Is Required?</label>
                              <br>
                              <label class="switch mt-2">
                                <!-- <input type="checkbox" name="extraWorReqAutIsReq" [(ngModel)]="ConfigurationData.extraWorReqAutIsReq"
                                  (ngModelChange)='clearExtra($event)'> -->
                                  <input type="checkbox" name="extraWorReqAutIsReq" [(ngModel)]="ConfigurationData.extraWorReqAutIsReq"
                                  (ngModelChange)='clearExtra($event)'>
                                <span class="slider round"></span>
                              </label>
                            </div>

                            <div class="form-group" *ngIf='ConfigurationData.extraWorReqAutIsReq'>

                              <label class="customcheck checkbox-inline">
                                <input type="checkbox" name="futureDays" [(ngModel)]="ConfigurationData.futureDays">
                                <span class="checkmark"></span>
                                future Days
                              </label>

                              <label class="customcheck checkbox-inline">
                                <input type="checkbox" name="pastDays" [(ngModel)]="ConfigurationData.pastDays">
                                <span class="checkmark"></span>
                                Past Days
                              </label>
                            </div>

                            <div class="form-group">
                              <label> Consider Coff On Extra Work</label>
                              <label class="customcheck">
                                <input type="checkbox" name="coffWeekday" [(ngModel)]="ConfigurationData.coffWeekday"
                                  (ngModelChange)="extraWorkingChanged($event)" (click)='clearWeekday()'>
                                <span class="checkmark"></span>
                                Weekday
                              </label>

                              <label class="customcheck">
                                <input type="checkbox" name="coffWeeklyOff" [(ngModel)]="ConfigurationData.coffWeeklyOff"
                                  (ngModelChange)="extraWorkingChanged($event)" (click)='clearWeeklyoff()'>
                                <span class="checkmark"></span>
                                Weeklyoff
                              </label>

                              <label class="customcheck">
                                <input type="checkbox" name="coffHoliday" [(ngModel)]="ConfigurationData.coffHoliday"
                                  (ngModelChange)="extraWorkingChanged($event)" (click)='clearholidayoff()'>
                                <span class="checkmark"></span>
                                Holiday
                              </label>
                            </div>


                            <div class="form-group" *ngIf="coffFlag || ConfigurationData.coffWeekday || ConfigurationData.coffWeeklyOff || ConfigurationData.coffHoliday">
                              <table id="emplisttable" class="table table-bordered">
                                <thead class="thead-dark2">
                                  <th>
                                    <!-- WeekDay -->
                                  </th>
                                  <th>
                                    Full Day ( In Min )  <small style="color: red"> *</small>
                                  </th>
                                  <th>
                                    Halfday ( In Min )
                                  </th>
                                </thead>
                                <tr *ngIf="ConfigurationData.coffWeekday">
                                  <td>
                                    Weekday
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" maxlength="6" name="coffWeekday3"
                                      #coffWeekday3='ngModel' [(ngModel)]="cotSettingExtraWorkingList[2].fullDay"
                                      pattern=^[1-9][0-9]* required >
            
                                    <div *ngIf='coffWeekday3.errors?.pattern && coffWeekday3.touched'>
                                      <small style="color: red"> Enter Number only</small>
                                    </div>

                                    <div *ngIf='coffWeekday3.errors?.pattern && ( coffWeekday3.touched && coffWeekday3.value <= 0 )'>
                                      <small style="color: red"> 0 not allowed</small>
                                    </div>
                                    
                                    <div *ngIf='coffWeekday3.errors?.required && coffWeekday3.touched'>
                                      <small style="color: red"> full day required</small>
                                    </div>
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" maxlength="6" name="coffWeekday4"
                                      #coffWeekday4='ngModel' [(ngModel)]="cotSettingExtraWorkingList[2].halfDay"
                                      pattern=^[0-9][0-9]* >
                                 
                                      <div *ngIf='coffWeekday4.errors?.pattern &&  coffWeekday4.touched '>
                                        <small style="color: red">Enter Number only </small>
                                      </div>
                                  </td>
                                </tr>
                                <tr *ngIf="ConfigurationData.coffWeeklyOff">
                                  <td>
                                    Weekly Off
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" name="coffWeekday5" #coffWeekday5='ngModel'
                                      [(ngModel)]="cotSettingExtraWorkingList[0].fullDay" pattern=^[1-9][0-9]*
                                      maxlength="6" required >
                                      <div *ngIf='coffWeekday5.errors?.required && coffWeekday5.touched'>
                                        <small style="color: red"> full day required</small>
                                      </div>
                                    

                                    <div *ngIf='coffWeekday5.errors?.pattern && coffWeekday5.touched'>
                                      <small style="color: red"> Enter Number only</small>
                                    </div>

                                    <div *ngIf='coffWeekday5.errors?.pattern && ( coffWeekday5.touched && coffWeekday5.value <= 0 )'>
                                      <small style="color: red"> 0 not allowed</small>
                                    </div>

                                  </td>
                                  <td>
                                    <input type="text" class="form-control" name="coffWeekday6" #coffWeekday6='ngModel'
                                      [(ngModel)]="cotSettingExtraWorkingList[0].halfDay" maxlength="6" pattern=^[0-9][0-9]*
                                     >
                                  
                                   
                                    <div *ngIf='coffWeekday6.errors?.pattern && coffWeekday6.touched'>
                                      <small style="color: red"> Enter Number only</small>
                                    </div>
                                  </td>
                                </tr>
                                <tr *ngIf="ConfigurationData.coffHoliday">
                                  <td>
                                    Holiday
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" name="coffWeekday1" #coffWeekday1='ngModel'
                                      [(ngModel)]="cotSettingExtraWorkingList[1].fullDay" maxlength="6" pattern=^[1-9][0-9]*
                                    required >
                                     <div *ngIf='coffWeekday1.errors?.required && coffWeekday1.touched'>
                                      <small style="color: red"> full day required</small>
                                    </div>
                                   
                                    <div *ngIf='coffWeekday1.errors?.pattern && coffWeekday1.touched'>
                                      <small style="color: red"> Enter Number only</small>
                                    </div>

                                    <div *ngIf='coffWeekday1.errors?.pattern && ( coffWeekday1.touched && coffWeekday1.value <= 0 )'>
                                      <small style="color: red"> 0 not allowed</small>
                                    </div>
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" maxlength="6" name="coffWeekday2"
                                      #coffWeekday2='ngModel' [(ngModel)]="cotSettingExtraWorkingList[1].halfDay"
                                      pattern=^[0-9][0-9]* >
                                  
                                    <div *ngIf='coffWeekday2.errors?.pattern && coffWeekday2.touched'>
                                      <small style="color: red"> Enter Number only</small>
                                    </div>
                                  </td>
                                </tr>

                              </table>
                            </div>
                    
                            <div class="form-group">
                              <label>Coff Collapsed Day</label>
                              <input type="text" class="form-control" name="coffCollapsedDays" maxlength="4" pattern=^[0-9][0-9]*
                                [(ngModel)]="ConfigurationData.coffCollapsedDays" #coffCollapsedDays="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && coffCollapsedDays.invalid }" />
                              <!-- <div class="help-block"
                                *ngIf="coffCollapsedDays.errors?.required && (coffCollapsedDays.touched )"
                               ><small style="color: red">Coff Collapsed Days required</small></div>
                              <div class="help-block"
                                *ngIf="coffCollapsedDays.errors?.pattern && (coffCollapsedDays.touched )"
                               ><small style="color: red">character and splecial character not allowed</small></div> -->

                              <div class="help-block" *ngIf="coffCollapsedDays.errors?.pattern && (coffCollapsedDays.touched )">
                                <small style="color: red">Please enter valid Coff collapsed day</small></div>
                            </div>
                          </div>
                          <!-- 
                        </form> -->
                          <div class="form-group">
                            <button class="btn btn-success" style="float: right;" type="button" (click)="nextSecond()">Next</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--================ second tab Start ================-->

                    <div class="tab-pane" role="tabpanel" id="menu3">

                      <div class="row justify-content-center">
                        <div class="col-md-4">
                          <!-- <form name="formB" #f="ngForm" novalidate> -->
                          <h6>Do You Want To Consider Below In Paid Days:</h6>
                          <div class="form-group">
                            <label>Weekly Off</label>
                            <br>
                            <label class="switch mt-2">
                              <input type="checkbox" name="includeWeekndsInPay" [(ngModel)]="ConfigurationData.includeWeekndsInPay">
                              <span class="slider round"></span>
                            </label>
                          </div>

                          <div class="form-group">
                            <label>Holiday</label>
                            <br>
                            <label class="switch mt-2">
                              <input type="checkbox" name="includeHolidayInPay" [(ngModel)]="ConfigurationData.includeHolidayInPay">
                              <span class="slider round"></span>
                            </label>
                          </div>

                          <div class="form-group" hidden>
                            <label>Absent On Prefix/Suffix Of Weekly Off/Holiday</label>
                            <br>
                            <label class="switch mt-2">
                              <input type="checkbox" name="absentOnPrefix" [(ngModel)]="ConfigurationData.absentOnPrefix">
                              <span class="slider round"></span>
                            </label>
                          </div>
                          <!-- </form> -->
                          <div class="form-group">
                            <button class="btn btn-success" style="float: right;" type="button" (click)="nextFive()">Next</button>
                          </div>
                        </div>
                      </div>
                    </div>

                   

                    <!--================ Four tab Start ================-->
                    <div class="tab-pane" role="tabpanel" id="menu4">

                      <div class="row justify-content-center">
                        <div class="col-md-4">
                          <!-- <form name="formC" #f="ngForm" novalidate> -->


                          <!-- <div class="form-row">
                            <div class="form-group col-md-10">
                              <label>Allowed Regularization of Late Coming</label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="lateComming" [(ngModel)]="ConfigurationData.lateComming">
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div> -->

                          <!-- <div class="form-row">
                            <div class="form-group col-md-10">
                              <label>Allowed Regularization of Late Coming</label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="onDuty" [(ngModel)]="ConfigurationData.onDuty">
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div> -->

                          <!-- <div class="form-row">
                            <div class="form-group col-md-10">
                              <label>Allowed Regularization of Early Going</label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="earlyGoing" [(ngModel)]="ConfigurationData.earlyGoing">
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div> -->

                          <div class="form-row">
                            <div class="form-group col-md-10">
                              <label> Allowed Regularization Of Late Comming And Early Going </label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="lateComeAndEarlyGo" [(ngModel)]="ConfigurationData.lateComeAndEarlyGo">
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div>


                          <div class="form-row">
                            <div class="form-group col-md-10">
                              <label>Allowed Regularization Of On Duty </label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="onDuty" [(ngModel)]="ConfigurationData.onDuty">
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div>

                          <!-- <div class="form-row">
                            <div class="form-group col-md-10">
                              <label>Allowed Regularization of Gate Pass </label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="gatePass" [(ngModel)]="ConfigurationData.gatePass">
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div> -->

                          <div class="form-row">
                            <div class="form-group col-md-10">
                              <label>Allowed Regularization Of Permission Request </label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="permissionReq"  [(ngModel)]="ConfigurationData.permissionReq" (ngModelChange)="permissionReqChanged($event)">
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="form-group col-md-10">
                              <label>Work From Home </label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="workfromHome" [(ngModel)]="ConfigurationData.workfromHome">
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="form-group col-md-10">
                              <label>Miss Punch </label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="missPunch" [(ngModel)]="ConfigurationData.missPunch">
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="form-group col-md-10">
                              <label>Extra Work</label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="extraWork" [(ngModel)]="ConfigurationData.extraWork">
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="form-group col-md-10">
                              <label>C-off</label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="gatePass" [(ngModel)]="ConfigurationData.coff">
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div>

                          <!-- <div class="form-row">
                            <div class="form-group col-md-10">
                              <label>Was on training / Will be on training</label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="wasOnTraining" [(ngModel)]="ConfigurationData.wasOnTraining">
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div> -->
                          <!-- <div class="form-row">
                            <div class="form-group col-md-10">
                              <label>Was on Duty/ Will be on Duty</label>
                            </div>
                            <div class="form-group col-md-2">
                              <label class="switch mt-2">
                                <input type="checkbox" name="wasOnDuty" [(ngModel)]="ConfigurationData.wasOnDuty">
                                <span class="slider round"></span>
                              </label>
                            </div> 

                          </div> -->
                          <!-- </form> -->
                         
                          <div class="form-group">
                              <button class="btn btn-primary" *ngIf='!ConfigurationData.permissionReq' type="submit" style="float: right;margin: 10px;" [disabled]='f.invalid'>Save</button>
                              <button class="btn btn-primary" *ngIf='!ConfigurationData.permissionReq' (click)="reset()" type="reset" style="float: right;margin: 10px;">Reset</button>
                              <button class="btn btn-success"  [hidden]='!ConfigurationData.permissionReq'style="float: right;" type="button" (click)="nextFour()">Next</button>
                          </div>
                        </div>
                      </div>

                    </div>
                    <!--================ Four tab End ================-->

                   

                    <!--================ Five tab ================-->
                    <div class="tab-pane"  role="tabpanel" id="menu5" >

                      <div class="row justify-content-center">

                        <div class="col-md-4">
                          <!-- 
                        <form name="formD" #f="ngForm" novalidate> -->

                          <div class="form-group">
                            <label>Permission Request Is Applicable</label>  
                            <br>
                            <label class="switch mt-2">
                              <input type="checkbox" name="perReqCon" (click)='clear()' (ngModelChange)="perReqConChanged($event)"  [(ngModel)]="ConfigurationData.perReqCon">
                              <span class="slider round"></span>
                            </label>
                          </div>


                          <div *ngIf="ConfigurationData.perReqCon == true">
                            <div class="form-group">
                              <label>Permission Period To Apply <span style="color: red">*</span></label>
                              <br>
                              <input type="radio" id="radio9" value="Monthly" name="perrPeriodToApply" (click)='clearMonthly()' [(ngModel)]="ConfigurationData.perrPeriodToApply" />
                              <label for="radio9">Monthly</label>

                              <input type="radio" id="radio10" value="Yearly" name="perrPeriodToApply" (click)='clearYearly()' [(ngModel)]="ConfigurationData.perrPeriodToApply" />
                              <label for="radio10">Yearly</label>
                            </div>

                            <div class="form-group" *ngIf="ConfigurationData.perrPeriodToApply == 'Yearly'">
                              <label>Number Of Permissions Requests Allowed Per Year <span style="color: red">*</span></label>
                              <input type="text" class="form-control" name="numOffPerReqAllPerYear" maxlength="2"
                                pattern="^[1-9][0-9.]*" [(ngModel)]="ConfigurationData.numOffPerReqAllPerYear"
                                #numOffPerReqAllPerYear="ngModel" required />
                              <div class="help-block" *ngIf="numOffPerReqAllPerYear.errors?.required && (numOffPerReqAllPerYear.touched)">
                                <small style="color: red">Number Of Permissions Requests Allowed Per Year
                                  Required</small>
                              </div>
                              <div class="help-block" *ngIf="numOffPerReqAllPerYear.errors?.pattern && (numOffPerReqAllPerYear.touched)">
                                <small style="color: red">Please enter valid permissions requests allowed per year</small>
                              </div>
                            </div>

                            <div class="form-group" *ngIf="ConfigurationData.perrPeriodToApply == 'Monthly'">
                              <label>Number Of Permissions Requests Allowed Per Month <span style="color: red">*</span></label>
                              <input type="text" class="form-control" name="numOffPerReqAllPerMon" maxlength="2"
                                pattern="^[0-9][0-9.]*" [(ngModel)]="ConfigurationData.numOffPerReqAllPerMon"
                                #numOffPerReqAllPerMon="ngModel" required />
                              <div class="help-block" *ngIf="numOffPerReqAllPerMon.errors?.required && (numOffPerReqAllPerMon.touched)">
                                <small style="color: red">Number Of permissions requests allowed per month
                                  required</small>
                              </div>
                              <div class="help-block" *ngIf="numOffPerReqAllPerMon.errors?.pattern && (numOffPerReqAllPerMon.touched)">
                                <small style="color: red">Please enter valid permissions requests allowed per month</small>
                              </div>
                            </div>

                            <div class="form-group">
                              <label>Number Of Permissions Requests Allowed Per-Day <span style="color: red">*</span>
                              </label>
                              <input type="text" class="form-control" name="numPerReqAllPerDay" maxlength="2" pattern="^[0-9][0-9.]*"
                                [(ngModel)]="ConfigurationData.numPerReqAllPerDay" #numPerReqAllPerDay="ngModel"
                                required />
                              <div class="help-block" *ngIf="numPerReqAllPerDay.errors?.required && (numPerReqAllPerDay.touched)">
                                <small style="color: red">Number Of permissions requests allowed per day required</small>
                              </div>
                              <div class="help-block" *ngIf="numPerReqAllPerDay.errors?.pattern && numPerReqAllPerDay.touched">
                                <small style="color: red">Enter Valid Number Of permissions requests allowed per-day</small>
                              </div>
                            </div>

                            <div class="form-group">
                              <label>Max Minutes Allowed Per Request <span style="color: red">*</span></label>
                              <input type="text" class="form-control" maxlength="64" pattern="^[0-9][0-9]*" name="maxMinutesAllowedRequest"
                                [(ngModel)]="ConfigurationData.maxMinutesAllowedRequest" #maxMinutesAllowedRequest="ngModel"
                                required />
                              <div class="help-block" *ngIf="maxMinutesAllowedRequest.errors?.required && (maxMinutesAllowedRequest.touched)">
                                <small style="color: red">Max minutes allowed per Request
                                  required</small></div>

                              <div class="help-block" *ngIf="maxMinutesAllowedRequest.errors?.pattern && maxMinutesAllowedRequest.touched">
                                <small style="color: red"> Enter Valid Max minutes allowed per Request </small></div>

                              <div class="help-block" *ngIf="ConfigurationData.maxMinutesAllowedRequest > 1440">
                                <small style="color: red"> Max minutes allowed per Request Should be less than 1440
                                </small></div>
                            </div>

                            <!-- <p>Allowed To Apply: </p>
                            <div class="form-row">

                              <div class="form-group col-md-6">
                                <label>Before Days </label>
                                <input type="text" class="form-control" pattern="^[0-9][0-9]*" name="numOfDaysBeforeYouCanApply"
                                  [(ngModel)]="ConfigurationData.numOfDaysBeforeYouCanApply"
                                  #numOfDaysBeforeYouCanApply="ngModel" />
                                <div class="help-block" *ngIf="numOfDaysBeforeYouCanApply.errors?.pattern && numOfDaysBeforeYouCanApply.touched">
                                  <small style="color: red"> Enter Valid Before Days </small></div>

                                <div class="help-block" *ngIf="ConfigurationData.numOfDaysBeforeYouCanApply > 1440">
                                  <small style="color: red"> Before Days Should be less than 1440 </small></div>

                              </div>
                              <div class="form-group col-md-6">
                                <label>After Days</label>
                                <input type="text" pattern="^[0-9][0-9]*" class="form-control" name="numOfDaysAfterYouCanApply"
                                  [(ngModel)]="ConfigurationData
                                  .numOfDaysAfterYouCanApply"
                                  #numOfDaysAfterYouCanApply="ngModel" />
                                <div class="help-block" *ngIf="numOfDaysAfterYouCanApply.errors?.pattern && numOfDaysAfterYouCanApply.touched">
                                  <small style="color: red"> Enter Valid After Days </small></div>

                                <div class="help-block" *ngIf="ConfigurationData.numOfDaysAfterYouCanApply > 1440">
                                  <small style="color: red"> After days should be less than 1441 </small></div>

                              </div>
                            </div> -->

                          </div>

                          <button class="btn btn-primary" type="submit" style="float: right;margin: 10px;" [disabled]='f.invalid'>Save</button>
                          <button class="btn btn-primary" (click)="reset()" type="reset" style="float: right;margin: 10px;">Reset</button>
                          <!-- </form> -->



                        </div>
                      </div>


                    </div>
                    <!--================ five tab end ================-->

                    <div *ngIf='f.invalid'>
                      <span style="color: red"><small>* Please Full-Fill All Mandatory Field</small></span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">

      </div>

    </form>

  </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModalConfig">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Attendance Configuration List</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="table-responsive">
          <table id="emplisttable" class="table table-bordered">
            <thead class="theadblue">
              <tr>
                <th style="width: 6%;">Sr. No.</th>
                <th>Employee Category</th>
                <!-- <th>Sub Employee Category</th> -->
                <th>Effective Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of AttendenceConfiAllData; let idx = index">
                <td>{{idx + 1}}</td>
                <td>{{item.empTypeName}}</td>
                <td>{{item.effFromDate | date : 'dd-MMM-yyyy'}}</td>
                <td>
                  <i class="fa fa-pencil btn" data-dismiss="modal" (click)="edit(item)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<!-- The Modal -->

<!-- <div class="modal fade" id="myModalNewConfig">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add New Configuration</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <div class="modal-body">
         <div class="p-3">
           <form>
         

             <div class="form-group" >
                <label for="emptype">Employee Type <span style="color: red">*</span></label>
                <select class="form-control form-control-sm mb-4" name="ParentEmpID" [(ngModel)]="selectedEmpTypeObj" name="selectedEmpTypeObj"
                  #ParentEmpID='ngModel' (change)="EmpValue($event)" required>
                  <option hidden value="">Employee Type</option>
                  <option value="{{subEmp.empTypeId}}" *ngFor="let subEmp of Employeedataall; let i = index;">
                    {{subEmp.empTypeName}}</option>
                </select>
                <div class="help-block" style="margin-top:-23px" *ngIf="ParentEmpID.errors?.required && (ParentEmpID.touched)">
                  <small style="color: red">Employee Type required </small></div>
             </div>


              <div class="form-group">
                <label>Sub Employee Type <span style="color: red"> *</span> </label>
                <ng-multiselect-dropdown [placeholder]="'Select Sub Employee'" [data]="subEmpTypeData" (click)="selectClickSubEmp()"
                  required [(ngModel)]="model.SubEmpList"  [ngModelOptions]="{standalone: true}"
                  #SubEmpList='ngModel' name='SubEmpList' [settings]="dropdownSettingsEmploymentType">
                </ng-multiselect-dropdown>

                <div class="help-block" *ngIf="model.SubEmpList.length < '1' && SubEmpList">
                  <small style="color: red"> Select Sub Employee</small> </div>
              </div>
        


             <div class="form-group">
                <label for="effdate">Effective From Date <span style="color: red">*</span></label>
                <input type="date" class="form-control form-control-sm" name="effFromDate" #effFromDate='ngModel' (ngModelChange)="effectiveDate($event);"
                  [ngModel]="ConfigurationData.effFromDate | date:'yyyy-MM-dd'" required>
                <div class="help-block" *ngIf="effFromDate.errors?.required &&   (effFromDate.touched ) "> <small
                    style="color: red">Effective From Date required</small></div>
             </div>
           </form>
         </div>   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >Save</button>
        </div>
  
      </div>
    </div>
  </div> -->
