<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <button style="padding-right: 6px;" type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX('absent_employees')"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Export Report Excel</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
    </div>
  </div>
  <div class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Monthly OverTime Report </strong> &nbsp;
        </h6>
      </div>
    </div>
    <div id="content" class="row">
      <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Monthly Overtime Report From Date: </strong></span>{{fromDate | date:"dd MMM
            yyyy"}}<span class="blu"><strong> To:</strong></span> {{toDate | date:"dd MMM yyyy"}}</h6>
        </div>
      </div>
      <div style="overflow-x: auto; overflow-y: hidden;" class="col-md-12">
        <table id="absent_employees" class="table table-space table-borderless">
          <thead>
            <tr style="text-align: center !important;">
              <th [attr.colspan]="table_length">{{compName}}</th>
            </tr>
            <tr style="text-align: center !important;">
              <th [attr.colspan]="table_length">Monthly OverTime Report</th>
            </tr>
            <tr>
              <th [attr.colspan]="table_length">From Date : {{fromDate | date :'dd/MMM/yyyy'}} To Date: {{toDate | date :'dd/MMM/yyyy'}}</th>
            </tr>
            <tr>
              <th [attr.colspan]="table_length">Report Date: {{report_time}}</th>
            </tr>
            <tr>
              <th style="width:3%">Sr.No</th>
              <th style="width:3%">Employee ID</th>
              <th style="width:3%">Employee Name</th>
              <th style="width:3%">Department</th>
              <th style="width:3%">Designation</th>
              <th *ngFor="let head of tablehead; let i = index">{{head}}</th>
              <th style="width:3%">Total OT</th>
            </tr>
          </thead>
          <tbody *ngFor="let report of report_data; let i = index;let last = last;">
            <tr>
              <td>
                {{i+1}}
              </td>
              <td>
                {{report.otReportResDtoList[0].empId}}
              </td>
              <td>
                {{report.otReportResDtoList[0].fullName}}
                {{report.otReportResDtoList[0].lastName}}
              </td>
              <td>
                {{report.otReportResDtoList[0].deptName}}
              </td>
              <td>
                {{report.otReportResDtoList[0].descName}}
              </td>
              <td *ngFor="let it of report.otReportResDtoList; let i = index">
                {{getTimeFromMins(it.otduration)}}
              </td>
              <td>
                {{getTimeFromMins(report.otReportResDtoList[0].total_ot)}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>