<div class="container-fluid floatingb" *ngIf="buttonFlag">
  <div class="row">
    <!-- *ngIf="buttonFlag" -->
    <div class="col-md-12">

      <div class="btn-group">
        <a href="javascript:void(0)" class="btn btn-success btn-fab"  (click)="showChatBot()"
          data-toggle="collapse" data-target="#demo" id="main" hidden>
          <i class="fa fa-comments" aria-hidden="true"></i>
        </a>
      </div>
      <div class="nustachatting" *ngIf="flag">
        <div id="live-chat">

          <header class="clearfix">

            <span class="chat-close" (click)="showChatBot()">x</span>

            <h4>Worksjoylite</h4>

            <span class="chat-message-counter">3</span>

          </header>
          

          <div class="chat">
            <div #scrollMe id="chatbot" class="chatheight">
              <p style="text-align: center"> </p>
              <div class="chat-history2" *ngFor="let item of originalChat">

                <div class="c-msg" *ngIf="item.questionId != 'greetings'">
                  <i class="fa fauser fa-user-circle-o" aria-hidden="true"></i>
                  <div class="chtmsg-cntnt usr clearfix" >
                    <h4>You</h4>
                    <p>{{item.question}}</p>
                  </div>
                </div>
                <div class="c-msg">
                  <i class="fa fabot fa-user-circle-o" aria-hidden="true"></i>
                  <div class="chtmsg-cntnt-bot chbt clearfix">
                    <h4>ChatBot</h4>
                    <p>{{item.answer}}</p>
                    <div *ngIf="item.questionId == '11'">
                      <button class="btn btn-outline-success" *ngFor="let data of item.list"
                        (click)="getLeaveBalance(data)">
                        {{data.leaveCode}}
                      </button>
                    </div>
                    <div *ngIf="item.questionId == '34'">
                      <div *ngFor="let data of item.list">
                        {{data.fullName}}
                      </div>
                    </div>
                    <div *ngIf="item.questionId == '41'">
                      <div>
                        <button class="btn btn-outline-success" (click)="regulariseYes()">
                          Yes
                        </button>

                      </div>
                    </div>

                    <div *ngIf="item.questionId == '44'">
                      <div>
                        <button *ngIf="item.status" class="btn btn-outline-success" (click)="applyLeave(item)">
                          Yes
                        </button>

                      </div>
                    </div>

                    <div *ngIf="item.questionId == '76'">
                        <button class="btn btn-outline-success" *ngFor="let data of item.list" (click)="getCarryForward(data,item.questionId)">
                         {{data.leaveCode}} 
                        </button>
                   </div>
                   <div *ngIf="item.questionId == '98'">
                    <p class="btn btn-outline-success active" *ngFor="let data of item.list" >
                    {{data.shiftName}} - {{data.absent}} 
                    </p>
               </div>
                   <div *ngIf="item.questionId == '51'">
                    <button class="btn btn-outline-success" *ngFor="let data of item.list" (click)="getCarryForward(data,item.questionId)">
                     {{data.leaveCode}} 
                    </button>
               </div>

               <div *ngIf="item.questionId == '99'">
                  <div class="form-group col-md-6">
                      <label>From Date</label>
                      <input type="date" class="form-control1"  name="fromDate" [ngModel]="permissionModel.fromDate | date:'yyyy-MM-dd'"
                        #fromDate="ngModel" (ngModelChange)="selectFromDate($event)"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label>To Date</label>
                        <input type="date" class="form-control1"  name="toDate" [ngModel]="permissionModel.toDate | date:'yyyy-MM-dd'"
                          #toDate="ngModel" (ngModelChange)="selectToDate($event)"/>
                      </div>
                      <button class="btn btn-outline-primary" (click)="showPrCount(item.questionId)">
                          Submit
                         </button>
               </div>

               <div *ngIf="item.questionId == '100' && item.dates">
                  <div class="form-group col-md-6">
                      <label>From Date</label>
                      <input type="date" class="form-control1"  name="fromDate" [ngModel]="holidayModel.fromDate | date:'yyyy-MM-dd'"
                        #fromDate="ngModel" (ngModelChange)="selectFromDateHoliday($event)"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label>To Date</label>
                        <input type="date" class="form-control1"  name="toDate" [ngModel]="holidayModel.toDate | date:'yyyy-MM-dd'"
                          #toDate="ngModel" (ngModelChange)="selectToDateHoliday($event)"/>
                      </div>
                      <button class="btn btn-outline-primary" (click)="showHolidays(item.questionId)">
                          Submit
                         </button>
               </div>

               <div *ngIf="item.questionId == '100' && !item.dates">
                  <p class="btn btn-outline-success " *ngFor="let data of item.list" >
                  {{data.holiDayName}} - {{data.startDate}}
                  </p>
             </div>
             <div *ngIf="item.questionId == '94'">
                <p class="btn btn-outline-success " style="font-size: 0.8rem;" *ngFor="let data of item.list ; let m = index" >
                Comp Off {{m+1}} - {{data.collapsDate}}
                </p>
           </div>

           <div *ngIf="item.questionId == '24'" style="height: 200px !important">
            <p class="btn btn-outline-success " style="font-size: 0.8rem;" (click)="getAttritionByDept(data)" *ngFor="let data of item.list ; let m = index" >
            {{m+1}} - {{data.deptName}}
            </p>
       </div>

       <div *ngIf="item.questionId == '25'" style="height: 200px !important">
        <p class="btn btn-outline-success " style="font-size: 0.8rem;" (click)="getAttritionByFunc(data)" *ngFor="let data of item.list ; let m = index" >
        {{m+1}} - {{data.functionUnitName}}
        </p>
   </div>

   <div *ngIf="item.questionId == '27'" style="height: 150px !important">
    <p class="btn btn-outline-success " style="font-size: 0.8rem;" (click)="getAttritionByBusi(data)" *ngFor="let data of item.list ; let m = index" >
    {{m+1}} - {{data.busiGrupName}}
    </p>
</div>

<div *ngIf="item.questionId == '29'" style="height: 150px !important">
  <p class="btn btn-outline-success " style="font-size: 0.8rem;" (click)="getAttritionByEmpCate(data)" *ngFor="let data of item.list ; let m = index" >
  {{m+1}} - {{data.empTypeName}}
  </p>
</div>

<div *ngIf="item.questionId == '31'" style="height: 150px !important">
  <p class="btn btn-outline-success " style="font-size: 0.8rem;" (click)="getAttritionByLoca(data)" *ngFor="let data of item.list ; let m = index" >
  {{m+1}} - {{data.locationName}}
  </p>
</div>
           <div *ngIf="item.questionId == '102'" >
              <select class="form-control1" name="year" (ngModelChange)="selectedYear($event)" [(ngModel)]="yearSelected" required>
                  <option  *ngFor="let y of years" value="{{y}}" >{{y}}</option>    
          </select>
         </div>
                  </div>
                </div>
              </div>
            </div>

            <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">

              <fieldset>

                <div class="row">
                  <div class="col-md-10 col-xs-10">
                    <input type="text" autocomplete="off" name="question" (keyup)="keyUp($event)"
                      (keydown)="keyDown($event)" placeholder="Ask anything!" [(ngModel)]="chatmodel.question"
                      #question="ngModel" (input)="filterItem(chatmodel.question)">
                  </div>
                  <div class="col-md-2 col-xs-2">
                    <i class="fa fa-microphone" (click)="activateSpeechSearchMovie()" aria-hidden="true"></i>
                    <!-- <button [disabled]="!showSearchButton">Voice</button> -->
                  </div>
                </div>

              </fieldset>
              <div class="chatsuggestion" *ngIf="questionData.length > 0">
                <div id="scrollid" *ngFor="let item of questionData| search: chatmodel.question" class="suggestiontext"
                  [class.active]="item.index == arrowkeyLocation">
                  <div *ngIf="item.chatBotMasterId !='58'" (click)="suggest(item)" tabindex="-1"
                    (focus)="focusFunction()">
                    {{item.question}} 
                  </div>
                  <div *ngIf="item.chatBotMasterId == '58'" (click)="applyLeave(item)" tabindex="-1"
                    (focus)="focusFunction()">
                    {{item.question}} 
                  </div>
                </div>
              </div>


            </form>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#nointernetmodal">Open Modal</button>
<div class="modal fade" id="nointernetmodal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="color: red !important;">No internet connection available</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" (click)='dltmodelnewsEvent()' data-dismiss="modal"
          class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button> -->
      </div>

    </div>
  </div>
</div>
<router-outlet [ngClass]="{'no-internet': status=='ONLINE'}"></router-outlet>