.chatsuggestion{
  background: white;
  padding: 5px;
  box-shadow: 0px 1px 8px #2d2d2d;
  border-radius: 0px 0px 5px 5px;
  max-height: 200px;
  overflow-x: auto;

}

.suggestiontext:hover{
  cursor: pointer;
  background: rgba(137, 188, 255, 0.425);
}
.active{
  background: rgba(20, 57, 105, 0.425);
}
.suggestiontext{
padding:4px;
border-radius: 3px;
}
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(108, 159, 255); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #004eb3; 
  }
.btn-group-sm .btn-fab{
  position: fixed !important;
  right: 29px;
}
.btn-group .btn-fab{
  border-radius: 50% !important;
  position: fixed !important;
  right: 20px;
  z-index: 10;
  width: 38px !important;
  padding-top: 0.5rem !important;
  height: 38px !important;
}
#main{
  bottom: 20px;
}
#mail{
  bottom: 80px
}
#sms{
  bottom: 125px
}
#autre{
  bottom: 170px
}

 /* ---------- LIVE-CHAT ---------- */

#live-chat {
bottom:60px;
position: fixed;
font-size: 12px;
right: 24px;
width: 300px;
z-index: 10;
}

#live-chat header {
background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
border-radius: 5px 5px 0 0;
color: #fff;
cursor: pointer;
padding: 16px 24px;
}

#live-chat h4:before {
  background: #00ff3b;
border-radius: 50%;
content: "";
display: inline-block;
height: 8px;
margin: 0 8px 0 0;
width: 8px;
}

#live-chat h4 {
font-size: 16px;
}

#live-chat h5 {
font-size: 10px;
}

#live-chat form {
  padding: 24px;
  background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#live-chat input[type="text"] {
border: 1px solid #ccc;
border-radius: 3px;
padding: 8px;
outline: none;
width: 100%;
}

.chat-message-counter {
background: #e62727;
border: 1px solid #fff;
border-radius: 50%;
display: none;
font-size: 12px;
font-weight: bold;
height: 28px;
left: 0;
line-height: 28px;
margin: -15px 0 0 -15px;
position: absolute;
text-align: center;
top: 0;
width: 28px;
}

.chat-close {
background: #ffffff;
border-radius: 50%;
color: rgb(0, 0, 0);
display: block;
float: right;
font-size: 10px;
height: 16px;
line-height: 16px;
margin: 10px 0 0 0;
text-align: center;
width: 16px;
}

.chat {
 
background: #fbfbfb;
}
.chatheight{
 height:280px;
  overflow: auto;
}
.chat-history {
height: 110px;
padding: 8px 24px;
margin-bottom:70px;
}
.chatuser{
  text-align: right;
  margin-right:56px !important;
  margin-left:0 !important;
  background: rgb(226, 226, 226);
  padding:0.2rem;
  padding-right:0.6rem;
  border-radius: 5px;
}

.chatbothrms{
  text-align: left;
  margin-right:0 !important;
  margin-left:56px !important;
  background: rgb(184, 215, 250);
  padding:0.2rem;
  padding-left:0.6rem;
  border-radius: 5px;
}
.fa-microphone{
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  color: steelblue;
  text-align: -webkit-center;
  cursor: pointer;
}


.chatbotmsg{
  transition:opacity 1s 0 ease;
}
.chat-message {
margin: 3px 0;
}

.chat-message .fa {
  color:#036d8e;
  border-radius: 50%;
  font-size:2rem;
float: left;
}

.chat-message-content {
margin-left: 56px;
}

.chat-time {
float: right;
font-size: 10px;
}

.chat-feedback {
font-style: italic;	
margin: 0 0 0 80px;
}
a { text-decoration: none; }

fieldset {
border: 0;
margin: 0;
padding: 0;
}



input[type="text"] {
  width: 200px;
  /* height: 20px; */
  padding-right: 50px;
}

input[type="button"] {
  margin-left: -50px;
  /* height: 20px; */
  width: 50px;
}
  


/* / NEW CHAT MSGS CSS / */
.c-msg .fauser{
  color: #2371e2;
  border-radius: 50%;
  font-size: 2rem;
  float: right;
}

.c-msg .fabot{
  color: #2371e2;
  border-radius: 50%;
  font-size: 2rem;
  float: left;
}


.chtmsg-cntnt{
  text-align: right;
  background: aliceblue;
  padding: 0.5rem;
  margin-right: 40px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.chtmsg-cntnt-bot{
  text-align: left;
  background: rgb(255, 237, 155);
  padding: 0.5rem;
  margin-left: 40px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: auto;
  overflow-x: auto;
}

.chat-history2 {
  height: auto;
  padding: 8px 24px;
  }

  .form-control1 {
    border-color: #a8adb4;
    border-radius: 2.5px;
    background-color: #ffffff;
}
.form-control1 {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
