.tabcounts{
    background-color: rgb(245, 245, 245);
    color: #3173c7;
    border-radius: 50%;
    padding: 4px;
    font-size: 10px;
    margin: 0px;
}

.nav-link {
    color: rgb(255, 255, 255); 
    padding-top: 0.8rem !important;
}
.nav-pills .nav-link.active {
 color: rgb(88, 255, 59) !important; 
 
  background-color: none !important;
}
.nav-pills .pimshr-nav.active {
    background: none !important;
}
.nav-fill{
    background: #2461af;
    border-radius: 10px 10px 0 0;
}
.pimstabsname{
    line-height: 2.2;
    
}

.tab-content{
    min-height:480px;
    border-radius:  0 0 10px 10px;
    box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
    background: white;
}