<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">

      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-briefcase bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Extra Work Request <div class="page-title-subheading"> Here you can Ask Employees For Extra Work
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <div class="white-bg">
          

          <div class="row">
            <div class="col-md-12">
              <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

                <li class="nav-item">
                  <a class="nav-link active" id="extra-apply-tab" data-toggle="pill" href="#extra-apply" role="tab"
                    aria-controls="extra-apply" aria-selected="true">Apply</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="extra-list-tab" data-toggle="pill" href="#extra-list" role="tab"
                    aria-controls="extra-list" aria-selected="false">List</a>
                </li>

              </ul>
            </div>
          </div>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="extra-apply" role="tabpanel" aria-labelledby="extra-apply-tab">
              <button *ngIf="hideCalender" type="button" class="btn opencalendar btn-primary" data-toggle="modal"
                    data-target="#myModal">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
              <div class="row justify-content-center">
                <div class="col-md-4">

                  <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>

                    <div *ngIf="this.isEdit == false" class="form-group">
                      <label>Select Employee <span style="color: red"> *</span></label>
                      <ng-multiselect-dropdown [placeholder]="'Select Employee'" [data]="EmpData"
                        [(ngModel)]="postExtraworkData.hrRequestToWorkReqDtoList" [ngModelOptions]="{standalone: true}"
                        (click)="selectClickCategory()" [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                        (onDeSelect)="OnItemDeSelect($event)"  (onDeSelectAll)="onDeSelectAll($event)">
                      </ng-multiselect-dropdown>
                      <div class="help-block"
                        *ngIf="postExtraworkData.hrRequestToWorkReqDtoList.length < '1' &&  locationFlag">
                        <small style="color: red"> Select Employee Category </small> </div>
                    </div>

                    <div *ngIf="this.isEdit == true" class="form-group">
                      <label>Select Employee <span style="color: red"> *</span></label>
                      <select id="costcenternumber" class="form-control form-control-sm"   [(ngModel)]="selectedempobj"
                        name="selectedempobj" (change)="empDatadata($event)" #selectedemp='ngModel' required>
                        <option value="{{emp.empPerId}}" *ngFor="let emp of EmpData; let i = index;">
                          {{emp.fullName}}
                        </option>
                      </select>

                      <div class="help-block" *ngIf="selectedemp.errors?.required && selectedemp.touched">
                        <small style="color: red">Employee required</small></div>
                    </div>

                    <div class="form-group">
                      <label>Date <span style="color: red"> *</span></label>
                      <input type="date" min="{{today | date:'yyyy-MM-dd'}}" class="form-control form-control-sm"
                        name="date" [ngModel]="postExtraworkData.workingDate | date:'yyyy-MM-dd'"
                        (ngModelChange)="workingDate($event)" #workingd='ngModel' required />

                      <div class="help-block" *ngIf="workingd.errors?.required && workingd.touched">
                        <small style="color: red">Date is required</small></div>
                    </div>

                    <div class="form-group">
                      <label>Select Shift <span style="color: red"> *</span></label>
                      <select id="costcenternumber" class="form-control form-control-sm" [(ngModel)]="selectedshiftobj"
                        name="selectedshiftobj" (change)="shiftdata($event)" #selectedshiftd='ngModel' required>
                        <option hidden [value]="selectUndefinedOptionValue">select shift</option>
                        <option value="{{shift.shiftMasterId}}" *ngFor="let shift of  shiftData; let i = index;">
                          {{shift.shiftName}}
                        </option>
                      </select>

                      <div class="help-block" *ngIf="selectedshiftd.errors?.required && selectedshiftd.touched">
                        <small style="color: red">Shift is required</small></div>
                    </div>

                    <div class="form-group">
                      <label>Reason <span style="color: red"> *</span></label>
                      <input type="text" class="form-control form-control-sm" name="selectreason"
                        [(ngModel)]="postExtraworkData.reason" #reason='ngModel' required />

                      <div class="help-block" *ngIf="reason.errors?.required && reason.touched">
                        <small style="color: red">Reason is required</small></div>
                    </div>


                    <div class="form-group">
                      <button class="btn btn-primary" type="submit" *ngIf="!postExtraworkData.hrRequestToWorkReqDtoList.length && !isEdit"
                        disabled>Send
                        Request</button>


                        <button class="btn btn-primary" type="submit" *ngIf="postExtraworkData.hrRequestToWorkReqDtoList.length && !isEdit"
                        [disabled]="f.invalid">Send
                        Request</button>

                        <button class="btn btn-primary" type="submit" *ngIf="isEdit"
                        [disabled]="f.invalid">Send
                        Request</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="extra-list" role="tabpanel" aria-labelledby="extra-list-tab">

              <div class="row justify-content-center">
                <div class="col-md-12">

                  <div class="form-group m-3 col-md-2">

                    <select id="selecteddatedata" class="form-control form-control-sm" [(ngModel)]="selecteddateData"
                      name="selecteddateData" (ngModelChange)="getdatedata($event)" required>

                      <option value="All">All</option>
                      <option value="{{get.workingDate}}" *ngFor="let get of workedDatesArray; let i = index;">
                        {{get.workingDate}}
                      </option>

                    </select>

                  </div>

                  <div *ngIf="dataTableFlag">

                  <table id="BusinessTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
        
                          <th>Emp Id</th>
                          <th>Employee Name</th>
                          <th>Date</th>
                          <th>Shift</th>
                          <th>Emp-Reason</th>
                          <th>Status</th>
                          <th>Action</th>
        
                        </tr>
                    </thead>
                    <tbody>
                       
                          <tr *ngFor="let data of alldata; let i = index">
                            <td>{{data.empId}}</td>
                            <td>{{data.fullName}} {{data.lastName}}</td>
                            <td>{{data.workingDate | date:'dd-MMM-yyyy'}}</td>
                            <td>{{data.shiftName}}</td>
                            <td>{{data.empReason}}</td>
                            
                            <td
                              [ngClass]="{colorRed : data.finalStatus == 'Rejected', colorGreen: data.finalStatus == 'Approved', colorYellow:data.finalStatus == 'Pending'}"
                              style="font-size:1rem;"><i class="fa fa-circle" aria-hidden="true"></i>
                            </td>

                            <td><i class="fa fa-pencil" *ngIf='data.finalStatus !== "Approved"' (click)="edit(data)"
                                aria-hidden="true"></i><i class="fa fa-trash" *ngIf='data.finalStatus !== "Approved"'
                                (click)='dltObj(data)' data-toggle="modal" data-target="#AreYouSuredlt"
                                aria-hidden="true"></i>
                            </td>
                            
                          </tr>
                    </tbody>
                </table>

                  </div> 

                  <div class="float-right m-3">
                    <i class="fa fa-circle colorGreen" aria-hidden="true"></i><span> Approved </span><span> | </span> <i
                      class="fa fa-circle colorRed" aria-hidden="true"></i><span> Rejected </span><span> | </span> <i
                      class="fa fa-circle colorYellow" aria-hidden="true"></i><span> Pending </span>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <!-- <div class="row">

            <div class="col-md-12">
              <button type="button" class="btn btn-primary float-right m-3"
                [routerLink]="['/layout/extraworkreq/extraworkrequestlist']"> &nbsp;Extra-Work List</button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">

      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-area">
          <div class="row">
            <div class="col-md-8">

              <div class="p-2">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="jzdbox1 jzdbasf jzdcal">
                  <div class="calendarm">
                    <div class="calendar-header">
                      <div class="row">
                        <div class="col" (click)="goToLastMonth()">
                          <button class="prevnext">
                            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="col">
                          <div class="jzdcalt">{{currentMonth}} {{currentYear}}</div>
                        </div>
                        <div class="col" (click)="goToNextMonth()">
                          <button class="prevnext">
                            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="calendar-body">
                      <div class="grid1">
                        <div class="row">
                          <div class="col week">Su</div>
                          <div class="col week">Mo</div>
                          <div class="col week">Tu</div>
                          <div class="col week">We</div>
                          <div class="col week">Th</div>
                          <div class="col week">Fr</div>
                          <div class="col week">Sa</div>
                        </div>
                        <div class="row">
                          <div class="col date prvdate" *ngFor="let lastDay of daysInLastMonth">o</div>
                          <div class="col date" *ngFor="let days of daysInThisMonth" [ngSwitch]="days.status">

                            <div *ngSwitchCase="'P'" class="present" data-title="'{{days.checkIn }}''{{days.checkOut}}'">{{days.day}}</div>
                            <div class="absent" *ngSwitchCase="'A'" data-title="'{{days.checkIn }}''{{days.checkOut}}'">{{days.day}}</div>
                            <div *ngSwitchCase="'WO'" class="holidayweekoff">{{days.day}}</div>
                            <div *ngSwitchCase="'LT'" class="lateearlympunch" data-title="'{{days.checkIn}}''{{days.checkOut}}'">{{days.day}}</div>
                            <div *ngSwitchCase="'Ot'" class="other" (click)="selectDate(days.day)">{{days.day}}</div>
                            <div *ngSwitchCase="'LCOD'" class="leavecoffod">{{days.day}}</div>

                            <div *ngSwitchCase="'L'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                            </div>
                            <div *ngSwitchCase="'CO'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                            </div>
                            <div *ngSwitchCase="'OD'" class="leavecoffod" data-title="'{{days.checkIn}}'">{{days.day}}
                            </div>
                            <div class="holiday" title="'{{days.checkIn}}'" *ngSwitchCase="'HO'">
                              {{days.day}}
                            </div>
                            <!-- <div *ngSwitchCase="'Ot'" class="" (click)="selectDate(days.day)">{{days.day}}</div> -->
                          </div>
                          <div class="col date nxtdate" *ngFor="let nextDay of daysInNextMonth">o</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">

              <div class="abribg">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Present:
                    <span class="stbg"><i class="fa prsent fa-circle" aria-hidden="true"></i></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Absent:
                    <span class="stbg"><i class="fa absnt fa-circle" aria-hidden="true"></i></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Weekly off/Holiday:
                    <span class="stbg"><i class="fa wwekoddholiday fa-circle" aria-hidden="true"></i></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Leave/Coff/OD:
                    <span class="stbg"><i class="fa leaveodcoff fa-circle" aria-hidden="true"></i></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Late/Early/Half Day/Short Hours/Miss Punch:
                    <span class="stbg"><i class="fa erly fa-circle" aria-hidden="true"></i></span>
                  </li>
                </ul>
                <div class="calbg">
                  <img src="/src/assets/calbg.png">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want To Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent()' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>