.fa-pencil{
    color:green;
}
.fa-trash{
  padding-left:1rem;
  color:red;
}

/* .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(3, 100, 226, 0.05);
} */

.colorRed{
color: red
}
.colorGreen{
color: green
}
.colorYellow{
  color: yellow
}
td .fa{
  cursor: pointer;
}

.present{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(180, 255, 170);
}

.other{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;

}
.lateearlympunch{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(255, 140, 230);
}
.leavecoffod{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  color:white;
  background: rgb(67, 111, 253);
}

.holiday{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  /* color:white; */
  background: #87ceeb !important;
 }
.od{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: skyblue;
}
.holidayweekoff{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(255, 229, 82);
}
.absent{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  color:white;
  background: rgb(255, 79, 79);
}

.onDuty{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: #fd8200;
}

.holiday{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  background: skyblue;
}

.prsent{
  color: rgb(180, 255, 170);
}
.absnt{
  color: rgb(255, 79, 79);
}
.erly{
  color: rgb(255, 140, 230);
}
.wwekoddholiday{
  color: rgb(255, 229, 82);
}
.lve{
  color: rgb(255, 140, 230);
}
.hlf{
  color: rgb(255, 140, 230);
}
.misspnch{
  color: rgb(255, 140, 230);
}
.leaveodcoff{
  color: rgb(67, 111, 253);
}
/* .odd{
  color: skyblue;
} */
.ods{
  color: #fd8200;
}
.holidays{
  color: skyblue;
}
.table[_ngcontent-c5] .thead-dark[_ngcontent-c5] th[_ngcontent-c5] {
  color: #fff !important;
  background-color: #212529 !important;
  border-color: #fff !important;
}

.prevnext{
  cursor: pointer;
  padding: 1rem !important;
  font-size: 22px;
  /* color: white; */
  color: rgb(34, 34, 34);
  background: none;
  border: none;
}
.prevnext:hover{
color: rgb(65, 99, 173);
}

.prevnext:hover{
color: rgb(65, 99, 173);
}




/* [col-1] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 14.285714285714286%;
  width: 14.285714285714286%;
  max-width: 14.285714285714286%;
} */
.col {
  text-align: center;
  padding: 5px;
}
.last-month, .next-month {
  color: #999999;
  font-size: 90%;
}
.currentDate {
  font-weight:400;
  /* color:yellow; */
  color: #00abd2;
}
.calendar-header {
  /* background-color: #1a732d; */
  /* background: linear-gradient(#172c42, #037599)!important; */
  /* color: #FFFFFF; */
  color: rgb(34, 34, 34);
}
.event-bullet {
  margin: 2px auto;
  height: 5px;
  width: 5px;
  background-color: green;
  border-radius: 30px;
}
.selected-date {
  width: 20px;
  height: 2px;
  background-color: blue;
}
.unselected-date {
  border: none;
}
/* .calendar-body {
  .grid {
    padding: 0;
  }
  .col:last-child {
    border-right: none;
  }
  .calendar-weekday, .calendar-date {
    text-align: center;
    margin: 0;
  }
  .calendar-weekday {
    font-weight: bold;
    border-bottom: solid 1px #1a732d;
    background-color: #26ab56;
  }
  .calendar-date {
    border-top: solid 1px #1a732d;
    border-bottom: solid 1px #1a732d;
  }
} */
.calendarm{
  padding:0 10px 10px 10px; 
  box-sizing:border-box!important; 
  /* background:#172c42; 
  color: rgb(34, 34, 34); */
  /* background: -webkit-linear-gradient(#172c42, #037599)!important; 
  background: -o-linear-gradient(#172c42, #037599)!important; 
  background: -moz-linear-gradient(#172c42, #037599)!important; 
  background: linear-gradient(#172c42, #037599)!important; */
}
/* .calendar-body {

  background: linear-gradient(#172c42, #037599)!important;
} */
.calendar-body .grid1{
  padding: 0;
}
.calendar-body .col:last-child {
  border-right: none;
}
.calendar-body .calendar-weekday, .calendar-date {
  text-align: center;
  margin: 0;
}
.calendar-body .calendar-weekday {
  border-bottom: solid 1px #1a732d;
  /* background-color: #26ab56; */
  /* background: linear-gradient(#172c42, #037599)!important; */
}
.calendar-body .calendar-date {
  border-top: solid 1px #1a732d;
  border-bottom: solid 1px #1a732d;
}
.col.date{
  text-align: -webkit-center;
  /* line-height: 30px; */
  font-weight: 600;
  height: 45px;
  font-size:11px 'Roboto';
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 14.285714285714286%;
  width: 14.285714285714286%;
  max-width: 14.285714285714286%;
  /* color: #f7f3eb; */

  color: rgb(34, 34, 34);
}
.col.week{
  /* color: #f7f3eb; */
  color: rgb(34, 34, 34);
}
.col {
      text-align: center;
      padding: 5px;
    }

    .prvdate, .nxtdate{
      color: rgba(148, 148, 148, 0.315) !important;
    }
.present{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
background: rgb(180, 255, 170);
}

.other{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;

}
.lateearlympunch{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
background: rgb(255, 140, 230);
}
.leavecoffod{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
color:white;
background: rgb(67, 111, 253);
}

.holiday{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
/* color:white; */
background: #87ceeb !important;
}
.od{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
background: skyblue;
}
.holidayweekoff{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
background: rgb(255, 229, 82);
}
.absent{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
color:white;
background: rgb(255, 79, 79);
}

.onDuty{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
background: #fd8200;
}

.holiday{
text-align: -webkit-center;
border-radius: 50%;
width:25px;
height:25px;
padding: 3px;
background: skyblue;
}

.prsent{
color: rgb(180, 255, 170);
}
.absnt{
color: rgb(255, 79, 79);
}
.erly{
color: rgb(255, 140, 230);
}
.wwekoddholiday{
color: rgb(255, 229, 82);
}
.lve{
color: rgb(255, 140, 230);
}
.hlf{
color: rgb(255, 140, 230);
}
.misspnch{
color: rgb(255, 140, 230);
}
.leaveodcoff{
color: rgb(67, 111, 253);
}
/* .odd{
color: skyblue;
} */
.ods{
color: #fd8200;
}
.holidays{
color: skyblue;
}

.opencalendar{
  margin-top: 2rem;
  float: right;
  width: 38px;
  border-radius: 5px !important;
  height: 38px;
}
.abribg{
  width:100%;
  height:100%;
  background: linear-gradient(135deg, #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius:0 .3rem .3rem 0;
}
.list-group-item{
  background: none;
  color:white
}
.calbg img{
  position: absolute;
  bottom: 0;
}
.p-0{
  padding:0 !important;
}
