<div class="container-fluid">
  <div class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Query Raised Report</strong> &nbsp;
        </h6>
      </div>
    </div>

    <div class="row">

      <!-- <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Abbreviation:-</strong></span>WD : Working Day, WO : Weekly Off, HO : Holiday,<span></span> WOH : Week Off And Holiday</h6>
        </div>
      </div> -->

      <div class="col-md-12">
        <div class="qwe" *ngIf="fromDate == toDate">
          <h6><span class="blu" ><strong>Query Raised Report For Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}</h6>
        </div>
        <div class="qwe" *ngIf="fromDate != toDate">
          <h6><span class="blu"><strong>Query Raised Report From Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}<span class="blu"><strong> To:</strong></span> {{toDate | date:"dd MMM yyyy"}}</h6>
        </div>
      </div>

      <div class="col-md-10" id="content">
        <table id="query_id" class="table table-space table-borderless">
          <thead>
            <tr style="text-align: center !important;">
              <th colspan="10">{{compName}}</th>
            </tr>
            <tr style="text-align: center !important;">
              <th colspan="10">Query Raised Report</th>
            </tr>
            <tr>
              <th colspan="10">From Date : {{fromDate | date :'dd/MMM/yyyy'}} To Date: {{toDate | date :'dd/MMM/yyyy'}}</th>
            </tr>
            <tr>
              <th colspan="10">Report Date: {{report_time}}</th>
            </tr>
            <tr class="table-secondary">
              <th>Sr.No</th>
              <th *ngIf="marked2">Emp Id</th>
              <th *ngIf="marked3">Employee Name</th>
              <th *ngIf="marked4">Query Details</th>
              <th *ngIf="marked5">Category</th>
              <th *ngIf="marked6">Sub-Category</th>
              <th *ngIf="marked7">Raised on Date</th>
              <th *ngIf="marked8">Status</th>
              <th *ngIf="marked9">Remark By</th>
              <th *ngIf="marked10">Remarks</th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let item of AllReport; let i = index">
              <td>{{i+1}}</td>
              <td *ngIf="marked2">{{item.empId}}</td>
              <td *ngIf="marked3" class="text-left">{{item.fullName| titlecase}} {{item.lastName| titlecase}}</td>
              <td *ngIf="marked4" class="text-left">{{item.query | titlecase}}</td>
              <td *ngIf="marked5" class="text-left">{{item.categoryName | titlecase}}</td>
              <td *ngIf="marked6" class="text-left">{{item.subCategoryName | titlecase}}</td>
              <td *ngIf="marked7" class="text-left">{{item.qryEntryDate}}</td>
              <td *ngIf="marked8" class="text-left">{{item.finalStatus | titlecase}}</td>
              <td *ngIf="marked9" class="text-left">{{item.aprName | titlecase}}</td>
              <td *ngIf="marked10" class="text-left">{{item.remark | titlecase}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-2">
        <div class="columnshead">
          <h6>Select Columns:</h6>
          <label class="container">
            <input type="checkbox" [(ngModel)]="empCodeCheckbox" data-md-icheck (change)="toggleVisibility2($event)" />
            EmpId
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="employeeNameCheckbox" data-md-icheck (change)="toggleVisibility3($event)" />
            Employee Name
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="queryDetailsCheckbox" data-md-icheck (change)="toggleVisibility4($event)" />
            Query Details
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="categoryCheckbox" data-md-icheck (change)="toggleVisibility5($event)" />
            Category
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="subCategoryCheckbox" data-md-icheck (change)="toggleVisibility6($event)" />
            Sub-Category
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="raisedOnDateCheckbox" data-md-icheck (change)="toggleVisibility7($event)" />
            Raised On Date
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="statusCheckbox" data-md-icheck (change)="toggleVisibility8($event)" />
            Status
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="remarkByCheckbox" data-md-icheck (change)="toggleVisibility9($event)" />
            Remark By
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="remarksCheckbox" data-md-icheck (change)="toggleVisibility10($event)" />
            Remarks
            <span class="checkmark"></span>
          </label>
          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="exportTableToExcel('query_id')"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
        </div>
      </div>


      
      
    </div>
  </div>
</div>