.fa-pencil{
    color:green;
}
.fa-trash{
  padding-left:1rem;
  color:red;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.colorRed{
  color: red
}
.colorGreen{
  color: green
}
td .fa{
  cursor: pointer;
}