<div class="bhoechie-tab-content  white-bg" id="compmaster">
  <div class="row justify-content-center align-items-center">
    <div class="mastersheading">
      <h3>
        SHIFT PATTERN <span class="boldmaster">MASTER</span>
      </h3>
    </div>
  </div>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">
        
        <form (ngSubmit)="f.form.valid && SaveShifPattern(f)" #f="ngForm">

          
            <div class="form-group">
                <label for="shiftpatternname">Shift Pattern Name <span style="color: red">*</span></label>
                <input type="text" [(ngModel)]='shiftPatternModal.shiftPatternName' (keyup)='error()' name="shiftPatternN" #shiftPatternName='ngModel'  class="form-control form-control-sm" id="shiftpatternname"
                  required />
                  <div class="help-block" 
                  *ngIf="shiftPatternName.errors?.required && shiftPatternName.touched"><small style="color: red">Shift Pattern Name required</small></div>
               
              </div>
    
       <label>Sequence</label>
          <div class="form-group">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">1</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" (ngModelChange)='SequenceOneID($event)' name="shiftpatternname1" [(ngModel)]="shiftPatternModal.sequenceOne"
                  name="sequenceOne" #shiftpatternname1='ngModel' 
                  required>
                  <option hidden  [value]="selectUndefinedOptionValue"> Select Shift</option>
                  <option value="{{item.shiftMasterId}}" *ngFor="let item of AllShift; let i = index;" [disabled]='item.shiftMasterId == shiftPatternModal.sequenceTwo || item.shiftMasterId == shiftPatternModal.sequenceThree ' >
                    {{item.shiftName}} (Start Time : {{item.inTime}} -  End Time : {{item.endTime}})</option>
                </select>
                
                </div>
                <div class="help-block" 
                *ngIf="shiftpatternname1.errors?.required && shiftpatternname1.touched"><small style="color: red">Sequence required</small></div>
             
          </div>
          <div class="form-group">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">2</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" (ngModelChange)='SequenceTwo($event)' name="shiftpatternname2" [(ngModel)]="shiftPatternModal.sequenceTwo"
                   #shiftpatternname2='ngModel' 
                  required>
                  <option hidden  [value]="selectUndefinedOptionValue">Select Shift</option>
                  <option value="{{item.shiftMasterId}}" *ngFor="let item of AllShift; let i = index;" [disabled]='item.shiftMasterId == shiftPatternModal.sequenceOne  || item.shiftMasterId == shiftPatternModal.sequenceThree'>
                    {{item.shiftName}} (Start Time : {{item.inTime}} - End Time : {{item.endTime}})</option>
                </select>
                 
                </div>
                <div class="help-block" 
                *ngIf="shiftpatternname2.errors?.required && shiftpatternname2.touched"><small style="color: red">Sequence required</small></div>
          
          
          </div>
          <div class="form-group">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">3</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01"  (ngModelChange)='SequenceThree($event)' name="shiftpatternname3" [(ngModel)]="shiftPatternModal.sequenceThree"
                  #shiftpatternname3='ngModel' 
                  required>
                  <option hidden  [value]="selectUndefinedOptionValue">Select Shift</option>
                  <option value="{{item.shiftMasterId}}" *ngFor="let item of AllShift; let i = index;" [disabled]='item.shiftMasterId == shiftPatternModal.sequenceOne || item.shiftMasterId == shiftPatternModal.sequenceTwo'>
                    {{item.shiftName}} (Start Time : {{item.inTime}} -  End Time : {{item.endTime}})</option>
                </select>
      
                </div>
                <div class="help-block" 
                *ngIf="shiftpatternname3.errors?.required && shiftpatternname3.touched"><small style="color: red">Sequence required</small></div>
          
          
          </div>

          <div class="form-group" *ngIf='StatusFlag'>
            <label>Status</label><br>
            <label (click)="uiswitch($event)">
                <!-- <input type="checkbox" checked> -->
                <!-- <input type="radio" value='' checked='false'> -->
                <ui-switch [checked]='shiftPatternModal.status'><span
                        class="switch  switch-medium"><small></small></span></ui-switch>
                <!-- <span class="slider round"></span> -->
            </label>
        </div>
          <div class="form-group">
            <button class="btn btn-primary" [disabled]='(f.invalid || errflag )' type="submit">Save</button>
            &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
          </div>
        </form>

      </div>

    </div>
    <hr>
<div *ngIf='dataTableFlag'>
    <table id="shifttable" class="table table-striped table-bordered" style="width:100%">
     
     <thead class="theadblue" >
        <tr>
            <th rowspan="2">Shift Pattern Name</th>
            <th colspan="3" class="text-center">Shift Sequence</th>
            <th  rowspan="2" class="text-center">
              Status
            </th>
            <th rowspan="2" class="text-center">Action</th>

         </tr>
         <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
         </tr>
     </thead>

        <tbody >
     
          <tr *ngFor='let i of shiftList'>
           <td>{{i.shiftPatternName}}</td>
               <td>{{i.shiftName1}}</td>
               <td>{{i.shiftName2}}</td>
               <td>{{i.shiftName3}}</td>
               <td [ngClass]="{colorRed : i.status == false, colorGreen: i.status == true}"
                style="font-size:1rem; text-align:center">
               <i class="fa fa-circle" aria-hidden="true" ></i>
              </td>
              <td class="text-center">
                <i class="fa fa-pencil" aria-hidden="true" (click)="edit(i)" title="Edit" ></i>
                <i class="fa fa-trash" class="fa fa-trash" (click)='dltObj(i)'  data-toggle="modal"
                  data-target="#AreYouSuredlt" aria-hidden="true" title="Delete"></i>
              </td>
            </tr>

  
        </tbody>
        <tfoot>
          <tr>
  
          </tr>
        </tfoot>
      </table>
</div>
  </div>
</div>

<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>