<div class="bhoechie-tab-content white-bg" id="compmaster">
  <div class="row justify-content-center align-items-center">
    <div class="mastersheading">
      <h3>
        LOCATION <span class="boldmaster">MASTER</span>
      </h3>
    </div>
  </div>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">

        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>

          <div class="form-group">
            <label for="CompanyID">Company Name<span style="color: red">*</span></label>
            <select class="form-control form-control-sm mb-4" name="CompanyID" [(ngModel)]="selectedCompanyobj"
              name="selectedCompanyobj" #CompanyID='ngModel' (change)="ngValue($event)"
               required>
              <option hidden [value]="selectUndefinedOptionValue">Company Name</option>
              <option value="{{addcompany.compId}}" *ngFor="let addcompany of companydata; let i = index;">
                {{addcompany.compName}}</option>
            </select>
            <div class="help-block" style="margin-top:-23px"
              *ngIf="CompanyID.errors?.required && CompanyID.touched"> <small
                style="color: red">Company
                Name required</small></div>

          </div>

          <div class="form-group">
            <label>Location Code <span style="color: red">*</span></label>
            <input type="text" class="form-control form-control-sm" maxlength="30" (keyup)='error()' name="locationCode"
              [(ngModel)]="LocationMasterModel.locationCode" #locationCode="ngModel"
             required />
            <div class="help-block" *ngIf="locationCode.errors?.required && locationCode.touched">
              <small style="color: red">Location
                is required</small></div>
            <div class="help-block" *ngIf="errflag && locationCode.invalid "><small style="color: red">Already Exits
              </small></div>
          </div>

          <div class="form-group">
            <label>Location Name<span style="color: red">*</span></label>
            <input type="text" maxlength="30" class="form-control form-control-sm" (keyup)='error()'
              name="locationName" maxlength="100"
              [(ngModel)]="LocationMasterModel.locationName" #locationName="ngModel"
               required />

            <div class="help-block" *ngIf="locationName.errors?.required && locationName.touched">
              <small style="color: red">Location
                Name is required</small></div>
            

          </div>

          <div class="form-group">
            <label>Location Address</label>
            <input type="text"  class="form-control form-control-sm" maxlength="250" name="locationAddress"
              [(ngModel)]="LocationMasterModel.locationAddress" #locationAddress="ngModel" />
          </div>

          <div class="form-group">
            <label>Location Contact Person</label>
            <input type="text" class="form-control form-control-sm" pattern="[A-Z a-z]{1,100}" maxlength="30"
              name="locationConPerson" [(ngModel)]="LocationMasterModel.locationConPerson"
              #locationConPerson="ngModel" />
            <div class="help-block" *ngIf="locationConPerson.errors?.pattern && locationConPerson.touched"><small
                style="color: red">Special Character and number not allowed </small> </div>

          </div>

          <div class="form-group">
            <label>Location Contact Details</label>
            <input type="text" class="form-control form-control-sm" pattern="[A-Z a-z 0-9]{1,100}" maxlength="100"
              name="contactDetails" [(ngModel)]="LocationMasterModel.contactDetails" #contactDetails="ngModel" />
            <div class="help-block" *ngIf="contactDetails.errors?.pattern && contactDetails.touched"><small
                style="color: red">Special Character not allowed </small> </div>

          </div>

          <div class="form-group">
            <label>Location Contact Email Id</label>
            <input type="text" class="form-control form-control-sm" maxlength="50" name="emailId"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="LocationMasterModel.emailId"
              #emailId="ngModel" />
            <div class="help-block" *ngIf="emailId.errors?.pattern && emailId.touched"> <small style="color: red">please
                enter valid Email</small> </div>
          </div>

          <div class="form-group" *ngIf='StatusFlag'>
            <label>Status</label><br>
            <label (click)="uiswitch($event)">
              <!-- <input type="checkbox" checked> -->
              <!-- <input type="radio" value='' checked='false'> -->
              <ui-switch [checked]='LocationMasterModel.status'><span
                  class="switch  switch-medium"><small></small></span></ui-switch>
              <!-- <span class="slider round"></span> -->
            </label>
          </div>



          <div class="form-group">
            <button class="btn btn-primary" type="submit"
              [disabled]="(f.invalid || errflag )">Save</button>
              &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
          </div>
        </form>


      </div>

    </div>
    <hr>
    <div *ngIf='dataTableFlag'>
    <table id="locationTable" class="table table-striped table-bordered" style="width:100%">
      <thead class="theadblue">
        <tr>
          <th style="width: 90%">
            Location Name
          </th>

          <th style="width: 40%" class="hide-arw">
            Status
          </th>
          <th style="width: 20%" class="hide-arw">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of AllLocationmasterMastData">
          <td>{{item.locationName}}</td>

          <td [ngClass]="{colorRed : item.status == false, colorGreen: item.status == true}"
            style="font-size:1rem; text-align:center">
            <i class="fa fa-circle" aria-hidden="true"></i>
          </td>
          <td>
            <i class="fa fa-pencil" aria-hidden="true" (click)="edit(item)"></i>
            <i class="fa fa-trash" class="fa fa-trash" (click)='dltObj(item)' data-toggle="modal"
              data-target="#AreYouSuredlt" aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>

        </tr>
      </tfoot>
    </table>
    </div>
  </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure, You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>