.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.btn-outline-primary:focus {
    color:white;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
    background-color: #007bff !important;
}
[data-toggle=buttons]>.btn input[type=checkbox], [data-toggle=buttons]>.btn input[type=radio], [data-toggle=buttons]>.btn-group>.btn input[type=checkbox], [data-toggle=buttons]>.btn-group>.btn input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 10px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: -2px;
    bottom: -4px;
    background-color: #ffbc00;
    transition: .4s;
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }
  .lang-toggle{
    padding-left:1rem;
  }
  h5{
    color:rgb(1, 82, 255);
  }
  