<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="data-title">
            <h6>Attendance details</h6>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="shifttype">Shift Type</label><span style="color: red">*</span>
                        <select id="shifttype" class="form-control form-control-sm" #shiftTyp='ngModel' name="shiftType"
                            form="shiftType" [(ngModel)]="HRattendeceModel.shiftType" required>
                            <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                            <option value="General">General</option>
                            <option value="Custom">Custom</option>
                            
                        </select>
                        <div class="help-block" *ngIf="shiftTyp.errors?.required && (shiftTyp.touched )"><small
                                style="color: red">Shift Type is required</small></div>
                        <!-- <div class="help-block" *ngIf="shiftTyp.errors?.required && (shiftTyp.touched )"><small
                                style="color: red">Shift Type is required</small></div> -->

                    </div>
                </div>

                <div class="col" *ngIf='HRattendeceModel.shiftType == "Custom"'>
                    <div class="form-group">
                        <label for="shiftgrp">Shift Group</label><span style="color: red">*</span>
                        <select [(ngModel)]="selectedshiftgroupobj" name="shiftgrp" form="shiftgrp" class="form-control form-control-sm"
                            (change)="shiftgroupvalue($event)" required>
                            <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                            <option value="{{addshiftgroup.shiftGroupId}}" *ngFor="let addshiftgroup of Shiftgroupdata; let i = index;">
                                {{addshiftgroup.shiftGroupName}}</option>
                        </select>

                    </div>
                </div>
                <div class="col" *ngIf='HRattendeceModel.shiftType == "General"'>
                    <div class="form-group">
                        <label for="shiftdetails">Shift Details</label><span style="color: red">*</span>
                        <select name="shiftdetails" [(ngModel)]="selectedshiftmastergroupobj" form="shiftdetails"
                            class="form-control form-control-sm" (change)="shiftgroupmastervalue($event)" required>
                            <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                            <option value="{{addshiftgroup.shiftMasterId}}" *ngFor="let addshiftgroup of Shiftmastergroupdata; let i = index;">
                                {{addshiftgroup.shiftName}}</option>
                        </select>

                    </div>
                </div>

                <div class="col" *ngIf='HRattendeceModel.shiftType == "Roster"'>
                    <div class="form-group">
                        <label for="shiftpattern">Shift Pattern</label><span style="color: red">*</span>
                        <!-- [disabled]="roasterDateFlag" -->
                        <select name="shiftpattern" form="shiftpattern" [(ngModel)]="selectedshiftpatternobj"
                            class="form-control form-control-sm" (ngModelChange)="shiftpatternvalue($event)" required>
                            <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                            <option value="{{shiftPattern.shiftPatternId}}" *ngFor="let shiftPattern of ShiftPatterndata; let i = index;">
                                {{shiftPattern.shiftPatternName}}</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="form-row">

                    <div class="col" *ngIf='HRattendeceModel.shiftType == "Roster"'>
                        <div class="form-group">
                            <label for="shiftgrp">Date</label><span style="color: red">*</span>
                            <!-- [disabled]="roasterDateFlag" --> 
                            <!-- min="{{currentDate | date:'yyyy-MM-dd' }}" -->
                            <input class="form-control form-control-sm" min="{{editData.monthLockMaster.endDate | date:'yyyy-MM-dd' }}"  type="date" name="roasterDate" id="roasterDate" [ngModel]="HRattendeceModel.roasterDate | date:'yyyy-MM-dd'"  (ngModelChange)="dateOfroaster($event)">
                        </div>
                    </div>
                    <div class="col" *ngIf='HRattendeceModel.shiftType == "Roster"'>
                        <div class="form-group">
                            <label for="shiftdetails">Shift</label><span style="color: red">*</span>
                            <!-- [disabled]="roasterDateFlag" -->
                            <select name="shift" form="shift" [(ngModel)]="selectedshiftobj"
                                class="form-control form-control-sm" (change)="shift($event)" required>
                                <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                                <!-- <option value="{{shift.shiftMasterId}}" *ngFor="let shift of ShiftPatternshiftdata; let i = index;">
                                    {{shift.shiftName}}</option> -->
                            <option value="{{sequenceOne}}">{{shiftName1}}</option>
                            <option value="{{sequencetwo}}">{{shiftName2}}</option>
                            <option value="{{sequencethree}}">{{shiftName3}}</option>
                            </select>

                        </div>
                    </div>
        
            </div>

            <div class="form-row">
                <!-- <div class="col">
                    <div class="form-group">
                        <label for="shifttype">Weekly-off Type</label><span style="color: red">*</span>
                        <select id="shifttype" class="form-control form-control-sm" name="shiftTypee" form="shiftTypee"
                            [(ngModel)]="HRattendeceModel.weeklyOffType" #weeklyOffTy='ngModel' required>
                            <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                            <option value="General">General</option>
                            <option value="Custom">Custom</option>
                        </select>
                        <div class="help-block" *ngIf="weeklyOffTy.errors?.required && (weeklyOffTy.touched )"><small
                                style="color: red">Weekly-off Type is required</small></div>
                    </div>
                </div> -->
                <!-- <div class="form-row pb-3"> -->
                    <div  class="col">
                      <div class="form-group">
                        <label for="weeklyOffType">Weeklyoff Type <span style="color: red">*</span></label>
                        <select name="weeklyOffType" [(ngModel)]="weeklyOffType"  class="form-control form-control-sm"  >                                                                
                            <option value="Fixed">Fixed</option>
                          <option value="Variation">Variation</option>
                        </select>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
                <div class="col">   
                    <div class="form-group" >
                        <label for="shiftgrp" >Weeklyoff Calender<span style="color: red">*</span></label>
                        <select [(ngModel)]="selectedWeeklyGroupobj" name="calenderName"  class="form-control form-control-sm"
                            (change)="Weeklycalendervalue($event)">
                            <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
                            <option value="{{addwcalender.weeklyOffCalenderMasterId}}" *ngFor="let addwcalender of WeeklyOffcalendarData; let i = index;">
                                {{addwcalender.calenderName}}</option>
                        </select>
                    </div>
                </div>

                <div class="data-title" >
                    <h6>Government Documents Information</h6>
                 </div>
                 <div class="form-row" >
                    <div class="form-group col-md-6" >
                       <label for="panNumber">PAN Number</label>
                       <input type="text" class="form-control form-control-sm" id="panNumber" maxlength="10"   pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$"
                       [(ngModel)]="HRattendeceModel.panNo"  alphaOnly  name="panNo" #panNumber='ngModel'>
                      
          
                    </div>
                    <div class="form-group col-md-6">
                       <label for="aadharNumber">Aadhaar Number</label>
                    <input type="text" class="form-control form-control-sm" id="aadharNumber" maxlength="12"
                    [(ngModel)]="HRattendeceModel.adharNo" name="adharNo" #aadharNumber='ngModel'  numbersOnly>
              

                    </div>
                    <div class="form-group col-md-6">
                       <label for="pfNumber">PF Number</label>
                       <input type="text" class="form-control form-control-sm" id="pfNumber" 
                       [(ngModel)]="HRattendeceModel.pfNumber" name="pfNumber" #pfNumber='ngModel' maxlength="22">
                      

                    </div>
                    <div class="form-group col-md-6">
                       <label for="universalAccNo">UAN  Number</label>
                       <input type="text" class="form-control form-control-sm" id="universalAccNo" pattern="[a-zA-Z0-9]+"
                       [(ngModel)]="HRattendeceModel.universalAccNo" name="universalAccNo" #universalAccNo='ngModel' maxlength="10" maxlength="10">
                      
                       

                 </div>
                 </div>
              
                   
                    <div class="form-group col-md-6">
                       <label for="esicNumber">ESIC/WC/Medical Policy number</label>
                       <input type="text" class="form-control form-control-sm" id="esicNumber" pattern="[a-zA-Z0-9]+"
                       [(ngModel)]="HRattendeceModel.esicNumber" name="esicNumber" #esicNumber='ngModel' maxlength="17">
                       </div>
















                
            

            <!-- <div class="form-group">
                <label>Single Punch Present Consideration</label>
                <br>
                <label class="switch mt-2">
                    <input type="checkbox" name="singlePunchPresent" [(ngModel)]="HRattendeceModel.singlePunchPresent">
                    <span class="slider round"></span>
                </label>
            </div> -->

            <!-- <div class="form-group">
                <label>Negative Attendance Allowed</label>
                <br>
                <label class="switch mt-2">
                    <input type="checkbox" name="negativeAttendenceAllowed" [(ngModel)]="HRattendeceModel.negativeAttendenceAllowed">
                    <span class="slider round"></span>
                </label>
            </div> -->

            

            <!-- 
            
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="col">
                            <div class="backbtn">
                               
                            </div>
                        </div>

                        <div class="col">
                            <button type="submit" class="btn btn-primary float-right " [disabled]='f.invalid' (click)="storeInfo()">Save
                                &
                                Continue</button>
                        </div>
                    </div>

                </div>
            </div> -->

            <div class="form-row">
                <!-- <div class="col">
                    <div class="backbtn">
                     <a>Back</a>
                    </div>
                </div> -->

                <div class="col">
                    <button type="button" class="btn btn-primary float-right "  (click)="storeInfo(f)">Save</button>
                </div>
            </div>

        </form>

    </div>
</div>

                                