<div class="bhoechie-tab-content white-bg" id="compmaster">
  <div class="row justify-content-center align-items-center">
      <div class="mastersheading">
          <h3>
             DEVICE <span class="boldmaster">MASTER</span> 
          </h3>
      </div>
  </div>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">

        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>

          <div class="form-group">
            <label for="FunctionName">Device Name <span style="color: red">*</span></label>
            <input type="text" class="form-control form-control-sm" name="deviceName"
              #deviceName='ngModel' maxlength="100" (keyup)='error()' [(ngModel)]='Devicemodel.deviceName' required />
            <div class="help-block" *ngIf="deviceName.errors?.required && deviceName.touched"> <small
                style="color: red">Device Name is required</small></div>
                <div class="help-block" *ngIf="errflag" ><small style="color: red">Already Exist </small></div>
             </div>

          <div class="form-group">
            <label for="FunctionDescription">Device IP Address <span style="color: red">*</span></label>
            <input type="text" maxlength="20" pattern="\b((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\.|$)){4}\b" min='1' class="form-control form-control-sm"  #deviceIpAddress='ngModel'
              [(ngModel)]='Devicemodel.deviceIpAddress' name="FunctionDescription" required />
            <div class="help-block"
              *ngIf="deviceIpAddress.errors?.required && deviceIpAddress.touched">
              <small style="color: red">Device IP Address required</small></div>
            <div class="help-block" *ngIf="deviceIpAddress.errors?.pattern && deviceIpAddress.touched" > <small style="color: red">Enter proper IP address</small> </div> 

          </div>
          <div class="form-group">
            <label for="FunctionDescription">Device Serial Number <span style="color: red">*</span></label>
            <input type="text" class="form-control form-control-sm" maxlength="250" #deviceSerialNumber='ngModel'
              [(ngModel)]='Devicemodel.deviceSerialNumber'  name="deviceSerialNumber"
              required />
            <div class="help-block" *ngIf="deviceSerialNumber.errors?.required && deviceSerialNumber.touched"> <small
                style="color: red">Device Serial Number required</small> </div>

            <!-- <div class="help-block" *ngIf="deviceSerialNumber.errors?.pattern && deviceSerialNumber.touched" > <span style="color: red">Special Character not allowed</span> </div>  -->

          </div>
          <div class="form-group">
            <label>Device Used For <span style="color: red">*</span></label>
            <select name="nationality" form="carform" class="form-control form-control-sm" #deviceUsedFor='ngModel'
              [(ngModel)]="Devicemodel.deviceUsedFor" required>
              <option hidden [value]="selectedDeviceUsed"> Device Used For </option>
              <option value='Attendance'>Attendance</option>
              <option value='Canteen'>Canteen</option>
              <option value='Access-Control'>Access Control</option>
              <option value='Attendance+Access'>Attendance + Access</option>
            </select>
            <div class="help-block" *ngIf="deviceUsedFor.errors?.required && deviceUsedFor.touched"> <small
                style="color: red">Device Used For Required</small> </div>
          </div>
          <div class="form-group">
            <label>Device I/O Status <span style="color: red">*</span></label>
            <select name="ioStatus" form="carform" class="form-control form-control-sm" #ioStatus='ngModel'
              [(ngModel)]="Devicemodel.ioStatus" required>
              <option hidden [value]="selectedDeviceUsed">Select I/O Status</option>
              <option value='I'>In</option>
              <option value='O'>Out</option>
            </select>
            <div class="help-block" *ngIf="ioStatus.errors?.required && ioStatus.touched"> <small
                style="color: red">I/O status is required</small> </div>
          </div>


          <div class="form-group">
            <label>Device Location Branch <span style="color: red">*</span> </label>
            <select class="form-control form-control-sm mb-4" name="locationID" [(ngModel)]="selecteLocationobj"
              #locationId='ngModel' name="selecteLocationobj" (change)="ngValue($event)" required>
              <option hidden [value]="selectUndefinedOptionValue">Device Location Branch</option>
              <option value="{{loco.locationId}}" *ngFor="let loco of locationData; let i = index;">
                {{loco.locationName}}</option>
            </select>
            
            <div class="help-block" style="margin-top:-23px"
              *ngIf="locationId.errors?.required && locationId.touched"> <small
                style="color: red">Device Location Branch required</small></div>
          </div>

          <div class="form-group">
            <label for="FunctionDescription">Device Exact Location <span style="color: red">*</span> </label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]='Devicemodel.deviceExactLocation'
              #deviceExactLocation='ngModel' maxlength="250"  name="deviceExactLocation"
              required />
            <div class="help-block"
              *ngIf="deviceExactLocation.errors?.required && deviceExactLocation.touched"> <small
                style="color: red">Device Exact Location required</small></div>

            <!-- <div class="help-block" *ngIf="deviceExactLocation.errors?.pattern && deviceExactLocation.touched" > <span style="color: red">Special Character not allowed</span> </div>  -->

          </div>

         


          <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="(f.invalid || errflag )">Save</button>
           &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
          </div>
        </form>
      </div>
    </div>

    <hr>
    <div *ngIf='dataTableFlag'>
    <table id="CompTable" class="table table-striped table-bordered" style="width:100%">
        <thead class="theadblue">
        <tr>
          <th style="width: 90%">
            Device Name
          </th>
    
    
          <th style="width: 10%" >
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of alldevice">
          <td>{{i.deviceName}}</td>
      
          <td><i class="fa fa-pencil" (click)="edit(i)" aria-hidden="true"></i> <i class="fa fa-trash"
            (click)='dltObj(i)'  data-toggle="modal" data-target="#AreYouSuredlt" aria-hidden="true"></i></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>

        </tr>
      </tfoot>
    </table>
    </div>
  </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure.You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
     </div>
    
    </div>
  </div>
</div>