<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><img src="assets/excel-report.png" width="100%" height="100%"></div>
              <div>Reports
                <div class="page-title-subheading"> Generate report department wise, category wise & employee wise from
                  selected date slot.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height">
          <!-- NEW REPORTS DESIGN STARTS -->
          <div class="row justify-content-between">
            <div class="col-md-3">
              <div>
                <div class="selectCategory">
                  <div class="selectCategory-item">
                    <a class="list-group-item d-flex justify-content-between align-items-center"
                      (click)="reportType('attendance')" [ngClass]="{'active': reportTypeVal=='attendance'}" input
                      type="radio" id="ww attendance" name="report" value="attendance">
                      <label class="form-check-label" for="attendance">Attendance</label>
                      <small *ngIf='roleofuser =="HR" || roleofuser=="Report"'> 07 Reports</small>
                      <small *ngIf='roleofuser !="HR" && roleofuser !="Report"'> 07 Reports</small>
                    </a>
                    <div class="backpaper" *ngIf='roleofuser =="HR"|| roleofuser=="Report"'>7</div>
                    <div class="backpaper" *ngIf='roleofuser !="HR" && roleofuser !="Report"'>07</div>
                  </div>

                 
                  <!-- contractor -->
                  <div class="selectCategory-item" *ngIf='roleofuser =="HR"||roleofuser =="Report"||roleofuser=="Admin"'>
                    <a routerLink="/layout/reports/contractor-reports" [routerLinkActive]="'active'"
                      class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
                      (click)="reportType('contractor')" [ngClass]="{'active': reportTypeVal=='contractor'}" input
                      type="radio" id="ww contractor" name="report" value="contractor">
                      <label class="form-check-label" for="leave">Contractor Reports</label>
                      <small> 5 Reports</small>
                    </a>
                    <div class="backpaper">5</div>
                  </div>
                  <!-- contractor -->

                  <!-- Leave Reports Start -->
                  <div class="selectCategory-item">
                    <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
                      (click)="reportType('leave')" [ngClass]="{'active': reportTypeVal=='leave'}" input type="radio"
                      id="ww leave" name="report" value="leave">
                      <label class="form-check-label" for="leave">Leave</label>
                      <small> 04 Reports</small>
                    </a>
                    <div class="backpaper">
                      4
                    </div>
                  </div>
                  <!-- Leave Reports Dropdown End -->
                  <div class="selectCategory-item" *ngIf='roleofuser =="HR"||roleofuser =="Report"||roleofuser=="Admin"'>
                    <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
                      (click)="reportType('workforce')" [ngClass]="{'active': reportTypeVal=='workforce'}" input
                      type="radio" name="report" value="workforce">
                      <label class="form-check-label" for="workforce">Workforce</label>
                      <small> 01 Reports</small>
                    </a>
                    <div class="backpaper">
                      1
                    </div>
                  </div>
                  <!-- Workforce Reports End -->

                  
                  
                </div>

              </div>
            </div>
            <div class="col-md-9"
              *ngIf="reportTypeVal!='attendance'   && reportTypeVal != 'workforce' && reportTypeVal != 'leave'">
              <router-outlet></router-outlet>
            </div>
            <div class="col-md-9"
              *ngIf='reportTypeVal=="attendance"|| reportTypeVal=="workforce" || reportTypeVal=="leave"  '>
              <div class="ml-3">
                <div class="row justify-content-between">
                  <div class="col-md-3">
                    <div class="form-group" *ngIf='reportTypeVal=="attendance"  && roleofuser =="HR" '>
                      <select class="form-control form-control-sm" id="sel1" name="sreport" #sreport='ngModel'
                        [(ngModel)]="reportName" (change)="getDropdown($event)">
                        <option hidden value="Select">Select Report</option>
                        <option value="Absent Report">Absent Report</option>
                        <option value="Attendence Report">Attendance Report</option>
                        <option value="Working Duration Report">Working Duration Report</option>
                        <option value="Muster Report">Muster Report</option>
                        <option value="Multiple Punches Report">Multiple Punches Report</option>
                        <option value="Late Coming Report">Late Coming Report</option>
                        <option value="Early Going Report">Early Going Report</option>
                        <option value="Monthly Overtime Report" hidden>Monthly Overtime Report</option>
                      
                      </select>
                      <div class="help-block" *ngIf='reportName=="Select"'>
                        <!-- <small
                        style="color: red">Please Select Report </small>  -->
                      </div>
                    </div>
                    <div class="form-group" *ngIf='reportTypeVal=="attendance" && (roleofuser =="Admin"||roleofuser =="Report")'>
                      <select class="form-control form-control-sm" id="sel1" name="sreport" #sreport='ngModel'
                        [(ngModel)]="reportName" (change)="getDropdown($event)">
                        <option hidden value="Select">Select Report</option>
                        <option value="Absent Report">Absent Report</option>
                        <option value="Attendence Report">Attendance Report</option>
                        <option value="Working Duration Report">Working Duration Report</option>
                        <option value="Muster Report">Muster Report</option>
                        <option value="Multiple Punches Report">Multiple Punches Report</option>
                        <option value="Late Coming Report">Late Coming Report</option>
                        <option value="Early Going Report">Early Going Report</option>
                        <option value="Monthly Overtime Report">Monthly Overtime Report</option>
                      </select>
                      <div class="help-block" *ngIf='reportName=="Select"'>
                        <!-- <small style="color: red">Please Select Report </small>  -->
                      </div>
                    </div>

                    <!-- Leave Reports Dropdown Start -->
                    <div class="form-group" *ngIf='reportTypeVal == "leave"  && (roleofuser =="HR"||roleofuser =="Report" ||roleofuser =="Admin")'>
                      <select class="form-control form-control-sm" id="sel1" name="sreport" #sreport='ngModel'
                        [(ngModel)]="reportName" (change)="getDropdown($event)">
                        <option hidden value="Select">Select Leave Report</option>
                        <!-- <option value="Leave Register Report">Leave Register Report</option> -->
                        <option value="Leave Taken Report">Leave Taken Report</option>
                        <option value="Leave Taken Report InCount">Leave Taken InCount Report </option>
                        <option value="Leave balance report">Leave Balance Report</option>
                        <option value="Leave Carry Forward Report">Leave Carry Forward Report</option>
                        <!--<option value=" Leave credit report">Leave Credit Report</option> 
                        <option value="Leave encashment report">Leave Encashment Report</option> -->
                      </select>
                      <div class="help-block" *ngIf='reportName=="Select"'>
                        <!-- <small
                        style="color: red">Please Select Report </small>-->
                      </div>
                    </div>

                    <!-- Leave Reports Dropdown End -->
                    <!-- Select for WorkForce reports -->

                    <div class="form-group" *ngIf='reportTypeVal=="workforce" && (roleofuser =="HR"||roleofuser =="Report"||roleofuser =="Admin")'>
                      <select class="form-control form-control-sm" id="sel1" name="sreport" #sreport='ngModel'
                        [(ngModel)]="reportName" (change)="getDropdown($event)">
                        <option hidden value="Select">Select Report</option>
                         <option value="Employee Information Report">Employee Information Report</option>
                        <!-- <option value="Joining Updates Report">Joining Updates Report</option>
                        <option value="Leaving Updates Report">Leaving Updates Report</option>
                        <option value="Confirmation Due Report">Confirmation Due Report</option>
                        <option value="Gratuity Eligible Report">Gratuity Report</option>
                        <option value="Asset Report">Asset Report</option>  -->
                      </select>
                      <!-- <div class="help-block" *ngIf='reportName=="Select"'>
                          <small style="color: red">Please Select Report </small> 
                        </div> -->
                    </div>
                    <!-- Select for WorkForce reports End -->
                  </div>
                </div>
                <div >
                  <p>Please Select Report Type:</p>
                  <input type="radio" id="customise" [(ngModel)]="report_wise" name="report_wise" value="customise" (change)="SetSelection()"
                    checked>
                  <label for="customise">Customise</label>
                  <input type="radio" *ngIf="reportName != 'Leaving Updates Report' && reportName != 'Joining Updates Report' && reportName != 'Confirmation Due Report' && reportName != 'Gratuity Eligible Report'" id="employee_wise" [(ngModel)]="report_wise" name="report_wise"
                    value="employee_wise" (change)="SetSelection()">
                  <label *ngIf="reportName != 'Leaving Updates Report' && reportName != 'Joining Updates Report' && reportName != 'Confirmation Due Report' && reportName != 'Gratuity Eligible Report'" for="employee_wise">Employee Wise</label>

                </div>
              
               <span >
                <div  *ngIf="reportName =='Leave Carry Forward Report'">
                  <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">
                        Select year</a>
                    </li>
               
                    <li class="nav-item" *ngIf="report_wise!='employee_wise'">
                      <a class="nav-link" id="pills-filter-tab" data-toggle="pill" href="#pills-filter" role="tab"
                        aria-controls="pills-filter" aria-selected="false" (click)="tabchange()"
                        >Filter</a>
                    </li>
                 
               
          
                    <li class="nav-item" *ngIf="report_wise!='employee_wise'">
                      <a class="nav-link" id="pills-columns-tab" data-toggle="pill" href="#pills-columns" role="tab"
                        aria-controls="pills-columns" aria-selected="false" hidden>Columns</a>
                    </li>
                
                   
                  <li class="nav-item" *ngIf='report_wise=="employee_wise"'>
                    <a class="nav-link" id="pills-employee-tab" data-toggle="pill" href="#pills-employee" role="tab"
                      aria-controls="pills-employee" aria-selected="false">Select Employees</a>
                  </li>
                
                 
                 
                  
                    
                   
                    <!-- <li class="nav-item hide">
                      <a class="nav-link" id="pills-conditions-tab" data-toggle="pill" href="#pills-conditions"
                        role="tab" aria-controls="pills-conditions" aria-selected="false">Conditions</a>
                    </li> -->
                  </ul>
                </div>
                
                
               <div *ngIf="!employeeInformationReport && !currentleaveBalanceReport  && reportName !='Leave Carry Forward Report'">
                  <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">
                        Select Dates</a>
                    </li>
               
                    <li class="nav-item" *ngIf="report_wise!='employee_wise'">
                      <a class="nav-link" id="pills-filter-tab" data-toggle="pill" href="#pills-filter" role="tab"
                        aria-controls="pills-filter" aria-selected="false" (click)="tabchange()"
                        >Filter</a>
                    </li>
                 
               
          
                    <li class="nav-item" *ngIf="report_wise!='employee_wise'">
                      <a class="nav-link" id="pills-columns-tab" data-toggle="pill" href="#pills-columns" role="tab"
                        aria-controls="pills-columns" aria-selected="false" hidden>Columns</a>
                    </li>
                
                   
                  <li class="nav-item" *ngIf='report_wise=="employee_wise"'>
                    <a class="nav-link" id="pills-employee-tab" data-toggle="pill" href="#pills-employee" role="tab"
                      aria-controls="pills-employee" aria-selected="false">Select Employees</a>
                  </li>
                
                 
                 
                  
                    
                   
                    <!-- <li class="nav-item hide">
                      <a class="nav-link" id="pills-conditions-tab" data-toggle="pill" href="#pills-conditions"
                        role="tab" aria-controls="pills-conditions" aria-selected="false">Conditions</a>
                    </li> -->
                  </ul>
                </div>
                </span>
              
                <!-- START For Employee Information -->
                <div *ngIf="employeeInformationReport || currentleaveBalanceReport">
                  <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab1" role="tablist">
                    <li class="nav-item" *ngIf="report_wise!='employee_wise'">
                      <a class="nav-link active" id="pills-filter-tab1" data-toggle="pill" href="#pills-filter1"
                        role="tab" aria-controls="pills-filter1" aria-selected="true">Filter</a>
                    </li>
                  
                    <li class="nav-item" *ngIf="report_wise=='employee_wise'">
                      <a class="nav-link active" id="pills-employee-tab" data-toggle="pill" href="#pills-employee" role="tab"
                        aria-controls="pills-employee" aria-selected="false">Select Employees</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-columns-tab1" data-toggle="pill" href="#pills-columns1" role="tab"
                        aria-controls="pills-columns1" aria-selected="false" hidden>Columns</a>
                    </li>
                    <li class="nav-item hide">
                      <a class="nav-link" id="pills-conditions-tab1" data-toggle="pill" href="#pills-conditions1"
                        role="tab" aria-controls="pills-conditions1" aria-selected="false">Conditions</a>
                    </li>
                  </ul>
                </div>
                <!-- END For Employee Information -->


                <div class="tab-content min-height-400" id="pills-tabContent" *ngIf="!employeeInformationReport && !currentleaveBalanceReport">
                  <div class="tab-pane" id="pills-home" role="tabpanel" [ngClass]="{ 'active':activeTab==='dateTab'}"
                    aria-labelledby="pills-home-tab">
                    <div class="mt-3">
                      <div class="mt-3" style="width:50%">
                        <div class="form-row">
                          <!-- <div id="reportrange"  *ngIf="reportName != 'Leave Register Report'"
                            style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                          </div> -->
                           <div id="reportrange"  *ngIf="reportName !='Leave Carry Forward Report'"
                          style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                          <i class="fa fa-calendar"></i>&nbsp;
                          <span></span> <i class="fa fa-caret-down"></i>
                        </div> 
                           
                          <!-- <div class="form-group col-md-6" *ngIf="reportName == 'Leave Register Report'">
                            <select name="year" class="form-control form-control-sm" [(ngModel)]="selectedYear" id="year">
                             <option hidden value="Select">Select Year</option>
                             <option value="{{item.id}}" *ngFor="let item of availableYears; let i = index;"> {{item.id}}</option>    
                             </select>
                          </div> -->
                           <div class="form-group col-md-6" *ngIf="reportName == 'Leave Carry Forward Report'">
                            <select name="year" class="form-control form-control-sm" [(ngModel)]="selectedYear" id="year">
                             <option hidden value="Select">Select Year</option>
                             <option value="{{item.id}}" *ngFor="let item of availableYears; let i = index;"> {{item.id}}</option>    
                             </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="pills-filter" [ngClass]="{ 'active':activeTab==='filterTab'}"
                    role="tabpanel" aria-labelledby="pills-filter-tab">
                    <div class="row">
                      <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                          <a class="list-group-item list-group-item-action active" id="list-home-list"
                            data-toggle="list" href="#list-home" role="tab" aria-controls="home">Department</a>
                          <!-- <a class="list-group-item list-group-item-action" id="list-SubDepartment-list" data-toggle="list"
                            href="#list-SubDepartment" role="tab" aria-controls="SubDepartment">Sub Department</a> -->
                             
                              <a class="list-group-item list-group-item-action" id="list-Location-list" data-toggle="list"
                               href="#list-Location" role="tab"
                              aria-controls="Location"> Location</a>
                            
                    
                          <!-- <a class="list-group-item list-group-item-action" id="list-EmploymentType-list" data-toggle="list"
                            href="#list-EmploymentType" role="tab" aria-controls="EmploymentType">Employment Type</a> -->
                          <!-- <a class="list-group-item list-group-item-action " id="list-subEmploymentType-list"
                            data-toggle="list" href="#list-subEmploymentType" role="tab" aria-controls="subEmploymentType">Sub
                            Employment
                            Type</a> -->
                          
                              <a class="list-group-item list-group-item-action" id="list-Employee-list" data-toggle="list"
                             href="#list-Employee" role="tab"
                            aria-controls="Employee">Employee category</a>
                          
                        
                          <!-- <a class="list-group-item list-group-item-action" id="list-Empcategory-list" data-toggle="list"
                            href="#list-Empcategory" role="tab" aria-controls="Empcategory">Sub Emp category</a> -->
                          <!-- <a class="list-group-item list-group-item-action" id="list-Contractor-list" data-toggle="list"
                            href="#list-Contractor" role="tab" aria-controls="Contractor">Contractor</a>
                          <a class="list-group-item list-group-item-action" id="list-CostCenter-list" data-toggle="list"
                            href="#list-CostCenter" role="tab" aria-controls="CostCenter">Cost Center</a>
                          <a class="list-group-item list-group-item-action" id="list-Business-list" data-toggle="list"
                            href="#list-Business" role="tab" aria-controls="Business">Business Group</a>
                          <a class="list-group-item list-group-item-action" id="list-Grade-list" data-toggle="list"
                            href="#list-Grade" role="tab" aria-controls="Grade">Grade</a> -->
                          <!-- <a class="list-group-item list-group-item-action" id="list-Shift-list" data-toggle="list"
                            href="#list-Shift" role="tab" aria-controls="Shift">Shift</a> -->
                          <!-- <a class="list-group-item list-group-item-action" id="list-Function-list" data-toggle="list"
                            href="#list-Function" role="tab" aria-controls="Function">Function</a>
                            <a class="list-group-item list-group-item-action" id="list-Designation-list" data-toggle="list"
                            href="#list-Designation" role="tab" aria-controls="Designation">Designation</a> -->
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                          <!-- department list -->
                          <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                            aria-labelledby="list-home-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist ">

                              <li class="list-group-item">

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" (ngModelChange)='SelectAllDep($event)' id="alldeptName"
                                    value="deptId" [(ngModel)]='alldepartment' class="custom-control-input"
                                    data-md-icheck>
                                  <label class="custom-control-label" for="alldeptName">Select All</label>
                                </div>
                              </li>

                              <!-- <li class="list-group-item" *ngFor='let i of departmentlistdata'> -->
                              <li class="list-group-item" *ngFor='let i of departmentlistdata'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.department'
                                    (ngModelChange)='valueDepartment($event,i)' data-md-icheck id="{{i.deptName}}"
                                    value="{{i.deptId}}">
                                  <label class="custom-control-label" for="{{i.deptName}}">{{i.deptName}}</label>
                                </div>
                              </li>

                            </ul>
                          </div>
                          <!-- department list end -->
                          <!-- EMP Cate list -->
                          <div class="tab-pane fade" id="list-Employee" role="tabpanel"
                            aria-labelledby="list-Employee-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllEmpCat($event)' value="empTypeId" [(ngModel)]='allEmpCat'
                                    id="checkEC" data-md-icheck>
                                  <label class="custom-control-label" for="checkEC">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of AllEMp'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" data-md-icheck
                                    id="{{i.empTypeName}}" [(ngModel)]='i.AllEMpCate' value="{{i.empTypeId}}"
                                    (ngModelChange)='valueEmpCate($event,i)'>
                                  <label class="custom-control-label" for="{{i.empTypeName}}">{{i.empTypeName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- EMP Cate list end -->
                          <!--Sub EMP Cate list -->
                          <div class="tab-pane fade" id="list-Empcategory" role="tabpanel"
                            aria-labelledby="list-Empcategory-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllSubEmpCat($event)' value="empTypeId"
                                    [(ngModel)]='allSubEmpCat' id="checksubEC" data-md-icheck>
                                  <label class="custom-control-label" for="checksubEC">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allSubEmpTypeList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" data-md-icheck
                                    id="{{i.subEmpTypeName}}" [(ngModel)]='i.AllSubEMpCate' value="{{i.subEmpTypeId}}"
                                    (ngModelChange)='SelectSubEmpCat($event,i)'>
                                  <label class="custom-control-label"
                                    for="{{i.subEmpTypeName}}">{{i.subEmpTypeName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Sub EMP Cate list end -->
                          <!-- SUB DEP list -->
                          <div class="tab-pane fade" id="list-SubDepartment" role="tabpanel"
                            aria-labelledby="list-SubDepartment-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllSubDeplist($event)' value="subDeptlist"
                                    [(ngModel)]='allDep' id="subDept" data-md-icheck>
                                  <label class="custom-control-label" for="subDept">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allSubDepList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.subDept'
                                    (ngModelChange)='valueSubDepartment($event,i)' id="{{i.subDeptId}}"
                                    value="{{i.subDeptId}}">
                                  <label class="custom-control-label" for="{{i.subDeptId}}">{{i.subDeptName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- SUB DEP list end -->
                          <!-- Grade list -->
                          <div class="tab-pane fade" id="list-Grade" role="tabpanel" aria-labelledby="list-Grade-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectallGrade($event)' [(ngModel)]='allGrade' id="checkGrade"
                                    data-md-icheck>
                                  <label class="custom-control-label" for="checkGrade">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of AllGradeData'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.GradeList'
                                    (ngModelChange)='valueGrade($event,i)' data-md-icheck id="{{i.gradeName}}"
                                    value="{{i.gradeId}}">
                                  <label class="custom-control-label" for="{{i.gradeName}}">{{i.gradeName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- Grade list end-->
                          <!-- Locotion list -->
                          <div class="tab-pane fade" id="list-Location" role="tabpanel"
                            aria-labelledby="list-Location-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" (ngModelChange)='SelectAllLoco($event)' id="allLocoL"
                                    value="allLoco" [(ngModel)]='allLocoL' class="custom-control-input">
                                  <label class="custom-control-label" for="allLocoL">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allLocoList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.allLocoListdata'
                                    (ngModelChange)='valueLocation($event,i)' data-md-icheck id="{{i.locationName}}"
                                    value="{{i.locationId}}">
                                  <label class="custom-control-label"
                                    for="{{i.locationName}}">{{i.locationName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- Locotion list end-->
                          <!-- Emp Type -->
                          <div class="tab-pane fade" id="list-EmploymentType" role="tabpanel"
                            aria-labelledby="list-EmploymentType-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" (ngModelChange)='SelectAllEmpType($event)' id="allEmpTypee"
                                    value="allET" [(ngModel)]='allEpType' class="custom-control-input">
                                  <label class="custom-control-label" for="allEmpTypee">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of employmentType'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.empTY'
                                    data-md-icheck id="{{i.employmentType}}" value="{{i.employmentTypeid}}"
                                    (ngModelChange)='valueEmpType($event,i)'>
                                  <label class="custom-control-label"
                                    for="{{i.employmentType}}">{{i.employmentType}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- Emp Type list end-->
                          <!--Sub Emp Type -->
                          <div class="tab-pane fade" id="list-subEmploymentType" role="tabpanel"
                            aria-labelledby="list-subEmploymentType-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllSubEmpType($event)' [(ngModel)]='allSubEpType'
                                    id="checkSubEmpType" data-md-icheck>
                                  <label class="custom-control-label" for="checkSubEmpType">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of SubEmploymentType'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.SubempTY'
                                    (ngModelChange)='valueSubEmpType($event,i)' data-md-icheck
                                    id="{{i.SubEmploymentType}}" value="{{i.SubEmploymentTypeid}}">
                                  <label class="custom-control-label"
                                    for="{{i.SubEmploymentType}}">{{i.SubEmploymentType}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Sub Emp Type list end-->
                          <!--Cost Center -->
                          <div class="tab-pane fade" id="list-CostCenter" role="tabpanel"
                            aria-labelledby="list-CostCenter-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="checkCost"
                                    (ngModelChange)='SelectCostCenter($event)' [(ngModel)]='AllCostCenter'>
                                  <label class="custom-control-label" for="checkCost">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allCostCenterList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.CostCenterSe'
                                    (ngModelChange)='SelectCost($event,i)' id="{{i.costCenterCode}}"
                                    value="{{i.costCenterId}}">
                                  <label class="custom-control-label"
                                    for="{{i.costCenterName}}">{{i.costCenterName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Cost center list end-->
                          <!--buisness grop -->
                          <div class="tab-pane fade" id="list-Business" role="tabpanel"
                            aria-labelledby="list-Business-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllBuissness($event)' [(ngModel)]='AllBuiGrp' id="checkBG"
                                    data-md-icheck>
                                  <label class="custom-control-label" for="checkBG">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allBuiGrpList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.buiGr'
                                    data-md-icheck id="{{i.busiGrupName}}" value="{{i.busiGroupId}}"
                                    (ngModelChange)='valueBuissness($event,i)'>
                                  <label class="custom-control-label"
                                    for="{{i.busiGrupName}}">{{i.busiGrupName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--buisness group list end-->
                          <!--Shift grop -->
                          <div class="tab-pane fade" id="list-Shift" role="tabpanel" aria-labelledby="list-Shift-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllShiftGrp($event)' [(ngModel)]='AllShiftGrp'
                                    id="checkShift" data-md-icheck>
                                  <label class="custom-control-label" for="checkShift">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allShiftList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.shift'
                                    data-md-icheck id="{{i.shiftName}}" value="{{i.shiftMasterId}}"
                                    (ngModelChange)='SelectShiftGrp($event,i)'>
                                  <label class="custom-control-label" for="{{i.shiftName}}">{{i.shiftName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Shift group list end-->
                          <!-- Function Unit -->
                          <div class="tab-pane fade" id="list-Function" role="tabpanel"
                            aria-labelledby="list-Function-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllFunUnit($event)' [(ngModel)]='AllFun' id="checkcost">
                                  <label class="custom-control-label" for="checkcost">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allFunctionList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.func'
                                    data-md-icheck id="{{i.functionUnitName}}" value="{{i.functionUnitId}}"
                                    (ngModelChange)='SelectFun($event,i)'>
                                  <label class="custom-control-label"
                                    for="{{i.functionUnitName}}">{{i.functionUnitName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Function Unit end-->
                          <!-- Designation -->
                          <div class="tab-pane fade" id="list-Designation" role="tabpanel"
                            aria-labelledby="list-Designation-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllDesign($event)' [(ngModel)]='Alldesi' id="checkcdesi">
                                  <label class="custom-control-label" for="checkcdesi">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allDesignationList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.desig'
                                    data-md-icheck id="{{i.descName}}" value="{{i.descId}}"
                                    (ngModelChange)='Selectdes($event,i)'>
                                  <label class="custom-control-label" for="{{i.descName}}">{{i.descName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Designation end-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="pills-columns" role="tabpanel" aria-labelledby="pills-columns-tab">
                    <div class="row">
                      <div class="col-md-3">
                        <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                          <div *ngIf='absentReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('absentReport')" /> <strong>Select/ Unselect All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of AbsentColumns'>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)='OnAbsentColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <div *ngIf='AttendenceReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('AttendenceReport')" /> <strong>Select/ Unselect All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of ColumnsForAttend'>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)='OnAttendenceColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <div *ngIf='workDurationReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('workDurationReport')" /> <strong>Select/ Unselect
                                All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of workDurationColumn'>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)='OnDurationColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <div *ngIf='multiplePuchReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('multiplePuchReport')" /> <strong>Select/ Unselect
                                All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of multiPulPunchColumn'>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)='OnMultipleColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <div *ngIf='overTimeReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('overTimeReport')" /> <strong>Select/ Unselect All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of overTimeColumns'>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)='OnOverTimeColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <div *ngIf='lateComingReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('lateComingReport')" /> <strong>Select/ Unselect All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of overTimeColumns'>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)='OnLateColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>


                          <div *ngIf='earlyGoingReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('earlyGoingReport')" /> <strong>Select/ Unselect All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of earlyGoingColumn'>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)='OnEarlyColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>

                        
                          <div *ngIf='leaveReport'>
                            <li class="list-group-item" *ngFor='let i of LeaveCol'>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{i.ColumnName}}"
                                  [(ngModel)]='i.col' (ngModelChange)='ColumnValue($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>



                          <!-- Leave Reports Start -->
                          <!-- Leave Register Report Start -->
                          <div *ngIf='leaveRegisterReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('leaveRegisterReport')" /> <strong>Select/ Unselect
                                All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of LeaveRegisterColumns'>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)='OnLeaveRegisterColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <!-- Leave Register Report End -->

                          <!-- Leave Taken Report Start -->
                          <div *ngIf='leaveTakenReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('leaveTakenReport')" /> <strong>Select/ Unselect All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of LeaveTakenColumns'>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)='OnLeaveTakenColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <!-- Leave Taken Report End -->
 <!-- Leave   CaryyForward Report Start -->
  <div *ngIf='leaveCaryyForwardReport'>
  <li style="margin-left: -7px;" class="list-group-item">
    <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
      (change)="checkUncheckAll('leaveCaryyForwardReport')" /> <strong>Select/ Unselect All</strong>
  </li>
  <li class="list-group-item" *ngFor='let i of LeaveCaryyForwardColumns'>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
        data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
        (ngModelChange)='OnCaryyForwardColumnChange($event,i)'>
      <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
    </div>
  </li>
</div> 
<!-- Leave    CaryyForward Report End -->



                          <!-- START of Leave Taken In Count Report -->
                          <div *ngIf='leaveTakenReportInCount'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('leaveTakenReportInCount')" /> <strong>Select/ Unselect
                                All</strong>
                            </li>

                            <li class="list-group-item" *ngFor='let i of LeaveTakenInCountColumns'>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)='OnleaveTakenInCountColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <!-- END of Leave Taken In Count Report -->

                          <!-- Leave Reports End -->
                          <!-- WorkForce Report Start-->
                          <!-- Employee Information Report Start-->
                          <!-- <div *ngIf='employeeInformationReport'>
                              <li style="margin-left: -7px;" class="list-group-item">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                  (change)="checkUncheckAll('employeeInformationReport')" /> <strong>Select/ Unselect
                                  All</strong>
                              </li>
                              <li class="list-group-item" *ngFor='let i of employeeInformationColumn'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                    data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                    (ngModelChange)='OnEmployeeInformationColumnChange($event,i)'>
                                  <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                                </div>
                              </li>
                            </div> -->
                          <!-- Employee Information Report End-->

                          <!-- Joining Updates Report Start-->
                          <div *ngIf='joiningUpdatesReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('joiningUpdatesReport')" /> <strong>Select/ Unselect
                                All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of joiningUpdatesColumn'>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)=' OnJoiningUpdatesColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <!-- Joining Updates Report End -->

                          <!-- Leaving Updates Report Start-->
                          <div *ngIf='leavingUpdatesReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('leavingUpdatesReport')" /> <strong>Select/ Unselect
                                All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of leavingUpdatesColumn'>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)=' OnleavingUpdatesColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <!-- Leaving Updates Report End -->

                          <!-- Confirmation Due Report Start-->
                          <div *ngIf='confirmationDueReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('confirmationDueReport')" /> <strong>Select/ Unselect
                                All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of confirmationDueColumn'>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)=' OnConfirmationDueReportColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <!-- Confirmation Due  Report End -->

                          <!-- Gratuity Report Start-->
                          <div *ngIf='gratuityReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('gratuityReport')" /> <strong>Select/ Unselect
                                All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of gratuityColumn'>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)=' OnGratuityReportColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <!-- Gratuity Report End -->

                          <!-- Asset Report Start-->
                          <div *ngIf='assetReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('assetReport')" /> <strong>Select/ Unselect
                                All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of  assetColumn'>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)='OnAssetColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <!-- Asset Report End -->


                          <!-- WorkForce Report End-->

                          <div class="help-block"
                            *ngIf='!leaveTakenR && !leaveReport  && !earlyGoingReport && !lateComingReport && !overTimeReport && !multiplePuchReport && !workDurationReport && !AttendenceReport && !absentReport && !employeeInformationReport && !joiningUpdatesReport && !leavingUpdatesReport && !confirmationDueReport && !gratuityReport  && !leaveTakenReport && !leaveRegisterReport &&!leaveCaryyForwardReport && !leaveTakenReportInCount && !assetReport && !currentleaveBalanceReport'>
                            <span style="color: red">Please Select Report </span>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Select Employee:: START -->
                  <div class="tab-pane" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab">
                    <div class="form-group col-md-6">
                      <label>Employee Name<span style="color: red">*</span></label>
                     <ng-multiselect-dropdown [placeholder]="'Select Employee'" [data]="Employeedata" required
                      [(ngModel)]="model.selectedEmp" [ngModelOptions]="{standalone: true}"
                      #selectedLocation='ngModel' name='selectedLoco'
                      [settings]="dropdownSettings"
                      (onSelect)="onItemSelect($event)"  (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)"
                     requried >
                    </ng-multiselect-dropdown>
                    </div>
                  </div>
                  <!-- /Select Employee::END -->
                </div>

                <!-- START Employee Information report -->
                <div class="tab-content min-height-400" id="pills-tabContent1" *ngIf="(employeeInformationReport || currentleaveBalanceReport ) && report_wise!='employee_wise' ">
                  <div class="tab-pane fade show active" id="pills-filter1" role="tabpanel"
                    aria-labelledby="pills-filter-tab1">
                    <div class="row">
                      <div class="col-4">
                        <div class="list-group" id="list-tab1" role="tablist">
                          <a class="list-group-item list-group-item-action active" id="list-home-list1"
                            data-toggle="list" href="#list-home" role="tab" aria-controls="home1">Department</a>
                          <a class="list-group-item list-group-item-action" id="list-Location-list1" data-toggle="list"
                            href="#list-Location" role="tab" aria-controls="Location1"> Location</a>
                          <a class="list-group-item list-group-item-action" id="list-Employee-list1" data-toggle="list"
                            href="#list-Employee" role="tab" aria-controls="Employee1">Employee category</a>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                          <!-- department list -->
                          <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                            aria-labelledby="list-home-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist ">

                              <li class="list-group-item">

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" (ngModelChange)='SelectAllDep($event)' id="alldeptName"
                                    value="deptId" [(ngModel)]='alldepartment' class="custom-control-input"
                                    data-md-icheck>
                                  <label class="custom-control-label" for="alldeptName">Select All</label>
                                </div>
                              </li>

                              <!-- <li class="list-group-item" *ngFor='let i of departmentlistdata'> -->
                              <li class="list-group-item" *ngFor='let i of departmentlistdata'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.department'
                                    (ngModelChange)='valueDepartment($event,i)' data-md-icheck id="{{i.deptName}}"
                                    value="{{i.deptId}}">
                                  <label class="custom-control-label" for="{{i.deptName}}">{{i.deptName}}</label>
                                </div>
                              </li>

                            </ul>
                          </div>
                          <!-- department list end -->
                          <!-- EMP Cate list -->
                          <div class="tab-pane fade" id="list-Employee" role="tabpanel"
                            aria-labelledby="list-Employee-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllEmpCat($event)' value="empTypeId" [(ngModel)]='allEmpCat'
                                    id="checkEC" data-md-icheck>
                                  <label class="custom-control-label" for="checkEC">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of AllEMp'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" data-md-icheck
                                    id="{{i.empTypeName}}" [(ngModel)]='i.AllEMpCate' value="{{i.empTypeId}}"
                                    (ngModelChange)='valueEmpCate($event,i)'>
                                  <label class="custom-control-label" for="{{i.empTypeName}}">{{i.empTypeName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- EMP Cate list end -->
                          <!--Sub EMP Cate list -->
                          <div class="tab-pane fade" id="list-Empcategory" role="tabpanel"
                            aria-labelledby="list-Empcategory-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllSubEmpCat($event)' value="empTypeId"
                                    [(ngModel)]='allSubEmpCat' id="checksubEC" data-md-icheck>
                                  <label class="custom-control-label" for="checksubEC">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allSubEmpTypeList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" data-md-icheck
                                    id="{{i.subEmpTypeName}}" [(ngModel)]='i.AllSubEMpCate' value="{{i.subEmpTypeId}}"
                                    (ngModelChange)='SelectSubEmpCat($event,i)'>
                                  <label class="custom-control-label"
                                    for="{{i.subEmpTypeName}}">{{i.subEmpTypeName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Sub EMP Cate list end -->
                          <!-- SUB DEP list -->
                          <div class="tab-pane fade" id="list-SubDepartment" role="tabpanel"
                            aria-labelledby="list-SubDepartment-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllSubDeplist($event)' value="subDeptlist"
                                    [(ngModel)]='allDep' id="subDept" data-md-icheck>
                                  <label class="custom-control-label" for="subDept">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allSubDepList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.subDept'
                                    (ngModelChange)='valueSubDepartment($event,i)' id="{{i.subDeptId}}"
                                    value="{{i.subDeptId}}">
                                  <label class="custom-control-label" for="{{i.subDeptId}}">{{i.subDeptName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- SUB DEP list end -->
                          <!-- Grade list -->
                          <div class="tab-pane fade" id="list-Grade" role="tabpanel" aria-labelledby="list-Grade-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectallGrade($event)' [(ngModel)]='allGrade' id="checkGrade"
                                    data-md-icheck>
                                  <label class="custom-control-label" for="checkGrade">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of AllGradeData'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.GradeList'
                                    (ngModelChange)='valueGrade($event,i)' data-md-icheck id="{{i.gradeName}}"
                                    value="{{i.gradeId}}">
                                  <label class="custom-control-label" for="{{i.gradeName}}">{{i.gradeName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- Grade list end-->
                          <!-- Locotion list -->
                          <div class="tab-pane fade" id="list-Location" role="tabpanel"
                            aria-labelledby="list-Location-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" (ngModelChange)='SelectAllLoco($event)' id="allLocoL"
                                    value="allLoco" [(ngModel)]='allLocoL' class="custom-control-input">
                                  <label class="custom-control-label" for="allLocoL">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allLocoList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.allLocoListdata'
                                    (ngModelChange)='valueLocation($event,i)' data-md-icheck id="{{i.locationName}}"
                                    value="{{i.locationId}}">
                                  <label class="custom-control-label"
                                    for="{{i.locationName}}">{{i.locationName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- Locotion list end-->
                          <!-- Emp Type -->
                          <div class="tab-pane fade" id="list-EmploymentType" role="tabpanel"
                            aria-labelledby="list-EmploymentType-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" (ngModelChange)='SelectAllEmpType($event)' id="allEmpTypee"
                                    value="allET" [(ngModel)]='allEpType' class="custom-control-input">
                                  <label class="custom-control-label" for="allEmpTypee">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of employmentType'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.empTY'
                                    data-md-icheck id="{{i.employmentType}}" value="{{i.employmentTypeid}}"
                                    (ngModelChange)='valueEmpType($event,i)'>
                                  <label class="custom-control-label"
                                    for="{{i.employmentType}}">{{i.employmentType}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- Emp Type list end-->
                          <!--Sub Emp Type -->
                          <div class="tab-pane fade" id="list-subEmploymentType" role="tabpanel"
                            aria-labelledby="list-subEmploymentType-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllSubEmpType($event)' [(ngModel)]='allSubEpType'
                                    id="checkSubEmpType" data-md-icheck>
                                  <label class="custom-control-label" for="checkSubEmpType">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of SubEmploymentType'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.SubempTY'
                                    (ngModelChange)='valueSubEmpType($event,i)' data-md-icheck
                                    id="{{i.SubEmploymentType}}" value="{{i.SubEmploymentTypeid}}">
                                  <label class="custom-control-label"
                                    for="{{i.SubEmploymentType}}">{{i.SubEmploymentType}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Sub Emp Type list end-->
                          <!--Cost Center -->
                          <div class="tab-pane fade" id="list-CostCenter" role="tabpanel"
                            aria-labelledby="list-CostCenter-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="checkCost"
                                    (ngModelChange)='SelectCostCenter($event)' [(ngModel)]='AllCostCenter'>
                                  <label class="custom-control-label" for="checkCost">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allCostCenterList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.CostCenterSe'
                                    (ngModelChange)='SelectCost($event,i)' id="{{i.costCenterCode}}"
                                    value="{{i.costCenterId}}">
                                  <label class="custom-control-label"
                                    for="{{i.costCenterName}}">{{i.costCenterName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Cost center list end-->
                          <!--buisness grop -->
                          <div class="tab-pane fade" id="list-Business" role="tabpanel"
                            aria-labelledby="list-Business-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllBuissness($event)' [(ngModel)]='AllBuiGrp' id="checkBG"
                                    data-md-icheck>
                                  <label class="custom-control-label" for="checkBG">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allBuiGrpList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.buiGr'
                                    data-md-icheck id="{{i.busiGrupName}}" value="{{i.busiGroupId}}"
                                    (ngModelChange)='valueBuissness($event,i)'>
                                  <label class="custom-control-label"
                                    for="{{i.busiGrupName}}">{{i.busiGrupName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--buisness group list end-->
                          <!--Shift grop -->
                          <div class="tab-pane fade" id="list-Shift" role="tabpanel" aria-labelledby="list-Shift-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllShiftGrp($event)' [(ngModel)]='AllShiftGrp'
                                    id="checkShift" data-md-icheck>
                                  <label class="custom-control-label" for="checkShift">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allShiftList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.shift'
                                    data-md-icheck id="{{i.shiftName}}" value="{{i.shiftMasterId}}"
                                    (ngModelChange)='SelectShiftGrp($event,i)'>
                                  <label class="custom-control-label" for="{{i.shiftName}}">{{i.shiftName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Shift group list end-->
                          <!-- Function Unit -->
                          <div class="tab-pane fade" id="list-Function" role="tabpanel"
                            aria-labelledby="list-Function-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllFunUnit($event)' [(ngModel)]='AllFun' id="checkcost">
                                  <label class="custom-control-label" for="checkcost">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allFunctionList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.func'
                                    data-md-icheck id="{{i.functionUnitName}}" value="{{i.functionUnitId}}"
                                    (ngModelChange)='SelectFun($event,i)'>
                                  <label class="custom-control-label"
                                    for="{{i.functionUnitName}}">{{i.functionUnitName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Function Unit end-->
                          <!-- Designation -->
                          <div class="tab-pane fade" id="list-Designation" role="tabpanel"
                            aria-labelledby="list-Designation-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllDesign($event)' [(ngModel)]='Alldesi' id="checkcdesi">
                                  <label class="custom-control-label" for="checkcdesi">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allDesignationList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.desig'
                                    data-md-icheck id="{{i.descName}}" value="{{i.descId}}"
                                    (ngModelChange)='Selectdes($event,i)'>
                                  <label class="custom-control-label" for="{{i.descName}}">{{i.descName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Designation end-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="pills-columns1" role="tabpanel" aria-labelledby="pills-columns-tab1">
                    <div class="row">
                      <div class="col-md-3">
                        <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                          <!-- WorkForce Report Start-->
                          <!-- Employee Information Report Start-->
                          <div *ngIf='employeeInformationReport'>
                            <li style="margin-left: -7px;" class="list-group-item">
                              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                (change)="checkUncheckAll('employeeInformationReport')" /> <strong>Select/ Unselect
                                All</strong>
                            </li>
                            <li class="list-group-item" *ngFor='let i of employeeInformationColumn'>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]='i.isSelected'
                                  data-md-icheck id="{{i.ColumnName}}" value="{{i.col}}"
                                  (ngModelChange)='OnEmployeeInformationColumnChange($event,i)'>
                                <label class="custom-control-label" for="{{i.ColumnName}}">{{i.ColumnName}}</label>
                              </div>
                            </li>
                          </div>
                          <!-- Employee Information Report End-->
                          <!-- WorkForce Report End-->

                          <div class="help-block"
                            *ngIf='!leaveTakenR && !leaveReport  && !earlyGoingReport && !lateComingReport && !overTimeReport && !multiplePuchReport && !workDurationReport && !AttendenceReport && !absentReport && !employeeInformationReport && !joiningUpdatesReport && !leavingUpdatesReport && !confirmationDueReport && !gratuityReport  && !leaveTakenReport && !leaveRegisterReport  &&!leaveCaryyForwardReport && !assetReport'>
                            <span style="color: red">Please Select Report </span>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                 <!-- Select Employee:: START -->
                 <div class="tab-content min-height-400"  *ngIf="(employeeInformationReport || currentleaveBalanceReport) && report_wise=='employee_wise'">
                    <div class="tab-pane active" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab">
                      <div class="form-group col-md-6">
                        <label>Employee Name <span style="color: red">*</span></label>
                      <ng-multiselect-dropdown [placeholder]="'Select Employee'" [data]="Employeedata" required
                        [(ngModel)]="model.selectedEmp" [ngModelOptions]="{standalone: true}"
                        #selectedLocation='ngModel' name='selectedLoco'
                        [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)"  (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)"
                      requried >
                      </ng-multiselect-dropdown>
                      </div>
                    </div>
                 </div>
                 
                <!-- /Select Employee::END -->
                <!-- END Employee Information report -->

                <hr>
                <div class="float-right">
                  <!-- <button type="button" class="btn btn-sm btn-primary">Previous</button><button type="button" class="btn ml-2 btn-sm btn-primary">Next</button> -->
                  <span >
                    <button type="button" class="btn ml-2 btn-sm btn-success" *ngIf="report_wise!='employee_wise'"
                    [disabled]='!leaveTakenR && !leaveReport  && !earlyGoingReport && !lateComingReport && !overTimeReport && !multiplePuchReport && !workDurationReport && !musterReport && !AttendenceReport && !absentReport && !leaveTakenReport && !leaveRegisterReport  && !leaveCaryyForwardReport && !employeeInformationReport && !joiningUpdatesReport && !leavingUpdatesReport && !confirmationDueReport && !gratuityReport && !leaveTakenReportInCount && !assetReport   && !currentleaveBalanceReport|| reportName=="Select"'
                    (click)='postAbsent()'>Generate Report</button>
                  </span>
                
                  <!-- Employee Wise Submit -->
                  <span >
                    <button type="button" class="btn ml-2 btn-sm btn-success" *ngIf="report_wise=='employee_wise'" [disabled]='reportName=="Select"' (click)='GenerateEmployeeWiseReport()'>Generate Employee Wise Report</button>
                  </span>
                  <!-- /Employee Wise Submit -->
                  
                </div>
              </div>
            </div>
          </div>
          <!-- NEW REPORTS DESIGN ENDS -->
        </div>
      </div>
    </div>
  </div>
</div>