.thead-dark{
    background: black !important;
    color:white;
}

.fa-pencil{
    color:green;
}
.fa-trash{
  padding-left:1rem;
  color:red;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 10px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}