<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-envelope bg-happy-itmeo" aria-hidden="true"></i></div>
              <div> Mail Settings <div class="page-title-subheading">Here you can set up your email account i.e. name, server, password & more. </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">
          <div class="row justify-content-center">
            <div class="col-md-4">
              
              <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
                <div class="mt-3">

                  <div class="form-group">
                    <label for="sendrmail">Sender Mail <span style="color: red">*</span></label>
                    <input [(ngModel)]="mailSettingModel.senderMail" type="email" required
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="senderMail"
                      class="form-control form-control-sm" #senderMail="ngModel" aria-describedby="sendrmail">

                    <div class="help-block" *ngIf="senderMail.errors?.required && (senderMail.touched || f.submitted)">
                      <small style="color: red">Sender Mail required</small></div>

                    <div class="help-block" *ngIf="senderMail.errors?.pattern &&  senderMail.touched "><small
                        style="color: red">Enter valid Email</small></div>

                  </div>

                  <div class="form-group">
                    <label for="smtpserver">SMTP Server <span style="color: red">*</span></label>
                    <input pattern="^[a-zA-Z0-9./-]*" [(ngModel)]="mailSettingModel.smtpServer" required type="text"
                      class="form-control form-control-sm" name="smtpserver" #smtpserver="ngModel"
                      aria-describedby="smtpserver">

                    <div class="help-block" *ngIf="smtpserver.errors?.required && (smtpserver.touched || f.submitted)">
                      <small style="color: red">SMTP server required</small></div>
                      <div class="help-block" *ngIf="smtpserver.errors?.pattern && (smtpserver.touched || f.submitted)">
                        <small style="color: red">Enter Valid SMPT Server</small></div>
                  </div>

                  <div class="form-group">
                    <label for="mailname">Mail Username <span style="color: red">*</span></label>

                    <input [(ngModel)]="mailSettingModel.mailUserName" type="text" class="form-control form-control-sm"
                      name="mailUserName" #mailUserName="ngModel" aria-describedby="smtpserver" maxlength="30" required>

                    <div class="help-block"
                      *ngIf="mailUserName.errors?.required && (mailUserName.touched || f.submitted)">
                      <small style="color: red">Mail Username is required</small></div>
                  </div>

                  <div class="form-group">
                    <label for="mailpassword">Mail Password <span style="color: red">*</span></label>
                    <input [(ngModel)]="mailSettingModel.password" type="text" minlength="6" maxlength="50"
                      class="form-control form-control-sm" name="mailpassword" #password="ngModel"
                      aria-describedby="mailpassword" required>

                    <div class="help-block" *ngIf="password.errors?.required && (password.touched || f.submitted)">
                      <small style="color: red">Mail Password required</small></div>
                      <div class="help-block" *ngIf="password.errors?.minlength && (password.touched || f.submitted)">
                      <small style="color: red">Password must be at least 6 characters</small></div>
                  </div>

                  <div class="form-group">
                    <label for="portno">Port No. <span style="color: red">*</span></label>
                    <input [(ngModel)]="mailSettingModel.portNo" required #portNo="ngModel" type="number"
                      class="form-control form-control-sm" name="portno" aria-describedby="portno">

                    <div class="help-block" *ngIf="portNo.errors?.required && (portNo.touched || f.submitted)"><small
                        style="color: red">Port Number is required</small></div>
                  </div>

                  <label class="customcheck">Enable SSL <span style="color: red">*</span>
                    <input [(ngModel)]="mailSettingModel.ssl" name="ssl" type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>

                  <div class="form-inline float-right">
                   
                    <div class="form-group mb-2">
                      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Save</button>
                    </div>
                    <div class="form-group mb-2">
                      <button class="btn btn-info ml-2" type="reset">Reset</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>