<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
        <div class="list-group">

          <a routerLink="/layout/master/companymaster" [routerLinkActive]="'active'" data-toggle="tab" class="list-group-item  text-center">
            <h4 class="fa fa-building"></h4>
            <br />Company Master
          </a>
          <!-- <a routerLink="/layout/master/businessmaster" [routerLinkActive]="'active'" data-toggle="tab" class="list-group-item text-center">
            <h4 class="fa fa-briefcase"></h4>
            <br />Business Group Master
          </a>
          <a routerLink="/layout/master/functionmaster" [routerLinkActive]="'active'" data-toggle="tab" class="list-group-item text-center">
            <h4 class="fa fa-fire"></h4>
            <br />Function Unit Master
          </a> -->
          <a routerLink="/layout/master/departmentmaster" [routerLinkActive]="'active'" data-toggle="tab" class="list-group-item text-center">
            <h4 class="fa fa-building-o"></h4>
            <br />Department Master
          </a>
          <!-- <a routerLink="/layout/master/subdepartmentmaster" [routerLinkActive]="'active'" data-toggle="tab" class="list-group-item text-center">
            <h4 class="fa fa-building-o" ></h4>
            <br />Sub Department Master
          </a> -->
          <a routerLink="/layout/master/emptypemaster" [routerLinkActive]="'active'" class="list-group-item text-center">
            <h4 class="fa fa-user-circle"></h4>
            <br />Employee Category Master
          </a>
          <!-- <a routerLink="/layout/master/subemptypemaster" [routerLinkActive]="'active'" class="list-group-item text-center">
            <h4 class="fa fa-user-circle-o"></h4>
            <br />Sub Employee Category Master
          </a> -->
          <!-- <a routerLink="/layout/master/paygroupmaster" [routerLinkActive]="'active'" class="list-group-item text-center">
            <h4 class="fa fa-money"></h4>
            <br />Pay Group Master
          </a>
          <a routerLink="/layout/master/grademaster" [routerLinkActive]="'active'" class="list-group-item text-center">
            <h4 class="fa fa-bar-chart"></h4>
            <br />Grade Master
          </a> -->
          <a routerLink="/layout/master/designationmaster" [routerLinkActive]="'active'" class="list-group-item text-center">
            <h4 class="fa fa-id-card"></h4>
            <br />Designation Master
          </a>
          
          <a routerLink="/layout/master/locationmaster" [routerLinkActive]="'active'" class="list-group-item text-center">
            <h4 class="fa fa-map-marker"></h4>
            <br />Location Master
          </a>
          <!-- <a routerLink="/layout/master/assetmaster" [routerLinkActive]="'active'" class="list-group-item text-center">
            <h4 class="fa fa-map-marker"></h4>
            <br/>Assets Master
          </a>  -->
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">
        <!-- flight section -->
        <router-outlet></router-outlet>
        <!-- <div class="bhoechie-tab-content active white-bg" id="compmaster">

          <h1 class="glyphicon glyphicon-plane"></h1>
          <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
          <h3 style="margin-top: 0;color:#55518a">Flight Reservation</h3>

        </div> -->
        <!-- train section -->
        <!-- <div class="bhoechie-tab-content white-bg" id="busimaster">

          <h1 class="glyphicon glyphicon-road"></h1>
          <h2 style="margin-top: 0;color:#55518a">Soon</h2>
          <h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>

        </div> -->
      </div>
    </div>
  </div>



</div>