.notibox h6{
  font-size: small;
}
.contentmain{
  margin-top:35px;
}
.loderrlog {
  width:100%;
}
.loderrlog img{
  width: 190px;
  position: relative;
  float: right;
  right: 0;
  top: 10px;
  padding-right: 1rem;
}
.directorymodalbox{
  width: 400px;
  margin: auto;
}
.dumydirectory{
  width:100%;
  min-height:300px;
  text-align: center;
  padding:1rem;
}
.dumydirectory img{
  width:120px;
}

.userdropdwnmenu a{
  cursor: pointer;
}
/* FEELEING TODAY START */
.feelingboxbg{
  border-radius: 0.5rem !important;
}
.feelingbtns .btn:focus img,
.feelingbtns .btn .active img
 {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
  box-shadow: none !important;
}
.feelingbtns.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0) !important;
  background-color: none !important;
}
.feelingbtns.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b6200 !important;
  border-color: #4e555b00 !important;
}
#myModalfeelingtoday{
  background-color: rgba(34, 34, 34, 0.8);
}
.feelingboxbg{
  background: -webkit-linear-gradient(-45deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
}
.no-border{
  border-bottom: 0 !important;
}
.howimg img{
  width:70%;
}
.btn-secondary:hover{
  transform: scale(1.06);
}
/* NOTIFICATION DROPDOWN BOX STARTS */

.headerdots .dropdown-menu{
    padding: 0 !important;
    -webkit-transform: translate(-99px, 6px);
    transform: translate(-250px, 6px);
    min-width: 290px;
    left: -175px;
    top: 31px;
}

.headerdots .dropdown-menu:after, .dropdown-menu:before{
    border: none !important;
}
.notibox .card-header{
    margin: -1px -1px 0;
    padding: 0.5rem 0.5rem;
    position: relative;
}
.bg-deep-blue {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%) !important;
}
.bg-color-theme{
    background-image: linear-gradient(120deg, #c7c3fc 0%, #8efced 100%) !important;
}
.notibox .card-body{
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.dropdown-menu-theme{
    left: -250px !important;
}
.dropdown-menu-theme .btn{
    width:30px;
    height:30px;
    border-radius: 50% !important;
}

.themebox .card-body{
    max-height: 250px;
    overflow-x: hidden;
}

.btn-red {
    border-radius: 1.5px !important;
    background-image: linear-gradient(344deg, #a72d40, #fb756e) !important;
    background-color: none !important;
    box-shadow: 0px 9px 12px -8px #6b6407;
    border: none !important;
}
.btn-red:hover {
    background-image: linear-gradient(344deg, #fb756e, #a72d40) !important;
}

.btn-cyan {
    border-radius: 1.5px !important;
    background-image: linear-gradient(344deg, #00b3e0, #51e5ff) !important;
    background-color: none !important;
    box-shadow: 0px 9px 12px -8px #07686b;
    border: none !important;
}
.btn-cyan:hover {
    background-image: linear-gradient(344deg, #51e5ff, #00b3e0) !important;
}

.btn-orange {
    border-radius: 1.5px !important;
    background-image: linear-gradient(344deg, #e09200, #ffb451) !important;
    background-color: none !important;
    box-shadow: 0px 9px 12px -8px #6b3407;
    border: none !important;
}
.btn-orange:hover {
    background-image: linear-gradient(344deg, #ffb451, #e09200) !important;
}

.btn-dark {
    border-radius: 1.5px !important;
    background-image: linear-gradient(344deg, #1b1b1b, #5f5f5f) !important;
    background-color: none !important;
    box-shadow: 0px 9px 12px -8px #313131;
    border: none !important;
}
.btn-dark:hover {
    background-image: linear-gradient(344deg, #5f5f5f, #1b1b1b) !important;
}

.btn-c4 {
    border-radius: 1.5px !important;
    background-image: linear-gradient(344deg, #6816b4, #bb81fd) !important;
    background-color: none !important;
    box-shadow: 0px 9px 12px -8px #3a195f;
    border: none !important;
}
.btn-c4:hover {
    background-image: linear-gradient(344deg, #bb81fd, #6816b4) !important;
}

.notidate{
    color: rgb(53, 53, 53) !important;
}
.notidate-reason{
  font-size: 125%;
  color: rgb(53, 53, 53) !important;
}
.rIcon .fa {
    height: 10px !important;
    color: grey;
    float: right;
}
/* NOTIFICATION DROPDOWN BOX ENDS */



.menuicon img{
  width:28px;
  cursor: pointer;
  
  }
  .menuicon img:hover{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
.chatsuggestionEmp{
    background: white;
    padding: 7px;
    box-shadow: 0px 1px 8px #a7a7a7;
    border-radius: 0px 0px 5px 5px;
    max-height: 235px;
    overflow-x: auto;
    position: absolute;
    z-index: 9;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    width: 260px;
  }
  .chatsuggestion{
    background: white;
    padding: 7px;
    box-shadow: 0px 1px 8px #a7a7a7;
    border-radius: 0px 0px 5px 5px;
    max-height: 235px;
    overflow-x: auto;
    position: absolute;
    z-index: 9;
    margin-top: 0;
    border-radius: 10px;
    width: 93%;
  }
.suggestiontext:hover{
    cursor: pointer;
    background: rgba(137, 188, 255, 0.425);
  }

  .suggestiontext{
  padding:4px;
  border-radius: 3px;
  }
  .loggedusername span, small{
    color:white;
  }
  .loggedusername  small{
    color:rgb(218, 218, 218);
  }
  .loggedusername{
    cursor: pointer;
    text-align: right;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-right: 0.8rem;
  }
.loggedusername .fa-angle-down{
  color: #272727;
    text-align: center;
    padding-top: 2px;
    height: 20px;
    font-weight: 600;
    margin-top: 10px;
    background: #fbfdff;
    width: 20px;
    border-radius: 50%;
    font-size: medium;
}

.loggedusername .fa-angle-down:hover{
  background: #eeff4b;
  cursor: pointer;
}

.userdropdwnmenu2{
  background: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  border-radius: 5px;
  border: none;
  opacity: 1;
  position: absolute;
  left: auto;
  margin-top: 8px;
  right: -26px;
  visibility: visible;
  overflow: visible;
  padding: 15px 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.dropdown-toggle-top::after {
display: none;
}
.userdropdwnmenu2:after {
  left: 7rem !important;
}
.u-dropdown2::after {
display: none !important;
}
  .overlay {
    position: absolute;
    top: -70px;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(226, 226, 226, 0.363);
    cursor: pointer;
  }
  
  .profile-img:hover .overlay {
    opacity: 1;
  }
  .icon .fa{
    text-shadow: 0 4px 4px black;
  }
  .icon {
    color: #ffea56;
    font-size: 20px;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .fa-user:hover {
    color: #eee;
  }

  .userdropdwnmenu{
      top:50px !important;
      left:50px !important;
  }
  .userdropdwnmenu:after{
      left:7rem !important;
  }
  .headerdots{
    display: flex;
  }
  .headerdots img{
    margin-left:0.8rem;
    cursor: pointer;
  }
  .notificationcount{
    position: absolute;
    z-index: 2;
    right: -8px;
  }
  .approvals-count{
    position: absolute;
    z-index: 2;
    right: 5px;
  }
  .sidepanel{
    z-index: 3;
  width:60px;
    position: fixed;
    top:0;
    overflow-y: auto;
    /* left: -250px; */
    height: 100vh;

  color:white;
   box-shadow: 0px 0px 8px black;
  }
  .navbar{
  z-index:4;
         box-shadow: 1px 0 5px rgba(0, 0, 0, 0.8);
         padding-right: 1rem !important;
  }
  #mySidepanel{
      transition: all 0.3s;
  }

.image-cover{
  width: 3.8em;
  height: 3.8em;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
  padding: 3px;
  border: 1px solid rgba(229, 255, 63, 0.2);
}

.small-image-cover{
    width: 8em;
    height: 8em;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  padding: 5px;
  border: 1px solid rgba(229, 255, 63, 0.2);
}

.user-profile .profile-img{
  text-align: center;

}
.user-profile {
margin-top: 5rem;
    position: relative;
    background-size: cover;
}
 .user-profile .profile-text {
    padding: 5px 0px;
    position: relative;
    text-align: center;
} 
.user-profile .setpos {
    top: -47px;
    right: -3px;
}
.user-profile h5{
color:white;
font-size: small;
}
.notify {
    position: relative;
    top: -22px;
    right: -9px;
}  
.notify .heartbit {
    position: absolute;
    top: -20px;
    right: -4px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #ef5350;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.notify .point {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #ef5350;
    position: absolute;
    right: 6px;
    top: -10px;
}
  
  .sidebar-nav ul {
    margin: 0px;
    padding: 0px;
}
.sidebar-nav ul li.nav-devider {
    height: 1px;
    background: rgba(120, 130, 140, 0.13);
    display: block;
    margin: 20px 0;
}
.sidebar-nav ul li {
    list-style: none;
    margin: 10px;
}
.sidebar-nav>ul>li {
    margin-bottom: 5px;
}
.sidebar-nav>ul>li>a {
    border-left: 3px solid transparent;
}
.sidebar-nav ul li a {
    color: #f9f9f9;
    padding: 0px 9px 5px 5px;
    display: block;
    font-size: 12px;
}
#sidebarnav .active{
    background: #c1c1c161;
    border-radius: 20px;
    box-shadow: 0 5px 25px -10px #151515;
}
/* .sidebar-nav ul li a:hover {
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    font-size: 14px;
} */

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.sidebar-nav .has-arrow {
    position: relative;
}
.sidebar-nav>ul>li>a i {
    width: 30px;
    font-size: 15px;
    display: inline-block;
    color: #dcdcdc;
}
.mdi-gauge:before {
    content: "\f0e4";
	 font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.mdi-my:before {
     content: "\f2bd";
	 font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.mdi-attendance:before {
       content: "\f017";
	 font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.mdi-attendance1:before {
  content: "\f234";
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
}
.mdi-approvals:before {
       content: "\f05d";
	 font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.mdi-visitor:before {
  content: "\f2c3";
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
}
.mdi-checkbox-blank-circle-outline:before {
  content: "\f35d";
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
}

.mdi-pms:before{
  content: "\f123";
  font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   text-decoration: inherit;
}
.mdi-company:before {
       content: "\f0f7";
	 font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.mdi-query:before{
    content:"\f25a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.mdi-money:before{
    content:"\f0d6";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.mdi-money1:before{
  content:"\f08b";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.mdi-social:before{
    content:"\f0ac";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.mdi-settings:before{
  content:" \f085";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.mdi-team:before{
  content:"\f0c0";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.mdi-workforce:before{
  content:"\f12e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.whitebg{
margin-top: 100px;
width: 100%;
    background-color: white;
    border-radius: .375rem;
    box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
    line-height: 1.25rem;
    font-weight: 700;
    margin-bottom: 0;
	min-height:500px;

}
.heading h5{
font-weight:600;
font-family: 'Josefin Sans', sans-serif;
font-size:1.5rem !important;
margin:1rem;
}

.menus {
display: flex;
    flex-wrap: wrap;
margin-top:5%;
justify-content: center;
    position: static;
    text-align: -webkit-auto;
    user-select: none;
}
.menuicons img{
margin: auto;
    margin-bottom: 10px;
    display: flex;
    width: 60px;
    text-align: center;

}
.menuicons{
    align-items: center;

    flex-flow: column nowrap;
    height: 100%;
    position: relative;
    width: 100%;
}
.menuicons span{
font-size:14px;
}

.menuicons:hover img{
-webkit-transform: scale(1.08);
    transform: scale(1.08);
transition: all 0.3s;
}
.list-inline-item{
    cursor:pointer;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 1;
    padding-bottom: 3rem;
    position: relative;
    transition-property: background, background-color, border-color, box-shadow, opacity, filter;
    width: 150px;

}

.dropdownstyle{
border: 1px solid #f1f1f1;
    font-size: small;
    padding: 0.5rem;
    box-shadow: 0px 14px 20px -10px #7b7b7b;
	top:auto !important;
}

.dropdownstyle li{
padding:5px;
}

.dropdownstyle li:hover{
background:#343a40;
color:white;
border-radius:5px;
}

/* DIRECTORY POPUP CSS STARTS */

.directorymodalbox{
    width: 400px;
    margin: auto;
  }
  .dumydirectory{
    width:100%;
    min-height:300px;
    text-align: center;
    padding:1rem;
  }
  .dumydirectory img{
    width:120px;
  }

  .search_input_2 {
    color: rgb(83, 83, 83);
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    width: 300px;
    line-height: 20px;
    transition: width 0.4s linear;
  }
   .search_icon_2{
    width: 20px;
    float: right;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:rgb(133, 133, 133);
    }
    
.searchbar2{
    margin-bottom: auto;
    margin-top: auto;
    height: 30px;
    background-color: #eeeeee;
    border-radius: 30px;
    padding: 4px;
  }
  .searchbar2 .search_input {
    width: 335px;
    color: #0f0f0f !important;
  }
  .searchbar2 .fa{
    height:15px !important;
  }
  .searchbar2 .search_input::-webkit-input-placeholder {
    color: rgb(66, 66, 66);
  
  }
  
.profile-text, .welcomename{
    text-transform: capitalize;
  }
  .profile-text h5{
      color:rgb(22, 22, 22);
  }
  .user-profile-directory .profile-img {
    width: 120px;
    margin: 0 auto;
    padding: 10px 0 5px 0;
    border-radius: 100%;
 
  }
  .user-profile-directory .profile-img img {
    width: 120px;
    height:120px;
    padding: 5px;
    border: 1px solid rgba(99, 99, 99, 0.2);
    border-radius: 100%;
  }
  .user-profile-directory {
    position: relative;
    background-size: cover;
  }
  .user-profile-directory .profile-text {
    position: relative;
    text-align: center;
  } 
  .user-profile-directory h4{
    font-weight: 600;
  color:rgb(53, 53, 53);
  }
  .profile-text h6{
    margin-top: -5px;
    color: #a5a5a5;
    font-size: 14px;
  }
  .user-profile-directory img{
    width:25px;
  }
  .callmaildetails{
    color:rgb(53, 53, 53);
  }
  .callmaildetails h6{
    margin-top: 5px !important;
    color: #a5a5a5;
  }
  /* DIRECTORY POPUP CSS ENDS */

  /* TOGGLE-SWITCH-STARTS  */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 10px;
    border: none !important;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: -2px;
    bottom: -4px;
    background-color: #ffbc00;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }
/* TOGGLE-SWITCH-ENDS  */

@media only screen and (max-width: 600px) {
  .user-profile{
    margin-top: 7rem;
  }
}
@media screen and (max-width: 360px) {

  #google_translate_element{
    display: none !important;
  }
  
  }

.sidepanel::-webkit-scrollbar-track
{

	border-radius: 10px;
	background-color: rgba(245, 245, 245, 0);
}

.sidepanel::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(245, 245, 245, 0);
}

.sidepanel::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba(243, 243, 243, 0.445);
}

.sidebarcount{
  position: absolute;
    font-size: 8px;
    margin-left: -5px;
}


.noti h5{
  font-size: small !important;
  color: #229194;
  font-weight: 500;
}

.noti .list-group-item:first-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  
}
.mb-1{
  font-size: 12px !important;
}
.text-muted{
  font-size: 12px !important;
}
.download-apk{
  height: 26px;
  width: 26px;
  border-radius: 15px;
}
.errspan {
  float: right;
  margin-right: 6px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  color: rgb(8, 8, 8);
}
.appr-circle{
  border-radius: 50px;
  width: 24px;
  background: red;
  text-align: center;
}

/* here is new code*/
.modal1 {
  display: block;
  position: fixed; 
  z-index: 100; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  }
  .modal-content0 {
    background-color: #fefefe;
    margin: auto;
    padding-top: 0px;
    border: 1px solid #888;
    width: max-content;
    margin-top: auto;
    height: 36%;
    border-radius: 8px;
    color: #19cd1d;
    font-size: 23px;
    text-align: center;
  }