<header>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand">
      <img src="assets/Worksjoy Blue.png" alt="" height="32px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item active menuicon" (click)="myFunction()">
          <a class="nav-link" *ngIf="menuOpenClose"><img src="assets/newlayout/menuicon.png"> <span
              class="sr-only">(current)</span></a>
          <a class="nav-link" *ngIf="!menuOpenClose"><img src="assets/newlayout/menuiconclose.png"> <span
              class="sr-only">(current)</span></a>
        </li>

      </ul>
      <div class="serachpallete">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search"
            autocomplete="off" (select)='goto($event)' (keydown)="keyDown($event)" [(ngModel)]="searchQuery"
            (input)="filterItem(searchQuery)" name="name">

        </form>
        <div class="chatsuggestionEmp" *ngIf="empFlag">
          <div *ngFor="let item of UserArry| searchPipeLayout: searchQuery" (click)="suggestThis(item)"
            class="suggestiontext">
            <div>
              {{item.linkName}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="loggedusername dropdown-toggle dropdown-toggle-top" data-toggle="dropdown">
      <span style="font-size: 11px;">{{fullname}} {{lastName}} <br>
        <small>Role Name:- {{RoleNames}}</small><br>
        <small *ngIf="RoleNames=='Contractor'">Company Name:- {{companyNames}}</small>
      </span>


      <span *ngIf="adminLoginFlag">{{ adminUserName }} </span>
      <i class="fa fa-angle-down ml-2 opacity-5  u-dropdown u-dropdown2" role="button" aria-haspopup="true"
        aria-expanded="true"></i>

      <div class="dropdown-menu userdropdwnmenu animated flipInY">
        <a *ngIf="rolename=='User'" class="dropdown-item" (click)="Profile()"><i class="ti-user"></i> My Profile</a>
        <a *ngIf="!adminLoginFlag" (click)="changePasswrd()" class="dropdown-item"><i class="ti-wallet"></i> Change
          Password</a>
        <div *ngIf='roleofuser=="HR"||roleofuser=="Admin"'>
          <a (click)="resetpassword()" class="dropdown-item"><i class="ti-wallet"></i> Reset
            Password </a>
        </div>

        <div *ngIf="!adminLoginFlag" class="dropdown-divider"></div>
        <a class="dropdown-item" (click)='clearout()'><i class="fa fa-power-off"></i> Logout</a>
      </div>

    </div>

    <div>
      <div style="height: 32px; margin: 5px;" id="google_translate_element"></div>
    </div>

    <!-- <button id="openModalButton12" [hidden]="true" data-toggle="modal" data-target="#mychangepassword"></button>
    <button id="openModalButton13" [hidden]="true" data-toggle="modal" data-target="#resetpassword"></button> -->

    <div class="headerdots">
      <div class="dropdown">
        <img *ngIf="!adminLoginFlag" src="assets/1.svg" data-toggle="dropdown" title="Notifications" id="play">
        <span class="badge badge-pill badge-danger notificationcount" *ngIf="alertLength">{{alertLength}}</span>

        <div class="dropdown-menu animated flipInY">

          <div class="notibox noti">
            <div class="card">
              <div *ngIf="!alertLength" class="card-header text-center bg-deep-blue">
                <h5><strong>Notifications</strong></h5>
                <p>You have {{alertLength}} new notifications</p>
              </div>
              <div class="card-body p-0">
                <div class="drop-content">
                  <li *ngFor="let item of leaveList" class="list">
                    <div class="noti list-group">
                      <div *ngIf="item.finalStatus=='Approved'">
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"> {{item.leaveCode}} Approved

                            </h5>
                            <small class="text-muted"><a class="rIcon" alt="Smiley face" (click)="updateLeave(item)"><i
                                  class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>
                          </div>

                          <div *ngIf="item.startDate == item.endDate">
                            <p class="mb-1">Your {{item.leaveCode}} is approved</p>
                            <p>For date : {{item.startDate | date:'dd-MMM-yyyy'}} to: {{item.endDate |
                              date:'dd-MMM-yyyy'}} </p>
                          </div>

                          <div *ngIf="item.startDate != item.endDate">
                            <p class="mb-1">Your {{item.leaveCode}} is approved</p>
                            <p>From : {{item.startDate | date:'dd-MMM-yyyy'}} To : {{item.endDate | date:'dd-MMM-yyyy'}}
                            </p>
                          </div>
                        </a>
                      </div>
                      <div *ngIf="item.finalStatus=='Rejected'"><a class="rIcon" alt="Smiley face"
                          (click)="updateLeave(item)"><i class="fa fa-times-circle-o" alt="Clear"></i></a>
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Your {{item.leaveCode}} Rejected</h5>
                            <small class="text-muted"><a class="rIcon" alt="Smiley face" (click)="updateLeave(item)"><i
                                  class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>
                          </div>

                          <div *ngIf="item.startDate == item.endDate">
                            <p class="mb-1">Sorry! Your Request Is Rejected</p>
                            <p>For date : {{item.startDate | date:'dd-MMM-yyyy'}} </p>
                          </div>

                          <div *ngIf="item.startDate != item.endDate">
                            <p class="mb-1">Sorry! Your Request Is Rejected</p>
                            <p>From : {{item.startDate | date:'dd-MMM-yyyy'}} To : {{item.endDate | date:'dd-MMM-yyyy'}}
                            </p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li *ngFor="let item of workFromHomeList" class="list">
                    <div *ngIf="item.finalStatus=='Approved'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Work From Home approved</h5>
                          <small class="text-muted"><a class="rIcon" alt="Smiley face" (click)="updateLeave(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>
                        <!-- <p class="mb-1" *ngIf="i.forDate == i.toDate">Your Work From Home is approved</p>
                        <small class="text-muted">{{item.forDate | date:'dd-MMM-yyyy'}}</small> -->
                        <div *ngIf="item.forDate == item.toDate">
                          <p class="mb-1">Your Work From Home is approved</p>
                          <small class="text-muted">For date : {{item.forDate | date:'dd-MMM-yyyy'}} </small>
                        </div>

                        <div *ngIf="item.forDate != item.toDate">
                          <p class="mb-1">Your Work From Home is approved</p>
                          <small class="text-muted">From : {{item.forDate | date:'dd-MMM-yyyy'}} To : {{item.toDate |
                            date:'dd-MMM-yyyy' }}</small>
                        </div>
                      </a>
                    </div>

                    <div *ngIf="item.finalStatus=='Rejected'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Work From Home Rejected</h5>
                          <small class="text-muted"><a class="rIcon" alt="Smiley face" (click)="updateLeave(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>

                        <div *ngIf="item.forDate == item.toDate">
                          <p class="mb-1">Sorry! Your Request Is Rejected</p>
                          <small class="text-muted">For date : {{item.forDate | date:'dd-MMM-yyyy'}} </small>
                        </div>

                        <div *ngIf="item.forDate != item.toDate">
                          <p class="mb-1">Sorry! Your Request Is Rejected</p>
                          <small class="text-muted">From : {{item.forDate | date:'dd-MMM-yyyy'}} To : {{item.toDate |
                            date:'dd-MMM-yyyy' }}</small>
                        </div>
                      </a>
                    </div>

                  </li>

                  <!-- ==================================== startList ============== -->

                  <li *ngFor="let item of permissionRequestList" class="list">
                    <div *ngIf="item.finalStatus=='Approved'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Permission Request Approved</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updatePermission(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>
                        <p class="mb-1">Permission Request Approved</p>
                        <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius.</p> -->
                        <small class="text-muted">For date : {{item.dateAndTime | date:'dd-MMM-yyyy'}}</small>
                      </a>
                    </div>

                    <div *ngIf="item.finalStatus=='Rejected'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Permission Request Is Rejected</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updatePermission(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>
                        <p class="mb-1">Sorry! Your Request Is Rejected</p>
                        <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius.</p> -->
                        <small class="text-muted">
                          For date : {{item.dateAndTime | date:'dd-MMM-yyyy' }}</small>
                      </a>
                    </div>

                  </li>

                  <!-- ==================================== End List ============== -->


                  <!-- ==================================== startList ============== -->

                  <li *ngFor="let item of lateEarlyList" class="list">
                    <div *ngIf="item.finalStatus=='Approved'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1"> {{item.requestType}} Approved</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updateLateEarly(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>
                        <p class="mb-1">Your {{item.requestType}} Approved</p>
                        <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius.</p> -->
                        <small class="text-muted">For date : {{item.dateAndTime1 | date:'dd-MMM-yyyy'}}</small>
                      </a>
                    </div>

                    <div *ngIf="item.finalStatus=='Rejected'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{item.requestType}} Rejected</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updateLateEarly(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>
                        <p class="mb-1">Sorry! Your Request Is Rejected</p>
                        <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius.</p> -->
                        <small class="text-muted">For date : {{item.dateAndTime1 | date:'dd-MMM-yyyy'}}</small>
                      </a>
                    </div>

                  </li>

                  <!-- ==================================== End List ============== -->
                  <!-- Query Raise Aprroved List-->

                  <li *ngFor="let item of QueryApprovedlist" class="list">
                    <div>
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1"> Query Request Approved</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updateQueryApproved(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>
                        <p class="mb-1">Your Query Request is Approved by &nbsp; &nbsp; {{item.fullName}}
                          {{item.lastName}} </p>
                        <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius.</p> -->
                        <small class="text-muted"> Applied Date : {{item.qryEntryDate | date:'dd-MMM-yyyy'}} </small>
                        <br>
                        <small class="text-muted"> Remark : {{item.remark}} </small>
                      </a>
                    </div>


                  </li>


                  <!-- end Query Raise Approved list-->
                  <!-- ==================================== startList ============== -->

                  <li *ngFor="let item of missPunchList" class="list">
                    <div *ngIf="item.finalStatus=='Approved'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Miss Punch Approved</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updateMissPunch(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>
                        <p class="mb-1">Your Miss Punch Request is Approved </p>
                        <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius.</p> -->
                        <small class="text-muted">For date : {{item.dateAndTime1 | date:'dd-MMM-yyyy'}}</small>
                      </a>
                    </div>

                    <div *ngIf="item.finalStatus=='Rejected'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Miss Punch Rejected</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updateMissPunch(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>
                        <p class="mb-1">Sorry! Your Request Is Rejected</p>
                        <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius.</p> -->
                        <small class="text-muted">For date : {{item.dateAndTime1 | date:'dd-MMM-yyyy'}}</small>
                      </a>
                    </div>

                  </li>

                  <!-- ==================================== End List ============== -->

                  <!-- ==================================== On Duty startList ============== -->

                  <li *ngFor="let item of onDutyList" class="list">
                    <div *ngIf="item.finalStatus=='Approved'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">On Duty Approved</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updateOnDuty(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>

                        <div *ngIf="item.fromDate == item.toDate">
                          <p class="mb-1">Your On Duty Request is Approved </p>
                          <small class="text-muted">For date : {{item.fromDate | date:'dd-MMM-yyyy'}} </small>
                        </div>

                        <div *ngIf="item.fromDate != item.toDate">
                          <p class="mb-1">Your On Duty Request is Approved </p>
                          <small class="text-muted">From : {{item.fromDate | date:'dd-MMM-yyyy'}} To : {{item.toDate |
                            date:'dd-MMM-yyyy'}}</small>
                        </div>
                      </a>
                    </div>

                    <div *ngIf="item.finalStatus=='Rejected'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">On Duty Rejected</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updateOnDuty(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>

                        <div *ngIf="item.fromDate == item.toDate">
                          <p class="mb-1">Sorry! Your Request Is Rejected </p>
                          <small class="text-muted">For date : {{item.fromDate | date:'dd-MMM-yyyy'}} </small>
                        </div>

                        <div *ngIf="item.fromDate != item.toDate">
                          <p class="mb-1">Sorry! Your Request Is Rejected </p>
                          <small class="text-muted">From :{{item.fromDate | date:'dd-MMM-yyyy'}} To : {{item.toDate |
                            date:'dd-MMM-yyyy'}}</small>
                        </div>
                      </a>
                    </div>

                  </li>

                  <!-- ==================================== End List ============== -->


                  <!-- ==================================== startList ============== -->

                  <li *ngFor="let item of suggestionList" class="list" (click)="actionDateSuggestion(item)">
                    <div>
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">You Have Leave Date Suggestion</h5>
                          <small class="text-muted"><a class="rIcon"><i class="fa fa-times-circle-o" alt="Clear"
                                title="Remove"></i></a></small>

                        </div>
                        <!-- <p class="mb-1">You Have Leave Date Suggestion </p> -->
                        <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius.</p> -->
                        <small class="text-muted"> You have got Suggetion of Leave date:
                          {{item.fromDate | date:'dd-MMM-yyyy'}} to {{item.toDate | date:'dd-MMM-yyyy'}} against dates :
                          {{item.startDate | date:'dd-MMM-yyyy'}} to {{item.endDate | date:'dd-MMM-yyyy'}} for
                          {{item.leaveCode}}</small>
                      </a>
                    </div>



                  </li>

                  <div *ngIf='BdayFlag'>
                    <li class="list" *ngFor='let i of bdayData'>
                      <div class="col-md-12 col-sm-12 col-xs-12 pd-l0">
                        <h5 class="mb-1"> Hi {{toWish}}</h5>
                        <a class="rIcon" (click)='updateBday(i)'>
                          <i class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a>

                        <small class="text-muted"> <span *ngIf="i.birthdayWish">{{i.birthdayWish}}</span> <span
                            *ngIf="!i.birthdayWish">Wish you happy birthday ..!</span> <br> {{i.employeeName}} (Dept -
                          {{i.deptName}}) </small>
                        <br>
                        <small class="notidate date"></small>
                      </div>
                    </li>
                  </div>
                  <!-- ==================================== End List ============== -->


                  <!-- ==================================== startList ============== -->

                  <li *ngFor="let item of extraWorkList" class="list">
                    <div *ngIf="item.finalStatus=='Approved'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Extra Work Request Approved</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updateExtraWorkRequest(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>
                        <p class="mb-1">Your Extra Work Request is Approved </p>
                        <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius.</p> -->
                        <small class="text-muted">{{item.workingDate | date:'dd-MMM-yyyy'}}</small>
                      </a>
                    </div>

                    <div *ngIf="item.finalStatus=='Rejected'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Extra Work Request Rejected</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updateExtraWorkRequest(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>
                        <p class="mb-1">Sorry! Your Request Is Rejected</p>

                        <small class="text-muted">{{item.workingDate | date:'dd-MMM-yyyy'}}</small>
                      </a>
                    </div>

                  </li>

                  <!-- =====================End ============================== -->




                  <!-- ==================================== startList ============== -->

                  <!-- <li *ngFor="let item of hrExtraWorkList" class="list">
                      <div class="col-md-12 col-sm-12 col-xs-12 pd-l0">Extra Work Request Hr
                        <a class="rIcon" (click)="updateHrExtraWorkRequest(item)"><i class="fa fa-times-circle-o"
                            alt="Clear"></i></a>
                        <br>
                        <small class="notidate">Reason : {{item.empReason}}</small>
                        <br>
                        <small class="notidate date">{{item.workingDate | date:'dd-MMM-yyyy'}}</small>
                      </div>
    
                    </li> -->

                  <li *ngFor="let item of hrExtraWorkList" class="list">
                    <a class="list-group-item list-group-item-action flex-column align-items-start"
                      (click)="actionHrExtraWork(item)">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Extra Work Request by reporting person</h5>
                        <small class="text-muted"><a class="rIcon" (click)="updateExtraWorkRequest(item)"><i
                              class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>
                      </div>
                      <div>
                        <small class="text-muted">Reason : {{item.reason}}</small>
                        <br>
                        <small class="text-muted date">{{item.workingDate | date:'dd-MMM-yyyy'}}</small>
                      </div>

                    </a>


                  </li>

                  <li *ngFor="let item of resignAndLeaving" class="list">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">resign And Leaving</h5>
                        <small class="text-muted"><a class="rIcon" (click)="updateExtraWorkRequest(item)"><i
                              class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>
                      </div>
                      <div>
                        <small class="text-muted"> officialContactNumber:{{item.officialContactNumber}}</small>
                        <small class="text-muted">Reason : {{item.reason}}</small>
                        <br>
                        <small class="text-muted date">date Of Resignation:{{item.dateOfResignation |
                          date:'dd-MMM-yyyy'}}</small>
                      </div>

                    </a>


                  </li>

                  <!-- =====================End ============================== -->



                  <!-- ==================================== startList ============== -->

                  <li *ngFor="let item of CoffList" class="list">
                    <div *ngIf="item.finalStatus=='Approved'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Coff Request Approved</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updateCoff(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>

                        <p class="mb-1">Your Coff Request is Approved</p>
                        <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius.</p> -->
                        <small class="text-muted">{{item.dateAndTime | date:'dd-MMM-yyyy'}}</small>
                      </a>
                    </div>


                    <div *ngIf="item.finalStatus=='Rejected'">
                      <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Coff Request
                            Rejected</h5>
                          <small class="text-muted"><a class="rIcon" (click)="updateCoff(item)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>

                        </div>
                        <p class="mb-1">Sorry! Your Request Is Rejected</p>

                        <small class="text-muted">{{item.dateAndTime | date:'dd-MMM-yyyy'}}</small>
                      </a>
                    </div>

                  </li>

                  <!-- =====================End ============================== -->


                  <!-- =============================Leave Block start================== -->



                  <li *ngIf="leaveBlockList.length" class="list">

                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                      <div>
                        <h5 class="mb-1">Leave Block</h5>

                        <small class="notidate"><a class="rIcon" (click)="updateLeaveBlock(item)"><i
                              class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>
                        <small class="notidate" *ngIf="leaveBlockList.length == 1">{{leaveBlockList.length}} Leave Date
                          is
                          Blocked for you: </small>
                        <small class="notidate" *ngIf="leaveBlockList.length > 1">{{leaveBlockList.length}} Leave Dates
                          are
                          Blocked for you : </small>
                        <small class="notidate" *ngFor="let data of leaveBlockList; let i = index;">
                          <span>{{ data.fromDate | date :'dd-MMM-yyyy' }} </span> <span
                            *ngIf="leaveBlockList.length > 1 && i < leaveBlockList.length-1"> & </span> </small>
                        <br>
                        <small class="notidate" *ngIf="leaveBlockList.length > 1"> You Can Not Apply Leave On These
                          Dates !!!</small>
                        <small class="notidate" *ngIf="leaveBlockList.length == 1"> You Can Not Apply Leave On This
                          Date !!! </small>
                        <br>



                      </div>
                    </a>



                  </li>


                  <li *ngIf="dateBlockList.length" class="list">

                    <a *ngFor="let data of dateBlockList; let i = index;"
                      class="list-group-item list-group-item-action flex-column align-items-start">
                      <div>
                        <h5 class="mb-1">Date Block</h5>
                        <div>

                          <small class="notidate"><a class="rIcon" (click)="updateDateBlock(data)"><i
                                class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a></small>
                          <small class="notidate">You Can Not Apply Leave On {{ data.fromDate | date :'dd-MMM-yyyy' }}
                          </small>
                          <!-- <small class="notidate" *ngIf="dateBlockList.length > 1">Dates are
                                      Blocked for leave : </small> -->
                          <small class="notidate">
                            <!-- <span>{{ data.fromDate | date :'dd-MMM-yyyy' }} </span>  -->
                            <!-- <span
                                        *ngIf="dateBlockList.length > 1 && i < dateBlockList.length-1"> & </span> -->
                            <br>
                            <small class="notidate-reason">Reason : {{data.reason}}</small>
                          </small>

                        </div>


                        <!-- <br> -->
                        <!-- <small class="notidate" *ngIf="dateBlockList.length > 1"> You Can Not Apply Leave On These
                                    Dates !!!</small> -->
                        <!-- <small class="notidate"> You Can Not Apply Leave On This Date !!! </small> -->
                        <br>
                      </div>
                    </a>



                  </li>

                  <!-- 
                    <li class="list" *ngIf="leaveBlockList.length">
                      
                      <div class="list-group-item list-group-item-action flex-column align-items-start">Leave Block
                        <a class="rIcon" (click)="updateLeaveBlock(item)"><i class="fa fa-times-circle-o"
                            alt="Clear"></i></a>
                        <br>
                        <small class="notidate" *ngIf="leaveBlockList.length == 1">{{leaveBlockList.length}} Leave Date is
                          Blocked for you: </small>
                        <small class="notidate" *ngIf="leaveBlockList.length > 1">{{leaveBlockList.length}} Leave Dates are
                          Blocked for you : </small>
                        <small class="notidate" *ngFor="let data of leaveBlockList; let i = index;">
                          <span>{{ data.fromDate | date :'dd-MMM-yyyy' }} </span> <span
                            *ngIf="leaveBlockList.length > 1 && i < leaveBlockList.length-1"> & </span> </small>
                        <br>
                        <small class="notidate" *ngIf="leaveBlockList.length > 1">Sorry you can not Apply leave on these
                          dates !!!</small>
                        <small class="notidate" *ngIf="leaveBlockList.length == 1">Sorry you can not Apply leave on this
                          date !!! </small>
                        <br>
                        <small class="notidate date"></small>
                      </div>
    
    
                    </li> -->

                  <!-- ===================================Leave Block End=================== -->

                  <!-- <li  class="list">
                  <div>  


                  <a class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Goals Approved</h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                      varius.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                  </a>
                </div>
              </li> -->


                  <!-- notification old design  -->
                  <!--                 
                <li *ngFor="let item of leaveList" class="list">
                  <div *ngIf="item.finalStatus=='Approved'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">
                    {{item.leaveCode}}
                    Approved<a class="rIcon" alt="Smiley face" (click)="updateLeave(item)"><i
                        class="fa fa-times-circle-o" alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Your {{item.leaveCode}} is approved</small>
                    <br>
                    <small class="notidate date">{{item.startDate | date:'dd-MMM-yyyy'}} to
                      {{item.endDate | date:'dd-MMM-yyyy'}}</small>
                  </div>

                  <div *ngIf="item.finalStatus=='Rejected'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">
                    {{item.leaveCode}}
                    Rejected<a class="rIcon" alt="Smiley face" (click)="updateLeave(item)"><i
                        class="fa fa-times-circle-o" alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Sorry! Your {{item.leaveCode}} Rejected</small>
                    <br>
                    <small class="notidate date">{{item.startDate | date:'dd-MMM-yyyy'}} to
                      {{item.endDate | date:'dd-MMM-yyyy'}}</small>
                  </div>
                </li> -->


                  <!-- <li *ngFor="let item of permissionRequestList" class="list">
                  <div *ngIf="item.finalStatus=='Approved'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">Permission
                    Request
                    Approved<a class="rIcon" (click)="updatePermission(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Your Permission Request is approved</small>
                    <br>
                    <small class="notidate date">{{item.dateAndTime | date:'dd-MMM-yyyy'}}</small>
                  </div>

                  <div *ngIf="item.finalStatus=='Rejected'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">Permission
                    Request
                    Rejected<a class="rIcon" (click)="updatePermission(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Sorry! Your Request Rejected</small>
                    <br>
                    <small class="notidate date">{{item.dateAndTime | date:'dd-MMM-yyyy'}}</small>
                  </div>
                </li> -->

                  <!-- <li *ngFor="let item of lateEarlyList" class="list">
                  <div *ngIf="item.finalStatus=='Approved'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">
                    {{item.requestType}}
                    Approved<a class="rIcon" (click)="updateLateEarly(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Your {{item.requestType}} Request is approved</small>
                    <br>
                    <small class="notidate date">{{item.dateAndTime1 | date:'dd-MMM-yyyy'}}</small>
                  </div>

                  <div *ngIf="item.finalStatus=='Rejected'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">
                    {{item.requestType}}
                    Rejected<a class="rIcon" (click)="updateLateEarly(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Sorry! Your Request Rejected</small>
                    <br>
                    <small class="notidate date">{{item.dateAndTime1 | date:'dd-MMM-yyyy'}}</small>
                  </div>
                </li> -->

                  <!-- <li *ngFor="let item of missPunchList" class="list">
                  <div *ngIf="item.finalStatus=='Approved'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">Miss Punch
                    Approved<a class="rIcon" (click)="updateMissPunch(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Your Miss Punch Request is Approved</small>
                    <br>
                    <small class="notidate date">{{item.dateAndTime1 | date:'dd-MMM-yyyy'}}</small>
                  </div>

                  <div *ngIf="item.finalStatus=='Rejected'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">Miss Punch
                    Rejected<a class="rIcon" (click)="updateMissPunch(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Sorry! Your Request Rejected</small>
                    <br>
                    <small class="notidate date">{{item.dateAndTime1 | date:'dd-MMM-yyyy'}}</small>
                  </div>
                </li> -->

                  <!-- <li *ngFor="let item of onDutyList" class="list">
                  <div *ngIf="item.finalStatus=='Approved'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">On Duty
                    Approved<a class="rIcon" (click)="updateOnDuty(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Your On Duty Request is Approved</small>
                    <br>
                    <small class="notidate date">{{item.fromDate | date:'dd-MMM-yyyy'}} to
                      {{item.toDate | date:'dd-MMM-yyyy'}}</small>
                  </div>

                  <div *ngIf="item.finalStatus=='Rejected'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">On Duty
                    Rejected<a class="rIcon" (click)="updateOnDuty(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Sorry! Your Request Rejected</small>
                    <br>
                    <small class="notidate date">{{item.fromDate | date:'dd-MMM-yyyy'}} to
                      {{item.toDate | date:'dd-MMM-yyyy'}}</small>
                  </div>
                </li> -->

                  <!-- <li *ngFor="let item of workFromHomeList" class="list">
                  <div *ngIf="item.finalStatus=='Approved'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">Work From
                    Home
                    Approved<a class="rIcon" (click)="updateWorkFromHome(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Your Work From Home Request is Approved</small>
                    <br>
                    <small class="notidate date">{{item.forDate | date:'dd-MMM-yyyy'}} to
                      {{item.enteryDateAndTime | date:'dd-MMM-yyyy' }}</small>
                  </div>

                  <div *ngIf="item.finalStatus=='Rejected'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">Work From
                    Home
                    Rejected<a class="rIcon" (click)="updateWorkFromHome(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Sorry! Your Request Rejected</small>
                    <br>
                    <small class="notidate date">{{item.forDate | date:'dd-MMM-yyyy'}}</small>
                  </div>
                </li> -->

                  <!-- <li *ngFor="let item of suggestionList" class="list" (click)="actionDateSuggestion(item)">
                  <div class="col-md-12 col-sm-12 col-xs-12 pd-l0">You Have Leave Date Suggestion<a class="rIcon"><i
                        class="fa fa-times-circle-o" alt="Clear"></i></a>
                  
                    <br>
                    <small class="notidate date">
                      You have got Suggetion of Leave date: {{item.fromDate | date:'dd-MMM-yyyy'}} to
                      {{item.toDate | date:'dd-MMM-yyyy'}} against dates : {{item.startDate | date:'dd-MMM-yyyy'}} to
                      {{item.endDate | date:'dd-MMM-yyyy'}} for {{item.leaveCode}}
                    </small>
                  </div>
                </li> -->

                  <!-- <div *ngIf='BdayFlag'>
                  <li class="list" *ngFor='let i of bdayData'>
                    <div class="col-md-12 col-sm-12 col-xs-12 pd-l0"> Hi {{toWish}}
                      <a class="rIcon" (click)='updateBday(i)'>
                        <i class="fa fa-times-circle-o" alt="Clear" title="Remove"></i></a>
                      <br>
                      <small class="notidate">{{i.birthdayWish}} from {{i.employeeName}} ({{i.deptName}})</small>
                      <br>
                      <small class="notidate date"></small>
                    </div>
                  </li>
                </div> -->


                  <!-- <li *ngFor="let item of extraWorkList" class="list">
                  <div *ngIf="item.finalStatus=='Approved'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">Exra Work
                    Request
                    Approved<a class="rIcon" (click)="updateExtraWorkRequest(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Your Extra Work Request is Approved</small>
                    <br>
                    <small class="notidate date">{{item.workingDate | date:'dd-MMM-yyyy'}}</small>
                  </div>

                  <div *ngIf="item.finalStatus=='Rejected'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">Exra Work
                    Request
                    Rejected<a class="rIcon" (click)="updateExtraWorkRequest(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Sorry! Your Request Rejected</small>
                    <br>
                    <small class="notidate date">{{item.workingDate | date:'dd-MMM-yyyy'}}</small>
                  </div>
                </li> -->

                  <!-- <li *ngFor="let item of extraWorkList" class="list">
                    <div class="col-md-12 col-sm-12 col-xs-12 pd-l0">Exra Work Request
                      <a class="rIcon" (click)="updateExtraWorkRequestEmployee(item)"><i class="fa fa-times-circle-o"
                          alt="Clear"></i></a>
                      <br>
                      <small class="notidate">Reason : {{item.resone}}</small>
                      <br>
                      <small class="notidate date">{{item.workingDate | date:'dd-MMM-yyyy'}}</small>
                    </div>
      
      
                  </li> -->






                  <!-- <li class="list" *ngIf="leaveBlockList.length">
                  <div class="col-md-12 col-sm-12 col-xs-12 pd-l0">Leave Block
                    <a class="rIcon" (click)="updateLeaveBlock(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate" *ngIf="leaveBlockList.length == 1">{{leaveBlockList.length}} Leave Date is
                      Blocked for you: </small>
                    <small class="notidate" *ngIf="leaveBlockList.length > 1">{{leaveBlockList.length}} Leave Dates are
                      Blocked for you : </small>
                    <small class="notidate" *ngFor="let data of leaveBlockList; let i = index;">
                      <span>{{ data.fromDate | date :'dd-MMM-yyyy' }} </span> <span
                        *ngIf="leaveBlockList.length > 1 && i < leaveBlockList.length-1"> & </span> </small>
                    <br>
                    <small class="notidate" *ngIf="leaveBlockList.length > 1"> You Can Not Apply Leave On these
                      Dates !!!</small>
                    <small class="notidate" *ngIf="leaveBlockList.length == 1"> You Can Not Apply Leave On this
                      Date !!! </small>
                    <br>
                    <small class="notidate date"></small>
                  </div>


                </li> -->

                  <!-- <li *ngFor="let item of hrExtraWorkList" class="list">
                  <div class="col-md-12 col-sm-12 col-xs-12 pd-l0">Extra Work Request Hr
                    <a class="rIcon" (click)="updateHrExtraWorkRequest(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Reason : {{item.empReason}}</small>
                    <br>
                    <small class="notidate date">{{item.workingDate | date:'dd-MMM-yyyy'}}</small>
                  </div>


                </li> -->
                  <!-- 
                <li *ngFor="let item of CoffList" class="list">
                  <div *ngIf="item.finalStatus=='Approved'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">Coff Request
                    Approved<a class="rIcon" (click)="updateCoff(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Your Coff Request is Approved</small>
                    <br>
                    <small class="notidate date">{{item.dateAndTime | date:'dd-MMM-yyyy'}}</small>
                  </div>

                  <div *ngIf="item.finalStatus=='Rejected'" class="col-md-12 col-sm-12 col-xs-12 pd-l0">Coff Request
                    Rejected<a class="rIcon" (click)="updateCoff(item)"><i class="fa fa-times-circle-o"
                        alt="Clear"></i></a>
                    <br>
                    <small class="notidate">Sorry! Your Request Rejected</small>
                    <br>
                    <small class="notidate date">{{item.dateAndTime | date:'dd-MMM-yyyy'}}</small>
                  </div>
                </li> -->
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-sm btn-secondary float-right" (click)="clearAll()">Clear</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- <div class="dropdown" *ngIf="!adminLoginFlag">
      <img src="assets/directory2.svg" aria-hidden="true" (click)='closeModal()' data-toggle="modal"
        data-target="#myDirectoryModal2" title="Employee Directory">
    </div> -->

      <div class="dropdown">
        <img src="assets/theme2.svg" data-toggle="dropdown" title="Themes">
        <div class="dropdown-menu dropdown-menu-theme animated flipInY">

          <div class="themebox">
            <div class="card">
              <div class="card-header text-center bg-color-theme">
                <h5><strong>Color Themes!</strong></h5>
              </div>
              <div class="card-body">

                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" (click)="setColor('customBlue','nav-pills-blue')">
                      <button type="button" class="btn btn-primary">
                        <!-- <i  class="fa fa-check" id="checked"></i> -->
                      </button>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="setColor('customPurple','nav-pills-purple')"><button type="button"
                        class="btn btn-info"></button></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="setColor('customGreen','nav-pills-green')"><button type="button"
                        class="btn btn-success"></button></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="setColor('customLavendar','nav-pills-lavendar')"><button type="button"
                        class="btn btn-c4"></button></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="setColor('customRed','nav-pills-red')"><button type="button"
                        class="btn btn-red"></button></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="setColor('customCyan','nav-pills-cyan')"><button type="button"
                        class="btn btn-cyan"></button></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="setColor('customOrange','nav-pills-orange')"><button type="button"
                        class="btn btn-orange"></button></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="setColor('customDark','nav-pills-dark')"><button type="button"
                        class="btn btn-dark"></button></a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- <div class="dropdown">
      <img class="download-apk" src="assets/downloadmobileapp.svg" (click)="downloadAPK()" aria-hidden="true" title="Download mobile app">
      
    </div> -->

    </div>
  </nav>

</header>

<!-- (mouseover)="myFunction()" (mouseout)="myFunctionHideMenu()" -->
<div id="mySidepanel" class="sidepanel" [ngClass]="changeColor">
  <div class="user-profile">

    <!-- User profile image -->
    <div class="profile-img">
      <img (click)="uploadFile(userPhoto)" [src]="empImageUrl"
        [ngClass]="{'image-cover' : menuOpenClose, 'small-image-cover': !menuOpenClose}" alt="user">
      <input hidden type="file" id="fileLoader" #userPhoto accept="image/*"
        (input)="handleFileInput($event.target.files)" name="files" title="Load File" />
      <div class="overlay" *ngIf="!menuOpenClose">
        <a class="icon" title="Change Profile Picture">
          <i class="fa fa-pencil" aria-hidden="true" (click)="uploadFile(userPhoto)" name="create"
            aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <!-- User profile text-->

    <div class="profile-text" *ngIf="!menuOpenClose">
      {{fullname}} {{lastName}} <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button"
        aria-haspopup="true" aria-expanded="true"></a><br>
      {{RoleNames}}
      <!-- <label *ngIf="hrMode" style="font-size:12px">{{rollmasterData.roleName}}</label><br> -->
      <div>
        <label style="font-size:12px">{{locationdata}}</label>
      </div>


      <!-- <label *ngIf="!hrMode && (loggedUser.sanctioningAuthority == false || loggedUser.sanctioningAuthority == true)" style="font-size:12px">User</label>
      <label *ngIf="!hrmode && loggedUser.sanctioningAuthority == true && loggedUser.leaveDashboard == true && loggedUser.attendanceReport == true && loggedUser.applyLeave == true" style="font-size:12px">Team Leader</label> -->
      <div class="dropdown-menu userdropdwnmenu animated flipInY">
        <a *ngIf="!adminLoginFlag" class="dropdown-item" (click)="Profile()"><i class="ti-user"></i> My Profile</a>
        <a *ngIf="!adminLoginFlag" data-toggle="modal" data-target="#mychangepassword" class="dropdown-item"><i
            class="ti-wallet"></i> Change
          Password</a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item" (click)='clearout()'><i class="fa fa-power-off"></i> Logout</a>
      </div>
    </div>
    <div class="form-group text-center" hidden>

      <label class="switch mt-2">
        <input type="checkbox" [(ngModel)]="model.status" name="status" (ngModelChange)="selectMode($event)"
          [disabled]="adminLoginFlag">
        <span class="slider round"></span>
      </label>
    </div>

  </div>

  <nav class="sidebar-nav active">
    <!-- User Mode Starts -->

    <ul id="sidebarnav" class="in">
      <li class="nav-devider"></li>
      <li
        *ngIf="rolename=='Admin'|| rolename=='Contractor'||rolename=='HOD'||rolename=='Supervisor'||rolename=='HR'||rolename=='User'">
        <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/home']" [routerLinkActive]="'active'"
          aria-expanded="false" style="padding: 6px;"><img src="assets/Dashboard.png" title="Analytic"
            style="height: 19px;"> &nbsp;<span *ngIf="!menuOpenClose" class="hide-menu">Analytic
          </span></a>
      </li>
      <li hidden> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/mymenu']"
          [routerLinkActive]="'active'" aria-expanded="false"><i class="mdi mdi-my" title="My"></i><span
            *ngIf="!menuOpenClose" class="hide-menu">My</span></a>

      </li>
      <li hidden> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/attendancemenu']"
          [routerLinkActive]="'active'" aria-expanded="false"><i class="mdi mdi-attendance" title="Attendance"></i><span
            *ngIf="!menuOpenClose" class="hide-menu">Attendance</span></a>
      </li>
      <li *ngIf="RoleNames=='HR'||RoleNames=='Admin'"> <a class="has-arrow waves-effect waves-dark"
          [routerLink]="['/layout/settingpage']" [routerLinkActive]="'active'" aria-expanded="false"
          style="padding: 6px;"><img src="assets/settings.png" title="Settings" style="height: 19px;"> &nbsp;<span
            *ngIf="!menuOpenClose" class="hide-menu">Settings</span></a>

      </li>


      <!-- <li *ngIf='(loggedUser.sanctioningAuthority)'> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/myteamattendancemenu']"
        [routerLinkActive]="'active'" aria-expanded="false"><i class="mdi mdi-attendance1"
          title="My Team Attendance"></i><span *ngIf="!menuOpenClose" class="hide-menu">My Team Attendance</span></a>

    </li> -->
      <!-- <li *ngIf='(loggedUser.sanctioningAuthority)'> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/canteenmodule']"
      [routerLinkActive]="'active'" aria-expanded="false"><i class="mdi mdi-attendance1"
        title="My Team Attendance"></i><span *ngIf="!menuOpenClose" class="hide-menu">My Team Attendance</span></a>

  </li> -->


      <!-- <li *ngIf="loggedUser.mrollMaster.pms && !hrMode"> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/pmsmenu']" [routerLinkActive]="'active'"
          aria-expanded="false"><i class="mdi mdi-pms" title="PMS"></i><span *ngIf="!menuOpenClose"
            class="hide-menu">PMS</span></a>
      </li> -->

      <li *ngIf="RoleNames=='Contractor'||RoleNames=='Supervisor'"> <a style="display: inline-flex !important;"
          class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/mainManpowerRequest']"
          [routerLinkActive]="'active'" style="padding: 6px;">
          <!-- mainManpowerRequest
          newregularisation -->
          <img src="assets/Approvals.png" title="Approvals" style="height: 19px;"> &nbsp;<span
            class="badge badge-pill badge-danger approvals-count">{{allApprovalRequest}}</span>

          <span *ngIf="!menuOpenClose" class="hide-menu">Approvals</span>


        </a>
      <li *ngIf="RoleNames=='HOD'"> <a style="display: inline-flex !important;"
          class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/HodApprovals']"
          [routerLinkActive]="'active'" style="padding: 6px;">
          <!-- mainManpowerRequest
          newregularisation -->
          <img src="assets/Approvals.png" title="Approvals" style="height: 19px;"> &nbsp;<span
            class="badge badge-pill badge-danger approvals-count">{{allApprovalRequest}}</span>

          <span *ngIf="!menuOpenClose" class="hide-menu">Approvals</span>


        </a>

      </li>
      <li *ngIf="RoleNames=='Medical'"> <a style="padding: 6px;" class="has-arrow waves-effect waves-dark"
          [routerLink]="['/layout/medicalLabourList']" [routerLinkActive]="'active'">
          <!-- mainManpowerRequest
        newregularisation -->
          <img src="assets/Approvals.png" title="Approvals" style="height: 19px;"> &nbsp;<span
            class="badge badge-pill badge-danger approvals-count">{{allApprovalRequest}}</span>

          <span *ngIf="!menuOpenClose" class="hide-menu">Approvals</span>


        </a>

      </li>
      <!-- <li *ngIf="RoleNames=='Front Desk'"> <a style="display: inline-flex !important;" class="has-arrow waves-effect waves-dark"
        [routerLink]="['/layout/frontdeskApproval']" [routerLinkActive]="'active'">
       
        <i class="mdi mdi-approvals" style="width: 17px !important;" title="Approvals"><span class="badge badge-pill badge-danger approvals-count">{{allApprovalRequest}}</span> </i>  
        <span *ngIf="!menuOpenClose" class="hide-menu">Approvals</span> 
      </a>
      
    </li> -->

      <li *ngIf="RoleNames=='HR'||RoleNames=='Admin'"> <a style="display: inline-flex !important;"
          class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/contractordataApprovals']"
          [routerLinkActive]="'active'" style="padding: 6px;">
          <!-- contractordataApprovals
        newregularisation -->

          <img src="assets/Approvals.png" title="Approvals" style="height: 19px;"> &nbsp;<span
            class="badge badge-pill badge-danger approvals-count">{{allApprovalRequest}}</span>

          <span *ngIf="!menuOpenClose" class="hide-menu">Approvals</span>


        </a>

      </li>
      <li hidden> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/company']"
          [routerLinkActive]="'active'" aria-expanded="false"><i class="mdi mdi-company" title="Organization"></i><span
            *ngIf="!menuOpenClose" class="hide-menu">Organization
          </span></a>

      </li>


      <!-- <li *ngIf='(loggedUser.sanctioningAuthoritFy || loggedUser.mrollMaster.extraworkRequest) && loggedUser.mrollMaster.roleName !="HR"'> <a class="has-arrow waves-effect waves-dark"
        [routerLink]="['/layout/extraworkreq']" [routerLinkActive]="'active'">
        <i class="mdi mdi-checkbox-blank-circle-outline" title="Extra Work Request"> </i>

        <span *ngIf="!menuOpenClose" class="hide-menu">Extra Work Request</span>
      </a>

    </li> -->


      <li *ngIf='resignAndLeaving && !hrMode'> <a class="has-arrow waves-effect waves-dark"
          [routerLink]="['/layout/exitinterview']" [routerLinkActive]="'active'"><i class="mdi mdi-money1"
            title="Exit Interview Questions"></i><span *ngIf="!menuOpenClose" class="hide-menu">Exit Interview Questions
          </span></a>

      </li>

      <!-- <li *ngIf="loggedUser.mrollMaster.exitEmployeedetail" class="list-inline-item text-center">
        <div class="menuicons" [routerLink]="['/layout/exitinterviewreport']" [routerLinkActive]="'active'">
          <img src="assets/newlayout/exit.svg">
          <span>Exit Employee Details</span>
        </div>
      </li> -->
      <!-- <li *ngIf='loggedUser.mrollMaster.socialWorld && !hrMode'> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/socialpage']"
          [routerLinkActive]="'active'"><i class="mdi mdi-social" title="Social World"></i><span *ngIf="!menuOpenClose"
            class="hide-menu">Social World </span></a>

      </li> -->

    </ul>

    <!-- User Mode End -->

    <!-- HR Mode Starts -->

    <ul id="sidebarnav" class="in">
      <li class="nav-devider" hidden></li>
      <li hidden> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/hrdashboard']"
          [routerLinkActive]="'active'" aria-expanded="false"><i class="mdi mdi-gauge" title="Dashboard"></i><span
            *ngIf="!menuOpenClose" class="hide-menu">Dashboard
          </span></a>
      </li>
      <li hidden> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/myteamattendancemenu']"
          [routerLinkActive]="'active'" aria-expanded="false"><i class="mdi mdi-attendance1"
            title="My Team Attendance"></i><span *ngIf="!menuOpenClose" class="hide-menu">My Team Attendance</span></a>

      </li>
      <!-- <li *ngIf='loggedUser.mrollMaster.pmsOther && hrMode'> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/pmsmenuadmin']"
          [routerLinkActive]="'active'" aria-expanded="false"><i class="mdi mdi-pms" title="PMS"></i><span
            *ngIf="!menuOpenClose" class="hide-menu">PMS</span></a>
      </li> -->
      <li hidden> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/settingpage']"
          [routerLinkActive]="'active'" aria-expanded="false"><i class="mdi mdi-settings" title="Settings"></i><span
            *ngIf="!menuOpenClose" class="hide-menu">Settings</span></a>

      </li>
      <li> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/workforcemenu']"
          [routerLinkActive]="'active'" aria-expanded="false" style="padding: 6px;"><img src="assets/Workforce.png"
            title="Workforce" style="height: 19px;"> &nbsp;<span *ngIf="!menuOpenClose"
            class="hide-menu">Workforce</span></a>

      </li>
      <li *ngIf="rolename=='Front Desk'"> <a class="has-arrow waves-effect waves-dark"
          [routerLink]="['/layout/frontdeskApproval']" [routerLinkActive]="'active'" aria-expanded="false"
          style="padding: 6px;"><img src="assets/document verification.png" title="document verification"
            style="height: 19px;"> &nbsp;<span *ngIf="!menuOpenClose" class="hide-menu">Document verification</span></a>

      </li>

      <li *ngIf="rolename=='Front Desk'"> <a class="has-arrow waves-effect waves-dark"
          [routerLink]="['/layout/frontdeskdocumenthistorylist']" [routerLinkActive]="'active'" aria-expanded="false"
          style="padding: 6px;"><img src="assets/document verified list.png" title="Document verified List"
            style="height: 19px;"> &nbsp;<span *ngIf="!menuOpenClose" class="hide-menu">Document verified
            List</span></a>

      </li>

      <li *ngIf="RoleNames=='HR'||RoleNames=='Admin'"> <a class="has-arrow waves-effect waves-dark"
          [routerLink]="['/layout/contractorOnBoarding']" [routerLinkActive]="'active'" aria-expanded="false"
          style="padding: 6px;">
          <img src="assets/contractor onboarding.png" title="Contractor Onboarding" style="height: 19px;"> &nbsp;<span
            *ngIf="!menuOpenClose" class="hide-menu">Contractor Onboarding</span></a>
            

      </li>
      <li *ngIf="manpowerrequestFlag==true"> <a class="has-arrow waves-effect waves-dark"
          [routerLink]="['/layout/deactivateemployee']" [routerLinkActive]="'active'" aria-expanded="false"
          style="padding: 6px;">
          <img src="assets/manpower request.png" title="Manpower Request" style="height: 19px;"> &nbsp;<span
            *ngIf="!menuOpenClose" class="hide-menu">Manpower Request </span></a>

      </li>
      <li *ngIf="rolename=='User'"> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/labourReport']"
          [routerLinkActive]="'active'" aria-expanded="false" style="padding: 6px;">
          <img src="assets/reports.png" title="Reports" style="height: 19px;"> &nbsp;<span *ngIf="!menuOpenClose"
            class="hide-menu">Reports </span></a>

      </li>
      <li *ngIf="rolename=='Admin'|| rolename=='Contractor'||rolename=='HOD'||rolename=='Supervisor'||rolename=='HR'">
        <a class="has-arrow waves-effect waves-dark" [routerLink]="['/layout/AllReports']" [routerLinkActive]="'active'"
          aria-expanded="false" style="padding: 6px;">
          <img src="assets/reports.png" title="Reports" style="height: 19px;"> &nbsp;<span *ngIf="!menuOpenClose"
            class="hide-menu">Reports </span></a>

      </li>
      <li *ngIf="rolename=='Supervisor'"> <a class="has-arrow waves-effect waves-dark"
          [routerLink]="['/layout/LabourList']" [routerLinkActive]="'active'" aria-expanded="false"
          style="padding: 6px;">
          <img src="assets/reports.png" title="Reports" style="height: 19px;"> &nbsp;<span *ngIf="!menuOpenClose"
            class="hide-menu">Labour List </span></a>

      </li>



      <li *ngIf="RoleNames=='Contractor'||RoleNames=='Supervisor'"> <a class="has-arrow waves-effect waves-dark"
          [routerLink]="['/layout/labourApproveRejectList']" [routerLinkActive]="'active'" aria-expanded="false"
          style="padding: 6px;"><img src="assets/assign labour status.png" title="assign labour status"
            style="height: 19px;"> &nbsp;<span *ngIf="!menuOpenClose" class="hide-menu">Assign Labour status </span></a>

      </li>

      <li *ngIf="RoleNames=='Safety'"> <a class="has-arrow waves-effect waves-dark"
          [routerLink]="['/layout/safetyapproval']" [routerLinkActive]="'active'" aria-expanded="false"
          style="padding: 6px;"><img src="assets/asset allocation.png" title="Assets Allocation" style="height: 19px;">
          &nbsp;<span *ngIf="!menuOpenClose" class="hide-menu">Assets Allocation </span></a>

      </li>
      <li *ngIf="RoleNames=='Safety'"> <a class="has-arrow waves-effect waves-dark"
          [routerLink]="['/layout/safetydoneList']" [routerLinkActive]="'active'" aria-expanded="false"
          style="padding: 6px;"><img src="assets/asset done list.png" title="Assets Done List" style="height: 19px;">
          &nbsp;<span *ngIf="!menuOpenClose" class="hide-menu">Assets Done List</span></a>

      </li>

      <!-- <li *ngIf='loggedUser.sanctioningAuthority || loggedUser.queryRole' > <a style="display: inline-flex !important;" class="has-arrow waves-effect waves-dark"
          [routerLink]="['/layout/newregularisation']" [routerLinkActive]="'active'" aria-expanded="false">
          <i class="mdi mdi-approvals" style="width: 17px !important;" title="Approvals"><span class="badge badge-pill badge-danger approvals-count">{{allApprovalRequest}}</span> </i>

          <span *ngIf="!menuOpenClose" class="hide-menu">Approvals</span> 
         <p class="appr-circle">{{allApprovalRequest}}</p> 
        </a>

      </li> -->


    </ul>
    <!-- HR Mode Ends -->
  </nav>
</div>

<div class="container-fluid" (click)="myFunctionHideMenu()">
  <div class="contentmain">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <router-outlet ></router-outlet> -->
<!--===================Directory  Modal starts======================= -->

<!-- The Modal -->
<div class="modal" id="myDirectoryModal2">
  <div class="modal-dialog">
    <div class="modal-content directorymodalbox">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Employee Directory</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="searchbar2">
          <input class="search_input_2" type="text" [(ngModel)]="searchText"
            (input)="getSearchSuggestionList(searchText)" autocomplete="off" placeholder="Search Employee...">
          <a class="search_icon_2"><i class="fa fa-search"></i></a>
        </div>
        <div class="chatsuggestion" *ngIf="empSearchSuggestionList.length">
          <div *ngFor="let item of empSearchSuggestionList" (click)="suggestThisEmployee(item)" class="suggestiontext">
            <div>
              {{item.empId}} - {{item.salutation}}.{{item.fullName}} {{item.lastName}}- {{item.deptName}}
            </div>
          </div>
        </div>

        <div class="dumydirectory" *ngIf="showImageFlag">
          <img src="assets/directorydumyimg.svg">
        </div>
        <div class="empSelected" *ngIf="!showImageFlag">

          <div class="user-profile-directory">
            <div class="profile-img">
              <img *ngIf="!employeeData.profilePath" src="{{AssetsPath}}/propic.jpg">
              <img *ngIf="employeeData.profilePath" [src]="employeeData.profilePath" alt="">
            </div>

            <div class="profile-text">
              <h5><strong>{{employeeData.salutation}}<span
                    *ngIf="employeeData.salutation">.</span>{{employeeData.fullName}}
                  {{employeeData.lastName}}</strong></h5>
              <h6>Dsgn : {{employeeData.descName}}</h6>
              <h6>Dept : {{employeeData.deptName}}</h6>
              <h6>EmpId : {{employeeData.empId}}</h6>
            </div>
            <div class="callmaildetails">
              <div class="text-center mb-2">
                <img src="/assets/callicon.svg">
                <h6>{{employeeData.officialContactNumber}}</h6>
              </div>
              <div class="text-center mb-2">
                <img src="/assets/mailicon.svg">
                <h6>{{employeeData.officialEmailId}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--===================Directory  Modal Ends======================= -->

<ngx-spinner bdOpacity=0 size="medium" color="#fff212" type="ball-grid-pulse" [fullScreen]="true">
  <div class="loderrlog">
    <h6>Believe us, its worth waiting...</h6>
    <!-- <a href="">
    <img src="assets/WJ_LOGO1.png" alt="Worksjoy Logo" border="0">
  </a> -->
  </div>
</ngx-spinner>

<!--reset password code here-->
<div class="modal" id="resetpassword">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">Reset Password</h4>
        <button type="button" class="close" data-dismiss="modal" (click)='resetform(f)'>&times;</button>
      </div>


      <div class="modal-body">

        <form name="form" (ngSubmit)="f.form.valid && Resetpassword()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="empname">Select Employee</label>


            <input type="text" class="form-control" name="guest" [(ngModel)]="empPerIds" list="options"
              (ngModelChange)="selectEmp($event)" autocomplete="off" required>

            <datalist id="options" *ngIf="Employeedata">
              <option *ngFor="let empdata of Employeedata; let i = index;"
                value="{{empdata.fullName}} {{empdata.lastName}}-{{empdata.empId}}"></option>
            </datalist>


          </div>
          <div class="form-group">
            <label for="password">Change Password</label>
            <div>
              <input type="text" [(ngModel)]="password" name="password" placeholder="change password"
                class="form-control">
            </div>

          </div>

          <div class="float-right">
            <div class="form-group">
              <button class="btn btn-primary btn-sm" (click)="Resetpassword()">Reset Passward</button>
            </div>
          </div>
        </form>


      </div>

    </div>

  </div>
</div>

<!-- Changepassword Modal Starts-->
<!-- <div class="modal" id="mychangepassword">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
       
        <div class="modal-header">
          <h4 class="modal-title">Change Password</h4>
          <button type="button" class="close" data-dismiss="modal" (click)='resetform(f)'>&times;</button>
        </div>

       
        <div class="modal-body">

          <div class="form-group">
            <label>Old Password</label>
            <input type="password" class="form-control form-control-sm" #oldPas='ngModel' autocomplete="off"
              (change)="onBlurMethod()" [(ngModel)]='changePass.passWord' name="Old" id='Old' required>
              <i class="fa fa-eye errspan" *ngIf="!eyeFlagc" aria-hidden="true"  (click)="seePasswordo()"></i>
              <i class="fa fa-eye-slash errspan" *ngIf="eyeFlagc" aria-hidden="true"  (click)="seePasswordo()"></i>
            <div class="help-block" *ngIf="oldPas.errors?.required && oldPas.touched"><span style="color: red">Old
                Password required</span></div>
            <div class="help-block" *ngIf="!flag && oldPas.touched"><span style="color: red">Incorrect Password
              </span></div>

          </div>
          <div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control form-control-sm" #newpass='ngModel' [(ngModel)]='PassWord'
              (change)='obj($event)' name="newpas" id='newpas'
              pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,15}$" required />
              <i class="fa fa-eye errspan" *ngIf="!eyeFlago" aria-hidden="true"  (click)="seePasswordc()"></i>
              <i class="fa fa-eye-slash errspan" *ngIf="eyeFlago" aria-hidden="true"  (click)="seePasswordc()"></i>

            <div class="help-block" *ngIf="newpass.errors?.pattern && newpass.touched"><span style="color: red">Minimum
                six characters Including at least one letter, one number and one special
                character</span></div>
            <div class="help-block" *ngIf="newpass.errors?.required && newpass.touched"><span
                style="color: red">Password
                required</span></div>

          </div>

          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control form-control-sm" #pas='ngModel' name="conpas"
              [(ngModel)]='changePass.pas' id="conpas" [pattern]=PassWord required />
              <i class="fa fa-eye errspan" *ngIf="!eyeFlagn" aria-hidden="true"  (click)="seePasswordn()"></i>
                <i class="fa fa-eye-slash errspan" *ngIf="eyeFlagn" aria-hidden="true"  (click)="seePasswordn()"></i>
                            
            <div class="help-block" *ngIf="pas.errors?.required && pas.touched"><span style="color: red"> confirm
                Password required</span></div>
            <div class="help-block" *ngIf="pas.errors?.pattern && pas.touched"><span style="color: red">Password
                Miss-match</span></div>

          </div>

          <div class="float-right">
            <div class="form-group">
              <button class="btn btn-primary btn-sm" [disabled]='f.invalid || !flag' >Change Passward</button>
            </div>
          </div>

        </div>
      </form>
    </div>

  </div>
</div> -->


<!--reset password code here -->



<!-- Changepassword Modal Ends-->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#passChange">
 
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="passChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Do you want to change passward</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <form #userchangePass="ngForm">
         
          <div class="row container" style="justify-content: center;">
            <div class="col-md-12">
             
              <div class="form-group row " >
                <div class="col-sm-4">

                  <label>UserName <span  style="color: red"> *</span></label>
                  <input type="text" class="form-control form-control-sm" maxlength="50" id="emailId"
                    name="userName" [(ngModel)]="userName"
                    required #usernames="ngModel" disabled/>
                  <div class="help-block" *ngIf="usernames.errors?.pattern && usernames.touched"> <small
                      style="color: red">username is required</small> </div>

                </div>
                <div class="col-sm-4">
                  <label for="passwards">Passward <span 
                      style="color: red"> *</span></label>
                  <input type="text" class="form-control form-control-sm" id="password"
                    name="password" [(ngModel)]="password" #passwards="ngModel" required>
                    <div class="help-block" *ngIf="passwards.errors?.pattern && passwards.touched"> <small
                      style="color: red">passward is required</small> </div>

                </div>
             
              </div>
           
              
            </div>
          </div>

          <div class="form-group row" style="padding-left: 10px;">
          <button class="btn btn-primary" (click)="changePassward()">submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
<div *ngIf='userFlag ==false'>
  <div class="modal1">
    <div class="modal-dialog gradient-border">
      <div class="modal-content">


        <div class="modal-header">
          <h4 class="modal-title"><img src="" width="40">Change Passward</h4>
          <!-- <button type="button"(click)="saveSitePopup()">X</button> -->
          <!-- <i class="fa fa-times-circle" (click)="saveSitePopup()" aria-hidden="true"></i> -->
          <i class="fa fa-times-circle" (click)="callOnce()" aria-hidden="true"></i>

        </div>


        <div class="modal-body">
          <div class="details">
            <div class="row container" style="margin: auto;" style="justify-content: center;">

              <div class="col-sm-12">
                <form>

<div>
  <div class="col-sm-12">
                  <label>Username <span style="color: red"> *</span></label>
                  <input type="text" id="userName" name="userName" [(ngModel)]="userName" #username="ngModel"
                    required class="form-control sm" />
                  <div *ngIf="username.invalid && (username.dirty || username.touched)">
                    <div *ngIf="username.errors?.required" style="color: red;">Username is required.</div>
                    
                  </div>
                  </div>
              </div>

              <div class="col-sm-12">
                <label>Old Password <span style="color: red"> *</span></label>
                <input type="{{ showPassword ? 'text' : 'password' }}" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" #oldPasswords="ngModel"
                  required minlength="6" class="form-control" />
                  <div class="input-group-append" style="justify-content: end;
                  position: relative;
                  top: -25px;
                  right: 14px;">
                   
                      <i class="{{ showPassword ? 'fas fa-eye-slash' : 'fas fa-eye' }}"  (click)="togglePasswordVisibility()"></i>
                  
                  </div>
                <div *ngIf="oldPasswords.invalid && (oldPasswords.dirty || oldPasswords.touched)">
                  <div *ngIf="oldPasswords.errors?.required" style="color: red;">old Password is required.</div>
                  
                 
                </div>
                <div *ngIf="errflag3==false" style="color: red;">old Password is wrong.</div>
              </div>

              <div class="col-sm-12">
                <label>New Password <span style="color: red"> *</span></label>
                <input type="{{ showPassword1 ? 'text' : 'password' }}" id="password" name="password" [(ngModel)]="password" #passwords="ngModel"
                  required minlength="6" class="form-control" (click)="checkPassward()"/>
                  <div class="input-group-append" style="justify-content: end;
                  position: relative;
                  top: -25px;
                  right: 14px;">
                   
                      <i class="{{ showPassword1 ? 'fas fa-eye-slash' : 'fas fa-eye' }}"  (click)="togglePasswordVisibility1()"></i>
                  
                  </div>
                <div *ngIf="passwords.invalid && (passwords.dirty || passwords.touched)">
                  <div *ngIf="passwords.errors?.required" style="color: red;">new Password is required.</div>
                </div>
              </div>


              <button [disabled]="!userName||!oldPassword||!password||!errflag3==true"  class="btn btn-primary" (click)="changePassward()">Submit</button>
              </form>
            </div>

            <div class="col-md-12">
              <div class="listbg">
                <!-- <span class="mp">{{gratuityMsg}}</span><br>
                  <span><b>Joining Date :{{joiningYear | date:'dd-MMM-yyyy'}}</b></span><br>
                  <span><b>Eligibility Start Date : {{GradutyYear | date:'dd-MMM-yyyy'}}</b></span> -->


              </div>
            </div>


            <div class="col-md-12">
              <div class="listbg">
                <!-- <span class="mp">You were Absent for last 3 days</span><br> -->
                <!-- <span>16-2-2019</span> -->
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div *ngIf='contractorAcceptFlag ==false'>
  <div class="modal1">
    <div class="modal-dialog gradient-border">
      <div class="modal-content">


        <div class="modal-header">
          <h4 class="modal-title"><img src="" width="40">Here Is Accept</h4>
          <!-- <button type="button"(click)="saveSitePopup()">X</button> -->
          <!-- <i class="fa fa-times-circle" (click)="saveSitePopup()" aria-hidden="true"></i> -->
          <i class="fa fa-times-circle" (click)="calltwo()" aria-hidden="true"></i>

        </div>


        <div class="modal-body">
          <div class="details">
            <div class="row container" style="margin: auto;" style="justify-content: center;">

              <div class="col-sm-12">
           
            </div>

            <div class="col-md-12">
              <div class="listbg">
                <!-- <span class="mp">{{gratuityMsg}}</span><br>
                  <span><b>Joining Date :{{joiningYear | date:'dd-MMM-yyyy'}}</b></span><br>
                  <span><b>Eligibility Start Date : {{GradutyYear | date:'dd-MMM-yyyy'}}</b></span> -->


              </div>
            </div>


            <div class="col-md-12">
              <div class="listbg">
                <!-- <span class="mp">You were Absent for last 3 days</span><br> -->
                <!-- <span>16-2-2019</span> -->
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<audio id="audioID">
  <source src="../assets/definite.mp3" type="audio/mp3">
  <source src="../assets/definite.ogg" type="audio/ogg">
</audio>