<div class="container-fluid">
  <div class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Employee Information Report</strong> &nbsp;
        </h6>
      </div>
    </div>

    <div class="row">
      <!-- <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Abbreviation:-</strong></span>WD : Working Day, WO : Weekly Off, HO : Holiday,<span></span> WOH : Week Off And Holiday</h6>
        </div>
      </div> -->

      <!-- <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Employee Information Report From Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}<span class="blu"><strong> To:</strong></span> {{toDate | date:"dd MMM yyyy"}}</h6>
        </div>
      </div> -->

      <div class="col-md-10" id="content">
        <table   id="emp_info" class="table table-space table-borderless">
          <thead>
            <tr style="text-align: center !important;">
              <th colspan="21">{{compName}}</th>
            </tr>
            <tr style="text-align: center !important;">
              <th colspan="21">Employee Information Report</th>
            </tr>
            <tr>
              <th colspan="21">Report Date: {{report_time}}</th>
            </tr>
            <tr class="table-secondary">
              <th>Sr.No</th>
              <th *ngIf="marked2">EmpId</th>
              <th *ngIf="marked3">BiometricID</th>
      
              <th *ngIf="marked4">EmployeeName</th>
             
              <th *ngIf="marked5">Gender</th>
              <th *ngIf="marked6">DateOfBirth</th>
              <!-- <th *ngIf="marked7">Nationality</th> -->
              <th *ngIf="marked21">OfficialEmailID</th>
              <th *ngIf="marked9514">Contractor Firm Name</th>
              <th *ngIf="marked8">PAN Number</th>
              <th *ngIf="marked28">ESIC/WC/Medical Policy Number</th>
              <th *ngIf="marked29">PF Number </th>
              <th *ngIf="marked9">AdharCardNo</th>
              <th *ngIf="marked10">UANNumber</th>
              <th *ngIf="marked11">Location</th>
              <th *ngIf="marked12">EmployeeRole</th>
              <th *ngIf="marked13">Department</th>
              <!-- <th *ngIf="marked14">SubDepartment</th> -->
              <th *ngIf="marked15">Designation</th>
              <th *ngIf="marked16">EmployeeType</th>
              <!-- <th *ngIf="marked17">SubEmployeeType</th> -->
              <th *ngIf="marked18">ShiftType</th>
              <th *ngIf="marked19">DateofJoining</th>
              

              <!-- <th *ngIf="marked20">PersonalEmailID</th> -->
             
              <!-- <th *ngIf="marked22">ContractorName</th>
              <th *ngIf="marked23">ContractorServiceName</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of AllReport; let i = index">
                  <td>{{i+1}}</td>
                  <td *ngIf="marked2" class="text-right">{{item.empId}}</td>
                  <td *ngIf="marked3" class="text-right">{{item.bioId}}</td>

                  <td *ngIf="marked4" class="text-left">
                    <div *ngIf="item.middleName != null">
                      {{(item.fullName+" "+item.middleName+ " "+item.lastName)|titlecase}}
                    </div>
                    <div *ngIf="item.middleName == null">
                      {{(item.fullName+" "+item.lastName)|titlecase}}
                    </div>
                  </td>
                
                  <td *ngIf="marked5"  class="text-left" >{{item.gender}}</td>
                  <td *ngIf="marked6">{{item.dateOfBirth| date: 'dd/MM/yyyy'}}</td>
                  <!-- <td *ngIf="marked7"  class="text-left">{{item.nationality }}</td> -->
                  <td *ngIf="marked21"  class="text-left">{{item.officialEmailId}}</td>
                  <td *ngIf="marked9514" class="text-left">{{item.conFirmName}}</td>
                  <td *ngIf="marked8"  class="text-left">{{item.panNo}}</td>
                  <td *ngIf="marked28"  class="text-left">{{item.esicNumber}}</td>
                  <td *ngIf="marked29"  class="text-left">{{item.pfNumber}}</td>

                  <td *ngIf="marked9"  class="text-left">{{item.adharNo}}</td>
                  <td *ngIf="marked10"  class="text-left">{{item.universalAccNo}}</td>
                  <td *ngIf="marked11"  class="text-left">{{item.locationName}}</td>
                  <td *ngIf="marked12"  class="text-left">{{item.roleName}}</td>
                  <td *ngIf="marked13"  class="text-left">{{item.deptName}}</td>

                  <!-- <td *ngIf="marked14"  class="text-left">{{item.subDeptName}}</td> -->
                  <td *ngIf="marked15"  class="text-left">{{item.descName}}</td>
                  <td *ngIf="marked16"  class="text-left">{{item.employmentType}}</td>
                  <!-- <td *ngIf="marked17"  class="text-left">{{item.subEmploymentType}}</td> -->

                  <td *ngIf="marked18"  class="text-left">{{item.shiftType}}</td>
                  <ng-container *ngIf="item.empJoiningDetails != null">
                  <td *ngIf="marked19">{{item.empJoiningDetails.dateOfJoining | date: 'dd/MM/yyyy'}}</td>
                  </ng-container>
                  <!-- <td *ngIf="marked20">{{item.epersonalEmailId}}</td> -->
                 
                  <!-- <td *ngIf="marked22">{{item.conName}}</td>

                  <td *ngIf="marked23">{{item.conSerZTypeName}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-2">
        <div class="columnshead">
          <h6>Select Columns:</h6>

          <label class="container">
            <input type="checkbox" [(ngModel)]="empIdcheckbox" data-md-icheck (change)="toggleVisibility2($event)" />
            EmpId
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]=" biometricIDCheckbox" data-md-icheck (change)="toggleVisibility3($event)" />
            BiometricID
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="employeeNameCheckbox" data-md-icheck (change)="toggleVisibility4($event)" />
            EmployeeName
            <span class="checkmark"></span>
          </label>
        
          <label class="container">
            <input type="checkbox" [(ngModel)]="genderCheckbox" data-md-icheck (change)="toggleVisibility5($event)" />
            Gender
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="dateOfBirthCheckbox" data-md-icheck (change)="toggleVisibility6($event)" />
            DateOfBirth
            <span class="checkmark"></span>
          </label>

          <!-- <label class="container">
            <input type="checkbox" [(ngModel)]="nationalityCheckbox" data-md-icheck (change)="toggleVisibility7($event)" />
            Nationality
            <span class="checkmark"></span>
          </label> -->

          <label class="container">
            <input type="checkbox" [(ngModel)]="officialEmailIDCheckbox" data-md-icheck (change)="toggleVisibility21($event)" />
            OfficialEmailID
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="employeeContractNameCheckbox" data-md-icheck (change)="toggleVisibility35($event)"/>
            Contract Firm name
            <span class="checkmark"></span>
          </label>

          <label class="container">
              <input type="checkbox" [(ngModel)]="pANNumberChecckbox" data-md-icheck (change)="toggleVisibility8($event)" />
              PANNumber
              <span class="checkmark"></span>
          </label>
         
          <label class="container">
            <input type="checkbox" [(ngModel)]="adharCardNoCheckbox" data-md-icheck (change)="toggleVisibility9($event)" />
            AdharCardNo
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="ESICNoCheckbox" data-md-icheck (change)="toggleVisibility28($event)" />
            ESICNo
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="PFNoCheckbox" data-md-icheck (change)="toggleVisibility29($event)" />
            PFNo
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="uANNumberCheckbox" data-md-icheck (change)="toggleVisibility10($event)" />
            UANNumber
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="locationCheckbox" data-md-icheck (change)="toggleVisibility11($event)" />
            Location
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="employeeRoleCheckbox" data-md-icheck (change)="toggleVisibility12($event)" />
            EmployeeRole
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="departmentNameChecckbox" data-md-icheck (change)="toggleVisibility13($event)" />
            DepartmentName
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="subDepartmentNameCheckbox" data-md-icheck (change)="toggleVisibility14($event)" />
            SubDepartmentName
            <span class="checkmark"></span>
          </label>

       
          <label class="container">
              <input type="checkbox" [(ngModel)]="designationCheckbox" data-md-icheck (change)="toggleVisibility15($event)" />
              Designation
              <span class="checkmark"></span>
          </label>
         
          <label class="container">
            <input type="checkbox" [(ngModel)]="employeeTypeCheckbox" data-md-icheck (change)="toggleVisibility16($event)" />
            EmployeeType
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="subEmployeeTypeChecckbox" data-md-icheck (change)="toggleVisibility17($event)" />
            SubEmployeeType
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="shiftTypeCheckbox" data-md-icheck (change)="toggleVisibility18($event)" />
            ShiftType
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="dateofJoiningCheckbox" data-md-icheck (change)="toggleVisibility19($event)" />
            DateofJoining
            <span class="checkmark"></span>
          </label>

          <!-- <label class="container">
            <input type="checkbox" [(ngModel)]="personalEmailIDCheckbox" data-md-icheck (change)="toggleVisibility20($event)" />
              PersonalEmailID
            <span class="checkmark"></span>
          </label> -->

        
          <!-- <label class="container">
            <input type="checkbox" [(ngModel)]="contractorNameCheckbox" data-md-icheck (change)="toggleVisibility22($event)" />
            ContractorName
            <span class="checkmark"></span>
          </label>

          <label class="container">
              <input type="checkbox" [(ngModel)]="contractorServiceNameCheckbox" data-md-icheck (change)="toggleVisibility23($event)" />
              ContractorServiceName
              <span class="checkmark"></span>
          </label> -->
          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX('emp_info')"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>
