<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12" style="margin-left: -13px;">
        <div class="col-lg-12 download-image">


        </div>
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-list-alt bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>{{firstName}} {{lastName}} <div class="page-title-subheading">Firm Name: {{conCompanyName}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">

        <div class="flex flex-column mb-5 mt-4 faq-section">
          <div class="row">
            <div class="col-md-12" style="background-color: white">
              <div id="accordion">
                <div class="card">
                  <div class="card-header bgColors" id="heading-1">
                    <h5 class="mb-0">
                      <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false"
                        aria-controls="collapse-1">
                        Personal Details
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1"
                    style="margin: auto;">
                    <div class="card-body">
                      <form #contractordetailsform="ngForm">
                        <div class="row container">
                          <div class="col-md-10">
                            <div class="form-group row centerfield">


                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Contractor Employee ID<span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="empId" name="empId"
                                  [(ngModel)]="empId" #labourIds="ngModel" required>
                                <div *ngIf="labourIds.invalid && (labourIds.dirty || labourIds.touched)">
                                  <div *ngIf="labourIds.errors.required"><small style="color: red;"> Company is
                                      Required</small></div>
                                </div>
                              </div>

                            </div>
                            <div class="form-group row centerfield">

                              <div class="col-sm-3">
                                <label for="colFormLabelSm">First Name <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="firstName" name="firstName"
                                  [(ngModel)]="firstName" #firstNames="ngModel" required disabled>
                                <div *ngIf="firstNames.invalid && (firstNames.dirty || firstNames.touched)">
                                  <div *ngIf="firstNames.errors.required"><small style="color:red;">First Name is
                                      Required</small></div>
                                </div>
                              </div>

                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Middle Name <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="middleName"
                                  name="middleName" [(ngModel)]="middleName" #middleNames="ngModel" required disabled>
                                <div *ngIf="middleNames.invalid && (middleNames.dirty || middleNames.touched)">
                                  <div *ngIf="middleNames.errors.required"><small style="color:red;"> middleName is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Last Name <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="lastName" name="lastName"
                                  [(ngModel)]="lastName" #lastNames="ngModel" required disabled>
                                <div *ngIf="lastNames.invalid && (lastNames.dirty || lastNames.touched)">
                                  <div *ngIf="lastNames.errors.required"><small style="color:red;"> lastNames is
                                      Required</small></div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row centerfield">
                              <div class="col-sm-5">

                                <label> Date Of Birth <span style="color: red"> *</span></label>
                                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth"
                                  [(ngModel)]="dateOfBirth" #dateOfBirths="ngModel" required (change)="calculateAge()"
                                  disabled>
                                <div *ngIf="dateOfBirths.invalid && (dateOfBirths.dirty || dateOfBirths.touched)">
                                  <div *ngIf="dateOfBirths.errors.required"><small style="color:red;"> dateOfBirth is
                                      Required</small></div>
                                </div>
                                <!-- <p>{{currentAge}}</p> -->
                              </div>
                              <div class="col-sm-5">

                                <label for="colFormLabelSm">Gender <span style="color: red">
                                    *</span></label>

                                <div class="form-inline">
                                  <div class="form-group">

                                    <input type="radio" class="form-control form-control-sm" name="gender"
                                      [(ngModel)]="gender" value="Male" required disabled>
                                    <label for="pwd"> Male</label>
                                  </div>
                                  <div class="form-group">

                                    <input type="radio" class="form-control form-control-sm" value="Female"
                                      name="gender" [(ngModel)]="gender" required disabled>
                                    <label for="pwd"> Female</label>
                                  </div>
                                  <div class="form-group">

                                    <input type="radio" class="form-control form-control-sm" value="Other" name="gender"
                                      [(ngModel)]="gender" required disabled>
                                    <label for="pwd"> Other</label>
                                  </div>
                                </div>
                              </div>


                            </div>

                          </div>
                          <div class="col-2" style="margin-top: 14px;text-align: -webkit-center;">
                            <div>
                              <label class="filelabel">
                                <i class="fa fa-chart-area">
                                </i>
                                <span class="title">
                                  <span>Employee Image</span>

                                </span>
                                <input class="FileUpload1" id="FileInput" name="booking_attachment" type="file"
                                  (change)="handleFileInput($event.target.files)" disabled />
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row container">
                          <div class="col-md-12">
                            <div class="form-group row centerfield">
                              <div class="col-sm-4">

                                <label for="colFormLabelSm">Blood Group <span style="color: red">
                                    *</span></label>
                                <!-- <select class="form-control form-control-sm" id="bloodGroup" name="bloodGroup" required -->
                                <input class="form-control form-control-sm" id="bloodGroup" name="bloodGroup" required
                                  [(ngModel)]="bloodGroup" #bloodGroups="ngModel" placeholder="col-form-label-sm"
                                  disabled>

                                <div *ngIf="bloodGroups.invalid && (bloodGroups.dirty || bloodGroups.touched)">
                                  <div *ngIf="bloodGroups.errors.required"><small style="color: red;"> bloodGroup is
                                      Required </small></div>

                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Contact Number<span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="contactNumber"
                                  name="contactNumber" [(ngModel)]="contactNumber" #contactNumbers="ngModel" required
                                  disabled>
                                <div *ngIf="contactNumbers.invalid && (contactNumbers.dirty || contactNumbers.touched)">
                                  <div *ngIf="emergencyContactNumbers.errors.required"><small style="color:red;">
                                      contactNumbers is Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Emergency Contact Number<span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="emergencyContactNo"
                                  name="emergencyContactNo" [(ngModel)]="emergencyContactNo"
                                  #emergencyContactNos="ngModel" required disabled>
                                <div
                                  *ngIf="emergencyContactNos.invalid && (emergencyContactNos.dirty || emergencyContactNos.touched)">
                                  <div *ngIf="emergencyContactNos.errors.required"><small style="color:red;">
                                      emergencyContactNo is Required</small></div>
                                </div>
                              </div>

                            </div>
                            <div class="form-group row ">
                              <div class="col-sm-4">

                                <label> Email Id <span style="color: red"> *</span></label>
                                <input type="text" class="form-control form-control-sm" maxlength="50" id="emailId"
                                  name="emailId" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="emailId"
                                  required #email_ids="ngModel" disabled />
                                <div class="help-block" *ngIf="email_ids.errors?.pattern && email_ids.touched"> <small
                                    style="color: red">please
                                    enter valid Email</small> </div>

                              </div>
                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Temporary Address <span style="color: red"> *</span></label>
                                <input type="text" class="form-control form-control-sm" id="tempAddress"
                                  name="tempAddress" [(ngModel)]="tempAddress" #tempAddresss="ngModel" required
                                  disabled>
                                <div *ngIf="tempAddresss.invalid && (tempAddresss.dirty || tempAddresss.touched)">
                                  <div *ngIf="tempAddresss.errors.required"><small style="color:red;"> tempAddres is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Permanent Address <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="permanentAddress"
                                  name="permanentAddress" [(ngModel)]="permanentAddress" #permanentAddresss="ngModel"
                                  required disabled>
                                <div
                                  *ngIf="permanentAddresss.invalid && (permanentAddresss.dirty || permanentAddresss.touched)">
                                  <div *ngIf="permanentAddresss.errors.required"><small style="color:red;">
                                      permanent Address is Required</small></div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4">

                                <label for="colFormLabelSm">Marital Status <span style="color: red">
                                    *</span></label>
                                <select class="form-control form-control-sm" id="maritalStatus" name="maritalStatus"
                                  required [(ngModel)]="maritalStatus" #maritalStatuss="ngModel"
                                  placeholder="col-form-label-sm" disabled>
                                  <option [ngValue]=null selected disabled>Select</option>
                                  <option>Married</option>
                                  <option>UnMarried</option>

                                </select>
                                <div *ngIf="maritalStatuss.invalid && (maritalStatuss.dirty || maritalStatuss.touched)">
                                  <div *ngIf="maritalStatuss.errors.required"><small style="color: red;"> marital Status
                                      is Required </small></div>

                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Adhaar Card No <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="aadharNo" name="aadharNo"
                                  [(ngModel)]="aadharNo" #aadharNos="ngModel" required disabled>
                                <div *ngIf="aadharNos.invalid && (aadharNos.dirty || aadharNos.touched)">
                                  <div *ngIf="aadharNos.errors.required"><small style="color:red;"> Aadhaar No is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Pan Card No </label>
                                <input type="text" class="form-control form-control-sm" id="panNumber" name="panNumber"
                                  [(ngModel)]="panNumber" #panNumbers="ngModel" required disabled>
                                <div *ngIf="panNumbers.invalid && (panNumbers.dirty || panNumbers.touched)">
                                  <div *ngIf="panNumbers.errors.required"><small style="color:red;"> pan Number is
                                      Required</small></div>
                                </div>
                              </div>

                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Election Card No </label>
                                <input type="text" class="form-control form-control-sm" id="voterCardNo"
                                  name="voterCardNo" [(ngModel)]="voterCardNo" #voterCardNos="ngModel" required
                                  disabled>
                                <div *ngIf="voterCardNos.invalid && (voterCardNos.dirty || voterCardNos.touched)">
                                  <div *ngIf="voterCardNos.errors.required"><small style="color:red;"> pan Number is
                                      Required</small></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row" style="padding-left: 10px;">
                          <button class="btn btn-primary" id="toggleButton" data-toggle="collapse" href="#collapse-2"
                            aria-expanded="false" aria-controls="collapse-2"
                            [disabled]="contractordetailsform.invalid">Next</button>
                          &nbsp;&nbsp;
                          <button class="btn btn-primary">Reset</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header bgColors" id="heading-2">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false"
                        aria-controls="collapse-2">
                        Official Details
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                    <div class="card-body">
                      <form #contractordetailsform1="ngForm">
                        <div class="row container" style="margin: auto;">
                          <div class="col-md-12">
                            <div class="form-group row centerfield">

                              <div class="form-group row container centercontent">
                                <div class="col-sm-3">

                                  <label for="colFormLabelSm">Contractor Name <span style="color: red"> *</span></label>
                                  <input type="text" class="form-control form-control-sm" id="employeeFullName"
                                    name="employeeFullName" required [(ngModel)]="employeeFullName" disabled
                                    #employeeFullNames="ngModel">

                                  <div
                                    *ngIf="employeeFullNames.invalid && (employeeFullNames.dirty || employeeFullNames.touched)">
                                    <div *ngIf="employeeFullNames.errors.required"><small style="color: red;">
                                        Contractor Name is Required </small></div>

                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <label>Designation <span style="color: red">
                                      *</span></label>
                                  <input class="form-control form-control-sm" id="desigId" name="desigId"
                                    [(ngModel)]="desigName" #desig_ids="ngModel" required selected disabled>
                                  <!-- <option *ngFor="let item of DesignationList" value="{{item.desigId}}"> -->


                                  <div *ngIf="desig_ids.invalid && (desig_ids.dirty || desig_ids.touched)">
                                    <div *ngIf="desig_ids.errors.required"><small style="color:red;"> Designation is
                                        Required</small></div>
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <label for="colFormLabelSm"> Skill Set <span style="color: red">
                                      *</span></label>
                                  <input type="text" class="form-control form-control-sm" id="workSkill"
                                    name="workSkill" [(ngModel)]="workSkill" #work_skills="ngModel" required>
                                  <div *ngIf="work_skills.invalid && (work_skills.dirty || work_skills.touched)">
                                    <div *ngIf="work_skills.errors.required"><small style="color:red;"> Work Skill is
                                        Required</small></div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row container centercontent">
                                <div class="col-sm-3">

                                  <label>Department <span style="color: red">
                                      *</span></label>
                                  <select class="form-control form-control-sm" id="deptId" name="deptId" required
                                    [(ngModel)]="deptId" #dept_ids="ngModel" placeholder="col-form-label-sm">
                                    <option [ngValue]=null selected disabled>Select</option>
                                    <option *ngFor="let item of getallDepartment" value="{{item.deptId}}">
                                      {{item.departmentName}}</option>


                                  </select>
                                  <div *ngIf="dept_ids.invalid && (dept_ids.dirty || dept_ids.touched)">
                                    <div *ngIf="dept_ids.errors.required"><small style="color: red;"> Department is
                                        Required </small></div>

                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <label for="colFormLabelSm">Contract Start Date<span style="color: red">
                                      *</span></label>
                                  <input type="date" class="form-control form-control-sm" id="contractStartDate"
                                    name="contractStartDate" [(ngModel)]="contractStartDate" #cont_start_dates="ngModel"
                                    required>
                                  <div
                                    *ngIf="cont_start_dates.invalid && (cont_start_dates.dirty || cont_start_dates.touched)">
                                    <div *ngIf="cont_start_dates.errors.required"><small style="color:red;"> contract
                                        startDate is Required</small></div>
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <label for="colFormLabelSm">Contract End Date<span style="color: red">
                                      *</span></label>
                                  <input type="date" class="form-control form-control-sm" id="contractEndDate"
                                    name="contractEndDate" [(ngModel)]="contractEndDate" #cont_end_dates="ngModel"
                                    required>
                                  <div
                                    *ngIf="cont_end_dates.invalid && (cont_end_dates.dirty || cont_end_dates.touched)">
                                    <div *ngIf="cont_end_dates.errors.required"><small style="color:red;"> Type Of
                                        Company is Required</small></div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row container centercontent">
                                <div class="col-sm-3">

                                  <label for="colFormLabelSm">Location <span style="color: red">
                                      *</span></label>
                                  <select class="form-control form-control-sm" id="locationId" name="locationId"
                                    required [(ngModel)]="locationId" #location_ids="ngModel"
                                    placeholder="col-form-label-sm">
                                    <option [ngValue]=null selected disabled>Select</option>
                                    <option *ngFor="let item of allLocations" value="{{item.locationId}}">
                                      {{item.locationName}}</option>


                                  </select>
                                  <div *ngIf="location_ids.invalid && (location_ids.dirty || location_ids.touched)">
                                    <div *ngIf="location_ids.errors.required"><small style="color: red;"> Branch is
                                        Required </small></div>

                                  </div>
                                </div>
                                <div class="col-sm-3">

                                  <label for="colFormLabelSm">Supervisor <span style="color: red">
                                      *</span></label>
                                  <select class="form-control form-control-sm" id="maritalStatus" name="maritalStatus"
                                    required [(ngModel)]="maritalStatus" #maritalStatuss="ngModel"
                                    placeholder="col-form-label-sm">
                                    <option [ngValue]=null selected disabled>Select</option>
                                    <option>A</option>
                                    <option>B</option>

                                  </select>
                                  <div
                                    *ngIf="maritalStatuss.invalid && (maritalStatuss.dirty || maritalStatuss.touched)">
                                    <div *ngIf="maritalStatuss.errors.required"><small style="color: red;">
                                        marital Status is Required </small></div>

                                  </div>
                                </div>
                                <div class="col-sm-3">

                                  <label for="colFormLabelSm">Reporting Manager <span style="color: red">
                                      *</span></label>
                                  <select class="form-control form-control-sm" id="reportingManager"
                                    name="reportingManager" required [(ngModel)]="reportingManager"
                                    #reporting_managers="ngModel" placeholder="col-form-label-sm">
                                    <option [ngValue]=null selected disabled>Select</option>
                                    <option>A</option>
                                    <option>B</option>

                                  </select>
                                  <div
                                    *ngIf="reporting_managers.invalid && (reporting_managers.dirty || reporting_managers.touched)">
                                    <div *ngIf="reporting_managers.errors.required"><small style="color: red;">
                                        Reporting Manager is Required </small></div>

                                  </div>
                                </div>
                              </div>
                              <div class="form-group row container centercontent">
                                <div class="col-sm-3" hidden>

                                  <label for="colFormLabelSm">Grade <span style="color: red">
                                      *</span></label>
                                  <select class="form-control form-control-sm" id="maritalStatus" name="maritalStatus"
                                    required [(ngModel)]="maritalStatus" #maritalStatuss="ngModel"
                                    placeholder="col-form-label-sm">
                                    <option [ngValue]=null selected disabled>Select</option>
                                    <option>A</option>
                                    <option>B</option>

                                  </select>
                                  <div
                                    *ngIf="maritalStatuss.invalid && (maritalStatuss.dirty || maritalStatuss.touched)">
                                    <div *ngIf="maritalStatuss.errors.required"><small style="color: red;">
                                        marital Status is Required </small></div>

                                  </div>
                                </div>
                                <div class="col-sm-3" hidden>

                                  <label for="colFormLabelSm">Cost Center<span style="color: red">
                                      *</span></label>
                                  <select class="form-control form-control-sm" id="maritalStatus" name="maritalStatus"
                                    required [(ngModel)]="maritalStatus" #maritalStatuss="ngModel"
                                    placeholder="col-form-label-sm">
                                    <option [ngValue]=null selected disabled>Select</option>
                                    <option>A</option>
                                    <option>B</option>

                                  </select>
                                  <div
                                    *ngIf="maritalStatuss.invalid && (maritalStatuss.dirty || maritalStatuss.touched)">
                                    <div *ngIf="maritalStatuss.errors.required"><small style="color: red;">
                                        marital Status is Required </small></div>

                                  </div>
                                </div>

                                <!-- <div class="col-sm-3">

                                  <label for="colFormLabelSm">Payment Mode <span style="color: red">
                                      *</span></label>
                                  <select class="form-control form-control-sm" id="paymentMode" name="paymentMode"
                                    required [(ngModel)]="paymentMode" #payment_modes="ngModel"
                                    placeholder="col-form-label-sm">
                                    <option [ngValue]=null selected disabled>Select</option>
                                    <option>A</option>
                                    <option>B</option>

                                  </select>
                                  <div *ngIf="payment_modes.invalid && (payment_modes.dirty || payment_modes.touched)">
                                    <div *ngIf="payment_modes.errors.required"><small style="color: red;"> Payment Mode
                                        is Require </small></div>

                                  </div>
                                </div> -->
                                <!-- <div class="col-md-3">
                                  <label for="colFormLabelSm">Bus Transport <span style="color: red">
                                      *</span></label>

                                  <div class="form-inline">
                                    <div class="form-group">

                                      <input type="radio" selected name="busTransport" [(ngModel)]="busTransport"
                                        value="true">
                                      <label for="pwd"> Yes</label>
                                    </div>
                                    <div class="form-group">

                                      <input type="radio" name="busTransport" [(ngModel)]="busTransport"
                                        value="false">
                                      <label for="pwd"> No</label>
                                    </div>

                                  </div>
                                </div> -->
                                <div class="col-md-3"></div>

                              </div>
                              <div class="form-group row container" style="justify-content: left;position: relative;
left: 12%;" hidden>
                                <!-- <div class="col-md-3">
                                  <label for="colFormLabelSm">Bus Transport <span style="color: red">
                                      *</span></label>

                                  <div class="form-inline">
                                    <div class="form-group">

                                      <input type="radio" class="form-control form-control-sm" id="gender"
                                        name="gender">
                                      <label for="pwd"> Yes</label>
                                    </div>
                                    <div class="form-group">

                                      <input type="radio" class="form-control form-control-sm" id="gender"
                                        name="gender">
                                      <label for="pwd"> No</label>
                                    </div>

                                  </div>
                                </div> -->
                              </div>
                              <div class="form-group row container " style="justify-content: left;position: relative;
left: 12%;">
                                <button class="btn btn-primary" id="toggleButton" data-toggle="collapse"
                                  href="#collapse-3" aria-expanded="false" aria-controls="collapse-3"
                                  [disabled]="contractordetailsform1.invalid">Next</button>
                                &nbsp;&nbsp;
                                <button class="btn btn-primary">Reset</button>
                              </div>

                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header bgColors" id="heading-3">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false"
                        aria-controls="collapse-3">
                        Statutory
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                    <div class="card-body">
                      <form #contractordetailsform2="ngForm">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row" style="justify-content: center;">
                              <div class="col-md-4">

                                <label for="colFormLabelSm">PF Number<span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="pfNumber" name="pfNumber"
                                  [(ngModel)]="pfNumber" #pfNumbers="ngModel" required disabled>
                                <div *ngIf="pfNumbers.invalid && (pfNumbers.dirty || pfNumbers.touched)">
                                  <div *ngIf="pfNumbers.errors.required"><small style="color:red;"> PF Number is
                                      Required</small></div>

                                </div>
                              </div>
                            </div>
                            <div class="form-group row" style="justify-content: center;">
                              <div class="col-md-4">

                                <label for="colFormLabelSm">ESIC Number </label>
                                <input type="text" class="form-control form-control-sm" id="esicNumber"
                                  name="esicNumber" [(ngModel)]="esicNumber" #esicNumbers="ngModel" disabled>
                                <!-- <div *ngIf="esicNumbers.invalid && (esicNumbers.dirty || esicNumbers.touched)">
                                <div *ngIf="esicNumbers.errors.required"><small style="color:red;"> Esic Number is
                                    Require</small></div>

                              </div> -->
                              </div>
                            </div>
                            <div class="form-group row" style="justify-content: center;">
                              <div class="col-md-4">

                                <label for="colFormLabelSm">WC Number </label>
                                <input type="text" class="form-control form-control-sm" id="wcNumber" name="wcNumber"
                                  [(ngModel)]="wcNumber" #wcNumbers="ngModel" disabled>
                                <!-- <div *ngIf="wcNumbers.invalid && (wcNumbers.dirty || wcNumbers.touched)">
                                <div *ngIf="wcNumbers.errors.required"><small style="color:red;"> wc Number is
                                    Require</small></div>

                              </div> -->
                              </div>
                            </div>
                            <div class="form-group row " style="justify-content: center;
                    position: relative;
                    right: 11%;">
                              <button class="btn btn-primary" id="toggleButton" data-toggle="collapse"
                                href="#collapse-4" aria-expanded="false" aria-controls="collapse-4"
                                [disabled]="contractordetailsform2.invalid">Next</button>
                              &nbsp;&nbsp;
                              <button class="btn btn-primary">Reset</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header bgColors" id="heading-4">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false"
                        aria-controls="collapse-4">
                        Salary Structure
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-4">
                    <div class="card-body">

                      <form #contractordetailsform4="ngForm">
                        <!-- After subscription you will get our special trade copier. If you want to use this copier for
                      business purpose or other commercial pupose then directly contact with www.fxcopier.co.uk. v -->
                        <div class="col-sm-3" style="margin:auto">

                          <label for="colFormLabelSm">Assign Salary Structure <span style="color: red">
                              *</span></label>
                          <select class="form-control form-control-sm" id="salaryStructureID" name="salaryStructureID"
                            required [(ngModel)]="salaryStructureID" #salaryStructureIDs="ngModel"
                            placeholder="col-form-label-sm" (change)="getSalaryDetails($event)">
                            <option value="" disabled hidden>Select salary structure</option>
                            <option *ngFor="let item of allSalaryDatas" value="{{item.salaryStructureID}}">
                              {{item.nameOfStructure}}</option>


                          </select>
                          <div
                            *ngIf="salaryStructureIDs.invalid && (salaryStructureIDs.dirty || salaryStructureIDs.touched)">
                            <div *ngIf="salaryStructureIDs.errors.required"><small style="color: red;"> salary structure
                                is
                                Required </small></div>

                          </div>
                        </div>
                      </form>
                      <div class="row" style="justify-content: center;">
                        <div class="col-md-6">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Salary Structure</th>
                                <th>Earning Amount</th>
                                <th>Deduction Amount</th>
                                <th>Net Payable</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{salaryName}}</td>
                                <td>{{totalEarning}}</td>
                                <td>{{totalDeduction}}</td>
                                <td>{{netpayeble}}</td>
                              </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="form-group row " style="text-align: center;margin: auto;">
                        <button class="btn btn-primary" id="toggleButton" data-toggle="collapse" href="#collapse-5"
                          aria-expanded="false" aria-controls="collapse-5"
                          [disabled]="contractordetailsform4.invalid">Next</button>
                      </div>
                    </div>

                  </div>
                  <div class="card">
                    <div class="card-header bgColors" id="heading-5">
                      <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5"
                          aria-expanded="false" aria-controls="collapse-5">
                          Work History
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-5" class="collapse" data-parent="#accordion" aria-labelledby="heading-5">
                      <div class="card-body">
                        <div class="row container">
                          <div class="form-group row container centercontent">
                            <div class="col-sm-3">
                                <label>
                                    <input type="checkbox" name="isChecked" [(ngModel)]="isChecked" (ngModelChange)="onCheckboxChange()" [checked]="fresher">
                                    IF Fresher
                                </label>
                            </div>
                        </div>
                          <div class="col-md-12" *ngIf="fresher!=true">

                            <div class="form-group row container centercontent">
                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Previous Employer <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="previousEmployer"
                                  name="previousEmployer" [(ngModel)]="previousEmployer" #previousEmployers="ngModel"
                                  required disabled>
                                <div
                                  *ngIf="previousEmployers.invalid && (previousEmployers.dirty || previousEmployers.touched)">
                                  <div *ngIf="previousEmployers.errors.required"><small style="color:red;"> previous
                                      Employer is Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Worked Started Date <span style="color: red">
                                    *</span></label>
                                <input type="date" class="form-control form-control-sm" id="workedStartedDate"
                                  name="workedStartedDate" [(ngModel)]="workedStartedDate" #workedStartedDates="ngModel"
                                  required disabled>
                                <div
                                  *ngIf="workedStartedDates.invalid && (workedStartedDates.dirty || workedStartedDates.touched)">
                                  <div *ngIf="workedStartedDates.errors.required"><small style="color:red;"> Worked
                                      Start
                                      Date is Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Worked Completed Date <span style="color: red">
                                    *</span></label>
                                <input type="date" class="form-control form-control-sm" id="workedCompletedDate"
                                  name="workedCompletedDate" [(ngModel)]="workedCompletedDate"
                                  #workedCompletedDates="ngModel" required disabled>
                                <div
                                  *ngIf="workedCompletedDates.invalid && (workedCompletedDates.dirty || workedCompletedDates.touched)">
                                  <div *ngIf="workedCompletedDates.errors.required"><small style="color:red;"> worked
                                      Completed Date is Required</small></div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row container centercontent">
                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Job Description <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="jobTitle" name="jobTitle"
                                  [(ngModel)]="jobTitle" #jobTitles="ngModel" required disabled>
                                <div *ngIf="jobTitles.invalid && (jobTitles.dirty || jobTitles.touched)">
                                  <div *ngIf="jobTitles.errors.required"><small style="color:red;"> job Description is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-3">

                                <label for="colFormLabelSm">Job Type <span style="color: red">
                                    *</span></label>
                                <select class="form-control form-control-sm" id="jobType" name="jobType" required
                                  [(ngModel)]="jobType" #maritalStatuss="ngModel" placeholder="col-form-label-sm"
                                  disabled>
                                  <option [ngValue]=null selected disabled>Select</option>
                                  <option value="fullTime">Full Time</option>
                                  <option value="partTime">Part Time</option>

                                </select>
                                <div *ngIf="maritalStatuss.invalid && (maritalStatuss.dirty || maritalStatuss.touched)">
                                  <div *ngIf="maritalStatuss.errors.required"><small style="color: red;"> maritalStatus
                                      is
                                      Required </small></div>

                                </div>
                              </div>
                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Type Of Employment <span style="color: red">
                                    *</span></label>

                                <select class="form-control form-control-sm" id="employmentType" name="employmentType"
                                  required [(ngModel)]="employmentType" #maritalStatuss="ngModel"
                                  placeholder="col-form-label-sm" disabled>
                                  <option [ngValue]=null selected disabled>Select</option>
                                  <option value="Permanent">Permanent</option>
                                  <option value="Permanent">Permanent</option>
                                  <option value="Seasonal">Seasonal</option>

                                </select>
                                <div *ngIf="maritalStatuss.invalid && (maritalStatuss.dirty || maritalStatuss.touched)">
                                  <div *ngIf="maritalStatuss.errors.required"><small style="color: red;"> Type Of
                                      Employment is
                                      Required </small></div>

                                </div>
                              </div>
                            </div>
                            <div class="form-group row container centercontent">

                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Tools Used <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="toolUsed" name="toolUsed"
                                  [(ngModel)]="toolUsed" #toolUseds="ngModel" required disabled>
                                <div *ngIf="toolUseds.invalid && (toolUseds.dirty || toolUseds.touched)">
                                  <div *ngIf="toolUseds.errors.required"><small style="color:red;"> Tools is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Reason For Leaving <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="reasonForLeaving"
                                  name="reasonForLeaving" [(ngModel)]="reasonForLeaving" #reasonForLeavings="ngModel"
                                  required disabled>
                                <div
                                  *ngIf="reasonForLeavings.invalid && (reasonForLeavings.dirty || reasonForLeavings.touched)">
                                  <div *ngIf="reasonForLeavings.errors.required"><small style="color:red;"> Reason is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Responsibility <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="jobDuties" name="jobDuties"
                                  [(ngModel)]="jobDuties" #jobDutiess="ngModel" required disabled>
                                <div *ngIf="jobDutiess.invalid && (jobDutiess.dirty || jobDutiess.touched)">
                                  <div *ngIf="jobDutiess.errors.required"><small style="color:red;"> Responsibility is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-3" hidden>
                                <label for="colFormLabelSm">Supervisor <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="voterCardNo"
                                  name="voterCardNo" [(ngModel)]="voterCardNo" #voterCardNos="ngModel" required
                                  disabled>
                                <div *ngIf="voterCardNos.invalid && (voterCardNos.dirty || voterCardNos.touched)">
                                  <div *ngIf="voterCardNos.errors.required"><small style="color:red;"> pan Number is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-3" hidden>
                                <label for="colFormLabelSm">Contractor <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="voterCardNo"
                                  name="voterCardNo" [(ngModel)]="voterCardNo" #voterCardNos="ngModel" required
                                  disabled>
                                <div *ngIf="voterCardNos.invalid && (voterCardNos.dirty || voterCardNos.touched)">
                                  <div *ngIf="voterCardNos.errors.required"><small style="color:red;"> pan Number is
                                      Required</small></div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row container " style="position: relative;
                        left: 12%;">


                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Wage <span style="color: red">
                                    *</span></label>
                                <input type="number" class="form-control form-control-sm" id="wage" name="wage"
                                  [(ngModel)]="wage" #wages="ngModel" required disabled>
                                <div *ngIf="wages.invalid && (wages.dirty || wages.touched)">
                                  <div *ngIf="wages.errors.required"><small style="color:red;"> wage is Required</small>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row container " style="position: relative;
                        left: 12%;">

                            </div>
                            <div class="form-group row container" style="position: relative;
                        left: 12%;">
                              <button class="btn btn-primary" (click)="AddworkHistoryList()" disabled>Add Another
                                Experience </button>
                            </div>
                            <div class="form-group row container" style="justify-content: center;">
                              <div class="col-md-9">
                                <table id="absent_employees" id="example" class="table table-striped table-bordered">
                                  <thead class="theadblue">
                                    <tr style="text-align: center !important;">
                                      <th>Sr.No</th>
                                      <th>Previous Employer</th>
                                      <th>Job Description</th>
                                      <th>Reason For Leaving</th>


                                    </tr>
                                  </thead>
                                  <!-- *ngFor="let item of report_data; let i = index" -->
                                  <tbody>
                                    <tr *ngFor="let item of workHistoryList; let i = index">
                                      <td>
                                        {{i+1}}
                                      </td>
                                      <td>{{item.previousEmployer}}</td>

                                      <td>{{item.jobTitle}}</td>
                                      <td>{{item.reasonForLeaving}}</td>
                                      <!-- <td> <i class="fa fa-pencil" (click)="ediExperience(item,i)" aria-hidden="true"></i>
                                    &nbsp;&nbsp;
                                    <i class="fa fa-trash"  data-toggle="modal" (click)="deletework()"
                                      data-target="#AreYouSuredlt3" aria-hidden="true"></i></td> -->

                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="form-group row container" style="position: relative;
                        left: 12%;">
                              <button class="btn btn-primary" id="toggleButton" data-toggle="collapse"
                                href="#collapse-6" aria-expanded="false" aria-controls="collapse-6"
                                [disabled]="!workHistoryList.length">Next</button>
                              &nbsp; &nbsp;
                              <button class="btn btn-primary">Reset</button>

                            </div>
                          </div>
                          <div *ngIf="fresher==true">
                            <button class="btn btn-primary" id="toggleButton" data-toggle="collapse" href="#collapse-6"
                              aria-expanded="false" aria-controls="collapse-6">Next</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header bgColors" id="heading-6">
                      <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-6"
                          aria-expanded="false" aria-controls="collapse-6">
                          Document Upload
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-6" class="collapse" data-parent="#accordion" aria-labelledby="heading-6">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row centercontent">
                              <div class="col-md-4">

                                <label>Adhar Card<span style="color: red"> *</span></label>
                                <div class="custom-file">

                                  <input type="file" class="custom-file-input" id="aadharImg" name="aadharImg"
                                    [(ngModel)]="aadharImg" #aadharImgs="ngModel" required
                                    (change)="handleFileInput1($event.target.files)" disabled>
                                  <label class="custom-file-label" for="customFile">Choose file</label>
                                  <div *ngIf="aadharImgs.invalid && (aadharImgs.dirty || aadharImgs.touched)">
                                    <div *ngIf="aadharImgs.errors.required"><small style="color: red;">Aadhaar is
                                        Required</small></div>


                                  </div>

                                </div>
                              </div>
                              <div class="col-md-4">

                                <label>Pan Card <span style="color: red"> *</span></label>
                                <div class="custom-file">

                                  <input type="file" class="custom-file-input" id="panCardImg" name="panCardImg"
                                    [(ngModel)]="panCardImg" #panCardImgs="ngModel" required
                                    (change)="handleFileInput2($event.target.files)" disabled>
                                  <label class="custom-file-label" for="customFile">Choose file</label>
                                  <div *ngIf="panCardImgs.invalid && (panCardImgs.dirty || panCardImgs.touched)">
                                    <div *ngIf="panCardImgs.errors.required"><small style="color: red;">Pan Card is
                                        Required</small></div>


                                  </div>

                                </div>
                              </div>
                            </div>
                            <div class="form-group row centercontent">
                              <div class="col-md-4">

                                <label>Police Verification Document<span style="color: red">
                                    *</span></label>
                                <div class="custom-file">

                                  <input type="file" class="custom-file-input" id="policeVerificationDoc"
                                    name="policeVerificationDoc" [(ngModel)]="policeVerificationDoc"
                                    #policeVerificationDocs="ngModel" required
                                    (change)="handleFileInput3($event.target.files)" disabled>
                                  <label class="custom-file-label" for="customFile">Choose file</label>
                                  <div
                                    *ngIf="policeVerificationDocs.invalid && (policeVerificationDocs.dirty || policeVerificationDocs.touched)">
                                    <div *ngIf="policeVerificationDocs.errors.required"><small
                                        style="color: red;">Labour
                                        License is Required</small></div>


                                  </div>

                                </div>
                              </div>
                              <div class="col-md-4">

                                <label>Experience Certificate<span style="color: red"> *</span></label>
                                <div class="custom-file">

                                  <input type="file" class="custom-file-input" id="experienceLetter"
                                    name="experienceLetter" [(ngModel)]="experienceLetter" #experienceLetters="ngModel"
                                    required (change)="handleFileInput4($event.target.files)" disabled>
                                  <label class="custom-file-label" for="customFile">Choose file</label>
                                  <div
                                    *ngIf="experienceLetters.invalid && (experienceLetters.dirty || experienceLetters.touched)">
                                    <div *ngIf="experienceLetters.errors.required"><small style="color: red;">Experience
                                        is Required</small></div>


                                  </div>

                                </div>
                              </div>
                              <!-- <div class="col-md-4">

                              <label>Expiry Date<span style="color: red"> *</span></label>
                              <div>

                                <input type="date" class="form-control" id="policeVerificationDocExpiryDate"
                                  name="policeVerificationDocExpiryDate" [(ngModel)]="policeVerificationDocExpiryDate"
                                  #policeVerificationDocExpiryDates="ngModel" required disabled>

                                <div
                                  *ngIf="policeVerificationDocExpiryDates.invalid && (policeVerificationDocExpiryDates.dirty || policeVerificationDocExpiryDates.touched)">
                                  <div *ngIf="policeVerificationDocExpiryDates.errors.required"><small
                                      style="color: red;">Labour License is Require</small></div>


                                </div>

                              </div>
                            </div> -->
                            </div>
                            <div class="form-group row" style="position: relative;
                      left: 17%;">
                              <!-- <div class="col-md-4">

                              <label>Experience Letter<span style="color: red"> *</span></label>
                              <div class="custom-file">

                                <input type="file" class="custom-file-input" id="experienceLetter"
                                  name="experienceLetter" [(ngModel)]="experienceLetter" #experienceLetters="ngModel"
                                  required (change)="handleFileInput4($event.target.files)" disabled>
                                <label class="custom-file-label" for="customFile">Choose file</label>
                                <div
                                  *ngIf="experienceLetters.invalid && (experienceLetters.dirty || experienceLetters.touched)">
                                  <div *ngIf="experienceLetters.errors.required"><small style="color: red;">Experience
                                      is Require</small></div>


                                </div>

                              </div>
                            </div> -->

                            </div>
                            <div class="form-group row" style="position: relative;
                      left: 18%;">
                              <button class="btn btn-primary" disabled>Add Document</button>
                            </div>
                            <div class="form-group row centercontent">
                              <div class="col-md-6" style="margin-right: 18%;">
                                <table id="absent_employees" id="example" class="table table-striped table-bordered">
                                  <thead class="theadblue">
                                    <tr style="text-align: center !important;">
                                      <th>Sr.No</th>
                                      <th>Adhar</th>
                                      <th>Experience</th>
                                      <th>PanCard </th>
                                      <th>Police Verification</th>
                                      <th>Police Verification Expiry Date</th>


                                    </tr>
                                  </thead>
                                  <!-- *ngFor="let item of report_data; let i = index" -->
                                  <tbody>
                                    <tr>
                                      <td>
                                        1
                                      </td>
                                      <td><img src="{{documentMaster?.aadharImg}}" style="height: 80px;
                                      width: 130px;"></td>
                                      <td><img src="{{documentMaster?.experienceLetter}}" style="height: 80px;
                                      width: 130px;"></td>
                                      <td><img src="{{documentMaster?.panCardImg}}" style="height: 80px;
                                      width: 130px;"></td>
                                      <td><img src="{{documentMaster?.policeVerificationDoc}}" style="height: 80px;
                                      width: 130px;"></td>
                                      <td>{{documentMaster.policeVerificationDocExpiryDate|date: 'dd/MM/yyyy'}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="form-group row" style="position: relative;
                      left: 18%;">
                              <div class="col-md-4">
                                <button class="btn btn-primary" id="toggleButton" data-toggle="collapse"
                                  href="#collapse-7" aria-expanded="false" aria-controls="collapse-7"
                                  (click)="addDocumenthere()" [disabled]="!documentMaster">Next</button>
                                &nbsp; &nbsp;
                                <button class="btn btn-primary">Reset</button>

                              </div>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header bgColors" id="heading-7">
                      <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-7"
                          aria-expanded="false" aria-controls="collapse-7">
                          Assets
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-7" class="collapse" data-parent="#accordion" aria-labelledby="heading-7">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row" style="justify-content: center;">
                              <div class="col-sm-4">

                                <label for="colFormLabelSm">Assets <span style="color: red">
                                    *</span></label>
                                <select class="form-control form-control-sm" id="assetId" name="assetId" required
                                  [(ngModel)]="assetId" #asset_ids="ngModel" placeholder="col-form-label-sm" disabled>
                                  <option [ngValue]=null selected disabled>Select</option>
                                  <option *ngFor="let item of Allassets" value="{{item.assetId}}">{{item.assetName}}
                                  </option>


                                </select>
                                <div *ngIf="asset_ids.invalid && (asset_ids.dirty || asset_ids.touched)">
                                  <div *ngIf="asset_ids.errors.required"><small style="color: red;"> Assets is Required
                                    </small></div>

                                </div>
                              </div>
                            </div>
                            <div class="form-group row" style="justify-content: center;">
                              <div class="col-md-4">

                                <label for="colFormLabelSm">Issue Date<span style="color: red">
                                    *</span></label>
                                <input type="date" class="form-control form-control-sm" id="issuedate" name="issuedate"
                                  [(ngModel)]="issuedate" #issuedates="ngModel" required disabled>
                                <div *ngIf="issuedates.invalid && (issuedates.dirty || issuedates.touched)">
                                  <div *ngIf="issuedates.errors.required"><small style="color:red;"> Issue Date is
                                      Required</small></div>

                                </div>
                              </div>
                            </div>
                            <div class="form-group row" style="justify-content: center;">
                              <div class="col-sm-4">

                                <label for="colFormLabelSm">Issue Reason<span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="issuedReason"
                                  name="issuedReason" required [(ngModel)]="issuedReason" #issuedReasons="ngModel"
                                  placeholder="col-form-label-sm" disabled>



                                <div *ngIf="issuedReasons.invalid && (issuedReasons.dirty || issuedReasons.touched)">
                                  <div *ngIf="issuedReasons.errors.required"><small style="color: red;"> Issue is
                                      Required
                                    </small></div>

                                </div>
                              </div>
                            </div>
                            <div class="form-group row" style="justify-content: center;">
                              <div class="col-md-4">
                                <button class="btn btn-info" (click)="addAssets()" disabled>
                                  Add Assets
                                </button>
                              </div>
                            </div>
                            <div class="form-group row" style="justify-content: center;">
                              <div class="col-md-6">
                                <table id="absent_employees" id="example" class="table table-striped table-bordered">
                                  <thead class="theadblue">
                                    <tr style="text-align: center !important;">
                                      <th>Sr.No</th>
                                      <th>Assets</th>
                                      <th>Issue Reason</th>
                                      <th>Issue Date</th>
                                      <!-- <th>Action</th> -->

                                    </tr>
                                  </thead>
                                  <!-- *ngFor="let item of report_data; let i = index" -->
                                  <tbody *ngFor="let item of assetHistories; let i=index">
                                    <tr>

                                      <td>{{i+1}}</td>
                                      <td>{{item?.assetsMaster.assetName}}</td>
                                      <td>{{item.issuedReason}}</td>
                                      <td>{{item.issuedate|date: 'dd/MM/yyyy'}}</td>
                                      <!-- <td> <i class="fa fa-pencil" (click)="editAssets(item,i)" aria-hidden="true"></i>
                                      &nbsp;&nbsp;
                                      <i class="fa fa-trash"  data-toggle="modal" (click)="deleteAset()"
                                        data-target="#AreYouSuredlt2" aria-hidden="true"></i></td> -->
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="form-group row" style="position: relative;
                      left: 26%;">
                              <button class="btn btn-primary" id="toggleButton" data-toggle="collapse"
                                href="#collapse-8" aria-expanded="false" aria-controls="collapse-8"
                                [disabled]="!assetHistories.length">

                                Next
                              </button>&nbsp;&nbsp;
                              <button class="btn btn-info">Reset</button>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="card">
                  <div class="card-header bgColors" id="heading-8">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-8" aria-expanded="false"
                        aria-controls="collapse-8">
                        Disciplinary action

                      </a>
                    </h5>
                  </div>
                  <div id="collapse-8" class="collapse" data-parent="#accordion" aria-labelledby="heading-8">
                    <div class="card-body">
                      <form #contractordetailsform5="ngForm">
                      <div class="row container">
                        <div class="form-group row container centercontent">
                          <div class="col-md-4">

                            <label for="colFormLabelSm">Nature Of Missconduct<span  style="color: red">
                                *</span></label>
                            <input type="date" class="form-control form-control-sm" id="dateOfOccurence"
                              name="dateOfOccurence" [(ngModel)]="dateOfOccurence" #dateOfOccurences="ngModel" required>
                            <div
                              *ngIf="dateOfOccurences.invalid && (dateOfOccurences.dirty || dateOfOccurences.touched)">
                              <div *ngIf="dateOfOccurences.errors.required"><small style="color:red;">Date is
                                  Require</small></div>

                            </div>
                          </div>
                          <div class="col-sm-4">
                            <label for="colFormLabelSm">Action Taken <span style="color: red">
                                *</span></label>
                            <input type="text" class="form-control form-control-sm" id="penaltyAmount"
                              name="penaltyAmount" [(ngModel)]="penaltyAmount" #penaltyAmounts="ngModel" required>
                            <div *ngIf="penaltyAmounts.invalid && (penaltyAmounts.dirty || penaltyAmounts.touched)">
                              <div *ngIf="penaltyAmounts.errors.required"><small style="color: red;"> Action Taken is
                                  Require</small></div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row container centercontent">
                          <div class="col-md-8">
                            <label for="exampleFormControlTextarea1" class="form-label">Occurrence details </label>
                            <textarea class="form-control" id="accurrenceDetails" name="accurrenceDetails" rows="3"
                              [(ngModel)]="accurrenceDetails"></textarea>
                          </div>
                        </div>
                        <div class="form-group row container" style="position: relative;
                        left: 16%;">
                          <div class="col-md-4">
                            <button class="btn btn-primary" (click)="saveContractorLabours()" *ngIf="isedit==false" [disabled]="contractordetailsform5.invalid">Save</button>
                            <button class="btn btn-primary" (click)="updatecontractor()" *ngIf="isedit==true" [disabled]="contractordetailsform5.invalid">update</button>
                            &nbsp; &nbsp;
                            <button class="btn btn-info">Reset</button>
                          </div>
                        </div>
                      </div>
                      </form>
                    </div>
                  </div>
                </div> -->
                  <div class="card">
                    <div class="card-header bgColors" id="heading-8">
                      <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-8"
                          aria-expanded="false" aria-controls="collapse-8">
                          Disciplinary action

                        </a>
                      </h5>
                    </div>
                    <div id="collapse-8" class="collapse" data-parent="#accordion" aria-labelledby="heading-8">
                      <div class="card-body">
                        <form #contractordetailsform5="ngForm">
                          <div class="row container">
                            <div class="form-group row container centercontent">
                              <div class="col-md-4">

                                <label for="colFormLabelSm">Missconduct Type <span style="color: red">
                                    *</span></label>
                                <select type="date" class="form-control form-control-sm" id="missconductType"
                                  name="missconductType" [(ngModel)]="missconductType" #MissconductTypes="ngModel"
                                  required>
                                  <option value="Theft">Theft</option>
                                  <option value="fraud">fraud</option>
                                  <option value="Missconduct">Missconduct</option>
                                </select>
                                <div
                                  *ngIf="MissconductTypes.invalid && (MissconductTypes.dirty || MissconductTypes.touched)">
                                  <div *ngIf="MissconductTypes.errors.required"><small style="color:red;">Missconduct
                                      Type is
                                      Required</small></div>

                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Missconduct Date <span style="color: red">
                                    *</span></label>
                                <input type="date" class="form-control form-control-sm" id="missconductDate"
                                  name="missconductDate" [(ngModel)]="missconductDate" #MissconductDates="ngModel"
                                  required>
                                <div
                                  *ngIf="MissconductDates.invalid && (MissconductDates.dirty || MissconductDates.touched)">
                                  <div *ngIf="MissconductDates.errors.required"><small style="color: red;"> Missconduct
                                      Date is
                                      Required</small></div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row container centercontent">
                              <div class="col-md-8">
                                <label for="exampleFormControlTextarea1" class="form-label">Details <span
                                    style="color: red">
                                    *</span></label>
                                <textarea class="form-control" id="details" name="details" rows="3"
                                  [(ngModel)]="details"></textarea>
                              </div>
                            </div>
                            <div class="form-group row container centercontent" style="display: flow;
                        position: relative;left: 15%;">
                              <label style="margin-left: 14px;
                        font-weight: 500;">Select One <span style="color: red">
                                  *</span></label>
                              <br>
                                <input type="radio" id="Low" name="typeOfMissConduct" [(ngModel)]="typeOfMissConduct"
                                value="Low"> <label for="Low">Low</label>
                                <input type="radio" id="Medium" name="typeOfMissConduct" [(ngModel)]="typeOfMissConduct"
                                value="Medium"> <label for="Medium">Medium</label>
                                <input type="radio" id="High" name="typeOfMissConduct" [(ngModel)]="typeOfMissConduct"
                                value="High"> <label for="High">High</label>
                            </div>
                            <div class="form-group row container" style="justify-content: center;">
                              <button class="btn btn-primary" (click)="AddDisciplinaryAction()"
                                [disabled]="!details||!missconductType||!missconductDate||!typeOfMissConduct">Add</button>

                            </div>
                            <div class="row container centercontent">
                              <div class="col-md-8">


                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>Missconduct Type </th>
                                      <th>Missconduct Date</th>
                                      <th>Details</th>
                                      <th> Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of diciplinaryActions">
                                      <td>{{item.missconductType}}</td>
                                      <td>{{item.missconductDate}}</td>
                                      <td>{{item.details}}</td>
                                      <td><i aria-hidden="true" class="fa fa-trash" title="delete"
                                          (click)="deleteRecords(item.id)"></i></td>
                                    </tr>

                                  </tbody>
                                </table>
                              </div>
                            </div>


                            <div class="form-group row container" style="position: relative;
                        left: 16%;">
                              <div class="col-md-4">
                                <button class="btn btn-primary" (click)="saveContractorLabours()" *ngIf="isedit==false"
                                  [disabled]="contractordetailsform5.invalid">Save</button>
                                <button class="btn btn-primary" (click)="updatecontractor()"
                                  *ngIf="isedit==true">update</button>
                                &nbsp; &nbsp;
                                <button class="btn btn-info">Reset</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="AreYouSuredlt2">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete..?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="deleteAssets()" data-dismiss="modal" class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="AreYouSuredlt3">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete..?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="deleteworks()" data-dismiss="modal" class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>