.gatepass{
    border: 3px solid rgb(255 150 19);
    min-height: 274px;
    border-radius: 0.5rem;
    padding:0.2rem;
    font-size: 10px;
    height: 274px;
    width: 434px;
   
    /* font-weight: bold; */

}

/* @media print {    
     .white-bg { 
        width: 85% !important;
      } */
      .titletext{
        font-size: 10px;
      }
 @media print{
    .gpname{
    background-color: #f8f9fa;
    }
 }
.gpname{
    /* background-color: black; */
    color: black;
    font-weight: 600;
    text-align: center;
    padding:0.1rem;
    border-radius: 0.5rem;
    display: flex; padding: 10px;background-color: #f8f9fa;
    -webkit-print-color-adjust: exact !important;
}
.form-group{
    align-items: center;
}

.form-control-plaintext{
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    border-style: dashed;
    color: #4177bb;
}
.inline{

    font-size: large;
}
.textdata{
    padding-left: 10px;
    /* color: gray; */

}


.visiphoto
{
    margin: auto;
    border: 2px solid gray;
    width: 98px;
    height: 114px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    margin-top: 17px;
}
.image-cover-2 {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: 200px;
}
.white-bg{
    width: 455px!important;
    padding-left: 10px;
    line-height: 0rem!important;
    font-weight: normal !important;
}


.mb-4{
    margin-bottom: 1.5rem!important;
}
.btnstyle{
    background-color: #9de5d4;
    color: white;
    cursor: pointer;
}
.btnstyle:hover{
   background-color: #44e1bc;
}
