<div class="container-fluid" style="background-color: white;">
  <div class="mainwrap"  >
    <div class="row" >
      <div class="col-md-8" >
        <div  class="white-bg min-height-415" id="gatepass">
          <div class="gatepass" >
            <div class="gpname" style=" display: flex; padding: 10px;background-color: #ff9613;;">
              <!-- <img src="assets/daccess.png"> -->
              <h2 style="margin: auto; font-size: 21px; color: white;"><b>{{empdata?.compName}}</b></h2>
            </div>
            <!-- <div class="row p-2 m-2">
              <div class="col-md-9">
                <div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-4">
                        <span class="titletext"><b>Gate Pass No.: </b><span class="textdata">{{empGatePassId}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-6" hidden>
                      <div class="mb-4">
                        <span class="titletext"><b>Vendor Code:</b> <span class="textdata">{{vendorCode}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-4">
                        <span class="titletext"><b>Name of the Contract/Firm:</b> <span class="textdata">{{conFirmName}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-4">
                        <span class="titletext"><b>Name:</b> <span class="textdata">{{fullName}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-6" hidden>
                      <div class="mb-4">
                        <span class="titletext"><b>Department: </b><span class="textdata">{{deptName}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-4">
                        <span class="titletext"><b>Father/Husband Name: </b><span class="textdata">{{fatheName}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-4">
                        <span class="titletext"><b>Contact No.: </b><span class="textdata">{{personalContactNumber}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-6" hidden>
                      <div class="mb-4">
                        <span class="titletext"><b>Emrg Contact No.: </b><span class="textdata">{{emrContactNumber}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-4">
                        <span class="titletext"><b>Blood Group: </b><span class="textdata">{{bloodGroup}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-4" hidden>
                      <div class="mb-4">
                        <span class="titletext"><b>PF No.: </b><span class="textdata">{{pfNumber}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-4" hidden>
                      <div class="mb-4">
                        <span class="titletext"><b>ESI No.: </b><span class="textdata">{{esicNumber}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-1">
                        <span class="titletext"><b>Valid from: </b><span class="textdata">{{validStartDate | date:'dd-MMM-yyyy'}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-4" hidden>
                      <div class="mb-1">
                        <span class="titletext"><b>Valid to: </b><span class="textdata">{{validEndDate | date:'dd-MMM-yyyy'}}</span></span>
                      </div>
                    </div>
                    <div class="col-md-4" hidden>
                      <div class="mb-1">
                        <span class="titletext"><b>Issued on: </b><span class="textdata"></span></span>
                      </div>
                    </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-6">
                      <div>
                        <span class="titletext float-left mt-4"><b>Contractor Signature</b></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div>
                        <span class="titletext float-right mt-4"><b>Authorised Signature(HR)</b></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="visiphoto">
                   <img *ngIf="profilePath && Aws_flag=='true'" id="my_img" src="{{profilePath}}" class="image-cover-2">
                   <img *ngIf="profilePath && Aws_flag!='true'" [src]="profilePath" alt="" class="image-cover-2" /> 
                  <img *ngIf="!profilePath" id="my_img" src="/src/assets/profile-logos.png" class="image-cover-2">  
                  <img  src="/src/assets/profile-logos.png" class="image-cover-2" style="background-color:#9de5d4;"> 
                </div>
              </div>
            </div> -->
            <div class="row" style="margin-bottom: 61px;">
            <div class="col-md-8">
              <div style="padding-left:14px;margin-top: 30px;">

             
              <!-- <div class="mb-4">  
                <span class="titletext"><b>Gate Pass No.: </b><span class="textdata">{{empGatePassId}}</span></span>
              </div> -->
              <div class="mb-4">
                <!-- Name of the Contract/Firm: -->
                <span class="titletext"><b> Pass No:</b> <span class="textdata"></span></span>{{empdata?.passId}}
              </div>
                <div class="mb-4">
                  <!-- Name of the Contract/Firm: -->
                  <span class="titletext"><b> Contractor Firm Name:</b> <span class="textdata"></span></span>{{empdata?.conFirmName}}
                </div>
                <div class="mb-4">
                  <!-- Name of the Contract/Firm: -->
                  <span class="titletext"><b> Contractor Name:</b> <span class="textdata"></span></span>{{empdata?.fullName}} {{empdata?.lastName}}
                </div>
              
                <!-- <div class="mb-4">
                  <span class="titletext"><b>Name:</b> <span class="textdata"></span></span>{{empdata?.fullName}} {{empdata?.lastName}}
                </div> -->
               
                <!-- <div class="mb-4">
                  <span class="titletext"><b>Supervisor Name:</b> <span class="textdata"></span></span>{{empdata?.contractorName}} 
                </div> -->
               
              <!-- <div class="mb-4">
                <span class="titletext"><b>Father/Husband Name: </b><span class="textdata">{{fatheName}}</span></span>
              </div> -->
              <div class="mb-4">
                <span class="titletext"><b>Supervisor Contact No:</b><span class="textdata"></span></span>{{empdata?.contactNo}}
              </div>
              <div class="mb-4">
                <span class="titletext"><b>D O B:</b> <span class="textdata"></span></span>{{empdata?.dateofBirth}} 
              </div>
              <div class="mb-4">
                <span class="titletext"><b>Blood Group: </b><span class="textdata"></span></span>{{empdata?.bloodGroup}}
              </div>
            </div>
            </div>

            <div class="col-md-4">
              <div class="visiphoto">
              <img *ngIf="imageurls" src="{{imageurls}}" class="image-cover-2" style="width: 94px;
              height: 105px;"> 
              </div>
              <div class="pb-2" style="text-align: center;">
                <!-- <img src="/src/assets/qr-code.png" style="width: 100px;
                height: 100px;"> -->
              
                <!-- <qrcode [qrdata]="QrCodeNumber" style="position: absolute;
                left: 29px;" size="100"></qrcode> -->
                <!-- <img src="assets/polygenta logo png.png" style="width: 55px;
                margin-top: 11px;
                margin-left: 59px;"> -->
              </div>
            </div>
           
</div>
<!-- <hr>
<div class="row" style="margin-bottom: 21px">
  <div class="col-md-6">
    <div style="padding-left: 14px">
      <span class="titletext float-left mt-4"><b>Contractor Signature</b></span>
    </div>
  </div>
  <div class="col-md-6">
    <div style="padding-right: 14px;">
      <span class="titletext float-right mt-4"><b>Authorised Signature(HR)</b></span>
    </div>
  </div>
</div> -->
          </div>



        </div>
       
      </div>

    </div>
<div class="row">
  <div class="col-md-5" style="margin-left: -90px;">
    <div style="float: right;">
      <button type="button" class="btn btnstyle m-3 " (click)="generateImage()"><i class="fa fa-file-pdf-o"
        aria-hidden="true"></i> &nbsp;Download Pass</button>
        
      <button type="button" class="btn btnstyle m-3" (click)='Cancel()'>Cancel</button>
    </div>
    </div>
    </div>
  </div>
</div>