<div style="display: block" >
    <canvas baseChart width="100%" height="100%"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType">
              </canvas>
  </div>
  <h6 class="text-center pt-2">Actual Absentism</h6>