.table td, .table th {
    padding: .75rem;
    vertical-align: top ;
    border-top: 1px solid #393c40 !important;
    font-weight: 400 !important;
}

.emp-photo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    border: 3px solid #e4e4e4;
}

.bg-sec{
    background-color: #f5f5f5!important;
    border-radius: 0.2rem;
}
.selected-emp{
    padding-left: 1rem;
    padding-top: 0.5rem;
}
.selected-emp h6{
    margin-bottom: 0 !important;
    font-weight: 600;
}