<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">
          <div class="row">
            <div class="col-md-3">
              <h6><strong>Select history type</strong></h6>
              <hr>
              <ul class="list-group">
                <li class="list-group-item">Leaves</li>
                <li class="list-group-item">Query</li>
                <li class="list-group-item">Resignations</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
            <div class="col-md-9">
              <form>
                <div class="row m-0">
                  <div class="col">
                    <label>Search Employee</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Search">
                  </div>
                  <div class="col">
                    <label>To Date</label>
                    <input type="date" class="form-control form-control-sm" placeholder="From date">
                  </div>
                  <div class="col">
                    <label>From Date</label>
                    <input type="date" class="form-control form-control-sm" placeholder="To date">
                  </div>
                </div>
              </form>
              <div class="d-flex p-3 m-2 bg-sec">
                <div>
                  <div class="emp-photo mb-2 mt-2">
                    <img class="card-img-top"
                      src="https://www.barsa.co.za/wp-content/uploads/2017/12/Profile_Liezl_Gericke-500x500.jpg"
                      alt="Card image">
                  </div>
                </div>
                <div class="selected-emp">
                  <h6>Priya Patil</h6>
                  <span><small>EMP-1234</small></span>
                </div>
              </div>
              <div class="p-2">
                <table class="table table-bordered">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td colspan="2">Larry the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>