<div class="container-fluid">
  <div class="white-bg-basic min-height-480">
    <div class="row m-0">
      <div *ngIf="received_message!='preonboarding'" class="col-md-4 p-0">
        <div class="prodetails">
          <div class="profilephoto">
            <div class="photoid">
              <!-- <img *ngIf="image64" [src]="image64" alt="Avatar">
              <img *ngIf="!image64" src="{{AssetsPath}}/propic.jpg" alt="Avatar"> -->

              <div class="profile-img">
                <img [src]="profilepic" title="Change Profile Picture"  [ngClass]="{'image-cover' : menuOpenClose, 'small-image-cover': !menuOpenClose}" alt="user" style="cursor: pointer;">
                <input hidden type="file" id="fileLoader" #userPhoto accept="image/*"
                  name="files" title="Load File" />
                <!-- <div class="overlay">
                  <a class="icon" title="Change Profile Picture">
                    <i class="fa fa-pencil" aria-hidden="true" (click)="uploadFile(userPhoto)" name="create"
                      aria-hidden="true"></i>
                  </a>
                </div> -->
              </div>
            </div>
            <div class="popupcontent text-center">
              <h4>{{fullName | titlecase}} {{lastName | titlecase}}</h4>
              <h6>{{descName}}</h6>
              <div class="devider">
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
       
      <div  class="col-md-8 p-0">
        <div class="prodetails-2 w3-animate-left p-3">
          <h3><strong> Welcome To {{compName}}! {{fullName}} {{lastName}}</strong></h3>
          <h6>Here are your basic details </h6>
          <hr>
          <div class="row m-0">
            <div class="col-md-5 p-0">
              <div class="details">
                <div class="detailstext" *ngIf="bioId">
                  <span class="headings">Biometric Id</span>
                  <br>
                  <span class="detaildata">{{bioId}}</span>
                </div>
                <div class="detailstext">
                  <span class="headings">Name</span>
                  <br>
                  <span class="detaildata">{{fullName}} {{lastName}}</span>
                </div>
                <div class="detailstext" *ngIf="deptName">
                  <span class="headings">Department</span>
                  <br>
                  <span class="detaildata">{{deptName}}</span>
                </div>
                <div class="detailstext" *ngIf="dateOfBirth">
                  <span class="headings">Date Of Birth</span>
                  <br>
                  <span class="detaildata">{{dateOfBirth | date: 'dd-MMM-yyyy'}}</span>
                </div>
                <div class="detailstext" *ngIf="officialContactNumber">
                  <span class="headings">Official Contact Number</span>
                  <br>
                  <span class="detaildata">{{officialContactNumber}}</span>
                </div>
                <div class="detailstext"  *ngIf="firstLevelReportingManagerName" >
                  <span class="headings">First Level Reporting Manager</span>
                  <br>
                  <span class="detaildata">{{firstLevelReportingManagerName}}</span>
                </div>
                <div class="detailstext" *ngIf="locationName" >
                  <span class="headings">Shift Type</span>
                  <br>
                  <span class="detaildata">{{shiftType}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="details">
                <div class="detailstext" *ngIf="empId">
                  <span class="headings">Employee Id</span>
                  <br>
                  <span class="detaildata">{{empId}}</span>
                </div>
                <div class="detailstext"  *ngIf="descName">
                  <span class="headings">Designation</span>
                  <br>
                  <span class="detaildata">{{descName}}</span>
                </div>
                <div class="detailstext"  *ngIf="gender">
                  <span class="headings">Gender</span>
                  <br>
                  <span class="detaildata">{{gender}}</span>
                </div>
                <div class="detailstext" *ngIf="officialEmailId">
                  <span class="headings">Official Email Id</span>
                  <br>
                  <span class="detaildata">{{officialEmailId}}</span>
                </div>
                <div class="detailstext" *ngIf="secondLevelReportingManagerName">
                  <span class="headings">Second Level Reporting Manager</span>
                  <br>
                  <span class="detaildata">{{secondLevelReportingManagerName}}</span>
                </div>
                <div class="detailstext"  *ngIf="empTypeName">
                  <span class="headings">Shift Details</span>
                  <br>
                  <span class="detaildata">{{shiftName}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-3 p-0">
              <div class="details">
                <div class="detailstext" *ngIf="locationName" >
                  <span class="headings">Location</span>
                  <br>
                  <span class="detaildata">{{locationName}}</span>
                </div>
               
                <div class="detailstext"  *ngIf="empTypeName">
                  <span class="headings">Employee Category</span>
                  <br>
                  <span class="detaildata">{{empTypeName}}</span>
                </div>
                <div class="detailstext" *ngIf="roleName">
                  <span class="headings">Employee Role</span>
                  <br>
                  <span class="detaildata">{{roleName}}</span>
                </div>
              <div class="detailstext" *ngIf="thirdLevelReportingManagerName">
                <span class="headings">Third Level Reporting Manager</span>
                <br>
                <span class="detaildata">{{thirdLevelReportingManagerName}}</span>
              </div>
              <div class="detailstext" *ngIf="roleName">
                <span class="headings">Calender</span>
                <br>
                <span class="detaildata">{{calenderName}}</span>
              </div>
            </div>
            
          </div>
        </div>
          <hr>
    
           
            <div class="col-md-12 p-0">
              <button class="btn continue-btn btn-primary float-right " (click)="EmpBasic()" style="margin-bottom: 8px;">
                Back</button>
            </div>
         
        </div>
      </div>
      
    </div>
  </div>
</div>
