.headings{
    color:grey;
}
.profileview img{
    margin:5px;
    border-radius: 50%;
    width:150px;
    height:150px; 
    border:2px solid rgb(139, 186, 255);
  }

 .white-bg-basic{
    width: 100%;
    background-color: white;
    border-radius: .375rem;
    box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
    line-height: 1.25rem;
    font-weight: 700;
    margin-top: 0;
    margin-top: 10px;
    margin-bottom: 50px;
 } 
 .min-height-480{
     min-height: 480px;
 }
 .prodetails{
    min-height:100%;
    background: linear-gradient(0deg, rgba(13, 20, 37, 0.77), rgba(3, 29, 56, 0.82)), url(https://images.unsplash.com/photo-1497250681960-ef046c08a56e?ixlib=rb-1.2.1&w=1000&q=80);
    background-size:cover;
    height: 100%;
    min-height: 480px;
    color: honeydew;
    border-radius: .375rem 0rem 0rem .375rem;
   
     /* text-align: center */
    /* padding-bottom: 100px; */
 }
 .prodetails_onboarding{
    background-color:rgb(247, 238, 238);
    padding: 35px;
    margin: 5px;
    border: black solid 1px;
 }

 .p-0{
     padding:0 !important;
 }
 .prodetails-2{
     margin-left:2rem;
     margin-right: 2rem;
 }
 .prodetails-2 h6{
     margin-top:0 !important;
 }
 .prodetails-2 h4{
    margin-bottom:5px !important;
}
.detailstext{
    margin-bottom: 1.5rem;
}

.profilephoto{
    padding-top:10%;
}
.photoid{

    padding:5px;
    text-align: center;
}
.photoid img{
    margin:auto;
    border-radius: 50%;
    width:100px;
    height:100px;
    object-fit: cover;
    padding:5px;
    border: 1px solid indigo;
}

.popupcontent h4{
  margin-bottom: 0 !important;
  }
  .popupcontent h6{
      margin-top: 5px !important;
      font-size: 1em;
      color: #dadada;
      text-transform: capitalize;
      }
      .popupcontent p{
        font-size: smaller;
      }
  .devider{
      margin:15px;
    
  }
  .devider hr{
      width: 60px;
      margin: auto;
      border-top: 1px solid #eeeeee59;
  }
  
  @media screen and (max-width: 500px) {
    .prodetails{
        min-height: 300px;
        border-radius: .375rem .375rem 0rem 0rem ;
     }

.continue-btn{
    width: 100%;
}
  }


/* .........................................only for preonboarding............................................  */
.date{
    float: right;
      }
      .status
      {
          color: green;
          font-weight: 900;
          font-size: 15px;
      }
      .backgound{
        
          height: 45px;
          width: 100%;
          border: 1px solid #0747a6;
      }
   