<form (ngSubmit)="GenerateEmployeeWiseReport()">
  <div class="ml-3">
    <div class="row justify-content-between">
      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control form-control-sm" id="queryRaised" name="queryRaised" (ngModelChange)="SetSelectedReport($event)" [(ngModel)]="report_name">
            <option value="Select" selected="selected">Select Report</option>
            <option value="Query Raised Report">Query Raised Report</option>
          </select>
        </div>
      </div>
    </div>
    <div>
      <p>Please Select Report Type:</p>
      <input type="radio" id="customise" [(ngModel)]="report_wise" name="report_wise" value="customise"
        checked>
      <label for="customise">Customise</label>
      <input type="radio" id="employee_wise" [(ngModel)]="report_wise" name="report_wise"
        value="employee_wise">
      <label for="employee_wise">Employee Wise</label>

    </div>
    <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="true"> Select Dates</a>
      </li>
      <li class="nav-item" *ngIf="report_wise!='employee_wise'">
        <a class="nav-link" id="pills-filter-tab" data-toggle="pill" href="#pills-filter" role="tab"
          aria-controls="pills-filter" aria-selected="false">Filter</a>
      </li>
      <li class="nav-item" *ngIf="report_wise=='employee_wise'">
        <a class="nav-link" id="pills-employee-tab" data-toggle="pill" href="#pills-employee" role="tab"
          aria-controls="pills-employee" aria-selected="false">Select Employees</a>
      </li>
    </ul>
    <div class="tab-content min-height-400" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="mt-3" style="width:50%">
          <div class="form-row">
            <div id="reportrange"
              style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
              <i class="fa fa-calendar"></i>&nbsp;
              <span></span> <i class="fa fa-caret-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="pills-filter"
                    role="tabpanel" aria-labelledby="pills-filter-tab">
                    <div class="row">
                      <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                          <a class="list-group-item list-group-item-action active" id="list-home-list"
                            data-toggle="list" href="#list-home" role="tab" aria-controls="home">Department</a>
                         
                          <a class="list-group-item list-group-item-action" id="list-Location-list" data-toggle="list"
                            *ngIf='reportName!="Payroll Report"' href="#list-Location" role="tab"
                            aria-controls="Location"> Location</a>
                        
                          <a class="list-group-item list-group-item-action" id="list-Employee-list" data-toggle="list"
                            *ngIf='reportName!="Payroll Report"' href="#list-Employee" role="tab"
                            aria-controls="Employee">Employee category</a>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                          <!-- department list -->
                          <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                            aria-labelledby="list-home-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist ">

                              <li class="list-group-item">

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" (ngModelChange)='SelectAllDep($event)' id="alldeptName"
                                    value="deptId" [(ngModel)]='alldepartment' class="custom-control-input"
                                    data-md-icheck name="deptAll">
                                  <label class="custom-control-label" for="alldeptName">Select All</label>
                                </div>
                              </li>
                              
                              <!-- <li class="list-group-item" *ngFor='let i of departmentlistdata'> -->
                              <li class="list-group-item" *ngFor='let i of departmentlistdata'>

                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.department'
                                    (ngModelChange)='valueDepartment($event,i)' data-md-icheck id="{{i.deptName}}"
                                    value="{{i.deptId}}" name="dept">
                                  <label class="custom-control-label" for="{{i.deptName}}">{{i.deptName}}</label>
                                </div>
                              </li>

                            </ul>
                          </div>
                          <!-- department list end -->
                          <!-- EMP Cate list -->
                          <div class="tab-pane fade" id="list-Employee" role="tabpanel"
                            aria-labelledby="list-Employee-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllEmpCat($event)' value="empTypeId" [(ngModel)]='allEmpCat'
                                    id="checkEC" name="empAll" data-md-icheck>
                                  <label class="custom-control-label" for="checkEC">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of AllEMp'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" data-md-icheck
                                    id="{{i.empTypeName}}" [(ngModel)]='i.AllEMpCate' value="{{i.empTypeId}}"
                                    (ngModelChange)='valueEmpCate($event,i)' name="emp">
                                  <label class="custom-control-label" for="{{i.empTypeName}}">{{i.empTypeName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- EMP Cate list end -->
                          <!--Sub EMP Cate list -->
                          <!-- <div class="tab-pane fade" id="list-Empcategory" role="tabpanel"
                            aria-labelledby="list-Empcategory-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllSubEmpCat($event)' value="empTypeId"
                                    [(ngModel)]='allSubEmpCat' id="checksubEC" name="subempAll" data-md-icheck >
                                  <label class="custom-control-label" for="checksubEC">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allSubEmpTypeList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" data-md-icheck
                                    id="{{i.subEmpTypeName}}" [(ngModel)]='i.AllSubEMpCate' value="{{i.subEmpTypeId}}"
                                    (ngModelChange)='SelectSubEmpCat($event,i)' name="subemp">
                                  <label class="custom-control-label"
                                    for="{{i.subEmpTypeName}}">{{i.subEmpTypeName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div> -->
                          <!--Sub EMP Cate list end -->
                          <!-- SUB DEP list -->
                          <!-- <div class="tab-pane fade" id="list-SubDepartment" role="tabpanel"
                            aria-labelledby="list-SubDepartment-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input"
                                    (ngModelChange)='SelectAllSubDeplist($event)' value="subDeptlist"
                                    [(ngModel)]='allDep' id="subDept" name="subdeptAll"data-md-icheck>
                                  <label class="custom-control-label" for="subDept">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allSubDepList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.subDept'
                                    (ngModelChange)='valueSubDepartment($event,i)' id="{{i.subDeptId}}"
                                    value="{{i.subDeptId}}" name="subdept">
                                  <label class="custom-control-label" for="{{i.subDeptId}}">{{i.subDeptName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div> -->
                          <!-- SUB DEP list end -->
                          
                          <!-- Locotion list -->
                          <div class="tab-pane fade" id="list-Location" role="tabpanel"
                            aria-labelledby="list-Location-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" (ngModelChange)='SelectAllLoco($event)' id="allLocoL"
                                    value="allLoco" [(ngModel)]='allLocoL' class="custom-control-input" name="allLocoL">
                                  <label class="custom-control-label" for="allLocoL" >Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of allLocoList'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.allLocoListdata'
                                    (ngModelChange)='valueLocation($event,i)' data-md-icheck id="{{i.locationName}}"
                                    value="{{i.locationId}}" name="loc">
                                  <label class="custom-control-label"
                                    for="{{i.locationName}}">{{i.locationName}}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- Locotion list end-->
                          <!-- Emp Type -->
                          <!-- <div class="tab-pane fade" id="list-EmploymentType" role="tabpanel"
                            aria-labelledby="list-EmploymentType-list">
                            <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                              <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" (ngModelChange)='SelectAllEmpType($event)' id="allEmpTypee"
                                    value="allET" [(ngModel)]='allEpType' class="custom-control-input" name="allEmpTypee">
                                  <label class="custom-control-label" for="allEmpTypee">Select All</label>
                                </div>
                              </li>
                              <li class="list-group-item" *ngFor='let i of employmentType'>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [(ngModel)]='i.empTY'
                                    data-md-icheck id="{{i.employmentType}}" value="{{i.employmentTypeid}}"
                                    (ngModelChange)='valueEmpType($event,i)' name="empTypee">
                                  <label class="custom-control-label"
                                    for="{{i.employmentType}}">{{i.employmentType}}</label>
                                </div>
                              </li>
                            </ul>
                          </div> -->
                          <!-- Emp Type list end-->
                        </div>
                      </div>
                    </div>
                  </div>
      <div class="tab-pane fade" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab">
        <div class="row">
          <div class="col-12">
            <div class="tab-content" id="nav-tabContent">
              <!-- Select Employee:: START -->
              <!-- <div class="tab-pane" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab"> -->
                <div class="form-group col-md-6">
                  <label>Employee Name <span style="color: red">*</span></label>
                 <ng-multiselect-dropdown [placeholder]="'Select Employee'" [data]="Employeedata" required
                  [(ngModel)]="model.selectedEmp" [ngModelOptions]="{standalone: true}"
                  #selectedLocation='ngModel' name='selectedLoco'
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"  (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)"
                 requried >
                </ng-multiselect-dropdown>
                </div>
              <!-- </div> -->
              <!-- /Select Employee::END -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="float-right">
    <button type="button" class="btn ml-2 btn-sm btn-success" *ngIf="report_wise=='customise'" [disabled]='reportName == "Select"' (click)='onCreateReport()'>Generate Report</button>
    <button type="button" class="btn ml-2 btn-sm btn-success" *ngIf="report_wise=='employee_wise'" [disabled]='reportName == "Select"' (click)='GenerateEmployeeWiseReport()'>Generate Employee Wise Report</button>
  </div>
</form>


