<div class="bhoechie-tab-content  white-bg" id="compmaster">
    <div class="row justify-content-center align-items-center">
        <div class="mastersheading">
            <h3>
                HOLIDAY<span class="boldmaster"> MASTER </span>
            </h3>
        </div>
        <div class="container-fluid h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">
                    <!-- <h2>Business Master</h2> -->
                    <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>

                        <div class="form-group">
                            <label>Holiday Name <span style="color: red">*</span></label>
                            <input autocomplete="off" type="text" class="form-control form-control-sm"
                                name="holiDayName" [(ngModel)]="holiDayName"
                                (ngModelChange)="errorDupicateHolidayName($event)" maxlength="100"
                                #holiDayNames="ngModel" required />
                            <div class="help-block" *ngIf="holiDayNames.errors?.required && holiDayNames.touched"> <small
                                    style="color: red">Holiday
                                    Name is required</small></div>
                            <!-- <div class="help-block" *ngIf="flagHoli"><small style="color: red">Already Exist </small>
                            </div> -->
                            <!-- <div class="help-block" *ngIf="holiDayName.errors?.pattern && holiDayName.touched"><small
                                    style="color: red">Special Character not allowed </small> </div> -->
                        </div>

                        <div class="form-group">
                            <label>Holiday Description</label>
                            <input type="textarea" class="form-control form-control-sm" maxlength="250"
                                name="hoilDayDesc" [(ngModel)]="hoilDayDesc"
                                #hoilDayDescs="ngModel" />
                        </div>


                        <div class="form-group">
                            <p>Type Of Holiday <span style="color: red">*</span></p>

                            <input type="radio" value="F" id="radio1" name="typeOfHoliDay"
                                [(ngModel)]='typeOfHoliDay' #typeOfHoliDays="ngModel">
                            <label for="radio1"> Full Day</label>

                            <input type="radio" value="H" id="radio2" name="typeOfHoliDay"
                                [(ngModel)]='typeOfHoliDay' #typeOfHoliDays="ngModel">
                            <label for="radio2" (ngModelChange)="valueChange($event)">Half Day</label>
                        </div>

                        <div class="form-group" *ngIf='typeOfHoliDay.value == "H"'>
                            <p>Type Of Half Day <span style="color: red">*</span></p>
                            <input type="radio" value="F" id="radio3" name="typeOfHfalfDay"
                                [(ngModel)]='typeOfHalfDay' #typeOfHalfDays="ngModel" required>
                            <label for="radio3">First Half</label>

                            <input type="radio" value="S" id='radio4' name="typeOfHalfDay"
                                [(ngModel)]='typeOfHalfDay' #typeOfHalfDays="ngModel">
                            <label for="radio4">Second Half</label>
                        </div>

                        <div class="form-group">
                            <label>Holiday Type <span style="color: red">*</span></label>
                            <select name="holidayType" form="holidayType" class="form-control mb-4 form-control-sm"
                                #holidayTypes='ngModel' [(ngModel)]='holidayType'
                                (ngModelChange)=holidaytypechange($event) required>
                                <option value=""> Select Holiday Type</option>
                                <option value="c">Compulsary</option>
                                <option value="o">Optional</option>
                            </select>
                            <div style='margin-top: -23px' class="help-block"
                                *ngIf="holidayTypes.errors?.required && holidayTypes.touched"> <small
                                    style="color: red">Holiday
                                    Type is required</small></div>
                        </div>
                        <div class="form-group">
                            <label>Start Date <span style="color: red">*</span></label>
                            <input type="date" class="form-control form-control-sm" name="startDate"
                                [ngModel]="startDate | date:'yyyy-MM-dd'" #startDates="ngModel"
                                required (ngModelChange)="Startvalue($event);errorDate($event)"
                                min="{{minDate | date:'yyyy-MM-dd'}}" />
                            <div class="help-block" *ngIf="errflagEndDate && errflagStartDate"><small
                                    style="color: red">Select Start Date Already exit </small>
                            </div>

                            <div class="help-block" *ngIf="startDates.errors?.required && startDates.touched"> <small
                                    style="color: red">Start Date is required</small></div>

                        </div>

                        <div class="form-group">
                            <label>End Date</label>
                            <input type="date" class="form-control form-control-sm" name="endtDate"
                                [ngModel]="endtDate | date:'yyyy-MM-dd'" #endtDates="ngModel"
                                (ngModelChange)="Endvalue($event);errorDate($event)"
                                min="{{minDate | date:'yyyy-MM-dd'}}" [disabled]='holidaytypeflag' />
                            <div class="help-block" *ngIf="errflagEndDate && errflagStartDate"><small
                                    style="color: red">Select End Date Already exit </small>
                            </div>
                            <div class="help-block" *ngIf="endtDates.errors?.required && endtDates.touched"><small
                                    style="color: red">End
                                    Date is required</small></div>
                        </div>
                        <div class="form-group" *ngIf='isedit == false'>
                            <button class="btn btn-primary" type="submit"
                                [disabled]="(!f.valid || errflagEndDate || flagHoli || hiddbut )">Save</button>
                            &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>

                        </div>
                        <div class="form-group" *ngIf='isedit == true'>
                            <button class="btn btn-primary" type="submit"
                                [disabled]="(f.invalid || errflagEndDate || flagHoli || hiddbut )">Update</button>
                            &nbsp; <button class="btn btn-primary" type="reset" (click)="cancel()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div *ngIf='dataTableFlag'>
                <table id="CompTable" class="table table-striped table-bordered" style="width:100%">
                    <thead class="theadblue">
                        <tr>
                            <th style="width:40%">
                                Name
                            </th>
                            <th style="width:25%" class="hide-arw">
                                Holiday Type
                            </th>
                            <th style="width:25%" class="hide-arw">
                                Start Date
                            </th>
                            <th style="width:25%" class="hide-arw">
                                End Date
                            </th>

                            <th style="width:25%" class="hide-arw">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of allHolidayList">
                            <td>{{item[0].holiDayName}}</td>
                            <td>{{item[0].holidayType === 'c' ? 'Compulsary' : 'Optional'}}</td>
                            <td>{{item[0].startDate | date : 'dd-MMM-yyy'}}</td>
                            <td style="width:20%">{{item[0].endtDate | date : 'dd-MMM-yyy'}}</td>

                            <td><i class="fa fa-pencil" aria-hidden="true" (click)='edit(item[0])'></i>
                                <i class="fa fa-trash" (click)='dltObj(item[0])' data-toggle="modal"
                                    data-target="#AreYouSuredlt" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AreYouSuredlt">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Are You Sure..Want to Delete..??</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal"
                        class="btn btn-success">Yes</button><br>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
