<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
        <div class="list-group">

            <a routerLink="/layout/shift/shiftgroupmaster" [routerLinkActive]="'active'" data-toggle="tab" class="list-group-item  text-center">
              <h4 class="fa fa-building"></h4>
              <br/>Shift Group Master
            </a>

            <a routerLink="/layout/shift/shiftmaster" [routerLinkActive]="'active'" data-toggle="tab" class="list-group-item  text-center">
              <h4 class="fa fa-building"></h4>
              <br/>Shift Master
            </a>

            <!-- <a routerLink="/layout/shift/shiftpattern" [routerLinkActive]="'active'" data-toggle="tab" class="list-group-item  text-center">
              <h4 class="fa fa-building"></h4>
              <br/>Shift Pattern Master
            </a> -->
          
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">
     
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</div>