<div class="container-fluid">
    <div class="mainwrap">
      <div class="row">

          <div class="col-md-12">
              <div class="app-page-title">
                <div class="page-title-wrapper">
                  <div class="page-title-heading">
                    <div class="page-title-icon"><i class="fa fa-upload bg-happy-itmeo" aria-hidden="true"></i></div>
                    <div>Shift Upload <div class="page-title-subheading"> Here you can upload shifts </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        <div class="col-lg-12 col-md-12">
          <div class="white-bg">
  
            <div class="row">
              <div class="col-md-3">
                <div class="tab-bg">
                  <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="pill" href="#persnl">Download Shift</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" data-toggle="pill"  *ngIf='!hideShiftTab'>Upload Shift</a> -->
                      <a class="nav-link" data-toggle="pill"  *ngIf='hideShiftTab' href="#other">Upload Shift</a>
                    </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content" style="overflow-y: scroll; max-height: 600px;">
  
                    <div class="tab-pane container active" id="persnl">
                      <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" >
                        <!-- <label class="customcheck" formArrayName="orders"
                          *ngFor="let order of form.controls.orders.controls; let i = index">
                          <div *ngIf="orders[i].title!=null"><br></div>
                          <b class="options-heading" style="font-size: 18px">{{orders[i].title}}</b>
                          <div *ngIf="orders[i].title!=null"><br></div>
                          <div *ngIf="orders[i].id!=null">
                            <input type="checkbox" [formControlName]="i" (change)="onChnageFun()">
                            <span class="checkmark" aria-checked="checked"></span>
                            {{orders[i].name}}</div>
  
                        </label> -->
  
                        <div>
                          <label>From Date</label><span style="color: red">*</span>
                          <input type="date" class="form-control"  min="{{model.fromDate | date:'yyyy-MM-dd'}}" #fromDate='ngModel' name="fromDate" [ngModel]="model.fromDate | date:'yyyy-MM-dd'" (ngModelChange)="startDateSelect($event)" 
                          required /> 

                        </div><br>
                        
                        <div>
                           <label>To Date</label> <span style="color: red">*</span>
                              <input type="date" min="{{model.fromDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}" class="form-control" #toDate='ngModel' name="toDate" [ngModel]="model.toDate | date:'yyyy-MM-dd'" (ngModelChange)="endDateSelect($event)"
                              required />
                        </div><br>
  
                        <button type="button" [disabled]='f.invalid' class="btn btn-outline-info btn-sm"
                    (click)="submit()" style="margin-left:35px">Download Template <i class="fa fa-arrow-circle-o-down"
                       aria-hidden="true"></i></button> <!--[disabled]="!form.valid" -->
                             
                      </form>
                    </div>
                    
                    
  
                    <div class="tab-pane container fade" id="other">
                      <div class="temp-list">
                        <br>
                        <!-- <h5 class="options-heading">Saved Templates</h5> -->
                        <div >
                          <div class="drop">
                            <div class="cont">
                              <i class="fa fa-cloud-upload"></i>
                              <div class="tit">
                                Drag & Drop
                              </div>
                              <div class="desc">
                                Excel file to upload
                              </div>
                              <div class="browse">
                                Click here to browse
                              </div>
                            </div>
                            <output id="list"></output><input multiple="true" type="file" id="File1" (change)="onFileChanged($event)" />
                          </div><br>
                          <P style="color: red" *ngIf='hidebutton'> Please don't select PDF format file </P>
                          <P  *ngIf='shoButtonflag && !hidebutton'> {{showFileName}} </P>
                          <br>
                          <button type="button" class="btn btn-outline-info btn-sm" [disabled]='!shoButtonflag || hidebutton'   (click)="handleFile()"  style="margin-left: 67px">Upload Shift <i
                              class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                   
                </div>
              </div>
              <div class="col-md-9">
                <div class="col-md-12">

                  <table id="emplisttable" class="table table-bordered">
                    <thead class="thead-dark2">
                      <tr>
                        <th>
                          srNo
                        </th>
                        <th>
                          Shift Name
                        </th>
                        <th>
                          Shift Abbrivation
                        </th>                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of abbrivationsResDtoList; let i = index">
                        <td>
                          {{i+1}}
                        </td>
                        <td>
                          {{item.shiftName}}
                        </td>
                        <td>
                          {{item.shortName}}
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <div class="sidecontent">
                  <div class="table-responsive">
                    <div style="height: 465px;overflow: auto;">
                    <table id="emplisttable" class="table table-bordered">
                      <thead class="thead-dark2">
                        <tr>
                          <th>
                            srNo
                          </th>
                          <th>
                            empId
                          </th>
                          <!-- <th>
                            empOfficialId
                          </th> -->
                          <th *ngFor="let item of daysData">
                            {{item}}
                          </th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of shitDataList; let i = index">
                          <td>
                            {{i+1}}
                          </td>
                          <td>
                            {{item.empId}}
                          </td>
                          <!-- <td>
                            {{item.empOfficialId}}
                          </td> -->
                          <td *ngIf="hasProp(item, 'one')">
                            <p [hidden]="item.one==null">{{item.one}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'two')">
                            <p [hidden]="item.two==null">{{item.two}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'three')">
                            <p [hidden]="item.three==null">{{item.three}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'four')">
                            <p [hidden]="item.four==null">{{item.four}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'five')">
                            <p [hidden]="item.five==null">{{item.five}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'six')">
                            <p [hidden]="item.six==null">{{item.six}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'seven')">
                            <p [hidden]="item.seven==null">{{item.seven}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'eight')">
                            <p [hidden]="item.eight==null">{{item.eight}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'nine')">
                            <p [hidden]="item.nine==null">{{item.nine}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'ten')">
                            <p [hidden]="item.ten==null">{{item.ten}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'eleven')">
                            <p [hidden]="item.eleven==null">{{item.eleven}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'twelve')">
                            <p [hidden]="item.twelve==null">{{item.twelve}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'thirteen')">
                            <p [hidden]="item.thirteen==null">{{item.thirteen}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'fourteen')">
                            <p [hidden]="item.fourteen==null">{{item.fourteen}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'fifteen')">
                            <p [hidden]="item.fifteen==null">{{item.fifteen}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'sixteen')">
                            <p [hidden]="item.sixteen==null">{{item.sixteen}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'seventeen')">
                            <p [hidden]="item.seventeen==null">{{item.seventeen}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'eighteen')">
                            <p [hidden]="item.eighteen==null">{{item.eighteen}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'nineteen')">
                            <p [hidden]="item.nineteen==null">{{item.nineteen}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'twenty')">
                            <p [hidden]="item.twenty==null">{{item.twenty}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'twentyone')">
                            <p [hidden]="item.twentyone==null">{{item.twentyone}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'twentytwo')">
                            <p [hidden]="item.twentytwo==null">{{item.twentytwo}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'twentythree')">
                            <p  [hidden]="item.twentythree==null">{{item.twentythree}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'twentyfour')">
                            <p [hidden]="item.twentyfour==null">{{item.twentyfour}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'twentyfive')">
                            <p [hidden]="item.twentyfive==null">{{item.twentyfive}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'twentysix')">
                            <p [hidden]="item.twentysix==null">{{item.twentysix}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'twentyseven')">
                            <p [hidden]="item.twentyseven==null">{{item.twentyseven}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'twentyeight')">
                            <p [hidden]="item.twentyeight==null">{{item.twentyeight}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'twentynine')">
                            <p [hidden]="item.twentynine==null">{{item.twentynine}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'thirty')">
                            <p [hidden]="item.thirty==null">{{item.thirty}}</p>
                          </td>
                          <td *ngIf="hasProp(item, 'thirtyone')">
                            <p [hidden]="item.thirtyone==null">{{item.thirtyone}}</p>
                          </td>
  
  
                        </tr>
  
                      </tbody>
                    </table>
                    </div>
                  </div>
  
                  
  
                </div>
  
                
  
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="AreYouSure">
    <div class="modal-dialog" style="margin-top: 100px;">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Previous shifts can not updated because month is locked.. You Want To Proceed...??</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="handleFile()" data-dismiss="modal" class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>
  
      </div>
    </div>
  </div>