<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-warning float-right m-3" (click)="exportTableToExcel('employee_muster')"><i
          class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
      <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i
          class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
    </div>
  </div>
  <div>
    <div id="content" class="rep-bg">
      <div class="row">
        <div class="col-md-6">
          <br>
          <h6 class="attrep">
            <strong class="blu">
              <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Muster Report </strong> &nbsp;
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="qwe">
            <h6><span class="blu"><strong>Abbreviation:-</strong></span>HF : Half day, WO: Weekly Off, HO: Holiday , CL : Casual Leave , SL : Sick Leave , PL : Previlege Leave, OPF : Out Punch Forgot </h6>
          </div>
        </div>
        <div class="col-md-12">
          <div class="qwe">
            <h6><span class="blu"><strong>Muster Report From Date: </strong></span>{{fromDate | date
              :'dd/MMM/yyyy'}}<span class="blu"><strong> To Date:</strong></span> {{toDate | date :'dd/MMM/yyyy'}}</h6>
          </div>
        </div>
        <div style="overflow-x: auto; overflow-y: hidden;" id="aa" class="col-md-12">
          <table id="employee_muster" class="table table-space table-borderless">
            <thead>
              <tr>
                <th [attr.colspan]="table_length">{{compName}}</th>
              </tr>
              <tr>
                <th [attr.colspan]="table_length">Muster Report</th>
              </tr>
              <tr>
                <th [attr.colspan]="table_length">From Date : {{fromDate | date :'dd/MMM/yyyy'}} To Date : {{toDate | date
                  :'dd/MMM/yyyy'}}</th>
              </tr>
              <tr>
                <th  [attr.colspan]="table_length">Report Date: {{report_time}}</th>
              </tr>
              <tr class="table-secondary">
                <th style="width:3%;">Sr.No</th>
                <th style="width:3%;">Employee ID</th>
                <th style="width:3%;">Employee Name</th>
                <!-- <th style="width:3%;">Contractor Firm Name</th> -->
                <th style="width:3%;">Department</th>
                <th style="width:3%;">Designation</th>
                <th *ngFor="let head of tablehead; let l = index">{{head}}</th>
              </tr>
            </thead>
            <tbody style="text-align: center !important;"
              *ngFor="let report of muster_data; let i = index;let last = last;">
              <tr>
                <td *ngIf='report.reportEmpNameAndIdResDto'>
                  {{i+1}}
                </td>
                <td *ngIf='report.reportEmpNameAndIdResDto'>
                  {{report.reportEmpNameAndIdResDto.empId}}
                </td>
                <td *ngIf='report.reportEmpNameAndIdResDto'>
                  {{report.reportEmpNameAndIdResDto.fullName}}
                  {{report.reportEmpNameAndIdResDto.lastName}}
                </td>
                <!-- <td *ngIf='report.reportEmpNameAndIdResDto'>
                  {{report.reportEmpNameAndIdResDto.contractorFirmName}}
                </td> -->
                <td *ngIf='report.reportEmpNameAndIdResDto'>
                  {{report.reportEmpNameAndIdResDto.deptName}}
                </td>
                <td *ngIf='report.reportEmpNameAndIdResDto'>
                  {{report.reportEmpNameAndIdResDto.descName}}
                </td>
                <td *ngFor="let it of report.musterReportDataDetailsResDtoList; let i = index">
                  {{it.statusOfDay=="WO" ? "WO" :it.attendanceStatus}}
                  <!-- {{it.requestDetails ? it.requestDetails : it.attendanceStatus}} -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>