<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-user-times bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Sepration Settings <div class="page-title-subheading"> Here you can set Resignation reasons, Exit
                  interview questions & Retirement age </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">


          <div class="row">
            <div class="col-md-8">
              <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0 mt-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Resignation Reasons
                      </button>
                    </h5>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <label for="addreason">Add Reason</label>
                      <div class="input-group col-6 ">
                        <input title="Add" type="text" class="form-control" id="addreason"
                          [(ngModel)]="resignationModel.resignationReason">
                        <div class="input-group-append">
                          <button title="Add" class="btn btn-success" [disabled]="!resignationModel.resignationReason"
                            type="submit" (click)="submitResignation(resignationModel)"><i class="fa fa-plus"
                              aria-hidden="true"></i></button>
                        </div>
                      </div>


                      <table class="table mt-3">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Reason Name</th>
                            <th scope="col" class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let itemresignation of Resignationdata; let i= index">
                            <!-- <th scope="row">1</th> -->
                            <td>{{i+1}}</td>
                            <td>{{itemresignation.resignationReason}}</td>
                            <td class="text-center"><i class="fa fa-pencil" aria-hidden="true"
                                (click)="editresignation(itemresignation)"></i>
                                <i class="fa fa-trash" aria-hidden="true"
                                (click)="getSeprData(itemresignation)" data-toggle="modal" data-target="#AreYouSuredltcOff"></i></td>
                          </tr>
                      
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0 mt-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Exit Interview Questions
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">

                      <div class="form-group">
                        <label for="addquestion">Add Question</label>
                        <div class="input-group col-6">
                          <input type="text" class="form-control form-control-sm"
                            [(ngModel)]="quetioModel.exitQuestions">
                   
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="addquestion">Answer Type</label>
                        <div class="input-group col-6">
                          <select class="form-control form-control-sm" id="selecttype"
                            [(ngModel)]="quetioModel.ansType">
                            <option value="">Select</option>
                            <option value="Text">Text Box</option>
                            <option value="Yes/No">Yes/No</option>
                          </select>
                        </div>
                      </div>
                

                      <div class="row">
                        <div class="form-group col-md-6">
                          <button [disabled]="!(quetioModel.ansType && quetioModel.exitQuestions)"
                            class="btn float-right btn-success" (click)="submitQuetion(quetioModel)">Add</button>
                        </div>
                      </div>

                      <table class="table mt-3">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Question</th>
                            <th scope="col" class="text-center">Answer Type</th>
                            <th scope="col" class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of Quetiondata; let ind = index">
                            <td scope="row">{{ind + 1}}</td>
                            <td>{{i.exitQuestions}}</td>
                            <td class="text-center">
                              <div class="form-group">
                         

                                {{i.ansType}}
                              </div>
                            </td>
                            <td class="text-center">
                              <i class="fa fa-pencil" aria-hidden="true"
                                (click)="editQuetion(i)"></i>
                                <i class="fa fa-trash" aria-hidden="true"
                                (click)="getQueData(i)" data-toggle="modal" data-target="#AreYouSuredltExitQue" ></i></td>
                          </tr>

                        </tbody>
                      </table>
                      
                          
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0 mt-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Retirement Policy
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      <label for="age">Age</label>
                      <div class="input-group col-6 ">
                        <input type="text" class="form-control" id="age" [(ngModel)]="retireMentModel.retirementAge">

                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <button [disabled]="!retireMentModel.retirementAge" class="btn float-right btn-success"
                          (click)="submitRetirement(retireMentModel)">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="AreYouSuredltcOff">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" (click)='dltSeprEvent()' data-dismiss="modal"
                  class="btn btn-success">Yes</button><br>
              <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          </div>

      </div>
  </div>
</div>


<div class="modal fade" id="AreYouSuredltExitQue">
    <div class="modal-dialog">
        <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
  
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" (click)='dltQueEvent()' data-dismiss="modal"
                    class="btn btn-success">Yes</button><br>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
  
        </div>
    </div>
  </div>