.table .thead-dark th {
    color: #fff !important;
    background-color: #212529 !important;
    border-color: #32383e !important;
}

.fa-pencil{
    color:green;
}
.fa-trash{
  padding-left:1rem;
  color:red;
}
td .fa{
  cursor: pointer;
}