<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-user-times bg-happy-itmeo" aria-hidden="true"></i></div>
              <div> Add Staff <div class="page-title-subheading"> Here Admin Can Add Emp Staff </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">

          <div class="row">
            <div class="col-md-12">
              <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

                <li class="nav-item">
                  <a class="nav-link active" id="extra-apply-tab" data-toggle="pill" href="#extra-apply" role="tab"
                    aria-controls="extra-apply" aria-selected="true">Add staff</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="extra-list-tab" data-toggle="pill" href="#extra-list" role="tab"
                    aria-controls="extra-list" aria-selected="false">List</a>
                </li>

              </ul>
            </div>
          </div>


          <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="extra-apply" role="tabpanel" aria-labelledby="extra-apply-tab">

              <div class="row justify-content-center mt-3">
                <div class="col-md-6">
                  <form #addStaff="ngForm">
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label for="colFormLabelSm">Employee ID<span style="color: red">
                            *</span></label>
                        <input type="text" class="form-control form-control-sm" id="EmployeeEmpId" name="EmployeeEmpId"
                          [(ngModel)]="EmployeeEmpId" #labourIds="ngModel" required>
                        <div *ngIf="labourIds.invalid && (labourIds.dirty || labourIds.touched)">
                          <div *ngIf="labourIds.errors.required"><small style="color: red;"> EmployeeId is
                              Required</small></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="firstName">First Name <span _ngcontent-c61="" style="color: red">*</span></label>
                        <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control form-control-sm"
                          #firstname="ngModel" required maxlength="20"
                          oninput="this.value = this.value.replace(/[^A-Za-z]/g, '');">
                        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                          <div *ngIf="firstname.errors.required"><small style="color: red;">First Name is
                              Required</small></div>
                        </div>
                      </div>




                    </div>
                    <div class="form-group row">

                      <div class="col-sm-6">
                        <label for="lastName">Last Name <span _ngcontent-c61="" style="color: red">*</span></label>
                        <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control form-control-sm"
                          #lastname="ngModel" required maxlength="20"
                          oninput="this.value = this.value.replace(/[^A-Za-z]/g, '');">
                        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                          <div *ngIf="lastname.errors.required"><small style="color: red;">Last Name is Required</small>
                          </div>
                        </div>
                      </div>


                      <!-- <div class="col-sm-6">
                        <label> Date Of Birth <span _ngcontent-c61="" style="color: red"> *</span></label>
                        <input
                          type="date"
                          class="form-control form-control-sm"
                          id="dateOfBirth"
                          name="dateOfBirth"
                          [(ngModel)]="dateOfBirth"
                          #dateOfBirths="ngModel"
                          required
                          [max]="maxDate"
                          [min]="minDate"
                        >
                        <div *ngIf="dateOfBirths.invalid && (dateOfBirths.dirty || dateOfBirths.touched)">
                          <div *ngIf="dateOfBirths.errors.required">
                            <small style="color: red;">Date of Birth is Required</small>
                          </div>
                          <div *ngIf="dateOfBirths.errors.dateOfBirthInvalid">
                            <small style="color: red;">Date of Birth must be between January 1, 1930 and 18 years ago.</small>
                          </div>
                        </div>
                      </div> -->


                      <div class="col-sm-6">


                        <label for="colFormLabelSm1">Department <span style="color: red">
                            *</span></label>
                        <select class="form-control form-control-sm" id="deptId" name="deptId" required
                          [(ngModel)]="deptId" #dept_ids="ngModel" placeholder="col-form-label-sm">
                          <option hidden [value]="selectUndefinedOptionValue">Select Department</option>
                          <option *ngFor="let item of getallDepartment" value="{{item.deptId}}">
                            {{item.departmentName}}</option>


                        </select>
                        <div *ngIf="dept_ids.invalid && (dept_ids.dirty || dept_ids.touched)">
                          <div *ngIf="dept_ids.errors.required"><small style="color: red;"> Department is
                              Required </small></div>


                        </div>
                      </div>









                    </div>
                    <div class="form-group row">
                      <!-- <div class="col-sm-6">

                        <label for="colFormLabelSm2">Gender <span style="color: red">
                            *</span></label>

                        <div class="form-inline">
                          <div class="form-group">

                            <input type="radio" class="form-control form-control-sm" name="gender" [(ngModel)]="gender"
                              value="Male" required checked>
                            <label for="pwd"> Male</label>
                          </div>
                          <div class="form-group">

                            <input type="radio" class="form-control form-control-sm" value="Female" name="gender"
                              [(ngModel)]="gender" required>
                            <label for="pwd"> Female</label>
                          </div>

                        </div>
                      </div> -->

                      <div class="col-sm-6">
                        <label for="colFormLabelSm3">Designation <span style="color: red">
                            *</span></label>
                        <select class="form-control form-control-sm" id="desigId" name="desigId" [(ngModel)]="desigId"
                          #desig_ids="ngModel" required>
                          <option hidden [value]="selectUndefinedOptionValue">Select Designation</option>
                          <option *ngFor="let item of DesignationList" value="{{item.desigId}}">
                            {{item.desigName}}</option>
                        </select>
                        <div *ngIf="desig_ids.invalid && (desig_ids.dirty || desig_ids.touched)">
                          <div *ngIf="desig_ids.errors.required"><small style="color:red;"> Designation is
                              Required</small></div>
                        </div>
                      </div>
                      <div class="col-md-6">

                        <label for="CompanyID">Company Name<span style="color: red">*</span></label>
                        <select class="form-control form-control-sm mb-4" name="compId" [(ngModel)]="compId" required
                          #CompanyID1="ngModel">
                          <option hidden [value]="selectUndefinedOptionValue">Company Name</option>
                          <option value="{{company.compId}}" *ngFor="let company of companydata;">
                            {{company.compName}}</option>
                        </select>
                        <div class="help-block" style="margin-top:-23px"
                          *ngIf="CompanyID1.errors?.required && CompanyID1.touched"><small style="color: red">Company
                            Name Required</small></div>

                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6">


                        <label> Email Id <span style="color: red"> *</span></label>
                        <input type="text" class="form-control form-control-sm" maxlength="50" id="emailId"
                          name="emailId" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="emailId"
                          required #email_ids="ngModel" />
                        <div class="help-block" *ngIf="email_ids.errors?.pattern && email_ids.touched"> <small
                            style="color: red">Please enter valid Email</small> </div>

                        <div class="help-block" *ngIf="email_ids.errors?.required && email_ids.touched"> <small
                            style="color: red">Email id is Required</small> </div>

                      </div>
                      <div class="col-md-6">
                        <label for="firstNames">Contact Number <span style="color: red"> *</span></label>
                        <input type="text" [(ngModel)]="mobileNo" name="mobileNo" class="form-control form-control-sm"
                          #mobileNos="ngModel" required pattern="^\d{10}$">
                        <div *ngIf="mobileNos.invalid && (mobileNos.dirty || mobileNos.touched)">
                          <div *ngIf="mobileNos.errors.required"><small style="color:red;">Contact Number is
                              Required</small></div>
                          <div *ngIf="mobileNos.errors.pattern">
                            <small style="color:red;">Please enter exactly 10 digits (0-9) without letters or special
                              symbols.</small>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-6">

                        <label for="rolename">Role Name <span style="color: red">*</span></label>
                        <select class="form-control form-control-sm" id="roleId" name="roleId" required
                          [(ngModel)]="roleId" #manpowerRoleRequestIds="ngModel" (change)="getRoleids($event)">
                          <option hidden [value]="selectUndefinedOptionValue">Role Name</option>
                          <option *ngFor="let item of alldataofDropDown?.manPowerRequestRoleList"
                            value="{{item.roleId}}">{{item.roleName}}</option>

                        </select>
                        <div
                          *ngIf="manpowerRoleRequestIds.invalid && (manpowerRoleRequestIds.dirty || manpowerRoleRequestIds.touched)">
                          <div *ngIf="manpowerRoleRequestIds.errors.required" style="color:red"><small
                              style="color: red"> Role Name is Required</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">

                        <label for="CompanyIDs">Location<span style="color: red">*</span></label>
                        <select class="form-control form-control-sm mb-4" name="locationId" [(ngModel)]="locationId"
                          required #CompanyIDs="ngModel">
                          <option hidden [value]="selectUndefinedOptionValue">Location Name</option>
                          <option value="{{location.locationId}}" *ngFor="let location of locationMastersLis;">
                            {{location.locationName}}</option>
                        </select>
                        <div class="help-block" style="margin-top:-23px"
                          *ngIf="CompanyIDs.errors?.required && CompanyIDs.touched"><small style="color: red">location
                            Name required</small></div>

                      </div>



                    </div>
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label for="Companyname">Category Name<span style="color: red">*</span></label>
                        <select class="form-control form-control-sm mb-4" name="empCatId" [(ngModel)]="empCatId"
                          required #empCatIds="ngModel">
                          <option hidden [value]="selectUndefinedOptionValue">Category Name</option>
                          <option value="{{categorydata.empCatId}}" *ngFor="let categorydata of EmpTypeData;">
                            {{categorydata.empCatName}}
                          </option>
                        </select>
                        <div class="help-block" style="margin-top:-23px"
                          *ngIf="empCatIds.errors?.required && empCatIds.touched">
                          <small style="color: red">Category Name is Required</small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <label for="empStatus">Status<span style="color: red">*</span></label> <br>
                        <label class="switch mt-2" style="width: 45px; height: 20px; margin-right: 14px;">
                            <input type="checkbox" name="empStatus" [checked]="empStatus" (change)="changevalue($event)">
                            <span class="slider round" id="align-slide"></span>
                        </label>
                        <span *ngIf=' empStatus'>Active</span>
                        <span *ngIf='!empStatus'>Inactive</span>
                    </div>
                    
                    </div>

                    <div>
                      <button class="btn btn-primary" (click)="onSubmitdata()" [disabled]="addStaff.invalid"
                        *ngIf="isedit==false">Save</button>
                      <button class="btn btn-primary" (click)="onUpdate()" [disabled]="addStaff.invalid"
                        *ngIf="isedit==true" style="margin-left: 10px;">Update</button>
                      <button class="btn btn-info" style="margin-left: 10px;" (click)="resetForm()">Reset</button>

                    </div>

                  </form>
                </div>
              </div>
            </div>


            <div class="tab-pane fade" id="extra-list" role="tabpanel" aria-labelledby="extra-list-tab">

              <div class="row justify-content-center">
                <div class="col-md-10">

                  <div>
                    <table id="emptable" class="table table-striped table-bordered" style="width:100%">
                      <thead class="theadblue">
                        <tr>
                          <td style="width: unset !important;">Sr.No</td>

                          <td style="width: unset !important;">Employee Id</td>
                          <td style="width: unset !important;">Name</td>
                          <td style="width: unset !important;">Designation</td>

                          <td style="text-align:center; width: unset !important;">Action</td>

                        </tr>
                      </thead>
                      <tbody>
                        <tr class="tabledata-center" *ngFor="let item of employeeData let s=index">
                          <td>{{s+1}}</td>

                          <td>{{item?.empId}}</td>
                          <td>{{item?.firstName}} {{item?.lastName}}</td>

                          <td>{{item?.designationMaster?.desigName}}</td>


                          <td class="text-center" style="width:10%;">

                            <i class="fa fa-pencil" title="Edit details" aria-hidden="true"
                              (click)="getemployeeById(item)">
                            </i>&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-trash" title="Deactivate this employee" aria-hidden="true">
                            </i>

                          </td>

                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
