<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-upload bg-happy-itmeo" aria-hidden="true"></i></div>
              <div> Bulk Upload <div class="page-title-subheading">Here you can upload bulk data easily in few clicks
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="white-bg min-height-500">
          <div class="col-md-12" [ngClass]="{'onoffdiv': !myVar}">
            <div class="row">
              <div class="col-md-6">

                <div class="sidecontent">
                  <h6>Employee </h6>
                  <a type="button" class="btn btn-outline-info btn-sm" download
                    href="assets/Employee_Data_Final_WorkjoyLite.xlsx">Download Template &nbsp;<i class="fa fa-arrow-circle-o-down"
                      aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="col-md-6" >
                <h6 style="padding-left: 5%;"> Contractor Employee</h6>
                <div class="sidecontent">

                  <a type="button" class="btn btn-outline-info btn-sm" download
                    href="assets/Contractor_Data_Final.xlsx">Download Template&nbsp;<i class="fa fa-arrow-circle-o-down"
                      aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="wrapper mt-4">
                <div class="drop">
                  <div class="cont">
                    <i class="fa fa-cloud-upload"></i>
                    <div class="tit">
                      Drag & Drop
                    </div>
                    <div class="desc">
                      Excel file to upload, or
                    </div>
                    <div class="browse">
                      Click here to browse
                    </div>
                  </div>
                  <!-- <output id="list"></output> -->
                  <input multiple="true" #uploadfile type="file" id="File1" (change)="onFileChanged($event)" />
                </div>
                <p *ngIf='showFileFlag'>{{FileName}}</p>

                <br>
                <button type="button" class="btn btn-outline-info btn-sm" [disabled]="uploadfile.value==''"
                  (click)="handleFile()">Upload Employee <i class="fa fa-arrow-circle-o-down"
                    aria-hidden="true"></i></button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>