<div class="container-fluid">
  <div class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Contractor Register Report</strong> &nbsp;
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10" id="content" style="overflow: scroll;">
        <table id="summary_table" class="table table-space table-borderless">
          <thead>
            <tr>
              <th colspan="15" style="text-align: center;">{{compName}}</th>
            </tr>
            <tr>
              <th colspan="15" style="text-align: center;">Contractor Register Report</th>
            </tr>
            <tr>
              <th colspan="15">Report Date: {{report_time}}</th>
            </tr>
            <tr class="table-secondary">
              <th *ngIf="marked_sr">Sr.No</th>
              <th *ngIf="marked_name">Name Of The Contractor</th>
              <th *ngIf="marked_address">Address Of The Contractor</th>
              <th *ngIf="marked_nature">Nature Of Work</th>
              <th *ngIf="marked_contract_type">Contract Type</th>
              <th *ngIf="marked_period_from">Contractor Period From</th>
              <th *ngIf="marked_period_to">Contractor Period To</th>
              <th *ngIf="marked_manpower">No Of Manpower</th>
              <th *ngIf="marked_licence_from">Labour Licence From</th>
              <th *ngIf="marked_licence_to">Labour Licence Expiry Date</th>
              <th *ngIf="marked_wc">WC Policy Expiry Date</th>
              <th *ngIf="marked_epf">EPF Registration No</th>
              <th *ngIf="marked_esic">ESIC Registration No</th>
              <th *ngIf="marked_gst">GST Registration No</th>
              <th *ngIf="marked_contact">Contact No</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of report_data; let i = index">
              <td *ngIf="marked_sr">{{item.Sr}}</td>
              <td *ngIf="marked_name">{{item.conFirmName}}</td>
              <td *ngIf="marked_address">{{item.conAddress}}</td>
              <td *ngIf="marked_nature">{{item.conSerTypeDesc}}</td>
              <td *ngIf="marked_contract_type">{{item.conSerZTypeName}}</td>
              <td *ngIf="marked_period_from">{{item.startDate}}</td>
              <td *ngIf="marked_period_to">{{item.expDate}}</td>
              <td *ngIf="marked_manpower">{{item.noOfManpwrApproved}}</td>
              <td *ngIf="marked_licence_from">{{TimestamptoDate(item.labLicStartDate)}}</td>
              <td *ngIf="marked_licence_to">{{TimestamptoDate(item.labLicExpDate)}}</td>
              <td *ngIf="marked_wc">{{TimestamptoDate(item.wcExpDate)}}</td>
              <td *ngIf="marked_epf">{{item.epfRegNo}}</td>
              <td *ngIf="marked_esic">{{item.esicNumber}}</td>
              <td *ngIf="marked_gst">{{item.gstRegNo}}</td>
              <td *ngIf="marked_contact">{{item.conContactNo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
        <div class="columnshead">
          <h6>Select Columns:</h6>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_sr" data-md-icheck (change)="toggle_sr($event)" />
            Sr.No
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_name" data-md-icheck (change)="toggle_name($event)" />
            Name Of The Contractor
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_address" data-md-icheck (change)="toggle_address($event)" />
            Address Of The Contractor
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_nature" data-md-icheck (change)="toggle_nature($event)" />
            Nature Of Work
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_contract_type" data-md-icheck
              (change)="toggle_contract_type($event)" />
            Contract Type
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_period_from" data-md-icheck
              (change)="toggle_period_from($event)" />
            Contractor Period From
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_period_to" data-md-icheck (change)="toggle_period_to($event)" />
            Contractor Period To
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_manpower" data-md-icheck (change)="toggle_manpower($event)" />
            No Of Manpower
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_licence_from" data-md-icheck
              (change)="toggle_licence_from($event)" />
            Labour Licence From
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_licence_to" data-md-icheck
              (change)="toggle_licence_to($event)" />
            Labour Licence Expiry Date
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_wc" data-md-icheck (change)="toggle_wc($event)" />
            WC Policy Expiry Date
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_epf" data-md-icheck (change)="toggle_epf($event)" />
            EPF Registration No
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_esic" data-md-icheck (change)="toggle_esic($event)" />
            ESIC Registration No
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_gst" data-md-icheck (change)="toggle_gst($event)" />
            GST Registration No
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_contact" data-md-icheck (change)="toggle_contact($event)" />
            Contact No
            <span class="checkmark"></span>
          </label>
          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i class="fa fa-file-pdf-o"
            aria-hidden="true"></i> &nbsp;Export Report PDF</button>
        <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX('summary_table')"><i
            class="fa fa-file-excel-o" aria-hidden="true"></i>Export Report Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>