<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <div *ngIf="whoCliked=='EMP'" class="edit">
                <a [routerLink]="['/layout/emppims/empdetails']" (click)="click()" [queryParams]="{q:'contact'}">Edit
                  Details</a>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="data-title">
                    <h6>Address & Contact</h6>
                  </div>
                </div>
              </div>


              <!-- <div class="row">
                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Current Address</h6>
                        <p>{{currentAddress}}</p>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>permanent Address </h6>
                        <p>{{permanentAddress}}</p>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Official Contact</h6>
                        <p>{{officialContactNumber}}</p>
                      </div>
                    </div>
                  </div>
                </div> -->

              <div class="row">
                <div class="col-md-4">
                  <div class="empdetails">
                    <div>
                      <label><b>Current Address</b></label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div *ngIf="buildingNoCurrent" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Current Builing No.</h6>
                      <p>{{buildingNoCurrent}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="socityOrLaneCurrent" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Society or Lane</h6>
                      <p>{{socityOrLaneCurrent}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="areaCurrent" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Current Area</h6>
                      <p>{{areaCurrent}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="cityorTahshilCurrent" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>City/Taluka</h6>
                      <p>{{cityorTahshilCurrent}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="stateCurrent" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>State </h6>
                      <p>{{stateCurrent}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="pincodeCurrent" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Pincode</h6>
                      <p>{{pincodeCurrent}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- this.contactModel.buildingNoPermant = this.contactModel.buildingNoCurrent;
                this.contactModel.socityOrLanePermant = this.contactModel.socityOrLaneCurrent;
                this.contactModel.areaPermant = this.contactModel.areaCurrent;
                this.contactModel.cityOrTalukaPermant = this.contactModel.cityorTahshilCurrent;
                this.contactModel.statePermant = this.contactModel.stateCurrent;
                this.contactModel.pinCodePermant = this.contactModel.pincodeCurrent; -->
              <div class="row">
                <div class="col-md-4">
                  <div class="empdetails">
                    <div>
                      <label><b>permanent Address</b></label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div *ngIf="buildingNoPermant" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>permanent Builing No.</h6>
                      <p>{{buildingNoPermant}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="socityOrLanePermant" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Society or Lane</h6>
                      <p>{{socityOrLanePermant}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="areaPermant" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Permanent Area</h6>
                      <p>{{areaPermant}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="cityOrTalukaPermant" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>City/Taluka</h6>
                      <p>{{cityOrTalukaPermant}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="statePermant" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>State </h6>
                      <p>{{statePermant}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="pinCodePermant" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Pincode</h6>
                      <p>{{pinCodePermant}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Current Address</h6>
                        <p>{{currentAddress}}</p>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>permanent Address </h6>
                        <p>{{permanentAddress}}</p>
                      </div>
                    </div>
                  </div> -->

                <div *ngIf="personalContactNumber" class="col-md-6">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Personal Contact</h6>
                      <p>{{personalContactNumber}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="alternateContactNumber" class="col-md-6">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Alternative Contact</h6>
                      <p>{{alternateContactNumber}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="personalEmailId" class="col-md-6">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Personal Email ID</h6>
                      <p>{{personalEmailId}}</p>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-md-6">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Personal Email ID</h6>
                        <p>{{epersonalEmailId}}</p>
                      </div>
                    </div>
                  </div> -->
              </div>

              <hr>

              <div class="row">
                <div class="col-md-12">
                  <div class="data-title">
                    <h6>Emergency Contact Person Details </h6>
                  </div>
                </div>
              </div>

              <div class="row">
                <div *ngIf="nameOfPerson" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Name Of Person</h6>
                      <p>{{nameOfPerson}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="relation" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Relation</h6>
                      <p>{{relation}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="address" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Address</h6>
                      <p>{{address}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="contactNumber" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Contact Number</h6>
                      <p>{{contactNumber}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="alternatecontactNumber1" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Alternative Contact Number</h6>
                      <p>{{alternatecontactNumber1}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>


              <div class="row">
                <div class="col-md-12">
                  <div class="data-title">
                    <h6>Social Contacts</h6>
                  </div>
                </div>
              </div>

              <div class="row">
                <div *ngIf="skypeId" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Skype ID</h6>
                      <p>{{skypeId}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="whatsAppNumber" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Whatsapp Number</h6>
                      <p>{{whatsAppNumber}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>