<!-- NEW DESIGN START-->
<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-cog bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Leave Configuration <div class="page-title-subheading"> Here you can enter leave configuration
                  details
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">
          <form #f='ngForm' (ngSubmit)='f.form.valid && onSubmit(f)'>
             <div class="row justify-content-end">
              
              <div class="">
                  <button type="button" class="btn btn-outline-primary btn-sm mt-2 pr-3 mb-2" data-toggle="modal"
                    data-target="#myModalLeaveConfig">
                    <span>Configuration List
                    </span>
                  </button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="p-3">
                  <h6><strong>Leave Details</strong></h6>

                  <label>Leave Type <span style="color: red">*</span></label>
                  <div class="form-group input-group mb-3">
                    <!-- <label>Select Leave <span style="color: red">*</span></label>
                    <br> -->

                  <select class="form-control form-control-sm" (ngModelChange)='value($event)' id="exampleFormControlSelect1"
                      name="exampleFormControlSelect1" [(ngModel)]="model.leaveId" required>
                      
                   <option *ngFor="let data of leaveDetailsList" value="{{data.leaveId}}">
                        {{data.leaveCode}}</option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-outline-secondary" (click)="addLeaveModal()" type="button" data-toggle="modal" data-target="#myModaladleave"><i
                          class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>

                  </div>


                  <div class="form-group">
                    <label>Leave Pattern Name <span style="color: red">*</span></label>
                    <input type="text" autocomplete="off" class="form-control form-control-sm" name="patternName"
                      [(ngModel)]="model.patternName" #patternName="ngModel" (keyup)='Lerror()' maxlength="50" required />
                    <div class="help-block" *ngIf="patternName.errors?.required && patternName.touched "> <small style="color: red">Enter
                        Leave Pattern Name</small> </div>
                  </div>
                  <div class="form-group" *ngIf="!leaveflag">
                    <label>Annual Leave Days <span style="color: red">*</span></label>
                    <input type="text"  autocomplete="off" class="form-control form-control-sm"
                      name="annualLeaveDays" [(ngModel)]="model.annualLeaveDays" min="1" maxlength="2" pattern="[0-9]+"
                      #annualLeaveDays="ngModel" required />
                    <div class="help-block" *ngIf="annualLeaveDays.errors?.required && annualLeaveDays.touched ">
                      <small style="color: red">Enter Annual Leave Days</small> </div>
                    <div class="help-block" *ngIf="annualLeaveDays.errors?.pattern && annualLeaveDays.touched && model.annualLeaveDays != ' '">
                      <small style="color: red">Enter valid Annual Leave Days </small> </div>

                    <div class="help-block" *ngIf="model.annualLeaveDays < '1' && model.annualLeaveDays && !annualLeaveDays.errors?.pattern">
                      <small style="color: red">Enter Annual Leave Day Gerater Than One</small> </div>
                  </div>
                  <div class="form-group">
                    <label>Applicable Date <span style="color: red">*</span></label>
                    <input type="date" autocomplete="off" class="form-control form-control-sm" name="applicableDate"
                      [ngModel]="model.applicableDate | date:'yyyy-MM-dd'" (ngModelChange)="applicableDateChanged($event)"
                      #applicableDate="ngModel" required />
                    <div class="help-block" *ngIf="applicableDate.errors?.required && applicableDate.touched"> <small
                        style="color: red">Enter Applicable Date</small> </div>
                  </div>

                  <div class="form-group">
                    <label>Status</label>
                    <br>
                    <label class="switch mt-2">
                      <input type="checkbox" [(ngModel)]="model.status" name="status">
                      <span class="slider round"></span>
                    </label>
                  </div>



                </div>

              </div>

              <div class="col-md-8">
                <div class="p-3 leaveapplibg">
                  <h6><strong>Applicable To</strong></h6>
                  <div class="row justify-content-around">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label> Employee Category <span style="color: red">*</span> </label>
                        <ng-multiselect-dropdown #employeeTypeMasterList='ngModel' [placeholder]="'Select'"
                          [ngModelOptions]="{standalone: true}" [data]="employmentTypeData" (click)="selectClickCategory()"
                          [(ngModel)]="model.employeeTypeMasterList" name='employeeTypeMasterList1'
                          #employeeTypeMasterList='ngModel' [settings]="dropdownSettingsEmployeeCategory" (onSelect)="onItemSelectE($event)"
                          (onSelectAll)="onSelectAllE($event)" (onDeSelect)="OnItemDeSelectE($event)" (onDeSelectAll)="onDeSelectAllE($event)">
                        </ng-multiselect-dropdown>

                        <div class="help-block" *ngIf="model.employeeTypeMasterList.length < '1' && categoryFlag">
                          <small style="color: red"> Select Employee Category </small> </div>
                      </div>

                       <div class="form-group">
                        <label>Sub-Employee Category <span style="color: red">*</span> </label>
                        <ng-multiselect-dropdown #subEmployeeTypeMasterList='ngModel' [placeholder]="'Select'"
                          [ngModelOptions]="{standalone: true}" [data]="subEmpTypeData" (click)="selectClickSubCategory()"
                          [(ngModel)]="model.subEmployeeTypeMasters" name='subEmployeeTypeMasterList'
                          #subEmployeeTypeMasterList='ngModel' [settings]="dropdownSettingsSubEmployeeType">
                        </ng-multiselect-dropdown>

                        <div class="help-block" *ngIf="model.subEmployeeTypeMasters.length < '1' && subCategoryFlag">
                          <small style="color: red"> Select Sub Employee Category </small> </div>
                      </div>

                      <div class="form-group">
                        <label> Employment Type <span style="color: red">*</span> </label>
                        <ng-multiselect-dropdown #employmentTypes='ngModel' [placeholder]="'Select'" [data]="employmentType"
                          (click)="selectClickEmploymentType()" required [(ngModel)]="model.employementTypeName"
                          [ngModelOptions]="{standalone: true}" [settings]="dropdownSettingsEmploymentType">
                        </ng-multiselect-dropdown>
                        <div class="help-block" *ngIf="model.employementTypeName.length < '1' && employmentTypeFlag">
                          <small style="color: red"> Select Employment Type </small> </div>
                      </div>

                      <!-- WL<div class="form-group">
                        <label> Sub-Employment Type <span style="color: red">*</span></label>
                        <ng-multiselect-dropdown #subEmploymentTypes='ngModel' [placeholder]="'Select'" [data]="SubEmploymentType"
                          (click)="selectClickSubEmploymentType()" required [(ngModel)]="model.subEmployementTypeName"
                          [ngModelOptions]="{standalone: true}" [settings]="dropdownSettingsSubEmploymentType">
                        </ng-multiselect-dropdown>

                        <div class="help-block" *ngIf="model.subEmployementTypeName.length < '1' && subEmploymentTypeFlag">
                          <small style="color: red"> Select Sub-Employment Type </small> </div>
                      </div>
                       -->
                      <!-- <div class="form-group">
                        <label> Select OU <span style="color: red">*</span></label>
                        <ng-multiselect-dropdown #subEmploymentTypes='ngModel' [placeholder]="'Select'" [data]="SubEmploymentType"
                          (click)="selectClickSubEmploymentType()" required [(ngModel)]="model.subEmployementTypeName"
                          [ngModelOptions]="{standalone: true}" [settings]="dropdownSettingsSubEmploymentType">
                        </ng-multiselect-dropdown>

                        <div class="help-block" *ngIf="model.subEmployementTypeName.length < '1' && subEmploymentTypeFlag">
                          <small style="color: red"> Select Organition Unit </small> </div>
                      </div> -->
                    </div>
                    <div class="col-md-5">
                      <!-- <div hidden class="form-group">
                        <label> Grade <span style="color: red">*</span></label>
                        <ng-multiselect-dropdown #gradeMasterList='ngModel' [placeholder]="'Select'" [data]="gradeList"
                          (click)="selectClickGrade()" required [(ngModel)]="model.gradeMasterList" [ngModelOptions]="{standalone: true}"
                          [settings]="dropdownSettingsGrade" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                          (onDeSelect)="OnItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </ng-multiselect-dropdown>
                        <div class="help-block" *ngIf="model.gradeMasterList.length < '1' && gradeFlag">
                          <small style="color: red"> Select Grade </small> </div>
                      </div> -->
                      <div class="form-group">
                        <label> Location <span style="color: red">*</span> </label>
                        <ng-multiselect-dropdown #locationMasterList='ngModel' [placeholder]="'Select'" [data]="locationData"
                          (click)="selectClickLocation()" [(ngModel)]="model.locationMasterList" name='locationMasterList'
                          [ngModelOptions]="{standalone: true}" [settings]="dropdownSettingsLocation" (onSelect)="onItemSelectL($event)"
                          (onSelectAll)="onSelectAllL($event)" (onDeSelect)="OnItemDeSelectL($event)" (onDeSelectAll)="onDeSelectAllL($event)">
                        </ng-multiselect-dropdown>

                        <div class="help-block" *ngIf="model.locationMasterList.length < '1' && locationFlag">
                          <small style="color: red"> Select Location </small> </div>
                      </div>
                      <div class="form-group">
                        <label>Applicable Gender<span style="color: red"> *</span> </label>
                        <ng-multiselect-dropdown [placeholder]="'Select'" [data]="GenderList" (click)="selectClickGender()"
                          required [(ngModel)]="model.genderMasterList" [ngModelOptions]="{standalone: true}"
                          #genderMasterList='ngModel' name='genderMasterList' [settings]="dropdownSettingsGender">
                        </ng-multiselect-dropdown>

                        <div class="help-block" *ngIf="model.genderMasterList.length < '1' && genderFlag">
                          <small style="color: red"> Select gender</small> </div>
                      </div>
                      <!-- <div class="form-group">
                        <label> Selcet Department<span style="color: red"> *</span> </label>
                        <ng-multiselect-dropdown [placeholder]="'Select'" [data]="departmentlistdata" 
                          required [(ngModel)]="model.DepartMasterList" [ngModelOptions]="{standalone: true}"
                          #genderMasterList='ngModel' name='genderMasterList' [settings]="dropdownSettingsDepat">
                        </ng-multiselect-dropdown>

                        
                      </div> -->
                    </div>
                  </div>
                </div>

              </div>

            </div>




            <div class="row">
              <div class="col-md-12">
                <ul [ngClass]="themeColor" class="nav nav-pills nav-fill navtop">

                  <li class="nav-item">
                    <a class="nav-link active" id="tab2" href="#considervalitab" data-toggle="tab">Consider
                      Validation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="tab3" href="#commontab" data-toggle="tab">Common</a>
                  </li>
                  <li class="nav-item" hidden>
                    <a class="nav-link" id="tab4" href="#clubbingtab" data-toggle="tab">Clubbing</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link " id="tab1" href="#reinitialisationtab" data-toggle="tab">Reinitialisation</a>
                  </li> -->
                  <li class="nav-item" >
                    <a class="nav-link " id="tab5"  href="#encashmenttab" data-toggle="tab">
                      Carry Forward</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link " id="tab6" href="#carryfwdtab" data-toggle="tab">Carry Forward</a>
                  </li> -->
                  <li class="nav-item" hidden>
                    <a class="nav-link " id="tab7" [hidden]='leaveOrflag' href="#transfertab" data-toggle="tab">Transfer</a>
                  </li>

                   <li class="nav-item">
                    <a class="nav-link " id="tab8"  href="#leavecrdtab" data-toggle="tab">Leave
                      Credit</a>
                  </li> 
                </ul>

                <div class="tab-content">
                  <!--================ First tab ================-->
                  <!-- <div class="tab-pane" role="tabpanel" id="reinitialisationtab">

                    <div class="row justify-content-center">

                      <div class="col-md-4">
                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Re-initialize Balance Every Year</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" data-toggle="collapse" (click)='clearReinitialize()'
                                [(ngModel)]="model.reinitializeBalance" name="reinitializeBalance">
                              <span class="slider round"></span>
                            </label>

                          </div>
                        </div>
                        <div *ngIf="model.reinitializeBalance">
                          <div class="form-group">
                            <label>Number of Days<span style="color: red">*</span></label> <br>
                            <input type="text" pattern="^(?=.*[1-9])\d+(\.50?)?" autocomplete="off"
                              (input)="daysChanged($event)" maxlength="5" min="1" class="form-control inputfields"
                              [(ngModel)]="model.reinitializeBalanceCount" #reinitializeBalanceCount='ngModel'
                              name="reinitializeBalanceCount" required />


                            <div class="help-block"
                              *ngIf="reinitializeBalanceCount.errors?.required && reinitializeBalanceCount.touched">
                              <small style="color: red">Enter Number of Days</small> </div>


                            <div class="help-block"
                              *ngIf="reinitializeBalanceCount.errors?.pattern && (reinitializeBalanceCount.touched || f.invalid ) ">
                              <small style="color: red">Enter valid Number of Days </small>
                            </div>

                          </div>

                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Previous Year Negative Balance Allowed?</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" autocomplete="off" (click)='previousYearNegBal()' maxlength="5"
                                [(ngModel)]="model.previousYearNegBal" name="previousYearNegBal" data-toggle="collapse">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
                        <div *ngIf="model.previousYearNegBal">
                          <div class="form-group">
                            <label>Number Of Days <span style="color: red">*</span></label> <br>
                            <input type="text" pattern="^(?=.*[1-9])\d+(\.50?)?" autocomplete="off"
                              class="form-control inputfields" min="1" [(ngModel)]="model.previousYearNegBalCout"
                              name="previousYearNegBalCout" #previousYearNegBalCout='ngModel' required />

                            <div class="help-block"
                              *ngIf="previousYearNegBalCout.errors?.required && previousYearNegBalCout.touched">
                              <small style="color: red">Enter Number of Days</small> </div>

                            <div class="help-block"
                              *ngIf="previousYearNegBalCout.errors?.pattern && (previousYearNegBalCout.touched || f.invalid ) ">
                              <small style="color: red">Enter valid Number of Days</small>
                            </div>

                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Current Year Negative Balance Allowed?</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" autocomplete="off" (click)='currYearNegBal()' maxlength="5"
                                [(ngModel)]="model.currYearNegBal" name="currYearNegBal" data-toggle="collapse"
                                data-target="#currentynegativebalance">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
                        <div *ngIf="model.currYearNegBal">
                          <div class="form-group">
                            <label>Number Of Days <span style="color: red">*</span></label> <br>
                            <input type="text" pattern="^(?=.*[1-9])\d+(\.50?)?" autocomplete="off"
                              class="form-control inputfields" min="1" [(ngModel)]="model.currYearNegBalCout"
                              name="currYearNegBalCout" #currYearNegBalCout='ngModel' required />

                            <div class="help-block"
                              *ngIf="currYearNegBalCout.errors?.required && currYearNegBalCout.touched">
                              <small style="color: red">Enter Number of Days</small> </div>


                            <div class="help-block"
                              *ngIf="currYearNegBalCout.errors?.pattern && (currYearNegBalCout.touched || f.invalid ) ">
                              <small style="color: red">Enter valid Number of Days</small>
                            </div>

                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Next Year Negative Balance Allowed?</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" autocomplete="off" (click)='nextYearNegBal()'
                                [(ngModel)]="model.nextYearNegBal" name="nextYearNegBal" data-toggle="collapse"
                                data-target="#nextynegativebalance">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
                        <div *ngIf="model.nextYearNegBal">
                          <div class="form-group">
                            <label>Number of Days <span style="color: red">*</span></label> <br>
                            <input type="text" pattern="^(?=.*[1-9])\d+(\.50?)?" maxlength="5" min="1"
                              autocomplete="off" class="form-control inputfields" [(ngModel)]="model.nextYearNegBalCout"
                              name="nextYearNegBalCout" #nextYearNegBalCout='ngModel' required />

                            <div class="help-block"
                              *ngIf="nextYearNegBalCout.errors?.required && nextYearNegBalCout.touched">
                              <small style="color: red">Enter Number of Days</small> </div>


                            <div class="help-block"
                              *ngIf="nextYearNegBalCout.errors?.pattern && (nextYearNegBalCout.touched || f.invalid ) ">
                              <small style="color: red">Enter valid Number of Days</small>
                            </div>



                          </div>
                        </div>
                        <div class="form-group">
                          <button type="button" class="btn btn-success" style="float: right;" (click)="goToSecond()">Next</button>
                        </div>
                      </div>
                    </div>


                  </div> -->
                  <!--================ First tab end ================-->


                  <!--================ Second tab starts ================-->
                  <div class="tab-pane active" role="tabpanel" id="considervalitab">

                    <div class="row justify-content-center">

                      <div class="col-md-4">

                        <!-- <form name="form" #f="ngForm" novalidate> -->


                        <div class="form-row" hidden>
                          <div class="form-group col-md-10">
                            <label>Intervening To Holidays</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" [(ngModel)]="model.interveningHoliday" name="interveningHoliday"
                                data-toggle="collapse" data-target="#interveningHolidays">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Prefix To Holiday</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" [(ngModel)]="model.prefixHo" name="prefixHo" data-toggle="collapse"
                                data-target="#prefixHO">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Suffix To Holiday</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <!-- remaining -->
                              <input type="checkbox" [(ngModel)]="model.suffixHo" name="suffixHo" data-toggle="collapse"
                                data-target="#suffixHO">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
                        <div class="form-row" hidden>
                          <div class="form-group col-md-10">
                            <label>Intervening To Weeklyoff</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" [(ngModel)]="model.interveningWeeklyoff" name="interveningWeeklyoff"
                                data-toggle="collapse" data-target="#InterveningWeeklyoff">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Prefix To Weeklyoff</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" [(ngModel)]="model.prefixWo" name="prefixWo" data-toggle="collapse"
                                data-target="#prefixWO">
                              <span class="slider round"></span>
                            </label>
                          </div>

                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Suffix To Weeklyoff</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" [(ngModel)]="model.suffixWo" name="suffixWo" data-toggle="collapse"
                                data-target="#suffixWO">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>

                        <!-- </form> -->
                        <div class="form-group">
                          <button type="button" class="btn btn-success" style="float: right;" (click)="goToThird()">Next</button>
                        </div>

                      </div>
                    </div>
                  </div>
                  <!--================ Second tab End ================-->


                  <!--================ Third tab Start ================-->
                  <div class="tab-pane" role="tabpanel" id="commontab">

                    <div class="row justify-content-center">
                      <div class="col-md-4">
                        <!-- <form name="form" #f="ngForm" novalidate> -->

 
                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Allow Past Days</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox"  (click)='clearf()' [(ngModel)]="model.allowPastDays" name="allowPastDays">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
                        <div *ngIf="model.allowPastDays">
                          <div class="form-group">
                            <label>Past Days Count<span style="color: red">*</span></label>
                            <input type="text" maxlength="2" pattern="^(0?[1-9]|[12][0-9]|3[00])" min="1" onkeypress='return (event.charCode > 96 && event.charCode < 123) || (event.charCode > 64 && event.charCode < 91) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode <= 31'
                              autocomplete="off" #allowPastDaysCout="ngModel" class="form-control inputfields"
                              [(ngModel)]="model.allowPastDaysCout" #allowPastDaysCout='ngModel' name="allowPastDaysCout"
                              required>


                            <div class="help-block" *ngIf="allowPastDaysCout.errors?.required && allowPastDaysCout.touched">
                              <small style="color: red">Enter Past Days</small> </div>

                            <div class="help-block" *ngIf="allowPastDaysCout.errors?.pattern && allowPastDaysCout.touched">
                              <small style="color: red">Enter Valid Past Days Count</small> </div>


                          </div>

                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Allow Future Days</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" (click)='clearf1()' [(ngModel)]="model.allowFutureDays" name="allowFutureDays">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
                        <div *ngIf="model.allowFutureDays">
                          <div class="form-group">
                            <label>Future Days Count<span style="color: red">*</span></label>
                            <input type="text" maxlength="3" onkeypress='return (event.charCode > 96 && event.charCode < 123) || (event.charCode > 64 && event.charCode < 91) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode <= 31'
                              autocomplete="off" class="form-control inputfields" min="1" #allowFutureDaysCout="ngModel"
                              pattern="^[1-9][0-9]*" [(ngModel)]="model.allowFutureDaysCout" name="allowFutureDaysCout"
                              required>

                            <div class="help-block" *ngIf="allowFutureDaysCout.errors?.required">
                              <small style="color: red">Enter Future Days</small> </div>
                            <div class="help-block" *ngIf="allowFutureDaysCout.errors?.pattern"> <small style="color: red">Enter
                                Valid Future Days Count </small> </div>
                          </div>

                        </div>

                        <div class="form-group" *ngIf="model.allowFutureDays" hidden>
                          <label>Intimate leave prior In Days</label>
                          <input type="text" maxlength="4" min="1" autocomplete="off" class="form-control"
                            #intimateLeavesPriorInDays="ngModel" name="intimateLeavesPriorInDays" [(ngModel)]="model.intimateLeavesPriorInDays"
                            pattern="^[0-9][0-9]*" />

                          <div class="help-block" *ngIf="intimateLeavesPriorInDays.errors?.pattern &&  intimateLeavesPriorInDays.touched ">
                            <small style="color: red">Enter Valid Intimate leave prior In Days</small></div>

                        </div>
                        <div class="form-row">

                          <div class="form-group col">
                            <label>Minimum Days To Apply<span style="color: red">*</span></label>
                            <input type="number" maxlength="3" pattern="^(?=.*[1-9])\d+(\.50?)?" autocomplete="off"  [max]="model.maximumDaysToApply"
                              class="form-control" name="miniumDaysToApply" [(ngModel)]="model.miniumDaysToApply"
                              #miniumDaysToApply='ngModel' required  id="textarea" />

                            <div class="help-block" *ngIf="miniumDaysToApply.errors?.required && miniumDaysToApply.touched">
                              <small style="color: red">Enter Mininum Days Required </small> </div>
 
                            <div class="help-block" *ngIf="miniumDaysToApply.errors?.pattern && miniumDaysToApply.touched">
                              <small style="color: red">Enter valid Minimum Days To Apply </small> </div>

                            <div class="help-block" *ngIf="model.miniumDaysToApply >  model.maximumDaysToApply">
                              <small style="color: red">Mininum Days Should Be Less Than Maximum Days </small> </div>


                          </div>

                          <div class="form-group col">
                            <label>Maximum Days To Apply<span style="color: red">*</span></label>
                            <input type="number" maxlength="4" pattern="^(?=.*[1-9])\d+(\.50?)?" autocomplete="off" class="form-control"
                              #maximumDaysToApply='ngModel' name="maximumDaysToApply" [(ngModel)]="model.maximumDaysToApply"
                              min="1" maxlength="3" [max]='model.annualLeaveDays' required />

                            <div class="help-block" *ngIf="maximumDaysToApply.errors?.required && maximumDaysToApply.touched">
                              <small style="color: red">Enter Maximum Days</small> </div>


                            <div class="help-block" *ngIf="maximumDaysToApply.errors?.pattern && maximumDaysToApply.touched">
                              <small style="color: red">Enter valid Minimum Days To Apply </small> </div>

                          </div>

                        </div>

                        <div class="form-row">
                          <div class="form-group col">
                            <label>Maximum Applications Allowed</label>
                            <input autocomplete="off" type="text" min="1" class="form-control" maxlength="4" name="maxApplAllow"
                              [(ngModel)]="model.maxApplAllow" pattern="^[1-9][0-9]*" #maxApplAllow='ngModel' />

                            <div class="help-block" *ngIf="maxApplAllow.errors?.pattern && model.maxApplAllow"> <small
                                style="color: red"> Enter valid Maxium Applications Allowed</small> </div>

                          </div>
                          <div class="form-group col">
                            <label>Applications Unit</label>
                            <br>
                            <select form="numofdays" name="maxApplUnit" [(ngModel)]="model.maxApplUnit" class="form-control">
                              <option value="Select">Select</option>
                              <option value="Month">Month</option>
                              <option value="Year">Year</option>
                              <option value="Tenure">Tenure</option>
                            </select>
                          </div>
                        </div>

                       


                        <div class="form-row" hidden>
                          <div class="form-group col-md-10">
                            <label> Allow To apply In Notice Period</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" name="inNoticePeriod" [(ngModel)]="model.inNoticePeriod">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>

                        <div class="form-row" hidden>
                          <div class="form-group col-md-10">
                            <label>Advance Leave Credit Is Allowed?</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" name="inNoticePeriod1" [(ngModel)]="model.advanceLeaveTaking">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Medical Certificate Is Required?  </label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" name="inNoticePeriod2" [(ngModel)]="model.medicalCertificate" (ngModelChange)="medicalCertificateChange($event)">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>

                        <div class="form-group" *ngIf="model.medicalCertificate">
                          <label>After How Many Days </label> <span style="color: red">*</span>
                          <input type="text" maxlength="4" min="1" autocomplete="off" class="form-control"
                            #medicalCertifacatePriorDays="ngModel" name="medicalCertifacatePriorDays" [(ngModel)]="model.afterHowManydays"
                            pattern="^[0-9][0-9]*" required />

                          <div class="help-block" *ngIf="medicalCertifacatePriorDays.errors?.pattern &&  medicalCertifacatePriorDays.touched ">
                            <small style="color: red">Enter Valid medical Certifacate Prior Days</small></div>

                          <div class="help-block" *ngIf="medicalCertifacatePriorDays.errors?.required &&  medicalCertifacatePriorDays.touched ">
                            <small style="color: red">After How many Days Required</small></div>

                        </div>
                        <!-- </form> -->
                        <div class="form-group">
                          <!-- [disabled]="!heroForm.form.valid" -->
                          <button type="button" class="btn btn-success" style="float: right;" (click)="goToFifth()" >next</button>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!--================ Third tab End ================-->

                  <!--================ Fourth tab Start ================-->
                  <div class="tab-pane" role="tabpanel" id="clubbingtab" hidden>

                    <div class="row justify-content-center">
                      <div class="col-md-3" style="height :230px">

                        <!-- <form name="form" #f="ngForm" novalidate> -->
                        <div class="form-group" >
                          <label>Leave Type Not To Club With</label>

                          <ng-multiselect-dropdown [placeholder]="'Select Leave'" [data]="AttendenceConfiAllData"
                            (click)="selectClickClubbing()" [(ngModel)]="model.leaveClubbingListNew" name='leaveClubbingList'
                            [ngModelOptions]="{standalone: true}" [settings]="dropdownSettingsLeaveClubbing" (onSelect)="onItemSelectC($event)"
                            (onSelectAll)="onSelectAllC($event)" (onDeSelect)="OnItemDeSelectC($event)" (onDeSelectAll)="onDeSelectAllC($event)">
                          </ng-multiselect-dropdown>

                        </div>

                        <!-- </form> -->
                        <div class="form-group" *ngIf='!leaveOrflag'>
                          <button class="btn btn-success" type="button" style="float: right;" (click)="goToFifth()">Next</button>
                        </div>
                        <div class="modal-footer" *ngIf='leaveOrflag'>

                          <button type="submit" [disabled]='f.invalid' class="btn btn-primary">Submit</button>
                          <button type="reset" class="btn btn-primary reset" (click)="resetForm()">Reset</button>
                        </div>

                      </div>
                    </div>
                  </div>
                  <!--================ Fourth tab end ================-->

                  <!--================ Fifth tab Start ================-->
                  <div class="tab-pane" role="tabpanel" id="encashmenttab">

                    <div class="row justify-content-center">
                      <div class="col-md-4">
                        <!-- <form name="form" #f="ngForm" novalidate> -->


                        <!-- <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Accumulation</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" name="encashable" [(ngModel)]="model.accumulable">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div> -->

                        <!-- <div class="form-group" *ngIf="model.accumulable">

                          <label>Accumulation Limit Type</label>
                          <label class="customcheck">
                            <input type="checkbox" name="encahsmentType1"
                              (ngModelChange)="accumulationLimitType('yearly')" [(ngModel)]="model.yearaccumulation"
                              checked="checked">
                            <span class="checkmark"></span>
                            Yearly
                          </label>

                          <label class="customcheck">
                            <input type="checkbox" name="encahsmentType2" (ngModelChange)="accumulationLimitType('mid')"
                              [(ngModel)]="model.midaccumulation" checked="checked">
                            <span class="checkmark"></span>
                            Mid Year
                          </label>
                        </div> -->
                        <!-- <div class="form-group" *ngIf="model.yearaccumulation && model.accumulable">
                          <label>Accumulation Limit Yearly</label>
                          <input type="text" pattern="^(?=.*[1-9])\d+(\.50?)?" autocomplete="off" class="form-control"
                            name="accumulationLimitDays1" [(ngModel)]="model.yearaccumulationLimit" min="1"
                            #yearaccumulationLimit='ngModel' />
                          <div class="help-block"
                            *ngIf="yearaccumulationLimit.errors?.pattern && (yearaccumulationLimit.touched || f.invalid ) ">
                            <small style="color: red">Enter Valid Accumulation Limit Yearly</small>
                          </div>
                          <div class="help-block" *ngIf="yearaccumulationLimit.errors?.required">
                            <small style="color: red">Enter Number of Days</small> </div>

                        </div>
                        <div class="form-group" *ngIf="model.midaccumulation && model.accumulable">
                          <label>Accumulation Limit Mid</label>
                          <input type="text" pattern="^(?=.*[1-9])\d+(\.50?)?" autocomplete="off" class="form-control"
                            name="accumulationLimitDays2" [(ngModel)]="model.midaccumulationLimit" min="1"
                            #midaccumulationLimit='ngModel' />
                          <div class="help-block" *ngIf="midaccumulationLimit.errors?.required">
                            <small style="color: red">Enter Number of Days</small> </div>
                          <div class="help-block"
                            *ngIf="midaccumulationLimit.errors?.pattern && (midaccumulationLimit.touched || f.invalid ) ">
                            <small style="color: red"> Enter Proper limit,Limit Should Be Greater Than 0.5<br>Enter
                              non-negative value <br>character and Special Character not allowed</small>
                          </div>
                        </div>
                        <div class="form-row" *ngIf="model.accumulable">
                          <div class="form-group col">
                            <label>Leave Accounting Period<span style="color: red">*</span></label>

                            <select name="leaveAccStartMon" (ngModelChange)="leaveAccStartMonChanged($event)"
                              [(ngModel)]="model.leaveAccStartMon" class="form-control" required>
                              <option value="Select">Select</option>
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>
                            </select>
                          </div>
                          <div class="form-group col">
                            <label>&nbsp;</label>
                            <select name="leaveAccEndMon" (ngModelChange)="leaveAccEndMonChanged($event)"
                              [(ngModel)]="model.leaveAccEndMon" class="form-control" required>
                              <option value="Select">Select</option>
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>
                            </select>
                          </div>
                        </div>  -->



                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label> Carry Forward</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" name="encashable" [(ngModel)]="model.encashableAndCarryForward"
                                (ngModelChange)="clearFeilds()">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>

                        <!-- <div class="form-row" *ngIf="model.encashable">
                          <div class="form-group col-md-10">
                            <label>Auto Leave Encashment</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" name="autoLeaveEncashment" [(ngModel)]="model.autoLeaveEncashment">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div> -->

                        <div class="form-group" *ngIf="model.encashableAndCarryForward">
                          <label>Accumalation Limit</label>
                          <input type="number" autocomplete="off" pattern="^(?=.*[1-9])\d+(\.50?)?" class="form-control"
                            name="overallcarryfwdlimit" [(ngModel)]="model.overallcarryfwdlimit" #overallcarryfwdlimit="ngModel"
                            min="0.5" />

                          <div class="help-block" *ngIf="overallcarryfwdlimit.errors?.pattern && (overallcarryfwdlimit.touched || f.invalid ) ">
                            <small style="color: red">Enetr Valid Overall Carry Forward Limit </small>
                          </div>

                        </div>

                        <div class="gorm-group" *ngIf="model.encashableAndCarryForward">
                          <!-- <label>Lapse Leaves convert to leave Bank</label> -->
                          <label class="customcheck">
                            <input type="checkbox" name="leaveTakenCOmpularyOnOneYear" [(ngModel)]="model.leaveTakenCOmpularyOnOneYear" (ngModelChange)="leaveTakenCompulsory($event)">
                            <span class="checkmark"></span>
                            <label>  Leave Taken Compulasary After 1 Year Completion<span style="color: red">*</span></label>
                          </label>


                        </div>


                        <div class="form-group" *ngIf="model.encashableAndCarryForward && model.leaveTakenCOmpularyOnOneYear">
                         
                          <input type="number" autocomplete="off" pattern="^(?=.[0-9]*)\d+(\.50?)?" class="form-control"
                            name="noOfLeavesTakComp" #noOfLeavesTakComp='ngModel' [(ngModel)]="model.noOfLeavesTakComp" required
                             />
                             <div class="help-block" *ngIf="noOfLeavesTakComp.errors?.required && (noOfLeavesTakComp.touched || f.invalid ) ">
                              <small style="color: red">Number Of Leave Taken Compulsory required</small>
                            </div>
                          <div class="help-block" *ngIf="noOfLeavesTakComp.errors?.pattern && (noOfLeavesTakComp.touched || f.invalid ) ">
                            <small style="color: red">Enetr valid Number Of Leave Taken Compulsory </small>
                          </div>
                          <div class="help-block" *ngIf="model.noOfLeavesTakComp > model.annualLeaveDays && noOfLeavesTakComp.touched">
                            <small style="color: red"> Number Of Leave Taken Compulsory Should be less than annual
                              Leave Days
                            </small> 
                          </div>
                        </div>
                        

                        <div class="gorm-group" *ngIf="model.encashableAndCarryForward">
                          <!-- <label>Lapse Leaves convert to leave Bank</label> -->
                          <label class="customcheck">
                            <input type="checkbox" name="lapseLeavesConvert" [(ngModel)]="model.lapseLeavesConvert">
                            <span class="checkmark"></span>
                            Lapse Leaves convert to leave Bank
                          </label>


                        </div>



                        <!-- <div class="form-row" *ngIf="model.encashable">
                          <div class="form-group col">
                            <label>Minimum Limit For Encash<span style="color: red">*</span></label>
                            <input type="text" autocomplete="off" pattern="^(?=.*[1-9])\d+(\.50?)?" class="form-control"
                              name="minLimForEncash" [(ngModel)]="model.minLimForEncash" #minLimForEncash='ngModel'
                              min="0.5" [max]="model.annualLeaveDays" required />

                            <div class="help-block"
                              *ngIf="model.annualLeaveDays < model.minLimForEncash && model.minLimForEncash"> <small
                                style="color: red">Enter Limit Less Than Annual Leave Days</small> </div>



                            <div class="help-block" *ngIf="minLimForEncash.errors?.required && minLimForEncash.touched">
                              <small style="color: red">Enter Minimum Limit For Encash</small> </div>


                            <div class="help-block"
                              *ngIf="minLimForEncash.errors?.pattern && (minLimForEncash.touched || f.invalid ) ">
                              <small style="color: red">Enter Valid Minimum Limit For Encash </small>
                            </div>


                          </div>
                          <div class="form-group col">
                            <label>Maximum Limit For Encash</label> <span style="color: red">*</span>
                            <input type="number" class="form-control" name="maxLimDayForEnchash"
                              [(ngModel)]="model.maxLimDayForEnchash" pattern="^(?=.*[1-9])\d+(\.50?)?"
                              #maxLimDayForEnchash='ngModel' />

                            <div class="help-block" *ngIf='model.maxLimDayForEnchash < model.minLimForEncash '>
                              <small style="color: red">Maximum Limit For Encash should not less than minimum Limit For
                                Encash </small>
                            </div>

                            <div class="help-block"
                              *ngIf="maxLimDayForEnchash.errors?.required && maxLimDayForEnchash.touched"> <small
                                style="color: red">Enter Maximum Limit For Encash</small> </div>
                            <div class="help-block"
                              *ngIf="maxLimDayForEnchash.errors?.pattern && (maxLimDayForEnchash.touched || f.invalid ) ">
                              <small style="color: red">Enter Valid Minimum Limit For Encash </small>
                            </div>
                          </div>
                        </div> -->

                        <div class="gorm-group" *ngIf="model.encashableAndCarryForward" hidden>
                          <label>Encashment Type</label>
                          <!-- <div class="col-2"> -->
                          <label class="customcheck">
                            <input type="checkbox" name="encahsmentType11" (ngModelChange)="encahsmentTypeChanged($event)"
                              [(ngModel)]="model.encFreqType" checked="checked">
                            <span class="checkmark"></span>
                            Frequency
                          </label>
                          <!-- </div> -->

                          <!-- <div class="col-2"> -->


                          <label class="customcheck">
                            <input type="checkbox" name="encahsmentType11" [(ngModel)]="model.encSeperType" checked="checked">
                            <span class="checkmark"></span>
                            Seperation
                          </label>
                          <!-- </div> -->

                        </div>

                        <div class="form-group" *ngIf="model.encashableAndCarryForward && model.encFreqType">
                          <label>Encashment Frequency</label>
                          <br>
                          <input type="radio" id="male2" value="yearly" name="encashmentFrequency" [(ngModel)]="model.encashmentFrequency" />
                          <label for="male2">Yearly</label>

                          <input type="radio" id="female2" value="when_required" name="encashmentFrequency" [(ngModel)]="model.encashmentFrequency" />
                          <label for="female2">When Required</label>
                        </div>

                        <div class="form-group" *ngIf="model.encashableAndCarryForward && model.encashmentFrequency == 'when_required'">
                          <label>Number Of Applications Per Frequence<span style="color: red">*</span></label>
                          <input type="text" autocomplete="off" class="form-control" name="numberOfAppPerFrequency"
                            pattern="^[1-9][0-9]*" #numberOfAppPerFrequency='ngModel' [(ngModel)]="model.numberOfAppPerFrequency"
                            required />

                          <div class="help-block" *ngIf="numberOfAppPerFrequency.errors?.pattern && (numberOfAppPerFrequency.touched || f.invalid ) ">
                            <small style="color: red">Enter Valid Number Of Applications per Frequence </small>
                          </div>
                        </div>

                        <div class="form-group" *ngIf="model.encashableAndCarryForward && model.encashmentFrequency == 'when_required'">
                          <label>Minimum Balance To maintain</label>
                          <input type="text" autocomplete="off" pattern="^(?=.*[0-9])\d+(\.50?)?" class="form-control"
                            name="minBalanceToMaintain" [(ngModel)]="model.minBalanceToMaintain" #minBalanceToMaintain="ngModel"
                            min="0.5" />

                          <div class="help-block" *ngIf="minBalanceToMaintain.errors?.pattern && (minBalanceToMaintain.touched || f.invalid ) ">
                            <small style="color: red">Enetr Valid Minimum Balance </small>
                          </div>

                        </div>

                        <div class="form-group" *ngIf="model.encashableAndCarryForward" hidden>

                          <label> Leave Encash Calculate On </label>
                          <ng-multiselect-dropdown [placeholder]="'Select Payroll Head'" [data]="LeaveEncashData"
                            required [(ngModel)]="model.payRollHeads" [ngModelOptions]="{standalone: true}"
                            #payRollHeads='ngModel' name='payRollHeads' (ngChange)="changeSelectLE($event)" [settings]="dropdownSettingsLeaveEncash"
                            (onSelect)="onItemSelectLE($event)" (onSelectAll)="onSelectAllLE($event)" (onDeSelect)="OnItemDeSelectLE($event)"
                            (onDeSelectAll)="onDeSelectAllLE($event)">
                          </ng-multiselect-dropdown>

                        </div>
                        <!-- </form> -->
                        <div class="form-group">
                          <button class="btn btn-success" type="button" style="float: right;" (click)="goToEighth()">Next</button>
                        </div>

                      </div>
                    </div>
                  </div>

                  <!--================ Fifth tab end ================-->

                  <!--================ sixth tab Start ================-->
                  <!-- <div class="tab-pane" role="tabpanel" id="carryfwdtab">

                    <div class="row justify-content-center">
                      <div class="col-md-4">
                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>CarryForward Allowed</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" name="carryForwardAllowed" [(ngModel)]="model.carryForwardAllowed"
                                (click)="clearCarry()">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
                        
                        <div class="form-group" *ngIf="model.carryForwardAllowed">
                          <label>Carry Forward Frequency</label>
                          <br>
                          <select name="carryForwardFrequency" [(ngModel)]="model.carryForwardFrequency"
                            class="form-control">
                            <option value="Select">Select</option>
                            <option value="Yearly">Yearly</option>
                            <option value="Half yearly">Half yearly</option>
                            <option value="Quarterly">Quarterly</option>
                            <option value="Monthly">Monthly</option>
                          </select>
                        </div>

                        <div class="form-group" *ngIf="model.carryForwardAllowed">
                          <label>Overall Carry Forward Limit</label>
                          <input type="text" autocomplete="off" pattern="^(?=.*[1-9])\d+(\.50?)?" class="form-control"
                            name="overallcarryfwdlimit" [(ngModel)]="model.overallcarryfwdlimit"
                            #overallcarryfwdlimit="ngModel" min="0.5" />
                          
                          <div class="help-block"
                            *ngIf="overallcarryfwdlimit.errors?.pattern && (overallcarryfwdlimit.touched || f.invalid ) ">
                            <small style="color: red">Enetr Valid Overall Carry Forward Limit </small>
                          </div>

                        </div>
                        <div class="form-group">
                          <button class="btn btn-success" type="button" style="float: right;" (click)="goToSeventh()">Next</button>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!--================ sixth tab end ================-->

                  <!--================ seventh tab Start ================-->
                  <div class="tab-pane" role="tabpanel" id="transfertab">

                    <div class="row justify-content-center">
                      <div class="col-md-4">
                        <!-- <form name="form" #f="ngForm" novalidate> -->

                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Leave Transfer</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" name="leaveTrasfer" [(ngModel)]="model.leaveTrasfer" (click)='clearLeaveTransfer()'>
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>

                        <div class="form-group" *ngIf="model.leaveTrasfer">

                          <label> Leave Type to Merge </label>
                          <ng-multiselect-dropdown [placeholder]="'Select Leave Type to Merge'" [data]="AttendenceConfiAllData"
                            required [(ngModel)]="model.leaveTypeToMerge" [ngModelOptions]="{standalone: true}"
                            #leaveTypeToMerge='ngModel' name='payRollHeads' [settings]="dropdownSettingsLeaveClubbing">
                          </ng-multiselect-dropdown>


                        </div>

                        <div class="form-group" *ngIf="model.leaveTrasfer">
                          <label>On What</label>
                          <br>
                          <input type="radio" id="male" value="On Confirmation" name="leaveTransferOn" [(ngModel)]="model.leaveTransferOn" />
                          <label for="male">On Confirmation</label>

                          <input type="radio" id="female" value="After Number of Days of DOJ" name="leaveTransferOn"
                            [(ngModel)]="model.leaveTransferOn" />
                          <label for="female">After Number Of Days Of DOJ</label>
                        </div>

                        <div class="form-group" *ngIf="model.leaveTransferOn=='After Number of Days of DOJ' && model.leaveTrasfer">
                          <label>Number Of Days</label><small style="color: red">*</small>
                          <input type="text" autocomplete="off" class="form-control" pattern="^[1-9][0-9.]*" name="leaveTransferNumberOfDays"
                            #leaveTransferNumberOfDays='ngModel' [(ngModel)]="model.leaveTransfDays" min="1" required />
                          <div class="help-block" *ngIf="leaveTransferNumberOfDays.errors?.required && (leaveTransferNumberOfDays.touched || f.invalid ) ">
                            <small style="color: red">Number Of Day Required</small>
                          </div>
                          <div class="help-block" *ngIf="leaveTransferNumberOfDays.errors?.pattern && (leaveTransferNumberOfDays.touched || f.invalid ) ">
                            <small style="color: red">Enter Valid Number of Days</small>
                          </div>
                        </div>

                        <!-- </form> -->
                        <div class="form-group">
                          <button class="btn btn-success" type="button" style="float: right;" (click)="goToEighth()"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--================ seventh tab end ================-->

                  <!--================ ninth tab Start ================-->
                  <div class="tab-pane" role="tabpanel" id="leavecrdtab">

                    <div class="row justify-content-center">
                      <div class="col-md-4">
                        <!-- <form name="form" #f="ngForm" novalidate> -->

                        <div class="form-group">
                          <label>Initialise At Year Start Or Periodically Credit</label>
                          <br>
                          <input type="radio" id="year_start" value="initialise_at_start" name="initialiseCredit"
                            [(ngModel)]="model.initialiseCredit" (ngModelChange)="initialiseCreditChanged($event)"
                            selected />
                          <label for="year_start">Initialise At Year Start</label>

                          <input type="radio" id="periodically" value="periodically_credit" name="initialiseCredit1"
                            [(ngModel)]="model.initialiseCredit" (ngModelChange)="initialiseCreditChanged($event)" />
                          <label for="periodically">Periodically Credit</label>
                        </div>

                         <div class="form-group" *ngIf="model.initialiseCredit == 'initialise_at_start'">
                          <label>Initialise On</label>
                          <br>
                          <input type="radio" id="creditOnJoining" value="joining" name="creditOnJoining"
                          [(ngModel)]="model.creditOn"   />
                        <label for="creditOnJoining">Joining</label>
                          <!-- <input type="radio" id="initialiseOnConfirmation" value="confirmation" name="initialiseOn"
                            [(ngModel)]="model.initialiseOn" />
                          <label for="initialiseOnConfirmation">Confirmation</label> -->
                        </div> 

                        <!-- <div>
                            <label>Initialise On</label><br>
                            <input type="radio" id="initialiseOnJoining" value="joining" name="ss1"
                            [(ngModel)]="model.onJoining"  checked />
                          <label for="initialiseOnJoining">Joining</label>

                          <input type="radio" id="initialiseOnConfirmation" value="confirmation" name="ss2"
                            [(ngModel)]="model.onConfirmation" />
                          <label for="initialiseOnConfirmation">Confirmation</label>
                          
                        </div> -->

                        <div class="form-group" *ngIf="model.initialiseCredit == 'periodically_credit'">

                          <!-- <label>Credit On Event</label>
                          <label class="customcheck">
                            <input type="checkbox" name="encahsmentType1"
                              (ngModelChange)="accumulationLimitType('yearly')" [(ngModel)]="model.creditOnJoing"
                              checked="checked">
                            <span class="checkmark"></span>
                            ON Joining
                          </label>

                          <label class="customcheck">
                            <input type="checkbox" name="encahsmentType2" (ngModelChange)="accumulationLimitType('mid')"
                              [(ngModel)]="model.creditOnConfirmation" checked="checked">
                            <span class="checkmark"></span>
                            On Confirmation
                          </label> -->
                          <label>Credit On</label>
                          <br>
                          <input type="radio" id="creditOnJoining" value="joining" name="creditOnJoining"
                            [(ngModel)]="model.creditOn"   />
                          <label for="creditOnJoining">Joining</label>

                          <!-- <input type="radio" id="creditsOnConfirmation" value="confirmation" name="creditOnConfirmation"
                            [(ngModel)]="model.creditOn" />
                          <label for="creditsOnConfirmation">Confirmation</label> -->
                        </div>


                        <div class="form-row" *ngIf="model.initialiseCredit == 'periodically_credit'">
                          <div class="form-group col-md-10">
                            <label>Credit Based On Working Days</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" name="creditBasedOnWorkDays" [(ngModel)]="model.creditBasedOnWorkDays">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>


                        <div class="form-group" *ngIf="model.creditBasedOnWorkDays && model.initialiseCredit == 'periodically_credit'">
                          <label>Number Of Working Days<span style="color: red">*</span></label>
                          <input type="text" autocomplete="off" maxlength="3" class="form-control" pattern="^(?=.*[1-9])\d+(\.50?)?"
                            name="noWorkDays" #noWorkDays='ngModel' [(ngModel)]="model.noWorkDays" required />
                          <!-- pattern="^(?=.*?[0-9])[0-9()-]+$" -->
                          <div class="help-block" *ngIf="noWorkDays.errors?.required && noWorkDays.touched"><small
                              style="color: red">Enter Number Of Working Days</small></div>
                          <div class="help-block" *ngIf="noWorkDays.errors?.pattern && noWorkDays.touched"><small style="color: red">Enter
                              valid Number Of Working Days </small></div>

                        </div>

                        <div class="form-group" *ngIf="model.creditBasedOnWorkDays">
                          <label>Number Of Leaves to Credit On Completion of Working Days <span style="color: red">*</span></label>
                          <input type="text" autocomplete="off" maxlength="3" pattern="^(?=.*[1-9])\d+(\.50?)?" step="0.01" class="form-control"
                            #noOfLeavesToCredit='ngModel' name="noOfLeavesToCredit" [(ngModel)]="model.noOfLeavesToCredit"
                            required />
                          <div class="help-block" *ngIf="noOfLeavesToCredit.errors?.required && noOfLeavesToCredit.touched"><small
                              style="color: red">Enter Number Of Leaves to Credit On Completion of Working Days
                            </small></div>
                          <div class="help-block" *ngIf="noOfLeavesToCredit.errors?.pattern && noOfLeavesToCredit.touched"><small
                              style="color: red">Enter Valid Number Of Leaves to Credit On Completion of Working Days
                            </small></div>
                        </div>
                        <div class="form-group" *ngIf="model.creditBasedOnWorkDays">
                          <label>If On Confirmation then calculate from DOJ or Date of Confirmation</label>
                          <br>
                          <input type="radio" id="mal" value="From DOJ" name="leaveTransferOn1" [(ngModel)]="model.calculateOnConfirmationOrDOJ"
                            checked />
                          <label for="mal">From DOJ</label>

                          <input type="radio" id="fem" value="Date Of Confirmation" name="leaveTransferOn1" [(ngModel)]="model.calculateOnConfirmationOrDOJ" />
                          <label for="fem">Date Of Confirmation</label>
                        </div>

                        <div class="form-row" *ngIf="model.creditBasedOnWorkDays">
                          <div class="form-group col">
                            <label>Frequency <span style="color: red">*</span></label>
                            <br>
                            <select name="leaveCreditFrequency" [(ngModel)]="model.leaveCreditFrequency" class="form-control"
                              #leaveCreditFrequency='ngModel' required>
                              <option value="Select">Select</option>
                              <option value="Yearly">Yearly</option>
                              <option value="Half yearly">Half yearly</option>
                              <option value="Quarterly">Quarterly</option>
                              <option value="Monthly">Monthly</option>
                            </select>
                            <div class="help-block" *ngIf="leaveCreditFrequency.errors?.required "><small style="color: red">Frequency
                                Required</small></div>

                          </div>
                          <div class="form-group col">
                            <label>Start Month <span style="color: red">*</span></label>
                            <br>

                            <select name="leaveCreditStartmonth" [(ngModel)]="model.leaveCreditStartmonth" form="startmonth"
                              class="form-control" #leaveCreditStartmonth='ngModel' required>
                              <option value="Select">Select</option>
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>

                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>

                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>
                            </select>
                            <div class="help-block" *ngIf="leaveCreditStartmonth.errors?.required ">
                              <small style="color: red">Start Month Required</small></div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-10">
                            <label>Pro Rate</label>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="switch mt-2">
                              <input type="checkbox" name="proRate" [(ngModel)]="model.proRate">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>

                        <!-- <div class="form-group" *ngIf="model.proRate">
                          <label>Rounded Off</label>
                          <br>
                          <select class="form-control" name="roundedOff" [(ngModel)]="model.roundedOff">
                            <option value="Select">Select</option>
                            <option value="To  Whole Number">To Whole Number</option>
                            <option value="To next near Whole Number">To Next Near Whole Number</option>
                            <option value="To Previous Near Whole Number">To Previous Near Whole Number</option>
                            <option value="To Next Near 0.5 number">To Next Near 0.5 Number</option>
                            <option value="To Previous Near 0.5 number">To Previous Near 0.5 Number</option>
                            <option value="To Next Near 0.25 number">To Next Near 0.25 Number</option>
                            <option value="To Previous Near 0.25 number">To Previous Near 0.25 Number</option>
                          </select>
                          
                        </div> -->

                        <div class="form-group">
                          <button type="submit" class="btn btn-primary" *ngIf="this.model.genderMasterList.length && this.model.employementTypeName.length  && this.model.employeeTypeMasterList.length && 
                          this.model.locationMasterList.length"
                            [disabled]='f.invalid || hideButtonFlag'>Save</button>

                          <button  class="btn btn-primary" *ngIf="!(this.model.genderMasterList.length && this.model.employementTypeName.length && this.model.employeeTypeMasterList.length && 
                          this.model.locationMasterList.length)"
                            disabled>Save</button>

                          <button type="reset" class="btn btn-primary reset" (click)="resetForm()">Reset</button>
                        </div>

                        <!-- </form>  -->
                      </div>
                    </div>
                  </div>
                  <!--================ ninth tab end ================-->
                  <div *ngIf='f.invalid'>
                    <span style="color: red"><small>*Please Full-Fill All Mandatory Field</small></span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- NEW DESIGN END-->



  <div class="modal fade" id="myModalLeaveConfig">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" (click)="getConfigurationList()">Leave Configuration List</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="table-responsive scroll">
            <table id="emplisttable" class="table table-bordered">
              <thead class="theadblue">
                <tr>
                  <th style="width: 6%;">Sr. No.</th>
                  <th>Leave Code</th>
                  <th>Applicable Date</th>
                  <th>Leave Pattern Name</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of AttendenceConfiAllData; let idx = index">
                  <td>{{idx + 1}}</td>
                  <td>{{item.leaveCode}} - {{item.leaveName}}</td>
                  <td>{{item.applicableDate | date : 'dd-MMM-yyyy'}}</td>
                  <td>{{item.patternName}}</td>
                  <td>
                    <i class="fa fa-pencil btn" data-dismiss="modal" (click)="edit(item)"></i>
                    <i class="fa fa-trash btn" data-toggle="modal" aria-hidden="true" data-target="#AreYouSuredlt"
                    (click)="dltObject(item)"></i>                              
                  </td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>




  <!-- The Add Leave Name Starts -->
  <div class="modal" id="myModaladleave">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Leave</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <form name="form" id="formleave" #f1="ngForm" (ngSubmit)="f1.valid && addLeaveDetails(f1)" novalidate>
          <div class="modal-body">

            <div class="form-group">
              <label>Leave Name <span style="color: red">*</span></label>
              <input type="text" class="form-control form-control-sm" (ngModelChange)="changed()" name="leaveName"
                pattern="[A-Z a-z]{1,64}" (keyup)='error()' maxlength="64" [(ngModel)]="leaveModel.leaveName"
                autocomplete="off" #leaveName="ngModel" required />
              <div class="help-block" *ngIf="leaveName.errors?.required && leaveName.touched"> <small style="color: red">Enter
                  Leave Name</small> </div>
              <div class="help-block" *ngIf="leaveName.errors?.pattern && leaveName.touched"> <small style="color: red">Special
                  Character and Number Not allowed</small> </div>
            </div>

            <div class="form-group">
              <!-- [pattern]="'^[A-Za-z0-9]+$'" -->
              <label>Leave Code <span style="color: red">*</span></label>
              <input type="text" (ngModelChange)="changed()" pattern="[A-Za-z0-9-]*" (keyup)='errorCode()' autocomplete="off" [readonly]="usedStatus"
                class="form-control form-control-sm" name="leaveCode" maxlength="4" [(ngModel)]="leaveModel.leaveCode"
                #leaveCode="ngModel" required />
              <!-- pattern="[A-Za-z0-9]+" -->
              <div class="help-block" *ngIf="leaveCode.errors?.required && leaveCode.touched"> <small style="color: red">Enter
                  Leave Code</small> </div>
              <div class="help-block" *ngIf="leaveCode.errors?.pattern && leaveCode.touched"> <small style="color: red">Special
                  Characters Not allowed </small> </div>

            </div>

            <div class="form-group">
              <label>Type Of Leave <span style="color: red">*</span></label>
              <br>
              <input type="radio" id="radio1" value="Paid" name="typeOfLeave" [(ngModel)]="leaveModel.typeOfLeave" [disabled]="isLeaveDetailsEdit" checked/>
              <label for="radio1">Paid</label>

              <input type="radio" id="radio2" value="Unpaid" name="typeOfLeave" [(ngModel)]="leaveModel.typeOfLeave" [disabled]="isLeaveDetailsEdit"/>
              <label for="radio2">Unpaid</label>

            </div>

            <div class="form-group">
              <label>Leave Or Coff <span style="color: red">*</span></label>
              <br>
              <input type="radio" id="leaveradio" value="leave" name="leaveOrCoff" [(ngModel)]="leaveModel.leaveOrCoff" [disabled]="isLeaveDetailsEdit" checked/>
              <label for="leaveradio">Leave</label>

              <input type="radio" id="coffradio" value="coff" name="leaveOrCoff" [(ngModel)]="leaveModel.leaveOrCoff" [disabled]="isLeaveDetailsEdit"/>
              <label for="coffradio">Coff</label>

              <!-- <input type="radio" id="soffradio" value="soff" name="leaveOrCoff" [(ngModel)]="leaveModel.leaveOrCoff" [disabled]="isLeaveDetailsEdit"/>
              <label for="soffradio">Soff</label> -->

            </div>

          </div>

          <!-- Modal footer -->

  
         <div class="modal-footer">
            <!-- data-dismiss="modal" -->
            <button type="submit"  [disabled]="f1.invalid||errflag" class="btn btn-primary">Submit</button>
            <button type="reset" (click)="resetLEaveDetails(f1)"   class="btn btn-primary ml-3">Reset</button>
          </div>
        </form>


        <!-- Table starts -->
        <div class="leave-master-table">

          <table id="emplisttable" class="table table-bordered">
            <thead class="thead-dark2">
              <tr>
                <th style="width: 6%;">Sr. No.</th>
                <th>Leave Name</th>
                <th>Leave Code</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of leaveDetailsList; let idx = index">
                <td>{{idx + 1}}</td>
                <td>{{item.leaveName}}</td>
                <td>{{item.leaveCode}}</td>

                <td>
                  <!-- data-dismiss="modal" -->
                  <i class="fa fa-pencil btn" (click)="editLeaveDetails(item)"></i>
                  <i class="fa fa-trash btn" data-toggle="modal" aria-hidden="true" data-target="#AreYouSuredlt1"
                    (click)="deleteLeaveD(item)"></i>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <!-- Table Ends -->
      </div>
    </div>
  </div>
  <!-- The Add Leave Name Ends -->


  <div class="modal fade" id="AreYouSuredlt1">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are you sure, do u want to delete leave ?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="deleteLeaveDetails()" data-dismiss="modal" class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="AreYouSuredlt">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are you sure,you want to delete?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button"  (click)='dltmodelEvent()' data-dismiss="modal" class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>