
.redstar{
  color:red;
}

.leaveapplibg{
  background: rgb(247, 247, 247);
  border-radius: 0.2rem;
  min-height: 100%;
}
.genral-box-border{
    border-radius: 0.356rem;
}

.card.card-cascade.narrower .view.view-cascade {
    
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -1.25rem;
}
.card.card-cascade[_ngcontent-c16] .view[_ngcontent-c16] {
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.15), 0 3px 12px 0 rgba(0,0,0,.15);
}
.h4-responsive{
    text-align: center;
    margin:0.7rem !important;
}
.card.card-cascade[_ngcontent-c16] .view.gradient-card-header[_ngcontent-c16] {
    padding: 1rem;
    text-align: center;
}
.blue-gradient {
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}
#myModalLeaveConfig, #myModaladleave{
  background-color: #4c4c4cbf !important;
}
#myModaladleave{
  padding-top:10%;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
.view {
    width:50%;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.15), 0 3px 12px 0 rgba(0,0,0,.15);
    border-radius: .25rem;
    color:white;
    position: relative;
    overflow: hidden;
    cursor: default;
}
.applihead{
    width:25%;
    top: -1.5rem;
    position: absolute;
}
.applicable-border{
    border-radius: 0.356rem;
    border:1px solid rgb(214, 214, 214);
    padding:1rem;
}

.emptypetxt{
  font-size:24px;
  color: rgb(1, 157, 205);
}
.act-emp{
  padding-left: 8px;
  border-left: 4px solid #01abdf;
}

.viewprev{
  float:right;
}
.fa-cogs{
  font-size:16px;
  color:rgb(255, 208, 0);
}
.btn-outline-primary{
  float:right;
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 10px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.scroll{
  height:400px;
  overflow-x: hidden !important;
  overflow: hidden;
}

.scroll:hover{
    
overflow-x: hidden !important;
overflow: auto;
height:400px;
}


  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(196, 196, 196); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #949494; 
  }






.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: -2px;
  bottom: -4px;
  background-color: #ffbc00;
  transition: .4s;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}
.lang-toggle{
  padding-left:1rem;
}


input[type="radio"] + label {
  position: relative;
  cursor: pointer;
  padding-right: 10px;
  margin:5px;
  padding-left: 25px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label:before {
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: #1565C0;
  -moz-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
  -webkit-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
  box-shadow: inset 0 0 0 18px #E0E0E0;
}
input[type="radio"] + label:before, input[type="radio"] + label:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type="radio"]:checked + label:before {
  -moz-box-shadow: inset 0 0 0 4px #E0E0E0;
  -webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
  box-shadow: inset 0 0 0 4px #E0E0E0;
}
input[type="radio"]:checked + label:after {
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -moz-animation: ripple 1s none;
  -webkit-animation: ripple 1s none;
  animation: ripple 1s none;
}
input[type="radio"] + label:after {
  top: 49%;
  left: 9px;
  width: 54px;
  height: 54px;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}

.customcheck {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.customcheck input {
position: absolute;
opacity: 0;
cursor: pointer;
}

.checkmark {
position: absolute;
top: 0;
left: 0;
height: 20px;
width: 20px;
background-color: #eee;
border-radius: 5px;
}

.customcheck:hover input ~ .checkmark {
background-color: #ccc;
}

.customcheck input:checked ~ .checkmark {
background-color: #02cf32;
border-radius: 5px;
}

.checkmark:after {
content: "";
position: absolute;
display: none;
}

.customcheck input:checked ~ .checkmark:after {
display: block;
}

.customcheck .checkmark:after {
left: 8px;
top: 4px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

@media screen and (max-width: 480px) {
  .applihead{
    width:80%;
    top: -1.5rem;
    position: absolute;
    margin:auto;
}
}

.headinglabel{
  padding-left: 5px;
  color:rgb(12, 48, 145);
}

.app-list ul{
  padding-left:5px !important;
  list-style: none;
}

.inputfields{
  width: 100%;
}

@media (min-width: 1200px){ 
  .modal-xl {
    margin-top:5%;
      max-width: 1140px;
  }
  }
  .table .thead-dark2 th {
    color: #fff !important;
    background: -webkit-linear-gradient(top, rgb(34, 52, 109) 0%,rgb(66, 87, 152) 50%,rgb(58, 79, 146) 51%,rgb(6, 18, 60) 100%) !important;
    border-color: #32383e !important;
  }
  table.dataTable.no-footer {
    border-bottom: 0px solid #111 !important;
  }
  .table td, .table th {
    text-align: center;
    padding: .75rem;
    vertical-align: middle !important;
  }
  tr{
    border-bottom: 1px solid whitesmoke;
  }
.reset{
  margin: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.multiselect-dropdown[_ngcontent-c8] .dropdown-btn[_ngcontent-c8] .selected-item[_ngcontent-c8] {
  border: 1px solid #337ab7;
  margin-right: 4px;
  background: #337ab7;
  margin: 2px 2px !important;
  padding: 0 5px;
  color: #fff;
  border-radius: 2px;
  float: left;
}
.leave-master-table{
  height: 300px;
  overflow-x: hidden !important;
}
/* .@media (min-width: 576px) */
.modal-dialog {
    max-width: 45%;
    margin: 1.75rem auto;
}