.headings{
    color:grey;
    font-weight: 600;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.btn-outline-primary:focus {
    color:white;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
    background-color: #007bff !important;
}
.edit{
    color:rgb(29, 73, 219);
    float:right;
}
.detaildata{
    font-weight: 600;
}
.border{
    border:1px solid grey;
    padding:1.5rem;
}