<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="edit" *ngIf="whoCliked =='HR'">
          <a [routerLink]="['/layout/pimshr/details']"  [queryParams]="{q:'education'}">Edit Details</a>
        </div>

      </div>
    <div class="col-md-6">
      <div class="data-title">
        <h6>Official details</h6>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="p-2">
  
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="costCenterNum">
                <span class="headings">Cost Center Number</span>
                <br>
                <span class="detaildata">{{costCenterNum}}</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="business">
                <span class="headings">Business Group</span>
                <br>
                <span class="detaildata">{{business}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
                <div class="col-md-6 col-xs-12" *ngIf="functionUnitName">
                  <span class="headings">Function Unit</span>
                  <br>
                  <span class="detaildata">{{functionUnitName}}</span>
                </div>
                <div class="col-md-6 col-xs-12" *ngIf="deptName">
                  <span class="headings">Department</span>
                  <br>
                  <span class="detaildata">{{deptName}}</span>
                </div>
            </div>
  
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="subDeptName">
                <span class="headings">Sub Department</span>
                <br>
                <span class="detaildata">{{subDeptName}}</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="locationName">
                <span class="headings">Location</span>
                <br>
                <span class="detaildata">{{locationName}}</span>
              </div>
            </div>
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="empRole">
                <span class="headings">Employee Role</span>
                <br>
                <span class="detaildata">{{empRole}}</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="descName">
                <span class="headings">Designation</span>
                <br>
                <span class="detaildata">{{descName}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="gradeName">
                <span class="headings">Grade Name</span>
                <br>
                <span class="detaildata">{{gradeName}}</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="employmentType">
                <span class="headings">Employeement Type</span>
                <br>
                <span class="detaildata">{{employmentType}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="subEmploymentType">
                <span class="headings"> Sub-Employment Type</span>
                <br>
                <span class="detaildata">{{subEmploymentType}}</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="empTypeNamecat">
                <span class="headings">Employee Category</span>
                <br>
                <span class="detaildata">{{empTypeNamecat}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="subEmpTypeName">
                <span class="headings">Sub Employee Category</span>
                <br>
                <span class="detaildata">{{subEmpTypeName}}</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="skillCatagory">
                <span class="headings">Skill Category</span>
                <br>
                <span class="detaildata">{{skillCatagory}}</span>
              </div>
            </div>
  
            <div *ngIf="subEmploymentType=='Trainee'" class="form-row pb-3">
              <div *ngIf="startDateOfTraining" class="col-md-6 col-xs-12">
                <span class="headings">Start Date of Training</span>
                <br>
                <span class="detaildata">{{startDateOfTraining | date: 'dd-MMM-yyyy'}}</span>
              </div>
              <div  *ngIf="endDateOfTraining" class="col-md-6 col-xs-12">
                <span class="headings">End Date of Training</span>
                <br>
                <span class="detaildata">{{endDateOfTraining | date: 'dd-MMM-yyyy'}}</span>
              </div>
            </div>
            <div *ngIf="subEmploymentType=='Temporary'" class="form-row pb-3">
              <div *ngIf="startDateOfTraining" class="col-md-6 col-xs-12">
                <span class="headings">Start Date Of Working</span>
                <br>
                <span class="detaildata">{{startDateOfTraining | date: 'dd-MMM-yyyy'}}</span>
              </div>
              <div  *ngIf="endDateOfTraining" class="col-md-6 col-xs-12">
                <span class="headings">End Date Of Working</span>
                <br>
                <span class="detaildata">{{endDateOfTraining | date: 'dd-MMM-yyyy'}}</span>
              </div>
            </div>
  
            <!-- <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12">
                <span class="headings">Extension Date of Training</span>
                <br>
                <span class="detaildata">{{extensionDateOfTraining | date: 'dd-MMM-yyyy'}}</span>
              </div>
            </div> -->
  
            <div class="form-row pb-3">
              <div *ngIf="startDateOfprobation" class="col-md-6 col-xs-12">
                <span class="headings">Start Date of Probation</span>
                <br>
                <span  class="detaildata">{{startDateOfprobation | date: 'dd-MMM-yyyy'}}</span>
              </div>
              <div *ngIf="probationPeriod" class="col-md-6 col-xs-12">
                <span class="headings">Probation Period Required</span>
                <br>
                <span class="detaildata">{{probationPeriod | date: 'dd-MMM-yyyy'}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <div *ngIf="expectedendDAteOfConfirmation" class="col-md-6 col-xs-12">
                <span class="headings">Expected Date of Confirmation</span>
                <br>
                <span class="detaildata">{{expectedendDAteOfConfirmation | date: 'dd-MMM-yyyy'}}</span>
              </div>
              <div *ngIf="dateOfConfirmation" class="col-md-6 col-xs-12">
                <span class="headings">Date of Confirmation</span>
                <br>
                <span class="detaildata">{{dateOfConfirmation | date: 'dd-MMM-yyyy'}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="firstLevelReportingManager">
                <span class="headings">First Level Reporting Manager</span>
                <br>
                <span class="detaildata">{{firstLevelReportingManager}}</span>
              </div>
              <div *ngIf="secondLevelReportingManager" class="col-md-6 col-xs-12">
                <span class="headings">Second Level Reporting Manager</span>
                <br>
                <span class="detaildata">{{secondLevelReportingManager}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <div *ngIf="thirdLevelReportingManager" class="col-md-6 col-xs-12">
                <span class="headings">Third Level Reporting Manager</span>
                <br>
                <span class="detaildata">{{thirdLevelReportingManager}}</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="sanctioningAuthority">
                <span class="headings">Sanctioning Authority</span>
                <br>
                <span class="detaildata" *ngIf="sanctioningAuthority">Yes</span>
                <span class="detaildata" *ngIf="!sanctioningAuthority">No</span>
              </div>
            </div>
  
          </div>
  
        </div>
  
      </div>
  
  
      <div class="data-title">
        <h6>Attendance details</h6>
      </div>
      <div class="row">
        <div class="col-md-12">
  
          <div class="p-2">
            <div class="form-row pb-3">
              <div *ngIf="shiftType" class="col-md-6 col-xs-12">
                <span class="headings">Shift Type</span>
                <br>
                <span class="detaildata">{{shiftType}}</span>
              </div>
              <div *ngIf="shiftGroupName" class="col-md-6 col-xs-12">
                <span class="headings">Shift Group</span>
                <br>
                <span class="detaildata">{{shiftGroupName}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <div *ngIf="shiftName" class="col-md-6 col-xs-12">
                <span class="headings">Shift Details</span>
                <br>
                <span class="detaildata">{{shiftName}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <div *ngIf="weeklyOffType" class="col-md-6 col-xs-12">
                <span class="headings">Weekly off type</span>
                <br>
                <span class="detaildata">{{weeklyOffType}}</span>
              </div>
              <div *ngIf="calenderName" class="col-md-6 col-xs-12">
                <span class="headings">Weekly off Calendar</span>
                <br>
                <span class="detaildata">{{calenderName}}</span>
              </div>
            </div>

            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="singlePunchPresent">
                <span class="headings">Single Punch Present Consideration</span>
                <br>
                <span class="detaildata" *ngIf='singlePunchPresent == true'>Yes</span>
                <span class="detaildata" *ngIf='singlePunchPresent == false'>No</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="negativeAttendenceAllowed">
                <span class="headings">Negative Attendance Allowed</span>
                <br>
                <span class="detaildata" *ngIf='negativeAttendenceAllowed == true'>Yes</span>
                <span class="detaildata" *ngIf='negativeAttendenceAllowed == false'>No</span>
              </div>
            </div>

            <div class="data-title hide">
              <h6>Salary Details</h6>
            </div>
        
            <div class="row justify-content-center hide">
              <div class="col-md-12">
                <div class="p-2">
        
                  <div class="form-row pb-3">
                    <div *ngIf="Alldata.applicableDate" class="col-md-6 col-xs-12">
                      <span class="headings">Applicable Date</span>
                      <br>
                      <span class="detaildata">{{Alldata.applicableDate | date :'dd-MMM-yyyy'}}</span>
                    </div>
                    
                  </div>
        
                  <div class="row border justify-content-center" *ngFor = "let payhed of empPayRollHeadCtcDetailList">
                      <div *ngIf="payhed.payRollHeadName" class="col-md-6 col-xs-12">
                      <span class="headings">Pay Head Master</span>
                      <br>
                      <span class="detaildata">{{payhed.payRollHeadName}}</span>
                    </div>
                    <div *ngIf="payhed.amount" class="col-md-6 col-xs-12">
                      <span class="headings">Amount</span>
                      <br>
                      <span class="detaildata">{{payhed.amount}}</span>
                    </div>
                  </div>
      
      
        
                </div>
        
              </div>
        
            </div>
        
          
            <div class="data-title">
              <h6>Statutory Data</h6>
            </div>
  
            <div class="form-row pb-3">
              <div *ngIf="payGroupName" class="col-md-6 col-xs-12">
                <span class="headings">Pay Group</span>
                <br>
                <span class="detaildata">{{payGroupName}}</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="variablePay">
                <span class="headings">Variable Pay</span>
                <br>
                <span class="detaildata" *ngIf="variablePay == true">Yes</span>
                <span class="detaildata" *ngIf="variablePay == false">No</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <div *ngIf="ptApplcable" class="col-md-6 col-xs-12">
                <span class="headings">PT Applicable</span>
                <br>
                <span class="detaildata">{{ptApplcable}}</span>
                <!-- <span class="detaildata" *ngIf="ptApplcable == false">No</span> -->
              </div>

              <div *ngIf="ptLocation" class="col-md-6 col-xs-12">
                <span class="headings">PT Location</span>
                <br>
                <span class="detaildata">{{ptLocation}}</span>
              </div>

              <div *ngIf="pfApplicable" class="col-md-6 col-xs-12">
                <span class="headings">PF Applicable</span>
                <br>
                <span class="detaildata">{{pfApplicable}}</span>
                <!-- <span class="detaildata" *ngIf="pfApplicable == false">No</span> -->
              </div>

              <div *ngIf="pfNumber" class="col-md-6 col-xs-12">
                <span class="headings">PF Number</span>
                <br>
                <span class="detaildata">{{pfNumber}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <!-- <div class="col-md-6 col-xs-12">
                <span class="headings">PF Number</span>
                <br>
                <span class="detaildata">{{pfNumber}}</span>
              </div> -->
            </div>
  
            <div class="form-row pb-3">
              <!-- <div class="col-md-6 col-xs-12">
                <span class="headings">PT Location</span>
                <br>
                <span class="detaildata">{{ptLocation}}</span>
              </div> -->
              <div *ngIf="payMode" class="col-md-6 col-xs-12">
                <span class="headings">Pay Mode</span>
                <br>
                <span class="detaildata">{{payMode}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <div *ngIf="esicApplicable" class="col-md-6 col-xs-12">
                <span class="headings">ESIC Applicable</span>
                <br>
                <span class="detaildata">{{esicApplicable}}</span>
                <!-- <span class="detaildata" *ngIf="esicApplicable == false">No</span> -->
              </div>
              <div *ngIf="esicNumber" class="col-md-6 col-xs-12">
                <span class="headings">ESIC Number</span>
                <br>
                <span class="detaildata">{{esicNumber}}</span>
              </div>
            </div>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  </div>

  
  
  <div class="row justify-content-center">
    <div class="col-md-6">

      
        <!-- <div class="data-title">
            <h5>Offer Letter Details</h5>
          </div> -->
    
    
          <!-- <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="p-2">
      
                <div class="form-row pb-3">
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">Date Of Offer</span>
                    <br>
                    <span class="detaildata">{{Alldata.dateOfOffer | date :'dd-MMM-yyyy'}}</span>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">Position</span>
                    <br>
                    <span class="detaildata">{{Alldata.position}}</span>
                  </div>
                </div>
      
                <div class="form-row pb-3">
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">Offered By</span>
                    <br>
                    <span class="detaildata">{{Alldata.offeredBy}}</span>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">Confirmation Due Date</span>
                    <br>
                    <span class="detaildata">{{Alldata.confirmationDueDate1 | date: 'dd-MMM-yyyy'}}</span>
                  </div>
                </div>
                <div class="form-row pb-3">
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">Package according To offer</span>
                    <br>
                    <span class="detaildata">{{Alldata.packageAccordingToOffer}}</span>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">Status</span>
                    <br>
                    <span class="detaildata">{{Alldata.status}}</span>
                  </div>
                </div>
      
              </div>
      
            </div>
      
          </div> -->

      <div class="data-title">
        <h6>Joining Details</h6>
      </div>
  
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="p-2">
  
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="dateOfJoining">
                <span class="headings">Date of Joining</span>
                <br>
                <span class="detaildata">{{dateOfJoining | date: 'dd-MMM-yyyy'}}</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="dateOfConfirmationemp">
                <span class="headings">Date Of Confirmation</span>
                <br>
                <span class="detaildata">{{dateOfConfirmationemp | date: 'dd-MMM-yyyy'}}</span>
              </div>
              <div class="col-md-6 col-xs-12">
                <span class="headings">Date of extention</span>
           <!--
                <div class="row"  *ngIf="subEmploymentType == 'On Probation'">
                  <div class="col">ActionTakenOn</div>
                  <div class="col">ExtendedProbationDate</div>
                  <div class="col">Remark</div>
                </div>
                <div class="row" *ngIf="subEmploymentType == 'Trainee'">
                  <div class="col">ActionTakenOn</div>
                  <div class="col">ExtendedTrainningDate</div>
                  <div class="col">Remark</div>
                </div>
                <div class="row" *ngIf="subEmploymentType == 'Temporary'">
                  <div class="col">ActionTakenOn</div>
                  <div class="col">ExtendedDate</div>
                  <div class="col">Remark</div>
                </div>
                <div class="row"  *ngIf="subEmploymentType == 'Temporary'">
                  <div *ngFor="let item of extentionOFEmpData"> 
                  <div class="col">{{item.entryDateOfTemp}}</div>
                  <div class="col">{{item.extenDateOfTemp}}</div>
                  <div class="col">{{item.remarkofTemp}}</div>
                  </div>
                </div>

                <div class="row"  *ngIf="subEmploymentType == 'Trainee'">
                  <div *ngFor="let item of extentionOFEmpData"> 
                  <div class="col">{{item.entryDateOfTrainee}}</div>
                  <div class="col">{{item.extenDateOfTrainee}}</div>
                  <div class="col">{{item.remarkofTrainee}}</div>
                  </div>
                </div>

                <div class="row" *ngIf="subEmploymentType == 'On Probation'">
                  <div *ngFor="let item of extentionOFEmpData"> 
                  <div class="col">{{item.entryDateOfprob}}</div>
                  <div class="col">{{item.extenDateOfprob}}</div>
                  <div class="col">{{item.remarkofprob}}</div>
                  </div>
                </div>
-->
                <table>
                  <thead>
                    <div *ngIf="subEmploymentType == 'Temporary'">
                      <tr>           
                        <th class="col-3">ActionTakenOn</th>
                        <th class="col-3">ExtendedDate</th>
                        <th class="col-3">Remark</th>
                        </tr>
                    </div>
                    <div *ngIf="subEmploymentType == 'Trainee'">
                      <tr>           
                        <th class="col-3">ActionTakenOn</th>
                        <th class="col-3">ExtendedTrainningDate</th>
                        <th class="col-3">Remark</th>
                        </tr>
                    </div>
                    <div *ngIf="subEmploymentType == 'On Probation'">
                      <tr>           
                        <th>ActionTakenOn</th>
                        <th >ExtendedProbationDate</th>
                        <th>Remark</th>
                        </tr>
                    </div>
                  
                  </thead>
                  <tbody>
                    <div class="row">
                    <div *ngIf="subEmploymentType == 'Temporary'">
                    <tr *ngFor="let item of extentionOFEmpData">           
                      <td >{{item.entryDateOfTemp}}</td>
                      <td >{{item.extenDateOfTemp}}</td>
                      <td >{{item.remarkofTemp}}</td>
                    </tr>
                    </div>

                    <div *ngIf="subEmploymentType == 'Trainee'">
                      <tr *ngFor="let item of extentionOFEmpData">           
                        <td >{{item.entryDateOfTrainee}}</td>
                        <td>{{item.extenDateOfTrainee}}</td>
                        <td>{{item.remarkofTrainee}}</td>
                      </tr>
                    </div>

                      <div *ngIf="subEmploymentType == 'On Probation'">
                        <tr *ngFor="let item of extentionOFEmpData">           
                          <td>{{item.entryDateOfprob}}</td>
                          <td>{{item.extenDateOfProb}}</td>
                          <td >{{item.remarkOfProb}}</td>
                        </tr>
                      </div>
                    </div>
                  </tbody>
                </table> 
              </div>
            </div>
  
            <div class="form-row pb-3">
              <!-- <div class="col-md-6 col-xs-12">
                <span class="headings">Is joined</span>
                <br>
                <span class="detaildata" *ngIf="isJoined == true">Yes</span>
                <span class="detaildata" *ngIf="isJoined == false">No</span>
              </div> -->
              <!-- <div class="col-md-6 col-xs-12">
                <span class="headings">Is joined</span>
                <br>
                <span class="detaildata">Yes</span>
              </div> -->
            </div>
  
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="documentsSubmitted">
                <span class="headings">Document's submitted</span>
                <br>
                <span class="detaildata" *ngIf="documentsSubmitted == true">Yes</span>
                <span class="detaildata" *ngIf="documentsSubmitted == false">No</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="documentsVerified">
                <span class="headings" >Document's Verified</span>
                <br>
                <span class="detaildata" *ngIf="documentsVerified == true">Yes</span>
                <span class="detaildata" *ngIf="documentsVerified == false">No</span>
              </div>
            </div>
  
            <!-- <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12">
                <span class="headings">Appointment Letter is Processed</span>
                <br>
                <span class="detaildata" *ngIf="appointmentLetterIsProcessed == true">Yes</span>
                <span class="detaildata" *ngIf="appointmentLetterIsProcessed == false">No</span>
              </div>
            </div> -->
  
          </div>
  
        </div>
  
      </div>

  
  
      <div class="data-title">
        <h6>Verification Reference</h6>
      </div>
  
      <div class="row border justify-content-center" *ngFor="let ref of verificationRefference">
        <div class="col-md-12">
          <div class="p-2">
  
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="ref.nameOfTheReference">
                <span class="headings">Name Of The Reference</span>
                <br>
                <span class="detaildata">{{ref.nameOfTheReference}}</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="ref.companyName">
                <span class="headings">Company Name</span>
                <br>
                <span class="detaildata">{{ref.companyName}}</span>
              </div>
            </div>
  
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="ref.contactNo">
                <span class="headings">Contact Number</span>
                <br>
                <span class="detaildata">{{ref.contactNo}}</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="ref.emailId">
                <span class="headings">Email ID</span>
                <br>
                <span class="detaildata">{{ref.emailId}}</span>
              </div>
            </div>
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="ref.feedbackReceived">
                <span class="headings">Feedback Recieved</span>
                <br>
                <span class="detaildata">{{ref.feedbackReceived}}</span>
              </div>
              <div class="col-md-6 col-xs-12" *ngIf="ref.strengths">
                <span class="headings">Strengths</span>
                <br>
                <span class="detaildata">{{ref.strengths}}</span>
              </div>
            </div>
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12" *ngIf="ref.areasOfImprovement">
                <span class="headings">Area OF Improvement</span>
                <br>
                <span class="detaildata">{{ref.areasOfImprovement}}</span>
              </div>
             
            </div>
  
          </div>
  
        </div>

      </div>
  
      <div class="data-title">
        <h6>Personal Resources</h6>
      </div>
  
      <div class="row border justify-content-center" *ngFor = "let res of resources">
        <div class="col-md-12">
          <div class="p-2">
  
            <div class="form-row pb-3">
              <div class="col-md-6 col-xs-12">
                <span class="headings">Resource Name</span>
                <br>
                <span class="detaildata">{{res.resourceName}}</span>
              </div>
              <div class="col-md-6 col-xs-12">
                <span class="headings">Resource Serial Number</span>
                <br>
                <span class="detaildata">{{123456 }}</span>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group" *ngIf="res.resourceDesc">
                  <span class="headings">Resource Description</span>
                  <br>
                  <!-- <input class="form-control form-control-sm" type="text" disabled> -->
                  <span class="detaildata">{{res.resourceDesc}}</span>   
                </div>

              </div>
              <div class="col">
              <div class="col-md-6 col-xs-12" *ngIf="res.givenDate">
                <span class="headings">Resource Date Of Issue</span>
                <br>
                <span class="detaildata">{{res.givenDate | date: 'dd-MMM-yyyy'}}</span>
              </div>
            </div>
            </div>
  
          </div>
  
        </div>
  
      </div>
      <!-- <div class="data-title">
          <h5>Government Information</h5>
        </div> -->
        <!-- <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="p-2">
      
                <div class="form-row pb-3">
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">PAN Number</span>
                    <br>
                    <span class="detaildata">12345asdf</span>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">Adhar Number</span>
                    <br>
                    <span class="detaildata">12345143645</span>
                  </div>
                </div>
                <div class="form-row pb-3">
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">UAN Number</span>
                    <br>
                    <span class="detaildata">123AD156AS</span>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">Passport Number</span>
                    <br>
                    <span class="detaildata">8965362</span>
                  </div>
                </div>
      
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="drvlsc">Driving License Number</label>
                      <input class="form-control form-control-sm" type="text">
                    </div>
                  </div>
                </div>
  
                <div class="form-row pb-3">
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">Social Security Number</span>
                    <br>
                    <span class="detaildata">123AD156AS</span>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">Citizenship</span>
                    <br>
                    <span class="detaildata">8965362</span>
                  </div>
                </div>
  
                <div class="form-row pb-3">
                  <div class="col-md-6 col-xs-12">
                    <span class="headings">Are You NRI</span>
                    <br>
                    <span class="detaildata">123AD156AS</span>
                  </div>
                  
                </div> -->
                
      
                <!-- <div class="form-row">
                    <div class="col">
                      <div class="backbtn">
                        <a>Back</a>
                      </div>
                    </div>
                    <div class="col">
                      <button class="btn btn-primary float-right" (click)="GotoNext()">Next</button>
                    </div>
                  </div> -->
  
               <!-- </div>
      
            </div>
      
          </div>  -->
    </div>
  </div>
  