<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Labour List <div class="page-title-subheading"> Here you can add,remove update labour </div>
              <div class="float-right right-top-buttons">
             
               
              </div>
              </div>
              <div style="position: absolute;
              right: 30px">
              <button type="button"  
              title="Add Contractor Employee" class="btn btn-primary mr-2 circledesign" >
              <i class="fa fa-user-plus " aria-hidden="true"></i> 
            </button>
            <button type="button"   title="Bulk Upload"
              class="btn btn-primary mr-2 circledesign">
              <i class="fa fa-upload" aria-hidden="true"></i> 
            </button>
            <button type="button"  
              title="Download List" class="btn btn-primary mr-2 circledesign">
              <i class="fa fa-download" aria-hidden="true"></i> 
            </button>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row container">
        <div class="col-sm-2">
          <label for="colFormLabelSm3">Search Options <span _ngcontent-c61="" style="color: red">
              *</span></label>
          <select class="form-control form-control-sm" id="searchLabour" name="searchLabour" [(ngModel)]="searchLabour">
            <option hidden [value]="selectUndefinedOptionValue">Search</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Nearing Expiry Validity">Nearing Expiry Validity</option>
            <option value="Suspended">Suspended</option>
            <option value="Blacklisted">Blacklisted</option>
          </select>

        
        
        </div>
        <div class="col-sm-1">
          <div _ngcontent-c27="" aria-label="Second group" class="btn-group btn-group-sm" role="group" style="position: absolute;
          top: 33px;left: 30px;"><!----><button _ngcontent-c27="" class="btn btn-success ng-star-inserted" type="button">{{LabourDatas.length}}</button>
          </div>
        </div>
        <div class="col-sm-2">
          <label for="colFormLabelSm3">Search By <span _ngcontent-c61="" style="color: red">
              *</span></label>
          <select class="form-control form-control-sm" id="searchByLabour" name="searchByLabour" [(ngModel)]="searchByLabour">
            <option hidden [value]="selectUndefinedOptionValue">Search</option>
            <option value="Active">Name</option>
            <option value="Inactive">Contact Number</option>
            <option value="Nearing Expiry Validity">Adhar Number</option>
            <option value="Suspended">Contractor Service</option>
            <option value="Blacklisted">Contractor Name</option>
          </select>

        
        
        </div>
        <div class="col-sm-2">
          <div style="margin-top: 25px">
            <input type="text" placeholder="search" [(ngModel)]="searchByColumn" name="searchByColumn" id="searchByColumn" class="form-control-sm" style="border: 1px solid #adaaaa;">
          </div>
        </div>
       
      </div>

      <div class="card-body col-md-12">

        <div class="flex flex-column mt-4 faq-section">
          <div class="row">
            <div class="col-md-12">

        <table id="emptable" class="table emp-action ">
          <thead class="thead-dark">
            <tr class="theadblue pt-3 pb-3">
              <td style="width: unset !important;">Sr.No</td>
              <td style="width: unset !important;" >Photo</td>
              <!-- <td style="width: unset !important;">Employee Id</td> -->
              <td style="width: unset !important;">Name</td>                 
              <td style="width: unset !important;">Designation</td>
              <!-- <td style="width: unset !important;">Service Type</td> -->
              <td style="width: unset !important;">Contractor</td>
              <td style="text-align:center; width: unset !important;">Action</td>
             <td style="width: unset !important;">Progress</td>
            </tr>
          </thead>
          <tbody >

            <tr  class="tabledata-center" *ngFor="let item of LabourDatas let s=index">
              <td>{{s+1}}</td>
              <td style="width:5%; text-align:center">
                <img src="{{item?.labourImage}}"  alt="" class="image-cover" />
              </td>
              <!-- <td>{{item?.empId}}</td> -->
              <td>{{item?.firstName}} {{item?.lastName}}</td>
            
              <td>{{item?.designationMaster?.desigName}}</td>
              <!-- <td>{{item?.conServiceTypeIdList?.contractorServiceTypes}}</td> -->
              
              <td>{{item?.contractorMaster?.firstName}}</td>
              <td class="text-center" style="width:15%;">
                <!-- <i class="fa fa-eye"
                  title="View details" aria-hidden="true" style="padding-left: 0px;">
                </i> -->
                <i class="fa fa-plus"  title="Edit details"
                  aria-hidden="true" (click)="editLabour(item)">
                </i>
                <!-- <i  class="fa fa-trash"
                  title="Deactivate this employee" aria-hidden="true" (click)="deleteLabour(item)">
                </i> -->
            
                
              </td>
              <td></td>
            </tr>
          </tbody>
          <tfoot>
            <tr></tr>
          </tfoot>
        </table>

        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        