<div class="container-fluid">
  <div class="row">
  <div class="col-md-12">
    <div class="white-bg">
    
      <div class="p-3">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <h4 class="w3-animate-left">Welcome to {{loggedUser.compName}}! {{fullname }}</h4>
            <div class="data-title">
              <p>Here are your basic details!</p>
            </div>
            
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-5">
            <form (ngSubmit)="f.form.valid " #f="ngForm">

              <div class="form-row pb-3">
                <div class="col-md-6 col-xs-12">
                  <span class="headings">Biometric Id</span>
                  <br>
                  <span class="detaildata">{{bioId}}</span>
                </div>
                <div class="col-md-6 col-xs-12">
                  <span class="headings">Employee Id</span>
                  <br>
                  <span class="detaildata">{{empId}}</span>
                </div>
              </div>
              <div class="form-row pb-3">
                <div class="col-md-6 col-xs-12">
                  <span class="headings">Department</span>
                  <br>
                  <span class="detaildata">{{deptName}}</span>
                </div>
                <div class="col-md-6 col-xs-12">
                  <span class="headings">Designation</span>
                  <br>
                  <span class="detaildata">{{descName}}</span>
                </div>
              </div>

              <div class="form-row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="empname">Fullname</label> 
                    <input autocomplete="off" disabled class="form-control form-control-sm" #fullName='ngModel' pattern="[A-Z a-z]{1,250}"  type="text" name="fullName"
                      [(ngModel)]="EmpBasicModel.fullName" required>
                      <div class="help-block" *ngIf="fullName.errors?.pattern && (fullName.touched || f.submitted)"><small style="color: red">Number and Special Character not allowed </small></div>
                  </div>
                 </div> 
                 <div class="col-4">
                  <div class="form-group">
                    <label for="empname">Middlename</label> 
                    <input autocomplete="off" disabled class="form-control form-control-sm" #middleName='ngModel' pattern="[A-Z a-z]{1,250}"  type="text" name="middleName"
                      [(ngModel)]="EmpBasicModel.middleName" required>
                      <div class="help-block" *ngIf="middleName.errors?.pattern && (middleName.touched || f.submitted)"><small style="color: red">Number and Special Character not allowed </small></div>
                  </div>
                 </div> 
                 <div class="col-4">
                  <div class="form-group">
                    <label for="empname">Lastname</label> 
                    <input autocomplete="off" disabled class="form-control form-control-sm" #lastName='ngModel' pattern="[A-Z a-z]{1,250}"  type="text" name="lastName"
                      [(ngModel)]="EmpBasicModel.lastName" required>
                      <div class="help-block" *ngIf="lastName.errors?.pattern && (lastName.touched || f.submitted)"><small style="color: red">Number and Special Character not allowed </small></div>
                  </div>
                 </div> 
              </div>

              <!-- <div class="btn-group colors" data-toggle="buttons">

                <label class="btn btn-sm p-2 btn-outline-primary active">
                  <input type="radio" name="gender" value="Male" autocomplete="off" checked id="radio"
                    [(ngModel)]="EmpBasicModel.gender">Male
                </label>
                <label class="btn btn-sm p-2 btn-outline-primary">
                  <input type="radio" name="gender" value="Female" autocomplete="off" id="radio1"
                    [(ngModel)]="EmpBasicModel.gender">Female
                </label>
                <label class="btn btn-sm p-2 btn-outline-primary">
                  <input type="radio" name="gender" value="Other" autocomplete="off" id="radio2"
                    [(ngModel)]="EmpBasicModel.gender"> Other
                </label>
              </div> -->

              <div class="form-group colors">
                <label>Gender<span style="color: red">*</span></label>
                <br>     
                <input type="radio" id="radio" [(ngModel)]="EmpBasicModel.gender" value="Male" name="physicalDisability"/>
                <label for="radio">Male</label>

                <input type="radio" id="radio1" [(ngModel)]="EmpBasicModel.gender" value="Female" name="physicalDisability"/>
                <label for="radio1">Female</label>

                <input type="radio" id="radio2" [(ngModel)]="EmpBasicModel.gender" value="Other" name="physicalDisability"/>
                <label for="radio2">Other</label>
            </div>

              <div class="form-row align-items-center">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="dob">Date of birth</label>
                    <input  class="form-control form-control-sm" type="date" name="dateOfBirth"
                      [(ngModel)]="EmpBasicModel.dateOfBirth" (change)="getdate($event)">
                  </div>
                </div>
                <div class="col">
                  <div class="form-check mb-2">
                    <label class="form-check-label" for="autoSizingCheck">
                      Age: <span>{{EmpBasicModel.age}}</span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="mobnum">Mobile Number</label>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" maxlength="14" #personalContactNumber='ngModel' name="personalContactNumber"
                      [(ngModel)]="EmpBasicModel.personalContactNumber">
                      <div class="help-block" *ngIf="personalContactNumber.errors?.pattern && (personalContactNumber.touched || f.submitted)"><small style="color: red">please Enter Valid Mobile Number</small></div>
         
                  </div>
                
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="emailid">Email Id</label>
                    <input autocomplete="off" class="form-control form-control-sm" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="personalEmailId" #personalEmailId='ngModel'
                      [(ngModel)]="EmpBasicModel.personalEmailId">
                      <div class="help-block" *ngIf="personalEmailId.errors?.pattern && personalEmailId.touched"> <small style="color: red">please
                        enter valid Email</small> </div>
                  </div>
                
           
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                </div>
                <div class="col">
                  <button class="btn btn-primary float-right " (click)="saveEmpBasic(EmpBasicModel)">Save &
                    Continue</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>