<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i  class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Safety<div class="page-title-subheading"> Here you can check safety Induction status of employee
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">

        <div class="card">
          <div class="card-header" style="background-color: #0747a6;line-height: 5px;padding-top: 20px;">
            <p style="color: white;">{{empfistname}} {{lastname}}</p>
            <!-- <span style="color: white;">{{labourId}}</span> -->
          </div>
          <div class="card-body">
            <div class="row">

              <!-- Image Columns -->
              <div class="col-md-4" style="text-align: center;">
                <img src="{{labourImages}}" class="rounded" alt="Cinque Terre" style="width: 150px;
                height: 150px;"> 
              </div>

              <div class="col-md-8">


                <!-- using table -->
                <table>
                  <tr>

                  </tr>
                  <!-- <tr>
                    <td><b>Labour ID</b></td>
                    <td><span><b>:&nbsp; {{labourId}}</b></span></td>
                  </tr> -->
                  <tr>
                    <td><b>Contractor Name</b></td>
                    <td><span> <b class="font-style">:&nbsp;&nbsp; {{empfistname}} {{lastname}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Name</b></td>
                    <td><span> <b class="font-style">:&nbsp;&nbsp; {{empfistname}} {{lastname}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Gender</b></td>
                    <td><span> <b class="font-style">:&nbsp;&nbsp; {{gender}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>DOB</b></td>
                    <td><span> <b class="font-style">:&nbsp;&nbsp; {{dateOfBirth}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Blood Group</b></td>
                    <td><span><b class="font-style">:&nbsp;&nbsp; {{bloodGroup}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Contact NO</b></td>
                    <td><span> <b class="font-style"> :&nbsp;&nbsp;{{contactNumber}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Emergency Contact NO</b></td>
                    <td><span><b class="font-style"> :&nbsp;&nbsp;{{emergancyContact}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Expected Date Of Joining</b></td>
                    <td><span> <b class="font-style">:&nbsp;&nbsp; {{empfistname}} {{lastname}}</b></span></td>
                  </tr>
                </table>








              </div>

            </div>
            <hr class="blue-hr">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group-row">
                    <!-- <div class="checkbox">
                      <label><input type="checkbox"  [(ngModel)]="isChecked" (change)="checkboxChanged()">Induction program Done <span style="color: red">*</span></label>
                    </div> -->
                  </div>
                  <br>
                  <!-- <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="margin-left: 30px;">
                    <label class="form-check-label" for="flexCheckDefault">
                      Induction Program Done
                    </label>
                  </div> -->
                  <div class="form-floating">
                    <label for="floatingTextarea2">Description <span style="color: red">*</span></label>
                    <textarea class="form-control"  id="floatingTextarea2" style="height: 100px" name="remark" [(ngModel)]="remark"></textarea>
                   
                  </div>
                  <!-- <h6 style="color: black;
                  font-weight: 600;">Approve Reject</h6> -->
                </div>
            
              
              </div>
              <div class="row">
               
                    <!-- <div class="col-md-2">
                 
                  <div>
                    <label>
                      <input type="checkbox" [(ngModel)]="option1" (change)="onCheckboxChange('option1')">Approve                    </label>
                    <label>
                      <input type="checkbox" [(ngModel)]="option2" (change)="onCheckboxChange('option2')"> Reject
                    </label>
                  </div>
                </div> -->
               
              </div>
              <div class="form-group-row">
                <button class="btn btn-primary"(click)="saveRemark()" [disabled]="!remark">Approve</button>
                &nbsp; &nbsp;
                <!-- <button class="btn btn-danger"(click)="Reject()">Reject</button> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
