.outer-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 550px;
}

.inner-card {
    border: 1px solid orange;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    position: relative;
    margin: 20px;
}

.content-section {
    flex: 1;
}

.image-section {
    position: absolute;
    top: 60px;
    right: 15px;

}

.card-image {


    border: 1px solid black;

}

.table {
    font-size: 12px;
    width: 100%;

    max-width: 300px;
    border: none;
}

.table td {
    padding: 2px;
    border: none;
}

.myImage{
    width: 110px!important;
    height: 140px!important;
    position: relative;
    top: -11px;
    margin-left: 13px;
   
  }
  .passageMargin{
  margin-bottom: 0px!important;
  }
  /* print-styles.css */
@media print {
    body {
      margin: 0;
      padding: 0;
    }
  
    .container {
      width: 100%;
    }
  
    .card {
      border: 1px solid #000; /* Adjust border color and size as needed */
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      background-color: #f0f0f0; /* Adjust background color as needed */
    }
  
    .row {
      /* Add or adjust styles for rows as needed */
      margin-bottom: 10px;
    }
  
    /* Add other print-specific styles as needed */
  }
  @media print
  {
      .button
      {
          display: none;
      }
  }

  @media print
  {
      @page {
          margin-top: 0;
          margin-bottom: 0;
      }
      body {
          padding-top: 72px;
          padding-bottom: 72px;
      }
  }