
<div class="container">
  <div class="row">
  
      <div class="col-md-6 mx-auto" >
        <div style="padding: 8px;
        background-color: #0747a6; border-top-left-radius: 23px;
    border-top-right-radius: 23px; border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;" id="gatepass">
          <div class="card" style="border: none;border-top-left-radius: 23px;
          border-top-right-radius: 23px;">
                  <div class="container">
                  <div class="row">
                    <div class="col-md-12" style="background-color: #0747a6;border-top-left-radius: 21px;
                    border-top-right-radius: 21px;">
                        <div style="text-align: center; color: white;">
                        <h3 style="margin-top: 0px;
                        margin-bottom: 7px;">{{conCompanyName}}</h3>
                        </div>
                    
                  </div>
                  
                </div>
              
                <div class="row" style="background-color: #FFCA64;">
                    
                      <div class="col-md-6" style="line-height: normal;
                      padding-bottom: 0px!important;">
                      
                            <P class="passageMargin">Deployed at : </P>
                            <p class="passageMargin">Issued date : </p>
                            </div>
                            <div class="col-md-6" style="line-height: normal;
                            padding-bottom: 0px!important;">
                                <p class="passageMargin">Gate Pass No :</p>
                            </div>
                      
                    
                  </div>
                  <div class="row" style="justify-content: center;">
                    <h4 style="margin-top: 0;
                    margin-bottom: 0;">Provisional Pass </h4>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                        <img class="myImage" src="{{imageOfLabou}}" />
                    </div>
                    <div class="col-md-8" style="margin-top: 5px;">
                        <table>
                            <tr>
                              <th>Labour Name </th>&nbsp;&nbsp;
                              <td> : {{LabourNames}}</td>
                            
                            </tr>
                            <tr>
                                <th>Gender</th>&nbsp;&nbsp;
                                <td> : {{genders}}</td>
                              
                              </tr>
                              <tr>
                                <th>Date of Birth</th>&nbsp;&nbsp;
                                <td> : {{dateOfBirths}}</td>
                              
                              </tr>
                              <tr>
                                <th>Blood Group</th>&nbsp;&nbsp;
                                <td> : {{bloodGroups}}</td>
                              
                              </tr>
                              <tr>
                                <th>Contact No</th>&nbsp;&nbsp;
                                <td> : {{contactNumbers}}</td>
                              
                              </tr>
                          
                         
                          </table>
                          
                       
                    </div>
                  </div>
                  <div class="row" style="margin-top: 25px ">

                  </div>
                  <div class="row">
                    <div class="col-md-3">
                        <p class="passageMargin">Medical</p>
                        <p class="passageMargin"> Signing Authority</p>
                    </div>
                    <div class="col-md-3">
                        <p class="passageMargin">Safety</p>
                        <p class="passageMargin">Signing Authority</p>
                    </div>
                    <div class="col-md-6">
                        <p class="passageMargin">Signing Authority</p>
                        <p class="passageMargin">Name of Authority <img src="{{signature}}" style="height: 31px;
                          width: 110px;"></p>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      
  </div>
</div>
  
<div class="container ">
  <div class="d-flex justify-content-center">
      
    <button class="btn btn-primary"  (click)="generateImage()" style="cursor: pointer;">Download</button>
   
  </div>
</div>

   