<div class="container-fluid">
  <div class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Leave Taken InCount Report</strong> &nbsp;
        </h6>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="qwe" *ngIf="fromDate == toDate ">
          <h6><span class="blu"><strong>Leave Taken InCount of Employees For Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}</h6>
        </div>
        <div class="qwe" *ngIf="fromDate != toDate ">
          <h6><span class="blu"><strong>Leave Taken InCount of Employees From Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}<span class="blu"><strong> To:</strong></span> {{toDate | date:"dd MMM yyyy"}}</h6>
        </div>
      </div>
      <div class="col-md-10" id="content">
        <table class="table table-space table-borderless" id="leaveTaken_InCount">
          <thead>
            <tr style="text-align: center !important;">
              <th [attr.colspan]="table_length">{{compName}}</th>
            </tr>
            <tr style="text-align: center !important;">
              <th [attr.colspan]="table_length">Leave Taken InCount Report</th>
            </tr>
            <tr *ngIf="fromDate == toDate ">
              <th [attr.colspan]="table_length">For Date : {{fromDate | date :'dd/MMM/yyyy'}}</th>
            </tr>
            <tr *ngIf="fromDate != toDate ">
              <th [attr.colspan]="table_length">From Date : {{fromDate | date :'dd/MMM/yyyy'}} To Date: {{toDate | date :'dd/MMM/yyyy'}}</th>
            </tr>
            <tr>
              <th [attr.colspan]="table_length">Report Date: {{report_time}}</th>
            </tr>
            <tr class="table-secondary">
              <th>Sr.No</th>
              <th>EmpId</th>
              <th>Employee Name</th>
              <th *ngFor="let subheader of leaveSubHeaders" >{{ subheader }}</th>
              <th>Compensatory Off</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of reportData; let i = index">
              <td>{{ i + 1 }}</td>
              <td class="text-right">{{ item.empId }}</td>
              <td class="text-left">{{ item.employeeName | titlecase }}</td>
              <ng-container *ngFor="let data of item.leavesdata">
                <td> {{ data.count }}</td>
              </ng-container>
              <ng-container *ngFor="let coffTotdata of item.coffAndTot">
                <td> {{ coffTotdata }}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-2">
        <div class="columnshead">
          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX('leaveTaken_InCount')"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>

