<div class="container-fluid">
  <div class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Contractor Presents Report</strong> &nbsp;
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10" id="content" style="overflow: scroll;">
        <table id="summary_table" class="table table-space table-borderless">
          <thead>
            <tr>
              <th colspan="15" style="text-align: center;">{{compName}}</th>
            </tr>
            <tr>
              <th colspan="15" style="text-align: center;">Contractor Presents Report</th>
            </tr>
            <tr>
              <th colspan="15">Report Date: {{report_time}}</th>
            </tr>
            <tr class="table-secondary">
              <th *ngIf="marked_sr">Sr.No</th>
              <th *ngIf="marked_name">Name Of The Contractor</th>
              <th *ngIf="marked_address">Total Contractor</th>
              <th *ngIf="marked_nature">Presents Contractor</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of report_data; let i = index">
              <td *ngIf="marked_sr">{{item.Sr}}</td>
              <td *ngIf="marked_name">{{item.contractorFirmName}}</td>
              <td *ngIf="marked_address">{{item.totalContractorCount}}</td>
              <td *ngIf="marked_nature">{{item.presentContractorCount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
        <div class="columnshead">
          <h6>Select Columns:</h6>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_sr" data-md-icheck (change)="toggle_sr($event)" />
            Sr.No
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_name" data-md-icheck (change)="toggle_name($event)" />
            Name Of The Contractor
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_address" data-md-icheck (change)="toggle_address($event)" />
           Total Contractor
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_nature" data-md-icheck (change)="toggle_name($event)" />
           Present Contractor
            <span class="checkmark"></span>
          </label>
         
          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i class="fa fa-file-pdf-o"
            aria-hidden="true"></i> &nbsp;Export Report PDF</button>
        <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX('summary_table')"><i
            class="fa fa-file-excel-o" aria-hidden="true"></i>Export Report Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>