<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <div *ngIf="whoCliked=='EMP'" class="edit">
                <a [routerLink]="['/layout/emppims/empdetails']" (click)="click()" [queryParams]="{q:'education'}">Edit
                  Details</a>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="data-title">
                    <h6>Qualification Details</h6>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="highestEduction" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Highest Education</h6>
                      <p>{{highestEduction}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="currentyStudying">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Currently Studying</h6>
                      <p *ngIf="currentyStudying == true">Yes</p>
                      <p *ngIf="currentyStudying == false">No</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="subOfSpecialisation" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Subject Of Specialization</h6>
                      <p>{{subOfSpecialisation}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="" *ngFor="let edu of empEducationalDetailsResDtoList">
                <div class="row border">
                  <div *ngIf="edu.percentage" class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Percentage</h6>
                        <p>{{edu.percentage}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="edu.univercityOrBoard" class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Board/University</h6>
                        <p>{{edu.univercityOrBoard}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="edu.eduName" class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Education Name</h6>
                        <p>{{edu.eduName}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="edu.schoolOrCollege" class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>School/College</h6>
                        <p>{{edu.schoolOrCollege}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="edu.passingYear" class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Year OF Passing</h6>
                        <p>{{edu.passingYear |  date: 'dd-MMM-yyyy'}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="edu.grade" class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Grade</h6>
                        <p>{{edu.grade}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-6" *ngIf="planForFutureStudy">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Future Plans</h6>
                      <p *ngIf="planForFutureStudy == true">Yes</p>
                      <p *ngIf="planForFutureStudy == false">No</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="planForFutureStudyDetails" class="col-md-6">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Future Plans Details</h6>
                      <p>{{planForFutureStudyDetails}}</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6" *ngIf="ifAnyResearchPapers">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Research Paper/Patents</h6>
                      <p *ngIf="ifAnyResearchPapers == true">Yes</p>
                      <p *ngIf="ifAnyResearchPapers == false">No</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6" *ngIf="researchPapersDetails">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Research Paper/Patents Details</h6>
                      <p *ngIf="researchPapersDetails == true">Yes</p>
                      <p *ngIf="researchPapersDetails == false">No</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6" *ngIf="interestedInSports">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Sports Activity</h6>
                      <p *ngIf="interestedInSports == true">Yes</p>
                      <p *ngIf="interestedInSports == false">No</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="sportDetails" class="col-md-6">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Sports Activity Details</h6>
                      <p>{{sportDetails}}</p>
                    </div>
                  </div>
                </div>

              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="data-title">
                    <h6>Experience Details</h6>
                  </div>
                </div>
              </div>

              <div class="row border" *ngFor="let exp of empExperienceResDetailsList">
                <div *ngIf="exp.companyName" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Company Name</h6>
                      <p>{{exp.companyName}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="exp.companyAddress" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Company address</h6>
                      <p>{{exp.companyAddress}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="exp.cmpContactNumber" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Contact Number</h6>
                      <p>{{exp.cmpContactNumber}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="exp.designationOnLeaving" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Designation</h6>
                      <p>{{exp.designationOnLeaving}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="exp.companyWebsite" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Company Website</h6>
                      <p>{{exp.companyWebsite}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="exp.departmentWorkedIn" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Department Worked In</h6>
                      <p>{{exp.departmentWorkedIn}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="exp.jobDescription" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Job Description</h6>
                      <p>{{exp.jobDescription}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="exp.fromDate" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Start Date</h6>
                      <p>{{exp.fromDate | date:'dd-MMM-yyyy'}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="exp.toDate" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>End Date</h6>
                      <p>{{exp.toDate | date:'dd-MMM-yyyy'}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="exp.totalExperience" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Total Experience</h6>
                      <p>{{exp.totalExperience}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="exp.ctc" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>CTC</h6>
                      <p>{{exp.ctc}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="exp.reasonForLeaving" class="col-md-4">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Reason For Leaving</h6>
                      <p>{{exp.reasonForLeaving}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>