<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12" style="margin-left: -13px;">
        <div class="col-lg-12 download-image">


        </div>
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><img _ngcontent-c5="" src="assets/contractor labour.png"
                  style="height: 40px;"></div>
              <div>Labour Onboarding Form<div class="page-title-subheading">Here you can add labour details </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">

        <div class="flex flex-column mb-5 mt-4 faq-section">
          <div class="row">
            <div class="col-md-12" style="background-color: white">
              <div id="accordion">
                <div class="card">
                  <div class="card-header bgColors" id="heading-1">
                    <h5 class="mb-0">
                      <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false"
                        aria-controls="collapse-1">
                        Personal Details
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1"
                    style="margin: auto;">
                    <div class="card-body">
                      <form #contractordetailsform="ngForm">
                        <div class="row container">
                          <div class="col-md-10">
                            <div class="form-group row centerfield">



                            </div>
                            <div class="form-group row centerfield">

                              <div class="col-sm-3">
                                <label for="colFormLabelSm">First Name <span style="color: red">*</span></label>
                                <input type="text" class="form-control form-control-sm" id="firstName" name="firstName"
                                  [(ngModel)]="firstName" #firstNames="ngModel" required pattern="^[a-zA-Z]+$">
                                <div *ngIf="firstNames.invalid && (firstNames.dirty || firstNames.touched)">
                                  <div *ngIf="firstNames.errors.required"><small style="color: red;">First Name is
                                      Required</small></div>
                                  <div *ngIf="firstNames.errors.pattern"><small style="color: red;">Please Enter Valid
                                      Name</small></div>
                                </div>
                              </div>


                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Middle Name <span style="color: red">*</span></label>
                                <input type="text" class="form-control form-control-sm" id="middleName"
                                  name="middleName" [(ngModel)]="middleName" #middleNames="ngModel" required
                                  pattern="^[a-zA-Z]+$">
                                <div *ngIf="middleNames.invalid && (middleNames.dirty || middleNames.touched)">
                                  <div *ngIf="middleNames.errors.required"><small style="color: red;">Middle Name is
                                      Required</small></div>
                                  <div *ngIf="middleNames.errors.pattern"><small style="color: red;">Please Enter Valid
                                      Name</small></div>
                                </div>
                              </div>

                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Last Name <span style="color: red">*</span></label>
                                <input type="text" class="form-control form-control-sm" id="lastName" name="lastName"
                                  [(ngModel)]="lastName" #lastNames="ngModel" required pattern="^[a-zA-Z]+$">
                                <div *ngIf="lastNames.invalid && (lastNames.dirty || lastNames.touched)">
                                  <div *ngIf="lastNames.errors.required"><small style="color: red;">Last Name is
                                      Required</small></div>
                                  <div *ngIf="lastNames.errors.pattern"><small style="color: red;">Please Enter Valid
                                      Name</small></div>
                                </div>
                              </div>

                            </div>
                            <div class="form-group row centerfield">
                              <div class="col-sm-5">
                                <label>Date Of Birth <span style="color: red"> *</span></label>
                                <input type="date" style="height: 30px;" class="form-control" id="dateOfBirth"
                                  name="dateOfBirth" [(ngModel)]="dateOfBirth" #dateOfBirths="ngModel" required
                                  (change)="calculateAge()">

                                <div *ngIf="dateOfBirths.invalid && (dateOfBirths.dirty || dateOfBirths.touched)">
                                  <div *ngIf="dateOfBirths.errors.required"><small style="color:red;">Date of Birth is
                                      Required</small></div>
                                </div>

                                <div *ngIf="currentAge !== undefined && currentAge < 18" style="color: red;">
                                  <small>You must be at least 18 years old.</small>
                                </div>
                              </div>

                              <div class="col-sm-5">

                                <label for="colFormLabelSm">Gender <span style="color: red">
                                    *</span></label>

                                <div class="form-inline">
                                  <div class="form-group">

                                    <input type="radio" class="form-control form-control-sm" name="gender"
                                      [(ngModel)]="gender" value="Male" required>
                                    <label for="pwd"> Male</label>
                                  </div>
                                  <div class="form-group">

                                    <input type="radio" class="form-control form-control-sm" value="Female"
                                      name="gender" [(ngModel)]="gender" required>
                                    <label for="pwd"> Female</label>
                                  </div>
                                  <div class="form-group">

                                    <input type="radio" class="form-control form-control-sm" value="Other" name="gender"
                                      [(ngModel)]="gender" required>
                                    <label for="pwd"> Other</label>
                                  </div>
                                </div>
                              </div>


                            </div>

                          </div>
                          <div class="col-2" style="margin-top: 14px;text-align: -webkit-center;">
                            <div>
                              <label class="filelabel">
                                <i class="fa fa-chart-area"></i>
                                <span class="title">
                                  <span>Employee Image</span>
                                </span>
                                <input class="FileUpload1" id="FileInput" name="booking_attachment" type="file"
                                  (change)="handleFileInput($event.target.files)" />
                              </label>
                              <span>{{ obj.name }}</span>
                            </div>
                          </div>





                          <div>


                          </div>

                        </div>
                        <div class="row container">
                          <div class="col-md-12">
                            <div class="form-group row centerfield">
                              <div class="col-sm-4">

                                <label for="colFormLabelSm">Blood Group <span style="color: red">
                                    *</span></label>
                                <select class="form-control form-control-sm" id="bloodGroup" name="bloodGroup" required
                                  [(ngModel)]="bloodGroup" #bloodGroups="ngModel" placeholder="col-form-label-sm">
                                  <option [ngValue]=null selected disabled>Select</option>
                                  <option value="A+">A+</option>
                                  <option value="A-">A-</option>
                                  <option value="B+">B+</option>
                                  <option value="B-">B-</option>
                                  <option value="AB+">AB+</option>
                                  <option value="AB-">AB-</option>
                                  <option value="O+">O+</option>
                                  <option value="O-">O-</option>

                                </select>
                                <div *ngIf="bloodGroups.invalid && (bloodGroups.dirty || bloodGroups.touched)">
                                  <div *ngIf="bloodGroups.errors.required"><small style="color: red;"> bloodGroup is
                                      Required </small></div>

                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Contact Number<span style="color: red">*</span></label>
                                <input type="text" class="form-control form-control-sm" id="contactNumber"
                                  name="contactNumber" [(ngModel)]="contactNumber" #contactNumbers="ngModel" required
                                  pattern="[0-9]{10}">
                                <div *ngIf="contactNumbers.invalid && (contactNumbers.dirty || contactNumbers.touched)">
                                  <div *ngIf="contactNumbers.errors.required"><small style="color: red;">Contact Number
                                      is Required</small></div>
                                  <div *ngIf="contactNumbers.errors.pattern"><small style="color: red;">Contact Number
                                      should be 10 digits</small></div>
                                </div>
                              </div>

                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Emergency Contact Number <span
                                    style="color: red">*</span></label>
                                <input type="text" class="form-control form-control-sm" id="emergencyContactNo"
                                  name="emergencyContactNo" [(ngModel)]="emergencyContactNo"
                                  #emergencyContactNos="ngModel" required pattern="[0-9]{10}">
                                <div
                                  *ngIf="emergencyContactNos.invalid && (emergencyContactNos.dirty || emergencyContactNos.touched)">
                                  <div *ngIf="emergencyContactNos.errors.required">
                                    <small style="color: red;">Emergency Contact Number is Required</small>
                                  </div>
                                  <div *ngIf="emergencyContactNos.errors.pattern">
                                    <small style="color: red;">Contact Number should be 10 digits</small>
                                  </div>
                                </div>
                              </div>


                            </div>
                            <div class="form-group row ">
                              <div class="col-sm-4">
                                <label>Email Id <span style="color: red">*</span></label>
                                <input type="text" class="form-control form-control-sm" maxlength="50" id="emailId"
                                  name="emailId" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="emailId"
                                  required #email_ids="ngModel" />
                                <div class="help-block" *ngIf="email_ids.errors?.pattern && email_ids.touched">
                                  <small style="color: red">Please enter a valid Email</small>
                                </div>
                              </div>


                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Temporary Address <span style="color: red"> *</span></label>
                                <input type="text" class="form-control form-control-sm" id="tempAddress"
                                  name="tempAddress" [(ngModel)]="tempAddress" #tempAddresss="ngModel" required>
                                <div *ngIf="tempAddresss.invalid && (tempAddresss.dirty || tempAddresss.touched)">
                                  <div *ngIf="tempAddresss.errors.required"><small style="color:red;"> Temporary Addres
                                      is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Permanent Address <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="permanentAddress"
                                  name="permanentAddress" [(ngModel)]="permanentAddress" #permanentAddresss="ngModel"
                                  required>
                                <div
                                  *ngIf="permanentAddresss.invalid && (permanentAddresss.dirty || permanentAddresss.touched)">
                                  <div *ngIf="permanentAddresss.errors.required"><small style="color:red;">
                                      permanentAddress is Required</small></div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4">

                                <label for="colFormLabelSm">Marital Status <span style="color: red">
                                    *</span></label>
                                <select class="form-control form-control-sm" id="maritalStatus" name="maritalStatus"
                                  required [(ngModel)]="maritalStatus" #maritalStatuss="ngModel"
                                  placeholder="col-form-label-sm">
                                  <option [ngValue]=null selected disabled>Select</option>
                                  <option>Married</option>
                                  <option>UnMarried</option>

                                </select>
                                <div *ngIf="maritalStatuss.invalid && (maritalStatuss.dirty || maritalStatuss.touched)">
                                  <div *ngIf="maritalStatuss.errors.required"><small style="color: red;"> maritalStatus
                                      is Required </small></div>

                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Aadhaar Card No <span style="color: red">*</span></label>
                                <input type="text" class="form-control form-control-sm" id="aadharNo" name="aadharNo"
                                  [(ngModel)]="aadharNo" #aadharNos="ngModel" required pattern="[0-9]{12}">
                                <div *ngIf="aadharNos.invalid && (aadharNos.dirty || aadharNos.touched)">
                                  <div *ngIf="aadharNos.errors.required"><small style="color: red;">Aadhaar Card Number
                                      is required</small></div>
                                  <div *ngIf="aadharNos.errors.pattern"><small style="color: red;">Aadhaar Card Number
                                      should be 12 digits</small></div>
                                </div>
                              </div>

                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Pan Card No </label>
                                <input type="text" class="form-control form-control-sm" id="panNumber" name="panNumber"
                                  [(ngModel)]="panNumber">
                              </div>


                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Election Card No</label>
                                <input type="text" class="form-control form-control-sm" id="voterCardNo"
                                  name="voterCardNo" [(ngModel)]="voterCardNo">
                              </div>

                              <div class="col-sm-4">
                                <label for="colFormLabelSm">Designation <span style="color: red">
                                    *</span></label>
                                <select class="form-control form-control-sm" id="desigId" name="desigId"
                                  [(ngModel)]="desigId" #desig_ids="ngModel" required>
                                  <option [ngValue]=null selected disabled>Select</option>
                                  <option *ngFor="let item of DesignationList" value="{{item.desigId}}">
                                    {{item.desigName}}</option>
                                </select>
                                <div *ngIf="desig_ids.invalid && (desig_ids.dirty || desig_ids.touched)">
                                  <div *ngIf="desig_ids.errors.required"><small style="color:red;"> Designation is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-4">

                                <label for="colFormLabelSm">Location<span style="color: red">
                                    *</span></label>
                                <select class="form-control form-control-sm" id="locationId" name="locationId" required
                                  [(ngModel)]="locationId" #location_ids="ngModel" placeholder="col-form-label-sm">
                                  <option [ngValue]=null selected disabled>Select</option>
                                  <option *ngFor="let item of allLocations" value="{{item.locationId}}">
                                    {{item.locationName}}</option>


                                </select>
                                <div *ngIf="location_ids.invalid && (location_ids.dirty || location_ids.touched)">
                                  <div *ngIf="location_ids.errors.required"><small style="color: red;"> Branch is
                                      Required </small></div>

                                </div>
                              </div>
                              <div class="col-sm-4">

                                <label for="colFormLabelSm">Role<span style="color: red">
                                    *</span></label>
                                <select class="form-control form-control-sm" id="roleId" name="roleId" required
                                  [(ngModel)]="roleId" #roleIds="ngModel" placeholder="col-form-label-sm">
                                  <option [ngValue]=null selected disabled>Select</option>
                                  <option *ngFor="let item of AllRoleslists.userList" value="{{item.roleId}}">
                                    {{item.roleName}}</option>


                                </select>
                                <div *ngIf="roleIds.invalid && (roleIds.dirty || roleIds.touched)">
                                  <div *ngIf="roleIds.errors.required"><small style="color: red;"> RoleName is
                                      Required </small></div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row" style="padding-left: 10px;">
                          <button class="btn btn-primary" id="toggleButton" data-toggle="collapse" href="#collapse-2"
                            aria-expanded="false" aria-controls="collapse-2"
                            [disabled]="contractordetailsform.invalid">Next</button>
                          &nbsp;&nbsp;
                          <button class="btn btn-primary">Reset</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header bgColors" id="heading-2">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false"
                        aria-controls="collapse-2">
                        Details of Family member
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                    <div class="card-body">
                      <form #contractordetailsform5="ngForm">
                        <div class="row container" style="margin: auto;">
                          <div class="col-md-12">
                            <div class="form-group row centerfield">

                              <div class="form-group row container centercontent">
                                <div class="col-sm-3">

                                  <label for="colFormLabelSm">Name of the member <span _ngcontent-c61=""
                                      style="color: red"> *</span></label>
                                  <input type="text" class="form-control form-control-sm" id="name"
                                    name="name" required [(ngModel)]="name"
                                    #names="ngModel">

                                  <div
                                    *ngIf="names.invalid && (names.dirty || names.touched)">
                                    <div *ngIf="names.errors.required"><small style="color: red;">
                                        Name of the member is Require </small></div>

                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <label for="colFormLabelSm">Relationship with the Labour <span _ngcontent-c61=""
                                      style="color: red">*</span></label>
                                  <select class="form-control form-control-sm" id="relation" name="relation"
                                    [(ngModel)]="relation" #desig_ids="ngModel" required>
                                   
                                    <option value="father">Father</option>
                                    <option value="mother">Mother</option>
                                    <option value="wife">Wife</option>
                                  </select>
                                  <div *ngIf="desig_ids.invalid && (desig_ids.dirty || desig_ids.touched)">
                                    <div *ngIf="desig_ids.errors.required"><small style="color:red;"> Designation is
                                        Required</small></div>
                                  </div>
                                </div>

                              </div>
                              <div class="form-group row container centercontent">
                                <div class="col-sm-3">
                                  <label for="colFormLabelSm">Age<span _ngcontent-c61=""
                                      style="color: red">*</span></label>
                                  <!-- Replace the dropdown with an input field -->
                                  <input type="text" class="form-control form-control-sm" id="relationage" name="relationage" required
                                    [(ngModel)]="relationage" #ageField="ngModel">
                                  <div *ngIf="ageField.invalid && (ageField.dirty || ageField.touched)">
                                    <div *ngIf="ageField.errors.required"><small style="color: red;"> Age is Required
                                      </small></div>
                                  </div>
                                </div>



                                <div class="col-sm-3">
                                  <label for="colFormLabelSm">Gender <span _ngcontent-c61=""
                                      style="color: red">*</span></label>
                                  <div>
                                    <label class="radio-inline">
                                      <input type="radio" name="Pgender" [(ngModel)]="Pgender" value="male" required> Male
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="Pgender" [(ngModel)]="Pgender" value="female" required>
                                      Female
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="Pgender" [(ngModel)]="Pgender" value="other" required>
                                      Other
                                    </label>
                                  </div>
                                </div>


                              </div>
                              <div class="form-group">
                              </div>
                              <div class="form-group">



                              </div>



                              <div class="form-group row container " style="justify-content: left;position: relative;
left: 25%;">
                                <button class="btn btn-primary" id="toggleButton" data-toggle="collapse"
                                  href="#collapse-3" aria-expanded="false" aria-controls="collapse-3"
                                  >Next</button>
                                &nbsp;&nbsp;
                                <button class="btn btn-primary">Reset</button>
                              </div>

                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header bgColors" id="heading-3">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false"
                        aria-controls="collapse-3">
                        Statutory
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                    <div class="card-body">
                      <form #contractordetailsform5="ngForm">
                        <div class="row container" style="margin: auto;">
                          <div class="col-md-12">
                            <div class="form-group row centerfield">

                              <div class="form-group row container centercontent">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                  <label for="colFormLabelSm">PF Number<span style="color: red">*</span></label>
                                  <input type="text" class="form-control form-control-sm" id="pfNumber" name="pfNumber"
                                    [(ngModel)]="pfNumber" #pfNumbers="ngModel" required>
                                  <div *ngIf="pfNumbers.invalid && (pfNumbers.dirty || pfNumbers.touched)">
                                    <div *ngIf="pfNumbers.errors.required"><small style="color:red;"> PF Number is
                                        Required</small></div>
                                  </div>
                                </div>

                                <div class="col-sm-3">
                                  <label for="colFormLabelSm">ESIC Number </label>
                                  <input type="text" class="form-control form-control-sm" id="esicNumber"
                                    name="esicNumber" [(ngModel)]="esicNumber" #esicNumbers="ngModel">
                                  <div *ngIf="esicNumbers.invalid && (esicNumbers.dirty || esicNumbers.touched)">
                                    <div *ngIf="esicNumbers.errors.required"><small style="color:red;"> Esic Number is
                                        Required</small></div>
                                  </div>
                                </div>





                              </div>
                              <div class="form-group row container centercontent">
                                <div class="col-sm-3">
                                  <label for="colFormLabelSm">WC Number </label>
                                  <input type="text" class="form-control form-control-sm" id="wcNumber" name="wcNumber"
                                    [(ngModel)]="wcNumber" #wcNumbers="ngModel">
                                  <div *ngIf="wcNumbers.invalid && (wcNumbers.dirty || wcNumbers.touched)">
                                    <div *ngIf="wcNumbers.errors.required"><small style="color:red;"> wc Number is
                                        Required</small></div>
                                  </div>
                                </div>

                              </div>



                            </div>
                            <div class="form-group row" style="justify-content: center; position: relative; right: 7%;">
                              <button class="btn btn-primary" id="toggleButton" data-toggle="collapse"
                                href="#collapse-5" aria-expanded="false" aria-controls="collapse-5"
                                [disabled]="contractordetailsform5.invalid">Next</button>
                              &nbsp;&nbsp;
                              <button class="btn btn-primary">Reset</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
                <!-- <div class="card">
                  <div class="card-header bgColors" id="heading-4">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false"
                        aria-controls="collapse-4">
                        Salary Details
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-4">
                    <div class="card-body">
                      After subscription you will get our special trade copier. If you want to use this copier for
                      business purpose or other commercial pupose then directly contact with www.fxcopier.co.uk.
                    </div>
                  </div>
                </div> -->
                <div class="card">
                  <div class="card-header bgColors" id="heading-5">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false"
                        aria-controls="collapse-5">
                        Work History
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-5" class="collapse" data-parent="#accordion" aria-labelledby="heading-5">
                    <div class="card-body">
                      <form #contractordetailsform3="ngForm">
                        <div class="form-group row container centercontent">
                          <div class="col-sm-3">

                            <label>
                              <input type="checkbox" name="isChecked" [(ngModel)]="isChecked"
                                (ngModelChange)="onCheckboxChange()">
                              IF Fresher
                            </label>
                          </div>
                        </div>
                        <div class="row container" *ngIf="fresher!=true">
                          <div class="col-md-12">

                            <div class="form-group row container centercontent">

                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Previous Employer <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="previousEmployer"
                                  name="previousEmployer" [(ngModel)]="previousEmployer" #previousEmployers="ngModel"
                                  required>
                                <div
                                  *ngIf="previousEmployers.invalid && (previousEmployers.dirty || previousEmployers.touched)">
                                  <div *ngIf="previousEmployers.errors.required"><small style="color:red;"> previous
                                      Employer is Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Joining Date<span style="color: red"> *</span></label>
                                <input type="date" class="form-control form-control-sm" id="workedStartedDate"
                                  name="workedStartedDate" [(ngModel)]="workedStartedDate" #workedStartedDates="ngModel"
                                  max="{{today | date:'yyyy-MM-dd'}}" required>
                                <div
                                  *ngIf="workedStartedDates.invalid && (workedStartedDates.dirty || workedStartedDates.touched)">
                                  <div *ngIf="workedStartedDates.errors.required"><small style="color:red;"> Worked
                                      Start Date is Required</small></div>
                                </div>
                              </div>

                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Separation Date <span style="color: red"> *</span></label>
                                <input type="date" class="form-control form-control-sm" id="workedCompletedDate"
                                  name="workedCompletedDate" [(ngModel)]="workedCompletedDate"
                                  #workedCompletedDates="ngModel" required>
                                <!-- Set the minimum date to the Worked Started Date -->
                                <div
                                  *ngIf="workedCompletedDates.invalid && (workedCompletedDates.dirty || workedCompletedDates.touched)">
                                  <div *ngIf="workedCompletedDates.errors.required"><small style="color:red;"> Worked
                                      Completed Date is Required</small></div>
                                </div>
                              </div>

                            </div>
                            <div class="form-group row container centercontent">
                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Job Description <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="jobTitle" name="jobTitle"
                                  [(ngModel)]="jobTitle" #jobTitles="ngModel" required>
                                <div *ngIf="jobTitles.invalid && (jobTitles.dirty || jobTitles.touched)">
                                  <div *ngIf="jobTitles.errors.required"><small style="color:red;"> job Title is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Tools Used <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="toolUsed" name="toolUsed"
                                  [(ngModel)]="toolUsed" #toolUseds="ngModel" required>
                                <div *ngIf="toolUseds.invalid && (toolUseds.dirty || toolUseds.touched)">
                                  <div *ngIf="toolUseds.errors.required"><small style="color:red;"> Tools is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Type Of Employment <span style="color: red">
                                    *</span></label>

                                <select class="form-control form-control-sm" id="employmentType" name="employmentType"
                                  required [(ngModel)]="employmentType" #permanant="ngModel"
                                  placeholder="col-form-label-sm">
                                  <option [ngValue]=null selected disabled>Select</option>
                                  <option value="Permanent">Permanent</option>
                                  <option value="Permanent">Permanent</option>
                                  <option value="Seasonal">Seasonal</option>

                                </select>
                                <div *ngIf="permanant.invalid && (permanant.dirty || permanant.touched)">
                                  <div *ngIf="permanant.errors.required"><small style="color: red;"> Type Of Employment
                                      is
                                      Required </small></div>

                                </div>
                              </div>
                            </div>
                            <div class="form-group row container centercontent">


                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Reason For Sepration <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="reasonForLeaving"
                                  name="reasonForLeaving" [(ngModel)]="reasonForLeaving" #reasonForLeavings="ngModel"
                                  required>
                                <div
                                  *ngIf="reasonForLeavings.invalid && (reasonForLeavings.dirty || reasonForLeavings.touched)">
                                  <div *ngIf="reasonForLeavings.errors.required"><small style="color:red;"> Reason is
                                      Required</small></div>
                                </div>
                              </div>

                              <div class="col-sm-3" hidden>
                                <label for="colFormLabelSm">Supervisor <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="voterCardNo"
                                  name="voterCardNo" [(ngModel)]="voterCardNo" #voterCardNos="ngModel">
                                <div *ngIf="voterCardNos.invalid && (voterCardNos.dirty || voterCardNos.touched)">
                                  <div *ngIf="voterCardNos.errors.required"><small style="color:red;"> pan Number is
                                      Required</small></div>
                                </div>
                              </div>
                              <div class="col-sm-3" hidden>
                                <label for="colFormLabelSm">Contractor <span style="color: red">
                                    *</span></label>
                                <input type="text" class="form-control form-control-sm" id="voterCardNo"
                                  name="voterCardNo" [(ngModel)]="voterCardNo" #voterCardNos="ngModel">
                                <div *ngIf="voterCardNos.invalid && (voterCardNos.dirty || voterCardNos.touched)">
                                  <div *ngIf="voterCardNos.errors.required"><small style="color:red;"> pan Number is
                                      Required</small></div>
                                </div>
                              </div>

                              <div class="col-sm-3">
                                <label for="colFormLabelSm">Last Drawn Salary <span style="color: red">
                                    *</span></label>
                                <input type="number" class="form-control form-control-sm" id="wage" name="wage"
                                  [(ngModel)]="wage" #wages="ngModel" required>
                                <div *ngIf="wages.invalid && (wages.dirty || wages.touched)">
                                  <div *ngIf="wages.errors.required"><small style="color:red;"> wage is Required</small>
                                  </div>
                                </div>
                              </div>

                              <div class="col-sm-3">
                                <!-- <label for="colFormLabelSm">Responsibility <span style="color: red">
                                  *</span></label>
                              <input type="text" class="form-control form-control-sm" id="jobDuties" name="jobDuties"
                                [(ngModel)]="jobDuties" #jobDutiess="ngModel" required>
                              <div *ngIf="jobDutiess.invalid && (jobDutiess.dirty || jobDutiess.touched)">
                                <div *ngIf="jobDutiess.errors.required"><small style="color:red;">Responsibility is
                                  Required</small></div>
                              </div> -->
                              </div>
                            </div>
                            <div class="form-group row container " style="position: relative;
                        left: 12%;">



                            </div>
                            <div class="form-group row container " style="position: relative;
                        left: 12%;">

                            </div>
                            <div class="form-group row container" style="position: relative;
                        left: 12%;">
                              <button class="btn btn-primary" (click)="AddworkHistoryList()"
                                [disabled]="contractordetailsform3.invalid">Add Another Experience
                              </button>
                            </div>
                            <div class="form-group row container" style="justify-content: center;">
                              <div class="col-md-9">
                                <table id="absent_employees" id="example" class="table table-striped table-bordered">
                                  <thead class="theadblue">
                                    <tr style="text-align: center !important;">
                                      <th>Sr.No</th>
                                      <th>Previous Employer</th>
                                      <th>Job Description</th>
                                      <th>Reason For Sepration</th>
                                      <td>Action</td>

                                    </tr>
                                  </thead>
                                  <!-- *ngFor="let item of report_data; let i = index" -->
                                  <tbody>
                                    <tr *ngFor="let item of workHistoryList; let i = index">
                                      <td>
                                        {{i+1}}
                                      </td>
                                      <td>{{item.previousEmployer}}</td>

                                      <td>{{item.jobTitle}}</td>
                                      <td>{{item.reasonForLeaving}}</td>
                                      <td> <i class="fa fa-pencil" (click)="ediExperience(item,i)"
                                          aria-hidden="true"></i>
                                        &nbsp;&nbsp;
                                        <i class="fa fa-trash" data-toggle="modal" (click)="deletework()"
                                          data-target="#AreYouSuredlt3" aria-hidden="true"></i>
                                      </td>

                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="form-group row container" style="position: relative;
                        left: 12%;">
                              <button class="btn btn-primary" id="toggleButton" data-toggle="collapse"
                                href="#collapse-7" aria-expanded="false" aria-controls="collapse-7"
                                [disabled]="!workHistoryList.length">Next</button>
                              &nbsp; &nbsp;
                              <button class="btn btn-primary">Reset</button>

                            </div>
                          </div>
                        </div>
                        <div *ngIf="fresher==true">
                          <button class="btn btn-primary" id="toggleButton" data-toggle="collapse" href="#collapse-7"
                            aria-expanded="false" aria-controls="collapse-7">Next</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header bgColors" id="heading-7">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-7" aria-expanded="false"
                        aria-controls="collapse-7">
                        Bank Details
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-7" class="collapse" data-parent="#accordion" aria-labelledby="heading-7">
                    <div class="card-body">
                      <form #bankdeatilsform="ngForm">
                        <div class="form-group row centerfield">
                          <div class="col-sm-4">
                            <label for="colFormLabelSm">Bank Name <span _ngcontent-c61=""
                                style="color: red">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="bankName" name="bankName"
                              [(ngModel)]="bankName" #bankNameInput="ngModel" required>
                            <div *ngIf="bankNameInput.invalid && (bankNameInput.dirty || bankNameInput.touched)">
                              <div *ngIf="bankNameInput.errors.required"><small style="color:red;">Bank Name is
                                  Required</small></div>
                            </div>
                          </div>

                          <div class="col-sm-4">
                            <label for="colFormLabelSm">Account Number <span _ngcontent-c61=""
                                style="color: red">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="accountNumber"
                              name="accountNumber" [(ngModel)]="accountNumber" #accountNumberInput="ngModel" required>
                            <div
                              *ngIf="accountNumberInput.invalid && (accountNumberInput.dirty || accountNumberInput.touched)">
                              <div *ngIf="accountNumberInput.errors.required"><small style="color:red;">Account Number
                                  is Required</small></div>
                            </div>
                          </div>

                          <div class="col-sm-4">
                            <label for="colFormLabelSm">IFSC Code <span _ngcontent-c61=""
                                style="color: red">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="ifscCode" name="ifscCode"
                              [(ngModel)]="ifscCode" #ifscCodeInput="ngModel" required>
                            <div *ngIf="ifscCodeInput.invalid && (ifscCodeInput.dirty || ifscCodeInput.touched)">
                              <div *ngIf="ifscCodeInput.errors.required"><small style="color:red;">IFSC Code is
                                  Required</small></div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row centerfield">





                          <div class="col-sm-4">

                          </div>
                        </div>



                        <div class="form-group row" style="position: relative; left: 34%;">
                          <div class="col-sm-4">
                            <button class="btn btn-primary" type="submit" [disabled]="satutoryform.invalid"
                              data-toggle="collapse" href="#collapse-6" aria-expanded="false" aria-controls="collapse-6"
                              id="toggleButton1">Next</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-primary">Reset</button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>


                <div class="card">
                  <div class="card-header bgColors" id="heading-6">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-6" aria-expanded="false"
                        aria-controls="collapse-6">
                        Document Upload
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-6" class="collapse" data-parent="#accordion" aria-labelledby="heading-6">
                    <div class="card-body">

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row centercontent">
                            <div class="col-md-4">

                              <label>Aadhaar Card<span style="color: red"> *</span></label>
                              <div class="custom-file">

                                <input type="file" class="custom-file-input" id="aadharImg" name="aadharImg"
                                  [(ngModel)]="aadharImg" #aadharImgs="ngModel" required
                                  (change)="handleFileInput1($event.target.files)" accept=".png, .jpeg, .jpg">
                                <label class="custom-file-label" for="customFile"> {{ obj1.name }}</label>

                                <div *ngIf="aadharImgs.invalid && (aadharImgs.dirty || aadharImgs.touched)">
                                  <div *ngIf="aadharImgs.errors.required"><small style="color: red;">Aadhaar is
                                      Required</small></div>


                                </div>

                              </div>
                            </div>
                            <div class="col-md-4">
                              <label>Pan Card</label>
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="panCardImg" name="panCardImg"
                                  [(ngModel)]="panCardImg" (change)="handleFileInput2($event.target.files)"
                                  accept=".png, .jpeg, .jpg">
                                <label class="custom-file-label" for="customFile">{{ obj2.name }}</label>
                              </div>
                            </div>

                          </div>
                          <div class="form-group row centercontent">
                            <div class="col-md-4">

                              <label>Police Verification Document<span style="color: red">
                                  *</span></label>
                              <div class="custom-file">

                                <input type="file" class="custom-file-input" id="policeVerificationDoc"
                                  name="policeVerificationDoc" [(ngModel)]="policeVerificationDoc"
                                  #policeVerificationDocs="ngModel" required
                                  (change)="handleFileInput3($event.target.files)" accept=".png, .jpeg, .jpg">
                                <label class="custom-file-label" for="customFile">
                                  <div>{{ obj3.name }}</div>
                                </label>
                                <div
                                  *ngIf="policeVerificationDocs.invalid && (policeVerificationDocs.dirty || policeVerificationDocs.touched)">
                                  <div *ngIf="policeVerificationDocs.errors.required"><small style="color: red;">Labour
                                      License is Required</small></div>


                                </div>

                              </div>
                            </div>
                            <div class="col-md-4" *ngIf="!fresher">
                              <label>Experience Certificate<span style="color: red"> *</span></label>
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="experienceLetter"
                                  name="experienceLetter" [(ngModel)]="experienceLetter" #experienceLetters="ngModel"
                                  required (change)="handleFileInput4($event.target.files)" accept=".png, .jpeg, .jpg">
                                <label class="custom-file-label" for="customFile">{{ obj4.name }}</label>
                                <div
                                  *ngIf="experienceLetters.invalid && (experienceLetters.dirty || experienceLetters.touched)">
                                  <div *ngIf="experienceLetters.errors.required"><small style="color: red;">Experience
                                      is Required</small></div>
                                </div>
                              </div>
                            </div>

                            <!-- <div class="col-md-4">

                              <label>Expiry Date<span style="color: red"> *</span></label>
                              <div>

                                <input type="date" class="form-control" id="policeVerificationDocExpiryDate"
                                  name="policeVerificationDocExpiryDate" [(ngModel)]="policeVerificationDocExpiryDate"
                                  #policeVerificationDocExpiryDates="ngModel" required>

                                <div
                                  *ngIf="policeVerificationDocExpiryDates.invalid && (policeVerificationDocExpiryDates.dirty || policeVerificationDocExpiryDates.touched)">
                                  <div *ngIf="policeVerificationDocExpiryDates.errors.required"><small
                                      style="color: red;">Labour License is Require</small></div>


                                </div>

                              </div>
                            </div> -->
                          </div>
                          <div class="form-group row" style="position: relative;
                      left: 17%;">
                            <!-- <div class="col-md-4">

                              <label>Experience Letter<span style="color: red"> *</span></label>
                              <div class="custom-file">

                                <input type="file" class="custom-file-input" id="experienceLetter"
                                  name="experienceLetter" [(ngModel)]="experienceLetter" #experienceLetters="ngModel"
                                  required (change)="handleFileInput4($event.target.files)" accept=".png, .jpeg, .jpg">
                                <label class="custom-file-label" for="customFile">{{ obj4.name }}</label>
                                <div
                                  *ngIf="experienceLetters.invalid && (experienceLetters.dirty || experienceLetters.touched)">
                                  <div *ngIf="experienceLetters.errors.required"><small style="color: red;">Experience
                                      is Require</small></div>


                                </div>

                              </div>
                            </div> -->

                          </div>
                          <div class="form-group row" style="position: relative;
                      left: 18%;">
                            <button class="btn btn-primary" (click)="addDocumenthere()"
                              [disabled]="!areAllDocumentsUploaded()">Add Document</button>

                          </div>
                          <div class="form-group row centercontent">
                            <div class="col-md-6" style="margin-right: 18%;">
                              <table id="absent_employees" id="example" class="table table-striped table-bordered">
                                <thead class="theadblue">
                                  <tr style="text-align: center !important;">
                                    <th *ngIf="documentMaster.aadharImg">Sr.No</th>
                                    <th *ngIf="documentMaster.aadharImg">Aadhaar</th>
                                    <th *ngIf="documentMaster.experienceLetter">Experience</th>
                                    <th *ngIf="documentMaster.panCardImg">PanCard </th>
                                    <th *ngIf="documentMaster.policeVerificationDoc">Police Verification</th>
                                    <th *ngIf="documentMaster.policeVerificationDocExpiryDate">Police Verification
                                      Expiry Date</th>


                                  </tr>
                                </thead>
                                <!-- *ngFor="let item of report_data; let i = index" -->
                                <tbody>
                                  <tr>
                                    <td *ngIf="documentMaster.aadharImg">
                                      1
                                    </td>
                                    <td *ngIf="documentMaster.aadharImg"><img src="{{documentMaster.aadharImg}}" style="height: 80px;
                                      width: 130px;"></td>
                                    <td *ngIf="documentMaster.experienceLetter"><img
                                        src="{{documentMaster.experienceLetter}}" style="height: 80px;
                                      width: 130px;"></td>
                                    <td *ngIf="documentMaster.panCardImg"><img src="{{documentMaster.panCardImg}}"
                                        style="height: 80px;
                                      width: 130px;"></td>
                                    <td *ngIf="documentMaster.policeVerificationDoc"><img
                                        src="{{documentMaster.policeVerificationDoc}}" style="height: 80px;
                                      width: 130px;"></td>
                                    <td *ngIf="documentMaster.policeVerificationDocExpiryDate">
                                      {{documentMaster.policeVerificationDocExpiryDate|date: 'dd/MM/yyyy'}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="form-group row" style="position: relative;
                      left: 18%;">
                            <!-- <div class="col-md-4">
                              <button class="btn btn-primary" id="toggleButton" data-toggle="collapse" href="#collapse-7"
                              aria-expanded="false" aria-controls="collapse-7" (click)="addDocumenthere()">Next</button>
                              &nbsp; &nbsp;
                              <button class="btn btn-primary">Reset</button>

                            </div> -->
                            <div class="col-md-4">
                              <button class="btn btn-primary" (click)="saveContractorLabours()"
                                *ngIf="isedit==false">Save</button>
                              <button class="btn btn-primary" (click)="updatecontractor()"
                                *ngIf="isedit==true">update</button>
                              &nbsp; &nbsp;
                              <button class="btn btn-info">Reset</button>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="card">
                  <div class="card-header bgColors" id="heading-7">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-7" aria-expanded="false"
                        aria-controls="collapse-7">
                        PPE Details
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-7" class="collapse" data-parent="#accordion" aria-labelledby="heading-7">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row" style="justify-content: center;">
                            <div class="col-sm-4">

                              <label for="colFormLabelSm">Assets <span _ngcontent-c61="" style="color: red">
                                  *</span></label>
                              <select class="form-control form-control-sm" id="assetId" name="assetId" required
                                [(ngModel)]="assetId" #asset_ids="ngModel" placeholder="col-form-label-sm">
                                <option [ngValue]=null selected disabled>Select</option>
                                <option *ngFor="let item of Allassets" value="{{item.assetId}}">{{item.assetName}}
                                </option>


                              </select>
                              <div *ngIf="asset_ids.invalid && (asset_ids.dirty || asset_ids.touched)">
                                <div *ngIf="asset_ids.errors.required"><small style="color: red;"> Assets is Require
                                  </small></div>

                              </div>
                            </div>
                          </div>
                          <div class="form-group row" style="justify-content: center;">
                            <div class="col-md-4">

                              <label for="colFormLabelSm">Issue Date<span _ngcontent-c61="" style="color: red">
                                  *</span></label>
                              <input type="date" class="form-control form-control-sm" id="issuedate" name="issuedate"
                                [(ngModel)]="issuedate" #issuedates="ngModel" required>
                              <div *ngIf="issuedates.invalid && (issuedates.dirty || issuedates.touched)">
                                <div *ngIf="issuedates.errors.required"><small style="color:red;"> Issue Date is
                                    Require</small></div>

                              </div>
                            </div>
                          </div>
                          <div class="form-group row" style="justify-content: center;">
                            <div class="col-sm-4">

                              <label for="colFormLabelSm">Issue Reason<span _ngcontent-c61="" style="color: red">
                                  *</span></label>
                              <input type="text" class="form-control form-control-sm" id="issuedReason"
                                name="issuedReason" required [(ngModel)]="issuedReason" #issuedReasons="ngModel"
                                placeholder="col-form-label-sm">



                              <div *ngIf="issuedReasons.invalid && (issuedReasons.dirty || issuedReasons.touched)">
                                <div *ngIf="issuedReasons.errors.required"><small style="color: red;"> Issue is Require
                                  </small></div>

                              </div>
                            </div>
                          </div>
                          <div class="form-group row" style="justify-content: center;">
                            <div class="col-md-4">
                              <button class="btn btn-info" (click)="addAssets()">
                                Add Assets
                              </button>
                            </div>
                          </div>
                          <div class="form-group row" style="justify-content: center;">
                            <div class="col-md-6">
                              <table id="absent_employees" id="example" class="table table-striped table-bordered">
                                <thead class="theadblue">
                                  <tr style="text-align: center !important;">
                                    <th>Sr.No</th>
                                    <th>Assets</th>
                                    <th>Issue Reason</th>
                                    <th>Issue Date</th>
                                   <th>Action</th>

                                  </tr>
                                </thead>
                              
                                <tbody *ngFor="let item of assetHistories; let i=index">
                                  <tr>

                                    <td>{{i+1}}</td>
                                    <td>{{item.assetsName}}</td>
                                    <td>{{item.issuedReason}}</td>
                                    <td>{{item.issuedate}}</td>
                                    <td> <i class="fa fa-pencil" (click)="editAssets(item,i)" aria-hidden="true"></i>
                                      &nbsp;&nbsp;
                                      <i class="fa fa-trash"  data-toggle="modal" (click)="deleteAset()"
                                        data-target="#AreYouSuredlt2" aria-hidden="true"></i></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="form-group row" style="position: relative;
                      left: 26%;">
                            <button class="btn btn-primary"id="toggleButton" data-toggle="collapse" href="#collapse-8"
                            aria-expanded="false" aria-controls="collapse-8">

                              Next
                            </button>&nbsp;&nbsp;
                            <button class="btn btn-info">Reset</button>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="card">
                  <div class="card-header bgColors" id="heading-8">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-8" aria-expanded="false"
                        aria-controls="collapse-8">
                        Penality & Fines
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-8" class="collapse" data-parent="#accordion" aria-labelledby="heading-8">
                    <div class="card-body">
                      <div class="row container">
                        <div class="form-group row container centercontent">
                          <div class="col-md-4">

                            <label for="colFormLabelSm">Date Of Occurence<span _ngcontent-c61="" style="color: red">
                                *</span></label>
                            <input type="date" class="form-control form-control-sm" id="dateOfOccurence"
                              name="dateOfOccurence" [(ngModel)]="dateOfOccurence" #dateOfOccurences="ngModel" required>
                            <div
                              *ngIf="dateOfOccurences.invalid && (dateOfOccurences.dirty || dateOfOccurences.touched)">
                              <div *ngIf="dateOfOccurences.errors.required"><small style="color:red;">Date is
                                  Require</small></div>

                            </div>
                          </div>
                          <div class="col-sm-4">
                            <label for="colFormLabelSm">Penalty Amount<span _ngcontent-c61="" style="color: red">
                                *</span></label>
                            <input type="text" class="form-control form-control-sm" id="penaltyAmount"
                              name="penaltyAmount" [(ngModel)]="penaltyAmount" #penaltyAmounts="ngModel" required>
                            <div *ngIf="penaltyAmounts.invalid && (penaltyAmounts.dirty || penaltyAmounts.touched)">
                              <div *ngIf="penaltyAmounts.errors.required"><small style="color: red;"> Penalty Amount is
                                  Require</small></div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row container centercontent">
                          <div class="col-md-8">
                            <label for="exampleFormControlTextarea1" class="form-label">Accurrence Details</label>
                            <textarea class="form-control" id="accurrenceDetails" name="accurrenceDetails" rows="3"
                              [(ngModel)]="accurrenceDetails"></textarea>
                          </div>
                        </div>
                        <div class="form-group row container" style="position: relative;
                        left: 16%;">
                          <div class="col-md-4">
                            <button class="btn btn-primary" (click)="saveContractorLabours()" *ngIf="isedit==false">Save</button>
                            <button class="btn btn-primary" (click)="updatecontractor()" *ngIf="isedit==true">update</button>
                            &nbsp; &nbsp;
                            <button class="btn btn-info">Reset</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="AreYouSuredlt2">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want to Delete..?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)="deleteAssets()" data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="AreYouSuredlt3">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want to Delete..?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)="deleteworks()" data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>