<div class="container-fluid">

  <div id="content" class="rep-bg">

    <div class="row">
      <div class="col-md-6">

        <!-- <img src="assets/rieter_logoL.png" alt="alleviz"> -->
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Leave Taken Report </strong> &nbsp;

        </h6>
      </div>
    </div>


    <div class="row">

      <div class="col-md-12">
        <!-- <div class="repdate float-right">{{myDate}}</div> -->
        <!-- <div class="qwe">
            <h6><span class="blu"><strong>Abbreviation:-</strong></span> WD : Working Day, WO : Weekly Off, HO : Holiday Off,<span></span> WOH : Week Off And Holiday</h6>
        </div> -->
      </div>

      <div class="col-md-12">
          <!-- <div class="repdate float-right">{{myDate}}</div> -->
          <div class="qwe">
            <h6><span class="blu"><strong>Leave Taken Report From Date: </strong></span>{{fromDate}}<span class="blu"><strong> To:</strong></span> {{toDate}}</h6>
          </div>
        </div>

      <div id="content" class="col-md-10">
        <table class="table table-space table-borderless">
          <thead>
            <tr class="table-secondary">
              <th *ngIf='marked'>Employee</th>
              <th *ngIf='marked1'>Leave Name</th>
              <th *ngIf='marked2'>Leave Code</th>
              <th *ngIf='marked3'>From Date</th>
              <th *ngIf='marked4'>To Date</th>
              <th *ngIf='marked5'>No. Of leaves</th>
              <th *ngIf='marked6'>Leave Type</th>
              <th *ngIf='marked7'>Half Day Type</th>
              <th *ngIf='marked8'>Planned/Unplanned</th>
              <th *ngIf='marked9'>Reason</th>
            </tr>
          </thead>
          <tbody *ngFor="let leave of AllReport">
            <tr *ngFor = "let data of leave; let i = index;">
              
              <td *ngIf='marked'><span *ngIf="i==0">{{data.fullName}} {{data.lastName}}</span></td>
              <td *ngIf='marked1'>{{data.leaveName}}</td>
              <td *ngIf='marked2'>{{data.leaveCode}}</td>
              <td *ngIf='marked3'>{{data.startDate}}</td>
              <td *ngIf='marked4'>{{data.endDate}}</td>
              <td *ngIf='marked5'>{{data.leaveCount}}</td>
              <td *ngIf='marked6'>{{data.leaveType}}</td>
              <td *ngIf='marked7'>{{data.typeOfLeave}}</td>
              <td *ngIf='marked8'>planned</td>
              <td *ngIf='marked9'>reason</td>

            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-2">
        <div class="columnshead">
          <h6>Select Columns:</h6>
          <label class="container">
            <input type="checkbox" [(ngModel)]="empCheckbox" data-md-icheck (change)="toggleVisibility($event)" />
            Employee
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="leaveNamecheckbox" data-md-icheck (change)="toggleVisibility1($event)" />
            Leave Name
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="leaveCodecheckbox" data-md-icheck (change)="toggleVisibility2($event)" />
            Leave Code
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="fromdateCheckbox" data-md-icheck (change)="toggleVisibility3($event)" />
            From date
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="todateCheckbox" data-md-icheck (change)="toggleVisibility4($event)" />
            To date
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="noofleavesCheckbox" data-md-icheck (change)="toggleVisibility5($event)" />
            No. Of. Leaves
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="leavetypeCheckbox" data-md-icheck (change)="toggleVisibility6($event)" />
            Leave Type
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="halfdayTypeCheckbox" data-md-icheck (change)="toggleVisibility7($event)" />
            Half day type
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="pannedUnplanCheckbox" data-md-icheck (change)="toggleVisibility8($event)" />
           Planned/Unplanned
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="reasonCheckbox" data-md-icheck (change)="toggleVisibility9($event)" />
           Reason
            <span class="checkmark"></span>
          </label>

          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePDF()"><i
              class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX()"><i
              class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
          <!-- <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i> &nbsp;Export Report Excel</button> -->
        </div>
      </div>


    </div>


  </div>
</div>