 /* new layout css start  */
 #coffmodal{
  background-color: rgba(34, 34, 34, 0.8);


  .table{

    td{
      font-size:12px !important;
    }
  }
 }

 #latesittingmodal{
  background-color: rgba(34, 34, 34, 0.8);


  .table{

    td{
      font-size:12px !important;
    }
  }
 }


 .newlayout{

  .toppoupbtns{
    
    .btn{
      margin-left:0px;
      border-radius: 5px !important;
      background: none;
      color: #086abe;
      font-size: 20px;
    }
    .badge{
      position: absolute;
      margin-left: -16px;
      margin-top: 5px;
    }
  }


    .whitebox-bg{
        position: relative;
        background:rgb(255, 255, 255);
        height:300px;
        border-radius: 0.365rem;
        margin-bottom: 10px;
        margin-top: 10px;
        box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;

.scrollbox{
height:220px;
overflow: auto;
visibility: hidden;

.margin0111{
    margin: 0 1rem 1rem 1rem;
}

}
  
  .newcouponbox,
  .scrollbox:hover,
  .scrollbox:focus {
    visibility: visible;
  }
  
  .scrollbox_delayed {
    transition: visibility 0.2s;
  }
  
  .scrollbox_delayed:hover {
    transition: visibility 0s 0.2s;
  }

.newscrollbox:hover{
    overflow: auto;
    
}


        select {
          width: 90%;
          border-radius: 0.365rem;
          text-transform: none;
          margin: auto;
        }
        .yellowbg{
            padding: 1rem;
            background: #fff38c;
            margin:0 1rem 1rem 1rem;
            border-radius: 0.365rem;
            visibility: visible;
        }

        .internalpadding{
            padding:1rem;

         
            .newcouponbox{
              text-transform: capitalize;
                img{
                    width:65px;
                }
            }

            .birthdayavtar {

                img{
                    width:50px;
                    border-radius: 50%;
                    margin-top: 15px;
                }
            }
          
        }

       
        .newleavecounts{
            padding-top:10%;
            bottom: 0;
            height: 170px;
            background: #1787e6;
            position: absolute;
            width: 100%;
            border-radius:0 0 0.375rem 0.375rem;
          }


          .newleavecounts:after{
            content: '';
            position: absolute;
            top: 0;
            left: 46%;
            width: 0;
            height: 0;
            border-top: solid 8px #ffffff;
            border-left: solid 11px transparent;
            border-right: solid 11px transparent;
          }
          
          .newleavecounts h3, h5 {
            text-align: center;
            color:white;
          }
          .newleavecounts h3 {
           font-size:24px;
          }
          .newleavecounts h5 {
            font-size:14px;
           }



        .levavesbox{
            position: absolute;
            bottom:0;
                background:#1787e6;
                width:100%;
                padding:5px;
                height:150px;
                border-radius:0 0 .375rem .375rem;
            }

            .coffdetails{
                padding:1rem;

                .table-bordered{
                        border: 1px solid #dee2e6 !important;
                    .table-bordered thead td, .table-bordered thead th {
                        border-bottom-width: 2px !important;
                    }
                    .table thead th {
                        vertical-align: bottom;
                        border-bottom: 2px solid #dee2e6 !important;
                    }
                    .table-bordered td, .table-bordered th {
                        border: 1px solid #dee2e6 !important;
                    }
                }
            }

      }
      .h100{
        height:100%;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .leftwhitebox-bg{
        background:rgb(255, 255, 255);
        height: 97%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 0.365rem;
        border-radius: .375rem;
        box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;

        .scrollboxnew{
    height: 500px;
    overflow: auto;
    visibility: hidden;

    .scrollbox:hover,
    .scrollbox:focus {
      visibility: visible;
    }
    
    .scrollbox_delayed {
      transition: visibility 0.2s;
    }
    
    .scrollbox_delayed:hover {
      transition: visibility 0s 0.2s;
    }

.clrbox{
  visibility: visible;
  width:100%;
  min-height:80px;
  border-radius: 5px;
  border-left: 4px solid rgb(0, 195, 255);
  // background: linear-gradient(to right, #1e5799 0%,#7db9e8 100%); 
  margin-bottom:10px;
  transition: transform .2s; /* Animation */
  // box-shadow: 0 7px 10px -7px;
  padding:10px;
  box-shadow: 0 7px 10px -7px;
  
  .namedate{
    display: -webkit-box;

    .badge{
      margin-left: 1rem !important;
      padding: 5px !important;
      border-radius: 3px !important;
      box-shadow: 0 7px 5px -5px #9e9e9e !important;
    }
  }

  h6{
    margin-bottom:0px !important;
    margin-top:0px !important;
    font-weight: 600;
  }
  p{
    font-weight: 100;
    line-height: 1.2;
    font-size: 12px;
    margin-top: 10px;
  }
}

.clrbox:hover {
  transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  
}



.clrboxapproved{
  visibility: visible;
  width:100%;
  min-height:80px;
  border-radius: 5px;
  border-left: 4px solid #991e1e;
  // background: linear-gradient(to right, #991e1e 0%,#e8847d 100%); 
  margin-bottom:10px;
  transition: transform .2s; /* Animation */
  // box-shadow: 0 7px 10px -7px;
  padding:10px;
  box-shadow: 0 7px 10px -7px;

  
  .namedate{
    display: -webkit-box;

    .badge{
      margin-left: 1rem !important;
      padding: 5px !important;
      border-radius: 3px !important;
      box-shadow: 0 7px 5px -5px #9e9e9e !important;
    }
  }

  h6{
    margin-bottom:0px !important;
    margin-top:0px !important;
    font-weight: 600;
  }
  p{
    font-weight: 100;
    line-height: 1.2;
    font-size: 12px;
    margin-top: 10px;
  }
}
.clrboxapproved:hover {
  transform: scale(1.03); 
  
}


.clrboxpending{
  visibility: visible;
  width:100%;
  min-height:80px;
  border-radius: 5px;
  border-left: 4px solid #d68b1b;
  // background: linear-gradient(to right, #d68b1b 0%, #ffcc85 100%); 
  margin-bottom:10px;
  transition: transform .2s; /* Animation */
  // box-shadow: 0 7px 10px -7px;
  padding:10px;
  box-shadow: 0 7px 10px -7px;
  
  .namedate{
    display: -webkit-box;

    .badge{
      margin-left: 1rem !important;
      padding: 5px !important;
      border-radius: 3px !important;
      box-shadow: 0 7px 5px -5px #9e9e9e !important;
    }
  }

  h6{
    margin-bottom:0px !important;
    margin-top:0px !important;
    font-weight: 600;
  }
  p{
    font-weight: 100;
    line-height: 1.2;
    font-size: 12px;
    margin-top: 10px;
  }
  .btn{
    border-radius: 5px !important;
  }
}
.clrboxpending:hover {
  transform: scale(1.03); 
  
}



.clrboxOd{
  visibility: visible;
  width:100%;
  min-height:80px;
  border-radius: 5px;
  border-left: 4px solid #168c2d;
  // background: linear-gradient(to right, #168c2d 0%, #8fda7e 100%); 
  margin-bottom:10px;
  transition: transform .2s; /* Animation */
  // box-shadow: 0 7px 10px -7px;
  padding:10px;
  box-shadow: 0 7px 10px -7px;
  
  .namedate{
    display: -webkit-box;

    .badge{
      margin-left: 1rem !important;
      padding: 5px !important;
      border-radius: 3px !important;
      box-shadow: 0 7px 5px -5px #9e9e9e !important;
    }
  }

  h6{
    margin-bottom:0px !important;
    margin-top:0px !important;
    font-weight: 600;
  }
  p{
    font-weight: 100;
    line-height: 1.2;
    font-size: 12px;
    margin-top: 10px;
  }
  .btn{
    border-radius: 5px !important;
  }
}
.clrboxOd:hover {
  transform: scale(1.03); 
  box-shadow: 0 7px 10px -7px;
}



}


      }


      
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        
          position: relative;
          min-height: 1px;
          padding-right: 10px !important;
          padding-left: 10px !important;
          padding-top:0 !important;
          padding-bottom:0 !important;
        
      }
}
 
.oldholiday {
    color:rgb(209, 209, 209) !important;
  }
  oldholiday1{
    color:rgba(209, 209, 209, 0.178) !important;
  }
  
   /* new layout css end  */