.anniversaryimage img{
width:300px;
text-align: center;
margin-bottom: 1rem;
}
.anniversaryimage{
text-align: center;
}
.congratstext{
  text-align: center !important;
}

.selEmps{
  min-height: 100px;
  width:100%;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}
.colorcard{

  transition: transform .2s, -webkit-transform .2s;
  cursor: pointer;
  padding:1px;
  border-radius: 0.5rem;
 height: 100%;
  box-shadow: 0 15px 9px -13px #424242;
}
.colorcard .card-header{
  height: auto !important;
  padding: 0 !important;
} 
.colorcard:hover{
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.colorcard h5{
  font-family: Roboto, Arial, sans-serif !important;
  text-shadow: 0px 2px 2px #0e0e0e;
}
.colorcard .card-header{
  background: transparent !important;
  color:white !important;
  font-weight: 100 !important;
  text-transform: capitalize;
}
.colorcard h6{
  color:white;
  font-weight: 300 !important;
  
}
.colorcard-dark{
  max-height: 120px;
  text-align: center;
  background: -webkit-linear-gradient(-45deg, rgb(112, 112, 112) 0%, rgb(61, 61, 61) 53%, rgb(24, 24, 24) 100%);
  background: -o-linear-gradient(-45deg, rgb(112, 112, 112) 0%, rgb(61, 61, 61) 53%, rgb(24, 24, 24) 100%);
  background: -ms-linear-gradient(-45deg, rgb(112, 112, 112) 0%, rgb(61, 61, 61) 53%, rgb(24, 24, 24) 100%);
  background: linear-gradient(135deg, rgb(112, 112, 112) 0%, rgb(61, 61, 61) 53%, rgb(24, 24, 24) 100%);
}
.colorcard1{
  background-color: rgb(4, 7, 14);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/assets/costbgone.jpg');
}
.colorcard2{
  background-color: rgb(4, 7, 14);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/assets/costbgtwo.jpg');
}
.colorcard3{
  background-color: rgb(4, 7, 14);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/assets/costbgthree.jpg');
}
@media screen and (max-width: 770px) {
  .colorcard  {
 margin-bottom: 50px;
  }
  .jzdcalt {
    width: 166px !important;
  }
}


.close{
  padding: 0.5rem;
}
.loderrlog {
  width:100%;
}
.loderrlog img{
  width: 190px;
  position: relative;
  float: right;
  right: 0;
  top: 10px;
  padding-right: 1rem;
}

.myteamdummy{
    text-align: center;
    padding: 1rem;
}
.myteamdummy img {
  width: 250px;
  padding-top: 1rem;
  opacity: 0.5;
}

.coupondummy{
  text-align: center;
  padding: 1rem;
}
.coupondummy img {
  width: 130px;
  padding-top: 1rem;
  opacity: 0.1;
}

.noticescrollbox{
  height: 550px;
  overflow: auto;
  visibility: hidden;
}
.noticescrollbox:hover{
  visibility: visible;
}
.noticebox{
  visibility: visible;
}
.LeavRow{
  border-radius: 3px;
  /* border: 1px solid bisque; */
  background-color: #ff9d00;
  background-image: url("/assets/Rainbow-Vortex.svg");
  background-attachment: fixed;
  background-size: cover;
  color:white !important;
  width: 100%;
  display: flex;
  padding: 0.2rem 0.75rem;
  margin-bottom: 5px;
  color: inherit;
  box-shadow: 0 7px 10px #1f1f1f5e;
  transition: transform .2s, -webkit-transform .2s;
  min-height: 49px;
}
.LeavRow:hover{
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.lvname{
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.lvCount h6{
  font-weight: 600;
  font-size: 18px;
}

.newsperson img{
  height: 100%;
  width: 75px;
  align-items: center;
  position: relative;
}
.newsperson{
  width: 70px;
  /* text-align: left; */
}
.newsrow{
  position: relative;
  margin-bottom: 15px;
  min-height: 75px;
  color:white;
  display: flex;
  border-radius: 5px;
  background: -o-linear-gradient(-45deg, rgb(48, 30, 156) 0%, rgb(60, 38, 111) 32%, rgb(141, 63, 181) 77%, rgb(159, 64, 219) 100%);
  background: -ms-linear-gradient(-45deg, rgb(48, 30, 156) 0%, rgb(60, 38, 111) 32%, rgb(141, 63, 181) 77%, rgb(159, 64, 219) 100%);
  background: linear-gradient(135deg, rgb(48, 30, 156) 0%, rgb(60, 38, 111) 32%, rgb(141, 63, 181) 77%, rgb(159, 64, 219) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e395c', endColorstr='#6140db', GradientType=1 );
  box-shadow: 0 7px 10px #0000005e;
  transition: transform .2s, -webkit-transform .2s;
}

.newsrow:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  cursor: pointer;
}

.announce{
padding-right:10px;
  opacity: 0.2;
}

.announce img{
  padding-top: 0.5rem;
  width: 50px;
  right: 10px;
  position: absolute;
}
.bold{
  font-size:14px;
}
.newsdetails p{
  font-size: 10px;
  padding-top: 10px;
  text-align: left;
  padding-left: 20px;
  line-height: 1.5;
}

.newnewsfeed{
  width:100%;
}
.todocard{
  background: #fff7b7;
  margin-top: 10px;
  border: none;
  box-shadow: 0 2px 18px #0000001c;
}
.todocard .card-body .btn{
  border-radius: 5px !important;
  
}
.shortcuticon{
  background: white;
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0 6px 13px 0px #cecece;
  margin-bottom:0.5rem;
}
.shortcuticon .fa{
  font-size: 2rem;
}
.leftborder{
  border-left: 4px solid yellow;
  padding-left: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
}
.leftborder a {
  font-size: smaller;
  cursor: pointer;
}
.leftborder h6{
  font-weight: 600;
  margin-bottom: 5px !important;
}
.leftborder p{
  margin-bottom: 0 !important;
 font-size: smaller;
}
.abribg{
  width:100%;
  height: 400px;
  background: linear-gradient(135deg, #673AB7 0%,#082979 100%);
  overflow: auto;
  border-radius:0 .3rem .3rem 0;
}
.myModal23{
  min-height:400px;
}
.myModal23 .list-group-item{
  background: none;
  color:white
}

.calbg img{
  position: absolute;
  bottom: 0;
}
.p-0{
  padding:0 !important;
}

.shortcutbg{
  height:100%;
  width:100%;
  background: linear-gradient(135deg, rgba(94,3,168,1) 0%, rgba(0,52,107,1) 100%);
  background: -moz-linear-gradient(-45deg, rgba(94,3,168,1) 0%, rgba(0,52,107,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(94,3,168,1) 0%, rgba(0,52,107,1) 100%);
background: -o-linear-gradient(-45deg, rgba(94,3,168,1) 0%, rgba(0,52,107,1) 100%);
}
.birthdayperson{
  margin-left: auto !important;
  white-space: nowrap !important;
}
.birthdaytext{
  text-align: left !important;
}
.birthdaytext h6{
font-weight: 600;
}

/* CARD HEADER */
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.625rem;
  height: 3.5rem;
}
.card-header, .card-title {
  text-transform: uppercase;
  color: rgba(13, 27, 62, 0.7);
  font-weight: bold;
  font-size: 0.88rem;
}
.card-header {
  padding: 0.75rem 0.75rem;
  margin-bottom: 0;
  color: inherit;
  background-color: #fff;
  border-bottom: 1px solid rgba(26, 54, 126, 0.125);
  margin:5px;
}
.card-header.card-header-tab .card-header-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.font-size-lg {
  font-size: 1.1rem !important;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.btn-actions-pane-right {
  margin-left: auto;
  white-space: nowrap;
}
.btn-dark.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.4), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.5);
}

/* CARD HEADER */

.whitebox-bg{
  overflow: hidden;
}

.couponcontainer{
  display: flex;
  visibility: visible;
}

.coupontext h6{
  padding-left: 10px;
  font-weight: 600;
  text-align: left;
}

.coupontext p{
  padding-left:10px;
}

.couponicon img{
  border-radius: 50%;
  width:45px;
  height: 45px;
}

.scrollboxnewcoupon {
  height:120px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.boxhead1 {
  max-height: 500px !important;
  /* min-height: 40% ; */
  overflow: auto !important;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  visibility: visible !important;
  
}

.holiscrolling{
  height:350px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.holibg{

  background-image: url("/assets/holibg.jpg");
  background-size: cover;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  padding: 0 25px;
  color:white;
  min-height: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.holibg h4{
  margin: 0;
  display: flex;
  align-items: center;
}

.mainholidaybox{
  display: flex;
}
.holidatebg{
  background: #e6e6e6;
  text-align: center;
  width:60px;
  height:50px;
  border-radius: 5px;
}
.holimonthless{
  
  background: rgb(134, 122, 122);
  color:white;
  border-radius: 5px 5px 0 0;
}
.holimonthgreater {
  background: rgb(170, 53, 53);
  color: white;
  border-radius: 5px 5px 0 0;
}
.holidatebg h4{
  color:#0e0e0e;
  font-weight: 600;
  margin: 3px 0 !important;
}
.holiname{
  margin-left:1rem;
  color:black;
}
.backholiday{
  font-size: 10px;
  font-weight: 600;

}
.backyearbtn{
  display: flex;
  align-items: center;
  align-content: flex-end;
}
.teamavtardetails img{
  width:120px;
  height:120px;
  border-radius: 50%;
  border: 4px solid white;
}
.teammemberdetail li{
  font-weight: 600;
}
.nameanddesi{
  margin-top:4rem;
}
.teamavtardetails{
  padding-top: 70px;
  text-align: -webkit-center;
}

.nameanddesi h3{
  margin-bottom:0;
}
.nameanddesi h4{
  color: grey;
  font-size: 16px;
  margin-top: 5px;
}
.teamprofile{
background-image: url("/assets/teamprobg.jpg");
background-size:cover; 
  height:130px;
}
.myteambox{
  margin: 10px 28px;
  visibility: visible;
}
.myteamavatar {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border:3px solid #ffffff;
}
.teamavtars{
  transition: transform .2s, -webkit-transform .2s;
  padding-right: 0.2rem !important;
}

.teamavtars:hover{
  transform: scale(1.08);
  cursor: pointer;
}

.teamavtars .nav-link{
  padding: 2px !important;
  margin-left: -18px;
}

.lc-box{
  background: linear-gradient(135deg, #0976d4 0%,#053259 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin-bottom: 5px;
  text-align: center;
  padding:2px;

  border-radius: 0.2rem;
}
.lc-box h4{
  font-weight: 600;
  color:white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgb(46, 46, 46);
}
.lc-box small{
  color:white;
}
/* NEWS LIKE EDIT DELETE BUTTONS START*/
.social-share-btns-container {
 
  text-align: right;
  width: 100%;
  z-index: 111;
}

.social-share-btns {
  display: inline-block;
  overflow: hidden;
}
.social-share-btns .share-btn {
  float: left;
  margin: 0 5px;
  padding: 5px 12px;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  line-height: 18px;
  vertical-align: middle;
  transition: background 0.2s ease-in-out;
}
.social-share-btns .share-btn i {
  margin-right: 5px;
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}

.share-btn {
  background-color: #95a5a6;
}
.share-btn:hover {
  background-color: #798d8f;
}

.share-btn-edit {
  background-color: #bdbdbd;
}

.share-btn-edit .fa {
  color:white !important;
}
.share-btn-edit:hover {
  background-color: #7abb6a;
  cursor: pointer;
}

.share-btn-delete {
  background-color: #bdbdbd;
}
.share-btn-delete:hover {
  background-color: #c55b5b;
  cursor: pointer;
}

.share-btn-delete .fa{
  color:white !important;
}

.share-btn-like {
  background-color: #bdbdbd;
}
.share-btn-like:hover {
  background-color: #2a82e7;
  cursor: pointer;
}
.share-btn-like .fa {
  color:white !important;
}

.liked{
  background-color: #2a82e7 !important;
}
/* NEWS LIKE EDIT DELETE BUTTONS END*/
.reason{
  font-size: 11px;
}
.prsent{
  color: rgb(180, 255, 170);
}
.absnt{
  color: rgb(255, 79, 79);
}
.erly{
  color: rgb(255, 140, 230);
}
.wwekoddholiday{
  color: rgb(255, 229, 82);
}
.lve{
  color: rgb(255, 140, 230);
}
.hlf{
  color: rgb(255, 140, 230);
}
.misspnch{
  color: rgb(255, 140, 230);
}
.leaveodcoff{
  color: rgb(67, 111, 253);
}

.holidays{
  color: #87ceeb;
}

.ods{
  color: #fd8200;
}

.holitable .thead-dark-1 th{
  background: #1b1b1b;
  text-align: left;
  color:white !important;
  font-weight: 600 !important;
}

.holitable tr td{
  text-align: left;
  font-weight: 600 !important;
}
.other{
  text-align: -webkit-center;
  border-radius: 50%;
  margin:auto;
  width:25px;
  height:25px;
  padding: 3px;

}
.lateearlympunch{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  margin:auto;
  padding: 3px;
  background: rgb(255, 140, 230);
}
/* .lateearlympunch1{
  background: rgb(16, 13, 15);
} */
.present{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  margin:auto;
  padding: 3px;
  background: rgb(180, 255, 170);
}
.absent{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  margin:auto;
  padding: 3px;
  color:white;
  background: rgb(255, 79, 79);
}
.leavecoffod{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  margin:auto;
  padding: 3px;
  color:white;
  background: rgb(67, 111, 253);
}
.holidayweekoff{
  text-align: -webkit-center;
  border-radius: 50%;
  margin:auto;
  width:25px;
  height:25px;
  padding: 3px;
  background: rgb(255, 229, 82);
}
.onDuty{
  text-align: -webkit-center;
  border-radius: 50%;
  margin: auto;
  width:25px;
  height:25px;
  padding: 3px;
  color: white;
  background: #fd8200;
}

 .holiday{
  text-align: -webkit-center;
  border-radius: 50%;
  width:25px;
  height:25px;
  padding: 3px;
  margin: auto;
  background: #87ceeb !important;
 }
.selecteddate{
  text-transform: uppercase;
  font-weight: 600;
  background: #356ad2;
  color: white;
  text-align: -webkit-center;
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 10px 17px #b7b7b7;
  
}
.bapu{
  padding-bottom:3px;
  padding-top:3px;
  font-size:small;
  cursor : pointer !important;
}

.bapu:hover{
  color: #356ad2 !important;
}

.colpadding{
  padding-top: 0rem !important;
  padding-left: 0.8rem !important;
}
.table-responsive {
  display: table;
}
.table td, .table th {
border-top: none !important;
}

.white-bg-padding{
  padding: 0.02rem 0.02rem !important;
}
.atndce{
  padding-left:1rem !important;
  color: gray;
}
.hlyday{
  color: gray;
}
.ratings{
  color: gray;
  padding-left:2rem;
} 
.ptext p{
  font-size:11px !important;
  color: rgb(117, 104, 104) !important;
}
.apprvlicons{
  float: right;
  list-style: none !important;
}
.apprvlicons ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.apprvlicons li {
  display: -webkit-inline-box; 
  color:rgb(179, 179, 179) !important;
  padding-right:0rem !important;
}
.dlt{
  color:rgb(179, 179, 179) !important;
}
.dlt:hover{
  color:rgb(201, 24, 24) !important;
}
.fa-pencil:hover{
  color:rgb(60, 150, 37) !important;
}
.apprvfaicons{
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  float: right;
  right:0;
}

.apprvfaicons li{
  padding-left:0.5rem;
  padding-right: 0rem !important;
  color:gray !important;
}

.apprvfaicons li .fa-trash{
  padding-left:0.5rem;
  padding-right: 0rem !important;
  color:gray !important;
}

.apprvfaicons .fa-pencil:hover{
  color:rgb(60, 150, 37) !important;
  cursor: pointer;
}
.apprvfaicons .fa-times:hover{
  color:rgba(216, 105, 2, 0.973) !important;
  cursor: pointer;
}
.apprvfaicons .fa-trash:hover{
  color:rgb(168, 0, 0) !important;
  cursor: pointer;
}

.apprvlicons li a {
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

/* .table th{
  text-align: center;
  vertical-align: middle !important;
}

.table td{
  text-align: center;
  vertical-align: middle !important;
}
tbody td{
  color:grey;
  font-size:10px;
} */
.absentemp{
  color:red !important;
}

.main-head{
  color:grey;
  width: 100%;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: center; /* Safari 6.1+ */
  display: flex;
  justify-content: center;
}
.monthtitle{
  font-weight:300 !important;
  font-size: 10px;

}
.sumry{
  padding-right:1rem !important;
  text-align: right;
color:rgb(54, 54, 228) !important;
}
.monthtitle{
  text-align: center;
}

.w{
  margin-left: 10px;
  font-size: 10px;
  border-radius: 50%;
    background: rgb(76, 76, 76);
  color:white;
  padding: 5px 8px;
  box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.4), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.5);
}
.m{
  margin-left:0.5rem;
  font-size: 10px;
  border-radius: 50%;
    background: rgb(76, 76, 76);
  color:white;
  padding: 5px 8px;
  box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.4), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.5);
}

.y{
  
  margin-left: 10px;
  font-size: 10px;
  border-radius: 50%;
    background: rgb(76, 76, 76);
  color:white;
  padding: 5px 10px;
  box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.4), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.5);
}

.progress{
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: none;
  box-shadow: none;
  position: relative;
}
.progress:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left{
  left: 0;
}
.progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar{
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right{
  right: 0;
}
.progress .progress-right .progress-bar{
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #ffffff;
  font-size: 14px;
  color: rgb(128, 128, 128);
  line-height: 100px;
  text-align: center;
  position: absolute;
  top: 0%;
  left: 5%;
}
.progress.blue .progress-bar{
  border-color: #1e66ca;
}
.progress.blue .progress-left .progress-bar{
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
  border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
  animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
  border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
  animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
  border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
  animation: loading-5 1.2s linear forwards 1.8s;
}
.leavepending{
  font-size: 2rem;
}
@keyframes loading-1{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
@keyframes loading-2{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
  }
}
@keyframes loading-3{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}
@keyframes loading-4{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
  }
}
@keyframes loading-5{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
  }
}
@media only screen and (max-width: 990px){
  .progress{ margin-bottom: 20px; }
}
/* CIRCULAR PROGRESS */


.bdrs-3 {
  border-radius: 3px!important;
}
.bgc-deep-purple-500, .bgcH-deep-purple-500:hover {
  background-color: #673ab7!important;
}
.ta-c {
  text-align: center!important;
}
.p-30 {
  padding: 30px!important;
}
.c-white, .cH-white:hover {
  color: #fff!important;
}
.lh-1 {
  line-height: 1!important;
}
.fw-300 {
  font-weight: 300!important;
}
.mB-5 {
  margin-bottom: 5px!important;
}
.fsz-def {
  font-size: 16px!important;
  font-size: 1rem!important;
}
.pos-r {
  position: relative!important;
}
.bdrs-50p {
  border-radius: 50%!important;
}
[class*=" ti-"], [class^=ti-] {
  font-family: themify;

  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}
.mT-20 {
  margin-top: 20px!important;
}
.bdB {
  border-bottom: 1px solid rgba(0,0,0,.0625)!important;
}
.jc-sb {

  justify-content: space-between;
}
.ai-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fxw-nw {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.peers {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  height: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.fa-clock-o:before {
  content: "\F017";
}
.c-grey-600, .cH-grey-600:hover {
  color: #7c8695!important;
}
.c-grey-700, .cH-grey-700:hover {
  color: #72777a!important;
}

.fa-event{
  padding-right: 10px;
}

.fa-birthday-cake{
  color: #fdba04;
}
.fa-user{
  color: rgb(49, 136, 194);
}
.whitefullheight{
  height:100%;
}

.peers {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  height: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.mR-15 {
  margin-right: 5px!important;
}
.mR-20 {
  margin-right: 20px!important;
}
.p-20 {
  padding: 20px!important;
}
.fxw-nw {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.peer-greed, .peers-greed>.peer, .peers-greed>.peers {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 0 auto;
}
.jc-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ai-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.p-5 {
  padding: 5px!important;
}
.totalleaves{
  font-size:11px;
  text-align: center;
  padding:10px;
}
.newsfeed{
max-height: 245px;
  overflow-x: hidden !important;
  overflow: hidden;
}

.newsfeed:hover{
    
  overflow-x: hidden !important;
overflow: auto;

}


.height200{
  max-height:200px;
}


.holidaybox{
height:300px;
overflow-x: hidden !important;
overflow: hidden;
}

.holidaybox:hover{
  
overflow-x: hidden !important;
overflow: auto;
height:300px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 196); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #949494; 
}
.emppicture{
    text-align: end;
}

.leavetable th{
    text-align: left !important;
}

.leavetable td{
  padding-bottom: 0rem !important;
  padding-top: 0rem !important;
  text-align: left !important;
}
.leavetable{
  margin-left: 1rem;
}


.holidaytable th{
  text-align: left !important;
}

.holidaytable td{
padding-bottom: 0rem !important;
padding-top: 0rem !important;
text-align: left !important;
}
/* .holidaytable{
margin-left: 1.2rem;
} */

.wish-btn{
  font-size: 10px !important;
  margin-top: 5px !important;
  padding: 0.075rem 0.45rem !important;
}

.paddingwhite{
  margin-top: .75rem !important;
}
.couponbox{
  width: 100%;
  border-radius: .375rem;
  box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
  /* font-size: .75rem; */
  line-height: 1.25rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.9375rem 1.9375rem;

  color:white;
  font-size: 10px;
  background: linear-gradient(135deg, rgb(59, 93, 173) 0%,rgb(19, 55, 142) 100%);
}
.couponbox h6{
color:white;
}



.couponbox{
max-height: 245px;
overflow-x: hidden !important;
overflow: hidden;
}

.couponbox:hover{
overflow-x: hidden !important;
overflow: auto;

}


.reward-btn{
  background-image: linear-gradient(344deg, #84860c, #c3cc6d) !important;
  font-size:11px;
}
.reward-btn:hover{
  background-image: linear-gradient(344deg, #c3cc6d, #84860c) !important;
}
.allreward{
  float:right;
  cursor: pointer;
  text-decoration: underline;
}

/* CALENDAR */
/* =================CALENDAR============== */
.jzdbox1 {
  /* width:95%;  */
  /* background:#332f2e;  */
  border-radius:5px; 
  overflow:hidden; 
  display:block; 
  margin-bottom:10px; 
  /* box-shadow:0 0 10px #201d1c;  */
  margin:0 auto; 
  margin-top:-1rem;
}

.jzdcal {
  padding:0 10px 10px 10px; 
  box-sizing:border-box!important; 
  /* background:#172c42; 
  background: -webkit-linear-gradient(#172c42, #037599)!important; 
  background: -o-linear-gradient(#172c42, #037599)!important; 
  background: -moz-linear-gradient(#172c42, #037599)!important; 
  background: linear-gradient(#172c42, #037599)!important; */
}

.jzdcalt {
  font: 18px 'Roboto';
  width: 190px;
  font-weight: 700;
  color: #285d99;
  display: block;
  margin: 22px 0px 15px 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
.weeeklymonthname{
  font: 18px 'Roboto';
  font-weight: 700;
  color: #285d99;
  display: block;
  margin: 22px 0px 15px 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
/* .jzdcal span {
  font:11px 'Roboto'; 
  font-weight:400; 
  color:#3d3d3d; 
  text-align:center; 
  width:61px; 
  height:42px; 
  display:inline-block; 
  float:left; 
  overflow:hidden; 
  line-height:40px;
} */

.jzdcal .jzdb:before {
  opacity:0.3; 
  content:'o';
}

.circle {
  border:1px solid #f7f3eb; 
  box-sizing:border-box!important; 
  border-radius:200px!important;
}

span[data-title]:hover:after, 
div[data-title]:hover:after {
  font:11px 'Roboto'; 
  font-weight:400; 
  content:attr(data-title); 
  position:absolute; 
  margin:0 0 100px; 
  background:#282423; 
  border:1px solid #f7f3eb; 
  color:#4b4a49; 
  padding:5px; 
  z-index:9999; 
  min-width:150px; 
  max-width:150px;
}
.abs{
  display: inline-block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 2px;
}

  /* =================CALENDAR============== */

  .table .thead-dark th {
    color: rgb(77, 77, 77) !important;
    background-color: #212529 !important;
    border-color: #32383e !important;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: middle !important;
  border-top: 1px solid #dee2e6;
}
.action{
text-align: center;
}
/* .fa-pencil{
color:green;
} */

.fa-pencil:hover{
color:rgb(5, 44, 3);
}

.fa-erase:hover{
color:rgb(24, 1, 1);
}

/* .btn {
padding: .275rem .45rem !important;
} */
.statusofleave{
  color:green;
}
.statusofleave2{
  color:red;
}

.statusofleave3{
  color:rgb(255, 208, 0);
}
.statusclr{
padding-top:0.5rem;
float:right;
}
li{
  display: inline;
  padding-right:1rem;
  list-style: none;
}
.statusicon{
  padding-left:2px;
}

.statustd{
  text-align: center;
}
.absenticon{
color:#fa4747;
}
.absenticon2{
color:#ffafaf;
}
.absenticon3{
color:#00ca1b;
}

.prevnext{
  cursor: pointer;
  padding: 1rem !important;
  font-size: 22px;
  color: rgb(58, 58, 58);
  background: none;
  border: none;
}


.col {
  text-align: center;
  padding: 5px;
}
.last-month, .next-month {
  color: #999999;
  font-size: 90%;
}


.currentDate {
  font-weight:400;
  color:rgb(5, 83, 172);
}
.calendar-header {

  color: #FFFFFF;
}
.schedule-dot-item.absenty {
  background-color: rgb(214, 40, 16);  }
.schedule-dot-item.early {
  background-color: rgb(214, 16, 214);
}
.schedule-dot-item.late1 {
  background-color: rgb(214, 128, 16);
}

.schedule-dot-item.weeklyOff {
  background-color: rgb(16, 62, 214);
}
.schedule-dot-item.publicHoliday {
  background-color: rgb(16, 214, 82);
}
.schedule-dot-item.leave {
  background-color: rgb(141, 16, 214);
}

.schedule-dot-list {
  margin-top: 0px;
  text-align: center;

}

.schedule-dot-item {
  display: inline-block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 2px;
}
.schedule-dot-item.red {
  background-color: red;
}
.schedule-dot-item.blue {
  background-color: blue;
}
.selected-date {
  width: 20px;
  height: 2px;
  background-color: blue;
}
.unselected-date {
  border: none;
}

.calendarm{
  padding:0 10px 10px 10px; 
  box-sizing:border-box!important; 
  /* background:#172c42; 
  background: -webkit-linear-gradient(#172c42, #037599)!important; 
  background: -o-linear-gradient(#172c42, #037599)!important; 
  background: -moz-linear-gradient(#172c42, #037599)!important; 
  background: linear-gradient(#172c42, #037599)!important; */
}
/* .calendar-body {

  background: linear-gradient(#172c42, #037599)!important;
} */
.calendar-body .grid1{
  padding: 0;
}
.calendar-body .col:last-child {
  border-right: none;
}
.calendar-body .calendar-weekday, .calendar-date {
  text-align: center;
  margin: 0;
}
.calendar-body .calendar-weekday {
  border-bottom: solid 1px #1a732d;
  /* background-color: #26ab56; */
  /* background: linear-gradient(#172c42, #037599)!important; */
}
.calendar-body .calendar-date {
  border-top: solid 1px #1a732d;
  border-bottom: solid 1px #1a732d;
}
.col.date{
  /* line-height: 40px; */
  font-weight: 300;
  height: 45px;
  font-size:11px 'Roboto';
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 14.285714285714286%;
  width: 14.285714285714286%;
  max-width: 14.285714285714286%;
  color: #5a5a5a;
}
.col.week{
  color: #494949;
}
.col {
      text-align: center;
      padding: 5px;
    }

    .prvdate, .nxtdate{
       
      color: rgba(131, 131, 131, 0.37) !important;
    }
.monthlystatusclr li{
  font-weight: 300 !important;
  color:#b9b9b9;
}
.monthlystatusclr ul{
  padding-left:1rem !important;
}


.hlfday{
color:#dd15a1 !important;
}

.lateerly{
  color:#09208a !important;
}
.lve{
  color:#fd8700 !important;
}
.msspnch{
color:#1b1b1b !important;
}
.absnt{
  color:#fd0000 !important;
}
.publicholy{
  color:#39d812 !important;
}
    /* =================CALENDAR============== */
    .monthlytable{
      font-size: 0.8em !important;
    color: #5d5d5d !important;
    }
    .monthlytable td{
      padding-bottom: 0.4rem !important;
      padding-top: 0rem !important;
        text-align: left !important;
    }
    .monthlytable th{
        text-align: left !important;
    }
.active1{
  background-color: #00cc2b;
}      
.border-left{
  border-left: 1px solid #f7f7f7!important;
}


.monthlystatusclrs td{
  text-align: left !important;
  padding-bottom: 0rem !important;
  padding-top: 0.5rem;
}
.statusclrs ul{
padding-left:1rem !important;
}
.statusclrs li{
 font-size:10px !important;
  }
  .statusclrs .fa{
      padding-left:5px;
  }


.a{
  padding-bottom:2rem;
 text-align: -webkit-center;
}
.fa-star{
  color: #e8bb35a6;
  font-size: 2rem;
}
.vr{
  border-right: 1px solid #80808038;
}
.star .fa-calendar{
  font-size: 2rem;
  color: #647ef0a6;
}
.fa-star-half-o{
  font-size: 2rem;
  color: #48c959a6;
}
.oldholiday {
  color:rgb(209, 209, 209) !important;
}
oldholiday1{
  color:rgba(209, 209, 209, 0.178) !important;
}
#circle1 {
  margin: 10px;
  width: 90px;
  height: 90px;
  position: relative;
}
.coffbox{
  overflow: hidden;
    /* height:248px; */
}
.coffbox:hover{
  overflow-x: hidden !important;
  overflow: auto;
  height:248px;
}
/* .modal-dialog{
  margin-top:5%;
} */


.white-bg1{
  border-radius: 0.365rem;
  padding: 0.9375rem 1.9375rem;
  margin:0.365rem;
  background: white;
}

.event-title{
  margin: 0;
  color: #555;
  font-size: 14px;
  font-weight: 800;
}
.todomsg{
  margin-top: 10px;
  color: #919294;
  font-size: 12px;
  font-weight: 300;
}
.todotime .fa-calendar{
color:#ee6b51;
}

.todotime .fa-clock-o{
  color:rgba(0, 110, 255, 0.651);
  }
  .addnewevent{
      color: #3376d3 !important;
      font-size: 25px;
  }
  .addnewevent .fa{
      cursor: pointer;
  }

  .addnewevent .fa:active{
      -webkit-transform: translateY(1px);
      transform: translateY(1px);

  }

  /****************************************************************
*
* CSS Percentage Circle
* Author: Ruturaj I
*
*****************************************************************/
.rect-auto, .c100.p51 .slice, .c100.p52 .slice, .c100.p53 .slice, .c100.p54 .slice, .c100.p55 .slice, .c100.p56 .slice, .c100.p57 .slice, .c100.p58 .slice, .c100.p59 .slice, .c100.p60 .slice, .c100.p61 .slice, .c100.p62 .slice, .c100.p63 .slice, .c100.p64 .slice, .c100.p65 .slice, .c100.p66 .slice, .c100.p67 .slice, .c100.p68 .slice, .c100.p69 .slice, .c100.p70 .slice, .c100.p71 .slice, .c100.p72 .slice, .c100.p73 .slice, .c100.p74 .slice, .c100.p75 .slice, .c100.p76 .slice, .c100.p77 .slice, .c100.p78 .slice, .c100.p79 .slice, .c100.p80 .slice, .c100.p81 .slice, .c100.p82 .slice, .c100.p83 .slice, .c100.p84 .slice, .c100.p85 .slice, .c100.p86 .slice, .c100.p87 .slice, .c100.p88 .slice, .c100.p89 .slice, .c100.p90 .slice, .c100.p91 .slice, .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice, .c100.p95 .slice, .c100.p96 .slice, .c100.p97 .slice, .c100.p98 .slice, .c100.p99 .slice, .c100.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}

.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
  position: absolute;
  border: 0.08em solid #307bbb;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}



.pie-fill, .c100.p51 .bar:after, .c100.p51 .fill, .c100.p52 .bar:after, .c100.p52 .fill, .c100.p53 .bar:after, .c100.p53 .fill, .c100.p54 .bar:after, .c100.p54 .fill, .c100.p55 .bar:after, .c100.p55 .fill, .c100.p56 .bar:after, .c100.p56 .fill, .c100.p57 .bar:after, .c100.p57 .fill, .c100.p58 .bar:after, .c100.p58 .fill, .c100.p59 .bar:after, .c100.p59 .fill, .c100.p60 .bar:after, .c100.p60 .fill, .c100.p61 .bar:after, .c100.p61 .fill, .c100.p62 .bar:after, .c100.p62 .fill, .c100.p63 .bar:after, .c100.p63 .fill, .c100.p64 .bar:after, .c100.p64 .fill, .c100.p65 .bar:after, .c100.p65 .fill, .c100.p66 .bar:after, .c100.p66 .fill, .c100.p67 .bar:after, .c100.p67 .fill, .c100.p68 .bar:after, .c100.p68 .fill, .c100.p69 .bar:after, .c100.p69 .fill, .c100.p70 .bar:after, .c100.p70 .fill, .c100.p71 .bar:after, .c100.p71 .fill, .c100.p72 .bar:after, .c100.p72 .fill, .c100.p73 .bar:after, .c100.p73 .fill, .c100.p74 .bar:after, .c100.p74 .fill, .c100.p75 .bar:after, .c100.p75 .fill, .c100.p76 .bar:after, .c100.p76 .fill, .c100.p77 .bar:after, .c100.p77 .fill, .c100.p78 .bar:after, .c100.p78 .fill, .c100.p79 .bar:after, .c100.p79 .fill, .c100.p80 .bar:after, .c100.p80 .fill, .c100.p81 .bar:after, .c100.p81 .fill, .c100.p82 .bar:after, .c100.p82 .fill, .c100.p83 .bar:after, .c100.p83 .fill, .c100.p84 .bar:after, .c100.p84 .fill, .c100.p85 .bar:after, .c100.p85 .fill, .c100.p86 .bar:after, .c100.p86 .fill, .c100.p87 .bar:after, .c100.p87 .fill, .c100.p88 .bar:after, .c100.p88 .fill, .c100.p89 .bar:after, .c100.p89 .fill, .c100.p90 .bar:after, .c100.p90 .fill, .c100.p91 .bar:after, .c100.p91 .fill, .c100.p92 .bar:after, .c100.p92 .fill, .c100.p93 .bar:after, .c100.p93 .fill, .c100.p94 .bar:after, .c100.p94 .fill, .c100.p95 .bar:after, .c100.p95 .fill, .c100.p96 .bar:after, .c100.p96 .fill, .c100.p97 .bar:after, .c100.p97 .fill, .c100.p98 .bar:after, .c100.p98 .fill, .c100.p99 .bar:after, .c100.p99 .fill, .c100.p100 .bar:after, .c100.p100 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #cccccc;
}
.c100 *, .c100 *:before, .c100 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.c100.center {
  float: none;
  margin: 0 auto;
}
.c100.big {
  font-size: 130px;
}
.c100.small {
  font-size: 80px;
}
.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #cccccc;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: whitesmoke;
  width: 0.84em;
  height: 0.84em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}
.c100.p1 .bar {
  -webkit-transform: rotate(3.6deg);
  -moz-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  -o-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.c100.p2 .bar {
  -webkit-transform: rotate(7.2deg);
  -moz-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  -o-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.c100.p3 .bar {
  -webkit-transform: rotate(10.8deg);
  -moz-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  -o-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.c100.p4 .bar {
  -webkit-transform: rotate(14.4deg);
  -moz-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  -o-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.c100.p5 .bar {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
.c100.p6 .bar {
  -webkit-transform: rotate(21.6deg);
  -moz-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  -o-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.c100.p7 .bar {
  -webkit-transform: rotate(25.2deg);
  -moz-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  -o-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.c100.p8 .bar {
  -webkit-transform: rotate(28.8deg);
  -moz-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  -o-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.c100.p9 .bar {
  -webkit-transform: rotate(32.4deg);
  -moz-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  -o-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.c100.p10 .bar {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
.c100.p11 .bar {
  -webkit-transform: rotate(39.6deg);
  -moz-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  -o-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.c100.p12 .bar {
  -webkit-transform: rotate(43.2deg);
  -moz-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  -o-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.c100.p13 .bar {
  -webkit-transform: rotate(46.8deg);
  -moz-transform: rotate(46.8deg);
  -ms-transform: rotate(46.8deg);
  -o-transform: rotate(46.8deg);
  transform: rotate(46.8deg);
}
.c100.p14 .bar {
  -webkit-transform: rotate(50.4deg);
  -moz-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  -o-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.c100.p15 .bar {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
.c100.p16 .bar {
  -webkit-transform: rotate(57.6deg);
  -moz-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  -o-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.c100.p17 .bar {
  -webkit-transform: rotate(61.2deg);
  -moz-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  -o-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.c100.p18 .bar {
  -webkit-transform: rotate(64.8deg);
  -moz-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  -o-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}
.c100.p19 .bar {
  -webkit-transform: rotate(68.4deg);
  -moz-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  -o-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}
.c100.p20 .bar {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
.c100.p21 .bar {
  -webkit-transform: rotate(75.6deg);
  -moz-transform: rotate(75.6deg);
  -ms-transform: rotate(75.6deg);
  -o-transform: rotate(75.6deg);
  transform: rotate(75.6deg);
}
.c100.p22 .bar {
  -webkit-transform: rotate(79.2deg);
  -moz-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  -o-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}
.c100.p23 .bar {
  -webkit-transform: rotate(82.8deg);
  -moz-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  -o-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}
.c100.p24 .bar {
  -webkit-transform: rotate(86.4deg);
  -moz-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  -o-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}
.c100.p25 .bar {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.c100.p26 .bar {
  -webkit-transform: rotate(93.6deg);
  -moz-transform: rotate(93.6deg);
  -ms-transform: rotate(93.6deg);
  -o-transform: rotate(93.6deg);
  transform: rotate(93.6deg);
}
.c100.p27 .bar {
  -webkit-transform: rotate(97.2deg);
  -moz-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  -o-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}
.c100.p28 .bar {
  -webkit-transform: rotate(100.8deg);
  -moz-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  -o-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}
.c100.p29 .bar {
  -webkit-transform: rotate(104.4deg);
  -moz-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  -o-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}
.c100.p30 .bar {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}
.c100.p31 .bar {
  -webkit-transform: rotate(111.6deg);
  -moz-transform: rotate(111.6deg);
  -ms-transform: rotate(111.6deg);
  -o-transform: rotate(111.6deg);
  transform: rotate(111.6deg);
}
.c100.p32 .bar {
  -webkit-transform: rotate(115.2deg);
  -moz-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  -o-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}
.c100.p33 .bar {
  -webkit-transform: rotate(118.8deg);
  -moz-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  -o-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}
.c100.p34 .bar {
  -webkit-transform: rotate(122.4deg);
  -moz-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  -o-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}
.c100.p35 .bar {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
}
.c100.p36 .bar {
  -webkit-transform: rotate(129.6deg);
  -moz-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  -o-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}
.c100.p37 .bar {
  -webkit-transform: rotate(133.2deg);
  -moz-transform: rotate(133.2deg);
  -ms-transform: rotate(133.2deg);
  -o-transform: rotate(133.2deg);
  transform: rotate(133.2deg);
}
.c100.p38 .bar {
  -webkit-transform: rotate(136.8deg);
  -moz-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  -o-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}
.c100.p39 .bar {
  -webkit-transform: rotate(140.4deg);
  -moz-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  -o-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}
.c100.p40 .bar {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}
.c100.p41 .bar {
  -webkit-transform: rotate(147.6deg);
  -moz-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  -o-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}
.c100.p42 .bar {
  -webkit-transform: rotate(151.2deg);
  -moz-transform: rotate(151.2deg);
  -ms-transform: rotate(151.2deg);
  -o-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
}
.c100.p43 .bar {
  -webkit-transform: rotate(154.8deg);
  -moz-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  -o-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}
.c100.p44 .bar {
  -webkit-transform: rotate(158.4deg);
  -moz-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  -o-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}
.c100.p45 .bar {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
}
.c100.p46 .bar {
  -webkit-transform: rotate(165.6deg);
  -moz-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  -o-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}
.c100.p47 .bar {
  -webkit-transform: rotate(169.2deg);
  -moz-transform: rotate(169.2deg);
  -ms-transform: rotate(169.2deg);
  -o-transform: rotate(169.2deg);
  transform: rotate(169.2deg);
}
.c100.p48 .bar {
  -webkit-transform: rotate(172.8deg);
  -moz-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  -o-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}
.c100.p49 .bar {
  -webkit-transform: rotate(176.4deg);
  -moz-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  -o-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}
.c100.p50 .bar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.c100.p51 .bar {
  -webkit-transform: rotate(183.6deg);
  -moz-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  -o-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}
.c100.p52 .bar {
  -webkit-transform: rotate(187.2deg);
  -moz-transform: rotate(187.2deg);
  -ms-transform: rotate(187.2deg);
  -o-transform: rotate(187.2deg);
  transform: rotate(187.2deg);
}
.c100.p53 .bar {
  -webkit-transform: rotate(190.8deg);
  -moz-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  -o-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}
.c100.p54 .bar {
  -webkit-transform: rotate(194.4deg);
  -moz-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  -o-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}
.c100.p55 .bar {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg);
}
.c100.p56 .bar {
  -webkit-transform: rotate(201.6deg);
  -moz-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  -o-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}
.c100.p57 .bar {
  -webkit-transform: rotate(205.2deg);
  -moz-transform: rotate(205.2deg);
  -ms-transform: rotate(205.2deg);
  -o-transform: rotate(205.2deg);
  transform: rotate(205.2deg);
}
.c100.p58 .bar {
  -webkit-transform: rotate(208.8deg);
  -moz-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  -o-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}
.c100.p59 .bar {
  -webkit-transform: rotate(212.4deg);
  -moz-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  -o-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}
.c100.p60 .bar {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}
.c100.p61 .bar {
  -webkit-transform: rotate(219.6deg);
  -moz-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  -o-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}
.c100.p62 .bar {
  -webkit-transform: rotate(223.2deg);
  -moz-transform: rotate(223.2deg);
  -ms-transform: rotate(223.2deg);
  -o-transform: rotate(223.2deg);
  transform: rotate(223.2deg);
}
.c100.p63 .bar {
  -webkit-transform: rotate(226.8deg);
  -moz-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  -o-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}
.c100.p64 .bar {
  -webkit-transform: rotate(230.4deg);
  -moz-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  -o-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}
.c100.p65 .bar {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}
.c100.p66 .bar {
  -webkit-transform: rotate(237.6deg);
  -moz-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  -o-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}
.c100.p67 .bar {
  -webkit-transform: rotate(241.2deg);
  -moz-transform: rotate(241.2deg);
  -ms-transform: rotate(241.2deg);
  -o-transform: rotate(241.2deg);
  transform: rotate(241.2deg);
}
.c100.p68 .bar {
  -webkit-transform: rotate(244.8deg);
  -moz-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  -o-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}
.c100.p69 .bar {
  -webkit-transform: rotate(248.4deg);
  -moz-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  -o-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}
.c100.p70 .bar {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}
.c100.p71 .bar {
  -webkit-transform: rotate(255.6deg);
  -moz-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  -o-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}
.c100.p72 .bar {
  -webkit-transform: rotate(259.2deg);
  -moz-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  -o-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}
.c100.p73 .bar {
  -webkit-transform: rotate(262.8deg);
  -moz-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  -o-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}
.c100.p74 .bar {
  -webkit-transform: rotate(266.4deg);
  -moz-transform: rotate(266.4deg);
  -ms-transform: rotate(266.4deg);
  -o-transform: rotate(266.4deg);
  transform: rotate(266.4deg);
}
.c100.p75 .bar {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.c100.p76 .bar {
  -webkit-transform: rotate(273.6deg);
  -moz-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  -o-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}
.c100.p77 .bar {
  -webkit-transform: rotate(277.2deg);
  -moz-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  -o-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}
.c100.p78 .bar {
  -webkit-transform: rotate(280.8deg);
  -moz-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  -o-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}
.c100.p79 .bar {
  -webkit-transform: rotate(284.4deg);
  -moz-transform: rotate(284.4deg);
  -ms-transform: rotate(284.4deg);
  -o-transform: rotate(284.4deg);
  transform: rotate(284.4deg);
}
.c100.p80 .bar {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}
.c100.p81 .bar {
  -webkit-transform: rotate(291.6deg);
  -moz-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  -o-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}
.c100.p82 .bar {
  -webkit-transform: rotate(295.2deg);
  -moz-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  -o-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}
.c100.p83 .bar {
  -webkit-transform: rotate(298.8deg);
  -moz-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  -o-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}
.c100.p84 .bar {
  -webkit-transform: rotate(302.4deg);
  -moz-transform: rotate(302.4deg);
  -ms-transform: rotate(302.4deg);
  -o-transform: rotate(302.4deg);
  transform: rotate(302.4deg);
}
.c100.p85 .bar {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);
}
.c100.p86 .bar {
  -webkit-transform: rotate(309.6deg);
  -moz-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  -o-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}
.c100.p87 .bar {
  -webkit-transform: rotate(313.2deg);
  -moz-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  -o-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}
.c100.p88 .bar {
  -webkit-transform: rotate(316.8deg);
  -moz-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  -o-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}
.c100.p89 .bar {
  -webkit-transform: rotate(320.4deg);
  -moz-transform: rotate(320.4deg);
  -ms-transform: rotate(320.4deg);
  -o-transform: rotate(320.4deg);
  transform: rotate(320.4deg);
}
.c100.p90 .bar {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}
.c100.p91 .bar {
  -webkit-transform: rotate(327.6deg);
  -moz-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  -o-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}
.c100.p92 .bar {
  -webkit-transform: rotate(331.2deg);
  -moz-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  -o-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}
.c100.p93 .bar {
  -webkit-transform: rotate(334.8deg);
  -moz-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  -o-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}
.c100.p94 .bar {
  -webkit-transform: rotate(338.4deg);
  -moz-transform: rotate(338.4deg);
  -ms-transform: rotate(338.4deg);
  -o-transform: rotate(338.4deg);
  transform: rotate(338.4deg);
}
.c100.p95 .bar {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg);
}
.c100.p96 .bar {
  -webkit-transform: rotate(345.6deg);
  -moz-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  -o-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}
.c100.p97 .bar {
  -webkit-transform: rotate(349.2deg);
  -moz-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  -o-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}
.c100.p98 .bar {
  -webkit-transform: rotate(352.8deg);
  -moz-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  -o-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}
.c100.p99 .bar {
  -webkit-transform: rotate(356.4deg);
  -moz-transform: rotate(356.4deg);
  -ms-transform: rotate(356.4deg);
  -o-transform: rotate(356.4deg);
  transform: rotate(356.4deg);
}
.c100.p100 .bar {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.c100:hover {
  cursor: default;
}
.c100:hover > span {

  color: #307bbb;
  width: 3.93em;
  line-height: 3.93em;
  font-size: 0.25em;
}
.c100:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}
.c100.dark {
  background-color: #777777;
}
.c100.dark .bar,
.c100.dark .fill {
  border-color: #c6ff00 !important;
}
.c100.dark > span {
  color:#567cd3 !important;
}
.c100.dark:after {
  background-color: #666666;
}
.c100.dark:hover > span {
  color: #c6ff00;
}
.c100.green .bar, .c100.green .fill {
  border-color: #3456a7 !important;
}
.c100.green:hover > span {
  color: #3456a7 !important;
}
.c100.green.dark .bar, .c100.green.dark .fill {
  border-color: #3456a7 !important;
}
.c100.green.dark:hover > span {
  color: #3456a7 !important;
}

.datecycle{
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#00172b 51%,#074880 60%,#06447a 76%,#06457b 91%,#063966 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#00172b 51%,#074880 60%,#06447a 76%,#06457b 91%,#063966 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#00172b 51%,#074880 60%,#06447a 76%,#06457b 91%,#063966 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 100%;
  border-radius: 5px;
  color:white;
}
.datecycle h6{
  padding-bottom: 5px;
  margin-top: 0px;
  font-size: 14px;
}
.datecycle small{
  font-size: 86%;
  text-transform: uppercase;
}

.quicklink {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.quicklink li{
  padding-bottom: 0.5rem;
  color:rgb(75, 174, 255);
  display: block !important;
font-size: 0.8rem;
cursor: pointer;
}
.quicklink .fa{
width:18px;
color:rgb(66, 66, 66);
}
.fa-inr{
color:white !important;
width:10px !important;
}

.flippingbox{
border-radius: .375rem;
-webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  height: 235px;
  position: relative;
  /* padding: 0.365rem; */
  cursor: pointer;

}
.flipcard {
  position: relative;
  height: 249px;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

  .flipcard div {
    /* box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important; */
    border-radius: 0.375rem !important;
      position: absolute;
      /* height: 100%; */
      width: 100%;
      text-align: center;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
   
  }
  .flipcard .front {
    background: rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    height: 249px;

}
  .flipcard .back {
      background: rgb(255, 251, 210);
      color: rgb(39, 39, 39);
      height: 249px;
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg);

  }

label:hover .flipcard {
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

.flippingbox input {
  display: none;
}
label{
display: contents;
} 
:checked + .flipcard {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

label:hover :checked + .flipcard {
  transform: rotateX(160deg);
  -webkit-transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255,255,255,.2);
}

.scroll{
height:180px;
overflow-x: hidden !important;
overflow: hidden;
}

.scroll:hover{
  
overflow-x: hidden !important;
overflow: auto;
}

.ratingbox{
height:170px;
}

#myModal2,#myModal1, #myModalnews, #myModalBday, #myModalHoliday ,#AfterLoginModal, #myModalmyteamperson, #myModal23, #myModalWork {
background-color: rgba(34, 34, 34, 0.8);
}

.btn-xs {
padding: 1px 5px;
margin: 10px;
font-size: 10px;
line-height: 1.5;
border-radius: 3px;
}
.c100:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}

/* NEWS POPUP */
.fromimg img{
border: 4px solid #ffffff;
height:120px;
width:120px;
border-radius: 50%;
box-shadow: 0px 0px 16px 0px #00000033;
}
.fromimg{
position: absolute;
top: -50px;
padding-left:1rem;
text-align: -webkit-center;
}
.bgimg{
width:100%;
height:200px;
background: #212529;
overflow: hidden;
}
.newstext{
position: relative;
padding: 1rem;
top: 2rem;

}
.fromdetails{
left: 35%;
position: absolute;
}
.newsicon{
color:rgb(0, 110, 255);
}
.fromname{
color:rgb(0, 110, 255);
font-size:16px;
}
.newssubject{
font-weight: 600;
}
.fa-thumbs-up{
color:grey;
}
.fa-thumbs-up:hover{
color:rgb(7, 85, 255);
cursor: pointer;
}


/* BDAY CARD */
.bdaycard {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
/* max-width: 300px; */
/* margin: auto; */
text-align: center;
font-family: arial;
}
.bdaypicbg img{
  width: 150px;
  border-radius: 50%;
  margin: 1rem;
}
.title-bday {
color: grey;
font-size: 14px;
}
.empname{
margin-top:20px !important;
font-size: 16px;
text-transform: uppercase;
font-family: 'roboto';
}
.bdaydate{
position: absolute;
border-radius: 0px 0px 12px;
font-size: 10px;
padding: 5px;
box-shadow: 1px 2px 18px 0px #505050;
font-weight: 600;
color: #424242;
background: #fbbc00;
}
.date-cake{
color: #424242 !important;
}
.bdaycard h3{
margin-bottom:4px !important;
}
.approvalbox{
  overflow-x: hidden !important;
  overflow: hidden;
  height: 365px;
}
.approvalbox:hover {
  overflow-x: hidden !important;
  overflow: auto;
}
.colpadding{
  padding-top: 0rem !important;
  padding-left: 0.8rem !important;
}
.schedule-dot-item.present1 {
  background-color: rgb(124, 82, 27);
}
.pre{
  color: rgb(124, 82, 27)
}


#Holiday{
  padding-top: 36px;
  background-color: rgba(134, 131, 131, 0.8);
  /* background-color: #87ceeb !important; */
}
/* input[type="radio"] + label {
  position: relative;
  cursor: pointer;
  margin: 10px;
  padding-left: 35px;
}

input[type="radio"] + label:before {
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: #1565C0;
  -moz-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
  -webkit-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
  box-shadow: inset 0 0 0 18px #E0E0E0;
}
input[type="radio"] + label:before, input[type="radio"] + label:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type="radio"]:checked + label:before {
  -moz-box-shadow: inset 0 0 0 4px #E0E0E0;
  -webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
  box-shadow: inset 0 0 0 4px #E0E0E0;
}
input[type="radio"]:checked + label:after {
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -moz-animation: ripple 1s none;
  -webkit-animation: ripple 1s none;
  animation: ripple 1s none;
}
input[type="radio"] + label:after {
  top: 49%;
  left: 9px;
  width: 54px;
  height: 54px;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
} */


/* ===================FOR AUTO SCROLLBAR========================= */
/* .scrollbox {
  width: 100%;
  height: 250px;
  overflow: auto;
  visibility: hidden;
}
.scrollbox-content,
.scrollbox:hover,
.scrollbox:focus {
  visibility: visible;
}

.scrollbox_delayed {
  transition: visibility 0.2s;
}
.scrollbox_delayed:hover {
  transition: visibility 0s 0.2s;
} */
/* ===================FOR AUTO SCROLLBAR========================= */
.chatsuggestion{
  background: white;
  padding: 5px;
  box-shadow: 0px 1px 8px #2d2d2d;
  border-radius: 0px 0px 5px 5px;
  max-height: 200px;
  overflow-x: auto;
}
.suggestiontext:hover{
  cursor: pointer;
  background: rgba(137, 188, 255, 0.425);
}
.active{
  background: rgba(137, 188, 255, 0.425);
}
.suggestiontext{
padding:4px;
border-radius: 3px;
}

#AreYouSureDelete, #AreYouSuredlt, #AreYouSuredltnews{
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6); 
}

.modal1 {
  display: block;
  position: fixed; 
  z-index: 100; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  }
  .modal-content0 {
    background-color: #fefefe;
    margin: auto;
    padding-top: 0px;
    border: 1px solid #888;
    width: max-content;
    margin-top: auto;
    height: 36%;
    border-radius: 8px;
    color: #19cd1d;
    font-size: 23px;
    text-align: center;
  }
  .listbg{
    border-radius: 0.375rem;
    padding: 1rem;
    background: #f1f1f1;
  }
  .listbg:hover{
  
    background: #dff8ff;
  }
  .modal-header h4{
    font-size:18px !important;
    font-weight: 600;
  }
  .mp{
    font-size:15px;
    color:rgb(163, 10, 10);
  }
  .prsntlev{
    font-size:15px;
    color:rgb(10, 163, 48);
  }
  .details{
    padding:1rem;
  }
  /* .modal-dialog{
    top:10%;
  } */
 



  
  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(108, 159, 255); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #004eb3; 
}


.gradient-border {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* NEW LEAVES COUNT DASHBOARD DESIGN 4-16-19*/

.p-2{
  margin:auto;
  text-align: center;
  padding:1rem !important;
}

.leavecount-box{
  padding:1.5rem;
  border-radius: 0.365rem;
  /* border: 1px solid #e4e4e4; */
  width:100%;
}

.lcounts{
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #2d2d2d30;
  background: rgb(43, 130, 187);
}
.counts2{
  color:white;
}
.counts2 p{
  color:white !important;
}
.border-left-right{
  border-left:1px solid #7f9cde;
  border-right:1px solid #7f9cde;
}
.counts2 .row{
  margin:0 !important
}

.dropdown-menu:after {
  border: .625rem solid transparent !important;

}
/* NEW LEAVES COUNT DASHBOARD DESIGN  4-16-19*/




@media screen and (max-width: 360px) {

  .jzdcalt {
    font: 14px 'Roboto' !important;
    width: 30px !important;
    font-weight: 700;
        width: auto;
  }

  
  }


  .downloadfile{
    font-size: large;
    color: #569bd8;
  }

  .nodataimg{
    text-align: center;
    opacity:0.4;
  }
  .ListStyle{
    margin-bottom: 5px;
    box-shadow: 0 7px 10px #1f1f1f5e;
    transition: transform .2s, -webkit-transform .2s;
    min-height: 49px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    background-image: url("/assets/currentopening.png");
    background-attachment: fixed;
    background-size: cover;
    color: white !important;
  }
  .ListStyle:hover{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
   
  }
  .bg-color{
    background-color: white;
    color: black;
  }
  .habitualAbsentismId{
    background-color: #0747A6!important;
  }

  /* here is new code */
  
.whitebg{
  margin-top: 1rem;
  width: 100%;
  background-color: white;
  border-radius: .375rem;
  box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
  line-height: 1.25rem;
  font-weight: 700;
  margin-bottom: 0;
  min-height:500px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;

}
.page-title-subheadings{
  opacity: none;
  font-size: 13px;
}
.heading h5{
font-weight:600;
font-family: 'Josefin Sans', sans-serif;
font-size:1.5rem !important;
margin:1rem;
}

.menus {
  display: flex;
  flex-wrap: wrap;
  margin-top:3%;
  justify-content: center;
  position: static;
  text-align: -webkit-auto;
  user-select: none;
}
.menuicons img{
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  width: 60px;
  text-align: center;
}
.menuicons{
  align-items: center;
  flex-flow: column nowrap;
  height: 100%;
  position: relative;
  width: 100%;
}
.menuicons span{
font-size:14px;
}

.menuicons:hover img{
-webkit-transform: scale(1.08);
  transform: scale(1.08);
transition: all 0.3s;
}
.list-inline-item{
  cursor:pointer;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 1;
  padding-bottom: 3rem;
  position: relative;
  width: 200px;
  text-align: center;
}
.dropdownstyle{
border: 1px solid #f1f1f1;
  font-size: small;
  padding: 0.5rem;
  box-shadow: 0px 14px 20px -10px #7b7b7b;
  top:auto !important;
}

.dropdownstyle li{
padding:5px;

}
.newheaders{
background-color: #0747a6;
color: honeydew;
padding: 0.5rem;

border-top-left-radius: 11px;
border-top-right-radius: 11px
}

.dropdownstyle li:hover{
background:#343a40;
color:white;
border-radius:5px;
}


