
.headtable{
    height: 50px;
    color: #fff !important;
    background: #434344 !important;
  }
  
  
  
  .emp-action tr{
    font-size:12px;
    border-spacing: 10;
    border:none !important;
    background: #fff;
    border-radius: 0.2rem;
    margin-bottom: 10px;
    box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
  }
  .theadblue td{
    padding: 20px 20px !important;
    text-align: center;
  
  }
  
  .emp-action td{
    border:none !important;
    padding: 0.5rem;
    vertical-align: middle !important;
  }
  .emp-action{
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  .image-cover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
  }
  
  .emp-action .fa{
    font-size: 14px;
    padding:10px;
    color:#999999;
  }
  
  .emp-action .fa-eye:hover{
  color:rgb(28, 105, 194);
  cursor: pointer;
  }
  
  .emp-action .fa-pencil:hover{
    color:rgb(33, 131, 33);
    cursor: pointer;
    }
  
    .emp-action .fa-user-times:hover{
        color:rgb(161, 37, 37);
        cursor: pointer;
        }
        .emp-action .fa-arrows:hover{
            color:rgb(172, 97, 0);
            cursor: pointer;
            }
            /* .emp-action .fa-user:hover{
              color:#e9d062;
              cursor: pointer;
              } */
            
            .loader {
              border: 16px solid #f3f3f3; /* Light grey */
              border-top: 16px solid #3498db; /* Blue */
              border-radius: 50%;
              width: 120px;
              height: 120px;
              position: absolute;
              top:0;
              bottom: 0;
              left: 0;
              right: 0;
                margin: auto;
              animation: spin 2s linear infinite;
              z-index: 9;
          }
  
         @keyframes spin {
            0% { transform: rotate(0deg); }
           100% { transform: rotate(360deg); }
         }                
            
  
  .dataTables_filter{
    display: none !important;
  }
  
  .radiobtns{
    display: inline;
    margin-right: 2rem;
  }
  
  
  input[type="radio"] + label {
    position: relative;
    cursor: pointer;
    margin: 10px;
    padding-left: 35px;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label:before {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #1565C0;
    -moz-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
    -webkit-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
    box-shadow: inset 0 0 0 18px #E0E0E0;
  }
  input[type="radio"] + label:before, input[type="radio"] + label:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  input[type="radio"]:checked + label:before {
    -moz-box-shadow: inset 0 0 0 4px #E0E0E0;
    -webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
    box-shadow: inset 0 0 0 4px #E0E0E0;
  }
  input[type="radio"]:checked + label:after {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -moz-animation: ripple 1s none;
    -webkit-animation: ripple 1s none;
    animation: ripple 1s none;
  }
  input[type="radio"] + label:after {
    top: 49%;
    left: 9px;
    width: 54px;
    height: 54px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.3);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
  
  .searchbar2{
    margin-bottom: auto;
    margin-top: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 30px;
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 4px;
    border: 1px solid #a8adb4;
  }
  .searchbar2 .search_input {
    width: 335px;
    color: #0f0f0f !important;
  }
  .searchbar2 .fa{
    height:15px !important;
  }
  .searchbar2 .search_input::-webkit-input-placeholder {
    color: rgb(66, 66, 66);
  
  }
  .search_input_2[_ngcontent-c3] {
    color: rgb(83, 83, 83);
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    width: 300px;
    line-height: 20px;
    transition: width 0.4s linear;
  }
  .search_icon_2 {
    width: 20px;
    float: right;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(133, 133, 133);
  }
  .searchbar2 .fa{
    height: 15px !important;
    color: #0f0f0f !important;
  }
  
  .profilephoto{
    padding-top:10%;
  }
  .photoid{
  
    padding:5px;
    text-align: center;
  }
  .photoid img{
    margin:auto;
    border-radius: 50%;
    width:155px;
    height:155px;
    object-fit: cover;
    padding:5px;
    border: 2px solid #ffffff9c;
  }
  
  .headings {
    color: grey;
  }
  
  .detailstext {
    margin-bottom: 1.5rem;
  }
  .devider{
    margin:15px;
  
  }
  .devider hr{
    width: 60px;
    margin: auto;
    border-top: 1px solid #eeeeee59;
  }
  
  .popupcontent h6 {
    margin-top: 5px !important;
    font-size: 1em;
    color: #646464;
    text-transform: capitalize;
  }
  
  .popupcontent h4 {
    margin-bottom: 0 !important;
  }
  .tabledata-center{
    text-align: center;
  }
  
  