<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Staff Employee List <div class="page-title-subheading"> Here you can add,remove update Staff </div>
              <div class="float-right right-top-buttons">
             
               
              </div>
              </div>
              <div style="position: absolute;
              right: 30px">
              <button type="button"  
              title="Add Contractor Employee" class="btn btn-primary mr-2 circledesign">
              <i class="fa fa-user-plus " aria-hidden="true"></i> 
            </button>
            <button type="button"   title="Bulk Upload"
              class="btn btn-primary mr-2 circledesign">
              <i class="fa fa-upload" aria-hidden="true"></i> 
            </button>
            <button type="button"  
              title="Download List" class="btn btn-primary mr-2 circledesign">
              <i class="fa fa-download" aria-hidden="true"></i> 
            </button>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row container">
        <div class="col-sm-2">
          <label for="colFormLabelSm3">Search Options <span _ngcontent-c61="" style="color: red">
              *</span></label>
          <select class="form-control form-control-sm" id="searchLabour" name="searchLabour" >
            <option hidden [value]="selectUndefinedOptionValue">Search</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Nearing Expiry Validity">Nearing Expiry Validity</option>
            <option value="Suspended">Suspended</option>
            <option value="Blacklisted">Blacklisted</option>
          </select>

        
        
        </div>
        <div class="col-sm-1">
          <div _ngcontent-c27="" aria-label="Second group" class="btn-group btn-group-sm" role="group" style="position: absolute;
          top: 33px;left: 30px;"><button _ngcontent-c27="" class="btn btn-success ng-star-inserted" type="button">{{employeeData.length}}</button>
          </div>
        </div>
        <div class="col-sm-2">
          <label for="colFormLabelSm3">Search By <span _ngcontent-c61="" style="color: red">*</span></label>
          <select class="form-control form-control-sm" id="searchByLabour" name="searchByLabour" [(ngModel)]="searchByLabour">
            <option hidden [value]="selectUndefinedOptionValue">Search</option>
            <option value="Name">Name</option>
            <option value="Contact Number">Contact Number</option>
            <option value="Aadhar Number">Aadhaar Number</option>
            <option value="Contractor Service">Contractor Service</option>
            <option value="Contractor Name">Contractor Name</option>
          </select>
        </div>
        
        <!-- <div class="col-sm-4" *ngIf="searchByLabour">
          <input class="form-control" [(ngModel)]="searchByColumn" placeholder="Enter search term" (keyup)="filterData()">
        </div> -->
        

        <div class="col-sm-2" >
          <div style="margin-top: 25px">
            <input type="text" placeholder="search" [(ngModel)]="searchByColumn" name="searchByColumn" id="searchByColumn" class="form-control-sm" style="border: 1px solid #adaaaa;" (keyup)="filterData()">
          </div>
        </div>
       
      </div>

      <div class="card-body col-md-12">

        <div class="flex flex-column mt-4 faq-section">
          <div class="row">
            <div class="col-md-12">
        <table id="emptable" class="table emp-action ">
          <thead class="thead-dark">
            <tr class="theadblue pt-3 pb-3">
              <td style="width: unset !important;">Sr.No</td>

              <td style="width: unset !important;">Employee Id</td>
              <td style="width: unset !important;">Name</td>                 
              <td style="width: unset !important;">Designation</td>

              <td style="text-align:center; width: unset !important;">Action</td>
   
            </tr>
          </thead>
          <tbody >

            <tr  class="tabledata-center" *ngFor="let item of employeeData let s=index">
              <td>{{s+1}}</td>
              
              <td>{{item?.empId}}</td>
              <td>{{item?.firstName}} {{item?.lastName}}</td>
            
              <td>{{item?.designationMaster?.desigName}}</td>

              
              <td class="text-center" style="width:15%;">
                <i class="fa fa-eye"
                  title="View details" aria-hidden="true" style="padding-left: 0px;">
                </i>
                <i class="fa fa-pencil"  title="Edit details"
                  aria-hidden="true" (click)="editLabour(item)">
                </i>
                <i  class="fa fa-user-times"
                  title="Deactivate this employee" aria-hidden="true">
                </i>
                
              </td>

            </tr>
          </tbody>
          <tfoot>
            <tr></tr>
          </tfoot>
        </table>

        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        