

  

  /* .center{
    text-align: center;
  } */
  .input-group-text {
    background-color: #9ce5fd !important;
    border: 1px solid #a8adb4 !important;
  }
  
  .input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }


  .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }

  
  .customcheck {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      
      .customcheck input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      }
      
      .checkmark {
      position: absolute;
      top: -12px;
      left: 20%;
      height: 20px;
      width: 20px;
      background-color: #b9b9b9;
      border-radius: 5px;
      }
      
      .customcheck:hover input ~ .checkmark {
      background-color: #ccc;
      }
      
      .customcheck input:checked ~ .checkmark {
      background-color: #02cf32;
      border-radius: 5px;
      }
      
      .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      }
      
      .customcheck input:checked ~ .checkmark:after {
      display: block;
      }
      
      .customcheck .checkmark:after {
      left: 8px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      }
      ul{
          list-style: none;
      }

  
  

        
    /* =================SLIDER TOGGLE============================================ */
        .switch {
          position: relative;
          display: inline-block;
          width: 40px;
          height: 10px;
        }
        .switch input { 
          opacity: 0;
          width: 0;
          height: 0;
        }



        
        
        input[type="radio"] + label {
          position: relative;
          cursor: pointer;
          padding-right: 10px;
          margin:5px;
          padding-left: 25px;
        }
        input[type="radio"] {
          display: none;
        }
        input[type="radio"] + label:before {
          top: 0;
          left: 0;
          width: 18px;
          height: 18px;
          background: #1565C0;
          -moz-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
          -webkit-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
          box-shadow: inset 0 0 0 18px #E0E0E0;
        }
        input[type="radio"] + label:before, input[type="radio"] + label:after {
          content: "";
          position: absolute;
          border-radius: 50%;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        input[type="radio"]:checked + label:before {
          -moz-box-shadow: inset 0 0 0 4px #E0E0E0;
          -webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
          box-shadow: inset 0 0 0 4px #E0E0E0;
        }
        input[type="radio"]:checked + label:after {
          -moz-transform: translate(-50%, -50%) scale(1);
          -ms-transform: translate(-50%, -50%) scale(1);
          -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
          -moz-animation: ripple 1s none;
          -webkit-animation: ripple 1s none;
          animation: ripple 1s none;
        }
        input[type="radio"] + label:after {
          top: 49%;
          left: 9px;
          width: 54px;
          height: 54px;
          opacity: 0;
          background: rgba(255, 255, 255, 0.3);
          -moz-transform: translate(-50%, -50%) scale(0);
          -ms-transform: translate(-50%, -50%) scale(0);
          -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
        }
       