<div class="container-fluid">
    <div class="mainwrap">
        <div class="row">
            <div class="col-md-12">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon"><i class="fa fa-users bg-happy-itmeo" aria-hidden="true"></i>
                            </div>
                            <div>Approver Workflow Level <div class="page-title-subheading"> Here you can make approver
                                    workflow level </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="white-bg min-height-500">

                    <div class="row justify-content-center">
                        <div class="col-md-8">

                           <table id="example" class="table table-striped table-bordered" style="width:100% ;border:none">
                                <thead class="theadblue">
                                    <tr>
                                        <th width="40%">Request Type</th>
                                        <th>First Approver</th>
                                        <th>Second Approver</th>
                                        <th >Third Approver</th>
                                    </tr>
                                    <!-- <tr>
                                        <th colspan="3"> </th>
                                        <th>Third Approver</th>
                                        <th>HR</th>
                                    </tr> -->   
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Work From Home</td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="First Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="workFromHome.firstLevel"
                                                        disabled>
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Second Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="workFromHome.secondLevel"
                                                        (ngModelChange)="WFHsecond($event)">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Third Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="workFromHome.thirdLevel"
                                                        (ngModelChange)="WFHthird($event)"
                                                        [disabled]="workFromHome.hrApproverLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <!-- <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="HR Approver level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="workFromHome.hrApproverLevel"
                                                        (ngModelChange)="WFHHR($event)"
                                                        [disabled]="workFromHome.thirdLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td> -->

                                    </tr>
                                    <tr>
                                        <td>Leave</td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="First Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="leave.firstLevel" disabled>
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Second Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="leave.secondLevel"
                                                        (ngModelChange)="leaveSecond($event)">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Third Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="leave.thirdLevel"
                                                        (ngModelChange)="leaveThird($event)"
                                                        [disabled]="leave.hrApproverLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <!-- <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="HR Approver level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="leave.hrApproverLevel"
                                                        (ngModelChange)="leaveHR($event)" [disabled]="leave.thirdLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td> -->

                                    </tr>
                                    <tr>
                                        <td>On Duty</td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="First Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="onDuty.firstLevel" disabled>
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Second Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="onDuty.secondLevel"
                                                        (ngModelChange)="onDutySecond($event)">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Third Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="onDuty.thirdLevel"
                                                        (ngModelChange)="onDutyThird($event)"
                                                        [disabled]="onDuty.hrApproverLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <!-- <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="HR Approver level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="onDuty.hrApproverLevel"
                                                        (ngModelChange)="onDutyHR($event)"
                                                        [disabled]="onDuty.thirdLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td> -->

                                    </tr>

                                    <tr>
                                        <td>Miss Punch</td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="First Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="missPunch.firstLevel" disabled>
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Second Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="missPunch.secondLevel"
                                                        (ngModelChange)="missPunchSecond($event)">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Third Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="missPunch.thirdLevel"
                                                        (ngModelChange)="missPunchThird($event)"
                                                        [disabled]="missPunch.hrApproverLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <!-- <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="HR Approver level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="missPunch.hrApproverLevel"
                                                        (ngModelChange)="missPunchHR($event)"
                                                        [disabled]="missPunch.thirdLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td> -->

                                    </tr>

                                    <tr>
                                        <td>Permission Request</td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="First Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="permissionRequest.firstLevel"
                                                        disabled>
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Second Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="permissionRequest.secondLevel"
                                                        (ngModelChange)="permissionSecond($event)">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Third Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="permissionRequest.thirdLevel"
                                                        (ngModelChange)="permissionThird($event)"
                                                        [disabled]="permissionRequest.hrApproverLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <!-- <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="HR Approver level" aria-hidden="true">
                                                    <input type="checkbox"
                                                        [(ngModel)]="permissionRequest.hrApproverLevel"
                                                        (ngModelChange)="permissionHR($event)"
                                                        [disabled]="permissionRequest.thirdLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td> -->

                                    </tr>

                                    <tr>
                                        <td>Late/Early Request</td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="First Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="lateEarly.firstLevel" disabled>
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Second Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="lateEarly.secondLevel"
                                                        (ngModelChange)="LateearlySecond($event)">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Third Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="lateEarly.thirdLevel"
                                                        (ngModelChange)="LateearlyThird($event)"
                                                        [disabled]="lateEarly.hrApproverLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <!-- <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="HR Approver level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="lateEarly.hrApproverLevel"
                                                        (ngModelChange)="LateearlyHR($event)"
                                                        [disabled]="lateEarly.thirdLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td> -->
                                    </tr>

                                    <tr>
                                        <td>Extra Work Request</td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="First Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="extraWork.firstLevel" disabled>
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Second Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="extraWork.secondLevel"
                                                        (ngModelChange)="extraWorkSecond($event)">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Third Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="extraWork.thirdLevel"
                                                        (ngModelChange)="extraWorkThird($event)"
                                                        [disabled]="extraWork.hrApproverLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <!-- <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="HR Approver level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="extraWork.hrApproverLevel"
                                                        (ngModelChange)="extraWorkHR($event)"
                                                        [disabled]="extraWork.thirdLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td> -->
                                    </tr>

                                    <tr>
                                        <td>Coff Request</td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="First Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="coffRequest.firstLevel"
                                                        disabled>
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Second Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="coffRequest.secondLevel"
                                                        (ngModelChange)="coffReqSecond($event)">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="Third Approver Level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="coffRequest.thirdLevel"
                                                        (ngModelChange)="coffReqThird($event)"
                                                        [disabled]="coffRequest.hrApproverLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <!-- <td class="text-center">
                                            <div class="form-check form-check-inline">
                                                <label class="customcheck" data-toggle="tooltip"
                                                    title="HR Approver level" aria-hidden="true">
                                                    <input type="checkbox" [(ngModel)]="coffRequest.hrApproverLevel"
                                                        (ngModelChange)="coffReqHR($event)"
                                                        [disabled]="coffRequest.thirdLevel">
                                                    <span class="checkmark" aria-checked="checked"></span>
                                                </label>
                                            </div>
                                        </td> -->

                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <button (click)="onSubmit()" class="btn btn-primary">Save</button> &nbsp;
                                <button class="btn btn-info" (click)="reset()">Reset</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>