<div class="container">
  <div class="page-wrapper">

    <div class="row">
      <div class="col-md-12">
        <div class="whitebg w3-animate-left">
          <div class="newheader">
            <h4>Settings</h4>
          </div>
          <div class="p-3">

            <div class="menus">
              <ul class="list-inline">

                <li data-toggle="dropdown" class="dropdown list-inline-item ">
                  <div class="menuicons dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/newlayout/setting.svg">
                    <span>Masters <b class="caret"></b></span>
                  </div>

                  <ul class="dropdown-menu dropdownstyle animated flipInY">
                    <li [routerLink]="['/layout/master/companymaster']" [routerLinkActive]="'active'">Organization Master</li>
                    <li [routerLink]="['/layout/holiday2/holidaymaster']" [routerLinkActive]="'active'">Holiday Master</li>
                    <li [routerLink]="['/layout/shift/shiftgroupmaster']" [routerLinkActive]="'active'">Shift Master</li>
                    <li [routerLink]="['/layout/maincontractmaster/contractmaster']" [routerLinkActive]="'active'">Contractor Master</li>
                    <li [routerLink]="['/layout/weeklymaster/weeklyoffmaster']" [routerLinkActive]="'active'">Weekly-Off Master</li>
                    <li [routerLink]="['/layout/paymaster/payperiodmaster']" [routerLinkActive]="'active'">Pay-Period Setting</li>
                    <li [routerLink]="['/layout/Device/devicemaster']" [routerLinkActive]="'active'">Device Master</li>
                    <li [routerLink]="['/layout/transportmaster/busmaster1']" [routerLinkActive]="'active'">Transport Master</li>
                    <li [routerLink]="['/layout/asset/assetmaster']" [routerLinkActive]="'active'">Assets Master</li>
                    <li [routerLink]="['/layout/documentmaster/documentmaster']" [routerLinkActive]="'active'">Document Master</li>

                  </ul>

                </li>

                <li data-toggle="dropdown" class="dropdown list-inline-item ">
                  <div class="menuicons dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/newlayout/leavesetting.svg">
                    <span>Leave Configuration <b class="caret"></b></span>
                  </div>
                  <ul class="dropdown-menu dropdownstyle animated flipInY">
                    <li [routerLink]="['/layout/leaveconfiguration/leaveconfiguration']" [routerLinkActive]="'active'">Configure Leave Setting</li>
                    <li [routerLink]="['/layout/approverlevel/approverlevel']" [routerLinkActive]="'active'">Approver Workflow Level Setting</li>
                  </ul>
                </li>

                <li class="list-inline-item ">
                  <div class="menuicons" [routerLink]="['/layout/configuration/configuration']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/appointment.png">
                    <span>Attendance Configuration</span>
                  </div>
             
                </li>

            
                <li class="dropdown list-inline-item ">
                  <div class="menuicons" [routerLink]="['/layout/rolemasterr']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/role.svg">
                    <span>Role Master &<br> Query/Sepration </span>
                  </div>
                
                </li>

                <li class="dropdown list-inline-item ">
                  <div class="menuicons" [routerLink]="['/layout/customizedashboard/customizedashboard']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/dashboard.svg">
                    <span>Customize Dashboard <b class="caret"></b></span>
                  </div>
                 
                </li>

                <li class="dropdown list-inline-item ">
                  <div class="menuicons" [routerLink]="['/layout/seprationsetting/seprationsetting']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/exit.svg">
                    <span>Separation</span>
                  </div>
                </li>

                <li class="dropdown list-inline-item ">
                  <div class="menuicons" [routerLink]="['/layout/mailsetting/mailsetting']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/email.svg">
                    <span>Email Setting <b class="caret"></b></span>
                  </div>
          
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>