<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i  class="fa fa-user bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Assets<div class="page-title-subheading"> Here you can add remove Assets staff of employee
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">

        <div class="card">
          <div class="card-header" style="background-color: #0747a6;line-height: 5px;    padding-top: 23px;">
            <p style="color: white;">{{empfistname}} {{lastname}}</p>
            <span style="color: white;">{{labourId}}</span>
          </div>
          <div class="card-body" style="padding-bottom: 0px;">
            <div class="row">

              <!-- Image Columns -->
              <div class="col-md-4" style="text-align: center;">
                <img src="{{labourimg}}" class="rounded" alt="Cinque Terre" style="width: 150px;
                height: 150px;"> 
              </div>

              <div class="col-md-8">


                <!-- using table -->
                <table>
                  <tr>

                  </tr>
                  <!-- <tr>
                    <td><b>Labour ID</b></td>
                    <td><span><b>:&nbsp; {{labourId}}</b></span></td>
                  </tr> -->
                  <tr>
                    <td><b>Contractor Name</b></td>
                    <td><span> <b class="font-style">:&nbsp;&nbsp; {{contractorName}} {{lastnames}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Name</b></td>
                    <td><span> <b class="font-style">:&nbsp; {{empfistname}} {{lastname}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Gender</b></td>
                    <td><span> <b class="font-style">:&nbsp; {{gender}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Date Of Birth</b></td>
                    <td><span> <b class="font-style">:&nbsp; {{dateOfBirth}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Blood Group</b></td>
                    <td><span><b class="font-style">:&nbsp; {{bloodGroup}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Contact NO</b></td>
                    <td><span> <b class="font-style"> :&nbsp;{{contactNumber}}</b></span></td>
                  </tr>
                  <!-- <tr>
                    <td><b>Emergency Contact NO</b></td>
                    <td><span><b class="font-style"> :&nbsp;{{emergancyContact}}</b></span></td>
                  </tr> -->
                  <tr>
                    <td><b>Emergency Contact NO</b></td>
                    <td><span><b class="font-style"> :&nbsp;&nbsp;{{emergancyContact}}</b></span></td>
                  </tr>
                  <tr>
                    <td><b>Expected Date Of Joining</b></td>
                    <td><span> <b class="font-style">:&nbsp;&nbsp; {{empfistname}} {{lastname}}</b></span></td>
                  </tr>
                </table>








              </div>

            </div>
            <hr class="blue-hr">
            <div class="container">


              <div class="row">
                <div class="container ">
                  <!-- <form #AssetsForm="ngForm"> -->
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="extra-apply" role="tabpanel" aria-labelledby="extra-apply-tab">

                        <div class="row">
                        <div class="col-md-7">
                          <div class="form-floating">
                            <label for="floatingTextarea2">Description <span style="color: red">*</span></label>
                            <textarea class="form-control"  id="floatingTextarea2" style="height: 100px" name="remark" [(ngModel)]="remark" placeholder="Enter Description"></textarea>
                           
                          </div>
                        </div>
            
                      </div>
                      <div class="row" style="position: relative;
                      bottom: 30px;
                      right: 28px ">
                        <div class="col-md-12">
                          <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
              
                           
              
                            <li class="nav-item">
                              <a class="nav-link" id="extra-list-tab" data-toggle="pill" href="#extra-list" role="tab"
                                aria-controls="extra-list" aria-selected="false"><button class="btn btn-primary" [disabled]="!remark">Next</button></a>
                            </li>
              
                          </ul>
                        </div>
                      </div>
                      </div>
                      <div class="tab-pane fade" id="extra-list" role="tabpanel" aria-labelledby="extra-list-tab" >

                       
             
                      <div class="row">
                      
                        <!-- <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

                          <li class="nav-item">
                            <a class="nav-link active" id="extra-apply-tab" data-toggle="pill" href="#extra-apply" role="tab"
                              aria-controls="extra-apply" aria-selected="true"><button class="btn btn-primary">Previous</button></a>
                          </li>
                          </ul> -->
                      </div>
                 <div class="row" style="padding-left: 28px;
                 padding-right: 28px ">
  <div class="col-md-4">
    <div class="form-group">
      <label for="age">Assets <span style="color: red">*</span></label>
      <select name="selectedValue" [(ngModel)]="selectedValue" (change)="getAssets($event)" class="form-control" #PPEAssetst="ngModel">
        <option *ngFor="let item of allAssets"  [ngValue]="{ assetId: item.assetId, assetName: item.assetName }">
          {{item.assetName}}
        </option>
      </select>
      <div *ngIf="PPEAssetst.invalid && (PPEAssetst.dirty || PPEAssetst.touched)">
        <div *ngIf="PPEAssetst.errors.required"><small style="color: red;"> Assets is required </small></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="height">Issue Date <span style="color: red">*</span></label>
      <input type="date" class="form-control custom-input" id="issuedate" name="issuedate" [(ngModel)]="issuedate" #issueDates="ngModel">
      <div *ngIf="issueDates.invalid && (issueDates.dirty || issueDates.touched)">
        <div *ngIf="issueDates.errors.required"><small style="color:red;">issue date is required </small></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="weight">Issue Reason <span style="color: red">*</span></label>
      <input type="text" class="form-control" name="issuedReason" [(ngModel)]="issuedReason" #issueReasons="ngModel">
      <div *ngIf="issueReasons.invalid && (issueReasons.dirty || issueReasons.touched)">
        <div *ngIf="issueReasons.errors.required"><small style="color:red;">Issue Reason is required </small></div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="getAssetss()" [disabled]="!selectedValue || !issuedReason ||!issueDates" style="margin-bottom: 17px ">Add</button>
</div>

              
                
                <div class="container">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th>Sr.No.</th>
                        <th>Assets</th>
                        <!-- <th>Issue Reason</th> -->
                        <th>Issue Date</th>
                        <th>Action</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let item of assetsHistoryList let i = index'>
                        <td>{{i+1}}</td>
                        <td>{{item.assetName}}</td>
                        <!-- <td>{{item?.issuedReason}}</td> -->
                        <td>{{item.issuedate|date: 'dd/MM/yyyy'}}</td>
                        
                    
                        <td><i class="fa fa-trash" (click)="deleteAssets(item)" style="cursor: pointer;"></i></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <br>
                <div class="container mt-4">
                  <div class="row">
                    <div class="col-md-4">
                      <button type="button" class="btn btn-primary" (click)="saveassets()" [disabled]="!assetsHistoryList.length">Save</button>
                      <!-- <button type="button" class="btn btn-primary btn-sm" (click)="saveassets1()" *ngIf="iseditFlag==='true'">update</button> -->
                      &nbsp;&nbsp;
                      <button type="button" class="btn btn-primary" (click)="RejectLabourforMedical()">Reset</button>
                    </div>
                    <div class="col-md-1">
                     
                    </div>
                  </div>
                </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!--this is new code -->
<!-- <div class="mainwrap">
  <div class="row">
    <div class="col-md-12">

      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon"><i class="fa fa-user-times bg-happy-itmeo" aria-hidden="true"></i></div>
            <div> Manpower Request <div class="page-title-subheading"> Here HR Can Generaten Manpower Request</div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="col-lg-12 col-md-12">
      <div class="white-bg min-height-500">

        <div class="row">
          <div class="col-md-12">
            <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">

              <li class="nav-item">
                <a class="nav-link active" id="extra-apply-tab" data-toggle="pill" href="#extra-apply" role="tab"
                  aria-controls="extra-apply" aria-selected="true">Requirements</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="extra-list-tab" data-toggle="pill" href="#extra-list" role="tab"
                  aria-controls="extra-list" aria-selected="false">List</a>
              </li>

            </ul>
          </div>
        </div>


        <div class="tab-content" id="pills-tabContent">

          <div class="tab-pane fade show active" id="extra-apply" role="tabpanel" aria-labelledby="extra-apply-tab">

            <div class="row justify-content-center mt-3">
              <div class="col-md-6">
              <p>vijay</p>
              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="extra-list" role="tabpanel" aria-labelledby="extra-list-tab">

           <p>Ajay</p>

          </div>
        </div>
      </div>
    </div>
  </div> -->