<div class="bhoechie-tab-content white-bg" id="compmaster">
    <div class="row justify-content-center align-items-center">
        <div class="mastersheading">
            <h3>
                COMPANY <span class="boldmaster">MASTER</span>
            </h3>
        </div>
    </div>
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">

                <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>

                    <div class="form-group">
                        <label for="compName">Company Name<span style="color: red">*</span></label>
                        <input type="text" class="form-control form-control-sm" placeholder="Company Name" name="compName"
                            autocomplete="off"  [(ngModel)]="company.compName" maxlength="100" pattern="[A-Z a-z 0-9]{1,100}"
                            #compName="ngModel" required />
                            <!-- (keyup)='error()' -->
                        <div class="help-block" *ngIf="compName.errors?.required &&  company.compName =='' && compName.touched">
                            <small style="color: red">Company Name is required</small></div>
                        <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exits </small></div>
                        <!-- <div class="help-block" *ngIf="compName.errors?.pattern && compName.touched" class="aler alert-danger">Special Character not allowed And length should not be more than 100 character </div> -->
                        <!-- <div class="help-block" *ngIf="compName.errors?.pattern && compName.touched"  class="aler alert-danger">Please enter atleast one character</div> 
                             <div class="help-block" *ngIf="compName.errors?.pattern && compName.touched"  class="aler alert-danger">Size Should Not be More Than 100 character</div> -->
                    </div>

                    <div class="form-group">
                        <label for="compName">Contact Details</label>
                        <input type="text" class="form-control form-control-sm" name="contactDetails" maxlength="250"
                            [(ngModel)]="company.contactDetails" #contactDetails="ngModel" />
                        <!-- <div class="help-block" *ngIf="contactDetails.errors?.pattern && contactDetails.touched" class="aler alert-danger">Special Character not allowed And length should not be more than 100 character</div>  -->
                        <!-- <div class="help-block" *ngIf="compDesc.errors?.maxlength && compDesc.touched " class="aler alert-danger" >max lenght 250 char</div> -->
                    </div>

                    <div class="form-group">
                        <label for="compName">Company Address</label>
                        <input type="text" class="form-control form-control-sm" name="compAddress" maxlength="250"
                            [(ngModel)]="company.compAddress" #compAddress="ngModel" />

                        <!-- <div class="help-block" *ngIf="compDesc.errors?.maxlength && compDesc.touched " class="aler alert-danger" >max lenght 250 char</div> -->
                    </div>

                    <div class="form-group" >
                        <label>Company Logo</label>
                        <input class="form-control form-control-sm" title="{{selectedFileName}}" name="reldocument" id="File1"
                            type="file" #file accept="image/*" (change)="handleFileInput($event.target.files)" />
                        <div data-toggle="modal" data-target="#myModal">
                            {{selectedFileName}}
                        </div>
                        <!-- <div  *ngIf="reldocument.errors?.required && (reldocument.touched || f.submitted)"></div> -->
                    </div>

                    <div class="form-group">
                        <label for="compName">Portal Link<span style="color: red">*</span></label>
                        <input type="text" class="form-control form-control-sm" name="appLink " required
                            [(ngModel)]="company.appLink " #appLink ="ngModel" />

                            <div class="help-block" *ngIf="appLink.errors?.required &&  company.appLink =='' && appLink.touched">
                                <small style="color: red">Portal Link required</small></div>
                    </div>

                    <div class="form-group" *ngIf='StatusFlag'>
                        <label>Status</label><br>
                        <label (click)="uiswitch($event)">
                            <ui-switch [checked]='company.status' (click)="open(company.status)"><span class="switch  switch-medium"><small></small></span></ui-switch>
                        </label>
                    </div>
                    

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" [disabled]="(f.invalid)"  *ngIf="isedit==false">Save</button>
                    <button class="btn btn-primary" type="submit"   *ngIf="isedit==true">Save</button>
                        &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()" >Reset</button>
                    </div>

                </form>
            </div>

        </div>
        <hr>
        <div *ngIf='dataTableFlag'>
            <table id="CompTable" class="table table-striped table-bordered" style="width:100%">
                <thead class="theadblue">
                    <tr>

                        <th style="width: 70%">Company Name</th>
                        <th style="width: 15%; text-align:center" class="hide-arw">Status</th>
                        <th style="width: 15%; text-align:center" class="hide-arw">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of companydata">
                        <td>{{item.compName}}</td>
                        <td [ngClass]="{colorRed : item.status == false, colorGreen: item.status == true}" style="font-size:1rem; text-align:center"><i
                                class="fa fa-circle" aria-hidden="true"></i></td>
                        <td class="text-center"><i class="fa fa-pencil" (click)="edit(item)" aria-hidden="true"></i> <i
                                class="fa fa-trash" (click)='dltObj(item)' data-toggle="modal" data-target="#AreYouSuredlt"
                                aria-hidden="true"></i></td>

                    </tr>


                </tbody>

            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="AreYouSuredlt">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure, You Want to Delete?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal" class="btn btn-success">Yes</button><br>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>

<div class="container">


    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Company Logo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="height: 500px; width: 500px; margin: auto; overflow: hidden">
                    <iframe [src]="filePathToShow" height="500px" width="500px"></iframe>
                    <!-- <iframe style="zoom:0.60" width="99.6%" height="250" frameborder="0"  [src]="UrlDownload" width="100%" height="100%"></iframe> -->
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>