
 
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="data-title">
      <h6>Qualification Detail</h6>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-5">

    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
      <form name="form" (ngSubmit)="f1.form.valid" #f1="ngForm">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="placeofbirth">Highest Education</label>
              <!-- [disabled]="addQualification.length && !isEdit" -->
              <input autocomplete="off"  class="form-control form-control-sm" maxlength="50" pattern="[A-Z a-z 0-9]{1,250}" type="text"
                #highest='ngModel' name="highestedu" [(ngModel)]="addQualificationDetails.highestEduction">
              <div class="help-block" *ngIf="highest.errors?.pattern && (highest.touched || f1.submitted)"><small
                  style="color: red">Special Character not allowed</small></div>

            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="schcollage">Subject Of Specialization</label>
              <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="50" name="subspecl"
                #subspe='ngModel' [(ngModel)]="addQualificationDetails.subOfSpecialisation">
                <!-- pattern="^[^0-9]+$"
              <div class="help-block" *ngIf="subspe.errors?.pattern&& (subspe.touched || f1.submitted)"><small
                  style="color: red"> Number not allowed</small></div> -->
            </div>
          </div>
        </div> 

        <!-- <div class="form-row">
          <div class="col">
            <label class="customcheck">
              <input type="checkbox" name="currentyStudying" [(ngModel)]="addQualificationDetails.currentyStudying">
              <span class="checkmark"></span>
              Currently Studying
            </label>

          </div>
        </div> -->

        <div class="form-group">
          <label for="typeoffile"> Currently Studying</label>
          <br>
          <label class="switch mt-2">
            <input type="checkbox" name="currentyStudying" [(ngModel)]="currentyStudying" (ngModelChange)="currentyStdy($event)">
            <span class="slider round"></span>
          </label>
        </div>


         <div class="form-row" *ngIf="empEduExpModel.currentyStudying == 'Yes'" >
          <div class="col">
            <div class="form-group">
                <label for="anyspl">  Currently Studying Description </label>
              <textarea rows="4" cols="50" class="form-control form-control-sm" maxlength="200" type="text" name="currentStudyDetails" #descs='ngModel'
                [(ngModel)]="empEduExpModel.currentStudyDetails" ></textarea>
              
            </div>
          </div>
         </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="placeofbirth">Education Name</label><span style="color: red">*</span>
              <select name="eduname" form="eduName" class="form-control form-control-sm" #eduName='ngModel' [(ngModel)]="addQualificationDetails.eduName" required>
                <option hidden [value]="slect">Select Education Name</option>
                <option value="SSC">SSC</option>
                <option value="HSC">HSC</option>
                <option value="Diploma">Diploma</option>
                <option value="Graduation">Graduation</option>
                <option value="Post Graduation"> Post Graduation</option>
                <option value="Doctorate">Doctorate</option>
                <option value="Extra Certification">Extra Certification</option>
              </select>
              <div class="help-block" *ngIf="eduName.errors?.required && (eduName.touched || f1.submitted)">
                <small style="color: red"> Education Name required</small></div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="schcollage">School/College</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm" maxlength="50" pattern="^[ A-Za-z]*$" type="text" name="schoolOrCollege" #schoolOrColle='ngModel'
                [(ngModel)]="addQualificationDetails.schoolOrCollege" required>
              <div class="help-block" *ngIf="schoolOrColle.errors?.required && (schoolOrColle.touched || f1.submitted)">
                <small style="color: red"> School/College Name required</small></div>
                <div class="help-block" *ngIf="schoolOrColle.errors?.pattern&& (schoolOrColle.touched || f1.submitted)">
                  <small style="color: red"> Enter Valid School/College</small></div>

            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="schcollage">Year Of Passing</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm" type="date" #passingYear='ngModel' name="passingYear"
                [ngModel]="addQualificationDetails.passingYear | date:'yyyy-MM-dd'" (ngModelChange)="passingYearfunc($event)" required>
              <div class="help-block" *ngIf="passingYear.errors?.required && (passingYear.touched || f1.submitted)"><small
                  style="color: red"> Year Of Passing required</small></div>

            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-6">
            <div class="form-group">
              <label for="gradepercentage">Grade</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm short-width-80" maxlength='2' type="text" #grad='ngModel'
                name="grade" pattern="^[A-C,+,-][1-9]*$" [(ngModel)]="addQualificationDetails.grade" required>
              <div class="help-block" *ngIf="grad.errors?.required && (grad.touched || f1.submitted)"><small
                  style="color: red"> Grade required</small></div>
                  <div class="help-block" *ngIf="grad.errors?.pattern && (grad.touched || f1.submitted)"><small
                    style="color: red">Enter Valid Gradess</small></div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="gradepercentage">Percentage</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm short-width-80"  placeholder="eg 90.75%" pattern ="[0-9]+(\.[0-9]+)?[%]" maxlength="7" type="text"
                #percentag='ngModel' name="percentage" [(ngModel)]="addQualificationDetails.percentage" required>
              <div class="help-block" *ngIf="percentag.errors?.required && (percentag.touched || f1.submitted)"><small
                  style="color: red"> Percentage required</small></div>
              <div class="help-block" *ngIf="percentag.errors?.pattern&& (percentag.touched || f1.submitted)"><small
                  style="color: red"> Character not allowed</small></div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="schcollage">Board/University</label><span style="color: red">*</span>
              <input autocomplete="off" class="form-control form-control-sm" maxlength="50" pattern="^[ A-Za-z]*$" type="text"
                name="univercityOrBoard" #univercityOrBo='ngModel'
                [(ngModel)]="addQualificationDetails.univercityOrBoard" required>
              <div class="help-block"
                *ngIf="univercityOrBo.errors?.required && (univercityOrBo.touched || f1.submitted)"><small
                  style="color: red">Board/University required</small></div>
              <div class="help-block" *ngIf="univercityOrBo.errors?.pattern&& (univercityOrBo.touched || f1.submitted)">
                <small style="color: red"> Enter Valid Board/University</small></div>

            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="col">
            <!-- <a class="addmember" (click)="AddQaulification(addQualificationDetails)">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Qualification Detail</a> -->

            <!-- <button type="button" [disabled]='f1.invalid' (click)="AddQaulification(addQualificationDetails)"
              class="btn btn-primary mr-3">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button> -->

              <!-- <button type="button" [disabled]='f1.invalid' (click)="AddQaulification(addQualificationDetails,f1)"
              class="btn btn-primary mr-3" disabled={{buttonDisablededu}}>
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button> -->
               <button type="button" [disabled]='f1.invalid' (click)="AddQaulification(addQualificationDetails,f1)"
              class="btn btn-primary mr-3" disabled={{buttonDisablededu}}>
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button>

            <button type="reset" (click)="AddQaulificationmore(addQualificationDetails,f1)" class="btn btn-primary mr-3">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Add More</button>
          </div>
        </div>

        <div class="col-md-12">
          <table class="table table-bordered">
            <thead class="thead-dark2">
              <tr>
                <!-- <th>Highest Edu</th> -->
                <th>Education Name</th>
                <th>School/College</th>
                <th>Passing Year</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quali of addQualification; let i = index">
                <!-- <td>{{quali.highestedu}}</td> -->
                <td>{{quali.eduName}}</td>
                <td>{{quali.schoolOrCollege}}</td>
                <td>{{quali.passingYear | date : 'dd-MMM-yyyy'}}</td>
                <td><i class="fa fa-pencil" (click)="edit(quali,i)" aria-hidden="true"></i>
                  <i class="fa fa-trash" data-toggle="modal" data-target="#AreYouSureDelete1" (click)="deletes(i)" aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- ==========================================================End education==================== -->

       
        <div class="row">
          <div class="col-md-5">
          <div class="data-title pl-2">
          <h5>Future plan</h5>
          </div>
          </div>
          </div>

        <div class="form-group col-md-12">
          <label>plans for future studies</label>
          <br>
          <label class="switch mt-3 ">
            <input type="checkbox" class="btn btn-toggle" name="planForFutureStudy" [(ngModel)]="planForFutureStudy">
            <span class="slider round"></span>
          </label>
        </div>

        <div class="form-row" *ngIf="planForFutureStudy == true">
          <div class="col">
            <div class="form-group">
              <label for="fordisability">Plans for Future Studies Details</label><span style="color: red">*</span>
              <textarea class="form-control" id="fordisability" rows="2" #planForFutureStudy='ngModel'
                name="planForFutureStudyDetails" [(ngModel)]="planForFutureStudyDetails" maxlength="250" required></textarea>
              <div class="help-block"
                *ngIf="planForFutureStudy.errors?.required && (planForFutureStudy.touched || f1.submitted)"><small
                  style="color: red">Plans for Future Studies Details required</small></div>

            </div>
          </div>
        </div>


        <div class="form-group col-md-12">
          <label>If Any Research Papers/Patents</label>
          <br>
          <label class="switch mt-3 ">
            <input type="checkbox" class="btn btn-toggle" name="ifAnyResearchPapers" [(ngModel)]="ifAnyResearchPapers">
            <span class="slider round"></span>
          </label>
        </div>

        <div class="form-row" *ngIf="ifAnyResearchPapers == true">
          <div class="col">
            <div class="form-group">
              <label for="fordisability">Research Paper / Patents Details</label> <span style="color: red">*</span>
              <textarea class="form-control" id="fordisability" rows="2" #researchPapersDetail='ngModel'
                name="researchPapersDetails" maxlength="250" [(ngModel)]="researchPapersDetails" required></textarea>
              <div class="help-block"
                *ngIf="researchPapersDetail.errors?.required && (researchPapersDetail.touched || f1.submitted)"><small
                  style="color: red"> Research Papers/Petants Details required</small></div>

            </div>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label>Sports Activity</label>
          <br>
          <label class="switch mt-3 ">
            <input type="checkbox" class="btn btn-toggle" name="interestedInSports" [(ngModel)]="interestedInSports">
            <span class="slider round"></span>
          </label>
        </div>

        <div class="form-row" *ngIf="interestedInSports == true">
          <div class="col">
            <div class="form-group">
              <label for="fordisability">Sports Activity Details  </label><span style="color: red">*</span>
              <textarea class="form-control" id="fordisability"  maxlength="250" rows="2" #sportDetail='ngModel' name="sportDetails"
                [(ngModel)]="sportDetails" required></textarea>
              <div class="help-block" *ngIf="sportDetail.errors?.required && (sportDetail.touched || f1.submitted)">
                <small style="color: red"> Sports Details required</small></div>

            </div>
          </div>
        </div>
      
        

      </form>

      <!-- <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="schcollage"></label>

          </div>
        </div>
      </div> -->

      <!-- <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="data-title">
            <h5>Qualification Detail</h5>
          </div>
        </div>
      </div> -->
      
      <form name="f2" #f2='ngForm'>
        <div class="row">
        <div class="col-md-5">
        <div class="data-title pl-2">
        <h5>Experience Details</h5>
        </div>
        </div>
        </div>
        
        <div class="form-row">
        <div class="col">
        <div class="form-group">
        <label for="companyNames">Company Name</label><span style="color: red">*</span>
        <input autocomplete="off" id="companyNames" class="form-control form-control-sm" type="text" maxlength="100" name="companyName"
        #companyNam='ngModel' [(ngModel)]="addExperinceDetails.companyName" required>
        <div class="help-block" *ngIf="companyNam.errors?.required && (companyNam.touched || f2.submitted)"><small
        style="color: red"> Company Name required</small></div>
        
        </div>
        </div>
        </div>
        
        <div class="form-row">
        <div class="col">
        <div class="form-group">
        <label for="companyAddresss">Company Address</label>
        <textarea class="form-control" id="companyAddresss" maxlength="250" rows="2" name="companyAddress"
        [(ngModel)]="addExperinceDetails.companyAddress"></textarea>
        </div>
        </div>
        </div>
        
        <div class="form-row">
        <div class="col">
        <div class="form-group">
        <label for="contactNumbers">Contact Number</label><span style="color: red">*</span>
        <!-- contactNumber -->
        <input autocomplete="off" id="contactNumbers" class="form-control form-control-sm" maxlength='10' pattern="^(\+\d{1,3}[- ]?)?\d{10}$" type="text"
        name="contactNumber" #contactNumb='ngModel' [(ngModel)]="addExperinceDetails.cmpContactNumber" required>
        <div class="help-block" *ngIf="contactNumb.errors?.required && (contactNumb.touched || f2.submitted)">
        <small style="color: red"> Contact Number required</small></div>
        <div class="help-block" *ngIf="contactNumb.errors?.pattern && (contactNumb.touched || f2.submitted)">
        <small style="color: red"> Enter valid mob number</small></div>
        
        </div>
        </div>
        </div>
        
        <div class="form-row">
        <div class="col">
        <div class="form-group">
        <label for="designationOnLeavings">Designation</label><span style="color: red">*</span>
        <input autocomplete="off" id="designationOnLeavings" class="form-control form-control-sm" type="text" maxlength="50" pattern="^[^0-9]+$"
        #designationOnL='ngModel' name="designationOnLeaving"
        [(ngModel)]="addExperinceDetails.designationOnLeaving" required>
        <div class="help-block"
        *ngIf="designationOnL.errors?.required && (designationOnL.touched || f2.submitted)"><small
        style="color: red"> Designation required</small></div>
        <div class="help-block"
        *ngIf="designationOnL.errors?.pattern && (designationOnL.touched || f2.submitted)"><small
        style="color: red"> Number not allowed</small></div>
        
        </div>
        </div>
        </div>
        
        <div class="form-row">
        <div class="col">
        <div class="form-group">
        <label for="companyWebsites">Company Website</label>
        <input autocomplete="off" id="companyWebsites" class="form-control form-control-sm" maxlength="50" type="text" name="companyWebsite"
        [(ngModel)]="addExperinceDetails.companyWebsite">
        </div>
        </div>
        </div>
        
        <div class="form-row">
        <div class="col">
        <div class="form-group">
        <label for="departmentWorkedIns">Department Worked In</label><span style="color: red">*</span>
        <input autocomplete="off" id="departmentWorkedIns" class="form-control form-control-sm" maxlength="50" type="text" #departmentWorked='ngModel'
        name="departmentWorkedIn" [(ngModel)]="addExperinceDetails.departmentWorkedIn" required>
        <div class="help-block"
        *ngIf="departmentWorked.errors?.required && (departmentWorked.touched || f2.submitted)"><small
        style="color: red"> Department Worked In required</small></div>
        
        </div>
        </div>
        </div>
        
        <div class="form-row">
        <div class="col">
        <div class="form-group">
        <label for="jobDescriptions">Job Description</label><span style="color: red">*</span>
        <textarea class="form-control" id="jobDescriptions" rows="2" #jobDescri='ngModel' name="jobDescription"
        maxlength="250" [(ngModel)]="addExperinceDetails.jobDescription" required></textarea>
        <div class="help-block" *ngIf="jobDescri.errors?.required && (jobDescri.touched || f2.submitted)"><small
        style="color: red"> Job Description required</small></div>
        
        </div>
        </div>
        </div>
        
        <div class="form-row">
        <div class="col">
        <div class="form-group">
        <label for="fromDates">start Date</label><span style="color: red">*</span>
        <input class="form-control form-control-sm" id="fromDates" type="date" name="fromDate" (change)="Startvalue($event);"
        max="{{Endval}}" #fromDat='ngModel' [ngModel]="addExperinceDetails.fromDate | date:'yyyy-MM-dd'"
        required>
        <div class="help-block" *ngIf="fromDat.errors?.required && (fromDat.touched || f2.submitted)"><small
        style="color: red"> start Date required</small></div>
        
        </div>
        </div>
        
        <div class="col">
        <div class="form-group">
        <label for="toDates">End Date</label><span style="color: red">*</span>
        <input class="form-control form-control-sm" id="toDates" type="date" name="toDate" #toDat='ngModel' min="{{Startval}}"
        (change)='Endvalue($event)' [ngModel]="addExperinceDetails.toDate | date:'yyyy-MM-dd'" required>
        <div class="help-block" *ngIf="toDat.errors?.required && (toDat.touched || f2.submitted)"><small
        style="color: red"> End Date required</small></div>
        
        </div>
        </div>
        </div>
        
        <div class="form-row">
        <div class="col">
        <div class="form-group">
        <label for="totalExperiences">Total Experience(In Years)</label> <span style="color: red">*</span>
        <input autocomplete="off" maxlength="4" id="totalExperiences" class="form-control form-control-sm" type="number" pattern="^[1-9][0-9.]*"
        name="totalExperience" #totalExperienc='ngModel' [(ngModel)]="addExperinceDetails.totalExperience"
        required>
        <div class="help-block"
        *ngIf="totalExperienc.errors?.required && (totalExperienc.touched || f2.submitted)"><small
        style="color: red"> Total Experience required</small></div>
        <div class="help-block"
        *ngIf="totalExperienc.errors?.pattern && (totalExperienc.touched || f2.submitted)"><small
        style="color: red"> Enter numbers only</small></div>
        
        </div>
        </div>
        
        <div class="col">
        <div class="form-group">
        <label for="ctcs">CTC</label> <span style="color: red">*</span>
        <input autocomplete="off" id="ctcs" class="form-control form-control-sm"  type="number" maxlength="10"
        #ct='ngModel' name="ctc" [(ngModel)]="addExperinceDetails.ctc" required>
        <div class="help-block" *ngIf="ct.errors?.required && (ct.touched || f2.submitted)"><small
        style="color: red"> CTC required</small></div>
         <!-- <div class="help-block" *ngIf="ct.errors?.pattern && (ct.touched || f2.submitted)"><small
        style="color: red"> Special Character not allowed</small></div> 
         -->
        </div>
        </div>
        </div>
        
        <div class="form-row">
        <div class="col">
        <div class="form-group">
        <label for="reasonForLeavings">Reason for Leaving</label>
        <input autocomplete="off" id="reasonForLeavings" class="form-control form-control-sm" maxlength="100" type="text" #reasonForLeav='ngModel'
        name="reasonForLeaving" [(ngModel)]="addExperinceDetails.reasonForLeaving">
        <!-- <div class="help-block" *ngIf="reasonForLeav.errors?.pattern && (reasonForLeav.touched || f2.submitted)">
        <small style="color: red"> Special Character not allowed</small></div> -->
        </div>
        </div>
        </div>
        
        <div class="form-row">
        <div class="col">
        <!-- <a class="addmember" (click)="AddExperince(addExperinceDetails)">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Experience Detail</a> -->
        <!-- <button type="button" [disabled]="f2.invalid" (click)="AddExperince(addExperinceDetails,f2)"
        class="btn btn-primary mr-3">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button> -->
        <button type="button" [disabled]="f2.invalid" (click)="AddExperince(addExperinceDetails,f2)"
        class="btn btn-primary mr-3">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button>
        
        <button type="reset" (click)="AddExperincemore(addExperinceDetails)" class="btn btn-primary mr-3">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add More</button>
        </div>
        </div>
        
        <div class="col-md-12">
        <table class="table table-bordered">
        <thead class="thead-dark2">
        <tr>
        <th>Company Name</th>
        <th>Designation</th>
        <th>Website</th>
        <th>Experience</th>
        <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let exp of addExperince; let i = index">
        <td>{{exp.companyName}}</td>
        <td>{{exp.designationOnLeaving}}</td>
        <td>{{exp.companyWebsite}}</td>
        <td>{{exp.totalExperience}}</td>
        <td><i class="fa fa-pencil" (click)="editexp(exp,i)" aria-hidden="true"></i>
        <i class="fa fa-trash" data-toggle="modal" data-target="#AreYouSureDelete2"  (click)="deleteexp(i)" aria-hidden="true"></i></td>
        </tr>
        </tbody>
        </table>
        </div>
        
        </form>


      <div class="form-row">
        <div class="col">
          <div class="backbtn">
            <a>Back</a>
          </div>
        </div>

        <div class="col">
          <button class="btn btn-primary float-right" [disabled]="!addExperince && !addQualification || f1.invalid || f.invalid" (click)="saveAllData()">Save & Continue</button>
        </div>
      </div>
    </form>
  </div>
</div>



<!-- ======================Education delete are u shore -->

<div class="modal fade" id="AreYouSureDelete1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='DeletemodelEvent()' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger"  data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>

<!-- ==========================Experience R You Shoure ================== -->

<div class="modal fade" id="AreYouSureDelete2">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='DeletemodelEvent2()' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger"  data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>
