<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">

              <div> Contractor Onboarding <div class="page-title-subheading">Here you can
                  add Contractor </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">
          <div class="row">
            <!-- for 1st row -->
            <div class="col-md-6">
              <h2 style="color: red;">(Admin can change the Location)</h2>
            </div>
            <div class="col-md-6" style="display: flex;">

              <div class="col-md-6">

                <div class="form-group">
                  <label for="dropdown1">Location</label>
                  <select class="form-control" id="dropdown1">
                    <option value="option1">Mumbai</option>
                    <option value="option2">Pune</option>
                    <option value="option3">Sangali</option>
                  </select>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dropdown1">Contractor</label>
                  <select class="form-control" id="dropdown1">
                    <option value="option1">Shrenik Patil</option>
                    <option value="option2">Kolte Patil</option>
                    <option value="option3">Bhosale Builder</option>
                  </select>
                </div>
              </div>
            </div>



            <!-- for 2st row -->
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <div style="height: 20%;">
                    <div class="card-body px-0" style="background-color: rgb(65, 65, 219);border-radius: 10px; ">
                      <div class="d-flex"
                        style="justify-content: space-around; align-items: center;height: 20%; border-bottom: 1px solid white;">

                        <div style="    display: flex; flex-direction: column; align-items: center;">
                          <img style="height: 50px;" src="assets/details.png" alt="img here"> <br>
                          <label for="Contractor" style="color: aliceblue;">Contractor</label>
                        </div>
                        <span style="font-size: 50px; color: aliceblue;">20</span>

                      </div>

                      <div class="d-flex" style="justify-content: space-around; align-items: center;height: 20%; ">

                        <div style="    display: flex; flex-direction: column; align-items: center;" class="mt-2">
                          <img style="height: 50px;" src="assets/details.png" alt="img here"> <br>
                          <label for="Contractor" style="color: aliceblue;">Labour</label>
                        </div>
                        <span style="font-size: 50px;color: aliceblue;">200</span>

                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
                    style="justify-content: space-around;">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row" style="display: flex; justify-content: space-evenly;">
                          <div class="" style="border: 1px solid red; width: 30%;">
                            <div class="card">
                              <div class="card-body">
                                <!-- Replace "DA_logo" with the actual image source -->
                                <img style="height: 190px;" src="DA_logo" class="d-block w-100" alt="Image 1">
                              </div>
                            </div>
                          </div>
                          <div class="" style="border: 1px solid red; width: 30%;">
                            <div class="card">
                              <div class="card-body">
                                <!-- Replace "DA_logo" with the actual image source -->
                                <img style="height: 190px;" src="DA_logo" class="d-block w-100" alt="Image 2">
                              </div>
                            </div>
                          </div>
                          <div class="" style="border: 1px solid red; width: 30%;">
                            <div class="card">
                              <div class="card-body">
                                <!-- Replace "DA_logo" with the actual image source -->
                                <img style="height: 190px;" src="DA_logo" class="d-block w-100" alt="Image 3">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="carousel-item">
                        <div class="row" style="display: flex; justify-content: space-evenly;">
                          <div class="" style="border: 1px solid red; width: 30%;">
                            <div class="card">
                              <div class="card-body">
                                <!-- Replace "DA_logo" with the actual image source -->
                                <img style="height: 190px;" src="DA_logo" class="d-block w-100" alt="Image 4">
                              </div>
                            </div>
                          </div>
                          <div class="" style="border: 1px solid red; width: 30%;">
                            <div class="card">
                              <div class="card-body">
                                <!-- Replace "DA_logo" with the actual image source -->
                                <img style="height: 190px;" src="DA_logo" class="d-block w-100" alt="Image 5">
                              </div>
                            </div>
                          </div>
                          <div class="" style="border: 1px solid red; width: 30%;">
                            <div class="card">
                              <div class="card-body">
                                <!-- Replace "DA_logo" with the actual image source -->
                                <img style="height: 190px;" src="DA_logo" class="d-block w-100" alt="Image 6">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="carousel-item">
                        <div class="row" style="display: flex; justify-content: space-evenly;">
                          <div class="" style="border: 1px solid red; width: 30%;">
                            <div class="card">
                              <div class="card-body">
                                <!-- Replace "DA_logo" with the actual image source -->
                                <img style="height: 190px;" src="DA_logo" class="d-block w-100" alt="Image 7">
                              </div>
                            </div>
                          </div>
                          <div class="" style="border: 1px solid red; width: 30%;">
                            <div class="card">
                              <div class="card-body">
                                <!-- Replace "DA_logo" with the actual image source -->
                                <img style="height: 190px;" src="DA_logo" class="d-block w-100" alt="Image 8">
                              </div>
                            </div>
                          </div>
                          <div class="" style="border: 1px solid red; width: 30%;">
                            <div class="card">
                              <div class="card-body">
                                <!-- Replace "DA_logo" with the actual image source -->
                                <img style="height: 190px;" src="DA_logo" class="d-block w-100" alt="Image 9">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>









              </div>
            </div>





            <!-- for 3rd row -->
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <img src="src/assets/firstrowgraph.png" alt="" style="height: 200px;">

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <img src="src/assets/second.png" alt="" style="height: 200px; width: 500px;">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <img src="src/assets/thirdgraph.png" alt="" style="height: 200px;">
                </div>
              </div>
            </div>



            <!-- for 4th row -->
            <div class="col-md-3">
              <div class="card">
                <div class="card-body text-center">
                  <label for="">Today's Gender Count</label>

                  <div class="row">

                    <!-- Men Card -->
                    <div class="col-md-6 mb-3 d-flex align-items-center">
                      <div class="card" style="height: 150px; width: 100px; display: flex; flex-direction: column;">
                        <div class="card-body d-flex flex-column align-items-center justify-content-space-between">
                          <img src="" alt="img2" style="height: 30px; width: auto; border: 1px solid black;">
                          <div style="margin-top: auto;">
                            <span>150</span>
                          </div>
                        </div>
                      </div>
                    </div>




                    <!-- Women Card -->
                    <div class="col-md-6 mb-3 d-flex align-items-center">
                      <div class="card" style="height: 150px; width: 100px; display: flex; flex-direction: column;">
                        <div class="card-body d-flex flex-column align-items-center justify-content-space-between">
                          <img src="" alt="img2" style="height: 30px; width: auto; border: 1px solid black;">
                          <div style="margin-top: auto;">
                            <span>150</span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>




            <div class="col-md-3">
              <div class="card">
                <div class="card-body ">
                  <div class="text-center">
                    <label for="">Today's Manpower Limits</label>
                  </div>


                  <!-- Card for Men -->
                  <div class="card mt-3">
                    <div class="card-body" style="display: flex; justify-content: space-between; align-items: center;">
                      <label for="">Limit Exceeded:</label>
                      <span>150</span>
                    </div>
                  </div>


                  <!-- Card for Women -->
                  <div class="card mt-3">
                    <div class="card-body" style="display: flex; justify-content: space-between; align-items: center;">
                      <label for="">Under Limit </label>
                      <span>5</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">

              <div class="card">

                <div class="card-body">

                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <!-- <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol> -->
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="card mt-3">
                          <div class="card-body" style="display: flex;">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                              <img src="" alt="img2" style="height: 30px; width: auto; border: 1px solid black;">
                            </div>
                            <div
                              style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;margin-left: 60px; ">
                              <span style="font-size: 12px;">70,000</span>
                              <span style="font-size: 10px;">Payroll Amount</span>
                            </div>
                          </div>
                        </div>
                        <div class="card mt-3">
                          <div class="card-body" style="display: flex;">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                              <img src="" alt="img2" style="height: 30px; width: auto; border: 1px solid black;">
                            </div>
                            <div
                              style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin-left: 60px; ">
                              <span style="font-size: 12px;">40,000</span>
                              <span style="font-size: 10px;">PPE Expense</span>
                            </div>
                          </div>
                        </div>





                      </div>
                      <div class="carousel-item">
                        <div class="card mt-3">
                          <div class="card-body" style="display: flex;">

                            <div style="display: flex; justify-content: space-between; align-items: center;">
                              <img src="" alt="img2" style="height: 30px; width: auto; border: 1px solid black;">
                            </div>
                            <div
                              style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin-left: 60px;">
                              <span style="font-size: 12px;">70,000</span>
                              <span style="font-size: 10px;">Payroll Amount</span>
                            </div>
                          </div>
                        </div>
                        <div class="card mt-3">
                          <div class="card-body" style="display: flex;">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                              <img src="" alt="img2" style="height: 30px; width: auto; border: 1px solid black;">
                            </div>
                            <div
                              style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin-left: 60px;">
                              <span style="font-size: 12px;">40,000</span>
                              <span style="font-size: 10px;">PPE Expense</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="card mt-3">
                          <div class="card-body" style="display: flex;">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                              <img src="" alt="img2" style="height: 30px; width: auto; border: 1px solid black;">
                            </div>
                            <div
                              style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin-left: 60px;">
                              <span style="font-size: 12px;">70,000</span>
                              <span style="font-size: 10px;">Payroll Amount</span>
                            </div>
                          </div>
                        </div>
                        <div class="card mt-3">
                          <div class="card-body" style="display: flex;">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                              <img src="" alt="img2" style="height: 30px; width: auto; border: 1px solid black;">
                            </div>
                            <div
                              style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin-left: 60px;">
                              <span style="font-size: 12px;">40,000</span>
                              <span style="font-size: 10px;">PPE Expense</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>








                </div>

              </div>
            </div>





            <div class="col-md-3">
              <div class="card">
                <div class="card-body ">
                  <div class="text-center">
                    <label for="">Today's Manpower Limits</label>
                  </div>


                  <!-- Card for Men -->
                  <div class="card mt-3">
                    <div class="card-body" style="display: flex; justify-content: space-between; align-items: center;">
                      <img src="" alt="img2" style="height: 30px; width: auto; border: 1px solid black;">
                      <label for="" style="font-size: 10px;">Labour Onboarding</label>
                      <span>125</span>
                    </div>
                  </div>


                  <!-- Card for Women -->
                  <div class="card mt-3">
                    <div class="card-body" style="display: flex; justify-content: space-between; align-items: center;">
                      <img src="" alt="img2" style="height: 30px; width: auto; border: 1px solid black;">
                      <label for="" style="font-size: 10px;">Sepration Labour</label>
                      <span>88</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- for 5th row -->
          <div class="row">
            <div class="col-md-4">
              <div class="card">

                <div class="card-body">
                  <label for="" class="mt-2 ml-3">Validaty Checklist</label>
                  <div class="card " style="padding: 10px;padding: 10px;
                  height: 200px;
                  overflow-y: scroll;">

                    <div class="card mt-1 d-flex" style="     flex-direction: row;
                    justify-content: space-around;">
                      <div style="display: flex; flex-direction: column; justify-content: space-between;">
                        <span style="font-size: 10px;">Raghu Reddy</span>
                        <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                      </div>
                      <div
                        style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                        <span style="font-size: 10px;">Valid Until</span>
                        <span style="font-size: 10px;">18-jan-2024</span>
                      </div>
                    </div>


                    <div class="card mt-1 d-flex" style="     flex-direction: row;
                    justify-content: space-around;">
                      <div style="display: flex; flex-direction: column; justify-content: space-between;">
                        <span style="font-size: 10px;">Raghu Reddy</span>
                        <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                      </div>
                      <div
                        style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                        <span style="font-size: 10px;">Valid Until</span>
                        <span style="font-size: 10px;">18-jan-2024</span>
                      </div>
                    </div>

                    <div class="card mt-1 d-flex" style="     flex-direction: row;
                    justify-content: space-around;">
                      <div style="display: flex; flex-direction: column; justify-content: space-between;">
                        <span style="font-size: 10px;">Raghu Reddy</span>
                        <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                      </div>
                      <div
                        style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                        <span style="font-size: 10px;">Valid Until</span>
                        <span style="font-size: 10px;">18-jan-2024</span>
                      </div>
                    </div>
                    <div class="card mt-1 d-flex" style="     flex-direction: row;
                    justify-content: space-around;">
                      <div style="display: flex; flex-direction: column; justify-content: space-between;">
                        <span style="font-size: 10px;">Raghu Reddy</span>
                        <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                      </div>
                      <div
                        style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                        <span style="font-size: 10px;">Valid Until</span>
                        <span style="font-size: 10px;">18-jan-2024</span>
                      </div>
                    </div>
                    <div class="card mt-1 d-flex" style="     flex-direction: row;
                    justify-content: space-around;">
                      <div style="display: flex; flex-direction: column; justify-content: space-between;">
                        <span style="font-size: 10px;">Raghu Reddy</span>
                        <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                      </div>
                      <div
                        style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                        <span style="font-size: 10px;">Valid Until</span>
                        <span style="font-size: 10px;">18-jan-2024</span>
                      </div>
                    </div>
                  </div>

                  <!-- Card for Women -->
                  <div class=" mt-3" style="padding: 10px;">
                    <label for="">Todays Blocklisted Labour List</label>
                    <div class="card " style="padding: 10px;padding: 10px;
                    height: 200px;
                    overflow-y: scroll;">

                      <div class="card mt-1 d-flex" style="     flex-direction: row;
                      justify-content: space-around;">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                          <span style="font-size: 10px;">Raghu Reddy</span>
                          <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                        </div>
                        <div
                          style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                          <span style="font-size: 10px;">Valid Until</span>
                          <span style="font-size: 10px;">18-jan-2024</span>
                        </div>
                      </div>


                      <div class="card mt-1 d-flex" style="     flex-direction: row;
                      justify-content: space-around;">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                          <span style="font-size: 10px;">Raghu Reddy</span>
                          <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                        </div>
                        <div
                          style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                          <span style="font-size: 10px;">Valid Until</span>
                          <span style="font-size: 10px;">18-jan-2024</span>
                        </div>
                      </div>

                      <div class="card mt-1 d-flex" style="     flex-direction: row;
                      justify-content: space-around;">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                          <span style="font-size: 10px;">Raghu Reddy</span>
                          <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                        </div>
                        <div
                          style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                          <span style="font-size: 10px;">Valid Until</span>
                          <span style="font-size: 10px;">18-jan-2024</span>
                        </div>
                      </div>
                      <div class="card mt-1 d-flex" style="     flex-direction: row;
                      justify-content: space-around;">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                          <span style="font-size: 10px;">Raghu Reddy</span>
                          <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                        </div>
                        <div
                          style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                          <span style="font-size: 10px;">Valid Until</span>
                          <span style="font-size: 10px;">18-jan-2024</span>
                        </div>
                      </div>
                      <div class="card mt-1 d-flex" style="     flex-direction: row;
                      justify-content: space-around;">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                          <span style="font-size: 10px;">Raghu Reddy</span>
                          <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                        </div>
                        <div
                          style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                          <span style="font-size: 10px;">Valid Until</span>
                          <span style="font-size: 10px;">18-jan-2024</span>
                        </div>
                      </div>
                    </div>
                  </div>









                </div>
              </div>
            </div>



            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <div id="newCarouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <label for="">Pending Manpower Request</label>
                        <div class="card " style="padding: 10px;padding: 10px;
                        height: 470px;
                        overflow-y: scroll;">

                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>


                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>

                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                           <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div> <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                        </div>
                        

                      </div>
                      <div class="carousel-item ">
                        <label for="">Pending Manpower Request222</label>
                        <div class="card " style="padding: 10px;padding: 10px;
                        height: 470px;
                        overflow-y: scroll;">

                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>


                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>

                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                           <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div> <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                        </div>
                        

                      </div>
                      <div class="carousel-item ">
                        <label for="">Pending Manpower Requesttttttt</label>
                        <div class="card " style="padding: 10px;padding: 10px;
                        height: 470px;
                        overflow-y: scroll;">

                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>


                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>

                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                           <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div> <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                          <div class="card mt-1 d-flex" style="     flex-direction: row;
                          justify-content: space-around;">
                            <div class="card-body"
                              style="display: flex; justify-content: space-between; align-items: center; height: 3px;">
                              <label for="" style="font-size: 10px;" class="mt-2">Safety Training</label>
                              <span style="font-size: 10px;">8</span>
                            </div>

                          </div>
                        </div>
                        

                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#newCarouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#newCarouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>

            </div>










            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <label for="" class="mt-2 ml-3">Validaty Checklist</label>
                  <div class="card " style="padding: 10px;padding: 10px;
                  height: 200px;
                  overflow-y: scroll;">

                    <div class="card mt-1 d-flex" style="     flex-direction: row;
                    justify-content: space-around;">
                      <div style="display: flex; flex-direction: column; justify-content: space-between;">
                        <span style="font-size: 10px;">Raghu Reddy</span>
                        <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                      </div>
                      <div
                        style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                        <span style="font-size: 10px;">Valid Until</span>
                        <span style="font-size: 10px;">18-jan-2024</span>
                      </div>
                    </div>


                    <div class="card mt-1 d-flex" style="     flex-direction: row;
                    justify-content: space-around;">
                      <div style="display: flex; flex-direction: column; justify-content: space-between;">
                        <span style="font-size: 10px;">Raghu Reddy</span>
                        <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                      </div>
                      <div
                        style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                        <span style="font-size: 10px;">Valid Until</span>
                        <span style="font-size: 10px;">18-jan-2024</span>
                      </div>
                    </div>

                    <div class="card mt-1 d-flex" style="     flex-direction: row;
                    justify-content: space-around;">
                      <div style="display: flex; flex-direction: column; justify-content: space-between;">
                        <span style="font-size: 10px;">Raghu Reddy</span>
                        <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                      </div>
                      <div
                        style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                        <span style="font-size: 10px;">Valid Until</span>
                        <span style="font-size: 10px;">18-jan-2024</span>
                      </div>
                    </div>
                    <div class="card mt-1 d-flex" style="     flex-direction: row;
                    justify-content: space-around;">
                      <div style="display: flex; flex-direction: column; justify-content: space-between;">
                        <span style="font-size: 10px;">Raghu Reddy</span>
                        <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                      </div>
                      <div
                        style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                        <span style="font-size: 10px;">Valid Until</span>
                        <span style="font-size: 10px;">18-jan-2024</span>
                      </div>
                    </div>
                    <div class="card mt-1 d-flex" style="     flex-direction: row;
                    justify-content: space-around;">
                      <div style="display: flex; flex-direction: column; justify-content: space-between;">
                        <span style="font-size: 10px;">Raghu Reddy</span>
                        <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                      </div>
                      <div
                        style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                        <span style="font-size: 10px;">Valid Until</span>
                        <span style="font-size: 10px;">18-jan-2024</span>
                      </div>
                    </div>
                  </div>

                  <!-- Card for Women -->
                  <div class=" mt-3" style="padding: 10px;">
                    <label for="">Todays Blocklisted Labour List</label>
                    <div class="card " style="padding: 10px;padding: 10px;
                    height: 200px;
                    overflow-y: scroll;">

                      <div class="card mt-1 d-flex" style="     flex-direction: row;
                      justify-content: space-around;">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                          <span style="font-size: 10px;">Raghu Reddy</span>
                          <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                        </div>
                        <div
                          style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                          <span style="font-size: 10px;">Valid Until</span>
                          <span style="font-size: 10px;">18-jan-2024</span>
                        </div>
                      </div>


                      <div class="card mt-1 d-flex" style="     flex-direction: row;
                      justify-content: space-around;">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                          <span style="font-size: 10px;">Raghu Reddy</span>
                          <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                        </div>
                        <div
                          style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                          <span style="font-size: 10px;">Valid Until</span>
                          <span style="font-size: 10px;">18-jan-2024</span>
                        </div>
                      </div>

                      <div class="card mt-1 d-flex" style="     flex-direction: row;
                      justify-content: space-around;">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                          <span style="font-size: 10px;">Raghu Reddy</span>
                          <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                        </div>
                        <div
                          style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                          <span style="font-size: 10px;">Valid Until</span>
                          <span style="font-size: 10px;">18-jan-2024</span>
                        </div>
                      </div>
                      <div class="card mt-1 d-flex" style="     flex-direction: row;
                      justify-content: space-around;">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                          <span style="font-size: 10px;">Raghu Reddy</span>
                          <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                        </div>
                        <div
                          style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                          <span style="font-size: 10px;">Valid Until</span>
                          <span style="font-size: 10px;">18-jan-2024</span>
                        </div>
                      </div>
                      <div class="card mt-1 d-flex" style="     flex-direction: row;
                      justify-content: space-around;">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                          <span style="font-size: 10px;">Raghu Reddy</span>
                          <span style="font-size: 10px;">Samruddhi Labour Supplier Pvt. Ltd.</span>
                        </div>
                        <div
                          style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                          <span style="font-size: 10px;">Valid Until</span>
                          <span style="font-size: 10px;">18-jan-2024</span>
                        </div>
                      </div>
                    </div>
                  </div>

                









                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>