<div class="container-fluid">

  <div class="rep-bg">

    <div class="row">
      <div class="col-md-6">

        <!-- <img src="assets/rieter_logoL.png" alt="alleviz"> -->
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Leave Report </strong> &nbsp;

        </h6>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12">
        <!-- <div class="repdate float-right">{{myDate}}</div> -->
        <!-- <div class="qwe">
    <h6><span class="blu"><strong>Abbreviation:-</strong></span> WD : Working Day, WO : Weekly Off, HO : Holiday Off,<span></span> WOH : Week Off And Holiday</h6>
  </div> -->
      </div>

      <div class="col-md-12">
          <!-- <div class="repdate float-right">{{myDate}}</div> -->
          <div class="qwe">
            <h6><span class="blu"><strong>Leave Report From Date: </strong></span>{{fromDate | date :'dd/MM/yyyy'}}<span class="blu"><strong> To:</strong></span> {{toDate | date :'dd/MM/yyyy'}}</h6>
          </div>
        </div>

      <div id="content" class="col-md-10">
        <table class="table table-space table-borderless">
          <thead>
            <tr class="table-secondary">
              <th *ngIf='marked'>Sr. No</th>
              <th *ngIf='marked1'>Leave Name</th>
              <th *ngIf='marked2'>From Date</th>
              <th *ngIf='marked3'>To Date</th>
              <th *ngIf='marked4'>Number Of Leaves</th>
              <th *ngIf='marked5'>Type</th>
              <th *ngIf='marked6'>Half Day</th>
              <th *ngIf='marked7'>Current Balance</th>
            </tr>
          </thead>
          <tbody *ngFor="let report of exceldata; let i = index">
            <tr *ngIf="report.leaveRecordDetailResDtos.length">
              <td colspan="12" style="font-weight:600; text-align:center">Name:
                {{report.reportEmpNameAndIdResDto.fullName}} {{report.reportEmpNameAndIdResDto.lastName}} , Employee Id: {{report.reportEmpNameAndIdResDto.empId}},
                Department: {{report.reportEmpNameAndIdResDto.deptName}}, Employee Type:
                {{report.reportEmpNameAndIdResDto.empTypeName}}</td>
            </tr>

            <tr *ngFor="let item of report.leaveRecordDetailResDtos; let i = index">
              <td *ngIf='marked'>{{ i + 1 }}</td>
              <td *ngIf='marked1'>{{item.leaveName}}</td>
              <td *ngIf='marked2'>{{item.startDate}}</td>
              <td *ngIf='marked3'>{{item.endDate}}</td>
              <td *ngIf='marked4' style="text-align:center">{{item.currentLeaves}}</td>
              <td *ngIf='marked5'>{{item.leaveType}}</td>
              <td *ngIf='marked6'>{{item.typeOfLeave}}</td>
              <td *ngIf='marked7' style="text-align:center">{{item.totalLeaves}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-2">
        <div class="columnshead">
          <h6>Select Columns:</h6>
          <label class="container">
            <input type="checkbox" [(ngModel)]="srnoCheckbox" data-md-icheck (change)="toggleVisibility($event)" />
            Sr. No.
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="leaveNamecheckbox" data-md-icheck (change)="toggleVisibility1($event)" />
            Leave Name
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="fromdateCheckbox" data-md-icheck (change)="toggleVisibility2($event)" />
            From date
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="todateCheckbox" data-md-icheck (change)="toggleVisibility3($event)" />
            To date
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="noofleavesCheckbox" data-md-icheck (change)="toggleVisibility4($event)" />
            No. Of. Leaves
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="typeCheckbox" data-md-icheck (change)="toggleVisibility5($event)" />
            Type
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="halfdayCheckbox" data-md-icheck (change)="toggleVisibility6($event)" />
            Half day
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="currentbalaceCheckbox" data-md-icheck (change)="toggleVisibility7($event)" />
           Current Balance
            <span class="checkmark"></span>
          </label>

          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePDF()"><i
              class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX()"><i
              class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
          <!-- <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i> &nbsp;Export Report Excel</button> -->
        </div>
      </div>

    </div>
  </div>
</div>