<form (ngSubmit)="onCreateReport()">
  <div class="ml-3">
    <div class="row justify-content-between">
      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control form-control-sm" id="invitevisitor" name="invitevisitor" (ngModelChange)="SetSelectedReport($event)" [(ngModel)]="report_name">
            <option value="Select" selected="selected">Select Report</option>
            <option value="Visitor Visited Report">Visitor Visited Report</option>
            <option value="Periodic Pass IN-OUT Report">Periodic Pass IN-OUT Report</option>
            <option value="Periodic Pass Validity Report">Periodic Pass Validity Report</option>
            <option value="Visitor Appointment Report">Visitor Appointment Report</option>
          </select>
        </div>
      </div>
    </div>
    <div>
      <p>Please Select Report Type:</p>
      <input type="radio" id="customise" [(ngModel)]="report_wise" name="report_wise" value="customise"
        checked>
      <label for="customise">Customise</label>
      <input type="radio" id="employee_wise" [(ngModel)]="report_wise" name="report_wise"
        value="employee_wise">
      <label for="employee_wise">Employee Wise</label>

    </div>
    <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="true"> Select Dates</a>
      </li>
      <li class="nav-item" *ngIf="report_wise!='employee_wise'">
        <a class="nav-link" id="pills-filter-tab" data-toggle="pill" href="#pills-filter" role="tab"
          aria-controls="pills-filter" aria-selected="false">Filter</a>
      </li>
      <li class="nav-item" *ngIf="report_wise=='employee_wise'">
        <a class="nav-link" id="pills-employee-tab" data-toggle="pill" href="#pills-employee" role="tab"
          aria-controls="pills-employee" aria-selected="false">Select Employees</a>
      </li>
    </ul>
    <div class="tab-content min-height-400" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="mt-3" style="width:50%">
          <div class="form-row">
            <div id="reportrange"
              style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
              <i class="fa fa-calendar"></i>&nbsp;
              <span></span> <i class="fa fa-caret-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-filter" role="tabpanel" aria-labelledby="pills-filter-tab">
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-category-list" data-toggle="list"
                href="#list-category" role="tab" aria-controls="home">Visitor Category</a>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <!-- Visitor category list -->
              <div class="tab-pane fade show active" id="list-category" role="tabpanel" aria-labelledby="list-category-list">
                <ul class="w3-animate-left list-group list-group-flush selectedFilterlist">
                  <li class="list-group-item">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" (ngModelChange)='SelectAllCategories($event)' id="allcategory" name="allcategory"
                        value="categoryId" [(ngModel)]='allcategory' class="custom-control-input">
                      <label class="custom-control-label" for="allcategory">Select All</label>
                    </div>
                  </li>
                  <li class="list-group-item" *ngFor='let i of visitorCategoryList'>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" data-md-icheck id="{{i.categoryName}}" name="categoryName"
                        value="{{i.categoryId}}" [(ngModel)]='i.allCatListdata'>
                      <label class="custom-control-label" for="{{i.categoryName}}">{{i.categoryName}}</label>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- Visitor Category list end-->
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab">
        <div class="row">
          <div class="col-12">
            <div class="tab-content" id="nav-tabContent">
              <!-- Select Employee:: START -->
              <!-- <div class="tab-pane" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab"> -->
                <div class="form-group col-md-6">
                  <label>Employee Name <span style="color: red">*</span></label>
                 <ng-multiselect-dropdown [placeholder]="'Select Employee'" [data]="Employeedata" required
                  [(ngModel)]="model.selectedEmp" [ngModelOptions]="{standalone: true}"
                  #selectedLocation='ngModel' name='selectedLoco'
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"  (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)"
                 requried >
                </ng-multiselect-dropdown>
                </div>
              <!-- </div> -->
              <!-- /Select Employee::END -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="float-right">
    <button type="submit" class="btn ml-2 btn-sm btn-success">Generate Report</button>
  </div>
</form>

