<div class="container-fluid">
  <div class="col-md-12">
    <div class="white-bg">
      <div class="p-3">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <!-- <h4>Pre-onboarding</h4> -->
            <hr>

            <div class="data-title">
              <h6>Employee Basic Details Pre-Onboarding</h6>

            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-5">
            <form (ngSubmit)="f.form.valid" #f="ngForm" name="form">

              <div class="form-row">

                <div class="col-2">
                  <div class="form-group">
                    <label for="empname">Salutation</label><span style="color: red">*</span>
                    <select id="salutation" [(ngModel)]="preonBoadingModel.salutation"
                      class="form-control form-control-sm" (change)="genderChange()" name="salutation" form="salutation"
                      required>
                      <!-- <option hidden [value]="selectSalutation">Salutation</option> -->
                      <option value="MR">MR</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Miss">Miss</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="empname">First Name</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="100"
                      pattern="[A-Z a-z]{1,250}" #fullName='ngModel' name="fullName"
                      [(ngModel)]="preonBoadingModel.fullName" required>
                    <div class="help-block" *ngIf="fullName.errors?.required && (fullName.touched || f.submitted)">
                      <small style="color: red">Employee First Name Required</small></div>
                    <div class="help-block" *ngIf="fullName.errors?.pattern && (fullName.touched || f.submitted)"><small
                        style="color: red">Number and Special Character not allowed </small></div>

                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="empname">Middle Name</label>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="100"
                      pattern="[A-Z a-z]{1,250}" #middleName='ngModel' name="middleName"
                      [(ngModel)]="preonBoadingModel.middleName">
                    <div class="help-block" *ngIf="middleName.errors?.required && (middleName.touched || f.submitted)">
                      <small style="color: red">Employee Middle Name Required</small></div>
                    <div class="help-block" *ngIf="middleName.errors?.pattern && (middleName.touched || f.submitted)">
                      <small style="color: red">Number and Special Character not allowed </small></div>

                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="empname">Last Name</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="100"
                      pattern="[A-Z a-z]{1,250}" #lastName='ngModel' name="lastName"
                      [(ngModel)]="preonBoadingModel.lastName" required>
                    <div class="help-block" *ngIf="lastName.errors?.required && (lastName.touched || f.submitted )">
                      <small style="color: red">Employee Last Name Required</small></div>
                    <div class="help-block" *ngIf="lastName.errors?.pattern && (lastName.touched || f.submitted)"><small
                        style="color: red">Number and Special Character not allowed </small></div>

                  </div>
                </div>
              </div>

              <div class="form-group colors">
                <label>Gender<span style="color: red">*</span></label>
                <br>
                <input autocomplete="off" type="radio" id="radio" [(ngModel)]="preonBoadingModel.gender" value="Male"
                  name="physicalDisability" />
                <label for="radio">Male</label>

                <input autocomplete="off" type="radio" id="radio1" [(ngModel)]="preonBoadingModel.gender" value="Female"
                  name="physicalDisability" />
                <label for="radio1">Female</label>

                <input autocomplete="off" type="radio" id="radio2" [(ngModel)]="preonBoadingModel.gender" value="Other"
                  name="physicalDisability" />
                <label for="radio2">Other</label>
              </div>

              <div class="form-row align-items-center">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="dob">Date of birth</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm" max="{{maxDate| date:'yyyy-MM-dd'}}"
                      type="date" (change)="getdate($event)" name="dateOfBirth"
                      #dateOfBirth='ngModel' [ngModel]="preonBoadingModel.dateOfBirth | date:'yyyy-MM-dd'" required>
                    <div class="help-block"
                      *ngIf="dateOfBirth.errors?.required && (dateOfBirth.touched || f.submitted)"><small
                        style="color: red">Date Of Birth Required</small></div>
                  </div>
                </div>

                <div class="col">
                  <div class="form-check mb-2">
                    <label class="form-check-label" for="autoSizingCheck">
                      Age: <span>{{preonBoadingModel.age}}</span>
                    </label>
                  </div>
                </div>
              </div>
              <!-- .......................Add location & employeement type...................................................... -->
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="locationname">Location <span style="color: red">*</span></label>

                  <select id="locationId" class="form-control form-control-sm"
                    [(ngModel)]="preonBoadingModel.locationId" name="locationname" #selectedLoc='ngModel' required>
                    <!-- <option >
                     Select Location Name</option> -->
                    <option value="{{location.locationId}}" *ngFor="let location of LocationAllData; let i = index;">
                      {{location.locationName}}
                    </option>
                  </select>
                  <div class="help-block" *ngIf="selectedLoc.errors?.required && (selectedLoc.touched )"><small
                      style="color: red">Location is required</small></div>

                </div>

                <div class="form-group col-md-6">
                  <label for="emptype">Employment Type <span style="color: red">*</span></label>
                  <select class="form-control form-control-sm" id="emptype" name="emptype"
                    [(ngModel)]="preonBoadingModel.emptype" #emptype="ngModel" required>
                    <!-- <option >Select Employment type</option> -->
                    <option value="On Roll">On Roll</option>
                    <option value="On Contract">On Contract</option>
                  </select>
                  <div class="help-block" *ngIf="emptype.errors?.required && (emptype.touched || f.submitted)"><small
                      style="color: red">Employee type is Required</small></div>

                </div>
              </div>
              <!-- ......................./Add location & employee type...................................................... -->


              <div class="form-row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="mobnum">Personal Contact Number</label> 
                    <!-- <span style="color: red">*</span>  -->
                    <input autocomplete="off" class="form-control form-control-sm "
                      pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$" type="text"  maxlength="10" #personalContactNumber='ngModel'
                      name="personalContactNumber" [(ngModel)]="preonBoadingModel.personalContactNumber"  (keypress)="keyPressNumbers($event)">
                    <div class="help-block"
                      *ngIf="personalContactNumber.errors?.pattern && (personalContactNumber.touched || f.submitted)">
                      <small style="color: red">Enter Valid Mobile Number </small></div>
                    <!-- <div class="help-block" *ngIf="personalContactNumber.errors?.required && (personalContactNumber.touched || f.submitted)"><small style="color: red"> Mobile Number Required </small></div> -->

                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="emailid">Personal Email Id</label><span style="color: red">*</span>
                    <!-- <span style="color: red">*</span>  -->
                    <input autocomplete="off" class="form-control form-control-sm" type="email"
                      (keyup)='errorpersonal($event)' #personalEmailId='ngModel'
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="personalEmailId"
                      [(ngModel)]="preonBoadingModel.personalEmailId" required>
                    <div class="help-block"
                      *ngIf="personalEmailId.errors?.pattern && (personalEmailId.touched || f.submitted)"><small
                        style="color: red">Enter Valid Email </small></div>
                    <div class="help-block"
                      *ngIf="personalEmailId.errors?.required && (personalEmailId.touched || f.submitted)"><small
                        style="color: red">Email is Required </small></div>
                    <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exist </small></div>
                  </div>
                </div>
              </div>

              <!-- <div class="form-group">
                <label>Is Employee Fresher</label>
                <br>
                <label class="switch mt-2">
                  <input type="checkbox" name="isFresher" [(ngModel)]="BasicHRInfoModel.isFresher">
                  <span class="slider round"></span>
                </label>
              </div> -->


              <div>
                <div class="float-right">
                  <!-- <button  class="btn btn-primary mr-2"  (click)="AddNew()">Add New</button> -->
                  <button type="submit" class="btn btn-primary "
                    [disabled]='(f.invalid || errflag || preonBoadingModel.age<18 )'
                    (click)="SavePreonboardingInfo(preonBoadingModel)">Save</button>
                </div>
              </div>
              <!-- <div class="form-row">
                  <div class="col">
                  <button  class="btn btn-primary float"  (click)="AddNew()">Add New</button>
                  <button type="submit" class="btn btn-primary float-right" [disabled]='(f.invalid || errflag)' (click)="SavePreonboardingInfo(preonBoadingModel)">Save</button>

                </div>
              </div> -->
            </form>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>