* { box-sizing: border-box; }

html, body {
  margin: 0;
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.chart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 5px;
  height: 100vh;
  width: 20vw;
  padding: 5px 10px;
}

[class*="bar1"] {
  border-radius: 5px 5px 0 0;
  transition: all .6s ease;
  background-color: #df7c7c;
  grid-row-start: 1;
  grid-row-end: 101;
}

$totalRows: 101;

@mixin chartValue($data) {
  $result: $totalRows - $data;
  grid-row-start: $result;
}

@for $i from 1 through $totalRows {
  .bar-#{$i} {
    @include chartValue($i);
  }
}

[class*="bar1"]:nth-child(odd) {
 background-color: #3fb90f; 
}

[class*="bar1"]:nth-child(even) {
 background-color: #0074d9;
}