.mb-0 {
    margin-bottom: 0 !important;
}
.w12em{
    width:12em;
}
.countercontainer .fa{
    padding-left:5px;
}
.br-0{
    border-right: 0 !important;
}
.btn-actions-pane-right #pdfbtn{
    margin-left:10px;
    width: 29px !important;
    border: 0 !important;
    background: transparent !important;
}
#pdfbtn img:hover{
    transition: transform .2s, -webkit-transform .2s;
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
        cursor: pointer;
}
.clr-g{
    background: rgba(121,219,41,1);
background: -moz-linear-gradient(-45deg, rgba(121,219,41,1) 0%, rgba(29,135,12,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(121,219,41,1) 0%, rgba(29,135,12,1) 100%);
background: -o-linear-gradient(-45deg, rgba(121,219,41,1) 0%, rgba(29,135,12,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(121,219,41,1) 0%, rgba(29,135,12,1) 100%);
background: linear-gradient(135deg, rgba(121,219,41,1) 0%, rgba(29,135,12,1) 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
display: initial;
margin: auto;
}
.clr-r{
    background: rgba(255,94,94,1);
    background: -moz-linear-gradient(-45deg, rgba(255,94,94,1) 0%, rgba(204,53,53,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,94,94,1) 0%, rgba(204,53,53,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,94,94,1) 0%, rgba(204,53,53,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,94,94,1) 0%, rgba(204,53,53,1) 100%);
    background: linear-gradient(135deg, rgba(255,94,94,1) 0%, rgba(204,53,53,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
    margin: auto;
}
/* NEW COUNTER CSS */
section.dashboard-counts .row {
    padding: 15px 15px;
    margin: -10px; 
}
section.dashboard-counts div .item {
    border-right: 1px solid #eee;
    padding: 15px 0;
}
section.dashboard-counts .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    min-width: 40px;
    max-width: 40px;
    border-radius: 50%;
}
.bg-violet {
    background: #796AEE !important;
    color: #fff;
}
section.dashboard-counts .title {
    font-size: 1.1em;
    font-weight: 300;
    color: #777;
    margin-left: 0;
    margin-right:20px;
}
.title span {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
section.dashboard-counts .progress {
    margin-top: 10px;
    height: 4px;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
section.dashboard-counts .number {
    font-size: 2.2em;
    font-weight: 600;
}
.icon-user:before {
    content: "\6b";
}
section.dashboard-counts div[class*='col-']:last-of-type .item {
    border-right: none !important;
}
.has-shadow {
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
}
.bg-white {
    background: #fff !important;
}
.mbottom{
    margin-bottom:1rem;
}
.topcounterTitles{
    font-weight: 700;
    color: gray;
}

.fixedtemp{
    padding:5px;
    background: -webkit-linear-gradient(-45deg, rgba(98,179,204,1) 0%, rgba(60,123,217,1) 53%, rgba(34,61,199,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(98,179,204,1) 0%, rgba(60,123,217,1) 53%, rgba(34,61,199,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(98,179,204,1) 0%, rgba(60,123,217,1) 53%, rgba(34,61,199,1) 100%);
    background: linear-gradient(135deg, rgba(98,179,204,1) 0%, rgba(60,123,217,1) 53%, rgba(34,61,199,1) 100%);
    border-radius: 0.5rem;
   height: 100%;
    width:95%;
    box-shadow: 0 15px 9px -13px #424242;
}
.fixedtemp h5{
    font-family: Roboto, Arial, sans-serif !important;
}
.fixedtemp .card-header{
    background: transparent !important;
    color:white !important;
    font-weight: 100 !important;
    text-transform: capitalize;
}
.fixedtemp h6{
    color:white;
    font-weight: 300 !important;
    padding-left:  0.75rem;
}
/* NEW COUNTER CSS */




/* CARD HEADER */
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  .card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
  }
  .card-header, .card-title {
    text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: 0.88rem;
  }
  .card-header {
    padding: 0.75rem 0.75rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125);
    /* margin:5px; */
  }
  .card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .font-size-lg {
    font-size: 1.1rem !important;
  }
  .font-weight-normal {
    font-weight: 400 !important;
  }
  .text-capitalize {
    text-transform: capitalize !important;
  }
  .btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap;
  }
  .btn-dark.btn-shadow {
    box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.4), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.5);
  }
  
  /* CARD HEADER */

  .white-bg {
    padding: 0 !important;
 } 
 .overflw{
     overflow: auto;
 }

.center{
    text-align: center;
}
.onecounter{
    border-left:3px solid #407ea9;
    border-radius: 0 0.365rem 0.365rem 0 !important;
}

.twocounter{
    border-left:3px solid #7157a5;
    border-radius: 0 0.365rem 0.365rem 0 !important;
}

.threecounter{
    border-left:3px solid #cc5f7d;
    border-radius: 0 0.365rem 0.365rem 0 !important;
}
.fourcounter{
    border-left:3px solid #aa813f;
    border-radius: 0 0.365rem 0.365rem 0 !important;
}
.count{
padding: 1rem !important;
font-size: 1.2rem;
}
.sideicon{
    padding: 0.5rem !important;
}
hr {

    margin: 10px 0 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-image: linear-gradient(344deg, #1e66ca, #6ea3eb) !important;
}
.chartbox{
    padding-top:80px;
    margin:auto;

}

.onecounter p, .twocounter p, .threecounter p, .fourcounter p{
    font-size: 1rem;
    margin-bottom: 0 !important;
    padding: 5px !important;
   text-align: center; 
}
.iconimage{
    margin:auto;
    width:35px;

}

.countertitle{
    font-size: 0.9rem;
    text-align: center; 
    margin-top:0.5rem;
}
.bar-heading{
    width:100%;
    border-radius: 0.365rem 0.365rem 0 0;
    background-image: linear-gradient(344deg, #1e66ca, #6ea3eb) !important;
    color:white;
    text-align: center;
    padding:0.5rem;
}

.full { max-width: 700px; position: relative; margin: 0 auto;}

.main-title { 
    position: absolute;
    border-left: solid 5px #333;
    padding-left: 10px;
    color: #333;
    margin: 0 20px 20px 20px;
    font-family: Impact, serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
    top: 0;
}

.main-title span { display: block;}
.main-title a { 
    color: inherit;}

.main-title span { margin-bottom: 0;}
.main-title .span1 { font-size: 29px;}
.main-title .span2 { font-size: 45px;}
.main-title .span3 { font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; text-transform: none; font-weight: normal;}

figure { margin: 0;}

.container {
    width: 500px;
    height: 300px;
    position: relative;
    margin: 50px auto;
    -webkit-perspective: 4000px;
    -webkit-transform-style: preserve-3d;
    
    -moz-perspective: 4000px;
    -moz-transform-style: preserve-3d;
    
    -webkit-animation: rotateChart 20s linear; 
    -webkit-animation-fill-mode: forwards;
    
    -moz-animation: rotateChart 20s linear; 
    -moz-animation-fill-mode: forwards;
}

@-moz-keyframes rotateChart/* Safari and Chrome */
{
0% {
    -moz-transform: rotateX(0deg) rotateY(-20deg);
    }  
    
100% {
    -moz-transform: rotateX(0deg) rotateY(-380deg);
    }
}

@-webkit-keyframes rotateChart/* Safari and Chrome */
{
0% {
    -webkit-transform: rotateX(0deg) rotateY(-20deg);
    }  
    
100% {
    -webkit-transform: rotateX(0deg) rotateY(-380deg);
    }
}

.persp1, .persp2, .persp3, .persp4, .persp5 {
    position: absolute;
    width: 100px;
    bottom:0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    z-index: 99;

}

.persp1 { height: 70%;}
.persp2 { height: 50%;}
.persp3 { height: 35%;}
.persp4 { height: 30%;}
.persp5 { height: 17%;}

.face {
    position: absolute;
}

.data-y {
    background: none!important;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px #666;
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
}

.data-x {
    background-image: url(http://www.heloisabiagi.com/media/charts01-social.png); 
    background-repeat:no-repeat; 
    background-color:#FFF!important;
    -webkit-transform-origin: top left;
    -webkit-transform: rotateX(90deg);
    -moz-transform-origin: top left;
    -moz-transform: rotateX(90deg);
    top: 100%;
}

.persp1 .data-x { background-position: 0px 10px; }
.persp2 .data-x { background-position: 0px -90px; }
.persp3 .data-x { background-position: 0px -190px; }
.persp4 .data-x { background-position: 0px -290px; }
.persp5 .data-x { background-position: 0px -390px; }

.persp1 { margin-left: 370px;}
.persp2 { margin-left: 290px;}
.persp3 { margin-left: 210px;}
.persp4 { margin-left: 130px;}
.persp5 { margin-left: 50px;}

/* Faces */

.front, .left, .right, .back {
    width: 50px;
    height: 100%;
}

.top, .data-x, .data-y {
    width: 50px;
    height: 50px;
}

.persp1 .face {
      background-color: #3B5998;
}


.persp2 .face {
    background-color: #20ACFF;
}


.persp3 .face {
    background-color: #C53727;
}

.persp4 .face {
    background-color: #4393BB;
}

.persp5 .face {
    background-color: #DD4B5D;
}


/* Faces default*/

.front {
    opacity: 0.7;
}

.left {
    -webkit-transform: rotateY(90deg);
    -webkit-transform-origin: top left;
    -moz-transform: rotateY(90deg);
    -moz-transform-origin: top left;
    opacity: 0.7;
}



.right {
    -webkit-transform: rotateY(-90deg);
    -webkit-transform-origin: top right;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.5)), to(transparent));
    background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0.5), transparent);
    -moz-transform: rotateY(-90deg);
    -moz-transform-origin: top right;

}


.top {
    -webkit-transform-origin:top left;
    -webkit-transform: rotateX(90deg) translateY(-50px);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0.5)));
    
    -moz-transform-origin:top left;
    -moz-transform: rotateX(90deg) translateY(-50px);
    background-image: -moz-linear-gradient(90deg, rgba(255,255,255,0.3), rgba(255,255,255,0.5));
    z-index: 99;
}

.back {
    -webkit-transform: translateZ(-50px);
    -moz-transform: translateZ(-50px);
}

.base {
    background-color: #FFF;
    -webkit-transform: rotateX(90deg) translateZ(100px);
    -moz-transform: rotateX(90deg) translateZ(100px);
    width: 100%;
    height: 200px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    border-bottom: solid 3px #CCC;
    border-right: solid 3px #CCC;   
    }

.bars { height: 100%;}

.subtitle { position: relative; margin: 0 auto; width: 510px;}

.list-social li {
    font-family: Arial, sans-serif; 
    list-style: none; 
    float: left; 
    margin-right: 10px;
}

.list-social li:before {
    content: '';
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-color: #F0F;
    border-radius: 4px;
    margin-right: 5px;
}

.list-social li.fb:before { background-color: #3B5998;}
.list-social li.twt:before { background-color: #20ACFF;}
.list-social li.gp:before { background-color: #C53727;}
.list-social li.lkd:before { background-color: #4393BB;}
.list-social li.pin:before { background-color: #DD4B5D;}
.scrollbarchart{
    overflow-y: auto;
    overflow-x: auto;
}