<div class="container-fluid">
  <div class="mainwrap">


<!-- NEW COUNTER DESIGN -->
<section class="dashboard-counts no-padding-bottom mbottom" hidden>

<div class="row bg-white has-shadow countercontainer">
     <!-- Item -->
     <div class="col">
    <div class="fixedtemp">
   
        <div class="card-header-tab card-header">
            <div class="card-header-title"> Fixed </div>
            <div class="btn-actions-pane-right">
            <h5>{{totalEmployee.employeeFixedCount}}</h5>
            </div>
          </div>
          <div class="card-header-tab card-header">
              <div class="card-header-title"> Temporary </div>
              <div class="btn-actions-pane-right">
              <h5>{{totalEmployee.employeeTempCount}}</h5>
              </div>
            </div>

            <h6 class="topcounterTitles">Total Employees</h6>

    </div>
        <!-- <h6 class="topcounterTitles">Total Employees</h6> -->
      </div>
    <!-- Item -->
    <div class="col">
      <div class="item d-flex align-items-center">
      
        <div class="title"><span>{{previousYear}} - {{currentYear}} ( {{totalGrowthAndAvgHeadCnt.empAvgCntLastYear}} )</span>
          <div class="progress">
            <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
          </div>
        </div>
        <div class="number"><strong>{{totalGrowthAndAvgHeadCnt.empAvgCntCurrentYear}}</strong> <i class="fa fa-level-up clr-g" aria-hidden="true"></i></div>
      </div>
      <h6 class="topcounterTitles">Average Headcount (Employees)</h6>
    </div>
    <!-- Item -->
    <div class="col">
        <div class="item d-flex align-items-center">
        
          <div class="title"><span>{{previousYear}} - {{currentYear}}</span>
            <div class="progress">
              <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
            </div>
          </div>
          <div class="number"><strong> {{totalGrowthAndAvgHeadCnt.growthrate | number : '1.2-2'}} %</strong> <i class="fa fa-level-down clr-r" aria-hidden="true"></i></div>
        </div>
        <h6 class="topcounterTitles">Total Growth</h6>
      </div>
    <!-- Item -->
    <div class="col">
        <div class="item d-flex align-items-center">
        
          <div class="title"><span>{{previousYear}} - {{currentYear}} ( {{attrition.attritionlastyear | number : '1.2-2'}} )</span>
            <div class="progress">
              <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
            </div>
          </div>
          <div class="number"><strong> {{attrition.attritioncurrentyear | number : '1.2-2'}} %</strong> <i class="fa fa-level-up clr-g" aria-hidden="true"></i></div>
        </div>
        <h6 class="topcounterTitles">Attrition</h6>
      </div>
    <!-- Item -->
    <div class="col">
        <div class="item d-flex align-items-center br-0">
        
          <div class="title"><span>{{previousYear}} - {{currentYear}} ( {{attrition.attritionlastmonth | number : '1.2-2'}} )</span>
            <div class="progress">
              <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
            </div>
          </div>
          <div class="number"><strong> {{attrition.atrritionCurrentMonth | number : '1.2-2'}} %</strong> <i class="fa fa-level-down clr-r" aria-hidden="true"></i></div>
        </div>
        <h6 class="topcounterTitles">Current Month Attrition</h6>
      </div>
  </div>

  </section>
  <!-- NEW COUNTER DESIGN -->

    <!-- =========================COUNTER ROW END============================ -->

<!-- NEW DASHBOARD DESIGN STARTS -->
    <div class="row">

      <div class="col-md-6">
        <div class="white-bg h-100">
          <div class="card-header-tab card-header">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Yearly Average Headcount overview </div>
            <div class="btn-actions-pane-right">
              <div class="btn-group-sm btn-group" role="group">
                  <div class="" role="group" hidden>
                      <button type="button " id="pdfbtn">
                        <img src="assets/pdf.svg"/>
                        </button>
                    </div>
              </div>
            </div>
          </div>
          <div class="p-3 scrollbarchart">
            <p style="position: absolute;
            transform: rotate(-90deg);
            left: -35px;
            top: 170px;color:#b8b3b3!important;">Yearly HeadCount</p>
            <app-avgheadcountyear></app-avgheadcountyear>
          </div>
        </div>
      </div>

      <div class="col-md-6">
          <div class="white-bg h-100 overflw">
            <div class="card-header-tab card-header">
              <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                  class="header-icon lnr-laptop-phone  text-muted opacity-6"></i>  Headcount Month wise break up </div>
              <div class="btn-actions-pane-right">
                <div class="btn-group-sm btn-group" role="group">
                  <!-- <div class="form-group mb-0">
                    <select class="form-control form-control-sm w12em" id="exampleFormControlSelect1">
                      <option>Category Wise</option>
                      <option>Location Wise</option>
                      <option>Function Wise</option>
                      <option>Business Group Wise</option>
                      <option>Age Group</option>
                      <option>Gender Wise</option>
                      <option>Employment Duration Wise</option>
                    </select>
                  </div> -->
                  <div class="" role="group">
                      <button type="button " id="pdfbtn" hidden>
                        <img src="assets/pdf.svg"/>
                        </button>
                    </div>
                </div>
              </div>
            </div>
            <div class="p-3">
              <p style="position: absolute;
              transform: rotate(-90deg);
              left: -56px;
              top: 190px;color:#b8b3b3!important;">Monthly wise HeadCount</p>
                <app-headcountmonthwise></app-headcountmonthwise>
            </div>
          </div>
        </div>

    </div>

       

            <div class="row">

                <div class="col-md-6">
                  <div class="white-bg h-100">
                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Head count - Employee Type wise</div>
                      <div class="btn-actions-pane-right">
                        <div class="btn-group-sm btn-group" role="group">
                            <div class="" role="group">
                                <button type="button " id="pdfbtn" hidden>
                                  <img src="assets/pdf.svg"/>
                                  </button>
                              </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-3">
                      <p style="position: absolute;
                      transform: rotate(-90deg);
                      left: -56px;
                      top: 190px;color:#b8b3b3!important;">HeadCount Emp Typewise</p>
                       <app-emptypewisehc></app-emptypewisehc>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="white-bg h-100">
                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Employee  count- Location wise of current</div>
                      <div class="btn-actions-pane-right">

                        <div class="btn-group-sm btn-group" role="group">
                            <div class="form-group mb-0">
                          <select class="form-control form-control-sm w12em" name="headcountlocationwise" [(ngModel)]="selectType" (ngModelChange)="headcountlocationwise.selectTypeChanged($event)" id="exampleFormControlSelect1">
                            <option value="" hidden>Select</option>
                            <option value="location">Location Wise</option>
                            <option value="business">Business Group Wise</option>
                            <option value="function">Function Wise</option>
                            <option value="gender">Gender Wise</option>
                          </select>
                        </div>
                        <div class="" role="group">
                            <button type="button " id="pdfbtn" hidden>
                              <img src="assets/pdf.svg"/>
                              </button>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div class="p-3" style="overflow-y: auto;overflow-x: auto">
                     
                     <div class="" style="width:1000px;height:300px;">
                        <p style="position: absolute;
                        transform: rotate(-90deg);
                        left: -27px;
                        top: 198px; color:#b8b3b3!important;">Employee Count</p>
                        <app-headcountlocationwise #headcountlocationwise></app-headcountlocationwise>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                 <div class="row">

                <div class="col-md-6">
                  <div class="white-bg h-100">
                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Age - Group Wise (Employee)</div>
                      <div class="btn-actions-pane-right">
                        <div class="btn-group-sm btn-group" role="group">
                            <div class="" role="group">
                                <button type="button " id="pdfbtn" hidden>
                                  <img src="assets/pdf.svg"/>
                                  </button>
                              </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-3">
                      <p style="position: absolute;
                      transform: rotate(-90deg);
                      left: -32px;
                      top: 164px;color:#b8b3b3!important;">Fixed Emp Count</p>
                       <app-agegroupwisefixedemponly></app-agegroupwisefixedemponly>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="white-bg h-100">
                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone  text-muted opacity-6"></i>Age- Group Wise (Contractor)</div>
                      <div class="btn-actions-pane-right">
                        <div class="" role="group">
                          <button type="button " id="pdfbtn" hidden>
                            <img src="assets/pdf.svg"/>
                            </button>
                        </div>
                      </div>
                    </div>
                    <div class="p-3">
                      <p style="position: absolute;
                      transform: rotate(-90deg);
                      left: -32px;
                      top: 164px;color:#b8b3b3!important;">Temp Emp Count</p>
                      <app-tempagegroupwise></app-tempagegroupwise>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">

                <div class="col-md-6">
                  <div class="white-bg h-100">
                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone  text-muted opacity-6"></i> Employee Overall Head Count</div>
                      <div class="btn-actions-pane-right">
                        <div class="btn-group-sm btn-group" role="group">
                            <div class="form-group mb-0">
                          <select class="form-control form-control-sm w12em" name="headcountcategorywise" [(ngModel)]="headcountcategorywiseType" (ngModelChange)="headcountcategorywise.selectTypeChanged($event)" id="exampleFormControlSelect1">
                            <option value="" hidden>Select</option>
                            <option value="grade">Grade</option>
                            <option value="department">Department</option>
                            <option value="designation">Designation</option>
                            <option value="skill">Skill</option>
                            <option value="emptype">Employee Type</option>
                          </select>
                            </div>
                            <div class="" role="group">
                                <button type="button " id="pdfbtn" hidden>
                                  <img src="assets/pdf.svg"/>
                                  </button>
                              </div>
                        </div>
                     
                      </div>
                    </div>
                    <div class="p-3" >
                      <div class="" style="width:1000px;height:300px;">
                        <p style="position: absolute;
                        transform: rotate(-90deg);
                        left: -54px;
                        top: 190px;color:#b8b3b3!important;">Emp Overall Head Count</p>
                       
                        <app-headcountcategorywise #headcountcategorywise></app-headcountcategorywise>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="white-bg h-100">
                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone  text-muted opacity-6"></i>Gender Diversity</div>
                      <div class="btn-actions-pane-right">
                        <div class="btn-group-sm btn-group" role="group">
                            <div class="" role="group">
                                <button type="button " id="pdfbtn" hidden>
                                  <img src="assets/pdf.svg"/>
                                  </button>
                              </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-3">
                       <app-genderchart></app-genderchart>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="white-bg h-100">
                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone  text-muted opacity-6"></i>Employment Tenure Wise Report</div>
                      <div class="btn-actions-pane-right">
                        <div class="" role="group">
                          <button type="button " id="pdfbtn" hidden>
                            <img src="assets/pdf.svg"/>
                            </button>
                        </div>
                      </div>
                    </div>
                    <div class="p-3">
                      <p style="position: absolute;
                      transform: rotate(-90deg);
                      left: -54px;
                      top: 190px;color:#b8b3b3!important;">Emp Tenure Wise Count</p>
                      <app-functionswise></app-functionswise>
                    </div>
                  </div>
                </div>

                <div class="col-md-6" hidden>
                  <div class="white-bg h-100">
                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone  text-muted opacity-6"></i>Exit Interview remarks</div>
                      <div class="btn-actions-pane-right">
                        <div class="btn-group-sm btn-group" role="group">
                            <div class="" role="group">
                                <button type="button " id="pdfbtn">
                                  <img src="assets/pdf.svg"/>
                                  </button>
                              </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-3">
                       
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-6" hidden>
                  <div class="white-bg h-100">
                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                          class="header-icon lnr-laptop-phone  text-muted opacity-6"></i>Employee Engagement</div>
                      <div class="btn-actions-pane-right">
                        <div class="btn-group-sm btn-group" role="group">
                            <div class="" role="group">
                                <button type="button " id="pdfbtn">
                                  <img src="assets/pdf.svg"/>
                                  </button>
                              </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-3">
                       
                    </div>
                  </div>
                </div>

                
              </div>

    <!-- NEW DASHBOARD DESIGN ENDS -->

  </div>
</div>