<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">

      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-money bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Statutory Setting<div class="page-title-subheading"> Here you can set PF, PT and ESIC setting </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <div class="white-bg min-height-500">


          <div class="row">
            <div class="col-md-12">
              <ul [ngClass]="themeColor" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true">Provident Fund (PF)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Professional Tax (PT)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-esic-tab" data-toggle="pill" href="#pills-esic" role="tab"
                    aria-controls="pills-esic" aria-selected="false">Employees State Insurance Corporation (ESIC)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-bonus-tab" data-toggle="pill" href="#pills-bonus" role="tab"
                    aria-controls="pills-bonus" aria-selected="false">Bonus</a>
                </li>

              </ul>
            </div>
          </div>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row justify-content-center">
                <div class="col-md-5">

                  <form>
                    <div class="form-group">
                      <label for="epfcalculate">EPF Calculate on</label>
                      <select class="form-control form-control-sm" id="epfcalculate">
                        <option>Select</option>
                        <option>Basic</option>
                        <option>DA</option>
                        <option>HRA</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="empcontribution">Employee PF Contribution</label>
                      <input type="text" class="form-control" id="empcontribution">
                    </div>
                    <div class="form-group">
                      <label for="employercontribution">Employer PF Contribution</label>
                      <input type="text" class="form-control" id="employercontribution">
                    </div>

                    <div class="form-group">
                      <label for="applicabledate">Applicable from date</label>
                      <input type="date" class="form-control form-control-sm" id="applicabledate">
                    </div>

                    <button type="button" class="btn btn-primary float-right">Save</button>

                  </form>

                </div>
                <div class="col-md-8">
                  <table class="table table-bordered">
                    <thead class="theadblue">
                      <tr>
                        <th>EPF Calculate on</th>
                        <th>Employee PF Contribution</th>
                        <th>Employer PF Contribution</th>
                        <th>Applicable from date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                  
                        </td>
                        <td>
                        
                        </td>
                        <td>
                         
                        </td>
                        <td>
                         
                        </td>
                        <td class="text-center">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                          <i class="fa fa-trash ml-2" aria-hidden="true"></i>
                        </td>
                      </tr>
                      

                    </tbody>
                  </table>

                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

              <div class="row justify-content-center">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="epfcalculate">Select State</label>
                    <select class="form-control form-control-sm" id="epfcalculate">
                      <option>Select</option>
                      <option>Maharashtra</option>
                      <option>Karnataka</option>
                      <option>Andra Pradesh</option>
                      <option>Arunachal Pradesh</option>
                      <option>Assam</option>
                      <option>Bihar</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="epfcalculate">Select Gender</label>
                    <select class="form-control form-control-sm" id="epfcalculate">
                      <option>Select</option>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Both</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="applicabledate">Applicable from date</label>
                    <input type="date" class="form-control form-control-sm" id="applicabledate">
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-9">

                  <table class="table table-bordered">
                    <thead class="theadblue">
                      <tr>
                        <th>Select</th>
                        <th>Value 1</th>
                        <th>Value 2</th>
                        <th>Amount/per month</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <select class="form-control form-control-sm" id="epfcalculate">
                            <option>Select</option>
                            <option>Up to</option>
                            <option>In between</option>
                            <option>Above</option>
                          </select>
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" id="value1">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" id="value2">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" id="amountvalue">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <select class="form-control form-control-sm" id="epfcalculate">
                            <option>Select</option>
                            <option>Up to</option>
                            <option>In between</option>
                            <option>Above</option>
                          </select>
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" id="value1">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" id="value2">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" id="amountvalue">
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <select class="form-control form-control-sm" id="epfcalculate">
                            <option>Select</option>
                            <option>Up to</option>
                            <option>In between</option>
                            <option>Above</option>
                          </select>
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" id="value1">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" id="value2">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" id="amountvalue">
                        </td>
                      </tr>

                    </tbody>
                  </table>

                  <div class="float-right">
                    <button type="button" class="btn btn-primary" title="Add row"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <button type="button" class="btn ml-2 btn-primary" title="Save setting">Save</button>
                  </div>


                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-9">
                  <p>
                    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Maharashtra
                    </button>
                    
                    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                     Kerala
                    </button>
                    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Gujrat
                     </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                     
                      <table class="table table-bordered">
                        <thead class="theadblue">
                          <tr>
                            <th>Monthly Salary</th>
                            <th>Amount Payabale</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              Less than Rs.7500
                            </td>
                            <td>
                              Nil
                            </td>
                     
                          </tr>

                          <tr>
                            <td>
                              Rs.7501 to Rs.10000
                            </td>
                            <td>
                              Rs.175 per month
                            </td>
                       
                          </tr>
                          <tr>
                            <td>
                              Rs.10001 and above
                            </td>
                            <td>
                              Rs.200 per month except for the month of Feb
                            </td>
                          
                          </tr>
                        </tbody>
                      </table>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="float-right">
                            <button type="button" class="btn btn-sm btn-primary" title="Add row">Edit</button>
                            <button type="button" class="btn btn-sm ml-2 btn-danger" title="Save setting">Delete</button>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-esic" role="tabpanel" aria-labelledby="pills-esic-tab">
              <div class="row justify-content-center">
                <div class="col-md-5">

                  <form>
                    <div class="form-group">
                      <label for="maxLimit">Maximum limit</label>
                      <input type="text" class="form-control" id="maxLimit">
                    </div>
                    <div class="form-group">
                      <label for="employeeContribution">Employee Contribution</label>
                      <input type="text" class="form-control" id="employeeContribution">
                    </div>
                    <div class="form-group">
                      <label for="employerContribution">Employer Contribution</label>
                      <input type="text" class="form-control" id="employerContribution">
                    </div>
                    <div class="form-group">
                      <label for="applicabledate">Applicable from date</label>
                      <input type="date" class="form-control form-control-sm" id="applicabledate">
                    </div>
                    <button type="button" class="btn btn-primary float-right">Save</button>
                  </form>
                </div>

                <div class="col-md-8">
                  <table class="table table-bordered">
                    <thead class="theadblue">
                      <tr>
                        <th>Maximum limit</th>
                        <th>Employee Contribution</th>
                        <th>Employer Contribution</th>
                        <th>Applicable from date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                  
                        </td>
                        <td>
                        
                        </td>
                        <td>
                         
                        </td>
                        <td>
                         
                        </td>
                        <td class="text-center">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                          <i class="fa fa-trash ml-2" aria-hidden="true"></i>
                        </td>
                      </tr>
                      

                    </tbody>
                  </table>

                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="pills-bonus" role="tabpanel" aria-labelledby="pills-bonus-tab">
              <div class="row justify-content-center">
                <div class="col-md-5">

                  <form>
                    <div class="form-group">
                      <label for="yearlyBonus">Yearly Bonus</label>
                      <input type="text" class="form-control" id="yearlyBonus">
                    </div>
                    <button type="button" class="btn btn-primary float-right">Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>