<div class="container-fluid">
  <div class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Absent Report</strong> &nbsp;
        </h6>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Abbreviation:-</strong></span>WD : Working Day</h6>
        </div>
      </div>

      <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Absent Report From Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}<span class="blu"><strong> To:</strong></span> {{toDate | date:"dd MMM yyyy"}}</h6>
        </div>
      </div>

      <div class="col-md-10" id="content">
        <table id="absent_employees" class="table table-space table-borderless">
          <thead>
            <tr style="text-align: center !important;">
              <th colspan="8">{{compName}}</th>
            </tr>
            <tr style="text-align: center !important;">
              <th colspan="8">Absent Report</th>
            </tr>
            <tr>
              <th colspan="8">From Date : {{fromDate | date :'dd/MMM/yyyy'}} To Date: {{toDate | date :'dd/MMM/yyyy'}}</th>
            </tr>
            <tr>
              <th colspan="8">Report Date: {{report_time}}</th>
            </tr>
            <tr class="table-secondary">
              <th *ngIf="marked9">Sr.No</th>
              <th *ngIf="marked1">Employee ID</th>
              <th *ngIf="marked">Employee Name</th>
              <th *ngIf="marked3">Location</th>
              <th *ngIf="marked4">Department</th>
              <th *ngIf="marked5">Employee Type</th>
              <th *ngIf="marked6">Absent Date</th>
              <th *ngIf="marked8">Status Of Day</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of report_data; let i = index">
            <tr>
              <td *ngIf="marked9">{{i+1}}</td>
              <td *ngIf="marked1">
                {{item.emp_details[0].empId}}
              </td>
              <td *ngIf="marked" style="text-align: left;">
                <div>
                  {{item.emp_details[0].fullName | uppercase}} {{item.emp_details[0].lastName |  uppercase}}
                </div>
              </td>
              <td *ngIf="marked3">{{item.emp_details[0].locationName}}</td>
              <td *ngIf="marked4">{{item.emp_details[0].deptName}}</td>
              <td *ngIf="marked5">{{item.emp_details[0].empTypeName}}</td>
              <td *ngIf="marked6"></td>
              <td *ngIf="marked8"><span></span></td>
            </tr>
            <tr *ngFor="let temp of item.emp_details; let i = index">
              <td *ngIf="marked9"></td>
              <td *ngIf="marked1"></td>
              <td *ngIf="marked" style="text-align: left;"></td>
              <td *ngIf="marked3"></td>
              <td *ngIf="marked4"></td>
              <td *ngIf="marked5"></td>
              <td *ngIf="marked6">{{temp.attenDate}}</td>
              <td *ngIf="marked8"><span>{{temp.statusOfDay}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
        <div class="columnshead">
          <h6>Select Columns:</h6>
          <label class="container">
            <input type="checkbox" [(ngModel)]="srNoCheckbox" data-md-icheck (change)="toggleVisibility9($event)" />
           Sr.No
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="empIdcheckbox" data-md-icheck (change)="toggleVisibility1($event)" />
            Employee ID
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="nameCheckbox" data-md-icheck (change)="toggleVisibility($event)" />
            Employee Name
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="branchCheckbox" data-md-icheck (change)="toggleVisibility3($event)" />
            Location
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="departmentCheckbox" data-md-icheck
              (change)="toggleVisibility4($event)" />
            Department
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="categoryCheckbox" data-md-icheck (change)="toggleVisibility5($event)" />
            Employee Type
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="absentCheckbox" data-md-icheck (change)="toggleVisibility6($event)" />
            Absent date
            <span class="checkmark"></span>
          </label>
          <label class="container">
              <input type="checkbox" [(ngModel)]="statusDay" data-md-icheck (change)="toggleVisibility8($event)" />
              Status Of Day
              <span class="checkmark"></span>
            </label>
          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
          <button style="padding-right: 6px;" type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX('absent_employees')"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Export Report Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>