
<div class="container-fluid">
  <div class="col-md-12">
    <div class="white-bg">
      <div class="p-3">
        <div class="row justify-content-center">
          
          <div class="col-md-5">
            <div class="data-title">
              <h6>Employee Basic Details</h6>
            </div>
          </div>
          
        </div>
                                     
        <div class="row justify-content-center">
          <div class="col-md-5">
            <form (ngSubmit)="f.form.valid" #f="ngForm">

              <div class="form-row">

                  <div class="col-2">
                      <div class="form-group">
                        <label for="empname">Salutation</label>
                        <select id="salutation" [(ngModel)]="BasicHRInfoModel.salutation" class="form-control form-control-sm"  name="salutation" form="salutation" >
                        <!-- <option hidden [value]="selectSalutation">Salutation</option> -->
                        <option value="MR">MR</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        </select>
                      </div>
                    </div>      

                    <!-- <div class="col-3">
                      <div class="form-group">
                        <label for="empname">Firstname</label><span style="color: red">*</span>
                        <input class="form-control form-control-sm" type="text"  maxlength="50" pattern="[A-Z a-z]{1,250}" #fullName='ngModel' name="fullName"
                          [(ngModel)]="BasicHRInfoModel.fullName" required>
                          <div class="help-block" *ngIf="fullName.errors?.required && (fullName.touched || f.submitted)"><small style="color: red">Firstname Required</small></div>
                          <div class="help-block" *ngIf="fullName.errors?.pattern && (fullName.touched || f.submitted)"><small style="color: red">Number and Special Character not allowed </small></div>
                    
                      </div>
                    </div> -->

                    <!-- <div class="col-3">
                      <div class="form-group">
                        <label for="empname">Middlename</label><span style="color: red">*</span>
                        <input class="form-control form-control-sm" type="text"  maxlength="50" pattern="[A-Z a-z]{1,250}" #middleName='ngModel' name="middleName"
                          [(ngModel)]="BasicHRInfoModel.middleName" required>
                          <div class="help-block" *ngIf="middleName.errors?.required && (middleName.touched || f.submitted)"><small style="color: red">Middlename Required</small></div>
                          <div class="help-block" *ngIf="middleName.errors?.pattern && (middleName.touched || f.submitted)"><small style="color: red">Number and Special Character not allowed </small></div>
                    
                      </div>
                    </div> -->

                    <!-- <div class="col-3">
                      <div class="form-group">
                        <label for="empname">Lastname</label><span style="color: red">*</span>
                        <input class="form-control form-control-sm" type="text"  maxlength="50" pattern="[A-Z a-z]{1,250}" #lastName='ngModel' name="lastName"
                          [(ngModel)]="BasicHRInfoModel.lastName" required>
                          <div class="help-block" *ngIf="lastName.errors?.required && (lastName.touched || f.submitted)"><small style="color: red">Lastname Required</small></div>
                          <div class="help-block" *ngIf="lastName.errors?.pattern && (lastName.touched || f.submitted)"><small style="color: red">Number and Special Character not allowed </small></div>
                    
                      </div>
                    </div> -->

                <!-- <div class="col">
                  <div class="form-group">
                    <label for="empname">Employee Full Name</label><span style="color: red">*</span>
                    <input class="form-control form-control-sm" type="text"  maxlength="50" pattern="[A-Z a-z]{1,250}" #fullName='ngModel' name="fullName"
                      [(ngModel)]="BasicHRInfoModel.fullName" required>
                      <div class="help-block" *ngIf="fullName.errors?.required && (fullName.touched || f.submitted)"><small style="color: red">Employee Full Name Required</small></div>
                      <div class="help-block" *ngIf="fullName.errors?.pattern && (fullName.touched || f.submitted)"><small style="color: red">Number and Special Character not allowed </small></div>
                
                  </div>
                </div> -->
                <div class="col">
                    <div class="form-group">
                      <label for="empname">First Name</label><span style="color: red">*</span>
                      <input autocomplete="off" class="form-control form-control-sm" type="text"  maxlength="100" pattern="[A-Z a-z]{1,250}" #fullName='ngModel' name="fullName"
                        [(ngModel)]="BasicHRInfoModel.fullName" required>
                        <div class="help-block" *ngIf="fullName.errors?.required && (fullName.touched || f.submitted)"><small style="color: red">Employee First Name Required</small></div>
                        <div class="help-block" *ngIf="fullName.errors?.pattern && (fullName.touched || f.submitted)"><small style="color: red">Number and Special Character not allowed </small></div>
                  
                    </div>
                  </div>
                  <div class="col">
                      <div class="form-group">
                        <label for="empname">Middle Name</label><span style="color: red">*</span>
                        <input autocomplete="off" class="form-control form-control-sm" type="text"  maxlength="100" pattern="[A-Z a-z]{1,250}" #middleName='ngModel' name="middleName"
                          [(ngModel)]="BasicHRInfoModel.middleName" required>
                          <div class="help-block" *ngIf="middleName.errors?.required && (middleName.touched || f.submitted)"><small style="color: red">Employee Middle Name Required</small></div>
                          <div class="help-block" *ngIf="middleName.errors?.pattern && (middleName.touched || f.submitted)"><small style="color: red">Number and Special Character not allowed </small></div>
                    
                      </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                          <label for="empname">Last Name</label><span style="color: red">*</span>
                          <input  autocomplete="off" class="form-control form-control-sm" type="text"  maxlength="100" pattern="[A-Z a-z]{1,250}" #lastName='ngModel' name="lastName"
                            [(ngModel)]="BasicHRInfoModel.lastName" required>
                            <div class="help-block" *ngIf="lastName.errors?.required && (lastName.touched || f.submitted)"><small style="color: red">Employee Last Name Required</small></div>
                            <div class="help-block" *ngIf="lastName.errors?.pattern && (lastName.touched || f.submitted)"><small style="color: red">Number and Special Character not allowed </small></div>
                      
                        </div>
                      </div>
              </div>

              <div class="form-group colors">
                <label>Gender<span style="color: red">*</span></label>
                <br>
                <input autocomplete="off" type="radio" id="radio"  [(ngModel)]="BasicHRInfoModel.gender" value="Male"
                  name="physicalDisability"/>
                <label for="radio">Male</label>

                <input autocomplete="off" type="radio" id="radio1" [(ngModel)]="BasicHRInfoModel.gender" value="Female"
                  name="physicalDisability"/>
                <label for="radio1">Female</label>

                <input  autocomplete="off" type="radio" id="radio2" [(ngModel)]="BasicHRInfoModel.gender" value="Other"
                  name="physicalDisability"/>
                <label for="radio2">Other</label>
              </div>

              <!-- <div class="form-row align-items-center">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="dob">Date of birth</label><span style="color: red">*</span>
                    <input autocomplete="off" class="form-control form-control-sm"  max="{{maxDate| date:'yyyy-MM-dd'}}" type="date" 
                      name="dateOfBirth" #dateOfBirth='ngModel' [ngModel]="BasicHRInfoModel.dateOfBirth | date:'yyyy-MM-dd'" (change)="changeDateofBirth($event)" required>   
                       <div class="help-block" *ngIf="dateOfBirth.errors?.required && (dateOfBirth.touched || f.submitted)"><small style="color: red">Date Of Birth Required</small></div>
                  </div>
                </div>

             
              </div> -->


              <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="mobnumber">Official Contact Number</label>
                            <input  autocomplete="off" class="form-control form-control-sm " type="text"
                            name="officialContact" #officialContact='ngModel'numbersOnly maxlength="10" [(ngModel)]="BasicHRInfoModel.officialContactNumber">
                            <!-- <div class="help-block"  *ngIf="officialContact.errors?.required && (officialContact.touched || f.submitted)"> <small style="color: red">Official Contact Number required</small></div> -->
                            
                            <div class="help-block"  *ngIf="officialContact.errors?.pattern && (officialContact.touched || f.submitted)"> <small style="color: red">Enter valid Numbers Only</small></div>
                           
                        </div>
                       
        
                </div>
            </div>

              <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="compemilid">Official Email Id</label><span style="color: red">*</span>
                        <input  autocomplete="off" class="form-control form-control-sm" type="email" #officialEmail='ngModel' (keyup)='Erroremail()' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="officialEmailId"
                            [(ngModel)]="BasicHRInfoModel.officialEmailId" required>
                            <div class="help-block"  *ngIf="officialEmail.errors?.pattern && (officialEmail.touched || f.submitted) "> <small style="color: red">Enter Valid Email</small></div>
                            <!-- <div class="help-block"  *ngIf="officialEmail.errors?.pattern && (officialEmail.touched) "> <small style="color: red">Enter Valid Email</small></div> -->
                            <div class="help-block" *ngIf="errflag"  ><small style="color: red">Already Exist </small></div>
                            <!-- <div class="help-block" *ngIf="officialEmail.errors?.required && (officialEmail.touched || f.submitted)"><small style="color: red">Official Email Id Required</small></div> -->
                    </div>
                </div>
              </div>

              <!-- <div class="form-row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="mobnum">Personal Contact Number</label> -->
                    <!-- <span style="color: red">*</span>  -->
                    <!-- <input autocomplete="off" class="form-control form-control-sm "  pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$"  type="text" maxlength="10" #personalContactNumber='ngModel' name="personalContactNumber"
                      [(ngModel)]="BasicHRInfoModel.personalContactNumber" >
                      <div class="help-block" *ngIf="personalContactNumber.errors?.pattern && (personalContactNumber.touched || f.submitted)"><small style="color: red">Enter Valid Mobile Number </small></div> -->
                      <!-- <div class="help-block" *ngIf="personalContactNumber.errors?.required && (personalContactNumber.touched || f.submitted)"><small style="color: red"> Mobile Number Required </small></div> -->
<!--                  
                  </div>
                </div>
              </div> -->

              <!-- <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="emailid">Personal Email Id</label> -->
                    <!-- <span style="color: red">*</span>  -->
                    <!-- <input autocomplete="off" class="form-control form-control-sm" type="email" (keyup)='errorpersonal()' #personalEmailId='ngModel' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="personalEmailId"
                      [(ngModel)]="BasicHRInfoModel.personalEmailId">
                      <div class="help-block" *ngIf="personalEmailId.errors?.pattern && (personalEmailId.touched || f.submitted)"><small style="color: red">Enter Valid Email </small></div> -->
                      <!-- <div class="help-block" *ngIf="personalEmailId.errors?.required && (personalEmailId.touched || f.submitted)"><small style="color: red">Email Required </small></div> -->
                      <!-- <div class="help-block" *ngIf="errflag" ><small style="color: red">Already Exist </small></div>
                  </div>
                </div>
              </div> -->

              <!-- <div class="form-group">
                <label>Is Employee Fresher</label>
                <br>
                <label class="switch mt-2">
                  <input type="checkbox" name="isFresher" [(ngModel)]="BasicHRInfoModel.isFresher">
                  <span class="slider round"></span>
                </label>
              </div> -->

              
              <div class="form-row">
                <div class="col">

                </div>

                <div class="col">
                  <button class="btn btn-primary float-right" [disabled]='(f.invalid || errflag)' (click)="SaveBasicInfo()">Next</button>
                </div>
              </div>
            </form>
            
          </div>
        </div>

      
      </div>
    </div>
  </div>
</div>