<div class="container-fluid">
  <div class="rep-bg">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Leave Carry Forward Report</strong> &nbsp;
        </h6>
      </div>
    </div>

    <div class="row">

      <!-- <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Abbreviation:-</strong></span>WD : Working Day, WO : Weekly Off, HO : Holiday,<span></span> WOH : Week Off And Holiday</h6>
        </div>
      </div> -->
      <div class="col-md-12">
        <!-- <div class="repdate float-right">{{myDate}}</div> -->
        <div class="qwe">
          <h6><span class="blu"><strong>Abbreviation:-</strong></span> CL : Casual Leave , SL : Sick Leave , PL : Previlege Leave, EL:Earned Leave </h6>       
        </div>
      </div>


      <!-- <div class="col-md-12">
        <div class="qwe" *ngIf="fromDate == toDate ">
          <h6><span class="blu"><strong>Leave Taken of Employees For Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}</h6>
        </div>
        <div class="qwe" *ngIf="fromDate != toDate ">
          <h6><span class="blu"><strong>Leave Taken of Employees From Date: </strong></span>{{fromDate |  date:"dd MMM yyyy"}}<span class="blu"><strong> To:</strong></span> {{toDate | date:"dd MMM yyyy"}}</h6>
        </div>
      </div> -->

      <div style="overflow-x: auto; overflow-y: hidden;" class="col-md-10" id="content">
        <table class="table table-space table-borderless" id="my-table">
          <thead>
            <tr style="text-align: center !important;">
              <th [attr.colspan]="table_length">{{compName}}</th>
            </tr>
            <tr style="text-align: center !important;">
              <th [attr.colspan]="table_length">Leave   Carry Forward Report</th>
            </tr>
            <!-- <tr *ngIf="fromDate == toDate ">
              <th [attr.colspan]="table_length">For Date : {{fromDate | date :'dd/MMM/yyyy'}}</th>
            </tr>
            <tr *ngIf="fromDate != toDate ">
              <th [attr.colspan]="table_length">From Date : {{fromDate | date :'dd/MMM/yyyy'}} To Date: {{toDate | date :'dd/MMM/yyyy'}}</th>
            </tr> -->
            <tr>
              <th [attr.colspan]="table_length">Report Date: {{report_time}}</th>
            </tr>
            <tr class="table-secondary">
              <th>Sr.No</th>
              <th *ngIf="marked_empId">EmpId</th>
              <th *ngIf="marked_empName">Employee Name</th>
              <th *ngIf="marked_department">Department</th>
              <th *ngIf="marked_leaveCode">Leave Code</th>
              <th *ngIf="marked_caryyforwardedLeaves"> Caryy Forwarded Leaves</th>
              <th *ngIf="marked_year">For Year</th>
           
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of reportData; let i = index">
              <td>{{i+1}}</td>
              <td *ngIf="marked_empId">{{item.empId}}</td>
              <td *ngIf="marked_empName" class="text-left">
                <div>
                  {{item.fullName}} {{item.lastName}}
                </div>
              </td>
              <!-- <td *ngIf="marked_designation" class="text-left">{{item.descName}}</td> -->
              <td *ngIf="marked_department" class="text-left">{{item.deptName}}</td>
              <td *ngIf="marked_leaveCode">{{item.leaveCode}}</td>
               <td *ngIf="marked_caryyforwardedLeaves">{{item.lastYearCarryForword}}</td>
              <td *ngIf="marked_year">{{item.forYear}}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="col-md-2">
        <div class="columnshead">
          <h6>Select Columns:</h6>
          <label class="container">
            <input type="checkbox" [(ngModel)]="empIdCheckbox" data-md-icheck (change)="toggleVisibility_EmpId($event)" />
            EmpId
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="employeeNameCheckbox" data-md-icheck (change)="toggleVisibility_EmpName($event)" />
            EmployeeName
            <span class="checkmark"></span>
          </label>
<!-- 
          <label class="container">
            <input type="checkbox" [(ngModel)]="designationCheckbox" data-md-icheck (change)="toggleVisibility_Designation($event)" />
            Designation
            <span class="checkmark"></span>
          </label> -->

          <label class="container">
            <input type="checkbox" [(ngModel)]="departmentCheckbox" data-md-icheck (change)="toggleVisibility_Department($event)" />
            Department
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="leaveCodeCheckbox" data-md-icheck (change)="toggleVisibility_LeaveCode($event)" />
            LeaveCode
            <span class="checkmark"></span>
          </label>
           
          <label class="container">
            <input type="checkbox" [(ngModel)]="caryyforwardedLeavesCheckbox" data-md-icheck (change)="toggleVisibility_caryyforwardedLeaves($event)" />
            Caryy Forwarded Leaves
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="yearCheckbox" data-md-icheck (change)="toggleVisibility_year($event)" />
            Year
            <span class="checkmark"></span>
          </label>

          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX('my-table')"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp;Export Report Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>

