<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-list-alt bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Safety Done List<div class="page-title-subheading"> Here you can check safety Done list 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <table id="documentHistorylist" class="table table-striped table-bordered" style="width:100%">
          <!-- <table class="table table-striped" id="BusinessTable"> -->
          <thead class="theadblue">
            <tr>
              <th>
                Sr.No
              </th>
  
            
              <th>
                Name
              </th>
              <th>
                Designation
              </th>
              <th>
                Remark
              </th>
             <th>Status</th>
             <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of safetyLabourDatas;let i=index">
              <td>{{i+1}}</td>
              <!-- <td>{{item.labourInfo?.empId}}</td> -->
              <td>{{item.labourInfo?.firstName}} {{item.labourInfo?.lastName}}</td>
              <td>{{item.labourInfo?.designationMaster?.desigName}}</td>
             <td>{{item.remark}}</td>
             <td>{{item.safetyFlag}}</td>
             <td> <i class="fa fa-pencil" (click)="gotToAssetss(item)" aria-hidden="true"></i></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
  
            </tr>
          </tfoot>
        </table>
        </div>
        </div>
        </div>
        </div>

      