<div class="bhoechie-tab-content white-bg" id="compmaster">
    <div class="row justify-content-center align-items-center">
           
            <div class="mastersheading">
                    <h3>
                            SUB-EMPLOYEE CATEGORY <span class="boldmaster">MASTER</span> 
                    </h3>
                </div>
   
        </div>
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">

            <form name="form" (ngSubmit)="f.form.valid && onSubmit(SubEmpTypMast,f)" #f="ngForm" novalidate>
                <div class="form-group">
                        <label for="CompanyID">Company Name<span style="color: red">*</span></label>
                    <select class="form-control form-control-sm mb-4" name="CompanyID" [(ngModel)]="selectedCompanyobj" name="selectedCompanyobj" #CompanyID='ngModel'   (change)="CompValue($event)" required >
                      <option  hidden [value]="selectUndefinedOptionValue" >Company Name</option>
                      <option value="{{addcompany.compId}}" *ngFor="let addcompany of Compdata; let i = index;">{{addcompany.compName}}</option>
                    </select>
                    <div class="help-block" style="margin-top:-23px" *ngIf="CompanyID.errors?.required && CompanyID.touched" ><small style="color: red">Company Name required</small></div>
                  
              </div> 

                <div class="form-group">
                        <label for="ParentEmpID">Parent Employee Category ID <span style="color: red">*</span></label>
                    <select class="form-control form-control-sm mb-4" name="ParentEmpID" [(ngModel)]="selectedEmpTypeObj"  #ParentEmpID='ngModel' (change)="EmpValue($event)" required >
                        <option  hidden [value]="selectUndefinedOptionValue">Parent Employee Type Id</option>
                        <option value="{{subEmp.empTypeId}}" *ngFor="let subEmp of Employeedataall; let i = index;">{{subEmp.empTypeName}}</option>
                    </select>
                    <div class="help-block" style="margin-top:-23px" *ngIf="ParentEmpID.errors?.required && ParentEmpID.touched" ><small style="color: red">Parent Employee ID required</small></div>
                </div>
                
                <div class="form-group">
                        <label for="ParentEmpID">Sub-Employee Category Name<span style="color: red">*</span></label>
                    <input type="text" class="form-control form-control-sm" (keyup)='error()'  name="subEmpTypeNam"  maxlength="100"
                        [(ngModel)]="SubEmpTypMast.subEmpTypeName" #subEmpTypeName="ngModel"
                        required />
                        <div class="help-block" *ngIf="subEmpTypeName.errors?.required && subEmpTypeName.touched"  ><small style="color: red">Sub-Employee Category Name is required</small></div>
                        <div class="help-block" *ngIf="errflag" ><small style="color: red">Already Exits </small></div>
               </div>
                <label>Sub-Employee Category Description</label>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" 
                        name="subEmpTypeDesc" maxlength="250"  [(ngModel)]="SubEmpTypMast.subEmpTypeDesc" #subEmpTypeDesc="ngModel"  />
                </div>

                <div class="form-group" id="switchbtn" *ngIf='StatusFlag'>
                    <label>Status</label><br>
                      <label (click)="uiswitch($event)">
                          <!-- <input type="checkbox" checked> -->
                          <!-- <input type="radio" value='' checked='false'> -->
                          <ui-switch [checked]='SubEmpTypMast.status' ><span class="switch  switch-medium"  ><small></small></span></ui-switch>
                          <!-- <span class="slider round"></span> -->
                        </label>
                  </div>


                  <div class="form-group">
                        <button class="btn btn-primary" type="submit" [disabled]="(f.invalid || errflag )" >Save</button>
                        &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
                        
                    </div>
                    
            </form>


        </div>

    </div>
    <hr>
    <div *ngIf='dataTableFlag'>
    <table class="table table-striped" id="subempTable">
            <thead class="theadblue">
            <tr>
                <th style="width: 90%">
                    Sub Employee Category Name
                </th>
              
                <th style="width: 40%"  class="hide-arw">
                    Status 
                </th>
                <th style="width: 20%" class="hide-arw" >
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of AllSubEmp">
                <td>{{item.subEmpTypeName}}</td>
             
                <td [ngClass]="{colorRed : item.status == false, colorGreen: item.status == true}" style="font-size:1rem; text-align:center">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </td>
                <td><i class="fa fa-pencil" aria-hidden="true" (click)="edit(item)"></i> <i class="fa fa-trash" (click)='dltObj(item)'  data-toggle="modal" data-target="#AreYouSuredlt" 
                        aria-hidden="true"></i></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>

            </tr>
        </tfoot>
    </table>
    </div>
</div>
</div><div class="modal fade" id="AreYouSuredlt">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure,You Want to Delete?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)='dltmodelEvent(f)'  data-dismiss="modal" class="btn btn-success">Yes</button><br>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
       </div>
      
      </div>
    </div>
  </div>