<div class="container">
<div class="page-wrapper">

    <div class="row">
      <div class="col-md-12">
        <div class="whitebg w3-animate-left">
          <div class="newheader">
            <h4>My Personal Data</h4>
                          </div>
          <div class="p-3">


            <div class="menus">
              <ul class="list-inline ">

                <li *ngIf="loggedUser.mrollMaster.profile" data-toggle="dropdown" class="dropdown list-inline-item text-center" (click)="Profile()">
                  <div class="menuicons">
                    <img src="assets/newlayout/profile.svg">
                    <span>Profile <b class="caret"></b></span>
                  </div>

                  <!-- <ul class="dropdown-menu dropdownstyle animated flipInY">
                    <li>New Employee</li>
                    <li>Inactive</li>
                    <li>New Hired</li>
                    <li>Pre-Boarding</li>
                  </ul> -->
 
                </li>

                <li data-toggle="dropdown" class="dropdown list-inline-item text-center" *ngIf="loggedUser.mrollMaster.history">
                  <div class="menuicons" [routerLink]="['/layout/emphistory']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/history.svg">
                    <span>History <b class="caret"></b></span>
                  </div>
                </li>

                <li class="list-inline-item " *ngIf="loggedUser.employeeClearence">
                  <div class="menuicons" [routerLink]="['/layout/clearancedetailsemp']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/list.svg">
                    <span>Clearance Status</span>
                  </div>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>