

<div class="container-fluid">

  <!-- SELECTED EMPLOYEE DETAILS -->
  <div class="empinfobox">
    <div class="dispinline photoid">
      <img  *ngIf="profilePath" alt="Avatar" [src]="profilePath">
      <img *ngIf="!profilePath" src="{{AssetsPath}}/propic.jpg" alt="Avatar" >
    </div>
  <div class="dispinline infodetails">
    <h6>{{fullName}} {{lastName}}</h6>
    <span>Employee Id: {{empId}}</span>
  </div>  
    </div>
  <!-- SELECTED EMPLOYEE DETAILS -->

  <nav [ngClass]="themeColor" class="nav nav-pills nav-fill" hidden>
    <a class="nav-item nav-link pimshr-nav active" id="officialdetails-tab" data-toggle="tab" href="#officialdetails" role="tab"
      aria-controls="home" aria-selected="true">
      <span class="tabcounts">01</span>
      <br>
      <span class="pimstabsname"> Employee Official Details</span>
    </a>
    <!-- <a [ngClass]="{'disabled-tab':!condition}" class="nav-item nav-link pimshr-nav" id="attendancedetails-tab"    data-toggle="tab"  href="#attendancedetails" role="tab"
      aria-controls="profile" aria-selected="false" >
      <span class="tabcounts">02</span>
      <br>
      <span class="pimstabsname">Attendance Details</span>
    </a> -->
  

    <a [ngClass]="{'disabled-tab':!condition3}" class="nav-item nav-link pimshr-nav" id="otherdetails-tab" data-toggle="tab" href="#otherdetails" role="tab" aria-controls="profile"
      aria-selected="false" hidden>
      <span class="tabcounts">03</span>
      <br>
      <span class="pimstabsname">Others Details</span>
    </a>

    <!-- <a [ngClass]="{'disabled-tab':!condition2}" class="nav-item nav-link pimshr-nav" id="salarydetails-tab"  data-toggle="tab" href="#salarydetails" role="tab" aria-controls="profile"
    aria-selected="false">
    <span class="tabcounts">04</span>
    <br>
    <span class="pimstabsname">Salary Details</span>
  </a> -->

  
  </nav>
  <div class="tab-content" id="myTabContent">

    <!-- =================OFFICIAL DETAILS==================== -->
    <div class="tab-pane fade show active" id="officialdetails" role="tabpanel" aria-labelledby="officialdetails-tab">
    <div class="container">
      <div class="p-3">
        <app-hrofficialdetails (someEvent)="goToAttendanceDetails($event)"></app-hrofficialdetails>
      </div>
    </div>
    </div>
    <!-- =================OFFICIAL DETAILS==================== -->

    <!-- =================ATTENDANCE DETAILS==================== -->
    <div class="tab-pane fade" id="attendancedetails" role="tabpanel" aria-labelledby="attendancedetails-tab">

        <div class="container">
            <div class="p-3">
              <app-hrattendancedetails (someEvent1)="goToOthers($event)"></app-hrattendancedetails>
            </div>
          </div>
      
    </div>
    <!-- =================ATTENDANCE DETAILS==================== -->


    <div class="tab-pane fade" id="otherdetails" role="tabpanel" aria-labelledby="otherdetails-tab">

        <div class="container">
            <div class="p-3">
                <app-hrothersdetails (someEvent2)="goToSalaryDetails($event)"></app-hrothersdetails>
            </div>
        </div>
  

    </div>

    
    <!-- =================SALARY DETAILS==================== -->
    <div class="tab-pane fade" id="salarydetails" role="tabpanel" aria-labelledby="salarydetails-tab">

      <div class="container">
          <div class="p-3">
              <app-hrsalarydetails ></app-hrsalarydetails>
          </div>
      </div>


  </div>
  <!-- =================SALARY DETAILS==================== -->
  </div>
</div>