<div class="container">
  <div class="page-wrapper">

    <div class="row">
      <div class="col-md-12">
        <div class="whitebg w3-animate-left">
          <div class="newheader">
            <h4>My Attendance</h4>
          </div>
          <div class="p-3">
            <!-- <div class="row justify-content-end">
                  <div class="col-md-8 align-self-end">
                    <div class="heading float-right">
                      <div class="typewriter">
                        <h5>Attendance</h5>
                      </div>
                    </div>
                  </div>
                </div> -->

            <div class="menus">
              <ul class="text-center">
                <li class="list-inline-item text-center" *ngIf="loggedUser.mrollMaster.yearlyCalender">
                  <div class="menuicons" [routerLink]="['/layout/yearlycalendar']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/calendar.svg">
                    <span>Yearly Calendar</span>
                  </div>
                </li>


                <li *ngIf="loggedUser.mrollMaster.applyLeave" data-toggle="dropdown" class="dropdown list-inline-item text-center">
                  <div class="menuicons" [routerLink]="['/layout/leaverequest']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/conver.png">
                    <span>Apply Leave</span>
                  </div>
                </li>

                <li *ngIf="loggedUser.mrollMaster.arRequest" data-toggle="dropdown" class="dropdown list-inline-item text-center">
                  <div class="menuicons" [routerLink]="['/layout/otherrequests']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/request.svg">
                    <span>AR Request </span>
                  </div>
                </li>

                <li data-toggle="dropdown"  class=" dropdown list-inline-item text-center">
                  <div class="menuicons" [routerLink]="['/layout/optinalholiday']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/appointment.png">
                    <span>Optional Holidays</span>
                  </div>
                </li>  

                <li *ngIf="loggedUser.mrollMaster.leaveDashboard" class="list-inline-item text-center">
                  <div class="menuicons" [routerLink]="['/layout/leavedashboard']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/leavedashboard.svg">
                    <span>Leave Dashboard</span>
                  </div>
                </li>

                <li *ngIf="loggedUser.mrollMaster.attendanceReport" class="list-inline-item text-center">
                  <div class="menuicons" [routerLink]="['/layout/attendencereportview']" [routerLinkActive]="'active'">
                    <img src="assets/newlayout/reportsicon.svg">
                    <span>Report</span>
                  </div>
                </li>
                


              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>