<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="bg">
          <div class="row">
            <div class="col-md-4">
              <div class="main-search ml-2">
                 <div class="input-group width80 mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control form-control-sm" placeholder="Search Employee" id="usr" name="username">
                </div> 

              </div>
            </div>
            <div class="col-md-2">
              <h6>Active Employees: <span class="act-emps">26</span></h6>
            </div>
            <div class="col-md-6">
              <div class="float-right">
                <button type="button" class="btn btn-primary mr-3">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Employee</button>

                <button type="button" class="btn btn-info mr-2">
                  <i class="fa fa-upload" aria-hidden="true"></i> Upload Data</button>

              </div>
            </div>
          </div>
          <div class="table-responsive">
          <table id="emptable" class="table emp-action">

            <tbody>

              <tr *ngFor='let i of Employeedata'>
                <td style="width:5%; text-align:center">
                  <div class="wrapper">
                    <img src="http://suchmuch.pk/wp-content/uploads/2017/07/Stylish-Girls-Profile-Pictures-42.jpg" alt="" class="image-cover"
                    />
                  </div>
                </td>
                <td>
                  {{i.fullName}}
                </td>

                <td>
                  {{i.empId}}
                </td>

                <td>
                  {{i.deptName}}
                </td>

                <td>
                  {{i.officialContactNumber}}
                </td>

                <td class="text-center" style="width:15%;">
                  <i class="fa fa-eye"  (click)="getEmpDetail(i)" title="View details" aria-hidden="true"></i>
                  <i class="fa fa-pencil" title="Edit details" aria-hidden="true"></i>
                  <i class="fa fa-arrows" title="Employee movement" aria-hidden="true"></i>
                  <i class="fa fa-user-times" title="Terminate this employee" aria-hidden="true"></i>
                </td>
              </tr>

              <!-- <tr>
                <td style="width:5%; text-align:center">
                  <div class="wrapper">
                    <img src="https://img2.thejournal.ie/inline/2470754/original/?width=428&version=2470754" alt="" class="image-cover" />
                  </div>
                </td>
                <td>
                  Pratik Narke
                </td>

                <td>
                  ID-124
                </td>

                <td>
                  Software
                </td>

                <td>
                  9876543210
                </td>

                <td class="text-center" style="width:15%;">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  <i class="fa fa-arrows" title="Employee movement" aria-hidden="true"></i>
                  <i class="fa fa-user-times" aria-hidden="true"></i>
                </td>
              </tr>

              <tr>
                <td style="width:5%; text-align:center">
                  <div class="wrapper">
                    <img src="https://static1.squarespace.com/static/54f74f23e4b0952b4e0011c0/t/5ad5431e88251baeaac75f49/1523925845937/chris+hanna+bb.jpg"
                      alt="" class="image-cover" />
                  </div>
                </td>
                <td>
                  Amit Patil
                </td>

                <td>
                  ID-125
                </td>

                <td>
                  Software
                </td>

                <td>
                  9876543210
                </td>

                <td class="text-center" style="width:15%;">
                  <i class="fa fa-eye" title="View details" aria-hidden="true"></i>
                  <i class="fa fa-pencil" title="Edit details" aria-hidden="true"></i>
                  <i class="fa fa-arrows" title="Employee movement" aria-hidden="true"></i>
                  <i class="fa fa-user-times" title="Terminate this employee" aria-hidden="true"></i>
                </td>
              </tr>

              <tr>
                <td style="width:5%; text-align:center">
                  <div class="wrapper">
                    <img src="http://suchmuch.pk/wp-content/uploads/2017/07/Stylish-Girls-Profile-Pictures-42.jpg" alt="" class="image-cover"
                    />
                  </div>
                </td>
                <td>
                  Aniket Patil
                </td>

                <td>
                  ID-126
                </td>

                <td>
                  Software
                </td>

                <td>
                  9876543210
                </td>

                <td class="text-center" style="width:15%;">
                  <i class="fa fa-eye" title="View details" aria-hidden="true"></i>
                  <i class="fa fa-pencil" title="Edit details" aria-hidden="true"></i>
                  <i class="fa fa-arrows" title="Employee movement" aria-hidden="true"></i>
                  <i class="fa fa-user-times" title="Terminate this employee" aria-hidden="true"></i>
                </td>
              </tr>

              <tr>
                <td style="width:5%; text-align:center">
                  <div class="wrapper">
                    <img src="https://img2.thejournal.ie/inline/2470754/original/?width=428&version=2470754" alt="" class="image-cover" />
                  </div>
                </td>
                <td>
                  Sushant Suryawanshi
                </td>

                <td>
                  ID-127
                </td>

                <td>
                  Software
                </td>

                <td>
                  9876543210
                </td>

                <td class="text-center" style="width:15%;">
                  <i class="fa fa-eye" title="View details" aria-hidden="true"></i>
                  <i class="fa fa-pencil" title="Edit details" aria-hidden="true"></i>
                  <i class="fa fa-arrows" title="Employee movement" aria-hidden="true"></i>
                  <i class="fa fa-user-times" title="Terminate this employee" aria-hidden="true"></i>
                </td>
              </tr>

              <tr>
                <td style="width:5%; text-align:center">
                  <div class="wrapper">
                    <img src="https://static1.squarespace.com/static/54f74f23e4b0952b4e0011c0/t/5ad5431e88251baeaac75f49/1523925845937/chris+hanna+bb.jpg"
                      alt="" class="image-cover" />
                  </div>
                </td>
                <td>
                  Ram Patil
                </td>

                <td>
                  ID-128
                </td>

                <td>
                  Software
                </td>

                <td>
                  9876543210
                </td>

                <td class="text-center" style="width:15%;">
                  <i class="fa fa-eye" title="View details" aria-hidden="true"></i>
                  <i class="fa fa-pencil" title="Edit details" aria-hidden="true"></i>
                  <i class="fa fa-arrows" title="Employee movement" aria-hidden="true"></i>
                  <i class="fa fa-user-times" title="Terminate this employee" aria-hidden="true"></i>
                </td>
              </tr> -->

            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>