
.search-box{
    padding: 0.175rem 0.375rem 0.175rem 2.375rem !important;
    border-radius: 0 !important;
  }
  .main-search{
    width: 80%;
  }
  .act-emps{
      color:rgb(28, 100, 194);
      font-weight: 600;
  }
  ::placeholder {
    font-weight:300;
    color: #7a7a7a;
    opacity: 1; /* Firefox */
  }
  .input-group-text {
    background-color: #9ce5fd !important;
    border: 1px solid #a8adb4;
  }
  .fa-search {
    padding: 0 !important;
    color: #ffffff !important;
}
.input-group{
    margin: 5px 0;
}
.emp-action tr{
    font-size:12px;
    border-spacing: 10;
    border:none !important;
    background: #fff;
    border-radius: 0.2rem;
    margin-bottom: 10px;
    box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
}
.emp-action td{
    border:none !important;
    padding: .5rem;
    vertical-align: middle !important;
}
.emp-action{
    border-collapse: separate;
    border-spacing: 0 15px;
}
.image-cover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
  }

.emp-action .fa{
    font-size: 14px;
    padding:10px;
    color:#999999;
}

.emp-action .fa-eye:hover{
color:rgb(28, 105, 194);
cursor: pointer;
}

.emp-action .fa-pencil:hover{
    color:rgb(33, 131, 33);
    cursor: pointer;
    }

    .emp-action .fa-user-times:hover{
        color:rgb(161, 37, 37);
        cursor: pointer;
        }
        .emp-action .fa-arrows:hover{
            color:rgb(172, 97, 0);
            cursor: pointer;
            }


                      
            

