<div class="container-fluid">
   <div class="col-md-12">
      <div class="white-bg">
         <div class="p-3">
            <div class="row justify-content-center">
               <div class="col-md-5">
                  <h4>Add Contractor Employee</h4>
                  <hr>
                  <div class="data-title">
                     <h6>Personal Information</h6>
                  </div>
               </div>
            </div>
            <div class="row justify-content-center">
               <div class="col-md-5">
                  <form (ngSubmit)="onSaveContracror()" #heroForm="ngForm">
                  <div class="form-row">
                     <div class="col">
                        <div class="form-group">
                           <label for="salutation">Salutation</label>
                           <select id="salutation" [(ngModel)]="contractorEmpModel.salutation"
                           class="form-control form-control-sm" name="salutation" form="salutation" #salutation='ngModel'
                           >
                           <option value="" selected>Select</option>
                           <option value="MR">MR</option>
                           <option value="Mrs">Mrs</option>
                           <option value="Miss">Miss</option>
                           </select>
                           <!-- <div class="help-block" *ngIf="salutation.errors?.required && salutation.touched">
                              <small style="color: red"> Salutation is required</small>
                           </div> -->
                        </div>
                     </div>
                     <div class="col">
                        <div class="form-group">
                           <label for="empname">First Name</label><span style="color: red">*</span>
                           <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="40" pattern="[A-Z a-z]{1,250}"
                           [(ngModel)]="contractorEmpModel.fullName" name="fullName" #empname='ngModel' required >
                           <div class="help-block" *ngIf="empname.errors?.required && empname.touched"><small style="color: red"> First Name is Required</small></div>
                           <div class="help-block" *ngIf="empname.errors?.pattern "><small style="color: red">Number and Special Character not allowed </small></div>
                        </div>
                     </div>
                     <div class="col">
                        <div class="form-group">
                           <label for="empMiddlename">Middle Name</label>
                           <input autocomplete="off" class="form-control form-control-sm" type="text" appAlphabetOnly
                             [(ngModel)]="contractorEmpModel.middleName" name="middleName" #empMiddlename='ngModel'>
       
                           <!-- <div class="help-block" *ngIf="empMiddlename.errors?.required && empMiddlename.touched"> <small
                              style="color: red">Middle name is
                              required</small>
                           </div> -->
                           <!-- <div class="help-block" *ngIf="empMiddlename.errors?.pattern"><small style="color: red">Number and Special Character not allowed </small></div> -->
                        </div>
                     </div>
                     <div class="col">
                        <div class="form-group">
                           <label for="empLastname">Last Name</label><span style="color: red">*</span>
                           <input autocomplete="off" class="form-control form-control-sm" type="text" maxlength="40"
                           [(ngModel)]="contractorEmpModel.lastName" name="lastName" #empLastname='ngModel' required>
                           <div class="help-block" *ngIf="empLastname.errors?.required && empLastname.touched"> <small
                              style="color: red">Last name is
                              required</small>
                           </div>
                           <!-- <div class="help-block" *ngIf="empLastname.errors?.pattern"><small style="color: red">Number and Special Character not allowed </small></div> -->
                        </div>
                     </div>
                  </div>
                  <div class="form-group colors">
                     <label>Gender <span style="color: red">*</span></label>
                     <br>
                     <input autocomplete="off" type="radio" id="radio"  name="gender"
                     [(ngModel)]="contractorEmpModel.gender" value="Male" name="physicalDisability" checked />
                     <label for="radio">Male</label>
                     <input autocomplete="off" type="radio" id="radio1" name="gender"
                     [(ngModel)]="contractorEmpModel.gender" value="Female" name="physicalDisability" />
                     <label for="radio1">Female</label>
                     <input autocomplete="off" type="radio" id="radio2" name="gender"
                     [(ngModel)]="contractorEmpModel.gender" value="Other" name="physicalDisability" />
                     <label for="radio2">Other</label>
                  </div>
                  <div  class="form-row">
                     <div class="form-group col-md-6">
                        <label for="dateOfBirth">Date of Birth <span style="color: red">*</span></label>
                        <input type="date" name="dateOfBirth" class="form-control form-control-sm" id="dateOfBirth" 
                        [(ngModel)]="contractorEmpModel.dateOfBirth " name="dateOfBirth"  #dateOfBirth='ngModel'
                        aria-describedby="name"  min="0001-01-01" max="9999-12-31" required>
                     </div>
                     <div class="form-group col-md-6">
                        <label for="bloodgrp">Blood Group 
                        </label>
                        <select name="bloodGroup" class="form-control form-control-sm" id="bloodgrp" (change)="setBloodGroup($event)"
                        [(ngModel)]="contractorEmpModel.bloodGroup">
                        <option value="">Select</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        </select>
                     </div>
                  </div>
                  
                  <div class="form-row">
                 
                  </div>
                  
                  
                  <hr>
                 
                 
                  <!--======================Permanent Address :: START-->
                 
                  <!--/Permanent Address :: END-->
                  <!--======================Educational Qualification :: START-->
                  
                  <!--======================Educational Qualification :: END-->
                  <!-- ====================Official Information Starts==================== -->
                  <!-- <hr> -->
                  <div class="data-title">
                     <h6>Official Information</h6>
                  </div>
                  <div class="form-row">
                     <div class="form-group col-md-6">
                        <label for="biometrcId">Biometric ID <span style="color: red">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="bioId"
                        [(ngModel)]="contractorEmpModel.bioId" name="bioId" #biometrcId='ngModel' required  maxlength="40">
                     </div>
                     <!-- emp_id -->
                     <div class="form-group col-md-6">
                        <label for="empId">Employee ID <span style="color: red">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="empId"
                        [(ngModel)]="contractorEmpModel.empId" name="empId" #empId='ngModel' required  maxlength="40">
                     </div>
                     <!-- /emp_id -->
                  </div>
                  <div class="form-row">
                     
                     <div class="form-group col-md-6">
                      <label for="designation">Designation <span style="color: red">*</span></label>
                      <select id="descId" class="form-control form-control-sm" [(ngModel)]="selectedDesignationobj"
                      name="selectedDesignationobj" #selectedDes='ngModel' (change)="Designationdata($event)" required>
                      <option value="">Select Designation</option>
                      <option value="{{designation.descId}}" *ngFor="let designation of DesignationAllData; let i = index;">
                         {{designation.descName}}
                      </option>
                      </select>
                      <div class="help-block" *ngIf="selectedDes.errors?.required && (selectedDes.touched )"><small
                         style="color: red">Designation required</small></div>
                   </div>
                     <div class="form-group col-md-6">
                        <label for="locationname">Location <span style="color: red">*</span></label>
                        <select id="locationId" class="form-control form-control-sm" [(ngModel)]="selectedLocationobj"
                        name="selectedLocationobj" #selectedLoc='ngModel' (change)="Locationdata($event)" required>
                        <option value="">Select Location Name</option>
                        <!-- <option value="">Select Location Name</option> -->
                        <option value="{{location.locationId}}" *ngFor="let location of LocationAllData; let i = index;">
                           {{location.locationName}}
                        </option>
                        </select>
                        <div class="help-block" *ngIf="selectedLoc.errors?.required && (selectedLoc.touched )"><small
                           style="color: red">Location is required</small></div>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="form-group col-md-6">
                        <label for="depname">Department Name <span style="color: red">*</span></label>
                        <select class="form-control form-control-sm" id="depname" (change)="Departmentdata($event)"
                        name="selectedDepartmentobj" [(ngModel)]="selectedDepartmentobj" #selectedDepartmen='ngModel' required>
                           <option value="">Department</option>
                           <option value="{{department.deptId}}" *ngFor="let department of DepartmentAllData; let i = index;">
                              {{department.deptName}}
                           </option>
                           <!-- <option>Service</option> -->
                        </select>
                        <div class="help-block" *ngIf="selectedDepartmen.errors?.required && (selectedDepartmen.touched )"><small
                           style="color: red">Department Name is required</small></div>
                     </div>
                     <!-- <div class="col"> -->
                        <div class="form-group col-md-6">
                           <label for="empcategory">Employee Category<span style="color: red">*</span></label>
                           <select id="empTypeId" class="form-control form-control-sm" [(ngModel)]="selectedEmpTypeobj"
                           name="selectedEmpTypeobj" #selectedEmpTyp='ngModel' (change)="selectEmptype($event)" required>
                           <option hidden [value]="selectUndefinedOptionValue">Select Employee Category</option>
                           <option value="{{emp.empTypeId}}" *ngFor="let emp of empTypeAllData; let i = index;">
                              {{emp.empTypeName}}
                           </option>
                           </select>
                           <div class="help-block" *ngIf="selectedEmpTyp.errors?.required && (selectedEmpTyp.touched )">
                              <small style="color: red">Employee Category required</small>
                           </div>
                        </div>
                     <!-- </div> -->
                    
                  </div>
                
                  <div class="form-row">
                
                     <div  class="col">
                        <div class="form-group">
                           <label for="subempcategory">Employee Sub Category <span style="color: red">*</span></label>
                           <select id="subEmpTypeId" class="form-control form-control-sm" [(ngModel)]="selectedSubEmpTypeobj"
                           name="selectedSubEmpTypeobj" (change)="selectsubEmptype($event)" #selectedSubEmpTyp='ngModel' required>
                           <option hidden [value]="selectUndefinedOptionValue">Select Employee Sub Category</option>
                           <option value="{{subemp.subEmpTypeId}}" *ngFor="let subemp of subempTypeAllData; let i = index;">
                              {{subemp.subEmpTypeName}}
                           </option>
                           </select>
                           <div class="help-block" *ngIf="selectedSubEmpTyp.errors?.required && (selectedSubEmpTyp.touched )">
                              <small style="color: red">Employee Sub Category required</small>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="col">
                        <div class="form-group">
                           <label for="contractorType">Contractor Service Type <span style="color: red">*</span></label>
                           <select id="contractorType" class="form-control form-control-sm" name="conSerTypeId"
                           [(ngModel)]="contractorEmpModel.conSerTypeId"
                           (change)="contractorSerTypevalue($event)"   #contractorType='ngModel' required>
                           <option value="">Select Contractor Service Type</option>
                           <option value="{{Service.conSerTypeId}}"
                              *ngFor="let Service of contractServiceData; let i = index;">{{Service.conSerZTypeName}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="col">
                        <div class="form-group">
                           <label for="contractorName">Contractor Firm Name <span style="color: red">*</span></label>
                           <select id="contractorName" class="form-control form-control-sm" name="conName"
                           [(ngModel)]="contractorEmpModel.contractorId"  (change)=contractorfirmnamedata($event) #contractorId='ngModel'required>
                           <option value="">Select Contractor Firm Name</option>
                           <option value="{{contractor.contractorId}}"
                              *ngFor="let contractor of contractNamesData |filterFirmName; let i = index;">{{contractor.conFirmName}}</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="form-row" >
                     <div class="form-group col-md-6">
                        <label for="startDate">Validity Start Date <span style="color: red">*</span></label>
                        <input type="date"  name="validStartDate" (change)="setStartDate($event)" class="form-control form-control-sm" id="startDate"
                        [ngModel]="contractorEmpModel.validStartDate | date:'yyyy-MM-dd'" min="0001-01-01" max="9999-12-31"  #validStartDate='ngModel' required>
                        <div class="help-block" *ngIf="validStartDate.errors?.required && (validStartDate.touched )"><small
                           style="color: red">Validity Start Date is required</small></div>
                     </div>
                     <div  class="form-group col-md-6">
                        <label for="endDate">Validity End Date <span style="color: red">*</span></label>
                        <input type="date" name="validEndDate" class="form-control form-control-sm" (change)="setEndDate($event)" id="endDate"
                        [ngModel]="contractorEmpModel.validEndDate | date:'yyyy-MM-dd'" min="0001-01-01" max="9999-12-31" #validEndDate='ngModel' required>
                        <div class="help-block" *ngIf="validEndDate.errors?.required && (validEndDate.touched )"><small
                           style="color: red">Validity End Date is required</small></div>
                     </div>
                  </div>
                  <div  class="form-row">
                     <div class="form-group col-md-6">
                     <div class="form-group">
                        <label for="subempcategory">Role</label><span style="color: red">*</span>
                        <select class="form-control form-control-sm" [(ngModel)]="selectedroleobj"
                            name="selectedroleobj" (change)="getobject($event)" #selectedCompanyob='ngModel' requried>
                            <option hidden [value]="selectUndefinedOptionValue">Select Role</option>
                            <option value="{{addcompany.rollMasterId}}"
                                *ngFor="let addcompany of roles; let i = index;">{{addcompany.rollName}}</option>
                        </select>
                     </div>
                    </div> 
                     <!-- company Supervisor -->
                     <div class="form-group col-md-6">
                        <label for="empId_supervisor">Company Supervisor<span style="color: red">*</span></label>
                        <select name="empId_supervisor" class="form-control form-control-sm" id="empId_supervisor" [(ngModel)]="contractorEmpModel.empId_supervisor" (change)="SetCompanySupervisor($event)" #empId_supervisor='ngModel' required>
                        <option value="" selected>Select Supervisor</option>
                        <option value="{{authority.empId}}" *ngFor="let authority of authorities; let i = index;">
                           {{authority.fullName}} {{authority.lastName}}
                        </option>
                        </select>
                        <div class="help-block" *ngIf="empId_supervisor.errors?.required && (empId_supervisor.touched )"><small
                           style="color: red">Company Supervisor is required</small></div>
                     </div>
                     <!-- /company Supervisor -->
                     <div class="form-group col-md-8" *ngIf="!hide_reporting_mgr">
                        <label for="nameofreportingSupervisor">Name of Reporting Contract Supervisor <span
                           style="color: red">*</span></label>
                        <select class="form-control form-control-sm" id="nameofreportingSupervisor" name="nameofreportingSupervisor" [(ngModel)]="contractorEmpModel.firstLevelReportingManager" (change)="SetManagers($event)">
                        <option value="" selected>Select</option>
                        <option value="{{supervisor.empId}}" *ngFor="let supervisor of contractor_supervisors; let i = index;">
                           {{supervisor.fullName}} {{supervisor.lastName}}
                        </option>
                        </select>
                     </div>
                  </div>
                  <!-- ====================Attendance Settings==================== -->
                  <hr>
                  <div class="data-title">
                     <h6>Attendance Settings</h6>
                  </div>
                  <div class="form-row">
                     <div class="form-group col-md-6">
                        <label for="shiftType">Shift Type <span style="color: red">*</span></label>
                        <select class="form-control form-control-sm" id="shiftType" name="shiftType"
                        [(ngModel)]="contractorEmpModel.shiftType" #shiftType='ngModel' required>
                        <option value="General">General</option>
                        <option value="Custom">Custom</option>
                        <!-- <option value="Roster">Roster</option> -->
                        </select>
                        <div class="help-block" *ngIf="shiftType.errors?.required && (shiftType.touched )"><small
                           style="color: red">Shift Type is required</small></div>
                     </div>
                     <div class="form-group col-md-6" *ngIf='contractorEmpModel.shiftType == "General"'>
                        <label for="shiftDetails">Shift Details <span style="color: red">*</span></label>
                        <select class="form-control form-control-sm" id="shiftDetails" name="shiftDetails"
                        [(ngModel)]="selectedshiftmastergroupobj" form="shiftdetails"
                        (change)="shiftgroupmastervalue($event)" required>
                        <option disabled value="">Select</option>
                        <option value="{{addshiftgroup.shiftMasterId}}"
                           *ngFor="let addshiftgroup of Shiftmastergroupdata; let i = index;">{{addshiftgroup.shiftName}}
                        </option>
                        </select>
                     </div>
                     <div class="form-group col-md-6" *ngIf='contractorEmpModel.shiftType == "Custom"'>
                        <label for="shiftGroup">Shift Group <span style="color: red">*</span></label>
                        <select class="form-control form-control-sm" id="shiftGroup" name="shiftGroup"
                        [(ngModel)]="selectedshiftgroupobj" name="shiftgrp" form="shiftgrp"
                        (change)="shiftgroupvalue($event)" required>
                        <option disabled value="">Select</option>
                        <option value="{{addshiftgroup.shiftGroupId}}"
                           *ngFor="let addshiftgroup of Shiftgroupdata; let i = index;"> {{addshiftgroup.shiftGroupName}}
                        </option>
                        </select>
                     </div>
                  </div>
                  <div class="form-row">
                     <!-- <div class="form-group col-md-6">
                        <label for="shiftDetails">WeeklyOff Type <span style="color: red">*</span></label>
                        <select class="form-control form-control-sm" id="shiftDetails">
                          <option>Select</option>
                          <option>Fix</option>
                          <option>Flexible</option>
                        </select>
                        </div> -->
                  </div>
                  <div class="form-group">
                     <label for="weeklyOffCal">WeeklyOff Calender <span style="color: red">*</span></label>
                     <select class="form-control form-control-sm" id="weeklyOffCal" [(ngModel)]="selectedWeeklyGroupobj"
                     name="calenderName" (change)="Weeklycalendervalue($event)" #selectedWeeklyGroup='ngModel' required >
                     <option disabled value="">Select</option>
                     <option value="{{addwcalender.weeklyOffCalenderMasterId}}"
                        *ngFor="let addwcalender of WeeklyOffcalendarData; let i = index;"> {{addwcalender.calenderName}}
                     </option>
                     </select>
                     <div class="help-block" *ngIf="selectedWeeklyGroup.errors?.required && (selectedWeeklyGroup.touched )"><small
                        style="color: red">WeeklyOff Calender  is required</small></div>
                  </div>

                  <!--Employee image upload here -->
                  <!-- <div class="form-row">
                  <div class="form-group col-md-6">
                     <label for="universalAccNo">Upload Photo  <span style="color: red">*</span></label>
                     
                  <div >
                  <input type="file" class="form-control" name="empimageURl[]" multiple id="file"   #name2="ngModel" 
                  [(ngModel)]="contractorEmpModel.empimageURl"  (change)="handleFileInputs($event.target.files)" style="height:3%;padding-bottom: 1px;
                  padding-top: 1px;" accept=".png, .jpg, .jpeg" >
                   <div>
                 
                  </div>
                  </div>
                 
               </div> 
               <div class="form-group col-md-6">
                  <img width="100%" *ngIf="empimage" [src]="empimage" class="image" style="width: 50%;
                
                  padding-left: 8px;" height="90%">
               </div>
            </div> -->
                  

                  <!-- ====================Government Documents Info Starts==================== -->
                  <hr>
                  <div class="data-title" >
                     <h6>Government Documents Information</h6>
                  </div>
                  <div class="form-row" >
                     <div class="form-group col-md-6" >
                        <label for="panNumber">PAN Number</label>
                        <input type="text" class="form-control form-control-sm" id="panNumber" maxlength="10"   
                        [(ngModel)]="contractorEmpModel.panNo"  alphaOnly  name="panNo" #panNumber='ngModel'>
                        
           
                     </div>
                     <div class="form-group col-md-6">
                        <label for="aadharNumber">Aadhaar Number</label>
                     <input type="text" class="form-control form-control-sm" id="aadharNumber" maxlength="12"
                     [(ngModel)]="contractorEmpModel.adharNo" name="adharNo" #aadharNumber='ngModel'  numbersOnly>
                  

                     </div>
                     <div class="form-group col-md-6">
                        <label for="pfNumber">PF Number</label>
                        <input type="text" class="form-control form-control-sm" id="pfNumber" 
                        [(ngModel)]="contractorEmpModel.pfNumber" name="pfNumber" #pfNumber='ngModel' maxlength="16">
                        

                     </div>
                     <div class="form-group col-md-6">
                        <label for="universalAccNo">UAN  Number</label>
                        <input type="text" class="form-control form-control-sm" id="universalAccNo" pattern="[a-zA-Z0-9]+"
                        [(ngModel)]="contractorEmpModel.universalAccNo" name="universalAccNo" #universalAccNo='ngModel' maxlength="12">
                       

                  </div>
                  </div>
              
                    
                     <div class="form-group col-md-6">
                        <label for="esicNumber">ESIC/WC/Medical Policy number</label>
                        <input type="text" class="form-control form-control-sm" id="esicNumber" pattern="[a-zA-Z0-9]+"
                        [(ngModel)]="contractorEmpModel.esicNumber" name="esicNumber" #esicNumber='ngModel' maxlength="17">
                       
                    
                    
                     </div>

                     <!--here is the upload photo-->
                     <div class="form-row">
                        <div class="form-group col-md-6">
                           <label for="universalAccNo">Upload Photo</label>
                           
                        <div >
                        <input type="file" class="form-control" name="empimageURl[]" multiple id="file"   #name2="ngModel" 
                        [(ngModel)]="contractorEmpModel.empimageURl"  (change)="handleFileInputs($event.target.files)" style="height:3%;padding-bottom: 1px;
                        padding-top: 1px;" accept=".png, .jpg, .jpeg">
                         <div>
                       
                        </div>
                        </div>
                       
                     </div> 
                     <div class="form-group col-md-6">
                        <img width="100%" *ngIf="empimage" [src]="empimage" class="image" style="width: 50%;
                      
                        padding-left: 8px;" height="90%">
                     </div>
                  </div>
                    
                  <!-- ====================Upload Various Documents Starts==================== -->
                  <!-- <hr> -->
                  
                 
                  <div class="form-row">
                     <div class="col">
                        <button class="btn btn-primary float-right" [disabled]="!heroForm.form.valid">Save</button>
                        <!--  -->
                       
                     </div>
                  </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>
