<div class="container-fluid">
  <div class="rep-bg">

    <div class="row">
      <div class="col-md-6">
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Attendance Report</strong> &nbsp;
        </h6>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="repdate float-right">{{myDate}}</div>
        <div class="qwe">
          <h6><span class="blu"><strong>Abbreviation:-</strong></span> HF : Half day, WD: Week Day, WFH: Work From Home, HO: Holiday , WO : Week Off , CO : Coff, OD : On Duty</h6>
        </div>
      </div>

      <div class="col-md-12">
        <div class="qwe">
          <h6><span class="blu"><strong>Attendance Report From Date: </strong></span>{{fromDate | date:'dd/MMM/yyyy'}}<span class="blu"><strong> To:</strong></span> {{toDate | date:'dd/MMM/yyyy'}}</h6>
        </div>
      </div>

      <div class="col-md-10" id="content">
        <table id="employees_attendance" class="table table-space table-borderless">
          <thead>
            <tr style="text-align: center !important;">
              <th colspan="13">{{compName}}</th>
            </tr>
            <tr style="text-align: center !important;">
              <th colspan="13">Attendance Report</th>
            </tr>
            <tr>
              <th colspan="13">From Date : {{fromDate | date :'dd/MMM/yyyy'}} To : {{toDate | date :'dd/MMM/yyyy'}}</th>
            </tr>
            <tr>
              <th colspan="13">Report Date: {{report_time}}</th>
            </tr>
            <tr class="table-secondary">
              <th *ngIf="marked9">Sr.No</th>
              <th *ngIf="marked_empid">Employee ID</th>
              <th *ngIf="marked">Employee Name</th>
              <th *ngIf="markedb">Location</th>
              <th *ngIf="markedd">Department</th>
              <th *ngIf="markedc">Employee Type</th>
              <th *ngIf="marked1">Shift</th>
              <th *ngIf="marked2">Attendance date</th>
              <th *ngIf="marked3">In Time</th>
              <th *ngIf="marked4">Out Time</th>
              <th *ngIf="marked5">Working Duration</th>
              <th *ngIf="marked6">Status of day</th>
              <th *ngIf="marked7">Status</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of attendance_data; let i = index ; let i = index">
            <tr>
               <td *ngIf="marked9">{{i+1}}</td>
               <td *ngIf="marked_empid">{{item.emp_details[0].empId}}</td>
              <td *ngIf="marked"><span>{{item.emp_details[0].fullName}} {{item.emp_details[0].lastName}}</span></td>
              <td *ngIf="markedb">{{item.emp_details[0].locationName}}</td>
              <td *ngIf="markedd">{{item.emp_details[0].deptName}}</td>
              <td *ngIf="markedc">{{item.emp_details[0].empTypeName}}</td>
              <td *ngIf="marked1"></td>
              <!-- {{item.emp_details[0].shiftName}} -->
              <td *ngIf="marked2" ></td>
              <td *ngIf="marked3"></td>
              <td *ngIf="marked4"></td>
              <td *ngIf="marked5"></td>
              <td *ngIf="marked6"></td>
              <td *ngIf="marked7"></td>
            </tr>
            <tr *ngFor="let temp of item.emp_details; let i = index">
              <td *ngIf="marked9"></td>
              <td *ngIf="marked_empid"></td>
              <td *ngIf="marked"><span></span></td>
              <td *ngIf="markedb"></td>
              <td *ngIf="markedd"></td>
              <td *ngIf="markedc"></td>
              <td *ngIf="marked1">{{temp.shiftName }}</td>
              <td *ngIf="marked2" >{{temp.attenDate }}</td>
              <td *ngIf="marked3"><span *ngIf="getInTime(temp.checkIn)">{{in_time}}</span></td>
              <td *ngIf="marked4"><span *ngIf="getOutTime(temp.checkOut)">{{out_time}}</span></td>
              <td *ngIf="marked5"><span *ngIf="timeConvert(temp.workDuration)">{{timeDuration}}</span></td>
              <td *ngIf="marked6">{{temp.statusOfDay}}</td>
              <td *ngIf="marked7">
                <span *ngIf="temp.requestDetails && temp.requestDetails == 'CL/2/SL' && temp.requestDetails != 'CL/1/SL'">SL/CL</span> 
                <span *ngIf="temp.requestDetails && temp.requestDetails == 'CL/1/SL' && temp.requestDetails != 'CL/2/SL'">CL/SL</span> 
                <span *ngIf="temp.requestDetails && temp.requestDetails != 'CL/2/SL' && temp.requestDetails != 'CL/1/SL'">{{temp.requestDetails}}</span> 
               
                <span *ngIf="!temp.requestDetails">{{temp.attendanceStatus}}</span>  
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-2">
        <div class="columnshead">
    
          <label class="container">
            <input type="checkbox" [(ngModel)]="srNoCheckbox" data-md-icheck (change)="toggleVisibility9($event)" />
           Sr.No
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked_empid" data-md-icheck (change)="toggleVisibilityID($event)" />
          Employee ID
            <span class="checkmark"></span>
          </label>
        
          <label class="container">
            <input type="checkbox" [(ngModel)]="nameCheckbox" data-md-icheck (change)="toggleVisibility($event)" />
            Employee Name
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="branchCheckbox" data-md-icheck (change)="toggleVisibilitybranch($event)" />
            Location
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="deptCheckbox" data-md-icheck (change)="toggleVisibilitydept($event)" />
            Department
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="catCheckbox" data-md-icheck (change)="toggleVisibilitycat($event)" />
            Employee Type
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="shiftcheckbox" data-md-icheck (change)="toggleVisibility1($event)" />
            shift
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="attendenceCheckbox" data-md-icheck
              (change)="toggleVisibility2($event)" />
             Attendence Date
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="intimeCheckbox" data-md-icheck (change)="toggleVisibility3($event)" />
            In-time
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="outtimeCheckbox" data-md-icheck (change)="toggleVisibility4($event)" />
            Out-time
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="workingCheckbox" data-md-icheck (change)="toggleVisibility5($event)" />
            working Duration
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="statusdayChecckbox" data-md-icheck
              (change)="toggleVisibility6($event)" />
            status of The day
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="checkbox" [(ngModel)]="statusChecckbox" data-md-icheck (change)="toggleVisibility7($event)" />
            status
            <span class="checkmark"></span>
          </label>

          <button type="button" class="btn btn-warning float-right m-3" (click)="capturePdf()">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Export Report PDF</button>
          <button type="button" class="btn btn-warning float-right m-3" (click)="exportAsXLSX('employees_attendance')">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i> Export Report Excel</button>
         
        </div>
      </div>
    </div>
  </div>
</div>