<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <div *ngIf="whoCliked=='EMP'" class="edit">
                <a [routerLink]="['/layout/emppims/empdetails']" (click)="click()" [queryParams]="{q:'others'}">Edit
                  Details</a>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="data-title">
                    <h6>Government Document's</h6>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="othersData.panNo" class="col-md-6">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>PAN Number</h6>
                      <p>{{othersData.panNo}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="othersData.adharNo" class="col-md-6">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Aadhar Number</h6>
                      <p>{{othersData.adharNo}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div *ngIf="othersData.universalAccNo" class="col-md-6">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Universal Account Number</h6>
                      <p>{{othersData.universalAccNo}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="othersData.drivingLicenseNo" class="col-md-6">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Driving License Number</h6>
                      <p>{{othersData.drivingLicenseNo}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div *ngIf="othersData.passportNo" class="col-md-6">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Passport Number</h6>
                      <p>{{othersData.passportNo}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="othersData.socialSecurityNo" class="col-md-6">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Social Security Number</h6>
                      <p>{{othersData.socialSecurityNo}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div *ngIf="othersData.citizenShip" class="col-md-6">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Citizenship</h6>
                      <p>{{othersData.citizenShip}}</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6" *ngIf="areYouNri">
                  <div class="empdetails">
                    <div class="infocenter">
                      <h6>Are You a NRI?</h6>
                      <p *ngIf="areYouNri == true">Yes</p>
                      <p *ngIf="areYouNri == false">No</p>
                    </div>
                  </div>
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-md-12">
                  <div class="data-title">
                    <h6>Bank Details</h6>
                  </div>
                </div>
              </div>

              <div class="" *ngFor="let bank of empBankDetailsResDtoList">
                <div class="row border">
                  <div *ngIf="bank.nameOfAccHolder" class="col-md-6">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Name Of Account Holder</h6>
                        <p>{{bank.nameOfAccHolder}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="bank.bankName" class="col-md-6">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Bank Name</h6>
                        <p>{{bank.bankName}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="bank.accType" class="col-md-6">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Account Type</h6>
                        <p>{{bank.accType}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="bank.branchAddr" class="col-md-6">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Branch Address</h6>
                        <p>{{bank.branchAddr}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="bank.accountNumber" class="col-md-6">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Account Number</h6>
                        <p>{{bank.accountNumber}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="bank.ifscCode" class="col-md-6">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>IFSC code</h6>
                        <p>{{bank.ifscCode}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="bank.city" class="col-md-6">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>City</h6>
                        <p>{{bank.city}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="bank.swiftCode" class="col-md-6">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Swift code</h6>
                        <p>{{bank.swiftCode}}</p>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="bank.creditcard" class="col-md-6">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Credit Card Number</h6>
                        <p>{{bank.creditcard}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="data-title">
                    <h6>Upload Various Document Details</h6>
                  </div>
                </div>
              </div>
              <div class="" *ngFor="let item of empDocMasterList">
                <div class="row border">
                  <div *ngIf="item.docName" class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>Document Name</h6>
                        <p>{{item.docName}}</p>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="item.fileName" class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>File Name</h6>
                        <p>{{item.fileName}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="empdetails">
                      <div class="infocenter">
                        <h6>View</h6>
                        <p><i class="fa fa-eye btn" (click)="open(item)" data-toggle="modal" title="View Document"></i>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
