<div class="container">
  <div class="page">
    <div class="page__demo">
      <div class="main-container page__container">

        <div class="timeline">
          <span class="timeline__year">{{loggedUser.compName}}</span>
          <div class="timeline__group mt-2" *ngFor="let data of empHistoryData; let i = index;">

            <span class="timeline__year" *ngIf="i == 0">{{data.dateOfJoining | date : 'yyyy'}}</span>
            <!-- <span class="timeline__year" *ngIf="i != 0 && i != 1">{{data.modifiedDate | date : 'yyyy'}}</span> -->

            <div class="timeline__box" *ngIf="i == 0">
              <div class="timeline__date">
                <span class="timeline__day" *ngIf="i == 0">{{data.dateOfJoining | date : 'dd'}}</span>
                <span class="timeline__month" *ngIf="i == 0">{{data.dateOfJoining | date : 'MMM'}}</span>
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>I Joined {{loggedUser.compName}} as {{empHistoryData[1].descName}} at
                    {{empHistoryData[1].locationName}}</p>
                </div>
              </div>
            </div>

            <div class="timeline__box" *ngIf="i == 0">
              <div class="timeline__date">
                <span class="timeline__day" *ngIf="i == 0">{{data.dateOfConfDate | date : 'dd'}}</span>
                <span class="timeline__month" *ngIf="i == 0">{{data.dateOfConfDate | date : 'MMM'}}</span>
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>I have got my job confirmation</p>
                </div>
              </div>
            </div>

            <div class="timeline__box " *ngIf="!i == 0 && !i == 1">
              <div class="timeline__date">
                <span class="timeline__day" *ngIf="i == 0">{{data.createdDate | date : 'dd'}}</span>
                <span class="timeline__day" *ngIf="i != 0">{{data.modifiedDate | date : 'dd'}}</span>
                <span class="timeline__month" *ngIf="i == 0">{{data.createdDate | date : 'MMM'}}</span>
                <span class="timeline__month" *ngIf="i != 0">{{data.modifiedDate | date : 'MMM'}}</span>
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>Changed designation to {{data.descName}}.</p>
                </div>
              </div>
            </div>
           
            <div class="timeline__box" *ngIf="data.locationName">
              <div class="timeline__date">
                <span class="timeline__day">Branch </span>
               </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>{{data.locationName}}</p>
                </div>
              </div>
            </div>
            
            <div class="timeline__box" *ngIf="data.deptName">
              <div class="timeline__date">
                <span class="timeline__day" >Department</span>
               </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>{{data.deptName}}.</p>
                </div>
              </div>
            </div>
            <div class="timeline__box" *ngIf="data.subDeptName">
              <div class="timeline__date">
                <span class="timeline__day" >Sub-department Name</span>            
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>{{data.subDeptName}}.</p>
                </div>
              </div>
            </div>
            <div class="timeline__box" *ngIf="data.empTypeName">
              <div class="timeline__date">
                <span class="timeline__day" >Employement Category</span>
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>{{data.empTypeName}}.</p>
                </div>
              </div>
            </div>
            <div class="timeline__box" *ngIf="data.subEmpTypeName">
              <div class="timeline__date">
                <span class="timeline__day" >Sub-employement category</span>             
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>{{data.subEmpTypeName}}.</p>
                </div>
              </div>
            </div>
            <div class="timeline__box" *ngIf="data.employmentType">
              <div class="timeline__date">
                <span class="timeline__day" >Employement type</span>              
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>{{data.employmentType}}.</p>
                </div>
              </div>
            </div>
            <div class="timeline__box" *ngIf="data.subEmploymentType">
              <div class="timeline__date">
                <span class="timeline__day" >Sub-employment type</span>           
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>{{data.subEmploymentType}}</p>
                </div>
              </div>
            </div>
            <div class="timeline__box" *ngIf="data.skillCatagory">
              <div class="timeline__date">
                <span class="timeline__day" >Skills Category</span>
               </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>{{data.skillCatagory}}</p>
                </div>
              </div>
            </div>
            <div class="timeline__box" *ngIf="data.maritialStatus">
              <div class="timeline__date">
                <span class="timeline__day">Marital Status</span>
                </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <span *ngIf="data.maritialStatus=='M'">Married</span>
                  <span *ngIf="data.maritialStatus=='S'">Single</span>
                  <span *ngIf="data.maritialStatus=='O'">Other</span>
                </div>
              </div>
            </div>
            <div class="timeline__box" *ngIf="i == 3">
              <div class="timeline__date">
                <span class="timeline__day" >Leaving Date</span>              
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p *ngIf="data[0]?.dateOfLeaving"> {{data[0]?.dateOfLeaving}}</p>
                </div>
              </div>
            </div>
            <div class="timeline__box" *ngIf="i == 3 " >
              <div class="timeline__date">
                <span class="timeline__day" >Resignation Date</span>              
              </div>
              <div class="timeline__post">
                <div class="timeline__content">                
                  <p>{{data[0]?.dateOfResignation}}</p>
                </div>
              </div>
            </div>  
            <div class="timeline__box" *ngIf="i == 4 ">           
              <div class="timeline__date1" >
                <span class="timeline__day" >Current Address</span>             
              </div>
              <div class="timeline__post">
                <div class="timeline__content">                  
                  <p ><span style="color: rgb(28, 31, 204);">buildingNoCurrent</span> : {{data[0].buildingNoCurrent }}</p>
                  <p ><span style="color: rgb(28, 31, 204);">socityOrLaneCurrent</span> :  {{data[0].socityOrLaneCurrent }}</p>
                  <p ><span style="color: rgb(28, 31, 204);">areaCurrent</span> :  {{data[0].areaCurrent }}</p>
                  <p ><span style="color: rgb(28, 31, 204);">cityorTahshilCurrent</span> :  {{data[0].cityorTahshilCurrent }}</p>
                  <p ><span style="color: rgb(28, 31, 204);">stateCurrent</span> :  {{data[0].stateCurrent }}</p>
                  <p ><span style="color: rgb(28, 31, 204);">pincodeCurrent</span> :  {{data[0].pincodeCurrent }}</p>
                </div>
              </div>
            </div>
                  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>