<div class="row justify-content-center">
    <div class="col-md-8">
      <div class="data-title">
        <h6>Salary Details</h6>
      </div>
    </div>
  </div>
  
    <div class="row justify-content-center">
        
        <div class="col-md-8">
            <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
              <div class="form-row">
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="basic">Applicable Date</label><span style="color: red">*</span>
                          <input class="form-control form-control-sm" type="date" id="applicableDate" name="applicableDate" [ngModel]="applicableDate | date:'yyyy-MM-dd'" (ngModelChange)="applicabledate($event)" required>
                      </div>
                      <!-- <div class="help-block" *ngIf="applicableDate.errors?.required && (applicableDate.touched || f.submitted)"><small style="color: red">Applicable Date required</small></div> -->
            
                  </div>
                 
              </div>

              <!-- <div class="form-row">
                  <div class="col">
                      <div class="form-group">
                          <label for="gr">Pay Head Master</label>
                          
                          <input class="form-control form-control-sm" type="text" name="payhead" [(ngModel)]="model.payhead">
                      </div>
                  </div>
                  <div class="col">
                      <div class="form-group">
                          <label for="anyspl">Ammount</label>
                          <input class="form-control form-control-sm" type="number" name="monthdeduct" [(ngModel)]="model.monthdeduct" (keydown)="handleKeyDown($event)">
                      </div>
                  </div>
              </div> -->


              <div class="col-md-12">
                    <table class="table table-bordered">
                      <thead class="theadblue">
                        <tr>
                          <th>Components in salary</th>
                          <th>Percentage</th>
                          <th style="width:20%">Per Month</th>
                          <th>Per Annum</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr *ngFor="let item of payheadmasterdata; let i = index">
                          <td (click)="rowClickFun($event)">{{item.payRollHeadName}}</td>
                          <td>{{item.payRollHeadType}}</td>
                          <td>
                            {{item.name}}
                            <input class="form-control form-control-sm" type="number" pattern="^(\(?\+?[0-9]*\)?)?[0-9_\(\)]*$" [name]="'amount'+i" #amount='ngModel' [(ngModel)]="item.amount" (ngModelChange)="calculatesalary()">
                             <div class="help-block" *ngIf="amount.errors?.pattern && (amount.touched || f.submitted)"><small style="color: red">Enter Number only and Special Character not allowed</small></div> 
            
                          </td>
                          
                          <td *ngIf = 'item.name != undefined; else thereVal'></td>
                          <ng-template #thereVal>{{item.name}}</ng-template>
                        </tr> -->
                        <tr>
                          <td>
                            Basic
                          </td>
                          <td>
                            0
                          </td>
                           <td>
                            <input type="text" class="form-control form-control-sm" id="permonthamount">
                          </td>
                          <td>
                            0
                          </td>
                        </tr>
                        <tr>
                          <td>
                            HRA
                          </td>
                          <td>
                            0
                          </td>
                          <td>
                            <input type="text" class="form-control form-control-sm" id="permonthamount">
                          </td>
                          <td>
                            0
                          </td>
                        </tr>
                        <tr>
                          <td>
                            DA
                          </td>
                          <td>
                            0
                          </td>
                          <td>
                            <input type="text" class="form-control form-control-sm" id="permonthamount">
                          </td>
                          <td>
                            0
                          </td>
                        </tr>
                        <tr>
                          <td colspan="4" class="text-right">
                           <strong>10000/-</strong>
                          </td>
                        
                        </tr>


                        <tr class="theadblue">
                          <td colspan="4" class="text-left">
                           <strong>Statutory Deductions</strong>
                          </td>
                        
                        </tr>

                        <tr>
                          <td>
                            PF
                          </td>
                          <td>
                            0
                          </td>
                           <td>
                            0
                          </td>
                          <td>
                            0
                          </td>
                        </tr>
                        <tr>
                          <td>
                            ESI
                          </td>
                          <td>
                            0
                          </td>
                           <td>
                            0
                          </td>
                          <td>
                            0
                          </td>
                        </tr>
                        <tr>
                          <td>
                            PT
                          </td>
                          <td>
                            0
                          </td>
                           <td>
                            0
                          </td>
                          <td>
                            0
                          </td>
                        </tr>
                        <tr>
                          <td colspan="4" class="text-right">
                           <strong>1500/-</strong>
                          </td>
                        </tr>
                        <tr class="theadblue">
                          <td colspan="4" class="text-left">
                           <strong>Employer Contribution</strong>
                          </td>
                        
                        </tr>
                        <tr>
                          <td>
                            Employer PF contribution
                          </td>
                          <td>
                            0
                          </td>
                           <td>
                            0
                          </td>
                          <td>
                            0
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Employer ESIC contribution
                          </td>
                          <td>
                            0
                          </td>
                           <td>
                            0
                          </td>
                          <td>
                            0
                          </td>
                        </tr>
           
                        <tr>
                          <td colspan="4" class="text-right">
                           <strong>236589/-</strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Bonus
                          </td>
                          <td>
                          8.33
                          </td>
                           <td>
                            
                          </td>
                          <td>
                          
                          </td>
                        </tr>

                        <tr class="green">
                          <td colspan="4" class="text-right">
                           <strong>256689/-</strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row  p-2">

                   
                    <div class="col-md-12">
                      <div class="float-right pr-2">
                          <h5>Total: <strong>{{totalsalary}}/-</strong></h5>
                      </div>
                     
                      </div>
                   
                  </div>
                  </div>

              <div class="form-row">
                  <div class="col">
                      <div class="backbtn">
                          <!-- <a>Back</a> -->
                      </div>
                  </div>
  
                  <div class="col">
                      <button class="btn btn-primary float-right" type="submit" [disabled]='f.invalid' (click)="storeInfo()">Save</button>
                  </div>
              </div>
         </form>
        </div>
    </div>