/* TABS */


.table .thead-dark2 th {
  color: #fff !important;
  background: -webkit-linear-gradient(top, rgb(34, 52, 109) 0%,rgb(66, 87, 152) 50%,rgb(58, 79, 146) 51%,rgb(6, 18, 60) 100%) !important;
  border-color: #32383e !important;
}
table.dataTable.no-footer {
border-bottom: 0px solid #111 !important;
}
.main-search{
width: 100%;
margin:auto;
}
.filter{
padding-right:.9375rem;
float:right;
width: 40%;
}
.has-search .form-control {
margin: auto;

padding-left: 2.375rem;
}
.act-emp{
color:#3289ed;
padding-left:.9375rem;
}
.image-cover {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.table td, .table th {
  text-align: center;
  padding: .75rem;
  vertical-align: middle !important;
}
tr{
  border-bottom: 1px solid whitesmoke;
}


.viewprev{
  float:right;
}
.fa-cogs{
  font-size:16px;
  color:rgb(255, 208, 0);
}
.btn-outline-info{
  float:right;
}



.thead-dark{
    background: #444444;
}



.addrole{
  height:100%;
  background-color: #020d3417;
  border-radius: 1rem;
  padding:1rem;
}

.rolesetting{
  height:100%;
  background-color: rgb(249, 249, 249);
  border-radius: 1rem;
  padding:1rem;
}
.headerrow{
  color:white;
  background: #212f61 !important;
}
/* .center{
  text-align: center;
} */
.input-group-text {
  background-color: #9ce5fd !important;
  border: 1px solid #a8adb4 !important;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.fa-search[_ngcontent-c6] {
  padding: 0 !important;
  color: #ffffff !important;
}

.input-group-text {
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  -webkit-box-align: center;
  /* -ms-flex-align: center; */
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  /* background-color: #e9ecef;
  border: 1px solid #ced4da; */
  border-radius: .25rem;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.main-search[_ngcontent-c6] {
  width: 100%;
  margin: auto;
}

.customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    
    .customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    }
    
    .checkmark {
    position: absolute;
    top: -5px;
    left: 20%;
    height: 20px;
    width: 20px;
    background-color: #b9b9b9;
    border-radius: 5px;
    }
    
    .customcheck:hover input ~ .checkmark {
    background-color: #ccc;
    }
    
    .customcheck input:checked ~ .checkmark {
    background-color: #02cf32;
    border-radius: 5px;
    }
    
    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }
    
    .customcheck input:checked ~ .checkmark:after {
    display: block;
    }
    
    .customcheck .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    ul{
        list-style: none;
    }
    .persnl-options{

        padding-left:5px !important;
    }
    .tab-bg{
        min-height: 100%;
        background: #f7f7f7;
        border-radius: 1rem;
    }


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      tr{
        background: whitesmoke;
        border-bottom:1px solid white;
      }
      td, th {
        text-align: left;
        padding: 8px;
      }
      
  /* =================SLIDER TOGGLE============================================ */
      .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 10px;
      }
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: -2px;
        bottom: -4px;
        background-color: #ffbc00;
        transition: .4s;
      }
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
        transform: translateX(28px);
      }
      .lang-toggle{
        padding-left:1rem;
      }
      
      
      input[type="radio"] + label {
        position: relative;
        cursor: pointer;
        padding-right: 10px;
        margin:5px;
        padding-left: 25px;
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"] + label:before {
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background: #1565C0;
        -moz-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
        -webkit-box-shadow: inset 0 0 0 18px rgb(67, 171, 255);
        box-shadow: inset 0 0 0 18px #E0E0E0;
      }
      input[type="radio"] + label:before, input[type="radio"] + label:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      input[type="radio"]:checked + label:before {
        -moz-box-shadow: inset 0 0 0 4px #E0E0E0;
        -webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
        box-shadow: inset 0 0 0 4px #E0E0E0;
      }
      input[type="radio"]:checked + label:after {
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        -moz-animation: ripple 1s none;
        -webkit-animation: ripple 1s none;
        animation: ripple 1s none;
      }
      input[type="radio"] + label:after {
        top: 49%;
        left: 9px;
        width: 54px;
        height: 54px;
        opacity: 0;
        background: rgba(255, 255, 255, 0.3);
        -moz-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
      }
      /* =================SLIDER TOGGLE============================================ */
      .thead-dark{
        background-color: rgb(206, 206, 206);
      }
      .white-row{
        background-color: rgb(255, 255, 255);
      
      }

.selectbox{
  width:100%;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.selectbox1{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: 10px;
  width:100%;
overflow-x: auto;
  height:250px;
  background: rgb(240, 240, 240);
}
.carousel-control-prev{
  display: none;
}
.carousel-control-next{
  display: none;
}

.fa-chevron-circle-left, .fa-chevron-circle-right{
  padding:10px;
  font-size:1.5rem;
}

.selectedrole{
  margin:5px;
background: #111;
padding:10px;
color:white;
border-radius: 5px;
}
.card-header{
  text-transform: uppercase;
  background: linear-gradient(60deg,#439ad3,#2980B9) !important;
  text-align: center;
  color:white;
}

.table[_ngcontent-c5] td[_ngcontent-c5], .table[_ngcontent-c5] th[_ngcontent-c5] {
  text-align: left !important;
  padding: .75rem;
  vertical-align: middle !important;
}

.fa-minus-circle{
  color:rgb(80, 80, 80);
  }
.fa-minus-circle:hover{
color:rgb(192, 0, 0);
}
.nodata{
  text-align: center;
  font-size: initial;
}
.activeemployee{
  background: #72cdd0;
}
.scrollcontent{
  background: white;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  max-height: 150px;
  overflow-x: auto;
}
.disable-user-role{
  opacity: 0.5;
}