<div *ngIf="rolename=='User'">
  <app-empdashboard></app-empdashboard>
</div>
<div *ngIf="rolename=='HR'">
  <app-hr-dashboard></app-hr-dashboard>
</div>
<div *ngIf="rolename=='Admin'">
  <app-admin-dashboard></app-admin-dashboard>
</div>
<div *ngIf="rolename=='Contractor'">
  <app-contractor-dashboard></app-contractor-dashboard>
</div>
<div *ngIf="rolename=='HOD'">
  <app-hod-dashboard></app-hod-dashboard>
</div>
<div *ngIf="rolename=='Supervisor'">
  <app-supervisor-dashboard></app-supervisor-dashboard>
</div>
<!-- <div *ngIf="rolename=='Contractor'">
  <app-supervisor-dashboard></app-supervisor-dashboard>
</div> -->

<ngx-spinner
bdOpacity = 0
size = "medium"
color = "#fff212"
type = "ball-grid-pulse"
[fullScreen] = "true"
>
<div class="loderrlog">
  <h6>Believe us, its worth waiting...</h6>
</div>
</ngx-spinner>