<div class="barchart" *ngIf="chartFlag">
  <div class="chartbox">
    <div style="display: block">
      <canvas 
      baseChart [datasets]="barChartData" 
      [labels]="barChartLabels" 
      [options]="barChartOptions" 
      [colors]="barChartColors"
        [legend]="barChartLegend" 
        [chartType]="barChartType" 
        (chartHover)="chartHovered($event)" 
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>

<div class="barchart" *ngIf="!chartFlag">
  <div class="chartbox">
    <div style="display: block">
      <canvas 
      baseChart [datasets]="barChartData" 
      [labels]="barChartLabels" 
      [options]="barChartOptions" 
      [colors]="barChartColors"
        [legend]="barChartLegend" 
        [chartType]="barChartType" 
        (chartHover)="chartHovered($event)" 
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>