<!-- <div class="container-fluid">
    <app-emppimsbasicform></app-emppimsbasicform>
</div> -->



<div class="container-fluid">


  <nav [ngClass]="themeColor" class="nav nav-pills nav-fill">
    <a class="nav-item nav-link pimshr-nav active" id="emppersonalinfo-tab" data-toggle="tab" href="#emppersonalinfo"
      role="tab" aria-controls="emppersonalinfo" aria-selected="true">
      <span class="tabcounts">01</span>
      <br>
      <span class="pimstabsname">Personal Information</span>
    </a>
    <!-- <a class="nav-item nav-link pimshr-nav" id="empeducation-tab" data-toggle="tab" href="#empeducation" role="tab" aria-controls="empeducation"
      aria-selected="false">
      <span class="tabcounts">02</span>
      <br>
      <span class="pimstabsname">Education & Experience Details</span>
    </a> -->

    <a class="nav-item nav-link pimshr-nav" id="contactDetails-tab" data-toggle="tab" href="#experiencedetails"
      role="tab" aria-controls="experiencedetails" aria-selected="false">
      <span class="tabcounts">02</span>
      <br>
      <span class="pimstabsname">Contact Details</span>
    </a>

    <a *ngIf="!loggedUser.employeeStatus" class="nav-item nav-link pimshr-nav" id="empdetails-tab" data-toggle="tab" href="#empdetails" role="tab"
      aria-controls="empdetails" aria-selected="false">
      <span class="tabcounts">03</span>
      <br>
      <span class="pimstabsname">Employee Official</span>
    </a>
    <!-- <a class="nav-item nav-link pimshr-nav" id="contactDetails-tab" data-toggle="tab" href="#experiencedetails" role="tab" aria-controls="experiencedetails"
      aria-selected="false">
      <span class="tabcounts">04</span>
      <br>
      <span class="pimstabsname">Contact Details</span>
    </a> -->

  

    <a class="nav-item nav-link pimshr-nav" id="empeducation-tab" data-toggle="tab" href="#empeducation" role="tab"
      aria-controls="empeducation" aria-selected="false">
      <span class="tabcounts">04</span>
      <br>
      <span class="pimstabsname">Education & Experience Details</span>
    </a>

    <a class="nav-item nav-link pimshr-nav" id="others-tab" desabled data-toggle="tab" href="#otherdetails" role="tab"
    aria-controls="otherdetails" aria-selected="false">
    <span class="tabcounts">05</span>
    <br>
    <span class="pimstabsname">Others</span>
  </a>
  
  </nav>
  <div class="tab-content" id="myTabContent">

    <!-- =================EMP PERSONAL DETAILS==================== -->

    <div class="tab-pane fade show active" id="emppersonalinfo" role="tabpanel" aria-labelledby="emppersonalinfo-tab">
      <div class="container">
        <div class="p-3">
          <app-emppersonalinfo (someEvent)="goToEducation($event)"></app-emppersonalinfo>
        </div>
      </div>
    </div>

    <!-- =================EMP PERSONAL DETAILS==================== -->

    <!-- =================EXPERIENCE DETAILS==================== -->
    <div class="tab-pane fade" id="experiencedetails" role="tabpanel" aria-labelledby="experience-tab">

      <div class="container">
        <div class="p-3">
          <app-experiencedetails (someEvent3)="goToOthersDetails($event)"></app-experiencedetails>
        </div>
      </div>
    </div>
    <!-- =================EXPERIENCE DETAILS==================== -->

    <!-- =================EMPLOYEE DETAILS==================== -->
    <div class="tab-pane fade" id="empdetails" role="tabpanel" aria-labelledby="empdetails-tab">

      <div class="container">
        <div class="p-3">
          <app-empdetails (someEvent2)="goToExpDetails($event)"></app-empdetails>
        </div>
      </div>

    </div>
    <!-- =================EMPLOYEE DETAILS==================== -->

    <!-- =================EMP EDUCATION DETAILS==================== -->

    <div class="tab-pane fade" id="empeducation" role="tabpanel" aria-labelledby="empeducation-tab">
      <div class="container">
        <div class="p-3">
          <app-empeducation (someEvent1)="goToEmpDetails($event)"></app-empeducation>
        </div>
      </div>
    </div>

    <!-- =================EMP EDUCATION DETAILS==================== -->

    <!-- =================OTHER DETAILS==================== -->
    <div class="tab-pane fade" id="otherdetails" role="tabpanel" aria-labelledby="other-tab">

      <div class="container">
        <div class="p-3">
          <app-otherdetails></app-otherdetails>
        </div>
      </div>

    </div>
    <!-- =================OTHER DETAILS==================== -->
  </div>
</div>