<p>
  leave-taken-report works!
</p>
<div class="container-fluid">

  <div id="content" class="rep-bg">

    <div class="row">
      <div class="col-md-6">

        <!-- <img src="assets/rieter_logoL.png" alt="alleviz"> -->
        <br>
        <h6 class="attrep">
          <strong class="blu">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Leave Taken Report </strong> &nbsp;

        </h6>
      </div>
    </div>


    <div class="row">

      <div class="col-md-12">
        <!-- <div class="repdate float-right">{{myDate}}</div> -->
        <!-- <div class="qwe">
            <h6><span class="blu"><strong>Abbreviation:-</strong></span> WD : Working Day, WO : Weekly Off, HO : Holiday Off,<span></span> WOH : Week Off And Holiday</h6>
        </div> -->
      </div>

      <div class="col-md-12">
        <!-- <div class="repdate float-right">{{myDate}}</div> -->
        <div class="qwe">
          <h6><span class="blu"><strong>Leave Taken Report From Date: </strong></span>{{fromDate}}<span
              class="blu"><strong> To:</strong></span> {{toDate}}</h6>
        </div>
      </div>

      <div id="content" class="col-md-10">
        <table class="table table-space table-borderless">
          <thead>
            <tr class="table-secondary">
              <!-- <th>Sr No</th> -->
              <th>Employee ID</th>
              <th>Employee</th>
              <th>Department</th>
              <th>Employee Type Name</th>
              <th *ngFor="let data of totalLeaveList">{{data.leaveName}}</th>
              <th *ngFor="let obj of dummyHeaders">   {{obj}}
             <!-- <tr >
               
               <th>{{obj.leaveName}}</th>   -->
              <!-- <th></th> -->
            
          <!-- </tr> -->
        </th>
       
            <!-- <th *ngFor="let data of dummyHeaders">

                {{data}} </th> -->

             
           
            <!-- <th>UnPaid
           <tr>
                <th>Absent +     
                Unpaid Leave</th>    
              </tr>
              </th>
            -->
            <th>Casual Leave</th>
            <th>Privlege Leave</th>
            <th>Sick Leaves</th>
            
            <th>Compensatory Off</th>
            <th>Total</th>
            
            </tr>
          </thead>
          <!-- <tbody *ngFor="let report of AllReport;  let i = index">
            <tr *ngFor="let item of report.leaveTakenReportInCountResDtos; let i = index">
              <td>{{ i +i }}</td>
              <td>{{ report.reportEmpNameAndIdResDto.fullName }} {{ report.reportEmpNameAndIdResDto.lastName }}</td>
              <td>{{report.reportEmpNameAndIdResDto.deptName}}</td>


            </tr>
          </tbody> -->


          <!-- <tbody>
          
            
              <tr *ngFor="let report of AllRegisterReportData; let i = index">
               
                  <td><span>{{ report.reportEmpNameAndIdResDto.fullName }} {{ report.reportEmpNameAndIdResDto.lastName }}</span></td>
              
                  <td><span> {{ report.reportEmpNameAndIdResDto.deptName }} </span></td>
                  <td><span>{{ report.reportEmpNameAndIdResDto.empId }}</span></td>
                  <td><span>{{ report.reportEmpNameAndIdResDto.empTypeName }}</span></td>
                  <td *ngFor="let data of report.leaveTakenReportInCountResDtos; let j=index;let ev = even;let od = odd">
                    <span *ngIf="ev">
                    {{data.usedLeaves}} 
                    </span> 
  
                    <span *ngIf="od">
                      {{data.currentLeaves}} 
                      </span>
                  </td>
                </tr>
  
          </tbody> -->


          <tbody>
          <tr *ngFor="let report of AllReport;  let i = index">
              <!-- <tr *ngFor="let item of report.reportEmpNameAndIdResDto; let i = index"> -->
               <!-- <td>{{ i +i }}</td> -->
               <td>{{report.reportEmpNameAndIdResDto.empId}}</td>
                <td>{{ report.reportEmpNameAndIdResDto.fullName }} {{ report.reportEmpNameAndIdResDto.lastName }}</td>
                <td>{{report.reportEmpNameAndIdResDto.deptName}}</td>
                <td>{{report.reportEmpNameAndIdResDto.empTypeName}}</td>
               
  
  
              </tr>
            </tbody>

        </table>
      </div>




    </div>


  </div>
</div>