<a class="float" title="Fullscreen" (click)="openFullscreen()">
  <img src="assets/expand.svg">
  </a>
<div class="container" #fullScreen>

  <div class="row">
    <div class="col-md-3 col-xs-12">

      <div class="">
        <div class="white-bg-left">
          <div class="userdt2">
              <div class="usr-pic">
                  <img
                 src= "{{profilepic}}"
                    alt="">
                </div>
                
          </div>
          <div class="user-data full-width">
              <div class="user-specs">
                  <h3>{{firstname}} {{lastname}}</h3>
                  <span>{{designation}}</span>
                  <div class="hrline"></div>
                </div>
          </div>
          <div class="followdetails text-center">
              <h3>37</h3>
              <span>Followers</span>
              <div class="hrline"></div>
              <h3>21</h3>
              <span>Following</span>
           </div>
        </div>

        <div class="white-bg-left scrollbox w3-animate-top">
            <ul class="list-group">

                <li class="list-group-item"> 
                    <div class="usr-pic-comment text-center">
                    <h5>Followers (37)</h5>
                   </div> 
                  
                 </li>

                <li class="list-group-item"> 
                   <div class="usr-pic-comment">
                    <img
                      src="https://in.bmscdn.com/iedb/artist/images/website/poster/large/ashok-saraf-246-24-03-2017-12-31-06.jpg"
                      alt="">
                  </div> 
                  <span class="flist">Sunil Chavan</span>
                </li>

                <li class="list-group-item"> 
                    <div class="usr-pic-comment">
                     <img
                       src="https://img.timesnownews.com/story/1537285369-Aamir_Khan.jpg?d=400x300"
                       alt="">
                   </div> 
                   <span class="flist">Suhas Mane</span>
                 </li>

                 <li class="list-group-item"> 
                    <div class="usr-pic-comment">
                     <img
                       src="https://225508-687545-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2019/01/Tusshar-Kapoor.jpg"
                       alt="">
                   </div> 
                   <span class="flist">Tushar Patil</span>
                 </li>

                 <li class="list-group-item"> 
                    <div class="usr-pic-comment">
                     <img
                       src="http://gallinews.com/admin/cover_image/rajpal_11.jpg"
                       alt="">
                   </div> 
                   <span class="flist">Sopan Yadav</span>
                 </li>

                 <li class="list-group-item"> 
                    <div class="usr-pic-comment">
                     <img
                       src="https://in.bmscdn.com/iedb/artist/images/website/poster/large/hema-malini-810-18-09-2017-04-12-45.jpg"
                       alt="">
                   </div> 
                   <span class="flist">Hema Joshi</span>
                 </li>

              
              </ul>

        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="white-bg user-box">
        <div class="p-2">
          <div class="form-group">
            <label for="comment">Whats in your mind:</label>
            <textarea class="form-control" rows="2" id="comment"></textarea>
          </div>
          <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-picture-o" aria-hidden="true"></i>
            Photo/Video</button>

          <button type="button" class="btn btn-outline-primary btn-sm float-right"><i class="fa fa-paper-plane"
              aria-hidden="true"></i> Post</button>
        </div>

      </div>

      <div class="white-bg p-0">
        <div class="p-3">
          <div class="row">
            <div class="col-md-2">
              <div class="usr-pic-news">
                <img
                  src="https://static1.squarespace.com/static/5be9ee2c5417fc38c149f526/t/5bff1253c2241be06e398a4c/1550500476360/Lauries-Facebook-Profile-Photo-500x500.jpg?format=1000w"
                  alt="">
              </div>


            </div>
            <div class="col-md-6">
              <div class="sender-details">
                <h6>Celena</h6>
                <small> 12 mins</small>
              </div>

            </div>
          </div>
          <div class="pt-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s. </p>
          </div>
          <div class="uploaded-img">
            <img src="https://www.dcu.ie/sites/default/files/styles/event-list-image-380x194/public/clubs.jpg?itok=Q3Qb79uX">
          </div>

          <div class="react-post mb-1">
            <nav class="navbar navbar-expand-sm bg-light fa-like-comment">

              <!-- Links -->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 16</a>

                </li>
                <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-commenting-o" aria-hidden="true"></i> 7</a>
                </li>

              </ul>

              <ul class="navbar-nav edit-dlt-buttons ml-auto">
                <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-pencil" aria-hidden="true"></i> </a>

                </li>
                <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-trash" aria-hidden="true"></i> </a>

                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div class="white-bg p-0">
          <div class="p-3">
            <div class="row">
              <div class="col-md-2">
                <div class="usr-pic-news">
                  <img
                    src="http://www.battensacks.com.au/wp-content/uploads/2018/07/profile-2-500x500.jpg"
                    alt="">
                </div>
  
  
              </div>
              <div class="col-md-6">
                <div class="sender-details">
                  <h6>Suresh Patil</h6>
                  <small>15 mins</small>
                </div>
  
              </div>
            </div>
            <div class="pt-2">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s. </p>
            </div>
            <div class="uploaded-img">
              <img src="https://t-ec.bstatic.com/images/hotel/max1024x768/889/88902727.jpg">
            </div>
  
            <div class="react-post mb-1">
              <nav class="navbar navbar-expand-sm bg-light fa-like-comment">
  
                <!-- Links -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 16</a>
  
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-commenting-o" aria-hidden="true"></i> 7</a>
                  </li>
  
                </ul>
  
               
              </nav>
            </div>
            <div class="mt-3">
              <div class="form-group">
                <textarea class="form-control form-control-radius" rows="1" id="comment" placeholder="Write a comment..."></textarea>
              </div>
              <div class="commntbox">
                <div class="usr-pic-comment">
                  <img
                    src="https://static1.squarespace.com/static/5be9ee2c5417fc38c149f526/t/5bff1253c2241be06e398a4c/1550500476360/Lauries-Facebook-Profile-Photo-500x500.jpg?format=1000w"
                    alt="">
                </div>
                <p class="cmnt">
                  Very Nice!
                  
                </p>
                
              </div>
             <div class="edtdltdiv"><span class="edidlt">Edit</span> <span class="edidlt">Delete</span></div>
            </div>

            <div class="mt-3">
             
              <div class="commntbox">
                <div class="usr-pic-comment">
                  <img
                    src="https://data.whicdn.com/images/178402556/large.jpg"
                    alt="">
                </div>
                <p class="cmnt">
                  Push yourself, because no one else is going to do it for you.
                  
                </p>
                
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="col-md-3 col-xs-12">
          <div class="suggestions">
              <div class="sd-title">
                <h5>Suggestions</h5>
                <i class="la la-ellipsis-v"></i>
              </div><!--sd-title end-->
              <div class="suggestions-list">

                <div class="suggestion-usd">
                  <img src="http://www.battensacks.com.au/wp-content/uploads/2018/07/profile-2-500x500.jpg" alt="">
                  <div class="sgt-text">
                    <h4>Jessica William</h4>
                    <span>Graphic Designer</span>
                  </div>
                 <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                </div>
                
                <div class="suggestion-usd">
                  <img src="https://wpecommerce.org/wp-content/uploads/2014/11/lee-profile-600x600-300x300.jpg" alt="">
                  <div class="sgt-text">
                    <h4>John Doe</h4>
                    <span>PHP Developer</span>
                  </div>
                 <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                </div>
                
                <div class="suggestion-usd">
                  <img src="https://projectamalousalam.org/wp_live/wp-content/uploads/2015/04/Michelle-Everson-Profile-300x300.png" alt="">
                  <div class="sgt-text">
                    <h4>Jiya Kadam</h4>
                    <span>PHP Developer</span>
                  </div>
                 <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                </div>
                <div class="view-more">
                  <a href="#" title="">View More</a>
                </div>
              </div><!--suggestions-list end-->
            </div>

            <div class="suggestions birthdays">
              <div class="sd-title">
                <h5>Upcoming Birthdays</h5>
                <i class="la la-ellipsis-v"></i>
              </div><!--sd-title end-->
              <div class="suggestions-list">

                <div class="suggestion-usd">
                  <img src="http://www.battensacks.com.au/wp-content/uploads/2018/07/profile-2-500x500.jpg" alt="">
                  <div class="sgt-text">
                    <h4>Garry William</h4>
                    <span>Graphic Designer</span><br>
                    <small>4 Jun 2019</small>
                  </div>
                 <i class="fa fa-gift" aria-hidden="true" title="Wish"></i>
                </div>
                
                <div class="suggestion-usd">
                  <img src="https://wpecommerce.org/wp-content/uploads/2014/11/lee-profile-600x600-300x300.jpg" alt="">
                  <div class="sgt-text">
                    <h4>John Doe</h4>
                    <span>PHP Developer</span><br>
                    <small>5 Jun 2019</small>
                  </div>
                 <i class="fa fa-gift" aria-hidden="true" title="Wish"></i>
                </div>
                
                <div class="suggestion-usd">
                  <img src="https://projectamalousalam.org/wp_live/wp-content/uploads/2015/04/Michelle-Everson-Profile-300x300.png" alt="">
                  <div class="sgt-text">
                    <h4>Jiya Kadam</h4>
                    <span>PHP Developer</span><br>
                    <small>8 Jun 2019</small>
                  </div>
                 <i class="fa fa-gift" aria-hidden="true" title="Wish"></i>
                </div>
                <div class="view-more">
                  <a href="#" title="">View More</a>
                </div>
              </div><!--suggestions-list end-->
            </div>
    </div>
  </div>

</div>