
    .white-bg{
        position: relative;
        background:rgb(255, 255, 255);
        border-radius: 0.1rem !important;
        margin-bottom: 10px;
        margin-top: 10px;
        box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
        border: 1px solid #e4e4e4;
    }

    .white-bg-left{
        position: relative;
        background:rgb(255, 255, 255);
        border-radius: 0.1rem !important;
        margin-bottom: 10px;
        margin-top: 10px;
        box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
        border: 1px solid #e4e4e4;
    }

      .h100{
        height:100%;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
.scrollbox{
    height:300px;
    overflow-y: auto;
    margin-top: 1rem;
}
.list-group-item{
    display: flex;
}
.flist{
    padding:0.7rem !important;
}

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        
          position: relative;
          min-height: 1px;
          padding-right: 10px !important;
          padding-left: 10px !important;
          padding-top:0 !important;
          padding-bottom:0 !important;
        
      }

      .user-box{
          border-top:3px solid #4862b5;
        

      }
 
      .full-width {
        width: 100%;
        background-color: #fff;
        margin-bottom: 20px;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }
    .user-data {
        text-align: center;
    }
    .user-profile {
        float: left;
        background: white;
        width: 100%;
        margin-top: -5px;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
    }
    .username-dt {
        float: left;
        width: 100%;
        background: linear-gradient(rgba(0, 125, 214, 0.5), rgba(9, 59, 170, 0.5)), url(https://img.freepik.com/free-photo/abstract-polygonal-space-low-poly-dark-background-3d-rendering_7247-223.jpg?size=626&ext=jpg);
        padding-top: 40px;
        background-size: cover;
        
    }
    .userdt2{
        float: left;
        width: 100%;
        background: linear-gradient(rgba(0, 125, 214, 0.5), rgba(9, 59, 170, 0.5)), url(https://img.freepik.com/free-photo/abstract-polygonal-space-low-poly-dark-background-3d-rendering_7247-223.jpg?size=626&ext=jpg);
        padding-top: 40px;
        background-size: cover;
    }

    .user-specs {
        float: left;
        width: 100%;
        padding: 45px 0 11px 0;
    }
    .user-specs h3{
        margin-bottom: 0.2rem !important;
    }
    .hrline{
        width: 100%;
        margin-top: 1rem;
        height: 1px;
        background: #f3f3f3;
    }
.followdetails h3{
    color: #000000;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0.2rem !important;
}
   
.followdetails {
    padding-bottom: 1rem;
}

    .no-margin {
        margin: 0 !important;
    }
    .usr-pic {
        width: 110px;
        height: 110px;
        margin: 0 auto;
        margin-bottom: -48px;
    }
    .usr-pic > img {
        float: none;
        border: 5px solid #fff;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        border-radius: 100px;
        width: 115px;
        height: 115px;
    }
    .user-specs h3 {
        color: #000000;
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 8px;
    }
    .user-specs span {
        color: #686868;
        font-size: 14px;
    }
    ul li{
        list-style: none;
    }

    .usr-pic-news{
        width: 50px;
        height: 50px;
    }

    .usr-pic-news img {
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        border-radius: 100px;
        width: 100%;
    }

.usr-pic-comment img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.commntbox{
    display: flex;
}

.cmnt{
    background: #efefef;
    padding: 0.6rem;
    border-radius: 20px;
    margin-left: 10px;
}
.edtdltdiv{
    cursor: pointer;
    margin-left: 45px;
}
.edidlt{
    padding-left:10px;
    color:rgb(45, 107, 199);
    margin-bottom: 0.5rem;
}

.sender-details{
    margin-left: -25px;
}


.sender-details h6{
margin-bottom: 0 !important;
}

.sender-details small{
color: grey !important;
}

.uploaded-img img{
width:100%;
}

.react-post{
    height: 40px;
}            

.fa-like-comment a:hover {
    color: rgb(0, 119, 255) !important;
    cursor: pointer;
}
.edit-dlt-buttons .fa{
    color:rgb(58, 58, 58) !important;
}
.edit-dlt-buttons .fa-pencil:hover{
    color:rgb(93, 150, 71) !important;
}
.edit-dlt-buttons .fa-trash:hover{
    color:rgb(180, 50, 50) !important;
}

/* SUGGEStION LIST */
.suggestions-list {
    float: left;
    width: 100%;
    padding: 0px 0 10px 0;
}
.sd-title {
    margin-top: 10px;
    background: #fff;
    float: left;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.suggestion-usd {
    float: left;
    background: #fff;
    width: 100%;
    padding: 15px 20px;
}
.suggestion-usd img{
    float: left;
    width:50px;
}
.suggestion-usd small{
    color:grey;
}
.suggestion-usd img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.sgt-text {
    float: left;
    padding-left: 10px;
}

.suggestion-usd > .fa {
    float: right;
    margin-top: 15px;
    font-size: large;
    color: #d8d8d8;
    position: relative;
}
.suggestion-usd > .fa:hover {
cursor: pointer;
    color: #3b5fff;
 
}
.sgt-text h4 {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
}
.sgt-text span {
    color: #686868;
    font-size: 12px;
}
.view-more {
    float: left;
    background: #fff;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}


.float{
	position:fixed;
	width:40px;
	height:40px;
	right:25px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:15px;
}
.form-control-radius{
    border-radius: 20px !important;
}