<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-list-alt bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Approvals <div class="page-title-subheading"> Here you can approve, reject or cancel requisition </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">

        <div class="card-body">
          <div class="flex flex-column mb-5 mt-4 faq-section">
            <div class="row">
              <div class="col-md-12">

                <div id="accordion">
                  <div class="card">
                    <div class="card-header headings" id="heading-1">
                      <h5 class="mb-0">
                        <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true"
                          aria-controls="collapse-1">
                          Manpower Approval Requisition List  <span>{{desigName}}</span>
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-1" class="collapsed" data-parent="#accordion" aria-labelledby="heading-1">
                      <div class="card-body">

                        <div id="accordion-1" style="position: relative;
                          top: -20px;width: 103.5%;margin-left: -19px;">
                          <div class="card ">
                            <div class="card-header headings1" id="heading-1-1" >
                              <h5 class="mb-0">
                                <a class="collapsed headings1" role="button" data-toggle="collapse" href="#collapse-1-1"
                                  aria-expanded="false" aria-controls="collapse-1-1">
                                  Job Description
                                </a>
                              </h5>
                            </div>
                            <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1"
                              aria-labelledby="heading-1-1">
                              <div class="card-body">
                                <div>
                                  <p><span class="textcolors">Designation :-
                                    </span><span>{{manpowerData1?.designationMaster?.desigName}}</span></p>
                                  <p><span class="textcolors">Number of Labour Required:-
                                    </span><span>{{manpowerData1?.noOfManpower}}</span></p>
                                  <p><span class="textcolors">Department :-
                                    </span><span>{{manpowerData1?.departmentMaster?.departmentName}}</span></p>
                                  <p><span class="textcolors">Location :- </span>
                                    <span>{{manpowerData1?.locationMaster?.locationName}}</span></p>
                                  <p *ngIf='manpowerData1?.fresher==true'><span class="textcolors">Freshers:-
                                    </span><span>Yes</span></p>
                                  <p><span class="textcolors">skill Category :-
                                    </span><span>{{manpowerData1?.skillCategory}}</span></p>
                                  <p><span class="textcolors">Education :- </span>{{manpowerData1?.education}}</p>
                                  <p><span class="textcolors">Gender :- </span><span>{{manpowerData1?.gender}}</span>
                                  </p>
                                  <div>
                                    <!-- <h3 class="textcolors">Job Description</h3>
                                    <p>{{manpowerData1?.jobDiscription}}</p> -->
                                   
                                  </div>

                                </div>
                                <div id="accordion-1-1">
                                    
                      
                                </div>
                              </div>

                            </div>

                          </div>



                        </div>
                          <div class="col-md-12 text-right ">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModalConfig"> Labour Provision</button>
                      </div>
                      </div>
                    

                    </div>
                    
                    

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    



     <!-- labourlist modal -->
    <div class="modal fade" id="myModalConfig" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title">Provision Labour List</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="container row" style="margin: auto;">
            <div class="col-md-12">
              <table id="emptable" class="table emp-action table-hover">
                <thead class="thead-dark">
                  <tr class="theadblue">

                    <th>Sr. No</th>
                    <!-- <th>Emp Id</th> -->
                    <th>Name</th>
                    <!-- <th>Department</th> -->
                    <th>Designation </th>
                    <th>Contact Number</th>

                    <th style="text-align: center;width:14%!important;"><input type="checkbox"
                        [(ngModel)]="checkedManpowerRequest" (click)="checkAllManpowerRequest()">Select
                      All &nbsp;<span
                        class="badge badge-pill badge-danger approvals-count">{{trueElementsLength}}</span>
                    </th>
                  </tr>

                </thead>
                <tbody>
                  <tr *ngFor="let item of manpowerData;let i=index" style="background-color: f5f5f5!important;">

                    <td>{{i+1}}</td>
                    <!-- <td>{{item.empId}}</td> -->
                    <td>{{item?.firstName}} {{item?.lastName}}</td>
                    <!-- <td>{{item.departmentMaster?.departmentName}}</td> -->
                    <td>{{item.designationMaster?.desigName}}</td>
                    <td>{{item?.contactNumber}}</td>

                    <td style="text-align: center;"><input type="checkbox" [(ngModel)]="item.check"
                        (ngModelChange)="CheckAllManpowerRequestSingle()"></td>
                  </tr>
                <tbody>
              </table>
              <div class="float-left">
                <button class="btn btn-primary btn-sm" (click)="approveManPower()">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
