



p {
  margin-bottom: 7px; /* Adjust as needed */
}
.faq-section .mb-0 > a {
  display: block;
  position: relative;
}

.faq-section .mb-0 > a:after {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  font-weight: 600;

}

.faq-section .mb-0 > a[aria-expanded="true"]:after {
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  
}
.headings{
  background-color: #0747a6;
    color: white;
}
.headings1{
  background-color: #9CD0FF;
  color: black;
  padding-top: 3px;
    padding-bottom: 3px;
}
.headings1 .mb-0 > a:after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  font-weight: 600;

}

.headings1 .mb-0 > a[aria-expanded="true"]:after {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  
}
.headings1:hover{
  background-color: #8ee1ea;
  color: black;
}
/* .headings1>a{
  background-color: #8ee1ea;
  color: black;
} */
a{
  margin-top: -11px;
    padding: 5px;
}
a:hover{
  background-color: #0747a6;
  color: white;
}

.mb-0 > a {
  display: block;
  position: relative;
}
.mb-0 > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}
.mb-0 > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}
.textcolors{
  font-size: 15px;
  font-weight: 700;
}