<div class="container">
    <div class="page-wrapper">
    
        <div class="row">
          <div class="col-md-12">
            <div class="whitebg w3-animate-left">
              <div class="newheader">
                <h4>Overall Attendance Of Company</h4>
              </div>
              <div class="p-3">
    
                <div class="menus">
                  <ul class="list-inline ">
                    <li *ngIf="loggedUser.mrollMaster.applyLeaveOther" data-toggle="dropdown" class="dropdown list-inline-item ">
                      <div class="menuicons" [routerLink]="['/layout/supervisorleaverequest']" [routerLinkActive]="'active'">
                        <img src="assets/newlayout/conver.png">
                        <span>Apply Leave <b class="caret"></b></span>
                      </div>
                    </li>

                    <li *ngIf="loggedUser.mrollMaster.leaveDashboardother" class="list-inline-item ">
                      <div class="menuicons" [routerLink]="['/layout/leavedashboard']" [routerLinkActive]="'active'">
                        <img src="assets/newlayout/leavedashboard.svg">
                        <span>Leave Dashboard</span>
                      </div>
                    </li>
    
                    <li *ngIf="loggedUser.seperationRole  && loggedUser.mrollMaster.roleName == 'HR'" class="list-inline-item ">
                      <div class="menuicons" [routerLink]="['/layout/clearancepage']" [routerLinkActive]="'active'">
                        <img src="assets/newlayout/list.svg">
                        <span>Clearance Approvals</span>
                      </div>
                    </li>

                    <li *ngIf="loggedUser.mrollMaster.extraworkRequest  && loggedUser.mrollMaster.roleName == 'HR'" class="list-inline-item ">
                      <div class="menuicons" [routerLink]="['/layout/extraworkreq']" [routerLinkActive]="'active'">
                        <img src="assets/newlayout/work.svg">
                        <span>Extra Work Request</span>
                      </div>
                    </li>
                    <li  class="list-inline-item " hidden>
                      <div class="menuicons" [routerLink]="['/layout/newapproval']" [routerLinkActive]="'active'">
                        <img src="assets/approve.png">
                        <span>Divert Approval</span>
                      </div>
                    
                    </li>


                    <li *ngIf="loggedUser.mrollMaster.allReports"  class="list-inline-item ">
                      <div class="menuicons" [routerLink]="['/layout/reports']" [routerLinkActive]="'active'">
                        <img src="assets/newlayout/reportsicon.svg">
                        <span>Reports</span>
                      </div>
                    </li>

                    <!-- <li *ngIf="loggedUser.mrollMaster.advanceLeave" class="list-inline-item ">
                      <div class="menuicons" [routerLink]="['/layout/advanceleave']" [routerLinkActive]="'active'">
                        <img src="assets/newlayout/clock.svg">
                        <span>Advance Leave</span>
                      </div>
                    </li> -->

                    <li hidden *ngIf="loggedUser.mrollMaster.leaveBlock  && loggedUser.mrollMaster.roleName == 'HR' " class="list-inline-item ">
                      <div class="menuicons" [routerLink]="['/layout/leaveblock']" [routerLinkActive]="'active'">
                        <img src="assets/newlayout/leaveblock.png">
                        <span>Leave Block</span>
                      </div>
                    </li>

                    <li *ngIf="loggedUser.mrollMaster.uploadShift  && loggedUser.mrollMaster.roleName == 'HR'" class="list-inline-item ">
                      <div class="menuicons" [routerLink]="['/layout/shiftupload']" [routerLinkActive]="'active'">
                        <img src="assets/newlayout/upload.svg">
                        <span>Upload Shift</span>
                      </div>
                    </li>

                    <li *ngIf="loggedUser.mrollMaster.roleName == 'HR' "  class="list-inline-item ">
                      <div class="menuicons" [routerLink]="['/layout/weekly-off']" [routerLinkActive]="'active'">
                        <img src="assets/newlayout/upload.svg">
                        <span>WeeklyOff Upload</span>
                      </div>
                    </li>
                    <!-- <li *ngIf="loggedUser.mrollMaster.selfCertificationDetails" class="list-inline-item ">
                      <div class="menuicons" [routerLink]="['/layout/selfcertificationlist']" [routerLinkActive]="'active'">
                        <img src="assets/newlayout/selfcertification.svg">
                        <span>Self-Certification Details</span>
                      </div>
                    </li> -->
                  
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>