.panel-default:hover .more-less{
  color:rgb(47, 78, 126) !important;
  transition: 0.5s;
}

.table-borderless th, .table-borderless tr,.table-borderless td{
  border:none !important;
}
.table{
  border:none !important;
  border-collapse: separate !important;
  border-spacing: 0 1em !important;
}
tr:hover{
  background: aliceblue;
}
.table td{
  border-top: 0px solid #dee2e6 !important;
}
#myModaldiffdate{
  padding-top:5%;
  background-color: rgba(34, 34, 34, 0.8);
}
/* .table-borderless td{
  padding: 0 !important;
} */
.backgroundless-table{
  background:none !important;
}
.btn-success, .btn-danger{
  width:80px;
  margin-bottom: 5px;
}

/* ACCORDIAN */
.panel-group .panel {
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 4px;
  color: #212121;
  background-color: #FAFAFA;
  border-color: rgb(182, 182, 182);
}

.panel-title {
  font-size: 14px;
}

.panel-title > a {
  display: block;
  padding: 10px;
  text-decoration: none;
}
a:hover {
  color: #3f61a8 !important;
}
.more-less {
  float: right;
  color: #c2c2c2 !important;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}

/* ----- v CAN BE DELETED v ----- */

.panel-body {
  padding: 15px;
}
.demo {
padding-top: 60px;
padding-bottom: 60px;
}
.more-less {
  padding:0px !important;
  float: right;
  color: #ffffff;
}
.panel-group .panel+.panel {
  margin-top: 5px;
}

.lr{
  border-left:5px solid red !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}

.mpr{
  border-left:5px solid rgb(255, 174, 0) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.perreq{
  border-left:5px solid rgb(129, 62, 255) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.lateearly{
  border-left:5px solid rgb(250, 119, 31) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.coff{
  border-left:5px solid rgb(16, 190, 212) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.wfh{
  border-left:5px solid rgb(206, 43, 170) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.shr{
  border-left:5px solid rgb(77, 150, 35) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.onduty{
  border-left:5px solid rgb(46, 89, 180) !important;
  background: #d6d6d6 !important;
  color:rgb(31, 31, 31) !important;
}
.panel-group .panel {
  margin-bottom: 5px;
  border-radius: 4px !important;
}
/* ACCORDIAN */
/* .lvedetail{
  height:200px;
} */
small{
  color:grey;
}
.badge-secondary{
  padding: 2px 5px 2px 5px;
  border-radius: 6px;
  background-color: #2575e3;
  font-size: smaller;
}
.fa-circle{
  color:green;
}
.sugdiff .fa{
  font-size:12px;
  color:rgb(37, 124, 255);
}
.sugdiff a{
cursor: pointer;
  text-decoration: underline;
  font-size:10px;
  padding-left:5px;
  color:rgb(37, 124, 255);
}
table.dataTable.no-footer {
  border-bottom: 0px solid #111 !important;
}
.lve{
  stroke-linecap: round;
  border-left: 3px solid red !important;
}
.table .thead-dark th {
  color: #2b2b2b;
  background: gainsboro !important;
  border: none;
}
/* .table{
  border-spacing: 1em !important; 
} */
.thead-dark{
  border-radius: 4px !important;
}
.main-search{
  width: 100%;
  margin:auto;
}
.filter{
  float:right;
  width: 40%;
}
.gmbn{
  position: relative;
}
.has-search .form-control {
  margin: auto;

  padding-left: 2.375rem;
}
.act-emp{
  padding-left:.9375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.fa-search{
    padding:0 !important;
  color: #ffffff !important;
}

::placeholder {
  font-weight:300;
  color: #a8adb4;
  opacity: 1; /* Firefox */
}
.filter{
  font-weight:300;
  color: #a8adb4;
  opacity: 1; /* Firefox */
}

.search-box{
  padding: 0.175rem 0.375rem 0.175rem 2.375rem !important;
  border-radius: 0 !important;
}
.filter-box{
  padding: 0.175rem 0.375rem 0.175rem 0.375rem !important;
  border-radius: 0 !important;
}
.select.form-control:not([size]):not([multiple]) {
  height: 0 !important;
}

.image-cover {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.table td, .table th {
  vertical-align: middle !important;
  padding: .75rem;

} 
tr{
  border-bottom: 1px solid whitesmoke;
}
.fa-eye{
  color:#2575e3;
}
.fa-pencil{
  color:green;
}
.fa{
  padding:0.4rem;
  font-size:1.2rem;
}

/* select.form-control:not([size]):not([multiple]) {
  height: calc(1.9rem + 2px) !important;
} */

.input-group-text {
    background-color: #9ce5fd !important;
    border: 1px solid #a8adb4;
}
.req-count{
    float: left;
    line-height: 0ch;
    text-align: center;
}
.req-count h3{
color: #06b0e4;
font-size: 34px;
}
.req-count p{
    color: #585858;
    }


    .empdetails h6 {
      vertical-align: middle;
      font-size: 0.9rem;
      color: grey;
      margin: 2px 0 !important;
  }

  .progress {
    height: 0.8rem !important;
}
/* .progress-bar{
  color:black;
  background-image: linear-gradient(to right, green, yellow, red);
    } */
    .secndfld{
      color:rgb(40, 86, 146);
    }
    .badge{
      font-size: 8px;
      border-radius: 50%;
      width: 16px;
      padding: 4px;
      height: 16px;
    }


    .lefttext{
      position: relative;
    }
    .vertical-text{
      -ms-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
 
      background: #E23737;
      color: #fff;

      padding: 10px;
      border: 1px solid #ccc;
      text-transform: uppercase;

      float: left;
    }
 
    .card-body{
      padding:0 !important;
    }
    .wrapper {
      width: 100%;
      min-height: 160px;
      position: relative;
      border: 2px solid #f98181;
      border-left: 40px solid #f98181;
      padding: 15px;
      color: rgba(0, 0, 0, 0.5);
      font-size: small;
      display: inline-block;
    }
    .wrapper h3 {
      font-size: 1rem;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: absolute;
      bottom: 12px;
      left: 0;
      margin-left: -30px;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg);
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0;
    }
    
    .hilighttext{
      color: rgb(83, 106, 171);
    }
    .content{
      padding:1rem;
    }
    .fa-file{
      color: #06b0e4;
    }
    .btn-success{
      border-radius: 1.5px !important;
      background-image: linear-gradient(344deg, #2e6d39, #79d087) !important;
  }
  
  .btn-success:hover{
      background-image: linear-gradient(344deg, #79d087, #2e6d39) !important;
  }
  .fa-check-circle{
    font-size: 1.5rem;
    padding: 0;
color:green;
  }
  .fa-times-circle{
    font-size: 1.5rem;
    padding: 0;
    color:rgb(173, 0, 0);
  }
.fa-stop-circle{
  font-size: 1.5rem;
  padding: 0;
  color: rgb(255, 102, 0);
}

.actionicons .fa{
  padding-right: 10px;
}
.fa-calendar-plus-o{
  font-size: 1.2rem;
  padding: 0;
  color: rgb(21, 76, 255);
}

.modal.show .modal-dialog {
  margin-top: 5%;
}
