
  .wrapper {

    width: 100%;
  }
  
  .drop {
    border: 3px dashed #DADFE3;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*&:hover
     * cursor: pointer
     * background: #f5f5f5 */
  }
  .drop .cont {
    text-align: -webkit-center;
      padding: 2rem;
    color: #8E99A5;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .drop .cont i {
      font-size: 2rem;
    color: #8E99A5;
    position: relative;
  }
  
  .drop .cont .desc {
    color: #A4AEBB;
  }
  .drop .cont .browse {
    margin: 10px 35%;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    background: #09f;
  }
  .drop input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: red;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .note-bg{
    background: rgb(255, 239, 239);
      border-radius: 0.5rem;
      min-height:180px;
      padding:1rem;
  }
  input[type='file'] {
    opacity:0 !important;   
  }
  .tooltip  :hover {
    /* position: relative; */
    display: none !important;
  }