<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-list-alt bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Approvals <div class="page-title-subheading"> Here you can approve, reject or cancel requisition </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">


        <div class="card-body">

          <div class="flex flex-column mb-5 mt-4 faq-section">
            <div class="row">
              <div class="col-md-12">

                <div id="accordion" *ngIf="manpowerData?.length > 0">
                  <div class="card">
                    <div class="card-header headings" id="heading-1">
                      <h5 class="mb-0">
                        <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false"
                          aria-controls="collapse-1">
                          Manpower Requisition <span
                            class="badge badge-pill badge-danger approvals-count">{{count}}</span>
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
                      <div class="card-body">

                        <div id="accordion-1" style="position: relative;
                          top: -20px;width: 103.5%;margin-left: -19px;">
                          

                          <div>
                            <ul *ngFor="let item of manpowerData">
                              <li style="background-color: #dfdfdf;
                              list-style-type: none;
                              padding: 7px;margin-top: 4px;
    margin-bottom: -11px;cursor: pointer;" (click)="getrequestDetails(item)">{{item.designationMaster?.desigName}}
                                <span class="badge badge-pill badge-danger approvals-count">{{item.noOfManpower}}
                                </span><i class="fa fa-arrow-right arrows" aria-hidden="true"></i></li>
                            </ul>
                          </div>

                        </div>
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="card-body" style="margin-top: -100px;">

          <div class="flex flex-column mb-5 mt-4 faq-section">
            <div class="row">
              <div class="col-md-12">
                <!-- *ngIf="allmanpowerLabourData?.length > 0" -->
                <div id="accordion" >
                  <div class="card" hidden>
                    <div class="card-header headings" id="heading-2">
                      <h5 class="mb-0">
                        <a role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false"
                          aria-controls="collapse-2">
                          Manpower Labour Approve Reject Requisition List <span
                            class="badge badge-pill badge-danger approvals-count">{{count}}</span>
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                      <div class="card-body">
                        <div style="display: flex;">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="getselectedList('Approved')" checked >
                          <label class="form-check-label" for="flexRadioDefault1" style="position: relative;
                          left: 25px">
                            Approved labour List
                          </label>
                        </div>
                        <div class="form-check" style="position: relative;
                        left: 35px;">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="getselectedList('Rejected')">
                          <label class="form-check-label" for="flexRadioDefault2" style="position: relative;
                          left: 25px">
                            Reject Labour List
                          </label>
                        </div>
                      </div>
                      <table class="table" *ngIf="selectedtablelist=='Approved'">
                        <thead style="background-color: #e2e1e1;">
                          <tr>
                            <th>Sr.No</th>
                            <th>EmpId</th>
                            <th> Name</th>
                            <th>Department</th>
                            <th>Designation
                            </th>
                            <th>Contact Number</th>
                          

                          </tr>



                        </thead>
                        <tbody *ngFor="let item of allmanpowerLabourData; let i=index">

                          <tr style="border-bottom: 0.5px solid #0747a6;">
                            <td>{{i+1}}</td>
                            <td >{{item.labourInfo?.empId}}</td>

                            <td >{{item.labourInfo?.firstName}}{{item.labourInfo?.lastName}}</td>
                            <td >{{item.labourInfo?.departmentMaster?.departmentName}}</td>
                            <td >{{item.labourInfo?.designationMaster.desigName}}</td>
                            <td >{{item.labourInfo?.contactNumber}}</td>
                    
                           


                          </tr>
</tbody>
</table>
<table class="table" *ngIf="selectedtablelist=='Rejected'">
  <thead style="background-color: #e2e1e1;">
    <tr>
      <th>Sr.No</th>
      <th>EmpId</th>
      <th> Name</th>
      <th>Department</th>
      <th>Designation
      </th>
      <th>Contact Number</th>
    

    </tr>



  </thead>
  <tbody *ngFor="let item of allmanpowerLabourData1; let i=index">

    <tr style="border-bottom: 0.5px solid #0747a6;">
      <td>{{i+1}}</td>
      <td >{{item.labourMaster?.empId}}</td>

      <td >{{item.labourMaster?.firstName}}{{item.labourMaster?.lastName}}</td>
      <td >{{item.labourMaster?.departmentMaster?.departmentName}}</td>
      <td >{{item.labourMaster?.designationMaster.desigName}}</td>
      <td >{{item.labourMaster?.contactNumber}}</td>
    
     


    </tr>
</tbody>
</table>
                        <div id="accordion-1" style="position: relative;
                          top: -20px;width: 103.5%;margin-left: -19px;">
                          

                          <!-- <div>

                            <ul *ngFor="let item of manpowerData">
                              <li style="background-color: #dfdfdf;
                              list-style-type: none;
                              padding: 7px;margin-top: 4px;
    margin-bottom: -11px;cursor: pointer;" (click)="getrequestDetails(item)">{{item.designationMaster?.desigName}}
                                <span class="badge badge-pill badge-danger approvals-count">{{item.noOfManpower}}
                                </span><i class="fa fa-arrow-right arrows" aria-hidden="true"></i></li>
                            </ul>
                          </div> -->

                        </div>
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>