<div class="bhoechie-tab-content  white-bg" id="compmaster">
  <div class="row justify-content-center align-items-center">
    <div class="mastersheading">
      <h3>
        BUS ROUTE<span class="boldmaster"> MASTER</span>
      </h3>
    </div>

  </div>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-6">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>


          <div class="form-group">
            <label for="locationname">Location <span style="color: red">*</span></label>

            <select id="locationId" class="form-control form-control-sm" [(ngModel)]="locationId"
              name="locationId" #selectedLoc='ngModel' required>
              <option hidden value="">Location Name</option>
              <option value="{{location.locationId}}" *ngFor="let location of LocationAllData; let i = index;">
                {{location.locationName}}
              </option>
            </select>

            <div class="help-block" *ngIf="selectedLoc.errors?.required && selectedLoc.touched"> <small
                style="color: red">Location is required </small></div>

          </div>


          <div class="form-group">
            <label for="routName">Route Name<span style="color: red">*</span></label>
            <input type="text" class="form-control form-control-sm" (keyup)='error()' placeholder="Route Name"  id="routName"  maxlength="50"  name="busRout" [(ngModel)]="busModel.busRouteName" #routName='ngModel' required >
            <div class="help-block" *ngIf="errflag"><small style="color: red">Already Exist </small></div>

                  <div class="help-block" *ngIf="routName.errors?.required && routName.touched"> <small
                    style="color: red"> bus route name is
                    required</small></div>
                    
                   
                </div>
          

          <div class="form-group">
            <label for="routeCode">Route Code<span style="color: red">*</span></label>
            <input type="text" class="form-control form-control-sm" id="routeCode"  placeholder="Route Code" maxlength="50"  name="busCode" [(ngModel)]="busModel.busRouteCode" #routeCode='ngModel' required >
            <div class="help-block" *ngIf="routeCode.errors?.required && routeCode.touched"> <small
              style="color: red"> bus route code is
              required</small></div>
          </div>





          <div class="form-group" *ngIf='StatusFlag'>
            <label>Status</label><br>
            <label (click)="uiswitch($event)">
                <ui-switch [checked]='busModel.status' (click)="open(busModel.status)"><span
                        class="switch  switch-medium"><small></small></span></ui-switch>

            </label>
        </div> 

          <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]='(f.invalid || errflag)'>Save</button>
            &nbsp; <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
          </div>
        </form>
            <hr>
          </div>
         <hr>
      <div class="col-md-12">
    <div *ngIf='dataTableFlag'>
    <table id="busmodel" class="table table-striped table-bordered" style="width:100%">
     
      <thead class="theadblue">
        <tr>
            <th>Bus Route Name</th>
            <th style="width: 40%">Bus Route Code</th>

            <th style="width: 10%">Status</th>
            <th style="width: 10%;text-align:center">Action</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of busModellist">  
            <td>{{r.busRouteName}}</td>
            <td>{{r. busRouteCode}}</td>


            <td [ngClass]="{colorRed : r.status == false, colorGreen: r.status == true}" 
            style="font-size:1rem; text-align:center"><i class="fa fa-circle" aria-hidden="true"></i></td>
            <td class="text-center">
              <i class="fa fa-pencil pr-2" (click)="editbus(r)" aria-hidden="true"></i> 
              <i class="fa fa-trash" data-toggle="modal" data-target="#AreYouSuredlt" (click)="dltObj(r)" aria-hidden="true"></i>
            </td>
       </tr>
    </tbody>

    </table>
    </div>
</div>

    </div>
  </div>
</div>

<div class="modal fade" id="AreYouSuredlt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are you sure, you want to delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)='dltmodelEvent(f)' data-dismiss="modal" class="btn btn-success">Yes</button><br>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>