<div class="col-3" style="margin:auto;text-align:center;display: inline;" *ngFor="let item of displayData">
  {{item.label}} : {{item.category}}
</div>
<div style="display: block" *ngIf="!flag">
  <!-- <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas> -->
          <canvas 
          baseChart [datasets]="barChartData" 
          [labels]="barChartLabels" 
          [options]="barChartOptions" 
          [colors]="barChartColors"
            [legend]="barChartLegend" 
            [chartType]="barChartType" 
            (chartHover)="chartHovered($event)" 
            (chartClick)="chartClicked($event)">
          </canvas>
</div>

<div style="display: block" *ngIf="flag">
  <!-- <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas> -->
          <canvas 
          baseChart [datasets]="barChartData" 
          [labels]="barChartLabels" 
          [options]="barChartOptions" 
          [colors]="barChartColors"
            [legend]="barChartLegend" 
            [chartType]="barChartType" 
            (chartHover)="chartHovered($event)" 
            (chartClick)="chartClicked($event)">
          </canvas>
</div>
