<div style="display: block" >
    <canvas baseChart style="width:70%;  height:70%"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [options]="pieChartOptions"
                [chartType]="pieChartType">
              </canvas>
  </div>
  <!-- <h6 class="text-center pt-2">Actual Absentism</h6> -->