
 .clrgrey{
   color:grey;
 }
 .headerbar{
   display: flex;
 }

.ifnotselected img{
  width: 70px;
  opacity: 0.5;
  position: absolute;
  right: 1rem;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

  ::placeholder {
    font-weight:300;
    color: #7a7a7a;
    opacity: 1; /* Firefox */
  }

  tbody tr{
    font-size:12px;
    border-spacing: 10;
    border:none !important;
    background: #fff;
    border-radius: 0.2rem;
    margin-bottom: 10px;
    box-shadow: 0 .125rem 2.5rem 0 rgba(0,0,0,.08)!important;
  }
  .emp-action td{
    border:none !important;
    padding: .5rem;
    vertical-align: middle !important;
  }
  .emp-action{
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  .image-cover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
  }
  
  .emp-action .fa{
    font-size: 14px;
    padding:10px;
    color:#999999;
  }
  
  .emp-action .fa-eye:hover{
  color:rgb(28, 105, 194);
  cursor: pointer;
  }
  
  .emp-action .fa-pencil:hover{
    color:rgb(33, 131, 33);
    cursor: pointer;
    }
  
    .emp-action .fa-user-times:hover{
        color:rgb(161, 37, 37);
        cursor: pointer;
        }
        .emp-action .fa-arrows:hover{
            color:rgb(172, 97, 0);
            cursor: pointer;
            }
            /* .emp-action .fa-user:hover{
              color:#e9d062;
              cursor: pointer;
              } */
            

           
            
  
  .dataTables_filter{
    display: none !important;
  }