<div class="container-fluid">
  <div class="mainwrap">
    <div class="row">
      <div class="col-md-12">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><i class="fa fa-info-circle bg-happy-itmeo" aria-hidden="true"></i></div>
              <div>Change in employee information <div class="page-title-subheading"> Here you can accept or reject the
                  change made by an employee in his/her information.</div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="leftbox min-height-500">

          <div class="table-responsive">
          
            <table id="emptable" class="table emp-action">
              <thead class="theadblue">
                <tr>
                  <th>Name</th>
                  <th>Emp Id</th>
                  <th>Department</th>
                  <th>Personal Contact</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of getEmployeeDataChanges;let i = index" (click)="getData(item)">
                  <td>
                    <span>{{item[0].fullName}} {{item[0].lastName}}</span>
                  </td>

                  <td>
                    {{item[0].empId}}
                  </td>

                  <td>
                    {{item[0].deptName}}
                  </td>

                  <td>
                    {{item[0].personalContactNumber}}
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="white-bg min-height-500 w3-animate-left">

          <div class="">
            <div class="headerbar">

              <div class="name">
                <h4>{{firstName}} {{lastName}}-{{employeeId}}</h4>
                <p> Department Name : {{deptName}}</p>
              </div>
              <div class="ifnotselected">
                <img src="/src/assets/question.png">
              </div>

            </div>
            <hr>
           
            <div *ngFor="let selected of selectedData; let i = index">
                  <div class="mb-4" *ngFor="let item of selected; let select = index">
                      <p *ngIf="!select == 0 && item.newObj!='0' && (item.oldObj!='empPerId' && item.oldObj!='Status' && item.oldObj!='profilePath' && item.oldObj!='empDocId' && item.oldObj!='empAddressId' && item.oldObj!='empAddressAudId' && item.oldObj!='empEmergencyContactPersonDetailsAudId' && item.oldObj!='empEmergencyContactPersonDetailsId')">{{item.oldObj | titlecase}}: <br>
                        <span *ngIf="!select == 0 && item.newObj!='0' && item.oldObj!='profilePath' && item.oldObj!='empDocId' && item.oldObj!='empAddressId' && item.oldObj!='empAddressAudId' && item.oldObj!='empEmergencyContactPersonDetailsAudId' && item.oldObj!='empEmergencyContactPersonDetailsId'" class="clrgrey">{{item.newObj | titlecase}}</span>
                      </p>
                  </div>
                  <!-- <button *ngIf="!i==0 && selected.length > 1" type="button" class="btn btn-sm btn-success" (click)="AcceptChanges(selected)">Accept</button>
                  <button *ngIf="!i==0  && selected.length > 1" type="button" class="btn ml-2 btn-sm btn-danger" (click)="RejectChanges(selected)">Reject</button> -->
                  <button *ngIf="!i==0 && selected.length > 2" type="button" class="btn btn-sm btn-success" (click)="AcceptChanges(selected)">Accept</button>
                  <button  *ngIf="!i==0 && selected.length > 2" type="button" class="btn ml-2 btn-sm btn-danger" (click)="RejectChanges(selected)">Reject</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>